html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline-offset: -2px; }
img { vertical-align: middle; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.row { margin-left: -15px; margin-right: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-6 { width: 50%; }
.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after { content: " "; display: table; }
.clearfix::after, .container::after, .container-fluid::after, .row::after { clear: both; }
.hidden-mnu ul li a, .top-line .logo-wrap p, h3, header .main h1, section h2 { text-transform: uppercase; }
.hidden-mnu ul, .main-prod-wrap .col-md-6, .text-center, .top-line .landingMenu { text-align: center; }
:-moz-placeholder { color: rgb(102, 102, 102); opacity: 1; }
*::-moz-placeholder { color: rgb(102, 102, 102); opacity: 1; }
body input:focus:required:invalid, body input:required:valid, body textarea:focus:required:invalid, body textarea:required:valid { color: rgb(102, 102, 102); }
body { font-size: 16px; min-width: 320px; position: relative; line-height: 1.4; font-family: GothamPro,sans-serif; overflow-x: hidden; }
h3, section p { line-height: 1.2; }
* { margin: 0px; padding: 0px; }
.s-d { color: rgb(255, 255, 255); }
.s-w { color: rgb(0, 0, 0); }
.res-i { max-width: 100%; }
strong { font-weight: 900; }
h3 { font-size: 1.3125em; letter-spacing: 4px; }
.accent { color: rgb(255, 204, 0); }
section { padding-top: 50px; padding-bottom: 30px; }
section h2 { padding-bottom: 32px; font-size: 1.5em; font-weight: 400; }
section p { font-size: 1em; margin-bottom: 10px; }
.table { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }
.red { color: rgb(245, 21, 42); }
.wrap-item { padding-bottom: 30px; }
.wrap-item .text-wrap { max-width: 200px; display: inline-block; }
.wrap-item .img-wrap { position: relative; margin-bottom: 40px; }
.wrap-item .img-wrap::after { position: absolute; content: ""; background-color: rgb(255, 204, 0); height: 3px; border-radius: 2px; width: 18%; bottom: -20px; left: 41%; }
.top-line { width: 100%; padding: 10px 0px 15px; background-color: rgb(0, 0, 0); z-index: 1; }
.top-line .logo-wrap { position: relative; display: block; }
.toggle-mnu, .top-line .logo-wrap img { position: absolute; }
.top-line .logo-wrap p { font-size: 0.75em; padding-left: 70px; padding-top: 10px; padding-bottom: 10px; }
.toggle-mnu { display: block; width: 39px; height: 33px; margin-top: 0px; margin-right: -10px; z-index: 40; right: 0px; padding: 5px; border-radius: 5px; top: 0px; }
.toggle-mnu span::after, .toggle-mnu span::before { content: ""; position: absolute; left: 0px; top: 9px; }
.toggle-mnu span::after { top: 18px; }
.toggle-mnu span { position: relative; display: block; }
.toggle-mnu span, .toggle-mnu span::after, .toggle-mnu span::before { width: 30px; height: 4px; background-color: rgb(255, 255, 255); transition: all 0.3s ease 0s; backface-visibility: hidden; border-radius: 2px; }
.toggle-mnu.on span::before { transform: rotate(45deg) translate(-1px, 0px); }
.toggle-mnu.on span::after { transform: rotate(-45deg) translate(6px, -7px); }
.hidden-mnu { background-color: rgb(0, 0, 0); display: none; position: fixed; top: 0px; z-index: 5; }
.hidden-mnu ul, .hidden-mnu ul li { display: inline-block; width: 100%; }
.hidden-mnu ul { padding: 0px 0px 20px; min-height: 100vh; overflow-y: scroll; height: 150px; }
.hidden-mnu ul li a { font-size: 1.375em; padding: 20px 0px; width: 100%; display: block; color: rgb(255, 255, 255); transition: all 0.25s ease 0s; }
.hidden-mnu > ul > li.active a, .hidden-mnu > ul > li:focus a, .hidden-mnu > ul > li:hover a { color: rgb(255, 255, 255); text-decoration: underline; }
header .main { background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('bg.jpg'); padding-top: 40px; padding-bottom: 80px; }
header .main h1 { font-size: 1em; margin: 0px 0px 3px; }
header .main h2, header .main p.accent { font-size: 0.875em; text-transform: uppercase; }
header .main p.accent { margin-top: 10px; margin-bottom: 10px; }
header .main .bg-acc { background-color: rgb(255, 204, 0); padding: 3px; color: rgb(0, 0, 0); border-radius: 2px; font-weight: 900; }
.main-prod-wrap { position: relative; }
.main-prod-wrap .prod-img { display: inline-block; text-align: center; background-color: rgb(0, 0, 0); border-radius: 50%; width: 318px; height: 318px; margin-top: 10px; position: relative; }
.main-prod-wrap .prod-img.left { position: relative; margin: 10px auto; }
.main-prod-wrap .prod-img.right { margin-left: -10%; }
.main-prod-wrap .prod-img img { margin-top: -0.7em; transition: all 0.25s ease 0s; }
.main-prod-wrap .prod-img .text-about { position: absolute; bottom: 0px; left: -50px; display: block; cursor: pointer; }
.left-wrap, .small-img, .small-img-item { position: relative; }
.main-prod-wrap .prod-img .text-about p { text-decoration: underline; text-align: left; float: left; font-size: 0.625em; text-transform: uppercase; margin-left: 8px; line-height: 1.2; }
.main-prod-wrap .prod-img .text-about img { float: left; margin-top: 0px; transition: all 0.25s ease 0s; }
.main-prod-wrap .prod-img .text-about:focus img, .main-prod-wrap .prod-img .text-about:hover img { transform: rotate(-1000deg); }
.small-img { padding: 30px 0px; text-align: center; }
.small-img-item { display: inline-block; width: 44px; height: 80px; text-align: center; border: 2px solid transparent; border-radius: 2px; margin-top: 0px; overflow: hidden; cursor: pointer; padding-top: 8px; transition: all 0.25s ease 0s; }
.small-img-item img { max-height: 90%; }
.small-img-item.active, .small-img-item:focus, .small-img-item:hover { border-color: rgb(255, 204, 0); }
.left-wrap .text-abs { position: absolute; left: -20%; top: 0px; }
.left-wrap .text-abs img { max-width: 80%; }
.right-wrap { position: relative; }
.right-wrap .text-abs { position: absolute; right: -25%; top: 0px; }
.right-wrap .prod-img img { margin-top: 0px; }
.right-wrap .text-about-right { top: 105%; }
.right-wrap .small-img { margin-top: 30px; padding: 30px 0px; position: relative; text-align: center; }
.btn-wrap, .cena { text-align: left; }
.right-wrap .small-img-item { display: inline-block; width: auto; height: 82px; padding-left: 5px; padding-right: 5px; }
.cena { text-transform: uppercase; margin-bottom: 10px; }
.cena p { font-size: 0.875em; color: rgb(110, 110, 110); }
.cena .big { color: rgb(255, 255, 255); font-size: 2.9375em; }
.btn-accent, strike { font-size: 1.5em; text-transform: uppercase; }
.btn-wrap { position: relative; }
.btn-wrap .text-abs { position: absolute; right: 0px; top: -140%; }
.btn-accent { color: rgb(0, 0, 0); max-width: 470px; background-color: rgb(0, 0, 0); background-image: linear-gradient(to top, rgb(255, 202, 0) 0px, rgb(255, 202, 0) 1%, rgb(255, 213, 62) 100%); border-radius: 6px; font-weight: 900; padding: 26px 0px; line-height: 1; display: block; text-align: center; transition: all 0.25s ease 0s; }
.btn-accent:active, .btn-accent:focus, .btn-accent:hover { text-decoration: none; color: rgb(0, 0, 0); background-image: linear-gradient(to top, rgb(255, 202, 0) 0px, rgb(255, 202, 0) 1%, rgb(215, 168, 0) 100%); }
footer .logo-wrap img { display: block; float: left; }
/* ::::: http://wishop.kz/css/fonts.min.css?ver=1.0.0 ::::: */

@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 400;
	src: url('gothamprolight.eot') format("embedded-opentype"), url('gothamprolight.woff') format("woff"), url('gothamprolight.ttf') format("truetype");
}
@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 900;
	src: url('gothamproblack.eot') format("embedded-opentype"), url('gothamproblack.woff') format("woff"), url('gothamproblack.ttf') format("truetype");
}
@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 700;
	src: url('gothamprobold.eot') format("embedded-opentype"), url('gothamprobold.woff') format("woff"), url('gothamprobold.ttf') format("truetype");
}
@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 500;
	src: url('gothampromedium.eot') format("embedded-opentype"), url('gothampromedium.woff') format("woff"), url('gothampromedium.ttf') format("truetype");
}
/* ::::: http://wishop.kz/css/main.min.css?ver=1.0.0 ::::: */

.mfp-container::before, .mfp-figure::after { content: ""; }
.mfp-container::before { display: inline-block; height: 100%; vertical-align: middle; }
.mfp-align-top .mfp-container::before { display: none; }
.mfp-close, .mfp-preloader { text-align: center; position: absolute; }
.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader { -moz-user-select: none; }
.mfp-hide { display: none ! important; }
.mfp-close, .mfp-preloader a:hover { color: rgb(255, 255, 255); }
button.mfp-arrow, button.mfp-close { overflow: visible; cursor: pointer; background: transparent none repeat scroll 0px 0px; border: 0px none; display: block; outline: 0px none; padding: 0px; z-index: 1046; box-shadow: none; }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
.mfp-close { width: 44px; height: 44px; line-height: 44px; right: 0px; top: 0px; text-decoration: none; opacity: 0.65; padding: 0px 0px 18px 10px; font-style: normal; font-size: 28px; font-family: Arial,Baskerville,monospace; }
.mfp-close:focus, .mfp-close:hover { opacity: 1; }
.mfp-close:active { top: 1px; }
.mfp-arrow .mfp-a, .mfp-arrow .mfp-b, .mfp-arrow::after, .mfp-arrow::before { content: ""; display: block; width: 0px; height: 0px; position: absolute; left: 0px; top: 0px; margin-top: 35px; margin-left: 35px; border: medium inset transparent; }
.mfp-arrow .mfp-a, .mfp-arrow::after { border-top-width: 13px; border-bottom-width: 13px; top: 8px; }
.mfp-arrow .mfp-b, .mfp-arrow::before { border-top-width: 21px; border-bottom-width: 21px; opacity: 0.7; }
.mfp-arrow-left .mfp-a, .mfp-arrow-left::after { border-right: 17px solid rgb(255, 255, 255); margin-left: 31px; }
.mfp-arrow-left .mfp-b, .mfp-arrow-left::before { margin-left: 25px; border-right: 27px solid rgb(63, 63, 63); }
.mfp-arrow-right .mfp-a, .mfp-arrow-right::after { border-left: 17px solid rgb(255, 255, 255); margin-left: 39px; }
.mfp-arrow-right .mfp-b, .mfp-arrow-right::before { border-left: 27px solid rgb(63, 63, 63); }
.mfp-figure::after, img.mfp-img { width: auto; height: auto; display: block; }
.mfp-figure::after { position: absolute; left: 0px; top: 40px; bottom: 40px; right: 0px; z-index: -1; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); background: rgb(68, 68, 68) none repeat scroll 0% 0%; }
.div-timer, .owl-dots, .prod1-wrap, .s-otz .wrap-item-img, .wrap-btn-ac .red, footer, footer .text-wrap-left { text-align: center; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	.mfp-img-mobile .mfp-figure::after { top: 0px; bottom: 0px; }
}
@media all and (max-width: 900px) {
}
.owl-height { transition: height 0.5s ease-in-out 0s; }
.owl-carousel { display: none; width: 100%; z-index: 1; }
.owl-carousel .owl-stage { position: relative; }
.owl-carousel .owl-stage::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; }
.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev { cursor: pointer; -moz-user-select: none; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -moz-user-select: none; }
.owl-carousel .owl-item img { display: block; width: 100%; transform-style: preserve-3d; }
#test-form .col-md-12 > div, #test-form .col > div, #test-form-small .col > div, #timer > .block, #timer > .points, form .col > div { float: left; }
.owl-carousel .owl-video-tn, .owl-nav > div, .s-garant { background-repeat: no-repeat; }
.owl-carousel .owl-video-tn, .s-garant, .s-work, .s-work .img-wrap::after { background-position: center center; }
#test-form { background-color: rgb(255, 255, 255) ! important; }
.clock-item h3, .logo-clock { margin-bottom: 30px; }
#test-form .table { width: 100%; display: none; padding-top: 10px; }
#test-form .table-active { display: table; }
#test-form .tr { font-size: 0.75em; border-radius: 2px; }
#test-form .tr .td { padding: 5px 10px; }
#test-form .tr .strong { font-weight: 900; width: 25%; }
#test-form .tr:nth-child(2n+1) { background-color: rgb(241, 243, 248); }
.logo-clock { margin-top: 30px; padding-top: 10px; position: relative; }
.logo-clock::after, .logo-clock::before { position: absolute; content: ""; height: 1px; background-color: rgb(238, 238, 238); width: 35%; top: 50%; }
.logo-clock::after { right: -5%; }
.logo-clock::before { left: -5%; }
.clock-item { padding-bottom: 50px; }
.clock-item .tr { font-size: 0.8125em; border-radius: 2px; }
.clock-item .tr:nth-child(2n+1) { background-color: rgb(241, 243, 248); border-radius: 2px; }
.clock-item .td { padding: 3px 0px 3px 10px; }
.clock-item .strong { font-weight: 900; width: 40%; }
.img-slides { padding: 15px 0px; }
.img-slides img { display: inline-block; max-width: 32%; }
#test-form, #test-form-small, form { padding-bottom: 30px; position: relative; margin: auto; width: 450px; max-width: 100%; background-color: rgb(238, 238, 238); border-radius: 8px; box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.22); }
#test-form .mfp-close, #test-form-small .mfp-close, form .mfp-close { font-size: 0.625em; line-height: 1; width: 80px; top: -5px; transition: all 0.25s ease 0s; }
.owl-dots .owl-dot, .owl-nav > div { transition: all 0.25s ease 0s; }
#test-form .mfp-close img, #test-form .mfp-close span, #test-form-small .mfp-close img, #test-form-small .mfp-close span, form .mfp-close img, form .mfp-close span { display: inline-block; }
#test-form .mfp-close img, #test-form-small .mfp-close img, form .mfp-close img { margin-left: 8px; }
#test-form input, #test-form-small input, form input { width: 95%; border: medium none; border-radius: 3px; }
#test-form .input-medium, #test-form-small .input-medium, form .input-medium { color: rgb(0, 0, 0); padding: 15px 0px 15px 50px; font-size: 1em; }
#test-form .input-prepend, #test-form-small .input-prepend, form .input-prepend { position: relative; padding-bottom: 10px; }
#test-form .feedback, #test-form-small .feedback, form .feedback { margin-top: 10px; font-size: 1.125em; }
#test-form .add-on, #test-form-small .add-on, form .add-on { top: 15px; left: 20px; position: absolute; }
#test-form h3, #test-form-small h3, form h3 { text-transform: uppercase; font-size: 1.5em; font-weight: 900; font-family: GothamPro,sans-serif; color: rgb(0, 0, 0); line-height: 1; padding-top: 60px; padding-bottom: 20px; letter-spacing: 1px; }
#test-form .col, #test-form-small .col, form .col { padding-top: 40px; }
#test-form .col .small-img, #test-form-small .col .small-img, form .col .small-img { padding-top: 0px; margin-right: 5%; margin-left: 2%; position: relative; }
#test-form .col .small-img-item, #test-form-small .col .small-img-item, form .col .small-img-item { display: block; margin-bottom: 5px; max-height: 60px; }
#test-form .big-img, #test-form-small .big-img, form .big-img { text-align: center; background-color: rgb(0, 0, 0); border-radius: 50%; width: 318px; height: 318px; position: relative; }
#test-form-small input, .owl-dots, .owl-nav { width: 100%; }
#test-form-small { max-width: 100%; padding-left: 20px; padding-right: 20px; padding-bottom: 40px; }
.s-garant { background-image: url('bg.jpg'); background-size: cover; }
.s-garant .text-wrap { max-width: 300px; }
.owl-carousel { position: relative; }
.owl-nav > div { position: absolute; top: 45%; left: -60px; background-image: url('arrrow-l-w.png'); vertical-align: middle; font-size: 70px; color: transparent; transition: all 0.25s ease 0s; }
.s-otz .text-wrap::after, .s-work, .s-work .img-wrap::after { background-size: cover; background-repeat: no-repeat; }
.owl-nav > div:focus, .owl-nav > div:hover { background-image: url('arrrow-l-r.png'); }
.owl-nav > div.owl-next { right: -60px; left: auto; background-image: url('arrrow-r-w.png'); }
.owl-nav > div.owl-next:focus, .owl-nav > div.owl-next:hover { background-image: url('arrrow-r-r.png'); }
.owl-dots { padding-top: 30px; }
.owl-dots .owl-dot { background-color: rgb(230, 230, 230); height: 20px; width: 20px; border-radius: 50%; display: inline-block; margin-right: 10px; border: 5px solid rgb(230, 230, 230); transition: all 0.25s ease 0s; }
.s-otz .text-wrap-main, .s-otz .wrap-item-img, footer .logo-wrap, footer a { display: block; }
.owl-dots .owl-dot.active, .owl-dots .owl-dot:focus, .owl-dots .owl-dot:hover { background-color: rgb(153, 122, 0); border: 5px solid rgb(255, 204, 0); }
.s-otz { background-color: rgb(255, 255, 255); padding: 30px 0px; }
.s-otz .wrap-img { position: relative; overflow: hidden; width: 160px; height: 160px; border-radius: 50%; margin: auto; }
.s-otz .wrap-img img { margin-top: 0px; }
.s-otz .owl-nav > div { top: 12%; left: 0px; }
.s-otz .owl-nav > div.owl-next { right: 0px; left: auto; }
.s-otz .wrap-item-img { width: 100%; }
.s-otz .text-wrap-main { width: 100%; margin-left: 0px; }
.s-otz .text-wrap { padding: 20px 15px; position: relative; }
.s-otz .text-wrap::after { content: ""; position: absolute; height: 14px; width: 15px; top: 35%; left: -15px; background-image: url('hvost.png'); }
.s-otz .text-wrap h6 { font-size: 0.875em; font-weight: 700; }
footer { border-top: 1px solid rgb(255, 204, 0); background-color: rgb(0, 0, 0); padding: 40px 0px 30px; }
footer a:focus, footer a:hover { color: rgb(255, 204, 0); }
footer .logo-wrap img { margin-top: -4%; margin-right: 10px; }
footer .logo-wrap p { text-transform: uppercase; font-size: 0.75em; padding-left: 10px; padding-top: 15px; padding-bottom: 10px; }
footer a, footer p { font-size: 0.875em; }
footer .text-wrap-left { padding: 20px 0px; }
footer a { color: rgb(0, 191, 119); text-decoration: underline; margin-top: 15px; }
.s-work .img-wrap-2::after, .s-work .wrap-item.last .img-wrap::after, .timer-block .div-timer { display: none; }
.logo-wrap img { vertical-align: text-top; }
.s-work { background-image: url('bg.jpg'); }
.s-work .img-wrap { position: relative; }
.s-work .img-wrap::after { content: ""; position: absolute; width: 30px; height: 25px; background-image: url('arr3.png'); background-color: transparent; top: 45%; right: -15%; left: auto; }
.s-work .wrap-item .text-wrap { width: 220px; }
.s-work .btn-accent { margin-top: 20px; color: rgb(30, 34, 38); font-size: 1em; max-width: 220px; background-image: linear-gradient(to top, rgb(255, 213, 62) 0px, rgb(255, 202, 0) 99%, rgb(255, 202, 0) 100%); border-radius: 5px; box-shadow: 0px 4px 0px rgb(227, 181, 7); padding: 18px 0px; line-height: 1; transition: all 0.25s ease 0s; }
.s-work .btn-accent:focus, .s-work .btn-accent:hover { background-image: linear-gradient(to top, rgb(255, 213, 62) 0px, rgb(255, 202, 0) 99%, rgb(227, 181, 7) 100%); background-color: rgb(227, 181, 7); }
.container { width: 450px; }
form, form .clock-item { background-color: rgb(255, 255, 255); }
form { overflow: hidden; }
form .container { max-width: 100%; }
form .clock-item .big-img { background-color: rgb(255, 255, 255); width: auto; margin-bottom: 20px; }
form .clock-item .table { padding-top: 20px; }
form .clock-item h3.accent { padding-top: 0px; font-size: 1.25em; }
@media only screen and (max-width: 480px) {
	.main-prod-wrap .prod-img, .s-har-port .big-img { background-color: rgb(0, 0, 0); border-radius: 50%; }
	.btn-accent, .cena, strike { text-transform: uppercase; }
	.container { max-width: 100%; }
	.top-line .logo-wrap img.res-i { position: absolute; width: 18%; }
	.top-line .logo-wrap p { font-size: 0.625em; padding-left: 20%; padding-top: 5%; padding-bottom: 10px; }
	header .main h1 { font-size: 0.75em; }
	header .main h2, header .main p.accent { font-size: 0.625em; }
	.main-prod-wrap { position: relative; }
	.main-prod-wrap .prod-img { display: inline-block; text-align: center; border-radius: 50%; width: 250px; height: 250px; }
	.main-prod-wrap .prod-img > .res-i { margin-top: 5px; max-width: none; max-height: 100%; }
	.main-prod-wrap .left-wrap .text-abs .res-i, .right-wrap .text-abs .res-i { max-width: 70%; }
	.main-prod-wrap .prod-img .text-about { position: absolute; bottom: 0px; left: -20px; }
	.main-prod-wrap .prod-img .text-about p { font-size: 0.5em; margin-left: 5px; }
	.main-prod-wrap .left-wrap { position: relative; padding-left: 10px; padding-right: 10px; }
	.right-wrap .small-img, .small-img { padding: 20px 0px; text-align: center; }
	.main-prod-wrap .left-wrap .text-abs { position: absolute; left: -12%; top: 0px; }
	.right-wrap, .small-img { position: relative; }
	.small-img-item { display: inline-block; width: 29px; height: 64px; }
	.right-wrap .text-abs { position: absolute; right: -20%; top: 0px; }
	.right-wrap .prod-img img { margin-top: 0px; }
	.right-wrap .small-img { position: relative; }
	.btn-wrap, .cena { text-align: left; }
	.right-wrap .small-img-item { display: inline-block; width: auto; height: 72px; padding-left: 5px; padding-right: 5px; }
	.cena { margin-bottom: 10px; margin-top: 60px; }
	.cena p { font-size: 0.75em; color: rgb(110, 110, 110); }
	.cena .big { color: rgb(255, 255, 255); font-size: 2.5em; }
	strike { font-size: 1.5em; }
	.btn-wrap { position: relative; }
	.btn-wrap .text-abs { position: absolute; right: 0px; top: -220%; }
	.btn-wrap .text-abs .res-i { max-height: 20%; max-width: 80%; }
	.btn-accent { color: rgb(0, 0, 0); max-width: 100%; background-color: rgb(0, 0, 0); background-image: linear-gradient(to top, rgb(255, 202, 0) 0px, rgb(255, 202, 0) 1%, rgb(255, 213, 62) 100%); border-radius: 6px; font-size: 1em; font-weight: 900; padding: 26px 0px; line-height: 1; display: block; text-align: center; transition: all 0.25s ease 0s; }
	.btn-accent:active, .btn-accent:focus, .btn-accent:hover { text-decoration: none; color: rgb(0, 0, 0); background-image: linear-gradient(to top, rgb(255, 202, 0) 0px, rgb(255, 202, 0) 1%, rgb(215, 168, 0) 100%); }
	.s-work .res-i { max-width: 75%; }
	#test-form, .wrap-item .text-wrap { max-width: 100%; }
	.s-work .btn-accent { max-width: 100%; font-size: 0.75em; padding: 14px 0px; }
	#test-form h3, .wrap-item .text-wrap p { font-size: 0.875em; }
	#test-form .col { padding-top: 40px; }
	#test-form .col .small-img { padding-top: 0px; margin-right: 5%; margin-left: 15%; position: relative; }
	#test-form .col .small-img-item { display: block; margin-bottom: 5px; max-height: 40px; }
	#test-form .big-img { text-align: center; border-radius: 50%; width: 210px; height: 210px; position: relative; }
	#test-form .big-img .res-i { max-height: 100%; }
}
@media only screen and (max-width: 340px) {
	.s-work .btn-accent { font-size: 0.7em; }
	#test-form { max-width: 100%; }
	#test-form .col { padding-top: 40px; }
	#test-form .col .small-img { padding-top: 0px; margin-right: 5%; margin-left: 5%; }
}
footer .logo-wrap img { margin-top: -8%; }
footer .logo-wrap p { font-size: 0.6em; }
