* {margin:0;padding:0;border:0;outline:none;}
a {text-decoration:none;}
.width {width:980px;margin:0 auto;position:relative;}
body,input {font-family:'Roboto',arial,sans-serif;}
.clear {clear:both;}

.title {height:50px;}
.title.first {background:url(img/title1.png) no-repeat center center;}
.title.second {background:url(img/title2.png) no-repeat center center;}
.title.third {background:url(img/title3.png) no-repeat center center;}
.title.fourth {background:url(img/title4.png) no-repeat center center;}

/* Шапка сайта */
#header {background:url(img/top.jpg) no-repeat center 0;height:650px;}
#header .title {text-transform:uppercase;font-size:28px;line-height:21px;letter-spacing:-1px;font-family:'PT Sans Narrow',arial,sans-serif;font-weight:700;text-align:right;height:155px;padding:0 40px 0 0;}
#header .title div {font-size:48px;letter-spacing:-3px;line-height:34px;padding:62px 0 21px 0;}
#header .box-price {width:475px;height:128px;float:right;margin:0 38px 0 0;font-family:'PT Sans Narrow',arial,sans-serif;font-weight:700;text-transform:uppercase;}
#header .box-price .text {float:left;padding:15px 0 0 10px;color:#fff;font-size:62px;line-height:36px;}
#header .box-price .text div {color:#ff1086;padding:15px 0 0 30px;font-size:44px;letter-spacing:-1px;}
#header .box-price .text div span {font-size:62px;}
#header .box-price .price {float:right;color:#fff;font-size:62px;line-height:44px;padding:0 10px 0 0;text-align:right;}
#header .box-price .price p {display:inline;font-size:16px;}
#header .box-price .price del {font-size:36px;line-height:24px;display:block;padding:12px 0 18px 0;color:#ff9c00;}
#header a.button {background:url(img/button.png) no-repeat 0 bottom;width:243px;height:55px;display:block;float:right;margin:20px 50px 0 0;}
#header a.button:hover {background-position:0 0;}


/* Эффектный дизайн */
#edesign {background:url(img/edesign.png) no-repeat center 0;height:600px;}
#edesign .text {color:#fff;width:260px;font-size:14px;padding:145px 0 0 28px;}

/* Почему мы */
#why-we {background:url(img/why-we.png) no-repeat center 0;height:600px;}
#why-we .ww {background:url(img/ww-bg.png) no-repeat 0 0;width:263px;padding:0 17px;font-weight:700;font-size:17px;height:313px;text-align:center;position:absolute;}
#why-we .ww span {display:inline-block;vertical-align:middle;height:313px;}
#why-we .ww div {display:inline-block;vertical-align:middle;}
#why-we .ww.first {left:160px;top:20px;}
#why-we .ww.second {right:160px;top:20px;}
#why-we .ww.third {left:0;right:0;margin:0 auto;top:273px;}


/* Подарок */
#present {background:url(img/present.png) no-repeat center center;height:540px;}
#present .box-text {float:right;width:360px;font-size:14px;margin:120px 45px 0 0;}
#present .box-text div {font-size:24px;font-weight:700;padding:0 0 10px 0;}
#present .photo {float:right;overflow:hidden;padding:30px 0 0 0;}
#present .photo img {width:145px;display:block;float:left;margin:0 3px;}


/* Как мы работаем */
#how-work {font-family:'PT Sans Narrow',arial,sans-serif;overflow:hidden;padding:0 0 50px 0;}
#how-work .title-hw {font-size:48px;letter-spacing:-3px;padding:15px 0;text-align:center;text-transform:uppercase;}
#how-work .hw-ico {background:url(img/hw-ico.jpg) no-repeat center 0;padding:203px 0 0 94px;text-transform:uppercase;font-size:18px;text-align:center;}
#how-work .hw-ico .item {width:195px;float:left;padding:0 106px 0 0;}
#how-work .hw-ico .item.last {padding:0;}


/* Блок покупки */
#buy-item-box {background:url(img/buy-box.jpg) no-repeat center center;height:564px;}
#buy-item-box .width {overflow:hidden;}
#buy-item-box .left-box {float:left;font-family:'PT Sans Narrow',arial,sans-serif;width:557px;}
#buy-item-box .left-box .sale {text-transform:uppercase;font-size:44px;letter-spacing:-2px;font-weight:700;line-height:30px;color:#ff0000;padding:10px 0 0 0;height:84px;}
#buy-item-box .left-box .sale div {color:#000;padding:0 0 0 212px;}
#buy-item-box .left-box .sale div span {font-size:29px;}
#buy-item-box .left-box .price {padding:0 0 0 342px;width:215px;text-align:right;color:#fff;font-weight:700;}
#buy-item-box .left-box .price del {color:#620505;display:block;font-size:26px;line-height:20px;padding:14px 0 0 0;}
#buy-item-box .left-box .price div {padding:13px 0 0 0;font-weight:400;font-style:italic;font-size:35px;line-height:26px;font-family:'PT Sans',arial,sans-serif;letter-spacing:-2px;}
#buy-item-box .left-box .price  div b {font-size:26px;font-weight:400;}
#buy-item-box .right-box {float:right;width:423px;}
#buy-item-box .right-box .name {font-size:32px;color:#fff;font-family:'PT Sans Narrow',arial,sans-serif;letter-spacing:-2px;text-transform:uppercase;font-weight:700;padding:10px 0 10px 35px;}
#buy-item-box .right-box .form {background:url(img/form.png) no-repeat 0 0;width:343px;height:353px;margin:10px 0 0 80px;}
#buy-item-box .right-box .form label {font-weight:700;width:239px;margin:0 auto;display:block;color:#fff;padding:10px 0 5px 0;}
#buy-item-box .right-box .form input[type="text"] {width:219px;height:38px;line-height:38px;padding:0 10px;display:block;margin:0 auto;border-radius:5px;-moz-border-radius:5px;}
#buy-item-box .right-box .form input[type="submit"] {background:#ff0000;width:239px;height:48px;line-height:48px;color:#fff;font-weight:700;font-size:20px;text-align:center;text-transform:uppercase;display:block;margin:10px auto 0 auto;border-radius:5px;-moz-border-radius:5px;cursor:pointer;}
#buy-item-box .right-box .form input[type="submit"]:hover {background:#d21a1a;}
#buy-item-box .right-box .form .ru-post {background:url(img/rpost.png) no-repeat 0 0;padding:4px 0 0 110px;font-family:'PT Sans Narrow',arial,sans-serif;color:#fff;font-weight:700;height:47px;margin:0px 0 0 45px;}
#buy-item-box .right-box .form .call-man {text-transform:uppercase;color:#fff;font-weight:700;font-size:13px;text-align:center;padding:15px 50px 0 50px;}
.timer {margin:0 0 0 80px;width:343px;}
.timer .name-t {text-align:center;color:#fff;font-size:14px;padding:0 0 5px 0;}
.timer .name-t div {text-transform:uppercase;font-size:15px;font-weight:700;padding:5px 0;}
.timer .digits {background:url(img/timer.png) no-repeat 0 0;width:252px;margin:0 auto;height:63px;line-height:63px;text-align:center;color:#fff;font-family:'PT Sans Narrow',arial,sans-serif;font-weight:700;font-size:32px;}

/* Доставка */
#delivery {overflow:hidden;padding:0 0 30px 0;}
#delivery .title-d {background:url(img/title-d.png) no-repeat 0 0;width:672px;height:70px;margin:0 auto 30px auto;font-family:'PT Sans Narrow',arial,sans-serif;letter-spacing:-2px;font-weight:700;text-transform:uppercase;text-align:center;font-size:48px;}
#delivery .item  {width:48%;padding:0 2% 20px 0;float:left;}
#delivery .item  .ico {float:left;}
#delivery .item  .ico img {width:100px;}
#delivery .item  .message {margin:0 0 0 110px;font-size:14px;font-family:'PT Sans',arial,sans-serif;}
#delivery .item  .message div {font-size:24px;font-family:'PT Sans Narrow',arial,sans-serif;text-transform:uppercase;}
#delivery .item  .message p {padding:8px 0 0 0;}
/* Отзывы */
#reviews {padding:50px 0 0 0;overflow:hidden;}
#reviews .review {width:48%;margin:0 2% 0 0;float:left;padding:0 0 50px 0;}
#reviews .review .ava {float:left;}
#reviews .review .ava img {width:112px;}
#reviews .review .message {margin:0 0 0 126px;font-size:14px;font-family:'PT Sans',arial,sans-serif;line-height:16px;}
#reviews .review .message div {font-weight:700;color:#c71585;font-size:18px;line-height:24px;}


#bottom {padding:15px 0;text-align:center;font-size:14px;}
#bottom a {color:#000;}