* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    background: #660000;
    font-family: Tahoma, sans-serif;
    /*color: #fff;*/
    color: #edebeb;
    text-shadow: 1px 1px 5px #151515;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
ul{
	list-style: none;
}
.alignleft {
    float: left;
}
.aligntight {
    float: right;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {
    *min-height: 1px;
}
.top{
    position: absolute;
    width: 100%;
    height: 171px;
    background-image: linear-gradient(#b10000,#660000);
    /*background: url(images/header_bg.png) repeat-x;*/
    /*background: url(images/cream_pixels/cream_pixels.png);*/
}
/*----- Start wrapper -----*/
#wrapper{
    width: 1263px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;    
}
/*----- Start header -----*/
#header {
    height: 170px;
    overflow: hidden;
}
.logo {
    float: left;
    display: block;
    margin: 0;
}
.search {
    width: 460px;
    height: 41px;
    float: right;
    margin: 70px 50px 0 0;
    background: url(images/search_bg2.png) no-repeat;
}
.search input {
    width: 410px;
    height: 41px;
    line-height: 41px;
    padding: 0 8px 0 10px;
    background: none;
    border: none;
    outline: none;
    display: block;
    font-size: 12px;
    color: #f5f5f5;
    text-shadow: 1px 1px 0 #000;
    float: left;
}
.search input.bttn {
    width: 27px;
    height: 41px;
    cursor: pointer;
    padding: 0;
}
/*----- End header -----*/
.sidebar{
	float: right;
	width: 250px;
	padding-left: 250px;
	margin-left: -250px;
}
.sidebar_title{
	height: 48px;
	line-height: 50px;
	overflow: hidden;
}
.sidebar_title h2{
	background: url(images/sidebar_title_logo.png) no-repeat left 15px;
	font-family: Tahoma, sans-serif;
	padding-left: 25px;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffc21a;
}
.categories li:last-child{
	border-bottom: 1px solid rgba(255, 255, 255, 0.28);
}
.categories li{
	line-height: 15px;
	padding-bottom: 3px;
	padding-left: 22px;
	border-top: 1px solid rgba(255, 255, 255, 0.28);
	background: url(images/sidebar_bullet.png) no-repeat 7px 7px;
}
.categories li a{
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	color: #d7d5d5;
}
.categories li a:hover,.categories .active a{
	color: #ffc21a;
}
.categories .active a{
    font-weight: bold;
}


/*----- Start content -----*/
.content{
	margin-bottom: 10px;
	text-align: center;
	margin-right: 250px;
}
/*----- Start title -----*/
.title {
	height: 42px;
    line-height: 40px;
	margin-bottom: 5px;
}
.title img{
    float: left;
    margin: 6px 7px 0 3px;
}
.title h2, .title h1 {
    font-size: 28px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    float: left;
    width: 720px;
    overflow: hidden;
    height: 40px;
    text-align: left;
}
/*------- Begin social -------*/
.social {
    float: right;
    margin:7px 7px 0 0;
}
.social a {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 0;
    display: block;
}
/*------- End social -------*/
/*----- End title -----*/
/*----- Start thumb -----*/
.thumbs{
    margin: 0 6px;
    text-align: center;
    font-size: 0;
}
.thumb {
    width: 244px;
    padding: 1px;
    overflow: hidden;
    background: #7f0000;
    border: 1px solid #510000;
    margin: 1px;
    float: left;
    text-align: center;
}
.title_thumb{
    height: 45px;	
    margin: 4px 0;
    overflow: hidden;
}
.title_thumb h3 a{
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    color: #ffc21a;
    text-shadow: 1px 1px 0 #000;
}
.title_thumb h3 a:hover {
    color: #fff;
}
.image_thumb{
    width: 240px;
    height: 180px;
    overflow: hidden;
    border: 1px solid #bebebe;
}
.image_thumb:hover{border: 1px solid #acaaaa;}
.thumb img {
    width: 240px;
    height: auto;
    display: block;
}
.thumb .thumb_up {
    width: auto;
    height: 15px;
    float: left;
}
.thumb .thumb_ups {
    float: left;
    color: #fff;
    width: 10px;
}
.thumbs .likes {
    float: right;
    min-width: 30px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #b7b7b7;
    text-shadow: 1px 1px 0 #000;
}
.descrip_thumb{
    height: 66px;
    padding: 0 5px;
    margin-bottom: 3px;
    overflow: hidden;
}
.descrip_thumb{
    font-size: 11px;
    line-height: 13px;
    font-family: Tahoma, sans-serif;
    color: #d7d5d5;
    text-shadow: 1px 1px 5px #151515;
}
.rating{
	margin-right: 3px;
    float: right;
    width: 75px;
    height: 14px;
    /*background: url(images/rating_nonactive.png);*/
}
.rating div{
    width: 0;
    height: 100%;
    background: url(images/rating.png);
}
.thumb_info{
	height: 15px;
	line-height: 15px;
	/*background: url(images/thumb_info.png) repeat-x;*/
}
.view{
	margin-left: 3px;
    float: left;
    width: 30%;
    text-align: left;
}
.view span{
	display: block;
    padding-left: 23px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #b7b7b7;
    text-shadow: 1px 1px 0 #000;
    background: url(images/view_thumb.png) no-repeat 0 3px;
}
/*----- End thumb -----*/
.pagination{
	margin-top: 15px;
	text-align: center;
	display: inline-block;
	font-size: 0;
}

.pagination li {
    display: inline-block;
}

.pagination a{
	display: inline-block;
	height: 29px;
	line-height: 29px;
	padding: 0 8px;
	margin: 0 1px 0 2px;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	background: #424141;
	border: 1px solid #6c6c6c;
}
.pagination a:hover,.pagination .active a{
	color: #000;
	background: #fec431;
	text-shadow: 1px 1px 0 #fee8b1;
}
/*----- End content -----*/
 /*----- Start video -----*/
.video_wrap{
    background: #7f0000;
    border: 1px solid #510000;
    padding: 15px 50px;
    margin: 4px;
 }
.video{
    width: 900px;
    /*height: 500px;*/
    border: 1px solid #3f3f3f;
    overflow: hidden;
    margin: 0 auto 15px;
    /*background: url(images/video.jpg) no-repeat;*/
 }
.video_tags{
    text-align: left;
    float: left;
    width: 60%;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
 }
.video_tags p{
    color: #d7d5d5;
 }
.video_tags p a{
    color: #ffc21a;
    font-weight: bold;
}
.video_tags p a:hover{
	text-decoration: underline;
}
.video_rating{
    float: right;
    width: 105px;
    height: 20px;
    background: url(images/video_star_nonactive.png);
}
.video_rating div{
    width: 0;
    height: 100%;
    background: url(images/video_star_active.png);
}
.video_descrip{
	text-align: left;
    width: 550px;
    /*height: 62px;*/
    overflow: hidden;
    margin-bottom: 10px;
}
.video_descrip p,.video_view{
    color: #d7d5d5;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 15px;
}
.video_save {
    display: block;
    text-align: left;
    line-height: 11px;
    float: left;
    font-size: 14px;
    padding: 1px;
    margin-top: 5px;
}
.video_save a {
    display: block;
    color: #ffc21a;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000;
    padding: 8px;
    line-height: 20px;
    font-weight: bold;
}
.video_save img {
    width: 20px;
    height: auto;
}
.video_view{
    float: left;
	text-align: left;
	height: 13px;
	line-height: 11px;
    display: block;
    background: url(images/view_thumb_video.png) no-repeat 0 0;
    padding-left: 33px;
    margin-top: 20px;
    margin-left: 30px;
}
.add_comments{
	text-align: left;
	margin-top: 25px;
}
.title_coment{
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
.title_coment img{
	float: left;
	margin-right: 5px;
}
.title_coment h3{
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffc21a;
	text-shadow: 1px 1px 0 #000;
}
.comments_list {
    margin: 10px 0 10px 0;
    text-align: left;
    /*min-height: 10px;*/
}
.add_comments {
    height: 230px;
}
.add_comments textarea{
	height: 84px;
	width: 900px;
	color: #fff;
	max-width: 900px;
	margin-bottom: 10px;
	background: #141414;
	border: 1px solid #2b2b2b;
    font-size: 16px;
    padding-left: 5px;
}
.add_comments .user{
    height: 30px;
    width: 900px;
    color: #fff;
    max-width: 900px;
    margin-bottom: 10px;
    background: #141414;
    border: 1px solid #2b2b2b;
    font-size: 16px;
    padding-left: 5px;
}
.add_comments input.sbmt{
	float: right;
	width: 102px;
	height: 39px;
	line-height: 39px;
	border-radius:5px;
	border: 1px solid #2b2b2b;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background: url(images/comment_button.png) repeat-x;
	overflow: hidden;
	color: #000;
	text-shadow: 1px 1px 0 #fedb5f;
	cursor: pointer;
}
.user_comment{
	overflow: hidden;
	background: #363636;
	padding: 6px;
	border: 1px solid #2b2b2b;
	margin-bottom: 2px;
}
.user_img{
	overflow: hidden;
	width: 78px;
	height: 78px;
	background: #8c8c8c;
	float: left;
	margin-right: 7px;
}
.user_info{
	overflow: hidden;
}
.name_user{
	display: block;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffc21a;
	text-shadow: 1px 1px 0 #000;
	margin-bottom: 10px;
}
.time_add_comment{
	color: #fff;
	font-weight: normal;
}
.user_descrip{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	text-shadow: 1px 1px 0 #000;
	color: #d7d5d5;
    margin: 10px 5px;
    padding: 5px 10px;
    display: block;
    background-color: #555;
}
/*----- End video -----*/
/*----- End wrapper -----*/
/*----- Start footer -----*/
#footer {
    height: 200px;
    margin-top: 20px;
	/*line-height: 200px;*/
	text-align: center;
    /*background: url(images/footer_bg.png) repeat-x bottom;*/
    background-image: linear-gradient(#660000, #b10000);
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}
.foot {
    width: 1263px;
    margin: 0 auto;
    margin-top: 80px;
}
.foot #liveinternet {
    margin-top: 20px;
}
.foot a {
	text-align: left;
    color: #fec431;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    margin: 0 5px;
}
.foot .links {
	font-size: 13px;
    color: #fff;
}
.foot a:hover {
    color: #fff;
}
.block_content {
    text-align: left;
    background: #7f0000;
    border: 1px solid #510000;
    padding: 15px 20px;
    margin: 4px;
}
.star_info_holder {
    min-height: 250px;
}
.star_info_holder .star_pic {
    float: left;
    height: 250px;
    width: auto;
    margin-right: 10px;
    border: 1px solid #ccc;
}
.star_info {
    width: 550px;
    float: left;
}
.star_info i {
    font-style: normal;
    color: #ffc21a;
}
.category_info img {
    float: left;
    margin: 3px 10px 5px 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.title_with_share h2 {
    width: 700px;
}
.like {
    /*clear: both;*/
    float: right;
    margin-top: 5px;
    width: 100px;
}
.like .percent {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 12px;
    padding-left: 12px;
}
.like img {
    display: block;
    float: left;
}
.player_ph iframe, .player_ph object, .player_xv iframe {
    width: 900px;
    height: 565px;
}
.index-text {
    font-size: 12px;
}
/*----- End footer -----*/
#timer {
    font-size: 100px;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}

.articles-list .text {
    font-size: 13px;
    text-align: left;
}