body {margin: 0; padding: 0; background-color: #eee; font-family: Verdana;}
.logo_holder {min-width: 1200px; background-color: #333;}
.logo_holder .menu {width: 115px; float: left; margin: 0 0 0 10px; text-align: center;}
.logo_holder .menu a {color: #fff; font-size: 24px; font-weight: bold; background-color: #444; line-height: 24px;}
.logo_holder .menu a:hover {background-color: #666;}
.logo_holder .middle {width: 1200px; margin: 0 auto;}
.logo_holder .text {margin-top: 5px; float: right; width: 670px; height: 65px; overflow: hidden; font-size: 10px; color: #fff; line-height: 11px;}
.logo {line-height: 50px; float: left; width: 380px; height: 70px; font-size: 50px; font-weight: bold; overflow: hidden;}
.logo a {line-height: 50px; text-decoration: none;}
.logo .under_text {font-size: 11px; color: #fff; line-height: 12px; margin: 0 0 0 4px; font-weight: bold;}
/*.logo_holder * {border: 1px solid #fff;}*/
/*.logo_holder .text, .footer .text, .index-text, .pagination {display: none;}*/
.logo .r {color: red;}
.logo .u {color: blue;}
.logo .trah {color: #fff;}
.logo .net {color: #444;}
.logo-mob {
    background-color: #333;
}
.logo-mob .logo {
    float: none;
    height: 55px;
    width: auto;
}
.content_holder {width: 1200px; margin: 0 auto; background-color: #333;}
.most_popular_videos {margin-bottom: 10px;}
.most_popular_videos .title {font-size: 12px; font-weight: bold; color: #fc0; text-align: center; border-bottom: 1px solid #555; padding-bottom: 5px;}
.most_popular_videos .list {text-align: center; border-bottom: 1px solid #555; line-height: 12px; margin: 0 5px;}
.most_popular_videos .list a {font-size: 10px; color: #fff;}
/*.categories {width: 198px; float: left; background-color: #333; margin: 0; padding: 0;}*/
.categories {background-color: #333; margin: 0; padding: 0;}
.categories ul li a {display: block; padding-top: 5px; color: #fff; text-decoration: none; font-size: 13px;}
.categories ul {margin: 0; padding: 0; list-style-type: none; margin-bottom: 10px;}
.categories li {padding-left: 10px; height: 30px; border-bottom: 1px solid #555;}
.categories li:hover, .categories .active {background-color: #444; border-right: 3px solid red;}
.categories-title {padding: 10px 0 15px 0; font-size: 14px; font-weight: bold; color: #fff; text-align: center; border-bottom: 1px solid #555;}
/*.content {width: 1002px; min-height: 1350px; float: right; background-color: #fff; border: 1px solid #ccc; padding: 5px;}*/
.content {background-color: #fff; border: 1px solid #ccc; padding: 5px;}
.footer {/*width: 1200px; */ margin: 0 auto;}
.footer .text {font-size: 11px; color: #444; line-height: 15px; margin-bottom: 5px;}
.footer .text p {margin: 3px 0 3px 0;}
/*.videos-thumbs {width: 990px; margin-bottom: 20px;}*/
.videos-thumbs {margin-bottom: 20px;}
/*.thumb {width: 237px; float: left; margin: 4px; border: 1px dashed #ccc;}*/
.thumb {width: 237px; float: left; margin: 1px; border: 1px dashed #ccc;}
.thumb:hover {background-color: #eee;}
.thumb img {width: 217px; height: auto; border: 3px solid #ddd;}
.thumb .title {height: 40px; padding: 2px; text-align: center; font-weight: bold; font-size: 12px; line-height: 13px; overflow: hidden;}
.thumb .img {height: 170px; overflow: hidden; margin: 0 auto; padding: 2px; border-top: 1px dashed #ccc; text-align: center; background-color: #fff;}
.thumb .img a {display: block;}
.thumb a {color: #333; display: block;}
.thumb .description {height: 95px; border-bottom: 1px dashed #ccc; overflow: hidden; background-color: #fff; text-align: center; font-size: 11px; line-height: 15px; font-family: Arial;}
.thumb .deleted {display: none;}
.info {padding: 2px; margin: 0 auto;}
.info .rating-holder {width: 90px; float: right; font-size: 10px;}
.info .rating-holder .votes {text-align: center;}
.info .views {width: 70px; float: left; font-size: 12px;}
.pagination {margin: 0 0 0 10px;}
.pagination a {color: #000;}
.breadcrumb a {color: #c90063; font-weight: bold;}
.breadcrumb h1 {font-size: 14px; display: inline; line-height: 14px;}
.category-description {margin: 0; font-size: 12px;}
.category-description img {max-height: 250px; width: auto; margin: 0 10px 10px 0; float: left;}

.player {text-align: center;}
/*.video-info {width: 940px;}*/
.video-info .left {float: left; width: 570px;}
.video-info .right {float: right; width: 163px; text-align: right;}
.video-info .right #rating {margin-top: 10px;}
.video-info h2 {font-size: 16px; font-weight: bold;}
.video-info .video-views {margin-top: 5px;}
.index-text {font-size: 11px; line-height: 13px; padding: 9px;}
.index-text p {margin-top: 3px; margin-bottom: 3px;}
.index-text img {float: left; margin: 0 10px 10px 0; width: 150px; height: auto;}
.social {width: 810px; height: 40px; margin-left: 167px;}
.social .text {float: left; font-size: 14px; margin-top: 10px;}
.social .pluso {float: right;}
.social .yashare {margin: 4px 0 0 5px;}
/*.counter {float: right; float: left; width: 88px; height: 17px;}*/
.feedback {/*float: right;*/ /*width: 800px;*/ text-align: right; padding-top: 5px;}
.feedback a {color: #000;}
.contact {width: 800px; margin: 0 auto;}
.contact textarea {width: 800px;}

.vk_group {display: block; width: 150px; height: 150px; margin: 0 auto; margin-bottom: 10px;}
.vk_group img {width: 150px; height: auto;}
.search {margin: 0 2px 10px 2px;}
.search .text {width: 115px; margin: 0 auto; display: inline-block;}
.recent_news {border-bottom: 1px solid #555; margin-bottom: 10px;}
.recent_news .news {text-decoration: underline; font-size: 14px; color: #fff;}
.recent_news .date {font-size: 9px;}
.recent_news .title {font-weight: bold; color: #fff; text-align: center;}
.recent_news .text {color: #ddd; font-size: 11px; text-align: center; line-height: 11px;}
.recent_news .text a {font-size: 11px;}
.news .item {margin-bottom: 10px;}
.news .date {font-size: 10px;}
.news .text {}
.news .admin {font-size: 10px;}
.guestbook .title {color: #c90063; font-weight: bold; font-size: 15px; margin-bottom: 10px;}
.guestbook .user {font-weight: bold; font-size: 12px;}
.guestbook .date {font-size: 10px;}
.guestbook .add {margin-left: 10px; font-weight: bold; margin-bottom: 10px;}
.guestbook .name input {width: 200px;}
.guestbook .text textarea {width: 500px; height: 80px;}
.guestbook form {margin-left: 10px;}

.stories {margin: 10px 0 0 0;}
.stories .more {text-align: right;}
.stories ul {margin: 0;}
.stories li {margin: 20px auto; list-style-type: none;}
.stories .title{color: #C03; font-weight: bold; font-size: 20px; margin-left: 15px;}
.stories .more {color: #C03;}
.stories .text {margin-bottom: 0;}
.stories .short {max-height: 200px; overflow: hidden;}
.stories .short img {max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.story h1 {margin-left: 10px; font-size: 30px;}
.story img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}
.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 800px; text-align: center;}
.h1_rating .right {float: right; margin-top: 15px; width: 190px;}

.warn18 {
    display: block;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat -379px 0;
    position: absolute; 
    width: 90px; 
    height: 93px; 
    right: 0; 
    top: 0; 
    z-index: 999; 
    cursor: default;
}
.warn18 .tip {
    display: none;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 0 0;
    width: 302px;
    height: 115px;
    padding: 30px 10px 0;
    top: 67px;
    right: 10px;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    cursor: default;
}
.warn18:hover .tip {display: block;}

.h4 {font-size: 16px; font-weight: bold; line-height: 30px;}

/*.comments * {border: 1px solid #000;}*/
.comments .list {margin: 0; padding: 0; padding-bottom: 20px;}
.comments .list li {margin: 0; padding: 0; list-style-type: none; /*width: 500px;*/ margin-bottom: 10px;}
.comments .list .user {width: 150px; margin-right: 97px; float: left; overflow: hidden;}
.comments .list .date {width: 250px; float: left; overflow: hidden; text-align: right;}
.comments .list .text {clear: both;}
.comments-add .user {/*width: 300px;*/}
.comments-add .text {/*width: 500px;*/ height: 150px;}

.recent_comments .date {font-size: 9px;}
.recent_comments .title {font-weight: bold; color: #fff; text-align: center;}
.recent_comments .text {color: #ddd; font-size: 11px; text-align: center; line-height: 11px;}
.recent_comments .text a {font-size: 11px;}

.contest {margin: 0 20px 10px 20px;}
.contest h3 {margin-top: 0px; margin-left: 100px;}

.contest_button {
    display: block;
    text-align: center;
    padding-top: 2px;
    font-size: 20px;
    color: red;
    font-weight: bold;
    background-color: rgba(223, 132, 57, 0.317647);
    border: 1px solid rgba(0, 0, 0, 0.31);
}
.contest_button b {color: yellow;}
.contest_button:hover {text-decoration: none; color: red;}

.page_comments .title {color: #c90063; font-weight: bold; font-size: 15px; margin-bottom: 10px;}
.page_comments .user {font-weight: bold; font-size: 12px;}
.page_comments .date {font-size: 10px;}
.page_comments .add {margin-left: 10px; font-weight: bold; margin-bottom: 10px;}
.page_comments .name input {width: 200px;}
.page_comments .text textarea {width: 500px; height: 80px;}
.page_comments form {margin-left: 10px;}
.page_comments .marked {/*color: #3a87ad;*/ color: #000; background-color: #d9edf7; border-color: #bce8f1;}
.contest_comments {margin: 0 0 0 20px;}

.contest_img {margin: -10px auto 10px auto; overflow: hidden; text-align: center;}

.photos-thumbs {/*width: 990px;*/ margin-bottom: 20px;}
.photo-thumb {width: 188px; float: left; margin: 2px; border: 1px dashed #ccc;}
.photo-thumb:hover {background-color: #eee;}
.photo-thumb img {width: 170px; height: auto; border: 3px solid #ddd;}
.photo-thumb .title {height: 25px; padding: 2px; text-align: center; font-weight: bold; font-size: 12px; line-height: 13px; overflow: hidden;}
.photo-thumb .img {height: 190px; overflow: hidden; margin: 0 auto; padding: 2px; border-top: 1px dashed #ccc; text-align: center; background-color: #fff;}
.photo-thumb .img a {display: block;}
.photo-thumb a {color: #333; display: block;}
.gallery {text-align: center;}
.gallery img {border: 1px solid #fff; max-width: 800px; height: auto;}
.gallery li {margin: 5px; list-style-type: none;}

.order {
    padding: 0px 0 3px 5px;
    text-align: left;
    margin-bottom: 5px;
}

.order a {color: #000;}
.order .active {color: #fff;}
.order .active a, .order .active a:hover {background-color: #555;}

#kt_player {
    margin: 0 auto;
}

#timer {
    font-size: 100px;
    text-align: center;
    line-height: normal;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}

.dashed {
    border-bottom: 1px dashed #000;
}

.dashed:hover {
    color: #23527c;
}

.comments_button {
    margin-bottom: 15px;
}
.teasers_player {
    width: 100%;
    overflow: hidden;
}