#error_text {width: 300px; border: 1px solid #999; background: #f0f0f0; margin: 0 auto;}
#error_text .panel {background: #444; width: 100%; height: 22px; color: #fff; font-weight: bold; text-align: center;}
#error_text .text {padding: 20px 0 20px 0; text-align: center; color: #444;}

#authorizate {width: 150px; margin: 0 auto;}

#footer_def {width: 100%; margin: 0 auto; clear: both; text-align: center; padding-top: 50px;}

#testing_info {width: 500px; border: 1px solid #999; background: #f0f0f0; margin: 10px auto;}
#testing_info .panel {background: #444; width: 100%; height: 22px; color: #fff; font-weight: bold; text-align: center;}
#testing_info .text {padding: 20px 5px 20px 5px; text-align: left; color: #444;}
