body {
	margin:0px;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333333;
   font-weight: 300;
   /*-ms-overflow-style: scrollbar;*/
}


/*common*/


p {
	margin: 0px 0px 20px 0px;
   padding: 0px;
   font-size: 15x;
	color: #333333;
}


strong {
	font-weight: 700;
}


h1 {
  padding: 0px 0px 60px 0px;
  margin: 0;
  font-size: 30px;
  color: #191919;
  text-align: center;
  font-weight: 400;
}


h2 {
  padding: 0px 0px 20px 0px;
  margin: 0;
  font-size: 23px;
  color: #333333;
  font-weight: 300;
}


h3 {
  padding: 0px 0px 5px 0px;
  margin: 0;
  font-size: 18px;
  color: #333333;
  font-weight: 300;
  text-align: left;
}

h4 {
  padding: 0px 0px 20px 0px;
  margin: 0;
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  text-align: left;
}



a {
	font-size: 16px;
   color: #308fb2;
   text-decoration: underline;  
   outline: 0 !important; 
 }
 
 a:hover {
   text-decoration: none;
 }
 
 

  

/* a {
	font-size: 15px;
   color: #038c11;
   text-decoration: underline;  
 }
 
 a:hover {
   text-decoration: none;
 }


 
img, div {
	border: 0px;
	margin: 0px;
	padding: 0px;
}


img.contentimg {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   behavior: url(PIE.htc);
}


strong {
	font-weight: 500;
}







ul,li {
		line-height: 18px;
}

ul {
	margin-top: 0;
	margin-bottom: 20px;
}





form {
 padding: 0px;
 margin: 0px;
}*/


div.clear {
	clear: both;
	line-height: 0px;
	font-size: 0px;
	height: 0;
}


/*-------------------top-small------------------*/
 
 div.top-small {
   background-color: white;
 	-webkit-box-shadow: #bababa 0px 0px 5px;
   -moz-box-shadow: #bababa 0px 0px 5px;
   box-shadow: #bababa 0px 0px 5px;
	height: 51px;
	position: fixed;
	z-index: 999;
	width: 100%;
   top: -91px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease; 
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);  

}
 

.show {
	 top: 0px !important;
}

 img.logo-1 {
	width: 100%;
	max-width: 100px;
	margin-top: 3px;
}
 
div.tel-1 {
   display: inline-block;
	background-repeat: no-repeat;
	background-position: left;
	font-size: 15px;
	margin-top: 15px;
   color: white;
   padding: 0 20px 0 15px;
   font-weight: 300;
   color: #505050;
}
 
a.callback-2 {
   width: 70%;
   margin-top: 10px;
   display: block;
   border: 1px solid #ff6600;
   text-align: center;
	font-size: 13px;
	font-weight: 300;
   color: #ff6600;
   text-transform: uppercase;
   padding: 5px 0 5px 0;
   text-decoration: none;  
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
 }
 
 a.callback-2:hover {
   color: #ffffff;
   background-color: #ff6600;
   text-decoration: none;
 }

 @media (max-width: 992px) {
 a.callback-2 {
   width: 100%;
   }

div.tel-1 {
   display: inline-block;
	background-repeat: no-repeat;
	background-position: left;
	font-size: 12px;
	margin-top: 15px;
   color: white;
   padding: 0 5px 0 15px;
   font-weight: 300;
   color: #505050;
}
   
 }
 

  @media (max-width: 767px) {
   div.top-small { display: none !important;}
  }
 




/*--------------------top--------------------*/

div.top-block {
   background-color: #ffffff;
   height: 99px;
 	-webkit-box-shadow: #bababa 0px 0px 5px;
   -moz-box-shadow: #bababa 0px 0px 5px;
   box-shadow: #bababa 0px 0px 5px;
}


img.logo {
 width: 100%;
 max-width: 179px;
 margin-top: 8px;
}


div.ins {
	color: #7c7b7c;
	font-size: 16px;
	font-weight: 100;
	border-left: 1px solid #dadada;
	padding-left: 43px;
	margin-top: 29px;
}

div.tel {
	background-repeat: no-repeat;
	background-position: left;
   padding: 0 0 0 20px;	
	font-size: 18px;
   color: white;
   font-weight: 300;
   color: #505050;
}

div.tli01 {	background-image: url(tl_i04.png)/*tpa=http://wsken.com.ua/images/tl_i04.png*/, url(tl_i01.png)/*tpa=http://wsken.com.ua/images/tl_i01.png*/; background-position: left 150px top 5px , left; margin-top: 12px;}
div.tli11 {	background-image: url(tl_i04.png)/*tpa=http://wsken.com.ua/images/tl_i04.png*/, url(tl_i01.png)/*tpa=http://wsken.com.ua/images/tl_i01.png*/; background-position: left 118px top 3px , left; margin-top: 12px;}
.tli02 {	background-image: url(tl_i02.png)/*tpa=http://wsken.com.ua/images/tl_i02.png*/;	}
.tli03 {	background-image: url(tl_i03.png)/*tpa=http://wsken.com.ua/images/tl_i03.png*/;	}


div.langs {
   margin-top: 13px;
	text-align: center;
}

.langs a {
color: #ff6600;
font-size: 13px;
 text-decoration: none;	
}

.langs a:hover {
	color: #ff9147;
}

a.callback {
   margin-top: 12px;
   display: block;
   border: 1px solid #ff6600;
   text-align: center;
	font-size: 13px;
	font-weight: 300;
   color: #ff6600;
   text-transform: uppercase;
   padding: 5px 0 5px 0;
   text-decoration: none;  
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
 }
 
 a.callback:hover {
   color: #ffffff;
   background-color: #ff6600;
   text-decoration: none;
 }



@media (max-width: 992px) {
    div.top-block {height: 80px;}
    img.logo { margin-top: 7px;}     
    div.ins {font-size: 13px; margin-top: 25px; padding-left: 13px;}
    div.tel {font-size: 16px; }
    a.callback {font-size: 9px; margin-top: 10px;}
    /*.tli01 {background-image: url(images/tl_i01.png); margin-top: 8px;}*/
   div.tli01 {	background-image: url(tl_i04.png)/*tpa=http://wsken.com.ua/images/tl_i04.png*/, url(tl_i01.png)/*tpa=http://wsken.com.ua/images/tl_i01.png*/; background-position: left 133px top 4px , left; margin-top: 12px;}    
   
}

@media (max-width: 767px) {
    div.top-block { height: auto; padding-bottom: 20px;}
    div.ins {font-size: 16px; margin-top: 10px; margin-bottom: 5px; border-left: none; text-align: center; font-weight: 400; color: #333333;} 
    a.callback {font-size: 13px; margin-top: 10px;}   
    div.tel {  text-align: left; margin: 0 auto; width: 180px; font-size: 18px;}
   div.tli01 {	background-image: url(tl_i04.png)/*tpa=http://wsken.com.ua/images/tl_i04.png*/, url(tl_i01.png)/*tpa=http://wsken.com.ua/images/tl_i01.png*/; background-position: left 145px top 4px , left; margin-top: 12px;}        
}



/*--------------------block-1--------------------*/

div.block-1 {
   background-image: url(block-1-bcg.jpg)/*tpa=http://wsken.com.ua/images/block-1-bcg.jpg*/;
   background-repeat: no-repeat;
   background-position: left top;
   background-color: #e9e9e9;
   min-height: 625px;
   padding-top: 130px;

}

div.slogan {
	text-align: center;
	border-bottom: 1px solid #d3d3d3;
	font-size: 21px;
	font-weight: 400;
	padding-bottom: 20px;
	margin-bottom: 25px;
}

div.big-text {
	font-size: 43px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 40px;
}

div.small-text {
	font-size: 33px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 15px;
}

div.top-price {
   background-image: url(top_price.png)/*tpa=http://wsken.com.ua/images/top_price.png*/;
   background-repeat: no-repeat;
   text-align: center;
   width: 177px;
   line-height: 49px;
   margin: 0 auto 10px auto;
   color: #4b5d01;
   font-size: 28px;
   
}


.top-price span {
   font-size: 21px;
}
  


div.guarantee {
  text-align: center;
  font-size: 14px;
  color: #4b5d01;
  text-transform: uppercase;
  margin-bottom: 10px;
}

a.s-btn {
   display: block;
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }
 
  @media (max-width: 1390px) {
 div.block-1 {
   background-position: -100px;
 }
 }
 
 
 @media (max-width: 1200px) {
 div.block-1 {
   background-position: -150px;
 }
 }
 
  @media (max-width: 992px) {
 div.block-1 {  background-position: -250px; }
 div.slogan { font-size: 17px;}
 div.big-text {font-size: 36px;}
 div.small-text {	font-size: 30px;}
 a.s-btn {font-size: 16px;}
 }
 
   @media (max-width: 767px) {
    div.block-1 {  background-position: top;  min-height: inherit;   padding-top: 570px; padding-bottom: 20px; }
     div.slogan { font-size: 16px;}
 div.big-text {font-size: 25px;}
 div.small-text {	font-size: 21px;}
  a.s-btn { padding: 7px 10px 7px 10px;}
 }
 
 
 /*-------------------------block-2------------------------*/
 
 div.block-2 {
 	background-image: url(block2_bcg.jpg)/*tpa=http://wsken.com.ua/images/block2_bcg.jpg*/;
 	background-repeat: no-repeat;
 	background-position: top right;
 	padding: 65px 0 65px 0;
 }
 
  div.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 0 auto 50px auto;
   -webkit-box-shadow: #e0e0e0 0px 0px 10px;
   -moz-box-shadow: #e0e0e0 0px 0px 10px;
   box-shadow: #e0e0e0 0px 0px 10px;
 }
 
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 

div.circle-pic {
  background-repeat: no-repeat;
  background-position: left;
  padding: 45px 0 45px 145px;
  font-size: 15px;
}

.cp-1 { background-image: url(cpic-1.png)/*tpa=http://wsken.com.ua/images/cpic-1.png*/;}
.cp-2 { background-image: url(cpic-2.png)/*tpa=http://wsken.com.ua/images/cpic-2.png*/;}
.cp-3 { background-image: url(cpic-3.png)/*tpa=http://wsken.com.ua/images/cpic-3.png*/;}



 @media (max-width: 1200px) {
   h1.block-2-h1 {text-align:left; }
   div.block-2 { background-size: 550px;}
   .cp-2, .cp-3 { margin-top: 10px;}
 }

  @media (max-width: 992px) {
  div.circle-pic {background-size: 80px;   padding: 25px 0 25px 90px;  font-size: 12px;}
   div.block-2 { background-size: 450px;}
   h1.block-2-h1 {text-align:left; font-size: 24px; }
  }


   @media (max-width: 767px) {
   div.block-2 {	padding: 400px 0 65px 0; background-size: 450px;}
   h1.block-2-h1 {text-align:center; font-size: 24px; padding-bottom: 50px; }
   div.circle-pic {background-size: 130px;  padding: 55px 0 55px 145px; font-size: 15px; margin-bottom: 10px;}
   
 }   
 
    @media (max-width: 450px) {
     div.block-2 {background-position: top center;}
     .cp-2, .cp-3 { margin-top: 0px;}
     div.circle-pic { padding: 45px 0 45px 145px;}
    }



 /*-------------------------block-3------------------------*/
 
 img.blc-3-img {
   width: 100%;
 }
   
 .photki-col {
   padding: 1px 0px 0px 1px;
   position: relative;
}

div.blc-3-text {
   position: absolute;
	background-image: url(green_point.png)/*tpa=http://wsken.com.ua/images/green_point.png*/;
	padding: 15px;
   font-size: 18px;
   text-align: center;
   width: 50%;
   left: 25%;
   top: 15%;
}


 @media (max-width: 1200px) {
 div.blc-3-text { font-size: 15px; padding: 12px;}
 
 }


  @media (max-width: 992px) {
   div.blc-3-text { font-size: 12px; padding: 12px;}
  }


   @media (max-width: 767px) {
      div.blc-3-text { font-size: 15px; padding: 12px; width: 80%; left: 11%;}
   }  


 /*-------------------------block-4------------------------*/
 
 div.block-4 {
   background-image: url(block-4-bcg.jpg)/*tpa=http://wsken.com.ua/images/block-4-bcg.jpg*/;
   background-repeat: no-repeat;
   background-position:  right -60px bottom;
 	padding: 65px 0 65px 0;   
 }
 
 
 div.blc4-option {
 	background-repeat: no-repeat;
 	background-position: left;
 	padding: 42px 0 42px 123px;
 	margin-bottom: 40px;
 	font-size: 15px;
 }
 
.op-1 {background-image: url(blc4-i-01.png)/*tpa=http://wsken.com.ua/images/blc4-i-01.png*/; margin-top: 11px;}
.op-2 {background-image: url(blc4-i-02.png)/*tpa=http://wsken.com.ua/images/blc4-i-02.png*/; }
.op-3 {background-image: url(blc4-i-03.png)/*tpa=http://wsken.com.ua/images/blc4-i-03.png*/; }
.op-4 {background-image: url(blc4-i-04.png)/*tpa=http://wsken.com.ua/images/blc4-i-04.png*/; }
.op-5 {background-image: url(blc4-i-05.png)/*tpa=http://wsken.com.ua/images/blc4-i-05.png*/; }
.op-6 {background-image: url(blc4-i-06.png)/*tpa=http://wsken.com.ua/images/blc4-i-06.png*/; }
.op-7 {background-image: url(blc4-i-07.png)/*tpa=http://wsken.com.ua/images/blc4-i-07.png*/; margin-top: 21px;}
.op-8 {background-image: url(blc4-i-08.png)/*tpa=http://wsken.com.ua/images/blc4-i-08.png*/; }


div.op-test {
	font-size: 12px;
	margin-bottom: 20px;
}

a.s-btn-1 {
   display: block;
   width: 50%;
   margin: 0 auto;
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn-1:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }
 
  @media (max-width: 1200px) {
   div.block-4 { background-position:  right -140px bottom;}
  }
  

  @media (max-width: 992px) {
  
    div.blc4-option {
    background-size: 70px;
 	margin-bottom: 0px;
 	font-size: 12px;
 	padding: 30px 0 30px 83px;
    }
  
      div.block-4 { background-position:  right -100px bottom; background-size: 500px; }
 
  }



   @media (max-width: 767px) {
   div.blc4-option { background-size: 103px; 	padding: 44px 0 44px 123px; margin-bottom: 10px; font-size: 15px;}
    .op-1,.op-7 {margin-top: 0px;}
    a.s-btn-1 {width: 100%;}
     div.block-4 {padding: 65px 0 755px 0; background-position: right bottom; background-size: 672px;}
     
     h1 {  font-size: 24px;   padding: 0px 0px 30px 0px;}

     
   }

@media (max-width: 670px) {
 div.block-4 { background-position: center bottom;}

}    
 

/*--------------------block-5--------------------*/


 div.block-5 {
   background-color: #f4f4f4;
 	padding: 65px 0 65px 0;
 	background-image: url(triagnle.png)/*tpa=http://wsken.com.ua/images/triagnle.png*/;
 	background-repeat: no-repeat;
 	background-position: bottom center;
 	   
 }

 h2.blc5-h2 {
  padding: 0px 0px 0px 0px;
  font-size: 30px;
  color: #333333;
}

.col-m {
  background-image: url(center-shadow.png)/*tpa=http://wsken.com.ua/images/center-shadow.png*/;
  background-repeat: no-repeat;
  background-position: right;
}

div.under-h {
	font-size: 10px;
	margin-bottom: 55px;
}
 
img.pack {
	width: 100%;
	max-width: 314px;
}

div.pack-holder {
   padding-left: 13%;
   text-align: left;
   position: relative;
}

div.price-hol {
   position: absolute;
	background-image: url(price_bcg.png)/*tpa=http://wsken.com.ua/images/price_bcg.png*/;
	background-repeat: no-repeat;
	width: 178px;
	line-height: 49px;
   color: #bfd605;
   text-align: center;
   font-size: 28px;
   right: 60px;
   top: 260px;
}

.price-hol  span {
	color: #aaaaaa;
	font-size: 18px;
}


a.s-btn-2 {
   text-transform: uppercase;
   display: block;
   width: 55%;
   margin: 40px auto 40px auto;
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn-2:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }
 

 @media (max-width: 1200px) {
 
 div.price-hol { right: 30px;}
 a.s-btn-2 {width: 72%;}
 div.pack-holder {   padding-left: 6%;}
 }
 
 
   @media (max-width: 992px) {
    div.pack-holder {   padding-left: 0px; width: 80%;}
     a.s-btn-2 {width: 82%;}
   div.pack-holder {text-align: center;}
   }
   
 @media (max-width: 767px) {
    a.s-btn-2 {width: 100%;}
    div.price-hol {top: 200px;}
    div.block-5 {padding: 65px 0 15px 0;}
    div.under-h {	margin-bottom: 25px;}
  }


/*--------------------block-6--------------------*/

div.block-6 {
   background-color: #323537;
 	padding: 65px 0 65px 0;
 	margin-bottom: 1px;
}

div.skidka {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

div.skidka-1 {
	color: #bfd605;
	font-size: 36px;
	text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #5a5c5d;
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto 23px auto;
}

div.economy {
   text-align: center;
   color: white;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 25px;
}

.economy span {
	font-weight: 300;
	font-size: 18px; 
}  

div.skidka-price {
   width: 60%;
   margin: 0 auto;
   text-align: center;
   font-size: 47px;
   border: 1px dashed #636c63;
   color: white;
   font-weight: 400;
   -webkit-border-radius: 80px;
   -moz-border-radius: 80px;
   border-radius: 80px;
}

.skidka-price span {
	font-size: 24px;
}

div.colman {
	 text-align: right;
	 padding-top: 40px;
}


a.s-btn-3 {
   text-transform: uppercase;
   display: block;
   width: 60%;
   margin: 25px auto 0px auto;
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn-3:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }
 
 
 @media (max-width: 1200px) {
   a.s-btn-3 {width: 80%;}
   div.skidka-price {  width: 80%;}
   div.skidka-1 { width: 80%;}
 }
 
 
  @media (max-width: 767px) {
    div.colman {text-align: center; padding-top: 0; padding-bottom: 20px;}
    a.s-btn-3 {width: 100%;}
    div.skidka-price {  width: 100%;}
    div.skidka-1 { width: 100%; font-size: 28px;}
  div.skidka {  font-size: 16px;}
  div.economy { font-size: 18px;}
  .economy span {	font-size: 16px; }  
  }
  



/*--------------------block-6--------------------*/

div.block-6-1 {
   background-color: #bfd605;
 	padding: 40px 0 40px 0;
 	margin-bottom: 1px;
}

div.colman-2 {
	 text-align: right;
	 position: relative;
}


img.boxes {
	width: 100%;
   max-width: 455px;
}

div.quantity-holder {
    background-color: #ff6600;
    text-transform: uppercase;
    color: white;
    position: absolute;
    right: 0px;
    top: 170px;
    width: 113px;
    text-align: center;
    padding: 5px;
   
 
}


div.blc61-act {
	color: #ff6600;
   font-size: 25px;
   text-align: center;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 10px;
}




div.bl6-skidka {
  font-size: 25px;
  color: #323537;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

div.bl6-skidka-1 {
 color: #323537;
	font-size: 20px;
	text-align: center;
  font-weight: 400;

}


.bl6-skidka-1 span {
	color: #ff6600;
}  

div.bl6-economy {
   margin-top: 20px;
   padding-top: 20px;
   text-align: center;
   border-top: 1px solid #a7b815;
   font-size: 24px;
   font-weight: 400;
   width: 60%;
   margin: 25px auto 25px auto;
}


.bl6-economy span {
  font-size: 21px;
  color: #616d00;
}


div.bl6-skidka-price {
   width: 60%;
   margin: 0 auto;
   color: #616d00;
   background-color: #f3ff7c;
   text-align: center;
   font-size: 47px;
   font-weight: 400;
   -webkit-border-radius: 80px;
   -moz-border-radius: 80px;
   border-radius: 80px;
}

.bl6-skidka-price span {
   font-size: 34px;
}


 @media (max-width: 1200px) {
 
img.boxes {
   margin-top: 40px;
	width: 100%;
   max-width: 455px;
}
 
div.bl6-economy { width: 100%;}

 }
 
 
  @media (max-width: 992px) {
  
  div.bl6-skidka {font-size: 22px;}
  div.bl6-skidka-1 {font-size: 18px;}
  }
  
  
  @media (max-width: 767px) {
   img.boxes { margin-top: 0px;}
div.block-6-1 { padding: 10px 0 40px 0;}   
  
  div.bl6-skidka {font-size: 22px;}
  div.bl6-skidka-1 {font-size: 16px;}
  div.bl6-skidka-price { font-size: 35px; width: 100%;}
.bl6-skidka-price span {  font-size: 34px;
}  
div.quantity-holder { top: 120px;}
div.colman-2 {
	 text-align: center;
}

 }
  

  
/*--------------------block-7--------------------*/

div.block-7 {
 	padding: 65px 0 75px 0;
 	min-height: 680px;
}

div.row-sm {
	background-image: url(open_packs.jpg)/*tpa=http://wsken.com.ua/images/open_packs.jpg*/;
  background-repeat: no-repeat;
  background-position: center 220px;
}


 .check-h2 {
  text-align: center;
}

 div.pointer-1 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: right -70px center, right 85px center;
 	position: absolute;
 	top: 120px;
   right: 120px;
 	text-align: right;
 	padding-right: 104px;
 }
 
  div.pointer-2 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: right -70px center, right 85px center;
 	position: absolute;
 	top: 200px;
   right: 120px;
 	text-align: right;
 	padding-right: 104px;
 }
 
 
   div.pointer-3 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: right -70px center, right 85px center;
 	position: absolute;
 	top: 250px;
   right: 120px;
 	text-align: right;
 	padding-right: 104px;

 }
 
 
  
   div.pointer-4 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: right -30px center, right 125px center;
 	position: absolute;
 	top: 330px;
   right: 80px;
  	text-align: right;
 	padding-right: 144px;
 }
 
 
   
   div.pointer-5 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: left -30px center, left 125px center;
 	position: absolute;
 	top: 125px;
   left: 75px;
 	text-align: left;
 	padding-left: 144px;
 }
 
 
   div.pointer-6 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: left -50px center, left 105px center;
 	position: absolute;
 	top: 180px;
   left: 95px;
 	text-align: left;
 	padding-left: 124px;
 }
 
    div.pointer-7 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: left -30px center, left 125px center;
 	position: absolute;
 	top: 240px;
   left: 75px;
 	text-align: left;
	padding-left: 144px;
 }
 
    div.pointer-8 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: left -30px center, left 125px center;
 	position: absolute;
 	top: 300px;
   left: 75px;
 	text-align: left;
	padding-left: 144px; 	
 }
 
     div.pointer-9 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: left -30px center, left 125px center;
 	position: absolute;
 	top: 370px;
   left: 75px;
 	text-align: left;
	padding-left: 144px; 
 }
 
 a.s-btn-4 {
   text-transform: uppercase;
   display: block;
   width: 60%;
   margin: 420px auto 0px auto;
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn-4:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }
 
 
 a.sbtn4-right {	margin: 434px 0 0px auto;   }
 
  @media (max-width: 1200px) {
   a.s-btn-4 {
     width: 70%;
   }
   a.sbtn4-left {	margin: 420px auto 0px 0;   }
   a.sbtn4-right {	margin: 434px 0 0px auto;   }
  }
  
  
  @media (max-width: 992px) {
     a.s-btn-4 {
     width: 100%;
   }
  
     a.sbtn4-right {	margin: 448px 0 0px auto;   } 
  }
  
  @media (max-width: 767px) {
 
     div.pointer-1, div.pointer-2, div.pointer-3, div.pointer-4, div.pointer-5, div.pointer-6, div.pointer-7, div.pointer-8, div.pointer-9 {
 	background-image: url(pointer.png)/*tpa=http://wsken.com.ua/images/pointer.png*/, url(pointer-circle.png)/*tpa=http://wsken.com.ua/images/pointer-circle.png*/;
 	background-repeat: no-repeat, no-repeat;
 	background-position: left -140px center, left 15px center;
 	position: static;
 	top: 0px;
   right: 0px;
 	text-align: left;
 	padding-left: 35px;
 	padding-right: 0px;
 	width: 100%;
 }
 
      a.s-btn-4 {
      margin: 40px auto 40px auto;
   }
   
      a.sbtn4-left {	margin: 40px auto 40px auto;   }
   a.sbtn4-right {	margin: 40px auto 40px auto;   }
   
   
   div.row-sm {
  background-position: bottom;
}


    div.block-7 {
 	  	padding: 65px 0 350px 0;
 	} 
   
  }

/*--------------------block-8--------------------*/

div.block-8 {
	   background-image: url(block8_bcg.jpg)/*tpa=http://wsken.com.ua/images/block8_bcg.jpg*/;
   background-repeat: no-repeat;
   background-position:  left;
 	padding: 65px 0 65px 0;   
 	background-color: #f4f4f4;
}


div.bl8-i {
	background-repeat: no-repeat;
	background-position: left;
	padding: 20px 80px 20px 80px;
	margin-bottom: 40px;
}

.bl8-i-1 {background-image: url(blc8-i-01.png)/*tpa=http://wsken.com.ua/images/blc8-i-01.png*/;}
.bl8-i-2 {background-image: url(blc8-i-02.png)/*tpa=http://wsken.com.ua/images/blc8-i-02.png*/;}
.bl8-i-3 {background-image: url(blc8-i-03.png)/*tpa=http://wsken.com.ua/images/blc8-i-03.png*/;}
.bl8-i-4 {background-image: url(blc8-i-04.png)/*tpa=http://wsken.com.ua/images/blc8-i-04.png*/;}

div.waranty {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

  @media (max-width: 1200px) {
  
  div.bl8-i {
	padding: 20px 0px 20px 80px;
}

div.block-8 {
   background-position:  left -70px center;
}
  }

 @media (max-width: 992px) {
   div.bl8-i {
	margin-bottom: 10px;
}
div.block-8 {
   background-position:  left -120px center;
}
 
 }
 
 
   @media (max-width: 767px) {
   div.block-8 {
	   background-image: none;
}
   }
   

/*--------------------block-9--------------------*/   

div.block-9 {
 	padding: 65px 0 65px 0;
 	border-bottom: 1px solid #ebebeb;
}



div.fake {
	background-image: url(fake.png)/*tpa=http://wsken.com.ua/images/fake.png*/;
	background-repeat: no-repeat;
	background-position: left;
   font-size: 24px;
   color: #f70000;
   font-weight: 400;
   padding: 10px 0 10px 100px;
   margin-bottom: 50px;
}


div.fake-text {
	text-align: left;
	border-left: 1px solid #ebebeb;
	font-size: 16px;
	padding: 17px 0 17px 40px;
	margin-bottom: 50px;
}


div.fake-des {
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0 0 0 80px;
   font-size: 15px;
   margin-bottom: 50px;
}

.fk-bcg-01 {background-image: url(qnt_i01.png)/*tpa=http://wsken.com.ua/images/qnt_i01.png*/;}
.fk-bcg-02 {background-image: url(qnt_i02.png)/*tpa=http://wsken.com.ua/images/qnt_i02.png*/;}
.fk-bcg-03 {background-image: url(qnt_i03.png)/*tpa=http://wsken.com.ua/images/qnt_i03.png*/;}

div.fk-head {
   font-size: 16px;
   font-weight: 700;
}


div.divider-3 {
   border-top: 1px solid #ebebeb;
   height: 1px;
   margin-bottom: 50px;
}


div.fk-head-in {
	text-align: center;  
   font-size: 18px;
   margin-bottom: 70px;
   
}


div.green-q {
	font-size: 16px;
	background-image: url(qnt_green.png)/*tpa=http://wsken.com.ua/images/qnt_green.png*/;
   background-repeat: no-repeat;
   background-position: left top;
   padding: 0 0 0 60px;
   margin-bottom: 60px;
}

img.quality-pack {
   width: 100%;
   max-width: 483px;
	
}

div.subhed {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 30px;
}

div.qual{
	background-repeat: no-repeat;
	background-position: left;
	padding: 10px 0 10px 60px;
	font-size: 16px;
	margin-bottom: 10px;
}

.q-1 {background-image: url(dig_1.png)/*tpa=http://wsken.com.ua/images/dig_1.png*/;}  
.q-2 {background-image: url(dig_2.png)/*tpa=http://wsken.com.ua/images/dig_2.png*/;}  
.q-3 {background-image: url(dig_3.png)/*tpa=http://wsken.com.ua/images/dig_3.png*/;}  


  @media (max-width: 1200px) {
     div.subhed {	font-size: 28px;}
  }

  
@media (max-width: 992px) {

   div.fake {
   	font-size: 18px;
   	padding: 20px 0 20px 100px;
   	
   }

  div.subhed {	font-size: 22px;margin-bottom: 15px;}
  div.qual{margin-bottom: 0px;}
}

 @media (max-width: 767px) {
  div.subhed {font-size: 22px;margin-bottom: 15px; margin-top: 40px;}
   div.qual{font-size:15px;}
   
      div.fake {
   	font-size: 18px;
   	padding: 32px 0 32px 100px;
 	   margin-bottom: 10px;
   }

div.fake-text {
	text-align: left;
	border-left: none;
	font-size: 16px;
	padding: 17px 0 17px 0px;
	margin-bottom: 20px;
}
   
div.fake-des {
	background-repeat: no-repeat;
	background-position: left top;
	padding: 10px 0 10px 80px;
   font-size: 15px;
   margin-bottom: 20px;
}

div.fk-head-in {
   margin-bottom: 40px;
   
}


div.green-q {
   margin-bottom: 20px;
}


   
}   
  
/*--------------------block-10--------------------*/   


div.block-10 {
 	padding: 65px 0 65px 0;
}

img.rep {
	width: 100%;
	max-width: 180px;
}

div.rep-holder {
	background-color: #f7f7f7;
	padding: 30px 40px 20px 40px;
	font-size: 15px;
	position: relative;
	margin-bottom: 35px;
}

div.rep-head {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

div.rep-triagnle {
   background-image: url(rep_tirangle.png)/*tpa=http://wsken.com.ua/images/rep_tirangle.png*/;
	background-repeat: no-repeat;
	z-index: 999;
	width: 14px;
	height: 15px;
	position: absolute;
	left: -14px;
}

.rep-colman {
	text-align: right;
	padding-right: 40px;
}

.fb-rule {
	border:none;
  overflow: auto;
 height: 161px;
	
}


@media (max-width: 992px) {

.fb-rule {
 border-bottom: 1px solid #dfe0e4;
}
}

@media (max-width: 767px) {
.rep-colman {
	text-align: center;
	padding-bottom: 40px;
	
}

.fb-rule {
	border-bottom: 1px solid #dfe0e4;
}

div.rep-triagnle {
   background-image: url(rep_tirangle.png)/*tpa=http://wsken.com.ua/images/rep_tirangle.png*/;
	background-repeat: no-repeat;
	z-index: 999;
	width: 14px;
	height: 15px;
	position: absolute;
	left: 47%;
	top: -14px;
	  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
div.rep-holder {
	padding: 20px 30px 10px 30px;}

}


/*--------------------block-11--------------------*/   

div.block-11 {
	padding: 65px 0 45px 0;
	background-color: #323537;
	color: white;
	text-align: center;
	font-size: 16px;
}

h1.white-h1 {
	color: #ffffff;
}


 
  div.video-container-2 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 30px auto 50px auto;

 }
 
  .video-container-2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 

/*--------------------block-12--------------------*/   

div.block-12 {
	padding: 65px 0 65px 0;
}

img.opt-packs {
	width: 100%;
	max-width: 328px;
}  

div.special {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

div.opt-10 {
	font-size: 55px;
		font-weight: 400;
	text-transform: uppercase;
   text-align: center;
   padding: 15px 0 15px 0;
   border-top: 1px solid #e9e9e9;
   border-bottom: 1px solid #e9e9e9;   
}

div.leave {
	text-align: center;
	font-size: 15px;
	margin: 20px 0 20px 0;
}


 a.s-btn-6 {
   text-transform: uppercase;
   display: block;
   width: 100%;
   margin: 0px auto 0px auto;
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn-6:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }

 
@media (max-width: 992px) {
  div.special {	font-size: 15px;}
  div.opt-10 {font-size: 40px;}
  div.leave {font-size: 14px;}
   a.s-btn-6 {font-size: 15px;}
} 
 
 @media (max-width: 767px) {
   div.special { margin-top: 40px;}
    div.opt-10 {font-size: 30px;}
 }
 
 /*--------------------block-13--------------------*/ 


div.block-13 {
	padding: 45px 0 45px 0;
	background-color: #f4f4f4;
}

div.faq {
margin-top: 22px;
	font-size: 16px;
}

 div.bot-teleph {
   padding: 0 0 0 15px;
   text-align: left;
 	color: #505050;
 	font-size: 18px;
	background-repeat: no-repeat;
	background-position: left;
 }
 
 
 div.btli01 {	background-image: url(tl_i04.png)/*tpa=http://wsken.com.ua/images/tl_i04.png*/, url(tl_i01.png)/*tpa=http://wsken.com.ua/images/tl_i01.png*/; background-position: left 145px top 5px , left; margin-top: 12px;}
.btli02 {	background-image: url(tl_i02.png)/*tpa=http://wsken.com.ua/images/tl_i02.png*/;	}
.btli03 {	background-image: url(tl_i03.png)/*tpa=http://wsken.com.ua/images/tl_i03.png*/;	}

 
 a.ask {
   margin-top: 20px;
   display: block;
   border: 1px solid #ff6600;
   text-align: center;
	font-size: 18px;
	font-weight: 300;
   color: #ff6600;
   text-transform: uppercase;
   padding: 10px 0 10px 0;
   text-decoration: none;  
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
 }
 
 a.ask:hover {
   color: #ffffff;
   background-color: #ff6600;
   text-decoration: none;
 }
 
 @media (max-width: 1200px) {
  div.bot-teleph { margin-top: 0px; }
   a.ask { margin-top: 10px;}
   div.btli01 {	background-image: url(tl_i04.png)/*tpa=http://wsken.com.ua/images/tl_i04.png*/, url(tl_i01.png)/*tpa=http://wsken.com.ua/images/tl_i01.png*/; background-position: left 142px top 5px , left; margin-top: 12px;}   
 }
 
 
  @media (max-width: 767px) {
  div.faq {
    text-align: center;
    margin-bottom: 10px;
}

 div.bot-teleph { width: 160px; margin: 0 auto 10px auto;}
 
 
div.block-13 {
	padding: 25px 0 45px 0;
	background-color: #f4f4f4;
}
  
  }
 
   /*--------------------block-14--------------------*/ 
 
 div.block-14 {
 	padding: 35px 0 35px 0;
 
 }


img.logo-bot {
 width: 100%;
 max-width: 135px;
 margin-top: 0px;
}


div.bot-ins {
   margin-top: 10px;
	font-size: 14px;
}

 @media (max-width: 767px) {
    div.bot-ins { text-align: center; margin: 20px 0 20px;}
     div.block-14 {
 	padding: 35px 0 0px 0;
 
 }
 }

 
/*-------------form----------------*/
 
 .form-control {
 	height: auto;
 }
 
 
 .modal-body {
   padding: 20px 20px 10px 20px;
 }
 
  .close-cross {
   position: absolute;
   top: 10px;
   right: 10px;
   outline: 0 !important; 
 }
 
 
 input.input-blc-3 {
   width: 100%;
   margin: 0 auto;
   padding-top: 13px;
   padding-bottom: 13px;
   font-size: 16px;
   margin-bottom: 5px;   
}
 
.text-holder {
	font-size: 15px;
}

select.select-blc-3 { 
   padding-top: 13px;
   padding-bottom: 13px;
   font-size: 16px;
   margin-bottom: 5px;  

}


 .btn-on-f-3 {
   text-transform: uppercase;
   display: block;
   width: 100%;
   margin: 0px auto 0px auto;
   border-top: 0px;
   border-left: 0px;   
   border-right: 0px;      
   border-bottom: 3px solid #c85000;
	font-size: 21px;
   color: #ffffff;
   text-align: center;
   padding: 10px 10px 10px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 400;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

 
.btn-on-f-2:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }



/*---------------thank-you------------------*/

div.form-holder-3 {
  position: fixed;
  left: 40%;
  top: 30%;
  width: 320px;
	background-color: #e9e9e9;
  color: #282520;
  margin: 10px auto 43px auto;
  padding: 25px 25px 25px 25px;
  font-size: 15px;
  font-weight: 300;
  color: white;
  z-index: 99999;
  -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   behavior: url(http://cable-m.shopsale.pro/PIE.htc)/*tpa=http://wsken.com.ua/PIE.htc*/;
}

.form-holder-3  p {
	color: #282520;
}


.textfield-form {
	  -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   behavior: url(http://cable-m.shopsale.pro/PIE.htc)/*tpa=http://wsken.com.ua/PIE.htc*/;
}


#parent_popup {
display: block;
background-color: rgba(0, 0, 0, 0.8);
position: fixed;
z-index: 9999;
top: 0;
right: 0;
bottom: 0;
left: 0;
}



 @media (max-width: 767px) {
 div.form-holder-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  
  }
 
 }
 
 
  
  div.rb {
  margin-bottom: 70px;	
 }
 
 
 
 @media (max-width: 992px) {
 div.rb {
  margin-bottom: 83px;	
 }
 }
 
  @media (max-width: 767px) {
 div.rb {
  margin-bottom: 40px;	
 }
 }
 
h3.white-h3 {
  padding: 0px 0px 20px 0px;
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}


/*end*/

div.warning {
   background-color: #ff6600;
   color: white;
   text-align: center;
}


/*------------prod-block---------------*/

div.product-block-1 {
	background-color: #f4f4f4;
	padding: 65px 0 40px 0;

}

h2.prod-h2 {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
   padding-bottom: 5px;
}


div.prod-subhed {
   margin-bottom: 40px;
   text-align: center;
}

div.bline {
	background-image: url(bline.png)/*tpa=http://wsken.com.ua/images/bline.png*/;
	background-repeat: no-repeat;
	background-position: center;
	height: 7px;
	margin-bottom: 40px;

}

h3.prod-h3 {
	text-align: center;
	font-weight: 300;
	font-size: 24px;
   padding-bottom: 5px;
}

div.models {
	text-align: center;
	font-size: 12px;
	margin-bottom: 35px;
}

div.product-pic {
	text-align: center;
	margin-bottom: 30px;
}

img.product-pic {
   width: 100%;
   max-width: 260px;
}

div.product-description {
   font-size: 15px;
   line-height: 29px;	
}

div.big-price {
   font-size: 56px;
   text-align: center;
}

.big-price span {
   font-size: 35px;
}


div.divider-2 {
   border-top: 1px solid #d2d2d2;
   height: 1px;
}


a.s-btn-2-product {
   text-transform: uppercase;
   display: block;
   width: 100%;
   margin: 0px auto 40px auto;
   border-bottom: 3px solid #c85000;
	font-size: 16px;
   color: #ffffff;
   text-align: center;
   padding: 12px 10px 12px 10px;
   text-decoration: none;  
   background-color: #ff6600;
   font-weight: 700;
    -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
   outline: 0 !important; 
 }
 
 a.s-btn-2-product:hover {
     background-color: #c85000;
     border-bottom: 3px solid #903a00;
   text-decoration: none;
 }
 
a.more-about {
   display: block;
	font-size: 18px;
   background-color: #323537;
  color: white;
   text-decoration: none;
   text-align: center;
   width: 350px;
   border: 1px solid #f4f4f4;
   padding: 10px 0 10px 0;
   margin: 0 auto;  
   -webkit-border-radius: 80px;
   -moz-border-radius: 80px;
   border-radius: 80px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;  
 }
 
 a.more-about:hover {
   background-color: #f4f4f4;
   text-decoration: none;
   color: #000000;
   border: 1px solid #a8a8a8;
 }
 
  @media (max-width: 992px) {
  div.product-description {
   font-size: 13px;
   line-height: 24px;	
   }
   
   h3.prod-h3 {
	text-align: center;
	font-weight: 300;
	font-size: 18px;
   padding-bottom: 5px;
   }
   
   div.big-price {
   font-size: 45px;
   text-align: center;
   }

   .big-price span {
   font-size: 28px;
   }
  a.s-btn-2-product {
  font-size: 12px;
  }
  }
    
   @media (max-width: 767px) {
   div.product-description {
    text-align: center;	
   }
   
   a.s-btn-2-product {
    font-size: 16px;	
   }
   
   a.more-about { width: 100%; font-size: 16px; }
   
   }
   
/*------------prod-block---------------*/

div.product-sub-block {
	background-color: #323537;
	background-image: url(xcab_b2.jpg)/*tpa=http://wsken.com.ua/images/xcab_b2.jpg*/, url(xcab_b1.jpg)/*tpa=http://wsken.com.ua/images/xcab_b1.jpg*/;
	background-repeat: no-repeat, no-repeat;
	background-position: right bottom, left bottom;
   padding: 65px 0 45px 0;
   color: white;
   font-size: 15px;
  	margin-bottom: 1px;
}   

.product-sub-block p {
	color: white;
}


h2.sub-prod-h2 {
	text-align: left;
	color: white;
	font-weight: 700;
	font-size: 24px;
   padding-bottom: 5px;
   margin-bottom: 28px;
}

ul.sub-description {
   margin-bottom: 20px;
   padding-left: 0px;
}

.sub-description li {
   list-style: none;
   margin-left: 0px;
   padding-left: 30px;
	background-image: url(bullet.png)/*tpa=http://wsken.com.ua/images/bullet.png*/;
	background-position: left;
	background-repeat: no-repeat;
   margin-bottom: 15px;
}

  @media (max-width: 1460px) {
  div.product-sub-block {
	background-position: right -100px bottom, left bottom;
  }   
  }
  
  @media (max-width: 1340px) {
  div.product-sub-block {
	background-position: right -180px bottom, left -80px bottom;
  }   
  }
  
    @media (max-width: 992px) {
      div.product-sub-block {
	background-position: right -280px bottom, left -120px bottom;
  }  
    }      
    
    @media (max-width: 767px) {
     div.product-sub-block {
	  background-image: none;
  }  
}

div.rasporka {
	margin-bottom: 145px;
}

    @media (max-width: 992px) {
    div.rasporka {
	margin-bottom: 143px;
   }
   }
   
   @media (max-width: 767px) {

   div.rasporka {
	margin-bottom: 0px;
   }     
}


div.product-sub-block-2 {
	background-color: #323537;
	background-image: url(xcab_b4.jpg)/*tpa=http://wsken.com.ua/images/xcab_b4.jpg*/, url(xcab_b3.jpg)/*tpa=http://wsken.com.ua/images/xcab_b3.jpg*/;
	background-repeat: no-repeat, no-repeat;
	background-position: right bottom, left bottom;
   padding: 65px 0 45px 0;
   color: white;
   font-size: 15px;
  	margin-bottom: 1px;
}   


  @media (max-width: 1480px) {
  div.product-sub-block-2 {
	background-position: right 0px bottom, left -80px bottom;
  }   
  }
  
  @media (max-width: 1322px) {
  div.product-sub-block-2 {
	background-position: right -180px bottom, left -180px bottom;
  }   
  }
  
    @media (max-width: 992px) {
      div.product-sub-block-2 {
	background-position: right -280px bottom, left -180px bottom;
  }  
    }      
    
    @media (max-width: 767px) {
     div.product-sub-block-2 {
	  background-image: none;
  }  
}

div.rasporka-2 {
	margin-bottom: 116px;
}

div.rasporka-3 {
	margin-bottom: 116px;
}


  @media (max-width: 1200px) {
    div.rasporka-2 {
	margin-bottom: 113px;
   }
       div.rasporka-3 {
	margin-bottom: 142px;
   }
   }
   
   @media (max-width: 992px) {

   div.rasporka-2 {
	margin-bottom: 95px;
   }    
   
   div.rasporka-3 {
	margin-bottom: 118px;
   }     
}

@media (max-width: 767px) {
   div.rasporka-2 {
	margin-bottom: 0px;
   }    
   
   div.rasporka-3 {
	margin-bottom: 0px;
   }    

}


div.product-sub-block-3 {
	background-color: #323537;
	background-image: url(xcab_b4.jpg)/*tpa=http://wsken.com.ua/images/xcab_b4.jpg*/, url(xcab_b5.jpg)/*tpa=http://wsken.com.ua/images/xcab_b5.jpg*/;
	background-repeat: no-repeat, no-repeat;
	background-position: right bottom, left bottom;
   padding: 65px 0 45px 0;
   color: white;
   font-size: 15px;
  	margin-bottom: 1px;
}   


  @media (max-width: 1392px) {
  div.product-sub-block-3 {
	background-position: right 0px bottom, left -80px bottom;
  }   
  }
  
  @media (max-width: 1200px) {
  div.product-sub-block-3 {
	background-position: right -180px bottom, left -120px bottom;
  }   
  }
  
    @media (max-width: 992px) {
      div.product-sub-block-3 {
	background-position: right -280px bottom, left -100px bottom;
  }  
    }      
    
    @media (max-width: 767px) {
     div.product-sub-block-3 {
	  background-image: none;
  }  
}