/* ::::: http://longines.hitsale.net/site_global.css-3802583483.css ::::: */

html { min-height: 100%; min-width: 100%; }
body, div, dl, dt, dd, ul, ol, li, nav, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, a { margin: 0px; padding: 0px; border-width: 0px; transform-origin: left top 0px; }
fieldset, img { border: 0px none; transform-origin: left top 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: inherit; }
body { font-family: Arial,Helvetica Neue,Helvetica,sans-serif; text-align: left; font-size: 14px; line-height: 17px; word-wrap: break-word; text-rendering: optimizelegibility; }
@media not all {
	body { text-rendering: auto; }
}
a:link { color: rgb(41, 171, 226); text-decoration: none; }
a:visited { color: rgb(41, 171, 226); text-decoration: none; }
a:hover { color: rgb(237, 28, 36); text-decoration: none; }
a:active { color: rgb(41, 171, 226); text-decoration: none; }
a.nontext { color: black; text-decoration: none; font-style: normal; font-weight: normal; }
.ts123 a { color: inherit; text-decoration: inherit; }
.ts123 a:link { color: rgb(41, 171, 226); text-decoration: none; }
.ts123 a:visited { color: rgb(128, 0, 128); text-decoration: none; }
.ts123 a:hover { color: rgb(237, 28, 36); text-decoration: none; }
.ts123 a:active { color: rgb(41, 171, 226); text-decoration: none; }
.normal_text { color: rgb(0, 0, 0); font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-weight: normal; letter-spacing: 0px; line-height: 17px; text-align: left; text-decoration: none; text-indent: 0px; vertical-align: 0px; padding: 0px; }
.ts { color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-size: 18px; font-weight: 700; padding: 0px; }
.NoWrap { white-space: nowrap; word-wrap: normal; }
.colelem { display: inline; float: left; clear: both; }
.grpelem { display: inline; float: left; }
.clearfix::after { content: " "; visibility: hidden; display: block; height: 0px; clear: both; }
:first-child + html .clearfix {  }
.clip_frame { overflow: hidden; }
.popup_anchor { position: relative; width: 0px; height: 0px; }
.popup_element { z-index: 100000; }
span.actAsInlineDiv { display: inline-block; }
.position_content, .excludeFromNormalFlow { float: left; }
.preload_images { position: absolute; overflow: hidden; left: -9999px; top: -9999px; height: 1px; width: 1px; }
.anchor_item { width: 22px; height: 18px; }
.MenuBar .SubMenuVisible, .MenuBarVertical .SubMenuVisible, .MenuBar .SubMenu .SubMenuVisible, .popup_element.Active, span.actAsPara, .actAsDiv, a.nonblock.nontext, img.block { display: block; }
.browser_width > * { position: absolute; left: 0px; right: 0px; }
.MenuBar .MenuItemContainer, .SlideShowContentPanel .fullscreen img { position: relative; }
/* ::::: http://longines.hitsale.net/master_______-a.css-354843568.css ::::: */

#u642 { border-color: rgb(0, 0, 0); background-color: rgb(0, 0, 0); opacity: 0.5; }
#u834 { background-color: transparent; position: relative; }
#u834:hover { background-color: rgb(0, 0, 0); }
#u834:active { background-color: rgb(0, 0, 0); }
#u837-6 { border-style: none; border-color: transparent; background-color: transparent; line-height: 19px; font-size: 16px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u834:hover #u837-6 p, #u834:hover #u837-6 h1, #u834:hover #u837-6 span { color: rgb(41, 171, 226); visibility: inherit; }
#u834:active #u837-6 p, #u834:active #u837-6 h1, #u834:active #u837-6 span { color: rgb(237, 28, 36); visibility: inherit; }
#u837-2 { font-size: 18px; }
#u838 { border-color: rgb(0, 0, 0); background: url('longines0_01.png') no-repeat scroll center center / contain  transparent; }
#u839:hover #u838 { background-repeat: no-repeat; background-position: center center; background-size: contain; }
#u839:active #u838 { background-repeat: no-repeat; background-position: center center; background-size: contain; }
#u837-3 { font-size: 18px; line-height: 22px; }
#u645 { background-color: transparent; position: relative; }
#u645:hover { background-color: rgb(0, 0, 0); }
#u645:active { background-color: rgb(0, 0, 0); }
#u646-4 { border-style: none; border-color: transparent; background-color: transparent; line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u645:hover #u646-4 p, #u645:hover #u646-4 h1 { color: rgb(41, 171, 226); visibility: inherit; }
#u645:active #u646-4 p, #u645:active #u646-4 h1 { color: rgb(237, 28, 36); visibility: inherit; }
#u659 { background-color: transparent; position: relative; }
#u659:hover { background-color: rgb(0, 0, 0); }
#u659:active { background-color: rgb(0, 0, 0); }
#u661-4 { border-style: none; border-color: transparent; background-color: transparent; line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u659:hover #u661-4 p, #u659:hover #u661-4 h1 { color: rgb(41, 171, 226); visibility: inherit; }
#u659:active #u661-4 p, #u659:active #u661-4 h1 { color: rgb(237, 28, 36); visibility: inherit; }
#u668 { background-color: transparent; position: relative; }
#u668:hover { background-color: rgb(0, 0, 0); }
#u668:active { background-color: rgb(0, 0, 0); }
#u669-4 { border-style: none; border-color: transparent; background-color: transparent; line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u668:hover #u669-4 p, #u668:hover #u669-4 h1 { color: rgb(41, 171, 226); visibility: inherit; }
#u668:active #u669-4 p, #u668:active #u669-4 h1 { color: rgb(237, 28, 36); visibility: inherit; }
#u673 { background-color: transparent; position: relative; }
#u673:hover { background-color: rgb(0, 0, 0); }
#u673:active { background-color: rgb(0, 0, 0); }
#u675-4 { border-style: none; border-color: transparent; background-color: transparent; line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u673:hover #u675-4 p, #u673:hover #u675-4 h1 { color: rgb(41, 171, 226); visibility: inherit; }
#u673:active #u675-4 p, #u673:active #u675-4 h1 { color: rgb(237, 28, 36); visibility: inherit; }
#u1330 { background-color: transparent; position: relative; }
#u1330:hover { background-color: rgb(0, 0, 0); }
#u1330:active { background-color: rgb(0, 0, 0); }
#u1331-4 { border-style: none; border-color: transparent; background-color: transparent; line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u1330:hover #u1331-4 p, #u1330:hover #u1331-4 h1 { color: rgb(41, 171, 226); visibility: inherit; }
#u1330:active #u1331-4 p, #u1330:active #u1331-4 h1 { color: rgb(237, 28, 36); visibility: inherit; }
#u690 { background-color: transparent; position: relative; }
#u690:hover { background-color: rgb(0, 0, 0); }
#u690:active { background-color: rgb(0, 0, 0); }
#u692-4 { border-style: none; border-color: transparent; background-color: transparent; line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u690:hover #u692-4 p, #u690:hover #u692-4 h1 { color: rgb(41, 171, 226); visibility: inherit; }
#u690:active #u692-4 p, #u690:active #u692-4 h1 { color: rgb(237, 28, 36); visibility: inherit; }
#u846-22 { line-height: 36px; font-size: 30px; color: rgb(255, 255, 255); font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; }
#u850, #u848, #u856, #u852, #u854 { border-color: rgb(0, 0, 0); background: url('zelenaja-galochka1_01.png') no-repeat scroll left top / contain  transparent; }
#u178 { background: linear-gradient(to bottom, transparent, rgb(0, 0, 0) 100%) repeat scroll 0% 0% transparent; border-color: rgb(0, 0, 0); }
#u89 { border-color: rgb(0, 0, 0); position: relative; background: url('zoom_2_01.png') no-repeat scroll center center / cover  transparent; }
#u177 { background: linear-gradient(to bottom, rgb(0, 0, 0), transparent 100%) repeat scroll 0% 0% transparent; border-color: rgb(0, 0, 0); }
#u797-4 { line-height: 73px; font-size: 61px; color: rgb(255, 255, 255); text-align: right; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u798-4 { line-height: 66px; font-size: 55px; color: rgb(255, 200, 0); text-align: right; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u799-4 { line-height: 40px; font-size: 33px; color: rgb(255, 255, 255); text-align: right; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u894 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u895 { border-color: rgb(0, 0, 0); position: relative; background: url('zakaz.png') no-repeat scroll center center / contain  transparent; }
#u894:hover #u895 { background: url('zakaz1.png') no-repeat scroll center center / contain  transparent; }
#u888 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
.MenuItem, .PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton { cursor: pointer; }
#u348 { border-color: rgb(0, 0, 0); position: relative; background: url('10_03.jpg') no-repeat scroll left top transparent; }
#u356 { border-color: rgb(0, 0, 0); position: relative; background: url('11_03.jpg') no-repeat scroll center center transparent; }
#u355 { border-color: rgb(0, 0, 0); position: relative; background: url('12_03.jpg') no-repeat scroll center center transparent; }
#u1176 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u1178 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
#u1179 { border-style: none; border-color: transparent; background-color: rgb(0, 0, 0); position: relative; }
#u1180-2 { font-size: 20px; line-height: 24px; color: rgb(255, 200, 0); font-family: pt-sans,sans-serif; font-weight: 700; }
#u1180-16 { color: rgb(255, 200, 0); font-weight: 700; }
#u1180-31, #u1180-36 { font-size: 18px; line-height: 22px; color: rgb(255, 200, 0); font-family: pt-sans,sans-serif; font-weight: 400; }
#u1180-38 { font-size: 18px; line-height: 25px; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-weight: 400; }
#u1173 { background-color: transparent; opacity: 0.5; position: relative; }
#u1359, #u1366, #u1363, #u1365 { border-color: rgb(0, 0, 0); position: relative; background: url('@d1@81@d1@82@d1@80@d0@b5@d0@bb@d0@ba@d0@b0_01.png') no-repeat scroll center center / contain  transparent; }
#u1360-4, #u1362-4, #u1358-4, #u1361-4, #u1364-4 { line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u299 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u270 { border-color: rgb(0, 0, 0); opacity: 0.7; position: relative; background: url('zoom_2_01.png') no-repeat scroll center center / contain  transparent; }
#u299:hover #u270 { opacity: 1; background: url('zoom_2_0122222.png') no-repeat scroll center center / contain  transparent; }
#u301 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
#u1172, #u295 { position: absolute; }
#u296 { background-color: transparent; opacity: 0.5; position: relative; }
#u1173:hover, #u296:hover { opacity: 1; }
#u269-2 { font-size: 37px; line-height: 44px; color: rgb(255, 200, 0); font-family: pt-sans,sans-serif; font-weight: 700; }
#u269-3 { font-size: 16px; line-height: 19px; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-weight: 400; }
#u1180-3, #u1180-6, #u1180-11, #u1180-13, #u1180-15, #u1180-19, #u1180-23, #u1180-24, #u1180-28, #u1180-29, #u1180-33, #u1180-34, #u269-5, #u269-7, #u269-8, #u269-10 { font-size: 18px; line-height: 22px; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-weight: 400; }
#menuu643, #u332 { position: fixed; }
#u934 { border-color: rgb(0, 0, 0); position: relative; background: url('3696_01.png') no-repeat scroll center center / contain  transparent; }
#u1285 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u1286 { border-color: rgb(0, 0, 0); position: relative; background: url('zakaz.png') no-repeat scroll center center / contain  transparent; }
#u1285:hover #u1286 { background: url('zakaz1.png') no-repeat scroll center center / contain  transparent; }
#u1275 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
#u1119 { border-width: 3px; border-style: solid; border-color: rgb(255, 200, 0); opacity: 0.75; border-radius: 200px; position: relative; background: url('cn_zdva1eew.jpg') no-repeat scroll left center / cover  transparent; }
#u1120 { border-width: 3px; border-style: solid; border-color: rgb(255, 200, 0); opacity: 0.75; border-radius: 200px; position: relative; background: url('z_81f5f1c3.jpg') no-repeat scroll center center / cover  transparent; }
#u1121 { border-width: 3px; border-style: solid; border-color: rgb(255, 200, 0); opacity: 0.75; border-radius: 200px; position: relative; background: url('snoyvcrblrq.jpg') no-repeat scroll center top / cover  transparent; }
#u1121:hover { background-repeat: no-repeat; background-position: center top; opacity: 1; background-size: cover; }
#u1122 { border-width: 3px; border-style: solid; border-color: rgb(255, 200, 0); opacity: 0.75; border-radius: 200px; position: relative; background: url('yho8daaub98.jpg') no-repeat scroll left center / cover  transparent; }
#u1119:hover, #u1122:hover { background-repeat: no-repeat; background-position: left center; opacity: 1; background-size: cover; }
#u1123 { border-width: 3px; border-style: solid; border-color: rgb(255, 200, 0); opacity: 0.75; border-radius: 200px; position: relative; background: url('cvznlwvenaw.jpg') no-repeat scroll center center / cover  transparent; }
#u1114-8, #u1115-10, #u1116-8, #u1117-8, #u1118-12 { line-height: 19px; font-size: 16px; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-weight: 400; position: relative; }
#u1180-17, #u1114, #u1115, #u1116, #u1117, #u1118 { font-weight: 700; }
#u928, #u930, #u933, #u1076, #u1077 { border-color: rgb(0, 0, 0); background-color: rgb(255, 200, 0); }
#u929-4, #u931-4, #u932-4, #u1079-4, #u1080-4 { line-height: 36px; font-size: 30px; color: rgb(0, 0, 0); text-align: left; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u1075 { border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); opacity: 0.1; }
#u837, #u846, #u846-5, #u846-9, #u846-13, #u846-17, #u1082, #u1082-7, #u1082-12, #u1082-17, #u1082-22, #u1082-27, #u1082-32, #u1082-37, #u1082-42, #u1082-47 { font-size: 1px; line-height: 0px; }
#u1111_img, #u1096_img, #u1090_img, #u1105_img, #u1087_img, #u1108_img, #u1099_img, #u1102_img, #u1093_img, #u1084_img { vertical-align: bottom; }
#u170, #u1216 { border-color: rgb(0, 0, 0); background: url('@d1@84@d0@be@d0@bd1.png') no-repeat scroll center center / cover  transparent; }
#u1221-4 { line-height: 47px; font-size: 39px; color: rgb(255, 200, 0); text-align: left; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u1305-4 { line-height: 35px; font-size: 29px; color: rgb(255, 255, 255); text-align: left; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u876, #u936, #u1258 { font-size: 36px; color: rgb(248, 33, 33); line-height: 43px; }
#u880-4, #u937-4, #u1257-4 { line-height: 46px; font-size: 38px; color: rgb(255, 255, 255); text-align: left; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u872-2, #u941-2, #u1254-2 { font-size: 46px; color: rgb(248, 33, 33); }
#u872, #u872-3, #u941, #u941-3, #u1254, #u1254-3 { font-size: 46px; color: rgb(248, 33, 33); line-height: 55px; }
#u875, #u944, #u1250 { border-color: rgb(0, 0, 0); background-color: rgb(242, 30, 30); position: relative; }
#u876-4, #u872-6, #u877-6, #u936-4, #u941-6, #u938-6, #u1258-4, #u1254-6, #u1251-6 { line-height: 29px; font-size: 24px; color: rgb(255, 255, 255); text-align: left; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u837-4, #u876-2, #u872-4, #u877-4, #u936-2, #u941-4, #u938-4, #u1258-2, #u1254-4, #u1251-4 { line-height: 0px; }
#u877, #u938, #u1251 { font-size: 46px; line-height: 55px; }
#u877-2, #u938-2, #u1251-2 { font-size: 43px; }
#u874, #u879, #u943, #u940, #u1256, #u1253 { border-color: rgb(0, 0, 0); background: url('rub-pic-220x203.jpg') no-repeat scroll center center / contain  transparent; }
#u877-3, #u938-3, #u1251-3 { font-size: 43px; line-height: 52px; }
#u1218-4 { line-height: 19px; font-size: 16px; color: rgb(255, 255, 255); text-align: left; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; }
#u1217 { background: linear-gradient(to bottom, transparent, rgb(0, 0, 0) 100%) repeat scroll 0% 0% transparent; border-color: rgb(0, 0, 0); }
#u1247 { background: linear-gradient(to bottom, rgb(0, 0, 0), transparent 100%) repeat scroll 0% 0% transparent; border-color: rgb(0, 0, 0); }
#u1272 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u1273 { border-color: rgb(0, 0, 0); position: relative; background: url('zakaz.png') no-repeat scroll center center / contain  transparent; }
#u1272:hover #u1273 { background: url('zakaz1.png') no-repeat scroll center center / contain  transparent; }
#u1262 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
#u1317-4, #u1316-4, #u1319-4, #u1318-4 { line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; }
#u1320 { border-style: none; border-color: transparent; background-color: transparent; color: rgb(255, 255, 255); font-size: 60px; line-height: 72px; position: relative; }
#u968 { border-color: rgb(0, 0, 0); position: relative; background: url('99999_01.jpg') no-repeat scroll center center / contain  transparent; }
#u345-6, #u346-4, #u347-4, #u945-27, #u1082-52, #u969-18 { line-height: 22px; font-size: 18px; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; font-weight: 400; position: relative; }
#u969-2, #u969-4 { color: rgb(237, 28, 36); }
#u969-5, #u969-10 { color: rgb(255, 255, 255); }
#u1180-5, #u1180-8, #u1180-10, #u1180-21, #u1180-25, #u1180-27, #u969-8, #u969-12, #u969-14 { color: rgb(255, 200, 0); }
#u946-4, #u970-4 { line-height: 42px; font-size: 35px; color: rgb(255, 200, 0); font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u977 { border-color: rgb(0, 0, 0); position: relative; background: url('363_82555670206_9093_n.png') no-repeat scroll left top / contain  transparent; }
#u1248 { background: linear-gradient(to bottom, rgb(0, 0, 0), transparent 100%) repeat scroll 0% 0% transparent; border-color: rgb(0, 0, 0); }
#u1289-4 { line-height: 48px; font-size: 40px; color: rgb(255, 200, 0); text-align: center; font-family: pt-sans,sans-serif; font-weight: 700; position: relative; }
#u1303 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u1304 { border-color: rgb(0, 0, 0); position: relative; background: url('zakaz.png') no-repeat scroll center center / contain  transparent; }
#u1303:hover #u1304 { background: url('zakaz1.png') no-repeat scroll center center / contain  transparent; }
#u1292 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
#u889, #u1276, #u1263, #u1293 { border-style: none; border-color: transparent; background-color: rgb(255, 255, 255); border-radius: 12px; position: relative; }
#u392 { border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); opacity: 0.05; }
#u1336-4 { color: rgb(255, 255, 255); text-align: center; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; }
#u1337-4 { line-height: 22px; text-align: center; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; }
#longines, #u831, #u644, #u658, #u665, #u672, #u1329, #u689, #u170_align_to_page, #u871, #pamphletu881, #u893, #dostavka_oplata, #pamphletu1166, #u1175, #u1180-40, #u1186, #u1188, #u1190, #u1192, #u1194, #u1357, #about, #u930_align_to_page, #pamphletu291, #u298, #u269-12, #podarok, #u933_align_to_page, #u935, #pamphletu1274, #u1284, #otzyv, #u1076_align_to_page, #plus, #u1077_align_to_page, #zakaz, #u1216_align_to_page, #u1306, #u1311, #u1307, #u1313, #u1309, #u1249, #pamphletu1259, #u1271, #u1315, #pamphletu1290, #u1302, #pamphletu1338, #u1348 { position: relative; }
#u1349 { position: absolute; border-style: none; border-color: transparent; background-color: transparent; }
#u894:hover, #u1176:hover, #u299:hover, #u1285:hover, #u1272:hover, #u1303:hover, #u1349:hover { border-style: none; border-color: transparent; background-color: transparent; }
#u1350-4 { background-color: transparent; font-size: 16px; line-height: 19px; text-align: center; position: relative; }
#u1339 { position: absolute; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); }
#u891, #u302, #u1278, #u1219, #u1264, #u1295, #u1340 { border-style: none; border-color: transparent; background-color: transparent; position: relative; }
#u1341-7 { color: rgb(255, 255, 255); position: relative; }
#u1341-2 { font-size: 19px; line-height: 27px; font-family: pt-sans,sans-serif; font-weight: 700; }
#u1341-3, #u1341-5 { font-size: 15px; line-height: 21px; font-family: pt-sans,sans-serif; font-weight: 400; }
#u1347 { position: absolute; border-style: none; border-color: transparent; opacity: 0.4; background: url('delete_1_01.png') no-repeat scroll center center / cover  transparent; }
#u887:hover, #u1280:hover, #u1120:hover, #u1123:hover, #u1267:hover, #u1291:hover, #u1347:hover { background-repeat: no-repeat; background-position: center center; opacity: 1; background-size: cover; }
/* ::::: http://longines.hitsale.net/index.css-4269723268.css ::::: */

.html { background-color: rgb(0, 0, 0); }
#page { z-index: 1; width: 960px; min-height: 2000px; padding-bottom: 0px; margin-left: auto; margin-right: auto; }
#u642 { z-index: 625; height: 60px; }
#u642-bw { position: fixed; left: 0px; right: 0px; z-index: 625; top: 0px; }
#menuu643 { z-index: 626; width: 960px; top: 0px; left: 0px; }
#u831 { width: 152px; min-height: 60px; margin-right: -10000px; }
#u834 { width: 152px; padding-bottom: 25px; }
#u834:hover { margin: 0px; }
#u834:active { margin: 0px; }
#u837-6 { width: 123px; min-height: 35px; margin-right: -10000px; top: 12px; left: 14px; }
#u834:hover #u837-6 { padding-top: 0px; padding-bottom: 0px; min-height: 35px; margin: 0px -10000px 0px 0px; }
#u834:active #u837-6 { padding-top: 0px; padding-bottom: 0px; min-height: 35px; margin: 0px -10000px 0px 0px; }
#u839 { margin-top: 11px; margin-bottom: -11px; }
#u839:hover { min-height: 0px; margin: 11px 0px -11px; }
#u839:active { min-height: 0px; margin: 11px 0px -11px; }
#u838 { z-index: 635; width: 122px; height: 27px; }
#u834.MuseMenuActive, #u839:hover #u838 { margin: 0px; }
#u644 { width: 203px; min-height: 60px; margin-right: -10000px; left: 154px; }
#u645 { width: 203px; padding-bottom: 38px; }
#u839:active #u838, #u645:hover { margin: 0px; }
#u645:active { margin: 0px; }
#u646-4 { width: 174px; min-height: 22px; margin-right: -10000px; top: 19px; left: 14px; }
#u645:hover #u646-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u645:active #u646-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u658 { width: 101px; min-height: 60px; margin-right: -10000px; left: 359px; }
#u659 { width: 101px; padding-bottom: 38px; }
#u645.MuseMenuActive, #u659:hover { margin: 0px; }
#u659:active { margin: 0px; }
#u661-4 { width: 72px; min-height: 22px; margin-right: -10000px; top: 19px; left: 14px; }
#u645.MuseMenuActive #u646-4, #u659:hover #u661-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u659:active #u661-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u665 { width: 112px; min-height: 60px; margin-right: -10000px; left: 462px; }
#u668 { width: 112px; padding-bottom: 38px; }
#u659.MuseMenuActive, #u668:hover { margin: 0px; }
#u668:active { margin: 0px; }
#u669-4 { width: 83px; min-height: 22px; margin-right: -10000px; top: 19px; left: 14px; }
#u659.MuseMenuActive #u661-4, #u668:hover #u669-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u668:active #u669-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u672 { width: 101px; min-height: 60px; margin-right: -10000px; left: 576px; }
#u673 { width: 101px; padding-bottom: 38px; }
#u668.MuseMenuActive, #u673:hover { margin: 0px; }
#u673:active { margin: 0px; }
#u675-4 { width: 72px; min-height: 22px; margin-right: -10000px; top: 19px; left: 14px; }
#u668.MuseMenuActive #u669-4, #u673:hover #u675-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u673:active #u675-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u1329 { width: 167px; min-height: 60px; margin-right: -10000px; left: 679px; }
#u1330 { width: 167px; padding-bottom: 38px; }
#u673.MuseMenuActive, #u1330:hover { margin: 0px; }
#u1330:active { margin: 0px; }
#u1331-4 { width: 139px; min-height: 22px; margin-right: -10000px; top: 19px; left: 14px; }
#u673.MuseMenuActive #u675-4, #u1330:hover #u1331-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u1330:active #u1331-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u689 { width: 112px; min-height: 60px; margin-right: -10000px; left: 848px; }
#u690 { width: 112px; padding-bottom: 38px; }
#u1330.MuseMenuActive, #u690:hover { margin: 0px; }
#u690:active { margin: 0px; }
#u692-4 { width: 84px; min-height: 22px; margin-right: -10000px; top: 19px; left: 14px; }
#u1330.MuseMenuActive #u1331-4, #u690:hover #u692-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u690:active #u692-4 { padding-top: 0px; padding-bottom: 0px; min-height: 22px; margin: 0px -10000px 0px 0px; }
#u170 { z-index: 13; }
#u170_align_to_page { margin-left: auto; margin-right: auto; width: 960px; left: -100px; padding-top: 271px; padding-bottom: 162px; }
#u846-22 { z-index: 58; width: 469px; min-height: 181px; left: 571px; }
#u850 { z-index: 64; width: 26px; height: 25px; }
#u848 { z-index: 70; width: 26px; height: 25px; }
#u856 { z-index: 76; width: 26px; height: 25px; }
#u852 { z-index: 82; width: 26px; height: 25px; }
#u854 { z-index: 88; width: 26px; height: 25px; }
#u871 { z-index: 90; width: 419px; left: 572px; margin-top: 14px; }
#u876-4 { z-index: 112; width: 213px; }
#u880-4 { z-index: 99; width: 213px; min-height: 45px; margin-top: 8px; }
#u872-6 { z-index: 91; width: 220px; min-height: 45px; margin-right: -10000px; left: 8px; }
#u875 { z-index: 111; width: 165px; height: 6px; margin-right: -10000px; margin-top: 27px; }
#u877-6 { z-index: 103; width: 220px; min-height: 52px; margin-left: 8px; top: -3px; margin-bottom: -3px; }
#u170-bw { z-index: 13; height: 739px; }
#u178 { z-index: 14; height: 31px; }
#u178-bw { z-index: 14; margin-top: 709px; height: 31px; }
#u89 { z-index: 15; width: 365px; height: 664px; margin-right: -10000px; margin-top: 103px; left: 150px; }
#u177, #u177-bw { z-index: 45; height: 31px; }
#u797-4 { z-index: 46; width: 920px; min-height: 39px; margin-right: -10000px; margin-top: 7px; left: 120px; }
#u798-4 { z-index: 50; width: 920px; min-height: 20px; margin-right: -10000px; margin-top: 80px; left: 120px; }
#u799-4 { z-index: 54; width: 920px; min-height: 20px; margin-right: -10000px; margin-top: 146px; left: 120px; }
#pamphletu881 { z-index: 116; width: 0.01px; height: 116px; padding-bottom: 5px; margin-right: -10000px; margin-top: 596px; left: 533px; }
#u893 { z-index: 117; width: 407px; margin-right: -10000px; left: 20px; }
#u894 { width: 445px; padding-bottom: 5px; left: -20px; }
#u895 { z-index: 119; width: 407px; height: 116px; margin-right: -10000px; left: 20px; }
#u894:hover #u895 { margin: 0px -10000px 0px 0px; }
#u888popup { z-index: 120; }
#u889 { z-index: 1; width: 0px; height: 0px; padding-bottom: 34px; margin-right: -10000px; top: 22px; left: 22px; }
#pu348 { width: 0.01px; margin-left: 20px; margin-top: 48px; }
#u348 { z-index: 28; width: 73px; height: 57px; margin-right: -10000px; margin-top: 5px; }
#u345-6 { z-index: 31; width: 205px; margin-right: -10000px; left: 77px; }
#u356 { z-index: 30; width: 73px; height: 57px; margin-right: -10000px; margin-top: 5px; left: 350px; }
#u346-4 { z-index: 37; width: 164px; margin-right: -10000px; margin-top: 11px; left: 429px; }
#u355 { z-index: 29; width: 73px; height: 57px; margin-right: -10000px; margin-top: 5px; left: 701px; }
#u347-4 { z-index: 41; width: 121px; margin-right: -10000px; margin-top: 11px; left: 782px; }
#dostavka_oplata { margin-top: 41px; }
#pu928 { width: 0.01px; margin-left: -100px; margin-top: 43px; }
#u928, #u928-bw { z-index: 137; height: 43px; }
#pamphletu1166 { z-index: 364; width: 0.01px; height: 36px; padding-bottom: 5px; margin-right: -10000px; margin-top: 2px; left: 120px; }
#u1175 { z-index: 365; width: 920px; margin-right: -10000px; }
#u1176 { width: 920px; padding-bottom: 5px; }
#u929-4 { z-index: 367; width: 920px; min-height: 20px; margin-right: -10000px; }
#u1178popup { z-index: 371; }
#u1178 { width: 693px; padding-bottom: 44px; top: 576px; left: -140px; }
#u1179 { z-index: 372; width: 649px; height: 866px; margin-right: -10000px; top: 22px; left: 22px; }
#u1180-40 { z-index: 373; width: 639px; min-height: 638px; padding-left: 10px; padding-top: 10px; margin-right: -10000px; }
#u1172 { width: 40px; top: 597px; left: 493px; }
#u1173 { z-index: 414; width: 40px; margin-right: -10000px; }
#pu1186 { width: 0.01px; margin-left: 19px; margin-top: 71px; }
#u1186 { z-index: 2; width: 70px; margin-right: -10000px; margin-top: 68px; left: 427px; }
#u1188 { z-index: 4; width: 41px; margin-right: -10000px; margin-top: 62px; left: 657px; }
#u1190 { z-index: 6; width: 59px; margin-right: -10000px; margin-top: 69px; left: 864px; }
#u1192 { z-index: 8; width: 55px; margin-right: -10000px; margin-top: 68px; left: 219px; }
#u1194 { z-index: 10; width: 58px; margin-right: -10000px; margin-top: 68px; left: 2px; }
#u1357 { z-index: 673; width: 922px; margin-right: -10000px; }
#u1360-4 { z-index: 674; width: 220px; min-height: 13px; margin-right: -10000px; }
#u1362-4 { z-index: 683; width: 197px; min-height: 27px; margin-right: -10000px; left: 320px; }
#u1358-4 { z-index: 693; width: 171px; min-height: 21px; margin-right: -10000px; left: 751px; }
#pu1359 { width: 0.01px; margin-left: 100px; margin-top: 23px; }
#u1359 { z-index: 697; width: 71px; height: 20px; margin-right: -10000px; }
#u1366 { z-index: 682; width: 71px; height: 20px; margin-right: -10000px; left: 215px; }
#u1363 { z-index: 687; width: 71px; height: 20px; margin-right: -10000px; left: 431px; }
#u1365 { z-index: 692; width: 71px; height: 20px; margin-right: -10000px; left: 646px; }
#pu1361-4 { width: 0.01px; margin-left: 104px; margin-top: 52px; }
#u1361-4 { z-index: 678; width: 224px; min-height: 44px; margin-right: -10000px; }
#u1364-4 { z-index: 688; width: 266px; min-height: 44px; margin-right: -10000px; left: 431px; }
#about { margin-top: 19px; }
#pu170, #pu930 { width: 0.01px; margin-left: -100px; margin-top: 42px; }
#u930 { z-index: 570; padding-bottom: 4px; }
#u931-4 { z-index: 571; width: 438px; min-height: 20px; margin-right: -10000px; margin-top: 3px; left: 602px; }
#u930-bw { z-index: 570; height: 39px; }
#pamphletu291 { z-index: 575; width: 0.01px; height: 854px; margin-right: -10000px; left: 33px; }
#u298 { z-index: 576; width: 547px; margin-right: -10000px; margin-top: 41px; }
#u299 { width: 547px; top: -41px; }
#u270 { z-index: 578; width: 547px; height: 813px; margin-right: -10000px; margin-top: 41px; }
#u299:hover #u270 { margin: 41px -10000px 0px 0px; }
#u301popup { z-index: 579; }
#u301 { width: 1085px; padding-bottom: 44px; top: 604px; }
#u302 { z-index: 580; width: 1041px; height: 1118px; margin-right: -10000px; top: 22px; left: 22px; }
#u295 { width: 40px; top: 626px; left: 921px; }
#u296 { z-index: 621; width: 40px; margin-right: -10000px; }
#u269-12 { z-index: 16; width: 438px; min-height: 718px; margin-left: 502px; top: -769px; margin-bottom: -723px; }
#u332 { z-index: 623; width: 63px; top: 1900px; left: 337px; }
#podarok { top: -17px; margin-bottom: -17px; }
#u933 { z-index: 132; padding-bottom: 4px; }
#u932-4 { z-index: 133; width: 920px; min-height: 20px; margin-right: -10000px; margin-top: 3px; left: 120px; }
#u933-bw { z-index: 132; margin-top: 42px; height: 39px; }
#u946-4 { z-index: 192; width: 920px; min-height: 24px; margin-left: 20px; margin-top: 47px; }
#pu934 { width: 0.01px; margin-left: 20px; margin-top: 21px; }
#u934 { z-index: 138; width: 472px; height: 455px; margin-right: -10000px; left: 448px; }
#u935 { z-index: 139; width: 419px; margin-right: -10000px; margin-top: 382px; left: 1px; }
#u936-4 { z-index: 161; width: 213px; }
#u937-4 { z-index: 148; width: 213px; min-height: 45px; margin-top: 8px; }
#u941-6 { z-index: 140; width: 220px; min-height: 45px; margin-right: -10000px; left: 8px; }
#u943 { z-index: 146; width: 42px; height: 31px; }
#u944 { z-index: 160; width: 140px; height: 6px; margin-right: -10000px; margin-top: 27px; }
#u938-6 { z-index: 152; width: 143px; min-height: 52px; margin-left: 60px; top: -3px; margin-bottom: -3px; }
#u940 { z-index: 158; width: 42px; height: 31px; }
#u945-27 { z-index: 165; width: 451px; min-height: 137px; margin-right: -10000px; margin-top: 29px; }
#pamphletu1274 { z-index: 475; width: 0.01px; height: 117px; padding-bottom: 4px; margin-right: -10000px; margin-top: 391px; left: 460px; }
#u1284 { z-index: 476; width: 407px; margin-right: -10000px; left: 20px; }
#u1285 { width: 445px; padding-bottom: 4px; left: -20px; }
#u1286 { z-index: 478; width: 407px; height: 117px; margin-right: -10000px; left: 20px; }
#u894.PamphletThumbSelected #u895, #u1173:hover, #u296:hover, #u1285:hover #u1286 { margin: 0px -10000px 0px 0px; }
#u1275popup { z-index: 479; }
#otzyv { margin-top: 33px; }
#u1076 { z-index: 221; padding-bottom: 4px; }
#u1079-4 { z-index: 223; width: 920px; min-height: 20px; margin-right: -10000px; margin-top: 3px; left: 120px; }
#u1076-bw { z-index: 221; margin-top: 42px; height: 39px; }
#pu1119 { width: 0.01px; margin-left: 20px; margin-top: 97px; }
#u1119 { z-index: 359; width: 146px; height: 146px; margin-right: -10000px; }
#u1114-8 { z-index: 313; width: 650px; margin-right: -10000px; left: 192px; }
#u1120 { z-index: 360; width: 146px; height: 146px; margin-right: -10000px; }
#u1115-10 { z-index: 321; width: 650px; margin-right: -10000px; left: 192px; }
#u1121 { z-index: 361; width: 146px; height: 146px; margin-right: -10000px; }
#u1116-8 { z-index: 331; width: 650px; margin-right: -10000px; left: 192px; }
#u1122 { z-index: 362; width: 146px; height: 146px; margin-right: -10000px; }
#u1117-8 { z-index: 339; width: 650px; margin-right: -10000px; left: 192px; }
#pu1120, #pu1121, #pu1122, #pu1123 { width: 0.01px; margin-left: 20px; margin-top: 30px; }
#u1123 { z-index: 363; width: 146px; height: 146px; margin-right: -10000px; }
#u1119:hover, #u1120:hover, #u1121:hover, #u1122:hover, #u1123:hover { width: 146px; height: 146px; min-height: 0px; margin: 0px -10000px 0px 0px; }
#u1118-12 { z-index: 347; width: 650px; margin-right: -10000px; left: 192px; }
#plus { left: -100px; margin-top: 70px; }
#u1077 { z-index: 222; padding-bottom: 4px; }
#u930_align_to_page, #u933_align_to_page, #u1076_align_to_page, #u1077_align_to_page { margin-left: auto; margin-right: auto; width: 960px; left: -100px; }
#u1080-4 { z-index: 227; width: 920px; min-height: 20px; margin-right: -10000px; margin-top: 3px; left: 121px; }
#u1077-bw { z-index: 222; margin-top: 42px; height: 39px; }
#u1075, #u1075-bw { z-index: 220; height: 727px; }
#u1082-52 { z-index: 231; width: 920px; min-height: 137px; margin-right: -10000px; margin-top: 47px; left: 120px; }
#u1111 { z-index: 237; width: 27px; }
#u1096 { z-index: 246; width: 27px; }
#u1090 { z-index: 254; width: 27px; }
#u1105 { z-index: 262; width: 27px; }
#u1087 { z-index: 270; width: 27px; }
#u1108 { z-index: 278; width: 27px; }
#u1099 { z-index: 286; width: 27px; }
#u1102 { z-index: 294; width: 27px; }
#u1093 { z-index: 302; width: 27px; }
#u1084 { z-index: 310; width: 27px; }
#zakaz { width: 22px; margin-right: -10000px; margin-top: 697px; left: 120px; }
#pu1075, #pu1216 { width: 0.01px; margin-left: -100px; }
#u1216 { z-index: 416; padding-bottom: 0px; }
#u1216_align_to_page { margin-left: auto; margin-right: auto; width: 960px; left: -100px; padding-top: 55px; padding-bottom: 61px; }
#u1221-4 { z-index: 423; width: 920px; min-height: 45px; left: 120px; }
#u1305-4 { z-index: 427; width: 920px; min-height: 45px; left: 120px; margin-top: 59px; }
#pu1219 { width: 0.01px; left: 120px; margin-top: 13px; position: relative; }
#u1219 { z-index: 422; width: 477px; min-height: 277px; margin-right: -10000px; margin-top: 4px; }
#pu1306 { width: 0.01px; padding-bottom: 0px; margin-right: -10000px; margin-left: 546px; }
#u1306 { z-index: 511; width: 382px; }
#u1311 { z-index: 512; width: 100px; margin-right: -10000px; }
#u1307 { z-index: 514; width: 100px; margin-right: -10000px; left: 94px; }
#u1313 { z-index: 516; width: 100px; margin-right: -10000px; left: 188px; }
#u1309 { z-index: 518; width: 100px; margin-right: -10000px; left: 282px; }
#u1249 { z-index: 433; width: 419px; margin-left: 8px; margin-top: 24px; }
#pu876-4, #pu936-4, #pu1258-4 { width: 0.01px; padding-bottom: 0px; margin-right: -10000px; margin-top: 10px; }
#u1258-4 { z-index: 455; width: 213px; }
#u1257-4 { z-index: 442; width: 213px; min-height: 45px; margin-top: 8px; }
#ppu872-6, #ppu941-6, #ppu1254-6 { width: 0.01px; margin-right: -10000px; margin-left: 216px; }
#pu872-6, #pu1360-4, #pu941-6, #pu1254-6 { width: 0.01px; }
#u1254-6 { z-index: 434; width: 220px; min-height: 45px; margin-right: -10000px; left: 8px; }
#u1250 { z-index: 454; width: 165px; height: 6px; margin-right: -10000px; margin-top: 27px; }
#u1251-6 { z-index: 446; width: 220px; min-height: 52px; margin-left: 8px; top: -3px; margin-bottom: -3px; }
#u878, #u939, #u1252 { margin-top: 1px; margin-bottom: -1px; }
#u1218-4 { z-index: 418; width: 459px; min-height: 15px; left: 121px; margin-top: 9px; }
#u1216-bw { z-index: 416; height: 589px; }
#u1217 { z-index: 417; height: 31px; }
#u1217-bw { z-index: 417; margin-top: 558px; height: 31px; }
#u1247, #u1247-bw { z-index: 431; height: 31px; }
#pamphletu1259 { z-index: 459; width: 0.01px; height: 117px; padding-bottom: 4px; margin-right: -10000px; margin-top: 468px; left: 635px; }
#u1271 { z-index: 460; width: 407px; margin-right: -10000px; left: 20px; }
#u1272 { width: 445px; padding-bottom: 4px; left: -20px; }
#u1273 { z-index: 462; width: 407px; height: 117px; margin-right: -10000px; left: 20px; }
#u1285.PamphletThumbSelected #u1286, #u1272:hover #u1273 { margin: 0px -10000px 0px 0px; }
#u1262popup { z-index: 463; }
#u1315 { z-index: 520; width: 358px; margin-right: -10000px; margin-top: 307px; left: 677px; }
#u1317-4 { z-index: 521; width: 77px; min-height: 23px; margin-right: -10000px; }
#u1316-4 { z-index: 525; width: 77px; min-height: 23px; margin-right: -10000px; left: 94px; }
#u1319-4 { z-index: 529; width: 77px; min-height: 23px; margin-right: -10000px; left: 188px; }
#u1318-4 { z-index: 533; width: 77px; min-height: 23px; margin-right: -10000px; left: 281px; }
#u1320 { z-index: 537; width: 400px; min-height: 80px; margin-right: -10000px; margin-top: 228px; left: 680px; }
#pu968 { width: 0.01px; margin-left: -132px; margin-top: 125px; }
#u968 { z-index: 196; width: 915px; padding-bottom: 45px; margin-right: -10000px; margin-top: 46px; }
#u969-18 { z-index: 197; width: 314px; min-height: 435px; margin-right: -10000px; margin-top: 82px; left: 758px; }
#u970-4 { z-index: 215; width: 920px; min-height: 24px; margin-right: -10000px; left: 152px; }
#u977 { z-index: 219; width: 181px; height: 52px; margin-right: -10000px; margin-top: 84px; left: 152px; }
#u1248 { z-index: 432; height: 31px; }
#u1248-bw { z-index: 432; margin-top: -1px; margin-bottom: -1px; height: 31px; }
#u1289-4 { z-index: 491; width: 920px; min-height: 15px; margin-left: 20px; margin-top: 74px; }
#pamphletu1290 { z-index: 495; width: 0.01px; height: 117px; padding-bottom: 4px; margin-left: 258px; margin-top: 50px; }
#u1302 { z-index: 496; width: 407px; margin-right: -10000px; left: 20px; }
#u1303 { width: 445px; padding-bottom: 4px; left: -20px; }
#u1304 { z-index: 498; width: 407px; height: 117px; margin-right: -10000px; left: 20px; }
#u1272.PamphletThumbSelected #u1273, #u1303:hover #u1304 { margin: 0px -10000px 0px 0px; }
#u1292popup { z-index: 499; }
#u888, #u1275, #u1262, #u1292 { width: 595px; padding-bottom: 44px; top: -34px; left: -329px; }
#pu392 { width: 0.01px; margin-left: -100px; margin-top: 84px; }
#u392, #u392-bw { z-index: 12; height: 129px; }
#u1336-4 { z-index: 545; width: 920px; min-height: 12px; margin-right: -10000px; margin-top: 55px; left: 120px; }
#u1337-4 { z-index: 549; width: 920px; min-height: 6px; margin-right: -10000px; margin-top: 17px; left: 121px; }
#pamphletu1338 { z-index: 553; width: 0.01px; height: 19px; padding-bottom: 6px; margin-right: -10000px; margin-top: 84px; left: 120px; }
#u1348 { z-index: 554; width: 920px; margin-right: -10000px; }
#u1349 { width: 921px; padding-bottom: 6px; }
#u1350-4 { z-index: 556; width: 920px; margin-right: -10000px; }
#u1349:hover #u1350-4 { padding-top: 0px; padding-bottom: 0px; min-height: 0px; margin: 0px -10000px 0px 0px; }
#u1349:active #u1350-4 { padding-top: 0px; padding-bottom: 0px; min-height: 0px; margin: 0px -10000px 0px 0px; }
#u1339popup { z-index: 560; }
#u1339 { width: 753px; padding-bottom: 44px; top: -40px; left: 108px; }
#u1340 { z-index: 561; width: 709px; height: 268px; margin-right: -10000px; top: 22px; left: 22px; }
#u1341-7 { z-index: 562; width: 699px; min-height: 180px; padding-left: 10px; padding-top: 10px; margin-right: -10000px; }
#u1347 { width: 41px; height: 41px; top: -11px; left: 797px; }
#u690.MuseMenuActive, #u894:hover, #u887:hover, #u1176:hover, #u299:hover, #u1285:hover, #u1280:hover, #u1272:hover, #u1267:hover, #u1303:hover, #u1291:hover, #u1349:hover, #u1347:hover { margin: 0px; }
body { position: relative; min-width: 960px; }
#page .verticalspacer { clear: both; }
/* ::::: http://webfonts.creativecloud.com/c/71467b/1w;pt-sans,1,WkK:T:n4,WkL:T:n7;pt-sans-narrow,1,WkC:T:n4/d ::::: */

@font-face {
	font-family: "pt-sans";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "pt-sans";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
@font-face {
	font-family: "pt-sans-narrow";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
#showtime { letter-spacing: 4px; }
