div#bg_popup{display:none;}
div#popupWindow{display:none;}
ul#popupDate{display:none;}
div#popupWindow div#content{position:relative;}
div#popupWindow{
	display:none;
	padding:20px;
	position:absolute;
	width: 265px;
	left: 50%;
	margin-left: -132px;
	background-color:#FFF;
	border-radius:10px;
	top:20px;
	z-index:999;
	height: 230px;
}
div#popupWindow img#big{
	width:820px;
	margin-bottom:30px;
}
div#popupWindow div#footer{
	position:relative; 
}

div#bg_popup{
top:0px;
left:0px;
 width:100%;
 height:100%;
 position:fixed;
 opacity:0.8;
 filter: alpha(opacity=80);
 background-color:#000;
 z-index:999;
} 
.form-popup {
	text-align: center;
}

.form-popup img.truba {
	top: 96px
}
.form-popup .form {
width: 156px;
position: relative;
right: 0;
top: 0;
text-align: center;
font-size: 18px;
margin: 0 auto;
}

.form-popup  .form input[type="text"] {
border: 1px solid #000;
	width: 245px;
	margin-bottom: 5px;
	padding: 10px 0 10px 13px;
	
}
.form-popup  .form input[type="text"].error {
	border: 1px solid #ff0000;
}
.form-popup .form {
	width: 260px;
	margin: 0 auto;
	background: none;
	padding-top: 10px;
	height: 145px;
}
.form input[type="text"] {
	
}
#vk_groups {
	position: absolute;
	
}
.vk_gr {
	position: absolute;
	bottom: 810px;
	right: 0;

	width: 220px;
	height: 250px;
}