* {
	margin: 0;
	padding: 0;
	line-height: 1;
	outline:none;
}
body {
	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 400;
  	
}

img {
	border: none;
}
li,
ol {
	list-style: none;
}