@import url("fonts.css");
@import url("reset.css");
@import url("modale.css");
@import url("timer.css");
.clear{clear: both;}
.center {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
a {
	text-decoration: none;
}
.slide_1 {
	background: url(../img/slide_1.jpg) no-repeat center top;
	height: 878px;
}
.slide_1 .center {
	padding-top: 20px;
}
.header {
	position: relative;
	height: 75px;
}
.slide_1 .header img {
	position: absolute;
	left: 0;
}
.header_left {
	position: absolute;
	right: 0;
	color: #fff;
}
.header_left_text {
	float: left;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	text-align: right;	
}
.header_left_text p {
	line-height: 1.1;
}
.header_left_bod {
	float: left;
	padding-left: 15px;
}
.header_left_bod h6 {
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 5px;
}
.header_left_bod a {
	color: #000;
	background: #fff200;
	border: 1px solid #fff;
	display: block;
	text-align: center;
	padding: 9px 0; 
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	cursor: pointer;
}
.osn_block  {
	padding-top: 40px;
	text-align: center;
	position: relative;
}
.osn_block h1 {
	font-size: 69px;
	font-family: 'Open Sans Condensed';
  	font-style: normal;
  	font-weight: 300;
  	color: #fff;
  	border-bottom: 1px solid #fff;
  	line-height: 1.3;
  	display: inline-block;
}
.osn_block h2 {
	display: inline-block;
	font-size: 28px;
	background: #000;
	color: #fff200;
	border: 1px solid #fff;
 	font-style: normal;
  	font-weight: 600;
  	padding: 5px 10px;
  	margin: 0 auto;
}
.form {
	background: url(../img/bg_form_slide_1.png) no-repeat;
	width: 346px;
	height: 376px;
	position: absolute;
	right: 0;
	margin-top: 30px;
	text-align: center;
}
.form strong {
	font-size: 26px;	
	margin-top: 25px;
	display: block;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
}
.form em {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	line-height: 1.2;
	display: block;
	margin:20px 0 14px;
}
.form form {
	width: 260px;
	margin: 0 auto;
}
.form input[type="text"] {
	border: 1px solid #000;
	width: 245px;
	margin-bottom: 5px;
	padding: 10px 0 10px 13px;
}
.form input[type="text"].error {
	border: 1px solid #ff0000;
}
.form button {
	width: 100%;
	border: none;
	background: #ed1c24;
	color:#fff;
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	padding: 20px 0 17px 0;
	cursor: pointer;
}
.slide_2 {
	background: url(../img/preim.png) center bottom no-repeat #000;
	height: 220px;
}
.slide_3 {
	background: url(../img/slide_3.jpg) #000  no-repeat center bottom;
	height: 727px;
}
.slide_3 .center {
	padding-top: 50px;
}
.slide_3 h4 {
	margin-top: 110px; 
}
h4 {
	background: url(../img/slide_3_h4.png) center center no-repeat;
	font-size: 58px;
	min-height: 68px;
	width: 601px;
	font-family: 'Open Sans Condensed';
  	font-style: normal;
  	font-weight: 300;
  	text-align: center;
  	display: block;
  	margin: 0 auto;
  
}
.slide_4 {
	background: url(../img/bg.jpg) no-repeat center;
	height: 1000px;
	color: #fff
}
.preim_block {
	background: url(../img/preim_block.png) no-repeat center;
	width: 980px;
	height: 901px;
	position: relative;
}
.preim_block_text {
	position: absolute;
	color: #fff;
	font-size: 24px;
}
.preim_block_text strong {


}
.text_1 {
	top: 65px;
	left: 235px;
}
.text_2 {
	top: 225px;
	left: 200px;
}
.text_3 {
	top: 352px;
	left: 235px;
}
.text_4 {

	left:70px; ;
	top: 496px;
}
.preim_block .text_5 {
	top: 640px;
	left: 235px;
}
.text_6 {
	bottom: 80px;
	left: 85px;
}
.slide_5 {
	background: url(../img/slide_5.jpg) no-repeat center;
	height: 1969px;
	color: #fff;
}
.slide_5 h4 {
	background: url(../img/slide_5_h4.png) no-repeat;
	width:421px; 
}
.slide_5 .center {
	padding-top: 80px;
	padding-bottom: 15px;
}
.videos {
	height: 390px;
padding: 30px 0;
width: 450px;
margin: 0 auto;
}
.video {
	background: url(../img/video.png);
	width: 474px;
	height: 300px;
	position: absolute;
	margin-top: 70px;
}
.video_block {
	width: 438px;
	height: 266px;
	background: #fff;
	margin: 17px auto 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
.zahvat_2 {
	margin-top: 60px;
}
.price_zahvat strong {
	position: absolute;
	right: 0;
}
.zahvat_2 h2 {
	text-align: center;
	font-size: 53px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
}
.price_zahvat {
	background: url(../img/price_zahvat.png) no-repeat;
	width: 600px;
	height: 474px;
	position: relative;
}
.price_zahvat strong {
	position: absolute;
	right: 0;
	bottom: 180px;
	font-size: 25px;
	text-align: right;
	color: #ed1c24
}
.price_zahvat strong  span {
	color: #000;
	font-size: 38px;
	font-weight: 800
}

.price_zahvat #timer_wrap {
	background: none;
	position: absolute;
	right: 0;
	top: 310px;
}

.price_zahvat .clock {
	padding-left:0;
	right: -15px;
}
.price_zahvat .clock span {
	font-family: 'Open Sans';
	font-size: 12px;
	font-style: normal;
	position: absolute;
	top:105px;
	text-shadow:none;
}
.price_zahvat .clock span.hour {
	left: 25px;
}
.price_zahvat .clock span.minuts {
	left:105px;
}
.price_zahvat .clock span.sec {
	left:185px;
}
.zahvat_2 .form {
	top: 780px;
	right: 0;
	color: #000;
	background: url(../img/bg_form_slide_5.png);
}
.zahvat_2 .form form {
	margin-top: 150px;
}
.tel {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 715px;
	text-align: right;
	color: #fff;
	font-size: 23px;
	font-weight: 300
}
.tel strong {
	font-size: 26px;
	font-weight: normal;
	display: block;
	height: 28px;
	padding-bottom: 8px;

}
.tel strong span {
	font-weight: 600;
	font-size: 30px;
	display: inline-block;
	background: url(../img/phone.png) no-repeat;
	padding-left: 35px;
}
.tel img {
	position: absolute;
	left: 0
}
.garant {
	padding-top: 15px;
}
.garant h4 {
	color: #000
}
.garant_img {
	background: url(../img/garant.png) no-repeat;
	height:366px; 
	margin-top: 60px;
	position: relative;
	color: #000;
	
	text-align: center;
}
.garant_img div {
	position: absolute;
	top: 215px;
	line-height: 1.23;
	display: inline-block;
	float: left;font-size: 18px;
}
.garant_img .text_1 {
	left: 0;	
}
.garant_img .text_2 {
	left: 170px;
}
.garant_img .text_3 {
	left: 403px;
}
.garant_img .text_4 {
	left: 620px;
	text-align: center;
}
.garant_img .text_5 {
	right: 0;
}
.slide_6 {
	background: #e1e1e1;
}
.what {
	background: url(../img/plus.png) no-repeat left;
	min-height: 61px;
	padding-left: 91px;
	font-size: 22px;
	font-weight: 600;
	margin-top: 54px;
}
.what span {
	padding-top: 8px;
	display: inline-block;
}
.what strong {
	text-transform: uppercase;
}
span.two {
	padding-top: 18px;
}
.slide_7 {
	background: url(../img/slide_7.jpg) no-repeat center;
	height:4260px;
}
.slide_7 .center {
	padding-top: 126px;
}

.slide_7 h4 {
	background: url(../img/slide_5_h4.png) center no-repeat;
	margin-bottom: 25px;
}
.poeben {
	position: relative;
	margin-bottom:100px;
}
.poeben h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 52px;
	font-family: 'Open Sans Condensed';
 	font-style: normal;
 	font-weight: 700;	
	text-align: center;
}
.poeben h1 span {
	color: #fff200
}
.poeben .zahvat_2 {
	margin: 0;
}
.poeben .zahvat_2 .form {
	background: url(../img/form_7.png);
	top:130px;
}
.poeben .price_zahvat {
	background: url(../img/podarok.png) no-repeat;
	height: 500px;
	width: 572px;
}
.dostavka {
	position: relative;
	height: 630px;
}
.dost_zag {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
.dost_zag  span {
	display: block;
	width: 900px;
	height: 1px;
	background: #000;
}
.dost_zag h3 {
	background: #fff;
	padding:9px 0;
	margin: 8px 0;
	width: 900px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 67px;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;	
}
.dostavka button {
	position: absolute;
	background: #ed1c24;
	margin: 0 auto;
	text-transform: uppercase;
	color: #fff;
	font-size: 28px;
	border: none;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	padding:15px 25px;
	top: 420px;
	left: 300px;
	cursor: pointer;
}
.rabotaem {
	background: url(../img/rabotaem.png) no-repeat;
	height: 305px;
	margin:50px 0 110px;
}
.comand h4 {
	color: #fff;
	background: url(../img/slide_5_h4.png) no-repeat center;
}
.block_comand {
	width: 205px;
	padding: 0 20px;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.block_comand img {
	margin-bottom: 10px;
}
.block_comand span {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #ffff00;
	font-size: 30px;
	margin-bottom: 10px;

}
.social {
	margin-top: 80px;
	font-size: 36px;
	font-weight: 600;
}
.social span {
	font-size: 100px;
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 50px;
	display: block;
	margin-bottom: 15px;
}
.social p {
	position: relative;
}
.social p .pluso {
	position: absolute;
	right: 0;
	top: 0;
	border-top: 1px solid
}
.zaebalsia {
	margin-top: 160px;
	position: relative;
}
.zaebalsia h1 {
	color: #fff;
	font-size: 46px;
	text-align: center;
	font-weight: normal;
	 font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
}
.zaebalsia h1 span {
	text-transform: uppercase;
	font-size: 68px;
}
.zaebalsia h1 em {
	color: #fff200;
	font-style: normal;
}
.zaebalsia .form {
	background: url(../img/form_7.png);
	top: 180px;
}
.zaebalsia .price_zahvat {
	background: none
}
.zaebalsia .price_zahvat #timer_wrap {
	top: 250px;
}

.zaebalsia .form form {
margin-top: 150px;
}
.zaebalsia .tel {
	bottom: 0;
	left: 0
}
.price {
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 385px;
	left: 395px;
	font-size: 22px;
	 font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
}
.price span {
 text-decoration:line-through;
}
.price strong {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 43px;
	display: block;
	margin-top: 10px;
}
.slide_8 {
	height: 150px;
	background: #fff;
}
.slide_8 h6 {
	padding: 55px 0;
	font-size: 84px;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
}
.slide_8 h6 span {
	color: #757575
}
.slide_8 a {
	position: absolute;
	right: 30px;
	color: #e33737;
	border-bottom: 1px dashed #e33737;
	text-decoration: none;
	top: 83px;
	font-size: 26px;
	font-style: italic;
	 font-family: 'Open Sans';
	 font-weight: 600
}
.slide_9 {
	background: #e1e1e1;
	height: 100px;
	padding-top: 30px;
	
}
.slide_9 .header_left {
	color: #000;
}
.slide_9 .right {
	text-align: left;
	position: absolute;
	left: 0;
	font-size: 18px;
	line-height: 1.3;
	font-family: 'Open Sans';
	top:10px;
}
.linia {
	display: block;
	margin: 0 auto
}