.hour,.min,.sec,.day {
	margin-right: 10px
	}
	
.clock p {
	background: url(../img/timer-bg.png) no-repeat;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 38px;
	height: 59px;
  font-style: normal;
  font-weight: 300;
	float:left;
	color:#fff;
	font-size: 48px;
	padding-top: 5px;
}

#timer_wrap {
	position: absolute;
	top: 376px;
	width: 340px;
	height: 162px;
	background: url(../img/bg_timer.png);
	color: #fff;

}		
.clock {
	height:65px;
	width:265px;
	padding-left: 35px;
	padding-top: 20px;
	text-align: center;
	position:absolute;
}
.razd {
	float:left;
	color:#fff;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 100;
	font-size: 36px;
	padding: 0;
	position: relative;
	top: 10px;
	
}
.stop {
	color:white;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}
#timer_wrap em {
	font-style: normal;
	font-family: 'Open Sans';
	font-size: 14px;
	
	text-shadow:none;
}
.clock span {
	font-family: 'Open Sans';
	font-size: 12px;
	font-style: normal;
	position: absolute;
	top:135px;
	text-shadow:none;

}
.clock span.day {
	left: 20px;
}
.clock span.hour {
	left: 55px;
}
.clock span.minuts {
	left:135px;
}
.clock span.sec {
	left:220px;
}