#slider1 {
    width: 980px;
    margin: 0 auto 260px;
    overflow:hidden;
   position: relative;
}

#slider1 .buttons {
    display:block;
    font-weight:700;
    height:61px;
    width:60px;
    position:relative;
    text-align:center;
    text-decoration:none;
    position: absolute;
    top: 100px;
}
#slider1 .buttons:hover {
     
}

#slider1 .disable {
    visibility:hidden;
}

#slider1 .next {
    right: 0;
   
    background: url(../img/next.png);
}
#slider1 .next:hover {
    background: url(../img/next.png)  #ffff00;
}

#slider1 .prev {
    left: 0;
    background: url(../img/prev.png);
}
#slider1 .prev:hover {
    background: url(../img/prev.png) #ffff00;
}
#slider1 .overview {
    left:0 top: 0;
    list-style:none;
    margin:0;
    padding:0;
    position:absolute;
    width:720px;
}

#slider1 .overview li {
    float:left;
    width:720px;
}

#slider1 .viewport {
    height:250px;
    overflow:hidden;
    position:relative;
    width:720px;
    margin: 0 auto;
}
.photo_text {
    position: relative;
    text-align: center;
    height: 82px;
    margin: 0 auto;
}
.photo_text span {
    position: absolute;
    left: 0;
    top: 25px;
    font-size: 22px;
    text-transform: uppercase;
}
.photo_text em {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 18px;
}
.text_otz {
    font-size: 22px;
}
#slider1 button {
    display: block;
    margin: 25px auto 0;
    border: none;
    background: #fff200;
    padding: 10px 0;
    width: 300px;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Open Sans Condensed';
    font-weight: 700;    
    cursor: pointer;
