html, body {margin:0; padding:0; color:#000000; font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif; font-size: 18px;}
body {background: #fff;}
.container {width:100%;}
h1, h2, h3, h4{font-weight: 400;}
h3{font-size: 25px;font-weight: 300;}
img, a img {border:0;}
a{color: #9e0b0f;}
.wrap {width:940px; padding:0px 20px; margin:0 auto;}
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
.center{text-align: center;}
input[type="text"]{
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
button, .button{
  width: 240px;
  display:block;
  text-decoration: none;
  text-align: center;
  cursor:pointer;
  line-height: 33px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  border:none;
  font-family: 'Roboto Condensed';
  background:#469bbe;
  background: -webkit-linear-gradient(top, #469bbe, #378c9e);
  background: -moz-linear-gradient(top, #469bbe, #378c9e);
  background: -ms-linear-gradient(top, #469bbe, #378c9e);
  background: -o-linear-gradient(top, #469bbe, #378c9e);
}
button:hover, .button:hover {
  background:#378c9e;
  background: -webkit-linear-gradient(top, #378c9e, #469bbe);
  background: -moz-linear-gradient(top, #378c9e, #469bbe);
  background: -ms-linear-gradient(top, #378c9e, #469bbe);
  background: -o-linear-gradient(top, #378c9e, #469bbe);
}

form{width:240px;border:none;text-align: left;position: relative;background: rgba(36,36,36,0.9);padding: 18px 20px 25px 20px;margin-top: 54px;}
form input {width:100%; line-height: 35px; height: 35px; border:0px;margin:10px 0; text-indent:34px; font-size: 15px;background-color:#f3f3f3;}
form input.name {background: #f3f3f3 url(../img/ico-name.png) no-repeat left 10px top 9px;margin-top: 11px;}
form input.address {background: #f3f3f3 url(../img/ico-deliv.png) no-repeat left 12px top 9px;}
form input.phone {background: #f3f3f3 url(../img/ico-phone.png) no-repeat left 10px top 10px;margin-bottom: 8px;}
form button{width: 100%;margin: 14px 0 1px 0;}

form input::-webkit-input-placeholder {color:#a9a9a9;font-size: 15px;} /* WebKit browsers */
form input:-moz-placeholder {color:#a9a9a9;font-size: 15px;} /* Mozilla Firefox 4 to 18 */
form input::-moz-placeholder {color:#a9a9a9;font-size: 15px;} /* Mozilla Firefox 19+ */
form input:-ms-input-placeholder {color:#a9a9a9;font-size: 15px;} /* Internet Explorer 10+ */

form h4{font-size: 19px;font-family: 'Roboto Condensed';color: #fff;text-align: center;margin: 0px 0 10px 0;line-height: 23px;font-weight: 700;}
form a.coupon{color: #a9a9a9;font-size: 15px;text-decoration: none;border-bottom: 1px dashed;}
form a.coupon:hover{border-bottom: none;}

.nav-wrp{background-color: #212121;overflow: hidden;padding: 8px 0 8px 0;}
.nav {list-style: none;margin: 0 0 0 -15px;padding: 0;}
.nav li{float: left;padding: 0 15px;border-right: 1px solid #404040;}
.nav li:last-child{border:none;}
.nav a{color: #fefefe;font-size: 14px;text-decoration: none;text-transform: uppercase;font-family:Arial, Helvetica}
.nav a:hover{color: #398da1;}

.header, .footer{width:100%;height: 605px;padding: 10px 0;background: url(../img/bg.jpg)no-repeat center top;color:#fff;}
.header h1, .footer h2{/* font-size: 62px; */ font-size: 52px;font-weight: 300;margin: 10px 0 5px 0;color: #000000;}
.header h1 span, .footer h2 span{font-weight: 700;font-size: 60px;}
.hbl-l{width: 620px;}
.hbl-r{}

.iphone-main {text-align: center;position: relative;z-index: 100;top:30px;left: 0px;width: 320px;height: 400px;}
.iphone{position: relative;z-index: 200;width: 320px;height: 400px;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.iphone.silver{background:url(../img/silver.png)no-repeat left top;}
.iphone.gold{background:url(../img/gold.png)no-repeat left top;}
.iphone.gray{background:url(../img/gray.png)no-repeat left top;}
.iphone.rose{background:url(../img/rose.png)no-repeat left top;}
.colors-main{text-align: left;margin: 30px 0 0 20px;}
.colors-main p{font-weight:300;font-size: 15px;color: #ffffff;display: inline-block;vertical-align: top;margin: 0 10px 0 0;}
.colors{display: inline-block;vertical-align: top;}
.colors span{width: 14px;height: 14px;display: inline-block;cursor: pointer;margin: 0 3px;border-radius:50%;}
.colors .silver{background:none;border:2px solid #ebebeb;}
.colors .gold{background:none;border:2px solid #dcc6b2;}
.colors .gray{background:none;border:2px solid #24221f;}
.colors .rose{background:none;border:2px solid rgb(255, 109, 123);}
.colors .silver:hover, .colors .silver.act{background:#ebebeb;border:2px solid #ebebeb;}
.colors .gold:hover, .colors .gold.act{background:#dcc6b2;border:2px solid #dcc6b2;}
.colors .gray:hover, .colors .gray.act{background:#24221f;border:2px solid #24221f;}
.colors .rose:hover, .colors .rose.act{background:rgb(255, 109, 123);border:2px solid rgb(255, 109, 123);}

.percent{background:#e7e7e7;width: 250px;padding-left: 30px;height: 60px;line-height: 60px;color: #393939;font-size: 48px;font-weight: 700;overflow: hidden;position: absolute;top: 55px;right: -265px;}
.percent span.sp{font-size: 18px;text-transform: uppercase;width: 134px;line-height: 25px;margin-top: 5px;text-align: left;}

.price{margin: 0px;padding-top:30px;}
.old-pr{color: #b6b6b6;font-size: 17px;text-decoration: line-through;float: left;margin-top: 24px;}
.new-pr{font-size: 40px;float: right;color: #e7e7e7;font-weight: bold; padding-left: 10px;}

.countdown-wrp{width: 260px;text-align: center;overflow: hidden;margin-top: 215px;margin-right: 15px;}
.countdown-wrp p{color:#000000;font-size: 16px;margin: 9px 0;line-height: 21px;text-transform: uppercase;}
.time{display: inline-block;vertical-align: top;margin-right: 0px;float: left;width: 260px;}
.timecount.county{width: 260px!important;display: inline-block;vertical-align: middle;margin-right: 25px;}
.countdown{position: relative;}
.countdown:before {content: "";width: 74px;height: 16px;background: url(../img/dots.png)no-repeat center;position: absolute;top: 17px;left: 128px;}
.countdown .label{font-weight: 400;font-size: 12px;color:#242424;width: 49px;margin: 0 16px 4px 0;text-align: center;display: inline-block;}
.countdown .label:last-child{margin-right: 0;}
.county .county-seconds-wrapper {color: #bd4e52;margin-right: 0;}
.caption{margin-top: -10px;}

.pluses{background: #fff url(../img/bg-grad.png)repeat-x left top;padding: 20px 0 10px 0;margin-bottom: 20px;border-bottom: 1px solid #f3f3f3;}
.pluses .item{display: inline-block;vertical-align: top;width: 299px;margin-right:16px;}
.pluses .item:last-child{margin-right: 0;}
.pluses .item img{display: inline-block;vertical-align: top;margin-top: 4px;margin-right: 18px;}
.pluses .item .text{display: inline-block;vertical-align: top;width: 220px;}
.pluses .item h4{font-weight: 300;font-size: 20px;margin: 0;}
.pluses .item p{font-size: 14px;line-height: 17px;}

.info{padding: 32px 0 0px 0;}
.info .video{margin-top:21px;}
.info .text{width: 460px;}
.info .text h3{margin-bottom: 15px;}
.info .text p{font-size: 16px;margin: 5px 0 23px 0;line-height: 24px;}
.info .pictures{margin-top: 76px;}

.info2{width:100%;padding: 10px 0 48px 0;background: #fff url(../img/bg-grad.png)repeat-x left top;}
.info2 h3{color: #040203;margin: 14px 0 24px 0;}
.info2 .text{width: 402px;text-align: center;}
.info2 .text p{color: #040203;font-size: 16px;line-height: 23px;margin-bottom: 27px;}
.info2 .text.left + .left {
  width: 1px;
  background: #e7e7e7;
  height: 450px;
  margin: 60px 67px;
}

.properties{width:100%;padding: 10px 0;height: 726px;background: #f3f3f3 url(../img/bg1.jpg)no-repeat top center;}
.properties .text{width: 620px;margin-left: 320px;}
.properties .text h3{margin-bottom: 17px;}
.properties .text .field{margin-bottom: 6px;}
.properties .text .field span{font-size:14px;display:inline-block;vertical-align: top;width: 180px;color: #c5c5c5;line-height: 25px;}
.properties .text .field span.sp{width: 420px;color: #000000;font-size:14px;}
.properties .text p{font-size: 14px;}

.reviews{padding: 32px 0 60px 0;}
.reviews h3{text-align: center;}
.reviews .review {margin: 0 0 55px 0;}
.reviews .review .img {width: 120px;height: 120px;display:inline-block;vertical-align: top;margin-top: 10px;}
.reviews .review h4{margin:0 0 28px 0;}
.reviews .review h4 strong{font-size: 16px;color: #469bbe;font-weight: 400;font-family: 'Roboto Condensed';margin-top: 0;}
.reviews .review blockquote{text-align: left;margin:0;width: 625px;display: inline-block;vertical-align: top;padding: 10px 0px 0 40px;}
.reviews .review blockquote p{margin:0;font-size: 16px;color:#545454;line-height: 23px;}

/*slider*/
.slider-wrp{margin-top: 54px;}
.bx-wrapper{padding-bottom: 23px!important;}
.bx-wrapper .bx-viewport{box-shadow: none!important;}
.bx-controls-direction{display: none;}
.bx-wrapper .bx-pager.bx-default-pager a{width: 12px;height: 12px;background:url(../img/pag.png)no-repeat center!important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:url(../img/pag-act.png)no-repeat left top!important;}


.footer{position: relative;}
.footer:before{content: "";display: inline-block;position: absolute;left:50%;margin-left:-19px;top:-20px;width:39px;height:21px;background: url(../img/foot-angle.png)no-repeat left top;}
.foot-nav-wrp{background-color: #fff;height: 35px;padding-top: 12px;}
.foot-nav {list-style: none;margin: 0;padding: 0;text-align: center;float: right;position: relative;z-index: 200;}
.foot-nav li{padding: 0 15px;border-right: 1px solid #cccccc;display: inline-block;line-height: 15px;}
.foot-nav li:last-child{border:none;}
.foot-nav a{color: #cccccc;font-size: 14px;text-decoration: none;font-family:Arial, Helvetica}
.foot-nav a:hover{color: #523a2e;}

.dialogs .form-box {
  /*background:#fff;*/
}
.dialogs .form-box form{margin-top: 0;}
.opacity {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.8);
   opacity: 0;
   z-index: 400;
   display:none;
}
.callback-form {
  position:fixed;
  left:50%;
  top:50%;
  z-index:500;
  margin-left:-157px;
  padding: 10px;
  margin-top:-203px;
  opacity:0;
  display:none;
  background: rgba(32,33,50,0.9);
}
.dialogs .close {
  background:url(img/close-icons.html) no-repeat 0 0;
  cursor:pointer;
  width:36px;
  height:36px;
  position:absolute;
  top:17px;
  right:17px;
}
.dialogs .close:hover {
  background-position:0 -36px;
}
.dialogs .close:active {
  background-position:0 -72px;
}
.typeofform {
  display:none;
}
#parent_popup {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#popup {
  width:408px;
  height:184px;
  position:fixed;
  left:50%;
  top:50%;
  margin-top:-92px;
  margin-left:-207px;
  border:3px solid #e1e1e1;
  background:#fff;
  color:#000;
  text-align:center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#popup .h {
  font-size:43px;
  text-transform:uppercase;
  padding-top:40px;
  margin-bottom:10px;
}
#popup .text {
  font-size:18px;
}

.preload {position: absolute; left:-30000px; top:0;}

.coupon {
  cursor: pointer;
  color: white !important;
  border-bottom: 1px dashed;
}
