@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
    
}

.main { 
    background: url("../images/bg_main.png") repeat;
    min-height: 100%; 
    min-width: 1035px;
}

.header {
    height: 140px;
    background: url("../images/bg_head.png") repeat-x;
}

.header-main {
    height: 140px;
    width: 1035px;
    margin: 0 auto;
}

.logo {
    width: 514px;
    height: 140px;
    float: left;
    cursor: pointer;
}

.inf1 {
    float: left;
    width: 521px;
    height: 140px;
    background: url(../images/bg_head2.png) bottom no-repeat;
}

.inf1 p {
    display: block;
    color: #4b4a4a;
    padding: 6px 0 0 0px;
    line-height: 14px;
    float: left;
    margin-left: 13px;
}

.inf1 b {
    margin-left: 13px;
    padding-top: 6px;
    display: block;
    color: #8b432f;
    font-size: 12px;
}


.content {
    overflow: hidden;
}

.content-main {
    width: 1035px;
    margin: 0 auto;
    overflow: hidden;
}

.content .menu {
    width: 1035px;
    height: 31px;
}

.content .menu ul {
    /*overflow: hidden;*/
    /*float: left;*/
    /*width: 805px;*/
}

.content .menu li{
    float: left;
    margin-right: 5px;
    width: 122px;
    height: 31px;
    background: url("../images/bg_menu_b.png") no-repeat;
}

.content .menu li.active, .content .menu li:hover {
    background: url("../images/bg_menu_b_active.png") no-repeat;
    
}

.content .menu li.active a, .content .menu li:hover a {
    text-shadow: 1px 1px 0 #c07631;
    color: #fffdd6;
}

.content .menu li a {
    width: 122px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #8b432f;
    font-weight: bold;
    font-size: 13px;
    display: block;
    text-shadow: 1px 1px 0 #c8e161;
    text-transform: uppercase;  
}

.content .menu .social {
    float: right;
    margin-right: 7px;
    margin-top: 1px;
}

.sitebar {
    float: left;
    width: 199px;
    margin-top: 9px;
    margin-right: 13px;
}

.sitebar .cat {
    margin-bottom: 13px;
}

.sitebar .cat h2 {
    height: 30px;
    width: 175px;
    background-color: #c66931;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #fffdd6;
    text-shadow: 1px 1px 0 #975025;
    line-height: 28px;
    padding-left: 23px;
}

.sitebar .cat li {
    width: 200px;
    height: 25px;
    margin-left: -1px;
    margin-top: 4px;
}

.sitebar .cat li:first-child  {
    margin-top: 6px;
}

.sitebar .cat li a{
    width: 176px;
    height: 25px;
    display: block;
    padding-left: 24px;
    line-height: 25px;
    color: #4e4d4d;
    font-size: 13px;
    text-transform: uppercase;
    background: url(../images/bg_menu_li.png) no-repeat;
}

.sitebar .cat li:hover a {
    background: url(../images/bg_menu_li_active.png) no-repeat;
}



.sitebar .baners .baner {
    margin-bottom: 10px;
}

.sitebar .baners .baner .baner-img {
    width: 179px;
    height: 119px;
    background-color: #ababab;
    margin: 0 auto;
}

.sitebar .baners .baner p {
    color: #5e5e5e;
    text-align: center;
    line-height: 13px;
    padding-top: 4px;
    width: 179px;
    margin: auto;
}

.sitebar .baners .baner a:hover p {
    color: #c66931;
    text-decoration: underline;
}

.content-bar {
    float: left;
    margin-top: 15px;
    width: 823px;
}

.content-bar .block {
    margin-bottom: 23px;
}

.content-bar h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5e5e5e;
}

.content-bar .tubs {
    margin-top: 4px;
    overflow: hidden;
    margin-right: -4px;
}

.content-bar .tube {
    width: 202px;
    height: 356px;
    background-color: #faf6e4;
    margin-right: 4px;
    margin-bottom: 5px;
    float: left;
}

.content-bar .tube:hover {
    background-color: #f8f2cc;
}

.content-bar .tube h3 {
    text-align: center;
    font-weight: bold;
    color: #8b432f;
    line-height: 13px;
    padding: 4px 20px;
    height: 36px;
    overflow: hidden;
    font-size: 12px;
}

.content-bar .tube .img {
    margin-left: 1px;
    margin-bottom: 1px;
}

.content-bar .tube img {
    width: 200px;
    height: auto;
}

.content-bar .tube p {
    color: #8b432f;
    line-height: 13px;
    text-align: center;
    height: 80px;
    overflow: hidden;
    font-size: 11px;
}

.content-bar .pagi {
    text-align: center;
    margin-top: 4px;
}

.content-bar .pagi li{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    background-color: #f8f2cc;
    width: 26px;
    height: 26px;
    border-radius: 3px;
}

.content-bar .pagi li:hover, .content-bar .pagi li.active {
    background-color: #c66931;
    
}

.content-bar .pagi li:hover a, .content-bar .pagi li.active a {
    color: #ececec;
}

.content-bar .pagi li a {
    color: #737373;
    display: block;
    height: 26px;
    width: 26px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
}

.clear-footer {
    clear: both;
    height: 130px;
}

.footer {
    margin-top: -80px;
    height: 80px;
}

.footer-main {
    width: 1035px;
    margin: 0 auto;
    overflow: hidden;
}

.footer-main .logo-footer {
    float: left;
}

.footer-main p {
    float: left;
    width: 780px;
    color: #5e5e5e;
    line-height: 13px;
    padding-left: 3px;
    margin-top: 13px;
}

.footer-text {
    height: 80px;
    background: url(../images/bg_footer.png) bottom no-repeat;
    float: left;
}

/*---------------------------------------------------------------------------------*/ 

.bc li {
    float: left;
    text-transform: uppercase;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
}

.bc h1 {
    font-size: 14px;
}

.bc li:last-child {
    text-transform: none;
    font-weight: normal;
    color: #c66931;
}

.bc {
    margin-bottom: 13px;
    overflow: hidden;
}

.bc a {
    color: #c66931;
    font-size: 14px;
}

.bc .arrow-right {
    width: 12px;
    height: auto;
}

.block3 {
    text-align: center;
}

.block .video {
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.block .categories {
    padding: 9px 10px 9px 30px;
    border-radius: 4px;
    background-color: #faf6e4;
    margin-top: 19px;
} 

.block .categories .top-social {
    overflow: hidden;
    text-align: left;
    height: 34px;
}

.block .categories .top-social .buttons {
    float: left;
}

.block .categories .top-social #rating {
    float: right;
}

.block .categories .center {
    margin-top: 15px;
    text-align: left;
    margin-bottom: 14px;
}

.block .categories .center p a {
    font-size: 13px;
    line-height: 16px;   
    color: #c66931;
}

.block .categories .center h4{
    color: #454545;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.block .categories .center p{
    color: #454545;
    font-size: 13px;
    line-height: 16px;
    width: 75%;
}

.block .categories .bottom {
    overflow: hidden;
    height: 15px;
}

.block .categories .bottom .b1 {
    text-align: left;
    color: #656565;
    font-size: 14px;
    background: url("../images/icon2.png") left center no-repeat;
    padding-left: 21px;
    float: left;
}

.block .categories .bottom .b1 span {
    color: #c66931;
    font-size: 14px;
}

.block .categories .bottom .b2 {
    text-align: left;
    color: #656565;
    font-size: 14px;
    background: url("../images/icon3.png") left center no-repeat;
    padding-left: 21px;
    float: left;
    margin-left: 60px;
}

.block .categories .bottom .b2 a {
    color: #c66931;
    font-size: 14px;
}

.block .categories .bottom .b2 a:hover {
    text-decoration: underline;
}

.comm {
    padding: 10px 10px 10px 35px;
    border-radius: 4px;
    background-color: #faf6e4;
    margin-top: 5px;
}

.comm h4 {
    color: #454545;
    font-size: 13px;
    font-weight: bold;
}

.comm input {
}

.comm input.user-name{
    background: url("../images/input1.png") no-repeat;
    width: 219px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #454545;
    padding: 0 9px;
    margin-top: 9px;
    border: none;
}

.comm textarea{
    background: url("../images/input2.png") no-repeat;
    width: 606px;
    height: 89px;
    font-size: 12px;
    color: #454545;
    padding: 8px 9px;
    margin-top: 14px;
    border: none;
    font-family: 'Tahoma'; 
    line-height: 16px;
    resize: none;
}

.comm input[type="submit"] {
    margin-top: 8px;
}

.user-comm {
    margin-bottom: 20px;
}

.user-comm-main {
    margin-bottom: 30px;
}

.user-comm .user-comm-top .username {
    color: #c66931;
    font-size: 14px;
   font-weight: bold;
}

.user-comm-top .date {
    font-size: 10px;
    color: #8e8e8e;
}

.user-comm p{
    margin-top: 2px;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
}

.info {padding: 2px; margin: 0 auto;}
.info .rating-holder {width: 90px; float: right; font-size: 10px;}
.info .rating-holder .votes {text-align: center;}
.info .views {width: 70px; float: left; font-size: 12px; margin: 5px 0 0 5px;}
.info .views img {width: 15px; height: auto;}

.text_top {
    padding: 9px 10px 9px 9px;
    border-radius: 4px;
    background-color: #faf6e4;
} 
.text_top p {
    font-size: 13px;
    color: #333;
}
.text_top .kustik {
    float: right;
}

.category-description {
    padding: 5px;
}

.category-description img {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 10px;
} 

.share {
    margin-top: 10px;
    text-align: center;
    height: 35px;
}
.share .text {
    /*width: 270px;*/
    color: #8b432f;
    font-size: 14px;
    display: inline-block;
}
.share .buttons {
    min-width: 200px;
    display: inline-block;
    overflow: hidden;
}

.sex-texts {margin: 10px 0 0 0;}
.sex-texts .more {text-align: right;}
.sex-texts ul {margin: 0;}
.sex-texts li {margin: 20px auto; list-style-type: none;}
.sex-texts .title{color: #5e5e5e; font-weight: bold; font-size: 20px; margin-left: 15px;}
.sex-texts .more {color: #C03; font-size: 13px;}
.sex-texts .text {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    background-color: #faf6e4;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0px;
} 
.sex-texts span {font-size: 13px;}
.sex-texts p {font-size: 13px;}
.sex-texts .short {max-height: 200px; overflow: hidden; font-size: 13px;}
.sex-texts .short img {max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.sex-text h1 {margin-left: 10px; font-size: 30px;}
.sex-text img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}
.sex-text .text {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    background-color: #faf6e4;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
} 
.sex-text span {font-size: 13px;}
.sex-text p {font-size: 13px; line-height: 17px;}

.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 600px; text-align: center;}
.h1_rating .right {float: right; /*margin-top: 15px;*/ width: 190px;}

/*clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
/*clearfix*/

.counter {text-align: center;}
