/* CSS Document */

body {margin: 0; padding: 0; background-color: #000;}

.bread {
	width: 750px;
	height: 29px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px 0 5px 10px;
	text-align: left;
	border: 2px ridge #000;
	border-left: 15px ridge #900;
	background-color: #222;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}
.bread h1 {display: inline; font-size: 20px;}
.bread a {text-decoration: underline;}
.bread a:hover {color: #fff;}

a {color: #ccc;}
#footer_def {color: #ccc;}
#footer_def a {color: #ccc;}

#logo {
	width: 1055px;
	height: 212px;
	margin: 0 auto;
	background-image:url(images/logo.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
}
#logo .text {
	color: #FCC;
	font-size:17px;
	position:relative;
	top: 185px;
	left: 15px;
}

#menu {width: 1050px; margin: 20px auto; padding: 0; text-align: center; list-style-type: none;}
#menu li {
	width: 175px;
	height: 39px;
	margin: 0 0 0 0;
	overflow: hidden;
	float: left;
	padding: 6px 0 0 0;
	background-image: url(images/menu_button.png);
	background-repeat: no-repeat;
	list-style-type: none;
	font-weight: bold;
	background-position: -6px top;
}
#menu li a {color: #fff; font-size: 14px;}
#menu li a:hover {color: #ddd;}
#menu li.current {font-weight: bold;}

.block_title {
	width: 750px;
	margin: 0 auto;
	text-align: center;
}

.block_title {
	font-size: 24px;
	color: #9CF;
	font-weight: bold;
}

.block_thumbs {
	/* clear: both; */
	width: 750px;
	margin: 0 auto;
	color: #ccc;
	background-image: url(images/c_block_rep.png);
	background-repeat: repeat-y;
}
.block_thumbs_top {
	width: 750px;
	height: 28px;
	margin: 0 auto;
	background-image: url(images/c_block_top.png);
	background-repeat: no-repeat;
	}
.block_thumbs_bot {
	width: 750px;
	height: 29px;
	margin: 0 auto;
	background-image: url(images/c_block_bot.png);
	background-repeat: no-repeat;
	}

.thumbs li {height: 200px; border: 1px dashed #333;}
.thumbs li:hover {background-color: #222;}
.thumbs li a {color: #fff;}
.thumbs li .date {color: #666;}
.thumbs li .views {color: #666;}

.page_text {font-size: 12px; color: #fff; width: 700px; padding: 0 20px; padding-top: 5px;}
.page_text p {margin: 0; padding: 0;}

#text_new {
	width: 314px;
	height: 54px;
	margin: 0 auto;
	background-image: url(images/text_new.png);
	background-repeat: no-repeat;
	}
#text_popular {
	width: 452px;
	height: 54px;
	margin: 0 auto;
	background-image: url(images/text_popular.png);
	background-repeat: no-repeat;
	}
#text_view {
	width: 452px;
	height: 54px;
	margin: 0 auto;
	background-image: url(images/text_view.png);
	background-repeat: no-repeat;
	}
#text_cats {
	width: 452px;
	height: 54px;
	margin: 0 auto;
	background-image: url(images/text_cats.png);
	background-repeat: no-repeat;
	}
#text_tags {
	width: 193px;
	height: 63px;
	margin: 0 auto;
	background-image: url(images/text_tags.png);
	background-repeat: no-repeat;
	}

.vspace {margin-top: 30px;}

.central_block {width: 750px; float: left;}
/*
.central_block {width: 750px; margin: 0 auto;}
*/

.small_block {width: 150px; float: left;}
.small_block .top {width: 150px; height: 20px; background-image: url(images/m_block_top.png); background-repeat: no-repeat;}
.small_block .bot {width: 150px; height: 22px; background-image: url(images/m_block_bot.png); background-repeat: no-repeat;}
.small_block .content {width: 150px; background-image: url(images/m_block_rep.png); background-repeat: repeat-y;}

.content {width: 1130px; margin: 0 auto;}

.sort {color: #666;}
.sort a:hover {color: #fff;}

.pages ul .current, .pages ul .active {color: #333;}

#video_info .title {color: #FC3;}
#video_info ul.tags_list {float: none; display: inline; list-style-type: none;}
#video_info .tags ul li {color: #FC0; float: none; display: inline;}
#video_info a {color: #fff; text-decoration: underline;}

.warning {width: 1000px; text-align: left; margin: 0 auto; color: #FC3; font-size:10px;}

#categories li {color: #fcc; font-weight: normal;}
#categories li a {color: #fff;}
#categories li a:hover {color: #fcc;}
#categories li {float: none;}

.left_block {float: left; width: 230px;}

#registration .steps {color: #fc0;}
#registration .text {color: #fff;}
#registration .field {color: #ccc;}
#registration .submit {font-size: 14px; padding: 4px 6px 4px 6px;}

.load {text-align: center;}
.load a {color: #ffcc00; size: 14px; text-decoration: bold;}
.load #save_qrcode {width: 256px; background-color: #fff; padding: 20px; margin: 0 auto;}

.rating {margin: 0 auto; text-align: right;};

.articles {margin: 10px 0 0 0;}
.articles .more {text-align: right;}
.articles ul {margin: 0;}
.articles li {margin: 20px auto; list-style-type: none;}
.articles .title{color: #C03; font-weight: bold; font-size: 20px; margin-left: 15px;}
.articles .more {color: #C03;}
.articles .text {margin-bottom: 0; color: #ccc;}
.articles .short {max-height: 200px; overflow: hidden;}
.articles .short img {max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.article {color: #ccc;}
.article h1 {margin-left: 10px; font-size: 30px;}
.article img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

#online {
	width: 700px;
}

#tags a {
    display: inline-block;
    padding: 5px;
    border: 1px solid #444;
    margin: 5px;
    color: #d7d5d5;
}
#tags a:hover {
    color: red;
    border-color: red;
}