.ajaxToolWidgetResponseContainer{
    position:absolute; top: 0px; left: 0px;
    z-index: 2147483647;
    min-height: 30px;
    min-width: 30px;
    display:none;
    width: 100%;
    height: 100%;
}
.ajaxToolWidgetLoading
{
    background-color: #ffffff;
    opacity: 0.5;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);  */
}
.widgetTool{
    position:relative;
}
.widgetToolContainer{
    position:relative;
}
.ajaxToolWidgetError{
    position: absolute;
    width: 80%;
    left:10%;
    top:80px;
    z-index: 1000;
    border: 1px solid #ccc;
    background: #fff;
    padding:30px;
}
.ajaxToolWidgetError .close-btn{
    cursor:pointer;
}
.visibleOnlyWhenDebugOn{
    font-size:9px;color:gray;opacity:0.8;
}