/* modal window
   ---------------------------------------- */

.padding {
    padding: 10px;
}

.modal-show {
    overflow: hidden !important;
    position: relative;
    margin-right: 17px;
}

.margin-t-b {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-l {
    margin-left: 0 !important;
}

.loader, .modal-order {
    background-image: url(../img/overlay.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
}

.loader {
    z-index: 99;
}

.modal-order {
    z-index: 9999;
    overflow: auto;
    font-size: 14px;
    color: #000;
    text-align: justify;
}

.modal-order .modal-top {
    top: 50%;
}

.modal-order .modal-left {
    left: 50%;
}

.modal-form {
    position: relative;
    width: 710px;
    background: #fdfbfb;
}

.modal-form .button.red {margin:0 auto;}
.modal-form .button.red:hover {background:#000;color:#fff;}

.modal-form h1 {font-size:30px;font-weight:500;color:#010101;}
.modal-form h2 {line-height:23px;padding:30px 0;color:#515151;}
.modal-form h3 {font-weight:500;padding:0 0 30px 0;}

.modal-order .content {
    background: #fdfbfb;
	padding:35px 30px 53px 30px;
    width: auto;
	text-align:center;
    overflow: hidden;
}

@media screen and (max-width: 989px) and (min-width: 640px) {
    .modal-form {
        width: 540px;
    } 
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    .modal-form {
        width: 300px;
    } 
	.modal-order .content {
		background: #fdfbfb;
		padding:35px 10px 53px 10px;
	}
	.modal-form h2 br {display:none;}
}