* {margin:0;padding:0;border:0;outline:none;}
li {list-style:none;}
a {text-decoration:none;}
body {font-family:'Roboto',arial,sans-serif;font-size:15px;color:#646363;}
input[type="text"],select {background:none;display:block;width:214px;height:44px;line-height:44px;font-family:'Roboto',arial,sans-serif;border:1px solid #d2d1d1;padding:0 12px;font-size:15px;color:#000;margin:0 auto 15px auto;}
select {width:315px;padding:0 30px;}
select option {color:#000;}
.width {width:990px;margin:0 auto;}  
.clear {clear:both;}
.button {background:#000;width:240px;height:60px;line-height:60px;letter-spacing:1px;display:block;font-size:25px;font-family:'Roboto',arial,sans-serif;font-weight:500;color:#fff;text-align:center;cursor:pointer;}
.button:hover {background:#c40f07;}
.button.red {background:#c40f07;}
.button.red:hover {background:#fff;color:#000;}
.title {text-align:center;font-size:18px;font-weight:500;color:#383736;line-height:1;}
.title div {font-size:35px;padding:0 0 15px 0;}
h1,h2,h3,h4 {font-weight:normal;font-size:100%;}


/* header */
#header {background:url(img/top.jpg) no-repeat center 0;height:668px;color:#fff;}
#header .top {height:597px;}
#header h1 {font-size:45px;font-weight:500;padding:160px 0 0 0;}
#header h2 {font-size:25px;width:585px;text-align:center;padding:15px 0 0 0;}
#header h3 {width:585px;font-size:20px;color:#eb2020;padding:15px 0 20px 25px;}
#header .list {line-height:30px;font-size:16px;padding:0 0 0 25px;float:left;}
#header .sale {background:url(img/sale.png) no-repeat 0 0;width:155px;height:155px;text-align:center;float:left;font-size:16px;line-height:25px;margin:0 0 0 60px;}
#header .sale div {font-size:30px;font-weight:700;padding:46px 0 0 0;}
#header .navigation {background:url(img/nav.png);height:71px;}
#header .navigation ul li {float:left;font-size:16px;}
#header .navigation ul li:hover {background:url(img/nav.png);}
#header .navigation ul li a {display:block;line-height:71px;color:#c3c3c2;padding:0 40px;}
#header .navigation ul li a:hover {background:url(img/nav.png);color:#fff;}
#header .navigation.fixed {width:100%;position:fixed;top:0;background:#000;z-index:100;height:50px;}
#header .navigation.fixed ul li a {line-height:50px;}
#header .navigation.fixed ul li a:hover {background:#f4f4f4;color:#000;}


/* video block */
#video-block {padding:60px 0 0 0;}
#video-block .title {padding:0 0 55px 0;}
#video-block .video {float:left;}
#video-block .video div {line-height:23px;font-size:16px;padding:0 0 26px 0;font-weight:500;}
#video-block .text {line-height:26px;width:470px;float:right;letter-spacing:0.4px;}
#video-block .button {margin:55px auto 0 auto;}

/* some pluses */
#some-pluses {padding:60px 0 60px 0;}
#some-pluses .item {width:430px;float:left;}
#some-pluses .item.right {float:right;}
#some-pluses .item div {font-size:25px;font-weight:500;padding: 0 0 30px 0;color:#383736;}
#some-pluses .item p {line-height:26px;padding:40px 0 0 0;}

/* gallery */
#gallery {background:url(img/gallery.jpg) no-repeat center 0;height:991px;color:#fff;}
#gallery .title {color:#fff;line-height:45px;padding:90px 0 0 0;}
#gallery .zoom {font-size:18px;font-weight:500;text-align:center;padding:8px 0 48px 0;}
#gallery img {vertical-align:bottom;}
#gallery .gallery-block {border:1px solid #5a1f1e;padding:17px 0 7px 17px;margin:0 145px;overflow:hidden;}
#gallery .gallery-block div {display: none;} 
#gallery .gallery-block div.visible {display: block;}
#gallery .gallery-block .big-item {float:left;}
#gallery .gallery-block .tabs {float:left;width:276px;}
#gallery .gallery-block .tabs li {float:left;margin: 0 0 10px 10px;cursor:pointer;}
#gallery .text {line-height:26px;color:#e7e7e7;display:none;}
#gallery .text.scroll-pane {max-height:205px;width:615px;display:block;padding:0 45px 0 0;overflow-y:auto;margin:55px auto 0 auto;}


/* Scrollbar */

.jspContainer {overflow: hidden;position: relative;}
.jspPane {position: absolute;}
.jspVerticalBar {position: absolute;top: 0;right: 0;width: 8px;height: 100%;background: none;}
.jspHorizontalBar {position: absolute;bottom: 0;left: 0;width: 100%;height: 12px;background: none;}
.jspCap{display: none;}
.jspHorizontalBar .jspCap {float: left;}
.jspTrack {background:url(img/panel.png);position: relative;width:8px;}
.jspDrag {background:#ffffff;position: relative;top: 0;left: 0;cursor: pointer;width:8px;}
#delivery .jspTrack {background:#dad9d9;position: relative;width:8px;}
#delivery .jspDrag {background:#828181;position: relative;top: 0;left: 0;cursor: pointer;width:8px;}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {float: left;height: 100%;}
.jspArrow {background: none;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled {cursor: default;background: none;}
.jspVerticalBar .jspArrow {height: 16px;}
.jspHorizontalBar .jspArrow {width: 16px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus {outline: none;}
.jspCorner {background: none;float: left;height: 100%;}
* html .jspCorner{margin: 0 -3px 0 0;}


/* present */
#present {padding:62px 0 63px 0;}
#present .content {background:url(img/present.jpg) no-repeat right 50px;overflow:hidden;padding:60px 0 40px 0;}
#present .content p {width:315px;float:left;line-height:26px;padding:0 60px 0 0;}
#present .button {margin:0 auto;}


/* image */
#image {background:url(img/img3.jpg) no-repeat center 0;height:411px;}


/* lider */
#lider {padding:62px 0 63px 0;}
#lider .content {background:url(img/lider.jpg) no-repeat 0 50px;overflow:hidden;padding:60px 0 40px 240px;}
#lider .content p {width:315px;float:left;line-height:26px;padding:0 0 0 55px;}
#lider .button {margin:0 auto;}


/* characteristics */
#characteristics {background:url(img/characteristics.jpg) no-repeat center 0;height:504px;color:#f2f2f2;}
#characteristics .title {color:#f2f2f2;padding:94px 0 70px 0;}
#characteristics p {float:left;padding:0 0 0 95px;line-height:26px;}
#characteristics p.right {padding:0 0 0 125px;}


/* properties */
#properties {padding:55px 0 10px 0;}
#properties .title {padding:0 0 45px 0;}
#properties .item {display:inline-block;vertical-align:top;width:485px;padding:0 40px 43px 0;}
#properties .item.right {width:460px;padding:0 0 43px 0;}
#properties .item img {display:inline-block;vertical-align:middle;}
#properties .item div {display:inline-block;vertical-align:middle;width:290px;padding:0 0 0 25px;line-height:23px;}
#properties .item.right div {width:265px;}
#properties .item p {font-size:17px;font-weight:700;color:#383736;padding:0 0 20px 0;}



/* image */
#image2 {background:url(img/img11.jpg) no-repeat center 0;height:411px;}


/* nine reasons */
#nine-reasons {padding:55px 0 0 0;}
#nine-reasons .title {padding:0 0 50px 0;}
#nine-reasons .item {width:33%;display:inline-block;vertical-align:top;padding:0 0 35px 0;}
#nine-reasons .item div {background:url(img/point.jpg) no-repeat 0 0;width:50px;height:50px;line-height:50px;color:#fff;font-size:30px;font-weight:500;text-align:center;margin:0 auto;}
#nine-reasons .item p {text-align:center;padding:20px 30px 0 30px;line-height:23px;}

/* garants */
#garants {padding:40px 0 65px 0;}
#garants .text {line-height:26px;text-align:center;padding:35px 0 55px 0;}
#garants .item {width:265px;float:left;text-align:center;padding:0 97px 0 0;}
#garants .item.last {padding:0;}
#garants .item div {font-size:18px;font-weight:500;color:#383736;padding:20px 0 0 0;}


/* form block */
.form-block {background:url(img/form.jpg) no-repeat center 0;height:674px;color:#fff;}
.form-block.second {background:url(img/form2.jpg) no-repeat center 0;}
.form-block .title {color:#fff;padding:89px 0 25px 0;}
.form-block .title div {padding:0;}
.form-block h1 {font-size:18px;font-weight:500;line-height:28px;text-align:center;padding:0 0 30px 0;}
.form-block .price {text-align:center;}
.form-block .price div,.form-block .price del {display:inline-block;vertical-align:top;padding:0 10px;font-size:25px;font-weight:500;}
.form-block .price del {color:#b0aeac;}
.form-block .price div {color:#c5150c;}
.form-block h2 {font-size:18px;line-height:28px;text-align:center;color:#a9a9a9;padding:42px 0 0 0;}
.form-block .time {padding:22px 0 0 0;}
.form-block #timer,.form-block #timer2 {text-align:center;}
.form-block #timer div,.form-block #timer2 div {display:inline-block;vertical-align:top;line-height:1;font-size:50px;padding:0 15px;width:60px;font-weight:500;}
.form-block #timer span,.form-block #timer2 span {font-size:15px;display:block;font-weight:400;padding:12px 0 0 0;}
.form-block #timer .dots,.form-block #timer2 .dots {font-weight:500;font-size:50px;display:inline-block;vertical-align:top;line-height:1;}
.form-block .sale {text-align:center;padding:39px 0 33px 0;}
.form-block .button {margin:0 auto;}

/* reviews */
#reviews {padding:0 0 60px 0;}
#reviews .title {padding:55px 0 50px 0;}
#reviews .review {text-align:center;padding:0 107px;}
#reviews .review div {font-size:18px;font-weight:500;padding:15px 0 40px 0;}
#reviews .review p {line-height:26px;}
#reviews .flex-control-nav {display:none;}
#reviews .flex-direction-nav {}
#reviews .flex-direction-nav a {background:url(img/arrows.png) no-repeat 0 0;width:24px;height:28px;display:block;text-indent:-9999px;position:absolute;top:47px;}
#reviews .flex-direction-nav a.flex-prev {background-position:0 0;left:350px;}
#reviews .flex-direction-nav a.flex-next {background-position:right 0;right:350px;} 
#reviews .flexslider {position:relative;}



/* image */
#image3 {background:url(img/img15.jpg) no-repeat center 0;height:411px;}


/* why buy */
#why-buy {padding:0 0 20px 0;}
#why-buy .title {padding:55px 0 45px 0;}
#why-buy .item {display:inline-block;vertical-align:top;width:453px;padding:0 80px 50px 0;}
#why-buy .item.right {padding-right:0;}
#why-buy .item img {vertical-align:bottom;}
#why-buy .item div {font-size:18px;line-height:25px;font-weight:500;padding:40px 0 20px 0;}
#why-buy .item p {line-height:26px;}
#why-buy .item-clock {background:url(img/img21.jpg) no-repeat center 0;padding:443px 0 0 0;margin:-80px 0 0 0;display:inline-block;vertical-align:top;width:453px;}
#why-buy .button {margin:0 auto;}


/* image */
#image4 {background:url(img/img22.jpg) no-repeat center 0;height:411px;}


/* questions */
#questions {}
#questions .title {padding:0 0 55px 0;}
#questions .width {background:url(img/question.jpg) no-repeat 560px bottom;padding:55px 0 0 0;}
#questions .item {width:460px;padding:0 80px 55px 0;display:inline-block;vertical-align:top;line-height:26px;}
#questions .item.right {width:440px;padding-right:0;}
#questions .item div {font-size:18px;font-weight:500;padding:0 0 30px 0;color:#383736;}


/* delivery */
#delivery {padding:50px 0 0 0;}
#delivery .message {background:url(img/delivery.jpg) no-repeat 0 30px;padding:70px 0 70px 505px;}
#delivery .message .scroll-pane {height:290px;line-height:26px;overflow-y:auto;}
#delivery .message .scroll-pane span {font-size:18px;font-weight:500;}
#delivery .message .text {display:none;}


/* garants2 */
#garants2 .title {padding:20px 0 55px 0;}
#garants2 .item {display:inline-block;vertical-align:top;padding:0 41px 55px 0;}
#garants2 .item.right {padding-right: 0;}
#garants2 .item img {float:left;}
#garants2 .item div {margin:0 0 0 195px;width:270px;line-height:26px;}
#garants2 .item div p {font-weight:500;font-size:17px;}


/* bottom */
#bottom {background:#262626;padding:25px 0;color:#fff;font-family:arial,sans-serif;text-align:center;}
#bottom a {color:#fff;text-decoration:underline;}
#bottom a:hover {text-decoration:none;}



@media screen and (max-width: 989px) and (min-width: 640px) {
	.width {width:574px;padding:0 33px;} 
	.title div {font-size:28px;padding:0 0 15px 0;}
	
	

	/* header */
	#header {background:url(640/top.jpg) no-repeat center 0;height:720px;color:#fff;}
	#header .top {height:auto;position:relative;}
	#header h1 {font-size:40px;font-weight:500;padding:125px 0 0 0;text-align:center;}
	#header h2 {font-size:25px;width:auto;text-align:center;padding:15px 0 0 0;}
	#header h3 {width:auto;font-size:20px;color:#eb2020;padding:293px 0 0 0;}
	#header .list {line-height:30px;font-size:16px;padding:40px 0 0 0;overflow:hidden;float:none;}
	#header .list p {float:left;width:255px;}
	#header .list p.right {float:right;}
	#header .sale {float:none;position:absolute;left:317px;top:265px;}
	#header .navigation {display:none;}


	/* video block */
	#video-block {padding:45px 0 0 0;}
	#video-block .title {padding:0 0 30px 0;}
	#video-block .video {float:none;width:460px;margin:0 auto;}
	#video-block .video div {line-height:23px;font-size:16px;padding:0 0 26px 0;font-weight:500;text-align:center;}
	#video-block .video div br {display:none;}
	#video-block .text {line-height:26px;width:auto;padding:33px 60px 0 60px;float:none;letter-spacing:0.4px;}
	#video-block .button {margin:55px auto 0 auto;}
	
	
	/* some pluses */
	#some-pluses {padding:60px 0 10px 0;}
	#some-pluses .item {width:430px;margin:0 auto;padding:0 0 50px 0;float:none;}
	#some-pluses .item.right {float:none;}
	#some-pluses .item div {font-size:25px;font-weight:500;padding: 0 0 30px 0;color:#383736;text-align:center;}
	#some-pluses .item p {line-height:26px;padding:40px 0 0 0;}
	
	
	/* gallery */
	#gallery {background:url(640/gallery.jpg) no-repeat center 0;height:1300px;color:#fff;}
	#gallery .title {color:#fff;line-height:38px;padding:90px 70px 0 70px;}
	#gallery .title br {display:none;}
	#gallery .zoom {font-size:18px;font-weight:500;text-align:center;padding:8px 0 48px 0;}
	#gallery img {vertical-align:bottom;}
	#gallery .gallery-block {border:0;padding:0;margin:0;overflow:none;}
	#gallery .gallery-block div {display: none;} 
	#gallery .gallery-block div.visible {display: block;}
	#gallery .gallery-block .big-item {float:none;text-align:center;}
	#gallery .gallery-block .tabs {float:none;width:auto;padding:0 75px 0 75px;}
	#gallery .gallery-block .tabs li {float:left;margin:20px 0 0 20px;cursor:pointer;}
	#gallery .text.scroll-pane {max-height:205px;width:485px;padding:0 45px 0 0;overflow-y:auto;margin:55px auto 0 auto;line-height:26px;color:#e7e7e7;}

	
	/* present */
	#present {padding:62px 0 63px 0;}
	#present .content {background:none;overflow:hidden;padding:60px 20px 40px 20px;}
	#present .content p {width:auto;float:none;line-height:26px;display:inline;padding:0;}
	#present .button {margin:0 auto;}


	/* image */
	#image {background:url(640/img3.jpg) no-repeat center 0;height:300px;}
	#lider,#image2,#nine-reasons,#garants,#garants2,#why-buy,#image4 {display:none;}
	
	

	/* characteristics */
	#characteristics {background:url(640/characteristics.jpg) no-repeat center 0;height:545px;color:#f2f2f2;}
	#characteristics .title {color:#f2f2f2;padding:94px 110px 70px 110px;}
	#characteristics p {float:left;padding:0;line-height:26px;width:270px;}
	#characteristics p.right {padding:0;float:right;width:240px;}
	
	
	/* properties */
	#properties {padding:55px 0 10px 0;}
	#properties .title {padding:0 0 45px 0;}
	#properties .item {display:block;vertical-align:top;width:auto;padding:0 0 43px 0;}
	#properties .item.right {width:auto;padding:0 0 43px 0;}
	#properties .item img {width:125px;}
	#properties .item div {display:inline-block;vertical-align:middle;width:400px;padding:0 0 0 25px;line-height:23px;}
	#properties .item.right div {width:400px;}
	#properties .item p {font-size:17px;font-weight:700;color:#383736;padding:0 0 20px 0;}
	
	
	#reviews {padding:0 0 60px 0;}
	#reviews .title {padding:41px 0 35px 0;}
	#reviews .review {text-align:center;padding:0px;}
	#reviews .flex-direction-nav a.flex-prev {background-position:0 0;left:150px;}
	#reviews .flex-direction-nav a.flex-next {background-position:right 0;right:150px;} 
	
	/* image */
	#image3 {background:url(640/img15.jpg) no-repeat center 0;height:238px;}
	
	
	/* questions */
	#questions {}
	#questions .title {padding:0 0 41px 0;}
	#questions .width {background:url(img/question.jpg) no-repeat center bottom;padding:39px 0 400px 0;}
	#questions .item {width:auto;padding:0 0 25px 0;display:block;line-height:26px;}
	#questions .item.right {width:auto;padding-right:0;}
	#questions .item div {font-size:18px;font-weight:500;padding:0 0 30px 0;color:#383736;}
	
	
	/* delivery */
	#delivery {padding:45px 0 40px 0;}
	#delivery .message {background:url(img/delivery.jpg) no-repeat center bottom;padding:40px 30px 370px 30px;}
	#delivery .message .scroll-pane {height:290px;line-height:26px;overflow-y:auto;padding:0 30px 0 0;width:470px;}
	#delivery .message .scroll-pane span {font-size:18px;font-weight:500;}
}


@media screen and (max-width: 640px) and (min-width: 320px) {
	.width {width:284px;padding:0 18px;}
	.title div {font-size:24px;padding:0 0 11px 0;}
	.title {font-size:15px;}
	
	
	/* header */
	#header {background:url(320/top.jpg) no-repeat center 0;height:904px;color:#fff;}
	#header .top {height:auto;position:relative;}
	#header h1 {font-size:30px;line-height:26px;font-weight:500;padding:65px 0 0 0;text-align:center;}
	#header h2 {font-size:16px;width:auto;text-align:center;padding:15px 0 0 0;}
	#header h3 {width:auto;font-size:18px;text-align:center;color:#eb2020;padding:445px 0 0 0;}
	#header .list {line-height:30px;font-size:16px;padding:30px 0 0 10px;float:none;}
	#header .sale {float:none;position:absolute;left:0;top:426px;right:0;margin:0 auto;}
	#header .navigation {display:none;}
	


	/* video block */
	#video-block {padding:45px 0 0 0;}
	#video-block .title {padding:0 0 30px 0;}
	#video-block .video {float:none;width:auto;margin:0;}
	#video-block .video iframe {width:284px;}
	#video-block .video div {line-height:23px;font-size:16px;padding:0 0 26px 0;font-weight:500;text-align:center;}
	#video-block .video div br {display:none;}
	#video-block .text {line-height:26px;width:auto;padding:33px 0 0 0;float:none;letter-spacing:0.4px;}
	#video-block .button {margin:55px auto 0 auto;}
	
	
	/* some pluses */
	#some-pluses {padding:40px 0 10px 0;}
	#some-pluses .item {width:auto;padding:0 0 30px 0;float:none;}
	#some-pluses .item.right {float:none;}
	#some-pluses .item div {font-size:25px;font-weight:500;padding: 0 0 30px 0;color:#383736;text-align:center;}
	#some-pluses .item img {width:284px;}
	#some-pluses .item p {line-height:26px;padding:40px 0 0 0;}
	
	
	
	/* gallery */
	#gallery {background:url(320/gallery.jpg) no-repeat center 0;height:2891px;color:#fff;}
	#gallery .title {color:#fff;line-height:30px;padding:75px 0 0 0;}
	#gallery .title br {display:none;}
	#gallery .zoom {font-size:16px;line-height:25px;font-weight:500;text-align:center;padding:8px 0 34px 0;}
	#gallery img {vertical-align:bottom;}
	#gallery .gallery-block {border:0;padding:0;margin:0;overflow:none;}
	#gallery .gallery-block div {display: none;} 
	#gallery .gallery-block div.visible {display: block;}
	#gallery .gallery-block .big-item {float:none;text-align:center;}
	#gallery .gallery-block .big-item img {width:284px;}
	#gallery .gallery-block .tabs {float:none;width:auto;padding:0 0 0 0;}
	#gallery .gallery-block .tabs li {float:left;margin:18px 18px 0 0;cursor:pointer;}
	#gallery .gallery-block .tabs li.third {margin-right:0;}
	#gallery .text.scroll-pane {display:none;}
	#gallery .text {display:block;padding:55px 0 0 0;}
	
	
	/* present */
	#present {padding:50px 0 45px 0;}
	#present .content {background:none;overflow:hidden;padding:30px 0 40px 0;}
	#present .content p {width:auto;float:none;line-height:26px;display:inline;padding:0;}
	#present .button {margin:0 auto;}

	/* image */
	#image {background:url(320/img3.jpg) no-repeat center 0;height:233px;}
	#lider,#image2,#nine-reasons,#garants,#garants2,#why-buy,#image4 {display:none;}
	
	
	/* characteristics */
	#characteristics {background:url(320/characteristics.jpg) no-repeat center 0;height:730px;color:#f2f2f2;}
	#characteristics .title {color:#f2f2f2;padding:70px 0 40px 0;}
	#characteristics p {float:none;padding:0;line-height:26px;width:auto;}
	#characteristics p.right {padding:0;float:none;width:auto;} 
	
	
	/* properties */
	#properties {padding:35px 0 10px 0;}
	#properties .title {padding:0 0 45px 0;}
	#properties .item {display:block;width:auto;padding:0 0 43px 0;text-align:center;}
	#properties .item.right {width:auto;padding:0 0 43px 0;}
	#properties .item img {width:125px;}
	#properties .item div {display:block;width:auto;padding:0 0 0 25px;line-height:23px;}
	#properties .item.right div {width:auto;}
	#properties .item p {font-size:17px;font-weight:700;color:#383736;padding:15px 0 15px 0;}
	
	/* form block */
	.form-block {background:url(320/form.jpg) no-repeat center 0;height:745px;color:#fff;}
	.form-block.second {background:url(320/form2.jpg) no-repeat center 0;height:745px;}
	.form-block .title {color:#fff;padding:75px 0 25px 0;}
	.form-block .title div {padding:0;}
	.form-block h1 {font-size:16px;font-weight:500;line-height:25px;text-align:center;padding:0 0 30px 0;}
	.form-block h1 p {display:none;}
	.form-block .price {text-align:center;}
	.form-block .price div,.form-block .price del {display:inline-block;vertical-align:top;padding:0 10px;font-size:25px;font-weight:500;}
	.form-block .price del {color:#b0aeac;}
	.form-block .price div {color:#c5150c;}
	.form-block h2 {font-size:16px;line-height:25px;text-align:center;color:#a9a9a9;padding:42px 0 0 0;}
	.form-block .time {padding:22px 0 0 0;}
	.form-block #timer,.form-block #timer2 {text-align:center;}
	.form-block #timer div,.form-block #timer2 div {padding:0 5px;}
	.form-block .sale {text-align:center;padding:39px 0 33px 0;}
	.form-block .button {margin:0 auto;}
	
	
	
	#reviews {padding:0 0 40px 0;}
	#reviews .title {padding:41px 0 35px 0;}
	#reviews .review {text-align:center;padding:0px;}
	#reviews .flex-direction-nav a.flex-prev {background-position:0 0;left:25px;}
	#reviews .flex-direction-nav a.flex-next {background-position:right 0;right:25px;} 
	
	
	/* image */
	#image3 {background:url(320/img15.jpg) no-repeat center 0;height:182px;}
	
	
	/* questions */
	#questions {}
	#questions .title {padding:0 0 41px 0;}
	#questions .width {background:url(320/question.jpg) no-repeat center bottom;padding:39px 0 350px 0;}
	#questions .item {width:auto;padding:0 0 25px 0;display:block;line-height:26px;}
	#questions .item.right {width:auto;padding-right:0;}
	#questions .item div {font-size:16px;font-weight:500;padding:0 0 20px 0;color:#383736;}
	
	
	/* delivery */
	#delivery {padding:35px 0 30px 0;}
	#delivery .message {background:url(320/delivery.jpg) no-repeat center bottom;padding:30px 0 230px 0;}
	#delivery .message .text {display:block;line-height:26px;padding:0 0 0 0;}
	#delivery .message .text span {font-size:18px;font-weight:500;}
	#delivery .message .scroll-pane {display:none;}
}