@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

ul,li {
margin:0;
padding:0;
list-style-type:none;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #bcbcbb;
	background-color: #0d0d0d;
	margin: 0px;
	padding: 0px;
}

a {
color:#c4803a;
text-decoration:none;
}

a:hover {
color:#c4803a;
}
a img {
border-top-style:none;
border-right-style:none;
border-bottom-style:none;
border-left-style:none;
margin:0;
padding:0;
}
#header {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/elements.png);
	background-position: left -108px;
	height: 142px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	overflow: hidden;
}
.logo_link {
	display: block;
	height: 140px;
	width: 500px;
	float: left;
}
#search {
	width: 440px;
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}

#search-box {
position: relative;
width: 100%;
margin: 0;
}
 
#search-form
{
	height: 40px;
	border: 1px solid #72293e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #000000;
	overflow: hidden;
}
#search-text
{
font-size: 14px;
color: #adadad;
border-width: 0;
background: transparent;
}
 
#search-box input[type="text"]
{
	width: 90%;
	color: #adadad;
	outline: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-right: 0;
	padding-left: 1em;
	font-size: 13px;
	padding-top: 10px;
}
 
#search-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 60px;
	font-size: 14px;
	color: #d8d8d8;
	text-align: center;
	line-height: 40px;
	border-width: 0;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #430b0b),
	color-stop(1, #9b0c38)
);
	background-image: -o-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: -moz-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: -webkit-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: -ms-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: linear-gradient(to bottom, #430b0b 0%, #9b0c38 100%);
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}
.addthis_toolbox {
	position: absolute;
	top: 65px;
	right: -50px;
	width: 320px;
	text-align: right;
}
.wrapper {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
.title {
	font-size: 14px;
	font-weight: bold;
	color: #c4803a;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-right: 4px;
	padding-left: 4px;
	height: 36px;
	overflow: hidden;
}
.thumb {
	float: left;
	width: 230px;
	text-align: center;
	border: 1px solid #363636;
	margin: 4px;
	background-color: #1d1d1d;
	overflow: hidden;
}
.thumb:hover {
	border-top-color: #610b1a;
	border-right-color: #610b1a;
	border-bottom-color: #610b1a;
	border-left-color: #610b1a;
}
.thumb img {
	height: auto;
	width: 230px;
}
.description {
	display: block;
	/*width: 180px;*/
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	color: #bcbcbb;
	height: 100px;
	overflow: hidden;
	font-size: 12px;
}
.stats {
	background-color: #363636;
	line-height: 18px;
	overflow: hidden;
	padding-right: 4px;
	padding-left: 4px;
}
.date {
	float: left;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	color: #bcbcbb;
	background-position: left 4px;
	padding-left: 13px;
}
.views {
	float: right;
	color: #bcbcbb;
	background-image: url(../images/eye.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 15px;
}
.categories {
	margin: 4px;
	float: left;
	width: 190px;
	overflow: hidden;
}
.catstart {
	line-height: 34px;
	width: 190px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #830c2b),
	color-stop(1, #d49c3d)
);
	background-image: -o-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
	background-image: -moz-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
	background-image: -webkit-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
	background-image: -ms-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
	background-image: linear-gradient(to bottom, #830c2b 0%, #d49c3d 100%);
	font-weight: 400;
	color: #ececec;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}

ul.nav {
}

ul.nav li {
}
ul.nav li a {
	display: block;
	background-color: #3c3c3c;
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 22px;
	background-image: url(../images/play.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
	color: #bcbcbb;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.nav li a:hover {
	background-color: #610b1a;
	color: #bcbcbb;
}
.block-title {
	font-size: 14px;
	font-weight: bold;
	float: left;
	display: block;
	width: 890px;
	margin-top: 12px;
	margin-right: 4px;
	margin-bottom: 10px;
	margin-left: 4px;
	background-image: url(../images/camera.png);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
}
.block-title h1 {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 14px;
}
.block-title a {
	text-decoration: underline;
}
.annotattion {
	background-color: #1d1d1d;
	padding: 0 6px 0 6px;
	overflow: hidden;
	float: left;
	display: block;
	margin: 0;
	width: 980px;
	font-size: 13px;
	line-height: 18px;
}
.wide {width: auto;}
.annotattion .img-index {
	margin: 17px 10px 10px 0;
	height: 230px;
	width: auto;
	float: left;
	border: 1px solid #999;
}
.annotattion .img-category {
	margin: 17px 10px 10px 0;
	height: 150px;
	width: auto;
	float: left;
	border: 1px solid #999;
}
.a_img {
	float: left;
	border: 1px solid #999;
}
.ann_text {
	float: left;
	margin-left: 6px;
	font-size: 13px;
	width: 850px;
	line-height: 18px;
}
.story_text {
	float: left;
	margin-left: 6px;
	font-size: 13px;
	width: 770px;
	line-height: 16px;
}
.story_text a {
	font-weight: bold;
	color: #c4803a;
	text-decoration: underline;
}
.story_text img {
	width: auto;
	height: 100px;
	border-radius: 2px;
	margin-right: 5px;
}
#section {
	width: 1192px;
	margin-left: auto;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #430b0b),
	color-stop(1, #9b0c38)
);
	background-image: -o-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: -moz-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: -webkit-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	background-image: -ms-linear-gradient(bottom, #430b0b 0%, #9b0c38 100%);
	/*background-image: url(linear-gradient(to%20bottom,%20#430b0b%200%25,%20#9b0c38%20100%25));*/
	clear: both;
	margin-right: auto;
	background-color: #39C;
	overflow: hidden;
	font-weight: 400;
}
ul.sector {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}
ul.sector li {
	display: inline-block;
	float: left;
}
ul.sector li a {
	font-size: 18px;
	line-height: 34px;
	color: #e5e5e5;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-right: 12px;
	padding-left: 12px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #b63d5c;
	border-right-color: #730413;
	height: 35px;
	display: block;
	text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.40);
}
ul.sector li a:hover,ul.sector li .active {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #830c2b),
	color-stop(1, #d49c3d)
);
background-image: -o-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
background-image: -moz-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
background-image: -webkit-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
background-image: -ms-linear-gradient(bottom, #830c2b 0%, #d49c3d 100%);
background-image: linear-gradient(to bottom, #830c2b 0%, #d49c3d 100%);
}
ul.sector li .active {
	cursor: default;
}
.story {
	width: 996px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	clear: both;
}
.media {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.player {
	float: left;
}
.player .code {
	text-align: center;
	float: left;
}
.player .code iframe {
	width: 639px;
	height: 520px;
	margin: 0 auto;
}
.ads {
	float: right;
	width: 260px;
	overflow: hidden;
}
.ads a img {
	margin-bottom: 12px;
}
.mediainfo {
	/*width: 629px;*/
	clear: both;
	padding: 5px;
	background-color: #1d1d1d;
	margin-top: 15px;
	overflow: hidden;
	color: #c4803a;
}
.mediainfo textarea {
	height: 85px;
	width: 550px;
}
.optons {
	width: 100px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #f18083;
	height: 32px;
	line-height: 32px;
	text-align: center;
	float: left;
}
.report {
	display: block;
	float: left;
	width: 120px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #1d1d1d;
}
.like {
	clear: both;
	
}
.percent {
	font-size: 14px;
	font-weight: bold;
	display: block;
	float: left;
	line-height: 24px;
	padding-right: 12px;
	padding-left: 12px;
}
.like img {
	display: block;
	float: left;
}
.mediainfo a img:hover {
	opacity: 0.9;
}.mediadesc {
	font-size: 13px;
	display: block;
	clear: both;
	padding: 5px;
	width: 600px;
	background-color: #303030;
}
.mediastats {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*width: 200px;*/
	margin-right: 30px;
	margin-top: 10px;
}
.mediastats-likes {
	/*margin-top: 0;*/
}
.tags {
	font-size: 12px;
	display: block;
	clear: both;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #303030;
}
.tags a {
	color: #cec6bf;
}
.tags a:hover {
	text-decoration: underline;
}.comment {
	margin-left: 25px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.i15 {
	display: block;
	float: left;
	height: 12px;
	width: 400px;
	clear: both;
}

.user {
	float: left;
	line-height: 18px;
	
}
.text {
	clear: both;
	display: block;
	background-color: #303030;
}
.comment a {
	font-size: 12px;
	color: #bcbcbb;
}.mdate {
	line-height: 18px;
	padding-left: 12px;
	color: #7c7c7c;
}
.spacer {
	clear: both;
	height: 55px;
}

ul.pagination {
	display: block;
	clear: both;
	/*margin-right: auto;*/
	/*margin-left: auto;*/
	/*width: 300px;*/
	margin-top: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
}
ul.pagination li {
	display: block;
	float: left;
}
ul.pagination li a {
	font-size: 12px;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #363636;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 2px;
	color: #f9f7ed;
}
ul.pagination li a:hover, ul.pagination .active a {
	color: #f9f7ed;
	background-color: #610b1a;
}

#foterline {
	background-image: url(../images/longline.png);
	height: 2px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.footer {
	background-image: url(../images/footer.png);
	height: 97px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.fdesc {
	font-size: 12px;
	line-height: 16px;
	width: 750px;
	color: #bcbcbb;
	padding-top: 8px;
	padding-left: 26px;
	float: left;
}
.flink {
	display: block;
	font-weight: bold;
	color: #3b0b0d;
	margin-top: 8px;
}
.flink a {
	color: #c4803a;
	
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

.last-comments {
	margin: 10px 4px 4px 4px;
}
.last-comments .video {
	text-align: center;
	margin-bottom: 2px;
}
.last-comments .text {
	background-color: #fff;
	padding: 4px;
}
.last-comments .lc-title {
	margin-bottom: 6px;
	font-weight: bold;
	font-size: 12px;
}
.last-comments .lc-block {
	margin-bottom: 10px;
}

.story-read {
	/*width: auto;*/
}
.story-read img {
	display: block;
	margin: 0 auto;
}
.thumbs {
	clear: both;
}
.head_text {
	width: 400px;
	margin: 50px 0 0 520px;
	position: absolute;
	text-align: center;
}

.pic_small {
	height: 200px;
	width: auto;
	display: block;
	float: left;
	margin: 2px;
	border: 1px solid #fff;
}
.pic_description {
	margin-bottom: 10px;
}
#pic_view {
	display: block;
	float: left;
	width: 600px;
	height: auto;
	margin: 0 20px 20px 5px;
	border: 1px solid #fff;
}

#show_more_button {
	display: block;
	clear: both;
	margin: 0 auto 20px auto;
	border: 1px solid #333;
	background-color: #222;
	width: 300px;
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
	cursor: pointer;
	/*color: rgb(0, 136, 204);*/
}
#more {
	min-width: 100px;
	clear: both;
	margin-bottom: 20px;
}
#liveinternet {
	clear: both;
	width: 90px;
	padding: 10px 0 0 25px;
}

.mediainfo .save-video-button {
	display: block;
	border: 1px solid #555;
	border-radius: 2px;
	padding: 5px 10px;
	width: 170px;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	background-color: #000;
	margin-top: 5px;
	color: #e32d00;
	margin-bottom: 10px;
}
.mediainfo .save-video-button img {
	/*display: inline-block;*/
	vertical-align: middle;
	width: 20px;
	height: auto;
	margin-right: 10px;
}

#timer {
    font-size: 100px;
    text-align: center;
    line-height: 110px;
}
#timer .hidden_text {
    font-size: 20px;
    line-height: 20px;
}
#timer .hidden_text a {
    color: red;
    line-height: 20px;
}

.warn18 {
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 100% 0;
    position: absolute;
    width: 90px;
    height: 93px;
    right: 0;
    top: 0;
    z-index: 999;
    cursor: default;
}
.warn18 .tip {
    display: none;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 0 0;
    width: 302px;
    height: 115px;
    padding: 30px 10px 0;
    top: 67px;
    right: 10px;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    cursor: default;
}
.warn18:hover .tip {
    display: block;
}

.tubes_player {
	float: left;
	width: 990px;
	overflow: hidden;
}