html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*Site settings*/
@font-face {
    font-family:'a';
    src: url('a Light.woff2') format('woff2'),
        url('a Light.woff') format('woff'),
        url('a Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'a';
    src: url('a Bold.woff2') format('woff2'),
        url('a Bold.woff') format('woff'),
        url('a Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
/* after_qbici */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}/* endzeit_____ */
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family:'a', Verdana, sans-serif;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    background: #fff;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
.upp {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.white {
    color: #fff;
}
h1, h2, h3 {
    letter-spacing: 0.5px;
}
/* michael-k90 */
input::-webkit-input-placeholder { color: #818181; }
input::-moz-placeholder { color: #818181; }

.section {
    width: 960px;
    padding: 40px 10px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.b1 {
    background: #ff3196;
    color: #fff;
}
.b1 .section {
    padding: 20px 10px;
}
.b1 h1 {
    font-size: 42px;
    line-height: 48px;
}
.b1 h2 {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    padding-bottom: 0;
}
.b2 {
    height: 486px;
    background: url(../img/b1.jpg) center top no-repeat;
}
.b2 .price {
    top:50px;
    right: 10px;
}
.price {
    position: absolute;
    background: #ffdeef;
    border-radius: 100px;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    display: table-cell;
    padding: 45px 30px;
}
.price p.old {
    text-decoration: line-through;
}
.price p.new {
    font-weight: 700;
}
.b3 {
    height: 476px;
    background: url(../img/b3.jpg) center top no-repeat;
}
.b3 .section {
    padding: 50px 10px;
}
a.but {
    position: absolute;
    left:50%;
    margin-left: -150px;
    top:-35px;
    text-align: center;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
    text-decoration: none;
    display: block;
    color: #fff;
    letter-spacing: 1px;
    background: linear-gradient(to top, #ff2a87, #ff3cac);
    border:1px solid #ff2a87;
}
a.but:hover {
    background: linear-gradient(to top, #ff4596, #ff57b8);
    border: 1px solid #ff2a87;
}
a.but:active {
    background: #ff2a87;
    border: 1px solid #ff2a87;
}
h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
b, .bold {
    font-weight: 700;
}
.parfum {
    padding: 20px 30px;
    width: 900px;
    box-sizing: border-box;
    margin: 0 auto 30px;
    border-radius: 10px;
    clear: both;
    display: table;
}
.parfum .text {
    width: 540px;   
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.parfum img {
    vertical-align: middle;
    display: table-cell;
}
.parfum .text h3 {
    padding-bottom: 5px;
}
.parfum .text p {
    padding-bottom: 5px;
}
.parfum1 {
    background: #e4f2f9;
}
.parfum2 {
    background: #ffdeef;
}
.parfum_left img {
    float:left;
    margin-left: -60px;
}
.parfum_right img {
    margin-right: -60px;
    float: right;
}
.parfum_left .text {
    margin-left: 300px;
}
.parfum_right .text {
    float: left;
}
.b5 {
    background: url(../img/b5.jpg) center top no-repeat;
    height: 252px;
}
.b5 .section {
    padding: 30px 0;
}
.b5 h2 b span {
    font-weight: 300;
    text-decoration: line-through;
}
.b5 form input, .b5 form button {
    display: inline-block;
    margin: 0 5px;
}
form input {
    width: 290px;
    padding: 0 20px;
    box-sizing: border-box;
    height: 66px;
    line-height: 64px;
    border-radius: 30px;
    border:0;
    font-size: 18px;
    text-align: center;
    outline: none;
    box-shadow: inset 0 2px 2px #d4d4d4;
    border: 2px solid #fff;
}
button {
    text-align: center;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 64px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    background: linear-gradient(to top, #ff2a87, #ff3cac);
    border: 1px solid #ff2a87;
    cursor: pointer;
    outline: none;
}
button:hover {
    background: linear-gradient(to top, #ff4596, #ff57b8);
    border: 1px solid #ff2a87;
}
button:active {
    background: #ff2a87;
    border: 1px solid #ff2a87;
}
.b6 {
    height: 305px;
    background: url(../img/b6.jpg) center top no-repeat;
}
.b7 {
    background: url(../img/b7.jpg) center top no-repeat;
    background-size: cover;
}
.b7 .rev {
    background: #fff;
    margin: 0 0 30px 130px; 
    padding: 20px 30px 10px;
    box-sizing: border-box;
}
.b7 .rev p {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
    margin-left: 60px;
}
.b7 .rev img {
    float:left;
    margin-left: -150px;
    border-radius: 50%;
}
.b8 {
    height: 464px;
    background: url(../img/b8.jpg) center top no-repeat;
    overflow: hidden;
}
.b8 ul {
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0 0 420px;
}
.b8 ul li {
    padding: 0 0 20px 55px;
    background: url(../img/li.png) left top no-repeat;
}
.b9 ul li {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-bottom: 20px;
}
.b9 ul li p {
    padding: 5px 10px;
}
.b10 {
    height: 491px;
    background: url(../img/b10.jpg) center top no-repeat;
}
.b10 .price {/* after_qbici */
    top: 60px;
    left: 160px;
}
.b11 p a {
    color: #222;
    text-decoration: none;
}
/* endzeit_____ */
@media only screen and (max-width: 959px) {
    .section {
        width: 640px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px;
    }
    .b1 h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .b1 h2 {
        font-size: 36px;
        line-height: 46px;
    }
    .b2 {
        height: 486px;
        background: url(../img/b1-2.jpg) center top no-repeat;
    }
    .b3 {
        height: 479px;
        background: url(../img/b3-2.jpg) center top no-repeat;
    }
    .parfum {
        padding: 20px;
        width: 640px;
        margin: 0;
        border-radius: 0;
    }
    .parfum .text {
        width: 600px;
        display: block;
        margin: 0;
    }
    .parfum img, .parfum_left img {
        display: block;
        float: none;
        margin: 0 auto;/* michael-k90 */
        padding: 10px 0;
        clear: both;
    }
    .b5 {
        background: #51a3ec;
        height: 400px;
    }
    .b5 .section {
        padding: 30px 0 0;
    }
    .b5 form input, .b5 form button {
        display: inline-block;
        margin: 0 auto 15px;
        width: 400px;
    }
    .b6 {
        height: 632px;
        background: url(../img/b6-2.jpg) center top no-repeat;
    }
    .b8 ul {
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 0 220px;
    }
    .b10 {
        height: 462px;
        background: url(../img/b10-2.jpg) center top no-repeat;
    }
}/* bizlife_inc */
@media only screen and (max-width: 639px) {
        .section {
            width: 320px;
        }
        .b1 h1 {
            font-size: 24px;
            line-height: 28px;
        }
        .b1 h2 {
            font-size: 18px;
            line-height: 28px;
        }
        .b2 {
            height: 425px;
            background: url(../img/b1-3.jpg) center top no-repeat;
        }
        .b2 .price {
            top: 35px;
        }
        .price {
            font-size: 26px;
            line-height: 32px;
            padding: 32px 20px;
        }
        .b3 {
            height: 381px;
            background: url(../img/b3-3.jpg) center top no-repeat;
        }
        h2 {
            font-size: 18px;
            line-height: 24px;/* owmen17 */
        }
        .parfum {
            padding: 10px;
            width: 300px;
            margin: 0;
            border-radius: 0;
        }
        .parfum .text {
            width: 280px;
            display: block;
            margin: 0;
        }
        .parfum img, .parfum_left img {
            display: block;
            float: none;
            margin: 0 auto;
            padding: 10px 0;
            clear: both;
        }
        .b5 form input, .b5 form button {
            width: 300px;
        }
        .b6 {
            height: 435px;
            background: url(../img/b6-3.jpg) center top no-repeat;
        }
        .b7 {
            background: #e9f4fa;
        }
        .b7 .rev {
            margin: 0 0 30px 0; 
            padding: 20px 20px 15px;
        }
        .b7 .rev p {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 5px;
            margin-left: 0px;
            text-align: center;
        }
        .b7 .rev img {
            float:none;
            display: block;
            margin: 0 auto 10px;
            border-radius: 50%;
        }
        .b8 {
            height: 520px;
            background: #ff3f9c;
        }
        .b8 ul {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }
        .b10 {
            height: 463px;
            background: url(../img/b10-3.jpg) center top no-repeat;
        }
        .b10 .price {
            left:97px;
        }
}