#u75
{
	background-color: #444444;
	position: fixed;
}

#u1383
{
	background-color: transparent;
	position: fixed;
}

#u89-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 400;
	position: fixed;
}

#u76-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: right;
	line-height: 22px;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 400;
	position: fixed;
}

#u1406
{
	background-color: #F2F2F2;
}

#u1409-4
{
	background-color: transparent;
	color: #333333;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 400;
	position: relative;
}

#u1412-8,#u1416-6,#u1413-4,#u2303-4
{
	background-color: transparent;
	text-align: left;
	color: #333333;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
	position: relative;
}

#u1466-7
{
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u2329-7
{
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u1466-7:hover p,#u1466-7:hover h3,#u1466-7:hover a,#u1466-7:hover span,#u2329-7:hover p,#u2329-7:hover h3,#u2329-7:hover a,#u2329-7:hover span
{
	text-align: right;
}

#u1466-2,#u2329-2
{
	color: #333333;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
}

#u1466-5,#u2329-5
{
	color: #7F7F7F;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
}

#u1466-3,#u2329-3
{
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
}

#u1410_img
{
	display: block;
	vertical-align: top;
}

#u4433,#u4360,#u2306,#widgetu1425
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu1425.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u1426-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#widgetu1425.fld-err-st #u1426-4 p,#widgetu1425.fld-err-st #u1426-4 span
{
	color: #D7244C;
}

#u1427-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 14px;
	color: #333333;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#widgetu1425.non-empty-st #u1427-4
{
	background-color: #FFFFFF;
}

#widgetu1425:hover #u1427-4
{
	border-color: #6B6B6B;
}

#widgetu1425.fld-err-st #u1427-4
{
	border-color: #D7244C;
}

#widgetu1425.non-empty-st #u1427-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1425:hover #u1427-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1425.fld-err-st #u1427-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu1425_input,#widgetu1425_prompt
{
	color: #333333;
	font-family: '__HelveticaNeueCyr_5';
	font-style: normal;
	font-weight: 400;
}

#widgetu1425.non-empty-st #widgetu1425_prompt,#widgetu1425.focus-st #widgetu1425_prompt
{
	visibility: hidden;
}

#u1423-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu1417.frm-sub-st #u1423-4 p
{
	color: #007503;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
	font-style: normal;
}

#u1424-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu1417.frm-subm-err-st #u1424-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
	font-style: normal;
}

#u1422-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu1417.frm-sub-st #u1423-4,#widgetu1417.frm-subm-err-st #u1424-4,#widgetu1417.frm-subm-ok-st #u1422-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu1417.frm-subm-ok-st #u1422-4 p
{
	color: #007503;
	font-size: 14px;
	text-align: center;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
	font-style: normal;
}

#u1429-17
{
	position: relative;
	background: url("../images/u1429-17.png") no-repeat 0px 0px;
}

#u1429-17:hover
{
	background: url("../images/u1429-17-r.png") no-repeat 0px 0px;
}

#u1429-17:active
{
	background: url("../images/u1429-17-m.png") no-repeat 0px 0px;
}

#widgetu1417.frm-sub-st #u1429-17
{
	background: url("../images/u1429-17-fs.png") no-repeat 0px 0px;
}

#u1406_align_to_page,#u1410,#widgetu1417,#pamphletu1443,#u1444
{
	position: relative;
}

#u1445
{
	position: absolute;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u1445:hover
{
	border-color: #999999;
	background-color: transparent;
}

#u1445:active
{
	border-color: #999999;
	background-color: transparent;
}

#u1446-4
{
	background-color: transparent;
	color: #333333;
	font-size: 14px;
	text-align: right;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
	position: relative;
}

#u1445.PamphletThumbSelected #u1446-4 p
{
	color: #333333;
	visibility: inherit;
	font-size: 14px;
	text-align: right;
	font-weight: normal;
}

#u1447
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-pie-background: rgba(0,0,0,0.9);
}

#u1449
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #999999;
	border-radius: 10px;
	position: relative;
}

#u1450-9
{
	background-color: transparent;
	text-align: center;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 300;
	position: relative;
}

#u1450-2
{
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

#u1450-3
{
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

#u1450-5,#u1450-7
{
	font-size: 14px;
	color: #FFFFFF;
}

#u1456
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/fancy_close.png") no-repeat left top;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1448,#u2232
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2304
{
	background-color: transparent;
	position: relative;
}

#u2304_clip
{
	overflow: hidden;
}

#u1415-4,#u1408-4,#u2559-4
{
	background-color: transparent;
	color: #333333;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 700;
	position: relative;
}

