.block-1{
    height: 720px;
    background: url(../img/bg-1.jpg) 50% 0% no-repeat;
}
.block-1 .wrap{
    position: relative;
    padding: 0 10px;
}
.block-1 h1{
    width: 650px;
    padding: 30px 0 50px;
    font-size: 77px;
    line-height: 1em;  
    color: #fff; 
}
.block-1 h1>small{
    display: block;
    padding: 0 0 10px 5px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 400;
}
.block-1 h1>span{
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3em;
    color: #fff474;
    border: 1px solid rgba(255,255,255,.2);
    background: rgba(0,0,0,.2);
}
.block-1 .tov-pic{
    display: block;
    margin: 0 0 0 50px;
}
.block-1 .sale{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 260px;
    left: 20px;
    padding: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 700;
    border-radius: 50%;
    color: #fff;
    border: 1px solid rgba(255,255,255,.2);
    background: rgba(255,255,255,.4);
}
.block-1 .sale>div{
    width: 110px;
    height: 110px;
    padding: 20px 0 0;
    text-align: center;
    border-radius: 50%;
    background: #ffba55;
    background-image: -webkit-linear-gradient(top, #ffba55, #ff8100);
    background-image: -moz-linear-gradient(top, #ffba55, #ff8100);
    background-image: -ms-linear-gradient(top, #ffba55, #ff8100);
    background-image: -o-linear-gradient(top, #ffba55, #ff8100);
    background-image: linear-gradient(to bottom, #ffba55, #ff8100);
}
.block-1 .sale>div b{
    font-size: 38px;
}
.block-1 .container{
    float: right;
    width: 320px;
    margin: -260px 0 0;
}
.block-1 .cost{
    margin: 0 0 15px;
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
}
.block-1 .cost>div{
    float: left;
    width: 50%;
    padding: 8px 10px 10px;
    line-height: 1.9em;
    background: #fff;
}
.block-1 .cost>div.new-cost{
    color: #fff;
    background: #ffba55;
    background-image: -webkit-linear-gradient(top, #ffba55, #ff8100);
    background-image: -moz-linear-gradient(top, #ffba55, #ff8100);
    background-image: -ms-linear-gradient(top, #ffba55, #ff8100);
    background-image: -o-linear-gradient(top, #ffba55, #ff8100);
    background-image: linear-gradient(to bottom, #ffba55, #ff8100);
}
.block-1 .cost>div span{
    font-size: 30px;
}
.block-1 .cost>div.old-cost span{
    text-decoration: line-through;
}
.block-1 .cost>div.new-cost span{
    font-weight: 700;
}
.block-1 .container .button-m{
    width: 100%;
}
.ost-col{
    margin: 15px 0 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}
.ost-col>b{
    text-transform: none;
    font-size: 1.2em;
}
.block-2 .wrap, .block-3 .wrap, .block-4 .wrap, .block-5 .wrap{
    padding: 40px 0;
}
ul.colum-3>li{
    float: left;
    width: 300px;
    margin: 0 10px;
    padding: 0 15px;
    text-align: center;
}
ul.colum-3>li img{
    display: block;
    margin: 0 auto 10px;
}
ul.colum-3>li h3{
    padding: 20px 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
.block-3 .title{
    font-size: 36px;
    padding: 0 0 70px;
    background: url(../img/ven-1.png) 50% 100% no-repeat;
}
.tov-block{
    margin: 0 0 40px;
}
.tov-block>div{
    float: left;
    width: 300px;
    margin: 0 10px;
}
.tov-block .tov-char{
    line-height: 1.3em;
}
.tov-block .tov-char dt{
    float: left;
    padding: 5px 10px;
    font-weight: 700;
}
.tov-block .tov-char dd{
    margin: 0 0 4px;
    padding: 5px 10px;
    text-align: right;
}
.tov-block .tov-char dd:nth-child(4n){
    background: rgba(0,0,0,.1);
}
.tov-block .tov-gal{
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
}
.tov-block .tov-gal img{
    display: block;
}
.tov-block .tov-text h3{
    padding: 0 0 10px;
}
.block-5 .title{
    font-size: 36px;
    padding: 0 0 60px;
    background: url(../img/ven-2.png) 50% 100% no-repeat;
}
.block-6{
    height: 709px;
    color: #fff;
    background: url(../img/bg-2.jpg) 50% 0 no-repeat;
}
.block-6 .wrap{
    padding: 40px 0 0;
}
.block-6 .rev-cont{
    color: #222;
}
.block-6 .rev-item{
    float: left;
    width: 300px;
    height: 425px;
    margin: 85px 10px 20px;
    padding: 15px;
    text-align: center;
    background: #eee;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.block-6 .rev-item>img{
    display: block;
    margin: -100px auto 20px;
    border: 4px solid #fff;
    border-radius: 50%;
}
.block-6 .rev-item>h3{
    padding: 0 0 10px;
}
.block-7 .wrap{
    padding: 40px 0;
}
.block-7 .dop-deliv{
    margin: 40px 0 0;
    padding: 60px 0 0;
    text-align: center;
    background: url(../img/ven-3.png) 50% 0 no-repeat;
}
.block-7 .dop-deliv p{
    padding: 5px 0 0;
}
.sale-info{
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 36px;
    color: #fff474;
}
.block-8{
    height: 648px;
    background: url(../img/bg-3.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.block-8 .wrap{
    padding: 40px 10px 0;
}
.block-8 .left-cont{
    float: left;
    width: 600px;
}
.block-8 .left-cont>img{
    margin: 0 0 0 30px;
}
.block-8 h2{
    padding: 0 0 40px;
    font-size: 54px;
    line-height: 0.8em;  
    color: #fff; 
}
.block-8 h2>small{
    display: block;
    padding: 0 0 10px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 400;
}
.block-8 h2>span{
    display: inline-block;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 1em;
}
.block-8 .right-cont{
    float: right;
    width: 340px;
    margin: 40px 0 0;
    padding: 20px; 
    color: #fff;
    background: rgba(0,0,0,.4);  
}
.block-8 .timer>h3{
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.block-8 .cost{
    padding: 30px 0 20px;
    font-size: 30px;
    text-align: center;
}
.block-8 .cost>span{
    display: inline-block;
}
.block-8 .cost span.old-cost{
    padding: 0 15px 0 0;
    text-decoration: line-through;
}
.block-8 .cost span.new-cost{
    padding: 0 0 0 15px;
    font-weight: 700;
}
.block-8 .m1-form{
    width: 300px;
    margin: 0 auto;
}
.copyright{
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
    font-weight: 300;
}
.copyright .mob-vis{
    display: none;
}
@media screen and (max-width: 959px){
    .block-1{
        height: 720px;
        background: url(../img/bg-1-640.jpg) 50% 0% no-repeat;
    }
    .block-1 h1{
        width: auto;
        padding: 30px 0;
        font-size: 68px;
        line-height: 1em;  
        text-align: center;
    }
    .block-1 h1>span{
        padding: 10px 20px;
        font-size: 34px;
        line-height: 1.3em;
    }
    .block-1 .tov-pic{
        float: left;
        width: 60%;
        margin: 10px 0 0;
    }
    .block-1 .sale{
        width: 110px;
        height: 110px;
        top: 240px;
        left: 10px;
    }
    .block-1 .sale>div{
        width: 90px;
        height: 90px;
        font-size: 14px;
        line-height: 1.8em;
    }
    .block-1 .sale>div b{
        font-size: 30px;
    }
    .block-1 .container{
        width: 300px;
        margin: -230px 0 0;
    }
    .block-1 .cost>div{
        padding: 5px 10px 8px;
    }
    ul.colum-3>li{
        width: 200px;
        margin: 0 10px;
        padding: 0;
        text-align: center;
    }
    ul.colum-3>li h3{
        font-size: 16px;
    }
    .tov-block>div{
        margin: 0 15px;
    }
    .tov-block>div.tov-text{
        float: none;
        clear: both;
        width: auto;
        padding: 30px 0 0;
    }
    .sale-info{
        font-size: 30px;
    }
    .block-8{
        height: 610px;
    }
    .block-8 .left-cont{
        width: 320px;
    }
    .block-8 .left-cont>img{
        margin: 0;
    }
    .block-8 h2{
        line-height: 1em;
    }
    .block-8 h2>small{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .block-8 h2>span{
        display: block;
        letter-spacing: normal;
        font-size: 24px;
        line-height: 1.4em;
    }
    .block-8 .right-cont{
        width: 320px;
        margin: 0 -10px;
        padding: 20px 0;
    }
}
@media screen and (max-width: 659px){
    .block-1{
        height: auto;
        background: url(../img/bg-1-320.jpg) 50% 0% no-repeat #9e7739;
        background-size: cover;
    }
    .block-1 .wrap{
        padding: 0 10px 40px;
    }
    .block-1 h1{
        font-size: 40px;
        line-height: 1.1em;  
        text-align: center;
    }
    .block-1 h1>span{
        padding: 10px;
        letter-spacing: 1px;
        font-size: 20px;
        line-height: 1.3em;
    }
    .block-1 .tov-pic{
        float: none;
        width: 100%;
        margin: 0;
    }
    .block-1 .sale{
        top: 190px;
        left: 200px;
    }
    .block-1 .container{
        float: none;
        width: auto;
        margin: -20px 0 0;
        padding: 0 0 270px 0;
        background: url(../img/mob-sup.png) 50% 100% no-repeat;
    }
    .block-1 .cost>div{
        padding: 5px 10px 8px;
    }
    ul.colum-3>li{
        float: none;
        width: 300px;
        padding: 0 10px 30px;
    }
    ul.colum-3>li:last-child{
        padding-bottom: 0;
    }
    ul.colum-3>li h3{
        font-size: 18px;
    }
    .block-3 .title, .block-5 .title{
        font-size: 28px;
    }
    .tov-block>div{
        float: none;
        width: 300px;
        margin: 0 10px 30px;
    }
    .tov-block>div.tov-text{
        padding: 0;
    }
    .block-6{
        height: auto;
        background: url(../img/rep-bg-1.jpg) repeat;
    }
    .block-6 .wrap{
        padding: 40px 0;
    }
    .sale-info>div{
        width: 300px;
        margin: 0 auto;
    }
    .sale-info{
        font-size: 30px;
        line-height: 1.2em;
    }
    .block-8{
        height: auto;
        background: url(../img/bg-1-320.jpg) 50% 0% no-repeat #9e7739;
            background-size: cover;
    }
    .block-8 .wrap{
        padding: 40px 0px;
    }
    .block-8 .left-cont{
        float: none;
        width: auto;
    }
    .block-8 h2{
        text-align: center;
        line-height: 1em;
    }
    .block-8 h2>small{
        display: none;
    }
    .block-8 .right-cont{
        float: none;
        width: auto;
        margin: 0 auto;
        padding: 20px 0;
    }
    .copyright{
        padding-top: 30px;
    }
    .copyright .mob-vis {
        display: inline;
    }
    .copyright .mob-hid {
        display: none;
    }
}