/*Max width 639px*/

@media (max-width: 960px) {
  /*Header*/

  .sec-block {
    width: 50%;
    margin-bottom: 45px;
  }

  .header {
      height: auto;
      padding-bottom: 40px;
    background: url('../img/header-bg-640.jpg') center 0 no-repeat #232b3e;
  }

  .header .discount {
    left: 10.5%;
  }

  .header .wrap {
    width: 640px!important;
  }

  .header .logo-wrapper {
    padding-left: 0;
  }

  .header .title-block_wrapper {
    margin: 0;
    text-align: center;
  }

  .header .logo-block {
    background: #2a3953;
    text-align: justify;
  }

  .title-block h2 {
    max-width: 614px;
    font-size: 30px;
  }

  .title-block br {
    display: none;
  }

  /*Block-6*/

  .block-6 .img-block {
    margin-right: 0;
  }


  .block-6 .img-block img {
    max-width: 65%;
  }

  .doc-name {
    padding-bottom: 45px;
  }


  /*Block-7*/

  .content-block {
    margin-bottom: 25px;
  }

  .content-block  .img-block {
    width: 200px;
    margin: 15px 0 0 15px;
  }
  .content-block:nth-child(even) .img-block {
    margin: 15px 15px 0 0;
  }

  .content-block .text-block {
    float: none;
    width: 100%;
    margin-top: 0;
    padding: 15px 15px 15px 230px;
  }
  .content-block:nth-child(even) .text-block {
    float: none;
    padding: 15px 230px 15px 15px;
  }

  /*Footer*/

  .footer {
    height: 595px;
    background: url('../img/footer-640.jpg') center 0 no-repeat;
  }

  .footer .discount {
    display: none;
  }

  .form {
    width: 420px;
    height: 594px;
    background-color: rgba(29, 47, 63, .75);
    padding: 0 20px;
  }

  .form .btn-order {
    width: 100%;
  }
}

@media (max-width: 639px) {
  /*Header*/

  .sec-title {
    font-size: 24px;
    line-height: 30px;
  }

  .sec-block {
    width: 100%;
  }

  .header .logo-wrapper {
    width: 141px;
    height: 38px;
    margin-bottom: 5px;
  }

  .header .logo-block {
    padding: 15px 0;
    text-align: center;
  }

  .logo-text h1 {
    font-size: 16px;
    line-height: 20px;
  }

  .header .discount {
    font-size: 33px;
    left: auto;
    top: 22%;
    right: 7%;
  }

  .header {
      height: auto;
      padding-bottom: 40px;
    background: url('../img/header-bg-mob.jpg') center top no-repeat #232b3e;
  }

  .header .title-block {
    padding-top: 10px;
  }

  .header .wrap {
    width: 320px!important;
  }

  .header .btn-order {
    width: 280px;
  }

  .title-block h2 {
    font-size: 15px;
    line-height: 20px;
    padding-left: 95px;
    text-align: left;
  }

  .list-block {
      float: none;
      width: auto;
    margin-top: 230px;
    padding: 20px 0 0;
  }
  .list-block ul{
      margin: 0;
      padding-bottom: 20px;
  }

  .list-block p {
    font-size: 26px;
    padding-bottom: 20px;
    line-height: 1.2;
  }

  .list-block ul li {
    font-size: 18px;
    background: url('../img/check-mob.png') left top no-repeat;
    padding-bottom: 8px;
    padding-left: 35px;
    margin-left: 10px;
  }

  /*Block-3*/
  .block-3 .sec-title br{
    display: none;  
  }
  .food-bg {
    margin-top: 0;
  }

  /*Block-5*/

  .block-5 {
    padding-bottom: 20px;
  }

  /*Block-6*/

  .block-6 .sec-title {
    font-size: 28px;
  }

  .block-6 .img-block img {
    max-width: 100%;
  }

  .block-6 .sec-wrapper {
    padding-left: 0;
    text-align: justify;
  }

  /*Block-7*/

  .content-block .text-block {
    float: none;
    width: 100%;
    text-align: justify;
    padding: 15px;
  }

  .content-block .img-block {
    float:none;
    height: 262px;
    width: 100%;
    margin: 0;
  }

  .content-block:nth-child(even) .text-block {
    float:none;
    padding: 15px;
  }

  .content-block:nth-child(even) .img-block {
    float: none;
    margin: 0;
  }

  .content-block:last-child {
    display: none;
  }

  /*Block-8*/

  .block-8 {
    padding-bottom: 20px;
  }

  /*Footer*/

  .footer {
      height: auto;
    background: #2a3953;
  }

  .footer .wrap {
    padding: 0;
  }
  .form .sec-title{
      padding: 20px 0;
  }
  .form {
    width: 100%;
    height: auto;
    padding: 0 10px 40px;
  }
  .form form{
      width: auto;
  }
  .bottom-info .mob-vis{
      display: inline;
  }
  .bottom-info .mob-hid{
      display: none;
  }
}