/*Global*/

.sec-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
}

.sec-desc {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.sec-block {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0 15px;
  vertical-align: top;
}

.sec-wrapper {
  font-size: 0;
}

.color-green {
  color: #cfdb48;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #f5f4f6;
}

.bg-blue {
  background-color: #222c3e;
}

.bg-light-blue {
  background-color: #2a3953;
}


.clearfix:before,
.clearfix:after,
.sec-wrapper:before,
.sec-wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.line-through {
  text-decoration: line-through;
}

.btn-order {
    outline: none;
    border: 0;
  display: inline-block;
  width: 360px;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 6px 0 #06c;
  border-radius: 4px;
  background-color: #008aff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}

.btn-order:hover {
  background-color: #2b99f7;
}

@media (max-width: 639px) {
  .btn-order {
    display: inline-block;
    width: 300px;
  }
}

/*Header*/

.wrap {
  padding: 0 10px;
}

.header {
  height: 619px;
  background: url("../img/header-bg.jpg") center top no-repeat, url('../img/top-rep.jpg') repeat-x;
  color: #fff;
}

.header .wrap {
  width: 960px;
}

.discount {
  position: absolute;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.header .discount {
    top: 185px;
    left: 336px;
}

.logo-block {
  text-align: center;
  padding: 16px 0 14px;
}

.logo-wrapper,
.logo-text {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}

.logo-wrapper {
  padding-left: 10%;
}

.logo-text h1 {
  text-align: left;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 16px;
}

.header .title-block_wrapper {
  margin: 0 0 0 230px;
}

.title-block {
  padding-top: 15px;
}

.title-block h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.list-block {
  float: right;
  width: 380px;
  text-align: center;
}

.list-block ul {
  margin-top: 35px;
  text-align: left;
}

.list-block ul li {
  font-size: 22px;
  font-weight: 300;
  padding-left: 50px;
  padding-bottom: 24px;
  background: url('../img/check.png') left top no-repeat;
}

.list-block p {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 25px;
}

/*Block-2*/

.block-2 {
  padding: 40px 0 50px;
}

.block-2 .sec-title {
  margin-bottom: 40px;
}

.block-2 .sec-block img {
  margin-bottom: 2px;
}

.block-2 .sec-block p,
.block-7 .sec-block p,
.block-8 .sec-block p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #222;
}

/*Block-3*/

.block-3 {
  padding: 50px 0 0;
}

.block-3 .sec-title {
  padding-bottom: 30px;
}

.block-3 p {
  max-width: 750px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.food-bg {
  margin-top: -40px;
}

.food-bg img {
  display: block;
  width: auto;
  margin: 0 auto;
}

/*Block-4*/

.block-4 {
  background-color: #1f3547;
  padding: 48px 0 0;
}

.block-4 .sec-title,
.block-4 p  {
  color: #fff;
}

.block-4 .sec-wrapper {
  margin-top: 50px;
  padding-bottom: 34px;
}

.block-4 .sec-block {
  margin-bottom: 38px;
}

.block-4 .sec-block img {
  margin-bottom: 15px;
}

.block-4 .sec-block img,
.block-5 .sec-block img,
.block-8 .sec-block img {
  border-radius: 50%;
}

.block-4 p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.block-4_footer {
  text-align: center;
  background-color: #224664;
  padding: 35px 0 45px;
}

.block-4_footer .sec-title {
  padding-bottom: 28px;
}

/*Block-5*/

.block-5 {
  padding: 40px 0 60px;
}

.block-5 .sec-wrapper {
  margin-top: 25px;
}

.block-5 .sec-block {
  padding: 0 10px;
}

/*Block-6*/

.block-6 {
  padding: 46px 0 0;
}

.block-6 .sec-wrapper {
  margin-top: 16px;
  padding-left: 20px;
}

.block-6 .img-block {
  float: left;
  margin-right: 45px;
}

.block-6 .text-block {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  padding-top: 28px;
}

.block-6 .text-block p {
  padding-bottom: 25px;
}

.block-6 .text-block strong,
.author {
  font-weight: 500;
}

.block-6 .img-license {
  text-align: center;
}

/*Block-7*/

.block-7  {
  background-color: #1f3547;
  padding: 40px 0 34px;
}

.block-7 .sec-title {
  color: #fff;
}

.block-7 .sec-wrapper{
  margin-top: 30px;
}

.content-block {
  padding-bottom: 6px;
}

.content-block .text-block {
  float: right;
}

.content-block .img-block {
  float: left;
}

.content-block:nth-child(even) .text-block {
  float: left;
}

.content-block:nth-child(even) .img-block {
  float: right;
}

.block-7 .img-block {
  width: 34%;
}

.block-7 .text-block {
  background-color: #fff;
  width: 66%;
  padding: 27px 12px 25px 30px;
  margin-top: 24px;
}

.block-7 .text-block {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #222;
}

.block-7 .text-block p {
  padding-bottom: 15px;
}

/*Block-8*/

.block-8 {
  padding: 42px 0 67px;
}

.block-8 .sec-wrapper {
  margin-top: 40px;
}

.block-8 .sec-block p {
  font-weight: 400;
}

/*Footer*/

.footer {
  background: url('../img/footer-bg.jpg') center top no-repeat #203548;
}

.footer .discount {
  top: 46.5%;
  left: 35%;
}

.form {
  float: right;
  width: 380px;
  padding: 26px 0 50px;
}
.form form{
    width: 360px;
    margin: 0 auto;
}
.form .sec-title {
  letter-spacing: 0;
  color: #fff;
  padding: 12px 0 12px;
}

.input {
  width: 100%;
  height: 65px;
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 300;
  color: #222;
  border-radius: 5px;
  border: 2px solid #dadada;
  background-color: #fff;
  text-align: center;
  margin-bottom: 15px;
  padding: 24px;
}

input::-webkit-input-placeholder {
    color: #222;
}

input::-moz-placeholder {
    color: #222;
}

input:-ms-input-placeholder {
    color: #222;
}

input::placeholder {
    color: #222;
}

.timer p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.timer-container {
  height: 110px;
  margin-bottom: 34px;
  width: 300px;
  margin: 0 auto;
}

.bottom-info {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  padding: 20px 0;
}

.bottom-info a {
  color: #234161;
} 
.bottom-info .mob-vis{
    display: none;
}