@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'pfdintextpro-regular';
    src: url('pfdintextpro-regular.ttf');
}
@font-face {
    font-family: 'pfdintextpro-medium';
    src: url('pfdintextpro-medium.ttf');
}
@font-face {
    font-family: 'pfdintextpro-xthin';
    src: url('pfdintextpro-xthin.ttf');
}
@font-face {
    font-family: 'pfdintextpro-thin';
    src: url('pfdintextpro-thin.ttf');
}