<html>
<head>
	<title>Awmzone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/types/engine/template/css/font-awesome/5.3.1/css/all.min.css">
	<link rel="icon" href="/types/engine/template/admin/images/favicon.png">
	<style>
	body {
		background-image: url('/types/engine/template/images/leaves-pattern.png');
	}
</style>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">MGW</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link {menuIndexActive}" href="/admin">Домены</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {menuMethodsActive}" href="/?r=admin/Admin/controllerMethods" v-show="user.level == 'admin'">Вики</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {menuSettingsActive}" href="/?r=admin/Admin/engineSettings" v-show="user.level == 'admin'">Настройки</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {menuSettingsActive}" href="https://cinema.awmzone.net/admin">Cinema</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {menuSettingsActive}" href="https://blog.awmzone.net/admin">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {menuStateActive}" href="/?r=admin/Admin/state" v-show="user.level == 'admin'">Состояние</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/?r=Main/check">VPS</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row" v-show="true" style="display: none;">
				<div class="col-12 mb-3">
					<h3>Типы</h3>
					<div class="row">
						<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
							<button :class="'btn btn-light '+((domainsFilterSettings.type == null)?'active':'')" @click="selectType" :data-type="null">Все ({{ domains.length }})</button>
						</div>
						<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" v-for="type in getTypes()" v-if="type != ''" v-show="type" style="display: none;">
							<button :class="'btn btn-light '+((type == domainsFilterSettings.type)?'active':'')" @click="selectType" :data-type="type">{{ type }} ({{ domains.filter(domain => (domain.type == type)).length }})</button>
						</div>
					</div>
				</div>
				<!-- <div class="col-12" v-show="!getYandexToken()">
					<a class="btn btn-light" :href="'https://oauth.yandex.ru/authorize?response_type=token&client_id='+yandexAppId">Подключить Яндекс Метрику</a>
				</div> -->
				<div class="col-12">
					<div class="row mb-3">
						<div class="col-12 col-md-6">
							<button class="btn btn-danger" type="button" v-show="blockedDomains.length" data-bs-toggle="collapse" data-bs-target="#blockedDomains">Блокировки ({{ blockedDomains.length }})</button>
							<button class="btn btn-warning" type="button" v-show="failedDomains.length" data-bs-toggle="collapse" data-bs-target="#failedDomains">Найдены проблемы ({{ failedDomains.length }})</button>
							<button class="btn btn-light" v-show="user.level == 'admin'" type="button" data-bs-toggle="collapse" data-bs-target="#addDomain">Создать домен</button>
						</div>
					</div>
					<div class="alert alert-warning collapse" v-show="blockedDomains.length" id="blockedDomains">
						<h4>Блокировки</h4>
						<ol>
							<li v-for="domain in blockedDomains">
								<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domain }}</a>
								<ul>
									<li v-if="domain.ruBlock && (!domain.redirectTo || (domain.domain == domain.redirectTo))">
										бан основы
									</li>
									<li v-for="mirror in domain.mirrors" v-if="mirror.ruBlock && ((domain.redirectTo == mirror.domain) || (domain.clientRedirectTo == mirror.domain))">
										<form class="form-inline" action="/?r=admin/Admin/setMirror" method="post" v-if="mirror.nextMirror && mirror.nextMirrorCreated">
											<span style="margin-right: 10px;">{{ mirror.domain }}</span>
											<input type="hidden" name="mirror" :value="mirror.nextMirror">
											<input type="hidden" name="domain" :value="mirror.mirrorOf">
											<input type="hidden" name="type" :value="((mirror.domain == domain.redirectTo)?'redirect':'client_redirect')">
											<input class="form-control form-control-sm" type="submit" :value="'Настроить '+((mirror.domain == domain.redirectTo)?'основной':'клиентский')+' редирект на '+mirror.nextMirror">
										</form>
										<form class="form-inline" action="/?r=admin/Admin/createMirror" method="post" v-if="mirror.nextMirror && !mirror.nextMirrorCreated">
											<span style="margin-right: 10px;">{{ mirror.domain }}</span>
											<input type="hidden" name="mirror" :value="mirror.nextMirror">
											<input type="hidden" name="domain" :value="mirror.mirrorOf">
											<input class="form-control form-control-sm" type="submit" :value="'Cоздать '+mirror.nextMirror">
										</form>
										<div v-if="!mirror.nextMirror">
											<span style="margin-right: 10px;">{{ mirror.domain }} &mdash; ?</span>
										</div>
									</li>
								</ul>
							</li>
						</ol>
					</div>
					<div class="alert alert-warning collapse" v-show="failedDomains.length" id="failedDomains">
						<h4>Найдены проблемы</h4>
						<ol>
							<li v-for="domain in failedDomains">
								<a v-bind:href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domainDecoded }}</a>
								<ul>
									<li v-if="!domain.redirectTo && domain.clientRedirectTo">
										Указан клиентский редирект на {{ domain.clientRedirectTo }}, но не указан основной редирект
									</li>
									<li v-if="!domain.metrikaId">
										Не указана метрика
									</li>
									<li v-if="!domain.siteName">
										Отсутствует siteName
									</li>
									<li v-if="domain.clientRedirectTo && domain.clientRedirect">
										Указан клиентский редирект, но не отключен редирект клиента на основу
									</li>
									<li v-if="!domain.isOn">
										Сайт выключен
									</li>
									<li v-for="mirror in domain.mirrors" v-if="(((domain.mirrors.filter(mirror => ((domain.videorollId || (domain.parentDomainObject?domain.parentDomainObject.videorollId:null)) && (domain.redirectTo == mirror.domain || domain.clientRedirectTo == mirror.domain) && !mirror.parentDomainObject.videorollId))).length && ((domain.metrika && domain.metrika.totals)?(((domain.metrika.totals[0] > 7000))?true:false):false))?true:false)">
										<a v-bind:href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.parentDomainObject.domain">{{ mirror.parentDomainObject.domainDecoded }}</a> &mdash; Более 7к трафика в неделю, но нет videorollId
									</li>

									<!-- <li v-if="domain.isOn && !domain.logoSrc">
										Не указан logo
									</li>
									<li v-if="domain.isOn && !domain.faviconSrc">
										Не указан favicon
									</li> -->
								</ul>
							</li>
						</ol>
					</div>
					<form class="row collapse" id="addDomain" method="post" action="/?r=admin/Admin/addDomain">
						<div class="col-6 col-md-4">
							<input class="form-control" type="text" name="domain" value="" placeholder="Домен">
						</div>
						<div class="col-6 col-md-3">
							<button class="btn btn-secondary">Создать {{ domainsFilterSettings.type }} домен</button>
						</div>
						<input class="form-control" type="hidden" name="type" :value="domainsFilterSettings.type">
					</form>
					<div class="row mb-3">
						<div class="col-12 col-md-4">
							<h3>Домены и зеркала ({{ filteredDomains.length }})</h3>
						</div>
						<div class="col-12 col-md-4 text-center">
							<span>Вид:</span>
							<div class="btn-group">
								<button type="button" :class="'btn btn-light '+((listTemplate == 'short')?'active':'')" type="button" @click="listTemplate = 'short'"><i class="fas fa-list"></i> Краткий</button>
								<button type="button" :class="'btn btn-light '+((listTemplate == 'full')?'active':'')" type="button" @click="listTemplate = 'full'"><i class="fas fa-bars"></i> Полный</button>
							</div>
						</div>
						<div class="col-12 col-md-4 text-right">
							<div class="form-group">
								<input type="text" name="search" class="form-control" placeholder="Поиск по доменам и зеркалам" @input="setDomainsFilter('domainSearch',$event.target.value)" @paste="setDomainsFilter('domainSearch',$event.target.value)">
							</div>
						</div>
					</div>
					<div class="mb-3" v-show="domainsFilterSettings.type == 'cinema'">
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterRuKnownBlock" @change="setDomainsFilter('ruKnownBlock',true)">
							<label class="custom-control-label" for="filterRuKnownBlock">Заблочен в РФ</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterUseAltDescriptions" @change="setDomainsFilter('useAltDescriptions',true)">
							<label class="custom-control-label" for="filterUseAltDescriptions">Альт. описания</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterAllowRussianMovies" @change="setDomainsFilter('allowRussianMovies',false)">
							<label class="custom-control-label" for="filterAllowRussianMovies">Без РФ фильмов</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterRknForRuOnly" @change="setDomainsFilter('rknForRuOnly',true)">
							<label class="custom-control-label" for="filterRknForRuOnly">Показывать заблоченный плеер для УКР</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3" v-show="false">
							<input type="checkbox" class="form-check-input" id="filterMoviesOnly" @change="setDomainsFilter('moviesOnly',true)">
							<label class="custom-control-label" for="filterMoviesOnly">Только фильмы</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterSerialsOnly" @change="setDomainsFilter('serialsOnly',true)">
							<label class="custom-control-label" for="filterSerialsOnly">Только сериалы</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterIncludeYoutube" @change="setDomainsFilter('includeYoutube',true)">
							<label class="custom-control-label" for="filterIncludeYoutube">Ютуб</label>
						</div>
						<div class="form-check form-check-inline form-switch mr-3">
							<input type="checkbox" class="form-check-input" id="filterBrand" @change="setDomainsFilter('brand',true)">
							<label class="custom-control-label" for="filterBrand">Брендовый</label>
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" v-for="domain in filteredDomains" v-show="listTemplate == 'short'">
							<div class="dropdown">
								<div class="btn-group">
									<button class="btn btn-light copy"><i class="far fa-copy copy" :data-clipboard-text="domain.domain"></i></button>
									<button class="btn btn-light" type="button" :id="'dropdown'+domain.domain" data-toggle="dropdown" aria-haspopup="true">
										{{ domain.domainDecoded }}
										<span style="color: red; font-weight: bold;" v-if="domain.redirectTo"><br>{{ domain.redirectToDecoded }}</span>
									</button>

									<div class="dropdown-menu" :aria-labelledby="'dropdown'+domain.domain">
										<a class="dropdown-item" :href="'/?r=admin/Routes/route&amp;domain='+domain.domain">Страницы</a>
										<a class="dropdown-item" :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">Настройки домена</a>
										<a class="dropdown-item" :href="'https://cinema.awmzone.net/?r=Admin/domainSettings&amp;domain='+domain.domain" v-if="domain.type == 'cinema'">Настройки Cinema</a>
										<a class="dropdown-item" :href="'/?r=admin/Admin/resetDomainCache&amp;domain='+domain.domain">Сбросить кеш</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="mb-3" v-for="(domain, i) in filteredDomains" :id="'domain_'+i" v-show="domain && (listTemplate == 'full')">
						<div class="row">
							<div class="col-md-9" style="background-color: white;">
								<div class="row">
									<div class="col-6 col-md-3 px-3 py-2" style="white-space: nowrap;">
										<div class="mb-2">Домен</div>
										<div style="font-weight: bold;">
											<a :href="'https://'+domain.domain"><i class="fas fa-link"></i></a>
											<i class="far fa-copy copy" :data-clipboard-text="domain.domain"></i>
											<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domainDecoded }}</a><br>
											<span class="badge bg-secondary">{{ (new Date(domain.addDateISO8601)).toLocaleDateString() }}</span>
										</div>
									</div>
									<div class="col-2 col-md-1 px-3 py-2">
										<div class="mb-2">Y</div>
										<div style="font-weight: bold;">
											<a :href="'https://search.google.com/search-console/settings/change-address?resource_id=sc-domain%3A'+domain.domain+'&hl=en'">
												<span v-if="domain.googleRedirect">✓</span>
												<span v-else>➖</span>
											</a>
										</div>
									</div>
									<div class="col-2 col-md-1 px-3 py-2">
										<div class="mb-2">G</div>
										<div style="font-weight: bold;">
											<a :href="'https://search.google.com/search-console/settings/change-address?resource_id=sc-domain%3A'+domain.domain+'&hl=en'">
												<span v-if="domain.googleRedirect">✓</span>
												<span v-else>➖</span>
											</a>
										</div>
									</div>
									<div class="col-2 col-md-1 px-3 py-2">
										<div class="mb-2">C</div>
										<div style="font-weight: bold;">
											<span v-if="domain.clientRedirect">✓</span>
											<span v-else>➖</span>
										</div>
									</div>
									<div class="col-6 col-md-3 px-3 py-2" style="overflow: hidden;">
										<div v-if="domain.redirectTo">
											<div class="mb-2">Редирект</div>
											<div style="font-weight: bold; white-space: nowrap;">
												<a :href="'https://'+domain.redirectTo"><i class="fas fa-link"></i></a>
												<i class="far fa-copy copy" :data-clipboard-text="domain.redirectTo"></i>
												<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.redirectTo">{{ domain.redirectToDecoded }}</a><br>
												<span class="badge bg-secondary">{{ (new Date(domain.redirectToAddDateISO8601)).toLocaleDateString() }}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-md-3 px-3 py-2" style="overflow: hidden;">
										<div v-if="domain.clientRedirectTo">
											<div class="mb-2">Редирект&nbsp;клиента</div>
											<div style="font-weight: bold; white-space: nowrap;">
												<a :href="'https://'+domain.clientRedirectTo"><i class="fas fa-link"></i></a>
												<i class="far fa-copy copy" :data-clipboard-text="domain.clientRedirectTo"></i>
												<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.clientRedirectTo">{{ domain.clientRedirectToDecoded }}</a><br>
												<span class="badge bg-secondary">{{ (new Date(domain.clientRedirectToAddDateISO8601)).toLocaleDateString() }}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6 col-md-3 px-3 py-2">
										<button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#mirrors_'+i">Раскрыть зеркала ({{ domain.mirrors.length }})</button>
									</div>
									<div class="col-6 col-md-9 px-3 py-2">
										<!-- <span class="badge badge-light"><i class="fas fa-calendar"></i> {{ domain.firstDomainMovieAddDate }}</span> -->
										<span class="badge bg-secondary" @click="setDomainsFilter('typeTemplate',domain.typeTemplate)">{{ domain.typeTemplate }}</span>
										<span class="badge bg-secondary" v-if="domain.allowRussianMovies === false">Без РФ фильмов</span>
										<span class="badge bg-secondary" v-if="domain.useAltDescriptions">Альт. описания</span>
										<span class="badge bg-secondary" v-if="domain.ruKnownBlock">Заблочен в РФ</span>
										<span class="badge bg-secondary" v-if="domain.rknForRuOnly">Показывать заблоченный плеер для УКР</span>
										<span class="badge bg-secondary" v-if="domain.moviesOnly">Только фильмы</span>
										<span class="badge bg-secondary" v-if="domain.serialsOnly">Только сериалы</span>
										<span class="badge bg-secondary" v-if="domain.includeYoutube">Ютуб</span>
										<span class="badge bg-secondary" v-if="domain.brand">Бренд</span>
										<span class="badge bg-secondary" v-if="domain.metrika && domain.metrika.totals">Трафик {{ domain.metrika.totals[0] }} виз/нед. </span>
									</div>
								</div>
								<div class="row collapse" :id="'mirrors_'+i">
									<div class="col-12">
										<div class="row" v-if="!domain.mirrors.length">
											<div class="col-12 px-3 py-2">
												Зеркал нет
											</div>
										</div>
										<div class="row" v-for="mirror in domain.mirrors">
											<div class="col-6 col-md-3 px-3 py-2" style="white-space: nowrap;">
												<a :href="'https://'+mirror.domain"><i class="fas fa-link"></i></a>
												<i class="far fa-copy copy" :data-clipboard-text="mirror.domain"></i>
												<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.domain">{{ mirror.domainDecoded }}</a>
											</div>
											<div class="col-2 col-md-1 px-3 py-2">
												<span v-if="mirror.yandexRedirect">✓</span>
												<span v-else>➖</span>
											</div>
											<div class="col-2 col-md-1 px-3 py-2">
												<a :href="'https://search.google.com/search-console/settings/change-address?resource_id=sc-domain%3A'+mirror.domain+'&hl=en'">
													<span v-if="mirror.googleRedirect">✓</span>
													<span v-else>➖</span>
												</a>
											</div>
											<div class="col-2 col-md-1 px-3 py-2">
												<span v-if="mirror.clientRedirect">✓</span>
												<span v-else>➖</span>
											</div>
											<div class="col-6 col-md-3 px-3 py-2">
												<div v-if="mirror.redirectTo" style="white-space: nowrap;">
													<a :href="'https://'+mirror.redirectTo"><i class="fas fa-link"></i></a>
													<i class="far fa-copy copy" :data-clipboard-text="mirror.redirectTo"></i>
													<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.redirectTo">{{ mirror.redirectTo }}</a>
												</div>
											</div>
											<div class="col-6 col-md-3 px-3 py-2">
												<div v-if="mirror.clientRedirectTo" style="white-space: nowrap;">
													<a :href="'https://'+mirror.clientRedirectTo"><i class="fas fa-link"></i></a>
													<i class="far fa-copy copy" :data-clipboard-text="mirror.clientRedirectTo"></i>
													<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.clientRedirectTo">{{ mirror.clientRedirectTo }}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-2" style="word-wrap: break-word;">
									<i class="far fa-comment-alt" v-show="domain.comment"></i>
									{{ domain.comment }}
									<button class="btn btn-light btn-sm editComment" type="button" data-toggle="collapse" :data-target="'#comment_'+i"><i class="far fa-edit"></i></button>
								</div>
								<div class="collapse" :id="'comment_'+i">
									<form action="/?r=admin/Admin/submitEditDomainComment" method="post">
										<div class="form-group">
											<textarea name="comment" class="form-control" style="height: 100px;">{{ domain.comment }}</textarea>
										</div>
										<input type="hidden" name="domain" :value="domain.domain">
										<input type="hidden" name="type" :value="domain.type">
										<input type="hidden" name="id" :value="'domain_'+i">
										<button class="btn btn-default">ОК</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		window.addEventListener('DOMContentLoaded', (event) => {
			var vue = new Vue({
				el: '#app',
				data: {
					domains: {vueDomains},
					domainsFilterSettings: {
						ruKnownBlock: null,
						useAltDescriptions: null,
						allowRussianMovies: null,
						rknForRuOnly: null,
						moviesOnly: null,
						serialsOnly: null,
						includeYoutube: null,
						domainSearch: null,
						brand: null,
						typeTemplate: null,
						type: 'cinema',
					},
					listTemplate: 'full',
					user: vueUser,
					// awmzone
					yandexAppId: 'fc6159c4896b43a48923b80ba136987c',
					// local.awmzone
					// yandexAppId: 'ff21e13cdda74d578933285cfe698bd1',
				},
				computed: {
					failedDomains: function() {
						return this.filteredDomains.filter(domain => (
							(!domain.redirectTo && domain.clientRedirectTo) ||
							!domain.metrikaId ||
							!domain.siteName ||
							(domain.clientRedirectTo && domain.clientRedirect) ||
							!domain.isOn ||
							(((domain.mirrors.filter(mirror => ((domain.videorollId || (domain.parentDomainObject?domain.parentDomainObject.videorollId:null)) && (domain.redirectTo == mirror.domain || domain.clientRedirectTo == mirror.domain) && !mirror.parentDomainObject.videorollId))).length && ((domain.metrika && domain.metrika.totals)?(((domain.metrika.totals[0] > 7000))?true:false):false))?true:false)
							// (domain.isOn && (!domain.faviconSrc || !domain.logoSrc))
							));
					},
					blockedDomains: function() {
						var blockedDomains = [];
						this.filteredDomains.forEach(function(domain){
							var isBlocked = false;
							if (!domain.ruKnownBlock) {
								if (domain.ruBlock && !domain.redirectTo) {
									isBlocked = true;
								}
								domain.mirrors.forEach(function(mirror){
									if ((domain.redirectTo == mirror.domain) && mirror.ruBlock) {
										isBlocked = true;
									}
									if ((domain.clientRedirectTo == mirror.domain) && mirror.ruBlock) {
										isBlocked = true;
									}

								});
								if (isBlocked) {
									blockedDomains.push(domain);
								}
							}
						});
						return blockedDomains;
					},
					filteredDomains: function() {
						return this.domains.filter(domain => (
							((this.domainsFilterSettings.ruKnownBlock == null)?true:(domain.ruKnownBlock == this.domainsFilterSettings.ruKnownBlock)) &&
							((this.domainsFilterSettings.useAltDescriptions == null)?true:(domain.useAltDescriptions == this.domainsFilterSettings.useAltDescriptions)) &&
							((this.domainsFilterSettings.allowRussianMovies == null)?true:(domain.allowRussianMovies == this.domainsFilterSettings.allowRussianMovies)) &&
							((this.domainsFilterSettings.rknForRuOnly == null)?true:(domain.rknForRuOnly == this.domainsFilterSettings.rknForRuOnly)) &&
							((this.domainsFilterSettings.moviesOnly == null)?true:(domain.moviesOnly == this.domainsFilterSettings.moviesOnly)) &&
							((this.domainsFilterSettings.serialsOnly == null)?true:(domain.serialsOnly == this.domainsFilterSettings.serialsOnly)) &&
							((this.domainsFilterSettings.includeYoutube == null)?true:(domain.includeYoutube == this.domainsFilterSettings.includeYoutube)) &&
							((this.domainsFilterSettings.domainSearch == null)?true:(
								((domain.domain == null)?false:domain.domain.includes(this.domainsFilterSettings.domainSearch)) || 
								((domain.domainDecoded == null)?false:domain.domainDecoded.includes(this.domainsFilterSettings.domainSearch)) || 
								((domain.redirectTo == null)?false:domain.redirectTo.includes(this.domainsFilterSettings.domainSearch)) || 
								((domain.clientRedirectTo == null)?false:domain.clientRedirectTo.includes(this.domainsFilterSettings.domainSearch)) ||
								(domain.mirrors.filter(mirror => (
									mirror.domain.includes(this.domainsFilterSettings.domainSearch) ||
									mirror.domainDecoded.includes(this.domainsFilterSettings.domainSearch)
									)).length?true:false)
								// domain.typeTemplate.includes(this.domainsFilterSettings.domainSearch)
								)) &&
							((this.domainsFilterSettings.brand == null)?true:(domain.brand == this.domainsFilterSettings.brand)) &&
							((this.domainsFilterSettings.typeTemplate == null)?true:(domain.typeTemplate == this.domainsFilterSettings.typeTemplate)) &&
							((this.domainsFilterSettings.type == null)?true:(domain.type == this.domainsFilterSettings.type))
							));
					},
				},
				methods: {
					getYandexToken: function() {
						var matches = document.location.hash.match(/\#access_token=(.+)&token/);
						if (matches && matches[1]) {
							localStorage.yandexToken = matches[1];
						}
						if (localStorage.yandexToken) {
							return localStorage.yandexToken;
						}
						return null;
					},
					setDomainsFilter: function(property,value) {
						if (this.domainsFilterSettings[property] == null) {
							this.domainsFilterSettings[property] = value;
						} else {
							if (property == 'domainSearch') {
								this.domainsFilterSettings[property] = (this.domainsFilterSettings[property] == '')?null:value;
							} else {
								this.domainsFilterSettings[property] = null;
							}
						}
					},
					selectType: function(el){
						this.domainsFilterSettings.type = el.target.dataset.type;
						localStorage.selectedType = el.target.dataset.type;
					},
					getTypes: function() {
						var types = [];
						this.domains.forEach(function(domain) {
							if (types.indexOf(domain.type) < 0) {
								types.push(domain.type);
							}
							// console.log(domain.type+': '+types.indexOf(domain.type));
						});
						// console.log(types);
						return types;
					}
				},
				mounted() {
					if (localStorage.listTemplate) {
						this.listTemplate = localStorage.listTemplate;
					}
					if (localStorage.selectedType) {
						this.domainsFilterSettings.type = localStorage.selectedType;
					}
					// console.log(this);
					// if (this.getYandexToken()) {
					// 	this.domains.forEach(function(domain){
					// 		if (domain.metrikaId) {
					// 			axios
					// 			.get('https://api-metrika.yandex.net/stat/v1/data?preset=sources_summary&id='+domain.metrikaId,{
					// 				headers: {
					// 					Authorization: 'Bearer ' + this.getYandexToken()
					// 				}
					// 			})
					// 			.then(response => console.log(response));
					// 		}
					// 	},this);
					// }
				},
				watch: {
					listTemplate(value) {
						localStorage.listTemplate = value;
					}
				}
			});
})
</script>
<script src="/types/engine/template/admin/mirrors/vue.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script type="text/javascript">
	var vueUser = {vueUser};
</script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
	new ClipboardJS('.copy');
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- <script src="/types/engine/template/admin/mirrors/vue.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
</body>
</html>