{admin/header.html}
<div class="row" id="domains" v-show="true" style="display: none;">
	<div class="col-12 mb-3">
		<h3>Типы</h3>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
				<button :class="'btn btn-light '+((domainsFilterSettings.type == null)?'active':'')" @click="domainsFilterSettings.type = null">Все <span :data-type="null" class="badge badge-light">{{ domains.length }}</span></button>
			</div>
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" v-for="type in getTypes()">
				<button :class="'btn btn-light '+((type == domainsFilterSettings.type)?'active':'')" @click="domainsFilterSettings.type = type">{{ type }} <span class="badge badge-light">{{ domains.filter(domain => (domain.type == type)).length }}</span></button>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="row mb-3">
			<div class="col-12 col-md-6">
				<button class="btn btn-danger" type="button" v-show="blockedDomains.length" @click="showBlocks = (showBlocks?false:true)">Блокировки <span class="badge badge-danger">{{ blockedDomains.length }}</span></button>
				<button class="btn btn-warning" type="button" v-show="failedDomains.length" @click="showFailedDomains = (showFailedDomains?false:true)">Найдены проблемы <span class="badge badge-warning">{{ failedDomains.length }}</span></button>
			</div>
			<div class="col-12 col-md-6 text-right">
				<div class="badge">{{ getMetrikaTotalVisits }} виз./мес.</div>
				<button class="btn btn-light" v-show="user.level == 'admin'" type="button" data-toggle="collapse" data-target="#addDomain">Создать домен</button>
				<form class="form-inline collapse" id="addDomain" method="post" action="/?r=admin/Admin/addDomain">
					<input class="form-control" type="text" name="domain" value="" placeholder="Домен">
					<button class="btn btn-secondary">Создать {{ domainsFilterSettings.type }} домен</button>
					<input class="form-control" type="hidden" name="type" :value="domainsFilterSettings.type">
				</form>
			</div>
		</div>
		<div class="alert alert-warning" v-show="blockedDomains.length && showBlocks">
			<h4>Блокировки</h4>
			<ol>
				<li v-for="domain in blockedDomains">
					<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domain }}</a>
					<ul>
						<li v-if="domain.ru_block && (!domain.redirect_to || (domain.domain == domain.redirect_to.domain))">
							бан основы
						</li>
						<li v-for="mirror in domain.mirrors" v-if="mirror.ru_block && ((domain.redirect_to && domain.redirect_to.domain == mirror.domain) || (domain.client_redirect_to && domain.client_redirect_to.domain == mirror.domain))">
							<div class="form-inline" v-if="mirror.nextMirror && mirror.nextMirrorCreated">
								<span style="margin-right: 10px;">{{ mirror.domain }}</span>
								<span class="badge badge-light">РФ {{ getMetrikaRuPercent(domain) }}%</span>
								<button class="form-control form-control-sm" @click="setMirror(domain,mirror,((mirror.domain == domain.redirect_to.domain)?'redirect':'client_redirect'))">{{ 'Настроить '+((mirror.domain == domain.redirect_to.domain)?'основной':'клиентский')+' редирект на '+mirror.nextMirror }}</button>
								<span class="btn btn-light copy"><i class="far fa-copy copy" :data-clipboard-text="mirror.nextMirror"></i></span>
							</div>
							<div class="form-inline" v-if="mirror.nextMirror && !mirror.nextMirrorCreated">
								<span style="margin-right: 10px;">
									{{ mirror.domain }}
									<span class="badge badge-light">РФ {{ getMetrikaRuPercent(domain) }}%</span>
									<a :href="'https://dash.cloudflare.com/fb4c191085863825e34d37060d78de84/'+(mirror.parentDomain?mirror.parentDomain.domain:mirror.domain)+'/dns'">
										<i class="fas fa-cloud"></i>
									</a>
								</span>
								<button class="form-control form-control-sm" @click="createMirror(domain,mirror)">Cоздать {{ mirror.nextMirror }}</button>
							</div>
							<div v-if="!mirror.nextMirror">
								<span style="margin-right: 10px;">{{ mirror.domain }} &mdash; ?</span>
							</div>
						</li>
					</ul>
				</li>
			</ol>
		</div>
		<div class="alert alert-warning" v-show="failedDomains.length && showFailedDomains">
			<h4>Найдены проблемы</h4>
			<ol>
				<li v-for="domain in failedDomains">
					<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domainDecoded }}</a>
					<ul>
						<li v-if="!domain.redirect_to && domain.client_redirect_to">
							Указан клиентский редирект на {{ domain.client_redirect_to.domain }}, но не указан основной редирект
						</li>
						<li v-if="!domain.metrika_id">
							Не указана метрика
						</li>
						<li v-if="!domain.site_name">
							Отсутствует site_name
						</li>
						<li v-if="domain.client_redirect_to && domain.client_redirect">
							Указан клиентский редирект, но не отключен редирект клиента на основу
						</li>
						<li v-if="!domain.on">
							Сайт выключен
						</li>
						<li v-for="mirror in domain.mirrors" v-if="(((domain.mirrors.filter(mirror => ((domain.videoroll_id || (domain.parentDomain?domain.parentDomain.videoroll_id:null)) && ((domain.redirect_to && domain.redirect_to.domain == mirror.domain) || (domain.client_redirect_to && domain.client_redirect_to.domain == mirror.domain)) && !mirror.parentDomain.videoroll_id))).length && ((domain.metrikaDataCached && domain.metrikaDataCached.totals)?(((domain.metrikaDataCached.totals[0] > 30000))?true:false):false))?true:false)">
							<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+(mirror.parentDomainObject?mirror.parentDomainObject.domain:mirror.domain)">{{ (mirror.parentDomainObject?mirror.parentDomainObject.domain:mirror.domain) }}</a> &mdash; Более 30к трафика в месяц, но нет videoroll_id
						</li>
						<!-- <li v-if="domain.isOn && !domain.logoSrc">
							Не указан logo
						</li>
						<li v-if="domain.isOn && !domain.faviconSrc">
							Не указан favicon
						</li> -->
					</ul>
				</li>
			</ol>
		</div>
		<div class="row mb-2">
			<div class="col-12 col-md-4">
				<h3>Домены и зеркала <span class="badge badge-light">{{ filteredDomains.length }}</span></h3>
			</div>
			<div class="col-12 col-md-4 text-center">
				<span>Вид:</span>
				<div class="btn-group">
					<button type="button" :class="'btn btn-light '+((listTemplate == 'short')?'active':'')" type="button" @click="listTemplate = 'short'"><i class="fas fa-list"></i> Краткий</button>
					<button type="button" :class="'btn btn-light '+((listTemplate == 'full')?'active':'')" type="button" @click="listTemplate = 'full'"><i class="fas fa-bars"></i> Полный</button>
				</div>
			</div>
			<div class="col-12 col-md-2">
				<div class="form-group">
					<select class="form-control" v-model="domainsFilterSettings.order">
						<option value="">Не выбрано</option>
						<option value="add_date">По дате, по возрастанию</option>
						<option value="add_date desc">По дате, по убыванию</option>
					</select>
				</div>
			</div>
			<div class="col-12 col-md-2 text-right">
				<div class="form-group">
					<input type="text" name="search" class="form-control" placeholder="Поиск по доменам и зеркалам" v-model="domainsFilterSettings.domainSearch">
				</div>
			</div>
		</div>
		<div class="form-inline mb-3" v-show="domainsFilterSettings.type == 'cinema'">
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterRuKnownBlock" v-model="domainsFilterSettings.ruKnownBlock">
				<label class="custom-control-label" for="filterRuKnownBlock">Заблочен в РФ</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterUseAltDescriptions" v-model="domainsFilterSettings.useAltDescriptions">
				<label class="custom-control-label" for="filterUseAltDescriptions">Альт. описания</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterWithoutRussianMovies" v-model="domainsFilterSettings.withoutRussianMovies">
				<label class="custom-control-label" for="filterWithoutRussianMovies">Без РФ фильмов</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterRknForRuOnly" v-model="domainsFilterSettings.rknForRuOnly">
				<label class="custom-control-label" for="filterRknForRuOnly">Показывать заблоченный плеер для УКР</label>
			</div>
			<div class="custom-control custom-switch mr-3" v-show="false">
				<input type="checkbox" class="custom-control-input" id="filterMoviesOnly" v-model="domainsFilterSettings.moviesOnly">
				<label class="custom-control-label" for="filterMoviesOnly">Только фильмы</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterSerialsOnly" v-model="domainsFilterSettings.serialsOnly">
				<label class="custom-control-label" for="filterSerialsOnly">Только сериалы</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterIncludeYoutube" v-model="domainsFilterSettings.includeYoutube">
				<label class="custom-control-label" for="filterIncludeYoutube">Ютуб</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterBrand" v-model="domainsFilterSettings.brand">
				<label class="custom-control-label" for="filterBrand">Брендовый</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterYandexNotAllowed" v-model="domainsFilterSettings.yandexNotAllowed">
				<label class="custom-control-label" for="filterYandexNotAllowed">Закрыт от Яндекса</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterWithoutRiskyStudios" v-model="domainsFilterSettings.withoutRiskyStudios">
				<label class="custom-control-label" for="filterWithoutRiskyStudios">Без контента рискованных студий</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterAccessSchemeV2" v-model="domainsFilterSettings.accessSchemeV2">
				<label class="custom-control-label" for="filterAccessSchemeV2">Схема доступа v2</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterWithTraffic" v-model="domainsFilterSettings.with_traffic">
				<label class="custom-control-label" for="filterWithTraffic">Трафик > 30k/мес</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterHreflang" v-model="domainsFilterSettings.hreflang">
				<label class="custom-control-label" for="filterHreflang">Hreflang</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterMoviesMinYear" v-model="domainsFilterSettings.moviesMinYear">
				<label class="custom-control-label" for="filterMoviesMinYear">С минимальным годом</label>
			</div>
			<div class="custom-control custom-switch mr-3">
				<input type="checkbox" class="custom-control-input" id="filterWithoutClientDomain" v-model="domainsFilterSettings.withoutClientDomain">
				<label class="custom-control-label" for="filterWithoutClientDomain">Без клиентского поддомена</label>
			</div>
			
		</div>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" v-for="domain in filteredDomains" v-show="listTemplate == 'short'">
				<div class="dropdown">
					<div class="btn-group">
						<button class="btn btn-light copy"><i class="far fa-copy copy" :data-clipboard-text="domain.domain"></i></button>
						<button class="btn btn-light" type="button" :id="'dropdown'+domain.domain" data-toggle="dropdown" aria-haspopup="true">
							{{ domain.domainDecoded }}
							<span style="color: red; font-weight: bold;" v-if="domain.redirect_to"><br>{{ domain.redirect_to.domainDecoded }}</span>
						</button>

						<div class="dropdown-menu" :aria-labelledby="'dropdown'+domain.domain">
							<a class="dropdown-item" :href="'/?r=admin/Routes/route&amp;domain='+domain.domain">Страницы</a>
							<a class="dropdown-item" :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">Настройки домена</a>
							<a class="dropdown-item" :href="'https://cinema.awmzone.net/?r=Admin/domainSettings&amp;domain='+domain.domain" v-if="domain.type == 'cinema'">Настройки Cinema</a>
							<a class="dropdown-item" :href="'/?r=admin/Admin/resetDomainCache&amp;domain='+domain.domain">Сбросить кеш</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="mb-3" v-for="(domain, i) in filteredDomains" :id="'domain_'+i" v-show="domain && (listTemplate == 'full')">
			<div class="row" style="background-color: white;">
				<div class="col-md-9">
					<div class="row">
						<div class="col-6 col-md-3 px-3 py-2" style="white-space: nowrap;">
							<div class="mb-2">Домен</div>
							<div style="font-weight: bold;">
								<a :href="'https://'+domain.domain"><i class="fas fa-link"></i></a>
								<i class="far fa-copy copy" :data-clipboard-text="domain.domain"></i>
								<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domainDecoded }}</a><br>
								<span class="badge badge-light">{{ (new Date(domain.addDateISO8601)).toLocaleDateString() }}</span>
							</div>
						</div>
						<div class="col-2 col-md-1 px-3 py-2">
							<div class="mb-2">Y</div>
							<div style="font-weight: bold;">
								<a :href="'https://search.google.com/search-console/settings/change-address?resource_id=sc-domain%3A'+domain.domain+'&hl=en'">
									<span v-if="domain.yandex_redirect">✓</span>
									<span v-else>➖</span>
								</a>
							</div>
						</div>
						<div class="col-2 col-md-1 px-3 py-2">
							<div class="mb-2">G</div>
							<div style="font-weight: bold;">
								<a :href="'https://search.google.com/search-console/settings/change-address?resource_id=sc-domain%3A'+domain.domain+'&hl=en'">
									<span v-if="domain.google_redirect">✓</span>
									<span v-else>➖</span>
								</a>
							</div>
						</div>
						<div class="col-2 col-md-1 px-3 py-2">
							<div class="mb-2">C</div>
							<div style="font-weight: bold;">
								<span v-if="domain.client_redirect">✓</span>
								<span v-else>➖</span>
							</div>
						</div>
						<div class="col-6 col-md-3 px-3 py-2" style="overflow: hidden;">
							<div v-if="domain.redirect_to">
								<div class="mb-2">Редирект</div>
								<div style="font-weight: bold; white-space: nowrap;">
									<a :href="'https://'+domain.redirect_to.domain"><i class="fas fa-link"></i></a>
									<i class="far fa-copy copy" :data-clipboard-text="domain.redirect_to.domain"></i>
									<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.redirect_to.domain">{{ domain.redirect_to.domainDecoded }}</a><br>
									<span class="badge badge-light">{{ (new Date(domain.redirect_to.addDateISO8601)).toLocaleDateString() }}</span>
								</div>
							</div>
							<div v-if="domain.ru_domain">
								<div class="mt-2 mb-2">RU домен</div>
								<div style="font-weight: bold; white-space: nowrap;">
									<a :href="'https://'+domain.ru_domain"><i class="fas fa-link"></i></a>
									<i class="far fa-copy copy" :data-clipboard-text="domain.ru_domain"></i>
									<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.ru_domain">{{ domain.ru_domain }}</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-3 px-3 py-2" style="overflow: hidden;">
							<div v-if="domain.client_redirect_to">
								<div class="mb-2">Редирект&nbsp;клиента</div>
								<div style="font-weight: bold; white-space: nowrap;">
									<a :href="'https://'+domain.client_redirect_to.domain"><i class="fas fa-link"></i></a>
									<i class="far fa-copy copy" :data-clipboard-text="domain.client_redirect_to.domain"></i>
									<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.client_redirect_to.domain">{{ domain.client_redirect_to.domainDecoded }}</a><br>
									<span class="badge badge-light">{{ (new Date(domain.client_redirect_to.addDateISO8601)).toLocaleDateString() }}</span>
								</div>
							</div>
							<div v-if="domain.next_ru_domain">
								<div class="mt-2 mb-2">Следующий RU домен</div>
								<div style="font-weight: bold; white-space: nowrap;">
									<a :href="'https://'+domain.next_ru_domain"><i class="fas fa-link"></i></a>
									<i class="far fa-copy copy" :data-clipboard-text="domain.next_ru_domain"></i>
									<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.next_ru_domain">{{ domain.next_ru_domain }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-md-3 px-3 py-2">
							<button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#mirrors_'+i">Раскрыть зеркала <span class="badge badge-light">{{ domain.mirrors.length }}</span></button>
						</div>
						<div class="col-6 col-md-9 px-3 py-2">
							<!-- <span class="badge badge-light"><i class="fas fa-calendar"></i> {{ domain.firstDomainMovieAddDate }}</span> -->
							<span class="badge badge-light" @click="domainsFilterSettings.typeTemplate = (domainsFilterSettings.typeTemplate == domain.type_template)?null:domain.type_template">{{ domain.type_template }}</span>
							<span class="badge badge-light" v-if="domain.brand">Бренд</span>
							<span class="badge badge-light" v-if="domain.metrikaDataCached && domain.metrikaDataCached.totals">Трафик {{ domain.metrikaDataCached.totals[0] }} виз./мес. </span>
							<span class="badge badge-light" v-if="getMetrikaRuPercent(domain)">РФ {{ getMetrikaRuPercent(domain) }}%</span>
							<span class="badge badge-light" v-if="!domain.yandexAllowed">Закрыт от Яндекса</span>
							<span class="badge badge-light" v-if="domain.access_scheme == 'v2'">Схема доступа v2</span>
							<span class="badge badge-light" v-if="domain.ru_domain || domain.next_ru_domain">Hreflang</span>
							<template v-if="domain.cinema_domain">
								<span class="badge badge-light" v-if="domain.cinema_domain.allowRussianMovies === false">Без РФ фильмов</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.useAltDescriptions">Альт. описания</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.rknBanned">Заблочен в РФ</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.rknForRuOnly">Показывать заблоченный плеер для УКР</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.include_movies && !domain.cinema_domain.include_serials">Только фильмы</span>
								<span class="badge badge-light" v-if="!domain.cinema_domain.include_movies && domain.cinema_domain.include_serials">Только сериалы</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.include_youtube">Ютуб</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.allowRiskyStudios === false">Без контента рискованных студий</span>
								<span class="badge badge-light" v-if="domain.cinema_domain.moviesMinYear">Фильмы с {{ domain.cinema_domain.moviesMinYear }} г.</span>
							</template>
						</div>
					</div>
					<div class="row collapse" :id="'mirrors_'+i">
						<div class="col-12">
							<div class="row" v-if="!domain.mirrors.length">
								<div class="col-12 px-3 py-2">
									Зеркал нет
								</div>
							</div>
							<div class="row" v-for="mirror in domain.mirrors">
								<div class="col-6 col-md-3 px-3 py-2" style="white-space: nowrap;">
									<a :href="'https://'+mirror.domain"><i class="fas fa-link"></i></a>
									<i class="far fa-copy copy" :data-clipboard-text="mirror.domain"></i>
									<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.domain">{{ mirror.domainDecoded }}</a><br>
									<span class="badge badge-light">{{ (new Date(mirror.addDateISO8601)).toLocaleDateString() }}</span>
								</div>
								<div class="col-2 col-md-1 px-3 py-2">
									<span v-if="mirror.yandex_redirect">✓</span>
									<span v-else>➖</span>
								</div>
								<div class="col-2 col-md-1 px-3 py-2">
									<a :href="'https://search.google.com/search-console/settings/change-address?resource_id=sc-domain%3A'+mirror.domain+'&hl=en'">
										<span v-if="mirror.google_redirect">✓</span>
										<span v-else>➖</span>
									</a>
								</div>
								<div class="col-2 col-md-1 px-3 py-2">
									<span v-if="mirror.client_redirect">✓</span>
									<span v-else>➖</span>
								</div>
								<div class="col-6 col-md-3 px-3 py-2">
									<div v-if="mirror.redirect_to" style="white-space: nowrap;">
										<a :href="'https://'+mirror.redirect_to.domain"><i class="fas fa-link"></i></a>
										<i class="far fa-copy copy" :data-clipboard-text="mirror.redirect_to.domain"></i>
										<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.redirect_to.domain">{{ mirror.redirect_to.domain }}</a>
									</div>
								</div>
								<div class="col-6 col-md-3 px-3 py-2">
									<div v-if="mirror.client_redirect_to" style="white-space: nowrap;">
										<a :href="'https://'+mirror.client_redirect_to.domain"><i class="fas fa-link"></i></a>
										<i class="far fa-copy copy" :data-clipboard-text="mirror.client_redirect_to.domain"></i>
										<a :href="'/?r=admin/Admin/domainSettings&amp;domain='+mirror.client_redirect_to.domain">{{ mirror.client_redirect_to.domain }}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 pt-2">
					<div class="mb-2" style="word-wrap: break-word;">
						<i class="far fa-comment-alt" v-show="domain.comment"></i>
						{{ domain.comment }}
						<button class="btn btn-light btn-sm editComment" type="button" data-toggle="collapse" :data-target="'#comment_'+i"><i class="far fa-edit"></i></button>
					</div>
					<div class="collapse" :id="'comment_'+i">
						<form action="/?r=admin/Admin/submitEditDomainComment" method="post">
							<div class="form-group">
								<textarea name="comment" class="form-control" style="height: 100px;">{{ domain.comment }}</textarea>
							</div>
							<input type="hidden" name="domain" :value="domain.domain">
							<input type="hidden" name="type" :value="domain.type">
							<input type="hidden" name="id" :value="'domain_'+i">
							<button class="btn btn-default">ОК</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/types/engine/template/admin/mirrors/mirrors.js?2"></script>
{admin/footer.html}