{admin/header.html}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<div id="domains">
	<div class="alert alert-warning" v-show="showDomainsWithouMetrika">
		<h4>Без метрики</h4>
		<ol>
			<li v-for="domain in domainsWithoutMetrika">
				<a v-bind:href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">{{ domain.domain }}</a>
			</li>
		</ol>
	</div>
</div>
<script type="text/javascript">
	var vue1 = new Vue({
		el: '#domains',
		data: {
			domains: {domainsArrJson}
		},
		computed: {
			domainsWithoutMetrika: function() {
				return this.domains.filter(item => !item.metrika_id);
			},
			showDomainsWithouMetrika: function() {
				return this.domainsWithoutMetrika.length?true:false;
			}
		}
	})
</script>
<div class="row">
	<div class="col-12">
		<div class="alert alert-warning ru-blocks" role="alert" style="display: none;">
			<h4>Блокировки</h4>
			<ol>
				{bannedList}
			</ol>
		</div>
	</div>
	<div class="col-12">
		<h1>Зеркала</h1>
		{mirrorsList}
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		$('.btnLiveinternet').on('click',function(){
			targetIframe = $(this).data('target') + ' iframe';
			if (!$(targetIframe).data('iframeLoaded')) {
				$(targetIframe).attr('src',($(targetIframe).data('src')));
				$(targetIframe).data('iframeLoaded',true);
			}
			// alert($(targetIframe).data('src'));
		});
		var ruBlocks = {jsonRuBlocks};
		if (ruBlocks) {
			$('.ru-blocks').show();
		} else {
			$('.ru-blocks').hide();
		}
	});
</script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
	new ClipboardJS('.copy');
</script>
{admin/footer.html}