/*--== DELIVERY ==--*/
.max-wrap{width:980px;margin: 0 auto;}
[class*="icon-"]{ background: url(../img/foot-sprite.png) no-repeat; display: inline-block; vertical-align: top; }
.icon-phone-dark{ background-position: 0 0; width: 19px; height: 19px; }
.icon-mail{ background-position: 0 -39px; width: 19px; height: 13px; }
.icon-next-step{ background-position: 0 -72px; width: 61px; height: 13px; }
.icon-next-step-alt{ background-position: 0 -105px; width: 18px; height: 61px; }
.icon-next-step-640{ background-position: 0 -186px; width: 61px; height: 13px; }
.icon-back-top{ background-position: 0 -219px; width: 33px; height: 18px; }
.color-scheme-blue-dark .icon-next-step{ background-position: 0 -257px; }
.color-scheme-blue-dark .icon-next-step-alt{ background-position: 0 -290px; width: 13px; height: 61px; }
.color-scheme-blue-dark .icon-next-step-640{ background-position: 0 -371px; }
[class*="icon-step-"]{ background: url(../img/foot-sprite.png) no-repeat; display: inline-block; vertical-align: top; }
.icon-step-01{ background-position: -14px -284px; width: 36px; height: 36px; }
.icon-step-02{ background-position: -14px -340px; width: 41px; height: 41px; }
.icon-step-03{ background-position: -14px -404px; width: 37px; height: 37px; }
.icon-step-04{ background-position: -14px -458px; width: 37px; height: 38px; }

.delivery-section{background: #f8f4f0;}
.delivery-post{padding:10px 0;font-size:12px;line-height:18px;color:#000;text-align:center;}
.delivery-post,
.delivery-post *{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.delivery-post .deliver-holder{display: inline-block;vertical-align: middle;padding: 0;margin: 0 1% 0 0;max-width: 68%;border-right: 3px solid #e1e1e1;}
.post-country,
.post-country-alt{vertical-align: middle;background: url(../img/sprite-post.png) no-repeat;margin: 8px 10px;display: none;}
#-post-img .post-country{display: inline-block;background-position: 0 -652px;width: 88px;height: 55px;}
#-post-img .post-country-alt{display: inline-block;background-position: 0 -727px;width: 88px;height: 55px;}
#BLR-post-img .post-country{display: inline-block;background-position: 0 -132px;width: 138px;height: 50px;}
#RUS-post-img .post-country{display: inline-block;background-position: 0 -202px;width: 113px;height: 55px;}
#RUS-post-img .post-country-alt{display: inline-block;background-position: 0 -502px;width: 170px;height: 55px;}
#KAZ-post-img .post-country{display: inline-block;background-position: 0 -277px;width: 186px;height: 23px;}
#KGZ-post-img .post-country{display: inline-block;background-position: 0 -320px;width: 182px;height: 42px;}
#UKR-post-img .post-country{display: inline-block;background-position: 0 -382px;width: 186px;height: 37px;}
#LVA-post-img .post-country,
#LTU-post-img .post-country{display: inline-block;background-position: 0 -439px;width: 186px;height: 43px;}
#MDA-post-img .post-country{display: inline-block;background-position: 0 -577px;width: 55px;height: 55px;}
.delivery-post .delivery-label{display: inline-block;vertical-align: middle;padding: 0 11px;font-size: 22px;line-height: 26px;}
.delivery-post#BLR-post-img .delivery-label,
.delivery-post#RUS-post-img .delivery-label,
.delivery-post#KAZ-post-img .delivery-label,
.delivery-post#KGZ-post-img .delivery-label,
.delivery-post#UKR-post-img .delivery-label,
.delivery-post#LVA-post-img .delivery-label,
.delivery-post#LTU-post-img .delivery-label,
.delivery-post#MDA-post-img .delivery-label{display: inline-block;max-width: 42%;}
.delivery-post#MDA-post-img .delivery-label { max-width: 50%; }
.delivery-note{text-align: left;display: inline-block;vertical-align: middle;max-width: 28%;}
.delivery-note > span{display: block;padding: 0 0 0 18px;position: relative;}
.delivery-note > span > em{font-style: normal;display: inline-block;vertical-align: top;}
.delivery-note > span:before{content: '';position: absolute;left: 0;top: 0;width: 11px;height: 13px;background: url(../img/sprite-post.png) no-repeat;}
.color-scheme-black .delivery-note > span:before{background-position: 0 -33px;}
.color-scheme-white .delivery-note > span:before{background-position: 0 -66px;}
.color-scheme-blue .delivery-note > span:before{background-position: 0 -99px;}
/*--== DELIVERY END ==--*/

/*--== WORKS ==--*/
.work-section{background-color: #000;}
.work-steps{padding:31px 10px 20px;color:#fff;}
.steps{padding: 0 0 20px 35px;overflow: hidden;}
.steps-label{float:left;font-weight:bold;font-size:20px;line-height:22px;padding:5px 27px 0 0;max-width: 230px;}
.steps-wrap{overflow: hidden;padding: 0 0 20px;}
.steps-list{padding: 0;list-style: none;font-size: 0;letter-spacing: -4px;margin: 0 -12px 0 0;}
.steps-list li{width: 25.0%;font-size: 16px;letter-spacing: normal;display: inline-block;vertical-align: top;position: relative;}
.steps-list li:after{content: '';position: absolute;right: 100%;top: 100%;background: url(../img/foot-sprite.png) no-repeat 0 -72px;width: 61px;height: 13px;margin: -1px 15px 0 0;}
.color-scheme-blue-dark .steps-list li:after{background-position: 0 -257px;}
.steps-list li:first-child:after{content: none;display: none;}
.step-item{font-size: 12px;line-height: 14px;overflow: hidden;}
.steps-list li .step-item{padding: 0 15px 0 0;}
.step-img{padding: 0 10px 0 0;float: left;}
.step-description{padding: 2px 0 0;display: block;overflow: hidden;}
.call{text-align: center;font-weight: bold;font-size: 20px;line-height: 22px;color: #fff;padding: 0 0 9px;}
.call > span{display: inline-block;vertical-align: top;position: relative;}
.call .call-title:before{content: '';display: inline-block;vertical-align: top;margin: 3px 13px 0 -17px;height: 17px;width: 17px;background-color: #05a210;border-radius: 50%;}
/*--== WORKS END ==--*/

/*--== FOOTER ==--*/
.footer-area{font-size: 12px;line-height: 18px;padding: 0;background: #fff;}
.footer-holder{padding: 23px 15px;}
.footer-section{font-size: 12px;line-height: 18px;color: #505050;overflow: hidden;padding: 9px 0 6px;border-top: 2px solid #ececec;position: relative;}
.footer-section:first-child{border-top: none;}
.footer-left{width: 59%;float: left;}
.footer-section:first-child .footer-left{width: 88.7%;}
.footer-right{float: right;width: 33%;margin-left: 12.4%;}
.footer-section:first-child .footer-right{width: 55.4%;margin-left: 3.4%;}
.footer-bottom{overflow: hidden;padding-left: 5px;text-align: right;}
.hotname{text-align:right;float:right;padding:5px 0 5px 20px;margin-left:40px;background:url('../img/foot-sprite.png') -44px -679px no-repeat;}
.footer-section address{font-style: normal;overflow: hidden;font-size: 14px;line-height: 21px;margin: 0;}
.politic *{display: inline;}
.contacts-list{padding: 0;margin: 0;list-style: none;font-size: 14px;line-height: 18px;float: left;width: 50%;}
.contacts-list li{padding: 0 5px 9px 28px;position: relative;}
.contacts-list li.call-title{font-size: 13px;line-height: 13px;font-weight: normal;padding: 0 0 4px;}
.ordinfo-text{width: 50%;float: right;font-size: 14px;line-height: 16px;font-weight: bold;padding: 0 0 20px;}
.contacts-list li [class*="icon-"]{left: 1px;position: absolute;top: 2px;}
.contacts-list li .icon-mail{left: 1px;top: 3px;}
.contacts-phone{font-size: 20px;line-height: 22px;font-weight: bold;}
.footer-section dl{margin: 0;padding: 0;}
.footer-section dt{padding: 0 0 5px 0;margin: 0;display: inline;}
.footer-section dd{margin: 0;padding: 0 0 5px;display: inline;}
.back-to-top{position: absolute;right: 1px;top: 10px;text-decoration: none !important;width: 60px;height: 60px;border-radius: 50%;border: 1px solid #dadada;z-index: 555;background: rgba(255, 255, 255, 0.2);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;backface-visibility: hidden;}
.back-to-top i{position: absolute;top: 11px;left: 50%;margin-left: -16px;}
.back-to-top .text-inner{display: block;color: #505050;font: 12px/14px Arial, Helvetica, sans-serif;text-align: center;padding: 31px 0 0;}
.back-to-top:hover{border-color: #505050;background: #eee;}
/*--== FOOTER END ==--*/

/*--== POPUP MESSAGES ==--*/
#pop-messages ul{ list-style: none; padding: 0; margin: 0; }
#pop-messages{position: fixed;bottom: 0;left: 0;z-index: 1000;}
#pop-messages li {display: none;width: 200px;background: black;background: rgba(0, 0, 0, 0.8);font: 16px/20px arial, sans-serif;color: #fff;border: 1px solid #fff;box-shadow: 0 0 5px -1px #000;padding: 15px 20px 15px;text-align: center;margin-bottom: 5px;}
.close-msg{height:16px;width:16px;border:1px solid #fff;cursor:pointer;position:absolute;top:0;right:0;background:url(../img/foot-sprite.png) -46px -557px no-repeat;}
/*--== POPUP MESSAGES END ==--*/

/*DELIVERY & WORKS & FOOTER 240PX END*/

/*--== RED CONNECT & CALL BACK ==--*/
@media only screen and (max-width: 979px){
	#pop-messages{display: none !important;}
}
/*--== RED CONNECT & CALL BACK END ==--*/