/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

.d-carousel { margin-left:23px;}
.d-carousel ul li {
    padding: 15px;
    width: 175px;
}
.d-carousel ul li img{ float:left; position:relative;}
.Rcont{position:relative; float:left; width:640px;}
.Rname{position:relative; font: 'PT Sans', sans-serif; font-weight:700; font-size:28px; color:#231f20; line-height:27px; margin-left:15px;}
.Rperson{position:relative; font: 'PT Sans', sans-serif; font-style:italic; font-size:16px; color:#808080; line-height:24px; margin-left:15px;}
.Rsub{position:relative; font: 'PT Sans', sans-serif; font-size:15px; color:#231f20; line-height:22px; margin-top:3px;}

.jcarousel-direction-rtl {
    direction: rtl;
}

.d-carousel h4 {
    margin: 5px 0 5px 0;
}

.d-carousel .jcarousel-container {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.d-carousel .jcarousel-item {
    width: 830px;
    height: 180px;
}

.d-carousel .jcarousel-container-horizontal {
    width: 870px;
    height: 180px;
    padding: 0 45px;
}

.d-carousel .jcarousel-item-horizontal {
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 11px;
}





.d-carousel .jcarousel-next-horizontal {
    position: absolute;
    top: 80px;
    right: 0;
    margin-right: 3px;
    width: 28px;
    height: 25px;
    cursor: pointer;
    background: transparent url(../img/arrows.png) no-repeat top right;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../img/arrows.png);
}

.d-carousel .jcarousel-next-horizontal:hover {
    background-position: bottom right;
}

.d-carousel .jcarousel-prev-horizontal {
    position: absolute;
    top: 80px;
    left: 0;
    margin-left: 3px;
    width: 28px;
    height: 25px;
    cursor: pointer;
    background: transparent url(../img/arrows.png) no-repeat top left;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../img/arrows.png);
}

.d-carousel .jcarousel-prev-horizontal:hover {
    background-position: bottom left;
}
