/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 1024px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;background:url(../img/bg.jpg) repeat-x;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header_in {height: 685px; width:978px; margin:0 auto; padding:0 23px 0 23px; position:relative;}
.header {height: 685px; width:100%;  background:url(../img/header.jpg) top center no-repeat;}
.header_logo{ position:relative; display:block; *background:url(../img/header_logo.png) no-repeat; width:350px; height:58px; top:23px;}
.header_tel{ position:absolute; right:20px; top:20px;}
.header_title{font-family: 'PT Sans', sans-serif; font-weight:700; font-size:41px; color:#ffdb00;  line-height:47px; position:absolute; top:128px; left:23px;}
.header_podtitle{font-family: 'PT Sans', sans-serif;  font-size:21px; color:#ffffff; line-height:28px; position:absolute; top:280px; left:23px;}
.header_bonus1{ position:absolute; font-family: 'PT Sans', sans-serif; font-size:20px; line-height:22px; color:white; background:url(../img/header_bonus1.png) no-repeat; padding-left:45px; left:460px; top:505px;}
.header_bonus2{ position:absolute; font-family: 'PT Sans', sans-serif; font-size:20px; line-height:22px; color:white; background:url(../img/header_bonus2.png) no-repeat; padding-left:50px; left:455px; top:563px;}
.original img {
	display: inline-block;
	width: 50px;
	height: 38px;
	margin-bottom: 5px;
	margin-right: 2px;
}
.original {
	position: absolute;
	top: 635px;
	left: 450px;
	width: 340px;
}
.original p:first-line {
	text-transform: uppercase;
}
.original p {
	display: inline-block;
	color: #000000;
	width: 280px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	position:relative;
}

h2{font-family: 'PT Sans', sans-serif; font-weight:700; font-size:36px; color:#ba3216; text-align:center; margin-top:40px; line-height:normal;}
.with-delivery {
	margin-top: 40px;
	margin-left: 55px;
	display: table;
}
.with-delivery h2 {
	padding-top: 10px;
	padding-right: 40px;
	display: table-cell;
	vertical-align: top;
}
.with-delivery a {
	display: table-cell;
	background: url('../img/delivery.png') no-repeat 0 0;
	width: 218px;
	height: 120px;
}

.daynight{font-family: 'PT Sans', sans-serif; font-size:21px; text-align:center;  margin-top:15px;}
.daynight2{ position:relative; margin:0 auto; width:230px; margin-top:15px; left:20px;}
.daynight2 .day{ background:url(../img/day.png) 0 0; width:73px; height:36px; position:relative;  float:left; margin:0 10px 0 10px; cursor:pointer;}
.daynight2  .i{float:left; font-family: 'PT Sans', sans-serif; font-size:21px; position:relative; margin-top:9px;}
.daynight2 .night{ background:url(../img/night.png) 87px 0; width:87px; height:36px; position:relative;  float:left; margin:0 10px 0 15px; cursor:pointer;}

.main_slider{ position:relative; width:761px; height:361px; margin:0 auto; margin-top:20px;}
.main_slider .slider{ position:relative; width:761px; height:361px; margin:0 auto;}
.main_slider .slider .img1{ background:url(../img/1.png) no-repeat; width:761px; height:361px; position:absolute;}
.main_slider .slider .img2{ background:url(../img/2.png) no-repeat; width:386px; height:361px; position:absolute;}
.main_slider .slider .img3{ background:url(../img/3.png) no-repeat; width:761px; height:361px; position:absolute; display:none;}
.main_slider .slider .img4{ background:url(../img/4.png) no-repeat; width:386px; height:361px; position:absolute; display:none;}
.main_slider .raz{ background:url(../img/slide.png) no-repeat; width:46px; height:360px; left:363px; position:absolute; top:1px;}

.hr1{height:128px; background:url(../img/hr1.jpg) repeat-x; margin:40px 0 40px 0; width:100%;}
.pluss{font-family: 'PT Sans', sans-serif; font-weight:700; font-size:18px; color:white;  line-height:22px; padding:30px 23px 0 23px;  position:relative;}
.plus{ float:left; padding-top:10px; position:relative; margin-right:50px;}
.plus1{ background:url(../img/plus1.png) 0 0; width:55px; height:65px; float:left; margin-right:15px; margin-left:30px; }
.plus2{ background:url(../img/plus1.png) 119px 0; width:50px; height:65px; float:left; margin-right:15px;}
.plus3{ background:url(../img/plus1.png) 69px 0; width:69px; height:65px; float:left; margin-right:15px;}
.plus4{ background:url(../img/plus1.png) 69px 0; width:69px; height:65px; float:left; margin-right:15px;}

.leftYouTube{ width:48%; margin-left:2%; float:left;}
.rightYouTube{ margin-top:10px; width:48%; margin-right:2%; float:left; padding-bottom:60px; background:url(../img/YTS.png) bottom center no-repeat;font-family: 'PT Sans', sans-serif; font-size:38px; font-size:19px; font-weight:700; color:#b12213; text-align:center; }
.YoutubeZag{font-family: 'PT Sans', sans-serif; font-weight:700; font-size:38px; color:#b12213; margin-top:10px; line-height:normal;}
.YoutubeCont{font-family: 'PT Sans', sans-serif; font-size:38px; font-size:19px; line-height:26px; margin-top:20px;}
.YoutubePost{ background:url(../img/YTP.png) 0 5px no-repeat; height:50px; font-family: 'PT Sans', sans-serif; font-weight:700; font-size:19px; color:#b12213; margin-top:30px; line-height:26px; padding-left:20px;}
.rightYouTube iframe{ margin-top:20px; }

.hr2{height:278px; background:url(../img/hr1.jpg) repeat; margin:40px 0 40px 0; width:100%;}
.pluss2{font-family: 'PT Sans', sans-serif; font-weight:700; font-size:18px; color:white;  line-height:22px; padding:30px 23px 0 23px;  position:relative;}
.plus22{ float:left; padding-top:10px; position:relative; margin-right:11px; text-align:center;margin:0;}
.plus22 img{ margin-bottom:10px;}

.hr-after-review{background:url(../img/after-review.jpg) no-repeat center; margin:60px 0 40px 0; width:100%; border-bottom: 5px solid #E0E0E0;}
.wrapper-after-review{  height:235px; position:relative;width: 1024px;
	margin: 0 auto;}
.hr-after-review-image {float:left;margin-top:18px;margin-right:36px;}
.hr-after-review-text {font-size:14px;padding-top:42px;font-family: 'Myriad Pro', sans-serif;}

.hr3{height:550px; background:url(../img/hr1bg_.jpg) no-repeat center; margin:36px 0 40px 0; width:100%; border-bottom: 5px solid #E0E0E0;}
.hr3 .wrapper{  height:550px; position:relative;}
.hr3zakaz{font: 'PT Sans', sans-serif; font-weight:700; font-size:38px; color:white; line-height:normal; position:absolute; left:23px; top:50px;}
.hr31zakaz{font: 'PT Sans', sans-serif; font-weight:700; font-size:14px; color:white; line-height:normal; position:absolute; left:23px; top:155px;}
.blockBuy{ position:absolute; right:16px; top:30px; width: 278px;}
.blockBuy .vsego{font: 'PT Sans', sans-serif; font-weight:700; font-size:20px; color:#ffdb00; line-height:normal;}
.blockBuy .free{font: 'PT Sans', sans-serif; font-weight:700; font-size:17px; color:white; line-height:23px; text-align: center; margin-top: 25px}
.blockBuy .free:first-line {font-size: 28px}
.blockBuy .free span{ text-transform: uppercase; color:#ffdb00;}
.blockBuy .price{font: 'PT Sans', sans-serif; font-weight:700; font-size:34px; color:white; line-height:normal;}
.blockBuy .price img{ margin-left:5px;}
.blockBuy .zakaz{ display:block; background:url(../img/buy-round.png) 0 0; width:183px; height:224px; margin: 10px auto 0; cursor:pointer;}


.hr4{margin:40px 0 0 0; width:100%; border-top:6px solid #dfdfdf;}
.hr4 .wrapper{ position:relative; }

.hr4 .left {
	padding-left: 23px;
	display: table-cell;
	width: 530px;
}
.hr4 .right {
	padding-left: 46px;
	display: table-cell;
	width: 405px;
}
.hr4 h2 {
	text-align: left;
	font-size: 40px;
}
.hr4 ul {
	margin: 35px 0;
}
.hr4 li {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.hr4 ul li:first-child {
	color: #AC1300;
}
.hr4 .left p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #AC1300;
	margin-bottom: 25px;
}
.hr4 .right h2 + p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	margin-top: 15px;
	line-height: 23px;
}
.hr4 .post {
	background: url('../img/post.png') no-repeat 0 0;
	width: 196px;
	height: 112px;
	margin-top: 25px;
}
.hr4 .phone {
	font-family: 'PT Sans', sans-serif;
	font-size: 27px;
	font-weight: bold;
	margin: 23px 0;
}
.hr4 .phone + p {
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 23px;
}
.hr4 .phone + p:first-line {
	color: #AC1400;
}
.hr5{margin:40px 0 0 0; width:100%;}
.hr5 .wrapper{ position:relative;}
.hr5 .left{ float:left; width:300px;}
.hr5 .right{ float:left; width:700px; padding-left:20px;}

.formgarantzag{font: 'PT Sans', sans-serif; font-weight:700; font-size:22px; color:#b12213; line-height:26px; margin-left:20px; margin-top:15px;}
.formgarant{font: 'PT Sans', sans-serif; font-size:18px; color:#231f20; line-height:24px; margin-left:20px; margin-top:10px;}

input[type="text"]:focus { outline: none; }
#form_id{font: 'PT Sans', sans-serif; font-size:18px; line-height:normal; font-weight:400 !important;}
#form_id hr { border:none; border-top:1px solid #c2c2c2; margin:30px 0 30px 0;}
.skoko{font: 'PT Sans', sans-serif; font-weight:700; font-size:21px; color:#b12213; line-height:32px; margin-bottom:20px;}
.kolek{ float:left; width:29px; height:30px; border:none; background:url(../img/form_t.html) no-repeat; text-align:center; font: 'PT Sans', sans-serif; font-weight:700; font-size:17px;}
.bm{ background:url(../img/but.html) 0px 0px; width:29px; height:30px; float:left; cursor:pointer; margin-left:25px;}
.bp{ background:url(../img/but.html) 29px 0px; width:29px; height:30px; float:left; cursor:pointer; margin-right:25px;}
.sumek{ float:left; font: 'PT Sans', sans-serif; font-weight:700; font-size:21px; color:black; line-height:32px;}
.koleklab{ float:left; margin-top:5px;}

.vibor{ margin-left:20px;}
.sposob{ width:190px; float:left; margin-left:10px; margin-right:20px;}
.sposob1{margin-left:0px; width:165px;}
.sposob3{ width:235px;}

.sposob input{ margin-left:-20px;}

.send{ display:block; background:url(../img/send.html); width:218px; height:64px; cursor:pointer; margin:0 auto; margin-top:30px;}
.send:hover{ background:url(../img/send.html) 0px 64px; width:218px; height:64px;}


.sp1{ display:none;}
.sp2{ display:none;}
.sp3{ display:block;}

.spleft{ float:left;  width:190px;}
.spright{ float:left; width:485px; padding-left:15px;}

.sp3l2{ margin-top:66px;}
.sp3l3{ margin-top:170px;}
.sp3l4{ margin-top:160px;}

.sp1l2{ margin-top:25px;}
.sp1l3{ margin-top:170px;}
.sp1l4{ margin-top:160px;}

.sp2l2{ margin-top:20px;}
.sp2l3{ margin-top:20px;}
.sp2l4{ margin-top:73px;}
.sp2l5{ margin-top:160px;}

.priceMail{font: 'PT Sans', sans-serif; font-weight:700; font-size:18px; color:black;}
.priceMail2{font: 'PT Sans', sans-serif; font-size:16px; color:#505050; line-height:18px; margin-top:5px;}
.priceMail3{font: 'PT Sans', sans-serif; font-size:18px; color:black;}
.priceMail3 select {height: 40px; width: 472px;	font-size: 18px; padding-left: 5px; border-radius: 3px;}
}}
.spzag{font: 'PT Sans', sans-serif; font-size:16px; color:#505050; line-height:18px; margin-top:5px;}
.spzagl{font: 'PT Sans', sans-serif; font-size:16px; color:#505050; line-height:18px; margin-top:5px; float:left;}
.plus7{ float:left; margin-top:8px; margin-right:10px;}

.sp3fio{ width:452px; height:40px; background:url(../img/fio.html) no-repeat; border:none; margin-top:10px; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp3telcode{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; text-align:center;}
.sp3tel{float:left; background:url(../img/tel.html) no-repeat; width:100px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:10px;}
.sp3city{float:left; background:url(../img/city.html) no-repeat; width:305px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp3index{float:left; background:url(../img/index.html) no-repeat; width:114px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:10px;}
.sp3street{float:left; background:url(../img/street.html) no-repeat; width:231px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp3home{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:12px;}
.sp3corp{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:12px;}
.sp3apart{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:12px;}
.sp3email{ background:url(../img/email.html) no-repeat; width:276px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp3podp{ float:left; margin-right:10px; }

.sp1fio{ width:452px; height:40px; background:url(../img/fio.html) no-repeat; border:none; margin-top:10px; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp1telcode{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; text-align:center;}
.sp1tel{float:left; background:url(../img/tel.html) no-repeat; width:100px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:10px;}
.sp1city{float:left; background:url(../img/city.html) no-repeat; width:305px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp1index{float:left; background:url(../img/index.html) no-repeat; width:114px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:10px;}
.sp1street{float:left; background:url(../img/street.html) no-repeat; width:231px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp1home{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:12px;}
.sp1corp{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:12px;}
.sp1apart{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:12px;}
.sp1email{ background:url(../img/email.html) no-repeat; width:276px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp1podp{ float:left; margin-right:10px; }

.sp2fio{ width:452px; height:40px; background:url(../img/fio.html) no-repeat; border:none; margin-top:10px; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp2telcode{float:left; background:url(../img/telcode.html) no-repeat; width:40px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; text-align:center;}
.sp2tel{float:left; background:url(../img/tel.html) no-repeat; width:100px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px; margin-left:10px;}
.sp2email{ background:url(../img/email.html) no-repeat; width:276px; height:40px; border:none; font: 'PT Sans', sans-serif; font-size:18px; padding:0 10px 0 10px;}
.sp2podp{ float:left; margin-right:10px; }

.podpiska{ float:left; font: 'PT Sans', sans-serif; font-size:15px; color:#505050; line-height:19px;}

.checkbox1{background:url(../img/check.html) 18px 0; width:18px; height:18px; float:left; margin-right:10px;}


.number{ margin-top:10px;}
.number2{ margin-top:15px; }
.ind{ margin-left:290px;}
.s3home{margin-left:220px;}
.s3corp{margin-left:40px;}
.s3apart{margin-left:40px;}

.error{font: 'PT Sans', sans-serif; font-size:12px; color:white; padding:10px 10px 10px 10px; background:#b31736; margin-right:13px; margin-top:20px; position:relative; display:none;}
.error .arr{ background:url(../img/ar.html) no-repeat; position:absolute; width:24px; height:12px; left:49%; top:-11px;}
.err2, .err21, .err22{ width:42%;}
.err3, .err31, .err32{width:57%;}
.err33, .err331, .err332 {width:57%;}
.err13, .err131, .err132 {width:57%;}
.err23, .err131, .err132 {width:57%;}


.hr55{margin:40px 0 0 0; width:100%; display:none;}
.hr55 .wrapper{ position:relative;}
.sps{font: 'PT Sans', sans-serif; font-weight:700; font-size:42px; color:#ab0f00; line-height:normal; margin-left:285px; margin-top:15px;}
.sps2{font: 'PT Sans', sans-serif; font-size:19px; color:black; line-height:26px; margin-left:285px;}

.bug{ display:none;}

.arro{ width:0; height:0; position:absolute; border: 40px solid transparent; border-top: 40px solid #23669B; top:-45px; left:285px;}

@-moz-document url-prefix() {
	.bp{ background:url(../img/but.html) 29px 0px; width:29px; height:30px; float:left; cursor:pointer; margin-right:25px; margin-left:-2px;}
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {height: 83px;	width:100%; background: #ab0f00;}
.footer_in {height: 83px; width:978px; margin:0 auto; padding:0 23px 0 23px; position:relative;}
.footer_logo{ position:relative; display:block; background:url(../img/footer_logo.png) no-repeat; width:543px; height:41px; top:20px;}
.footer .cpy{ text-align:right; right:0px; font:15px "Myriad Pro", sans-serif; color:white; position:absolute; top:25px; right:23px;}


.vopr{font: 'PT Sans', sans-serif; font-size:24px; color:#231f20; margin-bottom:20px;}
.samvop{font: 'PT Sans', sans-serif; font-weight:700; font-size:15px; color:#000; margin-bottom:5px;}
.samotv{font: 'PT Sans', sans-serif; font-size:13px; color:#231f20; margin-bottom:15px;}

.g-recaptcha{ margin-top:20px; margin-left:210px;}

.hot_form_wrap{
	margin: 0 auto;
	width: 500px;
}

input.text, select{
	display: block;
	box-sizing: border-box;
	height: 46px;
	border-radius: 5px;
	border: 1px solid #999999;
	width: 90%;
	margin: 0 auto 15px;
	padding: 0 10px;
	font-size: 18px;
}

input[type=submit]{
	display: block;
	margin: 5px auto;
	border: none;
	border-radius: 10px;
	width: 280px;
	height: 58px;
	cursor: pointer;
	color: #ffffff;
	font-size: 30px;


	background: rgb(254,201,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,201,0,1) 0%, rgba(239,120,6,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,201,0,1)), color-stop(100%,rgba(239,120,6,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,201,0,1) 0%,rgba(239,120,6,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,201,0,1) 0%,rgba(239,120,6,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,201,0,1) 0%,rgba(239,120,6,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,201,0,1) 0%,rgba(239,120,6,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec900', endColorstr='#ef7806',GradientType=0 ); /* IE6-9 */
}

input[type=submit]:hover{
	background: rgb(239,120,6); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,120,6,1) 1%, rgba(254,201,0,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,120,6,1)), color-stop(89%,rgba(254,201,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,120,6,1) 1%,rgba(254,201,0,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,120,6,1) 1%,rgba(254,201,0,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,120,6,1) 1%,rgba(254,201,0,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,120,6,1) 1%,rgba(254,201,0,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7806', endColorstr='#fec900',GradientType=0 ); /* IE6-9 */

}

.old_price{
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}

.old_price span{
	color: #23699D;
	font-size: 24px;
	text-decoration: line-through;
}

.new_price{
	text-align: center;
	font-size: 20px;
	margin: 20px 0 40px;
}

.new_price span{

	font-size: 30px;
	color: #b31736;
}


.fix-menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 50px;
	z-index: 300;
	background: rgba(13, 16, 25, 0.90);
}

.fix-menu-wrap{
	max-width: 980px;
	min-width: 240px;
	width: 100%;
	margin: 0 auto;
	font-size: 0;
	/*height: 100px;*/
	padding: 3px 0;
}


.fix-menu-wrap:before,
.fix-menu-wrap:after{
	content: "";
	width: 1%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.fix-menu-wrap .count-div{
	width: 30%;
	padding-left: 0;
	padding-right: 0;
}

.fix-menu-wrap .count-text{
	margin: 0;
}

.fix_i_b{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.fix_i_b-left{
	width: 35%;
	text-align: center;
}

.fix_i_b-center{
	width: 38%;
	text-align: center;
}

.fix_i_b-right{
	width: 24%;
	text-align: right;
}

.fix-order-btn{
	width: 90%;
	display: inline-block;
	height: 50px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	border-radius: 5px;
	text-decoration: none;
	line-height: 50px;


	background: #E0B326;

}

.fix-order-btn:hover{
	background: #E97633;
}

.variant_text1{
	font-size: 22px;
	color: #ffffff;
}

.text_variant_wrap{
	display: block;
}

.text_variant_wrap_mob{
	display: none;
}

.fix-menu-wrap .count-div{
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: #ffffff;
	color: #000000;
	text-align: center;
	line-height: 40px;
	border-radius: 7px;
	font-size: 30px;
}

.fix_menu_count_text{
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 6px;
}

.c_sepor{
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-size: 30px;
}