body {font-family: Verdana; font-size: 15px; padding: 0; margin: 0; background-color: #ccc;}
a {color: #000066; text-decoration: none;}

h1 {clear: both; text-align: center;}

#menu_def {width: 850px; margin: 10px auto; text-align: center; list-style-type: none; padding: 0;}
#menu_def li {width: 130px; height: 25px; margin: 0 0 0 2px; overflow: hidden; float: left; background: #f0f0f0; border: 1px solid #999; padding: 5px 0 0 0;}
#menu_def li:hover {background: #fff;}
#menu_def li a {font-size: 14px;}
#menu_def li.current {background: #fff; font-weight: bold;}

.clearboth {width: 100%; clear: both; height: 0px; overflow: hidden;}

#footer_def {
width: 100%;
margin: 0 auto;
clear: both;
text-align: center;
padding-top: 50px;
}

#liveinternet {
margin: 0 auto;
width: 88px;
}

#contact {margin: 20px 0 10px 20px; font-weight: bold; font-size: 24px;}

.pages {
    /*border: 1px solid #000;*/
    overflow: hidden;
    width: 1200px;
    margin: 0 auto 10px auto; 
    clear: both;
}
.pages a {text-decoration: none;}
.pages ul {
    list-style-type: none;
    margin: 0;
    margin-left: 248px;
    padding: 0;
}
.pages li {
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    float: left;
    margin: 1px;
}
.pages li a, .pages li.current, .pages li.points {display: block; padding: 10px 16px;}
.pages li:hover {background: #fff;}
.pages li:hover a {color: #000;}
.pages .current {background: #fff; border: 1px solid #000;}
.pages .current a {color: #000;}
.pages:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.thumbs {
    float: left;
    /*border: 1px solid #000;*/
    /*width: 100%;*/
    width: 1020px;
    /*margin: 0 auto;*/
    text-align: center;
    /*clear: both;*/
}
.thumbs ul {list-style-type: none;
    /*margin: 0 30px;*/
    margin: 0px;
    padding: 0;}
.thumbs li {text-align: center; overflow: hidden; width: 250px; /*height: 240px;*/ margin: 0 0 5px 0; padding: 2px; float: left; font-size: 12px;}
.thumbs li:hover {}
.thumbs li .title {width: 160px; height: 30px; margin: 0 auto; overflow: hidden;}
.thumbs li .info {margin: 5px 5px 0 5px;}
.thumbs li .date {float: left; font-size: 9px; font-family: Verdana;}
.thumbs li .views {float: right; font-size: 9px; font-family: Verdana;}
.thumbs img {width: 240px; height: auto; margin: 0 0 5px 0; border: 1px solid #fff;}
.thumbs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.thumbs .adv {
    /*border: 1px solid #000;*/
    width: 190px;
    height: 1210px;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 0;
}
.thumbs .adv .info {
    float: left;
    /*border: 1px solid #000;*/
    width: 183px;
    margin: 0;
    padding: 0 5px 0 5px;
    /*padding-top: 1px;*/
}

.sort {
    /*border: 1px solid #000;*/
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;

}
.sort .active {
    /*text-decoration: underline;*/
    font-weight: bold;
}

#navigation {width: 90%; margin: 10px auto; font-size: 20px; text-align: center;}
#navigation h1 {display: inline; font-size: 20px;}
#navigation h2 {display: inline; font-size: 20px;}

#online {padding-top: 5px; /*float: left;*/ width: 800px; margin: 0 auto; text-align: center;}
#online h1 {font-size: 20px; text-align: center;}
#online .prev {width: 30px; margin-right: 4px; float: left;}
#online .prev a {display: block; width: 30px; text-align: center; padding: 168px 0 168px 0; margin-top: 10px; font-size: 30px; text-decoration: none; color: #000066; background: #f7f7f7;}
#online .prev a:hover {background: #efefef;}
#online .next {width: 30px; float: left;}
#online .next a {display: block; width: 30px; text-align: center; padding: 168px 0 168px 0; margin-top: 10px; font-size: 30px; text-decoration: none; color: #000066; background: #f7f7f7;}
#online .next a:hover {background: #efefef;}

#online .object {float: left; width: 505px;}
#online .endtext {font-weight: bold; font-size: 30px; color: #666; text-align: center; line-height: 40px; font-family: "Times New Roman"; margin-top: 20px;}
#online .codeform {width: 100px; height: 28px; border: 1px solid orange; font-size: 24px; margin: 0; padding: 0;}
#online .codebutton {width: 60px; height: 30px; border: 1px solid #666; font-size: 24px; color: white; background-color: green; margin: 0 5px; padding: 0;}

#online .prevnext {clear: both; margin: 0 0 10px 0;}
#online .prevnext .prevtext {overflow: hidden; width: 48%; height: 20px; float: left; text-align: left;}
#online .prevnext .prevaquo {width: 2%; float: left; text-align: left;}
#online .prevnext .nexttext {overflow: hidden; width: 48%; height: 20px; float: right; text-align: right;}
#online .prevnext .nextaquo {width: 2%; float: right; text-align: right;}

#online .download {float: left; width: 100%; text-align: center; font-weight: bold; background: #333; border: 1px dotted #ccc; margin: 0 0 20px 0;}
#online .download:hover {background: #666;}
#online .download a {color: #fff;}

#load {width: 660px; margin: 0 auto 20px auto; height: 200px;}
#load h1 {font-size: 20px;}
#load h2 {font-size: 20px;}
#load .left {float: left; width: 470px; height: 100%; text-align: center; background-color: #f7f7f7; overflow: hidden; line-height: 35px;}
#load .right {float: left; width: 190px; height: 100%; text-align: center; background-color: #efefef; overflow: hidden;}
#load .right img {border: 2px solid #666; position: relative; top: 50%; margin-top: -70px;}
#load .right:hover {background-color: #f7f7f7;}
#load .left, #load .right {background-color: transparent;}

#news {width: 90%; margin: 0 auto;}
#news li {margin: 0 0 10px 0;}
#news .date {padding: 5px; font-weight: bold;}
#news .text {padding: 3px; text-align: justify;}
#news .name {padding: 2px; text-align: right;}

.error {font-size: 11px; color: red;}

#guestbook {clear: both;}
#guestbook ul {
list-style-type: none;
margin: 0;
padding: 0;
}
#guestbook li {
border: 1px dashed #ccc;
margin: 1px auto;
padding: 0;
width: 80%;
text-align: left;
}

#contact {width: 400px; margin: 0 0 0 20px;}

.page_text {width: 750px; margin: 0 auto; clear: both; text-align: left;}

#domain {
	margin: 0 auto;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #006;
	text-align: center;
}

/*
.categories {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;
    width: 1000px;
    height: 602px;
}
.categories li {
    border: 1px solid #000;
    margin: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 240px;
    height: 25px;
    text-align: center;
    font-weight: bold;
}
*/

.categories {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    /*border: 1px solid #666;*/
    background-color: #bbb;
    float: left;
    width: 250px;
}
.categories li {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    width: auto;
    height: auto;
    /*display: inline;*/
    float: none;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

/*
#categories {width: 660px; list-style-type: none; margin: 0 auto; padding: 0;}
#categories li {
	width: 220px;
	height: 20px;
	overflow: hidden;
	float: left;
	font-weight: bold;
}
#categories a:hover {color: #69F;}
*/

#tags {width: 660px; margin: 0 auto; padding: 0; list-style-type: none;}
#tags li {display: inline; padding: 3px;}

#video_info {width: 600px; margin: 10px auto; padding-left: 20px; text-align: left;}
#video_info .title {font-weight: bold;}
#video_info .text {}
#video_info .tags ul {list-style-type: disc; margin: 0; margin-left: 5px; padding: 0;}
#video_info .tags ul li {float: left; padding: 0; margin: 0; margin: 0 10px 0 10px;}
#video_info .share {float: left; margin: 10px 0 0 0;}
#video_info .odnaknopka {float: left; margin: 16px 0 0 20px;}

.bottom_links {list-style-type: disc; width: 500px; margin: 0 auto;}
.bottom_links li {float: left; padding: 0; margin: 0; margin: 0 10px 0 10px;}

.vspace {margin-top: 30px;}

#registration .steps {width: 20px; font-size: 15px; font-weight: bold; vertical-align: top;}
#registration .text {width: 245px; font-size: 13px; vertical-align: top;}
#registration .field {width: 330px; font-size: 11px;}

.thumbs_promo {width: 750px; margin: 0 auto; text-align: center; clear: both;}
.thumbs_promo ul {list-style-type: none; margin: 0 20px; padding: 0;}
.thumbs_promo li {text-align: center; overflow: hidden; width: 170px; height: 180px; margin: 0 0 5px 0; padding: 2px; float: left; font-size: 12px;}
.thumbs_promo li:hover {}
.thumbs_promo li .title {color:#000022; font-size: 14px; background-color: white; font-family: Verdana; text-decoration: none; line-height: 18px; width: 160px; height: 30px; margin: 0 auto; overflow: hidden;}
.thumbs_promo li .info {margin: 5px 5px 0 5px;}
.thumbs_promo li .date {float: left; font-size: 10px;}
.thumbs_promo li .views {float: right; font-size: 10px;}
.thumbs_promo img {width: 150px; height: 150px; margin: 0 0 5px 0; border: 1px solid #fff;}

#login_info {position: absolute; margin: 10px; padding: 5px; right: 0; top: 0; width: 300px; border: 1px solid #000;}

.vertical_teasers {width: 140px; margin: 0 auto; text-align: center;}
.vertical_teasers img {width: 100px; height: 75px; border: 1px solid #fff;}
.vertical_teasers a {text-decoration: none; color: #fff; font-size: 12px;}

.teasers_tube {}
.teasers_tube ul {margin: 0; padding: 0;}
.teasers_tube ul li {overflow: hidden;}

.adult_warning {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
	color: #FC3;
	font-size: 10px;
}

.warn18 {
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 100% 0;
    position: absolute;
    width: 90px;
    height: 93px;
    right: 0;
    top: 0;
    z-index: 999;
    cursor: default;
}
.warn18 .tip {
    display: none;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 0 0;
    width: 302px;
    height: 115px;
    padding: 30px 10px 0;
    top: 67px;
    right: 10px;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    cursor: default;
}
.warn18:hover .tip {
    display: block;
}

.bread {font-size: 24px;}
.bread h1 {display: inline; font-size: 24px;}

.comments_form {}
.comments_form .user {width: 200px; height: 20px; margin: 0; font-size: 16px;}
.comments_form .text {width: 500px; height: 60px; margin: 10px 0 0 0; font-size: 16px;}
/*.comments_list {border: 1px solid #fff;}*/
.comments_list ul {list-style-type: none; margin: 0; padding: 0;}
.comments_list ul li {padding: 10px;}
.comments_list .user {font-size: 14px; font-weight: bold; float: left;}
.comments_list .date {font-size: 14px; float: left; margin-left: 20px;}
.comments_list .text {font-size: 16px; padding: 10px 0 0 0; clear: both;}

.comments-last {
    width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.comments-last .left {
    float: left;
    width: 370px;
}

.comments-last .right {
    margin: 20px 0 0 0;
    float: right;
    width: 300px;
}

.comments-last li {
    clear: both;
    margin: 15px;
}

.comments-last li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.comments-last .user {
    max-width: 100px;
    overflow: hidden;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.comments-last .date {
    float: left;
    margin-left: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

.comments-last .text {
    clear: both;
    border-width:1px;
    border-style:solid;
    border-color: rgb(237,152,56);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
}
.logo_holder {
    background-color: #fff;
    border: 2px solid #000;
}
.logo {
    width: 1300px;
    margin: 0 auto;
    height: 100px;
    background-color: #fff;
}
.logo .text {
    margin: 7px 0 0 10px;
    font-size: 70px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: 2px 3px 5px #000;
    float: left;
}
.logo .tv {
    width: 90px;
    height: 90px;
    margin: 7px 0 0 0;
    background: url(images/tv.jpg) no-repeat 0 0;
    background-size: cover;
    float: left;
}
.logo .mobile_version {
    float: right;
    margin: 15px 0 0 0;
}
.logo .mobile_version .txt {
    font-size: 10px;
}
.logo .mobile_version .pic {
    width: 200px;
    height: 55px;
    background: url(images/IOS-Android-Windows-RIM.jpg) no-repeat 0 0;
    background-size: cover;
}
.logo .info {float: left; width: 580px;}
.logo .main_link {
    float: left;
    width: 580px;
    margin: 0px 0 0 8px;
    font-size: 24px;
    text-shadow: 2px 3px 5px #000;
}
.logo .header_text {
    text-align: center;
    font-size: 12px;
    float: left;
    width: 570px;
    height: 60px;
    overflow: hidden;
}
.logo .header_text p {margin: 0;}
.logo .porno {color: black;}
.logo .top {color: red;}
.update {text-align: center; margin-top: 5px;}
.update .text {background-color: #fff; font-size: 16px;}

.player_block {
    /*border: 1px solid #000;*/
    width: 1235px;
    margin: 0 auto;
}
.player_block .teasers {
    /*border: 1px solid #000;*/
    width: 215px;
    height: 750px;
    float: left;
    overflow: hidden;
}
.player_block:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.thumbs_1 {
    margin: 0 auto;
    /*float: left;*/
    /*border: 1px solid #000;*/
    /*min-width: 1000px;*/
    width: 1010px;
    height: 510px;
    overflow: hidden;
}
.thumbs_tc {
    margin: 0 auto;
    /*float: left;*/
    /*border: 1px solid #000;*/
    /*min-width: 1000px;*/
    width: 1010px;
    height: 280px;
    overflow: hidden;
}
.content {
    margin: 0 auto;
    width: 1300px;

}

.category_img {max-height: 300px; width: auto; border: 1px solid #fff; margin-right: 10px; float: left;}
.page_desc {}
.page_text {width: 1200px; margin: 0 auto;}

.publics {background-color: #ccc; padding-top: 20px; line-height: 20px; font-size: 16px;}
.publics a {display: block; text-align: left; margin: 0 0 5px 65px;}
.publics img {height: 20px; width: auto; border: 1px solid #fff; margin: 0 2px -5px 0;}

.articles {
    width: 1100px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.articles li {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 0 10px 0;
    padding: 3px;
}

.articles .title {
    color: #fb1626;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}

.articles a {
    color: #006;
    text-decoration: underline;
}

.articles .short_text img {
    border: 1px solid #fff;
    border-radius: 3px;
    height: 100px;
    width: auto;
    float: left;
    margin-right: 5px;
}

.article {
    width: 1100px;
    margin: 10px auto 0 auto;
    padding: 0 5px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.article .back {margin: 5px 0 0 0;}

.article img {
    border: 1px solid #fff;
    border-radius: 5px;
    height: auto;
    max-width: 300px;
    float: left;
    margin: 5px;
}

.social {width: 800px; height: 40px; margin-left: 210px;}
.social .text {float: left; font-size: 15px; margin-top: 10px; font-weight: bold;}
.social .pluso {float: right;}
.social .yashare {margin: 4px 0 0 5px;}

.main_text {

}

.player_xv iframe {width: 800px; height: 620px;}