 @font-face {
 	font-family: 'Minstrel Poster';
 	src: url('/template/minstrelposterwhg.postertwonf.otf');
 }
 @font-face {
 	font-family: 'GTA';
 	src: url('/template/viper-squadron.regular.ttf');
 }

a {
	color: #333;
	text-decoration: underline;
}
.hat {
	max-height: 280px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.hat .site-name {
	position: absolute;
	font-size: 8vw;
	z-index: 2;
	text-align: center;
	margin-left: 1vw;
	/*margin-top: 3vw;*/
	/*color: rgb(93, 76, 131);*/
	font-family: 'Minstrel Poster';
	/*font-family: 'GTA';*/
}
@media screen and (min-width: 1200px) {
	.hat .site-name {
		font-size: 8em;
	}
}
.hat .site-name a {
	color: #000;
	text-decoration: none;
}
.hat img {
	width: 100%;
	opacity: 0.5;
	margin-top: -90px;
	z-index: 1;
}
.middle {
	width: 1150px;
	margin: 0 auto;
}
.middle .left {
	float: left;
	width: 210px;
}
.middle .right {
	float: right;
	width: 940px;
	/*border: 1px solid #ccc;*/
	border-top: none;
	min-height: 1000px;
	border-radius: 0 0 4px 4px;
	padding-top: 10px;
}

.categories {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.categories li {
	height: 30px;
	border-bottom: 1px dashed #ccc;
	padding-top: 2px;
	padding-left: 5px;
}
.categories a {
	font-size: 16px;
}
.categories li:hover,.categories .active {
	background-color: #F7F1FA;
}
.categories-title {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #333;
}
.categories .selected {
	background-color: #e9d9ff;
}

.content {
	width: 920px;
	margin: 0 auto;
	/*border: 1px solid #ccc;*/
}
.videos {
	margin-bottom: 10px;
}
.videos a {
	font-size: 12px;
}
.videos .thumb {
	width: 220px;
	height: 228px;
	overflow: hidden;
	/*border: 1px solid #ccc;*/
	float: left;
	margin: 0 5px 10px 5px;
	text-align: center;
}
.videos .thumb img {
	width: 220px;
	height: auto;
	border: 1px solid #000;
}
.end {
	text-align: center;
	padding-bottom: 5px;
}
.pagination-pos {
	margin-left: 50px;
	margin-top: 0;
}
.text {
	padding: 0 10px 10px 10px;
	font-size: 12px;
}
.copy {
	margin-bottom: 5px;
}
.block-title {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.block-title h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	color: red;
	text-align: left;
}
.save-video {
	margin-bottom: 5px;
}
.articles a {
	font-size: 14px;
}
.article img {}
.category-img {
	float: left;
	margin: 2px 5px 5px 0;
	border: 1px solid #000;
	height: 150px;
	width: auto;
}
#timer {
    font-size: 100px;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}