body {
	background: url('/types/cinema/template/images/bg/turboserial.png');
}

.mainContainer {
	opacity: 0.8;
	/*когда брендирование то ставим бэкграунд и прозрачность в 1*/
	/*background: url('/template/images/spiration-dark.png');*/
	opacity: 1;
	/*border-radius: 10px;*/
	/*padding: 5px;*/
}

.movie-update {
	padding: 5px 10px;
	margin: 5px;
	border: 1px solid #444;
}
.updates .episodes {
	color: #777;
	font-size: 12px;
}

.updates .no-updates {
	margin-left: 15px;
}

.cinema-img a img {
	/*height: 350px;
	width: auto;*/
	width: 100%;
	height: auto;
}

.pagination li a,.pagination li a:hover {
	color: #333;
}
.pagination .active a, .pagination .active a:hover {
	background-color: #aaa;
	border-color: #aaa;
}

.movie {
	border-radius: 5px;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.54);
	/* background-color: #ccc; */
}

.movie h3 {
	font-size: 0.8em;
}
.movie a {
	font-size: 15px;
	/*color: #fff;*/
	color: #000;
	text-decoration: none;
	font-size: 15px;
}

.movie .title {
	padding: 5px;
	/*padding-left: 10px;*/
}
.movie .year {
	padding-top: 5px;
	/*padding-right: 10px;*/
	font-size: 0.7em;
}

.movie:hover {
	opacity: 0.9;
}

.movie .play-icon {
	font-size: 5em;
	position: absolute;
	left: 40%;
	top: 35%;
	color: #fff;
}

.nothing-found {
	margin-left: 30px;
}

.footer {
	text-align: center;
	padding: 20px;
	color: #666;
}

.movie-tags {
	display: inline;
	margin: 0;
	padding: 0;
}

.movie-tags li {
	display: inline;
}

.movie-tags li:after {
	content: ', ';
}

.movie-tags li:last-child:after {
	content: '';
}

/*.movie .over-image {
	background-color: #000;
	position: relative;
	margin-top: -63px;
	color: #fff;
	opacity: 0.75;
	height: 63px;
	overflow: hidden;
	}*/

	.movie .over-image {
		/*background-color: #fff;*/
		/*position: relative;*/
		/*margin-top: -47px;*/
		color: #fff;
		/*opacity: 0.75;*/
		/*height: 45px;*/
		/*overflow: hidden;*/
		/* border-radius: 2px; */
		font-weight: bold;
	}

	.movie .over-image a {
		color: #fff;
	}

	.movie-info {

	}

	.search-helper-list {
		font-size: 14px; 
	}

	.search-helper-list li {
		padding: 5px 10px;
	}

	.cinema-img {
		text-align: center;
		max-height: 500px;
		overflow: hidden;
		/*height: 362px;*/
	}

	@media (max-width: 575px) {
		.page-item-digit {
			display: none;
		}
		.movie .over-image {
			/*margin-top: -46px;*/
			/*height: 46px;*/
			font-size: 11px;
			/*padding-bottom: 10px;*/
			/*overflow: visible;*/
		}
		.movie h3 {
			font-size: 11px;
		}

	/*.movie .over-image .col-7 {
		padding-left: 10px;
		padding-right: 2px;
	}

	.movie .over-image .col-5 {
		padding-left: 2px;
		padding-right: 10px;
		}*/
	}

	.index-last-update .collapse, .module .collapsing {
		/* [NUM_OF_LINES] x [LINE_HEIGHT] */
		/*height: 11rem;*/
		height: 230px;
	}

	.index-last-update .collapse {
		position: relative;  /* For ...'s content absolute positioning */
		display: block;
		overflow: hidden;
		-webkit-mask-image: -webkit-gradient(linear, left top, 
			left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)));
	}

	.index-last-update .collapse:before {
		/*content: ' ...';*/
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.index-last-update .collapse.show {
		/* You need to reset the height when not collapsed */
		height: auto;
		-webkit-mask-image: none;
	}

	.index-last-update .collapse.show:before {
		display: none;  /* Of course you don't want to display ... */
	}

	.index-last-update a.show-more.collapsed:after {
		content: '+ Показать все обновления';
	}

	.index-last-update a.show-more:not(.collapsed):after {
		content: '- Скрыть';
	}

	.movie-top {
		border-radius: 5px;
		box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.54);
		/* background-color: #ccc; */
	}

	.movie-top h3 {
		font-size: 12px;
		font-weight: bold;
	}
	.movie-top a {
		/*	font-size: 10px;*/
		color: #fff;
		/*color: #000;*/
		text-decoration: none;
		/*	font-size: 15px;*/
	}

	.movie-top .title {
		/*padding: 3px 0 0 3px;*/
	}
	.movie-top .year {
		font-size: 10px;
		/*padding: 0 3px 0 0;*/
		font-weight: normal;
	}

	.movie-top .over-image {
		/*background-color: #fff;*/
		/*position: relative;*/
		/*margin-top: -35px;*/
		color: #fff;
		/*opacity: 0.75;*/
		height: 35px;
		overflow: hidden;
		/* border-radius: 2px; */
		/*font-weight: bold;*/
	}

	.page-text {
		font-size: 14px;
	}

/*.top-movies-owl .movie {
	width: 140px;
	border-radius: 5px;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.54);
	margin: 0 5px;
	}*/

	.top-movies {
		overflow: auto;
		overflow-y: hidden;
		/*height: 300px;*/
		white-space: nowrap;
		/*width: 300px;*/
	}
	.top-movies .movie {
		width: 140px;
		/*height: 200px;*/
		/*border: 1px solid #fff;*/
		/*white-space: nowrap;*/
		/*float: left;*/
		display: inline-block;
		vertical-align: middle;
		border-radius: 5px;
		box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.54);
		margin: 0 2px;
		margin-bottom: 7px;
	}

	.top-movies .cinema-img {
		/*height: 200px;*/
		overflow: hidden;
	}

	.top-movies .cinema-img img {
		height: 200px;
		width: auto;
		margin: 0 auto;
	}

	.top-movies .over-image {
		padding: 0 5px;
		height: 44px;
		overflow: hidden;
	}
	.top-movies .over-image .title {
		white-space: normal;
	}
	.top-movies .over-image .title h3, .top-movies .over-image .year {
		font-size: 10px;
	}

	@media (max-width: 768px) {
		.top-movies .movie {
			width: 100px;
		}

		.top-movies .cinema-img img {
			height: 150px;
		}
	}

	.alphabet {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.alphabet li {
		display: inline-block;
		border: 1px solid #444;
		border-radius: 4px;
	}
	.alphabet a {
		color: #fff;
		display: block;
		padding: 0 7px;
	}
	.alphabet a:hover {
		background-color: #222;
		text-decoration: none;
	}

	#search select {
		background-color: #000;
		color: #ccc;
	}

	.fastInfo {
		display: none; 
		position: fixed;
		width: 400px;
		/*height: 400px;*/
		/*border: 1px solid #fff;*/
		border-radius: 5px;
		background-color: #ddd;
		opacity: 0.95;
		overflow: hidden;
		padding: 15px;
		color: #333;
		font-size: 0.7em;
		z-index: 2;
	}
	.fastInfo a {
		color: #009f77;
	}
	.showFastInfo {
		position: absolute;
		top: 0px;
		right: 0px;
		color: #fff;
		background-color: #000;
		padding: 0 4px;
		border-radius: 5px;
		/*cursor: help;*/
	}

	.thumb-up .fas, .thumb-down .fas {
		display: none;
	}
	.thumb-up:hover .far, .thumb-down:hover .far {
		display: none;
	}
	.thumb-up:hover .fas, .thumb-down:hover .fas {
		display: inline;
	}
	.group-poster {
		float: left;
		width: 100%;
		max-width: 300px;
		height: auto;
		border: 1px solid #fff;
		margin: 0 20px 10px 0;
	}

	/* < rating-bar */
	.rating-bar{
		background:black;
		padding:1px;
	}
	.rating-bar span{
		display:block;
		height:15px;
	}
	.rating-bar, .rating-bar span {
		border-radius:4px; 
	}

	/* Used to color the bars */
	.blue{ background:blue; }
	.red{ background:red; }
	.orange {background: orange;}

	/* .rate-n, n being the rating from 1 to 10 */
	.rate-1{ width:10%; }
	.rate-2{ width:20%; }
	.rate-3{ width:30%; }
	.rate-4{ width:40%; }
	.rate-5{ width:50%; }
	.rate-6{ width:60%; }
	.rate-7{ width:70%; }
	.rate-8{ width:80%; }
	.rate-9{ width:90%; }
	.rate-10{ width:100%; }

	/* CSS3 Animation */
	.animate{
		animation: progress 5s linear;
		-moz-animation: progress 5s linear;
		-webkit-animation: progress 5s linear;
		-ms-animation: progress 5s linear;
		-o-animation: progress 5s linear;
	}
	/* Span fills 100% of parent div (.rate-n) which may be 10-100% of the width of black bar (.rating) */
	@-webkit-keyframes progress {
		from { width:0% }
		to { width:100%; }
	}
	@-moz-keyframes progress {
		from { width:0% }
		to { width:100%; }
	}
	@-ms-keyframes progress {
		from { width:0% }
		to { width:100%; }
	}
	@-o-keyframes progress {
		from { width:0% }
		to { width:100%; }
	}
	@keyframes progress {
		from { width:0% }
		to { width:100%; }
	}
/* rating-bar > */

.nav .nav-item a {
	padding-left: 10px;
	padding-right: 10px;
}

.btnTop50 {
	margin-right: 20px;
}

@media (max-width: 340px) {
	.btnTop50 {
		margin-right: 5px;
	}	
}

.episodes .collapse, .module .collapsing {
  height: 6rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.episodes .collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}

.episodes .collapse:before {
  /*content: ' ...';*/
  position: absolute;
  right: 0;
  bottom: 0;
}

.episodes .collapse.show {
  /* You need to reset the height when not collapsed */
  height: auto;
  -webkit-mask-image: none;
}

.episodes .collapse.show:before {
  display: none;  /* Of course you don't want to display ... */
}

.episodes a.show-more.collapsed:after {
  content: '+ Показать все серии';
}

.episodes a.show-more:not(.collapsed):after {
  content: '- Скрыть';
}

#gotop {
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	right: 10px;
	bottom: 10px;
	z-index: 9998;
	display: none;
	background-color: #fff;
	color: #444;
	cursor: pointer;
	font-size: 18px;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}