body {
    color: #fff;
    background-color: #651212;
}

h1 {text-align: center;}

.thumbs {text-align: center; clear: both; margin-bottom: 20px;}
.thumbs ul {list-style-type: none; margin: 0 30px; padding: 0;}
.thumbs li {text-align: center; overflow: hidden; width: 250px; height: 250px; margin: 0; padding: 2px; float: left; font-size: 14px;}
.thumbs li:hover {}
.thumbs li .title {width: 160px; height: 40px; margin: 0 auto; overflow: hidden;}
.thumbs li .info {margin: 0 10px 0 10px;}
.thumbs li .info {position: relative; top: 180px;}
.thumbs li .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs li .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs img {width: 240px; height: 180px; margin: 0 0 5px 0;}
.thumbs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.thumbs a {color: #fc0;}
.thumbs .teasers {width: 1270px; height: 264px;}

.navigation_holder {
    width: 1100px;
    height: 30px;
    margin: 20px auto 0 auto;
    /*border: 1px solid #000;*/
}

.sort {
    float: right;
    padding: 0 0 20px 35px;
    text-align: left;

}
.sort .active {
    font-weight: bold;
}
.sort a {color: #fff;}

.categories {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}

.categories li {
    margin: 0;
    padding: 2px;
    float: left;
    list-style-type: none;
}
.categories a {
    color: #fff;
    font-size: 20px; 
    font-weight: normal;
}

.logo {
    width: 100%;
    height: 100px;
    background: url(img/bg.png) repeat-x;
}

.footer {
    margin-top: 10px;
    color: red;
    text-align: center;
}
.footer a {color: #fff;}

.pagination {
    float: left;
    margin: 0 0 20px 30px;
}
.pagination a {color: #000;}

.player {width: 800px; margin: 0 auto;}
.video_info {width: 800px; margin: 0 auto;}
.video_info a {color: #fff;}
.video_info .title {background-color: #fff;}
.video_info .text {background-color: #fff;}

.thumbs_holder {width: 1330px; margin: 10px auto;}

.player_holder {
    /*border: 1px solid #000;*/
    width: 1235px;
    margin: 0 auto;
}
.player_holder .teasers {
    /*border: 1px solid #000;*/
    width: 215px;
    height: 750px;
    float: left;
    overflow: hidden;
}
.player_center {
    /*float: left;*/
}

.feedback {margin: 0 auto; width: 1000px;}
.feedback textarea {width: 1000px;}

.guestbook .title {color: #c90063; font-weight: bold; font-size: 15px; margin-bottom: 10px;}
.guestbook .user {font-weight: bold; font-size: 12px;}
.guestbook .date {font-size: 10px;}
.guestbook .add {margin-left: 10px; font-weight: bold; margin-bottom: 10px;}
.guestbook .name input {width: 200px;}
.guestbook .text textarea {width: 500px; height: 80px;}
.guestbook form {margin-left: 10px;}

.player_xv iframe, .player_ph iframe {width: 800px; height: 627px;}