.statuses {margin-bottom: 20px;}
.menu {margin-bottom: 20px;}
.purchase .date {
	width: 90px;
}
.delete-btn {
	float: left;
}
body {
	margin-top: 10px;
}
.js-link {
	border-bottom: 1px dashed #000;
	cursor: pointer;
}
.q-plus,.del-group {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.add_purchase_btn {
	margin-top: 25px;
}
.sources {
	margin-bottom: 10px;
}
.order_send_sms {
	/*margin-top: 4px;*/
}
.sms_answer {
	float: left;
}
.orders {
	font-size: 12px;
}
.items_list {
	margin-bottom: 0px;
}
.orders tr td, .orders thead tr th,
.orders>thead:first-child>tr:first-child>th {
	border: 1px solid #ccc;
}
.orders .space td {
	padding: 4px;
	border: 0;
	background-color: #fff;
}
.orders .buttons {
	width: 105px;
}
.orders .buttons button {
	margin: 1px 0 1px 0;
}
.sent_sms {
	font-weight: bold;
}
.orders-nav {
	margin-bottom: 10px;
}
.orders .item-pic {
	/*height: 50px;*/
	/*width: auto;*/
}

.tooltip-element {
    /*position:relative;*/
    /*top:50px;*/
    /*left:50px;*/
}

.tooltip { /* hide and position tooltip */
  /*top:-10px;*/
  background-color:black;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  padding: 5px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.tooltip-element:hover .tooltip {
	/* display tooltip on hover */
    opacity:1;
}

.mass_send_sms li {
	margin: 10px 0 10px 0;
}

.orders_wide_stat .date {
	width: 100px;
}