.mask {
    display:none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-view {
  display:none;
  overflow-y: scroll;
  position: fixed;
  z-index:3000;
  top: 7%; left: 50%;
  margin-left: -435px;
  width: 830px;
  max-width: 830px;
  height: auto;
  max-height: 550px;
  padding: 20px;
  font: 20px "calibri";
  color: #05497e;
  background: #f5f5f5;
  background: -moz-linear-gradient(top,#fafafa,#f5f5f5);
  background: -webkit-linear-gradient(top,#fafafa,#f5f5f5);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
  background: linear-gradient(top,#fafafa,#f5f5f5);
  border: 1px solid #b9b9b9;
  font-size: 20px;
   border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px 10px rgba(255, 255, 255, 0.3);
}

button {
  font-size: 12px;
  display: inline-block;
  padding: 3px 6px 3px;
  margin-top: 10px;
  border: 1px solid #b9b9b9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: rgb(150, 150, 150);
  background-color: #FFF;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

button:hover{
    background-color: #EEE;
}

.btn-center{
    display: inline-block;
    text-align: center;
    width: 100%;
}