@font-face {
    font-family: 'EuropeNormal';
    src: url('fonts/europe.eot');
    src: url('fonts/europe.eot') format('embedded-opentype'),
         url('fonts/europe.woff2') format('woff2'),
         url('fonts/europe.woff') format('woff'),
         url('fonts/europe.ttf') format('truetype'),
         url('fonts/europe.svg#EuropeNormal') format('svg');
}

* { margin: 0; padding: 0; }
body { margin: 0; padding: 0 0 10px 0; color: #000000; font-style: normal; font-weight: normal; font-family: 'EuropeNormal' Arial, Helvetica; }


.clear { clear: both; }
.yellow      { color: #E8CD1A; }
.yellow2     { color: #FFE742; }
.grey        { color: #BD4104; }
.black       { color: #000000; }


#main-container { width: 100%; min-width: 1260px; min-height: 1600px; text-shadow: none; }

#section1 { width: 100%; height: 730px; background: url(../images/section1-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s1-text-box  { width: 1260px; margin: 0 auto 0 auto; }

.logo-box    { width: 190px; height: 160px; float: left; margin: 0 0 0 130px; background: url(../images/logo.jpg) no-repeat top center #000000; }
.logo-text   { padding: 140px 0 0 0; color: #FFFFFF; font-size: 16px; line-height: 16px; text-transform: uppercase; }
.top-text1   { width: 450px; float: left; margin: 40px 0 0 0; color: #FFFFFF; font-size: 13px; line-height: 13px; text-transform: uppercase; }
.top-text2   { width: 250px; float: left; margin: 10px 0 0 160px; color: #FFFFFF; font-size: 13px; line-height: 13px; text-align: right; }
.phone       { color: #FFFFFF; font-size: 22px; line-height: 22px; text-transform: uppercase; }
.phone2      { color: #FFFFFF; font-size: 18px; line-height: 18px; text-transform: uppercase; }
.time        { margin: 5px 0 0 0; color: #FFFFFF; font-size: 14px; line-height: 14px; }
.top-button     { margin: 10px 0 0 0; font-size: 14px; line-height: 14px; }
.top-button  a  { color: #FF4646; }

#s1-text  { width: 750px; margin: 40px 0 0 390px; float: left; color: #FFFFFF; font-size: 28px; line-height: 36px; text-transform: uppercase; }
#s1-text2  { margin: 30px 0 0 380px; float: left; color: #FFFFFF; font-size: 16px; line-height: 16px; }
#s1-text2 li { list-style: none; background: rgba(0,0,0,0.5);  }
.s1-li1      { width: 395px; margin: 8px 0 4px 25px; }
.s1-li2      { color: #FFE742; width: 435px; margin: 4px 0 4px 55px; }
.s1-li3      { width: 345px; margin: 4px 0 4px 85px; }
.s1-li4      { color: #FFE742; width: 355px; margin: 4px 0 4px 115px; }
.s1-li5      { width: 590px; margin: 4px 0 0 145px; }
#s1-text2 span { height: 22px; display: block; padding: 8px 0 0 40px; background: url(../images/img1.png) no-repeat left center;  }
#s1-text3  { width: 800px; margin: 42px 0 0 400px; float: left; color: #FFFFFF; font-size: 28px; line-height: 36px; }
.s1-text4  { margin: -30px 0 0 0; }
.s1-action-title { width: 100px; float: left; margin: 15px 0 0 45px; color: #FFFFFF; font-size: 23px; line-height: 18px; text-transform: uppercase; }
.s1-sale         { width: 150px; float: left; margin: 12px 0 0 15px; color: #000000; font-size: 22px; line-height: 22px; }
.sale-white      { margin: 0 0 0 2px; color: #FFFFFF; font-size: 22px; line-height: 22px; }
.s1-price1       { float: left; display: block; margin: 20px 0 0 30px; color: #000000; font-size: 21px; line-height: 23px; background: url(../images/img2.png) no-repeat center; }
.s1-price2       { float: left; display: block; margin: 10px 0 0 25px; padding: 8px; color: #FF3B3A; font-size: 33px; line-height: 40px; background: #000000; }

#s1-text5  { width: 400px; height: 190px; margin: -60px 0 0 10px; color: #FFFFFF; font-size: 14px; line-height: 22px; background: url(../images/img3.png) no-repeat top right; }
.s1-text5    { padding: 70px 0 0 0; }
.text5-yellow   { color: #E8CD1A; }
.text5-red      { color: #D83B3A; text-transform: uppercase; }
#count-box      {  }
#countdown      { width: 310px; height: 100px; position: relative; top: 105px; left: 40px; background: url(../images/count-box.png) no-repeat top center; }
#countdown2      { width: 310px; height: 100px; position: relative; top: 105px; left: 40px; background: url(../images/count-box.png) no-repeat top center; }


.button1 {
	background: url(../images/button1.png) no-repeat center;
    display: block;
    font-size: 27px;
    color: #FFFFFF;
    width: 360px;
    height: 42px;
    margin: 15px auto 0 auto;
    padding-top: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
}
.button1:hover {
  box-shadow:0 0 10px #C3C3C3;
}
.button1:active {
	opacity:0.9;
}

#top-menu { float: left; width: 800px; height: 30px; margin: -78px 0 0 440px; padding: 20px 0 0 0; }
#top-menu ul { width: 800px; padding: 0 0 0 0;  }
#top-menu li { float: left; padding: 0; list-style: none; font-size: 13px; line-height: 13px;
               font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; text-transform: uppercase; }
.top-menu-li1      { display: block; margin: 0 0 0 20px; }
.top-menu-li2      { display: block; margin: 0 0 0 50px; }
.top-menu-li3      { display: block; margin: 0 0 0 60px; }
.top-menu-li4      { display: block; margin: 0 0 0 60px; }

#top-menu a        { display: block; padding: 0 0 3px 0; color: #24292B; text-decoration: none; }

.section-title     { width: 980px; margin: 0 auto 0 auto; padding: 25px 0 0 0; color: #000000; font-size: 26px; line-height: 26px; text-transform: uppercase; }
.section-title2    { width: 980px; margin: 0 auto 0 auto; padding: 15px 0 0 0; color: #000000; font-size: 22px; line-height: 22px; text-transform: uppercase; }

#section2 { width: 100%; height: 750px; background: url(../images/section2-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s2-text-box  { width: 980px; margin: 15px auto 5px auto; }
.s2-text1 { margin: 10px auto 10px auto; font-size: 16px; line-height: 19px; }
.s2-blue  { color: #00589C; }


#section3 { width: 100%; height: 748px; background: url(../images/section3-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s3-text-box  { width: 980px; margin: 55px auto 5px auto; }
#s3-text-box li { width: 440px; float: left; list-style: none; }
.s3-text1       { color: #FFFFFF; margin: 500px auto 10px auto; font-size: 14px; line-height: 20px; }
.s3-text1 span  { color: #EBCE09; font-size: 18px; line-height: 18px; }

.s3-text2       { width: 630px; position: relative; font-size: 15px; line-height: 21px; }
.s3-text2-title1 { width: 260px; display: block; color: #FFFFFF; margin: -2px 0 20px 0; font-size: 17px; line-height: 20px; text-transform: uppercase; }
.s3-text2-title2 { width: 260px; display: block; color: #FFFFFF; margin: 47px 0 20px 0; font-size: 17px; line-height: 20px; text-transform: uppercase; }
.s3-text2-title3 { width: 260px; display: block; color: #FFFFFF; margin: 69px 0 20px 0; font-size: 17px; line-height: 20px; text-transform: uppercase; }

.button2-box     { margin: 60px 0 0 240px; }
.button2 {
	background: url(../images/button2.png) no-repeat center;
    display: block;
    font-size: 27px;
    color: #FFFFFF;
    width: 290px;
    height: 40px;
    margin: 15px auto 0 auto;
    padding-top: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
}
.button2:hover {
  box-shadow:0 0 10px #7E7E7E;
}
.button2:active {
	opacity:0.9;
}

#section4 { width: 100%; height: 445px; background: url(../images/section4-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s4-text-box    { width: 980px; margin: 55px auto 5px auto; }
#s4-text-box li { width: 440px; float: left; list-style: none; }
.s4-text1       { width: 425px; height: 268px; margin: 10px 0 10px 0; }

.s4-text2       { width: 510px; color: #000000; margin: -10px 0 10px 85px; position: relative; font-size: 14px; line-height: 21px; font-weight: normal; font-family: 'Georgia', Arial, Helvetica; }

#section5 { width: 100%; height: 887px; background: url(../images/section5-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s5-text-box    { width: 980px; margin: 55px auto 5px auto; }
#s5-text-box li { width: 400px; float: left; list-style: none; }
.s5-text1       { width: 590px; position: relative; font-size: 14px; line-height: 21px; letter-spacing: -0.5px; }
.s5-text1-title1 { width: 260px; display: block; color: #D3BB18; margin: 17px 0 10px 0; font-size: 14px; line-height: 15px; text-transform: uppercase; }
.s5-text1-title2 { width: 260px; display: block; color: #D3BB18; margin: 17px 0 15px 0; font-size: 14px; line-height: 15px; text-transform: uppercase; }
.s5-text1-title3 { width: 320px; display: block; color: #D3BB18; margin: 18px 0 15px 0; font-size: 14px; line-height: 15px; text-transform: uppercase; }
.s5-text1-title4 { width: 370px; display: block; color: #D3BB18; margin: 17px 0 15px 0; font-size: 14px; line-height: 15px; text-transform: uppercase; }
.s5-text1-title5 { width: 370px; display: block; color: #D3BB18; margin: 37px 0 15px 0; font-size: 14px; line-height: 15px; text-transform: uppercase; }

.s5-text2    { width: 400px; height: 270px; margin: 208px 0 0 135px; position: relative; }
.s5-text3    { padding: 70px 0 0 0; }
#s5-text4  { width: 490px; height: 140px; margin: 14px 0 0 45px; color: #FFFFFF; font-size: 14px; line-height: 22px; background: url(../images/img4.png) no-repeat top right; }
.s5-text4    { padding: 14px 0 0 0; }
.button3 {
	background: url(../images/button3.png) no-repeat center;
    display: block;
    font-size: 27px;
    color: #FFFFFF;
    width: 468px;
    height: 42px;
    margin: 18px auto 0 auto;
    padding-top: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
}
.button3:hover {
  box-shadow:0 0 10px #C3C3C3;
}
.button3:active {
	opacity:0.9;
}

#section6 { width: 100%; min-height: 130px; background: url(../images/section6-bg.jpg) no-repeat top center #FFFFFF; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s6-text-box    { width: 950px; margin: 55px auto 5px auto; }
#s6-text-box li { width: 950px; list-style: none; border-bottom: 1px solid #CFCFCF; }
#s6-title       { width: 950px; height: 21px; margin: 10px auto 10px auto; padding: 8px 0 5px 0; font-size: 18px; line-height: 18px; background: url(../images/vk.png) no-repeat right center #C3DBE5; }
#s6-title span  { width: 150px; display: block; margin: 0 0 0 10px; }

#s6-text1       { width: 980px; margin: 25px auto 5px auto; }
#s6-text1 img   { margin: 10px 10px 10px 0; }
.img-box        { width: 72px; float: left; }
.votes-box      { float: left; }
.v1             { color: #083B6F; margin: 15px 0 0 15px; }
.v2             { margin: 5px 0 0 15px; }
.v3             { color: #8B8B8B; margin: 10px 0 0 15px; }

.s6-text2        { width: 162px; margin: 25px 0 35px 0; }
.button4 {
	background: #094E6B;
    display: block;
    font-size: 17px;
    color: #FFFFFF;
    width: 162px;
    height: 28px;
    margin: 5px auto 0 auto;
    padding-top: 9px;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
}
.button4:hover {
  background: #094E6B;
  box-shadow:0 0 10px #666666;
}
.button1:active {
	opacity:0.9;
}

#section7 { width: 100%; height: 598px; background: url(../images/section7-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s7-text-box    { width: 950px; margin: 0 auto 5px auto; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
.s7-title-text    { width: 650px; margin: 65px 0 5px 300px; font-size: 22px; line-height: 28px; text-transform: uppercase; }

#s7-text1         { width: 650px; margin: 20px 0 5px 380px; font-size: 16px; line-height: 20px; }
#s7-text1  li     { list-style: none; margin: 10px 0 10px 0; padding: 0 0 0 35px; background: url(../images/img5.png) no-repeat left center; }

#section8 { width: 100%; height: 239px; background: url(../images/section8-bg.jpg) no-repeat top center; font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; }
#s8-text-box    { width: 950px; margin: 0 auto 5px auto; }
#s8-text1         { width: 670px; margin: 0 auto 0 auto; padding: 18px 0 0 0; color: #FFFFFF; font-size: 25px; line-height: 28px; text-transform: uppercase; text-align: center; }
#s8-text1 a       { color: #D3BB18; font-size: 25px; line-height: 28px; text-transform: uppercase; }
.s8-text1   { width: 450px; float: left; margin: 35px 0 0 205px; color: #FFFFFF; font-size: 12px; line-height: 12px; text-transform: uppercase; }

#s8-text2 { float: left; width: 700px; height: 30px; margin: 20px 0 0 185px; padding: 20px 0 0 0; }
#s8-text2 ul { width: 700px; padding: 0 0 0 15px;  }
#s8-text2 li { float: left; padding: 0; list-style: none; font-size: 12px; line-height: 12px;
               font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; text-transform: uppercase; }
#s8-text2 a        { display: block; padding: 0 10px 0 5px; color: #24292B; text-decoration: none; }

.s8-menu-li1      { display: block; background: url(../images/sep.png) no-repeat right center; }
.s8-menu-li2      { display: block; background: url(../images/sep.png) no-repeat right center; }
.s8-menu-li3      { display: block; background: url(../images/sep.png) no-repeat right center; }
.s8-menu-li4      { display: block; }

.s8-text3   { width: 250px; float: right; margin: 10px 0 0 10px; top: -90px; left: 70px; position: relative; color: #FFFFFF; font-size: 13px; line-height: 13px; text-align: right; }
.s8-phone       { color: #000000; font-size: 22px; line-height: 22px; text-transform: uppercase; }
.s8-phone2      { color: #000000; font-size: 18px; line-height: 18px; text-transform: uppercase; }
.s8-time        { margin: 5px 0 0 0; color: #FFFFFF; font-size: 14px; line-height: 14px; }
.s8-button     { margin: 10px 0 0 0; font-size: 14px; line-height: 14px; }
.s8-button  a  { color: #FF4646; }

#s8-text4        { width: 500px; float: right; margin: 15px 0 0 0px; position: relative; left: 380px; color: #FFFFFF; font-size: 13px; line-height: 13px; }
#s8-text4  span  { display: block; margin: 12px 0 0 0px; }
#s8-text4  li    { width: 250px; float: left; list-style: none; }
.button5 {
	background: #D3BB18;
    display: block;
    font-size: 13px;
    color: #000000;
    width: 196px;
    height: 22px;
    margin: 5px auto 0 auto;
    padding: 6px 6px 0 6px;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.button4:hover {
  background: #094E6B;
  box-shadow:0 0 10px #666666;
}
.button1:active {
	opacity:0.9;
}



#top_nav{
   width: 100%;
   height: 59px;
   padding-top: 5px;
   background: rgba(0,0,0,0.8);
   top: 0;
   z-index: 90;
}
#scroll    { width: 980px; margin: 20px auto 0 auto; }
#scroll li { float: left; list-style: none; padding: 0 20px 0 20px; }
#scroll a  { color: #FFFFFF; font-size: 12px; line-height: 10px; text-transform: uppercase; text-decoration: none; }
#scroll-phone      { margin: -4px 0 0 70px; color: #FFFFFF; font-size: 15px; line-height: 15px; text-align: right; }
#scroll-phone span { color: #FFFFFF; font-weight: normal; font-style: normal; font-size: 22px; line-height: 18px; }


.banner {
    background: transparent;
    height: 54px;
    width: 100%;
    font-weight: normal; font-style: normal; font-family: 'EuropeNormal', Arial, Helvetica; text-transform: uppercase;
}

    .banner--clone {

    /* Required styles */
    position: fixed;
    top: 0;
    left: 0;

    /* Additional styles */
    background: rgba(0,0,0,0.8);

    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          stick: 'banner--stick';
 |      }
 |  }
 *
 */
.banner--stick {

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          unstick: 'banner--unstick';
 |      }
 |  }
 *
 */
.banner--unstick {
    /* Not required to use, but could be useful to have */
}

.form-box    { width: 384px; height: 350px; margin: 0 auto auto auto; padding: 0;
               font-style: normal; font-weight: normal; font-family: 'EuropeNormal', Arial, Helvetica;
               box-shadow:0 0 3px #D2D2D2;
}

.form-box2    { width: 384px; height: 500px; margin: 0 auto auto auto; padding: 0;
               font-style: normal; font-weight: normal; font-family: 'EuropeNormal', Arial, Helvetica;
               box-shadow:0 0 3px #D2D2D2;
}

.form-box4    { width: 384px; height: 365px; float: right; margin: 0 0 0 0; padding: 0; right: 5px; top: -50px; position: relative;
               font-style: normal; font-weight: normal; font-family: 'EuropeNormal', Arial, Helvetica;
}
.order-box    { width: 1050px; height: 512px; margin: 0 auto 0 auto; background: url(../images/order-bg.jpg) no-repeat top center #000000;
                -moz-border-radius: 10px;
               -webkit-border-radius: 10px;
               -khtml-border-radius: 10px;
               border-radius: 10px;
}

.confidens-box { width: 1050px; height: 512px; margin: 0 auto 0 auto; background: url(../images/confidens-bg.jpg) no-repeat top center #000000;
                -moz-border-radius: 10px;
               -webkit-border-radius: 10px;
               -khtml-border-radius: 10px;
               border-radius: 10px;
}
.confidens-text { width: 684px; height: 450px; margin: 0 auto auto 300px; padding-top: 120px; text-align: left; font-size: 16px; line-height: 20px;font-style: normal; font-weight: normal; font-family: 'EuropeNormal', Arial, Helvetica; }

.form-title  { width: 384px; height: 90px; margin: 0 auto 20px auto; padding-top: 20px; background: #D3BB18; text-align: center; }
.form-text1  { font-size: 18px; line-height: 24px; }
.form-text2  { text-transform: uppercase; }

.form-title-order  { width: 384px; height: 60px; margin: 0 auto auto auto; padding-top: 20px; text-align: center; font-family: 'EuropeNormal', Arial, Helvetica; }
.form-text1-order  { padding-top: 5px; color: #D3BB18; font-size: 22px; line-height: 24px; font-family: 'EuropeNormal', Arial, Helvetica; }
#form-text3  { width: 330px; margin: 10px 0 0 0; top: 370px; left: 180px; position: relative; color: #FFFFFF; font-size: 20px; line-height: 20px; font-family: 'EuropeNormal', Arial, Helvetica; }
#form-text3 span { color: #FF3B3A; font-size: 40px; line-height: 40px; }

.f-bg  { background: url(../images/f-bg.png) no-repeat left center; }


.form input[type=text],
.form input[type=email],
.form input[type=text],
.form input[type=tel],
.form textarea[type=text],
.form select {
    color: #000000;
    font-family: 'EuropeNormal', Arial, Helvetica;
    font-size: 19px;
    line-height: 19px;
    font-weight: normal;
    display: block;
    width: 330px;
    height: 44px;
    margin: 0 auto 15px auto;
    padding: 0px 5px 1px 20px;
    box-shadow: 0 1px 5px #666 inset;
    border: 0px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 10px;
     -khtml-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

.form textarea[type=text] {
    height: 120px;
    padding-top: 15px;
}
#order-textarea  textarea[type=text] {
    height: 60px;
    padding-top: 15px;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=tel]:focus,
.form textarea[type=text]:focus,
.form select:focus {
    border: none;
    outline: none; /* Remove Chrome's outline */
}

.form input[type=submit] {
    width: 364px;
    height: 84px;
    margin: -5px auto 0 12px;
    padding-top: 12px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'EuropeNormal', Arial, Helvetica;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px; /* Same as height */
    text-align: center;
    text-transform: uppercase;
}

.form input[type=submit] {
    background: url(../images/button4.png) no-repeat top center;
    border: 0px solid #BA7EBC;
        -webkit-border-radius: 10px;
         -khtml-border-radius: 10px;
	       -moz-border-radius: 10px;
	            border-radius: 10px;
}

.form input[type=submit]:hover {
      background: url(../images/button4.png) no-repeat top center;
        box-shadow: 0 1px 15px #FFFFFF;
        -webkit-border-radius: 10px;
         -khtml-border-radius: 10px;
	       -moz-border-radius: 10px;
	            border-radius: 10px;
}


/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form input[type=submit]:hover {
    background: #F20000;
    box-shadow: 0 0 10px #666666;
}


/* placeholder */
::-webkit-input-placeholder  {
	color: #000000;
	font-style: normal;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
	color: #000000;
	font-style: normal;
}

 