/*

*/

.version.index /* version checker */
{
	color: #0000F7;
	background-color: #B59903;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 5906.95000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u96
{
	z-index: 611;
	height: 43px;
	border-color: #000000;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u96-bw
{
	z-index: 611;
}

#u95
{
	z-index: 4;
	border-color: #000000;
	background: #FFFFFF url("../images/fon2.jpg") no-repeat center top;
	background-size: cover;
}

#u95_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-bottom: 653px;
}

#u138
{
	z-index: 7;
	width: 976px;
	background-color: transparent;
	left: 92px;
	margin-top: 34px;
	position: relative;
}

#u95-bw
{
	z-index: 4;
	height: 841px;
}

#u129
{
	z-index: 5;
	height: 170px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u129-bw
{
	z-index: 5;
	margin-top: 594px;
	height: 170px;
}

#u131
{
	z-index: 6;
	height: 70px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u131-bw
{
	z-index: 6;
	margin-top: 771px;
	height: 70px;
}

#u162-6
{
	z-index: 9;
	width: 938px;
	min-height: 120px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #A55CCB;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 628px;
	left: 111px;
}

#u165-4
{
	z-index: 38;
	width: 806px;
	min-height: 55px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #2E2E2E;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 781px;
	left: 177px;
}

#u446
{
	z-index: 292;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 102px;
}

#pu144
{
	width: 0.01px;
	padding-bottom: 78px;
	margin-left: 31px;
	margin-top: -841px;
}

#u144
{
	z-index: 636;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -449px;
}

#u97-4
{
	z-index: 612;
	width: 75px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -374px;
}

#u150-4
{
	z-index: 616;
	width: 62px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -289px;
}

#u151-4
{
	z-index: 620;
	width: 127px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -210px;
}

#u152-4
{
	z-index: 624;
	width: 75px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -72px;
}

#u153-4
{
	z-index: 628;
	width: 110px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: 28px;
}

#pamphletu680
{
	z-index: 638;
	width: 0.01px;
	height: 78px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 249px;
}

#u681
{
	z-index: 639;
	width: 226px;
	padding-bottom: 78px;
	position: relative;
	margin-right: -10000px;
}

#u682
{
	width: 226px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 78px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 249px;
}

#u682:hover
{
	border-color: #999999;
	margin: 0px 0px 0px 249px;
}

#pamphletu641
{
	z-index: 641;
	width: 0.01px;
	height: 43px;
	padding-bottom: 35px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 249px;
}

#u644
{
	position: absolute;
	width: 226px;
	top: 43px;
}

#u644popup
{
	z-index: 642;
}

#u650
{
	z-index: 643;
	width: 226px;
	height: 35px;
	border-color: #999999;
	background-color: #4CBD5D;
	-moz-border-radius: 0px 30px 30px 30px ;
	-webkit-border-radius: 0px 30px 30px 30px ;
	-khtml-border-radius: 0px 30px 30px 30px ;
	border-radius: 0px 30px 30px 30px ;
	position: relative;
	margin-right: -10000px;
}

#u651-4
{
	z-index: 644;
	width: 210px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 25px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u660
{
	z-index: 648;
	width: 43px;
	position: relative;
	margin-right: -10000px;
}

#u662
{
	position: absolute;
	width: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 43px;
}

#u662:hover
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u662.PamphletThumbSelected
{
	border-color: #FF3F3F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#u155
{
	z-index: 650;
	width: 43px;
	border-color: #000000;
	background-color: #4CBD5D;
	padding-bottom: 43px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 249px;
}

#u662:hover #u155
{
	margin: 0px 0px 0px 249px;
}

#u662.PamphletThumbSelected #u155
{
	margin: 0px 0px 0px 249px;
}

#u156
{
	z-index: 651;
	width: 35px;
	background-color: transparent;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: 253px;
}

#u662:hover #u156
{
	margin: 0px 0px 0px 253px;
}

#u662.PamphletThumbSelected #u156
{
	margin: 0px 0px 0px 253px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u686
{
	position: absolute;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 42px;
	left: -848px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u686popup
{
	z-index: 653;
}

#u687
{
	z-index: 654;
	width: 340px;
	height: 291px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	padding-left: 89px;
	padding-top: 56px;
	padding-right: 36px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#widgetu735
{
	z-index: 659;
	width: 0.01px;
	height: 291px;
	position: relative;
}

#widgetu738
{
	z-index: 660;
	width: 294px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u741-4
{
	z-index: 661;
	width: 280px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu738.non-empty-st #u741-4
{
	background-color: #FFFFFF;
}

#widgetu738:hover #u741-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 280px;
	margin: 0px -10000px 0px 0px;
}

#widgetu738.focus-st #u741-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 280px;
	margin: 0px -10000px 0px 0px;
}

#widgetu738.non-empty-st #u741-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu738:hover #u741-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu738.focus-st #u741-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u743-4
{
	z-index: 665;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 140px;
}

#u737-4
{
	z-index: 669;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 140px;
}

#u742-4
{
	z-index: 673;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 140px;
}

#u736-17
{
	z-index: 677;
	min-height: 56px;
	width: 293px;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	background: url("../images/u736-17.png") no-repeat 0px 0px;
}

#u736-17:hover
{
	background: url("../images/u736-17-r.png") no-repeat 0px 0px;
}

#u736-17:active
{
	background: url("../images/u736-17-m.png") no-repeat 0px 0px;
}

#widgetu735.frm-sub-st #u736-17
{
	background: url("../images/u736-17-fs.png") no-repeat 0px 0px;
}

#widgetu752
{
	z-index: 694;
	width: 294px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: -1px;
}

#widgetu752.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 47px -10000px 0px 0px;
}

#u755-4
{
	z-index: 695;
	width: 280px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu752.non-empty-st #u755-4
{
	background-color: #FFFFFF;
}

#widgetu752:hover #u755-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 280px;
	margin: 0px -10000px 0px 0px;
}

#widgetu752.focus-st #u755-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 280px;
	margin: 0px -10000px 0px 0px;
}

#widgetu738.fld-err-st #u741-4,#widgetu752.fld-err-st #u755-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 280px;
	margin: 0px -10000px 0px 0px;
}

#widgetu752.non-empty-st #u755-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu752:hover #u755-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu752.focus-st #u755-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu738_input,#widgetu738_prompt,#widgetu752_input,#widgetu752_prompt
{
	width: 280px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u734-4
{
	z-index: 655;
	width: 286px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	color: #7F7F7F;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	margin-left: 4px;
	top: -123px;
	margin-bottom: -26px;
	position: relative;
}

#u684
{
	position: absolute;
	width: 40px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	top: 82px;
	left: -416px;
	background: transparent url("../images/krest.png") no-repeat center center;
}

#u684:hover
{
	margin: 0px;
	background: #999999 url("../images/krest.png") no-repeat center center;
}

#u154-4
{
	z-index: 632;
	width: 192px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: 309px;
}

#what
{
	margin-top: 27px;
	position: relative;
}

#u167-4
{
	z-index: 15;
	width: 806px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #A55CCB;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	margin-left: 77px;
	margin-top: 5px;
	position: relative;
}

#pu177
{
	width: 0.01px;
	margin-left: -79px;
	margin-top: 34px;
}

#u177
{
	z-index: 44;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 276px;
	left: 429px;
}

#u189
{
	z-index: 46;
	width: 409px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 20px;
}

#u201
{
	z-index: 48;
	width: 414px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 548px;
}

#u207
{
	z-index: 50;
	width: 269px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
	left: 702px;
}

#u213
{
	z-index: 52;
	width: 387px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 434px;
	left: 29px;
}

#u219
{
	z-index: 54;
	width: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u225
{
	z-index: 56;
	width: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 572px;
}

#u231
{
	z-index: 58;
	width: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 27px;
}

#u237-4
{
	z-index: 60;
	width: 573px;
	min-height: 32px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 134px;
}

#u238-4
{
	z-index: 64;
	width: 452px;
	min-height: 32px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 675px;
}

#u239-4
{
	z-index: 68;
	width: 617px;
	min-height: 32px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 402px;
	left: 132px;
}

#u452
{
	z-index: 293;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u454
{
	z-index: 294;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 546px;
}

#u456
{
	z-index: 295;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 1px;
}

#pu478
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 69px;
}

#u478
{
	z-index: 2;
	border-color: #000000;
	background-color: #E8E8F0;
	padding-bottom: 7px;
}

#u498-6
{
	z-index: 302;
	width: 314px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 423px;
}

#u498-2
{
	font-size: 22px;
	line-height: 26px;
	padding-top: 7px;
	color: #2E2E2E;
}

#u498-4
{
	font-size: 27px;
	line-height: 32px;
	padding-top: 7px;
	color: #FF3F3F;
}

#u478-bw
{
	z-index: 2;
	margin-top: 87px;
	height: 85px;
}

#u499-6
{
	z-index: 76;
	width: 336px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 412px;
}

#u499-2
{
	line-height: 24px;
}

#u499-3
{
	color: #2E2E2E;
	line-height: 24px;
}

#u497-4
{
	z-index: 82;
	width: 584px;
	min-height: 61px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #A55CCB;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#u500
{
	z-index: 297;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 948px;
}

#u820
{
	z-index: 608;
	width: 188px;
	height: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 739px;
}

#U822_animation
{
	width: 188px;
	height: 190px;
	border: none;
}

#u825
{
	z-index: 609;
	width: 92px;
	height: 2px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 599px;
}

#pamphletu502
{
	z-index: 308;
	width: 0.01px;
	height: 62px;
	margin-left: 302px;
	margin-top: 3px;
	position: relative;
}

#u505
{
	z-index: 309;
	width: 355px;
	position: relative;
	margin-right: -10000px;
}

#u507
{
	position: absolute;
	width: 355px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u507:hover
{
	border-color: #FF3F3F;
	background-color: transparent;
	margin: 0px;
}

#u240-4
{
	z-index: 311;
	width: 353px;
	min-height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #FF3F3F;
	background-color: #FF3F3F;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u507:hover #u240-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 353px;
	margin: 0px -10000px 0px 0px;
}

#u507:hover #u240-4 p
{
	color: #FF3F3F;
	visibility: inherit;
}

#u511
{
	position: absolute;
	width: 889px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 115px;
	left: -297px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u511popup
{
	z-index: 315;
}

#u516
{
	z-index: 316;
	width: 845px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u521
{
	z-index: 317;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
}

#u524-6
{
	z-index: 319;
	width: 700px;
	min-height: 101px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 75px;
}

#widgetu525
{
	z-index: 325;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 475px;
}

#widgetu538
{
	z-index: 326;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u540-4
{
	z-index: 327;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u541-4
{
	z-index: 331;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu538.non-empty-st #u541-4
{
	background-color: #FFFFFF;
}

#widgetu538:hover #u541-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu538.focus-st #u541-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu538.non-empty-st #u541-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu538:hover #u541-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu538.focus-st #u541-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu526
{
	z-index: 335;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#u529-4
{
	z-index: 336;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u527-4
{
	z-index: 340;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu526.non-empty-st #u527-4
{
	background-color: #FFFFFF;
}

#widgetu526:hover #u527-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu526.focus-st #u527-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu526.non-empty-st #u527-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu526:hover #u527-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu526.focus-st #u527-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u530-4
{
	z-index: 344;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u536-4
{
	z-index: 348;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u531-4
{
	z-index: 352;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u537-17
{
	z-index: 356;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u537-17.png") no-repeat 0px 0px;
}

#u537-17:hover
{
	background: url("../images/u537-17-r.png") no-repeat 0px 0px;
}

#u537-17:active
{
	background: url("../images/u537-17-m.png") no-repeat 0px 0px;
}

#widgetu525.frm-sub-st #u537-17
{
	background: url("../images/u537-17-fs.png") no-repeat 0px 0px;
}

#widgetu532
{
	z-index: 373;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#u533-4
{
	z-index: 374;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u534-4
{
	z-index: 378;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu532.non-empty-st #u534-4
{
	background-color: #FFFFFF;
}

#widgetu532:hover #u534-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu532.focus-st #u534-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu532.non-empty-st #u534-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu532:hover #u534-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu532.focus-st #u534-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u509
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	top: 153px;
	left: 515px;
	background: transparent url("../images/krest.png") no-repeat center center;
}

#u468
{
	z-index: 296;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 252px;
	top: -41px;
	margin-bottom: -20px;
	position: relative;
}

#u241-4
{
	z-index: 72;
	width: 284px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	margin-left: 338px;
	margin-top: 28px;
	position: relative;
}

#u168
{
	z-index: 42;
	height: 8px;
	border-color: #000000;
	background-color: #FF3F3F;
}

#u168-bw
{
	z-index: 42;
	margin-top: 22px;
	height: 8px;
}

#pu95,#pu170
{
	width: 0.01px;
	margin-left: -100px;
}

#u170
{
	z-index: 43;
	border-color: #000000;
	background: #FFFFFF url("../images/fon3.jpg") no-repeat center top;
}

#u170_position_content
{
	padding-bottom: 98px;
}

#u242-6
{
	z-index: 141;
	width: 644px;
	min-height: 79px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	color: #FFFFFF;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	left: 258px;
	margin-top: 15px;
	position: relative;
}

#u243
{
	z-index: 153;
	width: 545px;
	min-height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 307px;
	margin-top: 8px;
	position: relative;
}

#u470
{
	z-index: 298;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 362px;
	margin-top: 61px;
	position: relative;
}

#u170-bw
{
	z-index: 43;
	height: 639px;
}

#pamphletu542
{
	z-index: 383;
	width: 0.01px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 401px;
}

#u543
{
	z-index: 384;
	width: 355px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u544
{
	position: absolute;
	width: 357px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: -2px;
}

#u246-4
{
	z-index: 386;
	width: 353px;
	min-height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u507.PamphletThumbSelected #u240-4,#u544:hover #u246-4
{
	background-color: #FF3F3F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 353px;
	margin: 0px -10000px 0px 0px;
}

#u548
{
	position: absolute;
	width: 889px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 204px;
	left: -292px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u548popup
{
	z-index: 390;
}

#u549
{
	z-index: 391;
	width: 845px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u568
{
	z-index: 392;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
}

#u550-6
{
	z-index: 394;
	width: 700px;
	min-height: 101px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 75px;
}

#widgetu551
{
	z-index: 400;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 475px;
}

#widgetu557
{
	z-index: 401;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u558-4
{
	z-index: 402;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u559-4
{
	z-index: 406;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu557.non-empty-st #u559-4
{
	background-color: #FFFFFF;
}

#widgetu557:hover #u559-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu557.focus-st #u559-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu557.non-empty-st #u559-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu557:hover #u559-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu557.focus-st #u559-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu552
{
	z-index: 410;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#u554-4
{
	z-index: 411;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u555-4
{
	z-index: 415;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu552.non-empty-st #u555-4
{
	background-color: #FFFFFF;
}

#widgetu552:hover #u555-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu552.focus-st #u555-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu552.non-empty-st #u555-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu552:hover #u555-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu552.focus-st #u555-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u567-4
{
	z-index: 419;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u556-4
{
	z-index: 423;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u566-4
{
	z-index: 427;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u561-17
{
	z-index: 431;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u561-17.png") no-repeat 0px 0px;
}

#u561-17:hover
{
	background: url("../images/u561-17-r.png") no-repeat 0px 0px;
}

#u561-17:active
{
	background: url("../images/u561-17-m.png") no-repeat 0px 0px;
}

#widgetu551.frm-sub-st #u561-17
{
	background: url("../images/u561-17-fs.png") no-repeat 0px 0px;
}

#widgetu562
{
	z-index: 448;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#u564-4
{
	z-index: 449;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u565-4
{
	z-index: 453;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu562.non-empty-st #u565-4
{
	background-color: #FFFFFF;
}

#widgetu562:hover #u565-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu562.focus-st #u565-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu562.non-empty-st #u565-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu562:hover #u565-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu562.focus-st #u565-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u546
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	top: 243px;
	left: 520px;
	background: transparent url("../images/krest.png") no-repeat center center;
}

#u248-6
{
	z-index: 19;
	width: 806px;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	margin-left: 77px;
	margin-top: 24px;
	position: relative;
}

#u281-4
{
	z-index: 86;
	width: 284px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	margin-left: 337px;
	margin-top: 28px;
	position: relative;
}

#pu275
{
	width: 0.01px;
	margin-left: 163px;
	margin-top: -2px;
}

#u275
{
	z-index: 160;
	width: 532px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 51px;
}

#u250-4
{
	z-index: 162;
	width: 282px;
	min-height: 57px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #FF3F3F;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u318
{
	z-index: 193;
	width: 1px;
	height: 163px;
	border-color: #000000;
	background-color: #FF3F3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
}

#u319
{
	z-index: 194;
	width: 1px;
	height: 163px;
	border-color: #000000;
	background-color: #FF3F3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 622px;
}

#u320
{
	z-index: 195;
	width: 1px;
	height: 70px;
	border-color: #000000;
	background-color: #FF3F3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 317px;
}

#u324
{
	z-index: 196;
	width: 100px;
	height: 1px;
	border-color: #000000;
	background-color: #FF3F3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 1px;
}

#u325
{
	z-index: 197;
	width: 85px;
	height: 1px;
	border-color: #000000;
	background-color: #FF3F3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 538px;
}

#u472
{
	z-index: 301;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 164px;
}

#pamphletu282
{
	z-index: 166;
	width: 0.01px;
	height: 226px;
	padding-bottom: 1px;
	margin-left: 50px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u285
{
	position: absolute;
	width: 225px;
}

#u285popup
{
	z-index: 167;
}

#u286
{
	z-index: 168;
	width: 225px;
	height: 226px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	-khtml-border-radius: 150px;
	border-radius: 150px;
	position: relative;
	margin-right: -10000px;
}

#u300-6
{
	z-index: 169;
	width: 170px;
	min-height: 178px;
	background-color: transparent;
	font-size: 80px;
	line-height: 96px;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 27px;
}

#u311
{
	z-index: 175;
	width: 225px;
	height: 226px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	-khtml-border-radius: 150px;
	border-radius: 150px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 318px;
}

#u316-6
{
	z-index: 176;
	width: 170px;
	min-height: 153px;
	background-color: transparent;
	font-size: 80px;
	line-height: 96px;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 28px;
}

#u314
{
	z-index: 182;
	width: 225px;
	height: 226px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	-khtml-border-radius: 150px;
	border-radius: 150px;
	position: relative;
	margin-right: -10000px;
	left: 623px;
}

#u317-6
{
	z-index: 183;
	width: 170px;
	min-height: 153px;
	background-color: transparent;
	font-size: 80px;
	line-height: 96px;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 27px;
}

#u300-2,#u316-2,#u317-2
{
	color: #FF3F3F;
	font-family: '__Russo One_5';
}

#u300-4,#u316-4,#u317-4
{
	color: #FFFFFF;
	font-family: '__PF DinText Pro_5';
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u283
{
	z-index: 189;
	width: 848px;
	position: relative;
	margin-right: -10000px;
}

#u284
{
	position: absolute;
	width: 225px;
	height: 226px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
}

.ie #u284
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u284.PamphletThumbSelected
{
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	-khtml-border-radius: 150px;
	border-radius: 150px;
	margin: 0px;
}

#u313
{
	position: absolute;
	width: 225px;
	height: 226px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 318px;
}

.ie #u284.PamphletThumbSelected,.ie #u313
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u313.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#u315
{
	position: absolute;
	width: 225px;
	height: 226px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 623px;
}

.ie #u313.PamphletThumbSelected,.ie #u315
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u315.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u315.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu263
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: -225px;
}

#u263
{
	z-index: 156;
	width: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u257
{
	z-index: 154;
	width: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u269
{
	z-index: 158;
	width: 226px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 622px;
}

#u263_img,#u257_img,#u269_img
{
	padding-bottom: 1px;
}

#pu474
{
	width: 0.01px;
	margin-left: 267px;
	margin-top: 55px;
}

#u474
{
	z-index: 299;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu575
{
	z-index: 458;
	width: 0.01px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u576
{
	z-index: 459;
	width: 355px;
	position: relative;
	margin-right: -10000px;
}

#u577
{
	position: absolute;
	width: 355px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u578-4
{
	z-index: 461;
	width: 353px;
	min-height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #FF3F3F;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF3F3F;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u577:hover #u578-4
{
	background-color: #FF3F3F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 353px;
	margin: 0px -10000px 0px 0px;
}

#u507.PamphletThumbSelected #u240-4 p,#u577:hover #u578-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u581
{
	position: absolute;
	width: 889px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 115px;
	left: -297px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u581popup
{
	z-index: 465;
}

#u582
{
	z-index: 466;
	width: 845px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u601
{
	z-index: 467;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
}

#u583-6
{
	z-index: 469;
	width: 700px;
	min-height: 101px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 75px;
}

#widgetu584
{
	z-index: 475;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 475px;
}

#widgetu590
{
	z-index: 476;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u591-4
{
	z-index: 477;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u592-4
{
	z-index: 481;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu590.non-empty-st #u592-4
{
	background-color: #FFFFFF;
}

#widgetu590:hover #u592-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu590.focus-st #u592-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu590.non-empty-st #u592-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu590:hover #u592-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu590.focus-st #u592-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu585
{
	z-index: 485;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#u587-4
{
	z-index: 486;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u588-4
{
	z-index: 490;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu585.non-empty-st #u588-4
{
	background-color: #FFFFFF;
}

#widgetu585:hover #u588-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu585.focus-st #u588-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu585.non-empty-st #u588-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu585:hover #u588-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu585.focus-st #u588-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u600-4
{
	z-index: 494;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u589-4
{
	z-index: 498;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u599-4
{
	z-index: 502;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u594-17
{
	z-index: 506;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u594-17.png") no-repeat 0px 0px;
}

#u594-17:hover
{
	background: url("../images/u594-17-r.png") no-repeat 0px 0px;
}

#u594-17:active
{
	background: url("../images/u594-17-m.png") no-repeat 0px 0px;
}

#widgetu584.frm-sub-st #u594-17
{
	background: url("../images/u594-17-fs.png") no-repeat 0px 0px;
}

#widgetu595
{
	z-index: 523;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#u597-4
{
	z-index: 524;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u598-4
{
	z-index: 528;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu595.non-empty-st #u598-4
{
	background-color: #FFFFFF;
}

#widgetu595:hover #u598-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu595.focus-st #u598-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu595.non-empty-st #u598-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu595:hover #u598-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu595.focus-st #u598-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u579
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	top: 152px;
	left: 515px;
	background: transparent url("../images/krest.png") no-repeat center center;
}

#u684:active,#u509:active,#u546:active,#u579:active
{
	margin: 0px;
	background: #6B6B6B url("../images/krest.png") no-repeat center center;
}

#u329
{
	z-index: 198;
	height: 8px;
	border-color: #000000;
	background-color: #FF3F3F;
}

#u329-bw
{
	z-index: 198;
	margin-top: 50px;
	height: 8px;
}

#chto-zaragaet,#otziv
{
	position: relative;
}

#u360-6
{
	z-index: 25;
	width: 532px;
	min-height: 95px;
	background-color: transparent;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	margin-left: 213px;
	margin-top: 23px;
	position: relative;
}

#u360-2
{
	font-size: 27px;
	line-height: 32px;
	color: #2E2E2E;
}

#u248-2,#u360-4
{
	font-size: 40px;
	line-height: 48px;
	color: #A55CCB;
}

#pu330
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 40px;
}

#u330
{
	z-index: 199;
	width: 198px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u361-9
{
	z-index: 94;
	width: 590px;
	min-height: 107px;
	background-color: transparent;
	text-align: left;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 220px;
}

#u362-7
{
	z-index: 125;
	width: 590px;
	min-height: 107px;
	background-color: transparent;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
}

#u336
{
	z-index: 201;
	width: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#u346
{
	z-index: 205;
	width: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u363-7
{
	z-index: 103;
	width: 590px;
	min-height: 107px;
	background-color: transparent;
	text-align: left;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 220px;
}

#u365-9
{
	z-index: 132;
	width: 590px;
	min-height: 107px;
	background-color: transparent;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#u362-2,#u365-2
{
	font-size: 20px;
	text-align: right;
	line-height: 24px;
	color: #FF3F3F;
}

#u362-3,#u365-3
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
}

#u362-5,#u365-5,#u365-7
{
	font-size: 15px;
	text-align: right;
	line-height: 18px;
}

#u351
{
	z-index: 207;
	width: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#pu362-7,#pu346,#pu365-9,#pu341
{
	width: 0.01px;
	margin-left: 73px;
}

#u341
{
	z-index: 203;
	width: 199px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u364-7
{
	z-index: 110;
	width: 590px;
	min-height: 107px;
	background-color: transparent;
	text-align: left;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 220px;
}

#u361-2,#u363-2,#u364-2
{
	font-size: 20px;
	line-height: 24px;
	color: #FF3F3F;
}

#u300-3,#u316-3,#u317-3,#u361-3,#u363-3,#u364-3
{
	font-size: 20px;
	line-height: 24px;
}

#u499,#u361-5,#u361-7,#u363-5,#u364-5
{
	font-size: 15px;
	line-height: 18px;
}

#u366-8
{
	z-index: 117;
	width: 590px;
	min-height: 63px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	margin-left: 185px;
	margin-top: 46px;
	position: relative;
}

#u366-2
{
	color: #FF3F3F;
}

#pu368
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 38px;
}

#u368
{
	z-index: 3;
	border-color: #000000;
	background-color: #E8E8F0;
}

#u368_position_content
{
	padding-bottom: 68px;
}

#verh,#video,#garantii
{
	left: 100px;
	position: relative;
}

#u367-7
{
	z-index: 31;
	width: 532px;
	min-height: 103px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #A55CCB;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	left: 314px;
	margin-top: 14px;
	position: relative;
}

#u499-4,#u367-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u248-4,#u367
{
	font-size: 30px;
	line-height: 36px;
	color: #2E2E2E;
}

#u367-2
{
	line-height: 48px;
}

#u409-4
{
	z-index: 90;
	width: 514px;
	min-height: 30px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	left: 323px;
	margin-top: 298px;
	position: relative;
}

#u476
{
	z-index: 300;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 361px;
	margin-top: 13px;
	position: relative;
}

#u368-bw
{
	z-index: 3;
	height: 564px;
}

#u372
{
	z-index: 209;
	border-color: #000000;
	padding-bottom: 2px;
	background: #000000 url("../images/tp5.jpg") no-repeat center bottom;
	background-size: cover;
}

#u478_align_to_page,#u170_align_to_page,#u368_align_to_page,#u372_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu382
{
	z-index: 210;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 161px;
}

#pu379-8
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 84px;
}

#u379-8
{
	z-index: 213;
	width: 200px;
	min-height: 117px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu383
{
	z-index: 211;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 464px;
}

#u380-8
{
	z-index: 221;
	width: 200px;
	min-height: 117px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu384
{
	z-index: 212;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 770px;
}

#u382,#u383,#u384
{
	z-index: 0;
	width: 231px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu380-8,#pu381-8
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 84px;
}

#u381-8
{
	z-index: 229;
	width: 200px;
	min-height: 117px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u379-2,#u379-4,#u380-2,#u380-4,#u381-2,#u381-4
{
	font-size: 20px;
	line-height: 24px;
	font-family: '__PF DinText Pro_5';
}

#u379-6,#u380-6,#u381-6
{
	font-size: 40px;
	line-height: 48px;
	font-family: '__Russo One_5';
}

#u372-bw
{
	z-index: 209;
	margin-top: 175px;
	height: 235px;
}

#pamphletu608
{
	z-index: 533;
	width: 0.01px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 404px;
}

#u609
{
	z-index: 534;
	width: 355px;
	position: relative;
	margin-right: -10000px;
}

#u610
{
	position: absolute;
	width: 355px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u544:hover,#u577:hover,#u610:hover
{
	border-color: #999999;
	margin: 0px;
}

#u611-4
{
	z-index: 536;
	width: 353px;
	min-height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #FF3F3F;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF3F3F;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u610:hover #u611-4
{
	background-color: #FF3F3F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 353px;
	margin: 0px -10000px 0px 0px;
}

#u544.PamphletThumbSelected #u246-4,#u577.PamphletThumbSelected #u578-4,#u610.PamphletThumbSelected #u611-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 353px;
	margin: 0px -10000px 0px 0px;
}

#u610:hover #u611-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u577.PamphletThumbSelected #u578-4 p,#u610.PamphletThumbSelected #u611-4 p
{
	color: #FF3F3F;
	visibility: inherit;
}

#u240-2,#u246-2,#u578-2,#u611-2
{
	padding-top: 13px;
}

#u614
{
	position: absolute;
	width: 889px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 115px;
	left: -297px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u614popup
{
	z-index: 540;
}

#u615
{
	z-index: 541;
	width: 845px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u634
{
	z-index: 542;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
}

#u616-6
{
	z-index: 544;
	width: 700px;
	min-height: 101px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 75px;
}

#u524-2,#u550-2,#u583-2,#u616-2
{
	padding-top: 7px;
	color: #000000;
}

#u524-4,#u550-4,#u583-4,#u616-4
{
	padding-top: 7px;
	color: #FF3F3F;
}

#widgetu617
{
	z-index: 550;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 475px;
}

#widgetu623
{
	z-index: 551;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u624-4
{
	z-index: 552;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u625-4
{
	z-index: 556;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu623.non-empty-st #u625-4
{
	background-color: #FFFFFF;
}

#widgetu623:hover #u625-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu623.focus-st #u625-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu623.non-empty-st #u625-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu623:hover #u625-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu623.focus-st #u625-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu618
{
	z-index: 560;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu526.fld-err-st,#widgetu552.fld-err-st,#widgetu585.fld-err-st,#widgetu618.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u620-4
{
	z-index: 561;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu526.fld-err-st #u529-4,#widgetu552.fld-err-st #u554-4,#widgetu585.fld-err-st #u587-4,#widgetu618.fld-err-st #u620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u621-4
{
	z-index: 565;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu618.non-empty-st #u621-4
{
	background-color: #FFFFFF;
}

#widgetu618:hover #u621-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu618.focus-st #u621-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu538.fld-err-st #u541-4,#widgetu526.fld-err-st #u527-4,#widgetu557.fld-err-st #u559-4,#widgetu552.fld-err-st #u555-4,#widgetu590.fld-err-st #u592-4,#widgetu585.fld-err-st #u588-4,#widgetu623.fld-err-st #u625-4,#widgetu618.fld-err-st #u621-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu618.non-empty-st #u621-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu618:hover #u621-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu618.focus-st #u621-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu538_input,#widgetu538_prompt,#widgetu526_input,#widgetu526_prompt,#widgetu557_input,#widgetu557_prompt,#widgetu552_input,#widgetu552_prompt,#widgetu590_input,#widgetu590_prompt,#widgetu585_input,#widgetu585_prompt,#widgetu623_input,#widgetu623_prompt,#widgetu618_input,#widgetu618_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u633-4
{
	z-index: 569;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u622-4
{
	z-index: 573;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u632-4
{
	z-index: 577;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u627-17
{
	z-index: 581;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u627-17.png") no-repeat 0px 0px;
}

#u627-17:hover
{
	background: url("../images/u627-17-r.png") no-repeat 0px 0px;
}

#u627-17:active
{
	background: url("../images/u627-17-m.png") no-repeat 0px 0px;
}

#widgetu617.frm-sub-st #u627-17
{
	background: url("../images/u627-17-fs.png") no-repeat 0px 0px;
}

#widgetu628
{
	z-index: 598;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu532.fld-err-st,#widgetu562.fld-err-st,#widgetu595.fld-err-st,#widgetu628.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u630-4
{
	z-index: 599;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu538.fld-err-st #u540-4,#widgetu532.fld-err-st #u533-4,#widgetu557.fld-err-st #u558-4,#widgetu562.fld-err-st #u564-4,#widgetu590.fld-err-st #u591-4,#widgetu595.fld-err-st #u597-4,#widgetu623.fld-err-st #u624-4,#widgetu628.fld-err-st #u630-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu538.fld-err-st #u540-4 p,#widgetu538.fld-err-st #u540-4 span,#widgetu526.fld-err-st #u529-4 p,#widgetu526.fld-err-st #u529-4 span,#widgetu532.fld-err-st #u533-4 p,#widgetu532.fld-err-st #u533-4 span,#widgetu557.fld-err-st #u558-4 p,#widgetu557.fld-err-st #u558-4 span,#widgetu552.fld-err-st #u554-4 p,#widgetu552.fld-err-st #u554-4 span,#widgetu562.fld-err-st #u564-4 p,#widgetu562.fld-err-st #u564-4 span,#widgetu590.fld-err-st #u591-4 p,#widgetu590.fld-err-st #u591-4 span,#widgetu585.fld-err-st #u587-4 p,#widgetu585.fld-err-st #u587-4 span,#widgetu595.fld-err-st #u597-4 p,#widgetu595.fld-err-st #u597-4 span,#widgetu623.fld-err-st #u624-4 p,#widgetu623.fld-err-st #u624-4 span,#widgetu618.fld-err-st #u620-4 p,#widgetu618.fld-err-st #u620-4 span,#widgetu628.fld-err-st #u630-4 p,#widgetu628.fld-err-st #u630-4 span
{
	color: #D7244C;
}

#u631-4
{
	z-index: 603;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu628.non-empty-st #u631-4
{
	background-color: #FFFFFF;
}

#widgetu628:hover #u631-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu628.focus-st #u631-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu532.fld-err-st #u534-4,#widgetu562.fld-err-st #u565-4,#widgetu595.fld-err-st #u598-4,#widgetu628.fld-err-st #u631-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu628.non-empty-st #u631-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu628:hover #u631-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu628.focus-st #u631-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu532_input,#widgetu532_prompt,#widgetu562_input,#widgetu562_prompt,#widgetu595_input,#widgetu595_prompt,#widgetu628_input,#widgetu628_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu538.focus-st #widgetu538_prompt,#widgetu526.focus-st #widgetu526_prompt,#widgetu532.focus-st #widgetu532_prompt,#widgetu557.focus-st #widgetu557_prompt,#widgetu552.focus-st #widgetu552_prompt,#widgetu562.focus-st #widgetu562_prompt,#widgetu590.focus-st #widgetu590_prompt,#widgetu585.focus-st #widgetu585_prompt,#widgetu595.focus-st #widgetu595_prompt,#widgetu623.focus-st #widgetu623_prompt,#widgetu618.focus-st #widgetu618_prompt,#widgetu628.focus-st #widgetu628_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#u612
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	top: 153px;
	left: 514px;
	background: transparent url("../images/krest.png") no-repeat left top;
}

#u612:active
{
	margin: 0px;
	background: #6B6B6B url("../images/krest.png") no-repeat left top;
}

#u411-6
{
	z-index: 147;
	width: 744px;
	min-height: 72px;
	background-color: transparent;
	color: #2E2E2E;
	text-align: center;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	margin-left: 108px;
	margin-top: 48px;
	position: relative;
}

#u411-2
{
	font-size: 30px;
	line-height: 36px;
}

#u411-4
{
	font-size: 25px;
	line-height: 30px;
}

#pu412
{
	width: 0.01px;
	margin-left: 28px;
}

#u412
{
	z-index: 239;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu418
{
	z-index: 241;
	width: 0.01px;
	height: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 481px;
}

#widgetu431
{
	z-index: 242;
	width: 180px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu538.fld-err-st,#widgetu557.fld-err-st,#widgetu590.fld-err-st,#widgetu623.fld-err-st,#widgetu431.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u434-4
{
	z-index: 243;
	width: 166px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu431.non-empty-st #u434-4
{
	background-color: #FFFFFF;
}

#widgetu431:hover #u434-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#widgetu431.focus-st #u434-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#widgetu431.non-empty-st #u434-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu431:hover #u434-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu431.focus-st #u434-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu419
{
	z-index: 247;
	width: 180px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 199px;
}

#widgetu738.fld-err-st,#widgetu419.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: -1px -10000px 0px 0px;
}

#u420-4
{
	z-index: 248;
	width: 166px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu419.non-empty-st #u420-4
{
	background-color: #FFFFFF;
}

#widgetu419:hover #u420-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#widgetu419.focus-st #u420-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#widgetu431.fld-err-st #u434-4,#widgetu419.fld-err-st #u420-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#widgetu419.non-empty-st #u420-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu419:hover #u420-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu419.focus-st #u420-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu431_input,#widgetu431_prompt,#widgetu419_input,#widgetu419_prompt
{
	width: 166px;
	min-height: 21px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u423-4
{
	z-index: 252;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 140px;
}

#widgetu735.frm-sub-st #u743-4 p,#widgetu525.frm-sub-st #u530-4 p,#widgetu551.frm-sub-st #u567-4 p,#widgetu584.frm-sub-st #u600-4 p,#widgetu617.frm-sub-st #u633-4 p,#widgetu418.frm-sub-st #u423-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u429-4
{
	z-index: 256;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 140px;
}

#widgetu735.frm-subm-err-st #u737-4 p,#widgetu525.frm-subm-err-st #u536-4 p,#widgetu551.frm-subm-err-st #u556-4 p,#widgetu584.frm-subm-err-st #u589-4 p,#widgetu617.frm-subm-err-st #u622-4 p,#widgetu418.frm-subm-err-st #u429-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u424-4
{
	z-index: 260;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 140px;
}

#widgetu735.frm-sub-st #u743-4,#widgetu735.frm-subm-err-st #u737-4,#widgetu735.frm-subm-ok-st #u742-4,#widgetu525.frm-sub-st #u530-4,#widgetu525.frm-subm-err-st #u536-4,#widgetu525.frm-subm-ok-st #u531-4,#widgetu551.frm-sub-st #u567-4,#widgetu551.frm-subm-err-st #u556-4,#widgetu551.frm-subm-ok-st #u566-4,#widgetu584.frm-sub-st #u600-4,#widgetu584.frm-subm-err-st #u589-4,#widgetu584.frm-subm-ok-st #u599-4,#widgetu617.frm-sub-st #u633-4,#widgetu617.frm-subm-err-st #u622-4,#widgetu617.frm-subm-ok-st #u632-4,#widgetu418.frm-sub-st #u423-4,#widgetu418.frm-subm-err-st #u429-4,#widgetu418.frm-subm-ok-st #u424-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu735.frm-subm-ok-st #u742-4 p,#widgetu525.frm-subm-ok-st #u531-4 p,#widgetu551.frm-subm-ok-st #u566-4 p,#widgetu584.frm-subm-ok-st #u599-4 p,#widgetu617.frm-subm-ok-st #u632-4 p,#widgetu418.frm-subm-ok-st #u424-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u430-17
{
	z-index: 264;
	min-height: 69px;
	width: 379px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	background: url("../images/u430-17.png") no-repeat 0px 0px;
}

#u430-17:hover
{
	background: url("../images/u430-17-r.png") no-repeat 0px 0px;
}

#u430-17:active
{
	background: url("../images/u430-17-m.png") no-repeat 0px 0px;
}

#widgetu418.frm-sub-st #u430-17
{
	background: url("../images/u430-17-fs.png") no-repeat 0px 0px;
}

#widgetu425
{
	z-index: 281;
	width: 381px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: -1px;
}

#widgetu425.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 55px -10000px 0px 0px;
}

#u427-4
{
	z-index: 282;
	width: 367px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu425.non-empty-st #u427-4
{
	background-color: #FFFFFF;
}

#widgetu425:hover #u427-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 367px;
	margin: 0px -10000px 0px 0px;
}

#widgetu425.focus-st #u427-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 367px;
	margin: 0px -10000px 0px 0px;
}

#widgetu425.fld-err-st #u427-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 367px;
	margin: 0px -10000px 0px 0px;
}

#widgetu425.non-empty-st #u427-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu425:hover #u427-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu425.focus-st #u427-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu738.fld-err-st #u741-4 *,#widgetu752.fld-err-st #u755-4 *,#widgetu538.fld-err-st #u541-4 *,#widgetu526.fld-err-st #u527-4 *,#widgetu532.fld-err-st #u534-4 *,#widgetu557.fld-err-st #u559-4 *,#widgetu552.fld-err-st #u555-4 *,#widgetu562.fld-err-st #u565-4 *,#widgetu590.fld-err-st #u592-4 *,#widgetu585.fld-err-st #u588-4 *,#widgetu595.fld-err-st #u598-4 *,#widgetu623.fld-err-st #u625-4 *,#widgetu618.fld-err-st #u621-4 *,#widgetu628.fld-err-st #u631-4 *,#widgetu431.fld-err-st #u434-4 *,#widgetu419.fld-err-st #u420-4 *,#widgetu425.fld-err-st #u427-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu425_input,#widgetu425_prompt
{
	width: 367px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: '__PF DinText Pro_5';
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu738:hover #widgetu738_input,#widgetu738.focus-st #widgetu738_input,#widgetu738.fld-err-st #widgetu738_input,#widgetu738:hover #widgetu738_prompt,#widgetu738.focus-st #widgetu738_prompt,#widgetu738.fld-err-st #widgetu738_prompt,#widgetu752:hover #widgetu752_input,#widgetu752.focus-st #widgetu752_input,#widgetu752.fld-err-st #widgetu752_input,#widgetu752:hover #widgetu752_prompt,#widgetu752.focus-st #widgetu752_prompt,#widgetu752.fld-err-st #widgetu752_prompt,#widgetu538:hover #widgetu538_input,#widgetu538.focus-st #widgetu538_input,#widgetu538.fld-err-st #widgetu538_input,#widgetu538:hover #widgetu538_prompt,#widgetu538.fld-err-st #widgetu538_prompt,#widgetu526:hover #widgetu526_input,#widgetu526.focus-st #widgetu526_input,#widgetu526.fld-err-st #widgetu526_input,#widgetu526:hover #widgetu526_prompt,#widgetu526.fld-err-st #widgetu526_prompt,#widgetu532:hover #widgetu532_input,#widgetu532.focus-st #widgetu532_input,#widgetu532.fld-err-st #widgetu532_input,#widgetu532:hover #widgetu532_prompt,#widgetu532.fld-err-st #widgetu532_prompt,#widgetu557:hover #widgetu557_input,#widgetu557.focus-st #widgetu557_input,#widgetu557.fld-err-st #widgetu557_input,#widgetu557:hover #widgetu557_prompt,#widgetu557.fld-err-st #widgetu557_prompt,#widgetu552:hover #widgetu552_input,#widgetu552.focus-st #widgetu552_input,#widgetu552.fld-err-st #widgetu552_input,#widgetu552:hover #widgetu552_prompt,#widgetu552.fld-err-st #widgetu552_prompt,#widgetu562:hover #widgetu562_input,#widgetu562.focus-st #widgetu562_input,#widgetu562.fld-err-st #widgetu562_input,#widgetu562:hover #widgetu562_prompt,#widgetu562.fld-err-st #widgetu562_prompt,#widgetu590:hover #widgetu590_input,#widgetu590.focus-st #widgetu590_input,#widgetu590.fld-err-st #widgetu590_input,#widgetu590:hover #widgetu590_prompt,#widgetu590.fld-err-st #widgetu590_prompt,#widgetu585:hover #widgetu585_input,#widgetu585.focus-st #widgetu585_input,#widgetu585.fld-err-st #widgetu585_input,#widgetu585:hover #widgetu585_prompt,#widgetu585.fld-err-st #widgetu585_prompt,#widgetu595:hover #widgetu595_input,#widgetu595.focus-st #widgetu595_input,#widgetu595.fld-err-st #widgetu595_input,#widgetu595:hover #widgetu595_prompt,#widgetu595.fld-err-st #widgetu595_prompt,#widgetu623:hover #widgetu623_input,#widgetu623.focus-st #widgetu623_input,#widgetu623.fld-err-st #widgetu623_input,#widgetu623:hover #widgetu623_prompt,#widgetu623.fld-err-st #widgetu623_prompt,#widgetu618:hover #widgetu618_input,#widgetu618.focus-st #widgetu618_input,#widgetu618.fld-err-st #widgetu618_input,#widgetu618:hover #widgetu618_prompt,#widgetu618.fld-err-st #widgetu618_prompt,#widgetu628:hover #widgetu628_input,#widgetu628.focus-st #widgetu628_input,#widgetu628.fld-err-st #widgetu628_input,#widgetu628:hover #widgetu628_prompt,#widgetu628.fld-err-st #widgetu628_prompt,#widgetu431:hover #widgetu431_input,#widgetu431.focus-st #widgetu431_input,#widgetu431.fld-err-st #widgetu431_input,#widgetu431:hover #widgetu431_prompt,#widgetu431.focus-st #widgetu431_prompt,#widgetu431.fld-err-st #widgetu431_prompt,#widgetu419:hover #widgetu419_input,#widgetu419.focus-st #widgetu419_input,#widgetu419.fld-err-st #widgetu419_input,#widgetu419:hover #widgetu419_prompt,#widgetu419.focus-st #widgetu419_prompt,#widgetu419.fld-err-st #widgetu419_prompt,#widgetu425:hover #widgetu425_input,#widgetu425.focus-st #widgetu425_input,#widgetu425.fld-err-st #widgetu425_input,#widgetu425:hover #widgetu425_prompt,#widgetu425.focus-st #widgetu425_prompt,#widgetu425.fld-err-st #widgetu425_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu738.non-empty-st #widgetu738_prompt,#widgetu752.non-empty-st #widgetu752_prompt,#widgetu538.non-empty-st #widgetu538_prompt,#widgetu526.non-empty-st #widgetu526_prompt,#widgetu532.non-empty-st #widgetu532_prompt,#widgetu557.non-empty-st #widgetu557_prompt,#widgetu552.non-empty-st #widgetu552_prompt,#widgetu562.non-empty-st #widgetu562_prompt,#widgetu590.non-empty-st #widgetu590_prompt,#widgetu585.non-empty-st #widgetu585_prompt,#widgetu595.non-empty-st #widgetu595_prompt,#widgetu623.non-empty-st #widgetu623_prompt,#widgetu618.non-empty-st #widgetu618_prompt,#widgetu628.non-empty-st #widgetu628_prompt,#widgetu431.non-empty-st #widgetu431_prompt,#widgetu419.non-empty-st #widgetu419_prompt,#widgetu425.non-empty-st #widgetu425_prompt
{
	visibility: hidden;
}

#u402
{
	z-index: 237;
	width: 70px;
	background-color: transparent;
	position: fixed;
	bottom: 46px;
	left: 50%;
	margin-left: 480px;
}

.js #u402.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u436
{
	z-index: 286;
	height: 45px;
	border-color: #000000;
	background-color: #2E2E2E;
}

#u436-bw
{
	z-index: 286;
	margin-top: 22px;
	height: 45px;
}

@font-face
{
	font-family: '__Russo One_5';
	src: url('../fonts/russo_one.eot');
	src: local('☺'), url('../fonts/russo_one.woff') format('woff'), url('../fonts/russo_one.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__PF DinText Pro_5';
	src: url('../fonts/pfdintextpro-thin.eot');
	src: local('☺'), url('../fonts/pfdintextpro-thin.woff') format('woff'), url('../fonts/pfdintextpro-thin.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}