@font-face {
   font-family: 'bold';
   src: url('../fonts/gothaprobol-webfont.eot')/*tpa=http://hp-discount.ru/fonts/gothaprobol-webfont.eot*/;
   src: url('../fonts/gothaprobol-webfont.eot-#iefix')/*tpa=http://hp-discount.ru/fonts/gothaprobol-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/gothaprobol-webfont.woff')/*tpa=http://hp-discount.ru/fonts/gothaprobol-webfont.woff*/ format('woff'),
       url('../fonts/gothaprobol-webfont.ttf')/*tpa=http://hp-discount.ru/fonts/gothaprobol-webfont.ttf*/ format('truetype'),
       url('../fonts/gothaprobol-webfont.svg#gotham_probold')/*tpa=http://hp-discount.ru/fonts/gothaprobol-webfont.svg#gotham_probold*/ format('svg');
}
@font-face {
   font-family: 'light';
   src: url('../fonts/gothaprolig-webfont.eot')/*tpa=http://hp-discount.ru/fonts/gothaprolig-webfont.eot*/;
   src: url('../fonts/gothaprolig-webfont.eot-#iefix')/*tpa=http://hp-discount.ru/fonts/gothaprolig-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/gothaprolig-webfont.woff')/*tpa=http://hp-discount.ru/fonts/gothaprolig-webfont.woff*/ format('woff'),
       url('../fonts/gothaprolig-webfont.ttf')/*tpa=http://hp-discount.ru/fonts/gothaprolig-webfont.ttf*/ format('truetype'),
       url('../fonts/gothaprolig-webfont.svg#gotham_prolight')/*tpa=http://hp-discount.ru/fonts/gothaprolig-webfont.svg#gotham_prolight*/ format('svg');
}
@font-face {
   font-family: 'medium';
   src: url('../fonts/gothapromed-webfont.eot')/*tpa=http://hp-discount.ru/fonts/gothapromed-webfont.eot*/;
   src: url('../fonts/gothapromed-webfont.eot-#iefix')/*tpa=http://hp-discount.ru/fonts/gothapromed-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/gothapromed-webfont.woff')/*tpa=http://hp-discount.ru/fonts/gothapromed-webfont.woff*/ format('woff'),
       url('../fonts/gothapromed-webfont.ttf')/*tpa=http://hp-discount.ru/fonts/gothapromed-webfont.ttf*/ format('truetype'),
       url('../fonts/gothapromed-webfont.svg#gotham_promedium')/*tpa=http://hp-discount.ru/fonts/gothapromed-webfont.svg#gotham_promedium*/ format('svg');
}
@font-face {
   font-family: 'regular';
   src: url('../fonts/gothaproreg-webfont.eot')/*tpa=http://hp-discount.ru/fonts/gothaproreg-webfont.eot*/;
   src: url('../fonts/gothaproreg-webfont.eot-#iefix')/*tpa=http://hp-discount.ru/fonts/gothaproreg-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/gothaproreg-webfont.woff')/*tpa=http://hp-discount.ru/fonts/gothaproreg-webfont.woff*/ format('woff'),
       url('../fonts/gothaproreg-webfont.ttf')/*tpa=http://hp-discount.ru/fonts/gothaproreg-webfont.ttf*/ format('truetype'),
       url('../fonts/gothaproreg-webfont.svg#gotham_proregular')/*tpa=http://hp-discount.ru/fonts/gothaproreg-webfont.svg#gotham_proregular*/ format('svg');
}
@font-face {
   font-family: 'black';
   src: url('../fonts/gothaprobla-webfont.eot')/*tpa=http://hp-discount.ru/fonts/gothaprobla-webfont.eot*/;
   src: url('../fonts/gothaprobla-webfont.eot-#iefix')/*tpa=http://hp-discount.ru/fonts/gothaprobla-webfont.eot?#iefix*/ format('embedded-opentype'),
       url('../fonts/gothaprobla-webfont.woff')/*tpa=http://hp-discount.ru/fonts/gothaprobla-webfont.woff*/ format('woff'),
       url('../fonts/gothaprobla-webfont.ttf')/*tpa=http://hp-discount.ru/fonts/gothaprobla-webfont.ttf*/ format('truetype'),
       url('../fonts/gothaprobla-webfont.svg#gotham_problack')/*tpa=http://hp-discount.ru/fonts/gothaprobla-webfont.svg#gotham_problack*/ format('svg');
}