#QproductOneClickBuyModel_0_address {
background: url("../images/ico-deliv.png") no-repeat scroll left 12px top 9px #F3F3F3;
}

.btn {
    width: 200px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFF;
    border: medium none;
    font-family: "Roboto Condensed";
    background: -moz-linear-gradient(center top , #469BBE, #378C9E) repeat scroll 0% 0% transparent;
    height: 35px;
    border-radius: 0px;
    margin-left: -20px;
}

.btn:hover {
    background: -moz-linear-gradient(center top , #378C9E, #469BBE) repeat scroll 0% 0% transparent;
}

.btn-danger {
    width: 200px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFF;
    border: medium none;
    font-family: "Roboto Condensed";
    background: -moz-linear-gradient(center top , #469BBE, #378C9E) repeat scroll 0% 0% transparent;
    height: 35px;
    border-radius: 0px;
    margin-left: -20px;
}

.btn-danger:hover {
    background: -moz-linear-gradient(center top , #378C9E, #469BBE) repeat scroll 0% 0% transparent;
}

#QproductOneClickBuyModel_0_phone {
background: url("../images/ico-phone.png") no-repeat scroll left 10px top 10px #F3F3F3;
margin-bottom: 8px;
width: 200px;
margin-left: -20px;
}

.form input {
    background: url("../images/ico-name.png") no-repeat scroll left 10px top 9px #F3F3F3;
    margin-top: 11px;
width: 200px;
margin-left: -20px;
}

.well {
    min-height: 20px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    background: transparent;
padding-top: 0px;
}

.fancybox-inner .well {
    min-height: 20px;
    padding: 30px;
padding-left: 50px;
padding-right: 50px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px;
    background: #FFF;
}
.fancybox-inner #QproductOneClickBuyModel_0_phone {
    padding-left: 20px;
    width: 280px;
    height: 50px;
    background: none repeat scroll 0% 0% padding-box #FFF;
    display: block;
    margin: auto auto 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #DBDBDB;
font-family: "Roboto Condensed"
}

.fancybox-inner .form input {
    padding-left: 20px;
    width: 280px;
    height: 50px;
    background: none repeat scroll 0% 0% padding-box #FFF;
    display: block;
    margin: auto auto 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #DBDBDB;
font-family: "Roboto Condensed"
}

.fancybox-inner .btn:hover {
    background: #FFF;
}

.fancybox-inner .btn-danger {
    padding: 30px 40px;
    margin: 0px auto auto;
    background-color: #FFF5AF;
    box-sizing: border-box;
    height: 80px;
    color: #1E1E1E;
    text-shadow: 0px 0px 1px #AAA;
    display: block;
    font-family: "archiveregular";
    font-size: 24px;
    text-transform: uppercase;
    background-clip: padding-box;
    border-radius: 4px;
    letter-spacing: 1px;
    box-shadow: 0px -6px 0px rgba(160, 120, 20, 0.4) inset;
    background-image: linear-gradient(to bottom, #FFF5AF 0%, #FFBD00 100%);
    text-decoration: none;
width: 280px;
}

.fancybox-inner .btn-danger:hover { color: #000;   background-image: linear-gradient(to bottom, #ffa577 0%, #bd0909 100%);
  background-image: linear-gradient(to bottom, #FFBD00 0%, #FFF5AF 100%);
background-color: #ffa577;
 }

#qnits_copyright {
display: none;
}

@font-face {
    font-family: "archiveregular";
    src: url("../images/fonts/iphone/archive-webfont.eot");
    src: url("../images/fonts/iphone/archive-webfontd41d.eot?#iefix")format("embedded-opentype"),
    url("../images/fonts/iphone/archive-webfont.woff") format("woff"),
    url("../images/fonts/iphone/archive-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../images/fonts/iphone/RobotoCondensedBold.eot");
    src: url("../images/fonts/iphone/RobotoCondensedBoldd41d.eot?#iefix")format("embedded-opentype"),
    url("../images/fonts/iphone/RobotoCondensedBold.woff") format("woff"),
    url("../images/fonts/iphone/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
    src: url("../images/fonts/iphone/RobotoCondensedLight.eot");
    src: url("../images/fonts/iphone/RobotoCondensedLightd41d.eot?#iefix")format("embedded-opentype"),
    url("../images/fonts/iphone/RobotoCondensedLight.woff") format("woff"),
    url("../images/fonts/iphone/RobotoCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('../images/fonts/iphone/pfdintextcondpro-light.eot');
    src: url('../images/fonts/iphone/pfdintextcondpro-light.woff2') format('woff2'),
    url('../images/fonts/iphone/pfdintextcondpro-light.woff') format('woff'),
    url('../images/fonts/iphone/pfdintextcondpro-light.svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_prothin';
    src: url('../images/fonts/iphone/pfdintextcondpro-thin.eot');
    src: url('../images/fonts/iphone/pfdintextcondpro-thin.woff2') format('woff2'),
    url('../images/fonts/iphone/pfdintextcondpro-thin.woff') format('woff'),
    url('../images/fonts/iphone/pfdintextcondpro-thin.svg');
    font-weight: normal;
    font-style: normal;
}
    

/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 0px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/blank.html')
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/

/*
==============================================
slideDown
==============================================
*/


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	/*
		50%{
			transform: translateY(-100%);
		}
		65%{
			transform: translateY(-4%);
		}
		80%{
			transform: translateY(4%);
		}
		95%{
			transform: translateY(-2%);
		}		*/
	100% {
		transform: translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}

	/*
		50%{
			-webkit-transform: translateY(-100%);
		}
		65%{
			-webkit-transform: translateY(-4%);
		}
		80%{
			-webkit-transform: translateY(4%);
		}
		95%{
			-webkit-transform: translateY(-2%);
		}		*/
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideUp
==============================================
*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}

	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}

	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideExpandUp
==============================================
*/


.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
}

/*
==============================================
expandUp
==============================================
*/


.expandUp{
	animation-name: expandUp;
	-webkit-animation-name: expandUp;	

	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;		

	visibility: visible !important;	
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}	
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;



	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/*
==============================================
expandOpen
==============================================
*/


.expandOpen{
	animation-name: expandOpen;
	-webkit-animation-name: expandOpen;	

	animation-duration: 1.2s;	
	-webkit-animation-duration: 1.2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}

@keyframes expandOpen {
	0% {
		transform: scale(1.8);		
	}
	50% {
		transform: scale(0.95);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}			
}

@-webkit-keyframes expandOpen {
	0% {
		-webkit-transform: scale(1.8);		
	}
	50% {
		-webkit-transform: scale(0.95);
	}	
	80% {
		-webkit-transform: scale(1.05);
	}
	90% {
		-webkit-transform: scale(0.98);
	}	
	100% {
		-webkit-transform: scale(1);
	}					
}

/*
==============================================
bigEntrance
==============================================
*/


.bigEntrance{
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}

/*
==============================================
hatch
==============================================
*/

.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;

	animation-iteration-count: infinite;

	animation-duration: 4s;
	-webkit-animation-duration: 4s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 

	visibility: visible !important;		
}

@keyframes hatch {
	0% {
		transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		transform: rotate(2deg) scaleY(1);
	}
	50% {
		transform: rotate(-2deg);
	}	
	65% {
		transform: rotate(1deg);
	}	
	80% {
		transform: rotate(-1deg);
	}		
	100% {
		transform: rotate(0deg);
	}									
}

@-webkit-keyframes hatch {
	0% {
		-webkit-transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		-webkit-transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		-webkit-transform: rotate(2deg) scaleY(1);
	}
	50% {
		-webkit-transform: rotate(-2deg);
	}	
	65% {
		-webkit-transform: rotate(1deg);
	}	
	80% {
		-webkit-transform: rotate(-1deg);
	}		
	100% {
		-webkit-transform: rotate(0deg);
	}		
}


/*
==============================================
bounce
==============================================
*/


.bounce{
	animation-name: bounce;
	-webkit-animation-name: bounce;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 	
}

@keyframes bounce {
	0% {
		transform: translateY(0%) scaleY(0.6);
	}
	60%{
		transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		transform: translateY(0%) scaleY(1) scaleX(1);
	}	
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0%) scaleY(0.6);
	}
	60%{
		-webkit-transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		-webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		-webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		-webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		-webkit-transform: translateY(0%) scaleY(1) scaleX(1);
	}		
}


/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

/*
==============================================
floating
==============================================
*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

/*
==============================================
tossing
==============================================
*/

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

/*
==============================================
pullUp
==============================================
*/

.pullUp{
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
}

@keyframes pullUp {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

/*
==============================================
pullDown
==============================================
*/

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

/*
==============================================
stretchLeft
==============================================
*/

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

/*
==============================================
stretchRight
==============================================
*/

.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}


/* Basic jQuery Slider essential styles */

ul.bjqs {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: none;
}

li.bjqs-slide {
	position: absolute;
	display: none;
}

ul.bjqs-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
}

ul.bjqs-controls.v-centered li a {
	position: absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
	right: 0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
	left: 0;
}

ol.bjqs-markers {
	list-style: none;
	height: 20px;
	position: absolute;
	bottom: -100px;
	width: 100%;
	text-align: center;
}

ol.bjqs-markers.h-centered {

}

ol.bjqs-markers li {
	display: inline-block;
	margin: 0 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #f0f0f0;
	width: 16px;
	height: 16px;
	transition: all 0.2s;
	overflow: hidden;
}

ol.bjqs-markers li a {
	display: block;
	width: 16px;
	height: 16px;
	opacity: 0;
	overflow: hidden;
	text-indent: -99px;
}

ol.bjqs-markers li.active-marker{
	background-color:  #23a5d2;
	border: none;
}

ol.bjqs-markers li:hover{
	background-color:  #23a5d2;
}


p.bjqs-caption {
	display: block;
	width: 96%;
	margin: 0;
	padding: 2%;
	position: absolute;
	bottom: 0;
}

body{
	min-width: 320px;
}


.grid {
	max-width: 1000px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
	position: relative;
	z-index: 1;
}


.col{
	display: inline-block;
	vertical-align: top;
}

.col+.col{
	margin-left: 3%;
}

.col img{
	display: block;
}



.col1 { width: 5.21%; }
.col2 { width: 13.8%; }
.col3 { width: 22%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; }

/* first breakpoint */

@media all and (max-width: 1000px) {


	.col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
		width: 90%;
		margin: 0 auto 20px;
		padding: 10px;
	}

	.col1, .col2, .col3, .col4{
		margin: 0 auto 30px;
		width: 48%;
	}
	.grid{
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
    .col+.col{
	    margin-left: auto;
	    margin-right: auto;
    }
}

@media all and (max-width: 640px) {
	.grid{
		padding-left: 5px;
		padding-right: 5px;
	}
    .col1, .col2, .col3, .col4{
		width: 90%;
	}
}




/* common styles */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
input {
  outline: none;
}

.featured_grid .featured_item {
    margin: 10px !important;
}

header,
.main,
footer {
  overflow: hidden;
}
header {
  padding-top: 90px;
  background: url("../images/header-bg.jpg") repeat top center;
  background-size: cover;
}
.header-main-copy {
  padding-top: 20px;
  background: url("../images/header-bg.jpg") no-repeat top center;
  background-size: cover;
}
.fixed-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav-container {
  height: 90px;
  background-color: rgba(30, 30, 30, 0.9);
}
.nav-container nav {
  vertical-align: middle;
  display: inline-block;
}
.nav-container li {
  display: inline-block;
  margin-right: 20px;
  line-height: 88px;
  vertical-align: middle;
}
.nav-container li a {
  color: #ffffff;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.nav-container li span {
  color: #23a5d2;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.nav-container li:last-child {
  margin-right: 0;
}
.nav-container .telephone {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
	float:right;
}
.nav-container .telephone p {
  display: inline-block;
  vertical-align: middle;
}
.nav-container .telephone .tel-number {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  margin-right: 25px;
}
.nav-container .telephone .modal-link {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 17px 14px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  display: block;
}
.main-title {
  text-align: center;
  margin: 70px 0 40px;
}
.main-title h1 {
  color: #ffffff;
  font-size: 92px;
  font-family: 'Myriad-Pro-Light-SemiCondensed', sans-serif;
  margin-bottom: 40px;
}
.main-title h1 span {
  color: #ffffff;
  font-size: 36px;
  display: block;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
}
.main-title .slogan {
  color: #ffffff;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 30px;
  max-width: 605px;
  margin: 0 auto;
}
.main-img {
  position: relative;
}
.rounds {
  overflow: hidden;
}
.price {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff5a3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2d5a), to(#ff5a3c));
  background: -webkit-linear-gradient(top, #ff2d5a, #ff5a3c);
  background: -moz-linear-gradient(top, #ff2d5a, #ff5a3c);
  background: -ms-linear-gradient(top, #ff2d5a, #ff5a3c);
  background: -o-linear-gradient(top, #ff2d5a, #ff5a3c);
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  padding-top: 40px;
  margin-left: 180px;
}
.price .old-price {
  display: block;
  color: #b4281e;
  font-size: 30px;
  text-decoration: line-through;
  font-family: 'pf_din_text_cond_proregular', sans-serif;
}
.price .new-price {
  color: #ffffff;
  font-size: 60px;
  display: block;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
}
.price .new-price:after {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 3px;
}
.hit {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 196px;
  height: 196px;
  text-align: center;
  padding-top: 58px;
  float: right;
  margin-right: 70px;
}
.hit span {
  text-transform: uppercase;
  color: #752d8f;
  font-size: 60px;
  font-family: 'pf_din_text_cond_proXBlk', sans-serif;
}
.iphone-main-img {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.iphone-main-img img {
  max-width: 100%;
}
.iphone-tabs {
  overflow: hidden;
}
.iphone-tabs .tabs-nav {
  float: right;
  position: relative;
  z-index: 30;
  margin-top: 37px;
  text-align: center;
  margin-bottom: 55px;
}
.iphone-tabs .tabs-nav h3 {
  color: #8264b9;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  margin-bottom: 15px;
}
.iphone-tabs .tabs-nav li {
  display: inline-block;
  width: 100px;
  height: 80px;
  margin: 0 10px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid rgba(247, 247, 247, 0.2);
  text-align: center;
}
.iphone-tabs .tabs-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.iphone-tabs .tabs-nav li.active {
  border: 2px solid #f7f7f7;
}
.iphone-tabs .tabs-nav .tabs-nav-item1 a {
  background: url("../images/black-bullet.png") no-repeat center 21px;
}
.iphone-tabs .tabs-nav .tabs-nav-item2 a {
  background: url("../images/gold-bullet.png") no-repeat center 21px;
}
.iphone-tabs .tabs-nav .tabs-nav-item3 a {
  background: url("../images/white-bullet.png") no-repeat center 21px;
}
.form-container {
  text-align: right;
  padding-bottom: 75px;
  position: relative;
  z-index: 40;
}
.form-container .counter {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}
.form-container .counter h3 {
  color: #8c5a96;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  margin-bottom: 17px;
  text-align: center;
}
.form-container .counter span {
  display: inline-block;
  margin: 0 5px 15px;
  background: url("../images/counter-bg.png") no-repeat;
  width: 60px;
  height: 70px;
  line-height: 69px;
  text-align: center;
  color: #3c3c3c;
  font-size: 48px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
}
.form-container .form {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}
.form-container .form h3 {
  color: #ffffff;
  font-size: 36px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  margin-bottom: 17px;
  text-align: center;
}
.form-container .form .text-field {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #444444;
  background-color: rgba(255, 255, 255, 0.2);
  width: 155px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  padding: 15px 19px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.form-container .form .send {
  background-color: #23bed2;
  background: -webkit-gradient(linear, left top, left bottom, from(#286ef0), to(#23bed2));
  background: -webkit-linear-gradient(top, #286ef0, #23bed2);
  background: -moz-linear-gradient(top, #286ef0, #23bed2);
  background: -ms-linear-gradient(top, #286ef0, #23bed2);
  background: -o-linear-gradient(top, #286ef0, #23bed2);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-family: 'pf_highway_sans_probold', sans-serif;
  border: none;
  border-bottom: 4px solid #194fbf;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
  padding: 18px 26px 19px;
  cursor: pointer;
  height: 70px;
  margin-bottom: 15px;
}
.form-container .form .send:hover {
  background: #23bed2;
}
.form-container .form .send:active {
  background: #286ef0;
}
section h2 {
  text-align: center;
  color: #1e1e1e;
  font-size: 72px;
  font-family: 'Myriad-Pro-Light-SemiCondensed', sans-serif;
}
section .section-slogan {
  color: #1e1e1e;
  font-size: 36px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  text-align: center;
  margin-bottom: 35px;
}
.info-1 {
  padding: 0px 0 70px;
}
.wrapper-360 .img-container {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding-right: 30px;
  overflow: hidden !important;
}
.wrapper-360 .img-container img {
  /* ------ îòðåäàêòèðîâàòü ïðè çàìåíå èçîáðàæåíèé â ðàñêàäðîâêå */
  max-width: 800px !important;
  width: 800px;
  position: relative;
  left: -250px;
}
.wrapper-360 .info-360 {
  width: 170px;
  display: inline-block;
  vertical-align: top;
  padding-top: 35px;
  padding-left: 20px;
}
.wrapper-360 .info-360 .info-img-360 {
  display: block;
  width: 140px;
  height: 160px;
  text-align: center;
  padding-top: 65px;
  color: #1e1e1e;
  font-size: 48px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  background: url("../images/360.png") no-repeat;
  margin-bottom: 21px;
}
.wrapper-360 .info-360 .info-text-360 {
  color: #787878;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 18px;
  padding: 0 10px 10px 20px;
  text-align: left;
  display: block;
}
.video-wrapper {
  padding-top: 19px;
  max-width: 500px;
  margin: 0 auto;
}
.video-wrapper .video-text {
  color: #1e1e1e;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 30px;
  margin-bottom: 34px;
}
.video-wrapper .video-img {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.video-wrapper .video-img img {
  display: block;
  max-width: 100%;
}
.video-wrapper .video-img:after{
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background: black;
top: 0px;
content: "3";
opacity: 0.3;
transition:0.2s all;
cursor:pointer;
}
.video-wrapper .video-img:hover:after{
	opacity:0;
	transition:0.2s all;
}
.video-wrapper .video-img .video-play-text {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  top: 52px;
  text-align: center;
  left: 50%;
}
.video-wrapper .video-img .video-play-text span {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  margin-bottom: 19px;
}
.video-wrapper .video-img .video-play-text a.play {
  display: block;
  background: url("../images/play.png") no-repeat;
  background-size: 100%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
.info-2 {
  padding-bottom: 40px;
}
.info-2 .iphone-text {
  color: #1e1e1e;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 26px;
  margin-bottom: 22px;
  text-align: left;
}
.info-2 .modal-link {
  display: inline-block;
  text-decoration: underline;
  color: #23a5d2;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  margin-bottom: 20px;
}
.info-2 .modal-link:before {
  background: url("../images/more-icon.png") no-repeat left center;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 21px;
  text-decoration: none;
  content: '';
}
.info-2 .abs-info-1,
.info-2 .abs-info-2 {
  position: absolute;
  color: #1e1e1e;
  font-size: 60px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  line-height: 25px;
}
.info-2 .abs-info-1 .small,
.info-2 .abs-info-2 .small {
  color: #787878;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  text-transform: uppercase;
}
.info-2 .abs-info-1 .small2,
.info-2 .abs-info-2 .small2 {
  color: #1e1e1e;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.iphone-text-block-1 {
  padding-top: 20px;
}
.iphone-text-block-1 .col7 {
  padding-right: 40px;
}
.iphone-text-block-1 .img-block1 {
  position: relative;
  background: url("../images/iphone-1.png") no-repeat bottom right;
  min-height: 550px;
  margin-top: -30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.iphone-text-block-1 .img-block1 .abs-info-1 {
  top: 80px;
  left: 0;
}
.iphone-text-block-1 .img-block1 .abs-info-2 {
  top: 290px;
  left: 0;
}
.iphone-text-block-2 {
  margin-bottom: 140px;
  background: #f3f3f3;
}
.iphone-text-block-2 .grid {
  overflow: visible;
}
.iphone-text-block-2 .col8 {
  padding-right: 40px;
}
.iphone-text-block-2 .col4 {
  padding-top: 40px;
}
.iphone-text-block-2 .img-block2 {
  position: relative;
  background: url("../images/iphone-2.png") no-repeat top left;
  min-height: 500px;
  margin-top: -20px;
  margin-left: -70px;
  margin-bottom: -70px;
  max-width: 640px;
  margin-right: auto;
  background-size: cover;
}
.iphone-text-block-2 .img-block2 .abs-info-1 {
  top: 100px;
  right: 35px;
  min-width: 230px;
}
.iphone-text-block-3 {
  padding-top: 20px;
}
.iphone-text-block-3 .grid {
  overflow: visible;
}
.iphone-text-block-3 .col7 {
  padding-right: 40px;
}
.iphone-text-block-3 .img-block1 {
  position: relative;
  background: url("../images/iphone-3.png") no-repeat bottom right;
  min-height: 525px;
  margin-top: -50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.iphone-text-block-3 .img-block1 .abs-info-1 {
  top: 115px;
  left: 0;
}
.iphone-text-block-3 .img-block1 .abs-info-2 {
  top: 335px;
  left: 0;
}
.info-3 {
  background: url("../images/q-bg-gradient.png") no-repeat top center;
  background-size: cover;
  padding-top: 70px;
}
.info-3 .col.col4 {
  vertical-align: middle;
}
.info-3 li {
  text-align: left;
  margin: 20px 0;
  height: 100px;
  color: #3c3c3c;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  display: table;
  vertical-align: middle;
  padding-left: 119px;
}
.info-3 li span {
  display: table-cell;
  vertical-align: middle;
}
.info-3 .item-1 {
  background: url("../images/q-1.png") no-repeat left center;
}
.info-3 .item-2 {
  background: url("../images/q-2.png") no-repeat left center;
}
.info-3 .item-3 {
  background: url("../images/q-3.png") no-repeat left center;
}
.info-3 .item-4 {
  background: url("../images/q-4.png") no-repeat left center;
}
.info-3 .item-5 {
  background: url("../images/q-5.png") no-repeat left center;
}
.info-3 .item-6 {
  background: url("../images/q-6.png") no-repeat left center;
}
.info-4 {
  padding: 0px 0 40px;
}
.info-4 .t-row {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px 19px;
  overflow: hidden;
  text-align: left;
}
.info-4 .t-row .t-cell-title {
  width: 164px;
  float: left;
  color: #787878;
  font-size: 18px;
  line-height: 2em;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.info-4 .t-row .t-cell-text {
  margin-left: 180px;
  color: #1e1e1e;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 2em;
  display: block;
}
.info-4 .t-row:nth-child(odd) {
  background: #f3f3f3;
}
.works {
  background: #f3f3f3;
  padding: 87px 0 83px;
}
.works h2 {
  margin-bottom: 26px;
}
.works .col3 {
  text-align: center;
  padding: 0 38px;
}
.works .col3 img {
  display: inline-block;
  margin-bottom: 19px;
}
.works .col3 p {
  color: #1e1e1e;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 24px;
}
.comments {
  padding: 90px 0 160px;
}
.comments h2 {
  margin-bottom: 44px;
}
.comments .grid {
  overflow: visible;
}
.comments .comment {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
}
.comments .comment .comment-img {
  width: 140px;
  overflow: hidden;
  float: left;
  margin-right: 40px;
}
.comments .comment .comment-img img {
  max-width: 100%;
}
.comments .comment .comment-inner {
  width: auto;
  margin-left: 181px;
  text-align: left;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background: #f3f3f3;
  padding: 30px;
  position: relative;
}
.comments .comment .comment-inner:before {
  background: url("../images/comment-angle.png") no-repeat;
  width: 20px;
  height: 30px;
  content: '';
  position: absolute;
  left: -20px;
  top: 55px;
}
.comments .comment .comment-inner .comment-text {
  color: #1e1e1e;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 30px;
  margin-bottom: 19px;
}
.comments .comment .comment-inner .comment-author {
  color: #23a5d2;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.header-main-copy .send-copy {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #23bed2;
  background: -webkit-gradient(linear, left top, left bottom, from(#286ef0), to(#23bed2));
  background: -webkit-linear-gradient(top, #286ef0, #23bed2);
  background: -moz-linear-gradient(top, #286ef0, #23bed2);
  background: -ms-linear-gradient(top, #286ef0, #23bed2);
  background: -o-linear-gradient(top, #286ef0, #23bed2);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  border: none;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-family: 'pf_highway_sans_probold', sans-serif;
  border-bottom: 4px solid #194fbf;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
  padding: 18px 64px 19px;
  height: 70px;
  margin-bottom: 15px;
}
.header-main-copy .send-copy:hover {
  background: #23bed2;
}
.header-main-copy .send-copy:active {
  background: #286ef0;
}
.header-main-copy .to-video-link {
  display: inline-block;
  margin-right: 60px;
  margin-left: 60px;
  background: url("../images/video-to-modal.png") no-repeat left center;
  padding-left: 40px;
  margin-bottom: 32px;
}
.header-main-copy .to-video-link a {
  color: #ffffff;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  text-decoration: underline;
  display: block;
}
.other-products {
  padding: 90px 0 60px;
  text-align:center;
}
.other-products h2 {
  margin-bottom: 64px;
}
.other-products .product-form {
  border: 2px solid #f0ebe1;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 15px 10px;
  text-align: center;
  position: relative;
}
.other-products .product-form .product-img {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0 15px 20px;
}
.other-products .product-form .product-img img {
  max-width: 100%;
}
.other-products .product-form .product-form-cont {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 20px;
  text-align: left;
}
.other-products .product-form .product-form-cont .sale {
  position: absolute;
  border-radius: 2px;
  background-color: #000000;
  width: 50px;
  height: 50px;
  right: -24px;
  top: -24px;
  text-align: center;
  line-height: 48px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
.other-products .product-form .product-form-cont h3 {
  color: #1ebefa;
  font-size: 30px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  margin-bottom: 10px;
}
.other-products .product-form .product-form-cont .new-price {
  color: #000000;
  font-size: 36px;
  font-family: 'pf_din_text_cond_proregular', sans-serif;
  margin-bottom: 5px;
}
.other-products .product-form .product-form-cont .new-price:after {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 3px;
}
.other-products .product-form .product-form-cont .old-price {
  color: #787878;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  text-decoration: line-through;
  margin-bottom: 9px;
}
.other-products .product-form .product-form-cont .product-text {
  color: #1e1e1e;
  font-size: 14px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 18px;
}
.other-products .product-form .product-form-cont .modal-link {
  color: #1ebefa;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 18px;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 13px;
}
.other-products .product-form .product-form-cont .text-field {
  display: block;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #787878;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  padding: 15px 18px;
  background: #eee;
  border: 1px solid #dadada;
  margin-bottom: 10px;
}
.other-products .product-form .product-form-cont .send {
  display: block;
  width: 100%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  height: 55px;
  cursor: pointer;
  background: #ee631e;
}
footer {
  padding: 22px 10px;
  text-align: center;
  background: #3c3c3c;
}
footer p {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 24px;
}
footer p a {
  display: inline-block;
  margin: 0 5px;
  color: #1ebefa;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  line-height: 24px;
  text-decoration: underline;
}
#form {
  display: none;
}
#form {
  max-width: 400px;
  min-width: 250px;
  padding: 30px;
}
#form h3 {
  margin-bottom: 20px;
  color: #444444;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
}
#form .text-field {
  display: block;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #787878;
  font-size: 16px;
  font-family: 'pf_din_text_cond_prolight', sans-serif;
  padding: 15px 18px;
  background: #eee;
  border: 1px solid #dadada;
  margin-bottom: 10px;
}
#form .send {
  display: block;
  width: 100%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-family: 'pf_din_text_cond_prothin', sans-serif;
  height: 55px;
  cursor: pointer;
  background: #ee631e;
}
.menu-icon {
  display: none;
}
/*

 responsive styles

 */
.scroll{
	float:left;
}
@media all and (min-width: 475px){
.scroll{
	text-align: left;
}
}
.header1{
	margin-top:100px;
}
@media all and (max-width: 1030px) {
	.nav-container li{
		line-height: 50px !important;
	}
	.telephone{
		margin-top:0px !important;
	}
	.nav-container .grid .col{
		margin-bottom:0px !important;
		padding-bottom: 2px;
	}
	.fixed-block {
		display: block;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 65px;
	}
	.fixed-block li.nav-li{
		display: none;
	}
	.fixed-block .header-price{
		display:none !important;
	}
	.menu-icon {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(30, 30, 30, 0.9) url("../images/menu.html") 10px center no-repeat;
		width: 100%;
		height: 30px;
		z-index: 1000;
	}
	header {
		padding-top: 0;
	}
	.fixed-block nav {
		text-align: center;
	}
	.fixed-block nav li {
		line-height: 48px;
		margin: 0 15px;
	}
	.nav-container .telephone {
		text-align: center;
	}
	.rounds {
		text-align: center;
	}
	.price,
	.hit {
		margin: 50px;
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
	.iphone-main-img {
		position: relative;
		display: block;
		width: 100%;
		margin: 20px auto;
		padding: 0 10px;
	}
	.iphone-tabs {
		text-align: center;
	}
	.iphone-tabs .tabs-nav {
		float: none;
	}
	.form-container {
		text-align: center;
	}
	.info-2 .col.col5,
	.info-2 .col.col7 {
		margin-bottom: 0;
	}
	.iphone-text-block-2 {
		margin-bottom: 40px;
	}
	.iphone-text-block-2 .img-block2 {
		position: relative;
		min-height: 500px;
		margin-top: 20px;
		margin-left: 20px;
		margin-bottom: 5px;
		background-size: 100%;
	}
	.iphone-text-block-3 .img-block1 {
		margin-top: 15px;
	}
	.col.col4.gold-iphone-img {
		display: none;
	}
}


@media all and (max-width: 640px) {
	.nav-container .grid .col{
		margin-bottom:20px !important;
	}
	.nav-container li{
		line-height: 16px !important;
	}
	.scroll{
		float:none !important;
	}
	.telephone{
		float:left !important;
	}
	.header1{
		margin-top:130px !important;
	}
	.percent{
		margin-top:0 !important;
	}
}

@media all and (max-width: 640px) {
  .price,
  .hit {
    margin: 20px;
    float: none;
  }
  .wrapper-360 .img-container {
    padding: 20px;
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  section h2 {
    font-size: 40px;
  }
  section .section-slogan {
    font-size: 28px;
  }
  .info-2 .col.col5,
  .info-2 .col.col7 {
    background-size: 50%;
  }
  .info-2 .modal-link {
    font-size: 13px;
  }
  .iphone-text-block-2 {
    margin-bottom: 20px;
  }
  .iphone-text-block-2 .col8 {
    padding-right: 10px;
  }
  .iphone-text-block-2 .img-block2 {
    max-width: 100%;
    min-height: 430px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .iphone-text-block-2 .img-block2 .abs-info-1 {
    top: 30px;
    right: -40px;
    font-size: 40px;
    line-height: 25px;
  }
  .iphone-text-block-2 .img-block2 .abs-info-1 .small {
    font-size: 17px;
  }
  .iphone-text-block-2 .img-block2 .abs-info-1 .small2 {
    font-size: 20px;
  }
  .info-4-img {
    width: 50%;
    margin: 5px auto;
  }
  .info-4 .t-row .t-cell-title {
    display: block;
    float: none;
  }
  .info-4 .t-row .t-cell-text {
    margin-left: 0;
    line-height: 1.4em;
    color: #000;
  }
  .comments {
    padding: 30px 0 80px;
  }
  .comments .comment .comment-img {
    width: 70px;
    margin-right: 20px;
  }
  .comments .comment .comment-inner {
    margin-left: 91px;
    padding: 10px;
  }
  .comments .comment .comment-inner:before {
    top: 15px;
  }
  .comments .comment .comment-inner .comment-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .comments .comment .comment-inner .comment-author {
    font-size: 18px;
  }
  .comments ol.bjqs-markers {
    bottom: -35px;
  }
}
@media all and (max-width: 480px) {
  .nav-container .telephone .tel-number {
    margin-bottom: 15px;
    margin-left: 25px;
  }
  .video-wrapper .video-img .video-play-text {
    width: 100px;
    margin-left: -50px;
    top: 22px;
    left: 50%;
  }
  .video-wrapper .video-img .video-play-text span {
    font-size: 18px;
    margin-bottom: 19px;
  }
  .video-wrapper .video-img .video-play-text a.play {
    width: 80px;
    height: 80px;
  }
  .iphone-text-block-1 .col7 {
    padding-right: 10px;
  }
  .iphone-text-block-1 .img-block1 {
    min-height: 370px;
  }
  .iphone-text-block-1 .img-block1 .abs-info-1 {
    top: 40px;
  }
  .iphone-text-block-1 .img-block1 .abs-info-2 {
    top: 190px;
  }
  .iphone-text-block-3 .col7 {
    padding-right: 10px;
  }
  .iphone-text-block-3 .img-block1 {
    min-height: 370px;
  }
  .iphone-text-block-3 .img-block1 .abs-info-1 {
    top: 40px;
  }
  .iphone-text-block-3 .img-block1 .abs-info-2 {
    top: 190px;
  }
  .info-2 .modal-link:before {
    margin-right: 5px;
  }
  .iphone-text-block-2 .img-block2 {
    min-height: 320px;
  }
  .comments .comment .comment-inner .comment-text {
    line-height: 18px;
    font-size: 14px;
  }
  .comments .comment .comment-inner .comment-author {
    font-size: 14px;
  }
  .other-products .product-form .product-form-cont {
    width: 210px;
  }
  .other-products .product-form {
    min-width: 260px;
  }
}


#fancybox-buttons {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 8050;
}

#fancybox-buttons.top {
	top: 10px;
}

#fancybox-buttons.bottom {
	bottom: 10px;
}

#fancybox-buttons ul {
	display: block;
	width: 166px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	border: 1px solid #111;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	   -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	background: rgb(50,50,50);
	background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
	background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#fancybox-buttons a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-image: url('../images/fancybox_buttons.png');
	background-repeat: no-repeat;
	outline: none;
	opacity: 0.8;
}

#fancybox-buttons a:hover {
	opacity: 1;
}

#fancybox-buttons a.btnPrev {
	background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
	background-position: -33px 0;
	border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
	background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
	background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
	background-position: 3px -60px;
	border-left: 1px solid #111;
	border-right: 1px solid #3e3e3e;
	width: 35px
}

#fancybox-buttons a.btnToggleOn {
	background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
	border-left: 1px solid #111;
	width: 35px;
	background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
	opacity : 0.4;
	cursor: default;
}

#fancybox-thumbs {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
}

#fancybox-thumbs.bottom {
	bottom: 2px;
}

#fancybox-thumbs.top {
	top: 2px;
}

#fancybox-thumbs ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#fancybox-thumbs ul li {
	float: left;
	padding: 1px;
	opacity: 0.5;
}

#fancybox-thumbs ul li.active {
	opacity: 0.75;
	padding: 0;
	border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
	opacity: 1;
}

#fancybox-thumbs ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #222;
	background: #111;
	outline: none;
}

#fancybox-thumbs ul li img {
	display: block;
	position: relative;
	border: 0;
	padding: 0;
}
.__apishopsFormFeaturedFormContainer__{
        text-align:center;
    }
    .lightbox {
        display: none;
        padding: 20px;
    }
    #featuredFormInsertContainerClosest h3.title {
        font-size: 200%;
        padding: 5% 3% 3%;
    }
    .footer_links a {
    }
    .footer_links.footer_links_min img {
        width: 566px !important;
    }
    .footer_links.footer_links_black a {
        color: black;
    }
    .footer_links.footer_links_black {
        color: black;
    }
    #video_modal iframe,#video_modal2 iframe,#video_modal3 iframe,#video_modal4 iframe {
        width: 100%;
    }
    .giftmorebutton{
        background: none repeat scroll 0% 0% transparent;
        border-radius: 5px;
        border: 2px solid;
        padding: 3px 14px;
    }
    .finishPageBlockClose1 {
        cursor: pointer;
        display: inline-block;
        height: 30px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-indent: 100%;
        top: 10px;
        transform: rotate(0deg);
        transition: transform 0.3s ease 0s, visibility 0s ease 0.3s;
        visibility: visible;
        white-space: nowrap;
        width: 30px;
        z-index: 999999;
    }
    .finishPageBlockClose1:before, .finishPageBlockClose1:after {
        backface-visibility: hidden;
        background: none repeat scroll 0 0 #47374e;
        content: "";
        display: inline-block;
        height: 4px;
        left: 5px;
        position: absolute;
        top: 12px;
        width: 20px;
    }
    .finishPageBlockClose1:before {
        transform: rotate(45deg);
    }
    .finishPageBlockClose1:after {
        transform: rotate(135deg);
    }


            .finishPageBlockClose2 {
              display: block;

            }

            .finishPageBlockClose2 a{
                border: 2px solid;
                border-radius: 25px;
                color: rgb(94, 92, 92);
                display: inline-block;
                line-height: 20px;
                padding: 11px 25px 9px 25px;
                text-decoration: none;
                margin: 30px 0px 0px;
                font-size: 15px;
            }

    .finishPageBlock a {
        color: #0095FF;
    }
    .finishPageBlock h1, .finishPageBlock h2, .finishPageBlock div, .finishPageBlock p, .finishPageBlock b, .finishPageBlock td {
        color: black;
    }
    .footer_links.footer_links_white a {
        color: white;
    }
    .footer_links.footer_links_center {
        text-align: center;
    }
    .footer_links.footer_links_hr {
            border-top: 1px solid #C9C9C9;
        padding-top: 30px;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .footer_links.footer_links_mobile img {
        max-width:100%;
    }
    .footer_links.footer_links_white {
        color: white;
    }
    .footer_links {
        clear: both;
        font-size: 11px;
    }
    .finishPageBlockOverlay {
        content: "";
        background: rgba(0, 0, 0, 0.48);
        position: fixed;
        z-index: 3000;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .featured__more {
        clear: both;
        display: block;
        padding: 20px;
    }
    .finishPageBlock {
        display: block;
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        background: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.42);
        overflow: hidden;
        z-index: 3001;
        color: black;
    }


    @media (min-width: 991px) and (max-width: 1280px) {
        .finishPageBlock{
            left: 10px;
            right: 10px;
            top: 100px;
        }
        .addptable tr td{
            padding-left: 0px;
        }
    }
    @media (min-width: 767px) and (max-width: 991px){
        .apishopsFormButton.apishopsFormBuy.apishopsFormBuySmall {
            margin-left: -60px  !important;
            transform: scale(0.7) !important;
        }
    }
    @media (max-width: 767px) {
       .apishopsFormButton.apishopsFormBuy.apishopsFormBuySmall {
            margin-left: -60px  !important;
            transform: scale(0.6) !important;
        }
    }

    @media (max-width: 991px) {
        .finishPageBlock{
            left: 10px;
            right: 10px;
            top: 100px;
            padding: 15px;
        }
        .addptable tr td{
            padding-left: 0px;
        }

    }


html, body {margin:0; padding:0; color:#000000; font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif; font-size: 18px;}
body {background: #fff;}
.container {width:100%;}
h1, h2, h3, h4{font-weight: 400;}
h3{font-size: 25px;font-weight: 300;}
img, a img {border:0;}
a{color: #9e0b0f;}
.wrap {width:940px; padding:0px 0px; margin:0 auto; margin-top: 0px;}
.header .wrap {width:940px; padding:0px 0px; margin:0 auto; margin-top: 90px;}
.clear {clear:both;}
.left {float:left; font-family: "RobotoCondensedBold";}
.right {float:right;}
.center{text-align: center;}
input[type="text"]{
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
button, .button{
  width: 240px;
  display:block;
  text-decoration: none;
  text-align: center;
  cursor:pointer;
  line-height: 33px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  border:none;
  font-family: 'Roboto Condensed';
  background:#469bbe;
  background: -webkit-linear-gradient(top, #469bbe, #378c9e);
  background: -moz-linear-gradient(top, #469bbe, #378c9e);
  background: -ms-linear-gradient(top, #469bbe, #378c9e);
  background: -o-linear-gradient(top, #469bbe, #378c9e);
}
button:hover, .button:hover {
  background:#378c9e;
  background: -webkit-linear-gradient(top, #378c9e, #469bbe);
  background: -moz-linear-gradient(top, #378c9e, #469bbe);
  background: -ms-linear-gradient(top, #378c9e, #469bbe);
  background: -o-linear-gradient(top, #378c9e, #469bbe);
}

form{width:240px;border:none;text-align: left;position: relative;background: rgba(36,36,36,0.9);padding: 18px 20px 25px 20px;margin-top: 54px;}
form input {width:100%; line-height: 35px; height: 35px; border:0px;margin:10px 0; text-indent:34px; font-size: 15px;background-color:#f3f3f3;}
form input.name {background: #f3f3f3 url(../images/ico-name.png) no-repeat left 10px top 9px;margin-top: 11px;}
form input.address {background: #f3f3f3 url(../images/ico-deliv.png) no-repeat left 12px top 9px;}
form input.phone {background: #f3f3f3 url(../images/ico-phone.png) no-repeat left 10px top 10px;margin-bottom: 8px;}
form button{width: 100%;margin: 14px 0 1px 0;}

form input::-webkit-input-placeholder {color:#a9a9a9;font-size: 15px;} /* WebKit browsers */
form input:-moz-placeholder {color:#a9a9a9;font-size: 15px;} /* Mozilla Firefox 4 to 18 */
form input::-moz-placeholder {color:#a9a9a9;font-size: 15px;} /* Mozilla Firefox 19+ */
form input:-ms-input-placeholder {color:#a9a9a9;font-size: 15px;} /* Internet Explorer 10+ */

form h4{font-size: 19px;font-family: 'Roboto Condensed';color: #fff;text-align: center;margin: 0px 0 10px 0;line-height: 23px;font-weight: 700;}
form a.coupon{color: #a9a9a9;font-size: 15px;text-decoration: none;border-bottom: 1px dashed;}
form a.coupon:hover{border-bottom: none;}

.nav-wrp{background-color: #212121;overflow: hidden;padding: 8px 0 8px 0;}
.nav {list-style: none;margin: 0 0 0 -15px;padding: 0;}
.nav li{float: left;padding: 0 15px;border-right: 1px solid #404040;}
.nav li:last-child{border:none;}
.nav a{color: #fefefe;font-size: 14px;text-decoration: none;text-transform: uppercase;font-family:Arial, Helvetica}
.nav a:hover{color: #398da1;}

.header{
	width:100%;
	padding: 10px 0;

	background: url(../images/bg-3-k.jpg) 100% 100% no-repeat;
	background-size: cover;




	color:#fff; margin-top: 0px;
}
.footer {
width:100%;height: 605px;padding: 10px 0;background: url(../images/bg.jpg)no-repeat center top;color:#fff; margin-top: 0px;
}
.header h1, .footer h2{font-size: 62px;font-weight: 300;margin: 10px 0 5px 0;color: #000000;font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;}
.header h1 span, .footer h2 span{font-weight: 700;font-size: 60px;}
.hbl-l{width: 620px;}
.hbl-r{}

.iphone-main {
	text-align: center;z-index: 100;width: 320px;height: 400px;
	margin-left:auto;
	margin-right:auto;
}
.iphone{position: relative;z-index: 200;width: 320px;height: 400px;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.iphone.silver{background:url(../images/iphone-silver.png)no-repeat left top;}
.iphone.gold{background:url(../images/iphone-gold.png)no-repeat left top;}
.iphone.gray{background:url(../images/iphone-gray.png)no-repeat left top;}
.colors-main{text-align: left;
	margin-right: 90px;
	margin-top: 10px;}
.colors-main p{font-weight:300;font-size: 15px;color: #ffffff;display: inline-block;vertical-align: top;margin: 0 10px 0 0; font-family: "Roboto Condensed";}
.colors{display: inline-block;vertical-align: top; background-color: rgba(19, 34, 185, 0.58); border-radius: 10px;}
.colors span{width: 14px;height: 14px;display: inline-block;cursor: pointer;margin: 0 3px;border-radius:50%;}
.colors .silver{background:none;border:2px solid #ebebeb;}
.colors .gold{background:none;border:2px solid #dcc6b2;}
.colors .gray{background:none;border:2px solid #24221f;}
.colors .silver:hover, .colors .silver.act{background:#ebebeb;border:2px solid #ebebeb;}
.colors .gold:hover, .colors .gold.act{background:#dcc6b2;border:2px solid #dcc6b2;}
.colors .gray:hover, .colors .gray.act{background:#24221f;border:2px solid #24221f;}

.percent{
	margin-left:auto;
	margin-right:auto;
	background:#e7e7e7;width: 250px;padding-left: 7px;height: 60px;line-height: 60px;color: #393939;font-size: 48px;font-weight: 700;overflow: hidden;margin-top:85px;}
.percent span.sp{font-size: 18px;text-transform: uppercase;width: 134px;line-height: 25px;margin-top: 5px;text-align: left; font-family: "Roboto Condensed"}

.order-form{
	margin-left:auto;
	margin-right:auto;
}

.percent{
	margin-left: -27px;
}
@media all and (max-width: 1000px) {
	.percent{
		margin-left: auto;
	}
	form{
		margin-top:0 !important;
	}
}


.price{margin: 0px;padding-top:30px;}
.old-pr {
  color: #000;
  text-decoration: line-through;
  margin-top: 20px;
  font-size: 24px;
  font-family: "RobotoCondensedBold";
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top: 20px;
}
.new-pr {
font-size: 54px;
color: #d02125;
font-weight: bold;
padding-left: 10px;
margin-top: 40px;
font-family: "RobotoCondensedBold";
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top: 10px;
}

.countdown-wrp{width: 260px;text-align: center;overflow: hidden;margin-top: 20px;
	margin-left: auto;
	margin-right: auto;}
.countdown-wrp p{color:white;font-size: 16px;margin: 9px 0;line-height: 21px;text-transform: uppercase;}
.time{display: inline-block;vertical-align: top;margin-right: 0px;float: left;width: 260px;}
.timecount.county{width: 260px!important;display: inline-block;vertical-align: middle;margin-right: 25px;}
.countdown{position: relative;}
.countdown:before {content: "";width: 74px;height: 16px;background: url(../images/dots.png)no-repeat center;position: absolute;top: 17px;left: 128px;}
.countdown .label{font-weight: 400;font-size: 12px;color:gray;width: 49px;margin: 0 16px 4px 0;text-align: center;display: inline-block;}
.countdown .label:last-child{margin-right: 0;}
.county .county-seconds-wrapper {color: #bd4e52;margin-right: 0;}
.caption{margin-top: -10px;}

.pluses{background: #fff; padding: 20px 0 10px 0;margin-bottom: 20px;border-bottom: 1px solid #f3f3f3;}
.pluses .item{display: inline-block;vertical-align: top;width: 299px;margin-right:16px;}
.pluses .item:last-child{margin-right: 0;}
.pluses .item img{display: inline-block;vertical-align: top;margin-top: 4px;margin-right: 18px;}
.pluses .item .text{display: inline-block;vertical-align: top;width: 220px;}
.pluses .item h4{font-weight: 300;font-size: 20px;margin: 0;}
.pluses .item p{font-size: 14px;line-height: 17px;}

.info{padding: 32px 0 0px 0;}
.info .video{margin-top:21px;}
.info .text{width: 460px;}
.info .text h3{margin-bottom: 15px;}
.info .text p{font-size: 16px;margin: 5px 0 23px 0;line-height: 24px;}
.info .pictures{margin-top: 76px;}

.info2{width:100%;padding: 10px 0 48px 0;background: #fff url(../images/bg-grad.png)repeat-x left top;}
.info2 h3{color: #040203;margin: 14px 0 24px 0;}
.info2 .text{width: 402px;text-align: center;}
.info2 .text p{color: #040203;font-size: 16px;line-height: 23px;margin-bottom: 27px;}
.info2 .text.left + .left {
  width: 1px;
  background: #e7e7e7;
  height: 450px;
  margin: 60px 67px;
}

.properties{width:100%;padding: 10px 0;height: 726px;background: #f3f3f3 url(../images/bg1.html)no-repeat top center;}
.properties .text{width: 620px;margin-left: 320px;}
.properties .text h3{margin-bottom: 17px;}
.properties .text .field{margin-bottom: 6px;}
.properties .text .field span{font-size:14px;display:inline-block;vertical-align: top;width: 180px;color: #c5c5c5;line-height: 25px;}
.properties .text .field span.sp{width: 420px;color: #000000;font-size:14px;}
.properties .text p{font-size: 14px;}

.reviews{padding: 32px 0 60px 0;}
.reviews h3{text-align: center;}
.reviews .review {margin: 0 0 55px 0;}
.reviews .review .img {width: 120px;height: 120px;display:inline-block;vertical-align: top;margin-top: 10px;}
.reviews .review h4{margin:0 0 28px 0;}
.reviews .review h4 strong{font-size: 16px;color: #469bbe;font-weight: 400;font-family: 'Roboto Condensed';margin-top: 0;}
.reviews .review blockquote{text-align: left;margin:0;max-width: 625px;word-wrap:break-word;display: inline-block;vertical-align: top;padding: 10px 0px 0 40px;}
.reviews .review blockquote p{margin:0;font-size: 16px;color:#545454;line-height: 23px;}

/*slider*/
.slider-wrp{margin-top: 54px;}
.bx-wrapper{padding-bottom: 23px!important;}
.bx-wrapper .bx-viewport{box-shadow: none!important;}
.bx-controls-direction{display: none;}
.bx-wrapper .bx-pager.bx-default-pager a{width: 12px;height: 12px;background:url(../images/pag.png)no-repeat center!important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:url(../images/pag-act.png)no-repeat left top!important;}


.footer-rekv{height:50px;width:100%;background:url(../images/rekv.png)no-repeat center}
.footer{position: relative;}
.footer:before{content: "";display: inline-block;position: absolute;left:50%;margin-left:-19px;top:-20px;width:39px;height:21px;background: url(../images/foot-angle.png)no-repeat left top;}
.foot-nav-wrp{background-color: #fff;height: 35px;padding-top: 12px;}
.foot-nav {list-style: none;margin: 0;padding: 0;text-align: center;float: right;position: relative;z-index: 200;}
.foot-nav li{padding: 0 15px;border-right: 1px solid #cccccc;display: inline-block;line-height: 15px;}
.foot-nav li:last-child{border:none;}
.foot-nav a{color: #cccccc;font-size: 14px;text-decoration: none;font-family:Arial, Helvetica}
.foot-nav a:hover{color: #523a2e;}

.dialogs .form-box {
  /*background:#fff;*/
}
.dialogs .form-box form{margin-top: 0;}
.opacity {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.8);
   opacity: 0;
   z-index: 400;
   display:none;
}
.callback-form {
  position:fixed;
  left:50%;
  top:50%;
  z-index:500;
  margin-left:-157px;
  padding: 10px;
  margin-top:-203px;
  opacity:0;
  display:none;
  background: rgba(32,33,50,0.9);
}
.dialogs .close {
  background:url(../images/close-icons.html) no-repeat 0 0;
  cursor:pointer;
  width:36px;
  height:36px;
  position:absolute;
  top:17px;
  right:17px;
}
.dialogs .close:hover {
  background-position:0 -36px;
}
.dialogs .close:active {
  background-position:0 -72px;
}
.typeofform {
  display:none;
}
#parent_popup {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#popup {
  width:408px;
  height:184px;
  position:fixed;
  left:50%;
  top:50%;
  margin-top:-92px;
  margin-left:-207px;
  border:3px solid #e1e1e1;
  background:#fff;
  color:#000;
  text-align:center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#popup .h {
  font-size:43px;
  text-transform:uppercase;
  padding-top:40px;
  margin-bottom:10px;
}
#popup .text {
  font-size:18px;
}

.preload {position: absolute; left:-30000px; top:0;}

.coupon {
  cursor: pointer;
  color: white !important;
  border-bottom: 1px dashed;
}


.county > span{width: 50px;display: inline-block;height: 50px;font-size: 35px;line-height: 50px;position: relative;
    overflow: hidden;margin: 0 20px 0 0px; color: #242424; text-align: center;background: url(../images/count.png) no-repeat center;font-weight: 700;}
.county > span:after{content:"";background: url(../images/count-line.png) no-repeat left top;width:50px;height:8px;position:absolute;left: 0;top: 23px;}
.county > span > span{display: block;height: inherit;}


.postavka .col{
	min-height:190px;
	text-align: center;
}
.postavka img{
	max-width: 150px;
	max-height:120px;
	margin-left:auto;
	margin-right:auto;
}

.postavkap{
	top: 130px;
	font-size: 24px;
	width:150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.postavkablock1 {
background: url('../images/k1.jpg') no-repeat center center;
height: 120px;
}

.postavkablock2 {
background: url('../images/k2.jpg') no-repeat center center;
}

.postavkablock3 {
background: url('../images/k3.jpg') no-repeat center center;
}

.postavkablock4 {
background: url('../images/k4.jpg') no-repeat center center;
}

.postavkablock5 {
background: url('../images/k5.jpg') no-repeat center center;
}


.postavkablock6 {
background: url('../images/k6.jpg') no-repeat center center;
}

.ourwork {
width: 930px;
height: 230px;
margin: 0 auto;
}


.ourworkp{
	top: 130px;
	font-size: 15px;
	width:150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ourwork1 {
z-index: 175;
width: 125px;
height: 130px;
border-color: #000;
position: relative;
background: url("../images/1.png") no-repeat scroll center center transparent;
margin-left: 30px;
float: left;
}

.ourworkp1 {
line-height: 18px;
color: #555;
font-size: 15px;
text-align: center;
font-family: open-sans,sans-serif;
font-weight: 300;
position: absolute;
width: 185px;
margin-top: 140px;
margin-left: -30px;
}

.ourwork2 {
    z-index: 176;
    width: 125px;
    height: 130px;
    border-color: #000;
    position: relative;
    left: 70px;
    background: url("../images/2.png") no-repeat scroll center center transparent;
float: left;
}

.ourwork3 {
    z-index: 176;
    width: 125px;
    height: 130px;
    border-color: #000;
    position: relative;
    background: url("../images/4.png") no-repeat scroll center center transparent;
float: left;
left: 140px;
}

.ourwork4 {
    z-index: 176;
    width: 125px;
    height: 130px;
    border-color: #000;
    position: relative;
    background: url("../images/3.png") no-repeat scroll center center transparent;
float: left;
left: 210px;
}

.ourwork5 {
    z-index: 176;
    width: 125px;
    height: 130px;
    border-color: #000;
    position: relative;
    background: url("../images/5.png") no-repeat scroll center center transparent;
float: left;
left: 280px;
}

{*---------------------------------------------------------------------------------------------------------------------------------------*}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.html) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.html) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.html) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.html) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.html) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.fancybox-close {
display: none;
}

form {
    width: 240px;
    border: medium none;
    text-align: left;
    position: relative;
    background: none repeat scroll 0% 0% rgba(36, 36, 36, 0.9);
    padding: 18px 20px 0px;
    margin-top: 54px;
}