#page
{
	z-index: 1;
	width: 960px;
	min-height: 4650px;
	margin-left: auto;
	margin-right: auto;
}

#u986
{
	z-index: 4;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 228px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../img/bg1.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1082
{
	z-index: 6;
	width: 561px;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 89px;
}

#u1101
{
	z-index: 243;
	width: 347px;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 693px;
}

#u1063
{
	z-index: 244;
	width: 347px;
	height: 332px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	background: transparent url("../img/u1063-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.6)),color-stop(100%, rgba(46, 21, 14, 0.9)));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	border-color: #000000;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
}

#u697
{
	z-index: 245;
	width: 347px;
	height: 94px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
}

#u570
{
	z-index: 56;
	width: 1160px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.79);
	-webkit-box-shadow: 0px 4px 0px -1px rgba(0, 0, 0, 0.79);
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.79);
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) ,#000000 100%);
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0) ,#000000 100%);
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0) ,#000000 100%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0) ,#000000 100%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 645px;
}

#pu647
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -46px;
	left: 153px;
}

#u647
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-left: 42px;
	position: relative;
}

#u616-4
{
	z-index: 91;
	width: 191px;
	min-height: 44px;
	color: #FFFFFF;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#pu637
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -50px;
	left: 370px;
}

#u637
{
	z-index: 115;
	display: block;
	vertical-align: top;
	margin-left: 29px;
	position: relative;
}

#u617-6
{
	z-index: 95;
	width: 193px;
	min-height: 44px;
	color: #FFFFFF;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu610
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -45px;
	left: 598px;
}

#u610
{
	z-index: 89;
	display: block;
	vertical-align: top;
	margin-left: 32px;
	position: relative;
}

#u618-6
{
	z-index: 107;
	width: 192px;
	min-height: 44px;
	color: #FFFFFF;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#pu626
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -45px;
	left: 807px;
}

#u626
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-left: 39px;
	position: relative;
}

#u625-6
{
	z-index: 101;
	width: 204px;
	min-height: 44px;
	color: #FFFFFF;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#slideshowu420
{
	z-index: 57;
	width: 0.01px;
	height: 336px;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 120px;
}

#u424
{
	position: absolute;
	width: 514px;
	height: 336px;
	background-color: transparent;
}

#u424popup
{
	z-index: 58;
}

#u1025
{
	z-index: 59;
	width: 514px;
	height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1034
{
	z-index: 61;
	width: 514px;
	height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1016
{
	z-index: 63;
	width: 514px;
	height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1043
{
	z-index: 65;
	width: 514px;
	height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1025_img,#u1034_img,#u1016_img,#u1043_img
{
	padding-left: 15px;
	padding-right: 15px;
}

#u439
{
	position: absolute;
	width: 270px;
	top: 291px;
	left: 123px;
}

#u439popup
{
	z-index: 67;
}

#u1028
{
	z-index: 68;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1037
{
	z-index: 70;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u1019
{
	z-index: 72;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u1046
{
	z-index: 74;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1028.SSSlideLinkSelected,#u1037.SSSlideLinkSelected,#u1019.SSSlideLinkSelected,#u1046.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1028_img,#u1037_img,#u1019_img,#u1046_img
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../img/loading.gif") no-repeat center center;
}

#u412
{
	z-index: 76;
	width: 1160px;
	height: 140px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	background: #140707 url("../img/bg-line-u412-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u558-5
{
	z-index: 77;
	width: 920px;
	min-height: 55px;
	line-height: 55px;
	color: #FFFFFF;
	font-size: 46px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 120px;
}

#u113
{
	z-index: 237;
	width: 1160px;
	-pie-box-shadow: 0px 3px 3px #7F7F7F;
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 771px;
}

#u111-4
{
	z-index: 547;
	width: 613px;
	min-height: 43px;
	color: #FFFFFF;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 274px;
}

#u2310
{
	z-index: 238;
	width: 85px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 530px;
}

#u539-4
{
	z-index: 239;
	width: 128px;
	min-height: 32px;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-size: 27px;
	font-family: aladin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 516px;
}

#u556-4
{
	z-index: 249;
	width: 395px;
	min-height: 22px;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: jura, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 383px;
}

#u653-6
{
	z-index: 253;
	width: 347px;
	min-height: 72px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 694px;
}

#u680-8
{
	z-index: 265;
	width: 321px;
	min-height: 43px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 706px;
}

#u698
{
	z-index: 281;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 753px;
}

#u683-8
{
	z-index: 282;
	width: 233px;
	min-height: 24px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 19px;
	color: #000000;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u682
{
	z-index: 290;
	width: 62px;
	height: 1px;
	border-style: solid;
	border-color: #C1272D;
	background-color: transparent;
	-webkit-transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	-ms-transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	-o-transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 122px;
	border-width: 0px 0px 1px;
}

#u691-4
{
	z-index: 301;
	width: 266px;
	min-height: 13px;
	color: #FFFFFF;
	text-align: center;
	line-height: 13px;
	font-size: 11px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 734px;
}

#pamphletu2208
{
	z-index: 713;
	width: 0.01px;
	height: 46px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 719px;
}

#u2214
{
	z-index: 714;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2215
{
	position: absolute;
	width: 296px;
	-pie-box-shadow: 0px 5px 3px #7F7F7F;
	-moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	background: #006837 url("../img/u2215-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #006837));
	background: -webkit-linear-gradient(top,#39B54A ,#006837 100%);
	background: -moz-linear-gradient(top,#39B54A ,#006837 100%);
	background: -ms-linear-gradient(top,#39B54A ,#006837 100%);
	background: -o-linear-gradient(top,#39B54A ,#006837 100%);
	background: linear-gradient(to bottom,#39B54A ,#006837 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	top: -12px;
}

#u2215:hover
{
	background: #009245 url("../img/u2215-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#39B54A ,#009245 100%);
	background: -moz-linear-gradient(top,#39B54A ,#009245 100%);
	background: -ms-linear-gradient(top,#39B54A ,#009245 100%);
	background: -o-linear-gradient(top,#39B54A ,#009245 100%);
	background: linear-gradient(to bottom,#39B54A ,#009245 100%);
	margin: 0px;
}

#u2215:active
{
	background: #39B54A url("../img/u2215-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -moz-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -ms-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -o-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: linear-gradient(to bottom,#39B54A ,#39B54A 100%);
	margin: 0px;
}

#u2216-4
{
	z-index: 716;
	width: 296px;
	min-height: 34px;
	color: #FFFFFF;
	text-align: center;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2222
{
	position: absolute;
	width: 482px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: -465px;
	left: -89px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2222popup
{
	z-index: 720;
}

#u2223
{
	z-index: 721;
	width: 347px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 17px 45px 13px 46px;
}

#u2257-6
{
	z-index: 787;
	width: 347px;
	min-height: 58px;
	color: #000000;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#widgetu2224
{
	z-index: 722;
	width: 0.01px;
	height: 302px;
	margin-left: 25px;
	margin-top: 30px;
	position: relative;
}

#widgetu2252
{
	z-index: 723;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2253-4
{
	z-index: 724;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2254-4
{
	z-index: 728;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	color: #7F7F7F;
	text-align: left;
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

.html,#widgetu2252.non-empty-st #u2254-4
{
	background-color: #FFFFFF;
}

#widgetu2252:hover #u2254-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2252.focus-st #u2254-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2252.non-empty-st #u2254-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2252:hover #u2254-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2252.focus-st #u2254-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2247
{
	z-index: 732;
	width: 294px;
	height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 2px;
}

#u2248-4
{
	z-index: 733;
	width: 234px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	line-height: 6px;
	font-size: 6px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u2249-3
{
	z-index: 737;
	width: 282px;
	min-height: 6px;
	border-color: #7F7F7F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 6px;
	line-height: 6px;
	color: #7F7F7F;
	font-size: 6px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu2247.non-empty-st #u2249-3
{
	background-color: #FFFFFF;
}

#widgetu2247:hover #u2249-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2247.focus-st #u2249-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2247.non-empty-st #u2249-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2247:hover #u2249-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2247.focus-st #u2249-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2225-4
{
	z-index: 740;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2231-4
{
	z-index: 744;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2246-4
{
	z-index: 748;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2237-17
{
	z-index: 752;
	min-height: 63px;
	width: 301px;
	background: url("../img/u2237-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
}

#u2237-17:hover
{
	background: url("../img/u2237-17-r.png") no-repeat 0px 0px;
}

#u2237-17:active
{
	background: url("../img/u2237-17-m.png") no-repeat 0px 0px;
}

#widgetu2224.frm-sub-st #u2237-17
{
	background: url("../img/u2237-17-fs.png") no-repeat 0px 0px;
}

#widgetu2226
{
	z-index: 769;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u2230-4
{
	z-index: 770;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2228-4
{
	z-index: 774;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: -1px;
}

#widgetu2226.non-empty-st #u2228-4
{
	background-color: #FFFFFF;
}

#widgetu2226:hover #u2228-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2226.focus-st #u2228-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2226.non-empty-st #u2228-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2226:hover #u2228-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2226.focus-st #u2228-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2232
{
	z-index: 778;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 1px;
}

#u2233-4
{
	z-index: 779;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2235-4
{
	z-index: 783;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	line-height: 14px;
	color: #7F7F7F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#widgetu2232.non-empty-st #u2235-4
{
	background-color: #FFFFFF;
}

#widgetu2232:hover #u2235-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2232.focus-st #u2235-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2232.non-empty-st #u2235-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2232:hover #u2235-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2232.focus-st #u2235-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu75
{
	width: 0.01px;
	left: -100px;
	margin-top: 1px;
	position: relative;
}

#u75
{
	z-index: 8;
	width: 1160px;
	height: 520px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #FFFFFF url("../img/vidos3-u75-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u83
{
	z-index: 12;
	width: 1160px;
	height: 523px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	position: relative;
	margin-right: -10000px;
}

#pamphletu337
{
	z-index: 48;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 497px;
}

#u360
{
	z-index: 49;
	width: 160px;
	position: relative;
	margin-right: -10000px;
}

#u365
{
	position: absolute;
	width: 160px;
	height: 160px;
	border-color: #DEDEDE;
	background: transparent url("../img/play5-160.png") no-repeat center center;
}

#u365:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
}

#u365.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #DEDEDE;
	margin: 0px;
}

#u342
{
	position: absolute;
	width: 854px;
	top: -160px;
	left: -344px;
}

#u342popup
{
	z-index: 51;
}

#u343
{
	z-index: 52;
	width: 854px;
	height: 520px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u157
{
	z-index: 53;
	width: 854px;
	min-height: 520px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u358
{
	position: absolute;
	width: 48px;
	height: 48px;
	border-color: #999999;
	top: -160px;
	left: 462px;
	background: transparent url("../img/cross.png") no-repeat center center;
}

#u1087
{
	z-index: 9;
	width: 1160px;
	border-color: #000000;
	padding-bottom: 17px;
	position: relative;
	left: -100px;
	background: #2E150E url("../img/bg-line.jpg") no-repeat center top;
}

#u718-4
{
	z-index: 13;
	width: 778px;
	min-height: 90px;
	color: #FFFFFF;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 191px;
}

#u1088
{
	z-index: 5;
	width: 1160px;
	height: 273px;
	border-color: #000000;
	background-color: #2E150E;
	opacity: 0.12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
	filter: alpha(opacity=12);
	position: relative;
	margin-right: -10000px;
}

#u719-11
{
	z-index: 25;
	width: 920px;
	min-height: 220px;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#pu819-4
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 21px;
	position: relative;
}

#u819-4
{
	z-index: 44;
	width: 260px;
	min-height: 29px;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u818-4
{
	z-index: 40;
	width: 260px;
	min-height: 29px;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u720-4
{
	z-index: 36;
	width: 260px;
	min-height: 29px;
	color: #000000;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 608px;
}

#pu1095
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 5px;
	position: relative;
}

#u1095
{
	z-index: 123;
	width: 260px;
	position: relative;
	margin-right: -10000px;
}

#u1089
{
	z-index: 119;
	width: 276px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u1092
{
	z-index: 121;
	width: 260px;
	position: relative;
	margin-right: -10000px;
	left: 608px;
}

#pu1100-4
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 12px;
	position: relative;
}

#u1100-4
{
	z-index: 133;
	width: 243px;
	min-height: 136px;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1098-4
{
	z-index: 125;
	width: 243px;
	min-height: 136px;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u1099-4
{
	z-index: 129;
	width: 243px;
	min-height: 136px;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#pu413
{
	width: 0.01px;
	left: -100px;
	margin-top: 21px;
	position: relative;
}

#u413
{
	z-index: 55;
	width: 1160px;
	-pie-box-shadow: 0px 5px 1px #7F7F7F;
	-moz-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: #FFFFFF url("../img/bg25-2.jpg") no-repeat center top;
}

#u413_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 157px;
	padding-bottom: 19px;
}

#u1111-8
{
	z-index: 494;
	width: 920px;
	min-height: 111px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	left: 120px;
	position: relative;
}

#pu1112
{
	width: 0.01px;
	left: 120px;
	margin-top: 33px;
	position: relative;
}

#u1112
{
	z-index: 509;
	width: 416px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1135-4
{
	z-index: 310;
	width: 55px;
	min-height: 72px;
	color: #FFFFFF;
	text-align: center;
	line-height: 72px;
	font-size: 60px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 434px;
}

#u1145
{
	z-index: 502;
	width: 302px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 507px;
}

#u1122
{
	z-index: 503;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 19px;
}

#u1117
{
	z-index: 505;
	width: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u940
{
	z-index: 507;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#pu1137-4
{
	width: 0.01px;
	left: 194px;
	margin-top: 179px;
	position: relative;
}

#u1137-4
{
	z-index: 314;
	width: 329px;
	min-height: 19px;
	color: #FFFFFF;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1563-6
{
	z-index: 322;
	width: 329px;
	min-height: 56px;
	text-align: center;
	line-height: 26px;
	font-size: 22px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 448px;
}

#u1563-2
{
	color: #FFFFFF;
}

#u1563-4
{
	color: #FCEE21;
}

#u841
{
	z-index: 309;
	width: 1160px;
	height: 124px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.78);
	-webkit-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.78);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.78);
	border-style: none;
	border-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../img/bg-line-u841-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u1138
{
	z-index: 328;
	width: 375px;
	min-height: 175px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 171px;
}

#u1636
{
	z-index: 330;
	width: 73px;
	-webkit-transform: matrix(0.9511,-0.309,0.309,0.9511,-2,12);
	-ms-transform: matrix(0.9511,-0.309,0.309,0.9511,-2,12);
	-o-transform: matrix(0.9511,-0.309,0.309,0.9511,-2,12);
	transform: matrix(0.9511,-0.309,0.309,0.9511,-2,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 806px;
	left: 566px;
}

#u842-4
{
	z-index: 490;
	width: 825px;
	min-height: 47px;
	color: #FCEE21;
	text-align: center;
	line-height: 47px;
	font-size: 39px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 167px;
}

#u972
{
	z-index: 511;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 505px;
	left: 854px;
}

#u1140
{
	z-index: 513;
	width: 205px;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 835px;
}

#u1147-4
{
	z-index: 515;
	width: 157px;
	min-height: 22px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	font-family: play, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 584px;
	left: 859px;
}

#u1148-4
{
	z-index: 519;
	width: 186px;
	min-height: 55px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 55px;
	color: #FFFFFF;
	font-size: 41px;
	font-family: play, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 842px;
}

#u1150
{
	z-index: 523;
	width: 125px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 531px;
	left: 863px;
}

#u982-4
{
	z-index: 524;
	width: 124px;
	min-height: 28px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 28px;
	color: #C1272D;
	font-size: 23px;
	font-family: play, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-1,3);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-1,3);
	-o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-1,3);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,-1,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 1px;
}

#u1149
{
	z-index: 528;
	width: 119px;
	height: 7px;
	border-style: solid;
	border-color: #C1272D;
	background-color: transparent;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,3);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,3);
	-o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,3);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 4px;
	border-width: 1px 0px 0px;
}

#pamphletu2259
{
	z-index: 632;
	width: 0.01px;
	height: 46px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 737px;
	left: 659px;
}

#u2265
{
	z-index: 633;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2266
{
	position: absolute;
	width: 296px;
	-pie-box-shadow: 0px 5px 3px #7F7F7F;
	-moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	background: #006837 url("../img/u2215-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #006837));
	background: -webkit-linear-gradient(top,#39B54A ,#006837 100%);
	background: -moz-linear-gradient(top,#39B54A ,#006837 100%);
	background: -ms-linear-gradient(top,#39B54A ,#006837 100%);
	background: -o-linear-gradient(top,#39B54A ,#006837 100%);
	background: linear-gradient(to bottom,#39B54A ,#006837 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	top: -12px;
}

#u2266:hover
{
	background: #009245 url("../img/u2215-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#39B54A ,#009245 100%);
	background: -moz-linear-gradient(top,#39B54A ,#009245 100%);
	background: -ms-linear-gradient(top,#39B54A ,#009245 100%);
	background: -o-linear-gradient(top,#39B54A ,#009245 100%);
	background: linear-gradient(to bottom,#39B54A ,#009245 100%);
	margin: 0px;
}

#u2266:active
{
	background: #39B54A url("../img/u2215-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -moz-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -ms-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -o-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: linear-gradient(to bottom,#39B54A ,#39B54A 100%);
	margin: 0px;
}

#u2267-4
{
	z-index: 635;
	width: 296px;
	min-height: 34px;
	color: #FFFFFF;
	text-align: center;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2273
{
	position: absolute;
	width: 482px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: -465px;
	left: -89px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2273popup
{
	z-index: 639;
}

#u2274
{
	z-index: 640;
	width: 347px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 17px 45px 13px 46px;
}

#u2308-6
{
	z-index: 706;
	width: 347px;
	min-height: 58px;
	color: #000000;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#widgetu2275
{
	z-index: 641;
	width: 0.01px;
	height: 302px;
	margin-left: 25px;
	margin-top: 30px;
	position: relative;
}

#widgetu2303
{
	z-index: 642;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2304-4
{
	z-index: 643;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2305-4
{
	z-index: 647;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	color: #7F7F7F;
	text-align: left;
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#widgetu2303.non-empty-st #u2305-4
{
	background-color: #FFFFFF;
}

#widgetu2303:hover #u2305-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2303.focus-st #u2305-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2303.non-empty-st #u2305-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2303:hover #u2305-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2303.focus-st #u2305-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2298
{
	z-index: 651;
	width: 294px;
	height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 2px;
}

#u2299-4
{
	z-index: 652;
	width: 234px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	line-height: 6px;
	font-size: 6px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u2300-3
{
	z-index: 656;
	width: 282px;
	min-height: 6px;
	border-color: #7F7F7F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 6px;
	line-height: 6px;
	color: #7F7F7F;
	font-size: 6px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu2298.non-empty-st #u2300-3
{
	background-color: #FFFFFF;
}

#widgetu2298:hover #u2300-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2298.focus-st #u2300-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2298.non-empty-st #u2300-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2298:hover #u2300-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2298.focus-st #u2300-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2276-4
{
	z-index: 659;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2282-4
{
	z-index: 663;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2297-4
{
	z-index: 667;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#u2288-17
{
	z-index: 671;
	min-height: 63px;
	width: 301px;
	background: url("../img/u2288-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
}

#u2288-17:hover
{
	background: url("../img/u2288-17-r.png") no-repeat 0px 0px;
}

#u2288-17:active
{
	background: url("../img/u2288-17-m.png") no-repeat 0px 0px;
}

#widgetu2275.frm-sub-st #u2288-17
{
	background: url("../img/u2288-17-fs.png") no-repeat 0px 0px;
}

#widgetu2277
{
	z-index: 688;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u2281-4
{
	z-index: 689;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2279-4
{
	z-index: 693;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: -1px;
}

#widgetu2277.non-empty-st #u2279-4
{
	background-color: #FFFFFF;
}

#widgetu2277:hover #u2279-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2277.focus-st #u2279-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2277.non-empty-st #u2279-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2277:hover #u2279-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2277.focus-st #u2279-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2283
{
	z-index: 697;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 1px;
}

#u2284-4
{
	z-index: 698;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2286-4
{
	z-index: 702;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	line-height: 14px;
	color: #7F7F7F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#widgetu2283.non-empty-st #u2286-4
{
	background-color: #FFFFFF;
}

#widgetu2283:hover #u2286-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2283.focus-st #u2286-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2283.non-empty-st #u2286-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2283:hover #u2286-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2283.focus-st #u2286-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1153
{
	z-index: 10;
	width: 1160px;
	-pie-box-shadow: 0px 3px 3px #7F7F7F;
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	padding-bottom: 19px;
	position: relative;
	left: -100px;
	background: #2E150E url("../img/bg-line.jpg") no-repeat center top;
}

#u1154-4
{
	z-index: 17;
	width: 778px;
	min-height: 43px;
	color: #FFFFFF;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 191px;
}

#pu986,#pu1088,#pu1660
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1660
{
	z-index: 2;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../img/bg3.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1635
{
	z-index: 334;
	width: 837px;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 162px;
}

#u1405
{
	z-index: 335;
	width: 835px;
	height: 330px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.56);
	-webkit-box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.56);
	box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.56);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu1355
{
	z-index: 336;
	width: 0.01px;
	height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 9px;
}

#u1374
{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: transparent;
	left: 50px;
}

#u1374popup
{
	z-index: 337;
}

#u1522
{
	z-index: 338;
	width: 200px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u1531
{
	z-index: 340;
	width: 200px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u1540
{
	z-index: 342;
	width: 200px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u1549
{
	z-index: 344;
	width: 200px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u1522_img,#u1531_img,#u1540_img,#u1549_img
{
	padding: 25px;
}

#u1356
{
	position: absolute;
	width: 447px;
	top: 8px;
	left: 307px;
}

#u1356popup
{
	z-index: 346;
}

#u1528-7
{
	z-index: 347;
	width: 427px;
	min-height: 202px;
	border-color: #29ABE2;
	background-color: transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	color: #181818;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1537-7
{
	z-index: 354;
	width: 427px;
	min-height: 202px;
	border-color: #29ABE2;
	background-color: transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	color: #181818;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1546-7
{
	z-index: 361;
	width: 427px;
	min-height: 202px;
	border-color: #29ABE2;
	background-color: transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	color: #181818;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1555-7
{
	z-index: 368;
	width: 427px;
	min-height: 202px;
	border-color: #29ABE2;
	background-color: transparent;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	color: #181818;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u1528-2,#u1537-2,#u1546-2,#u1555-2
{
	font-size: 22px;
	line-height: 31px;
	font-weight: 700;
	font-style: normal;
}

#u1528-3,#u1528-5,#u1537-3,#u1537-5,#u1546-3,#u1546-5,#u1555-3,#u1555-5
{
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	font-style: italic;
}

#u1383-4
{
	position: absolute;
	width: 18px;
	min-height: 34px;
	padding: 10px;
	color: #BCBCBC;
	text-align: center;
	line-height: 34px;
	font-size: 24px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	top: 63px;
}

#u1383-4popup
{
	z-index: 375;
}

#u1361-4
{
	position: absolute;
	width: 20px;
	min-height: 34px;
	padding: 10px;
	color: #BCBCBC;
	text-align: center;
	line-height: 34px;
	font-size: 24px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	top: 63px;
	left: 775px;
}

#u1361-4popup
{
	z-index: 379;
}

#u1346
{
	z-index: 383;
	width: 836px;
	border-color: #000000;
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #2E150E url("../img/bg-line.jpg") no-repeat center top;
}

#u1404-4
{
	z-index: 384;
	width: 476px;
	min-height: 43px;
	color: #FFFFFF;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 178px;
}

#pamphletu1155
{
	z-index: 388;
	width: 0.01px;
	height: 63px;
	padding-bottom: 274px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 142px;
}

#u1169popup
{
	z-index: 389;
}

#u1170
{
	z-index: 390;
	width: 874px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	padding-bottom: 19px;
	margin-right: -10000px;
	position: relative;
	background: #C69C6D url("../img/bg-vopr.jpg") no-repeat left top;
}

#pu1495
{
	z-index: 391;
	width: 0.01px;
	position: relative;
}

#u1497-4
{
	z-index: 410;
	width: 451px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#pu1299
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 7px;
	position: relative;
}

#u1299
{
	z-index: 414;
	width: 135px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u1496-18
{
	z-index: 392;
	width: 662px;
	min-height: 198px;
	color: #FFFFFF;
	text-align: left;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u1275
{
	z-index: 416;
	width: 874px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	padding-bottom: 19px;
	margin-right: -10000px;
	position: relative;
	background: #2E150E url("../img/bg-vopr.jpg") no-repeat center top;
}

#pu1489
{
	z-index: 417;
	width: 0.01px;
	position: relative;
}

#pu1491-4
{
	width: 0.01px;
	position: relative;
	left: 44px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 8px;
}

#u1491-4
{
	z-index: 430;
	width: 785px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#pu1474
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 7px;
	position: relative;
}

#u1474
{
	z-index: 434;
	width: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u1490-12
{
	z-index: 418;
	width: 662px;
	min-height: 198px;
	color: #FFFFFF;
	text-align: left;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u1285
{
	z-index: 436;
	width: 874px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	padding-bottom: 19px;
	margin-right: -10000px;
	position: relative;
	background: #2E150E url("../img/bg-vopr.jpg") no-repeat left top;
}

#pu1473
{
	z-index: 437;
	width: 0.01px;
	position: relative;
}

#u1333-4
{
	z-index: 450;
	width: 562px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#pu1294
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 7px;
	position: relative;
}

#u1294
{
	z-index: 454;
	width: 138px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u1332-12
{
	z-index: 438;
	width: 662px;
	min-height: 198px;
	color: #FFFFFF;
	text-align: left;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u1156
{
	z-index: 456;
	width: 874px;
	position: relative;
	margin-right: -10000px;
}

#u1165
{
	position: absolute;
	width: 294px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u1165:hover
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u1165.PamphletThumbSelected
{
	border-color: #000000;
	background-color: #FDFDFD;
	background-color: rgba(70, 70, 70, 0.01);
	margin: 0px;
	-pie-background: rgba(70, 70, 70, 0.01);
}

#u1166
{
	z-index: 459;
	height: 63px;
	width: 294px;
	vertical-align: top;
	background: url("../img/bg-line-mini1-u1166.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
}

#u1165:hover #u1166
{
	background: url("../img/bg-line-mini1-u1166-r.png") no-repeat 0px 0px;
}

#u1168-4
{
	z-index: 461;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 28px;
}

#u1281
{
	position: absolute;
	width: 290px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 293px;
}

#u1281:hover
{
	border-color: #999999;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 0px;
}

#u1281.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(70, 70, 70, 0.01);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	-pie-background: rgba(70, 70, 70, 0.01);
}

#u1288-4
{
	z-index: 466;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 25px;
}

#u1469
{
	z-index: 471;
	height: 63px;
	width: 290px;
	vertical-align: top;
	background: url("../img/bg-line-mini1-u1469.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
}

#u1281:hover #u1469
{
	background: url("../img/bg-line-mini1-u1469-r.png") no-repeat 0px 0px;
}

#u1470-4
{
	z-index: 473;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u1286
{
	position: absolute;
	width: 294px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 583px;
}

#u1286:hover
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u1286.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(70, 70, 70, 0.01);
	margin: 0px;
	-pie-background: rgba(70, 70, 70, 0.01);
}

#u1471
{
	z-index: 479;
	height: 63px;
	width: 291px;
	vertical-align: top;
	background: url("../img/bg-line-mini1-u1471.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
}

#u1286:hover #u1471
{
	background: url("../img/bg-line-mini1-u1471-r.png") no-repeat 0px 0px;
}

#u1291-4
{
	z-index: 481;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 27px;
}

#u1472-4
{
	z-index: 485;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u1667
{
	z-index: 11;
	width: 1160px;
	-pie-box-shadow: 0px 0px 3px 1px #7F7F7F;
	-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	padding-bottom: 19px;
	position: relative;
	left: -100px;
	background: #2E150E url("../img/bg-line.jpg") no-repeat center top;
}

#u1668-4
{
	z-index: 21;
	width: 778px;
	min-height: 43px;
	color: #FFFFFF;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 191px;
}

#pamphletu1589
{
	z-index: 137;
	width: 0.01px;
	height: 63px;
	padding-bottom: 365px;
	margin-left: 42px;
	margin-top: 42px;
	position: relative;
}

#u1169,#u1613
{
	position: absolute;
	width: 874px;
	top: 62px;
}

#u1613popup
{
	z-index: 138;
}

#u1620
{
	z-index: 139;
	width: 874px;
	height: 345px;
	border-style: none;
	border-color: transparent;
	background-color: #2E150E;
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	padding-bottom: 21px;
	margin-right: -10000px;
	position: relative;
}

#pu1621
{
	z-index: 140;
	width: 0.01px;
	position: relative;
}

#pu1497-4,#pu1622-4
{
	width: 0.01px;
	position: relative;
	left: 213px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 8px;
}

#u1622-4
{
	z-index: 142;
	width: 451px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#ppu1693-20
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#pu1693-20
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 426px;
}

#u1693-20
{
	z-index: 146;
	width: 381px;
	min-height: 205px;
	color: #FFFFFF;
	text-align: left;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 17px;
	position: relative;
}

#u1914-4
{
	z-index: 170;
	width: 305px;
	min-height: 19px;
	color: #FCEE21;
	text-align: left;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 17px;
	margin-top: 25px;
	position: relative;
}

#u1909
{
	z-index: 168;
	width: 73px;
	margin-top: 1px;
	position: relative;
}

#u1908
{
	z-index: 141;
	width: 418px;
	position: relative;
	margin-right: -10000px;
}

._u1908.f3s_top
{
	width: 418px;
	background-image: url("../img/u1908-sprite.png");
	overflow: hidden;
	height: 17px;
	background-position: left top;
}

._u1908.f3s_mid
{
	background-image: url("../img/u1908-sprite.png");
	overflow: visible;
	background-position: -418px top;
	width: 418px;
	min-height: 248px;
}

._u1908.f3s_bot
{
	width: 418px;
	background-image: url("../img/u1908-sprite.png");
	overflow: visible;
	height: 16px;
	background-position: -836px top;
}

#u1903
{
	z-index: 166;
	width: 113px;
	margin-bottom: -18px;
	position: relative;
	margin-right: -10000px;
	margin-top: -17px;
	left: 60px;
}

#u1903_img
{
	padding-bottom: 1px;
}

#slideshowu1778
{
	z-index: 174;
	width: 0.01px;
	height: 243px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 246px;
}

#u1817
{
	position: absolute;
	width: 739px;
	height: 589px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 321px;
	left: -147px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1817popup
{
	z-index: 175;
}

#u1818
{
	z-index: 176;
	width: 695px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1818_img
{
	padding: 83px 63px;
}

#u1873
{
	z-index: 178;
	width: 695px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1873_img
{
	padding: 32px 38px;
}

#u1882
{
	z-index: 180;
	width: 695px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1882_img
{
	padding: 77px 63px;
}

#u1782
{
	position: absolute;
	width: 142px;
}

#u1782popup
{
	z-index: 182;
}

#u1783
{
	z-index: 183;
	width: 142px;
	height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1783:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1783_img
{
	margin-top: -6px;
	margin-bottom: -6px;
}

#u1876
{
	z-index: 185;
	width: 142px;
	height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#u1876:hover
{
	margin: 83px -10000px 0px 0px;
}

#u1876_img
{
	margin-top: -15px;
	margin-bottom: -15px;
}

#u1885
{
	z-index: 187;
	width: 142px;
	height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
}

#u1885:hover
{
	margin: 166px -10000px 0px 0px;
}

#u1783_clip,#u1876_clip,#u1885_clip
{
	overflow: hidden;
	width: 142px;
	height: 77px;
}

#u1885_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u1779-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 599px;
	left: -141px;
}

#u1779-4popup
{
	z-index: 189;
}

#u1794-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 599px;
	left: 557px;
}

#u1794-4popup
{
	z-index: 193;
}

#u1626
{
	z-index: 197;
	width: 874px;
	height: 316px;
	border-style: none;
	border-color: transparent;
	background-color: #432219;
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	padding-bottom: 50px;
	margin-right: -10000px;
	position: relative;
}

#pu1627
{
	z-index: 198;
	width: 0.01px;
	position: relative;
}

#u1495,#u1489,#u1473,#u1621,#u1627
{
	z-index: 0;
	width: 874px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1333-4,#pu1631-4
{
	width: 0.01px;
	position: relative;
	left: 156px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 8px;
}

#u1631-4
{
	z-index: 219;
	width: 562px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#pu1685
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u1685
{
	z-index: 223;
	width: 418px;
	min-height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1630-20
{
	z-index: 199;
	width: 381px;
	min-height: 247px;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 443px;
}

#u1630-18
{
	text-align: left;
}

#u1590
{
	z-index: 224;
	width: 874px;
	position: relative;
	margin-right: -10000px;
}

#u1591
{
	position: absolute;
	width: 439px;
}

#u1593
{
	z-index: 226;
	width: 438px;
	border-style: solid;
	border-color: #000000;
	background-color: #2E150E;
	-moz-border-radius: 20px 0px 0px 0px ;
	-webkit-border-radius: 20px 0px 0px 0px ;
	-khtml-border-radius: 20px 0px 0px 0px ;
	border-radius: 20px 0px 0px 0px ;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px 0px 0px;
}

#u1591.PamphletThumbSelected #u1593
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1592-4
{
	z-index: 227;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 100px;
}

#u1598
{
	position: absolute;
	width: 435px;
	left: 439px;
}

#u1601
{
	z-index: 232;
	width: 434px;
	border-style: solid;
	border-color: #000000;
	background-color: #432219;
	-moz-border-radius: 0px 20px 0px 0px ;
	-webkit-border-radius: 0px 20px 0px 0px ;
	-khtml-border-radius: 0px 20px 0px 0px ;
	border-radius: 0px 20px 0px 0px ;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 0px 1px;
}

#u1598.PamphletThumbSelected #u1601
{
	width: 434px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1600-4
{
	z-index: 233;
	width: 237px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 98px;
}

#pu2078
{
	width: 0.01px;
	left: -100px;
	margin-top: 42px;
	position: relative;
}

#u2078
{
	z-index: 3;
	width: 1160px;
	-pie-box-shadow: 0px -3px 3px #7F7F7F;
	-moz-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -3px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	padding-bottom: 81px;
	position: relative;
	margin-right: -10000px;
	background: #432219 url("../img/049-1.jpg") no-repeat center top;
	background-size: cover !important;
}

#pu1922-7
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 142px;
}

#u1922-7
{
	z-index: 82;
	width: 438px;
	min-height: 89px;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#u558,#u1922,#u1922-3
{
	color: #ED1C24;
}

#u1942-4
{
	z-index: 318;
	width: 329px;
	min-height: 19px;
	color: #FFFFFF;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 55px;
	margin-top: 158px;
	position: relative;
}

#u2060
{
	z-index: 246;
	width: 347px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 622px;
}

#u2061
{
	z-index: 247;
	width: 347px;
	height: 332px;
	background: transparent url("../img/u1063-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.6)),color-stop(100%, rgba(46, 21, 14, 0.9)));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.6) ,rgba(46, 21, 14, 0.9) 100%);
	border-color: #000000;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
}

#u2062
{
	z-index: 248;
	width: 347px;
	height: 94px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
}

#u2055-6
{
	z-index: 259;
	width: 347px;
	min-height: 72px;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 622px;
}

#u2059-8
{
	z-index: 273;
	width: 321px;
	min-height: 43px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 634px;
}

#u680-3,#u2059-3
{
	font-size: 36px;
	color: #ED1C24;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	line-height: 43px;
}

#u680-2,#u680-4,#u2059-2,#u2059-4
{
	line-height: 36px;
}

#u680,#u680-5,#u2059,#u2059-5
{
	font-size: 18px;
	line-height: 22px;
}

#u2056
{
	z-index: 291;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 682px;
}

#u2057-8
{
	z-index: 292;
	width: 233px;
	min-height: 24px;
	letter-spacing: -1px;
	text-align: center;
	line-height: 19px;
	color: #000000;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u680-6,#u683-6,#u2059-6,#u2057-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u683-3,#u2057-3
{
	font-size: 20px;
	line-height: 24px;
}

#u683-2,#u683-4,#u2057-2,#u2057-4
{
	line-height: 19px;
}

#u683,#u683-5,#u2057,#u2057-5
{
	font-size: 14px;
	line-height: 17px;
}

#u2058
{
	z-index: 300;
	width: 62px;
	height: 1px;
	border-style: solid;
	border-color: #C1272D;
	background-color: transparent;
	-webkit-transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	-ms-transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	-o-transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	transform: matrix(0.9563,-0.2924,0.2924,0.9563,1,9);
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 122px;
	border-width: 0px 0px 1px;
}

#u2066-4
{
	z-index: 305;
	width: 266px;
	min-height: 13px;
	color: #FFFFFF;
	text-align: center;
	line-height: 13px;
	font-size: 11px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 662px;
}

#u1943
{
	z-index: 329;
	width: 375px;
	min-height: 172px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 174px;
}

#u1946
{
	z-index: 332;
	width: 73px;
	-webkit-transform: matrix(0.9744,-0.225,0.225,0.9744,-2,9);
	-ms-transform: matrix(0.9744,-0.225,0.225,0.9744,-2,9);
	-o-transform: matrix(0.9744,-0.225,0.225,0.9744,-2,9);
	transform: matrix(0.9744,-0.225,0.225,0.9744,-2,9);
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 537px;
}

#pamphletu1968
{
	z-index: 551;
	width: 0.01px;
	height: 46px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 647px;
}

#u1971
{
	z-index: 552;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1972
{
	position: absolute;
	width: 296px;
	-pie-box-shadow: 0px 5px 3px #7F7F7F;
	-moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
	background: #006837 url("../img/u2215-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #006837));
	background: -webkit-linear-gradient(top,#39B54A ,#006837 100%);
	background: -moz-linear-gradient(top,#39B54A ,#006837 100%);
	background: -ms-linear-gradient(top,#39B54A ,#006837 100%);
	background: -o-linear-gradient(top,#39B54A ,#006837 100%);
	background: linear-gradient(to bottom,#39B54A ,#006837 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	top: -12px;
}

#u1972:hover
{
	background: #009245 url("../img/u2215-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#39B54A ,#009245 100%);
	background: -moz-linear-gradient(top,#39B54A ,#009245 100%);
	background: -ms-linear-gradient(top,#39B54A ,#009245 100%);
	background: -o-linear-gradient(top,#39B54A ,#009245 100%);
	background: linear-gradient(to bottom,#39B54A ,#009245 100%);
	margin: 0px;
}

#u1972:active
{
	background: #39B54A url("../img/u2215-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#39B54A),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -moz-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -ms-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: -o-linear-gradient(top,#39B54A ,#39B54A 100%);
	background: linear-gradient(to bottom,#39B54A ,#39B54A 100%);
	margin: 0px;
}

#u2064-4
{
	z-index: 554;
	width: 296px;
	min-height: 34px;
	color: #FFFFFF;
	text-align: center;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1984
{
	position: absolute;
	width: 482px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: -465px;
	left: -89px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1984popup
{
	z-index: 558;
}

#u1985
{
	z-index: 559;
	width: 347px;
	height: 391px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 17px 45px 13px 46px;
}

#u2146-6
{
	z-index: 625;
	width: 347px;
	min-height: 58px;
	color: #000000;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#widgetu1986
{
	z-index: 560;
	width: 0.01px;
	height: 302px;
	margin-left: 25px;
	margin-top: 30px;
	position: relative;
}

#widgetu1989
{
	z-index: 561;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2252.fld-err-st,#widgetu2303.fld-err-st,#widgetu1989.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1990-4
{
	z-index: 562;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu2252.fld-err-st #u2253-4,#widgetu2303.fld-err-st #u2304-4,#widgetu1989.fld-err-st #u1990-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1992-4
{
	z-index: 566;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	color: #7F7F7F;
	text-align: left;
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#widgetu1989.non-empty-st #u1992-4
{
	background-color: #FFFFFF;
}

#widgetu1989:hover #u1992-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu1989.focus-st #u1992-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu1989.non-empty-st #u1992-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1989:hover #u1992-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1989.focus-st #u1992-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2252_input,#widgetu2252_prompt,#widgetu2303_input,#widgetu2303_prompt,#widgetu1989_input,#widgetu1989_prompt
{
	width: 282px;
	min-height: 23px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	padding: 6px;
}

#widgetu1994
{
	z-index: 570;
	width: 294px;
	height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 2px;
}

#widgetu2247.fld-err-st,#widgetu2298.fld-err-st,#widgetu1994.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 274px -10000px 0px 0px;
}

#u1997-4
{
	z-index: 571;
	width: 234px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	line-height: 6px;
	font-size: 6px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#widgetu2247.fld-err-st #u2248-4,#widgetu2298.fld-err-st #u2299-4,#widgetu1994.fld-err-st #u1997-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	margin: 0px -10000px 0px 0px;
}

#u1995-3
{
	z-index: 575;
	width: 282px;
	min-height: 6px;
	border-color: #7F7F7F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 6px;
	line-height: 6px;
	color: #7F7F7F;
	font-size: 6px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu1994.non-empty-st #u1995-3
{
	background-color: #FFFFFF;
}

#widgetu1994:hover #u1995-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1994.focus-st #u1995-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2247.fld-err-st #u2249-3,#widgetu2298.fld-err-st #u2300-3,#widgetu1994.fld-err-st #u1995-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1994.non-empty-st #u1995-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1994:hover #u1995-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1994.focus-st #u1995-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2247_input,#widgetu2298_input,#widgetu1994_input
{
	width: 282px;
	min-height: 6px;
	color: #7F7F7F;
	font-family: ubuntu, sans-serif;
	font-size: 6px;
	font-weight: 300;
	padding: 6px;
}

#u1988-4
{
	z-index: 578;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#widgetu2224.frm-sub-st #u2225-4 p,#widgetu2275.frm-sub-st #u2276-4 p,#widgetu1986.frm-sub-st #u1988-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2014-4
{
	z-index: 582;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#widgetu2224.frm-subm-err-st #u2231-4 p,#widgetu2275.frm-subm-err-st #u2282-4 p,#widgetu1986.frm-subm-err-st #u2014-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1987-4
{
	z-index: 586;
	width: 295px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
}

#widgetu2224.frm-sub-st #u2225-4,#widgetu2224.frm-subm-err-st #u2231-4,#widgetu2224.frm-subm-ok-st #u2246-4,#widgetu2275.frm-sub-st #u2276-4,#widgetu2275.frm-subm-err-st #u2282-4,#widgetu2275.frm-subm-ok-st #u2297-4,#widgetu1986.frm-sub-st #u1988-4,#widgetu1986.frm-subm-err-st #u2014-4,#widgetu1986.frm-subm-ok-st #u1987-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2224.frm-subm-ok-st #u2246-4 p,#widgetu2275.frm-subm-ok-st #u2297-4 p,#widgetu1986.frm-subm-ok-st #u1987-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1999-17
{
	z-index: 590;
	min-height: 63px;
	width: 301px;
	background: url("../img/u1999-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
}

#u1999-17:hover
{
	background: url("../img/u1999-17-r.png") no-repeat 0px 0px;
}

#u1999-17:active
{
	background: url("../img/u1999-17-m.png") no-repeat 0px 0px;
}

#widgetu1986.frm-sub-st #u1999-17
{
	background: url("../img/u1999-17-fs.png") no-repeat 0px 0px;
}

#widgetu2009
{
	z-index: 607;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#widgetu2226.fld-err-st,#widgetu2277.fld-err-st,#widgetu2009.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 68px -10000px 0px 0px;
}

#u2010-4
{
	z-index: 608;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2013-4
{
	z-index: 612;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: -1px;
}

#widgetu2009.non-empty-st #u2013-4
{
	background-color: #FFFFFF;
}

#widgetu2009:hover #u2013-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2009.focus-st #u2013-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2226.fld-err-st #u2228-4,#widgetu2277.fld-err-st #u2279-4,#widgetu2009.fld-err-st #u2013-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 17px -10000px -1px 0px;
}

#widgetu2009.non-empty-st #u2013-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2009:hover #u2013-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2009.focus-st #u2013-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2226_input,#widgetu2226_prompt,#widgetu2277_input,#widgetu2277_prompt,#widgetu2009_input,#widgetu2009_prompt
{
	width: 282px;
	min-height: 23px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	padding: 6px;
}

#widgetu2252.focus-st #widgetu2252_prompt,#widgetu2226.focus-st #widgetu2226_prompt,#widgetu2303.focus-st #widgetu2303_prompt,#widgetu2277.focus-st #widgetu2277_prompt,#widgetu1989.focus-st #widgetu1989_prompt,#widgetu2009.focus-st #widgetu2009_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2252.non-empty-st #widgetu2252_prompt,#widgetu2226.non-empty-st #widgetu2226_prompt,#widgetu2303.non-empty-st #widgetu2303_prompt,#widgetu2277.non-empty-st #widgetu2277_prompt,#widgetu1989.non-empty-st #widgetu1989_prompt,#widgetu2009.non-empty-st #widgetu2009_prompt
{
	visibility: hidden;
}

#widgetu2136
{
	z-index: 616;
	width: 294px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 1px;
}

#widgetu2232.fld-err-st,#widgetu2283.fld-err-st,#widgetu2136.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 138px -10000px 0px 0px;
}

#u2137-4
{
	z-index: 617;
	width: 234px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu2226.fld-err-st #u2230-4,#widgetu2232.fld-err-st #u2233-4,#widgetu2277.fld-err-st #u2281-4,#widgetu2283.fld-err-st #u2284-4,#widgetu2009.fld-err-st #u2010-4,#widgetu2136.fld-err-st #u2137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2252.fld-err-st #u2253-4 p,#widgetu2252.fld-err-st #u2253-4 span,#widgetu2247.fld-err-st #u2248-4 p,#widgetu2247.fld-err-st #u2248-4 span,#widgetu2226.fld-err-st #u2230-4 p,#widgetu2226.fld-err-st #u2230-4 span,#widgetu2232.fld-err-st #u2233-4 p,#widgetu2232.fld-err-st #u2233-4 span,#widgetu2303.fld-err-st #u2304-4 p,#widgetu2303.fld-err-st #u2304-4 span,#widgetu2298.fld-err-st #u2299-4 p,#widgetu2298.fld-err-st #u2299-4 span,#widgetu2277.fld-err-st #u2281-4 p,#widgetu2277.fld-err-st #u2281-4 span,#widgetu2283.fld-err-st #u2284-4 p,#widgetu2283.fld-err-st #u2284-4 span,#widgetu1989.fld-err-st #u1990-4 p,#widgetu1989.fld-err-st #u1990-4 span,#widgetu1994.fld-err-st #u1997-4 p,#widgetu1994.fld-err-st #u1997-4 span,#widgetu2009.fld-err-st #u2010-4 p,#widgetu2009.fld-err-st #u2010-4 span,#widgetu2136.fld-err-st #u2137-4 p,#widgetu2136.fld-err-st #u2137-4 span
{
	color: #D7244C;
}

#u2138-4
{
	z-index: 621;
	width: 282px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 6px;
	line-height: 14px;
	color: #7F7F7F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#widgetu2136.non-empty-st #u2138-4
{
	background-color: #FFFFFF;
}

#widgetu2136:hover #u2138-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2136.focus-st #u2138-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2252.fld-err-st #u2254-4,#widgetu2232.fld-err-st #u2235-4,#widgetu2303.fld-err-st #u2305-4,#widgetu2283.fld-err-st #u2286-4,#widgetu1989.fld-err-st #u1992-4,#widgetu2136.fld-err-st #u2138-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 282px;
	margin: 16px -10000px -1px 0px;
}

#widgetu2136.non-empty-st #u2138-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2136:hover #u2138-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2136.focus-st #u2138-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2252.fld-err-st #u2254-4 *,#widgetu2247.fld-err-st #u2249-3 *,#widgetu2226.fld-err-st #u2228-4 *,#widgetu2232.fld-err-st #u2235-4 *,#widgetu2303.fld-err-st #u2305-4 *,#widgetu2298.fld-err-st #u2300-3 *,#widgetu2277.fld-err-st #u2279-4 *,#widgetu2283.fld-err-st #u2286-4 *,#widgetu1989.fld-err-st #u1992-4 *,#widgetu1994.fld-err-st #u1995-3 *,#widgetu2009.fld-err-st #u2013-4 *,#widgetu2136.fld-err-st #u2138-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2232_input,#widgetu2283_input,#widgetu2136_input
{
	width: 282px;
	min-height: 23px;
	color: #7F7F7F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	padding: 6px;
}

#widgetu2252:hover #widgetu2252_input,#widgetu2252.focus-st #widgetu2252_input,#widgetu2252.fld-err-st #widgetu2252_input,#widgetu2252:hover #widgetu2252_prompt,#widgetu2252.fld-err-st #widgetu2252_prompt,#widgetu2247:hover #widgetu2247_input,#widgetu2247.focus-st #widgetu2247_input,#widgetu2247.fld-err-st #widgetu2247_input,#widgetu2226:hover #widgetu2226_input,#widgetu2226.focus-st #widgetu2226_input,#widgetu2226.fld-err-st #widgetu2226_input,#widgetu2226:hover #widgetu2226_prompt,#widgetu2226.fld-err-st #widgetu2226_prompt,#widgetu2232:hover #widgetu2232_input,#widgetu2232.focus-st #widgetu2232_input,#widgetu2232.fld-err-st #widgetu2232_input,#widgetu2303:hover #widgetu2303_input,#widgetu2303.focus-st #widgetu2303_input,#widgetu2303.fld-err-st #widgetu2303_input,#widgetu2303:hover #widgetu2303_prompt,#widgetu2303.fld-err-st #widgetu2303_prompt,#widgetu2298:hover #widgetu2298_input,#widgetu2298.focus-st #widgetu2298_input,#widgetu2298.fld-err-st #widgetu2298_input,#widgetu2277:hover #widgetu2277_input,#widgetu2277.focus-st #widgetu2277_input,#widgetu2277.fld-err-st #widgetu2277_input,#widgetu2277:hover #widgetu2277_prompt,#widgetu2277.fld-err-st #widgetu2277_prompt,#widgetu2283:hover #widgetu2283_input,#widgetu2283.focus-st #widgetu2283_input,#widgetu2283.fld-err-st #widgetu2283_input,#widgetu1989:hover #widgetu1989_input,#widgetu1989.focus-st #widgetu1989_input,#widgetu1989.fld-err-st #widgetu1989_input,#widgetu1989:hover #widgetu1989_prompt,#widgetu1989.fld-err-st #widgetu1989_prompt,#widgetu1994:hover #widgetu1994_input,#widgetu1994.focus-st #widgetu1994_input,#widgetu1994.fld-err-st #widgetu1994_input,#widgetu2009:hover #widgetu2009_input,#widgetu2009.focus-st #widgetu2009_input,#widgetu2009.fld-err-st #widgetu2009_input,#widgetu2009:hover #widgetu2009_prompt,#widgetu2009.fld-err-st #widgetu2009_prompt,#widgetu2136:hover #widgetu2136_input,#widgetu2136.focus-st #widgetu2136_input,#widgetu2136.fld-err-st #widgetu2136_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u2258,#u2309,#u1982
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	top: -428px;
	left: 339px;
	background: transparent url("../img/x.png") no-repeat center center;
}

#u2076-4
{
	z-index: 539;
	width: 128px;
	min-height: 32px;
	color: #ED1C24;
	text-align: center;
	line-height: 32px;
	font-size: 27px;
	font-family: aladin, sans-serif;
	font-weight: 400;
	margin-left: 416px;
	margin-top: 27px;
	position: relative;
}

#u2077-4
{
	z-index: 543;
	width: 395px;
	min-height: 22px;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	font-size: 18px;
	font-family: jura, sans-serif;
	font-weight: 300;
	margin-left: 282px;
	position: relative;
}

#pu1565
{
	width: 0.01px;
	left: -100px;
	top: -86px;
	margin-bottom: -86px;
	position: relative;
}

#u1565
{
	z-index: 489;
	width: 1160px;
	-pie-box-shadow: 0px -3px 3px #999999;
	-moz-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px -3px 3px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
	border-color: #000000;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
	background: #2E150E url("../img/bg-niz.jpg") no-repeat center top;
}

#u986_align_to_page,#u570_align_to_page,#u113_align_to_page,#u1087_align_to_page,#u1153_align_to_page,#u1660_align_to_page,#u1667_align_to_page,#u2078_align_to_page,#u1565_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1573-6
{
	z-index: 529;
	width: 812px;
	min-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 174px;
}

#u1574-4
{
	z-index: 535;
	width: 250px;
	min-height: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 455px;
}

#page .verticalspacer
{
	clear: both;
}

/* form's */

.lv-order-form {
	border: none;
	width:86%;
	margin-left:0px;
	margin-top:75px;
}
.lv-order-form input[type=text],
.lv-order-form textarea,
.lv-order-form select {
	width: 100%;
    height: 37px;
    border-width: 1px;
    border-style: solid;
    border-color: #7F7F7F;
    background-color: #FFFFFF;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    padding: 6px;
    line-height: 14px;
    color: #7F7F7F;
    text-align: left;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
	margin-bottom:15px;
}
.lv-order-form input[type=checkbox] {}
.lv-order-form .lv-order-button {
	height: 63px;
	width: 301px;
	background: url("../img/u2237-17.png") no-repeat 0px 0px;
	cursor:pointer;
	outline:none;
	margin-top:20px;
}
.lv-order-form .lv-order-button:hover {
	background: url("../img/u2237-17-r.png") no-repeat 0px 0px;
}
.lv-order-form .lv-order-button:active {
	background: url("../img/u2237-17-m.png") no-repeat 0px 0px;
}
.lv-order-form .lv-label label {
    line-height: 14px;
    color: #7F7F7F;
    text-align: left;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
}
.lv-order-form .lv-row-additional1 {
	display:none !important;
}