


div .wrap .desktop{display: block;}
div .wrap .mobile{display: none;}
div .wrap .mobile320{display: none;}
div .wrap .not320{display: block;}


h1,h2,h3,h4,h5{font-family: 'Roboto', arial, sans-serif; font-weight: bold;}
p, div, span, a, li {font-family: 'Roboto', arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 23px;}
*{padding:0; margin: 0; text-decoration: none; list-style-type: none; outline: none;}

h1{font-size: 73px; line-height:55px;}
h2{font-size: 28px; line-height: 32px;}
h3{font-size: 18px; line-height: 20px;}


.clear{clear: both;}

.container{
	width: 100%;
	float: left;
}
.wrap{
	width: 980px;
	height: 100%;
	margin-left:  auto;
	margin-right: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{clear: both;}


.dark_gray{color: #262327;}
.light_gray{color: rgba(113,114,117,0.95);}
.white{color: #fff;}
.white_50{color: rgba(255,255,255,0.5);}
.white_60{color: rgba(255,255,255,0.6);}
.white_70{color: rgba(255,255,255,0.7);}
.white_80{color: rgba(255,255,255,0.8);}
.black{color: #000;}

.price{font-size: 25px; color: #fff; font-weight: bold;}
.price span{font-size: 25px;font-weight: bold; }
.price .old_price{text-decoration: line-through; font-weight: normal;  padding-right: 25px;}
.price .old_price span{font-weight: normal; }
.order_button{
	display:block;
	height: 60px;
	width: 328px;
	background-color: #e5e42e; 
	border: none;
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
	margin: 25px auto 0 auto;
	cursor: pointer;
	text-align: center;
	line-height: 60px;
}
a.order_button{
	display:block;
	height: 60px;
	width: 278px;
	background-color: transparent; 
	border: 2px solid #e5e42e;
	font-size: 28px;
	color: #e5e42e;
	font-weight: bold;
	margin: 25px 0 0 0;
	cursor: pointer;
	text-align: center;
	line-height: 60px;
}
.order_button:hover{
	background-color: #a1b02a; 
}
a.order_button:hover{
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent; 
}
form input,form select{
	display: block;
	width: 304px;
	border: 1px dashed #000 !important;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	color: #000;
	margin:0 auto 15px auto;
	background-color: transparent;	
	text-align: left !important;
	-webkit-border-radius:0;
	-webkit-appearance: none; 
}
form select{width: 324px; padding: 0;}
form select option{line-height: 50px; }
::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}
.timer{
	margin: 30px auto;
	text-align: left;
	width: 200px;
	
}

.timer .title{
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
	color: rgba(255,255,255,0.75);
}

 .timer .block {
    float: left;
}

 .timer .block .rect {
   
	font-family: 'Roboto', arial, sans-serif;
	font-weight: bold;
    line-height: 35px;
    font-size: 35px;
    padding: 5px 5px;
}

.timer .block .label {
    font-size: 12px;
	text-align: center;
}

.timer .points {
    float: left;
    width: 23px;
    height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 40px;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: bold;
}

.wrap >h2{text-align: center; margin-left: auto; margin-right: auto;}
.wrap >h2:first-of-type{padding-top: 70px;}



#block1{
	background: url('../img/block1.jpg') no-repeat center center;
	height: 783px;
}

#block1 .left{width: 670px; padding-top: 100px;}
#block1 .left p:first-of-type{color: rgba(255,255,255,0.7); margin-top: 10px; margin-bottom: 20px; font-size: 20px;}
#block1 .left h1{color: #f8f631; margin-bottom: 60px;}
#block1 .left ul li{color: rgba(255,255,255,0.7); font-size: 16px; line-height: 25px;}
#block1 .left .timer {margin: 20px 0 35px 0;}
#block1 .left .price{margin-top: 20px; margin-bottom: 50px;}

#block2{
	background: #ffffff;
	height: 1280px;
}
#block2 .wrap{padding-top: 90px;}

#block2 .left.img{
	background: url('../img/block2_graph.png') no-repeat center center;
	width: 455px;
	height: 290px;
	margin-bottom: 60px;
}

#block2 .right{
	width: 460px;
	margin-right: 25px;
}
#block2 .right h2{margin-bottom: 35px;} 
#block2 .right p{ color: rgba(38,35,39,0.85);}
#block2 .item{
	width: 300px;
	padding: 160px 13px 0;
	min-height: 210px;
	margin-top: 30px;
	float: left;
	background: url('../img/block2_feature1.png') no-repeat top center;
	text-align: center;
}
#block2 .item+.item {background: url('../img/block2_feature2.png') no-repeat top center; color: rgba(38,35,39,0.85);}
#block2 .item+.item+.item{background: url('../img/block2_feature3.png') no-repeat top center;}
#block2 .item+.item+.item+.item{background: url('../img/block2_feature4.png') no-repeat top center; margin-left: 115px; width: 350px}
#block2 .item+.item+.item+.item+.item{background: url('../img/block2_feature5.png') no-repeat top center; margin-left: 0px;}
#block2 .item h3{font-size: 14px; line-height: 20px; text-transform: uppercase; margin-bottom: 30px; text-align: center;}

#block3{
	background: url('../img/block3.jpg') no-repeat center center;
	height: 483px;
}
#block3 .wrap{padding-top:20px;}

#block3 .item{
	width: 330px;
	padding-left: 130px;
	margin-top: 60px;
	float: left;
	background: url('../img/block3_reason1.png') no-repeat left center;
	text-align: center;
	height: 130px;
}
#block3 .item+.item {background: url('../img/block3_reason2.png') no-repeat left center;}
#block3 .item+.item+.item{background: url('../img/block3_reason3.png') no-repeat left center;}
#block3 .item+.item+.item+.item{background: url('../img/block3_reason4.png') no-repeat left center;}
#block3 .item p{padding-top: 40px;}
#block3 .item:nth-of-type(even){margin-left: 40px;}


#block4{
	background: url('../img/block4.jpg') no-repeat center center;
	height: 1165px;
}
#block4 .wrap{ padding-top: 70px; position: relative;}
#block4 .left{
	width: 345px;
	padding: 20px 30px;
}	

#block4 .left *{margin-left: auto; margin-right: auto; text-align: center;}
#block4 .left .price{color: #262327; margin-top: 30px; margin-bottom: 20px;}
#block4 .left .timer{margin: 20px auto;}
#block4 .sale{
	position: absolute;
	width: 160px;
	text-align: center;
	top: 190px;
	left: 410px;
	font-size: 18px;
	color: rgba(38,35,39,0.9);
}
#block4 .right.descr{
	width: 630px;
	padding-top: 80px;
	text-align: center;
}
#block4 .right.descr h3{width: 210px; text-transform: uppercase; font-size: 14px; line-height: 20px; float: left; margin-bottom: 35px;}
#block4 .right.descr p{text-align: justify; color:rgba(38,35,39,0.85); padding-left: 15px;}
#block4 .right.descr p:first-of-type{margin: 45px auto; text-align: center;}
#block5{
	background: url('../img/block5.jpg') no-repeat center center;
	height: 421px;
}
#block5 h2{margin-bottom: 60px;}
#block5  .flexslider {
    width: 860px;
	margin: 0px;
	position: relative;
}
#block5 .order_link{margin-top: 60px;}

#block5  .flex-control-nav{
    display: none;
}

#block5  .slides {
    float: left;
	list-style: none;
}

#block5  .slides li {
    list-style: none;
}
#block5  .flexslider li:before{content: none;}
#block5  .slides li .review {
    width: 660px;
	padding-left: 200px;
	min-height: 180px;
	background: url('../img/block5_feed1.png') no-repeat left center;
}
#block5  .slides li:nth-of-type(3) .review{
	background: url('../img/block5_feed2.png') no-repeat left center;
}
#block5  .slides li:nth-of-type(4) .review{
	background: url('../img/block5_feed3.png') no-repeat left center;
}
#block5  .flex-next {
    background: url("../img/arrow_right.png") no-repeat center center;
    width: 22px;
    height: 47px;
    position: absolute;
    right: -5%;
    top: 50%;
    margin-top: -40px;
    text-indent: -9999999px;
}
#block5  .flex-prev{display: none;}

#block5 .slides .title{
	font-size: 16px;
	text-align: center;
	font-weight: 500;
	margin-top: 30px;
}
#block5 .slides p{
	line-height: 15px;
	line-height: 23px;
	text-align: left;
}
#block5 .slides h3{
	text-align: left;
	margin-bottom: 20px;
}

#block6{
	background: #ffffff;
	height: 462px;
}

#block6 h2{margin-bottom: 40px;}

#block6 .item{
	width: 165px;
	float: left;
	padding: 100px 15px 0;
	background: url('../img/block6_howwork1.png') no-repeat top center;
	text-align: center;	
}
#block6 p{
color:rgba(38,35,39,0.85);	
}
#block6 .item+.item{
	background: url('../img/block6_howwork2.png') no-repeat top center;
}
#block6 .item+.item+.item{
	background: url('../img/block6_howwork3.png') no-repeat top center;
}
#block6 .item+.item+.item+.item{
	background: url('../img/block6_howwork4.png') no-repeat top center;
}
#block6 .item+.item+.item+.item+.item{
	background: url('../img/block6_howwork5.png') no-repeat top center;
}

#footer{
	height: 100px;
	text-align: center;
	background-color: rgba(18,10,20,0.87);
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	padding-top: 25px;
}

#footer a{
margin-top: 0px;
display: inline-block;
}
#footer a:hover{text-decoration: underline;}
.frame {
	width: 853px;
	height: 480px;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------640-------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
@media screen and (max-width: 980px) {
.frame {
	width: 560px;
	height: 315px;
}
div .wrap .desktop{display: none;}
div .wrap .mobile{display: block;}
div .wrap .mobile320{display: none;}
div .wrap .not320{display: block;}
.wrap{
	width: 570px;
}

.wrap >h2{text-align: center; margin-left: auto; margin-right: auto; line-height: 35px;}
.wrap >h2:first-of-type{padding-top: 60px;}
.wrap>.left,.wrap>.right{float: none; margin-left: auto; margin-right: auto;}

#block1{
	background: url('../img_640/block1.jpg') no-repeat center center;
	height: 787px;
}

#block1 .left{width: 100%; padding-top: 100px;}
#block1 .left p:first-of-type{color: rgba(255,255,255,0.7); margin-top: 10px; margin-bottom: 20px; font-size: 20px; text-align: center;}
#block1 .left h1{color: #f8f631; margin-bottom: 60px; text-align: center;}
#block1 .left h2:first-of-type{text-align: center;}
#block1 .left ul li{color: rgba(255,255,255,0.7); font-size: 16px; line-height: 25px;}
#block1 .left ul{margin-bottom: 50px;}
#block1 .left .timer {margin: 20px auto 35px auto;}
#block1 .left .price{margin-top: 20px; margin-bottom: 50px;}
#block1 .left .order_button{margin-left: auto; margin-right: auto;}



#block2{
	background: #ffffff;
	height: 2040px;
}
#block2 .wrap{padding-top: 60px;}

#block2 .left.img{
	background: url('../img/block2_graph.png') no-repeat center center;
	width: 455px;
	height: 290px;
	margin-bottom: 50px;
}

#block2 .right{
	width: 460px;
	margin-right: auto;
	text-align: center;
}
#block2 .right h2{margin-bottom: 35px;} 
#block2 .right p{ color: rgba(38,35,39,0.85); margin-bottom: 60px;}
#block2 .item{
	width: 500px;
	padding: 160px 13px 0;
	min-height: 0px;
	margin: 60px auto 0 auto;
	float: none;
	background: url('../img/block2_feature1.png') no-repeat top center;
	text-align: center;
}
#block2 .item+.item {background: url('../img/block2_feature2.png') no-repeat top center; color: rgba(38,35,39,0.85);}
#block2 .item+.item+.item{background: url('../img/block2_feature3.png') no-repeat top center;}
#block2 .item+.item+.item+.item{background: url('../img/block2_feature4.png') no-repeat top center; margin-left: auto; width: 500px}
#block2 .item+.item+.item+.item+.item{background: url('../img/block2_feature5.png') no-repeat top center; margin-left: auto; display: none;}
#block2 .item h3{font-size: 14px; line-height: 20px; text-transform: uppercase; margin-bottom: 30px; text-align: center;}

#block3{
	background: url('../img_640/block3.jpg') no-repeat center center;
	height: 704px;
}
#block3 .wrap{padding-top:40px;}

#block3 .item{
	width: 444px;
	padding-left: 140px;
	margin-top: 20px;
	float: none;
	background: url('../img/block3_reason1.png') no-repeat left center;
	text-align: left;
	height: 130px;
}
#block3 .item+.item {background: url('../img/block3_reason2.png') no-repeat left center;}
#block3 .item+.item+.item{background: url('../img/block3_reason3.png') no-repeat left center;}
#block3 .item+.item+.item+.item{background: url('../img/block3_reason4.png') no-repeat left center;}
#block3 .item p{padding-top: 40px;}
#block3 .item:nth-of-type(even){margin-left: auto;}


#block4{
	background: #ffffff;
	height: 1580px;
}
#block4 .wrap{ padding-top: 70px; position: relative;}
#block4 .left{
	width: 345px;
	padding: 20px 30px;
}	

#block4 .left *{margin-left: auto; margin-right: auto; text-align: center;}
#block4 .left .price{color: #262327; margin-top: 30px; margin-bottom: 20px;}
#block4 .left .timer{margin: 20px auto;}
#block4 .sale{
	position: absolute;
	width: 160px;
	text-align: center;
	top: 190px;
	left: 410px;
	font-size: 18px;
	color: rgba(38,35,39,0.9);
}
#block4 .right.descr{
	width: 100%;
	padding-top: 80px;
	text-align: center;
}
#block4 .right.descr h3{width: 190px; text-transform: uppercase; font-size: 12px; line-height: 20px; float: left; margin-bottom: 35px;}
#block4 .right.descr p{text-align: justify; color:rgba(38,35,39,0.85); padding-left: 0px;}
#block4 .right.descr p:first-of-type{margin: 45px auto; text-align: center;}
#block4 .img{
	background: url(../img/block4_img.png) no-repeat center center;
	width: 499px;
	height: 406px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#block5{
	background: url('../img_640/block5.jpg') no-repeat center center;
	height: 638px;
}
#block5 h2{margin-bottom: 30px;}

#block5  .flexslider {
    width: 100%;
	margin: 0px;
	position: relative;
}
#block5 .order_link{margin-top: 60px;}

#block5  .flex-control-nav{
    display: none;
}

#block5  .slides {
    float: left;
	list-style: none;
}

#block5  .slides li {
    list-style: none;
}
#block5  .flexslider li:before{content: none;}
#block5  .slides li .review {
    width: 100%;
	padding-left: 0px;
	min-height: 200px;
	padding-top: 200px;
	background: url('../img/block5_feed1.png') no-repeat top center;
}
#block5  .slides li:nth-of-type(3) .review{
	background: url('../img/block5_feed2.png') no-repeat top center;
}
#block5  .slides li:nth-of-type(4) .review{
	background: url('../img/block5_feed3.png') no-repeat top center;
}
#block5  .flex-next {
    background: url("../img/arrow_right.png") no-repeat center center;
    right: 25%;
    top: 25%;
}
#block5  .flex-prev{
	background: url("../img/arrow_left.png") no-repeat center center;
    width: 22px;
    height: 47px;
    position: absolute;
    left: 25%;
    top: 25%;
    margin-top: -40px;
    text-indent: -9999999px;
	display: block;
}

#block5 .slides .title{
	font-size: 16px;
	text-align: center;
	font-weight: 500;
	margin-top: 30px;
}
#block5 .slides p{
	line-height: 15px;
	line-height: 23px;
	text-align: center;
}
#block5 .slides h3{
	text-align: center;
	margin-bottom: 20px;
}

#block6{
	background: #ffffff;
	height: 760px;
}

#block6 h2{margin-bottom: 40px;}

#block6 .item{
	width: 210px;
	float: left;
	padding: 100px 35px 0;
	background: url('../img/block6_howwork1.png') no-repeat top center;
	text-align: center;	
	margin-bottom: 30px;
}
#block6 p{
color:rgba(38,35,39,0.85);	
}
#block6 .item+.item{
	background: url('../img/block6_howwork2.png') no-repeat top center;
}
#block6 .item+.item+.item{
	background: url('../img/block6_howwork3.png') no-repeat top center;
}
#block6 .item+.item+.item+.item{
	background: url('../img/block6_howwork4.png') no-repeat top center;
}
#block6 .item+.item+.item+.item+.item{
	background: url('../img/block6_howwork5.png') no-repeat top center;
	float: none; clear: both;
	margin-left: auto; margin-right: auto;
}


}

/*-----------------------------------------------------------------------------*/
/*-----------------320-------------------*/
/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 639px) {
	.frame {
		width: 440px;
		height: 248px;
	}
.wrap{
	width: 284px;
}
div .wrap .desktop{display: none;}
div .wrap .mobile320{display: block;}
div .wrap .not320{display: none;}

h1{font-size: 60px; line-height:35px;}
h2{font-size: 28px; line-height: 30px;}
h3{font-size: 18px; line-height: 25px;}


.wrap >h2{text-align: center; margin-left: auto; margin-right: auto;}
.wrap >h2:first-of-type{padding-top: 40px;}
.wrap >.separ+p{text-align: center; margin-left: auto; margin-right: auto;  margin-bottom: 20px; font-weight: 500;}

.wrap>.left,.wrap>.right{float: none; margin-left: auto; margin-right: auto;}
 
#block1{
	background: url('../img_320/block1.jpg') no-repeat center center;
	height: 885px;
}

#block1 .left p:first-of-type{color: rgba(255,255,255,0.7); margin-top: 40px; margin-bottom: 40px; font-size: 20px; text-align: center;}
#block1 .left h1{margin-bottom: 50px; text-align: center;}
#block1 .left h2:first-of-type{text-align: center; font-size: 32px;}
#block1 .left h2{text-align: center;}
#block1 .left .price{margin-top: 20px; margin-bottom: 50px; text-align: center;}



#block2{
	background: #ffffff;
	height: 1684px;
}
#block2 .wrap{padding-top: 0px;}


#block2 .item{
	width: 100%;
	padding: 160px 0px 0;
	margin: 60px auto 0 auto;
}

#block2 .item+.item+.item+.item{background: url('../img/block2_feature4.png') no-repeat top center; margin-left: auto; width: 100%;}


#block3{
	background: url('../img_320/block3.jpg') no-repeat center center;
	height: 1035px;
}
#block3 .wrap{padding-top:40px;}

#block3 .item{
	width: 100%;
	padding-top: 140px;
	padding-left: 0px;
	margin-top: 40px;
	float: none;
	background: url('../img/block3_reason1.png') no-repeat top center;
	text-align: center;
	height: 50px;
}
#block3 .item+.item {background: url('../img/block3_reason2.png') no-repeat top center;}
#block3 .item+.item+.item{background: url('../img/block3_reason3.png') no-repeat top center;}
#block3 .item+.item+.item+.item{background: url('../img/block3_reason4.png') no-repeat top center;}
#block3 .item p{padding-top: 0px;}


#block4{
	background: #ffffff;
	height: 1530px;
}
#block4 .wrap{ padding-top: 70px; position: relative;}
#block4 .left{
	width: 100%;
	padding: 20px 0px;
}	

#block4 .left *{margin-left: auto; margin-right: auto; text-align: center;}
#block4 .left .price{color: #262327; margin-top: 30px; margin-bottom: 20px; text-align: center;}
#block4 .left .timer{margin: 20px auto;}
#block4 .left input{width: 260px; -webkit-border-radius:0;
	-webkit-appearance: none; border: 1px dashed #000; }
#block4 .left button{width: 280px; -webkit-border-radius:0;
	-webkit-appearance: none;}
#block4 .left select{width: 280px; -webkit-border-radius:0;
	-webkit-appearance: none; }

#block4 .right.descr{
	width: 100%;
	padding-top: 80px;
	text-align: center;
}
#block4 .right.descr h3{width: 190px; text-transform: uppercase; font-size: 12px; line-height: 20px; float: left; margin-bottom: 35px;}
#block4 .right.descr p{text-align: justify; color:rgba(38,35,39,0.85); padding-left: 0px;}
#block4 .right.descr p:first-of-type{margin: 45px auto; text-align: justify;}
#block4 .img{
	background: url(../img_320/block4_img.png) no-repeat center center;
	background-size: contain;
	width: 100%;
	height: 230px;
}
#block5{
	background: url('../img_320/block5.jpg') no-repeat center center;
	height: 816px;
}
#block5 h2{margin-bottom: 30px;}

#block5  .flexslider {
    width: 100%;
	margin: 0px;
	position: relative;
}

#block5  .slides li .review {
    width: 100%;
	padding-left: 0px;
	min-height: 200px;
	padding-top: 200px;
	background: url('../img/block5_feed1.png') no-repeat top center;
}

#block5  .flex-next {
    background: url("../img/arrow_right.png") no-repeat center center;
    right: 1%;
    top: 17%;
}
#block5  .flex-prev{
	background: url("../img/arrow_left.png") no-repeat center center;
    width: 22px;
    height: 47px;
    position: absolute;
    left: 1%;
    top: 17%;
    margin-top: -40px;
    text-indent: -9999999px;
	display: block;
}



#block6{
	background: #ffffff;
	height: 1120px;
}

#block6 h2{margin-bottom: 40px;}

#block6 .item{
	width: 210px;
	float: left;
	padding: 100px 36px 0;
	background: url('../img/block6_howwork1.png') no-repeat top center;
	text-align: center;	
	margin-bottom: 30px;
}

 
 
}
@media screen and (max-width: 479px) {
.frame {
		width: 284px;
		height: 169px;
	}
}
