body {
	background-color: #F7F8F9;
	/*font: 13px/20px "Open Sans", "Arial";*/
	color: #4B4B4B;
}
.header-wrapper {
	background-color: #2D2F31;
}
.content-border {
	background-color: #fff;
	border-radius: 5px;
	/*height: 1000px;*/
	position: relative;
	top: -73px;
	padding: 30px;
	z-index: 10;
	/*margin-top: -73px;*/
}
.header {
	min-height: 153px;
}
.second-menu-title {
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
}
.main-menu {
	background-color: #2D2F31 !important;
}
.main-menu-logo {
	height: 38px; 
	width: auto; 
	background-color: #fff; 
	opacity: 1; 
	border-radius: 5px; 
	margin-right: 10px;
}
.content {
	/*height: 100px;*/
	/*background-color: #ccc;*/
}
.second-menu {
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;

}
.second-menu a {
	color: #7A7A7A;
}
.second-menu-title {
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 0;
	color: #7A7A7A;
}
.tabs {
	padding: 0;
}
.tabs li {
	list-style-type: none;
	float: left;
	min-width: 154px;
	margin: 0 18px 10px 0;
}
.tabs li a {
	display: block;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	text-decoration: none;
	white-space: nowrap;
	color: #777777;
	line-height: 34px;
	text-align: center;
	padding: 0 10px 0 10px;
}
.tabs li a:hover{
	border-color: #5D8FA8;
	background: #5D8FA8;
	color: #FFF;
}
.block-movie-in-groups li {
	width: auto;
	margin: 0 9px 0 0;
}
.block-movie-in-groups li a {
	padding: 0 10px 0 10px;
}
.block-years {
	padding: 0;
}
.block-years li {
	list-style-type: none;
	float: left;
	margin-top: 10px;
	/*margin-right: 18px;*/
	width: 50%;
}
.block-years .block-years-left {
	padding-right: 9px;
}
.block-years .block-years-right {
	padding-left: 9px;
}
.block-years li:first-child {
	float: none;
	width: auto;
}
.block-years li a {
	text-align: center;
	display: block;
	border-radius: 3px;
	background: #F7F8F9;
	text-decoration: none;
	line-height: 36px;
	color: #637a84;
}
.block-ad {
	height: 200px;
	background-color: #F7F8F9;
}
.block-new-movies {
	height: 200px;
	background-color: #F7F8F9;
	border-top: 1px solid #D9DADB;
	padding-top: 20px;
}
.block-top-movies {
	height: 200px;
	background-color: #F7F8F9;
	border-top: 1px solid #D9DADB;
	padding-top: 20px;
}
.footer-wrapper {
	background-color: #2D2F31;
	position: relative;
	margin-top: -120px;
	/*top: -120px;*/
}
.footer {
	height: 153px;
}
h1 {
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
}
@media (max-width: 576px) {
	.content-border {
		padding-left: 10px;
		padding-right: 10px;
	}

}
.nav .nav-link {
	text-transform: uppercase;
}
.collapse.collapse-preview:not(.show) {
	display: block;
	height: 100px;
	overflow: hidden;
}
.movies .movie {
	margin-bottom: 30px;
	border-radius: 3px;
	background: #F7F8F9;
}
.movies .image {
}
.movies .image img {
	width: 100%;
	height: auto;
	/*min-height: 250px;*/
}
.movies .image span {
	/*position: absolute;*/
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px 0;
	border-top: 1px solid #ECA131;
	background: #2D2F31;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
	color: #FFF;
	opacity: 0.9;
	display: block;
	margin-top: -33px;
}
.movies .movieTitle {
	margin-bottom: 12px;
	color: #2D2F31;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	display: block;
}
.movies .movieInfo {
	margin-top: 20px;
	margin-bottom: 20px;
}
.movies .metas {
	padding: 0;
}
.movies .metas li {
	list-style-type: none;
	display: inline-block;
	background: #E5E7E8;
	margin-right: 7px;
	padding: 0 13px;
	border-radius: 3px;
	line-height: 30px;
}
.movies .metas .meta-clean {
	background: none;
}
.movies .movieGenres {
	padding: 0;
	text-transform: capitalize;
}
.movies .movieGenres a {
	color: #5D8FA8;
}
.movies .movieGenres li {
	display: inline-block;
}
.movies .movieGenres li:after {
	display: inline-block;
	color: #EAEAEA;
	content: '|';
	margin: 0 8px 0 5px;
}
.movies .movieGenres li:last-child:after {
	content: '';
}
.pages a {
	text-align: center;
	float: left;
	margin-right: 10px;
	width: 33px;
	height: 33px;
	border-radius: 3px;
	line-height: 33px;
	border: 1px solid #c1c1c1;
	text-decoration: none;
	color: #777c7f;
}
.pages .active {
	border: 1px solid #525252;
	color: #E7E7E7;
	background: #646464;
}
.pages a:hover {
	border-color: #5D8FA8;
	background: #5D8FA8;
	color: #FFF;
}

h1 span {
	margin-left: 2px;
	vertical-align: text-bottom;
	font-size: 13px;
	color: #9B9FA2;
}

.watchMovie-info {
	font-size: 13px;
	padding-left: 0;
	margin-bottom: 0;
}

.watchMovie-info li ul {
	padding-left: 0;
	margin-bottom: 0;
	display: inline-block;
}

.watchMovie-info li {
	display: inline-block;
	padding: 10px;
}

.watchMovie-info li ul li {
	display: inline-block;
	padding: 0px;
}

.legalPlayerEpisodes {

}

.selectLegalPlayer {
	width: 300px;
}

.movie-tags {
	display: inline;
	margin: 0;
	padding: 0;
}

.movie-tags li {
	display: inline;
}

.movie-tags li:after {
	content: ', ';
}

.movie-tags li:last-child:after {
	content: '';
}

.text-underlined {
	font-size: 17px;
	font-weight: normal;
	line-height: 26px;
	text-transform: uppercase;
	display: block;
	height: 40px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.text-underlined span {
	color: #DB962A;
}

.sameMovie {
}

.sameMovie a {
	display: block;
	background: #F4F4F4;
	border-radius: 3px;
	text-decoration: none;
	background: #F4F4F4;
	color: #637a84;
}

.sameMovie a:hover {
	background: #5D8FA8;
	color: #FFF;
}

.sameMovie img {
	min-height: 100px;
	width: 100%;
}

.sameMovie .title {
	padding: 10px 0 10px 0;
}

@media (max-width: 420px) {
	.nav-link {
		font-size: 11px;
		padding: .5rem .4rem;
	}

	.tabs li {
		min-width: 110px;
		font-size: 13px;
	}

	.block-genres {
		display: none;
	}
}

@media (max-width: 992px) {
	.content-border {
		position: inherit;
	}

	.header {
		min-height: auto;
	}

}