#LG_container{
         border: 1px solid #aaa;
         visibility:hidden;
         position:absolute;
         top:0px;
         left:0px;
         padding:2px;
         z-index:200;
         opacity:1;
         background-color:#fff;
         background-position:center;
         background-repeat:no-repeat;
         font: normal 12px verdana, arial, sans-serif
         }
         #LG_loading {
         background: url("../res/ico-loading.gif") no-repeat center;
         display: none;
         position: absolute;
         width: 40px;
         height: 40px;
         top: 50%;
         left: 50%;
         margin: -20px 0 0 -20px;
         }
         #LG_panel {padding: 1px 0}
         #LG_prevLink,#LG_nextLink{
         width:20px;
         height:20px;
         cursor:pointer;
         position:absolute;
         top:24px;
         opacity:0;
         filter:alpha(opacity=0);
         }
         #LG_prevLink{
         left:0;
         background:url("../res/prev.gif") no-repeat left 40px
         }
         #LG_nextLink{
         right:0;
         background:url("../res/next.gif") no-repeat right 40px
         }
         #LG_imgIndex{
         float:left;
         margin-left:16px;
         color:#777;
         height:20px;
         line-height:20px;
         }
         #LG_titleBar{
         color:#555;
         height:30px;
         line-height:30px;
         overflow:hidden;
         text-align:center;
         }
         #LG_overlay{
         position:absolute;
         top:0;
         left:0;
         z-index:100;
         width:100%;
         height:100%;
         display:none;
         opacity:0;
         filter:Alpha(opacity=0);
         }
         #LG_pic{display:none;margin:0 auto}
         #LG_zoomIn, #LG_zoomOut, #LG_zoomNormal, #LG_fitScreen, #LG_zoom_disabled{
         width:20px;
         height:20px;
         margin:1px;
         float:left;
         cursor:pointer;
         display:block;
         }
         #LG_zoom_disabled {
         display:none;
         }
         #LG_zoomIn{background:url("../res/sprite.gif") no-repeat 0 0px}
         #LG_zoomIn:hover{background:url("../res/sprite.gif") no-repeat 0 -40px}
         #LG_zoomNormal{background:url("../res/sprite.gif") no-repeat 0 -80px}
         #LG_zoomNormal:hover{background:url("../res/sprite.gif") no-repeat 0 -120px}
         #LG_zoomOut{background:url("../res/sprite.gif") no-repeat 0 -160px}
         #LG_zoomOut:hover{background:url("../res/sprite.gif") no-repeat 0 -200px}
         #LG_fitScreen{background:url("../res/sprite.gif") no-repeat 0 -320px}
         #LG_closeBtn{
         float:right;
         background:url("../res/sprite.gif") no-repeat 0 -240px;
         width:22px;
         height:22px;
         cursor:pointer;
         }
         #LG_closeBtn:hover{
         background:url("../res/sprite.gif") no-repeat 0 -280px;
         }
         #LG_innerCont {
            overflow: hidden;
         }