*{box-sizing:border-box;font-weight:normal;margin:0;padding:0;-webkit-font-smoothing:antialiased} 
         img{vertical-align:bottom}
         body{background-color:#000;color:#fff;font-family:'regular';font-size:14px}
         .wrapper{height:100%;margin:0 auto;padding-left:10px !important;padding-right:10px !important;width:980px}
         .clearfix:after{clear:both;content:'';display:block;height:0;width:0}.hover{transition:all .6s}
         .hover:hover{background-color:#b48f4f;color:#fff}
         #header{background-color:rgba(0,0,0,0);border-bottom:1px solid #2a2c2e;height:100px;left:0;position:absolute;top:0;transition:all .6s;width:100%}
         #header:after{clear:both;content:'';display:block;height:0;width:0}
         #header>.wrapper{text-align:center}
         #header>.wrapper>div{display:inline-block;float:left;height:100px;line-height:100px;position:relative;transition:all .6s;width:151px}
         #header>.wrapper>div>img{height:20px;left:0;position:absolute;top:40px;transition:all .6s;vertical-align:middle}
         #header>.wrapper>ul{display:inline-block;list-style:none;vertical-align:middle}
         #header>.wrapper>ul>li{display:inline-block;line-height:100px;transition:all .6s}
         #header>.wrapper>ul>li>a{color:#fff;display:inline-block;font-family:'medium';font-size:14px;line-height:100px;padding:0 12px;position:relative;text-decoration:none;text-transform:uppercase;transition:all .3s}
         #header>.wrapper>ul>li>a:after{background-color:rgba(180,143,79,0);bottom:25px;content:'';display:block;height:2px;position:absolute;transition:all .6s;width:calc(100% - 30px)}
         #header>.wrapper>ul>li:hover>a:after{background-color:#b48f4f}
         #header>.wrapper>p{cursor:pointer;display:none;height:100px;line-height:100px;position:relative;transition:all .3s;vertical-align:top;width:40px}
         #header>.wrapper>p>span{background-color:#b48f4f;display:inline-block;height:2px;left:0;position:absolute;transform-origin:50% 50%;transition:all .3s;width:40px}
         #header>.wrapper>p>span:nth-of-type(1){top:34%}
         #header>.wrapper>p>span:nth-of-type(2){margin-top:-1px;top:50%}
         #header>.wrapper>p>span:nth-of-type(3){bottom:34%}
         #header>.wrapper>p.active>span:nth-of-type(1){margin-top:-1px;transform:rotate(45deg);top:50%}
         #header>.wrapper>p.active>span:nth-of-type(2){opacity:0}
         #header>.wrapper>p.active>span:nth-of-type(3){margin-top:-1px;transform:rotate(-45deg);top:50%}
         #first { background: rgb(11, 13, 15) url("../res/sneg.png") repeat scroll 0% 0%; padding-top: 100px; width: 100%; }
         #header>.wrapper>button{transition:all .6s;background:none;background-color:transparent;border:none;border:2px solid #b48f4f;color:#fff;cursor:pointer;float:right;font-family:'medium';font-size:14px;height:52px;line-height:50px;margin:25px 0;outline:none;text-transform:uppercase;width:220px}
         #header>.wrapper>button:hover{background-color:#b48f4f;color:#fff}
         #header.sticky{background-color:#000;height:50px;left:0;position:fixed;top:0;z-index:5}
         #header.sticky>.wrapper>div{height:50px;line-height:50px}
         #header.sticky>.wrapper>div>img{top:15px}
         #header.sticky>.wrapper>ul>li{line-height:50px}
         #header.sticky>.wrapper>ul>li>a{line-height:50px}
         #header.sticky>.wrapper>ul>li>a:after{bottom:10px}
         #header.sticky>.wrapper>p{height:50px;line-height:50px}
         #header.sticky>.wrapper>button{height:32px;line-height:30px;margin:10px 0;width:180px}
         #first{background-color:#0b0d0f;padding-top:100px;width:100%}
         #first>.wrapper{padding:40px 0 40px;position:relative;text-align:center}
         #first>.wrapper:after{border-left:110px solid transparent;border-right:110px solid transparent;border-top:20px solid #0b0d0f;bottom:-20px;content:'';display:block;height:0;left:50%;margin-left:-110px;position:absolute;width:0}
         #first>.wrapper>h1{color:#fff;font-family:'light';font-size:35px;line-height:45px;margin-bottom:40px;position:relative;text-transform:uppercase}
         #first>.wrapper>h1:after{background-color:#b48f4f;bottom:-20px;content:'';display:block;height:3px;left:50%;margin-left:-20px;position:absolute;width:40px}
         #first>.wrapper>h2{color:#b48f4f;font-family:'bold';font-size:25px;line-height:35px;text-transform:uppercase}
         #first>.wrapper>h3{color:#b48f4f;font-family:'bold';font-size:12px;line-height:30px;margin-bottom:20px;text-transform:uppercase}
         #first>.wrapper>div{text-align:center}
         #first>.wrapper>div>div{cursor:pointer;display:inline-block;margin-bottom: 70px;vertical-align:middle;width:130px}
         #first>.wrapper>div>div>img{max-width:100%}
         #first>.wrapper>div>div>img:first-of-type{margin-bottom:40px}
         #first>.wrapper>button{transition:all .6s;background:none;background-color:transparent;border:none;border:2px solid #b48f4f;color:#fff;cursor:pointer;font-family:'medium';font-size:14px;height:52px;line-height:50px;outline:none;text-transform:uppercase;width:220px}
         #first>.wrapper>button:hover{background-color:#b48f4f;color:#fff}
         #advantages{background-color:#fff}
         #advantages>.wrapper{padding:60px 0}
         #advantages>.wrapper>div{text-align:center}
         #advantages>.wrapper>div>ul{list-style:none}
         #advantages>.wrapper>div>ul>li{display:inline-block;margin:15px 20px;vertical-align:middle}
         #advantages>.wrapper>div>ul>li>img{margin-bottom:20px;vertical-align:top}
         #advantages>.wrapper>div>ul>li>span{color:#0b0d0f;display:block;font-family:'regular';font-size:18px;line-height:25px;margin:0 auto;width:270px}
         .promo{background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
         .promo>.wrapper{padding:30px 0 45px;text-align:center}
         .promo>.wrapper>h2{color:#fff;font-family:'light';font-size:30px;line-height:40px;margin-bottom:30px;text-align:center;text-transform:uppercase}
         .promo>.wrapper>div{border:2px solid rgba(255,255,255,0.1);position:relative}
         /*.promo>.wrapper>div>span{display:inline-block;vertical-align:top}
         .promo>.wrapper>div>span>img{padding:20px 10px;vertical-align:middle}
         .promo>.wrapper>div>span>p{color:#b48f4f;font-family:'medium';font-size:30px;line-height:35px}
         .promo>.wrapper>div>span>p>span{color:rgba(255,255,255,0.15);display:inline-block;font-size:20px;line-height:25px;position:relative}
         .promo>.wrapper>div>span>p>span:after{background-color:#b48f4f;bottom:50%;content:'';display:block;height:2px;left:-5%;position:absolute;transform:rotate(10deg);width:100%}
         .promo>.wrapper>div>img{padding:20px 10px;vertical-align:middle}
         .promo>.wrapper>div>div{display:inline-block;padding:30px 25px;text-align:center;vertical-align:middle;width:340px}
         .promo>.wrapper>div>div>h2{color:#fff;font-family:'bold';font-size:25px;line-height:35px;margin-bottom:10px;text-transform:uppercase}
         .promo>.wrapper>div>div>span{color:#b48f4f;display:block;font-family:'medium';font-size:45px;line-height:55px;margin-bottom:20px}
         .promo>.wrapper>div>div>p{color:#fff;font-family:'light';font-size:18px;line-height:25px;margin-bottom:20px;text-transform:uppercase}
         .promo>.wrapper>div>div>p>span{font-family:'bold'}
         .promo>.wrapper>div>div>button{transition:all .6s;background:none;background-color:transparent;border:none;border:2px solid #b48f4f;color:#fff;cursor:pointer;font-family:'medium';font-size:16px;height:52px;line-height:50px;outline:none;text-transform:uppercase;width:220px}
         .promo>.wrapper>div>div>button:hover{background-color:#b48f4f;color:#fff}*/
         #models{background-color:#fff}
         #models>.wrapper{padding:55px 0 60px}
         #models>.wrapper>h2{color:#000;font-family:'light';font-size:30px;line-height:40px;text-align:center;text-transform:uppercase}
         #models>.model{border-top:2px solid rgba(42,44,46,0.25)}
         #models>.model>.wrapper{padding:50px 0 85px;position:relative;text-align:center}
         #models>.model>.wrapper>img{left:50%;position:absolute;top:-35px}
         #models>.model>.wrapper>h2{color:#000;font-family:'bold';font-size:25px;line-height:35px;margin-bottom:30px;text-transform:uppercase}
         #models>.model>.wrapper>div{display:inline-block;vertical-align:top}
         #models>.model>.wrapper>div:nth-of-type(1){margin-right:50px;width:260px}
         #models>.model>.wrapper>div:nth-of-type(1)>img{width:100%}
         #models>.model>.wrapper>div:nth-of-type(2){margin-right:50px;width:165px}
         #models>.model>.wrapper>div:nth-of-type(2)>img{margin-bottom:20px;width:100%}
         #models>.model>.wrapper>div:nth-of-type(2)>img:last-of-type{box-shadow:0 0 0 0 rgba(180,143,79,0.9);cursor:pointer;transition:all .6s}
         #models>.model>.wrapper>div:nth-of-type(2)>img:last-of-type:hover{box-shadow:0 0 5px 3px rgba(180,143,79,0.9)}
         #models>.model>.wrapper>div:nth-of-type(3){width:415px}
         #models>.model>.wrapper>div:nth-of-type(3)>ul{list-style:none;margin-bottom:35px;text-align:left}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li{color:#000;font-size:14px}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li:nth-of-type(odd){background-color:rgba(42,44,46,0.05)}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li>span{display:inline-block;line-height:35px;vertical-align:top}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li>span:first-of-type{font-family:'bold';padding-left:10px;text-transform:uppercase;width:205px}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li>span:last-of-type{font-family:'regular'}
         #models>.model>.wrapper>div:nth-of-type(3)>div>div{display:inline-block;margin-right:20px;text-align:left;vertical-align:middle}
         #models>.model>.wrapper>div:nth-of-type(3)>div>div>span{color:#b48f4f;font-family:'regular';font-size:18px;line-height:18px}
         #models>.model>.wrapper>div:nth-of-type(3)>div>div>p{color:#000;font-family:'black';font-size:35px;line-height:35px}
         #models>.model>.wrapper>div:nth-of-type(3)>div>button{transition:all .6s;background:none;background-color:transparent;border:none;border:2px solid #b48f4f;color:#000;cursor:pointer;font-family:'medium';font-size:14px;height:52px;line-height:50px;outline:none;text-transform:uppercase;vertical-align:middle;width:205px; margin-top: 15px;}
         #models>.model>.wrapper>div:nth-of-type(3)>div>button:hover{background-color:#b48f4f;color:#fff}
         #models>.model>.wrapper>div:nth-of-type(3)>div>p{color:rgba(42,44,46,0.5);font-family:'regular';font-size:18px;line-height:25px;margin-top:20px;text-transform:uppercase}
         #respect{background-color:#000;background-image:url("../res/respect-back.jpg");background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
         #respect>.wrapper{padding:145px 0 130px;text-align:center}
         #respect>.wrapper>p{background-color:#fff;color:#000;display:inline-block;font-family:'regular';font-size:30px;line-height:40px;padding:35px;position:relative;text-transform:uppercase}
         #respect>.wrapper>p>span{display:block;font-family:'black';font-size:35px;line-height:45px}
         #respect>.wrapper>p:after{border:2px solid #b48f4f;box-sizing:border-box;content:' ';display:block;height:calc(100% + 30px);left:15px;position:absolute;top:-15px;width:calc(100% - 30px)}
         #path{background-color:#0b0d0f;background-image:url("../res/path-back.jpg");background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
         #path>.wrapper{padding:45px 0 80px}
         #path>.wrapper>h2{color:#fff;font-family:'light';font-size:35px;line-height:45px;margin-bottom:30px;text-align:center;text-transform:uppercase}
         #path>.wrapper>div{text-align:center}
         #path>.wrapper>div>ul{list-style:none}
         #path>.wrapper>div>ul>li{display:inline-block;margin:15px 20px;vertical-align:top}
         #path>.wrapper>div>ul>li>img{margin-bottom:25px;vertical-align:top}
         #path>.wrapper>div>ul>li>span{color:#fff;display:block;font-family:'regular';font-size:18px;line-height:25px;margin:0 auto;width:270px}
         #reviews{background-color:#fff}
         #reviews>.wrapper{padding:65px 0;text-align:center}
         #reviews>.wrapper>h2{color:#0b0d0f;font-family:'light';font-size:35px;line-height:45px;margin-bottom:40px;text-transform:uppercase}
         #reviews>.wrapper>div{display:inline-block;margin-bottom:25px;padding:25px 0;text-align:left;vertical-align:middle;width:460px}
         #reviews>.wrapper>div:nth-of-type(odd){margin-right:20px}
         #reviews>.wrapper>div>img{border-radius:50%;margin-right:15px;vertical-align:top;width:120px}
         #reviews>.wrapper>div>div{display:inline-block;vertical-align:top;width:320px}
         #reviews>.wrapper>div>div>h3{color:#0b0d0f;font-family:'bold';font-size:14px;line-height:18px;margin-bottom:15px;text-transform:uppercase}
         #reviews>.wrapper>div>div>p{color:#0b0d0f;font-family:'light';font-size:14px;line-height:18px}
         #footer{background-color:#eaebec}
         #footer>.wrapper{padding:30px 0;text-align:center}
         #footer>.wrapper>p{color:#0b0d0f;font-family:'medium';font-size:12px;letter-spacing:.05em;line-height:15px;text-transform:uppercase}
         #footer>.wrapper>button{background:none;border:none;color:#0b0d0f;cursor:pointer;font-family:'medium';font-size:12px;letter-spacing:.05em;line-height:15px;outline:none;text-decoration:underline;text-transform:uppercase}
         #footer>.wrapper>button:hover{text-decoration:none}
         .popup{background-color:rgba(0,0,0,0.75);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:10}
         .popup>div{background-color:#0b0d0f;display:block;left:50%;margin:-207px 0 0 -250px;padding:10px;position:absolute;top:50%;width:500px}
         .popup>div>form{border:2px solid #b48f4f;padding:40px 80px 55px;text-align:center}
         .popup>div>form>h3{color:#fff;font-family:'bold';font-size:20px;line-height:30px;margin-bottom:35px;text-transform:uppercase}
         .popup>div>form>input{background:none;background-color:#fff;border:none;border-radius:3px;color:#6f6f6f;font-family:'regular';font-size:16px;height:60px;line-height:60px;margin-bottom:25px;outline:none;text-align:center;width:100%}
         .popup>div>form>button{transition:all .6s;background:none;background-color:#2a2c2e;border:none;border-radius:3px;color:#fff;cursor:pointer;font-family:'medium';font-size:16px;height:60px;line-height:60px;outline:none;text-transform:uppercase;width:100%}
         .popup>div>form>button:hover{background-color:#b48f4f;color:#fff}
         .popup>div>button{background:none;border:none;color:#b48f4f;cursor:pointer;display:block;font-family:'regular';font-size:18px;height:60px;line-height:60px;outline:none;position:absolute;right:0;text-transform:uppercase;top:-60px;width:180px;z-index:11}
         .popup>div>button:before,.popup>div>button:after{background-color:#b48f4f;content:'';display:block;height:2px;margin:-1px 0 0 -12px;position:absolute;right:10px;top:50%;transition:all .3s;width:24px}
         .popup>div>button:before{transform:rotate(45deg)}
         .popup>div>button:after{transform:rotate(-45deg)}
         #video{background-color:rgba(11,13,15,0.75);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:10}
         #video>div{background-color:#0b0d0f;display:block;left:50%;margin:-175px 0 0 -330px;padding:10px;position:absolute;top:50%;width:660px}
         #video>div>iframe{border:2px solid #b48f4f;vertical-align:top;width:100%}
         #video>div>button{background:none;border:none;color:#b48f4f;cursor:pointer;display:block;font-family:'regular';font-size:18px;height:60px;line-height:60px;outline:none;position:absolute;right:0;text-transform:uppercase;top:-60px;width:180px;z-index:11}
         #video>div>button:before,#video>div>button:after{background-color:#b48f4f;content:'';display:block;height:2px;margin:-1px 0 0 -12px;position:absolute;right:10px;top:50%;transition:all .3s;width:24px}
         #video>div>button:before{transform:rotate(45deg)}
         #video>div>button:after{transform:rotate(-45deg)}
         #policy{background-color:rgba(11,13,15,0.75);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:10}
         #policy>div{background-color:#fff;display:block;left:50%;max-height:95%;margin:0 0 0 -330px;overflow-x:hidden;overflow-y:auto;padding:20px;position:absolute;top:60px;width:660px}
         #policy>div>div{color:#0b0d0f;font-size:14px;line-height:20px}
         #policy>div>div>h2{font-family:'bold';font-size:20px;margin-bottom:15px;line-height:30px}
         #policy>div>div>h3{font-family:'medium';font-size:16px;line-height:20px;margin-bottom:15px}
         #policy>div>div>p{font-family:'regular';font-size:12px;line-height:15px;margin-bottom:15px}
         #policy>div>button{background:none;border:none;color:#b48f4f;cursor:pointer;display:block;font-family:'regular';font-size:18px;height:60px;line-height:60px;outline:none;position:absolute;right:20px;text-transform:uppercase;top:0;width:180px}
         #policy>div>button:before,
         #policy>div>button:after{background-color:#b48f4f;content:'';display:block;height:2px;margin:-1px 0 0 -12px;position:absolute;right:10px;top:50%;transition:all .3s;width:24px}
         #policy>div>button:before{transform:rotate(45deg)}
         #policy>div>button:after{transform:rotate(-45deg)}
         #order{background-color:#0b0d0f;height:100%;width:100%}
         #order>div{background-color:#0b0d0f;border:2px solid #2a2c2e;display:block;left:50%;margin:-97px 0 0 -275px;padding:25px;position:absolute;text-align:center;top:50%;width:550px}
         #order>div>h5{color:#fff;font-family:'bold';font-size:20px;line-height:25px;margin-bottom:20px;text-transform:uppercase}
         #order>div>p{color:#fff;font-family:'regular';font-size:16px;line-height:20px;margin-bottom:20px}
         #order>div>a{transition:all .6s;background-color:#2a2c2e;border-radius:3px;color:#fff;display:inline-block;font-family:'medium';font-size:14px;height:55px;line-height:55px;text-decoration:none;text-transform:uppercase;width:200px}
         #order>div>a:hover{background-color:#b48f4f;color:#fff}
         .timer_wrap {
         font-size: 15px;
         }
         .timer_wrap .timer {
         display: block;
         overflow: hidden;
         margin-top: 8px;
         }
         .timer_wrap .item {
         width: 60px;
         height: 60px;
         display: block;
         float: left;
         line-height: 60px;
         text-align: center;
         font-size: 36px;
         background: #ff4e08;
         border-radius: 3px;
         color: #090909;
         letter-spacing: -5px;
         }
         .timer_wrap .item:first-child {
         *background: none;
         *border: 2px solid #fff;
         *color: #fff;
         margin-right: 14px;
         }
         .timer_wrap .item:last-child {
         margin-left: 14px;
         }
         .timer_wrap .day {
         display: block;
         float: left;
         width: 60px;
         margin-right: 14px;
         }
         .timer_wrap .min {
         display: block;
         float: left;
         width: 60px;
         }
         .timer_wrap .sec {
         display: block;
         float: left;
         width: 60px;
         margin-left: 14px;
         }
         @media (max-width:980px){
         .wrapper{width:740px}
         #header>.wrapper>ul{background-color:#0b0d0f;border-bottom:1px solid #2a2c2e;display:none;left:0;position:absolute;top:100px;width:100%;z-index:1}
         #header>.wrapper>p{display:inline-block}
         #header.sticky>.wrapper>ul{background-color:#000;top:50px}
         .promo>.wrapper>div>img{display:none}
         #models>.model>.wrapper>div:nth-of-type(2){margin-right:0}
         #models>.model>.wrapper>div:nth-of-type(3){width:100%}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li{text-align:center}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li>span{width:50% !important}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li>span:first-of-type{text-align:right;padding:0 10px 0 0}
         #models>.model>.wrapper>div:nth-of-type(3)>ul>li>span:last-of-type{text-align:left}
         }
         @media (max-width:780px){.wrapper{width:540px}
         #reviews>.wrapper>div{margin-right:0 !important;padding:25px;width:100%}
         #video>div{left:0;margin-left:0;width:100%}
         #policy>div{left:0;margin-left:0;width:100%}
         }
         @media (max-width:580px){
         .wrapper{width:100%}
         #reviews>.wrapper>div{text-align:center}
         #reviews>.wrapper>div>img{margin:0 0 20px 0}
         #reviews>.wrapper>div>div{display:block;padding:0 25px;width:100%}
         #policy>div>button{color:transparent;right:0}}@media (max-width:520px){
         #models>.model>.wrapper>div:nth-of-type(1){margin-right:0}
         #models>.model>.wrapper>div:nth-of-type(2){display:none}
         }
         @media (max-width:480px){
         #header>.wrapper>p{display:none}
         #header>.wrapper>button{display:none}
         .promo>.wrapper>h2{display:none}
         .promo>.wrapper>div>span{display:none}
         .popup>div{left:0;margin-left:0;width:100%}
         .popup>div>form{padding:25px}
         .popup>div>button{color:transparent;right:5px;top:0}
         }
         @media (max-width:360px){
         #advantages>.wrapper>div>ul>li{margin:15px 0}
         .promo>.wrapper>div>div{width:100%}
         #respect{display:none}
         #path>.wrapper>div>ul>li{margin:15px 0}
         }
         #models>.model>.wrapper>div:nth-of-type(3)>div>div.block{margin:0;}
         #models>.model>.wrapper>div:nth-of-type(3)>div>div.points{margin:0;}
         #timer{display:inline-block;vertical-align:middle;text-align: left;color:rgba(0,0,0,0.6);}
         #timer>.block {float: left;margin-right:0;}
         #timer>.block>.rect {font-family: 'PT Sans Caption', arial, sans-serif;font-weight: bold;line-height: 32px;font-size: 32px;padding: 0 8px;}
         #timer>.block>.label {font-size: 12px; text-align: center;}
         #timer>.points {float: left;text-align: center;line-height: 32px;font-size: 32px;font-family: 'PT Sans Caption', arial, sans-serif;font-weight: bold;}
         #lv-form input[type=text], #lv-form select, #lv-form textarea{
         background: none;
         background-color: #fff;
         border: none;
         border-radius: 3px;
         color: #6f6f6f;
         font-family: 'regular';
         font-size: 16px;
         height: 60px;
         line-height: 60px;
         margin-bottom: 25px;
         outline: none;
         text-align: center;
         width: 100%;
         }
         #lv-form input[type=submit]{
         transition: all .6s;
         background: none;
         background-color: #2a2c2e;
         border: none;
         border-radius: 3px;
         color: #fff;
         cursor: pointer;
         font-family: 'medium';
         font-size: 16px;
         height: 60px;
         outline: none;
         text-transform: uppercase;
         width: 100%;
         }
         #lv-form input[type=submit]:hover{
         background-color: #b48f4f;
         color: #fff;
         }
         .asdasdsa {
         color: #fff;
         font-family: 'bold';
         font-size: 20px;
         line-height: 30px;
         margin-bottom: 35px;
         text-transform: uppercase;
         }
         .lv-row-additional1{
         display: none !important;
         }
#footer>.wrapper>p {
    color: #0b0d0f;
    font-family: 'medium';
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 15px;
    text-transform: uppercase;
}         
#footer button {
    background: none;
    border: none;
    color: #0b0d0f;
    cursor: pointer;
    font-family: 'medium';
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 15px;
    outline: none;
    text-decoration: underline;
    text-transform: uppercase;
}
#leadTip {
    width: 300px !important;
    height: 110px !important;
    font-family: 'regular' !important;
    line-height: 20px !important;
    padding: 20px !important;
}
.btn-more{display: block; text-decoration: none; transition:all .6s;background:none;background-color:transparent;border:none;border:2px solid #b48f4f;color:#000;cursor:pointer;font-family:'medium';font-size:14px;height:52px;line-height:50px;outline:none;text-transform:uppercase;vertical-align:middle;width:205px; margin-top: 15px;}
.btn-more:hover{background-color:#b48f4f;color:#fff}