.wb-stl-pagetitle { font: normal bold 30px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 32px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: uppercase; }
.wb-stl-pagetitle a { font: normal bold 30px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 32px; font-weight: bold; font-style: normal; }
.wb-stl-pagetitle a:hover { font: normal bold 30px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 32px; font-weight: bold; font-style: normal; }
.wb-stl-pagetitle ul { list-style-image: url('null'); }
.wb-stl-subtitle { font: normal bold 18px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-subtitle a { font: normal bold 18px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
.wb-stl-subtitle a:hover { font: normal bold 18px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
.wb-stl-subtitle ul { list-style-image: url('null'); }
.wb-stl-heading1 { font: normal bold 42px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 38px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading1 a { font: normal bold 42px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 38px; font-weight: bold; font-style: normal; }
.wb-stl-heading1 a:hover { font: normal bold 42px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 38px; font-weight: normal; font-style: normal; }
.wb-stl-heading1 ul { list-style-image: url('null'); }
.wb-stl-heading2 { font: normal bold 25px Sylfaen; text-align: left; text-decoration: none; color: #333333; line-height: 18px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading2 a { font: normal bold 25px Sylfaen; text-align: left; text-decoration: underline; color: #000000; line-height: 18px; font-weight: bold; font-style: normal; }
.wb-stl-heading2 a:hover { font: normal bold 25px Sylfaen; text-align: left; text-decoration: none; color: #000000; line-height: 18px; font-weight: bold; font-style: normal; }
.wb-stl-heading2 ul { list-style-image: url('null'); }
.wb-stl-heading3 { font: normal bold 16px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading3 a { font: normal bold 16px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; font-weight: normal; font-style: normal; }
.wb-stl-heading3 a:hover { font: normal bold 16px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; font-weight: normal; font-style: normal; }
.wb-stl-heading3 ul { list-style-image: url('null'); }
.wb-stl-normal { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 17px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-normal a { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 17px; font-weight: bold; font-style: normal; }
.wb-stl-normal a:hover { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 17px; font-weight: bold; font-style: normal; }
.wb-stl-normal ul { list-style-image: url('null'); }
.wb-stl-highlight { font: normal normal 13px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-highlight a { font: normal normal 13px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; font-weight: normal; font-style: normal; }
.wb-stl-highlight a:hover { font: normal normal 13px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; font-weight: normal; font-style: normal; }
.wb-stl-highlight ul { list-style-image: url('null'); }
.wb-stl-special { font: normal normal 90px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 14px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-special a { font: normal normal 90px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 14px; font-weight: normal; font-style: normal; }
.wb-stl-special a:hover { font: normal normal 90px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 14px; font-weight: normal; font-style: normal; }
.wb-stl-special ul { list-style-image: url('null'); }
.wb-stl-footer { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-footer a { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 16px; font-weight: bold; font-style: normal; }
.wb-stl-footer a:hover { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; font-weight: bold; font-style: normal; }
.wb-stl-footer ul { list-style-image: url('null'); }

@media (min-width: 768px) {
	.wb-stl-pagetitle { font: normal bold 30px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 32px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: uppercase; }
	.wb-stl-pagetitle a { font: normal bold 30px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 32px; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal bold 30px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 32px; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url('null'); }
	.wb-stl-subtitle { font: normal bold 24px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal bold 24px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal bold 24px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url('null'); }
	.wb-stl-heading1 { font: normal bold 56px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 51px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal bold 56px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 51px; font-weight: bold; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal bold 56px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 51px; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url('null'); }
	.wb-stl-heading2 { font: normal bold 34px Sylfaen; text-align: left; text-decoration: none; color: #333333; line-height: 24px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal bold 34px Sylfaen; text-align: left; text-decoration: underline; color: #000000; line-height: 24px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal bold 34px Sylfaen; text-align: left; text-decoration: none; color: #000000; line-height: 24px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url('null'); }
	.wb-stl-heading3 { font: normal bold 16px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal bold 16px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal bold 16px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url('null'); }
	.wb-stl-normal { font: normal normal 13px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 13px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 13px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url('null'); }
	.wb-stl-highlight { font: normal normal 18px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 27px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 18px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 27px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 18px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 27px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url('null'); }
	.wb-stl-special { font: normal normal 120px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal normal 120px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal normal 120px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url('null'); }
	.wb-stl-footer { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 16px; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 12px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 16px; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url('null'); }
}

@media (min-width: 992px) {
	.wb-stl-pagetitle { font: normal bold 38px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 40px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: uppercase; }
	.wb-stl-pagetitle a { font: normal bold 38px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 40px; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal bold 38px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 40px; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url('null'); }
	.wb-stl-subtitle { font: normal bold 30px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal bold 30px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal bold 30px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url('null'); }
	.wb-stl-heading1 { font: normal bold 70px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 64px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal bold 70px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 64px; font-weight: bold; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal bold 70px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 64px; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url('null'); }
	.wb-stl-heading2 { font: normal bold 42px Sylfaen; text-align: left; text-decoration: none; color: #333333; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal bold 42px Sylfaen; text-align: left; text-decoration: underline; color: #000000; line-height: 30px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal bold 42px Sylfaen; text-align: left; text-decoration: none; color: #000000; line-height: 30px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url('null'); }
	.wb-stl-heading3 { font: normal bold 20px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 28px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal bold 20px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal bold 20px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url('null'); }
	.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 28px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 28px; font-weight: bold; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 28px; font-weight: bold; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url('null'); }
	.wb-stl-highlight { font: normal normal 22px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 34px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 22px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 22px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url('null'); }
	.wb-stl-special { font: normal normal 150px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal normal 150px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal normal 150px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url('null'); }
	.wb-stl-footer { font: normal normal 14px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 14px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 20px; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 20px; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url('null'); }
}

@media (min-width: 1200px) {
	.wb-stl-pagetitle { font: normal bold 46px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 48px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: uppercase; }
	.wb-stl-pagetitle a { font: normal bold 46px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 48px; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal bold 46px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 48px; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url('null'); }
	.wb-stl-subtitle { font: normal bold 36px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal bold 36px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal bold 36px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url('null'); }
	.wb-stl-heading1 { font: normal bold 84px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 77px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal bold 84px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 77px; font-weight: bold; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal bold 84px Tahoma,Geneva,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 77px; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url('null'); }
	.wb-stl-heading2 { font: normal bold 50px Sylfaen; text-align: left; text-decoration: none; color: #333333; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal bold 50px Sylfaen; text-align: left; text-decoration: underline; color: #000000; line-height: 36px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal bold 50px Sylfaen; text-align: left; text-decoration: none; color: #000000; line-height: 36px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url('null'); }
	.wb-stl-heading3 { font: normal bold 24px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal bold 24px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal bold 24px Helvetica,Arial,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url('null'); }
	.wb-stl-normal { font: normal normal 19px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 19px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 34px; font-weight: bold; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 19px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 34px; font-weight: bold; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url('null'); }
	.wb-stl-highlight { font: normal normal 26px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #242424; line-height: 41px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 26px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 41px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 26px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 41px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url('null'); }
	.wb-stl-special { font: normal normal 180px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 24px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal normal 180px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 24px; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal normal 180px Sylfaen; text-align: left; text-decoration: none; color: #ffffff; line-height: 24px; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url('null'); }
	.wb-stl-footer { font: normal normal 17px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 24px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 17px Arial,Helvetica,sans-serif; text-align: left; text-decoration: underline; color: #ffffff; line-height: 24px; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 17px Arial,Helvetica,sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 24px; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url('null'); }
}
