/* newms */
#lesc{ overflow: hidden; padding: 0 0 0 3px; cursor: pointer; width: 13px; height: 13px; top: 2px; position: relative; border: none; margin: 0 !important}
#player{background: #000;min-height:460px}
.b-player{background: #000; padding-top: 10px; position: relative;}
.b-player iframe{overflow: hidden; width: 100% !important}
.b-player iframe::-webkit-scrollbar{display: block;}
.b-player__restricted{background-color: #000; height: 360px; position: relative;}
.b-player__restricted_string{color: #fff; display: block; font-size: 14px; font-weight: bold; margin-top: -30px; position: absolute; top: 50%; left: 0; text-align: center; text-transform: uppercase; width: 100%;}
.b-player__restricted_string a{text-decoration: underline;}
.b-post__lastepisodeout{background: #FFAE52 url(../images/post-attention.png) no-repeat 13px 50%; overflow: hidden; padding: 10px 10px 10px 47px;}
.b-post__lastepisodeout h2{color: #222; font-size: 14px !important; font-weight: bold; line-height: 16px; margin: 0 0 0 0}
#player-loader-overlay{background-color: #000; background-image: url(../images/ajax-loader-big-black.gif); background-repeat: no-repeat; background-position: 50% 50%; display: none; height: 460px; position: absolute; width: 100%;}
.b-translators__block{background-color: #151515; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; text-align:left !important;}
.b-translators__title{color: #fff; font-size: 15px; font-weight: bold;}
.b-translators__title h2,.b-translators__title h3{display: inline;}
.b-translators__list{overflow: hidden;-webkit-padding-start: 0px; margin: 0 0 0 0}
.b-translator__item{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #2d2d2d; color: #fff; cursor: pointer; float: left;
font-size: 14px; margin-left: 3px !important; margin-top: 3px; overflow: hidden; padding: 5px 0 5px 10px; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; width: 32.5%;}
.b-translator__item.single{float: none; display: inline-block; margin-left: 0; padding: 5px 10px; width: auto;}
.b-translator__item:nth-child(3n +1){margin-left: 0px;}
.b-translator__item.active{background:#5d5d5d !important; cursor: default;}
.b-translator__item:hover{background: #4d4d4d;}
.b-changeplayer__list{overflow: hidden;}
.b-changeplayer__list li{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #2d2d2d; color: #fff; cursor: pointer; float: left; font-size: 14px; margin-top: 5px; overflow: hidden; padding: 5px 10px;}
.b-changeplayer__list li.active{background:#000 !important; cursor: default;}
.b-changeplayer__list li:hover{background: #4d4d4d;}
.b-episodes__wrapper{border-bottom: 1px solid #dcdcdc; margin-bottom: 18px; transition: opacity 0.5s ease}
.b-episodes__list{margin-left: -16px; padding: 32px 0 15px; transition: opacity 0.5s ease}
.b-episodes__list li{float: left; margin: 0 0 17px 17px;}
.b-episodes__list .resume-main img{background-position: 50% 0; background-size: 166px;}
.b-episodes__list .string{z-index: 1;}
.b-episodes__list .string span{background: #000; padding: 2px 4px;}
.b-episodes__list .play{z-index: 2;}
.b-simple_seasons__list{margin: 0 auto; padding: 10px; padding: 4px 10px 12px 13px; list-style: none}
.b-simple_seasons__title{color: #fff; font-size: 15px; font-weight: bold; padding-top: 10px; padding-left: 11px; text-align: left;}
.b-simple_season__item{background: #2d2d2d; color: #fff; cursor: pointer; float: left; font-size: 13px; margin: 0 2px 2px 0 !important; min-width: 11.8%; padding: 5px 7px; text-align: left; list-style: none !important}
.b-simple_season__item.active{background:#5d5d5d !important; cursor: default;}
.b-simple_season__item:hover{background: #4d4d4d;}
.b-simple_episodes__list{margin: 0 auto; padding: 10px 10px 12px 13px; text-align: left;}
.b-simple_episode__item{background: #2d2d2d; color: #fff; cursor: pointer; display: inline-block; font-size: 13px; margin: 0 2px 2px 0 !important; min-width: 11.8%; padding: 5px 7px; text-align: left;}
.b-simple_episode__item.active{background:#5d5d5d !important; cursor: default;}
.b-simple_episode__item:hover{background: #4d4d4d;}
#player_wrap {margin: 0 auto;margin-top: 26px;margin-bottom: 26px;width:100%;position: relative}

#player_wrap.premact {
    width: 100%
}
/* newms */