html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
html, body { height: 100%; }
body { color: rgb(51, 51, 51); font-family: "Roboto",Verdana,Arial,Helvetica,sans-serif; width: 100%; }
strong { font-weight: bold; }
body { line-height: 1; font-size: 16px; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
a { color: rgb(86, 85, 73); }
p { margin-bottom: 20px; font-size: 17px; line-height: 20px; }
input[type="submit"],.red-button { width: 246px; height: 48px; background: none repeat scroll 0% 0% rgb(213, 52, 93); overflow: hidden; display: block; font-size: 25px; font-weight: 700; font-family: "Roboto",sans-serif; line-height: 48px; text-align: center; text-transform: uppercase; text-decoration: none; color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); border-radius: 5px; box-shadow: 0px 3px 0px rgb(133, 28, 54); margin-top: 15px; border: medium none;cursor:pointer;}
input[type="submit"]:hover,.red-button:hover { margin-top: 17px; box-shadow: 0px 1px 0px rgb(133, 28, 54); cursor:pointer;}
.h2-title { background: none repeat scroll 0% 0% rgb(25, 25, 25); color: rgb(255, 255, 255); font-weight: bold; font-size: 28px; line-height: 67px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: center; height: 70px; }
#menu {  }
#menu ul { overflow: hidden; }
#menu ul li { float: left; }
#menu ul li a { padding: 0px 15px; font-size: 20px; line-height: 56px; display: block; height: 60px; color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none; text-align: center; }
.container { width: 1000px; margin: 0px auto; padding: 0px 10px; position: relative; }
.scn { height: 720px; background: url('fon.jpg') no-repeat scroll center center / cover  rgb(255, 255, 255); }
.scn-body { height: 720px; }
.scn-body .main-pic { position: absolute; top: 120px; left: 10px; }
.scn-body .text-part { position: absolute; top: 100px; right: 10px; }
.scn-body .text-part h1 { font-size: 35px; text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Verdana,Arial,Helvetica,sans-serif; letter-spacing: 0.05em; }
.scn-body .text-part h1 i { color: rgb(255, 0, 0); }
.h1-desc { font-size: 21px; text-align: center; color: rgb(255, 255, 255); margin-bottom: 50px; letter-spacing: 0.01em; }
.scn-body .gift-text { font-size: 23px; line-height: 30px; text-align: center; color: rgb(255, 255, 255); margin-bottom: 50px; }
.scn-body .gift-text strong { color: rgb(255, 0, 0); }
#screen1 { margin-top: -60px; }
.gift-list { overflow: hidden; margin-bottom: 40px; }
.gift-list li { float: left; }
.gift-list li .plus { padding-top: 55px; color: rgb(255, 255, 255); font-size: 70px; font-weight: bold; }
.gift-list li .gift-list-body { width: 250px; padding: 0px 10px; text-align: center; color: rgb(255, 255, 255); }
.gift-list-body .gift-wrap { width: 160px; background: url('white-fon.jpg') repeat scroll 0px 0px transparent; margin: 0px auto; border: 4px solid rgb(255, 0, 0); border-radius: 5px; }
.gift-list li .gift-list-body h3 { padding-top: 10px; font-size: 18px; margin-bottom: 20px; line-height: 22px; }
.gift-list-body .old-price { text-decoration: line-through; margin-bottom: 10px; }
.gift-list-body .new-price { color: rgb(255, 0, 0); font-size: 20px; }
.gift-list .gift-list-img { width: 100%; }
.gift-list .gift-list-img td { height: 160px; vertical-align: middle; }
.gift-list li { float: left; }
.white-fon { background: url('white-fon.jpg') repeat scroll 0px 0px transparent; padding: 40px 0px 25px; }
#screen2 .screen2-photo { width: 350px; float: left; text-align: center; }
#screen2 .screen2-text { padding-left: 370px; padding-right: 90px; }
.screen2-text p.speach { color: rgb(200, 0, 0); font-size: 30px; line-height: 35px; font-weight: bold; }
.screen2-text p strong { color: rgb(200, 0, 0); font-weight: bold; }
.option-main { width: 281px; height: 413px; background: url('option-main.png') no-repeat scroll 0px 0px transparent; margin: 0px auto; position: relative; z-index: 100; }
.option-line { background: none repeat scroll 0% 0% rgb(127, 127, 127); width: 280px; height: 3px; position: absolute; }
.option-line1 { left: 160px; top: 125px; }
.option-line2 { right: 160px; top: 125px; }
.option-line3 { left: 160px; top: 245px; }
.option-line4 { right: 160px; top: 245px; }
.option-pic { position: absolute; width: 104px; height: 104px; }
.option-desc-1, .option-desc-2, .option-desc-3, .option-desc-4 { font-size: 14px; line-height: 18px; position: absolute; }
.option-pic1 { background: url('option1.png') no-repeat scroll 0px 0px transparent; top: 72px; left: 60px; }
.option-desc-1 { top: 55px; left: 155px; }
.option-desc-2 { top: 55px; right: 150px; text-align: right; }
.option-desc-3 { top: 260px; left: 145px; }
.option-desc-4 { top: 260px; right: 150px; text-align: right; }
.option-pic2 { background: url('option2.png') no-repeat scroll 0px 0px transparent; top: 72px; right: 60px; }
.option-pic3 { background: url('option3.png') no-repeat scroll 0px 0px transparent; top: 192px; left: 60px; }
.option-pic4 { background: url('option4.png') no-repeat scroll 0px 0px transparent; top: 192px; right: 60px; }
.option-h3 { font-size: 20px; font-weight: bold; line-height: 24px; position: absolute; }
.option-h3-1 { top: 20px; left: 60px; }
.option-h3-2 { top: 20px; right: 60px; }
.option-h3-3 { top: 325px; left: 60px; }
.option-h3-4 { top: 325px; right: 60px; }
p.p-ahtung { color: rgb(200, 0, 0); font-size: 28px; font-weight: bold; line-height: 33px; font-family: Verdana,Arial,Helvetica,sans-serif; margin-bottom: 25px; }
.catalog-body p { text-align: center; }
ul.catalog-list { overflow: hidden; margin-bottom: 60px; }
ul.catalog-list > li { float: left; width: 33.33%; text-align: center; position: relative; }
.catalog-list .gift-label { width: 123px; height: 123px; background: url('gift-label.png') no-repeat scroll 0px 0px transparent; position: absolute; top: 0px; left: 0px; }
.catalog-list .skidka-label { width: 123px; height: 123px; background: url('skidka-label.png') no-repeat scroll 0px 0px transparent; position: absolute; top: 0px; left: 0px; }
ul.catalog-list li li { text-align: left; font-size: 20px; margin-bottom: 13px; padding-left: 18px; background: url('small-arrow.png') no-repeat scroll 0px 6px transparent; }
ul.catalog-list li ul { padding: 0px 0px 0px 40px; }
ul.catalog-list h3 { text-align: center; font-size: 18px; font-weight: bold; line-height: 22px; color: rgb(0, 0, 0); padding-top: 15px; margin-bottom: 20px; font-family: Verdana,Arial,Helvetica,sans-serif; }
ul.catalog-list h3.main { font-size: 22px; line-height: 26px; }
ul.catalog-list h3 i { color: rgb(200, 0, 0); }
.action { height: 490px; background: url('order-fon.jpg') no-repeat scroll 50% 50% rgb(11, 11, 11); }
.action p { color: rgb(255, 255, 255); font-family: Verdana,Arial,Helvetica,sans-serif; }
.action-body { padding: 50px 0px; }
.action-left { width: 520px; float: left; }
.action-right { padding-left: 540px; }
.action-right form { width: 330px; margin: 0px auto; }
.action-right input[type="text"] { display: block; padding: 10px 15px; background: none repeat scroll 0% 0% rgb(11, 11, 11); border: 4px solid rgb(255, 255, 255); color: rgb(255, 255, 255); border-radius: 7px; width: 292px; }
.action-right .input-block { padding-bottom: 30px; position: relative; }
p.manager-call { font-family: "Roboto",sans-serif; text-align: center; }
p.action-title { color: rgb(255, 255, 255); font-size: 35px; line-height: 42px; font-weight: 700; text-align: center; margin-bottom: 30px; }
p.action-desc { font-size: 25px; text-align: center; font-weight: bold; font-family: "Roboto",sans-serif; margin-bottom: 40px; }
.action-old-price { color: rgb(166, 166, 166); text-decoration: line-through; font-weight: bold; text-transform: uppercase; font-size: 30px; font-family: "Roboto",sans-serif; text-align: center; margin-bottom: 10px; }
.action-new-price { color: rgb(200, 0, 0); font-weight: bold; text-transform: uppercase; font-size: 35px; font-family: "Roboto",sans-serif; text-align: center; }
.action-price { margin-bottom: 20px; }
.bonus-list { overflow: hidden; padding-left: 80px; }
.bonus-list li { overflow: hidden; width: 45%; float: left; margin-right: 5%; margin-bottom: 40px; }
.bonus-list li:last-child {
	float: none;
	margin: 0 auto;
}

.bonus-list li img { float: left; }
.bonus-list li p { padding-left: 60px; line-height: 22px; }
#photo { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.photo-list { overflow: hidden; }
.photo-list li { float: left; width: 50%; }
.photo-list li img { display: block; }
.shema-list { overflow: hidden; margin-bottom: 25px; }
.shema-list li { float: left; width: 25%; text-align: center; position: relative; }
.shema-list li img { display: block; width: 100px; margin: 0px auto 10px; }
.shema-list li h3 { font-size: 18px; line-height: 22px; font-weight: bold; }
.shema-list li .red-arrow { background: url('red-arrow.png') no-repeat scroll 0px 0px transparent; width: 33px; height: 50px; position: absolute; top: 50px; right: -16px; margin-top: -25px; }
.dostavka-body h3 { background: none repeat scroll 0% 0% rgb(122, 159, 206); color: rgb(255, 255, 255); font-size: 24px; font-weight: bold; padding: 8px 15px; margin-bottom: 15px; }
.dostavka-body p { line-height: 26px; }
.dostavka-left, .dostavka-right { overflow: hidden; margin-bottom: 30px; }
.dostavka-left img { display: block; float: left; }
.dostavka-right img { display: block; float: right; position: relative; right: 70px; }
.dostavka-right div { padding-right: 380px; padding-top: 30px; }
.dostavka-left div { padding-top: 30px; padding-left: 375px; padding-right: 50px; }
#descript { height: 544px; background: url('descript-fon.jpg') no-repeat scroll center center / cover  rgb(255, 255, 255); }
.descript-body { padding-top: 40px; width: 600px; }
.descript-body p { color: rgb(255, 255, 255); font-size: 18px; line-height: 26px; }
.descript-body p strong { font-size: 22px; color: rgb(200, 0, 0); }
#feedback {  }
.feed-list { overflow: hidden; }
.feed-list li { float: left; width: 50%; margin-bottom: 25px; }
.feed-list li a, .feed-list li .feedback-contact { color: rgb(38, 90, 148); font-size: 20px; font-weight: bold; }
.feed-list li dd, .feed-list li p { font-size: 15px; line-height: 20px; }
.feed-list { overflow: hidden; }
.feed-list li { float: left; width: 50%; }
.feed-list li .feed-list-body { padding: 20px; }
.feed-list li .feed-pic { float: left; }
.feed-list li .feed-pic img { width: 150px; }
.feed-list li .feed-content { padding-left: 165px; width: 300px; }
#celebr { padding: 40px 0px 60px; background: none repeat scroll 0% 0% rgb(11, 11, 11); text-align: center; }
#celebr .p-ahtung { margin-bottom: 30px; }
.footer { padding: 20px 0px; line-height: 22px; }
.footer .footer-phone { position: absolute; right: 10px; top: 35px; font-size: 35px; color: rgb(200, 0, 0); }
.eTimer { margin-left: 62px; background: none repeat scroll 0% 0% transparent ! important; }
.eTimer { display: inline-block; line-height: normal; font-family: Trebuchet MS; color: rgb(252, 239, 156); padding: 15px; background: none repeat scroll 0% 0% rgb(2, 2, 2); border: 0px solid white; border-radius: 2px; box-shadow: 0px 0px 10px 0px rgb(51, 51, 51); }
.eTimer .etTitle { margin-bottom: 10px; font-size: 25px; }
.eTimer .etUnit { display: inline-block; }
.eTimer .etUnit .etNumber { display: inline-block; margin: 1px; text-align: center; font-family: Impact; font-size: 35px; color: white; padding: 0px 8px; background: none repeat scroll 0% 0% rgb(51, 51, 51); border: 0px solid white; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset; }
.eTimer .etUnit .etSign { text-align: center; font-size: 14px; }
.eTimer .etSep { display: inline-block; vertical-align: top; font-size: 35px; padding: 0px 5px; }
.eTimer .etSep:last-of-type { display: none; }
.eTimer .etUnit .etNumber { width: 19px; }
.eTimer { display: inline-block; line-height: normal; font-family: Trebuchet MS; color: rgb(252, 239, 156); padding: 15px; background: none repeat scroll 0% 0% rgb(2, 2, 2); border: 0px solid white; border-radius: 2px; box-shadow: 0px 0px 10px 0px rgb(51, 51, 51); }
.eTimer .etTitle { margin-bottom: 10px; font-size: 25px; }
.eTimer .etUnit { display: inline-block; }
.eTimer .etUnit .etNumber { display: inline-block; margin: 1px; text-align: center; font-family: Impact; font-size: 35px; color: white; padding: 0px 8px; background: none repeat scroll 0% 0% rgb(51, 51, 51); border: 0px solid white; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset; }
.eTimer .etUnit .etSign { text-align: center; font-size: 14px; }
.eTimer .etSep { display: inline-block; vertical-align: top; font-size: 35px; padding: 0px 5px; }
.eTimer .etSep:last-of-type { display: none; }
.eTimer .etUnit .etNumber { width: 19px; }
.eTimer { display: inline-block; line-height: normal; font-family: Trebuchet MS; color: rgb(252, 239, 156); padding: 15px; background: none repeat scroll 0% 0% rgb(2, 2, 2); border: 0px solid white; border-radius: 2px; box-shadow: 0px 0px 10px 0px rgb(51, 51, 51); }
.eTimer .etTitle { margin-bottom: 10px; font-size: 25px; }
.eTimer .etUnit { display: inline-block; }
.eTimer .etUnit .etNumber { display: inline-block; margin: 1px; text-align: center; font-family: Impact; font-size: 35px; color: white; padding: 0px 8px; background: none repeat scroll 0% 0% rgb(51, 51, 51); border: 0px solid white; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset; }
.eTimer .etUnit .etSign { text-align: center; font-size: 14px; }
.eTimer .etSep { display: inline-block; vertical-align: top; font-size: 35px; padding: 0px 5px; }
.eTimer .etSep:last-of-type { display: none; }
.eTimer .etUnit .etNumber { width: 19px; }
