/* ::::: http://cool-chance.ru/css/style.css ::::: */

div#container { width: 1376px; position: relative; margin: 0px auto; text-align: left; }
body { overflow-x: hidden; font-size: 8px; line-height: 1.1875; text-align: center; margin: 0px; background-color: rgb(255, 255, 255); background-image: url('../img/bg-light-4841.png'); color: rgb(0, 0, 0); }
a { color: rgb(0, 0, 255); text-decoration: underline; }
a:visited { color: rgb(128, 0, 128); }
a:active { color: rgb(255, 0, 0); }
a:hover { color: rgb(0, 0, 255); text-decoration: underline; }
.PT_15 { font-family: "PT Sans Narrow"; font-size: 20px; font-weight: bold; font-style: normal; text-decoration: none; color: rgb(0, 0, 0); background-color: transparent; }
.PT_24 { font-family: "PT Sans Narrow"; font-size: 32px; font-weight: bold; font-style: normal; text-decoration: none; color: rgb(255, 255, 255); background-color: transparent; position: relative; left: 230px; }
.PT_28 { display: block; margin-top: 20px; font-family: "PT Sans Narrow"; font-size: 37px; font-weight: bold; font-style: normal; text-decoration: none; color: rgb(0, 0, 0); background-color: transparent; }
#indexImage1 { border: 0px solid rgb(0, 0, 0); }
#indexImage49 { border: 0px solid rgb(0, 0, 0); }
#indexImage24 { border: 0px solid rgb(0, 0, 0); }
#indexImage44 { border: 0px solid rgb(0, 0, 0); }
#indexImage26 { border: 0px solid rgb(0, 0, 0); }
#indexImage25 { border: 0px solid rgb(0, 0, 0); animation: 1500ms linear 2ms normal none 1 animate-fade-in; }
#indexImage28 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText17 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText18 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText19 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText20 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText21 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText22 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText23 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText24 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText43 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText44 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText45 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage2 { border: 0px solid rgb(0, 0, 0); }
#indexImage4 { border: 0px solid rgb(0, 0, 0); }
#indexImage3 { border: 0px solid rgb(0, 0, 0); }
#indexImage5 { border: 0px solid rgb(0, 0, 0); }
#indexImage6 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText47 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText12 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLine1 { border-width: 0px; height: 8px; width: 351px; }
#indexLine2 { border-width: 0px; height: 8px; width: 351px; }
#wb_indexText2 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; animation: 500ms linear 2ms normal none 1 animate-fade-in-right; }
#wb_indexText3 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText39 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage39 { border: 0px solid rgb(0, 0, 0); animation: 2000ms linear 2ms normal none 1 animate-fade-in-down; }
#indexImage40 { border: 0px solid rgb(0, 0, 0); animation: 2000ms linear 2ms normal none 1 animate-fade-in-down; }
#indexImage41 { border: 0px solid rgb(0, 0, 0); animation: 2000ms linear 2ms normal none 1 animate-fade-in-down; }
#wb_indexText40 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText41 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText46 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText4 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText5 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage7 { border-width: 0px; }
#indexImage9 { border: 0px solid rgb(0, 0, 0); animation: 8000ms linear 2ms normal none 1 animate-fade-in-right; }
#wb_indexText8 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText9 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText10 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText30 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLine4 { border-width: 0px; height: 10px; width: 168px; }
#indexCurve1 { border-width: 0px; height: 146px; width: 1096px; }
#wb_indexText80 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage51 { border: 0px solid rgb(0, 0, 0); border-radius: 20px; }
#indexImage36 { border: 0px solid rgb(0, 0, 0); border-radius: 20px; }
#indexImage53 { border: 0px solid rgb(0, 0, 0); }
.wrapper { width: 1040px; margin: 0px auto; }
.title { display: block; width: 600px; height: 100px; margin-left: auto; margin-right: auto; z-index: 9999; }
.reviews { position: absolute; top: 3600px; width: 100%; background: url('../img/reviews.jpg') no-repeat scroll center center rgb(0, 0, 0); height: 778px; padding-top: 50px; border-bottom: 3px solid rgb(104, 94, 85); box-shadow: 2px 2px 10px rgb(0, 0, 0); }
.reviews li { float: left; width: 201px; height: 237px; overflow: hidden; position: relative; margin: 28px 21px; }
.reviews .text { background: none repeat scroll 0% 0% rgb(200, 186, 174); height: 44px; width: 171px; position: absolute; bottom: 0px; text-align: left; padding: 5px 15px; transition: all 0.7s ease-in-out 0s; }
.reviews li:hover .text { height: 227px; }
.reviews .text p { font: 18px "gotic",Arial; color: rgb(0, 0, 0); }
.reviews .text .article { font: italic 15px "Candara",Arial; color: rgb(52, 52, 52); padding-top: 5px; background: url('../img/line.png') no-repeat scroll center top transparent; }
#sale1 { display: block; position: absolute; top: 2497px; background: url('../img/sale_bg.jpg') no-repeat scroll 0% 0% transparent; width: 100%; height: 500px; box-shadow: 2px 2px 10px rgb(0, 0, 0); }
#sale2 { display: block; position: absolute; top: 880px; background: url('../img/sale_bg.jpg') no-repeat scroll 0% 0% transparent; width: 100%; height: 500px; box-shadow: 2px 2px 10px rgb(0, 0, 0); }
.price { background: url('../img/price_bg.jpg') repeat scroll 0% 0% transparent; text-align: center; display: block; width: 50%; float: right; height: 450px; margin: 20px 50px 0px 20px; border-radius: 15px; box-shadow: 2px 2px 10px rgb(0, 0, 0) inset; }
.price:hover {  }
.price > span { font-family: calibri; font-size: 32px; padding-left: 40px; padding-top: 10px; color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(0, 0, 0); }
#wrap { display: block; width: 1300px; }
#popup { background: none repeat scroll 0px 0px rgb(255, 255, 255); border: 3px solid rgb(153, 153, 153); border-radius: 8px; display: none; left: 50%; margin: -50px 0px 0px -225px; padding: 18px; position: fixed; text-align: center; top: 240px; width: 450px; z-index: 1000; }
.close { background: none repeat scroll 0% 0% rgb(96, 96, 97); color: rgb(255, 255, 255); line-height: 25px; position: absolute; right: -12px; text-align: center; top: -10px; width: 24px; text-decoration: none; font-weight: bold; border-radius: 12px; box-shadow: 1px 1px 3px rgb(0, 0, 0); }
.close:hover { background: none repeat scroll 0% 0% rgb(0, 217, 255); }
.timer { position: absolute; top: 139px; left: 706px; }
/* ::::: http://cool-chance.ru/fancybox/jquery.fancybox-1.3.0.css ::::: */

#fancybox-loading { position: fixed; top: 50%; left: 50%; height: 40px; width: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; background: none repeat scroll 0% 0% transparent; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background: url('../img/fancy_loading.png') no-repeat scroll 0% 0% transparent; }
#fancybox-overlay { position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; margin: 0px; padding: 20px; z-index: 1101; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#fancybox-inner { position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; padding: 0px; margin: 0px; outline: medium none; overflow: hidden; }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 32px; height: 32px; background: url('../img/fancy_close.png') no-repeat scroll left top transparent; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background-image: url('../img/blank.gif'); z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background: url('../img/fancy_nav_left.png') no-repeat scroll 0% 0% transparent; }
#fancybox-right-ico { background: url('../img/fancy_nav_right.png') no-repeat scroll 0% 0% transparent; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
div.fancy-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; z-index: 1001; }
div#fancy-bg-n { top: -20px; left: 0px; width: 100%; height: 20px; background: url('../img/fancy_shadow_n.png') repeat-x scroll 0% 0% transparent; }
div#fancy-bg-ne { top: -20px; right: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_ne.png') no-repeat scroll 0% 0% transparent; }
div#fancy-bg-e { top: 0px; right: -20px; height: 100%; width: 20px; background: url('../img/fancy_shadow_e.png') repeat-y scroll 0% 0% transparent; }
div#fancy-bg-se { bottom: -20px; right: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_se.png') no-repeat scroll 0% 0% transparent; }
div#fancy-bg-s { bottom: -20px; left: 0px; width: 100%; height: 20px; background: url('../img/fancy_shadow_s.png') repeat-x scroll 0% 0% transparent; }
div#fancy-bg-sw { bottom: -20px; left: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_sw.png') no-repeat scroll 0% 0% transparent; }
div#fancy-bg-w { top: 0px; left: -20px; height: 100%; width: 20px; background: url('../img/fancy_shadow_w.png') repeat-y scroll 0% 0% transparent; }
div#fancy-bg-nw { top: -20px; left: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_nw.png') no-repeat scroll 0% 0% transparent; }
/* ::::: http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext ::::: */

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans Narrow"), local("PTSans-Narrow"), url('../fonts/uyyryy3lteffjv9quesi4uitifrlfhhtudkxxypapji.woff') format("woff");
}
@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url('../fonts/q_ptky3sc3ubribgtotayoiuojkww-xe5tf3op9mrxe.woff') format("woff");
}
/* ::::: http://chikurov25.e-autopay.com/adminka/form_generator/get_form_style.php?id=3686&2519 ::::: */

#ea_product_form_3686 { color: rgb(51, 51, 51) ! important; }
#ea_product_form_3686 .ea_required_text { color: red ! important; font-weight: bold ! important; font-family: Arial ! important; font-size: 10pt ! important; margin-left: 5px; }
#ea_product_form_3686 .ea_name_field { font-weight: bold ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; font-size: 15px ! important; color: rgb(51, 51, 51) ! important; }
#ea_product_form_3686 .ea_input { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 22px ! important; border-radius: 4px ! important; background: none repeat scroll 0px 0px rgb(255, 255, 255) ! important; text-shadow: none ! important; border: 1px solid rgb(127, 157, 185) ! important; width: 300px; margin-left: 0px ! important; margin-right: 0px ! important; }
#ea_product_form_3686 .ea_textarea { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; border-radius: 4px ! important; background: none repeat scroll 0px 0px rgb(255, 255, 255) ! important; text-shadow: none ! important; border: 1px solid rgb(127, 157, 185) ! important; width: 300px; margin-left: 0px ! important; height: 67px; }
#ea_product_form_3686 .ea_select { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 20px ! important; border-radius: 3px ! important; background: none repeat scroll 0px 0px rgb(255, 255, 255) ! important; text-shadow: none ! important; border: 1px solid rgb(127, 157, 185) ! important; margin-left: 0px ! important; width: 300px; }
#ea_product_form_3686 .ea_pay_mode {  }
#ea_product_form_3686 #ea_special_region, #ea_product_form_3686 #ea_special_city { display: none; }
#ea_product_form_3686 .ea_submit { display: inline-block; margin-bottom: 0px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid rgb(127, 157, 185); border-radius: 20px; background: none repeat scroll 0px 0px rgb(0, 208, 255); font-family: verdana; font-size: 19px; color: rgb(51, 51, 51); width: 210px; height: 45px; font-weight: bold; font-style: italic; box-shadow: 0px 0px 0px 3px rgb(242, 247, 249); }
#ea_product_form_3686 .ea_submit:hover, #ea_product_form_3686 .ea_submit:focus, #ea_product_form_3686 .ea_submit:active, #ea_product_form_3686 .ea_submit.active, #ea_product_form_3686 .ea_submit.disabled, #ea_product_form_3686 .ea_submit[disabled] { color: rgb(51, 51, 51); background-color: rgb(0, 157, 255); }
#ea_product_form_3686 .ea_submit:hover, #ea_product_form_3686 .ea_submit:focus { color: rgb(51, 51, 51); text-decoration: none; background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
#ea_product_form_3686 .ea_submit:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
#ea_product_form_3686 .ea_submit.active, #ea_product_form_3686 .ea_submit:active { background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
#ea_product_form_3686 .ea_custom_text { color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 12pt ! important; font-style: italic ! important; font-weight: bold ! important; }
#ea_product_form_3686 .ea_table_form { width: 100% ! important; }
#ea_product_form_3686 .ea_table_form td { padding: 1px 5px 2px 1px ! important; text-align: left; vertical-align: middle; }
#ea_product_form_3686 .ea_td_right { text-align: right ! important; width: 50%; }
#ea_product_form_3686 .ea_td_center { text-align: center ! important; }
#ea_product_form_3686 .ea_td_text { text-align: center ! important; }
#ea_product_form_3686 .ea_form { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 10pt ! important; font-weight: normal; color: rgb(51, 51, 51); }
#ea_product_form_3686 .ea_countprod { width: 40px ! important; }
