.block-1{
    height: 720px;
    background: url(../img/bg-1.jpg) 50% -130px no-repeat #fff;
}
.block-1 .wrap{
    padding: 0 20px;
}
.block-1 .container{
    position: relative;
    padding: 0px 0 0 460px;
}
.block-1 .main-title{
    margin: 0 0 20px 0;
    padding: 30px 0 0 460px;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    line-height: 1em;
    letter-spacing: 3.5px;
    color: #f00095;
    white-space: nowrap;
}
.block-1 .sub-title{
    position: relative;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f00095;
}
.block-1 .sub-title:after, .block-1 .sub-title:before{
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 0;
    top: 50%;
    left: 0;
    border-top: 1px solid #f00095;
}
.block-1 .sub-title:after{
    left: auto;
    right: 0;
}
.block-1 .sec-title{
    padding: 20px 0 0;
    text-align: center;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sale{
    position: absolute;
    width: 110px;
    height: 90px;
    top: 160px;
    left: 0;
    padding: 5px 0 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}
.sale>span{
    display: block;
    line-height: 1em;
    font-size: 30px;
}
.block-1 .sup-2{
    padding: 20px 0 25px;
}
.block-1 .sup-2>li{
    float: left;
    width: 33.333%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sup-2>li:before{
    content: '';
    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto 10px;
    background: url(../img/sup-2.png) no-repeat;
}
.sup-2>li:nth-child(1):before{
    background-position: 0 0;
}
.sup-2>li:nth-child(2):before{
    background-position: -56px 0;
}
.sup-2>li:nth-child(3):before{
    background-position: -112px 0;
}
.block-1 .button-m{
    margin: 30px auto 0;
}
.cost{
    border-radius: 3px;
    background: rgba(101, 108, 111, 0.1);
}
.cost>div{
    float: left;
    width: 50%;
    padding: 5px;
    text-align: center;
}
.cost>div span{
    display: block;
    font-size: 38px;
    line-height: 1em;
}
.cost .old-cost{
    border-right: 1px solid rgba(255,255,255,.7);
}
.cost .old-cost>span{
    text-decoration: line-through;
}
.cost .new-cost>span{
    font-weight: 700;
    color: #f00095;
}
.block-2 .wrap{
    padding: 20px 0 40px;
}
.block-2 .sup-1{
    margin: -130px 0 0;
}
.block-2 .sup-1>li{
    float: left;
    width: 33.333%;
    text-align: center;
}
.block-2 .sup-1>li img{
    display: block;
    margin: 0 auto 20px;
}
.block-2 .sup-1>li h3{
    padding: 0 0 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f00095;
}
.block-2 .sup-1>li h3:after{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin: 8px auto 0;
    background: #ccc;
}
.block-2 .sup-1>li p{
    padding: 0 15px;
}
.block-2-2{
    background: url(../img/bg-2.jpg) 50% 100% no-repeat #9afcff;
}
.block-2-2 .about{
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,.8);
}
.block-2-2 .about>img{
    display: block;
    float: left;
    border-radius: 3px;
}
.block-2-2 .about .text{
    padding: 20px 20px 0 310px;
    line-height: 1.6em;
    font-size: 18px;
    text-align: justify;
}
.block-3 .char{
    padding: 0 0 40px;
}
.block-3 .char>h3{
    padding: 0 0 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.block-3 .char>img{
    display: block;
    float: left;
    border-radius: 3px;
}
.block-3 .char>p{
    padding: 10px 0 0 480px;
    line-height: 1.7em;
}
.block-3 .char .spec{
    padding: 20px 0 0 480px;
}
.block-3 .char .spec>li{
    float: left;
    width: 50%;
    padding: 0 0 10px;
}
.block-3 .char .spec>li span{
    margin: 0 10px 0 0;
    font-weight: 500;
    color: #f00095;
}
.block-4{
    height: 682px;
    background: url(../img/bg-3.jpg) 50% 0 no-repeat #fff;
}
.block-4 .exp-ava{
    float: left;
    width: 290px;
    height: 412px;
    padding: 285px 20px 0;
    text-align: center;
    background: url(../img/expert.jpg) 50% 0 no-repeat #fff;
}
.block-4 .exp-ava h3{
    padding: 0 0 5px;
    font-size: 18px;
}
.block-4 .exp-text{
    float: right;
    width: 600px;
    height: 412px;
    padding: 30px;
    line-height: 1.7em;
    border-radius: 3px;
    background: rgba(255,255,255,.8);
}
.block-5 .wrap{
    padding: 40px 0 ;
}
.block-5 .rev-slider{
    position: relative;
    padding: 0 0 40px;
}
.block-5 .rev-item{
    float: left;
    width: 300px;
    margin: 0 10xp;
    text-align: center;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
}
.block-5 .rev-item>img{
    display: block;
    margin: 0 auto;
}
.block-6{
    background: url(../img/bg-2.jpg) 50% 100% no-repeat #9afcff;
}
.block-6 .deliv-item{
    position: relative;
    float: left;
    width: 25%;
    padding: 20px 0 0;
    text-align: center;
}
.block-6 .deliv-item>img{
    display: block;
    margin: 0 auto 15px;
}
.block-6 .deliv-item>p{
    padding: 0 20px;
}
.block-8{
    padding: 0 0 20px;
    background: url(../img/bg-1.jpg) 50% 0px no-repeat #fff;
}
.block-8 h2.title{
    font-weight: 700;
}
.block-8 h2.title>strong{
    font-size: 100%;
    color: #f00095;
}
.block-8 .container{
    position: relative;
    padding: 0 0 0 370px;
}
.block-8 .list{
    float: left;
    width: 180px;
}
.block-8 .list .sup-2>li{
    text-align: center;
    padding: 0 0 20px;
}
.block-8 .sale{
    top: 260px;
}
.block-8 .order{
    float: right;
    width: 360px;
    padding: 20px 10px;
    background: rgba(255,255,255,.8);
    border-radius: 3px;
}
.block-8 .timer{
    text-align: center;
}
.block-8 .timer h4{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}
.block-8 .m1-form{
    padding: 25px 0 0;
}
.block-8 .ost-col{
    position: absolute;
    width: 180px;
    bottom: 20px;
}
.block-8 .ost-col>span{
    display: inline-block;
    padding: 4px 10px;
    background: #ff067d;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
}
.copyright{
    padding: 30px 0;
    text-align: center;
}
.copyright .mob-vis{
    display: none;
}
@media screen and (max-width: 959px){
    .block-1{
        height: 650px;
        background: url(../img/bg-1-640.jpg) 50% -50px no-repeat #fff;
    }
    .block-1 .wrap{
        padding: 0 10px;
    }
    .block-1 .container{
        padding: 0px 0 0 290px;
    }
    .block-1 .main-title{
        margin: 0 0 20px 0;
        padding: 20px 20px 0;
    }
    .block-1 .sub-title{
        display: none;
    }
    .block-1 .sec-title{
        padding: 0;
        font-size: 20px;
    }
    .sale{
        width: 110px;
        top: 212px;
        font-size: 16px;
    }
    .sale>span{
        font-size: 24px;
    }
    .block-1 .sup-2{
        padding: 25px 0;
    }
    .block-1 .sup-2>li{
        font-size: 14px;
        letter-spacing: 0.5px;
    }
    .block-1 .button-m{
        margin: 20px auto 0;
    }
    .cost>div span{
        font-size: 32px;
    }
    .block-2 .sup-1>li p{
        padding: 0 10px;
    }
    .block-2-2 .about>img{
        margin: 10px 20px 0 10px;
    }
    .block-2-2 .about .text{
        padding: 10px;
        font-size: 16px;
        line-height: 1.6em;    
    }
    .block-3 .char{
        padding: 0 0 30px;
    }
    .block-3 .char>img{
        float: none;
        margin: 0 auto 20px;
    }
    .block-3 .char>p{
        padding: 10px 0 0;
        text-align: justify;
    }
    .block-3 .char .spec{
        margin: 20px 0 0;
        padding: 15px 20px 5px;
        background: rgba(101, 108, 111, 0.1);
        border-radius: 3px;
    }
    .block-4{
        height: auto;
        background: url(../img/bg-3.jpg) 50% 0 no-repeat #fff;
    }
    .block-4 .exp-ava{
        float: none;
        width: 290px;
        height: auto;
        margin: 0 auto 20px;
        padding: 0;
        text-align: center;
        background: transparent;
    }
    .block-4 .exp-ava:before{
        content: '';
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
        border: 3px solid rgba(255,255,255,.8);
        border-radius: 50%;
        background: url(../img/expert2.jpg) 50% 0 no-repeat;
    }
    .block-4 .exp-text{
        float: none;
        width: auto;
        height: auto;
        padding: 30px;
        box-shadow: 0 0 20px rgba(0,0,0,.14);
    }
    .block-5 .wrap{
        padding: 20px 0 40px;
    }
    .block-6 .deliv-item{
        width: 50%;
        padding: 20px 0 10px;
    }
    .block-8{
        padding: 0 0 20px;
        background: url(../img/bg-1-640.jpg) 50% 0px no-repeat #fff;
    }
    .block-8 .container{
        position: relative;
        padding: 0;
    }
    .block-8 .list{
        width: auto;
        padding: 340px 0 0;
    }
    .block-8 .list .sup-2>li{
        float: left;
        text-align: center;
        padding: 0 7px 20px;
    }
    .block-8 .sale{
        top: 185px;
    }
    .block-8 .order{
        width: 320px;
    }
    .block-8 .ost-col{
        position: absolute;
        width: 180px;
        bottom: -10px;
        left: 65px;
    }
    
}
@media screen and (max-width: 639px){
    .block-1{
        height: auto;
        background: url(../img/bg-1-320.jpg) 50% -50px no-repeat #fff;
    }
    .block-1 .container{
        padding: 0 0 40px;
    }
    .block-1 .main-title{
        margin: 0 0 10px 0;
        padding: 25px 0 0;
        font-size: 40px;
        letter-spacing: 1px;
    }
    .block-1 .sub-title{
        display: block;
        margin: 0 0 15px;
    }
    .block-1 .sub-title:after, .block-1 .sub-title:before{
        width: 30px;
    }
    .sale{
        width: 110px;
        top: 270px;
    }
    .block-1 .sup-2{
        padding: 370px 0 20px;
    }
    .block-2 .sup-1{
        margin: 0;
    }
    .block-2 .sup-1>li{
        float: none;
        width: auto;
        padding: 20px 0 0;
    }
    .block-2-2 .about>img{
        float: none;
        margin: 0 0 10px;
    }
    .block-2-2 .about .text{
        line-height: 1.5em;    
    }
    .block-3 h2.title{
        margin-bottom: 20px;
    }
    .block-3 .char>h3{
        font-size: 18px;
    }
    .block-3 .char>p{
        line-height: 1.5em;
    }
    .block-3 .char .spec{
        padding: 15px 10px 5px;
    }
    .block-3 .char .spec>li{
        float: none;
        width: auto;
    }
    .block-4 .exp-text{
        height: 340px;
        overflow: hidden;
        line-height: 1.5em;
        padding: 15px 10px;
        text-align: justify;
        border-bottom: 10px solid #fff;
    }
    .block-6 .deliv-item{
        float: none;
        width: auto;
    }
    .block-8{
        padding: 0;
        background: url(../img/bg-1-320.jpg) 50% -60px no-repeat #e6d7ef;
    }
    .block-8 .wrap{
        padding: 40px 0;
    }
    .block-8 h2.title{
        font-size: 22px;
        line-height: 1.3em;
    }
    .block-8 .container{
        position: relative;
        padding: 0;
    }
    .block-8 .list{
        float: none;
        width: auto;
        padding: 340px 0 0;
    }
    .block-8 .list .sup-2>li{
        float: left;
        width: 33.33%;
        text-align: center;
        padding: 0 10px 20px;
    }
    .block-8 .sale{
        top: 142px;
        left: 10px;
    }
    .block-8 .order{
        float: none;
        width: 320px;
    }
    .block-8 .ost-col{
        position: static;
        width: auto;
        padding: 30px 10px 0;
        bottom: auto;
        left: auto;
        white-space: nowrap;
    }
    .block-8 .ost-col>span{
        margin: 0 0 0 5px;
    }
    .copyright .mob-vis {
        display: inline;
    }
    .copyright .mob-hid {
        display: none;
    }
}