/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/subset-MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/subset-MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/subset-MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/subset-MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/subset-MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family: "Museo Sans", sans-serif; font-weight: 700;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: "Museo Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #303030;
    background: #fff;
}
section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.wrap{
    width: 960px;
    padding: 40px 20px;
    margin: 0 auto;
}
.m1-form>div{
    width: 300px;
    margin: 0 auto 12px;
}
.m1-form>div:last-child{
    margin-bottom: 0;
}
.m1-form input{
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    background: transparent;
    text-indent: 15px;
    font-size: 20px;
    font-family: "Museo Sans", Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.m1-form input:focus{
    border-color: #aaa;
}
.button-m{
    position: relative;
    display: block;
    width: 300px;
    height: 74px;
    margin: 0 auto;
    border: 0;
    text-decoration: none;
    cursor: pointer; 
    line-height: 72px;
    font-family: "Museo Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background: #ff1c7a;
    background-image: -webkit-linear-gradient(top, #ff4074, #ff037f);
    background-image: -moz-linear-gradient(top, #ff4074, #ff037f);
    background-image: -ms-linear-gradient(top, #ff4074, #ff037f);
    background-image: -o-linear-gradient(top, #ff4074, #ff037f);
    background-image: linear-gradient(to bottom, #ff4074, #ff037f);
    border-radius: 3px;
    border-bottom: 3px solid #c0025e;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.25);
}
.button-m:hover{
    background: #ff1c7a;
    border-bottom-color: #c0025e;
}
h2.title{
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
}
h2.title>strong{
    display: block;
    padding: 5px 0 0;
    font-size: 48px;
    line-height: 1em;
}
.rose-title{
    margin-bottom: 30px;
}
.rose-title>strong{
    color: #f00095;
}
.rose-title:after{
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    margin: 15px auto 0;
    background: #ccc;
}
.countbox{
    width: 270px; 
    margin: 0 auto;
    padding: 5px 0 35px;
    font-size: 30px; 
    line-height: 1.2; 
    text-align: center;
}
.countbox .countbox-num{
    position: relative;
    float: left; 
    width: 80px;
    height: 77px; 
    padding: 0 0 0 2px;
    line-height: 77px; 
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    background: url(../img/timer-bg.png) 50% 0 no-repeat;
}
.countbox .countbox-space{
    float: left; 
    width: 15px; 
    height: 46px;
    line-height: 46px;
    font-weight: 400; 
    color: #fff;
}
.countbox .countbox-space:before{content: '\003A';}

.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{
    position: absolute;
    height: 18px;
    width: 84px;
    text-align: center; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    text-transform: lowercase;
    color: #303030;
}
@media screen and (max-width: 959px){
    .wrap{
        width: 640px;
        padding: 40px 10px;
    }
}
@media screen and (max-width: 639px){
    .wrap{
        width: 320px;
        padding: 40px 10px;
    }
    h2.title{
        font-size: 20px;
    }
    h2.title>strong{
        font-size: 34px;
        line-height: 1.2em;
    }
}