body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
h3 {
    margin-top: 16px;
    font-size: 16px;
}

h5 {
    margin-top: 16px;
    margin-bottom: 24px;
}

p {
    margin-top: 24px;
  font-size: 22px;
}

.name-text, .phone-text {
    display: inline-block;
    margin-top: 36px;
    font-size: 22px;
}

.name-text {
    margin-top: 0px;
}

.desc {
        font-size: 18px;
    margin-top: 48px;
    margin-bottom: 36px;
}

desc input:active {.
    border: none
    border-bottom: solid 1px #185993;
}

input[type="radio"] {
    transform: scale(1.6);
    cursor: pointer;
    margin-top: 8px;
    margin-right: 10px;
}

.container {
    background-color: #fff;
    min-width: 320px;
    max-width: 600px;
    padding: 30px;
    padding-top: 50px;
    border: solid 1px #b1b3b7;
    margin-top: 15px;
    margin-bottom: 10px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}