* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400;
}

body {
	background: #f5f5f5;
}

body,input,select,button {
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 16px;
	line-height: 1.25;
}

input[type="text"] {
	background: #fff;
	width: 253px;
	height: 55px;
	padding: 0 20px;
	margin: 0 auto 10px auto;
	display: block;
	color: #0c384a;
}

input[type="text"].big {
	width: 360px;
}

input[type="submit"],.button.big  {
	background: url(img/button.png) no-repeat 0 0;
	width: 299px;
	height: 77px;
	line-height: 77px;
	display: block;
	cursor: pointer;
	margin: 0 auto;
	font-size: 36px;
	color: #fff;
	font-family: 'Roboto',arial,sans-serif;
	font-weight: 700;
	text-shadow: 0 1px 0 #b04604;
	text-align: center;
	text-decoration: none;
	line-height: 68px;
}

input[type="submit"],input[type="submit"].big{
	margin-top: 15px;
}

.button.big {
    background: url(img/button-big.png) no-repeat 0 0;
    width: 300px;
    margin-right: 16%;
}

input[type="submit"].big {
	background: url(img/button-big2.png) no-repeat 0 0;
	width: 413px;
}

input[type="submit"]:hover,.button.big:hover {
	background-position: 0 center;
}

input[type="submit"]:focus,.button.big:focus {
	padding: 2px 0 0 0;
	background-position: 0 bottom;
}

.clear {
	clear: both;
}

.content {
	width: 1100px;
	margin: 0 auto;
}

.countdown {
	padding: 0 0 0 100px;
}

.countdown h5 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 10px 0;
}

.countdown .timer div {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 0 0;
}

.timer div p {
	background: url(img/timer.png) no-repeat 0 0; 
	font-family: 'Roboto',arial,sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #000;
	text-align: center;
	width: 73px;
	height: 68px;
	line-height: 68px;
}

.timer div span {
	display: block;
	font-size: 14px;
	margin: 3px 0 0 0; 
	text-transform: uppercase;
	text-align: center;
}

/* display */
.mobile-order,.button.buy {
	display: none;
}

/* header */
.header {
	background: url(img/header.jpg) no-repeat center 0;
	height: 1083px;
	color: #EBEBEB;
}

.header .top {
	height: 645px;
}

.header .top .phone {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 18px;
	padding: 100px 0 0 0;
}

.header .top .phone div {
	background: url(img/icon1.png) no-repeat 0 center;
	font-size: 24px;
	font-weight: 700;
	color: #e8d60d;
	display: inline-block;
	padding: 0 0 0 32px;
}

.header .top h1 {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 40px; 
	text-align: center;
	color: #fff;
	font-weight: 700;
	padding: 160px 300px 0 300px;
}

.header .top .pull-left {
	float: left;
	margin: 0 0 0 193px;
	width: 510px;
}

.header .top .pull-left div {
	font-size: 14px;
	font-style: italic;
	text-align: center;
	padding: 20px 0 10px 0;
}

.header .top .pull-left iframe {
	width: 100%;
	display: block;
	height: 310px;
}

.header .top .pull-right {
	font-family: 'Roboto',arial,sans-serif;
	float: right;
	width: 332px;
	margin: 0 50px 0 0;
    text-align: center;
}

.header .top .pull-right h2 {
	font-size: 36px;
	font-weight: 700;
	padding: 50px 0 0 20px;
}

.header .top .pull-right h2 span {
	display: block;
	font-size: 24px;
}

.header .top .pull-right div {
	font-size: 18px;
	padding: 5px 0 5px 20px;
}

.header .top .pull-right div span {
	font-size: 36px;
	font-weight: 700;
	color: #fceb2a;
}

.header .bottom {
	
}

.header .bottom .pull-left {
	float: left;
	padding: 20px 0 0 210px;
    font-style: italic;
    font-size: 18px;
}

.header .bottom .pull-right {
	float: right;
	width: 50%;
} 

.header .bottom .pull-right h1 {
	padding: 45px 0 0 20px;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
}

.header .bottom .pull-right h1 span {
	text-transform: uppercase;
	color: #e8d60d;
}

.header .bottom .pull-right .price-old {
	padding: 50px 0 0 20px;
	font-size: 18px;
	text-align: center;
	line-height: 1;
	float: left;
}

.header .bottom .pull-right .price-old del {
	display: block;
	font-size: 36px;
	color: #000;
}

.header .bottom .pull-right .price-new {
	font-family: 'Roboto',arial,sans-serif;
	padding: 30px 0 0 15px;
	font-size: 18px;
	text-align: center;
	float: left;
	font-weight: 700;
}

.header .bottom .pull-right .price-new span {
	
	padding: 0 0 3px 0;
	color: #e8d60d;
	text-transform: uppercase;
}
.header .bottom .pull-right .price-new span.price_only{
    color: #fff;
}

.header .bottom .pull-right .price-new div {
	background: url(img/price.png) no-repeat 0 0;
	width: 204px;
	height: 72px;
	line-height: 72px;
	font-size: 36px;
	text-align: center;
}

.header .bottom .pull-right img {
	float: right;
	margin: 0 20px 0 0;
}

.header .bottom .pull-right .action {
	background: url(img/arrows.png) no-repeat 0 center;
	margin: 28px 0 0 60px;
	font-size: 18px; 
	font-weight: 700;
	padding: 0 0 0 22px;
	float: left;
        margin-top: -20px;
        margin-left: -460px;
}

.header .bottom .pull-right .action span {
	display: inline-block;
	background: #f55b05;
	color: #fff;
	padding: 0 6px 0 8px;
	line-height: 24px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.header .bottom .pull-right .action  font {
	color: #F55B05;
}

/* how-work */
.how-work {
	background: url(img/how-work.jpg) no-repeat center 0;
	height: 699px;
	margin-top: 9px;
}

.how-work h1 {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
	padding: 38px 0 30px 0;
}

.how-work p {
	padding: 0 50px 20px 50px;
	line-height: 22px;
}

.how-work .pull-left {
	float: left;
	padding: 0 0 0 50px;
	width: 330px;
}


.how-work .pull-right {
	float: right;
	padding: 0 50px 0 0;
	width: 330px;
}

.how-work .item {
	font-family: 'Roboto',arial,sans-serif;
	width: 151px;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 0;
}

.how-work .item img {
	vertical-align: bottom;
}

.how-work .item span {
	padding: 27px 0 35px 0;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	display: block;
}

/* order */
.order {
	background: url(img/order.jpg) no-repeat center 0;
	height: 212px;
	padding: 36px 0 0 0;
	color: #fff;
}

.order .pull-left {
	width: 380px;
	float: left;
	padding: 20px 0 0 36px;
	font-size: 14px;
	font-style: italic;
}

.order .pull-left div {
	float: right;
	text-align: right;
}

.order .pull-right {
	margin-right: 10%;
	
}

.order .pull-right h1 {
	padding: 12px 0 10px 0;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.order .pull-right .phone {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 18px;
	padding: 0 0 10px 0;
}

.order .pull-right .phone div {
	background: url(img/icon1.png) no-repeat 0 center;
	font-size: 24px;
	font-weight: 700;
	color: #e8d60d;
	display: inline-block;
	padding: 0 0 0 32px;
}

/* how-work2 */
.how-work2 {
	background: #fff;
	margin-top: 13px;
	padding: 0 0 55px 0;
}

.how-work2 h1 {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	padding: 65px 0 20px 0;
}

.how-work2 p {
	background: url(img/img10.jpg) no-repeat 0 0;
	margin: 0 60px 0 50px;
	padding: 0 0 0 350px;
	min-height: 293px;
	line-height: 22px;
}

.how-work2 p span {
	background: url(img/img9.jpg) no-repeat 0 center;
	display: block;
	padding: 15px 0 15px 235px;
}

/* certificates */
.certificates {
	padding: 55px 0 40px 0;
}

.certificates .pull-left {
	margin: 0 45px 0 50px;
	float: left;
}

.certificates .pull-left img {
	width: 193px;
	display: inline-block;
	vertical-align: top;
	margin: 0 7px 0 0;
}

.certificates .pull-right {
	float: left;
	width: 565px;
}

.certificates .pull-right h1 {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	
}

.certificates .pull-right p {
	line-height: 22px;
	padding: 20px 0 0 0;
}

/* reviews */
.video-reviews .content {
	background: url(img/video-reviews.jpg) no-repeat center 0;
	height: 1089px;
	padding: 0 40px;
	width: 1020px;
}

.video-reviews h1 {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	padding: 32px 0 35px 0;
}

.video-reviews .item { 
	width: 490px;
	margin: 0 10px 24px 10px;
	float: left;
}

.video-reviews .item iframe {
	display: block;
	width: 100%;
	height: 310px;
}

.video-reviews .item>div {
	margin: 5px 0 0 0;
	background: #fff;
	padding: 25px;
}

.video-reviews .item>div .pull-left {
	float: left;
}
.video-reviews .item>div .pull-right {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 0 90px;
}
.video-reviews .item>div .pull-right h2 {
	font-size: 16px;
	color: #3a5999;
	font-weight: 700;
	margin: -5px 0 6px 0;
}

.video-reviews .item>div .pull-right span {
	display: block;
	color: #8c8c8c;
	margin: 5px 0 0 0;
}

/* how-use */
.how-use {
	background: #0d9be7;
	margin-top: 12px;
	color: #fff;
}

.how-use .content {
	width: 1000px;
	padding: 0 50px;
}

.how-use h1 {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	padding: 35px 0 40px 0;
}

.how-use .item {
	position: relative;
	width: 25%;
	float: left;
	text-align: center;
}

.how-use .item img {
	vertical-align: bottom;
}

.how-use .item p {
	padding: 10px 20px 22px 20px;
	font-size: 18px;
	line-height: 22px;
}

.how-use .item span {
	position: absolute;
	background: url(img/arrow.png) no-repeat 0 0;
	width: 23px;
	height: 64px;
	display: block;
	right: -10px;
}

/* questions */
.questions {
	margin-top: 12px;
	background: #fff;
	padding: 0 0 40px 0;
}

.questions h1 {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	padding: 30px 0;
}

.questions .item {
	padding: 0 50px;
}

.questions .item div {
	background: #e3e3e3 url(img/icon6.png) no-repeat 20px center;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	padding: 15px 40px 15px 75px;
}

.questions .item p {
	padding: 15px 20px 15px 75px;
	line-height: 22px;
}

/* reviews */
.reviews {
	width: 1000px;
}

.reviews h1 {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	padding: 35px 0 26px 0;
}

.reviews .add-review {
	background: #eeeeee;
	padding: 19px 0 19px 24px;
}

.reviews .add-review input[type="text"] {
	border: 1px solid #c1c1c1;
	width: 722px;
	height: 38px;
	margin: 0 9px 0 0;
	float: left;
}

.reviews .add-review button {
	background: #0d9be7;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	width: 183px;
	height: 39px;
	border-bottom: 2px solid #11557a;
	cursor: pointer;
}

.reviews .add-review button:hover {
	background: #11557a;
}
 
.reviews .item {
	background: #fff;
	padding: 25px 25px 0 25px;
}

.reviews .item.last {
	padding-bottom: 15px;
}

.reviews .item>div {
	border-bottom: 1px solid #e1e1e1;
	padding: 0 0 10px 0;
}

.reviews .item.last>div {
	border: 0;
}

.reviews .item>div .pull-left {
	float: left;
}
.reviews .item>div .pull-right {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 0 90px;
}
.reviews .item>div .pull-right h2 {
	font-size: 16px;
	color: #3a5999;
	font-weight: 700;
	margin: -5px 0 6px 0;
}

.reviews .item>div .pull-right span {
	display: block;
	color: #8c8c8c;
	margin: 5px 0 0 0;
}


/* social */
.social {
	text-align: center;
	padding: 0 0 25px 0;
}

.social h1 {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 36px;
	font-weight: 700;
	padding: 35px 0 26px 0;
}

.social>div div {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	padding: 0 35px;
}

.social>div div img {
	width: 100%;
	vertical-align: bottom;
}

/* footer */
.footer {
	background: url(img/footer.jpg) no-repeat center 0;
	height: 688px;
	color: #fff;
}

.footer .top {
	height: 515px;
}

.footer .top .pull-left {
	margin: 0 0 0 190px;
	width: 444px;
	float: left;
	text-align: center;
}

.footer .top .pull-left .phone {
	text-align: center;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 18px;
	padding: 35px 0 0 0;
}

.footer .top .pull-left .phone div {
	background: url(img/icon1.png) no-repeat 0 center;
	font-size: 24px;
	font-weight: 700;
	color: #e8d60d;
	display: inline-block;
	padding: 0 0 0 32px;
}

.footer .top .pull-left h3 {
	padding: 30px 0 0 0;
}

.footer .top .pull-left h1 {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	padding: 15px 0 10px 0;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer .top .pull-left h1 span {
	font-size: 36px;
	text-transform: uppercase;
	display: block;
    
}

.footer .top .pull-left .price-old {
	padding: 0 15px;
	font-size: 18px;
	text-align: center;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
}

.footer .top .pull-left .price-old del {
	display: block;
	font-size: 36px; 
}

.footer .top .pull-left .price-new {
	padding: 0 15px;
	font-family: 'Roboto',arial,sans-serif; 
	font-size: 18px;
	text-align: center;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
}

.footer .top .pull-left .price-new div {
	font-size: 36px;
	text-align: center;
	color: #e8d60d;
	font-weight: 700;
}

.footer .top .pull-left form {
	padding: 20px 0 0 0;
}


.footer .top .pull-right {
	float: right;
	width: 462px;
	text-align: center
}

.footer .top .pull-right .price-old {
	padding: 80px 0 0 0;
	font-size: 18px;
	text-align: center;
	line-height: 1; 
}

.footer .top .pull-right .price-old del {
	display: block;
	font-size: 36px; 
}

.footer .top .pull-right .price-new {
	font-family: 'Roboto',arial,sans-serif;
	padding: 20px 0 0 0;
	font-size: 18px;
	text-align: center; 
	font-weight: 700;
}

.footer .top .pull-right .price-new span {

	padding: 0 0 3px 0;
	color: #e8d60d;
	text-transform: uppercase;
}
.footer .top .pull-right .price-new span.price_only{
    color: #fff;
}
.footer .top .pull-right .price-new div {
	background: url(img/price.png) no-repeat 0 0;
	width: 204px;
	height: 72px;
	margin: 0 auto;
	line-height: 72px;
	font-size: 36px;
	text-align: center;
}

.footer .top .pull-right img {
	float: right;
	margin: 0 20px 0 0;
}

.footer .top .pull-right .countdown {
	padding: 45px 0 0 0;
}

.footer .top .pull-right .countdown div {
	margin: 0 8px;
}

.footer .top .pull-right .action {
	background: url(img/arrows.png) no-repeat 0 center;
	margin: 28px 0 0 0px;
	font-size: 18px; 
	font-weight: 700;
	padding: 0 0 0 22px;
	display: inline-block;
	text-align: left;
}

.footer .top .pull-right .action span {
	display: inline-block;
	background: #f55b05;
	color: #fff;
	padding: 0 6px 0 8px;
	line-height: 24px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.footer .top .pull-right .action  font {
	color: #fbe828;
}

.footer .bottom {
	padding: 30px 0 0 0;
	text-align: center;
	color: #878a8b;
}

.footer .bottom a {
	color: #878a8b;
	text-decoration: none;
}

.footer .bottom a:hover {
	text-decoration: underline;
}