@media screen and (min-width: 1100px) {
	.how-use .item span {
		top: 25px;
	}
}

@media screen and (max-width: 1090px) and (min-width: 0px) {
	input[type="text"].big {
		width: 568px;
		margin-bottom: 10px;
	}
	body {
	width:720px;
}
@media screen and (max-width: 1090px) and (min-width: 0px)
.header .bottom .pull-right .price-new .price_only1258{
	font-size:30px; 
	
}
@media screen and (max-width: 1100px) and (min-width: 0px)
.header .bottom .pull-right .price-new .price_only1258{
	font-size:30px; 
	
}

.reviews .add-review button {
    margin-left: 170px;
}
	input[type="submit"].big {
		background: url(mobile/button-big.png) no-repeat 0 0;
		width: 614px;
	}
	
	.wrapper {
		min-width: 645px;
		overflow: hidden;
	}
	.content {
		width: 645px;
	}
	
	.countdown {
		padding: 20px 0 10px 0;
	}

	.countdown h5 {
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 0 10px 0;
	}

	
	/* mobile-order */
	.mobile-order {
		display: block;
		background: #000000;
		padding: 15px 0;
	}
	
	.mobile-order .phone {
		font-family: 'Roboto',arial,sans-serif;
		font-size: 20px;
		padding: 0px 0 0 57px;
		color: #fff;
		float: left;
	}

	.mobile-order .phone div {
		background: url(mobile/icon1.png) no-repeat 0 center;
		font-size: 30px;
		font-weight: 700;
		color: #e8d60d;
		display: inline-block;
		padding: 0 0 0 42px;
	}
	
	.mobile-order .button.call {
		float: right;
		background: url(mobile/button.png) no-repeat 0 0;
		width: 233px;
		height: 77px;
		display: block;
		color: #fff;
		font-size: 36px;
		font-weight: 700;
		text-align: center;
		text-decoration: none;
		font-family: 'Roboto',arial,sans-serif;
		line-height: 65px;
		text-shadow: 1px 1px 0 #006fb8;
		margin: 0 50px 0 0;
	}
	
	/* header */
	.header {
		background: url(mobile/header.jpg) no-repeat center 0;
		height: 1247px; 
	}

	.header .top {
		height: 663px;
	}

	.header .top .phone {
		display: none;
	}

	.header .top h1 { 
		padding: 162px 60px 10px 60px;
	}

	.header .top .pull-left {
		float: none;
		margin: 0 20px;
		width: auto;
	}

	.header .top .pull-left div {
		display: none;
	}

	.header .top .pull-left iframe {
		width: 100%;
		display: block;
		height: 370px;
	}

	.header .top .pull-right {
		display: none;
	}

	.header .bottom {
		text-align: center;
	}

	.header .bottom .pull-left {
		display: none;
	}

	.header .bottom .pull-right {
		float: none;
		width: auto;
	} 

	.header .bottom .pull-right h1 {
		text-align: center;
	} 
	
	.header .bottom .pull-right .price-old {
		font-size: 24px;
		padding: 80px 0 0 55px; 
	}
	
	.header .bottom .pull-right .price-old del {
		font-size: 40px;
		color: #fff;
	}
	
	.header .bottom .pull-right .price-new { 
		padding: 50px 25px 0 0px;
		float: right;
	}
	
	.header .bottom .pull-right .price-new span {
		font-size: 24px;
	}
	.header .bottom .pull-right .price-new span.price_only {
        font-size: 44px;
    }
	.header .bottom .pull-right .price-new div {
		background: url(mobile/price.png) no-repeat 0 0;
		width: 249px;
		height: 87px;
		line-height: 87px;
		font-size: 40px; 
	}

	.header .bottom .pull-right img {
		float: right;
		margin: 20px 0 0 0;
	}

	.header .bottom .pull-right .action {
		margin: 0;
		display: inline-block;
		font-size: 24px; 
		padding: 0 0 0 22px;
		float: none;
	}

	.header .bottom .pull-right .action span { 
		padding: 0 9px 0  8px;
		line-height: 32px; 
	} 
	

	.button.buy  {
		background: url(mobile/button-buy.png) no-repeat 0 0;
		width: 540px;
		height: 77px;
		line-height: 77px;
		display: block;
		cursor: pointer;
		margin: 10px auto 15px auto;
		font-size: 36px;
		color: #fff;
		font-family: 'Roboto',arial,sans-serif;
		font-weight: 700;
		text-shadow: 0 1px 0 #b04604;
		text-align: center;
		text-decoration: none;
		line-height: 68px;
	}
	
	
	/* how-work */
	.how-work {
		background: #fff;
		height: auto;
		margin-top: 0;
		padding: 0 0 20px 0;
	}

	.how-work h1 { 
		font-size: 40px; 
		padding: 38px 0 30px 0;
	}

	.how-work p {
		padding: 0 20px 40px 20px;
		line-height: 30px;
		font-size: 20px;
	}

	.how-work .pull-right,.how-work .pull-left {
		text-align: center;
		float: none;
		padding: 0;
		width: auto;
	} 

	.how-work .item {
		padding: 0 5px 0 0;
	}
	
	/* order */
	.order {
		background: #050505 url(mobile/order.jpg) no-repeat center 0;
		height: 382px;
		padding: 0;
	}
	
	.order .content {
		position: relative;
	}

	.order .pull-left {
		width: auto;
		float: none;
		padding: 0px 30px 0 80px; 
		font-size: 20px;
		position: absolute;
		width: 545px;
		top: 180px;
	}

	.order .pull-left div {
		float: right;
		text-align: right;
	}

	.order .pull-right {
		padding: 0;
		float: none; 
        margin: 0;
	}

	.order .pull-right h1 {
		padding: 35px 0 25px 0;
		font-size: 40px;
		font-weight: 700;
	}

	.order .pull-right .phone { 
		font-size: 20px;
		padding: 0 0 10px 0;
	}
	
	.button.big {
		background: url(mobile/button-buy.png) no-repeat 0 0;
		width: 540px;
		margin: 170px auto 0 auto;
	}
	
	
	/* how-work2 */
	.how-work2 h1 {
		font-size: 40px;
	}

	.how-work2 p {
		background: url(img/img9.jpg) no-repeat center 0;
		margin: 0;
		padding: 100px 10px 0 10px;
		min-height: 1px;
		line-height: 30px;
		font-size: 20px;
	}

	.how-work2 p span {
		background: url(img/img10.jpg) no-repeat 0 center; 
		padding: 0 0 0 345px; 
		margin: 15px 0;
	}
	
	/* certificates */
	.certificates {
		padding: 105px 0 40px 0;
		position: relative;
	}

	.certificates .pull-left {
		margin: 0;
		text-align: center;
		float: none;
	}

	.certificates .pull-left img { 
		width: 260px; 
	}

	.certificates .pull-right {
		float: none;
		width: auto;
	}

	.certificates .pull-right h1 {
		position: absolute;
		top: 30px;
		width: 100%;
		text-align: center;
		font-size: 40px;
		
	}

	.certificates .pull-right p {
		line-height: 30px;
		font-size: 20px;
		padding: 20px 20px 0 20px;
		
	}
	
	/* reviews */
	.video-reviews {
		background: #545562;
	}
	
	.video-reviews .content {
		background: none;
		height: auto;
		padding: 0; 
		width: 645px;
	}

	.video-reviews h1 { 
		font-size: 40px;
	}
	
	.video-reviews .item.visible {
		display: block;
	}

	.video-reviews .item {
		display: none;
		width: auto;
		margin: 0 15px 0 15px;
		float: none;
	}

	.video-reviews .item iframe {
		height: 380px;
	}

	.video-reviews .item>div {
		margin: 5px 0 0 0;
		background: #fff;
		padding: 25px;
	}
	
	.video-reviews .item>div .pull-right {
		font-size: 20px;
		line-height: 30px;
	}
	
	.video-reviews .item>div .pull-right h2 {
		font-size: 24px;
	}
	
	ul.tabs li {
		height: 20px;
		width: 20px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		background: #3a3b42;
		display: inline-block;
		vertical-align: top;
		margin: 0 4px;
		cursor: pointer;
	}
	
	ul.tabs li.current {
		background: #0d9be7;
	}
	
	ul.tabs {
		padding: 30px 0;
		text-align: center;
	}
	
	
	/* how-use */
	.how-use { 
		margin-top: 0; 
	}

	.how-use .content {
		width: 545px;
		padding: 0 50px;
	}

	.how-use h1 {
		font-size: 40px;
	}

	.how-use .item { 
		width: auto;
		float: none;
		text-align: left;
		overflow: hidden;
		padding: 0 0 30px 0;
	}

	.how-use .item img {
		float: left;
		vertical-align: bottom;
	}

	.how-use .item.right img {
		float: right;
	}

	.how-use .item p {
		padding: 25px 0 0 0;
		margin: 0 0 0 170px;
		font-size: 24px;
		line-height: 30px;
	}

	.how-use .item.right p {
		margin: 0 170px 0 15px;
	}

	.how-use .item span { 
		background: url(mobile/arrow.png) no-repeat 0 0;
		height: 23px;
		width: 65px; 
		bottom: 0;
		right: 50%;
		margin: 0 -30px 0 0;
	}
	
	/* questions */
	.questions {
		margin-top: 0;
	}

	.questions h1 { 
		font-size: 40px; 
	}

	.questions .item {
		padding: 0;
	}

	.questions .item div { 
		font-size: 24px;
		line-height: 30px; 
		padding: 10px 10px 10px 75px;
	}

	.questions .item p {
		padding: 30px 15px 30px 45px;
		font-size: 20px;
		line-height: 30px;
	}
	
	
	/* reviews */
	.reviews {
		width: auto;
	}

	.reviews h1 { 
		font-size: 40px; 
	}

	.reviews .add-review {
		background: #f5f5f5;
		padding: 0 20px 34px 20px;
		width: 605px;
		margin: 0 auto;
	}

	.reviews .add-review input[type="text"] { 
		width: 565px;
		height: 48px;
		margin: 0 0 6px 0;
		float: none;
	}

	.reviews .add-review button { 
		font-weight: 700;
		font-size: 24px; 
		width: 275px;
		height: 45px; 
		cursor: pointer;
	} 
	 
	.reviews .item {
		background: #fff;
		padding: 0;
	}

	.reviews .item.last {
		padding-bottom: 15px;
	}

	.reviews .item>div {
		width: 595px;
		margin: 0 auto;
		padding: 25px 25px 30px 25px;
	}

	.reviews .item.last>div {
		border-bottom: 1px solid #e1e1e1;
	} 
	
	.reviews .item>div .pull-right {
		font-size: 20px;
		line-height: 30px;
		margin: 0 0 0 90px;
	}
	.reviews .item>div .pull-right h2 {
		font-size: 24px;
	} 
	
	/* social */
	.social {
		background: #ffffff;
		text-align: center;
		padding: 0 0 1px 0;
	}

	.social h1 { 
		font-size: 40px;
	}

	.social>div div {
		width: 600px;
		display: block; 
		padding: 0;
		margin: 0 auto 60px auto;
	}

	/* footer */
	.footer {
		background: none;
		height: auto;
		color: #fff;
	}

	.footer .top {
		background: #448fbf;
		height: auto;
		padding: 0 0 50px 0;
	}

	.footer .top .pull-left {
		margin: 0;
		width: auto;
		float: none;
		text-align: center;
	}

	.footer .top .pull-left .phone {
		font-size: 20px;
		padding: 45px 0 0 0;
	}

	.footer .top .pull-left .phone div {
		background: url(mobile/icon1.png) no-repeat 0 center;
		font-size: 40px; 
		padding: 0 0 0 42px;
	}

	.footer .top .pull-left h3 {
		display: none;
	}

	.footer .top .pull-left h1 {
		font-size: 40px; 
		line-height: 1;
		padding: 40px 0 40px 0;
	}
	.footer .top .pull-left h1 span {
		font-size: 60px; 
	}

	.footer .top .pull-left .price-old {
		padding: 0 15px;
		font-size: 20px; 
	}

	.footer .top .pull-left .price-old del { 
		font-size: 60px; 
	}

	.footer .top .pull-left .price-new {
		padding: 0 15px; 
		font-size: 20px; 
	}

	.footer .top .pull-left .price-new div {
		font-size: 60px;
		text-align: center;
		color: #e8d60d;
		font-weight: 700;
	}

	.footer .top .pull-left form {
		padding: 25px 0 0 0;
	}


	.footer .top .pull-right {
		display: none;
	}

	.footer .bottom {
		background: #282828;
		padding: 30px 0 30px 0;
		text-align: center;
		color: #878a8b;
		font-size: 24px;
	}

	.footer .bottom a {
		color: #878a8b;
		text-decoration: none;
	}

	.footer .bottom a:hover {
		text-decoration: underline;
	}
}