/**
 * Owl Carousel v2.1.6
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  display: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../images/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cd__tiles {
  position: relative;
  z-index: 1;
  text-align: center;
}

.cd__tile {
  margin: 0 15px 0 0;
  display: inline-block;
}

.cd__tile:last-child {
  margin: 0;
}

.cd__time {
  width: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(bottom, #b13352 50%, #a12d4a 50%);
  background-image: linear-gradient(0deg, #b13352 50%, #a12d4a 50%);
  border-radius: 3px;
  box-shadow: 0 2px 0 #902741;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin: 0 3px;
  padding: 6px 0;
  display: inline-block;
  position: relative;
}

.header__timer {
  margin: 10px 0 0 35px;
}

.header__timer .cd__time {
  width: 26px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(bottom, #ff9000, #ffe400);
  background-image: linear-gradient(0deg, #ff9000, #ffe400);
  border-radius: 3px;
  box-shadow: 0 2px 0 #d86f02;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  margin: 0 2px;
  padding: 6px 0;
  display: inline-block;
  position: relative;
}

.cd__time-number {
  position: relative;
  z-index: 1;
}

.header__timer .cd__time::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #ffc936;
  border-top: 1px solid #ebae00;
  display: block;
  position: absolute;
  top: 46%;
  left: 0;
  z-index: 0;
}

.cd__label {
  padding-top: 10px;
  font-size: 14px;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

/*
Responsive 996px grid system ~ Base CSS.

Uses the HTML5 Boilerplate by Paul Irish with a few tweaks
html5boilerplate.com

*/
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
button,
html,
input,
select,
textarea {
  color: #424242;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ccc;
  text-shadow: none;
}

::selection {
  background: #ccc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: '';
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/*
 * Clear after each row
 */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
Responsive 990x640x360 grid system

Copyright 2016, Oleg Vdovenko

12 Columns | Gutter - 10px | Margin - 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

*/
/* =============================================================================
   Base 960px Grid
   ========================================================================== */
body {
  min-width: 960px;
}

/* Container */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
  width: 960px;
}

section {
  min-width: 960px;
}

/* Global */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline-block;
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11 {
  position: relative;
}

/* Children (Alpha ~ First, Omega ~ Last) */
.col-first {
  margin-left: 0;
}

.col-last {
  margin-right: 0;
}

/* Base Grid */
.container .col-1 {
  width: 60px;
  min-width: 60px;
}

.container .col-2 {
  width: 140px;
  min-width: 140px;
}

.container .col-3 {
  width: 220px;
  min-width: 220px;
}

.container .col-4 {
  width: 306px;
  min-width: 306px;
}

.container .col-5 {
  width: 380px;
  min-width: 380px;
}

.container .col-6 {
  width: 460px;
  min-width: 460px;
}

.container .col-7 {
  width: 540px;
  min-width: 540px;
}

.container .col-8 {
  width: 620px;
  min-width: 620px;
}

.container .col-9 {
  width: 700px;
  min-width: 700px;
}

.container .col-10 {
  width: 780px;
  min-width: 780px;
}

.container .col-11 {
  width: 860px;
  min-width: 860px;
}

.container .col-12 {
  width: 940px;
  min-width: 940px;
}

/* Push Space */
.container .push-1 {
  left: 80px;
}

.container .push-2 {
  left: 160px;
}

.container .push-3 {
  left: 240px;
}

.container .push-4 {
  left: 320px;
}

.container .push-5 {
  left: 400px;
}

.container .push-6 {
  left: 480px;
}

.container .push-7 {
  left: 560px;
}

.container .push-8 {
  left: 640px;
}

.container .push-9 {
  left: 720px;
}

.container .push-10 {
  left: 800px;
}

.container .push-11 {
  left: 880px;
}

/* Pull Space */
.container .pull-1 {
  left: -80px;
}

.container .pull-2 {
  left: -160px;
}

.container .pull-3 {
  left: -240px;
}

.container .pull-4 {
  left: -320px;
}

.container .pull-5 {
  left: -400px;
}

.container .pull-6 {
  left: -480px;
}

.container .pull-7 {
  left: -560px;
}

.container .pull-8 {
  left: -640px;
}

.container .pull-9 {
  left: -720px;
}

.container .pull-10 {
  left: -800px;
}

.container .pull-11 {
  left: -880px;
}

/* Images & Other Objects */
img, object, embed {
  max-width: 100%;
}

img {
  height: auto;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.header {
  background: url(../images/bg-header.jpg) top center no-repeat;
  height: 738px;
  min-width: 960px;
}

.header__promo {
  height: 97px;
  line-height: 97px;
  color: #fff;
}

.header__logo {
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  padding: 0 0 0 25px;
}

.header__menu {
  display: inline-block;
  margin: 0;
  float: right;
}

.menu__item {
  display: inline-block;
  list-style: none;
  height: 97px;
  line-height: 97px;
  margin: 0 35px 0 0;
  font-size: 14px;
  font-weight: 600;
}

.menu__item:last-child {
  margin: 0 10px 0 0;
}

.menu__item > a {
  color: #a6a6a6;
  text-decoration: none;
}

.menu__item:hover > a {
  text-decoration: underline;
  color: #fff;
}

.header__block {
  text-align: center;
  color: #fff;
  width: 400px;
  display: inline-block;
}

.price--old {
  font-size: 34px;
  display: inline-block;
  text-decoration: line-through;
  text-align: left;
}

.price--new {
  color: #ffc000;
  font-weight: bold;
  font-size: 34px;
  display: inline-block;
  padding: 0 0 0 80px;
  text-align: right;
}

.button {
  background: url(../images/button-buy.png) top center no-repeat;
  width: 290px;
  height: 76px;
  display: block;
  -webkit-transition: .5s all;
  transition: .5s all;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.button:hover {
  opacity: .8;
}

.button--header {
  margin: 60px auto 0;
}

.header__block {
  display: inline-block;
  padding: 0 0 0 62px;
  width: 400px;
}

.header__other {
  display: inline-block;
  width: 493px;
}

.product-photo {
  text-align: center;
  padding: 0 0 0 100px;
}

.product-photo > img {
  max-height: 425px;
}

.header__prices {
  padding: 53px 0 0;
}

.discount--title {
  background: url(../images/bg-watches-count.png) top center no-repeat;
  width: 281px;
  height: 61px;
  margin: -50px 0 0 0;
  position: relative;
}

.discount--title > span {
  line-height: 61px;
  display: inline-block;
  padding-top: 15px;
  color: #fff;
}

.discount--header {
  font-size: 40px;
  color: #ffc000;
  margin: 7px 0 0 98px;
  position: absolute;
}

.header__triggers {
  margin: 110px 0 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #a6a6a6;
}

.header__icon {
  text-align: center;
  width: 200px;
  display: inline-block;
}

.header__icon--1 {
  padding-left: 73px;
}

.header__icon--2 {
  padding-left: 100px;
}

.header__icon--3 {
  padding-left: 100px;
}

.heading--header {
  font-weight: bold;
  font-size: 66px;
  margin: 0;
}

.headline {
  font-size: 28px;
  opacity: .7;
  background: url(../images/bg-headline.png) top center no-repeat;
  width: 287px;
  height: 54px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 5px;
  margin: 0 auto;
}

.headline--header {
  margin: 50px auto 0;
}

.subtitle {
  font-weight: normal;
  font-size: 28px;
  margin: 0;
  opacity: .7;
}

.specs {
  margin-bottom: 80px;
}

.hr--watch {
  border-top: none;
  background: url(../images/hr.png) top center no-repeat;
  width: 617px;
  height: 29px;
  margin: 20px auto;
}

.hr--specs {
  margin: 10px auto 50px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin: 60px 0 0;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 5px 0 0;
}

.specs-list__title {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  width: 230px;
  padding: 1px 15px;
  line-height: 35px;
}

.specs-list__param {
  width: 230px;
}

tr:nth-child(odd) {
  border-left: 4px solid #ffc000;
  background: #f7f7f7;
}

.product-gallery {
  width: 355px !important;
  float: left;
}

.product-gallery__item {
  text-align: center;
  position: relative;
  display: block;
}

.product-gallery__item > img {
  max-height: 340px;
}

.product-gallery__image-nav {
  text-align: center;
  display: inline-block;
}

.image-nav__item {
  border: 1px solid #f7f7f7;
  position: relative;
  opacity: .3;
  margin: 0 0 26px 0;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.image-nav__item:focus,
.image-nav__item:hover {
  opacity: 1;
}

.image-nav__link > img {
  max-width: 100px;
  max-height: 65px;
}

.benefits {
  background: url(../images/bg-benefits.jpg) top center no-repeat;
  height: 1050px;
  color: #fff;
  position: relative;
}

.benefits > .container {
  padding: 40px 0 0 0;
}

.heading--benefits {
  font-size: 66px;
  margin: 0 auto;
}

.subtitle--benefits {
  text-align: center;
  text-transform: uppercase;
}

.benefits__triggers {
  padding: 60px 0 0;
}

.triggers__icons {
  padding: 0 0 0 25px;
  float: left;
}

.triggers__descr {
  float: left;
  width: 280px;
  padding: 0 0 0 25px;
}

.trigger {
  margin: 0 0 70px;
}

.trigger__descr {
  color: #b2b2b2;
}

.trigger__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.benefits__description {
  padding: 60px 0 0;
}

.description__title {
  margin: 0 0 50px;
}

.description__text {
  line-height: 1.5;
}

.button--henefits {
  margin: 16px auto 0 auto;
}

.button--henefits:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
  opacity: 1;
}

.reasons {
  background: url(../images/bg-reasons.jpg) bottom center no-repeat;
  margin: 120px 0 0;
}

.reasons__item {
  position: relative;
  height: 230px;
  padding-bottom: 60px;
}

.reasons__img {
  width: 421px;
  display: inline-block;
  float: left;
}

.reasons__desc {
  padding: 0 0 0 50px;
  display: inline-block;
  width: 400px;
}

.descr__title {
  font-size: 24px;
  font-weight: bold;
}

.reviews {
    background: url(../images/bg-reviews.jpg) top center no-repeat;
    height: auto;
    background-size: cover;
    padding-bottom: 80px;
}

.reviews-container {
  width: 300px;
  margin: 0 0 0 75px;
}

.heading--reviews {
  color: #fff;
  margin: 5px 0 0;
}

.headline--reviews {
  background: none;
  text-align: center;
  color: #fff;
  padding: 40px 0 0;
  border-bottom: 2px solid;
}

.slider-reviews {
  margin-top: 50px;
}

.review__photo {
  text-align: center;
}

.review__photo > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.review__name {
  text-align: center;
  font-weight: bold;
  margin: 50px 0 25px;
  color: #ffc000;
  text-transform: uppercase;
}

.review__text {
  color: #fff;
  text-align: justify;
  width: 290px;
  margin: 0 auto;
}

.reviews-slider__arrows {
  width: 70%;
  margin: 0 auto;
}

.arrow--left-w {
  position: absolute;
  opacity: 0.5;
  left: -40px;
  cursor: pointer;
  top: 40%;
  width: 31px;
  height: 31px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../images/arrow-left-w.png") 50% 50% no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
 
    border-radius: 50px;
}

.arrow--right-w {
  position: absolute;
  right: -40px;
  top: 40%;
  opacity: 0.5;
  cursor: pointer;
  width: 31px;
  height: 31px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../images/arrow-right-w.png") 50% 50% no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
   
    border-radius: 50px;
}

.arrow--left-w:hover,
.arrow--right-w:hover {
  opacity: 1;
}

.strigger {
  padding: 0 0 90px;
}

.strigger__descr {
  display: inline-block;
  width: 270px;
  padding: 0 0 0 35px;
}

.strigger::after {
  content: '';
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.strigger__title {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.strigger__icon {
  line-height: 150px;
  float: left;
}

.steps__small-triggers {
  text-align: center;
}

.st-descr {
  padding: 30px 0 0;
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.buy {
  background: url("../images/bg-buy.jpg") top center no-repeat;
  height: 642px;
  color: #fff;
}

.form__submit {
  border: none;
  outline: none;
  text-indent: 150%;
  white-space: nowrap;
  background: url("../images/button-submit.png") top center no-repeat;
  width: 253px;
  height: 64px;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 0;
}

.buy-container {
  width: 322px;
  padding: 100px 0 0 97px;
  display: inline-block;
}

.buy-container__inner {
  padding: 0 35px;
}

.buy-other {
  display: inline-block;
  width: 490px;
  float: right;
  margin: 30px 0 0 30px;
}

.buy-product-photo {
  text-align: center;
  padding: 30px 0 0 100px;
}

.buy-product-photo > img {
  max-height: 425px;
}

.buy-discount-title {
  background: url(../images/bg-watches-count.png) top center no-repeat;
  width: 281px;
  height: 61px;
  margin: -50px 0 0 0;
  position: relative;
}

.buy-discount-title > span {
  line-height: 61px;
  display: inline-block;
  padding-top: 15px;
  color: #fff;
}

.discount--buy {
  font-size: 40px;
  color: #ffc000;
  margin: 40px 0 0 83px;
  position: absolute;
}

.countdown {
  text-align: center;
}

.form__input {
  width: 232px;
  border-radius: 5px;
  line-height: 45px;
  border: none;
  height: 45px;
  outline: none;
  padding: 0 0 0 20px;
  margin: 20px 0 0;
}

.countdown-descr {
  padding: 0 0 10px;
}

.form__price {
  width: 220px;
  margin: 10px auto 0;
}

.form__price > .price--old {
  font-size: 24px;
  width: 48%;
  text-align: left;
}

.form__price > .price--new {
  font-size: 24px;
  width: 48%;
  text-align: right;
  padding: 0;
}

.footer {
  margin: 100px 0 0;
  text-align: center;
  opacity: .6;
}

.footer__privacy > a {
  color: #fff;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */