.thumbnail .caption h3{overflow:hidden}

body {
	background-image: none;
	background-color: #000000;
}

header.header-bg {
	background-image: none;
	background-color: #000000;
	border-bottom-color: #000000;
}

#content h3 a {
	text-shadow: none;
	color: #000000;
}

#pm-related ul.pm-ul-sidelist-videos li h3 a {
	color: #000000;
}

#pm-related ul.pm-ul-sidelist-videos li h3 a:visited {
	color: #000000;
}

#content h5.media-heading a {
	text-shadow: none;
	color: #000000;
}

.header-logo > h3 > a {
	text-shadow: none;
	color: #e51b1b;
}