.rewrite-cinema-img a img {
	width: 100%;
	height: auto;
	max-width: 300px;
}

.pagination li a,.pagination li a:hover {
	color: #333;
}
.pagination .active a, .pagination .active a:hover {
	background-color: #aaa;
	border-color: #aaa;
}

.bottom-space {
	margin-bottom: 20px;
}