.rewrite-cinema-img img {
	width: 100%;
	height: auto;
	max-width: 300px;
}

@media (max-width: 767px) {
	.rewrite-cinema-img img {
		width: 70px;
	}
}

.pagination li a,.pagination li a:hover {
	color: #333;
}
.pagination .active a, .pagination .active a:hover {
	background-color: #aaa;
	border-color: #aaa;
}

.bottom-space {
	margin-bottom: 20px;
}
.notEnoughBalance, .notEnoughBalance a {
	color: #ccc;
}

body {
	background-image: url('/types/cinema/template/admin/rewrite/images/leaves-pattern.png');
}

.fast-rework-comment {
	border-bottom: 1px dashed #000;
	cursor: pointer;
	/*display: inline-block;*/
}

.navbar-nav {
	font-weight: 300;
	font-size: 0.95rem;
}