
.oneClickInput select{

    width: 100%;
    height: 35px;
    margin: 5px;

}

#cartRow2 input {
     border: medium none;
    /* width: 200px; */
    height: 30px;
    border-radius: 10px;
    border: 1px solid #999999;
    box-shadow: 1px 1px 5px #D1CFCF inset;
}


.citySelector{
    float: left;
    margin-left: 82%;
    position: relative;
    z-index: 1;
}
.citySelector ul.token-input-list-facebook{
    width:150px;
}
.citySelector div.token-input-dropdown-facebook{
    width:250px;
}


.delivery_notice{
    padding-left: 15px; padding-right: 5px; border-right-width: 10px; text-align: center;
    padding-bottom:3px;
    float:none;
    width: 140px;
    position:relative;
    display:block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.free_delivery_notice{
    background-color: red;
    color: white;
}
.fast_delivery_via_qnits_notice{
    font-size: 1.1em;
    border-radius: 5px;
    background-color: #EAF5E9;
    color: #096;
}
.no_fast_delivery_via_qnits_notice{
    font-size: 1.1em;
    border-radius: 5px;
    background-color: #EAEAF5;
    color: #069;
}


/* артикул товара в магазине */

#callback_tool{
    background-color: #1D72B5;
    border: 1px solid;
    border-color: white;
    padding: 5px;
    color: white;
    position: fixed;
    right: 1px;
    top: 140px;
    cursor: pointer;
    font-size: small;
    z-index: 100;
}
#china_new_year{
    background-color: #1D72B5;
    border: 1px solid;
    border-color: white;
    padding: 5px;
    color: white;
    top: 8px;
    cursor: pointer;
    font-size: small;
    z-index: 100;
    text-align: center;
}

#qproduct_id{
    clear:both;
}

.contacts{
    padding-top: 40px;
}

.contacts #td_1{
    width: 300px; vertical-align: top;
}

.contacts #td_2{
    width: 370px; vertical-align: top; margin-left: 20px; padding-left: 40px; padding-top: 0px;
}

.contacts h2{
    font-size: 20px; margin-top: 0px; margin-bottom: 10px;
}

#feedback_question{
    width: 200px;
}

#feedback_email{
    width: 200px;
}

#feedback_name{
    width: 200px;
}

#feedback_message{
    width: 200px;
}

#feedback_button{
    width: 200px; margin-right: 60px;
}

/*
radio float: left; clear: right; margin-bottom: 0px; border-bottom-width: 10px; margin-top: 0px; margin-right: 5px;
*/



.product_is_not_available{
    background-color: gray;
    color:white;
}
.psevdoLink
{
    border-bottom:1px dotted;
    cursor:pointer;
    position:relative;
    text-decoration:none;
    top:-0.14em;
    color:#1A3DC1;
}

.flashes{
    background: url("../../../js/common_all/jquery_ui/last/css/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png") repeat-x scroll 50% 50% #FBF9EE;
    border: 1px solid #FCEFA1;
    color: #363636;
    font-size: 16px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 20px;
}

.comment_edit{
    cursor:pointer;
}
.comment_delete{
    cursor:pointer;
}
.comment_reply{
    cursor:pointer;
}
#qnits_copyright
{
    float:right;
color:#969696;
font-family:Tahoma;
font-size:12px;
margin-top:12px;
}

#product img{
    padding-right:10px;
    height:16px;
}

#accept_product_comment{
border-bottom-width:0;
border-top-width:0;
margin-bottom:0;
margin-right:180px;
margin-top:-30px;
padding-bottom:0;
padding-top:0;
}

#page_top

{

	font-family: Tahoma;

	padding: 0 0 10px;

	margin-bottom: 16px;

	border-bottom: 1px dotted #BFBFBF;

	overflow: hidden;

	height: 1%;

}

/*русский

РћРїРёСЃР°РЅРёРµ С‚РѕРІР°СЂР°*/

#product_main

{

	overflow: hidden;

	margin-bottom: 28px;

	height: 100%;

}

/*РҐР°СЂР°РєС‚РµСЂРёСЃС‚РёРєРё С‚РѕРІР°СЂР°*/

#product_params

{

	margin-bottom: 28px;

}

#product_params TABLE

{

	border-spacing: 0px;

	border-collapse: collapse;

	/*background-color: #F5F5F5;*/

}

#product_params TABLE TR TD

{

	border: 1px solid #D0D0D0;

	padding: 7px;

}

/*РљР°СЂС‚РёРЅРєРё С‚РѕРІР°СЂР°*/

#product_main_img

{

	float: left;

	width: 330px;

}

/*РЎРїРёСЃРѕРє РґРѕРїРѕР»РЅРёС‚РµР»СЊРЅС‹С… РєР°СЂС‚РёРЅРѕРє*/

#product_main_img UL

{

	margin-top: 4px;

}

#product_main_img UL LI

{

	display: inline;

	padding-right: 8px;

}

#product_main_img UL LI IMG

{

	margin-bottom: 8px;

}

#product_main_img IMG

{

	border: 1px solid #E3E3E3;

	padding: 5px;

}

/*РўРµРєСЃС‚ РѕРїРёСЃР°РЅРёСЏ С‚РѕРІР°СЂР°*/

#product_main_description

{

	float: left;

	width: 370px;

	font-size: 12px;

	font-family: Arial;

}

#product_main_description P

{

	padding-bottom: 12px;

}

#product_main_description UL

{

	list-style: none;

}

/*Р¦РµРЅР° С‚РѕРІР°СЂР°*/

.price

{

	color: black;

	font-size: 18px;

	font-family: Arial;

	margin-top: 5px;

}

#overprice_hint
{
    font-weight:bolder;
    cursor:pointer;
}

/*РљРѕРјРјРµРЅС‚Р°СЂРёРё Рє С‚РѕРІР°СЂСѓ*/

#comments

{

	width: 670px;

	padding: 22px 10px 12px 30px;


	overflow: hidden;

	clear: both;

}

/*РћС‚РґРµР»СЊРЅС‹Р№ РєРѕРјРјРµРЅС‚Р°СЂРёР№*/

.comment_pack

{
    
	font-family: Tahoma;

	padding: 0 0 10px;

	margin: 0 30px 12px 0;

	border-bottom: 1px dotted #BFBFBF;

}

.comment_name

{

	font-size: 18px;

	color: #000;

}

.comment_date

{

	font-size: 11px;

	color: #848484;

	position: relative;

	top: -1px;

	padding-left: 8px;

}

.comment_text

{

	font-size: 12px;
    word-wrap: break-word;

}

/*Р¤РѕСЂРјР° РєРѕРјРјРµРЅС‚Р°СЂРёСЏ*/

.comment_textarea

{

	width: 640px;

	height: 75px;

	margin-bottom: 15px;

}

P.comment_username

{

	float: left;

	display: block;

	width: 430px;

}

P.comment_username INPUT

{

	font-size: 12px;

	width: 135px;

	padding: 1px 2px;

}

.comment_submit

{

	width: 145px !important;

	margin-left: 500px;

	font-size: 18px;

}

/*Р‘Р»РѕРє С‚РѕРІР°СЂР°*/

.product_block

{

	float: left;

	width: 352px;

	overflow: hidden;

	margin-bottom: 16px;

}

/*Р‘Р»РѕРє СЃ РєР°СЂС‚РёРЅРєРѕР№ С‚РѕРІР°СЂР°*/

.product_block_img

{

	float: left;

}

/*РљР°СЂС‚РёРЅРєР° С‚РѕРІР°СЂР°*/

.product_block_img IMG

{

	border: 1px solid #E3E3E3;

	padding: 5px;

}

/*РћРїРёСЃР°РЅРёРµ С‚РѕРІР°СЂР°*/

.product_micro

{

	float: left;

	margin-left: 10px;

	width: 160px;

}

.product_micro_description

{

	font-size: 12px;

	font-family: Tahoma;

	margin-top: 4px;

}

/*РќР°Р·РІР°РЅРёРµ С‚РѕРІР°СЂР°*/

.product_name_link

{

	display: block;

}

/*Р‘Р»РѕРє СЃ РѕРїРёСЃР°РЅРёРµРј РєР°С‚РµРіРѕСЂРёРё*/

#category_top_bar

{

	padding: 15px;

	margin-bottom: 26px;

	border: 1px solid #E3E3E3;

	font-size: 12px;

	font-family: Arial;

}

/*РҐР°СЂР°РєС‚РµСЂРёСЃС‚РёРєРё С‚РѕРІР°СЂР°*/

#category_top_bar TABLE

{

	border-spacing: 0px;

	border-collapse: collapse;

	background-color: #FFFFFF;

}

#category_top_bar TABLE TR TD

{

	border: 1px solid #E0E0E0;

	padding: 5px;

}

#category_top_bar SPAN

{

	padding-left: 5px;

}

/*РџРѕСЃС‚СЂР°РЅРёС‡РЅР°СЏ РЅР°РІРёРіР°С†РёСЏ*/

.next-prev

{

	color: #000000;

	font: 2em/100% Tahoma, sans-serif;

}

.next-prev LI

{

	display: inline;

	padding-right: 0.3em;

}

#pages_navigation

{

	font: 1.2em/100% arial;

	list-style: none outside none;

	padding: 0 1em 2em 0;

}

#pages_navigation LI

{

	float: left;

}

#pages_navigation EM

{

	background: #64B942 none repeat scroll 0 0;

	color: #FFFFFF;

	font-style: normal;

	font-weight: 400;

}

#pages_navigation A, #pages_navigation EM

{

	display: block;

	margin: 0 0.2em 0 0.1em;

	padding: 0.3em 0.4em;

}

#pages_navigation

{

	clear: both;

	padding: 12px 0 24px;

	font-family: Arial;

}

/* cart */

#cart_products

{

	width: 98%;

}



#cart_products TD

{

	border-bottom: 1px dotted #D4D4D4;

	padding: 8px 0;

	margin: 0px;

}


#cart_products .td_1

{

	width: 200px;

}

#cart_products .td_2

{
    padding-left: 20px;
	width: 200px;
    text-align: center;   

}

.cart_amount{
    width:50px;
}

.cart_title{
        color: gray;
    font-size: 16px;
    margin-top:40px;
}

.price_select_container{
    padding-left: 170px;
    margin-bottom:25px;
     border-bottom: 1px dotted #BFBFBF;
    padding-bottom: 15px;
}

.price_select #cod_0
{
    width:185px;
}
.price_select #cod_1
{
    padding-left: 20px;
}

.cod_is_not_available_hint{
     border-bottom: 1px dotted #BFBFBF;margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 15px;
    margin-top:-5px;
}

.cod_is_not_available_hint_sub{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top:10px;
}

.cod_method{
    margin-bottom: 20px;
    float:right;
    clear: right;
}

.cod_method_select{
    float:right;
    clear: right;
}

.cod_method_hint{
    background: url("../../../../img.alibaba.com/wimg/buyer/sprite/we_buyer_detailf6ed.png?v=20110815") no-repeat scroll 0 -1764px transparent;
    color: black;
    display: none;
    line-height: 16px;
    padding-top: 18px;
    float:right;
    clear:right;
    right: 3px;
    text-align: left;
    top: 170px;
    width: 516px;
}

.cod_method_hint div{
    float:left;
    width:100px;
    padding-right: 0px;
    font-size: 12px;
}

.cod_method_hint > .arrow{
    width:24px;
    height: 24px;
    float:left;
    /*background: url("http://www.iconsearch.ru/uploads/icons/webdesigncreative/128x128/right-arrow.png") no-repeat;*/
    background: url("../../../../www.iconsearch.ru/uploads/icons/gnomeicontheme/24x24/stock_draw-line-ends-with-arrow.png") no-repeat;  
    margin-left: 25px; margin-right: 25px;
}

.cod_method_hint span{
    font-size: 11px;
    color:gray;
}

.delivery_method_title{
    margin-right: 40px; margin-top: 5px;
    float:left;
    clear: both;
}

.delivery_method_select{
    margin-bottom: 20px;
    float:left;
}


.delivery_method_price{
    float:right;
    margin-left: 20px; margin-bottom: 30px; margin-top: 5px;
}

.delivery_method_price_forecast{
    color:gray;
}

.services{
    clear:both;
}

.service{
    clear:both;
    padding-top:8px;
}

.services_title{
    float:left;
    clear:both;
}

.service_check{
    margin-top:-3px;
    margin-right: 20px;
    float:left;
    clear:both;
}

.service_title{
    margin-right: 40px;
    float:left;
}

.service_title span{
    float: left;
}

.service_sub_title{
    margin-right: 40px;
    float:left;
    clear:both;
    text-align: left;
    max-width: 500px;
    font-size:10px;
    color:gray;
}

.service_price{
    float:right;
    margin-left: 30px;
}



.total_price{
    margin-top:15px;
    margin-bottom: 20px;
    float:right;
    clear:right;
}

#cart_products .price_select TD
{
    border-bottom: 0px;
    color:black;
}
#cart_products .price_select
{
    width:200px;
}



 

#cart_products .td_3

{

	padding-left: 10px;

	width: 120px;

	vertical-align: middle;

}

#cart_products .td_4

{

	width: 150px;

	text-align: right;

}

.return_from_cart

{

	font-size: 13px;

	float: left;

	text-align: left;

	width: 50%;

}

.total_sum

{

	float: left;

	text-align: right;

	font-weight: bold;

	font-size: 13px;

	width: 33%;

}

.billet_1

{

	border-top: 1px dotted #D4D4D4;

	border-bottom: 1px dotted #D4D4D4;

	background: #F7F7F7;

	padding: 25px 25px 8px;

	margin-bottom: 16px;

	width: 76%;

}

.delivery_select
{
	vertical-align: top;
	padding-top: 4px;
	padding-top: 0px;
}

.delivery_text

{

	padding: 0 0 12px 8px;

}

.delivery_text P

{

	padding-bottom: 10px;

}

.delivery_text H3

{

	font-size: 15px;

	font-weight: normal;

	font-family: Arial;

	padding-bottom: 16px;

}

.order_form TD

{

	font-size: 14px;

	padding: 3px 0 10px;

	width: 130px;

	vertical-align: middle;

}

.order_form INPUT

{

	font-size: 18px;

	padding: 1px 2px;

	width: 250px;

	vertical-align: top;

}

.order_form INPUT.address

{

	padding: 1px 2px;

	width: 495px !important;

	vertical-align: top;

}

.order_form TEXTAREA

{

	width: 499px;

	height: 80px;

	margin: 5px 0 12px;

	vertical-align: top;

}

INPUT#order_button

{

	width: 155px !important;

	font-size: 18px;

}

/*********    Р—Р°РєР°Р·   *********/

DIV.order_products

{

	float: left;

	width: 350px;

	margin-right: 10px;

	position: relative;

	height: 33%;

}

TABLE.order_products

{

	width: 100%;

}

TABLE.order_products TD

{

	font-size: 12px;

	border-bottom: 1px dotted #D4D4D4;

	padding: 8px 0;

	margin: 0px;

}

TABLE.order_products .td_1

{

}

TABLE.order_products .td_2

{

	width: 120px;

	text-align: right;

}

INPUT.payment_button

{

	font-size: 12px;

	width: 200px;

	height: 20px;

}

TABLE.info_box

{

	float: left;
	border: 1px dotted #D4D4D4;
	background-color: #F9F9F9;
	padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 333px;
}

.prepayment_hint{
    font-size: 15px;
    margin-bottom: 20px;
}

TABLE.info_box TD

{

	font-size: 14px;

	padding: 5px;

	margin: 0px;

}

.total_sum1

{

	float: left;

	text-align: left;

	font-weight: bold;

	font-size: 13px;

	width: 50%;

}

.total_sum2

{

	float: left;

	text-align: right;

	font-weight: bold;

	font-size: 13px;

	width: 50%;

}


.billet_3

{

	border-top: 1px dotted #D4D4D4;

	border-bottom: 1px dotted #D4D4D4;

	background: #F7F7F7;

	padding: 8px 25px; 

	margin-bottom: 16px;

	width: 92%;

}

.input3

{

	float: left;

}

#right

{

	position: relative;

}

.buy_button{
    cursor:pointer;
}
/* фикс бага в fasion_1 */
.logo{
    position: absolute; 
}
#logo-bg 
{
    z-index:99999;
     }

.order_page{
    float: left;
    width:100%;
}
.order_status_description_for_customer{
    font-size: 18px;
}

/* comment_order */
.comment_order{
    margin-left: 20px;
    float: left;
    border-top: 1px dotted #BFBFBF; margin-top: 40px;
}
.comment_order #intro
{margin-top: 20px; margin-bottom: 20px; margin-left: 0px;
}
 
.comment_order #main
{display:inline-block;
    margin-top: 10px; margin-bottom: 10px;
    width:430px;
}

.comment_order #title
{
    float: left;
    font-size:17px;
    padding-bottom:10px;
    padding-top:10px;
}
.comment_order #feedback_message
{
    width: 430px; color:#6F6F6F;clear:both;float:left;
}
.comment_order #button
{
    width: 430px; color:#6F6F6F;float:left;padding-top:10px;padding-right:20px;clear:both;
}
.comment_order #button input
{
    float:right;
}

.comment_order #thanks
{
    padding-top:10px;
   font-size:14px;
}




/*
*  CGridView
*/
.grid-view-loading
  {
      background:url(loading.html) no-repeat;
  }

.grid-view table.items th a.asc
{
    background:url('../images/sort_up.html') right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc
{
    background:url('../images/sort_down.html') right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items tr.even
{
    background: #F8F8F8;
}

.grid-view table.items tr.odd
{
    background: #E5F1F4;
}

.grid-view table.items tr.selected
{
    background: rgba(224, 224, 237, 0.16);
}

.grid-view table.items tbody tr:hover
{
    background: #f4fbfb;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
}

.grid-view .button-column img
{
    border: 0;
    width:16px;
    height:16px;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 20px 0 0 0;
    text-align: center;
    height:30px;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
}

.grid-view table {
    width:100%;
    border-bottom:#ccc 1px solid;
    border-collapse:collapse;
    margin:0 !important;
}
.grid-view table.items th a {
    color:#fff !important;
}
.grid-view table.items th a:hover {
    color:#fff !important;
}
.grid-view table.items td a {
    color:#333 !important;
}
.grid-view table.items td a:hover {
    color:#b7131c !important;
}
.grid-view table.items td a.field {
    display:block;
    width:100%;
    height:18px;
}

.grid-view table.items td input, .grid-view table.items td textarea, .grid-view table.items td select {
    margin:2px 0 !important;
    padding:2px 0 !important;
}

.grid-view table.items th {
    padding:5px 4px !important;
    border:#aaa 1px solid;
    color: #000000 !important;
    text-align:left !important;
    background: rgba(255, 255, 255, 0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#505050', endColorstr='#333333'); /* РґР»СЏ IE6-9 */
    font-family:tahoma, arial !important;
    font-size:12px;
}
.grid-view table.items td {
    padding:4px 4px !important;
    background:#fff !important;
    border:#ccc 1px solid;
    background:#fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); /* РґР»СЏ IE6-9 */

    font-family:tahoma, arial !important;
    font-size:12px;
}
.grid-view table.items tr.even td {
    background:#fff !important;
}
.grid-view table.items tr.selected td {
    background: rgba(222, 221, 227, 0.48) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0C798', endColorstr='#F0B56F'); /* РґР»СЏ IE6-9 */
}
.grid-view table a {
    text-decoration:underline;
}

.crossSellAddToCart{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.crossSellAddHeader{
    font-size: 15px;
    display: block;
    padding-bottom: 10px;
}

.crossSellProductHeader{
    overflow: visible;
    height: 80px;
}

.crossSellProductPrice{
    text-align: center;
}

.productPhotos{
    width: 360px;
    float: left;
}

.productControls{
    width: 40%;
    display: inline-block;
}

.clear{
    clear: both;
}

.productMainPhoto{
    width: 350px;
}

.photosList{
    width: 100%;
    padding: 0px;
    display: inline-table;
    margin: -1px;
}

.photosList li{
    list-style-type: none;
    float: left;
    margin: 1px;
}

.photosLink{
    border: 1px solid #E4E4E4;
    padding: 5px;
    width: 73px;
    height: 73px;
    line-height: 68px;
    display: block;
}

.photosLink img{
    max-width:73px;
    max-height:73px;
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.productPrice{
    font-size: 3em;
    font-weight: bold;
}

.priceSign{
    font-size: 2em;
}

#productDescription{
    overflow: auto;
}

.propsList{
    display: block;
}
.propsList li{
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

.propsList li div.propName{
    display: inline-block;
    width: 24em;
    overflow: visible;
    background: url(../../../images/common_all/dotted-line-dot.gif) 0 100% repeat-x;
}

.propsList li div.propValue{
    display: inline-block;
}

.warrantyLogo{
    float: right;
}

.warrantyLogo div{
    width: 6em;
    height: 6em;
    background: url("../../../images/common_shop/warranty/1year.png") no-repeat scroll center top transparent;
    background-size: 100%;
}


.shop_product_video{
    position:relative;
    margin: 0px auto 10px ;
    text-align: center;
}