/* ::::: http://luxurynardin.ru/index_files/main.css ::::: */

html, body, div, span, object, iframe, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0px; padding: 0px; vertical-align: baseline; }
body { padding: 0px; font-family: "Roboto"; }
.wrapper { width: 1000px; margin: 0px auto; }
.u1 { font-family: "Roboto"; font-weight: 300; font-size: 22px; color: rgb(210, 153, 89); margin: 7px; }
.u67 { color: rgb(214, 213, 213); }
#note { color: rgb(255, 255, 255); font-size: 18px; font-family: "Roboto"; font-weight: 200; margin: 0px auto; padding: 4px; text-align: center; width: 400px; }
.hidden { opacity: 0; }
/* ::::: http://luxurynardin.ru/index_files/get_form_style.css ::::: */

/* ::::: http://luxurynardin.ru/index_files/jquery.css ::::: */

.countdownHolder { width: 450px; margin: 0px auto; font: 40px/1.5 "Open Sans Condensed",sans-serif; text-align: center; letter-spacing: -3px; }
.position { display: inline-block; height: 1.6em; overflow: hidden; position: relative; width: 1.05em; }
.digit { position: absolute; display: block; width: 1em; background-color: rgb(209, 209, 209); border-radius: 0.2em; text-align: center; color: rgb(0, 0, 0); letter-spacing: -1px; }
.digit.static { box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.35); background-image: -moz-linear-gradient(center bottom , rgb(230, 230, 230) 50%, rgb(209, 209, 209) 50%); }
.countDays {  }
.countDiv0 {  }
.countHours {  }
.countDiv1 {  }
.countMinutes {  }
.countDiv2 {  }
.countSeconds {  }
.countDiv { display: inline-block; width: 16px; height: 1.6em; position: relative; }
.countDiv:before, .countDiv:after { position: absolute; width: 5px; height: 5px; background-color: rgb(232, 232, 232); border-radius: 50%; left: 50%; margin-left: -3px; top: 0.5em; box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5); content: ""; }
.countDiv:after { top: 0.9em; }
/* ::::: http://luxurynardin.ru/index_files/css_003.css ::::: */

@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('../fonts/_aijtyevf54tkvdly-dlnd8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('../fonts/_xyn3apat_yrrdeqb3sprg.woff') format("woff");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('../fonts/osj2djdpjqfrvusto6iffd8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('../fonts/0ihfxul2emph0rojezvrad8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
/* ::::: http://luxurynardin.ru/index_files/css.css ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local("Roboto Thin"), local("Roboto-Thin"), url('../fonts/g1l_kmkj5pga7zkths0itfeszw2xoq-xsnqo47m55da.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/fl4y0qdoxyythegmxx8kct8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('../fonts/y5yuujgdltmyv2_3fmb4fa.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/ohi30kwqwvpcwqahzhccsd8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/isz-wbcxnkabnjo6_twhtj8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
/* ::::: http://luxurynardin.ru/index_files/css_002.css ::::: */

@font-face {
	font-family: "Bad Script";
	font-style: normal;
	font-weight: 400;
	src: local("Bad Script Regular"), local("BadScript-Regular"), url('../fonts/xvnrv3h3fzsc-fsw6fojebsxeywm7fgeyasgu71clg0.woff') format("woff");
}
div.copy { font-size: 13px; }
div.info { padding-bottom: 5px; }
div.info a, div.copy a { font-size: 13px; color: rgb(255, 255, 255); }
