/* 
© 2014 by Andrew Vakarchuk
Google Me as mr.vakarchuk 
*/
@font-face {
font-family: 'BebasNeueRegular';
src: url('fonts/BebasNeue-Regular.eot');
src: url('fonts/BebasNeue-Regulard41d.eot@#iefix') format('embedded-opentype'), 
url('fonts/BebasNeue-Regular.ttf') format('truetype'),
url('fonts/BebasNeue-Regular.svg#BebasNeueRegular') format('svg');
font-weight: normal;}
@font-face {
font-family: 'BebasNeueRegular';  
url('fonts/BebasNeue-Bold.ttf') format('truetype'),
url('fonts/BebasNeue-Bold.svg#BebasNeueRegular') format('svg');
font-weight: bold;}
* {margin:0px; padding:0px;}
body {}
img {border: 0;}
ul {list-style-type: none;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
h2 {
font: 63px "BebasNeueRegular";	
color: #FB1532;}
h3 {
font: bold 40px "BebasNeueRegular";	
color: #000;}
h3 span{color: #FB1532}
h4 {font: 96px "BebasNeueRegular";}
/*--*/
.wraper {
width: 1000px;
margin-left: auto;
margin-right: auto;	
}
.wraper101 {
width: 820px;
margin-left: auto;
margin-right: auto;	
}
.wraper2 {
width: 1100px;
margin-left: auto;
margin-right: auto;	
}
.clear {
clear: both;	
overflow: hidden;
height: 25px;}
/* Чердак */
#header {
display: block;
height: 310px;
width: 100%;
min-width: 1000px;
background: black;	
margin-bottom: 25px;}
#header .wraper{
height: 310px;
background: url(img/header.jpg) no-repeat right center;}
.tissot {
width: 570px;
height: 130px;
background: url(img/tissot.png) no-repeat;}
.logo {
display: block;
position: relative;
top: 50px;
margin-left: -55px;
width: 490px;
height: 147px;
background: url(img/logo.jpg) no-repeat;
text-indent: -9999px;}
.logo:hover, .tabNavigation li a:hover, .send:hover{opacity: .9;}
.txt:hover, .txt:focus {border-color: #568dac;}
#head {
overflow: auto;
min-width: 1000px;
margin-bottom: 25px;}
.slider {
float: left;
width: 50%;	
text-align: center;
color: #000;
font: 19px Arial;}
.slider p{
font: 50px "BebasNeueRegular";		
margin-bottom: 25px;
margin-top: 10px;}
.slider span{
clear: both;
display: block;
padding: 25px 0 15px 0;}
/*--*/ 
.tabNavigation {margin-left: 200px;}
.tabNavigation li a { 
display: block;
float: left;
width: 27px;
height: 27px; 
border-radius: 50%;
margin: 0 10px;} 
.tabNavigation .bla a {background: #d1a28e; border: 1px solid #ccc}
.tabNavigation .red a {background: #adadad; border: 1px solid #ccc}

.tabNavigation .bla a.selected,
.tabNavigation .red a.selected {width: 21px; height: 21px}
.tabNavigation li a.selected, 
.tabNavigation li a.selected:hover {border: 3px solid #777}  
.tabNavigation li a:focus {outline: 0} 
/*--*/
.form {
float: right;
width: 40%;}
.left {float: left;margin-left: 10px;}
.right {float: right;color: #FB1532;}
.left, .right {font: 61px "BebasNeueRegular";}
.price {
display: block;
float: left;	
margin-right: 10px;}
.rub {
display: block;
float: left;
font: bold 20px "BebasNeueRegular";		
line-height: 70px;}
.sss {text-decoration: line-through}
.howmuch {
color: #FB1532;
font: 28px "BebasNeueRegular";	
text-align: center;
margin: 20px 0;}
/* /Чердак */

/* Content */
#what {
background: #fff;
color: #000;
overflow: auto;
width: 100%;
padding: 20px 0;}
#what ul {float: left;}
#what ul li{
background: url(img/bullet.png) no-repeat left center;
padding-left: 26px;
font: 17px Arial;
margin-bottom: 5px;}
#present {
overflow: auto;
width: 100%;
padding: 25px 0;
background: url(img/gradient.png) repeat-x;	
color: #fff;
font: 17px Arial;}

#present101{
overflow: auto;
width: 100%;
padding: 25px 0;
background: #000000;	
color: #fff;
font: 17px Arial;}
#present2 {
overflow: auto;
width: 100%;
padding: 25px 0;
background: white;	
color: #fff;
font: 17px Arial;}
#present .video {
float: right;
padding-top:10px;
margin-left: 20px;	
border: 0px solid #fff;}
#present .video2 {
float: center;
padding-top:10px;
margin-left: 80px;	
border: 0px solid #fff;}
#what img {
float: left;
margin-right: 60px;}
#present p strong{
display: block;
margin-bottom: 25px;
font: 45px "BebasNeueRegular";}
#present ul {
float: left;
margin-top: 25px;}
#present ul li{
background: url(img/bullet-arrow.png) no-repeat left center;
padding: 5px 0 5px 35px;}
.play {
clear: both;	
width: 505px;
text-align: center;
font-size: 16px;
color: #a3bed3;}
#photo {
position: relative;
width: 100%;
height: 460px;
background: url(img/photo.png) no-repeat 50% 50%;	
margin-bottom: 25px;}
#photo p{
padding: 25px;
color: #fff;	
font: 17px Arial;}
#photo p strong{font-weight: 900}
.fortyfive {font-size: 26px; }
#photo ul{
position: absolute;
bottom: 50px;	}
#photo ul li{
display: block;
width: 200px;
float: left;
padding-top: 150px;	
margin: 0 25px;
color: #fff;
font: 17px Arial;
text-align: center;}
#photo ul .delivery{background: url(img/delivery.png) no-repeat top center;}
#photo ul .clients{background: url(img/clients.png) no-repeat top center;}
#photo ul .time{background: url(img/time.png) no-repeat top center;}
#photo ul .guaranty{background: url(img/guaranty.png) no-repeat top center;}
#why {overflow: auto}
#why h3 {text-align: center}
#why ul {
margin-top: 25px;
padding: 0 25px;}
#why ul li{
float: left;
width: 33%;
padding-top: 115px;
font: 17px Arial;
text-align: center;
color: #000;}
#why ul li strong{
display: block;
color: #FB1532;}
#why ul li.pochta{background: url(img/pochta.png) no-repeat top center;}
#why ul li.rus{background: url(img/rus.png) no-repeat top center;}
#why ul li.clocks{background: url(img/clocks.jpg) no-repeat top center;}
#why ul li.good{background: url(img/box.png) no-repeat top center;}
#why ul li.fast{background: url(img/fast.png) no-repeat top center;}
#why ul li.offers{background: url(img/offers.png) no-repeat top center;}
#guaranty {
margin-top: 25px;
padding-top: 25px;	
background: url(img/bg.png) repeat;}
#guaranty .wraper{
font: 17px Arial;
min-height: 401px;
background: url(img/clockss.png) no-repeat right bottom;}
#guaranty h4 {color: #000;}
.guarant {
float: left;
width: 180px;
margin: 10px 30px 0 100px;
height: 401px;
background: url(img/guarant.png) no-repeat top left;}
#guaranty ul {
float:left;
margin-left: 10px}
#guaranty ul li{
padding-left: 20px;
background: url(img/bullet.png) no-repeat left center;}
#guaranty ul li a{
color: #b8090a;
text-decoration: underline}
#questions {
color: #fff;
padding: 25px 0 0 0;
background: url(img/gradient.png) repeat-x;}
#questions .wraper {
background: url(img/mini.png) no-repeat right bottom;}
#questions h4{text-align: center;}
#questions ul {padding:0 60px;}
#questions ul li {
font: 17px Arial;
margin-top: 25px;}
#questions ul li span{
display: block;
font-size: 24px;}
#questions ul li.uno{
background: url(img/uno.png) no-repeat left top;
padding-left: 50px;}
#questions ul li.duo{
background: url(img/duo.png) no-repeat left top;
padding-left: 50px;}
#questions ul li.tre{
background: url(img/tre.png) no-repeat left top;
padding-left: 50px;
padding-bottom: 25px;}
#paydel {
font: 17px Arial;
background: url(img/bg.png) repeat;}
#paydel h4{
padding: 25px 0 0;
text-align: center;
color: #ba090a;}
#paydel .wraper {position: relative;}
.topImg, .downImg {
width: 531px;
height: 401px;
position: absolute;}
.topImg {
left: 100px;
top: 0;
background: url(img/reverse.png) no-repeat;}
.downImg {
right: 0;
bottom: 0;
background: url(img/clockss.png) no-repeat;}
#paydel p {
font-size: 30px;
margin: 30px 0px 0px 150px;}
#paydel ul {margin: 30px 50px 0 125px;}
#paydel ul li{
padding: 3px 0 3px 0;
background: url(img/bullet-big.png) no-repeat 0% 30%;
padding-left: 25px;	}
#last {
padding: 25px 0;
overflow: auto}
.count {
float: left;
width: 490px;
height: 363px;
background: url(img/order.png) no-repeat; }
.pairs {
position: relative;
left: -1px;
top: 380px;
float: left;
overflow: hidden;
margin-right: 20px;
width: 100px;
height: 150px;}
.pairs span {
display: block;
font: 15px Arial;
margin-top: 5px;	
}
.pairs img{
display: block;
width: 100px;
	
}
/* FOOTER */
#footer {
background: #000;	
padding: 20px 0;
text-align: center;
color: #fff;
font: 15px Arial;
line-height: 20px;	
}
#footer a {color: #FB1532;
text-decoration: underline}
#footer a:hover, #guaranty ul li a:hover {text-decoration: none}

#politics {
width: 100%;
min-height: 100%;
overflow: hidden;
position: fixed;    
background: rgba(0,0,0,0.8);
top: 0px;
z-index: 1000;
}
.content .close {
float: right;
margin: -45px -20px;
}
.content{
margin:40px auto 0px auto;
width:800px;    
padding:20px 0px 30px 20px;
height: 500px;
background-color: #fff;
box-shadow: 0px 0px 10px #000;
}
.content_inner{
overflow: scroll;
width:780px;
height: 460px;
padding:20px 0px 30px 20px;
background-color: #fff;
font-size: 14px;
font-family: arial;
}
.content p{
font: bold 20px "BebasNeueRegular";	
text-transform: none !important;
}


#ea_product_form_6132{
	color: #333333 !important;
}

#ea_product_form_6132 .ea_required_text{
	color: red !important;
	font-weight: bold !important;
	font-family: Arial !important;
	font-size: 10pt !important;
	margin-left: 5px;
}

#ea_product_form_6132 .ea_name_field{
	font-weight: bold !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 15px !important;
	color: #333333 !important;
}

#ea_product_form_6132 .ea_input {
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	height: 22px !important;
	border-radius: 4px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	border: 1px solid #7F9DB9 !important; /*1px solid #7F9DB9 !important;*/
	width: 300px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#ea_product_form_6132 .ea_textarea {
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	border-radius: 4px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	border: 1px solid #7F9DB9 !important; /*1px solid #7F9DB9 !important;*/
	width: 300px;
	margin-left: 0px !important;
	height: 67px;
}

#ea_product_form_6132 .ea_checkbox, ea_radio{
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	height: 20px !important;
	border-radius: 0px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	vertical-align: bottom !important;
        border: 1px solid #7F9DB9 !important;
}

#ea_product_form_6132 .ea_dom, #ea_product_form_6132 .ea_korpus, #ea_product_form_6132 .ea_kvartira{
	width: 40px !important;
}

#ea_product_form_6132 .ea_select{
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	height: 20px !important;
	border-radius: 3px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	border: 1px solid #7F9DB9 !important;/*1px solid #7F9DB9 !important;*/
	margin-left: 0px !important;
	width: 300px;
}

#ea_product_form_6132 .ea_cod_str_mob, #ea_product_form_6132 .ea_cod_str_dom{
	border: 1px solid #7F9DB9 !important;/*1px solid #7F9DB9 !important;*/
	width: 141px !important;
}

#ea_product_form_6132 .ea_cod_oper_mob, #ea_product_form_6132 .ea_cod_oper_dom{
	width: 40px !important;
}

#ea_product_form_6132 .ea_phone_mob, #ea_product_form_6132 .ea_phone_dom{
	width: 80px !important;
}

#ea_product_form_6132 .ea_pay_mode{
	/*width: 100% !important;*/
}

#ea_product_form_6132 #ea_normal_city select, #ea_product_form_6132 #ea_normal_region select, #ea_product_form_6132 .ea_country{
	/*width: 330px !important; /*100%*/
}

#ea_product_form_6132 #ea_special_region, #ea_product_form_6132 #ea_special_city{
	display:none;
}

#ea_product_form_6132 .ea_submit {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  
  border: 1px solid #7F9DB9;border-radius: 20px;background: none repeat scroll 0 0 #ff0000;font-family: arial;font-size: 30px;color: #ffffff;width: 230px;height: 45px;font-weight: bold;
  
/*
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-family: Verdana;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
*/

/*
  background-color: #f5f5f5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  
  background-color: #e6e6e6;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
*/

  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

  /*padding: 8px 40px;*/

  box-shadow: 0 0 0 3px #f2f7f9;
  -moz-box-shadow: 0 0 0 3px #f2f7f9;
  -webkit-box-shadow: 0 0 0 3px #f2f7f9;
}
            

#ea_product_form_6132 .ea_submit:hover,
#ea_product_form_6132 .ea_submit:focus,
#ea_product_form_6132 .ea_submit:active,
#ea_product_form_6132 .ea_submit.active,
#ea_product_form_6132 .ea_submit.disabled,
#ea_product_form_6132 .ea_submit[disabled] {
  color: #333333;
  /*
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  */
  background-color: #E6E6E6;
}
/*
#ea_product_form_6132 .ea_submit:active,
#ea_product_form_6132 .ea_submit.active {
  background-color: #cccccc \9;
}
*/
#ea_product_form_6132 .ea_submit:hover,
#ea_product_form_6132 .ea_submit:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#ea_product_form_6132 .ea_submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#ea_product_form_6132 .ea_submit.active,
#ea_product_form_6132 .ea_submit:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

#ea_product_form_6132 .ea_custom_text{
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	font-size: 12pt !important;
	font-style: italic !important;
	font-weight: bold !important;
}

#ea_product_form_6132 .ea_table_form {
	width: 100% !important;/*600px*/
}

#ea_product_form_6132 .ea_table_form td{
	padding: 1px 5px 2px 1px !important;
	text-align: left;
	vertical-align: middle;
}

#ea_product_form_6132 .ea_phone_table{
	width: 300px;
}

#ea_product_form_6132 .ea_phone_table td{
	padding: 1px 5px 2px 1px !important;
	text-align: left;
	vertical-align: top;
}

#ea_product_form_6132 .ea_td_right{
	text-align: right !important;
	width: 50%;
}

#ea_product_form_6132 .ea_td_center{
	text-align: center !important;
}

#ea_product_form_6132 .ea_td_text {
	text-align: center !important;
}

#ea_product_form_6132 .ea_small{
	font-size: 11px !important;
	font-weight: normal !important;
}

#ea_product_form_6132 .ea_form{
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	font-size: 10pt !important;
	font-weight: normal;
	color: #333333;
        background: none repeat scroll 0 0 transparent;
}

#ea_product_form_6132 .ea_label{
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	font-size: 10pt !important;
}

#ea_product_form_6132 .ea_countprod{
	width:40px !important;
}

#ea_product_form_6132 .ea_anyprice{
	width:85px !important;
}

#ea_product_form_6132 .comment_field{
    font-size: 11px !important;
    font-weight: normal !important;
}