/* 
© 2013-2014 by Andrew Vakarchuk
Google Me as mr.vakarchuk 
*/
@font-face {
font-family: 'BebasNeueRegular';
src: url('fonts/BebasNeue-Bold.html');
src: url('fonts/BebasNeue-Boldd41d.html@#iefix') format('embedded-opentype'), 
url('fonts/BebasNeue-Bold.ttf') format('truetype'),
url('fonts/BebasNeue-Bold.svg#BebasNeueRegular') format('svg');
font-weight: bold;
}
#countdown_dashboard {
	height: 85px;
}
.dash {
	padding: 0 26px;
	height: 85px;
	background: #000;
	float: left;
	position: relative;
	margin: 0 1px;
}

.dash .digit {
	float: left;
	width: 23px;
	text-align: center;
    font: bold 60px "BebasNeueRegular";	
	color: #fff;
	position: relative;
}
.dash_title {
	position: absolute;
	display: block;
	width: 100%;
	right: 0;
	bottom: 5px;
	font: bold 15px "BebasNeueRegular";	
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}