{admin/header.html}
<div id="app" v-show="true" style="display: none;" class="row">
	<div class="col-6">
		<h3>По дням</h3>
		<div class="row mb-3" v-for="day in leadDays">
			<div class="col-12 table-active text-center p-2 font-weight-bold">
				@{{ day }}
			</div>
			<div class="col-12 p-2" v-for="v in data.leadsByDaysAndSources[day]">
				<div class="row">
					<div class="col-9">@{{ v.utm_source?v.utm_source:'Не указан' }}</div>
					<div class="col-3">@{{ v.q }}</div>
				</div>
			</div>
			<div class="col-12 p-2" style="font-weight: bold;">
				<div class="row">
					<div class="col-9" style="text-align: right;">Заявок: </div>
					<div class="col-3">@{{ data.leadsByDaysAndSources[day]?leadsOfDaySum(data.leadsByDaysAndSources[day]):0 }}</div>
				</div>
			</div>
			<div class="col-12 p-2" style="font-weight: bold;">
				<div class="row">
					<div class="col-9" style="text-align: right;">Договоров: </div>
					<div class="col-3">@{{ data.contractsByDays[day]?data.contractsByDays[day].q:0 }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-6">
		<h3>Договора по месяцам</h3>
		<table class="table">
			<tr style="font-weight: bold;">
				<td>Месяц</td>
				<td>Заявок</td>
				<td>Договоров</td>
				<td>На сумму</td>
				<td>План</td>
				<td>Премия</td>
			</tr>
			<tr v-for="v in data.contractsByMonths">
				<td style="white-space: nowrap;">@{{ v.contractMonth }}</td>
				<td>@{{ data.leadsByMonths[v.contractMonth]?data.leadsByMonths[v.contractMonth].q:0 }}</td>
				<td>@{{ v.q }}</td>
				<td style="white-space: nowrap;">@{{ v.sumPrices }} р.</td>
				<td style="white-space: nowrap;">@{{ v.motivationValue }} р.</td>
				<td><small>@{{ v.bonus1 }} + @{{ v.bonus2 }} = @{{ v.bonus }} р.</small></td>
			</tr>
		</table>
		<h3>По источникам</h3>
		<table class="table">
			<tr style="font-weight: bold;">
				<td>Источник</td>
				<td>Заявок</td>
				<td>Договора</td>
			</tr>
			<tr v-for="v in data.bySources">
				<td>@{{ v.utm_source?v.utm_source:'Не указан' }}</td>
				<td>@{{ v.q }}</td>
				<td>@{{ v.q_paid }}</td>
			</tr>
		</table>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<!-- <script src="/types/engine/template/admin/mirrors/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
<script src="/types/helpme/template/admin/source_stat/app.js"></script>
{admin/footer.html}