/* ::::: http://exdiesel.ru/css/style.css ::::: */

* { padding: 0px; margin: 0px; }
body { font-family: 'Roboto-Light'; background: url('main.jpg') no-repeat scroll center top rgb(41, 41, 41); }
img { border: 0px none; }
a { text-decoration: underline; }
a:hover { text-decoration: none; }
ul { list-style: none outside none; }
.break { clear: both; font-size: 0px; }
@font-face {
	font-family: "Roboto-Light";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-light.woff') format("woff"), url('roboto-light.ttf') format("truetype"), url('roboto-light.svg') format("svg");
}
@font-face {
	font-family: "Roboto-Regular";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-regular.html') format("woff"), url('roboto-regular-2.html') format("truetype"), url('roboto-regular.svg') format("svg");
}
@font-face {
	font-family: "Roboto-Black";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-black.woff') format("woff"), url('roboto-black.ttf') format("truetype"), url('roboto-black.svg') format("svg");
}
@font-face {
	font-family: "Roboto-BlackItalic";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-blackitalic.html') format("woff"), url('roboto-blackitalic-2.html') format("truetype"), url('roboto-blackitalic.svg') format("svg");
}
@font-face {
	font-family: "Roboto-BoldCondensed";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-boldcondensed.woff') format("woff"), url('roboto-boldcondensed.ttf') format("truetype"), url('roboto-boldcondensed.svg') format("svg");
}
@font-face {
	font-family: "Roboto-BoldCondensedItalic";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-boldcondenseditalic.html') format("woff"), url('roboto-boldcondenseditalic-2.html') format("truetype"), url('roboto-boldcondenseditalic.svg') format("svg");
}
@font-face {
	font-family: "Roboto-Condensed";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-condensed.html') format("woff"), url('roboto-condensed-2.html') format("truetype"), url('roboto-condensed.svg') format("svg");
}
@font-face {
	font-family: "Roboto-MediumItalic";
	font-style: normal;
	font-weight: normal;
	src: local("O"), url('roboto-mediumitalic.html') format("woff"), url('roboto-mediumitalic-2.html') format("truetype"), url('roboto-mediumitalic.svg') format("svg");
}
.container { margin: 0px auto; min-width: 1000px; }
.header { margin: 0px auto; }
.menu { position: fixed; width: 100%; height: 56px; background: url('menu.png') repeat-x scroll 0% 0% transparent; z-index: 1000; margin-top: -56px; }
.menu .ins { height: 56px; width: 980px; margin: 0px auto; }
.menu ul { padding: 15px 0px 0px 170px; }
.menu ul li { display: inline-block; height: 15px; padding: 4px 30px 6px; border-left: 1px solid rgb(159, 159, 159); }
.menu ul li a { font-size: 18px; line-height: 18px; color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none; }
.menu ul li.first { border-left: medium none; }
.block1 { margin: 56px auto 0px; width: 980px; height: 955px; position: relative; background: url('bg1.png') no-repeat scroll 0px 315px transparent; }
.block1 h1 { position: absolute; top: 64px; left: 0px; font-weight: normal; font-family: 'Roboto-Black'; font-size: 75px; line-height: 85px; color: rgb(253, 217, 0); }
.block1 h1 span { font-family: 'Roboto-Light'; font-size: 50px; color: rgb(255, 255, 255); }
.block1 .contacts { position: absolute; top: 80px; right: 0px; font-size: 16px; line-height: 30px; color: rgb(255, 255, 255); }
.block1 .contacts span { font-size: 31px; }
.block1 a.callback { display: block; width: 265px; padding: 8px 0px; background-color: rgb(253, 217, 0); border-radius: 5px; text-decoration: none; text-transform: uppercase; font-size: 16px; line-height: 16px; color: rgb(41, 41, 41); text-align: center; margin: 18px 0px 25px; }
.order1 { position: absolute; top: 340px; right: 0px; width: 385px; padding: 18px 0px 12px; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: url('bg2.png') repeat scroll 0% 0% transparent; }
.order1 .ins { margin: 0px auto; width: 315px; text-align: center; }
.order1 .order_name { font-family: 'Roboto-BoldCondensed'; font-size: 22px; line-height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; text-align: center; padding-bottom: 15px; }
.order1 .order_name span { color: rgb(253, 217, 0); }
.order1 input.inp1 { width: 293px; height: 18px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 10px; border-radius: 5px; }
.order1 input.inp2 { width: 315px; height: 56px; font-family: 'Roboto-Light'; font-size: 32px; line-height: 32px; color: rgb(41, 41, 41); border: medium none; outline: medium none; background-color: rgb(253, 217, 0); margin-bottom: 15px; border-radius: 5px; cursor: pointer; }
.order1 textarea { width: 293px; height: 78px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 15px; border-radius: 5px; resize: none; }
.order1 input:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order1 textarea:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order1 .note { text-align: center; font-size: 14px; line-height: 14px; color: rgb(255, 255, 255); }
.block1 .descr { font-size: 15px; line-height: 18px; color: rgb(255, 255, 255); position: absolute; }
.block1 .d1 { top: 466px; left: 5px; }
.block1 .d2 { top: 730px; left: 10px; }
.block1 .d3 { top: 825px; left: 218px; }
.block2 { margin: 0px auto; width: 980px; height: 205px; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: linear-gradient(rgb(75, 75, 75), rgb(48, 48, 48)) repeat scroll 0% 0% transparent; position: relative; }
.block2 .left { float: left; width: 550px; margin: 10px 0px 0px; padding: 20px 0px; border-right: 1px solid rgb(175, 153, 23); }
.block2 .txt1 { padding: 0px 0px 15px 155px; font-size: 18px; line-height: 18px; color: rgb(255, 255, 255); }
.block2 .txt2 { padding: 0px 0px 20px 45px; font-size: 59px; line-height: 59px; color: rgb(255, 255, 255); }
.block2 .txt3 { padding-left: 45px; font-size: 36px; line-height: 36px; color: rgb(153, 153, 153); }
.block2 .txt3 span.sp1 { color: rgb(253, 217, 0); }
.block2 .txt3 span.sp2 { text-decoration: line-through; }
.block2 .right { float: right; width: 425px; height: 200px; position: relative; }
.block2 .label { position: absolute; top: -40px; left: -30px; width: 237px; height: 148px; background: url('label.png') no-repeat scroll 0% 0% transparent; }
.block3 { margin: 0px auto; width: 980px; padding: 50px 0px 0px; }
.block3 .bl_name { padding-bottom: 40px; text-align: center; font-family: 'Roboto-BoldCondensed'; font-size: 30px; line-height: 30px; color: rgb(253, 217, 0); text-transform: uppercase; }
.block3 .bl_name span { color: rgb(255, 255, 255); }
.block3 .block { float: left; width: 310px; height: 380px; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: linear-gradient(rgb(95, 95, 95), rgb(53, 53, 53)) repeat scroll 0% 0% transparent; margin-right: 22px; }
.block3 .block .ins { margin: 0px auto; padding: 25px 0px 0px; width: 280px; }
.block3 .block .name { padding-bottom: 25px; font-family: 'Roboto-Black'; font-size: 18px; line-height: 18px; color: rgb(253, 217, 0); text-transform: uppercase; }
.block3 .block .pic { padding-bottom: 25px; text-align: center; }
.block3 .block .pic img { border: 1px solid rgb(41, 41, 41); box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); }
.block3 .block .descr { font-size: 14px; line-height: 17px; color: rgb(255, 255, 255); }
.block3 .block .descr span { color: rgb(253, 217, 0); }
.block3 .last { float: right; margin-right: 0px; }
.block4 { margin: 0px auto; width: 980px; padding: 50px 0px 0px; font-size: 15px; line-height: 17px; color: rgb(255, 255, 255); text-align: center; }
.block4 span.sp1 { font-family: 'Roboto-BoldCondensed'; font-size: 18px; line-height: 26px; color: rgb(153, 153, 153); text-transform: uppercase; }
.block4 span.sp2 { font-family: 'Roboto-BoldCondensed'; font-size: 18px; line-height: 22px; color: rgb(255, 255, 255); }
.block5 { margin: 40px auto 0px; width: 980px; padding: 25px 0px; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: linear-gradient(rgb(71, 71, 71), rgb(48, 48, 48)) repeat scroll 0% 0% transparent; }
.block5 .left { float: left; width: 564px; padding: 0px 0px 0px 25px; }
.block5 .left .bl_name { font-family: 'Roboto-BoldCondensed'; font-size: 48px; line-height: 58px; color: rgb(253, 217, 0); text-transform: uppercase; padding-bottom: 25px; }
.block5 .left .bl_name span { color: rgb(255, 255, 255); }
.block5 .video { width: 560px; height: 335px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); }
.block5 .right { float: right; width: 350px; }
.block5 .right .bl_name { font-family: 'Roboto-Black'; font-size: 18px; line-height: 18px; color: rgb(253, 217, 0); padding-bottom: 15px; padding-left: 16px; }
.block5 ul li { padding: 0px 0px 8px 16px; background: url('ico1.png') no-repeat scroll 0px 5px transparent; font-size: 15px; line-height: 17px; color: rgb(253, 217, 0); }
.block5 ul li span { color: rgb(153, 153, 153); }
.block6 { margin: 50px auto 0px; width: 910px; background: url('bg3.png') no-repeat scroll 660px 0px transparent; font-size: 18px; line-height: 22px; color: rgb(253, 217, 0); padding: 0px 0px 20px 70px; }
.block6 .bl_name { padding-bottom: 20px; font-family: 'Roboto-BoldCondensed'; font-size: 42px; line-height: 50px; color: rgb(255, 255, 255); text-transform: uppercase; }
.block7 { margin: 50px auto 0px; width: 980px; height: 445px; position: relative; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: linear-gradient(rgb(95, 95, 95), rgb(53, 53, 53)) repeat scroll 0% 0% transparent; }
.block7 .left { float: left; width: 520px; padding: 55px 0px 0px; }
.block7 .txt1 { padding: 0px 0px 15px 155px; font-size: 18px; line-height: 18px; color: rgb(255, 255, 255); }
.block7 .txt2 { padding: 0px 0px 20px 45px; font-size: 59px; line-height: 59px; color: rgb(255, 255, 255); }
.block7 .txt3 { padding-left: 45px; font-size: 32px; line-height: 36px; color: rgb(153, 153, 153); }
.block7 .txt3 span.sp1 { color: rgb(253, 217, 0); }
.block7 .txt3 span.sp2 { text-decoration: line-through; }
.block7 .counter { float: right;  margin-top: 25px; border-top: 1px solid rgb(165, 165, 165); }
.block7 .right { float: right; width: 315px; padding: 20px 35px 0px 0px; }
.order2 { width: 315px; }
.order2 .ins { margin: 0px auto; width: 315px; text-align: center; }
.order2 .order_name { font-family: 'Roboto-BoldCondensed'; font-size: 22px; line-height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; text-align: center; padding-bottom: 15px; }
.order2 .order_name span { color: rgb(253, 217, 0); }
.order2 input.inp1 { width: 293px; height: 18px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 10px; border-radius: 5px; }
.order2 input.inp2 { width: 315px; height: 56px; font-family: 'Roboto-Light'; font-size: 32px; line-height: 32px; color: rgb(41, 41, 41); border: medium none; outline: medium none; background-color: rgb(253, 217, 0); margin-bottom: 15px; border-radius: 5px; }
.order2 textarea { width: 293px; height: 78px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 15px; border-radius: 5px; resize: none; }
.order2 input:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order2 textarea:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order2 .note { text-align: center; font-size: 14px; line-height: 14px; color: rgb(255, 255, 255); }
.block7 .label { position: absolute; top: -40px; left: -30px; width: 237px; height: 148px; background: url('label.png') no-repeat scroll 0% 0% transparent; }
.block8 { margin: 0px auto; width: 980px; padding: 50px 0px 0px; background: url('bg4.png') no-repeat scroll center 120px transparent; }
.block8 .bl_name { padding-bottom: 125px; text-align: center; font-family: 'Roboto-BoldCondensed'; font-size: 30px; line-height: 30px; color: rgb(253, 217, 0); text-transform: uppercase; }
.block8 .bl_name span { color: rgb(255, 255, 255); }
.block8 table { border: medium none; width: 100%; }
.block8 table tr td { text-align: center; vertical-align: top; font-size: 14px; line-height: 16px; color: rgb(153, 153, 153); }
.block8 table tr td span { display: block; font-family: 'Roboto-BoldCondensed'; font-size: 20px; line-height: 22px; color: rgb(253, 217, 0); padding-bottom: 10px; }
.block8 table tr td.td1 { width: 440px; }
.block9 { margin: 40px auto 0px; width: 980px; padding: 30px 0px 20px; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: linear-gradient(rgb(95, 95, 95), rgb(53, 53, 53)) repeat scroll 0% 0% transparent; }
.block9 .bl_name { margin: 0px auto 30px; padding-bottom: 30px; text-align: center; font-family: 'Roboto-BoldCondensed'; font-size: 30px; line-height: 30px; color: rgb(253, 217, 0); text-transform: uppercase; width: 785px; border-bottom: 1px solid rgb(168, 168, 168); }
.block9 .bl_name span { color: rgb(255, 255, 255); }
.block10 { margin: 50px auto 0px; width: 980px; height: 750px; background: url('bg5.jpg') no-repeat scroll center 165px transparent; }
.block10 .txt1 { padding-bottom: 24px; text-align: center; font-family: 'Roboto-BoldCondensed'; font-size: 30px; line-height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; }
.block10 .txt2 { padding-bottom: 40px; text-align: center; font-size: 18px; line-height: 18px; color: rgb(255, 255, 255); }
.block10 .txt2 span { color: rgb(253, 217, 0); }
.block10 .txt3 { font-family: 'Roboto-Black'; text-align: center; font-size: 20px; line-height: 20px; color: rgb(253, 217, 0); text-transform: uppercase; }
.footer { margin: 50px auto 0px; height: 285px; background: url('bg6.jpg') no-repeat scroll center bottom transparent; }
.footer .ins { margin: 0px auto; width: 980px; height: 229px; position: relative; background: url('bg7.png') repeat-x scroll 0% 0% transparent; border-radius: 8px 8px 0px 0px; }
.footer .txt { position: absolute; top: 30px; left: 30px; font-size: 16px; line-height: 20px; color: rgb(255, 255, 255); }
.footer .txt span { color: rgb(253, 217, 0); }
.footer .contacts { position: absolute; top: 30px; right: 30px; font-size: 16px; line-height: 20px; color: rgb(255, 255, 255); }
.footer .contacts span { font-size: 31px; line-height: 50px; }
.footer a.callback { display: block; width: 265px; padding: 8px 0px; background-color: rgb(253, 217, 0); border-radius: 5px; text-decoration: none; text-transform: uppercase; font-size: 16px; line-height: 16px; color: rgb(41, 41, 41); text-align: center; margin: 10px 0px 0px; }
.footer .copy { position: absolute; top: 200px; left: 0px; font-size: 14px; line-height: 14px; color: rgb(153, 153, 153); text-align: center; width: 980px; }
a.develop { display: block; margin: 10px auto; width: 222px; height: 34px; background: url('hot.png') no-repeat scroll 0% 0% transparent; }
.slider { margin: 0px auto; width: 785px; height: 185px; }
#slides { margin: 0px auto; width: 785px; height: 185px; overflow: visible ! important; position: relative; }
#slides .block { width: 785px ! important; height: 185px; overflow: hidden; }
#slides .pic { float: left; width: 195px; }
#slides .txt { float: left; width: 590px; height: 185px; position: relative; }
#slides .txt .bl1 { height: 90px; padding-top: 40px; font-size: 18px; line-height: 20px; color: rgb(255, 255, 255); }
#slides .txt .bl2 { font-size: 15px; line-height: 15px; color: rgb(153, 153, 153); }
#slides .slidesjs-container { width: 785px ! important; height: 185px ! important; overflow: hidden; }
#slides a.slidesjs-previous { position: absolute; top: 70px; left: -70px; width: 39px; height: 43px; background: url('arrs.png') no-repeat scroll 0px 0px transparent; }
#slides a.slidesjs-previous:hover { background: url('arrs.png') no-repeat scroll -39px 0px transparent; }
#slides a.slidesjs-next { position: absolute; top: 70px; right: -70px; width: 39px; height: 43px; background: url('arrs.png') no-repeat scroll 0px -43px transparent; }
#slides a.slidesjs-next:hover { background: url('arrs.png') no-repeat scroll -39px -43px transparent; }
.slidesjs-play, .slidesjs-stop { display: none ! important; }
.slidesjs-pagination { display: none ! important; }
.actionTime { position: absolute; top: 0px; right: 0px; margin: 0px auto 8px; background: url('action-time.png') no-repeat scroll center bottom transparent; height: 141px; width: 338px; }
.actionTime .desc div { float: left; color: rgb(0, 0, 0); font-size: 12px; font-family: arial; width: 32%; text-align: center; margin-top: 2px; font-weight: bolder; }
.actionTime .cntDigit { width: 40px ! important; }
.actionTime .cntSeparator { text-indent: -99999px; }
.block2 .actionTime { top: 30px; right: 35px; }
.block2 .actionTime .time { padding: 35px 0px 0px 20px; }
.block7 .actionTime { position: relative; }
.block7 .actionTime .time { padding: 35px 0px 0px 35px; }
.inl { display: none; }
.order3 { width: 385px; padding: 18px 0px 12px; border: 1px solid rgb(41, 41, 41); background-color: rgb(97, 97, 97); border-radius: 8px; }
.order3 .ins { margin: 0px auto; width: 315px; text-align: center; }
.order3 .order_name { font-family: 'Roboto-BoldCondensed'; font-size: 22px; line-height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; text-align: center; padding-bottom: 15px; }
.order3 input.inp1 { width: 293px; height: 18px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 10px; border-radius: 5px; }
.order3 input.inp2 { width: 315px; height: 56px; font-family: 'Roboto-Light'; font-size: 32px; line-height: 32px; color: rgb(41, 41, 41); border: medium none; outline: medium none; background-color: rgb(253, 217, 0); margin-bottom: 15px; border-radius: 5px; cursor: pointer; }
.order3 input:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order3 .note { text-align: center; font-size: 14px; line-height: 14px; color: rgb(255, 255, 255); }
.tnx1 { display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1000; background: url('msgbg.png') repeat scroll 0% 0% transparent; }
.tnx1 .ins { position: fixed; top: 50%; left: 50%; z-index: 1000000; width: 385px; height: 300px; margin: -150px 0px 0px -168px; border: 1px solid rgb(41, 41, 41); background-color: rgb(97, 97, 97); border-radius: 8px; }
.tnx1 span.sp1 { display: block; padding: 55px 0px 0px; text-align: center; font-family: 'Roboto-BoldCondensed'; font-size: 60px; line-height: 60px; color: rgb(253, 217, 0); text-transform: uppercase; }
.tnx1 span.sp2 { display: block; padding: 50px 0px 0px; text-align: center; font-family: 'Roboto-BoldCondensed'; font-size: 22px; line-height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; }
.developers { margin: 0px auto; width: 980px; position: relative; }
.developers .metrika { width: 80px; height: 15px; position: absolute; top: 20px; left: 0px; }


.order5 {  width: 385px; padding: 18px 0px 12px; border: 1px solid rgb(41, 41, 41); border-radius: 8px; box-shadow: 2px 2px 1px rgb(149, 134, 39), -2px -2px 1px rgb(149, 134, 39), -2px 2px 1px rgb(149, 134, 39), 2px -2px 1px rgb(149, 134, 39); background: url('bg2.png') repeat scroll 0% 0% transparent; }
.order5 .ins { margin: 0px auto; width: 315px; text-align: center; }
.order5 .order_name { font-family: 'Roboto-BoldCondensed'; font-size: 22px; line-height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; text-align: center; padding-bottom: 15px; }
.order5 .order_name span { color: rgb(253, 217, 0); }
.order5 input.inp1 { width: 293px; height: 18px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 10px; border-radius: 5px; }
.order5 input.inp2 { width: 315px; height: 56px; font-family: 'Roboto-Light'; font-size: 32px; line-height: 32px; color: rgb(41, 41, 41); border: medium none; outline: medium none; background-color: rgb(253, 217, 0); margin-bottom: 15px; border-radius: 5px; cursor: pointer; }
.order5 textarea { width: 293px; height: 78px; padding: 11px; font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); border: medium none; outline: medium none; background-color: rgb(255, 255, 255); margin-bottom: 15px; border-radius: 5px; resize: none; }
.order5 input:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order5 textarea:-moz-placeholder { font-family: 'Roboto-Light'; font-size: 18px; line-height: 18px; color: rgb(45, 44, 40); padding: 2px 0px 0px; }
.order5 .note { text-align: center; font-size: 14px; line-height: 14px; color: rgb(255, 255, 255); }
/* ::::: http://exdiesel.ru/fancybox/jquery.fancybox.css ::::: */
/* form block */
.form-block {background:url(img/form.jpg) no-repeat center 0;height:674px;color:#fff;}
.form-block.second {background:url(img/form2.jpg) no-repeat center 0;}
.form-block .title {color:#fff;padding:89px 0 25px 0;}
.form-block .title div {padding:0;}
.form-block h1 {font-size:18px;font-weight:500;line-height:28px;text-align:center;padding:0 0 30px 0;}
.form-block .price {text-align:center;}
.form-block .price div,.form-block .price del {display:inline-block;vertical-align:top;padding:0 10px;font-size:25px;font-weight:500;}
.form-block .price del {color:#b0aeac;}
.form-block .price div {color:#c5150c;}
.form-block h2 {font-size:18px;line-height:28px;text-align:center;color:#a9a9a9;padding:42px 0 0 0;}
.form-block .time {padding:22px 0 0 0;}
.form-block #timer,.form-block #timer2 {text-align:center;}
.form-block #timer div,.form-block #timer2 div {display:inline-block;vertical-align:top;line-height:1;font-size:50px;padding:0 15px;width:60px;font-weight:500;}
.form-block #timer span,.form-block #timer2 span {font-size:15px;display:block;font-weight:400;padding:12px 0 0 0;}
.form-block #timer .dots,.form-block #timer2 .dots {font-weight:500;font-size:50px;display:inline-block;vertical-align:top;line-height:1;}
.form-block .sale {text-align:center;padding:39px 0 33px 0;}
.form-block .button {margin:0 auto;}
