<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Help me!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/types/engine/template/css/font-awesome/5.3.1/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		{menu}
		<div id="app" v-show="true" style="display: none;">

			<!-- Загрузить файлы -->
			<div v-if="user.role_load_files" class="text-end">
				<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#loads" aria-expanded="false" aria-controls="loads">
					Загрузить файл
				</button>
			</div>
			<div class="collapse" id="loads">
				<div class="card card-body">
					<div class="row">
						<div class="col-md-6 mt-3">
							<h5>Загрузить транзакции модульбанка</h5>
							<form method="post" enctype="multipart/form-data" action="/?r=Admin/submitModulbankTransactions" class="form-inline">
								<div class="form-group">
									<input type="file" name="csv" class="form-control-file">
								</div>
								<button type="submit" class="btn btn-secondary">Отправить</button>
							</form>
						</div>
						<div class="col-md-6 mt-3">
							<h5>Загрузить чеки из ОФД.Яндекс</h5>
							<form method="post" enctype="multipart/form-data" action="/?r=ApiAdmin/addReceipts" class="form-inline">
								<div class="form-group">
									<input type="file" name="csv" class="form-control-file">
								</div>
								<input type="hidden" name="amo_group_id" :value="groupId">
								<button type="submit" class="btn btn-secondary">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Балансы -->
			<div class="row">
				<div class="col-12 col-md-6">
					<h2 class="mt-3 mb-3">Оплаты</h2>
				</div>
				<div class="col-12 col-md-6" style="text-align: right;">
					<div class="mt-4 mb-3">
						<div>В кассе: <code>@{{ balances.cash }} руб.</code></div>
						<div>Судебные: <code>@{{ balances.legalCash }} руб.</code></div>
						<div v-if="user.role_admin">Горин: <code>@{{ balances.gorin }} руб.</code></div>
						<div v-if="user.role_admin">Ежеватов: <code>@{{ balances.ezhevatov }} руб.</code></div>
						<div v-if="user.role_admin">Р/c: <code>@{{ balances.rs }} руб.</code></div>
					</div>
				</div>
			</div>

			<!-- Модальное окно "Добавить платеж" -->
			<div class="modal fade" tabindex="-1" id="addTransferModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Добавить платеж</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							</button>
						</div>
						<div class="modal-body">
							<div class="btn-group mb-2" role="group">
								<button :class="'btn btn-outline-primary '+((addTransferForm.type == 'income')?'active':'')" @click="addTransferForm.type='income'">Приход</button>
								<button :class="'btn btn-outline-primary '+((addTransferForm.type == 'outcome')?'active':'')" @click="addTransferForm.type='outcome'">Расход</button>
							</div>
							<form v-on:submit.prevent="addTransfer" v-if="addTransferForm.type">
								<input type="hidden" v-model="addTransferForm.groupId">
								<div class="row g-3">
									<div class="col-md-12">
										<label>Дата платежа</label>
										<input type="text" v-model="addTransferForm.date" v-mask="'##.##.####'" placeholder="Дата" class="form-control">
									</div>
									<div class="col-md-12">
										<label>Клиент</label>
										<div v-if="addTransferForm.bitrix_contact">
											<contact-min :contact="addTransferForm.bitrix_contact" @delete="addTransferFormContactDelete"></contact-min>
										</div>
										<div v-if="!addTransferForm.bitrix_contact">
											<input v-model="searchContact.string" class="form-control" placeholder="Поиск клиента" autocomplete="off" @focus="searchContact.transferId = null;">
											<ul class="list-group small" v-if="searchContact.transferId == null">
												<template v-for="contact in foundContacts">
													<contact-full :contact="contact" :transfer="null" @clicked="addTransferFormContactClick"></contact-full>
												</template>
											</ul>
										</div>
									</div>
									<div class="col-md-12">
										<label>Сумма</label>
										<input type="text" v-model="addTransferForm.value" value="" placeholder="Сумма" class="form-control">
									</div>
									<div class="col-md-6">
										<label>Источник</label>
										<select v-model="addTransferForm.source" class="form-select">
											<option :value="null">Не выбрано</option>
											<option v-for="source in transferSources" :value="source">@{{ source }}</option>
										</select>
									</div>
									<div class="col-md-6" v-if="addTransferForm.type == 'outcome'">
										<label>В источник</label>
										<select v-model="addTransferForm.to_source" class="form-select">
											<option :value="null">Не выбрано</option>
											<option v-for="source in transferSources" :value="source">@{{ source }}</option>
										</select>
									</div>
									<div class="col-md-12">
										<label>Комментарий</label>
										<input type="text" v-model="addTransferForm.text" placeholder="Комментарий" class="form-control">
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
							<button type="button" :class="'btn btn-primary '+(loading?'disabled':'')" @click="addTransfer" v-if="addTransferForm.type">Добавить</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Добавить платеж и фильтры -->
			<div class="row">
				<div class="col-12 col-md-6 mb-2">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransferModal" @click="addTransferForm.type = null;">
						Добавить платеж
					</button>
				</div>
				<div class="col-12 col-md-6 mb-2 text-end">
					<button type="button" class="btn btn-secondary" @click="showTransfersFilters = showTransfersFilters?false:true;">
						Фильтры
					</button>
				</div>
			</div>

			<!-- Фильтры -->
			<div class="row" v-if="showTransfersFilters">
				<div class="col-12 col-md-3 mb-2">
					<template v-if="!transfersFilter.bitrix_contact">
						<i class="far fa-address-book"></i> <label>Клиент</label>
						<input v-model="searchContact.string" class="form-control" placeholder="Поиск по клиенту" autocomplete="off" @focus="searchContact.transferId = null;">
						<ul class="list-group small">
							<template v-for="contact in foundContacts">
								<contact-full :contact="contact" :transfer="null" @clicked="transfersFilterContactClick"></contact-full>
							</template>
						</ul>
					</template>
					<template v-if="transfersFilter.bitrix_contact">
						<contact-min :contact="transfersFilter.bitrix_contact" @delete="transfersFilterContactDelete"></contact-min>
					</template>
				</div>
				<div class="col-12 col-md-3 mb-2">
					<i class="far fa-comment-alt"></i> <label>Комментарий</label>
					<input v-model="transfersFilter.text" class="form-control" placeholder="Поиск по комментарию" autocomplete="off">
				</div>
				<div class="col-12 col-md-2 mb-2">
					<label>ID платежа</label>
					<input v-model="transfersFilter.id" class="form-control" placeholder="Поиск по ID" autocomplete="off">
				</div>
				<div class="col-12 col-md-2 mb-2">
					<i class="fas fa-exchange-alt"></i> <label>Источник</label>
					<select v-model="transfersFilter.source" class="form-select">
						<option :value="null">Не выбран</option>
						<option v-for="source in transferSources" :value="source">@{{ source }}</option>
					</select>
				</div>
				<div class="col-12 col-md-2 mb-2">
					<i class="fas fa-sort"></i> <label>Упорядочить по</label>
					<select v-model="transfersFilter.order_by" class="form-select">
						<option :value="null">По дате платежа</option>
						<option value="transfers.created_at">По дате создания записи</option>
						<option value="transfers.update_date">По дате редактирования</option>
					</select>
				</div>
				<div class="col-12 col-md-2 mb-2">
					<i class="far fa-calendar-alt"></i> <label>Дата от</label>
					<input type="text" v-model="transfersFilter.dateFrom" v-mask="'##.##.####'" placeholder="Дата от" class="form-control">
				</div>
				<div class="col-12 col-md-2 mb-2">
					<i class="far fa-calendar-alt"></i> <label>Дата до</label>
					<input type="text" v-model="transfersFilter.dateTo" v-mask="'##.##.####'" placeholder="Дата до" class="form-control">
				</div>
				<div class="col-12 col-md-2 mb-2">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" v-model="transfersFilter.withoutLead" id="withoutLead">
						<label class="form-check-label" for="withoutLead">Без клиента</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" v-model="transfersFilter.withoutReceipt" id="withoutReceipt">
						<label class="form-check-label" for="withoutReceipt">Без чеков</label>
					</div>
				</div>
				<div class="col-12 col-md-2 mb-2">
					<div class="form-check form-switch" v-if="user.role_admin">
						<input class="form-check-input" type="checkbox" role="switch" v-model="transfersFilter.notVerified" id="notVerified">
						<label class="form-check-label" for="notVerified">Непроверенные</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" v-model="transfersFilter.duplicates" id="duplicates">
						<label class="form-check-label" for="duplicates">Дубли</label>
					</div>
				</div>
				<div class="col-12 col-md-2 mb-2">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" v-model="transfersFilter.incomes" id="incomes">
						<label class="form-check-label" for="incomes">Приходы</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" v-model="transfersFilter.expenses" id="expenses">
						<label class="form-check-label" for="expenses">Расходы</label>
					</div>
				</div>
			</div>

			<!-- Список платежей -->
			<div class="row">
				<div class="col-12">
					<!-- <transfer 
					v-for="transfer in transfers"
					:transfer="transfer"
					:isRoot="isRoot"
					:showTransferDateEdit="showTransferDateEdit"
					:searchContact="searchContact"
					>						
					</transfer> -->
					<table ref="transfers" class="table table-striped">
						<tr style="font-weight: bold;">
							<td>ID</td>
							<td style="min-width: 130px;">Дата</td>
							<td style="min-width: 300px;">Клиент</td>
							<td style="min-width: 150px;">Сумма</td>
							<td>Источник</td>
							<td>Комментарий</td>
							<td style="min-width: 150px;">Остаток</td>
						</tr>
						<tr v-for="transfer in transfers">
							<td>
								@{{ transfer.id }}
								<button v-if="user.role_delete_transfer" class="btn btn-sm btn-link text-danger" @click="(confirm('Удалить платеж '+ transfer.id +'?')?deleteTransfer(transfer):'')">
									<i class="fas fa-minus-circle"></i>
								</button>
							</td>
							<td>
								<div v-if="!showTransferDateEdit">
									@{{ moment(transfer.date).format('DD.MM.YYYY') }}
									<i class="far fa-edit" @click="showTransferDateEdit = transfer.id;" v-if="user.role_root"></i>
								</div>
								<div v-if="showTransferDateEdit == transfer.id">
									<input v-model="transfer.date" class="form-control" placeholder="Дата" autocomplete="off">
									<button class="btn btn-sm btn-light" @click="showTransferDateEdit = false;">Отмена</button>
									<button class="btn btn-sm btn-primary" @click="showTransferDateEdit = false; updateTransfer(transfer);">ОК</button>
								</div>
							</td>
							<td>
								<div class="mb-2 small">
									<div v-if="transfer.bitrix_contact">
										<contact-min
										:contact="transfer.bitrix_contact"
										:transfer="transfer"
										:show_edit_btn="true"
										@delete="transferContactDelete"
										@edit="transferContactEdit"></contact-min>
									</div>
									<div v-if="!transfer.bitrix_contact">
										<i class="far fa-address-book"></i> не указан
										<button class="btn btn-sm" @click="searchContact.transferId = ((searchContact.transferId == transfer.id)?null:transfer.id); searchContact.string = null;">
											<i class="fas fa-search"></i>
										</button>
									</div>
									<div v-if="searchContact.transferId == transfer.id" >
										<input v-model="searchContact.string" class="form-control" placeholder="Поиск клиента" autocomplete="off">
										<ul class="list-group small">
											<template v-for="contact in foundContacts">
												<contact-full :contact="contact" :transfer="transfer" @clicked="transferContactClick"></contact-full>
											</template>
										</ul>
									</div>
								</div>
								<div class="mb-2 small d-none">
									<i class="fas fa-receipt"></i>
									<span v-if="transfer.receipt" :style="((((transfer.receipt.cash?'касса':'р/с') != transfer.source) || (parseFloat(transfer.value) != parseFloat(transfer.receipt.sum)))?'color: red;':'')">@{{ transfer.receipt.date }} №@{{ transfer.receipt.num_fd }} @{{ transfer.receipt.cash?'касса':'р/с' }} @{{ transfer.receipt.sum }} руб.
										<button v-if="user.role_admin" class="btn btn-sm" @click="searchReceipt.transferId = (searchReceipt.transferId == transfer.id)?null:transfer.id">
											<i class="far fa-edit"></i>
										</button>
										<button v-if="user.role_admin && (searchReceipt.transferId == transfer.id) && transfer.receipt_id" class="btn btn-sm text-danger" @click="transfer.receipt_id = null; updateTransfer(transfer); searchReceipt.transferId = null;">
											<i class="fas fa-minus-circle"></i>
										</button>
									</span>
									<span v-if="!transfer.receipt">
										не указан
										<button v-if="user.role_admin" class="btn btn-sm" @click="searchReceipt.transferId = (searchReceipt.transferId == transfer.id)?null:transfer.id">
											<i class="fas fa-search"></i>
										</button>
									</span>
									<div v-if="user.role_admin && (searchReceipt.transferId == transfer.id)" style="overflow: scroll; max-height: 300px;">
										<ul class="list-group">
											<li class="list-group-item list-group-item-action" @click="transfer.receipt_id = null; updateTransfer(transfer); searchReceipt.transferId = null;">
												Не указан
											</li>
											<li class="list-group-item list-group-item-action" v-for="receipt in receipts" @click="transfer.receipt_id = receipt.id; updateTransfer(transfer); searchReceipt.transferId = null;">
												@{{ receipt.date }} №@{{ receipt.num_fd }} @{{ receipt.cash?'Наличные':'Безнал' }} @{{ receipt.sum }} руб.
											</li>
										</ul>
									</div>
								</div>
								<div class="mb-2 small">
									<i class="fas fa-receipt"></i>
									<span v-if="transfer.modulkassa_receipt">
										<modulkassa_receipt :receipt="transfer.modulkassa_receipt"></modulkassa_receipt>
										<small v-if="!isModulkassaReceiptCorrect(transfer)" style="color: red;">Не сходится сумма или источник</small>
										<button v-if="user.role_edit_receipts" class="btn btn-sm" @click="searchModulkassaReceipt.transferId = (searchModulkassaReceipt.transferId == transfer.id)?null:transfer.id">
											<i class="far fa-edit"></i>
										</button>
										<button v-if="user.role_edit_receipts && (searchModulkassaReceipt.transferId == transfer.id) && transfer.receipt_id" class="btn btn-sm text-danger" @click="transfer.receipt_id = null; updateTransfer(transfer); searchModulkassaReceipt.transferId = null;">
											<i class="fas fa-minus-circle"></i>
										</button>
									</span>
									<span v-if="!transfer.modulkassa_receipt">
										не указан
										<button v-if="user.role_edit_receipts" class="btn btn-sm" @click="searchModulkassaReceipt.transferId = (searchModulkassaReceipt.transferId == transfer.id)?null:transfer.id">
											<i class="fas fa-search"></i>
										</button>
									</span>
									<div v-if="user.role_edit_receipts && (searchModulkassaReceipt.transferId == transfer.id)" style="overflow: scroll; max-height: 300px;">
										<ul class="list-group">
											<li class="list-group-item list-group-item-action" @click="transfer.modulkassa_receipt_id = null; updateTransfer(transfer); searchModulkassaReceipt.transferId = null;">
												Не указан
											</li>
											<li class="list-group-item list-group-item-action" v-for="receipt in modulkassaReceipts" @click="transfer.modulkassa_receipt_id = receipt.id; updateTransfer(transfer); searchModulkassaReceipt.transferId = null; getModulkassaReceipts();">
												<modulkassa_receipt :receipt="receipt"></modulkassa_receipt>
											</li>
										</ul>
									</div>
								</div>
							</td>
							<td>@{{ transfer.value }} руб.</td>
							<td>
								<div v-if="!showTransferSourceEdit">
									@{{ transfer.source }}
									<span v-if="transfer.to_source">
										<i class="fas fa-long-arrow-alt-right"></i>
										@{{ transfer.to_source }}
									</span>
									<i class="far fa-edit" @click="showTransferSourceEdit = transfer.id;" v-if="user.role_root"></i>
								</div>
								<div v-if="showTransferSourceEdit == transfer.id">
									<label>Источник</label>
									<select v-model="transfer.source" class="form-select" @change="showTransferSourceEdit = false; updateTransfer(transfer);">
										<option v-for="source in transferSources" :value="source">@{{ source }}</option>
									</select>
									<label>В источник</label>
									<select v-model="transfer.to_source" class="form-select" @change="showTransferSourceEdit = false; updateTransfer(transfer);">
										<option :value="null">Не выбрано</option>
										<option v-for="source in transferSources" :value="source">@{{ source }}</option>
									</select>
								</div>
							</td>
							<td>
								<div v-if="!showTransferTextEdit">
									@{{ transfer.text }}
									<i class="far fa-edit" @click="showTransferTextEdit = transfer.id;" v-if="user.role_root"></i>
								</div>
								<div v-if="showTransferTextEdit == transfer.id">
									<textarea v-model="transfer.text" class="form-control" placeholder="Комментарий" autocomplete="off"></textarea>
									<button class="btn btn-sm btn-light" @click="showTransferTextEdit = false;">Отмена</button>
									<button class="btn btn-sm btn-primary" @click="showTransferTextEdit = false; updateTransfer(transfer);">ОК</button>
								</div>
							</td>
							<td>
								<span v-if="transfer.source == 'касса'">@{{ transfer.moment_balance }} руб.</span>
								<div v-if="user.role_admin" class="form-check form-switch mt-2">
									<input class="form-check-input" type="checkbox" role="switch" v-model="transfer.verified" :id="'transfer'+transfer.id+'Verified'" @change="console.log(transfer); updateTransfer(transfer);">
									<label class="form-check-label" :for="'transfer'+transfer.id+'Verified'">Проверен</label>
								</div>
							</td>
						</tr>
					</table>
					<div ref="pagination" class="mb-3">
						<button v-if="transfersFilter.page > 1" class="btn btn-dark" @click="transfersFilter.page--">Назад</button>
						<span class="badge bg-dark">@{{ transfersFilter.page }}</span>
						<button v-if="transfers.length == transfersFilter.limit" class="btn btn-dark" @click="transfersFilter.page++">Вперед</button>
					</div>
				</div>
			</div>

		</div>

		{admin/transfers/templates/contact-min.html}
		{admin/transfers/templates/contact-full.html}
		{admin/transfers/templates/modulkassa_receipt.html}
		{admin/transfers/templates/transfer.html}

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://momentjs.com/downloads/moment.js"></script>
		<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="/types/helpme/template/admin/transfers/app.js"></script>
	</div>
</body>
</html>