body {
	background-image: url("images/concrete_seamless.png");
}
.adult {
	color: red;
	font-size: 14px;
	font-weight: bold;
	font-family: Impact;
}
.video-thumb {
	width: 240px;
	height: 180px;
	min-height: 180px;
	max-height: 180px;
	overflow: hidden;
}

.video-description {
	height: 120px;
	overflow: hidden;
}
.video-title {
	height: 60px;
	overflow: hidden;
}
.video-title a {
	color: #000;
}
.video-more-button {
	width: 300px;
	margin-bottom: 20px;
}
.panel-transparent {
	background: rgba(46, 51, 56, 0.1)!important;
}
.logo {
	width: 30vw;
	max-width: 470px;
	min-width: 200px;
	height: auto;
	/*overflow: hidden;*/
	/*margin-right: -12px;*/
}
.logo-margin {
	margin-top: 10px;
}
.logo-holder {
	margin-top: 10px;
	text-align: left;
	overflow: hidden;
}
.logo-holder-a {
	display: block;
	background-color: rgba(255, 255, 255, 0.52);
	width: 124px;
	/*border: 1px solid #fff;*/
	border-radius: 4px;

}
.menu-holder {
	margin-top: 10px;
}
.categories-link {
	font-weight: bold;
}
.categories a {
	color: #000;
}
#timer {
    font-size: 100px;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}
.video-description-full {
	/*width: 800px;*/
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}
.video-title-full {
	display: block;
	text-align: center;
}
.video-player {
	/*width: 700px;*/
	margin: 0 auto;
	margin-bottom: 10px;
}
.video-info {
	/*width: 700px;*/
	margin: 0 auto;
	margin-bottom: 20px;
}
.video-info .info-row {
	margin-bottom: 10px;
}
.video-info .left {
	float: left;
}
.video-info .right {
	float: right;
}
.video-info .video-views {
	margin-right: 25px;
	margin-top: 7px;
}
.video-info .video-categories {
	/*width: 570px;*/	
}
.like {
    margin-top: 5px;
    width: 100px;
}
.like .percent {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 12px;
    padding-left: 12px;
}
.like img {
    display: block;
    float: left;
}
.category-image {
	height: 230px;
	width: auto;
	float: right;
	margin-left: 15px;
}
.category-text {
	margin-bottom: 10px;
}
.counter {
	text-align: center;
}
.tags a {
	margin: 5px;
}
.thumbnail {
	min-width: 240px;
	max-width: 300px;
	border: none;
	background-color: rgba(255,255,255,0.44);
}

.navbar-inverse {
	background-image: linear-gradient(to bottom,#2f5f8e 0,#162d42 100%);
	border-color: #2f2f2f;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #ccc;
}

.btn-primary {
	background-image: linear-gradient(to bottom,#ca593e 0,#a25128 100%);
	border-color: #9e4d30;
}

.btn-primary:hover {
	background-color: #a64b38;
	border-color: #9e4d30;
	background-position: 0 -15px;
}

.header-holder {
	/*background-image: url("images/congruent_pentagon.png");*/
	/*border-radius: 4px;*/
	/*border: 1px solid #ccc;*/
	margin-bottom: 20px;
	/*height: 82px;*/
}