<template id="contact-min">
	<span>
		<i class="far fa-address-book"></i>
		@{{ contact.data.NAME }}
		<a :href="'https://bankrotstvodarom.bitrix24.ru/crm/contact/details/'+contact.id+'/'" target="_blank">
			<i class="fas fa-external-link-square-alt"></i>
		</a>
		<button class="btn btn-sm" v-if="show_edit_btn" @click="$emit('edit',{transfer: transfer})">
			<i class="far fa-edit"></i>
		</button>
		<button class="btn btn-sm" @click="$emit('delete',{transfer: transfer})">
			<i class="fas fa-minus-circle"></i>
		</button>
	</span>
</template>

<script>
	var contactMin = {
		template: '#contact-min',
		props: [
			'contact',
			'transfer',
			'show_edit_btn'
		],
		emits: [
			'delete',
			'edit',
		]
	}
</script>