<template id="contact-full">
	<li class="list-group-item list-group-item-action" @click="$emit('clicked',{contact: contact, transfer: transfer})">
		<div class="mb-2">
			<i class="far fa-address-book"></i> @{{ contact.data.NAME }}
			<a :href="'https://bankrotstvodarom.bitrix24.ru/crm/contact/details/'+contact.id+'/'">
				<i class="fas fa-external-link-square-alt"></i>
			</a>
		</div>
		<div class="mb-2" v-if="contact.data.PHONE">
			<div class="d-inline"><i class="fas fa-phone"></i></div>
			<ul class="d-inline list-inline">
				<li class="list-inline-item" v-for="phone in contact.data.PHONE">@{{ phone.VALUE }}</li>
			</ul>
		</div>
		<div v-if="contact.bitrix_deals">
			<b>Сделки:</b>
			<ol class="list-group list-group-numbered">
				<li class="list-group-item d-flex justify-content-between align-items-start" v-for="deal in contact.bitrix_deals">
					<div class="ms-2 me-auto">
						<p class="mb-1">
							@{{ deal.data.TITLE }}
							<a :href="'https://bankrotstvodarom.bitrix24.ru/crm/deal/details/'+deal.id+'/'">
								<i class="fas fa-external-link-square-alt"></i>
							</a>
						</p>
						<small class="fw-light">
							<span v-if="deal.contractId">дог.№@{{ deal.contractId }}<br></span>
							@{{ deal.bitrix_stage.bitrix_category.data.NAME }}, @{{ deal.bitrix_stage.data.NAME }}
						</small>
					</div>
				</li>
			</ol>
		</div>
	</li>
</template>

<script>
	var contactFull = {
		template: '#contact-full',
		props: ['contact','transfer'],
		emits: ['clicked']
	}
</script>