<template id="modulkassa_receipt">
	<span>
		<span v-if="receipt.refund">
			<span class="badge bg-danger">Возврат</span>
			<span class="badge bg-light text-dark"><i class="far fa-calendar-alt"></i> @{{ receipt.data[1] }}</span>
			<span class="badge bg-light text-dark">@{{ receipt.data[11] }} руб.</span>
			<span class="badge bg-light text-dark">@{{ receipt.data[12] }}</span>
			<span class="badge bg-light text-dark"><i class="far fa-comment-alt"></i> @{{ receipt.data[5] }}</span>
		</span>
		<span v-if="!receipt.refund">
			<span class="badge bg-success">Продажа</span>
			<span class="badge bg-light text-dark"><i class="far fa-calendar-alt"></i> @{{ receipt.data[1] }}</span>
			<span class="badge bg-light text-dark">@{{ receipt.data[13] }} руб.</span>
			<span class="badge bg-light text-dark">@{{ receipt.data[15] }}</span>
			<span class="badge bg-light text-dark"><i class="far fa-comment-alt"></i> @{{ receipt.data[5] }}</span>
		</span>
	</span>
</template>

<script>
	var modulkassa_receipt = {
		template: '#modulkassa_receipt',
		props: [
			'receipt',
		],
	}
</script>