<template id="transfer">
	<div class="row">
		<div class="col-1">
			@{{ transfer.id }}
			<button v-if="isRoot" class="btn btn-sm btn-link text-danger" @click="(confirm('Удалить платеж '+ transfer.id +'?')?deleteTransfer(transfer):'')">
				<i class="fas fa-minus-circle"></i>
			</button>
		</div>
		<div class="col-2">
			<div v-if="!showTransferDateEdit">
				@{{ moment(transfer.date).format('DD.MM.YYYY') }}
				<i class="far fa-edit" @click="showTransferDateEdit = transfer.id;" v-if="isRoot"></i>
			</div>
			<div v-if="showTransferDateEdit == transfer.id">
				<input v-model="transfer.date" class="form-control" placeholder="Дата" autocomplete="off">
				<button class="btn btn-sm btn-light" @click="showTransferDateEdit = false;">Отмена</button>
				<button class="btn btn-sm btn-primary" @click="showTransferDateEdit = false; updateTransfer(transfer);">ОК</button>
			</div>
		</div>
		<div class="col-3">
			<div class="mb-2 small">
				<div v-if="transfer.bitrix_contact">
					<contact-min
					:contact="transfer.bitrix_contact"
					:transfer="transfer"
					:show_edit_btn="true"
					@delete="transferContactDelete"
					@edit="transferContactEdit"></contact-min>
				</div>
				<div v-if="!transfer.bitrix_contact">
					<i class="far fa-address-book"></i> не указан
					<button class="btn btn-sm" @click="searchContact.transferId = ((searchContact.transferId == transfer.id)?null:transfer.id); searchContact.string = null;">
						<i class="fas fa-search"></i>
					</button>
				</div>
				<div v-if="searchContact.transferId == transfer.id" >
					<input v-model="searchContact.string" class="form-control" placeholder="Поиск клиента" autocomplete="off">
					<ul class="list-group small">
						<template v-for="contact in foundContacts">
							<contact-full :contact="contact" :transfer="transfer" @clicked="transferContactClick"></contact-full>
						</template>
					</ul>
				</div>
			</div>
			<div class="mb-2 small">
				<i class="fas fa-receipt"></i>
				<span v-if="transfer.receipt" :style="((((transfer.receipt.cash?'касса':'р/с') != transfer.source) || (parseFloat(transfer.value) != parseFloat(transfer.receipt.sum)))?'color: red;':'')">@{{ transfer.receipt.date }} №@{{ transfer.receipt.num_fd }} @{{ transfer.receipt.cash?'касса':'р/с' }} @{{ transfer.receipt.sum }} руб.
					<button v-if="isAdmin" class="btn btn-sm" @click="searchReceipt.transferId = (searchReceipt.transferId == transfer.id)?null:transfer.id">
						<i class="far fa-edit"></i>
					</button>
					<button v-if="isAdmin && (searchReceipt.transferId == transfer.id) && transfer.receipt_id" class="btn btn-sm text-danger" @click="transfer.receipt_id = null; updateTransfer(transfer); searchReceipt.transferId = null;">
						<i class="fas fa-minus-circle"></i>
					</button>
				</span>
				<span v-if="!transfer.receipt">
					не указан
					<button v-if="isAdmin" class="btn btn-sm" @click="searchReceipt.transferId = (searchReceipt.transferId == transfer.id)?null:transfer.id">
						<i class="fas fa-search"></i>
					</button>
				</span>
				<div v-if="isAdmin && (searchReceipt.transferId == transfer.id)" style="overflow: scroll; max-height: 300px;">
					<ul class="list-group">
						<li class="list-group-item list-group-item-action" @click="transfer.receipt_id = null; updateTransfer(transfer); searchReceipt.transferId = null;">
							Не указан
						</li>
						<li class="list-group-item list-group-item-action" v-for="receipt in receipts" @click="transfer.receipt_id = receipt.id; updateTransfer(transfer); searchReceipt.transferId = null;">
							@{{ receipt.date }} №@{{ receipt.num_fd }} @{{ receipt.cash?'Наличные':'Безнал' }} @{{ receipt.sum }} руб.
						</li>
					</ul>
				</div>
			</div>
			<div class="mb-2 small">
				<i class="fas fa-receipt"></i>
				<span v-if="transfer.modulkassa_receipt">
					<modulkassa_receipt :receipt="transfer.modulkassa_receipt"></modulkassa_receipt>
					<small v-if="!isModulkassaReceiptCorrect(transfer)" style="color: red;">Не сходится сумма или источник</small>
					<button v-if="isAdmin" class="btn btn-sm" @click="searchModulkassaReceipt.transferId = (searchModulkassaReceipt.transferId == transfer.id)?null:transfer.id">
						<i class="far fa-edit"></i>
					</button>
					<button v-if="isAdmin && (searchModulkassaReceipt.transferId == transfer.id) && transfer.receipt_id" class="btn btn-sm text-danger" @click="transfer.receipt_id = null; updateTransfer(transfer); searchModulkassaReceipt.transferId = null;">
						<i class="fas fa-minus-circle"></i>
					</button>
				</span>
				<span v-if="!transfer.modulkassa_receipt">
					не указан
					<button v-if="isAdmin" class="btn btn-sm" @click="searchModulkassaReceipt.transferId = (searchModulkassaReceipt.transferId == transfer.id)?null:transfer.id">
						<i class="fas fa-search"></i>
					</button>
				</span>
				<div v-if="isAdmin && (searchModulkassaReceipt.transferId == transfer.id)" style="overflow: scroll; max-height: 300px;">
					<ul class="list-group">
						<li class="list-group-item list-group-item-action" @click="transfer.modulkassa_receipt_id = null; updateTransfer(transfer); searchModulkassaReceipt.transferId = null;">
							Не указан
						</li>
						<li class="list-group-item list-group-item-action" v-for="receipt in modulkassaReceipts" @click="transfer.modulkassa_receipt_id = receipt.id; updateTransfer(transfer); searchModulkassaReceipt.transferId = null; getModulkassaReceipts();">
							<modulkassa_receipt :receipt="receipt"></modulkassa_receipt>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-2">
			@{{ transfer.value }} руб.
		</div>
		<div class="col-2">
			<div v-if="!showTransferSourceEdit">
				@{{ transfer.source }}
				<span v-if="transfer.to_source">
					<i class="fas fa-long-arrow-alt-right"></i>
					@{{ transfer.to_source }}
				</span>
				<i class="far fa-edit" @click="showTransferSourceEdit = transfer.id;" v-if="isRoot"></i>
			</div>
			<div v-if="showTransferSourceEdit == transfer.id">
				<label>Источник</label>
				<select v-model="transfer.source" class="form-select" @change="showTransferSourceEdit = false; updateTransfer(transfer);">
					<option v-for="source in transferSources" :value="source">@{{ source }}</option>
				</select>
				<label>В источник</label>
				<select v-model="transfer.to_source" class="form-select" @change="showTransferSourceEdit = false; updateTransfer(transfer);">
					<option :value="null">Не выбрано</option>
					<option v-for="source in transferSources" :value="source">@{{ source }}</option>
				</select>
			</div>
		</div>
		<div class="col-2">
			<div v-if="!showTransferTextEdit">
				@{{ transfer.text }}
				<i class="far fa-edit" @click="showTransferTextEdit = transfer.id;" v-if="isRoot"></i>
			</div>
			<div v-if="showTransferTextEdit == transfer.id">
				<textarea v-model="transfer.text" class="form-control" placeholder="Комментарий" autocomplete="off"></textarea>
				<button class="btn btn-sm btn-light" @click="showTransferTextEdit = false;">Отмена</button>
				<button class="btn btn-sm btn-primary" @click="showTransferTextEdit = false; updateTransfer(transfer);">ОК</button>
			</div>
		</div>
		<div class="col-1">
			<span v-if="transfer.source == 'касса'">@{{ transfer.moment_balance }} руб.</span>
			<div v-if="isAdmin" class="form-check form-switch mt-2">
				<input class="form-check-input" type="checkbox" role="switch" v-model="transfer.verified" :id="'transfer'+transfer.id+'Verified'" @change="console.log(transfer); updateTransfer(transfer);">
				<label class="form-check-label" :for="'transfer'+transfer.id+'Verified'">Проверен</label>
			</div>
		</div>
	</div>
</template>

<script>
	var transfer = {
		template: '#transfer',
		props: [
		'transfer',
		'isRoot',
		'showTransferDateEdit',
		'searchContact'
		],
	}
</script>