/* ::::: http://www.hit-seller.com.ua/css/style.css ::::: */

html, body { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238); font: 14px Arial,tahoma; color: rgb(21, 14, 18); min-width: 1000px; }
a { color: rgb(28, 128, 194); font: 15px Lucida Console; text-decoration: none; }
a:hover { color: rgb(55, 55, 55); }
a img { border: 0px none; }
a, img, div, input { outline: medium none; }
img { border: 0px none; }
ul, li { margin: 0px; padding: 0px; list-style-type: none; }
ol, ul { list-style-position: inside; }
input[type="submit"]::-moz-focus-inner { padding: 0px 3px 5px; border: 0px none; }
.d { text-decoration: line-through; color: rgb(255, 0, 0); font-size: 35px; text-align: center; }
#price { color: rgb(0, 128, 0); font-size: 25px; text-align: center; }
.timer_head { font: 20px Calibri; color: rgb(0, 0, 0); text-align: center; margin: 15px 0px 8px; }
.clr, .clear { width: 100%; clear: both; margin: 0px; padding: 0px; display: block; }
.all { width: 1000px; margin: 0px auto; }
.head { width: 1004px; clear: both; height: 452px; margin: 0px 0px 0px -2px; background: url('head.png') no-repeat scroll 0% 0% transparent; }
.menu { clear: both; width: 1000px; height: 43px; background: url('menu_bg.png') repeat-x scroll 0% 0% transparent; border-radius: 15px; overflow: hidden; margin: 0px 0px 25px; border-top: 1px solid rgb(161, 161, 161); border-bottom: 1px solid rgb(96, 96, 96); }
.menu ul { white-space: nowrap; overflow: hidden; border-radius: 15px; }
.menu ul li { white-space: nowrap; float: left; display: inline-block; width: 200px; height: 43px; text-align: center; border-left: 1px solid rgb(137, 137, 137); margin: 0px 0px 0px -1px; }
.menu ul li:first-child { border-radius: 15px 0px 0px 15px; }
.menu ul li.active { background: url('menu_bg_active.png') repeat-x scroll 0% 0% transparent ! important; }
.menu ul li:active { background: url('menu_bg_active.png') repeat-x scroll 0% 0% transparent ! important; }
.menu ul li:hover { /*background: url('menu_bg_hover.png') repeat-x scroll 0% 0% transparent;*/ }
.menu ul li a { font: 17px/43px Calibri; color: rgb(255, 255, 255); display: block; width: 200px; height: 43px; }
.section_01 { clear: both; width: 1000px; }
.you_tube_box { width: 460px; height: 345px; float: left; display: inline; padding-left: 22px; font: 17px calibri; color: rgb(0, 0, 0); }
.box_info_01 { width: 444px; height: 340px; padding: 0px 20px; float: right; display: inline; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(148, 148, 148); border-right: 1px solid rgb(148, 148, 148); border-radius: 15px; font: 17px calibri; color: rgb(0, 0, 0); }
.box_info_01 h2 { font: bold 20px Calibri; color: rgb(0, 0, 0); margin: 15px 0px 5px; }
.box_info_01 .button { display: block; width: 172px; height: 49px; background: url('bt_01.png') no-repeat scroll 0px -49px transparent; margin: 0px auto; }
.box_info_01 .button:hover { background-position: 0px 0px; }
.box_info_01 .button a { display: block; width: 172px; height: 49px; font: 20px/49px calibri; color: rgb(255, 255, 255); text-align: center; }
.section_02 { clear: both; margin: 35px 0px 0px; }
.box_info_02 { width: 277px; height: 437px; float: left; display: inline; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(148, 148, 148); border-right: 1px solid rgb(148, 148, 148); border-radius: 15px; font: 17px calibri; color: rgb(0, 0, 0); padding: 0px 10px 0px 15px; }
.box_info_02 p { margin: 5px 0px; font: 18px Calibri; color: rgb(0, 0, 0); height: 140px; }
.mar_x38 { margin: 0px 38px; }
.section_03 { clear: both; width: 972px; padding: 0px 15px 10px; margin: 35px 0px 20px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(148, 148, 148); border-right: 1px solid rgb(148, 148, 148); border-radius: 15px; font: 17px calibri; color: rgb(0, 0, 0); }
.section_03 .right_boxx { width: 972px; float: left; }
.section_03 .right_boxx h2 { font: 20px Calibri; color: rgb(0, 0, 0); clear: both; margin: 10px 0px 0px; }
.section_03 .right_boxx ul {  }
.section_03 .right_boxx ul li { font: 17px Calibri; color: rgb(0, 0, 0); padding: 0px 0px 0px 15px; margin: 5px 0px 0px; /*background: url('img_05.png') no-repeat scroll left 7px transparent;*/ }
.otziv {  }
.otziv h2 { font: 20px calibri; color: rgb(0, 0, 0); }
.otziv_box { width: 1000px; }
.otziv_box li { background: none repeat scroll 0% 0% rgb(247, 247, 247); margin: 0px 0px 10px; padding: 15px; border-radius: 15px; border: 1px solid rgb(210, 210, 210); }
.otziv_box li .name { display: block; margin: 0px 0px 10px; }
.otziv_box li .name a { font: 14px calibri; color: rgb(0, 106, 179); }
.otziv_box li .text { display: block; font: 14px calibri; color: rgb(0, 0, 0); }
.down_menu_box { width: 1000px; text-align: center; margin: 10px 0px; }
.down_menu { width: auto; }
.down_menu li { display: inline-block; margin: 0px 10px; }
.down_menu li a { font: 18px calibri; color: rgb(0, 0, 0); }
.down_menu li a:hover { text-decoration: underline; }
h2 { font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 40px; font-weight: bold; color: rgb(255, 0, 0); text-align: center; line-height: 45px; }
/* ::::: http://www.hit-seller.com.ua/css/slimbox2.css ::::: */

#lbBottom { font-family: Verdana,Arial,Geneva,Helvetica,sans-serif; font-size: 10px; color: rgb(102, 102, 102); line-height: 1.4em; text-align: left; border-width: 10px; border-right: 10px solid rgb(255, 255, 255); border-style: none solid solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
