﻿.time{display: inline-block;vertical-align: top;margin-right: 0px;margin-left: 30px;}
.timecount.county{width: 225px!important;display: inline-block;vertical-align: middle;margin-right: 25px;}
.countdown .label{font-weight: 400;font-size: 12px;color:#f1f1f1;text-transform: uppercase;width: 52px;margin: 0 13px 4px 0;text-align: center;display: inline-block;}
.county .county-seconds-wrapper {color: #e62525;margin-right: 0;}
.countdown .county > span.county-days-wrapper{display: none;}

.county > span{width: 60px;display: inline-block;height: 59px;font-size: 43px;line-height: 60px;position: relative;
    overflow: hidden;margin: 0 10px 0 0px; color: #242424; text-align: center;background: url(../img/count.png) no-repeat center;font-weight: 700;}
.county > span:after{content:"";background: url(../img/count-line.png) no-repeat left top;width:60px;height:8px;position:absolute;left: 0;top: 25px;}
.county > span > span{display: block;height: inherit;}



