@font-face {
    font-family: 'pf_din_text_cond';
    font-weight: normal;
    font-style: normal;
    src: url('pfdintextcondpro-medium-webfont.eot');
    src: url('pfdintextcondpro-medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('pfdintextcondpro-medium-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-medium-webfont.html#pf_din_text_cond_promedium') format('svg');
}
@font-face {
    font-family: 'pf_din_text_cond_bold';
    font-weight: bold;
    font-style: normal;
    src: url('pfdintextcondpro-bold-webfont.eot');
    src: url('pfdintextcondpro-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-bold-webfont.woff') format('woff'),
         url('pfdintextcondpro-bold-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
}