/*--== ACTION STICKY ==--*/
.action-sticky-wrapper,
.action-sticky{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	backface-visibility: hidden;
}
.action-sticky-wrapper *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.action-sticky{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
	z-index: 777;
	min-width: 240px;
	text-align: center;
	padding: 5px;
}
/*hidden action*/
.action-sticky-hidden .action-sticky{
	display: none;
	height: 0;
	padding: 0;
}
.action-sticky-hidden .action-sticky-closer{
	display: none;
}
/*hidden action end*/
.action-sticky-center{
	max-width: 980px;
	margin: 0 auto;
}
.action-sticky-text{
	display: inline-block;
	vertical-align: middle;
	line-height: 26px;
	padding: 5px 55px;
	text-align: center;
	position: relative;
	font-size: 26px;
	color: #ffffff;
	letter-spacing: 0;

}
.action-sticky-text nobr{
	font-weight: bold;
	color: #0ebe70;
}
.action-sticky-holder{
	font-size: 0;
	letter-spacing: -4px;
}
.action-sticky-timer{
	height: auto;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	font-size: 14px;
	letter-spacing: normal;
}
.action-sticky-timer .timer-text{
	text-align: center;
	padding: 0 0 7px;
	font-size: 18px;
}
.action-sticky-timer .time-item{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: auto;
	width: 24%;
	font-size: 36px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	letter-spacing: normal;
	margin: 0 0.5%;
	padding-bottom: 16px;
	border-radius: 7px;
	background: #113f50;
}
.action-sticky-timer .time-item.days {
	display: none;
}
.action-sticky-timer .time-unit {
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #fff;
	text-align: center;
}
.action-sticky-btn{
	padding: 5px 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	letter-spacing: normal;
}
.action-sticky-btn .btn-default{
	display: inline-block;
	vertical-align: top;
	font: 30px/1.2 Arial, Helvetica, sans-serif;
	padding: 4px 20px;
	min-width: 212px;
	background: #FFDD04;
	border: 3px solid #FFB301;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	border-radius: 20px;
}
.action-sticky-btn .btn-default:hover{
	background: #34495e;
	color: #88b8d4;
	border-color: #88b8d4;
}
.action-sticky-btn .btn-default:active{
	position: relative;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
	bottom: -1px;
}

/*action sticky closer*/
.action-sticky-closer{
	position: absolute;
	right: 1%;
	top: 8px;
	padding: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	overflow: hidden;
	white-space: nowrap!important;
	border: 1px solid #ddd;
	color: #333;
	background-color: #f6f6f6;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	border-radius: 50%;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	backface-visibility: hidden;
}
.action-sticky-closer:hover{
	background-color: #ededed;
}
.action-sticky-closer:active{
	background-color: #e6e6e6;
	box-shadow: none;
}
.action-sticky-closer > span{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -14px;
	top: 50%;
	margin-top: -14px;
	width: 28px;
	height: 28px;
	background-color: #666;
	background-color: rgba(0,0,0,.3);
	border-radius: 50%;
}
.action-sticky-closer > span:before,
.action-sticky-closer > span:after{
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -12px;
	top: 50%;
	margin-top: -3px;
	height: 6px;
	width: 24px;
	backface-visibility: hidden;
	border-radius: 0.15em;
	background: #fff;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.action-sticky-closer > span:before{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.action-sticky-closer > span:after{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.counter-inline li{
	display: inline-block;
	vertical-align: top;
}

.count-div{
	width: 40px;
	height: 40px;
	background: #ffffff;
	color: #005E66;
	line-height: 40px;
	font-size: 40px;

}

.timer-text{
	color: #ffffff;
}

.count_separator{
	color: #ffffff;
	font-size: 34px;
	line-height: 40px;
	margin-top: -5px;
}

/*action sticky closer end*/
/*--== ACTION STICKY END ==--*/

/*--== ACTION STICKY MEDIA QUERIES ==--*/
@media screen and (max-width: 639px){
	.action-sticky-text{
		font-size: 16px;
		line-height: 17px;
		display: block;
	}
	.action-sticky .btn-default{
		font-size: 18px;
		min-width: 0;
		border-width: 2px;
	}
	.action-sticky-text{
		padding: 5px;
	}
	.action-sticky-timer{
		width: 100%;
	}
	.action-sticky-timer .time-item{
		margin: 0 2%;
		width: 29%;
		font-size: 20px;
		line-height: 28px;
		padding: 0 0 5px;
	}
	.action-sticky-timer .time-unit{
		font-size: 8px;
		line-height: 12px;
		bottom: 0;
	}
	.action-sticky-btn {
		width: 100%;
		text-align: center;
	}
	.action-sticky-closer{
		top: 100%;
		margin: -38px 0 0;
		right: 5px;
	}
	.action-sticky-closer > span:before,
	.action-sticky-closer > span:after{
		width: 16px;
		margin-top: -4px;
	}
	.action-sticky-closer > span:before{
		margin-left: -4px;
	}
	.action-sticky-closer > span:after{
		margin-left: -11px;
	}
	/*hidden action*/
	.action-sticky-hidden .action-sticky-wrapper{
		padding-top: auto !important;
	}
	.action-sticky-hidden .action-sticky{
		display: block;
		height: auto;
		padding: 5px 0;
	}
	.action-sticky-hidden .action-sticky-text,
	.action-sticky-hidden .action-sticky-timer{
		display: none;
	}
	.action-sticky-hidden .action-sticky-holder{
		margin: 0;
	}
	/*hidden action end*/

	.timer-text{
		display: none;
	}

	.count-div{
		width: 30px;
		height: 30px;
		background: #ffffff;
		color: #005E66;
		line-height: 30px;
		font-size: 30px;
	}

	.count_separator{
		color: #ffffff;
		font-size: 34px;
		line-height: 30px;
		margin-top: -2px;
	}
}
@media screen and (max-width: 405px){
	.action-sticky{
		text-align: left;
	}
	.action-sticky-hidden .action-sticky{
		text-align: center;
	}
	.action-sticky-timer .time-item{
		margin: 0 2%;
		width: 29%;
		font-size: 20px;
		line-height: 28px;
		padding: 0 0 6px;
		height: auto;
	}
	.action-sticky-timer .time-unit{
		font-size: 8px;
		line-height: 12px;
		margin: 0;
		width: 100%;
		bottom: 0;
	}

	.variant_text1{
		font-size: 16px;
	}

	.action-sticky-closer {
		margin: 8px 0 0;
		right: 9px;
		top: 0;
	}
}
@media only screen and (max-width: 319px){
	.action-sticky-text{
		font-size: 1em;
	}
	.action-sticky .btn-default{
		font-size: 16px;
		padding: 2px 9px;
	}
	.action-sticky-timer .timer-text {
		display: none;
	}
	.action-sticky-timer .time-item {
		font-size: 17px;
		line-height: 27px;
		padding: 0;
	}
	.action-sticky-timer .time-unit{
		display: none;
		padding: 0;
	}

	.count-div{
		width: 25px;
		height: 25px;
		background: #ffffff;
		color: #005E66;
		line-height: 25px;
		font-size: 18px;
	}

	.count_separator{
		color: #ffffff;
		font-size: 24px;
		line-height: 25px;
		margin-top: -1px;
	}
}
/*--== ACTION STICKY MEDIA QUERIES END ==--*/