@media all and (max-width: 1140px){

    #header, #body {
        min-width: 240px;
    }

    .el4{
        height: auto;
        background-size: cover;
    }

    .el4 .el4_1{
        width: 100%;
    }

    .el4 .el4_1 table{
        width: auto;
    }

    .el4 .el4_1 table tr td {
        text-align: left;
        padding-top: 7px;
    }

    .el5 .el5_1 {
        width: 100%;
    }

    .compl-img{
        width: 45%;
        margin: 0 2.5% 30px;
    }

    .compl-img img{
        max-width: 100%;
    }

    .el3:before {
        content: "";
    }

    .el3 {
        height: auto;
        background-position: top left;
        padding-bottom: 10px;
        background-size: cover;
    }

    .el3 .el3_1 .el3_3{
        float: none;
        width: 100%;
        text-align: left;
        padding: 0 20px;
    }

    .el3 .el3_1 .el3_2 {
        float: none;
        width: 100%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .el3 .el3_1 {
        width: 100%;
        padding-top: 85px;
    }

	.el1 {
		position: relative;
		height: 820px;
		background-image: url('../img/el1_640.jpg');
	}

	.el1 .el1_1 {
		width: 100%;
	}

	.el1 .el1_1 h1 {
		margin-left: 0;
		padding-top: 14px;
		text-align: center;
	}

	.el1 .el1_1 p {
		width: 80%;
		margin: 0 auto;
	}

	.price{
		display: none;
	}

	.el1 .el1_1 .el1_2{
		display: none;
	}

	.top_price_mob{
		display: block;
		position: absolute;
		left: 10%;
		bottom: 30px;
		color: #FF0048;
		font-size: 36px;
	}
}

@media all and (max-width: 768px){
    .el5 .el5_1 .el5_2{
        width: 96%;
        min-width: 220px;
        display: block;
        margin: 50px auto 40px;
        min-height: 0;
    }

    .el4 .el4_1 table.first-child {
        margin-right: 0;
    }
}

@media all and (max-width: 640px){


	.el1 {
		position: relative;
		height: auto;
		background-image: url('../img/el1_320.jpg');
		min-height: 622px;
	}

	.el1 .el1_1 p {
		font-size: 14px;
		font-style: italic;
		width: 96%;
	}

	.el1 .el1_1 h1{
		padding-top: 14px;
		font-size: 17px;
	}



	.el1 .el1_1{
		padding-top: 63px;
	}

    .el2 .el2_1 ul li {
        min-width: 0;
        width: 80%;
    }

    .el2 .el2_1 ul li span {
        font-size: 23px;
    }

    .video-block h4{
        font-size: 34px !important;
    }

    .video-wrap{
        margin: 0 auto;
        width: 400px !important;
    }

    .video-wrap iframe{
        width: 400px;
        height: 230px;
    }

    .el4 .el4_1 h1 {
        font-size: 40px;
    }

    .el5 .el5_1 h1 {
        font-size: 26px;
        padding-bottom: 0;
    }

    .el3 .el3_1 .el3_2 a,
    .form form input.ordr_btn{
        max-width: 410px;
        width: 90%;
        padding-top: 0;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        margin: 10px auto;
        border-radius: 42px;

        background: #ffe003; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffe003 0%, #ffb601 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe003), color-stop(100%,#ffb601)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffe003 0%,#ffb601 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffe003 0%,#ffb601 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffe003 0%,#ffb601 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffe003 0%,#ffb601 100%); /* W3C */
    }

    .el3 .el3_1 .el3_2 a:hover,
    .form form input.ordr_btn:hover{
        background: #ffb601; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffb601 0%, #ffe003 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb601), color-stop(100%,#ffe003)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffb601 0%,#ffe003 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffb601 0%,#ffe003 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffb601 0%,#ffe003 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffb601 0%,#ffe003 100%); /* W3C */
    }
}

@media all and (max-width: 480px){
    .video-wrap{
        margin: 0 auto;
        width: 320px !important;
    }

    .video-wrap iframe{
        width: 320px;
        height: 180px;
    }

    .form form select {
        width: 220px;
    }

    .form form input {
        width: 212px;
    }

    .complekt {
        padding: 0;
    }

    .form {
        margin: 5px 0 0 0;
    }

    .el4 .el4_1 h1 {
        font-size: 28px;
        line-height: 34px;
        padding-bottom: 25px;
    }

    .el4 .el4_1 table tr td {
        font-size: 18px;
        line-height: 24px;
    }

    .el3 .el3_1 .el3_3 h2 {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .el3 .el3_1 {
        padding-top: 20px;
    }

    .el2 .el2_1 h1 {
        font-size: 26px;
        padding: 25px 10px 0;
    }

    .el3 .el3_1 .el3_2 a,
    .form form input.ordr_btn {
        font-size: 26px;
    }

    .form form{
        width: auto;
    }
}

@media all and (max-width: 340px){

	.el1 .el1_1 h1 {
		font-size: 15px;
	}

    .video-wrap{
        margin: 0 auto;
        width: 200px !important;
    }

    .video-wrap iframe{
        width: 200px;
        height: 115px;
    }

    .video-block h4 {
        font-size: 23px !important;
        padding-top: 16px !important;
        padding-bottom: 15px !important;
    }

    .el4 .el4_1 table tr td {
        font-size: 16px;
        line-height: 19px;
        text-transform: none;
    }

	.el1{
		background: #386481;
		min-height: 0;
	}

	.el1 .el1_1{
		padding-top: 15px;
	}

	.mobile_logo{
		display: block;
		text-align: center;
	}

	.mobile_logo img{
		max-width: 96%;
	}

	.top_price_mob {
		display: block;
		position: relative;
		bottom: auto;
		left: 0;
		color: #FF0048;
		font-size: 36px;
		text-align: center;
	}
}


