@charset "windows-1251";

/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, input, kbd, q, s, samp,
small, strike, strong, sub, sup, span, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: top;
    background: transparent;
    font-family: pf_din_text_cond;
    width: auto;
}

.form {
    margin: 55px 0 0 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'pf_din_text_cond_bold';
}

ul {
    list-style-type: none;
}

a, a:visited, a:hover {
    color: #0077a8;
    text-decoration: none;
}

a img {
    border: 0px;
}

.clear_both {
    clear: both;
}

.up {
    text-transform: uppercase;
}

* html body {
    height: 100%;
}

* html #main {
    min-height: 100%;
}

html, body {
    height: 100%;
}

/**/
body {
    height: 100%;
    color: #000;
    background: #fff;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

#body {
    width: 100%;
    min-width: 1100px;
}

#header {
    min-width: 1100px;
    max-width: 1200px;
    margin: 0px auto;
    color: #fff;
}

/**/
/***********************************************************************/
/**/
.el1 {
    height: 820px;
    background-color: #121f3f;
    background-image: url('../img/el1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.el1 .el1_1 {
    width: 1100px;
    margin: 0px auto;
    padding-top: 140px;
}

.el1 .el1_1 h1 {
    margin-left: 620px;
    margin-bottom: 25px;
    font-weight: normal;
    text-transform: none;
    font-style: italic;
    font-size: 27px;
    line-height: 25px;
    color: #fff;
}

.el1 .el1_1 p {
    margin-left: 620px;
    margin-right: 30px;
    text-align: justify;
    font-size: 17px;
}

.el1 .el1_1 p span.blue {
    color: #66ccff;
}

.el1 .el1_1 p span.red {
    color: #be8de0;
}

.el1 .el1_1 div.price {
    margin-left: 655px;
    margin-top: 70px;
    width: 160px;
    text-align: center;
    font-size: 28px;
    font-family: Arial;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.el1 .el1_1 .el1_2 {
    color: #003366;
    font-family: 'pf_din_text_cond_bold';
    font-weight: bold;
    font-style: italic;
    margin-top: 170px;
    font-size: 40px;
}

.complekt {
    overflow: hidden;
    padding: 80px 0 0;
}

.compl-img {
    float: left;
    width: 500px;
    margin: 0 25px 30px;
}

.el2 {
    background: #ffffff;
    padding-bottom: 20px;
}

.el2 .el2_1 {
    width: 100%;
    margin: 0px auto;
    color: #333;
}

.el2 .el2_1 h1 {
    text-align: center;
    font-size: 33px;
    padding-top: 25px;
    font-weight: normal;
}

.el2 .el2_1 ul {
    list-style: none;
    text-align: center;
}
.el2 .el2_1 ul li {
    display: inline-block;
    color: #666;
    width: 27%;
    min-width: 250px;
    padding: 0 2%;
    text-align: justify;
    font-size: 14px;
}

.el2 .el2_1 ul li:first-child {
    padding-left: 10px;
}

.el2 .el2_1 ul li span {
    display: block;
    font-size: 29px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'pf_din_text_cond_bold';
}

.el2 .el2_1 ul li:before{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.el2 .el2_1 ul li:nth-child(1):before{background-image: url("../img/el2_1.jpg");}
.el2 .el2_1 ul li:nth-child(2):before{background-image: url("../img/el2_2.jpg");}
.el2 .el2_1 ul li:nth-child(3):before{background-image: url("../img/el2_3.jpg");}
.el2 .el2_1 ul li:nth-child(4):before{background-image: url("../img/el2_4.jpg");}
.el2 .el2_1 ul li:nth-child(5):before{background-image: url("../img/el2_5.jpg");}
.el2 .el2_1 ul li:nth-child(6):before{background-image: url("../img/el2_6.jpg");}

span.state {
    display: block;
    font-size: 20px;
}

.form form {
    width: 359px;
    margin: 0 auto;
    color: black;
}

.form form input {
    width: 350px;
    height: 35px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #C5C5C5;
    padding-left: 6px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #FFF;
    margin: 0 0 16px 0;
}

.form form select {
    width: 358px;
    height: 39px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #C5C5C5;
    padding-left: 6px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #FFF;
    margin: 0 0 16px 0;
}

.form form input.ordr_btn {
    display: inline-block;
    width: 410px;
    height: 85px;
    padding-top: 8px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    background-image: url('../img/button.png');
    background-position: top center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'pf_din_text_cond_bold';
    cursor: pointer;
    margin: 23px 0 0 -25px;
}

.form form input.ordr_btn:hover {
    background-position: bottom center;
}

.form form input.error {
    background: #ffc5c5;
    border-color: #FF0000;
}

.el3 {
    height: 590px;
    margin-top: 10px;
    background-image: url('../img/el3.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.el3:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
}

.el3 .el3_1 {
    width: 1100px;
    position: relative;
    margin: 0px auto;
    padding-top: 10px;
}

.el3 .el3_1 .el3_2 {
    float: left;
    width: 470px;
    padding-top: 455px;
}

.el3 .el3_1 .el3_2 a {
    display: inline-block;
    width: 410px;
    height: 60px;
    padding-top: 25px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    background-image: url('../img/button.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.el3 .el3_1 .el3_2 a:hover {
    background-position: bottom center;
}

.el3 .el3_1 .el3_3 {
    float: right;
    width: 620px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

.el3 .el3_1 .el3_3 h2 {
    font-size: 41px;
}

.el4 {
    height: 490px;
    margin-top: 10px;
    background-image: url('../img/el4.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.el4 .el4_1 {
    width: 1100px;
    margin: 0px auto;
    color: #fff;
}

.el4 .el4_1 h1 {
    text-align: center;
    font-size: 53px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.el4 .el4_1 table {
    display: inline-block;
    width: 450px;
}

.el4 .el4_1 table.first-child {
    margin-right: 100px;
}

.el4 .el4_1 table tr td {
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.el4 .el4_1 table tr td:first-child {
    width: 60px;
    background-image: url(../img/chek.png);
    background-position: center 5px;
    background-repeat: no-repeat;
}

.complete-page {
    color: black;
}

.complete-page h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.complete-page p {
    margin: 0 0px 10px 0;
}

.el5 {
    background-color: #f2f2f2;
}

.el5 .el5_1 {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 25px;
    text-align: center;
}

.el5 .el5_1 h1 {
    text-align: center;
    font-size: 34px;
    color: #005e66;
    padding-bottom: 30px;
}

.el5 .el5_1 .el5_2 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 40px 2%;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 30px 0;
    box-sizing: border-box;
    min-height: 570px;
}

.el5_2_sex{
    position: relative;
    width: 123px;
    height: 123px;
    margin: -48px auto 10px;
    border-radius: 50%;
}

.el5_2_sex_women{
    background: url("../img/black_girl.png") no-repeat bottom center #ffffff;
}

.el5_2_sex_men{
    background: url("../img/black_men.png") no-repeat bottom center #ffffff;
}

.el5 .el5_1 .el5_2 p {
    padding-bottom: 10px;
}

.el5 .el5_1 .el5_2 p.title {
    color: #999999;
    text-align: center;
    font-size: 22px;
}

.el5 .el5_1 .el5_2 p.title span {
    color: #005e66;
}

.el5 .el5_1 .el5_2 p.text {
    font-style: italic;
    color: #666666;
    text-align: justify;
}

.el5 .el5_1 .el5_2 p.img {
    text-align: center;
}

.el5 .el5_1 .el5_2 p img {
    height: auto;
    max-width: 90%;
}

/*.el5 .el5_1 .el5_2.r p.text {*/
    /*padding-right: 30px;*/
    /*padding-left: 20px;*/
/*}*/

.el5 .el5_1 .el5_3 {
    text-align: center;
}

.el5 .el5_1 .el5_3 a, a.order_btn {
    display: inline-block;
    width: 410px;
    height: 60px;
    padding-top: 25px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    background-image: url('../img/button.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.el5 .el5_1 .el5_3 a:hover, a.order_btn:hover {
    background-position: bottom center;
}

.el14 {
    width: 1100px;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #333;
}

.footer {
    border-top: 1px solid #fff;
    margin-top: 50px;
    color: #000033;
}

.footer .finfo {
    width: 1100px;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
}

.footer .finfo .copy {
    width: 500px;
    float: left;
}

.footer .finfo .info {
    width: 500px;
    float: right;
    text-align: right;
}

.video-wrap iframe{
    width: 560px;
}

.top_price_mob{
	display: none;
}

.mobile_logo{
	display: none;
}