body {
    color: white !important;
    /*fff*/
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
#imaginary_container {
	padding-top: 20px;
}
/*активная ссылка панели навигации*/
.active {
    color: red !important;
    background-color: black !important;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 1.42857143 !important;
    letter-spacing: 0 !important;
    border-radius: 0;

}

.navbar li a, .navbar .navbar-brand {
    color: #EAEAEA !important;
}
.navbar li a.active {
    color: red!important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
    background-color: black !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.podval {
	list-style: none;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
footer {
	padding: 50px;
}
footer a {
	text-decoration: none;
	font-weight: bold;
	margin-left: 80px;
	color: black;
}
footer a:hover {
	color: black;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5:hover {
    background-color: #555555;
    color: white;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
/*body {*/
    /* The image used */
    /*background-image: url('../img/3.jpg');*/

    /* Full height */
    /*height: 100%;*/

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
body {
    background-image: url('../img/simple.png');
    background-repeat: repeat-x repeat-y;
    color: white;
}
.back {
    background-color: white;
}
.pad {
    padding: 20px;
}
.mar {
    margin-bottom: 20px;
}
.fl {
    float: right;
}
.le {
    float: left;
}
.topt {
    width: 80%;
}
.list-group-item:hover {
    background-color: white !important;
}
.list-group-item {
    background-color: #E0FFFF !important;
    color: black !important;
}
h1, h2 {
    font-weight: bold !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}


/*Страница с видео начало*/
/*Описание видео*/
.videoDesc {
    width: 97%;
    margin: 5px auto;
    padding: 10px 0;
    border-bottom: solid 1px #DEDEDE;
}
.videoDesc p {
    font: 14px Tahoma, sans-serif;
    margin: 0;
    color: white;
}
.videoDesc span {
    color: black;
    margin-right: 3px;
}
#videoInfo {
    font: 14px Tahoma, sans-serif;
    list-style-type: none;
    padding-left: 10px;
}
#videoInfo li {
    display: inline-block;
    margin-right: 30px;
    color: black;
    padding-top: 5px;
}
#videoInfo span {
    color: white;
}
#videoCat {
    display: table;
    width: 97%;
    margin: 5px auto;
    padding: 5px 0 10px 0;
    border-bottom: solid 1px #DEDEDE;
}
#videoCat span {
    display: block;
    font: 14px Tahoma, sans-serif;
    color: black;
    padding: 4px 0;
    margin: 4px 5px 0 0;
    float: left;
}
#videoCat a {
    font: 14px Tahoma, sans-serif;
    display: block;
    float: left;
    border: 1px solid #CECECE;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    min-width: 12px;
    text-align: center;
    padding: 4px 10px 5px;
    margin: 3px;
    background: 0px 0px #ECECEC;
    color: #424242;
    box-shadow: 0px 1px #EBEBEB;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
}
/*лайки дизлайки*/
.right {
    float: right;
    margin-right: 20px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #FF6F00;
}

.button2:hover {
    background-color: #FF6F00;
    color: white;
}
/*Страница с видео конец*/
/*категории*/
.list-group a {
    background-color: #4C4C4C !important;
    display: block !important;
    text-shadow: 0px 1px #000 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 17px !important;
    padding: 4px 5px 4px 11px !important;
    color: #EAEAEA !important;
    border-bottom: 1px solid #454545 !important;
    border-top: 1px solid #5B5B5B !important;
    text-decoration: none !important;
}
.list-group a:hover {
    color: red !important;
    background-color: #373737 !important;
}
.title h2 {
    font-size: 30px !important;
    font-weight: bold !important;
    padding: 15px !important;
    color: grey !important;
}
ol {
    padding: 0 !important;
}
.item {
    padding: 20px;
    background-color: #373737;
    border-radius: 10px;
}
/*активная ссылка панели навигации*/
.active {
    color: red !important;
    background-color: black !important;
}