/* ::::: https://univer-mag.com/content/landings/m-iphone6s/css/index.css ::::: */

div#container { width: 320px; position: relative; margin: 0px auto; text-align: left; }
body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial; font-size: 8px; line-height: 1.1875; margin: 0px; text-align: center; }
@font-face {
	font-family: "Glober Book";
	src: url('glober_book.woff') format("woff");
}
@font-face {
	font-family: "Core Sans D 17 Cn Thin";
	src: url('coresansd17cnthin.woff') format("woff");
}
@font-face {
	font-family: "Bebas Neue Bold";
	src: url('bebasneuebold.woff') format("woff");
}
a { color: rgb(0, 0, 255); text-decoration: underline; }
a:visited { color: rgb(128, 0, 128); }
a:active { color: rgb(255, 0, 0); }
select { display: block; margin: auto auto 10px; padding: 10px; position: relative; top: 10px; width: 260px; }
a:hover { color: rgb(0, 0, 255); text-decoration: underline; }
#wb_indexCarousel1 { background-color: transparent; }
#indexCarousel1 .frame { width: 318px; display: inline-block; float: left; height: 327px; }
#wb_indexCarousel1 .pagination { bottom: 0px; left: 0px; position: absolute; text-align: center; vertical-align: middle; width: 100%; z-index: 999; }
#wb_indexCarousel1 .pagination img { border-style: none; padding: 12px; }
#indexImage9 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText8 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: right; }
#wb_indexText28 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText29 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#wb_indexText30 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#wb_indexText32 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText7 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText52 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText54 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText59 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText41 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText42 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText1 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText2 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexImage7 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage1 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage2 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage28 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText3 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: left; }
#wb_indexText4 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: left; }
#wb_indexText6 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: left; }
#wb_indexText26 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText43 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#indexRollOver1 a { display: block; position: relative; height: 100%; width: 100%; }
#indexRollOver1 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver1 span { display: block; height: 100%; width: 100%; position: absolute; z-index: 2; }
#indexRollOver1 a .hover { visibility: hidden; }
#indexRollOver1 a:hover .hover { visibility: visible; }
#indexRollOver1 a:hover span { visibility: hidden; }
#indexRollOver1 img { border-width: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage8 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText27 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText10 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#wb_indexText45 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: left; }
#indexLine1 { border-width: 0px; height: 8px; width: 316px; }
#wb_indexText46 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#indexLine2 { border-width: 0px; height: 8px; width: 316px; }
#wb_indexText47 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: left; }
#wb_indexText48 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#indexImage3 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage10 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText9 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexImage4 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText11 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: justify; }
#indexRollOver2 a { display: block; position: relative; height: 100%; width: 100%; }
#indexRollOver2 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver2 span { display: block; height: 100%; width: 100%; position: absolute; z-index: 2; }
#indexRollOver2 a .hover { visibility: hidden; }
#indexRollOver2 a:hover .hover { visibility: visible; }
#indexRollOver2 a:hover span { visibility: hidden; }
#indexRollOver2 img { border-width: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage5 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#indexShape3 { border-width: 0px; }
#wb_indexText12 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexImage6 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText13 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: left; }
#wb_indexText14 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText15 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText16 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText17 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText19 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexImage11 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText20 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexImage13 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText21 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexImage21 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#indexImage12 { border: 0px solid rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; }
#wb_indexText44 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText22 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#indexLine3 { border-width: 0px; height: 8px; width: 329px; }
#wb_indexText23 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText24 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText33 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText34 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexForm2 { background-color: transparent; border: 0px solid rgb(0, 0, 0); }
input[type="text"], #indexEditbox4 { border: 1px solid rgb(169, 169, 169); background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: "Didact Gothic",sans-serif; font-size: 21px; text-align: left; vertical-align: middle; margin-bottom: 15px; width: 230px; height: 58px; line-height: 58px; padding: 0px 15px; z-index: 6; }
.form-group { text-align: center; }
#indexButton2 { border: 0px solid rgb(169, 169, 169); background-color: transparent; background-image: url('button.png'); background-repeat: repeat; background-position: left top; color: rgb(255, 255, 255); font-family: "Didact Gothic",sans-serif; font-size: 35px; }
#wb_indexText36 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; margin: 0px; text-align: center; }
#wb_indexText36 div { text-align: center; }
#wb_indexForm1 { background-color: transparent; border: 0px solid rgb(0, 0, 0); }
@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans Narrow"), local("PTSans-Narrow"), url('uyyryy3lteffjv9quesi4ajce3ebego6igwsfcwbt9w.woff2') format("woff2"), url('uyyryy3lteffjv9quesi4ajce3ebego6igwsfcwbt9w_001.woff2') format("woff2");
}
@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url('q_ptky3sc3ubribgtotayjk68aqdh8vu_fimx7qkq4u.woff2') format("woff2"), url('q_ptky3sc3ubribgtotayjk68aqdh8vu_fimx7qkq4u_001.woff2') format("woff2");
}
@font-face {
	font-family: "Didact Gothic";
	font-style: normal;
	font-weight: 400;
	src: local("Didact Gothic"), local("DidactGothic"), url('v8_72sd3dymkym0dn3ltwmykogtrbb-yb2dfwx30qlm.woff2') format("woff2"), url('v8_72sd3dymkym0dn3ltwmykogtrbb-yb2dfwx30qlm_001.woff2') format("woff2");
}
label { display: none; }
/* ::::: https://univer-mag.com/content/assets/general/css/custom-styles.css ::::: */

* { outline: 0px none; }
.padding { padding: 10px; }
#umcb-form label { display: none !important; }
.loader, .modal { background-image: url('undefined'); background-repeat: repeat; width: 100%; height: 100%; position: fixed; display: none; left: 0px; top: 0px; }
.modal { z-index: 200001; overflow: auto; font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(0, 0, 0); text-align: justify; margin-left: auto; margin-right: auto; background-color: transparent; }
.modal-block { position: relative; width: 600px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35); border: 1px solid rgb(58, 135, 173); }
.modal-block .icon-close { position: absolute; right: 0px; margin: 15px 20px; z-index: 1000; }
.modal-block .title { background: rgb(77, 131, 192) none repeat scroll 0% 0%; text-align: center; line-height: 50px; text-shadow: 1px 1px 0px rgb(58, 135, 173); border-bottom: 1px solid rgb(58, 135, 173); padding: 0px 100px; font-size: 18px; color: rgb(255, 255, 255); width: auto; height: auto; margin: 0px; }
.icon-close { background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll 0px 0px; width: 20px; height: 19px; cursor: pointer; }
.icon-close:hover { background-position: 0px -19px; }
.modal p { font-weight: normal; width: auto; }
.modal .content { padding: 0px !important; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: auto; overflow: hidden; margin: 0px; box-shadow: none; }
@media screen and (max-width: 540px) {
	.modal-block { width: 380px; }
	.modal-block .title { padding: 0px 50px; line-height: 39px; }
}
@media screen and (max-width: 405px) {
	.modal-block { width: 300px; }
	.modal-block .title { padding: 0px; }
}
#umcb { position: fixed; display: none; background-color: transparent; width: 160px; height: 160px; z-index: 200000 !important; backface-visibility: hidden; transform: translateZ(0px); transition: visibility 0.5s ease 0s; right: 15px; bottom: 15px; }
@media screen and (max-width: 980px) {
	#umcb { display: none !important; }
}
#umcb a { text-decoration: none; }
#umcb .umcb-img-circle { width: 80px; height: 80px; background: rgb(90, 170, 222) url('undefined') no-repeat scroll center center; position: absolute; top: 40px; left: 40px; border-radius: 100%; border: 2px solid transparent; opacity: 0.8; animation: 1s ease-in-out 0s normal none infinite running umcb-circle-img-anim; transform-origin: 50% 50% 0px; }
#umcb .umcb-circle-fill { opacity: 0.24; animation: 2.3s ease-in-out 0s normal none infinite running umcb-circle-fill-anim !important; background: rgb(90, 170, 222) none repeat scroll 0% 0%; width: 110px; height: 110px; top: 25px; left: 25px; position: absolute; border-radius: 100%; border: 2px solid transparent; }
#umcb .umcb-circle { opacity: 0.35; animation: 2.2s ease-in-out 0s normal none infinite running umcb-circle-anim !important; width: 100%; height: 100%; position: absolute; background-color: transparent; border-radius: 100%; border: 2px solid rgb(90, 170, 222); }
#umcb:hover .umcb-img-circle, #umcb:hover .umcb-circle-fill { background-color: rgb(114, 213, 130); }
#umcb:hover .umcb-circle { border-color: rgb(114, 213, 130); }
#umcb:hover .umcb-img-circle { animation: 1s ease-in-out 0s normal none infinite running umcb-circle-img-anim-hover; }
#umcb-form .modal-block { border: 0px none; box-shadow: none; font-family: Arial; border-radius: 10px; overflow: hidden; color: rgb(34, 34, 34); line-height: 1.5 !important; width: 570px; }
#umcb-form .modal-block .title { font-family: Arial,sans-serif; background: transparent none repeat scroll 0% 0%; text-shadow: none; color: rgb(34, 34, 34); font-weight: bold; font-size: 22px; float: none; border-bottom: 0px none; text-transform: none; }
#umcb-form .modal-block .icon-close { margin: 20px; background-image: url('undefined'); }
#umcb-form .modal-block .padding { padding: 20px 40px 40px; }
#umcb-form .modal-block p { font-size: 16px; text-align: left; line-height: 1.5; }
#umcb-form .modal-block .bold { font-weight: bold; }
#umcb-form form { display: block; margin: 10px 0px; text-align: center; width: 100%; height: auto; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; position: static; padding: 0px; border: 0px none; }
#umcb-form form input[type="text"] { height: 36px; line-height: 36px; color: rgb(34, 34, 34); border: 1px solid rgb(170, 170, 170); padding: 0px 10px; width: 200px !important; text-align: left; display: inline-block; text-indent: 0px; position: static; vertical-align: inherit; border-radius: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 14px; font-style: normal; float: none; box-shadow: none; margin: 0px 10px 0px 0px !important; }
#umcb-form form *::-moz-placeholder { color: rgb(136, 136, 136); }
#umcb-form form :-moz-placeholder { color: rgb(136, 136, 136); }
#umcb-form .modal-block .title::after { display: none !important; }
#umcb-form form button[type="submit"], #umcb-form form input[type="submit"] { position: static; cursor: pointer; text-shadow: none; border: 0px none; background: rgb(196, 25, 28) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0px 10px; text-transform: uppercase; letter-spacing: 0px; line-height: 38px; height: 38px; vertical-align: top; margin: 20px 0px !important; display: inline-block !important; text-indent: 0px !important; text-align: center !important; border-radius: 3px; font-style: normal; font-size: 14px; font-family: Arial,Helvetica,sans-serif; width: 200px; opacity: 1; min-height: 38px !important; }
#umcb-form .form-group { position: static; display: inline-block; float: none; width: auto; margin: 0px; padding: 0px; }
#umcb-form label.error::before { content: ""; padding: 0px; }
#umcb-form .form-group:last-child { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; }
