.addptable img {
    max-width: 50px;
    max-height: 50px;
}
.addptable tr td {
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
}
.addptablemodal{
    width:100%;
    text-align: center;
}
.addptablemodalImg{
    max-width: 400px;
    max-height: 400px;
}
.addptable tbody tr td {
    vertical-align: top;
    padding-bottom: 14px;
    line-height: 19px;
}
.addptable tbody tr td:nth-of-type(2) {
    word-break: break-all;
}