/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* FORMS ------------------------------------------------------------*/
#respond .heading {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-top: 0px solid #444444;
  border-bottom: 5px solid #444444;
}
#reply-title {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-top: 0px solid #444444;
  border-bottom: 5px solid #444444;
}
#commentform,
#contactForm,
.wpcf7-form {
  margin-bottom: 21px;
}
#commentform h4,
#contactForm h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wpcf7-form, #social-bar-holder input,
.wpcf7-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea {
  padding: 10px 15px;
  background: #eaeaea;
  color: #484848;
  border: 1px  solid #ccc;
  font-size: 14px;
  font-family: Tahoma, Arial;
  line-height: 1.5em;
  overflow: auto;
}
.wpcf7-form,#social-bar-holder input:focus,
.wpcf7-form textarea:focus,
#contactForm input:focus,
#contactForm textarea:focus,
#commentform input:focus,
#commentform textarea:focus {
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
  -o-box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
  box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="text"],
#contactForm input[type="text"],
#commentform input[type="text"],
#contactForm input[type="password"],
#commentform input[type="password"] {
  overflow: auto;
  width: 93.1818%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.wpcf7-form textarea,
#contactForm textarea,
#commentform textarea {
  width: 93.1818%;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#searchsubmit,
.wpcf7-submit,
#contactForm, #social-bar-holder input[type="submit"],
#commentform input[type="submit"],
#contactForm input[type="button"] {
  width: auto;
  color: #e37655;
  font-size: 14px;
  background: #f1f1f1;
  padding: 3px 10px;
  border: 1px solid #ccc;
 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
#searchsubmit:hover,
.wpcf7-submit:hover,
#contactForm input[type="submit"]:hover,
#commentform input[type="submit"]:hover,
#contactForm input[type="button"]:hover {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  transform: translate(0, 2px);
}
#respond {
  margin: 25px 0 0px 0px;
}
#cancel-comment-reply-link {
  display: block;
  float: right;
  font-family: Tahoma, Arial, "sans-serif";
  font-size: 12px;
  text-decoration: underline;
}
#commentform .comment-notes {
  margin-bottom: 30px;
}
#contactForm input#submit {
  margin-top: 7px;
}
#contactForm label,
#commentform label {
  color: #484848;
}
#contactForm p,
#commentform p {
  margin-bottom: 0px;
}
#error {
  margin-left: 10px;
}
#sent-form-msg {
  padding: 5px 10px;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.1);
  color: #444444;
}
#commentform .form-allowed-tags {
  font-size: 14px;
  color: #888888;
  margin-bottom: 20px;
}
.respond-title-wrap,
.comment-title-wrap {
  border-bottom: 1px solid #484848;
  padding: 0 0 15px 0;
  margin: 0 0 30px 0;
}
#respond-title,
#comments,
.add-comment-link {
  font-size: 14px;
  color: #2c2d31;
  font-weight: bold;
}
.respond-caption {
  font-size: 14px;
}
