div#container
{
   width: 1000px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 8px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Polygon2
{
   border-width: 0;
   height: 213px;
   width: 318px;
}
#Polygon1
{
   border-width: 0;
   height: 213px;
   width: 318px;
}
#Layer5
{
   background-color: transparent;
   background-image: url(../images/779.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/779.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#Layer16
{
   background-color: transparent;
   background-image: url(../images/667.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/667.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#Layer10
{
   background-color: transparent;
   background-image: url(../images/111.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/111.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#Layer3
{
   background-color: transparent;
   background-image: url(../images/333.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/333.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#Layer2
{
   background-color: #FFFFFF;
}
#wb_Text29 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text29 div
{
   text-align: left;
}
#Layer1
{
   background-color: transparent;
   background-image: url(../images/223.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/223.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_Text3 div
{
   text-align: justify;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_Text4 div
{
   text-align: justify;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#Line1
{
   border-width: 0;
   height: 8px;
   width: 116px;
}
#PhotoGallery1
{
   border-spacing: 3px;
   width: 100%;
}
#PhotoGallery1 .figure
{
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .figure img
{
   border: 0px #000000 solid;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#Layer6
{
   background-color: transparent;
   background-image: url(../images/556.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/556.png*/;
   background-repeat: repeat;
   background-position: center center;
}
#Line21
{
   border-width: 0;
   height: 8px;
   width: 116px;
}
#Layer8
{
   background-color: transparent;
   background-image: url(../images/889.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/889.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#wb_Text30 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text30 div
{
   text-align: center;
}
#wb_Text31 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text31 div
{
   text-align: left;
}
#wb_Text32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text32 div
{
   text-align: left;
}
#wb_Text33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text33 div
{
   text-align: left;
}
#wb_Text34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text34 div
{
   text-align: left;
}
#wb_Text35 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text35 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text36 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text36 div
{
   text-align: left;
}
#wb_Text37 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text37 div
{
   text-align: left;
}
#wb_Text38 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text38 div
{
   text-align: left;
}
#Layer9
{
   background-color: #FFFFFF;
}
#wb_Text39 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text39 div
{
   text-align: center;
}
#wb_Text40 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text40 div
{
   text-align: center;
}
#wb_Text41 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text41 div
{
   text-align: left;
}
#wb_Text42 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text42 div
{
   text-align: left;
}
#wb_Text43 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text43 div
{
   text-align: left;
}
#wb_Text44 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text44 div
{
   text-align: left;
}
#Line22
{
   border-width: 0;
   height: 562px;
   width: 8px;
}
#Line23
{
   border-width: 0;
   height: 563px;
   width: 8px;
}
#Line24
{
   border-width: 0;
   height: 562px;
   width: 8px;
}
#wb_Text45 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text45 div
{
   text-align: left;
}
#wb_Text46 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text46 div
{
   text-align: left;
}
#wb_Text47 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text47 div
{
   text-align: left;
}
#wb_Text48 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text48 div
{
   text-align: left;
}
#wb_Text49 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text49 div
{
   text-align: left;
}
#wb_Text50 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text50 div
{
   text-align: left;
}
#wb_Text51 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text51 div
{
   text-align: left;
}
#wb_Text52 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text52 div
{
   text-align: left;
}
#wb_Text53 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text53 div
{
   text-align: left;
}
#wb_Text54 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text54 div
{
   text-align: left;
}
#wb_Text55 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text55 div
{
   text-align: left;
}
#wb_Text56 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text56 div
{
   text-align: left;
}
#wb_Text57 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text57 div
{
   text-align: left;
}
#wb_Text58 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text58 div
{
   text-align: left;
}
#wb_Text59 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text59 div
{
   text-align: left;
}
#wb_Text60 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text60 div
{
   text-align: left;
}
#wb_Text61 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text61 div
{
   text-align: left;
}
#wb_Text62 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text62 div
{
   text-align: left;
}
#wb_Text63 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text63 div
{
   text-align: left;
}
#wb_Text64 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text64 div
{
   text-align: left;
}
#wb_Text65 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text65 div
{
   text-align: left;
}
#wb_Text66 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text66 div
{
   text-align: left;
}
#Layer12
{
   background-color: #FFFFFF;
}
#wb_Text67 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text67 div
{
   text-align: center;
}
#wb_Text68 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text68 div
{
   text-align: left;
}
#wb_Text74 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text74 div
{
   text-align: left;
}
#wb_Text80 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text80 div
{
   text-align: left;
}
#wb_Text81 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text81 div
{
   text-align: center;
}
#wb_Text118 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text118 div
{
   text-align: center;
}
#wb_Text119 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text119 div
{
   text-align: center;
}
#Layer14
{
   background-color: #000000;
}
#wb_Text124 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text124 div
{
   text-align: left;
}
#wb_Text125 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text125 div
{
   text-align: center;
}
#wb_Text126 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text126 div
{
   text-align: center;
}
#wb_Text127 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text127 div
{
   text-align: left;
}
#wb_Text128 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text128 div
{
   text-align: left;
}
#Layer4
{
   background-color: transparent;
   background-image: url(../images/556.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/556.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#wb_Text15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text27 div
{
   text-align: center;
}
#wb_Text28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text28 div
{
   text-align: center;
}
#wb_Text83 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: right;
}
#wb_Text83 div
{
   text-align: right;
}
#wb_Text84 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: right;
}
#wb_Text84 div
{
   text-align: right;
}
#wb_Text86 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: right;
}
#wb_Text86 div
{
   text-align: right;
}
#Layer7
{
   background-color: transparent;
   background-image: url(../images/445.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/445.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#wb_Text99 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text99 div
{
   text-align: center;
}
#wb_Text100 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text100 div
{
   text-align: center;
}
#Image9
{
   border: 0px #000000 solid;
}
#Image10
{
   border: 0px #000000 solid;
}
#Image11
{
   border: 0px #000000 solid;
}
#wb_Text69 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text69 div
{
   text-align: left;
}
#Image12
{
   border: 0px #000000 solid;
}
#wb_Text70 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text70 div
{
   text-align: left;
}
#Image13
{
   border: 0px #000000 solid;
}
#wb_Text71 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text71 div
{
   text-align: left;
}
#Image14
{
   border: 0px #000000 solid;
}
#wb_Text72 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text72 div
{
   text-align: left;
}
#Image27
{
   border: 0px #000000 solid;
}
#wb_Text73 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text73 div
{
   text-align: left;
}
#wb_Text75 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text75 div
{
   text-align: left;
}
#Image28
{
   border: 0px #000000 solid;
}
#wb_Text76 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text76 div
{
   text-align: left;
}
#wb_Text77 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text77 div
{
   text-align: left;
}
#Image30
{
   border: 0px #000000 solid;
}
#wb_Text78 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text78 div
{
   text-align: left;
}
#Image29
{
   border: 0px #000000 solid;
}
#Layer13
{
   background-color: transparent;
   background-image: url(../images/990.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/990.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#wb_Text79 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text79 div
{
   text-align: center;
}
#wb_Text101 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text101 div
{
   text-align: left;
}
#wb_Text106 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text106 div
{
   text-align: center;
}
#wb_Text107 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text107 div
{
   text-align: center;
}
#wb_Text18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text18 div
{
   text-align: center;
}
#wb_Text82 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text82 div
{
   text-align: center;
}
#wb_Text87 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text87 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text85 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text85 div
{
   text-align: center;
}
#wb_Text88 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text88 div
{
   text-align: center;
}
#wb_Text90 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text90 div
{
   text-align: center;
}
#wb_Text91 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text91 div
{
   text-align: center;
}
#wb_Text92 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text92 div
{
   text-align: center;
}
#wb_Text108 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text108 div
{
   text-align: center;
}
#wb_Text109 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text109 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: right;
}
#wb_Text9 div
{
   text-align: right;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#wb_Text16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text16 div
{
   text-align: center;
}
#wb_Text17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text17 div
{
   text-align: center;
}
#wb_Text19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#wb_Text20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text20 div
{
   text-align: center;
}
#wb_Text21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text21 div
{
   text-align: center;
}
#wb_Text22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#Line2
{
   border-width: 0;
   height: 8px;
   width: 160px;
}
#wb_Form1
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Editbox1
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Button1
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
   background-repeat: repeat;
   background-position: left top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Line5
{
   border-width: 0;
   height: 8px;
   width: 116px;
}
#wb_Text24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#wb_Text89 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text89 div
{
   text-align: left;
}
#wb_Text110 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text110 div
{
   text-align: left;
}
#wb_Text111 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text111 div
{
   text-align: left;
}
#wb_Text112 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text112 div
{
   text-align: left;
}
#wb_Text113 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text113 div
{
   text-align: left;
}
#Layer11
{
   background-color: transparent;
   background-image: url(../images/667.jpg)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/667.jpg*/;
   background-repeat: repeat;
   background-position: center center;
}
#wb_Text93 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text93 div
{
   text-align: left;
}
#wb_Text94 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text94 div
{
   text-align: center;
}
#wb_Text95 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text95 div
{
   text-align: center;
}
#wb_Text96 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text96 div
{
   text-align: left;
}
#wb_Text97 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text97 div
{
   text-align: left;
}
#wb_Form2
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Editbox3
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Editbox4
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Button2
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
   background-repeat: repeat;
   background-position: left top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Form3
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Editbox5
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Editbox6
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Button3
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
   background-repeat: repeat;
   background-position: left top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text98 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text98 div
{
   text-align: center;
}
#wb_Text102 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text102 div
{
   text-align: left;
}
#wb_Text103 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text103 div
{
   text-align: left;
}
#Layer15
{
   background-color: #1E1E1E;
}
#RollOver1 a
{
   display: block;
   position: relative;
}
#RollOver1 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   display: block;
   height: 16px;
   width: 200px;
   position: absolute;
   z-index: 2;
}
#RollOver1 a .hover
{
   visibility: hidden;
}
#RollOver1 a:hover .hover
{
   visibility: visible;
}
#RollOver1 a:hover span
{
   visibility: hidden;
}
#RollOver2 a
{
   display: block;
   position: relative;
}
#RollOver2 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver2 span
{
   display: block;
   height: 14px;
   width: 196px;
   position: absolute;
   z-index: 2;
}
#RollOver2 a .hover
{
   visibility: hidden;
}
#RollOver2 a:hover .hover
{
   visibility: visible;
}
#RollOver2 a:hover span
{
   visibility: hidden;
}
#RollOver3 a
{
   display: block;
   position: relative;
}
#RollOver3 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver3 span
{
   display: block;
   height: 14px;
   width: 79px;
   position: absolute;
   z-index: 2;
}
#RollOver3 a .hover
{
   visibility: hidden;
}
#RollOver3 a:hover .hover
{
   visibility: visible;
}
#RollOver3 a:hover span
{
   visibility: hidden;
}
#Image1
{
   border: 0px #000000 solid;
}
#RollOver4 a
{
   display: block;
   position: relative;
}
#RollOver4 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver4 span
{
   display: block;
   height: 52px;
   width: 208px;
   position: absolute;
   z-index: 2;
}
#RollOver4 a .hover
{
   visibility: hidden;
}
#RollOver4 a:hover .hover
{
   visibility: visible;
}
#RollOver4 a:hover span
{
   visibility: hidden;
}
#wb_Form4
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Editbox7
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Editbox8
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Button4
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
   background-repeat: repeat;
   background-position: left top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text104 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text104 div
{
   text-align: center;
}
#wb_Text105 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text105 div
{
   text-align: center;
}
#wb_Text114 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text114 div
{
   text-align: center;
}
#wb_Text115 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text115 div
{
   text-align: center;
}
#wb_Text116 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text116 div
{
   text-align: center;
}
#RollOver5 a
{
   display: block;
   position: relative;
}
#RollOver5 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver5 span
{
   display: block;
   height: 54px;
   width: 310px;
   position: absolute;
   z-index: 2;
}
#RollOver5 a .hover
{
   visibility: hidden;
}
#RollOver5 a:hover .hover
{
   visibility: visible;
}
#RollOver5 a:hover span
{
   visibility: hidden;
}
#Line6
{
   border-width: 0;
   height: 8px;
   width: 159px;
}
#Line7
{
   border-width: 0;
   height: 94px;
   width: 8px;
}
#Line8
{
   border-width: 0;
   height: 94px;
   width: 8px;
}
#Line9
{
   border-width: 0;
   height: 94px;
   width: 8px;
}
#Line10
{
   border-width: 0;
   height: 8px;
   width: 189px;
}
#Line11
{
   border-width: 0;
   height: 94px;
   width: 8px;
}
#Line12
{
   border-width: 0;
   height: 8px;
   width: 190px;
}
#Line3
{
   border-width: 0;
   height: 8px;
   width: 162px;
}
#Line13
{
   border-width: 0;
   height: 94px;
   width: 8px;
}
#Line14
{
   border-width: 0;
   height: 94px;
   width: 8px;
}
#Line15
{
   border-width: 0;
   height: 8px;
   width: 162px;
}
#Image2
{
   border-width: 0;
}
#wb_Form5
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Editbox9
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Editbox10
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   color :#FFFFFF;
   font-family: 'Museo Cyrl 500';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}
#Button5
{
   border: 0px #A9A9A9 solid;
   background-color: transparent;
   background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
   background-repeat: repeat;
   background-position: left top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}

#lv-form{
   border: none;
   padding: 0;
}

#lv-form-fio{
position: absolute;
  left: 87px;
  top: 44px;
  width: 237px;
  height: 47px;
  line-height: 47px;
  z-index: 4;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form-phone{
  position: absolute;
  left: 73px;
  top: 108px;
  width: 243px;
  height: 45px;
  line-height: 45px;
  z-index: 5;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form input[type=submit]{
  position: absolute;
  left: 26px;
  top: 168px;
  width: 280px;
  height: 51px;
  z-index: 6;
border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
  background-repeat: repeat;
  background-position: 0% 0%;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

#lv-form2{
   border: none;
   padding: 0;
}

#lv-form2-fio{
  position: absolute;
  left: 91px;
  top: 43px;
  width: 237px;
  height: 47px;
  line-height: 47px;
  z-index: 16;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form2-phone{
  position: absolute;
  left: 86px;
  top: 110px;
  width: 243px;
  height: 45px;
  line-height: 45px;
  z-index: 17;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form2 input[type=submit]{
  position: absolute;
  left: 29px;
  top: 168px;
  width: 280px;
  height: 51px;
  z-index: 18;
border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
  background-repeat: repeat;
  background-position: 0% 0%;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

#lv-form3{
   border: none;
   padding: 0;
}

#lv-form3-fio{
  position: absolute;
  left: 86px;
  top: 43px;
  width: 242px;
  height: 47px;
  line-height: 47px;
  z-index: 28;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form3-phone{
  position: absolute;
  left: 76px;
  top: 109px;
  width: 243px;
  height: 45px;
  line-height: 45px;
  z-index: 29;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form3 input[type=submit]{
  position: absolute;
  left: 26px;
  top: 168px;
  width: 280px;
  height: 51px;
  z-index: 30;
border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
  background-repeat: repeat;
  background-position: 0% 0%;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

#lv-form4{
   border: none;
   padding: 0;
}

#lv-form4-fio{
  position: absolute;
  left: 101px;
  top: 39px;
  width: 240px;
  height: 47px;
  line-height: 47px;
  z-index: 180;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form4-phone{
  position: absolute;
  left: 90px;
  top: 105px;
  width: 243px;
  height: 45px;
  line-height: 45px;
  z-index: 181;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form4 input[type=submit]{
  position: absolute;
  left: 43px;
  top: 166px;
  width: 280px;
  height: 51px;
  z-index: 182;
border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
  background-repeat: repeat;
  background-position: 0% 0%;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

#lv-form5{
   border: none;
   padding: 0;
}

#lv-form5-fio{
  position: absolute;
  left: 101px;
  top: 38px;
  width: 240px;
  height: 47px;
  line-height: 47px;
  z-index: 198;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form5-phone{
  position: absolute;
  left: 89px;
  top: 103px;
  width: 243px;
  height: 45px;
  line-height: 45px;
  z-index: 199;
  border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Museo Cyrl 500';
  font-size: 19px;
  text-align: left;
  vertical-align: middle;   
}

#lv-form5 input[type=submit]{
  position: absolute;
  left: 43px;
  top: 166px;
  width: 280px;
  height: 51px;
  z-index: 200;
border: 0px solid rgb(169, 169, 169);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  background-image: url(../images/button.png)/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/images/button.png*/;
  background-repeat: repeat;
  background-position: 0% 0%;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

.lv-order-form-css input[type=text], .lv-order-form-css select, .lv-order-form-css textarea{
   color: #000 !important;
}