@font-face
{
   font-family: 'Glober Book';
   src: url('../glober_book.eot')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/glober_book.eot*/;
   src: url('../glober_book.eot-#iefix')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/glober_book.eot?#iefix*/ format('embedded-opentype'),
        url('../glober_book.svg#glober_book')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/glober_book.svg#glober_book*/ format('svg'),
        url('../glober_book.ttf')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/glober_book.ttf*/ format('truetype'),
        url('../glober_book.woff')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/glober_book.woff*/ format('woff');
}
@font-face
{
   font-family: 'Museo Cyrl 500';
   src: url('../museo_cyrl_500_regular_2.eot')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/museo_cyrl_500_regular_2.eot*/;
   src: url('../museo_cyrl_500_regular_2.eot-#iefix')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/museo_cyrl_500_regular_2.eot?#iefix*/ format('embedded-opentype'),
        url('../museo_cyrl_500_regular_2.svg#museo_cyrl_500_regular_2')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/museo_cyrl_500_regular_2.svg#museo_cyrl_500_regular_2*/ format('svg'),
        url('../museo_cyrl_500_regular_2.ttf')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/museo_cyrl_500_regular_2.ttf*/ format('truetype'),
        url('../museo_cyrl_500_regular_2.woff')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/museo_cyrl_500_regular_2.woff*/ format('woff');
}
@font-face
{
   font-family: 'PF Din Text Cond Pro Light';
   src: url('../pfdintextcondpro-light.eot')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/pfdintextcondpro-light.eot*/;
   src: url('../pfdintextcondpro-light.eot-#iefix')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/pfdintextcondpro-light.eot?#iefix*/ format('embedded-opentype'),
        url('../pfdintextcondpro-light.svg#PFDinTextCondProLight')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/pfdintextcondpro-light.svg#PFDinTextCondProLight*/ format('svg'),
        url('../pfdintextcondpro-light.ttf')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/pfdintextcondpro-light.ttf*/ format('truetype'),
        url('../pfdintextcondpro-light.woff')/*tpa=http://lvcdn.ru/bonanza-ulysse-nardin-freak-cruiser/2ulysse.alltime.kz/files/pfdintextcondpro-light.woff*/ format('woff');
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
.r12
{
   font-family: "Roboto Condensed";
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r13
{
   font-family: "Roboto Condensed";
   font-size: 17px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r15
{
   font-family: "Roboto Condensed";
   font-size: 20px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r18
{
   font-family: "Roboto Condensed";
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r20
{
   font-family: "Roboto Condensed";
   font-size: 27px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r24
{
   font-family: "Roboto Condensed";
   font-size: 32px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r30
{
   font-family: "Roboto Condensed";
   font-size: 37px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r36
{
   font-family: "Roboto Condensed";
   font-size: 48px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r40
{
   font-family: "Roboto Condensed";
   font-size: 53px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r48
{
   font-family: "Roboto Condensed";
   font-size: 64px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.r90
{
   font-family: "Roboto Condensed";
   font-size: 107px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
