body {
	background-color: #E4E3E5;
}

h1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
}

.restriction {
	line-height: 0;
	font-size: 0;
	width: 97px;
	height: 97px;
	background: url(/template/images/18s.png);
	position: absolute;
	top: 3px;
	right: 0;
}

.social {float: right; margin-top: 10px; color: #aaa;}
.social .yashare-auto-init {display: inline;}

.logo_holder {
	background-color: #FFF;
	width: 100%;
	min-width: 1200px;
}

.logo {
	width: 1200px;
	margin: 0 auto;
	margin-top: 3px;
	height: 160px;
	clear: both;
	color: #D6D6D6;
	background-color: #FFF;
}

.logo .text {
	margin-top: 10px;
	text-align: center;
	color: #555;
	font-size: 12px;
	line-height: 13px;
	float: right;
	width: 450px;
	height: 105px;
}

.pornoclub {
	font-size: 100px;
	display: block;
	margin-left: 20px;
	text-shadow: 10px 10px 4px #CCC;
	color: #C03;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 550px;
	float: left;
	height: 120px;
	margin-top: 20px;
	line-height: 115px;
	text-decoration: none;
}

.pornoclub:hover {
	text-decoration: none;
	color: #C03;
}

.icon {
	float: left;
	height: 157px;
	width: 157px;
}

.menu_holder {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	background-color: #9F201B;
}

.menu {
	list-style-type: none;
	padding: 0px;
	height: 50px;
	width: 1200px;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: Times;
	overflow: hidden;
}

.menu li {
	display: inline;
	margin: 0 14px;
	padding: 0px;
	line-height: 50px;
}

.menu a {
	font-size: 36px;
	text-decoration: none;
	font-weight: normal;
	color: #FFF;
}

.menu a.active {
	background-color: #FFF;
	color: #9F201A;
}

.content {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.thumbs {text-align: center; clear: both; width: 1200px; margin: 10px auto 20px auto;}
.thumbs ul {list-style-type: none; margin: 0px; padding: 0;}
.thumbs li {text-align: center; overflow: hidden; width: 290px; height: 265px; margin: 0; padding: 5px; float: left; font-size: 12px;}
.thumbs li:hover {}
.thumbs li .title {width: 160px; height: 20px; margin: 0 auto; overflow: hidden; font-weight: bold;}
.thumbs li .info {margin: 0 auto; width: 270px; position: relative; top: -50px; height: 16px;}
.thumbs li .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs li .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs img {width: 280px; height: auto; margin: 0 0 5px 0;}
.thumbs a {color: #333;}
.thumbs a.thumb {display: block; width: 290px; height: 245px; overflow: hidden;}

.galleries {text-align: center; clear: both; width: 1080px; margin: 10px auto 20px auto;}
.galleries ul {list-style-type: none; margin: 0px; padding: 0;}
.galleries li {text-align: center; overflow: hidden; width: 260px; height: 365px; margin: 0; padding: 5px; float: left; font-size: 12px;}
.galleries li:hover {}
.galleries li .title {width: 160px; height: 40px; margin: 0 auto; overflow: hidden;}
.galleries li .info {margin: 0 auto; width: 240px; position: relative; top: -70px; height: 16px;}
.galleries li .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.galleries li .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.galleries img {width: 250px; height: auto; margin: 0 0 5px 0;}
.galleries a {color: #333; }
.galleries a.title {display: block; width: 260px; height: auto; overflow: hidden;}

.games {text-align: center; clear: both; width: 1080px; margin: 10px auto 20px auto;}
.games ul {list-style-type: none; margin: 0px; padding: 0;}
.games li {text-align: center; overflow: hidden; width: 260px; height: 270px; margin: 5px; float: left; font-size: 12px;}
.games li:hover {}
.games li .title {height: 20px; margin: 0 auto; overflow: hidden; font-weight: bold;}
.games li .description {height: 60px; margin: 0 auto; overflow: hidden;}
.games li .info {margin: 0 auto; width: 240px; position: relative; top: -110px; height: 16px;}
.games li .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.games li .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.games img {width: 250px; height: auto; margin: 0 0 5px 0;}
.games a {color: #333; }
.games a.title {display: block; width: 260px; height: auto; overflow: hidden;}

.games li {
	/*border: 1px solid #000;*/
}

.game {
	width: 960px;
	margin: 0 auto;
}

.game object {
	width: 960px;
	height: 800px;
	line-height: 0;
}

.navigation_holder {
	width: 1100px;
    height: 30px;
    margin: 20px auto 0 auto;
    /*border: 1px solid #000;*/
}

.navigation_holder h1 {
	overflow: hidden;
	width: 350px;
	height: 27px;
	display: block;
	float: right;
	font-size: 20px;
	margin: 0;
	padding-top: 3px;
	line-height: 20px;
	text-align: left;
}

.sort {
	float: right;
    width: 180px;
    height: 30px;
    /*border: 1px solid #000;*/
}

.pagination {
	float: left;
	margin: 0;
	width: 500px;
	height: 30px;
	/*border: 1px solid #000;*/
}
.pagination a {color: #333;}

.gallery {
	margin: 0 auto;
	width: 1200px;
	list-style-type: none;
}
.gallery li {
	width: 300px;
	float: left;
}
.gallery img {width: 290px; height: auto;}
.gallery-description {margin-bottom: 10px;}

/*.footer * {border: 1px solid #000;}*/
.footer {
	font-size: 12px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	text-align: center;
	width: 1200px;
	margin-bottom: 10px;
}
.footer img {
	margin-top: -2px;
}

.attention {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: red;
}

.breadcrumb a {color: #C03;}

.stories {
	margin: 10px 0 0 0;
}

.stories .more {
	text-align: right;
}

.stories li {
	/*border: 1px solid #000;*/
	margin: 20px auto;
	/*padding: 10px;*/
	list-style-type: none;
}

.stories .title{
	color: #C03;
	font-weight: bold;
	font-size: 20px;
	margin-left: 15px;
}

.stories .more {
	color: #C03;
}

.stories .text {
	margin-bottom: 0;
}

.categories .active a, .categories .active a:hover {
	background-color: #C03;
}
.categories a {
	color: #C03;
}

.player_related * {
	/*border: 1px solid #000;*/
}
.player_related {}
.player_related .player {width: 810px; float: left;}
.player_related .player .left {float: left; width: 570px;}
.player_related .player .right {float: right; width: 163px; text-align: right;}
.player_related .player .right #rating {margin-top: 10px;}
.player_related .player h2 {font-size: 16px; margin: 0;}
.player_related .related {width: 380px;	float: right;}

.thumbs_same ul {margin: 0;	padding: 0;	list-style-type: none;}
.thumbs_same li {height: 130px;	margin-bottom: 10px;}
.thumbs_same img {width: 160px;	height: auto; padding: 2px;}
.thumbs_same a.thumb {display: block; width: 170px; float: left;}
.thumbs_same .title_categories {width: 210px; height: 125px; float: right; overflow: hidden;}
.thumbs_same .title_categories a {color: #333;}
.thumbs_same .title_categories .title {font-weight: bold;}
.thumbs_same .info {clear: both; float: left; width: 156px; margin: -21px 0 0 5px; height: 16px;}
.thumbs_same .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs_same .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}

.category-description {margin: 0; font-size: 12px;}
.category-description img {max-height: 250px; width: auto; margin: 0 10px 10px 0; float: left;}
.page_description {margin: 5px 0 5px 0;}

.videos_photos,
.stories_games,
.videos_photos .videos,
.videos_photos .videos .thumbs,
.videos_photos .photos,
.videos_photos .photos .galleries,
.stories_games .stories,
.stories_games .stories_block,
.stories_games .games,
.stories_games .games_block,
.navigation_holder,
.pagination {
	/*border: 1px solid #000;*/
}

.videos_photos,
.stories_games {
	margin-top: 5px;
	width: 1200px;
}

.videos_photos .videos,
.stories_games .games_block {
	float: left;
}

.videos_photos .photos,
.stories_games .stories_block {
	float: right;
}

.videos_photos .videos,
.videos_photos .photos,
.stories_games .stories_block,
.stories_games .games_block {
	padding: 10px;
	margin-bottom: 0;
}

.videos_photos .all,
.stories_games .all {
	padding-left: 10px;
}

.videos_photos .all a,
.stories_games .all a {
	color: #C03;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}

.videos_photos .videos,
.videos_photos .videos .thumbs,
.videos_photos .videos .navigation_holder,
.videos_photos .videos .pagination,
.stories_games .games_block,
.stories_games .games_block .navigation_holder,
.stories_games .games_block .pagination,
.stories_games .games_block .games {
	width: 600px;
}

.videos_photos .photos,
.videos_photos .photos .galleries,
.videos_photos .photos .navigation_holder,
.videos_photos .photos .pagination,
.stories_games .stories_block,
.stories_games .stories_block .stories,
.stories_games .stories_block .navigation_holder,
.stories_games .stories_block .pagination {
	width: 550px;
}

.videos_photos .videos .navigation_holder,
.videos_photos .photos .navigation_holder,
.stories_games .games_block .navigation_holder,
.stories_games .stories_block .navigation_holder {
	margin-top: 20px;
}

.videos_photos .videos .thumbs,
.videos_photos .videos .pagination,
.videos_photos .photos .galleries,
.videos_photos .photos .pagination,
.stories_games .games_block .games,
.stories_games .games_block .pagination,
.stories_games .stories_block .stories,
.stories_games .stories_block .pagination {
	overflow: hidden;
}

.videos_photos .videos .thumbs,
.videos_photos .photos .galleries,
.stories_games .stories_block .stories,
.stories_games .games_block .games {
	height: 1130px;
}

.stories_games .games li {
	margin-left: 20px;
	margin-right: 20px;
}

#fancybox-overlay {min-width: 1200px;}

/*.comments * {border: 1px solid #000;}*/
.comments .list {margin: 0; padding: 0; padding-bottom: 20px;}
.comments .list li {margin: 0; padding: 0; list-style-type: none; width: 500px; margin-bottom: 10px;}
.comments .list .user {width: 200px; margin-right: 97px; float: left; overflow: hidden;}
.comments .list .date {width: 200px; float: left; overflow: hidden; text-align: right;}
.comments .list .text {clear: both;}
.comments-add .user {width: 300px;}
.comments-add .text {width: 500px; height: 150px;}


.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left;}
.h1_rating .right {float: right; margin-top: 15px;}


/*.load * {border: 1px solid #000;}*/
.load {width: 660px; margin: 0 auto 20px auto; height: 150px;}
.load h1 {font-size: 20px;}
.load h2 {font-size: 20px;}
.load .text {float: right; width: 490px; margin-top: 20px; text-align: center; background-color: #f7f7f7; overflow: hidden; line-height: 35px;}
.load .image {float: left; width: 170px; text-align: center; overflow: hidden;}
.load .image img {width: 160px; height: auto;}

.vk_group {float: right; font-size: 20px; font-weight: bold;}
.vk_group img {width: 50px; height: auto;}

.player_xv iframe {width: 800px; height: 620px;}