#scrollup {
	position: fixed; /* фиксированная позиция */
	opacity: 0.5; /* прозрачность */
	padding: 15px 10px 10px; /* отступы */
	background: #aaa;
	border-radius: 5px; /* скругление углов */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	right: 10px; /* отступ слева */
	bottom: 10px; /* отступ снизу */
	display: none; /* спрятать блок */
	cursor: pointer;
	z-index: 1;
}