body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	margin: 0px;
	padding: 0px;
	background-color: #660000;
	/*background: #660000 url(images/body_fon.jpg) repeat-x;*/
}
a {
	color: #CCCCCC;
	text-decoration: underline;
}
a:hover {
	color: #FFFFFF;
}
h2 {
	text-indent: -99999px;
	float: left;
}
h3 {
	padding: 0 0 15px 25px;
	margin: 0;
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
hr {
	color: #292929;
	clear:both;
	margin: 0px;
	padding: 0px;
	width: 90%;
	background: #292929;
	height: 1px;
	border: 0;
}
p {margin: 0;}

.head {
	margin: 0px;
	padding: 0px;
	background: #660000 url(images/body_fon.jpg) repeat-x;
}

#header {
	background: url(images/logo.jpg) no-repeat;
	/*width: 894px;*/
	height: 146px;
	/*margin: 0 auto;*/
}
#header h1 {
	overflow: hidden;
	display: block;
	text-align: left;
	font-size: 15px;
	color: #dfdfdf;
	/*float: right;*/
	/*width: 730px;*/
	/*height: 20px;*/
	padding: 0px;
	/*margin: 125px 10px 0 0;*/
	border: 0px dotted #ccc;
	position: absolute;
	top: 105px;
	left: 169px;
}
#menu {
	margin: 0 auto;
	/*width: 1100px;*/
	min-height: 35px;
	text-align: left;
	padding: 10px 0 0 0;
	display: block;
	overflow: hidden;
}
#menu ul {
	margin: 0; 
	padding: 0;
	margin-left: 10px;
}
#menu li {
	display: inline;
	margin: 0 15px 0 15px;
}

#menu a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#page {
	width: 1106px;
	margin: 0 auto;
}

#content {
	width: 1054px;
	/*float: left;*/
	margin: 0 auto;
}

#banners_left {
	width: 120px;
	text-align: left;
	margin: 50px 6px 0 0;
	float: left;
}

.banners_center {
	width: 100%;
	text-align: center;
	margin: 10px 0;
	overflow: hidden;
	margin-left: -12px;
}

#banners_right {
	width: 120px;
	text-align: right;
	margin: 50px 0 0 6px;
	float: left;
}

#liru {
	margin: 0;
	padding: 0 3px 0 0;
	height: 31px;
	float: right;
}

#footer_text {
	padding: 10px 0 0 0;
	float: left;
}

#footer {
	padding: 10px 0;
	margin: 0 auto;
	/*width: 1040px;*/
	clear: both;
	text-align: center;
}

#pages {
	padding: 0px 20px;
	margin-bottom: 10px;
	text-align: left;
}
#pages li {
	float: left;
	margin: 1px 2px;
	text-align: center;
}
#pages a {
	display: block;
	min-width: 26px;
	padding: 2px 3px;
	border: 1px solid #999;
	text-decoration: none;
}
#pages a:hover {
	background: #666;
	border: 1px solid #ccc;
}
#pages .unlinked {
	color: #FFFFFF;
	display: block;
	min-width: 26px;
	padding: 2px 3px;
	background: #666;
	border: 1px solid #ccc;
}

#box_new {
	background: url(images/box_new.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}
#box_popular {
	background: url(images/box_popular.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}
#box_online {
	background: url(images/box_online.jpg) no-repeat;
	height: 63px;
	margin: 10px 0 0 0;
}

#load {padding: 0 20px 0 20px;}
#load .left {/*float: left; width: 648px;*/ height: 198px; text-align: center; background-color: #444; border: 1px dotted #999; overflow: hidden;}
#load .right {/*float: left; width: 260px;*/ height: 198px; text-align: center; padding: 10px 0; background-color: #999; overflow: hidden;}
#load .right img {
	border: 2px solid #666;
	width: 231px;
	height: 170px;
	width: auto;
}
#load .right:hover {background-color: #ccc;}

#box_more {
	background: url(images/box_more.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}
#box_categories {
	background: url(images/box_categories.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}
#box_selected {
	background: url(images/box_selected.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}
#box_news {
	background: url(images/box_news.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}

#box_chat {
	background: url(images/box_online.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}

#box_tags {
	background: url(images/box_tags.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}
#box_comments {
	background: url(images/box_comments.jpg) no-repeat;
	height: 59px;
	margin: 10px 0 0 0;
}

#stat_video {
	/*width: 700px;*/
}
#stat_video ol {padding: 0 0 0 30px; margin: 3px 0 0 0;}
#stat_video .prim {text-align: right; font-size: 10px; color: #666;}

#last5 {
	/*width: 350px;*/
	/*float: left;*/
}
#last5 .title {color: #ffc; font-weight: bold; font-size: 14px;}
#last5 .videos {font-size: 12px;}

#most_popular {
	/*width: 350px;*/
	/*float: left;*/
}
#most_popular .title {color: #ffc; font-weight: bold; font-size: 14px;}
#most_popular .videos {font-size: 12px;}
#most_popular .hits {font-size: 8px;}

#news {width: 90%; margin: 0 auto;}
#news .date {padding: 5px; font-weight: bold; color: #ffc;}
#news .text {padding: 3px; text-align: justify;}
#news .admin {padding: 2px; text-align: right;}

.box {
	background: url(images/box_fon.jpg?1) repeat-y;
	padding: 10px 10px 0 25px;
}
.galery li {
	float: left;
	height: 248px;
	width: 259px;
	margin: 0 10px 10px 10px;
	display: block;
	overflow: hidden;
	text-align: center;
}

.galery li a {
	text-decoration: none;
	font-size: 12px;
}
.galery li a:hover {
	border: 1px dotted #292929;
	text-align: center;
}
.galery img {
	border: 2px solid #FFFFFF;
	margin: 0 0 4px 0;
	width: 255px;
	height: 194px;
}
.galery .left {
float: left;
}
.galery .right {
float: right;
}

#infobox {text-align: left; margin: 0 auto; padding: 20px; line-height: 18px; /*width: 730px; */ font-size: 14px;}
#infobox a {color: #ffc;}
#infobox .copytools {/*width: 700px;*/ /*height: 34px;*/ margin-top: 10px; text-align: left;}
#infobox .copytools td {
	width: 350px;
	vertical-align: top;
}
#infobox .odnaknopka {width: 150px; margin-top: 7px;}
#infobox .bposter {width: 30px; margin-top: 7px; cursor: pointer;}
#infobox .embed {cursor: pointer;}
#infobox .rules {display: inline; font-weight: bold; color: #ffc; border-bottom: 1px dotted #ffc; cursor: pointer;}
#infobox .nodisp {display: none; width: 350px; text-align: center;}
#infobox .htmlcode {overflow: scroll; border: 1px solid #ccc; width: 350px; height: 170px; margin: 0 0 10px 0; text-align: left; background-color: #333; color: #ccc;}
#infobox h3 {margin: 0; padding: 0; font-size: 14px; display: inline; color: #FFC;}
#infobox h4 {margin: 0; padding: 0; font-size: 11px; display: inline; color: #FFD;}

.gal_t {
	background: url(images/box_top.jpg) no-repeat;
	height: 12px;
	width: 754px;
	clear: both;
}

.gal_b {
	background: url(images/box_bottom.jpg) no-repeat;
	height: 12px;
	width: 754px;
	clear: both;
}
#player {
	/*text-align: left;*/
	/*width: 715px;*/
	margin: 0 auto;
	text-align: center;
	width: 700px;
	/*height: 481px;*/
}

#categories {
	/*width: 690px; */
	margin: 0 auto;
}
#categories li {
padding: 5px 0 5px 0;
text-align: left;
width: 275px;
font-weight: bold;
float: left;
overflow: hidden;
/*height: 35px;*/
color: #fff;
}
#categories a {
margin: auto 0;
font-size: 13px;
color: #CCCCFF;
border-bottom: 1px dotted #fff;
text-decoration: none;
}
#categories a:hover, #categories a:active {
color: #fff;
border: none;
height: auto;
width: auto;
display: inline;
overflow: visible;
text-align: left;
}

#tags {}
#tags li {
padding: 5px 2px;
font-weight: bold;
display: inline;
color: #fff;
}
#tags a {
font-size: 13px;
color: #CCCCFF;
text-decoration: none;
}
#tags a:hover, #tags a:active {
color: #fff;
border: none;
text-align: left;
}

#tags_list {width: 800px; margin: 0 auto;}
#tags_list li {
padding: 5px 2px;
text-align: center;
width: 260px;
/* font-weight: bold; */
float: left;
overflow: hidden;
height: 30px;
color: #fff;
}
#tags_list .q2 {
background-color: #292929;
}
#tags_list .q1 {
background-color: #650000;
}
#tags_list a {
margin: auto 0;
font-size: 13px;
color: #CCCCFF;
text-decoration: none;
}
#tags_list a:hover, #tags_list a:active {
color: #fff;
border: none;
height: auto;
width: auto;
display: inline;
overflow: visible;
text-align: left;
}

.comments {padding-bottom: 10px;}
.comments li {margin: 20px; border: 1px dashed #cccccc;}
.comments .login hr {width: 100%; margin-right: 20px; border: 1px solid #666666;}
.comments .first {margin: 20px 0 0 30px; color: #FFEFA2; font-size: 16px; font-weight: bold;}
.comments .says {color: #fff;}
.comments .gb {font-size: 13px; font-weight: bold; text-align: right; margin: 0 10px 10px 0; clear: both; float: left; width: 100px;}
.comments .login {margin: 5px 50px 0 50px; text-align: left; font-weight: bold; font-size: 14px; color: #FFCCFF;}
.comments .message {font-size: 12px; padding: 15px 30px 15px 30px;}
.comments .date {text-align: right; margin: 0 20px 5px 0; font-family: Courier New; font-weight: bold;}

#gbook .head {background: url(images/box_book.jpg?1) no-repeat; height: 59px; margin: 10px 0 0 0;}
#gbook .says {color: #fff;}
#gbook .gb {font-size: 13px; font-weight: bold; text-align: right; margin: 0 10px 10px 0; clear: both; float: left; width: 100px;}
#gbook .user {margin: 5px 50px 0 50px; text-align: left; font-weight: bold; font-size: 14px; color: #FFCCFF;}
#gbook .text {font-size: 12px; padding: 15px 30px 15px 30px;}
#gbook .date {text-align: right; margin: 0 20px 5px 0; font-family: Courier New; font-weight: bold;}
#gbook .post {margin: 20px; border: 1px dashed #cccccc;}
#gbook .post hr {width: 100%; margin-right: 20px; border: 1px solid #666666;}

.captcha {}
.captcha .left {
text-align: center;
padding-left: 120px;
width: 100px;
height: 15px;
float: left;
}
.captcha .right {
width: 100px;
height: 25px;
float: left;
/*padding-top: 40px;*/
margin-left: 10px;
}
.captcha img {
border: 1px solid #ccc;
background-color: #292929;
}
.captcha a {border-bottom: 1px dotted #fff;}
.captcha .left input {
color: #fff;
width: 95px;
height: 20px;
border: 1px solid #ccc;
margin: 1px;
background-color: #393939;
font-family: Comic Sans MS;
font-size: 20px;
font-style: italic;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 5px;
}

#subscribe {
	/*position: relative; */
	/*bottom: 40px; */
	float: right;
	width: 210px;
	overflow: hidden;
	text-align: center;
}
#subscribe p {font-weight: bold; margin: 0 0 5px 0;}
#subscribe .email {background-color: #770000; border: 1px dotted #ccc; color: #fff;}
#subscribe .submit {background-color: #660000; border: 1px solid #ccc; color: #fff;}

#chat {padding-right: 10px;}

.warn18 {
    background: url(images/warn18-sprite.png) no-repeat 100% 0;
    position: absolute;
    width: 90px;
    height: 93px;
    right: 0;
    top: 0;
    z-index: 999;
    cursor: default;
}
.warn18 .tip {
    display: none;
    background: url(images/warn18-sprite.png) no-repeat 0 0;
    width: 322px;
    height: 145px;
    padding: 30px 10px 0;
    top: 67px;
    right: 10px;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    cursor: default;
}
.warn18:hover .tip {
    display: block;
}
.common {
	background: #660000 url(images/body_fon.jpg) repeat-x;
}
/*brand*/
/*
.common {
	background: #660000 url(images/body_fon.jpg) repeat-x;
	max-width: 1126px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.advert_link {
	position: absolute;
	top: 0px;
	display: block;
	width: 100%;
	height: 550px;
	background-color: transparent;
	overflow: hidden;
	z-index: 0;
}
body {
	padding-top: 245px;
	background-image: url(images/kazino_mq.jpg);
	background-size: 1600px auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000033;
}
#page {
	background-color: #660000;
}
#page:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*/

.teasernet_v1 {width: 100%; overflow: hidden; text-align: center; background: url(images/block-bg.png) repeat-y;}
.teasernet_v1 .top {width: 120px; height: 20px; background: url(images/block-top.png) no-repeat;}
.teasernet_v1 .bot {width: 120px; height: 20px; background: url(images/block-bot.png) no-repeat;}

#yandex {
/*position: relative;*/
/*bottom: 40px;*/
/*margin: 0 20px 0 0;*/
margin: 0;
text-align: center;
float: right;
width: 240px;
}
#yandex p {
font-weight: bold;
margin: 0;
}
#yandex input[type=submit] {color: #000;}
div.b-yandexbox * { font-size: 12px !important; margin: 0 !important; } div.b-yandexbox a img { border: 0 !important; } div.b-yandexbox input, div.b-yandexbox label { vertical-align: middle; } div.b-yandexbox table { font-size: 12px; width: 100%; border-collapse: collapse; border: 0; /*background: #660000;*/ } div.b-yandexbox table td { padding: 7px 0 6px 0; white-space: nowrap; vertical-align: middle; } div.b-yandexbox .b-yandexbox-image { padding: 6px 6px 0 6px; } div.b-yandexbox .b-yandexbox-search { width: 100%; padding: 0 6px; } div.b-yandexbox .b-yandexbox-search table { margin: 0; padding: 0; background: none; } div.b-yandexbox .b-yandexbox-search .b-yandexbox-txt { width: 100%; padding-right: 6px; } div.b-yandexbox .b-yandexbox-text { position: relative; width: 100%; } div.b-yandexbox .b-yandexbox-text input { float: left; width: 100%; padding-right: 0; border: 1px solid #7f9db9; } div.b-yandexbox .b-yandexbox-search .b-yandexbox-submit { padding: 0; } div.b-yandexbox .b-hint-input { position: absolute; z-index: 100; left: 0; display: none; width: 30px; height: 11px; margin: 0.16em 0.2em !important; cursor: text; line-height: 0; background: url(http://site.yandex.ru/i/ysearch_small.png) no-repeat; } div.b-yandexbox .button-search { width: 19px; height: 15px; outline: none; cursor: pointer; border: none; background: url(http://site.yandex.ru/i/search.png) no-repeat; }

.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {
    min-height: 1px;
}

.title, .title h2 {
	margin-top: 10px;
	margin-left: 10px;
	text-indent: inherit;
	font-size: 36px;
	margin-bottom: 5px;
	color: #F2EA6A;
	text-shadow: 1px 1px 1px #000;
	font-family: Arial;
}

.h1_rating {margin-bottom: 5px;}
.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 780px; text-align: center;}
.h1_rating .right {float: right; margin-top: 15px; width: 190px;}

.articles {margin: 0;}
.articles ul {margin: 0;}
.articles li {margin: 10px auto; list-style-type: none;}
.articles .article_title {color: #fff; font-weight: bold; font-size: 16px; }
.articles .more {float: right; color: #fff178; margin-right: 5px;}
.articles .more_block {margin-top: 5px;}
.articles .text {margin-bottom: 0; font-size: 12px;}
.articles .short {max-height: 200px; overflow: hidden; margin-top: 5px;}
.articles .short img {width: auto; height: auto; max-height: 100px; margin: 0 5px; border: 1px solid #ccc;}

.article .text {font-size: 12px; text-align: justify; /*width: 810px;*/}
.article .left {margin-left: 10px; font-size: 30px;}
.article img {max-height: 500px; margin: 0 5px; border: 1px solid #ccc;}
.article h1 {
	/*color: #fff;*/
	font-size: 24px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}

.view{
    float: left;
    /*width: 50%;*/
    height: 14px;
    text-align: left;
}
.view span{
    display: block;
    height: 14px;
    padding-left: 22px;
    margin-left: 5px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    background: url(images/view_thumb.png) no-repeat left 0;
}

.like {
    /*clear: both;*/
    padding: 5px;
    /*width: 100px;*/
    float: right;
}
.like img {
    display: block;
    float: left;
}
.like .percent {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 12px;
    padding-left: 12px;
}


.gradient {
	margin: -45px 0 0 2px;
	text-shadow: 0px 31px 1px #353235;
	/*background: linear-gradient(#fff,#FFC82D);*/
	/*-webkit-background-clip: text;*/
	/*color: transparent;*/
	color: #FFC82D;;
	height: 55px;
	overflow: hidden;
}
.gradient h2 {
	font-size: 38px;
	text-transform: uppercase;
	font-family: impact;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
.gradient .new_videos {
	float: left;
	width: 290px;
	overflow: hidden;
}
.content-block {
	border: 2px solid #fff;
	border-radius: 8px;
	background-color: #292929;
	/*height: 200px;*/
	margin: 45px 0 0 0;
	padding: 10px;
	font-size: 12px;
}

.untitled {
	margin-top: 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.galery .auto_height {
	width: 184px;
	height: auto;
}
.galery .photo-block {
	height: 355px;
}
.galery .photo-block img {
	height: auto;
}
.galery .game-block {
	height: 165px;
}
.pic_small {
	height: 200px;
	width: auto;
	display: block;
	float: left;
	margin: 2px;
	border: 1px solid #fff;
}
.pic_description {
	margin-bottom: 10px;
}
#pic_view {
	display: block;
	/*float: left;*/
	width: 600px;
	height: auto;
	/*margin: 0 20px 20px 5px;*/
	margin: 0 auto 20px auto;
	border: 1px solid #fff;
}
.gallery-view .title {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.gallery-view .description {
	font-size: 16px;
	margin-bottom: 10px;
}
#show_more_button,#show_more_button_new {
	display: block;
	clear: both;
	margin: 0 auto 20px auto;
	border: 1px solid #333;
	background-color: #222;
	/*width: 300px;*/
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
	cursor: pointer;
	/*color: rgb(0, 136, 204);*/
}

.player_ph iframe, .player_ph object, .player_xv iframe {
	width: 700px;
	height: 500px;
}
.game-play object {
	width: 800px;
	height: 650px;
	margin-top: 10px;
}

.save-video-button {
	display: block;
	float: left;
	border: 1px solid #555;
	border-radius: 2px;
	padding: 5px 10px;
	width: 220px;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	background-color: #000;
	margin-top: 5px;
	color: #e32d00;
}
.save-video-button img {
	/*display: inline-block;*/
	vertical-align: middle;
	width: 20px;
	height: auto;
	margin-right: 10px;
}

#timer {
    font-size: 70px;
    text-align: center;
    /*height: 140px;*/
    overflow: hidden;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}

/*
body {
	background: #660000 url("/template/promo/brand/xrest.jpg") 50% 0 no-repeat;
}

.head {
	margin: 0 auto;
	overflow: hidden;
	width: 1050px;
	border: 2px solid #fff;
	border-radius: 8px;
}

.brand {
	height: 240px;
}
.brand a {
	display: block;
}
.brand .middle{
	height: 240px;
}
.brand #brand_left, .brand #brand_right {
	position: absolute;
	top: 240px;
	height: 500px;
}
.brand #brand_left {
	left: 0;
}
.brand #brand_right {
	right: 0;
}
*/

.comments_button button {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	padding: 6px 12px;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}

.footer {
	margin: 10px 0 10px 0;
}
.footer .footer-links {
	margin-top: 6px;
}
.menu-change {
	min-height: 35px;
	margin-bottom: 0;
	border: 0;
	background: none;
}
.menu-change .nav li a {
	padding-top: 6px;
	padding-bottom: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.menu-change .navbar-toggle {
	margin-top: 0;
	margin-bottom: 0;
}
.menu-change .navbar-brand {
	text-decoration: none;
	color: #fc0;
	font-weight: bold;
	padding: 6px 3px 0 9px;
	height: auto;
}
.header_sm {
	background: url(images/logo_sm.jpg) no-repeat;
	/*width: 894px;*/
	height: 59px;
	/*margin: 0 auto;*/
	margin-top: 15px;
}
.header_sm .h1 {
	overflow: hidden;
	display: block;
	text-align: left;
	font-size: 15px;
	color: #dfdfdf;
	width: 350px;
	height: 50px;
	padding: 0px;
	margin: 0;
	border: 0px dotted #ccc;
	position: absolute;
	top: 20px;
	right: 20px;
}
#infobox .copytools a {
	color: #000;
}
.player {
	width: 90%;
	margin: 0 auto;
}
#teasers_player {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}