.head {
	background: none;
}

.gradient {
	margin: -30px 0 0 2px;
	text-shadow: 0px 15px 1px #353235;
	color: #FFC82D;;
	height: 55px;
	overflow: hidden;
}
.gradient h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: impact;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.content-block {
	margin-top: 30px;
}
.menu-change {
	background-color: #222;
	border-color: #080808;
	border: 1px solid transparent;
}