

body {
    /*background-image: url('../img/simple.png');*/
    background-repeat: repeat-x repeat-y;
    color: white;
}
.back {
    background-color: white;
}
.pad {
    padding: 20px;
}
.mar {
    margin-bottom: 20px;
}
.fl {
    float: right;
}
.le {
    float: left;
}
.topt {
    width: 80%;
}
.list-group-item:hover {
    background-color: white !important;
}
.list-group-item {
    background-color: #E0FFFF !important;
    color: black !important;
}
h1, h2 {
    font-weight: bold !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}


/*Страница с видео начало*/
/*Описание видео*/
.videoDesc {
    width: 97%;
    margin: 5px auto;
    padding: 10px 0;
    border-bottom: solid 1px #DEDEDE;
}
.videoDesc p {
    font: 14px Tahoma, sans-serif;
    margin: 0;
    color: white;
}
.videoDesc span {
    color: black;
    margin-right: 3px;
}
#videoInfo {
    font: 14px Tahoma, sans-serif;
    list-style-type: none;
    padding-left: 10px;
}
#videoInfo li {
    display: inline-block;
    margin-right: 30px;
    color: black;
    padding-top: 5px;
}
#videoInfo span {
    color: white;
}
#videoCat {
    display: table;
    width: 97%;
    margin: 5px auto;
    padding: 5px 0 10px 0;
    border-bottom: solid 1px #DEDEDE;
}
#videoCat span {
    display: block;
    font: 14px Tahoma, sans-serif;
    color: black;
    padding: 4px 0;
    margin: 4px 5px 0 0;
    float: left;
}
#videoCat a {
    font: 14px Tahoma, sans-serif;
    display: block;
    float: left;
    border: 1px solid #CECECE;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    min-width: 12px;
    text-align: center;
    padding: 4px 10px 5px;
    margin: 3px;
    background: 0px 0px #ECECEC;
    color: #424242;
    box-shadow: 0px 1px #EBEBEB;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
}
/*лайки дизлайки*/
.right {
    float: right;
    margin-right: 20px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #FF6F00;
}

.button2:hover {
    background-color: #FF6F00;
    color: white;
}
/*Страница с видео конец*/
/*категории*/
.list-group a {
    background-color: #4C4C4C !important;
    display: block !important;
    text-shadow: 0px 1px #000 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 17px !important;
    padding: 4px 5px 4px 11px !important;
    color: #EAEAEA !important;
    border-bottom: 1px solid #454545 !important;
    border-top: 1px solid #5B5B5B !important;
    text-decoration: none !important;
}
.list-group a:hover {
    color: red !important;
    background-color: #373737 !important;
}