/*

*/

.version.index /* version checker */
{
	color: #000016;
	background-color: #4F0E9B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 7150px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 22px;
	width: 0.01px;
}

#u75
{
	z-index: 15;
	min-height: 644px;
	background: transparent url("../img/d6fdbc72492d3a5bce2a42833f326a31.jpg") no-repeat left center;
	background-size: contain;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 93px;
	padding-bottom: 128px;
}

#u94
{
	z-index: 17;
	width: 456px;
	height: 262px;
	border-width: 10px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	left: 667px;
	position: relative;
}

#pu175
{
	width: 0.01px;
	left: 637px;
	margin-top: 67px;
	position: relative;
}

#u175
{
	z-index: 151;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u103-5
{
	z-index: 41;
	width: 203px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u187
{
	z-index: 153;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u105-5
{
	z-index: 51;
	width: 240px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 316px;
}

#pu181
{
	width: 0.01px;
	left: 637px;
	margin-top: 8px;
	position: relative;
}

#u181
{
	z-index: 155;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u104-5
{
	z-index: 46;
	width: 258px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u106-5
{
	z-index: 56;
	width: 191px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 316px;
}

#u75-bw
{
	z-index: 15;
	min-height: 644px;
}

#u96
{
	z-index: 16;
	min-height: 59px;
	padding-bottom: 55px;
	background: transparent url("../img/%d1%84%d0%b8%d0%b3%d1%83%d1%80%d0%b01.html") no-repeat center top;
	background-size: cover;
}

#u173-4
{
	z-index: 61;
	width: 160px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: right;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 410px;
}

#u167
{
	z-index: 149;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 596px;
}

#u174-4
{
	z-index: 145;
	width: 200px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 646px;
}

#u96-bw
{
	z-index: 16;
	min-height: 59px;
	margin-top: 607px;
}

#u95
{
	z-index: 22;
	width: 298px;
	height: 78px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 753px;
}

#u818
{
	z-index: 26;
	width: 117px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 847px;
}

#u815
{
	z-index: 161;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u88-12
{
	z-index: 29;
	width: 522px;
	min-height: 283px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 641px;
}

#u88-2
{
	font-size: 54px;
	line-height: 65px;
	font-family: '__Bebas Neue_5';
	font-weight: 700;
}

#u88-4
{
	font-size: 48px;
	line-height: 58px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
}

#u88-6
{
	font-size: 48px;
	line-height: 58px;
	font-family: '__Intro Inline_5';
	font-weight: 700;
}

#u88-8,#u88-10
{
	font-size: 41px;
	line-height: 49px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
}

#u184
{
	z-index: 157;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
	left: 917px;
}

#u1318
{
	z-index: 789;
	width: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 698px;
}

#u1319
{
	z-index: 790;
	width: 407px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u1320-4
{
	z-index: 791;
	width: 407px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#pu193
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: -4px;
}

#u193
{
	z-index: 18;
	width: 893px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u204
{
	z-index: 25;
	width: 117px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: 389px;
}

#u198
{
	z-index: 159;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u194
{
	z-index: 23;
	width: 700px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 100px;
}

#u194_position_content
{
	margin-bottom: -6px;
}

#u192-4
{
	z-index: 77;
	width: 780px;
	min-height: 50px;
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -40px;
	position: relative;
}

#u208-4
{
	z-index: 81;
	width: 780px;
	min-height: 25px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -30px;
	margin-top: 9px;
	position: relative;
}

#u191-4
{
	z-index: 65;
	width: 780px;
	min-height: 53px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 60px;
}

#u210
{
	z-index: 21;
	width: 553px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	padding-bottom: 14px;
	margin-left: 229px;
	margin-top: 44px;
	position: relative;
}

#u211
{
	z-index: 24;
	width: 494px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: 29px;
}

#u205
{
	z-index: 167;
	width: 400px;
	min-height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 47px;
}

#ppu311
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 31px;
}

#pu311
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 316px;
}

#u311
{
	z-index: 7;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u219
{
	z-index: 171;
	width: 230px;
	height: 204px;
	margin-left: 25px;
	position: relative;
	background: transparent url("../img/och2.jpg") no-repeat center center;
	background-size: contain;
}

#u296
{
	z-index: 234;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u301
{
	z-index: 279;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u298
{
	z-index: 243;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u302
{
	z-index: 270;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1308
{
	z-index: 91;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u309
{
	z-index: 92;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u308-4
{
	z-index: 93;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u310-6
{
	z-index: 482;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u295-6
{
	z-index: 183;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u303
{
	z-index: 252;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 149px;
}

#u306
{
	z-index: 261;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 154px;
}

#u297-5
{
	z-index: 292;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 4px;
}

#u305-4
{
	z-index: 336;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 153px;
}

#u304-4
{
	z-index: 372;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 153px;
}

#u299-8
{
	z-index: 412;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 4px;
}

#u300
{
	z-index: 561;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 19px;
}

#u281
{
	z-index: 6;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u212
{
	z-index: 168;
	width: 230px;
	height: 204px;
	margin-left: 26px;
	position: relative;
	background: transparent url("../img/och1.jpg") no-repeat center center;
	background-size: contain;
}

#u283
{
	z-index: 233;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u288
{
	z-index: 278;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u285
{
	z-index: 242;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u287
{
	z-index: 269;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1307
{
	z-index: 85;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u166
{
	z-index: 86;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u196-4
{
	z-index: 87;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u294-6
{
	z-index: 476;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u328
{
	z-index: 8;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 632px;
}

#u220
{
	z-index: 174;
	width: 230px;
	height: 204px;
	margin-left: 27px;
	position: relative;
	background: transparent url("../img/och3.jpg") no-repeat center center;
	background-size: contain;
}

#u313
{
	z-index: 235;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u318
{
	z-index: 280;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u315
{
	z-index: 244;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u319
{
	z-index: 271;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1309
{
	z-index: 97;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u325
{
	z-index: 98;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u326-4
{
	z-index: 99;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u327-6
{
	z-index: 488;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u282-6
{
	z-index: 177;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u312-6
{
	z-index: 189;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 633px;
}

#u284
{
	z-index: 251;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 149px;
}

#u320
{
	z-index: 253;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 781px;
}

#u286
{
	z-index: 260;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 154px;
}

#u323
{
	z-index: 262;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 787px;
}

#u289-5
{
	z-index: 287;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 4px;
}

#u314-5
{
	z-index: 297;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 636px;
}

#u291-4
{
	z-index: 332;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 153px;
}

#u322-4
{
	z-index: 340;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 785px;
}

#u292-4
{
	z-index: 368;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 153px;
}

#u321-4
{
	z-index: 376;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 785px;
}

#u290-8
{
	z-index: 404;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 4px;
}

#u316-8
{
	z-index: 420;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 636px;
}

#u293
{
	z-index: 560;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 19px;
}

#u317
{
	z-index: 562;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 651px;
}

#u695
{
	z-index: 10;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u240
{
	z-index: 172;
	width: 230px;
	height: 204px;
	margin-left: 25px;
	position: relative;
	background: transparent url("../img/och5.jpg") no-repeat center center;
	background-size: contain;
}

#u699
{
	z-index: 237;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u702
{
	z-index: 282;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u703
{
	z-index: 246;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u707
{
	z-index: 273;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1311
{
	z-index: 109;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u710
{
	z-index: 110;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u709-4
{
	z-index: 111;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u711-6
{
	z-index: 500;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u694-6
{
	z-index: 201;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u697
{
	z-index: 255;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 149px;
}

#u700
{
	z-index: 264;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 154px;
}

#u701-5
{
	z-index: 307;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 4px;
}

#u698-4
{
	z-index: 348;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 153px;
}

#u705-4
{
	z-index: 384;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 153px;
}

#u704-8
{
	z-index: 436;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 4px;
}

#u706
{
	z-index: 564;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 19px;
}

#u659
{
	z-index: 9;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u241
{
	z-index: 169;
	width: 230px;
	height: 204px;
	margin-left: 25px;
	position: relative;
	background: transparent url("../img/och4.jpg") no-repeat center center;
	background-size: contain;
}

#u665
{
	z-index: 236;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u669
{
	z-index: 281;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u664
{
	z-index: 245;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u668
{
	z-index: 272;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1312
{
	z-index: 103;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u673
{
	z-index: 104;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u672-4
{
	z-index: 105;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u675-6
{
	z-index: 494;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u712
{
	z-index: 11;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 632px;
}

#u239
{
	z-index: 175;
	width: 230px;
	height: 204px;
	margin-left: 27px;
	position: relative;
	background: transparent url("../img/och6.jpg") no-repeat center center;
	background-size: contain;
}

#u720
{
	z-index: 238;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u722
{
	z-index: 283;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u718
{
	z-index: 247;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u721
{
	z-index: 274;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1310
{
	z-index: 115;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u728
{
	z-index: 116;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u727-4
{
	z-index: 117;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u729-6
{
	z-index: 506;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u658-6
{
	z-index: 195;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u713-8
{
	z-index: 207;
	width: 285px;
	min-height: 108px;
	background-color: transparent;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 633px;
}

#u713-2
{
	font-size: 28px;
	line-height: 34px;
	font-weight: 400;
}

#u713-4,#u713-6
{
	font-size: 26px;
	line-height: 31px;
	font-weight: 700;
}

#u662
{
	z-index: 254;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 149px;
}

#u716
{
	z-index: 256;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 782px;
}

#u663
{
	z-index: 263;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 154px;
}

#u717
{
	z-index: 265;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 787px;
}

#u670-5
{
	z-index: 302;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 4px;
}

#u723-5
{
	z-index: 312;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 637px;
}

#u661-4
{
	z-index: 344;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 153px;
}

#u715-4
{
	z-index: 352;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 786px;
}

#u666-4
{
	z-index: 380;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 153px;
}

#u719-4
{
	z-index: 388;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 786px;
}

#u667-8
{
	z-index: 428;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 4px;
}

#u724-8
{
	z-index: 444;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 637px;
}

#u674
{
	z-index: 563;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 19px;
}

#u725
{
	z-index: 565;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 652px;
}

#ppu695,#ppu748
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 35px;
}

#pu695,#pu748
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 317px;
}

#u748
{
	z-index: 13;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u261
{
	z-index: 173;
	width: 230px;
	height: 204px;
	margin-left: 25px;
	position: relative;
	background: transparent url("../img/och8.jpg") no-repeat center center;
	background-size: contain;
}

#u752
{
	z-index: 240;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u753
{
	z-index: 285;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u754
{
	z-index: 249;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 19px;
	position: relative;
}

#u758
{
	z-index: 276;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1314
{
	z-index: 127;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 32px;
	position: relative;
}

#u764
{
	z-index: 128;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u763-4
{
	z-index: 129;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u765-6
{
	z-index: 548;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u749-6
{
	z-index: 221;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u757
{
	z-index: 258;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 149px;
}

#u759
{
	z-index: 267;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 154px;
}

#u751-5
{
	z-index: 322;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 4px;
}

#u760-4
{
	z-index: 360;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 153px;
}

#u761-4
{
	z-index: 396;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 153px;
}

#u755-8
{
	z-index: 460;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 4px;
}

#u756
{
	z-index: 567;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 19px;
}

#u731
{
	z-index: 12;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u262
{
	z-index: 170;
	width: 230px;
	height: 204px;
	margin-left: 24px;
	position: relative;
	background: transparent url("../img/och7.jpg") no-repeat center center;
	background-size: contain;
}

#u733
{
	z-index: 239;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u736
{
	z-index: 284;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u743
{
	z-index: 248;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u738
{
	z-index: 275;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1315
{
	z-index: 121;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u746
{
	z-index: 122;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u745-4
{
	z-index: 123;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u747-6
{
	z-index: 512;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u766
{
	z-index: 14;
	width: 282px;
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 1px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 632px;
}

#u311_position_content,#u281_position_content,#u328_position_content,#u695_position_content,#u659_position_content,#u712_position_content,#u748_position_content,#u731_position_content,#u766_position_content
{
	/*padding-top: 67px;*/
	padding-bottom: 11px;
}

#u260
{
	z-index: 176;
	width: 230px;
	height: 204px;
	margin-left: 27px;
	position: relative;
	background: transparent url("../img/och9.jpg") no-repeat center center;
	background-size: contain;
}

#u770
{
	z-index: 241;
	width: 168px;
	background-color: #FCEE21;
	padding-bottom: 16px;
	left: -4px;
	margin-top: 17px;
	position: relative;
}

#u771
{
	z-index: 286;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 122px;
}

#u772
{
	z-index: 250;
	width: 179px;
	background-color: #FCEE21;
	padding-bottom: 26px;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

#u776
{
	z-index: 277;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 122px;
}

#u1313
{
	z-index: 133;
	width: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#u781
{
	z-index: 134;
	width: 236px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u309:hover,#u166:hover,#u325:hover,#u710:hover,#u673:hover,#u728:hover,#u764:hover,#u746:hover,#u781:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 236px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u782-4
{
	z-index: 135;
	width: 236px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u783-6
{
	z-index: 554;
	width: 285px;
	min-height: 26px;
	background-color: transparent;
	color: #282828;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	left: -2px;
	margin-top: 19px;
	position: relative;
}

#u310-4,#u294-4,#u327-4,#u711-4,#u675-4,#u729-4,#u765-4,#u747-4,#u783-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u310,#u310-3,#u294,#u294-3,#u327,#u327-3,#u711,#u711-3,#u675,#u675-3,#u729,#u729-3,#u765,#u765-3,#u747,#u747-3,#u783,#u783-3
{
	line-height: 20px;
}

#u730-6
{
	z-index: 215;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u767-6
{
	z-index: 227;
	width: 285px;
	min-height: 69px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 633px;
}

#u735
{
	z-index: 257;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 149px;
}

#u775
{
	z-index: 259;
	width: 34px;
	height: 34px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,17,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 781px;
}

#u742
{
	z-index: 266;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 154px;
}

#u777
{
	z-index: 268;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,23,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 786px;
}

#u737-5
{
	z-index: 317;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 4px;
}

#u769-5
{
	z-index: 327;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 636px;
}

#u734-4
{
	z-index: 356;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 153px;
}

#u778-4
{
	z-index: 364;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 785px;
}

#u741-4
{
	z-index: 392;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 153px;
}

#u779-4
{
	z-index: 400;
	width: 122px;
	min-height: 29px;
	background-color: transparent;
	color: #282828;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 785px;
}

#u739-8
{
	z-index: 452;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 4px;
}

#u773-8
{
	z-index: 468;
	width: 122px;
	min-height: 60px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 636px;
}

#u299-3,#u290-3,#u316-3,#u704-3,#u667-3,#u724-3,#u755-3,#u739-3,#u773-3
{
	color: #534741;
}

#u299-6,#u290-6,#u316-6,#u704-6,#u667-6,#u724-6,#u755-6,#u739-6,#u773-6
{
	color: #282828;
}

#u740
{
	z-index: 566;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 19px;
}

#u774
{
	z-index: 568;
	width: 90px;
	height: 2px;
	background-color: #FF0000;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 651px;
}

#pu787
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 52px;
}

#u787
{
	z-index: 19;
	width: 893px;
	height: 45px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: -3px;
}

#u789
{
	z-index: 27;
	width: 117px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u784
{
	z-index: 163;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 26px;
}

#u788-4
{
	z-index: 69;
	width: 420px;
	min-height: 53px;
	background-color: #FFFFFF;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 240px;
}

#pu790
{
	width: 0.01px;
	margin-left: 103px;
	margin-top: 66px;
}

#u790
{
	z-index: 5;
	width: 648px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 42px;
	background: transparent url("../img/ray-b_(5.html).jpg") no-repeat center center;
	background-size: contain;
}

#u790_position_content
{
	margin-top: -24px;
	padding-bottom: 33px;
}

#u797-6
{
	z-index: 518;
	width: 244px;
	min-height: 81px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	margin-left: 460px;
	position: relative;
}

#u802-4
{
	z-index: 538;
	width: 155px;
	min-height: 28px;
	background-color: transparent;
	color: #282828;
	line-height: 23px;
	font-size: 19px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 700;
	margin-left: 26px;
	margin-top: 27px;
	position: relative;
}

#pu801-6
{
	width: 0.01px;
	margin-left: -44px;
	margin-top: 160px;
}

#u801-6
{
	z-index: 542;
	width: 270px;
	min-height: 81px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
}

#u800-6
{
	z-index: 524;
	width: 244px;
	min-height: 81px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	left: 568px;
}

#u799-8
{
	z-index: 530;
	width: 244px;
	min-height: 81px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 576px;
}

#u797-2,#u801-2,#u800-2,#u799-2
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
}

#u797-4,#u801-4,#u800-4,#u799-4,#u799-6
{
	font-size: 14px;
	font-weight: 400;
}

#u803
{
	z-index: 569;
	width: 202px;
	height: 56px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u805
{
	z-index: 570;
	width: 223px;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 586px;
}

#u806
{
	z-index: 571;
	width: 211px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 582px;
}

#u808
{
	z-index: 572;
	width: 265px;
	height: 86px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#u810
{
	z-index: 573;
	width: 151px;
	height: 33px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 70px;
}

#pu819
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 59px;
}

#u819
{
	z-index: 20;
	width: 893px;
	height: 45px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: -3px;
}

#u820
{
	z-index: 28;
	width: 117px;
	height: 78px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u824-4
{
	z-index: 73;
	width: 620px;
	min-height: 53px;
	background-color: #FFFFFF;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 140px;
}

#u821
{
	z-index: 165;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 418px;
}

#pu825
{
	width: 0.01px;
	margin-left: -91px;
	margin-top: 51px;
}

#u825
{
	z-index: 574;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../img/_ipayo9_sfw.jpg") no-repeat center center;
	background-size: cover;
}

#u834
{
	z-index: 578;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
	background: transparent url("../img/gxtkwap8078.jpg") no-repeat center center;
	background-size: cover;
}

#u832
{
	z-index: 586;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 201px;
	background: transparent url("../img/li-dqr3kknu.jpg") no-repeat center center;
	background-size: cover;
}

#u836
{
	z-index: 582;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 804px;
	background: transparent url("../img/ozoqg3d-xq8.jpg") no-repeat center center;
	background-size: cover;
}

#u833
{
	z-index: 590;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 603px;
	background: transparent url("../img/ic-ghzu1ima.jpg") no-repeat center center;
	background-size: cover;
}

#u835
{
	z-index: 594;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 1005px;
	background: transparent url("../img/ray_ban_1.jpg") no-repeat center center;
	background-size: cover;
}

#pu872
{
	width: 0.01px;
	margin-left: -91px;
}

#u872
{
	z-index: 576;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../img/x0ivze2_r0o.jpg") no-repeat center center;
	background-size: cover;
}

#u870
{
	z-index: 580;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
	background: transparent url("../img/0rfqklzb0wg.jpg") no-repeat center center;
	background-size: cover;
}

#u871
{
	z-index: 588;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 201px;
	background: transparent url("../img/xodcgm8t6mi.jpg") no-repeat center center;
	background-size: cover;
}

#u868
{
	z-index: 584;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 804px;
	background: transparent url("../img/2vqvmtppomq.jpg") no-repeat center center;
	background-size: cover;
}

#u869
{
	z-index: 592;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 603px;
	background: transparent url("../img/2sftjiumcmc.jpg") no-repeat center center;
	background-size: cover;
}

#u867
{
	z-index: 596;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 1005px;
	background: transparent url("../img/5lgvogamgw8.jpg") no-repeat center center;
	background-size: cover;
}

#pu75,#ppu1156
{
	width: 0.01px;
	margin-left: -100px;
}

#pu1156
{
	z-index: 695;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1178px;
	margin-left: 277px;
}

#pu1126
{
	width: 0.01px;
	position: relative;
	left: 14px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 11px;
}

#u1126
{
	z-index: 701;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1159
{
	z-index: 700;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1410px;
	margin-left: 855px;
}

#pu1150
{
	width: 0.01px;
	position: relative;
	left: 15px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 13px;
}

#u1150
{
	z-index: 711;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1160
{
	z-index: 698;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1410px;
	margin-left: 567px;
}

#pu1131
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 13px;
}

#u1131
{
	z-index: 705;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1157
{
	z-index: 697;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1178px;
	margin-left: 567px;
}

#pu1120
{
	width: 0.01px;
	position: relative;
	left: 19px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 17px;
}

#u1120
{
	z-index: 703;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1161
{
	z-index: 696;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1410px;
	margin-left: 277px;
}

#pu1141
{
	width: 0.01px;
	position: relative;
	left: 14px;
	padding-top: 11px;
	z-index: 2;
	padding-bottom: 16px;
}

#u1141
{
	z-index: 709;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1158
{
	z-index: 699;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1178px;
	margin-left: 855px;
}

#u1156,#u1159,#u1160,#u1157,#u1161,#u1158
{
	z-index: 0;
	width: 91px;
	background-color: #FCEE21;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 100px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1136
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 13px;
}

#u1136
{
	z-index: 707;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1063
{
	z-index: 2;
	min-height: 913.8108005409431px;
	background: -webkit-gradient(linear, center top, center bottom, from(#EFF0EE),color-stop(100%, #EFF0EE));
	background: -webkit-linear-gradient(top,#EFF0EE ,#EFF0EE 100%);
	background: linear-gradient(to bottom,#EFF0EE ,#EFF0EE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEFF0EE, endColorstr=#FFEFF0EE, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFF0EE', endColorstr='#FFEFF0EE', GradientType=0)";
	padding-bottom: 0px;
}

#u96_align_to_page,#u1063_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u1063_position_content
{
	margin-top: -85px;
	padding-bottom: 111px;
}

#pu920
{
	width: 0.01px;
	left: 9px;
	position: relative;
}

#u920
{
	z-index: 575;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../img/rzbhrqeh2rq.jpg") no-repeat center center;
	background-size: cover;
}

#u915
{
	z-index: 579;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
	background: transparent url("../img/cjf3nxf92vo.jpg") no-repeat center center;
	background-size: cover;
}

#u910
{
	z-index: 583;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 804px;
	background: transparent url("../img/ewyegthm_dc.jpg") no-repeat center center;
	background-size: cover;
}

#u1017
{
	z-index: 598;
	width: 893px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	left: 158px;
	margin-top: 307px;
	position: relative;
}

#u1021
{
	z-index: 603;
	width: 117px;
	height: 78px;
	border-color: #FCEE21;
	background-color: #EFF0EE;
	margin-left: 389px;
	position: relative;
}

#u1053
{
	z-index: 601;
	width: 644px;
	height: 56px;
	border-color: #FCEE21;
	background-color: #EFF0EE;
	margin-left: 113px;
	margin-top: 26px;
	position: relative;
}

#pu1056
{
	width: 0.01px;
	left: 135px;
	margin-top: 36px;
	position: relative;
}

#u1056
{
	z-index: 689;
	width: 385px;
	height: 223px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -4px;
	background: transparent url("../img/w5yychfb84c.jpg") no-repeat center center;
	background-size: cover;
}

#u1024-4
{
	z-index: 616;
	width: 364px;
	min-height: 25px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	margin-left: 111px;
	position: relative;
}

#u1018
{
	z-index: 600;
	width: 553px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	padding-bottom: 14px;
	margin-top: 37px;
	position: relative;
}

#u1020
{
	z-index: 602;
	width: 494px;
	border-color: #FCEE21;
	background-color: #EFF0EE;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: 29px;
}

#u1027
{
	z-index: 688;
	width: 400px;
	min-height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 47px;
}

#u1316
{
	z-index: 139;
	width: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 37px;
	position: relative;
}

#u1054
{
	z-index: 140;
	width: 407px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u1055-4
{
	z-index: 141;
	width: 407px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#u1063-bw
{
	z-index: 2;
	min-height: 913.8108005409431px;
	margin-top: 85px;
}

#u1087
{
	z-index: 3;
	height: 793px;
	background: transparent url("../img/3025-112-19-1_1.png") no-repeat center top;
	background-size: cover;
}

#u1087-bw
{
	z-index: 3;
	margin-top: 916px;
	height: 793px;
}

#u1114
{
	z-index: 4;
	height: 801px;
	background: -webkit-gradient(linear, center top, center bottom, from(#EFF0EE),color-stop(100%, #EFF0EE));
	background: -webkit-linear-gradient(top,#EFF0EE ,#EFF0EE 100%);
	background: linear-gradient(to bottom,#EFF0EE ,#EFF0EE 100%);
	filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEFF0EE, endColorstr=#FFEFF0EE, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFF0EE', endColorstr='#FFEFF0EE', GradientType=0)";
	opacity: 0.6;
}

#u1114-bw
{
	z-index: 4;
	margin-top: 908px;
	height: 801px;
}

#u919
{
	z-index: 577;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 9px;
	background: transparent url("../img/swjhz615fls.jpg") no-repeat center center;
	background-size: cover;
}

#u916
{
	z-index: 581;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 411px;
	background: transparent url("../img/fcixtgjlbhw.jpg") no-repeat center center;
	background-size: cover;
}

#u911
{
	z-index: 585;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 813px;
	background: transparent url("../img/ma_vycflxkg.jpg") no-repeat center center;
	background-size: cover;
}

#u918
{
	z-index: 587;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 210px;
	background: transparent url("../img/a1ui5rynq04.jpg") no-repeat center center;
	background-size: cover;
}

#u917
{
	z-index: 589;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 210px;
	background: transparent url("../img/gvpwg_s3ds8.jpg") no-repeat center center;
	background-size: cover;
}

#u913
{
	z-index: 591;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 611px;
	background: transparent url("../img/e5lng9z1n30.jpg") no-repeat center center;
	background-size: cover;
}

#u914
{
	z-index: 593;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 611px;
	background: transparent url("../img/jwovb2sldsk.jpg") no-repeat center center;
	background-size: cover;
}

#u909
{
	z-index: 595;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	left: 1014px;
	background: transparent url("../img/fk4gmvffnri.jpg") no-repeat center center;
	background-size: cover;
}

#u912
{
	z-index: 597;
	width: 201px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 1014px;
	background: transparent url("../img/q93nxbspths.jpg") no-repeat center center;
	background-size: cover;
}

#u1071
{
	z-index: 599;
	width: 893px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1037px;
	left: 158px;
	border-width: 0px 7px;
}

#u1071_position_content
{
	margin-bottom: -18px;
}

#u1115
{
	z-index: 690;
	width: 382px;
	height: 6px;
	background-color: #FCEE21;
	left: -4px;
	position: relative;
}

#u1116
{
	z-index: 691;
	width: 382px;
	height: 6px;
	background-color: #FCEE21;
	margin-left: 514px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1072-6
{
	z-index: 610;
	width: 780px;
	min-height: 81px;
	background-color: transparent;
	color: #282828;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	margin-left: 56px;
	margin-top: 19px;
	position: relative;
}

#u1022-6
{
	z-index: 604;
	width: 780px;
	min-height: 81px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 536px;
	left: 221px;
}

#u1080-6
{
	z-index: 620;
	width: 282px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 1282px;
	left: 181px;
}

#u1085-10
{
	z-index: 626;
	width: 200px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 1515px;
	left: 222px;
}

#u1081-6
{
	z-index: 660;
	width: 248px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 1282px;
	left: 487px;
}

#u1083-6
{
	z-index: 666;
	width: 282px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 1515px;
	left: 470px;
}

#u1082-6
{
	z-index: 672;
	width: 242px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 1282px;
	left: 780px;
}

#u1084-6
{
	z-index: 678;
	width: 214px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 1515px;
	left: 794px;
}

#u310-2,#u294-2,#u327-2,#u711-2,#u675-2,#u729-2,#u765-2,#u747-2,#u783-2,#u1080-2,#u1085-2,#u1081-2,#u1083-2,#u1082-2,#u1084-2
{
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
}

#u1080-4,#u1085-4,#u1085-6,#u1085-8,#u1081-4,#u1083-4,#u1082-4,#u1084-4
{
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
}

#u1025
{
	z-index: 684;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 472px;
	left: 579px;
}

#u1074
{
	z-index: 686;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 999px;
	left: 579px;
}

#u1117
{
	z-index: 692;
	width: 300px;
	height: 7px;
	background-color: #FCEE21;
	position: relative;
	margin-right: -10000px;
	margin-top: 1119px;
	left: 762px;
}

#u1118
{
	z-index: 693;
	width: 300px;
	height: 7px;
	background-color: #FCEE21;
	position: relative;
	margin-right: -10000px;
	margin-top: 1119px;
	left: 161px;
}

#u1119
{
	z-index: 694;
	height: 114px;
	background: transparent url("../img/%d1%84%d0%b8%d0%b3%d1%83%d1%80%d0%b01.html") no-repeat center top;
	background-size: cover;
}

#u1119-bw
{
	z-index: 694;
	margin-top: 1642px;
	height: 114px;
}

#u1178
{
	z-index: 713;
	width: 893px;
	height: 45px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1752px;
	left: 158px;
}

#u1174
{
	z-index: 714;
	width: 117px;
	height: 78px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1711px;
	left: 553px;
}

#u1179-4
{
	z-index: 715;
	width: 620px;
	min-height: 53px;
	background-color: #FFFFFF;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1784px;
	left: 301px;
}

#u1175
{
	z-index: 719;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1722px;
	left: 579px;
}

#pu1185
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 68px;
}

#u1185
{
	z-index: 721;
	width: 136px;
	height: 136px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../img/bxfi6_mdq0k-ieu1185-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../img/bxfi6_mdq0k.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1180-6
{
	z-index: 636;
	width: 301px;
	min-height: 88px;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 151px;
}

#u1192
{
	z-index: 723;
	width: 136px;
	height: 136px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
	background: transparent url("../img/face1000.jpg") no-repeat center center;
	background-size: cover;
}

#u1181-6
{
	z-index: 648;
	width: 319px;
	min-height: 95px;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 614px;
}

#pu1193
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 42px;
}

#u1193
{
	z-index: 722;
	width: 136px;
	height: 136px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../img/face3000.jpg") no-repeat center center;
	background-size: cover;
}

#u1183-6
{
	z-index: 642;
	width: 301px;
	min-height: 164px;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u1194
{
	z-index: 724;
	width: 136px;
	height: 136px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
	background: transparent url("../img/ojf4fqi97i8-ieu1194-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../img/ojf4fqi97i8.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1182-6
{
	z-index: 654;
	width: 319px;
	min-height: 164px;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	color: #282828;
	font-family: '__Bebas Neue_5';
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u295-2,#u282-2,#u312-2,#u694-2,#u658-2,#u749-2,#u730-2,#u767-2,#u1180-2,#u1181-2,#u1183-2,#u1182-2
{
	font-weight: 400;
}

#u103,#u105,#u104,#u106,#u295-4,#u297,#u305,#u304,#u299,#u299-4,#u282-4,#u312-4,#u289,#u314,#u291,#u322,#u292,#u321,#u290,#u290-4,#u316,#u316-4,#u694-4,#u701,#u698,#u705,#u704,#u704-4,#u658-4,#u670,#u723,#u661,#u715,#u666,#u719,#u667,#u667-4,#u724,#u724-4,#u749-4,#u751,#u760,#u761,#u755,#u755-4,#u730-4,#u767-4,#u737,#u769,#u734,#u778,#u741,#u779,#u739,#u739-4,#u773,#u773-4,#u1180-4,#u1181-4,#u1183-4,#u1182-4
{
	font-weight: 700;
}

#u1217
{
	z-index: 725;
	width: 620px;
	height: 378px;
	margin-left: 202px;
	margin-top: 36px;
	position: relative;
	background: transparent url("../img/232323232323.jpg") no-repeat center center;
	background-size: contain;
}

#pu1227
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 36px;
}

#u1227
{
	z-index: 726;
	width: 893px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -3px;
}

#u1017_position_content,#u1227_position_content
{
	margin-top: -43px;
	margin-bottom: -24px;
}

#u1231
{
	z-index: 738;
	width: 117px;
	height: 78px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	margin-left: 389px;
	position: relative;
}

#u1229
{
	z-index: 735;
	width: 644px;
	height: 56px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	margin-left: 113px;
	margin-top: 26px;
	position: relative;
}

#u1232-6
{
	z-index: 740;
	width: 780px;
	min-height: 81px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 60px;
}

#u1234
{
	z-index: 766;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#pu1238
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 33px;
}

#u1238
{
	z-index: 771;
	width: 385px;
	height: 223px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -4px;
	background: transparent url("../img/3025-112-19-1_1.jpg") no-repeat center center;
	background-size: cover;
}

#pu1024-4,#pu1233-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 434px;
}

#u1233-4
{
	z-index: 750;
	width: 364px;
	min-height: 25px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	margin-left: 111px;
	position: relative;
}

#u1228
{
	z-index: 734;
	width: 553px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	padding-bottom: 14px;
	margin-top: 37px;
	position: relative;
}

#u1230
{
	z-index: 737;
	width: 494px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: 29px;
}

#u1236
{
	z-index: 770;
	width: 400px;
	min-height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 47px;
}

#u1317
{
	z-index: 727;
	width: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 37px;
	position: relative;
}

#u1225
{
	z-index: 728;
	width: 407px;
	-pie-box-shadow: 0px 5px 3px #B9B1AB;
	box-shadow: 0px 5px 3px rgba(115,99,87,0.5);
	background-color: #0071D4;
	border-radius: 10px;
	/*padding-bottom: 20px;*/
	position: relative;
	margin-right: -10000px;
}

#u1319:hover,#u1054:hover,#u1225:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 407px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1226-4
{
	z-index: 729;
	width: 407px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	padding-top: 20px;
}

#pu1246
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 98px;
}

#u1246
{
	z-index: 733;
	width: 893px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: -3px;
}

#u1252
{
	z-index: 736;
	width: 446px;
	height: 56px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 212px;
}

#u1248
{
	z-index: 739;
	width: 117px;
	height: 78px;
	border-color: #FCEE21;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u1247-4
{
	z-index: 746;
	width: 780px;
	min-height: 40px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: '__Intro Inline_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 60px;
}

#u1249
{
	z-index: 768;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u1253
{
	z-index: 772;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1253-bw
{
	z-index: 772;
	min-height: 400px;
	margin-top: 39px;
}

#ppu1255-4
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 31px;
}

#pu1255-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 100px;
}

#u1255-4
{
	z-index: 754;
	width: 280px;
	min-height: 25px;
	background-color: transparent;
	color: #282828;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 700;
	position: relative;
}

#pu1284
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 23px;
}

#u1284
{
	z-index: 783;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1289
{
	z-index: 785;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u1294
{
	z-index: 787;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#pu1256-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 300px;
}

#u1256-4
{
	z-index: 758;
	width: 280px;
	min-height: 25px;
	background-color: transparent;
	color: #282828;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 700;
	position: relative;
}

#pu1279
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 23px;
}

#u1279
{
	z-index: 781;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1258
{
	z-index: 773;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#pu1257-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 370px;
}

#u1257-4
{
	z-index: 762;
	width: 280px;
	min-height: 25px;
	background-color: transparent;
	color: #282828;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: '__Bebas Neue_5';
	font-weight: 700;
	position: relative;
}

#pu1274
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 23px;
}

#u1274
{
	z-index: 779;
	width: 93px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1264
{
	z-index: 775;
	width: 93px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1269
{
	z-index: 777;
	width: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

@font-face
{
	font-family: '__Bebas Neue_5';
	src: url('../fonts/sdtangnp.eot');
	src: local('☺'), url('../fonts/sdtangnp.woff') format('woff'), url('../fonts/sdtangnp.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Intro Inline_5';
	src: url('../fonts/intro_inline.eot');
	src: local('☺'), url('../fonts/intro_inline.woff') format('woff'), url('../fonts/intro_inline.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

#timer-element-19d504ba3c20156b79fe226652f85764-days, #timer-separator-19d504ba3c20156b79fe226652f85764-hours, #timer-element-19d504ba3c20156b79fe226652f857640-days, #timer-number-19d504ba3c20156b79fe226652f857640-days, #timer-separator-19d504ba3c20156b79fe226652f857640-hours, #timer-element-19d504ba3c20156b79fe226652f8576400-days, #timer-separator-19d504ba3c20156b79fe226652f8576400-hours {
	display: none !important;
}

