.block-1{
    height: 568px;
    padding: 0;
    background: url(../img/bg-1.jpg)/*tpa=http://topworldsale.ru/freddy-leggings-m/img/bg-1.jpg*/ 50% 0 no-repeat #fff;
}
.block-1 .container{
    position: relative;
    padding: 450px 0 0;
}
.block-1 .cost{
    position: absolute;
    top: 165px;
    left: 20px;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
}
.block-1 .cost>span{
    display: block;
}
.block-1 .cost span.new-cost{
    font-size: 32px;
    font-weight: 700;
}
.block-1 .cost span.old-cost{
    text-decoration: line-through;
}
.block-1 .sale{
    position: absolute;
    width: 60px;
    top: 44px;
    right: 40px;
    text-align: center;
    font-size: 52px;
    line-height: 1em;
    font-weight: 700;
    color: #ffd800;
}
.block-1 .button-f{
    display: block;
    width: 300px;
    height: 70px;
    margin: 0 auto;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    border: 4px solid #fff;
}
.block-3 .sup>li{
    padding: 20px 0 10px;
    text-align: center;
}
.block-3 .sup>li:before{
    content: '';
    display: block;
    width: 109px;
    height: 109px;
    margin: 0 auto 20px;
    background: url(../img/sup-icon.png)/*tpa=http://topworldsale.ru/freddy-leggings-m/img/sup-icon.png*/ no-repeat;
}
.block-3 .sup>li:nth-child(1):before{
    background-position: 0 0;
}
.block-3 .sup>li:nth-child(2):before{
    background-position: -109px 0;
}
.block-3 .sup>li:nth-child(3):before{
    background-position: -218px 0;
}
.block-3 .sup>li h3{
    padding: 0px 0 10px;
    font-size: 22px;
}
.catalog{
    padding: 40px 20px 530px;
    background: url(../img/bg-2.jpg)/*tpa=http://topworldsale.ru/freddy-leggings-m/img/bg-2.jpg*/ 50% 0 no-repeat, url(../img/bg-4.jpg)/*tpa=http://topworldsale.ru/freddy-leggings-m/img/bg-4.jpg*/ 50% 100% no-repeat;;
}
.catalog h2.title{
    margin: 0 0 70px;
    font-size: 36px;
    color: #fff;
}
.catalog h2.title:after{
    color: #fff;
}
.catalog .leggings-cont{
    position: relative;
}
.catalog .leggings-cont>h3{
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
    line-height: 1.3em;
}
.catalog .leggings-cont .leggings-pic img{
    display: block;
    border: 4px solid #ddd;
    border-radius: 4px;
}
.catalog .leggings-cont .leggings-color{
    padding: 20px 35px 10px;
    text-align: center;
}
.catalog .leggings-cont .leggings-color .slick-track{
    margin: 0 auto;
}
.catalog .leggings-cont .leggings-color li{
    margin: 0 5px;
    border: 3px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.catalog .leggings-cont .leggings-color li.slick-current{
    border-color: #ffd21f;
}
.catalog .leggings-cont .leggings-color li img{
    width: 100%;
    max-width: 60px;
}
.catalog .tov-spec{
    padding: 0 10px 30px;
}
.catalog .tov-spec dt,.catalog .tov-spec dd{
    padding: 10px 0 5px;
    font-size: 20px;
    line-height: 1.5em;
}
.catalog .tov-spec dt{
    float: left;
    width: 30%;
}
.catalog .tov-spec .cost>span{
    display: inline-block;
    font-size: 30px;
    line-height: 1em;
}
.catalog .tov-spec .cost>span.old-cost{
    margin-right: 10px;
    font-size: 20px;
    text-decoration: line-through;
}
.catalog .tov-spec .cost>span.new-cost{
    font-weight: 700;
}
.catalog .tov-spec dd{
    text-align: right;
    border-bottom: 1px dotted #ccc;
}
.catalog .tov-spec dd>i {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    line-height: 32px;
    text-align: center;
    font-style: normal;
    background: #eee;
}
.catalog .tov-spec dd:after{
    content: '';
    display: table;
    clear: both;
}
.catalog .tov-spec dd:last-child{
    border: 0;
}
.catalog .leggings-cont a.tov-button{
    margin: 30px auto 0;
    font-size: 20px;
}
.catalog .leggings-cont a.active{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    line-height: 72px;
    font-size: 30px;
    background: #ddd;
    border: 4px solid #fff;
    color: #666;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    z-index: 99;
    text-align: center;
}
.block-4{
    height: 657px;
    padding: 40px 0 0;
    color: #fff;
    background: url(../img/bg-3.jpg)/*tpa=http://topworldsale.ru/freddy-leggings-m/img/bg-3.jpg*/ 50% 0 no-repeat;
}
.block-4 h2.title{
    font-size: 38px;
}
.block-4 .delivery>li{
    float: left;
    width: 50%;
    height: 268px;
    padding: 175px 20px 0;
    text-align: center;
}
.block-5{
    padding: 40px 0;
}
.block-5 h2.title{
    font-size: 34px;
}
.block-5 .rev-slider{
    position: relative;
}
.block-5 .rev-item{
    float: left;
    margin: 0 20px;
    text-align: center;
    overflow: hidden;
}
.block-5 .rev-item>img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border: 4px solid #eee;
    border-radius: 50%;
}
.block-5 .rev-item>h3{
    margin: 0 0 15px;
    font-size: 20px;
}
.block-5 .rev-item>p{
    padding: 0 20px;
    text-align: center;
}
.end-block{
    height: 440px;
}
.order-block{
    padding: 30px;
}
.order-block .desc{
    padding: 0 20px 20px;
    text-align: center;
}
.order-block .desc h3{
    padding: 0 0 5px;
    font-size: 22px;
}
.order-block .time-act{
    padding: 20px 0 0;
    text-align: center;
}
.order-block .time-act .m1-date{
    color: #d61169;
    border-bottom: 1px dotted #d61169;
}
.copyright{
    height: 120px;
    padding: 30px 0 0;
    text-align: center;
    color: #fff;
    background: url(../img/bg-5.jpg)/*tpa=http://topworldsale.ru/freddy-leggings-m/img/bg-5.jpg*/ 50% 100% no-repeat #fff;
}