/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Light.eot')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Light.eot*/;
    src: url('../fonts/AvenirNextCyr-Light.eot-#iefix')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Light.eot?#iefix*/ format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Light.woff')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Light.woff*/ format('woff'),
        url('../fonts/AvenirNextCyr-Light.ttf')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Light.ttf*/ format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Regular.eot')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Regular.eot*/;
    src: url('../fonts/AvenirNextCyr-Regular.eot-#iefix')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Regular.eot?#iefix*/ format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Regular.woff')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Regular.woff*/ format('woff'),
        url('../fonts/AvenirNextCyr-Regular.ttf')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Regular.ttf*/ format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Bold.eot')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Bold.eot*/;
    src: url('../fonts/AvenirNextCyr-Bold.eot-#iefix')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Bold.eot?#iefix*/ format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Bold.woff')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Bold.woff*/ format('woff'),
        url('../fonts/AvenirNextCyr-Bold.ttf')/*tpa=http://topworldsale.ru/freddy-leggings-m/fonts/AvenirNextCyr-Bold.ttf*/ format('truetype');
    font-weight: 700;
    font-style: normal;
}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family: "Avenir Next Cyr", sans-serif; font-weight: 700;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: "Avenir Next Cyr", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #444;
    background: #fff;
}
.main-wrap{
    width: 480px;
    margin: 0 auto;
}
section{
    padding: 40px 20px;
}
.m1-form>div{
    margin: 0 auto 15px;
}
.m1-form>div:last-child{
    margin-bottom: 0;
}
.m1-form input{
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 380px;
    height: 70px;
    line-height: 68px;
    margin: 0 auto;
    background: #fff;
    text-indent: 15px;
    font-size: 20px;
    font-family: "Avenir Next Cyr", Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid #bbb;
}
.m1-form input:focus{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(49, 40, 2, 0.2);
    -moz-box-shadow:    0px 0px 10px 0px rgba(49, 40, 2, 0.2);
    box-shadow:         0px 0px 10px 0px rgba(49, 40, 2, 0.2);
}
.button-m{
    position: relative;
    display: block;
    width: 380px;
    height: 80px;
    margin: 0 auto;
    border: 0;
    text-decoration: none;
    cursor: pointer; 
    top: 0;
    line-height: 80px;
    font-family: "Avenir Next Cyr", sans-serif;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    background: #ffc600;
    background-image: -webkit-linear-gradient(top, #ffc600, #ff8400);
    background-image: -moz-linear-gradient(top, #ffc600, #ff8400);
    background-image: -ms-linear-gradient(top, #ffc600, #ff8400);
    background-image: -o-linear-gradient(top, #ffc600, #ff8400);
    background-image: linear-gradient(to bottom, #ffc600, #ff8400);
    border-radius: 6px;
    border-bottom: 3px solid #cd6c00;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
}
h2.title{
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 48px;
    line-height: 1.2em;
}
h2.title>small{
    display: block;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
}
h2.title:after{
    content: '. . .';
    display: block;
    margin: -5px auto 0;
    font-size: 28px;
    line-height: 1em;
    color: #ccc;
}
