    .lightbox {
        display: none;
        padding: 20px;

    }

    .lightbox h2 {
        padding-bottom: 20px;

    }

    .footer_links a {
    }
    .footer_links.footer_links_min img {
        width: 566px !important;
    }    
    .footer_links.footer_links_black a {
        color: black;
    }
    .footer_links.footer_links_black {
        color: black;
    }    
    .finishPageBlock a {
        color: #0095FF;
    }
    .finishPageBlock h1, .finishPageBlock h2, .finishPageBlock div, .finishPageBlock p, .finishPageBlock b, .finishPageBlock td {
        color: black;
    }    
    .footer_links.footer_links_white a {
        color: white;
    }
    .footer_links.footer_links_center {
        text-align: center;
    }
    .footer_links.footer_links_mobile img {
        width:100%;
    }    
    .footer_links.footer_links_white {
        color: white;
    }
    .footer_links {
        clear: both;
        font-size: 11px;
        opacity: 0.5;
    }
    .finishPageBlockOverlay {
        content: "";
        background: rgba(0, 0, 0, 0.48);
        position: fixed;
        z-index: 3000;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .finishPageBlock {
        display: block;
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        background: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.42);
        overflow: hidden;
        z-index: 3001;
        color: black;
    }    
    

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 19, 2014 */



@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.eot');
    src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('opensans-extrabold-webfont.woff2') format('woff2'),*/
         url('opensans-extrabold-webfont.woff') format('woff'),
         url('opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('opensans-bold-webfont.woff2') format('woff2'),*/
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('opensans-semibold-webfont.woff2') format('woff2'),*/
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('opensans-regular-webfont.woff2') format('woff2'),*/
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('opensans-light-webfont.woff2') format('woff2'),*/
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, .frm h5, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, .frm h5, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.counter { width: 300px; position: relative; margin: 0 auto; margin-left: 0; }
.counter p { color: #777777; margin-bottom: 10px; margin-top: 5px; font-size: 12px; position: static; font-family: "open_sansregular"; }

.counter p.counter-title { font-family: "open_sansbold"; font-weight: normal; font-style: normal; font-size: 13px; color: #3e3e3e; text-transform: uppercase; }
.counter ul { list-style: none; margin: 0; padding: 0; display: inline-block; }
.counter ul li { float: left; margin: 0 10px; text-align: center; position: relative; }
.counter ul li:first-of-type { margin-left: 0; }
.counter ul li:last-of-type { margin-right: 0; }
.counter ul li span { position: relative; text-shadow: 0 1px 0 #fff; display: block; font-size: 30px; padding-top: 8px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 59px; height: 59px; font-family: "open_sanslight"; font-weight: normal; font-style: normal; color: #fff; font-family: "open_sanssemibold"; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: #ed99bd; }
.counter ul li span.last:after { background: none; }
.counter ul li span:after { position: absolute; content: ""; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -45px no-repeat; width: 4px; height: 20px; top: 20px; right: -11px; }

.form { width: 362px; height: 486px; margin-top: -32px; padding: 5px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form .caption { box-sizing: border-box; padding-top: 50px; }
.form h3 { margin-top: 0; margin-bottom: 0; font-size: 38px; font-weight: normal; text-align: center; font-family: "open_sanslight"; font-weight: normal; font-style: normal; color: #ffffff; text-transform: uppercase; line-height: 1em; letter-spacing: 3px; }
.form h4, .form .frm h5, .frm .form h5 { margin-top: 0; margin-bottom: 20px; font-size: 19px; text-align: center; font-weight: normal; font-family: "open_sanslight"; font-weight: normal; font-style: normal; color: #ffffff; line-height: 1em; }

.frm { padding-top: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.frm h4, .frm h5 { text-align: center; color: #ffffff; margin: 5px 0 0; font-weight: normal; font-family: "Conv_PFDinTextCondPro-Thin"; font-size: 18px; }
.frm h5 { margin: 0; font-size: 24px; }
.frm h5 span { font-family: "conv_pfdintextcondpro-light"; }

form { margin-top: -10px; position: relative; }
form input { padding-left: 20px; width: 267px; height: 45px; background: #fff; display: block; margin: auto auto 10px; -moz-border-radius: 23px; -webkit-border-radius: 23px; border-radius: 23px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 18px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxNTQuODglIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjgiLz48c3RvcCBvZmZzZXQ9IjI1NC44OCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(154.88%, rgba(255, 255, 255, 0.28)), color-stop(254.88%, rgba(0, 0, 0, 0.28))); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.28) 154.88%, rgba(0, 0, 0, 0.28) 254.88%); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.28) 154.88%, rgba(0, 0, 0, 0.28) 254.88%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.28) 154.88%, rgba(0, 0, 0, 0.28) 254.88%); }

.button { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 0 71px; height: 67px; color: #a59144; text-shadow: #b2b2b 0px 1px #aaa; display: block; margin: 20px auto auto; font-family: "open_sansbold"; font-weight: normal; font-style: normal; font-size: 23px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; -moz-border-radius: 33px; -webkit-border-radius: 33px; border-radius: 33px; letter-spacing: 1px; text-decoration: none; background-color: #ffe375; text-transform: uppercase; -moz-box-shadow: 0 2px 0 #c9ae4e, inset 0 -1px 0 rgba(255, 255, 255, 0.1); -webkit-box-shadow: 0 2px 0 #c9ae4e, inset 0 -1px 0 rgba(255, 255, 255, 0.1); box-shadow: 0 2px 0 #c9ae4e, inset 0 -1px 0 rgba(255, 255, 255, 0.1); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.04)), color-stop(100%, rgba(0, 0, 0, 0.04))); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%); }
.button:hover { background-color: #ffeda8; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 256px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; }
.l .l-col2 { float: left; width: 338px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.l .l-col3 { float: right; width: 406px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.l .l-col12 { float: left; width: 594px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input.error, textarea.error, select.error { box-shadow: inset 0 0 10px red !important; }

label.error { display: none !important; }

.icon { display: inline-block; position: relative; }

body { font-size: 14px; line-height: 1.4; background-color: #fff; color: #3e3e3e; font-family: "open_sanslight"; }

.out { position: relative; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { font-size: 13px; color: #666666; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
input:-moz-placeholder, textarea:-moz-placeholder { font-size: 13px; color: #666666; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { font-size: 13px; color: #666666; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-size: 13px; color: #666666; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
input::placeholder, textarea::placeholder { font-size: 13px; color: #666666; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }

header .header_in, .choose .choose_in, .bottom .choose_in, .why .why_in, .quality .quality_in, .order .order_in, .review .review_in, .also .also_in, footer .footer_in, .cveta { max-width: 1200px; width: 1000px; margin-left: auto; margin-right: auto; }

.myFancyClose { position: absolute; top: -37px; right: -38px; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 0 no-repeat; width: 35px; height: 35px; }

.btn { display: inline-block; -moz-border-radius: 21px; -webkit-border-radius: 21px; border-radius: 21px; background: rgba(255, 255, 255, 0.16); padding: 4px 31px; color: #53c3c3; text-transform: uppercase; font-family: "open_sansbold"; font-weight: normal; font-style: normal; font-size: 16px; border: 3px solid #55c9c9; text-decoration: none; -moz-transition: background, 0.5s; -o-transition: background, 0.5s; -webkit-transition: background, 0.5s; transition: background, 0.5s; }
.btn:hover, #zakaz_up { color: #ffffff; background-color: #79d0d0; }

.button--blue { background-color: #55c9c9; -moz-box-shadow: 0 2px 0 #44aaa9, inset 0 -1px 0 rgba(255, 255, 255, 0.1); -webkit-box-shadow: 0 2px 0 #44aaa9, inset 0 -1px 0 rgba(255, 255, 255, 0.1); box-shadow: 0 2px 0 #44aaa9, inset 0 -1px 0 rgba(255, 255, 255, 0.1); color: #287c7c; font-size: 23px; }
.button--blue:hover { background-color: #a2e2e2; }

.likeh2 { text-align: center; font-size: 43px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; line-height: 1.2em; color: #4d4d4d; }
.likeh2 span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }

header { background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/head_bg.jpg) center center no-repeat; height: 771px; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; -moz-box-shadow: inset 0 -5px 25px -10px; -webkit-box-shadow: inset 0 -5px 25px -10px; box-shadow: inset 0 -5px 25px -10px; }
header:after { content: " "; display: table; clear: both; }
header .header_in { *zoom: 1; padding-top: 30px; }
header .header_in:after { content: " "; display: table; clear: both; }
header .header__phone { float: left; position: relative; margin-left: 35px; }
header .header__phone:before { position: absolute; content: ""; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -75px no-repeat; width: 26px; height: 26px; top: 5px; left: -35px; }
header .header__phone h3 { font-size: 36px; color: #3e3e3e; line-height: 1em; font-family: "open_sanslight"; font-weight: normal; font-style: normal; }
header .header__phone h3 span { font-family: "open_sanssemibold"; font-weight: normal; font-style: normal; }
header .header__callme { float: left; margin-left: 50px; width: 405px; text-align: right; }
header .header__callme h3 { color: #3e3e3e; font-size: 14px; display: inline-block; margin-right: 20px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
header .header__callme h3 span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }

header .header__callme a { vertical-align: top; }

header .header__text { float: left; width: 500px; margin-top: 80px; clear:both; }

header .header__text .likeh3, header .header__text .likeh1 { font-family: "open_sanssemibold"; font-weight: normal; font-style: normal; color: white; display: inline-block; font-size: 56px; background: #56caca; padding: 8px 12px 8px; margin-bottom: 5px; line-height: 1em; }


header .header__text .likeh4, header .header__text .frm h5, .frm header .header__text h5, .cveta .likeh4 { font-size: 28px; color: #535353; font-family: "open_sanslight"; font-weight: normal; font-style: normal; margin-top: 10px; }

header .header__text .likeh5 { position: relative; font-family: "open_sansbold"; font-weight: normal; font-style: normal; font-size: 18px; margin-top: 90px; padding-left: 18px; }

header .header__text .likeh5:before { position: absolute; content: ""; border-left: solid 5px #56caca; top: 4px; bottom: 4px; left: 0; }


.choose, .bottom { background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/choose_bg.jpg) center no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.choose:after, .bottom:after { content: " "; display: table; clear: both; }
.choose .choose_in, .bottom .choose_in { *zoom: 1; position: relative; }
.choose .choose_in:after, .bottom .choose_in:after { content: " "; display: table; clear: both; }
.choose__watch { float: left; margin-top: -45px; *zoom: 1; }
.choose__watch:after { content: " "; display: table; clear: both; }
.choose__text { padding-bottom: 58px; float: left; margin-left: 45px; width: 400px; margin-top: 40px; position: relative; *zoom: 1; }
.choose__text:after { content: " "; display: table; clear: both; }
.choose__text h3 { font-size: 21px; font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
.choose__text h3 span { font-family: "open_sanslight"; font-weight: normal; font-style: normal; }
.choose__text h5 { font-size: 13px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
.choose__price { margin-top: 30px; margin-bottom: 55px; }
.choose__price h3 { float: left; display: inline-block; line-height: 36px; background: #56caca; color: #ffffff; font-size: 65px; font-family: "open_sanssemibold"; font-weight: normal; font-style: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 10px 0; }
.choose__price h3 span { font-size: 24px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
.choose__price h4, .choose__price .frm h5, .frm .choose__price h5 { font-size: 28px; color: #56caca; display: inline-block; margin-left: 20px; margin-top: 24px; position: relative; }
.choose__price h4:after, .choose__price .frm h5:after, .frm .choose__price h5:after { position: absolute; content: ""; border-bottom: solid 1px; height: 0; top: 22px; left: 0; right: 0; }
.choose__price h4 span, .choose__price .frm h5 span, .frm .choose__price h5 span { font-size: 21px; }
.choose .button--blue, .bottom .button--blue { line-height: 1;position: absolute; left: 50%; -moz-transform: translate(-50%); -ms-transform: translate(-50%); -webkit-transform: translate(-50%); transform: translate(-50%); content: ""; padding-top: 20px; bottom: -45px; clear: both; *zoom: 1; }
.choose .button--blue:after, .bottom .button--blue:after { content: " "; display: table; clear: both; }

.why { background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/why_bg.png) repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; *zoom: 1; clear: both; padding-top: 45px; -moz-box-shadow: inset 0 5px 25px -10px; -webkit-box-shadow: inset 0 5px 25px -10px; box-shadow: inset 0 5px 25px -10px; }
.why:after { content: " "; display: table; clear: both; }
.why .why_in { *zoom: 1; }
.why .why_in:after { content: " "; display: table; clear: both; }

.why .why__text { text-align: left; float: left; width: 540px; font-size: 12px; color: #3e3e3e; margin-top: 30px; margin-left: -75px; line-height: 1.5em; font-family: "open_sanslight"; font-weight: normal; font-style: normal; }

.why .why__text h1 { text-transform:uppercase; line-height:23px; font-size: 25px; color: #3e3e3d; text-align: left; margin-bottom: 10px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }

.why .why__text h1 span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }

.why .why__text p {padding-top:5px; }

.why .why__text p span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
.why .why__text p.break { margin-top: 7px; }
.why .why__text p.second { margin-top: 20px; margin-left: 30px; margin-bottom: 10px; }
.why .why__text p.third { margin-left: 60px; }
.why .why__text p.fourth { margin-left: 80px; }
.why .why__text p.fifth { margin-left: 100px; }
.why .why__img { float: left; }
.why .why__img img { vertical-align: bottom; }

.quality img { display: block; }
.quality .row { height: 239px; }
.quality .text { padding: 20px 25px; text-align: left; line-height: 1.5em; }
.quality .text--right { text-align: right; }
.quality .quality__caption { position: relative; background: #56caca; font-family: "open_sansregular"; font-weight: normal; font-style: normal; font-size: 43px; line-height: 1.2em; padding: 40px 30px; color: #ffffff; }
.quality .quality__caption:after { position: absolute; content: ""; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -131px no-repeat; width: 109px; height: 6px; bottom: 62px; left: 50%; -moz-transform: translate(-50%); -ms-transform: translate(-50%); -webkit-transform: translate(-50%); transform: translate(-50%); }
.quality .quality__caption span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
.quality .quality__description { text-align: left; padding: 20px 50px; }
.quality .quality__description h4, .quality .quality__description .frm h5, .frm .quality .quality__description h5 { font-size: 20px; font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
.quality .quality__description li { margin-top: 8px; }
.quality .quality__description span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }

.order { padding-top: 70px; margin-top: -1px; background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/order_bg.png) center center no-repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; height: 481px; *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.order:after { content: " "; display: table; clear: both; }
.order .order_in { position: relative; }
.order .order_in:before { position: absolute; content: ""; top: 25px; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -147px no-repeat; width: 109px; height: 6px; left: 50%; -moz-transform: translate(-50%); -ms-transform: translate(-50%); -webkit-transform: translate(-50%); transform: translate(-50%); }
.order .order_in:after { position: absolute; content: ""; height: 0; border-bottom: solid 1px rgba(230, 190, 115, 0.34); left: 95px; right: 150px; bottom: 91px; }
.order .order__item { text-align: center; display: inline-block; width: 200px; margin-right: 45px; vertical-align: top; margin-top: 80px; }
.order .order__item:last-child { margin-right: 0; }
.order .order__item .order__img { display: inline-block; height: 92px; width: 92px; background: #ffffff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-bottom: 10px; }
.order .order__item .order__img .vertical-centered { vertical-align: middle; display: inline-block; height: 100%; }
.order .order__item .order__img img { vertical-align: middle; }
.order .order__item .circle { position: relative; width: 23px; height: 23px; border: solid 1px rgba(230, 190, 115, 0.34); -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin: 15px auto 17px; }
.order .order__item .circle .dot { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 9px; height: 9px; margin-top: 7px; margin-left: 7px; background: #e4b04c; display: block; }
.order .order__item p { font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 14px; color: #4d4347; padding: 12px; text-align: left; position: relative; display: inline-block; }
.order .order__item p .number { position: absolute; left: -20px; content: ""; top: 2px; font-size: 42px; color: #d1a249; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }

.review { padding-top: 70px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.review:after { content: " "; display: table; clear: both; }
.review .review_in { position: relative; }
.review .review_in:before { position: absolute; content: ""; top: 25px; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -147px no-repeat; width: 109px; height: 6px; left: 50%; -moz-transform: translate(-50%); -ms-transform: translate(-50%); -webkit-transform: translate(-50%); transform: translate(-50%); }
.review__item { display: inline-block; width: 307px; margin-right: 34px; margin-top: 100px; }
.review__item:last-child { margin-right: 0px; }
.review__caption h3 { font-family: "open_sansbold"; font-weight: normal; font-style: normal; font-size: 18px; color: #56caca; }
.review__caption h4, .review__caption .frm h5, .frm .review__caption h5 { font-size: 12px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; color: #949494; }
.review__img { float: left; width: 53px; height: 53px; margin-right: 15px; }
.review__img img {     border-radius: 50%;
    width: 59px; }
.review__text { border: 1px solid #e2e2e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 25px; position: relative; font-size: 13px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; margin-top: 30px; }
.review__text:before { position: absolute; content: ""; top: -7px; left: 20px; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -111px no-repeat; width: 12px; height: 10px; }

.also { background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/why_bg.png) repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; *zoom: 1;  -moz-box-shadow: inset 0 -5px 25px -10px; -webkit-box-shadow: inset 0 -5px 25px -10px; box-shadow: inset 0 -5px 25px -10px; }
.also:after { content: " "; display: table; clear: both; }
.also .also_in { position: relative; }
.also .also_in:before { position: absolute; content: ""; top: 25px; background: url('http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/icons-s356aafa649.png') 0 -147px no-repeat; width: 109px; height: 6px; left: 50%; -moz-transform: translate(-50%); -ms-transform: translate(-50%); -webkit-transform: translate(-50%); transform: translate(-50%); }
.also__item { text-align: center; display: inline-block; width: 307px; margin-top: 100px; vertical-align: top; margin-right: 34px; padding-bottom: 100px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.also__item:first-child .also__img img { margin-top: 20px; }
.also__item:last-child { margin-right: 0; }
.also__img { overflow: hidden; height: 292px; background: #ffffff; }
.also__half { background: #56caca; padding: 20px 20px 30px; }
.also__caption { font-size: 19px; color: #c3fdfd; line-height: 1em; }
.also__caption span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
.also__price { margin-top: 15px; margin-bottom: 15px; padding: 0 20px; }
.also__price h3 { float: left; display: inline-block; line-height: 36px; border: solid 1px rgba(255, 255, 255, 0.22); color: #ffffff; font-size: 48px; font-family: "open_sanssemibold"; font-weight: normal; font-style: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 10px 0; }
.also__price h3 span { font-size: 18px; font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
.also__price h4, .also__price .frm h5, .frm .also__price h5 { font-size: 18px; color: #268383; display: inline-block; margin-left: 10px; margin-top: 29px; position: relative; }
.also__price h4:after, .also__price .frm h5:after, .frm .also__price h5:after { position: absolute; content: ""; border-bottom: solid 1px; height: 0; top: 14px; left: 0; right: 0; }
.also__price h4 span, .also__price .frm h5 span, .frm .also__price h5 span { font-size: 14px; }
.also__form { clear: both; *zoom: 1; }
.also__form:after { content: " "; display: table; clear: both; }
.also__form form { margin-top: 30px; }

.bottom { overflow: hidden; background: #ffffff; }
.bottom__price { margin-bottom: 25px; }
.bottom__form { float: right; width: 472px; padding-bottom: 59px; background: #ff99bd; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-right: -100px; margin-top: -110px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 140px; }
.bottom__form .form__caption h3 { font-size: 21px; color: white; text-align: center; font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
.bottom__form .form__caption h3 span { font-family: "open_sansregular"; font-weight: normal; font-style: normal; }
.bottom__form form { margin-top: 30px; }
.bottom__form form .button--form { padding-top: 0; position: static; margin: 20px auto 0; left: 0; bottom: 0; -moz-transform: none; -ms-transform: none; -webkit-transform: none; transform: none; }
.bottom__text { width: 360px; }

footer { background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/footer_bg.png) repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; -moz-box-shadow: inset 0 -5px 25px -10px; -webkit-box-shadow: inset 0 -5px 25px -10px; box-shadow: inset 0 -5px 25px -10px; *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 44px; }
footer:after { content: " "; display: table; clear: both; }
footer .footer__manager { float: left; width: 320px; }
footer .footer__manager .footer__img { float: left; margin-right: 20px; width: 58px; height: 58px; }
footer .footer__manager .footer__img img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
footer .footer__manager h3 { color: #ffffff; font-size: 16px; font-family: "open_sansbold"; font-weight: normal; font-style: normal; padding-top: 5px; }
footer .footer__manager h3 span { font-family: "open_sanslight"; font-weight: normal; font-style: normal; }
footer .header__callme { float: left; margin-left: 210px; width: 460px; text-align: right; padding-top: 5px; }
footer .header__callme .blue-number { color: #56caca; font-weight: normal; }
footer .header__callme h3 { color: #fff; font-size: 16px; display: inline-block; font-family: "open_sansregular"; font-weight: normal; font-style: normal; float: left; }
footer .header__callme h3 span { font-family: "open_sansbold"; font-weight: normal; font-style: normal; }
footer .header__callme a { vertical-align: top; float: right; background: none; }

.order-watch, .callback { width: 307px; background: #56caca; padding: 20px 20px 30px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.order-watch .likeh2, .callback .likeh2 { text-align: center; color: #ffffff; font-size: 23px; font-family: "open_sanssemibold"; font-weight: normal; font-style: normal; }

.order-watch form, .callback form { margin-top: 30px; }
.order-watch input, .callback input { display: inline-block; width: 267px; }
.order-watch .button, .callback .button { padding: 0 57px; }
.order-watch select, .callback select { background: url(http://img2.apishops.org/SinglePageWebsites/custom/images/geneva_web/select.png) right no-repeat #ffffff; -moz-appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ""; -webkit-appearance: none; border: none; background-position-x: 94%; margin-bottom: 10px; font-size: 16px; color: #4e4c4a; -moz-border-radius: 23px; -webkit-border-radius: 23px; border-radius: 23px; height: 45px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.29); -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.29); box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.29); padding-left: 15px; width: 267px; padding-top: 9px; padding-bottom: 9px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "open_sanslight"; font-weight: normal; font-style: normal; }
.order-watch select select::-ms-expand, .callback select select::-ms-expand { display: none; }

.callback { width: 307px; }
.callback .likeh2 { font-size: 30px; }

.thanks { text-align: left; width: 579px; height: 212px; background: #ffffff; overflow: hidden; padding: 40px 80px 40px 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #4e4c4a; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.thanks:after { content: " "; display: table; clear: both; }
.thanks__img { float: left; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 337px; height: 337px; background: #56caca; margin-left: -130px; margin-top: -70px; margin-right: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.thanks__img img { padding-top: 115px; padding-left: 170px; }
.thanks .likeh2 { font-size: 39px; line-height: 1em; }
.thanks h3 { font-size: 25px; margin-bottom: 10px; }
.thanks h4, .thanks .frm h5, .frm .thanks h5 { font-size: 15px; }


.cveta_td {
font-size:20px;
}
