.block-1 {
    padding: 10px 0 0;
    background: #013366 url(../images/bg1.jpg) no-repeat center top;
}
.block-1 h1 {
    text-transform: uppercase;
    font-size: 44px;
    text-align: center;
    line-height: 1em;
    letter-spacing: 1px;
    color: #ff9900;
}
.block-1 h1 span {
    display: block;
    font-size: 19px;
    color: #fff;
    font-family: inherit;
}

.block-1 .container-2{
    padding: 30px 0;
}
.block-1 ul {
    margin: 315px auto 0;
    width: 400px;
}
.block-1 ul li {
    position: relative;
    padding: 0 0 20px 40px;
    line-height: 1.4em;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/check-mark.png) 0 0px no-repeat;
}

p.action {
    text-align: center;
    font-size: 24px;
    color: #222222;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.cost{
    width: 400px;
    overflow: hidden;
    margin: 0 auto 30px;
    font-size: 18px;
    background: #c14fb2;
    border-radius: 12px;
}
.cost>span {
    display: block;
    float: left;
    width: 50%;
    padding: 12px 10px;
    text-align: center;
}
.cost span.new-cost {
    background: #dc2405;
    color: #fff;
}
.cost>span span {
    display: inline-block;
    font-size: 44px;
    line-height: 1em;
    font-weight: 700;
}
.cost span.old-cost{
    color: #1d1d1d;
    background: #fff;
}
.cost span.old-cost>span{
    text-decoration: line-through;
}
.block-2{
    background: #e7e7e7;
}
section.block-2 {
    padding: 40px 0 0;
}
.block-2 h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.block-2 li img {
    float: left;
    margin: 5px 15px 0 0;
}
.block-2 ul li {
    padding: 20px;
    font-size: 19px;
    min-height: 170px;
}
.block-2 ul li:nth-child(2n){
    background: #dddcdc;
}
.block-3 {
    background: #2e2e2e;
    text-align: center;
	color:whitesmoke;
}

.block-3 p{
    width:90%;
	margin:10px auto 30px;
	font-size:19px;
	text-align:left;
}

.block-4{
    background:#003366;
}
section.block-4 {
    padding: 40px 0 20px;
}
.block-4 .container {
    margin-top: 50px;
}
.block-4 ul {
    width: 50%;
}
.block-4 ul li {
    padding: 20px;
    font-size: 19px;
    min-height: 92px;
    text-align: ;
}
.block-4 ul li h3 {
    color:#fff;
    font-size: 20px;
    text-transform: uppercase;
}
.block-4 ul.left li:nth-child(1){ background: #15508c; }
.block-4 ul.left li:nth-child(2){ background: #034383; }
.block-4 ul.left li:nth-child(3){ background: #15508c; }
.block-4 ul.left li:nth-child(4){ background: #034383; }
.block-4 ul.left li:nth-child(5){ background: #15508c; }
.block-4 ul.left li:nth-child(6){ background: #034383; }
.block-4 ul.left li:nth-child(7){ background: #15508c; }
.block-4 ul.right li:nth-child(1){ background: #15508c; }
.block-4 ul.right li:nth-child(2){ background: #034383; }
.block-4 ul.right li:nth-child(3){ background: #15508c; }
.block-4 ul.right li:nth-child(4){ background: #034383; }
.block-4 ul.right li:nth-child(5){ background: #15508c; }
.block-4 ul.right li:nth-child(6){ background: #034383; }
.block-4 ul.right li:nth-child(7){ background: #15508c; }


.block-4 p {
    text-align: ;
    font-size: 24px;
    color: #fff;
    line-height: 1.3;
    padding: 20px;
}
.block-5 {
    background: #f5f5f5;
    text-align: center;
    font-size: 19px;
    padding: 40px 30px;
}
.block-5 h2 {
    margin: 0 0 40px 0;
}
.block-5 h3 {
    margin: 10px 0;
}
.block-5 img {
    border-radius: ;
    border: 3px solid #fff;
}
.block-use {
    color: #fff;
    background: url(../images/use.jpg) no-repeat center top;
    height: 370px;
    padding-top: 25px;
}
.block-use p {
    font-size: 23px;
    padding: 50px 15px 10px 236px;
}
.block-6{
    padding: 40px 0;
    background: #f2f2f2;
}
.block-6 .rev-slider{
    position: relative;
}
.block-6 .rev-item{
    float: left;
    margin: 0 20px;
    text-align: center;
    overflow: hidden;
}
.block-6 .rev-item>img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 6px solid #fff;
}
.block-6 .rev-item>h4{
    margin: 0 0 10px;
    font-size: 20px;
}
.block-6 .rev-item>p {
    padding: 0 20px;
    text-align: justify;
    font-size: 19px;
    text-align-last: center;
}
.block-7{
    padding: 40px 0 0;
    background: #adadff;
}
.block-7 h4 {
    color: #fff;
    background: #003366;
    font-size: 30px;
    padding: 15px 20px;
    float: left;
    margin-right: 20px;
}
.block-7 ul li {
    padding: 20px;
    font-size: 19px;
    text-transform: uppercase;
    min-height: 94px;

}
.block-7 ul li:nth-child(2n){
    background: #c3c3fe;
}
.block-7 p {
    color: #222222;
    font-family: "Akrobat-Black";
    font-size: 21px;
}

.block-8 {
    background: url(../images/bg-last.jpg) no-repeat center top;
}
.block-8 h1 {
    color: #ffffff;
}
.block-8 .container-2 {
    padding: 292px 0 0;
}
.block-8 .timer {
    padding: 10px 0 0px;
}
.timer{
    padding: 0 0 15px;
    color: #fff;
    text-align: center;
}
.timer h4{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.block-8 .order{
    padding: 20px 0;
}
.copyright{
    padding: 20px 0;
    text-align: center;
}

.video-container{
                                position: relative;
                                width: 100%;
                                height: 280px;
                                overflow:hidden;}
                            .video-container iframe, .video-container object, .video-container embed{
                                position:absolute;
                                display: block;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;}