/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.bold {
    font-family: 'Akrobat-Black';
}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}
.white {color:#fff;}
@font-face {
    font-family: 'Akrobat-Black';
    src: url('../fonts/Akrobat-Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat-Regular';
    src: url('../fonts/Akrobat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family: "Akrobat-Black", sans-serif; font-weight: 700;}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px 0;
    color: #222;
}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: "Akrobat-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #333;
    background: #fff;
}
.main-wrap{
    width: 480px;
    margin: 0 auto;
}
section{
    padding: 40px 10px;
}
.m1-form>div{
    margin: 0 auto 15px;
}
.m1-form>div:last-child{
    margin-bottom: 0;
}
.m1-form input {
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 400px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    font-size: 23px;
    font-family: "Akrobat-Regular", Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 12px;
}
.m1-form input:focus{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(49, 40, 2, 0.3);
    -moz-box-shadow:    0px 0px 10px 0px rgba(49, 40, 2, 0.3);
    box-shadow:         0px 0px 10px 0px rgba(49, 40, 2, 0.3);
}
.button-m {
    position: relative;
    display: block;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    line-height: 73px;
    font-family: "Akrobat-Black", sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background: #f92606;
    background-image: linear-gradient(to bottom, #fc2906, #d80900);
    border-radius: 18px;
    border-bottom: 5px solid #a40500;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.25);
}
h2.title{
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 1.2em;
}
.countbox{
    width: 378px; 
    margin: 0 auto;
    padding: 15px 0 30px;
    font-size: 30px; 
    line-height: 1.2; 
    text-align: center;
    color: #fff;
}
.countbox .countbox-num{
    position: relative;
    float: left; 
    width: 116px;
    height: 50px; 
    line-height: 50px; 
    color: #fff;
}
.countbox .countbox-space{
    float: left; 
    width: 15px; 
    height: 50px;
    line-height: 50px;
    font-weight: 400; 
    color: #fff;
}
.countbox .countbox-space:before{content: '\003A';}
.countbox-hours1,.countbox-mins1,.countbox-secs1, .countbox-hours2,.countbox-mins2,.countbox-secs2{
    float: left; 
    width: 50px;
    height: 50px;
    margin: 0 4px;
    border-radius: 8px;
    font-weight: 700;
    color: #333;
    background: #fff;
    z-index: 1;
}
.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{
    position: absolute;
    margin-top: 40px;
    height: 18px;
    width: 116px;
    text-align: center; 
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-transform: lowercase;
}