@import "http://webfonts.ru/import/ptsans.css";
@import "http://webfonts.ru/import/clearsans.css";


/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Шрифты для формы и общая ширина === */
.contact_form h2, .contact_form label, form textarea {font-family: "Clear Sans", sans-serif;}
.form_hint, .required_notification {font-size: 13px;}

.contact_form {
	margin: 0 auto;
	margin-top: 25px;
	width:700px;
	background: #EBEBE9;
	padding: 25px;
	border-radius: 12px;
	border: 3px solid #fff;
	}

/* === Ширина формы === */
.contact_form p {
    width:700px;
	margin:11px 10px 7px 10px;
	padding:0px;
	text-align: left;
}

/* === Размер и расположение блоков === */
.contact_form label {
	width:150px;
	font-size: 18px;
	margin: 0px 0px 0 0;
	display:inline-block;
	float:left;
	text-align: right;
	}

.contact_form input {
	font-size: 17px;
	color: #165ae4;
	
}


.contact_form textarea {
	padding:8px; 
	width:450px; 
	font-size: 17px;
	color: #165ae4;
}

.contact_form button {
	margin-left:165px;
}


	/* Цвета и эффекты */
	.contact_form input, .contact_form textarea { 
		border:1px solid #aaa;
		margin: 0px 0px 0 10px;
		border-radius:5px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}
	.contact_form input:focus, .contact_form textarea:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

/* === HTML5  === */	
.contact_form input:required, .contact_form textarea:required {
	background: #fff no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff no-repeat 98% center;
	box-shadow: 0 0 5px #9521AE;
	border-color: #9521AE;
}

/* === Стили подсказок === */
.form_hint {
	background: #9521AE;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin: 4px 0 0 8px;
	padding: 1px 6px;
	z-index: 999; /* подсказки поверх всех элементов */
	position: absolute; /* правильное отображение, если подсказка в 2 строки */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#9521AE;
	position: absolute;
	top:1px;
	left:-6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}
	
/* === Оформление кнопки === */
button.submit {
	width: 306px;
	height: 85px;
	xmargin: 0px 0px 0 175px;
	background: url(../img/buy.png) top;
	font-size: 28px;
	color: #fff;
	font-weight: 700;
	font-family: 'Clear Sans', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	cursor: pointer;	
	line-height: 80px;	
	border: none;
}
button.submit:hover {
	background: url(../img/buy.png) bottom;
	text-shadow: 1px 1px 20px #fff;
}

.modal_title{
	font-family: 'Clear Sans', sans-serif;
	font-weight: 700;
	color: #0070bb;
	text-align: center;
	font-size: 29px;
	line-height: 32px;
	margin-bottom: 15px;
}


.label-input{
	padding: 4px 0 0 5px;
	}

.label-radio{
	padding: 3px 0 0 5px;
	}


.input-text{
	width: 300px;
	color: #165ae4;
    outline:none;
	padding:6px 8px;
	
}

.name-input{
	background: #fff url("../img/icon_user.png") no-repeat 20px 50%;
	height: 46px;
	color: #165ae4;
	font-size: 21px;
	padding-left: 60px;
	width: 300px;
    outline:none;
	border-radius: 12px;
	border:1px solid #ccc; 
}
.tel-input{
	background: #fff url("../img/icon_tel.png") no-repeat 20px 50%;
	padding-left: 60px;
	height: 46px;
	color: #165ae4;
	font-size: 21px;
	width: 300px;
    outline:none;
	border-radius: 12px;
	border:1px solid #ccc; 
}
.btn{
	width: 306px;
	height: 85px;
	background: url(../img/buy.png) top;
	font-size: 28px;
	color: #fff;
	font-weight: 700;
	font-family: 'Clear Sans', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	cursor: pointer;	
	line-height: 80px;	
}


.btn:hover{
	background: url(../img/buy.png) bottom;
	text-shadow: 1px 1px 20px #fff;
}