*{
	margin: 0;
	padding: 0;
	border: 0;
}
html, body{
	width: 100%;
	height: 100%;
	}
html{
font-family: 'Clear Sans', sans-serif;
}

body{
	overflow: auto;
}

@import "http://webfonts.ru/import/ptsans.css";
@import "http://webfonts.ru/import/clearsans.css";





a.anchor{
	position: absolute;
	margin-top: -77px;
}

a.anchor_1{
	position: absolute;
	margin-top: -55px;
}

a.anchor_2{
	position: absolute;
	margin-top: -90px;
}

a:link{
	color: #004fa1;
	text-decoration: none;
}
a:visited{
	color: #004fa1;
	text-decoration: none;
}
a:hover{
	color: #9521af;
	text-decoration: none;
}
body{
	font-family: 'Clear Sans';
	font-weight: normal;
	font-size: 18px;
}
.wrapper{
	position: relative;
}
/*main menu*/

.mainmenu{
	float: left;
    overflow: hidden;
	margin-top: 20px;
	}
.mainmenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	}
.mainmenu ul li{
	position: relative;
	float: left;
	margin: 0 28px 0 0;
	height: 30px
}
.mainmenu ul li a{
	display: block;
    font-family: 'Clear Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #0070bb;
	text-decoration: none;
	text-shadow: 1px 1px 3px #fff;
}
.mainmenu ul li a:hover{
	color: #9521ae;
    text-shadow: 1px 1px 3px #fff;
}

/*end main menu*/

.header_bg{
    position: fixed;
	background: url(../img/main_menu_bg.png);
	top: 0;
	left: 0;
	width: 100%;
	height: 66px;
	z-index: 8000;
	overflow: hidden;   
}
.header{
    width: 1000px;
	margin: 0 auto;
    }


.tel{
	float: right;
	color: #333333;
	font-size: 19px;
	font-weight: 700;
	line-height: 60px;
}
a.button{
	float: right;
    width: 153px;
	height: 33px;
	font-size: 14px;
    font-family: 'Clear Sans', sans-serif;
	font-weight: 700;
	color: #0070bb;
	text-decoration: none;
    text-align: center;
	line-height: 33px;
	margin-top: 14px;
	background: url(../img/tel_but.png) top;
}
a.button:hover{
    color: #9521ae;	
    background: url(../img/tel_but.png) bottom;
}
.about{
	position: relative;
	margin: 76px auto 0;
	width: 1000px;
}

/*screen 1*/


.screen_1{
	position: relative;
	background: url(../img/screen_1.jpg) center no-repeat;
	margin: 0px auto;
	height: 652px;
	z-index: 2;
}

.screen_1_content{
	position: relative;
    margin: 0 auto;
	width: 1000px;
}

.silver_iphone{
	position: absolute;
	background: url(../img/silver_iphone.png) no-repeat;
    width: 441px;
    height: 276px;
    margin: 0 0 0 183px;
	}

.gold_iphone{
	position: absolute;
	background: url(../img/gold_iphone.png) no-repeat;
    width: 488px;
    height: 341px;
    margin: 311px 0 0 -135px;
	}

.black_iphone{
	position: absolute;
    background: url(../img/black_iphone.png) no-repeat;
    width: 496px;
    height: 495px;
    margin: 195px 0 0 150px;
	}


.logo{
	position: absolute;
    background: url(../img/logo.png) no-repeat;
    width: 300px;
    height: 130px;
    margin: 127px 0 0 0px;
	padding-top: 53px;
	color: #24e5ff;
	font-size: 24px;
	line-height: 27px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}


.price{
	position: absolute;
	width: 310px;
	margin: 127px 0 0 690px;	
	}

.white_b_31{
	font-weight: 700;
	color: #fff;
	font-size: 31px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
	}

.white_b_36{
	font-size: 36px;
    }

.white_b_27{
	font-weight: 700;
	color: #fff;
	font-size: 27px;
	line-height: 33px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
	}

.white_b_48{
	font-weight: 700;
	float: right;
	color: #fff;
	font-size: 48px;
	line-height: 45px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
	}

.blue_b_32{
	font-weight: 700;
	color: #0baee1;
	font-size: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
	}

.zach {
font-family: Tahoma;
color: #fff; 
text-decoration:line-through;
}

.gift {
	position: absolute;
	background: url(../img/gift.png) no-repeat;
	width: 312px;
	height: 131px;
	padding: 20px 0 0 140px;
	margin: 250px 0 0 550px;	
	}

.purple_b_30{
	font-weight: 700;
	color: #9521ae;
	font-size: 30px;
	line-height: 36px;
	margin-top: 12px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
	}

.purple_b_48{
	font-size: 48px;
    }

.blue_b_15{
	font-weight: 700;
	color: #0baee1;
	font-size: 15px;
	line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
	}

.purple_b_20{
	color: #9521ae;
	font-size: 20px;
	}

.timer {
	position: absolute;
	margin: 373px 0 0 670px;	
	}

.black_b_22{
	font-weight: 700;
	color: #312e34;
	font-size: 25px;
	line-height: 36px;
	margin: 0 0 20px 12px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
	}

a.buy{
	position: absolute;
	width: 306px;
	height: 85px;
	font-size: 28px;
    font-weight: 700;
	color: #fff;
	text-decoration: none;
    text-align: center;
	line-height: 80px;
	margin: 520px 0 0 685px;
	background: url(../img/buy.png) top;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
a.buy:hover{
    color: #fff;	
    background: url(../img/buy.png) bottom;
	text-shadow: 1px 1px 20px #fff;
}

/*end screen 1*/




/*screen 2*/

.screen_2{
	position: relative;
	background: url(../img/screen_2.jpg) center no-repeat;
	margin: 0px auto;
	height: 242px;
	z-index: 1;
}
.screen_2_content{
	position: relative;
    padding-top: 34px;
	margin: 0 auto;
	width: 1000px;
}

/*end screen 2*/





/*screen 3*/

.screen_3{
	position: relative;
	background: url(../img/screen_3.jpg) center no-repeat;
	margin: 0px auto;
	height: 954px;
	z-index: 1;
}

.screen_3_content{
	margin: 0 auto;
	width: 1000px;
}

.screen_3_left{
	float: left;
	width: 456px;
}

.screen_3_name{
	float: left;
	margin-top: 65px;
	font-weight: 700;
	color: #0070bb;
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
}

.screen_3_name_2{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 45px;
	font-weight: 700;
	color: #0070bb;
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
}

.screen_3_text{
	float: left;
	margin-top: 35px;
	color: #333333;
	font-size: 17px;
	line-height: 32px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
}


.screen_3_right{
	float: right;
	background: url(../img/iphone_scr_3.png) no-repeat;
	width: 544px;
	height: 538px;
	margin-top: 20px;
}

.kompl_1{
	float: left;	
	margin: 35px 0 0 25px;
}

.kompl_2{
	float: left;	
	margin: 35px 0 0 85px;
}

.kompl_3{
	float: left;	
	margin: 35px 0 0 80px;
}

.kompl_4{
	float: left;	
	margin: 35px 0 0 90px;
}

.kompl_img{
	text-align: center;
	height: 147px;	
}

.kompl_opis{
	margin-top: 22px;
	font-weight: 700;
	color: #333333;
	font-size: 17px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
}

/*end screen 3*/



/*screen 4*/

.screen_4{
	position: relative;
	background: url(../img/screen_4.jpg) center no-repeat;
	margin: 0px auto;
	height: 700px;
	z-index: 1;
}

.screen_4_content{
	margin: 0 auto;
	width: 1000px;
	padding-top: 35px;
}


.screen_4_name{
	font-weight: 700;
	text-align: center;
	color: #fff;
	font-size: 36px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
}

.gift_1{
	float: left;	
	width: 500px;
	margin: 32px 0 0 0;
}

.gift_img{
	margin: 0 0 0 145px;
}

.gift_name_1{
	margin: 12px 0 0 95px;
	background: url(../img/gift_icon_1.png) top left no-repeat;
	font-weight: 700;
	color: #9521ae;
	font-size: 31px;
	padding: 13px 0 0 60px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.gift_2{
	float: right;
	width: 500px;
	margin: 32px 0 0 0;
}

.gift_name_2{
	margin: 12px 0 0 95px;
	background: url(../img/gift_icon_2.png) top left no-repeat;
	font-weight: 700;
	color: #179cc5;
	font-size: 31px;
	padding: 13px 0 0 60px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

a.buy_2{
	float: left;
	width: 306px;
	height: 85px;
	font-size: 28px;
    font-weight: 700;
	color: #fff;
	text-decoration: none;
    text-align: center;
	line-height: 80px;
	margin: 35px 0 0 347px;
	background: url(../img/buy.png) top;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
a.buy_2:hover{
    color: #fff;	
    background: url(../img/buy.png) bottom;
	text-shadow: 1px 1px 20px #fff;
}
/*end screen 4*/



/*screen 5*/
.screen_5{
	position: relative;
	background: #9e8cab url(../img/screen_5.jpg) top center no-repeat;
	margin: 0px auto;
	z-index: 1;
}

.screen_5_content{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 1000px;
	padding-top: 35px;
	}

.otz_left{
	float: left;
	margin-top: 35px;	
}


.otz_foto_1{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_1.jpg) center no-repeat;
}

.otz_foto_2{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_2.jpg) center no-repeat;
}

.otz_foto_3{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_3.jpg) center no-repeat;
}

.otz_foto_4{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_4.jpg) center no-repeat;
}

.otz_foto_5{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_5.jpg) center no-repeat;
}


.otz_foto_6{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_6.jpg) center no-repeat;
}


.otz_foto_7{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_7.jpg) center no-repeat;
}

.otz_border{
	float: left;
	width: 177px;
	height: 177px;
	border-radius: 50%;
	border: solid 7px rgba(255, 255, 255, 0.3);	
}


.otz_text{
	min-height: 117px;
	border-radius: 5px;
	background: #fff;
	padding: 30px 30px 30px 30px;
	}

.otz_text_border{
	border-radius: 12px;
	border: solid 7px rgba(255, 255, 255, 0.3);
	}

.otz_container_left{
	float: left;
	width: 770px;	
	padding-left: 19px;
	margin-left: 20px;
	background: url(../img/otz_arrow_left.png) no-repeat;
	background-position: 0px 66px;
}

.otz_container_right{
	float: left;
	width: 770px;	
	padding-right: 19px;
	margin-right: 20px;
	background: url(../img/otz_arrow_right.png) no-repeat;
	background-position: 763px 66px;
}

.otz_name{
	font-weight: 700;
	color: #0070bb;
	font-size: 18px;
	}

.otz_opis{
	margin-top: 10px;
	font-size: 18px;
	}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

/*end screen 5*/


/*screen 6*/

.screen_6{
	position: relative;
	background: #cdd4d9 url(../img/screen_6.jpg) top center no-repeat;
	margin: 0px auto;
	z-index: 1;
}

.screen_6_content{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 1000px;
	padding-top: 35px;
	}

.screen_6_name{
	text-align: center;
	font-weight: 700;
	color: #0070bb;
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
}

.screen_6_name_2{
	margin-top: 22px;
	font-weight: 700;
	color: #333333;
	font-size: 19px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);	
}

/* Tabs */

#container_t{
	float: left;
    margin: 0 auto;
    width: 930px;
    padding: 35px;
	background: #fff;
	border-radius: 12px;
	border: 
}

.tabs_text {
    font-size: 18px;
    }

ul#Tabs {
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 28px;
	color: #0070bb;
    margin: 20px 0 0 85px;
}

#Tabs li.Tab {
    float: left;
    height: 55px;
	margin: 20px 0px 0px 5px;
    }

#Tabs li.Tab a {
    float: left;
    display: block;
    color: #0070bb;
    text-decoration: none;
    padding: 17px 20px 14px 20px;
}

#Tabs li.Tab a:hover {
	color: #9521ae;
    background-color: #fff;
	border-radius: 12px 12px 0 0px;
    }

/* Selected Tab */
#Tabs li.SelectedTab {
    float: left;
    height: 55px;
    background-color: #fff;
	padding: 0 20px 0 20px;
    margin: 20px 0px 0px 5px;
	border-radius: 12px 12px 0 0;
    }

#Tabs li.SelectedTab A {
    float: left;
    display: block;
    color: #9521ae;
    text-decoration: none;
    padding-top: 17px;
    cursor: default;
}


/*end screen 6*/

/*screen 7*/
.screen_7{
	position: relative;
	background: url(../img/screen_7.jpg) center no-repeat;
	margin: 0px auto;
	height: 680px;
	z-index: 1;
}

.screen_7_content{
	margin: 0 auto;
	width: 1000px;
	padding-top: 35px;
}

.screen_7_name{
	font-weight: 700;
	text-align: center;
	color: #fff;
	font-size: 36px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
}

.preim_1{
	float: left;	
	margin: 36px 0 0 250px;
}

.preim_2{
	float: left;	
	margin: 36px 0 0 150px;
}

.preim_3{
	float: left;	
	margin: 36px 0 0 100px;
}

.preim_4{
	float: left;	
	margin: 36px 0 0 140px;
}

.preim_5{
	float: left;	
	margin: 36px 0 0 140px;
}

.preim_img{
	
	text-align: center;
}

.preim_name{
	margin: 12px 0 0 0;
	font-weight: 700;
	color: #fff;
	font-size: 21px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/*end screen 7*/


/*screen 8*/
.screen_8{
	position: relative;
	background: url(../img/screen_8.jpg) center no-repeat;
	margin: 0px auto;
	/*height: 758px;*/
	z-index: 1;
}

.screen_8_content{
	margin: 0 auto;
	width: 1000px;
	height: 665px;
	background: url(../img/iphones.png) no-repeat;
	background-position: 0 65px;
}

.footer_bg{
	height: 93px;
	background: url(../img/footer_bg.png);
	}

.footer{
	margin: 0 auto;
	width: 1000px;
	padding-top: 26px;
	text-align: center;
}




.logo_bot{
	float: left;
	background: url(../img/logo.png) no-repeat;
    width: 220px;
    height: 92px;
    margin: 75px 0 0 480px;
	padding-top: 53px;
	color: #24e5ff;
	font-size: 24px;
	line-height: 27px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}


.price_bot{
	float: right;
	width: 270px;
	margin: 63px 0 0 0px;	
	}


.gift_bot {
	float: left;
	background: url(../img/gift.png) no-repeat;
	width: 312px;
	height: 115px;
	padding: 20px 0px 0 140px;
	margin: 0px 0px 0 515px;	
	}


.timer_bot {
	float: right;
	width: 340px;
	height: 150px;
	margin: 0px 18px 0 0px;	
	}

a.buy_bot{
	float: left;
	width: 306px;
	height: 85px;
	font-size: 28px;
    font-weight: 700;
	color: #fff;
	text-decoration: none;
    text-align: center;
	line-height: 80px;
	margin: 0px 0px 0 655px;
	background: url(../img/buy.png) top;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
a.buy_bot:hover{
    color: #fff;	
    background: url(../img/buy.png) bottom;
	text-shadow: 1px 1px 20px #fff;
}




/*end screen 8*/



/*Modal Tel*/

#modal_tel {
	width: 550px; 
	height: 400px;
	border-radius: 9px;
	background: #EBEBE9;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -200px;
	margin-left: -275px;
	display: none;
	opacity: 0;
	z-index: 9999;
	padding: 20px 10px;
}

#modal_tel #modal_close {
	width: 21px;
	height: 21px;
    background: url(../img/close.png) top no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_tel #modal_close:hover {
    background: url(../img/close.png) bottom no-repeat;
}

#overlay {
	z-index: 9998;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0;
	cursor: pointer;
	display: none;
}

.send-message-action_modal{
	margin-top: 30px;
	width: 550px;
	text-align: center;
}

.send-message-action_modal div{
	display: block;
	margin-top: 14px;
}


/*end Modal Tel*/


/*Modal Form*/

#modal_form {
	width: 722px; 
	height: 550px;
	border-radius: 9px;
	overflow-y:auto;
	background: #EBEBE9;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -275px;
	margin-left: -360px;
	display: none;
	opacity: 0;
	z-index: 9999;
	padding: 20px 10px;
}

#modal_form #modal_close {
	width: 21px;
	height: 21px;
    background: url(../img/close.png) top no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_form #modal_close:hover {
    background: url(../img/close.png) bottom no-repeat;
}


/*end Modal Form*/


/*Modal Form*/

#modal_pol {
	width: 882px; 
	height: 520px;
	border-radius: 9px;
	overflow-y:auto;
	background: #EBEBE9;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -260px;
	margin-left: -440px;
	display: none;
	opacity: 0;
	z-index: 9999;
	padding: 20px 20px;
}


#modal_pol #modal_close {
	width: 21px;
	height: 21px;
    background: url(../img/close.png) top no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_pol #modal_close:hover {
    background: url(../img/close.png) bottom no-repeat;
}

/*end Modal Form*/



/*Modal Form*/

#modal_Contact {
	width: 400px; 
	height: 520px;
	border-radius: 9px;
	overflow-y:auto;
	background: #EBEBE9;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -260px;
	margin-left: -200px;
	display: none;
	opacity: 0;
	z-index: 9999;
	padding: 20px 20px;
}


#modal_Contact #modal_close {
	width: 21px;
	height: 21px;
    background: url(../img/close.png) top no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_Contact #modal_close:hover {
    background: url(../img/close.png) bottom no-repeat;
}

/*end Modal Form*/

.cont {
	margin: 10px 0 0 20px;
}

.ic {
	float: left;
	height: 95px;
	width: 95px;
}

.ic_text{
	display: table-cell;
	height: 95px;
	font-weight: 700;
	color: #333;
	font-size: 19px;
	vertical-align: middle;
	padding-left: 20px;
	
	}

.work_time{
	margin-top: 10px;
	font-weight: 700;
	text-align: center;
	color: #0070bb;
	font-size: 18px;
	}


.zak_bg{
	background: url(../img/zak_bg.jpg) top center no-repeat;
	height: 435px;
	text-align: center;
	}

.zak_blue{
	color: #179cc5;
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	margin-top: 15px;
	}