/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #444; opacity: 1;}
*:-moz-placeholder {color: #444; opacity: 1;}
*::-moz-placeholder {color: #444; opacity: 1;}
*:-ms-input-placeholder {color: #444; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}
/* endzeit_____ */
.hidden{display: none;}
.clear{clear: both;height: 0px;}
.invis{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Light.eot');
    src: url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Regular.eot');
    src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Bold.eot');
    src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
body {
    font-family: 'Avenir Next Cyr', sans-serif;  
    font-size: 17px;
    line-height: 1.5em;
    color: #000;
    background: #fff;
}
/* michael-k90 */

.white {
    color: #fff;
}
.pink {
    color: #f1398b;
}
.orange {
    color: #ff7e00;
}
.ser {
    color: #aaa9a9;
}
.dark1 {
    color: #333;
}
.dark2 {
    color: #666;
}
/* owmen17 */
b, strong{
    font-weight: 700;
}
.mob-vis{
    display: none;
}
.block-s{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.section{
    width: 960px;
    margin: 0px auto;
    padding: 0px 20px;
}
.button{
    display: block;
    border: 0;
    outline: 0;
    width: 300px;
    height: 64px;
    margin: 0 auto; 
    font-family: 'Avenir Next Cyr', sans-serif;  
    font-size: 18px;
    font-weight: 700;
    line-height: 62px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    color: #fff;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    background: #fd478a;
    background: -webkit-linear-gradient(top, #fd478a 0%, #fb0b5c 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fd478a), to(#fb0b5c));
    background: linear-gradient(to bottom, #fd478a 0%, #fb0b5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd478a', endColorstr='#fb0b5c',GradientType=0 );
    border-bottom: 3px solid #c7235b;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    cursor: pointer;
}
.button:hover{
    background: #fd5c97;
    background: -webkit-linear-gradient(top, #fd5c97 0%, #fb1c67 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fd5c97), to(#fb1c67));
    background: linear-gradient(to bottom, #fd5c97 0%, #fb1c67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd5c97', endColorstr='#fb1c67',GradientType=0 );
}
.b1 {
    height: 600px;
    padding: 20px 0 0;
    background: url(../img/b1.jpg) center 0 no-repeat;
}
.b1 .zag {
    text-transform: uppercase;
}
.b1 .zag h1 {
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ff4081;
}
.b1 .zag h1 b{
    color: #121212;
}
.b1 .zag h2 {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
}
.b1 .sale{
    background: rgba(241, 32, 103, 0.7);
    width: 110px;
    height: 110px;
    margin: 20px 0 0 20px;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
    color: #fff;
    border-radius: 50%;
}
.b1 .sale>b{
    font-size: 30px;
}
.b1 p.price {
    width: 430px;
    padding: 190px 0 0;
    text-align: center;
    font-size: 38px;
    line-height: 1.4em;
}
.price .old-price {
    padding: 0 10px 0 0;
    text-decoration: line-through;
}
.price .new-price {
    padding: 0 0 0 10px;
    font-weight: 700;
    color: #ff4081;
}
.b1 a.button {
    margin: 16px 0 0 50px;
}
.b2 {
    padding: 40px 0 60px;
}
/* bizlife_inc */
.b2 h2 {
    font-size: 54px;
    line-height: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.b2 h2 span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #ff4081;
}
.b2 .about{
    padding: 40px 0 0;
}
.b2 .about>img{
    display: block;
    float: left;
    width: 60%;
    margin: 0 30px 0 0;
}
.b2 .about h3 {
    font-size: 34px;
    line-height: 1.4em;
    font-weight: 400;
}
.b2 .about ul{
    padding: 10px 0 0;
}
.b3{
    height: 600px;
    padding: 80px 0px 0;
    background: url(../img/b3.jpg) center 0 no-repeat;
}
.b3 .video-container{
    position: relative;
    width: 640px;
    height: 360px;
    overflow:hidden;
    margin: 0 0 0 130px;
}
.b3 .video-container iframe, .b3 .video-container object, .b3 .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.b4{
    padding: 40px 0;
    background: url(../img/b4.jpg) center 20px no-repeat;
}
.b4 h2.title{
    font-size: 34px;
    line-height: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
}
.b4 h2.title>span{
    display: block;
}
.b4 h2.title>span b{
    font-size: 50px;
}
.b4 ul.spec {
    overflow: hidden;
    width: 500px;
    margin: 50px 0 20px 20px; 
}
.b4 ul.spec li {
    clear: both;
    margin: 0 0 50px;
}
.b4  ul.spec img {
    float: left;
}
.b4 ul.spec h3 {
    margin: 0 0 5px 130px;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 700;
}
.b4 ul.spec p {
    margin: 0 0 0 130px;
}
.b4 a.button {
    margin: 0 0 0 100px;
}
.b6{
    padding: 40px 0;
    background: url(../img/bg-rep-1.jpg) repeat;
}
.b6 h2.title{
    font-size: 42px;
    line-height: 1.4em;
    font-weight: 300;
    text-align: center;
}
.b6 .slider-wrap{
    margin: 30px 0 0;
}
.b6 .slider-wrap .slick-list{
    padding: 60px 0 0;
}
.b6 .slider-wrap .item{
    float: left;
    margin: 0 20px;
}
.b6 .rev_inner h3 {
    margin-bottom: 20px;
    padding: 5px 0 25px 70px;
    font-size: 20px;
    font-weight: 700;
    background: url(../img/o.png) 0 0 no-repeat;
}
.b6 .rev_inner {
    float: left;
    width: 580px;
    margin: 40px 0 0 0;
    padding: 30px;
    background: #fdfdfd;
    border: 1px solid #e3e3e3;
    border-right: 0;
}
.b6 img.o_avtor {
    float: left;
    width: 300px;
    margin-top: -60px;
}
.b6 .slider-wrap  .slick-prev, .b6 .slider-wrap  .slick-next {
    position: absolute;
    bottom: 20px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 43px;
    height: 43px;
    z-index: 100;
}
.b6 .slider-wrap  .slick-prev {
        background: url(../img/arrow_left.png) no-repeat;
        left: 470px;
}
.b6 .slider-wrap  .slick-next {
        background: url(../img/arrow_right.png) no-repeat;
        left: 520px;
    }
.b7 {
    padding: 60px 0 20px;
    background: url(../img/b7.jpg) center top no-repeat;
}
.b7 .delivery{
    color: #fff;
}
.b7 .delivery li{
    position: relative;
    width: 40%;
    padding: 0 0 50px 100px;
}
.b7 .delivery li:nth-child(2){
    margin-left: 25%;
}
.b7 .delivery li:nth-child(3){
    margin-left: 50%;
}
.b7 .delivery li:before{
    content: '';
    position: absolute;
    display: block;
    width: 75px;
    height: 75px;
    left: 0;
    top: 0;
    background: url(../img/deliv-icon.png) no-repeat;
}
.b7 .delivery li:nth-child(1):before{
    background-position: 0 0;
}
.b7 .delivery li:nth-child(2):before{
    background-position: -75px 0;
}
.b7 .delivery li:nth-child(3):before{
    background-position: -150px 0;
}
.b8 {
    height: 640px;
    padding: 30px 0 0;
    background: url(../img/b10.jpg) center 0 no-repeat;
}
.b8 .left-cont{
    float: left;
    width: 560px;
}
.b8 .zag {
    text-transform: uppercase;
}
.b8 .zag h1 {
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ff4081;
}
.b8 .zag h1 b{
    color: #121212;
}
.b8 .zag h2 {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
}
.b8 .sale{
    background: rgba(241, 32, 103, 0.7);
    width: 110px;
    height: 110px;
    margin: 20px 0 0 20px;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
    color: #fff;
    border-radius: 50%;
}
.b8 .sale>b{
    font-size: 30px;
}
.b8 .right-cont {
    float: right; 
    width: 350px;
    padding: 90px 0 0;
}
.b8 .timer{
    text-align: center;
}
.b8 p.price {
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 36px;
    line-height: 1.4em;
}
.m1-form input {
    outline: none;
    border: 0;
    display: block;
    width: 300px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 35px;
    font-family: 'Avenir Next Cyr', sans-serif;  
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    background: #fffcf7;
    -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,.3);
    box-shadow: 0 -1px 2px rgba(0,0,0,.3);
}
.b8 .copyright{
    padding: 50px 0 0;
    text-align: center;
}
.b8 .copyright a{
    font-size: 14px;
    color: #000;
}

@media only screen and (max-width: 959px) {
.section {
    width: 640px;
    margin: 0px auto;
    padding: 0px 10px;
}
.b1 {
    background: url(../img/b1_2.jpg) center 0 no-repeat;
}
.b1 p.price{
    width: 460px;
}
.b1 a.button{
     margin-left: 75px;
}
.b2 .about>img{
    float: none;
    width: auto;
    margin: 10px auto 0;
}
.b2 .about h3{
    padding: 20px 0 15px;
    font-size: 38px;
    text-align: center;
}
.b2 .about{
    font-size: 20px;
    line-height: 1.4em;
}
.b2 .about ul{
    padding: 20px 0 0;
}
.b3 {
    height: 510px;
    padding: 70px 0px 0;
    background: url(../img/b3_2.jpg) center 0 no-repeat;
}
.b3 .video-container{
    width: 540px;
    height: 290px;
    margin: 0 0 0 38px;
}
.b4 ul.spec{
    width: 460px;
    margin-bottom: 0;
}
.b4 ul.spec img {
    width: 70px;
}
.b4 ul.spec h3 {
    margin-left: 85px;  
}
.b4 ul.spec p {
    margin-left: 85px;
}
.b4 a.button {
    margin: 0 0 0 50px;
}
.b6 .slider-wrap{
    padding-bottom: 60px;
}
.b6 .slider-wrap .item{
    margin: 0 10px;
}
.b6 .slider-wrap .slick-list{
    padding-top: 20px;
}
.b6 .rev_inner{
    width: 300px;
    padding: 30px 20px;
}
.b6 img.o_avtor {
    margin-top: 0px;
}
.b6 .slider-wrap  .slick-prev, .b6 .slider-wrap  .slick-next{
    bottom: 0;
    right: auto;
    left: 50%;
}
.b6 .slider-wrap  .slick-prev{
    margin-left: -53px;
}
.b6 .slider-wrap  .slick-next{
    margin-left: 10px;
}
.b7 {
    background: url(../img/b7_2.jpg) center 0 no-repeat;
}
.b7 ul.delivery {
    margin-left: 230px;
}
.b7 .delivery li{
    width: auto;
}
.b7 .delivery li:nth-child(2), .b7 .delivery li:nth-child(3){
    margin: 0;
}
.b8{
    height: auto;
    padding-bottom: 20px;
    background: url(../img/b10_2.jpg) center 0 no-repeat #fff;
}
.b8 .left-cont{
    float: none;
    width: 100%;
}
.b8 .zag{
    text-align: center;
}
.b8 .sale{
    margin-left: 100px;
}
.b8 .right-cont{
    float: none;
    width: 100%;
    padding-top: 190px;
}
}
@media only screen and (max-width: 639px) {
.mob-vis{
    display: inline;
}
.web-vis{
    display: none;
}
.section {
    position: relative;
    width: 320px;
    margin: 0px auto;
    padding: 0px 10px;
}
.b1 {
    padding-top: 0px;
    background: url(../img/b1_3.jpg) center 0 no-repeat #fff;
}
.b1 a.button {
    margin: 14px 0 0 0;
}
.b1 .zag {
    border-left: 0;
    margin: 0;
    padding: 25px 0 0;
    text-align: center;
}
.b1 .zag h1{
    font-size: 34px;
    padding-bottom: 20px;
}
.b1 .zag h1>b{
    font-size: 42px;
}
.b1 .zag h2{
    font-size: 22px;
}
.b1 .sale {
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    padding-top: 15px;
}
.b1 p.price {
    width: 100%;
    padding-top: 135px;
}
h2.h2 {
    text-align: center;
    padding-top: 24px;
    font-size: 24px;
    line-height: 34px;
}
.b2 h2{
    font-size: 30px;
    line-height: 1.4em;
    white-space: nowrap;
}
.b2 h2 span{
    font-size: 20px;
}
.b3{
    height: auto;
    padding: 0;
    background: #e6e6e6;
}
.b3 .section{
    padding: 0;
}
.b3 .video-container{
    width: 100%;
    height: 180px;
    margin: 0;
}
.b4 {
    background: #fff;
}
.b4 h2.title{
    font-size: 30px;
    line-height: 1.5em;
    text-align: center;
}
.b4 h2.title>span{
    display: inline;
}
.b4 ul.spec{
    width: 100%;
    margin: 40px 0 0;
}
.b4 ul.spec li{
    margin-bottom: 30px;
    text-align: center;
}
.b4 ul.spec img{
    float: none;
    width: auto;
    margin: 0 auto 10px;
}
.b4 ul.spec h3 {
    margin-left: 0px;  
}
.b4 ul.spec p {
    margin-left: 0px;
}
.b4 a.button {
    margin: 0px auto;
}
.b6 .section{
    padding: 0;
}
.b6 h2.title{
    font-size: 34px;
}
.b6 .slider-wrap .slick-list{
    padding: 0;
}
.b6 .rev_inner{
    float: none;
    width: 100%;
    margin: 0;
    border: 1px solid #e3e3e3;
}
.b6 img.o_avtor{
    margin: 0;
}
.b7 {
    padding: 40px 0;
    background: url(../img/b7_r.jpg) repeat;
}
.b7 ul.delivery{
    margin: 0;
}
.b7 .delivery li{
    padding: 0 0 30px;
    text-align: center;
}
.b7 .delivery li:last-child{
    padding: 0;
}
.b7 .delivery li:before{
    position: static;
    margin: 0 auto 10px;
}
.b8 {
    padding-top: 0px;
    background: url(../img/b1_3.jpg) center 0 no-repeat #fff;
}
.b8 a.button {
    margin: 14px 0 0 0;
}
.b8 .zag {
    border-left: 0;
    margin: 0;
    padding: 25px 0 0;
    text-align: center;
}
.b8 .zag h1{
    font-size: 34px;
    padding-bottom: 20px;
}
.b8 .zag h1>b{
    font-size: 42px;
}
.b8 .zag h2{
    font-size: 22px;
}
.b8 .sale {
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    padding-top: 15px;
}
.b8 .right-cont{
    padding-top: 140px;
}
}