/*Таймер*/
.countbox {
    font-size: 32px;
    font-weight: 500;
    padding: 10px 0 0;
    width: 246px;
    margin: 0 auto;
    display: block;
}
.countbox .countbox-num {
    float: left;
    width: 72px;
}
.countbox .countbox-space {
    float: left;
    height: 50px;
    width: 15px;
}
.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    font-size: 32px;
    background: url(../img/round.png) 0 0 no-repeat;
    float: left;
    width: 32px;
    height: 54px;
    margin: 0 2px;
    line-height: 52px;
    text-align: center;
    z-index: 1;
    color: #fff;
    border-radius: 4px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 16px;
    text-align: center;
}