	/* FONTS */
	
	@font-face {
	    font-family: "PTSansBold";
	    src: url("../fonts/PTSansBold/PTSansBold.ttf");
	    src: url("../fonts/PTSansBold/PTSansBold.eot") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype"), font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: "PTSansRegular";
	    src: url("../fonts/PTSansRegular/PTSansRegular.ttf");
	    src: url("../fonts/PTSansRegular/PTSansRegular.eot") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype"), font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: "TrebuchetMSBold";
	    src: url("../fonts/TrebuchetMSBold.ttf");
	    src: url("../fonts/TrebuchetMSBold.ttf") format("truetype"), font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: "ArialRegular";
	    src: url("../fonts/ArialRegular/ArialRegular.eot");
	    src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: "ArialBold";
	    src: url("../fonts/ArialBold/ArialBold.eot");
	    src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: "SegoeUISemiBold";
	    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
	    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: "SegoeUIRegular";
	    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: "SegoeUILight";
	    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
	    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	.wrap {
	    margin: 0 auto;
	    max-width: 980px;
	}
	
	.icon-safe1,
	.icon-safe2,
	.icon-safe3 {
	    background-image: url('../img/icons-s46071bc535.png');
	    background-repeat: no-repeat;
	}
	
	.header {
	    margin-bottom: 24px;
	    position: relative;
	    background: #ce225a;
	    text-align: left;
	}
	
	.wrap:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.logo {
	    display: block;
	    padding: 8px 0px 0px 0px;
	    float: left;
	}
	
	.header_info {
	    position: relative;
	    top: 7px;
	    left: 140px;
	    display: inline-block;
	    margin: 0 auto;
	    width: 450px;
	}
	
	.header_info_li {
	    display: inline-block;
	    max-width: 240px;
	}
	
	.header_info_img {
	    float: left;
	    margin-right: 7px;
	}
	
	.header_info_text {
	    display: inline-block;
	    padding-top: 7px;
	    max-width: 145px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 16px;
	    line-height: 18px;
	    vertical-align: middle;
	    color: #fff;
	}
	
	.header_info_li:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.header_button {
	    display: block;
	    margin: 15px 0px 0px 0px;
	    padding: 10px 22px;
	    float: right;
	    border-radius: 5px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 18px;
	    text-decoration: none;
	    text-transform: uppercase;
	    background: #fff;
	    color: #ce225a;
	    cursor: pointer;
	}
	
	.top_banner {
	    margin-bottom: 33px;
	    padding: 0px 0px 28px;
	    text-align: center;
	    color: #fff;
	    background: url('../img/bg_header.jpg') top center no-repeat;
	    overflow: hidden;
	    min-height: 747px;
	}
	
	.top_banner_wrap {
	    position: relative;
	    z-index: 2;
	}
	
	.top_banner_wrap:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.lighter_bg {
	    position: absolute;
	    top: 220px;
	    right: 305px;
	    background: url("../img/lighter_bg.png") bottom center no-repeat;
	    z-index: -2;
	}
	
	.top_banner_title {
	    font-family: "PTSansBold", sans-serif;
	    font-size: 45px;
	    line-height: 52px;
	}
	
	.top_banner_under_title {
	    margin-bottom: 28px;
	    vertical-align: middle;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 30px;
	    line-height: 40px;
	    font-weight: 100;
	}
	
	.indication {
	    float: left;
	    overflow: hidden;
	    width: 285px;
	    border-radius: 10px;
	    text-align: left;
	    background: #d74c7a;
	    color: #fff;
	}
	
	.indication_section {
	    padding: 20px;
	}
	
	.indication_section:nth-child(1) {
	    padding: 29px 20px 22px 35px;
	    background: url('../img/hand.png') no-repeat 20px 20px;
	}
	
	.indication_section:nth-child(2) {
	    padding: 18px 20px 19px 35px;
	    background: url('../img/hair.png') no-repeat 19px 8px;
	    /*background-color: #ce225a;*/
	}
	
	.indication_section:nth-child(3) {
	    padding: 12px 20px 10px 36px;
	    background: url('../img/clock.png') no-repeat 20px 15px;
	}
	
	.indication_section:nth-child(4) {
	    padding: 19px 36px 22px 36px;
	    background: url('../img/apple.png') no-repeat 20px 14px;
	}
	
	.indication_section:nth-child(5) {
	    padding: 12px 20px 12px 36px;
	    background: url('../img/atom.png') no-repeat 20px 19px;
	}
	
	.indication_section:nth-child(6) {
	    padding: 22px 20px 22px 36px;
	    background: url('../img/foot.png') no-repeat 20px 26px;
	}
	
	.indication_section:nth-child(even) {
	    background-color: #ce225a;
	}
	
	.indication_section_text {
	    display: inline-block;
	    padding-left: 45px;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 19px;
	    line-height: 24px;
	}
	
	.product {
	    position: relative;
	    left: 0;
	    right: 0;
	}
	
	.product_box {
	    position: absolute;
	    top: 56px;
	    left: 313px;
	    z-index: -1;
	}
	
	.product_img {
	    position: absolute;
	    top: 296px;
	    left: 257px;
	}
	
	.product_sale {
	    position: absolute;
	    left: 496px;
	}
	
	.sale_block {
	    float: right;
	    padding: 8px 7px 10px 7px;
	    border-radius: 10px;
	    text-align: left;
	    background: #fff;
	}
	
	.discount {
	    position: relative;
	    top: 0;
	    right: 0;
	}
	
	.discount_sale {
	    display: none;
	}
	
	.sale_block_title {
	    display: inline-block;
	    width: 225px;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 16px;
	    line-height: 16px;
	    color: #000;
	}
	
	.sale_block_remainder {
	    display: none;
	}
	
	.sale_block_remainder2 {}
	
	.sale_block_title_number {
	    display: inline-block;
	    margin-top: 7px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 22px;
	    line-height: 22px;
	    font-style: italic;
	    vertical-align: top;
	    color: #ce225a;
	}
	
	.prise {
	    position: relative;
	    top: 0;
	    left: 0;
	    margin-bottom: 100px;
	    color: #000;
	}
	
	.prise:before {
	    content: '....................................';
	    position: absolute;
	    top: 4px;
	    left: 2px;
	    font-size: 24px;
	    line-height: 0px;
	    letter-spacing: 2px;
	}
	
	.prise:after {
	    content: '....................................';
	    position: absolute;
	    top: 91px;
	    left: 3px;
	    font-size: 24px;
	    line-height: 0px;
	    letter-spacing: 2px;
	}
	
	.old_prise {
	    position: relative;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 14px;
	    line-height: 30px;
	    font-style: italic;
	}
	
	.old_prise:before {
	    position: absolute;
	    top: 58px;
	    left: 12px;
	    width: 112px;
	    height: 3px;
	    background: #000000;
	    content: '';
	}
	
	.old_prise_title {
	    position: absolute;
	    top: 18px;
	    left: 15px;
	}
	
	.old_prise_number {
	    position: absolute;
	    top: 42px;
	    left: 13px;
	    font-size: 30px;
	}
	
	.old_prise_currency {
	    position: absolute;
	    top: 45px;
	    left: 87px;
	    font-size: 20px;
	}
	
	.new_prise {
	    position: absolute;
	    top: 19px;
	    left: 136px;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 14px;
	    line-height: 32px;
	    font-style: italic;
	    color: #ce225a;
	}
	
	.discount_border {
	    position: absolute;
	}
	
	.new_prise_title {
	    display: inline-block;
	    width: 115px;
	    position: absolute;
	    top: 1px;
	    left: 18px;
	}
	
	.new_prise_number {
	    position: absolute;
	    top: 25px;
	    left: 22px;
	    font-size: 36px;
	}
	
	.new_prise_currency {
	    position: absolute;
	    top: 31px;
	    left: 92px;
	    font-size: 18px;
	}
	
	.timer {
	    font-size: 30px;
	    color: #fff;
	    padding: 10px 15px 25px;
	    text-align: center;
	    font-family: "SegoeUI-SemiBold", sans-serif;
	    background: #ffffff;
	    width: 100%;
	}
	
	.timer__title {
	    margin: -6px 0 5px;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 18px;
	    line-height: 20px;
	    font-style: italic;
	    color: #bb3a5d;
	}
	
	.timer__index {
	    display: inline-block;
	    vertical-align: top;
	    background: url("../img/timer_container.png") no-repeat 0 0;
	    width: 55px;
	    height: 41px;
	    text-align: center;
	}
	
	.timer__desc {
	    display: block;
	    margin-top: 9px;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 14px;
	    line-height: 16px;
	    color: #bb3a5d;
	    text-align: center;
	}
	
	.timer__item {
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 30px;
	    line-height: 32px;
	    display: block;
	    padding: 4px 0 0 5px;
	    letter-spacing: 11px;
	}
	
	.timer__point {
	    display: inline-block;
	    vertical-align: top;
	    width: 10px;
	    height: 10px;
	    position: relative;
	}
	
	.timer__point:before,
	.timer__point:after {
	    position: absolute;
	    background-color: #ce225a;
	    border-radius: 50%;
	    content: '';
	    width: 5px;
	    height: 5px;
	    left: 3px;
	    top: 10px;
	}
	
	.timer__point:after {
	    top: 25px;
	}
	
	.x_order_form {
	    position: relative;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 15px;
	    line-height: 32px;
	}
	
	.x_order_form:before {
	    content: '';
	    position: absolute;
	    top: 65px;
	    left: -42px;
	    background: url("../img/arrow_form-desctop.png") 0 0 no-repeat;
	    height: 81px;
	    width: 35px;
	}
	
	.former__input-container {
	    display: block;
	    margin-bottom: 3px;
	    position: relative;
	}
	
	.former__input-title {
	    display: block;
	    margin: 0px 0px 3px 3px;
	    width: 250px;
	    font-size: 15px;
	    line-height: 20px;
	    color: #000;
	}
	
	.former__input-field {
	    display: block;
	    padding: 10px 0 8px 3px;
	    width: 290px;
	    text-indent: 50px;
	    outline: none;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    border: 1px solid rgba( 77, 87, 112, .5);
	    ;
	    font-style: italic;
	}
	
	.inupt_name_container {
	    position: relative;
	}
	
	.inupt_name_container:before {
	    content: "";
	    position: absolute;
	    bottom: 7px;
	    left: 14px;
	    background: url('../img/user.png') no-repeat;
	    width: 18px;
	    height: 22px;
	}
	
	.inupt_phone_container {
	    position: relative;
	}
	
	.inupt_phone_container:before {
	    content: "";
	    position: absolute;
	    bottom: 7px;
	    left: 14px;
	    background: url('../img/phone.png') no-repeat;
	    width: 15px;
	    height: 22px;
	}
	
	.former__btn {
	    margin: 9px 0px;
	    padding: 17px 0 15px;
	    width: 290px;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 24px;
	    line-height: 31px;
	    font-weight: bold;
	    text-transform: uppercase;
	    background: #65c227;
	    text-align: center;
	    border: none;
	    outline: none;
	    color: #ffffff;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    letter-spacing: -0.5px;
	    cursor: pointer;
	}
	
	.former__btn span {
	    font-weight: bold;
	}
	
	.x_client_name {}
	
	.x_client_phone {}
	
	.icon-safe1 {
	    background-position: 0 -287px;
	    height: 28px;
	    width: 28px;
	}
	
	.icon-safe2 {
	    background-position: 0 -320px;
	    height: 30px;
	    width: 28px;
	}
	
	.icon-safe3 {
	    background-position: 0 -355px;
	    height: 28px;
	    width: 27px;
	}
	
	.icon-safe1,
	.icon-safe2,
	.icon-safe3 {
	    display: -moz-inline-stack;
	    display: inline-block;
	    zoom: 1;
	    *display: inline;
	}
	
	.safe {
	    margin-top: 5px;
	    text-align: center;
	}
	
	.safe__item {
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 2px;
	}
	
	.safe__item:nth-child(4) {
	    display: block;
	    color: #4b4b4b;
	    font-size: 15px;
	    margin-top: 1px;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 15px;
	    line-height: 15px;
	}
	
	.problem {
	    text-align: center;
	}
	
	.problem_wrap {
	    margin: 133px 0px 35px;
	    position: relative;
	    border-radius: 10px;
	    border: 1px solid #ce225a;
	}
	
	.problem_title {
	    display: inline-block;
	    margin-left: 8px;
	    max-width: 850px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 44px;
	    letter-spacing: -1px;
	}
	
	.problem_type {
	    margin-top: -105px;
	}
	
	.problem_type li:last-child .problem_theme_text {
	    width: 200px;
	}
	
	.problem_theme {
	    display: inline-block;
	    margin: 10px 40px;
	    width: 235px;
	    vertical-align: top;
	}
	
	.problem_theme_img {
	    margin-bottom: 21px;
	    width: 93%;
	}
	
	.problem_theme_text {
	    display: inline-block;
	    font-family: Arial, sans-serif;
	    font-size: 21px;
	    line-height: 30px;
	    text-align: center;
	}
	
	.bad-effect_wrap {
	    margin: 0 auto;
	    padding-top: 28px;
	    max-width: 850px;
	}
	
	.bad-effect {
	    text-align: center;
	    background: #f2f3f6;
	}
	
	.bad-effect_title {
	    margin-left: 35px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 44px;
	}
	
	.bad-effect_type {
	    margin-top: 23px;
	}
	
	.bad-effect_theme {
	    display: inline-block;
	    margin: 10px 0px;
	    width: 32%;
	    vertical-align: top;
	}
	
	.bad-effect_theme_img {
	    margin-bottom: 23px;
	    max-width: 152px;
	}
	
	.bad-effect_theme_title {
	    display: block;
	    margin: 0 auto;
	    width: 240px;
	    height: 51px;
	    text-align: center;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 24px;
	    line-height: 26px;
	}
	
	.bad-effect_theme_text {
	    display: block;
	    margin: 0 auto;
	    margin-top: 2px;
	    width: 240px;
	    height: 129px;
	    text-align: center;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 20px;
	    line-height: 26px;
	}
	
	.history_info {
	    margin-bottom: 19px;
	    padding: 28px 0px 20px;
	    text-align: center;
	    background: url('../img/bg_history_info.jpg') top center no-repeat;
	}
	
	.history_info_title {
	    display: inline-block;
	    max-width: 700px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 44px;
	    color: #fff;
	}
	
	.history_info_text {
	    margin: 38px 0px;
	    padding: 40px 38px 38px 33px;
	    border: 1px solid #fff;
	    border-radius: 5px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 22px;
	    line-height: 32px;
	    text-align: justify;
	    background: #fff;
	}
	
	.ingredients {
	    text-align: center;
	    padding-top: 10px;
	}
	
	.ingredients_title {
	    font-family: "PTSansBold", sans-serif;
	    font-size: 42px;
	    line-height: 44px;
	}
	
	.ingredients_under_title {
	    margin: 20px 20px 50px;
	    padding-top: 5px;
	    width: 925px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 24px;
	    line-height: 32px;
	}
	
	.ingredients_info {
	    position: relative;
	}
	
	.ingredients_info_bg {
	    position: absolute;
	    top: 150px;
	    left: 100px;
	    width: 850px;
	    height: 100%;
	    background: url('../img/bg_ingredients.jpg') no-repeat;
	    z-index: -1;
	}
	
	.info_block {
        margin-bottom: 30px;
	    text-align: left;
	}
	
	.info_block:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.info_block_img {
	    float: left;
	    margin-right: 10px;
	    display: inline-block;
	}
	
	.info_block_number {
	    float: left;
	    display: inline-block;
	    margin: 0px 35px 70px 0px;
	    padding: 5px 25px 5px 0px;
	    border-right: 5px solid #ce225a;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 48px;
	    color: #ce225a;
	}
	
	.info_block_title {
	    margin-bottom: 5px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 22px;
	    line-height: 24px;
	    text-transform: uppercase;
	}
	
	.info_block_text {
	    display: inline-block;
	    max-width: 550px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 20px;
	    line-height: 30px;
	    text-align: left;
	}
	
	.comparison_table {
	    margin: 0 auto;
	    max-width: 980px;
	    margin-top: 25px;
	    border-radius: 10px;
	    background: #ce225a;
	}
	
	.comparison_table_title {
	    margin-bottom: 37px;
	    padding-top: 30px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 44px;
	    text-align: center;
	    color: #fff;
	}
	
	.table {
	    display: block;
	    width: 100%;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 18px;
	    line-height: 22px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    overflow: hidden;
	}
	
	table {
	    color: #fff;
	}
	
	.table tr,
	td {
	    border: 1px solid #fff;
	    border-left: 0px;
	}
	
	.table_title {
	    border: none;
	    color: #ffaac6;
	    background: #a6063a;
	}
	
	.table_title th {
	    padding: 2px 0px 3px 18px;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 20px;
	    line-height: 36px;
	    font-weight: 100;
	    border: none;
	}
	
	table tr:first-child {
	    border: none;
	}
	
	table tr:last-child {
	    padding-bottom: 15px;
	    border-bottom: none;
	    background: #ffa200;
	    color: #000!important;
	}
	
	table tr:nth-child(2) {
	    border-top: none;
	}
	
	table tr th:nth-child(1) {
	    border: none;
	}
	
	table th td {}
	
	th {
	    background: #a6063a;
	    border: none;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 20px;
	    line-height: 36px;
	    color: #fff;
	    text-align: left;
	}
	
	table tr td:nth-child(1) {
	    width: 279px;
	    padding-left: 20px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 20px;
	    line-height: 23px;
	    border-left: none;
	    letter-spacing: -0.5px;
	}
	
	table tr td:nth-child(2) {
	    padding-top: 5px;
	    padding-bottom: 5px;
	    padding-left: 12px;
	    width: 79px;
	}
	
	table tr td:nth-child(3) {
	    padding-bottom: 15px;
	    width: 258px;
	    padding-left: 15px;
	}
	
	table tr td:nth-child(4) {
	    padding: 15px 15px 15px 14px;
	    border-right: none;
	}
	
	.foto_block {
	    margin-top: 8px;
	    margin-bottom: 31px;
	}
	
	.foto_block_title {
	    margin-bottom: 37px;
	    padding-top: 30px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 44px;
	    text-align: center;
	    color: #000;
	}
	
	.foto_container_img {
	    margin-right: 10px;
	    margin-bottom: 15px;
	    width: 100%;
	}
	
	.foto_container img:nth-child(odd) {
	    max-width: 485px;
	}
	
	.foto_container img:nth-child(even) {
	    margin-right: 0;
	    max-width: 480px;
	}
	
	.foto_container_img2 {
	    margin-right: 10px;
	    width: 100%;
	    max-width: 406px;
	}
	
	.foto_container_img3 {
	    width: 100%;
	    max-width: 559px;
	}
	
	.popup_block {
	    padding: 71px 0px 45px;
	    background: url('../img/bg_popup.png') top center no-repeat;
	}
	
	.popup_block_content {
	    position: relative;
	    height: 309px;
	    border-radius: 10px;
	    background: #fff;
	}
	
	.popup_block_content:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.popup_block_content_left {
	    position: absolute;
	    left: 33px;
	    top: 32px;
	}
	
	.popup_block_content_right {
	    position: absolute;
	    top: 25px;
	    right: 23px;
	}
	
	.popup_discount_border {
	    position: absolute;
	    right: 137px;
	}
	
	.popup_prise {
	    position: relative;
	    top: 15px;
	    color: #000;
	}
	
	.popup_prise:before {
	    content: '....................................';
	    position: absolute;
	    top: -5px;
	    left: 0px;
	    font-size: 24px;
	    line-height: 0px;
	    letter-spacing: 2px;
	}
	
	.popup_new_prise {
	    position: relative;
	    top: 19px;
	    left: 162px;
	    width: 153px;
	    height: 69px;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 14px;
	    line-height: 32px;
	    font-style: italic;
	    color: #ce225a;
	    background: url('../img/discount_border.png') no-repeat;
	}
	
	.popup_timer {
	    margin: 56px 0 0 7px;
	    font-size: 30px;
	    color: #fff;
	    padding: 10px 15px 25px;
	    text-align: center;
	    font-family: "SegoeUI-SemiBold", sans-serif;
	    background: #ffffff;
	    width: 100%;
	}
	
	.poap_x_order_form {
	    position: relative;
	    font-family: "PTSansRegular", sans-serif;
	    font-size: 15px;
	    line-height: 32px;
	}
	
	.poap_x_order_form:before {
	    content: '';
	    position: absolute;
	    top: 101px;
	    left: -30px;
	    ;
	    background: url("../img/popup_down_pointer.png") 0 0 no-repeat;
	    height: 81px;
	    width: 35px;
	}
	
	.popup_former_btn {
	    margin: 18px 0px 9px;
	    padding: 17px 0 15px;
	    width: 290px;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 24px;
	    line-height: 31px;
	    font-weight: bold;
	    text-transform: uppercase;
	    background: #65c227;
	    text-align: center;
	    border: none;
	    outline: none;
	    color: #ffffff;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    letter-spacing: -0.5px;
	    cursor: pointer;
	}
	
	.popup_former_btn span {
	    font-weight: bold;
	}
	
	.popup_product {
	    position: absolute;
	}
	
	.popup_product_box {
	    position: absolute;
	    top: 13px;
	    left: 390px;
	    width: 342px;
	}
	
	.popup_product_img {
	    position: absolute;
	    left: 344px;
	    top: 172px;
	    width: 290px;
	}
	
	.popup_product_sale {
	    position: absolute;
	    top: -57px;
	    left: 322px;
	}
	
	.doctor_comment {
	    margin-top: 35px;
	    padding: 31px 20px 0 0;
	    border: 1px solid #ce225a;
	    border-radius: 10px;
	}
	
	.doctor_comment:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.doctor_comment_title {
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 40px;
	    text-align: center;
	}
	
	.doctor_comment_text {
	    margin-top: 51px;
	    max-width: 554px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 18px;
	    line-height: 28px;
	    float: right;
	}
	
	.comment_doctor_author {
	    width: 554px;
	    margin-top: 25px;
	    font-family: "ArialBold", sans-serif;
	    font-size: 22px;
	    line-height: 26px;
	    float: right;
	}
	
	.dotor_comment_foto {
	    display: block;
	    max-width: 362px;
	}
	
	.slider {
	    margin-top: 35px;
	    padding: 30px;
	    padding-bottom: 56px;
	    background: #f3f4f7;
	}
	
	.slider_title {
	    margin-bottom: 40px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 40px;
	    text-align: center;
	}
	
	.slider_container {
	    margin-left: 10px;
	}
	
	.slider_container:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.slider_container_foto {
	    float: left;
	    margin-top: 5px;
	    margin-right: 58px;
	}
	
	.slider_container_text {
	    margin-bottom: 8px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 18px;
	    line-height: 26px;
	}
	
	.slider_container_author {
	    font-family: "ArialBold", sans-serif;
	    font-size: 20px;
	    line-height: 44px;
	}
	
	.bx-pager:before {
	    content: '';
	    position: absolute;
	    bottom: 9px;
	    left: 4px;
	    width: 392px;
	    height: 1px;
	    background: #ce225a;
	}
	
	.bx-pager:after {
	    content: '';
	    position: absolute;
	    right: 0;
	    bottom: 9px;
	    width: 392px;
	    height: 1px;
	    background: #ce225a;
	}
	
	.using {
	    padding: 30px 0px 70px;
	}
	
	.using_title {
	    margin-bottom: 43px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 40px;
	    text-align: center;
	}
	
.using_block li {
    position: relative;
    display: inline-block;
    width: 23%;
    vertical-align: top;
    margin-left: 1%;
}
	
	.using_block:last-child {
	    margin-right: 0;
	}
	
	.using_img {
	    position: absolute;
	    top: 232px;
	    max-width: 220px;
	}
	
	.left_pointer {
	    position: absolute;
	    top: 298px;
	    left: 232px;
	}
	
	.using_block_number {
	    margin-bottom: 13px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 48px;
	    line-height: 26px;
	    color: #ce225a;
	}
	
	.using_block_text {
	    font-family: "ArialRegular", sans-serif;
	    font-size: 18px;
	    line-height: 1.4em;
	}
    div.alert{
        padding: 30px 0 0;
       font-family: "ArialRegular", sans-serif;
        font-size: 24px;
        line-height: 1.3em; 
    }
    .action-bl{
        text-align: center;
        padding: 40px 20px;
        font-family: "ArialRegular", sans-serif;
        font-size: 24px;
        line-height: 1.3em;
        background: #ce225a;
        color: #fff;
    }
    .action-bl>h2{
        font-size: 44px;
        letter-spacing: 1px;
        line-height: 1.2em;
        font-family: "PTSansBold", sans-serif;
    }
    .action-bl>p{
        padding: 18px 0 22px;
    }
	.check_code {
	    margin-bottom: 45px;
	    padding: 35px 0 42px;
	    background: #f2f4f7;
	}
	
	.check_code_box {
	    position: relative;
	    padding: 30px 490px 25px 38px;
	    border-radius: 10px;
	    background: #fff;
	}
	
	.check_code_img {
	    display: none;
	}
	
	.check_code_img_2 {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 390px;
	}
	
	.check_code_img_sale {
	    display: none;
	}
	
	.down-pointer {
	    position: absolute;
	    top: 173px;
	    right: 450px;
	}
	
	.top_pointer {
	    display: none;
	}
	
	.check_code_title {
	    margin-bottom: 30px;
	    padding-left: 10px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 40px;
	}
	
	.check_code_text {
	    margin-bottom: 25px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 20px;
	    line-height: 28px;
	}
	
	.check_code_input {
	    margin-bottom: 35px;
	    padding: 15px 12px;
	    width: 380px;
	    border: 1px solid #484848;
	    border-radius: 5px;
	    font-family: "ArialRegular", sans-serif;
	    font-size: 20px;
	    text-align: center;
	    font-style: italic;
	    background: #fff;
	}
	
	.heck_code_button {
	    padding: 15px 70px;
	    border-radius: 5px;
	    font-family: "TrebuchetMSBold", sans-serif;
	    font-size: 30px;
	    line-height: 32px;
	    text-decoration: none;
	    text-transform: uppercase;
	    background: #65c227;
	    color: #fff;
	}
	
	.workers {
	    padding: 30px 35px 15px;
	    border-radius: 10px;
	    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, .07);
	    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, .07);
	    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, .07);
	    text-align: center;
	}
	
	.workers_title {
	    font-family: "PTSansBold", sans-serif;
	    font-size: 44px;
	    line-height: 40px;
	    text-align: center;
	}
	
	.workers_block {
	    margin-top: 30px;
	}
	
	.workers_section {
	    display: inline-block;
	    margin: 10px 15px;
	    width: 270px;
	    vertical-align: top;
	    letter-spacing: -1px;
	}
	
	.workers_section_img {
	    margin-bottom: 20px;
	}
	
	.workers_section_author {
	    font-family: "SegoeUISemiBold", sans-serif;
	    font-size: 24px;
	    line-height: 30px;
	    text-transform: uppercase;
	}
	
	.workers_section_position {
	    font-family: "SegoeUISemiBold", sans-serif;
	    font-size: 20px;
	    line-height: 24px;
	}
	
	.workers_section_text {
	    margin-top: 5px;
	    font-family: "SegoeUIRegular", sans-serif;
	    font-size: 18px;
	    line-height: 24px;
	}
	
	.new_line_dt {
	    display: block;
	}
	
	.map {
	    margin-top: 32px;
	    margin-bottom: 0px;
	    position: relative;
	    padding-top: 0px;
	    text-align: center;
	}
	
	.map_title {
	    margin-bottom: 0px;
	    display: inline-block;
	    max-width: 672px;
	    font-family: "PTSansBold", sans-serif;
	    font-size: 43px;
	    line-height: 38px;
	}
	
	.map_img {
	    position: relative;
	    top: -30px;
	    width: 100%;
	    max-width: 958px;
	}
	
	.down_banner {
	    overflow: hidden;
	    margin-top: 5px;
	    margin-bottom: 30px;
	    padding: 38px 0px 28px;
	    text-align: center;
	    color: #fff;
	    background: url('../img/bg_header.jpg') top center no-repeat;
	}
	
	.down_banner_indication {
	    float: left;
	    overflow: hidden;
	    width: 285px;
	    border-radius: 10px;
	    text-align: left;
	    background: #d74c7a;
	    color: #fff;
	}
	
	.down_banner_product {
	    position: relative;
	    top: 0;
	    right: 0;
	}
	
	.down_banner_lighter_bg {
	    position: absolute;
	    top: 60px;
	    right: 305px;
	    background: url("../img/lighter_bg.png") bottom center no-repeat;
	    z-index: -2;
	}
	
	.down_popup_product_box {
	    position: absolute;
	    top: 55px;
	    left: 312px;
	    width: 484px;
	    z-index: -1;
	}
	
	.down_popup_product_img {
	    position: absolute;
	    left: 255px;
	    top: 295px;
	    width: 383px;
	}
	
	.down_popup_product_sale {
	    position: absolute;
	    top: 0px;
	    left: 495px;
	}
	
	.footer {
	    font-family: "ArialRegular", sans-serif;
	    font-size: 14px;
	    line-height: 18px;
	    color: #a1a1a1;
	}
	
	.footer:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	
	.footer_logo {
	    width: 40px;
	    margin: 0px 17px 0px 5px;
	    float: left;
	}
	
	.footer_left_text {
	    margin-top: 2px;
	    float: left;
	    text-align: left;
	    z-index: 10;
	}
	
	.footer_right_text {
	    margin: 2px 5px 0 0;
	    float: right;
	    text-align: right;
	}
	
	.popup-mouse-leave,
	.popup-callback,
	.popup-phone {
	    display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 111;
	    background: rgba(0, 0, 0, .7);
	    overflow-y: scroll;
	}
	
	.mod {
	    width: 1000px;
	    margin: 11% auto;
	    position: relative;
	}
	
	.closer {
	    position: absolute;
	    top: -30px;
	    right: 0;
	    height: 30px;
	    width: 30px;
	    background: url('../img/exit.png') no-repeat;
	}
	
	.hide_forever {
	    display: none !important;
	}
	
	.mod .popup_block {
	    padding: 0;
	    background: none;
	}
	
	.letters {
	    display: none;
	}
	
	.check_code_product_box,
	.top-pointer {
	    display: none;
	}
	
	.js-message {
	    font-family: "SegoeUIRegular", sans-serif;
	    font-size: 15px;
	    line-height: 19px;
	    margin-top: 25px;
	    padding: 0 65px 0 0px;
	    text-align: left;
	}
	
	@media screen and (max-width: 999px) {
	    .wrap {
	        max-width: 740px;
	    }
	    .logo {
	        padding: 7px 0 3px 1px;
	    }
	    .header {
	        margin-bottom: 20px;
	    }
	    .header_info {
	        display: none;
	    }
	    .top_banner_title {
	        font-size: 50px;
	        line-height: 52px;
	    }
	    .top_banner_under_title {
	        margin: 2px 0 28px;
	    }
	    .top_banner {
	        margin-bottom: 0;
	        background-position: center 61px
	    }
	    .product {
	        display: inline-block;
	        width: 500px;
	        height: 285px;
	    }
	    .product_box {
	        position: absolute;
	        top: -13px;
	        left: 92px;
	        z-index: -1;
	    }
	    .product_img {
	        position: absolute;
	        top: 227px;
	        left: 35px;
	    }
	    .product_sale {
	        display: none;
	    }
	    .lighter_bg {
	        position: absolute;
	        top: 228px;
	        left: 70px;
	        background: url("../img/lighter_bg.png") bottom center no-repeat;
	        z-index: -2;
	    }
	    .indication {
	        margin: 55px auto 30px;
	        width: 460px;
	        float: none;
	    }
	    .sale_block {
	        margin: auto;
	        width: 460px;
	        border: 1px solid #ce225a;
	        border-radius: 10px;
	        float: none;
	    }
	    .indication_section_text {
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 24px;
	        line-height: 30px;
	    }
	    .indication_section:nth-child(1) {
	        padding: 26px 20px 25px 50px;
	        background: url('../img/hand.png') no-repeat 27px 17px;
	    }
	    .indication_section:nth-child(2) {
	        padding: 23px 20px 23px 50px;
	        background: url('../img/hair.png') no-repeat 27px 14px;
	    }
	    .indication_section:nth-child(3) {
	        padding: 13px 20px 14px 50px;
	        background: url('../img/clock.png') no-repeat 28px 23px;
	    }
	    .indication_section:nth-child(4) {
	        padding: 21px 36px 19px 50px;
	        background: url('../img/apple.png') no-repeat 26px 17px;
	    }
	    .indication_section:nth-child(5) {
	        padding: 31px 20px 27px 50px;
	        background: url('../img/atom.png') no-repeat 28px 28px;
	    }
	    .indication_section:nth-child(6) {
	        padding: 27px 20px 24px 50px;
	        background: url('../img/foot.png') no-repeat 28px 19px;
	    }
	    .indication_section:nth-child(even) {
	        background-color: #ce225a;
	    }
	    .discount {
	        margin-top: 6px;
	    }
	    .sale_block_title {
	        padding-left: 135px;
	        width: 360px;
	    }
	    .discount_sale {
	        display: block;
	        position: absolute;
	        top: -25px;
	        left: 1px;
	    }
	    .prise {
	        margin: 10px 0 107px 133px;
	        padding-left: 16px;
	    }
	    .prise:after {
	        display: none;
	    }
	    .old_prise {
	        position: relative;
	        right: 25px;
	    }
	    .timer {
	        margin-bottom: 12px;
	    }
	    .timer__title {
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 24px;
	        line-height: 32px;
	    }
	    .timer__item {
	        padding: 8px 11px 0 6px;
	        font-family: "TrebuchetMSBold", sans-serif;
	        font-size: 45px;
	        line-height: 48px;
	        letter-spacing: 18px;
	    }
	    .timer__point {
	        position: relative;
	        top: 13px;
	        left: 0;
	    }
	    .timer__index {
	        width: 85px;
	        height: 63px;
	        background: url("../img/timer_container480.png") no-repeat 0 0;
	    }
	    .timer__desc {
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 18px;
	        line-height: 26px;
	    }
	    .x_order_form {
	        margin-left: 42px;
	        width: 368px;
	    }
	    .x_order_form_pop {
	        margin-left: 0;
	    }
	    .former__input-field {
	        width: 100%;
	    }
	    .former__input-title {
	        margin-top: 5px;
	    }
	    .former__btn {
	        margin-top: 17px;
	        width: 100%;
	    }
	    .x_order_form:before {
	        content: '';
	        position: absolute;
	        top: 110px;
	        left: -42px;
	        background: url("../img/popup_down_pointer480.png") 0 0 no-repeat;
	        height: 81px;
	        width: 35px;
	    }
	    .problem_title {
	        line-height: 48px;
	        letter-spacing: -1px;
	    }
	    .problem_wrap {
	        margin: 115px auto 35px;
	        width: 735px;
	        position: relative;
	        border-radius: 10px;
	        border: 1px solid #ce225a;
	    }
	    .problem_theme {
	        margin: 10px 0;
	        width: 225px;
	    }
	    .problem_theme_img {
	        width: 208px;
	    }
	    .problem_theme_text {
	        font-size: 21px;
	    }
	    .problem_type {
	        margin-top: -101px;
	    }
	    .bad-effect_wrap {
	        padding-bottom: 29px;
	        max-width: 760px;
	    }
	    .bad-effect_title {
	        margin: 0;
	    }
	    .bad-effect_type {
	        padding: 0 25px;
	    }
	    .bad-effect_theme {
	        width: 31%;
	    }
	    .bad-effect_theme_img {
	        margin-bottom: 26px;
	    }
	    .bad-effect_theme_title,
	    .bad-effect_theme_text {
	        margin-top: 0;
	        width: 100%;
	        height: 100%;
	    }
	    .history_info {
	        padding: 28px 0px 40px;
	        background-size: cover;
	    }
	    .info_block {
	        margin-bottom: 23px;
	    }
	    .history_info_text {
	        margin: 44px auto 0;
	        padding: 23px 10px 23px 22px;
	        max-width: 460px;
	        text-align: left;
	    }
	    .ingredients_title {
	        padding: 0 10px;
	        font-size: 43px;
	        line-height: 46px;
	    }
	    .ingredients_under_title {
	        margin: 26px 0px 32px;
	        width: 100%;
	    }
	    .ingredients_info_bg {
	        display: none;
	    }
	    .info_block_text {
	        max-width: 500px;
	    }
	    .foto_container img:nth-child(odd),
	    .foto_container img:nth-child(even) {
	        max-width: 405px;
	    }
	    .comparison_table {
	        margin-top: 0;
	        padding-bottom: 15px;
	        border-radius: 0;
	    }
	    .table {
	        border-radius: 0;
	        overflow: auto;
	    }
	    .table_wrap {
	        margin: 0 auto;
	        width: 745px;
	    }
	    table tr td:nth-child(2),
	    table tr td:nth-child(3) {
	        display: none;
	    }
	    table tr th:nth-child(2),
	    table tr th:nth-child(3) {
	        display: none;
	    }
	    table tr th:nth-child(1),
	    table tr td:nth-child(1) {
	        padding: 15px 0 15px 20px;
	        width: 180px;
	    }
	    table tr th:nth-child(1),
	    table tr td:nth-child(1),
	    table tr th:nth-child(4),
	    table tr td:nth-child(4) {
	        border: 1px solid #fff;
	    }
	    .foto_block {
	        text-align: center;
	    }
	    .foto_block img {
	        width: 100%;
	        max-width: 405px;
	    }
	    .foto_container_img {
	        margin-right: 0;
	    }
	    .foto_container_img2 {
	        margin: 0 0 15px 0;
	        max-width: 460px;
	    }
	    .popup_product_box,
	    .popup_product_img {
	        display: none;
	    }
	    .popup_block {
	        padding-top: 22px;
	        padding-bottom: 25px;
	        background-size: cover;
	    }
	    .popup_block_content {
	        width: 460px;
	        height: 577px;
	    }
	    .popup_block_content_right {
	        display: inline-block;
	        position: relative;
	        top: 290px;
	        left: 50px;
	        right: 0;
	        width: 370px;
	    }
	    .popup_block_content_left {
	        position: absolute;
	        top: 13px;
	        left: 8px;
	    }
	    .popup_prise:before {
	        position: absolute;
	        top: -5px;
	        left: -15px;
	    }
	    .popup_new_prise {
	        position: relative;
	        top: 19px;
	        left: 122px;
	    }
	    .new_prise_title {
	        position: absolute;
	        top: 1px;
	        left: 20px;
	    }
	    .popup_product_sale {
	        position: absolute;
	        top: -12px;
	        left: 9px;
	    }
	    .popup_prise {
	        margin: 0 0 39px 149px;
	        position: relative;
	        top: 10px;
	        right: 0;
	    }
	    .new_prise_number {
	        position: absolute;
	        top: 27px;
	        left: 21px;
	    }
	    .new_prise_currency {
	        position: absolute;
	        top: 31px;
	        left: 95px;
	    }
	    .popup_timer {
	        margin: 35px 0 0 0;
	    }
	    .popup_former_btn {
	        width: 100%;
	    }
	    .poap_x_order_form:before {
	        position: absolute;
	        top: 120px;
	        left: -42px;
	        content: '';
	        background: url("../img/popup_down_pointer480.png") 0 0 no-repeat;
	        height: 81px;
	        width: 35px;
	    }
	    .doctor_comment {
	        padding: 30px 15px 0 15px;
	    }
	    .doctor_comment_text {
	        margin-top: 33px;
	        max-width: 940px;
	        font-family: "ArialRegular", sans-serif;
	        font-size: 18px;
	        line-height: 28px;
	    }
	    .comment_doctor_author {
	        margin-top: 25px;
	        margin-bottom: 20px;
	        font-family: "ArialBold", sans-serif;
	        font-size: 22px;
	        line-height: 26px;
	    }
	    .dotor_comment_foto {
	        display: block;
	        margin: 15px auto 0;
	        width: 295px;
	    }
	    .bx-viewport {
	        height: 460px !important;
	    }
	    .bx-clone {
	        margin-left: 6px;
	    }
	    .bx-pager:before {
	        content: '';
	        position: absolute;
	        bottom: 9px;
	        left: 5px;
	        width: 280px;
	        height: 1px;
	    }
	    .bx-default-pager {}
	    .bx-pager:after {
	        content: '';
	        position: absolute;
	        right: 0;
	        bottom: 9px;
	        width: 280px;
	        height: 1px;
	    }
	    .slider {
	        padding-top: 40px;
	    }
	    .slider_title {
	        margin-bottom: 45px;
	    }
	    .slider_container {
	        text-align: center;
	    }
	    .slider_container_foto {
	        margin: 0 auto;
	        width: 208px;
	        float: none;
	    }
	    .slider_container_info {
	        margin-top: 27px;
	    }
	    .bx-viewport .bx-wrapper .bx-controls {
	        display: none !important;
	    }
	    .left_pointer {
	        display: none;
	    }
	    .using {
	        padding: 30px 0px 7px;
	    }
	    .using_block li {
	        position: relative;
	        width: 48%;
	        height: 100%;
	        margin-left: 1%;
            margin-bottom: 20px;
	    }
	    .using_img {
	        position: relative;
	        top: 35px;
	        left: 70px;
	        max-width: 220px;
	    }
	    .using_block_text {
	        padding-bottom: 10px;
	        padding-right: 5px;
	        font-family: "ArialRegular", sans-serif;
	        font-size: 20px;
	        line-height: 28px;
	    }
	    .using_block_number {
	        margin-bottom: 25px;
	    }
	    .check_code_parent {
	        margin-bottom: 20px;
	        padding-bottom: 45px;
	        overflow: hidden;
	    }
	    .check_code {
	        margin-bottom: 0;
	        padding: 30px 0 0px;
	        text-align: center;
	    }
	    .check_code_box {
	        position: relative;
	        padding: 0px;
	        border-radius: 0px;
	        background: #f2f4f7;
	    }
	    .check_code_title {
	        padding-left: 0;
	    }
	    .check_code_text {
	        margin-bottom: 0;
	    }
	    .check_code_input {
	        margin: 25px 0;
	        padding: 20px 12px;
	        width: 100%;
	        max-width: 460px;
	    }
	    .heck_code_button {
	        display: inline-block;
	        padding: 20px 0;
	        width: 100%;
	        max-width: 460px;
	    }
	    .check_code_img {
	        display: block;
	        position: relative;
	        top: 0px;
	        right: -172px;
	    }
	    .check_code_img_2 {
	        display: none;
	    }
	    .check_code_img_sale {
	        position: absolute;
	        top: 393px;
	        right: 110px;
	    }
	    .top_pointer {
	        display: none;
	    }
	    .down-pointer {
	        display: none;
	    }
	    .down_banner_indication {
	        display: none;
	    }
	    .down_banner_product {
	        display: block;
	    }
	    .product_sale {
	        display: block;
	        position: absolute;
	        top: -10px;
	        left: 10px;
	    }
	    .down_popup_product_box {
	        display: none;
	    }
	    .down_popup_product_img {
	        display: none;
	    }
	    .down_popup_product_sale {
	        position: absolute;
	        top: -10px;
	        left: 160px;
	    }
	    .down_banner_lighter_bg {
	        position: absolute;
	        top: 129px;
	        right: 100px;
	        background: url("../img/lighter_bg.png") bottom center no-repeat;
	        z-index: -2
	    }
	    .footer {
	        text-align: center;
	    }
	    .footer_logo {}
	    .footer_left_text {}
	    .footer_right_text {}
	    .mod {
	        max-width: 460px;
	    }
	    .js-message {
	        max-width: 460px;
	        margin: 0 auto;
	        margin-top: 10px;
	    }
	    .closer {
	        position: absolute;
	        top: -30px;
	        right: -10px;
	    }
	}
	
	.privacy {
	    color: #a1a1a1;
	    text-decoration: none;
	}
	/*.privacy:hover{
	text-decoration: underline;
}
.privacy:visited {
	text-decoration: none;
}*/
	
	@media screen and (max-width: 767px) {
	    .wrap {
	        max-width: 460px
	    }
	    .indication {
	        margin: 0 auto 30px;
	    }
	    .problem_wrap {
	        width: 460px;
	    }
	    .bad-effect_wrap {
	        max-width: 460px;
	    }
	    .bad-effect_theme {
	        width: 100%;
	    }
	    .comment_doctor_author {
	        margin-top: 25px;
	        font-family: "ArialBold", sans-serif;
	        font-size: 22px;
	        line-height: 26px;
	        display: inline-block;
	        float: none;
	        width: 100%;
	    }
	    .comment_doctor_author {
	        margin-bottom: 0;
	    }
	    .mod {
	        padding: 15px 0 0;
	    }
	    .popup-mouse-leave,
	    .popup-callback,
	    .popup-phone {
	        overflow-y: scroll;
	    }
	    .bx-pager:before {
	        content: '';
	        position: absolute;
	        bottom: 9px;
	        left: 5px;
	        width: 131px;
	        height: 1px;
	    }
	    .bx-pager:after {
	        content: '';
	        position: absolute;
	        right: 0;
	        bottom: 9px;
	        width: 127px;
	        height: 1px;
	    }
	    .bx-viewport {
	        height: 550px !important;
	    }
	    .foto_block_title {
	        max-width: 432px;
	        padding-top: 21px;
	        margin-left: 16px;
	    }
	    .workers {
	        padding-bottom: 35px;
	    }
	    .info_block_img {
	        margin: 0 0 15px 70px;
	        float: none;
	    }
	    .table_wrap {
	        width: 460px;
	    }
	    .using_block li {
	        width: 100%;
	        margin-left: 0;
	    }
	    .using_img {
	        position: relative;
	        top: 35px;
	        left: 124px;
	        max-width: 220px;
	    }
	    .down-pointer {
	        position: relative;
	        top: -313px;
	        right: 155px;
	    }
	    .check_code_img {
	        position: relative;
	        top: 0px;
	        left: 11px;
	    }
	    .check_code_img_sale {
	        position: absolute;
	        top: 450px;
	        right: 10px;
	    }
	    .down-pointer {
	        display: none;
	        .down-pointer: relative;
	        top: -300px;
	        right: 150px;
	    }
	    .popup_product_sale {
	        position: absolute;
	        top: -12px;
	        left: 9px;
	    }
	    .lastpack {
	        font-size: 22px;
	    }
	    .using_block li:nth-child(3) {
	        width: 100%;
	    }
	    .down_popup_product_sale {
	        position: absolute;
	        top: -10px;
	        left: 10px;
	    }
	    .check_code_img_sale {
	        display: none;
	    }
	    .map {
	        margin-bottom: 65px;
	    }
	    .map_title {
	        margin-bottom: 0px;
	        display: inline-block;
	        max-width: 672px;
	        font-family: "PTSansBold", sans-serif;
	        font-size: 43px;
	        line-height: 45px;
	    }
	    .map_img {
	        position: relative;
	        top: 29px;
	        width: 100%;
	        max-width: 958px;
	    }
	    .down_banner {
	        padding-top: 31px;
	    }
	    .prise:before {
	        content: '....................................';
	        position: absolute;
	        top: -4px;
	        left: 3px;
	        font-size: 24px;
	        line-height: 0px;
	        letter-spacing: 2px;
	    }
	    .down_banner_lighter_bg {
	        position: absolute;
	        top: 129px;
	        right: -30px;
	    }
	    .footer_right_text {
	        display: none;
	    }
	    .footer_left_text {
	        text-align: center;
	        float: none;
	    }
	    .footer_logo {
	        float: none;
	    }
	    .footer_left_text {
	        margin-top: 14px;
	    }
	    .new_line767 {
	        display: block;
	    }
	    .closer {
	        position: absolute;
	        top: -10px;
	        right: -10px;
	    }
	}
	
	@media screen and (max-width: 479px) {
	    .wrap {
	        max-width: 300px
	    }
	    .header {
	        text-align: center;
	        margin-bottom: 18px;
	    }
	    .header_button {
	        display: none;
	    }
	    .logo {
	        float: none;
	    }
	    .top_banner {
	        background-position: center -47px;
	    }
	    .top_banner_title {
	        font-size: 38px;
	        line-height: 48px;
	    }
	    .top_banner_under_title {
	        margin-top: 4px;
	        font-size: 26px;
	        line-height: 34px;
	    }
	    .sale_block_remainder2 {
	        display: none;
	    }
	    .product {
	        height: 240px;
	    }
	    .indication {
	        width: 300px;
	    }
	    .indication_section_text {
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 20px;
	        line-height: 30px;
	    }
	    .product_box {
	        width: 340px;
	        position: absolute;
	        top: -7px;
	        left: 53px;
	    }
	    .product_img {
	        width: 270px;
	        position: absolute;
	        top: 163px;
	        left: 14px;
	    }
	    .product_sale {
	        display: none;
	    }
	    .lighter_bg {
	        position: absolute;
	        top: 122px;
	        left: -99px;
	        opacity: 0.8;
	    }
	    .indication_section:nth-child(1) {
	        padding: 24px 20px 25px 30px;
	        background: url('../img/hand.png') no-repeat 16px 17px;
	    }
	    .indication_section:nth-child(2) {
	        padding: 23px 20px 23px 30px;
	        background: url('../img/hair.png') no-repeat 17px 16px;
	    }
	    .indication_section:nth-child(3) {
	        padding: 13px 10px 14px 30px;
	        background: url('../img/clock.png') no-repeat 18px 25px;
	    }
	    .indication_section:nth-child(4) {
	        padding: 20px 37px 24px 30px;
	        background: url('../img/apple.png') no-repeat 16px 15px;
	    }
	    .indication_section:nth-child(5) {
	        padding: 26px 20px 23px 30px;
	        background: url('../img/atom.png') no-repeat 17px 22px;
	    }
	    .indication_section:nth-child(6) {
	        padding: 31px 20px 26px 30px;
	        background: url('../img/foot.png') no-repeat 16px 22px;
	    }
	    .indication_section:nth-child(even) {
	        background-color: #ce225a;
	    }
	    .indication {
	        margin-bottom: 35px;
	    }
	    .sale_block {
	        width: 300px;
	    }
	    .discount_sale {
	        position: absolute;
	        top: -5px;
	        left: 0px;
	        width: 100px;
	    }
	    .sale_block_title {
	        padding-left: 123px;
	        width: 280px;
	        line-height: 20px;
	    }
	    .sale_block_remainder {
	        display: inline-block;
	        margin: 17px 0 0 124px;
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 16px;
	        line-height: 18px;
	        color: #000;
	    }
	    .sale_block_title_number {
	        font-size: 30px;
	        margin-top: 10px;
	    }
	    .prise {
	        margin: 27px 0 107px;
	    }
	    .discount {
	        margin-top: 9px;
	    }
	    .prise:before {
	        position: absolute;
	        top: -12px;
	        left: -2px;
	    }
	    .new_prise {
	        position: absolute;
	        top: 19px;
	        left: 130px;
	    }
	    .timer {
	        margin-bottom: 4px;
	        padding: 16px 0 25px 4px;
	    }
	    .timer__title {
	        margin-top: 5px;
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 20px;
	        line-height: 28px;
	    }
	    .timer__point {
	        position: relative;
	        top: 8px;
	        left: -2px;
	    }
	    .timer__index {
	        width: 74px;
	        height: 54px;
	        background: url("../img/timer_container320.png") no-repeat 0 0;
	    }
	    .timer__item {
	        padding: 6px 4px 0 6px;
	        font-family: "TrebuchetMSBold", sans-serif;
	        font-size: 38px;
	        line-height: 40px;
	        letter-spacing: 14px;
	    }
	    .timer__desc {
	        font-family: "PTSansRegular", sans-serif;
	        font-size: 15px;
	        line-height: 20px;
	    }
	    .x_order_form:before {
	        display: none;
	    }
	    .x_order_form {
	        margin-top: 10px;
	        margin-left: 0;
	        width: 283px;
	    }
	    .former__btn {
	        font-family: "TrebuchetMSBold", sans-serif;
	        font-size: 30px;
	        line-height: 36px;
	    }
	    .former__btn span {
	        display: block;
	    }
	    .problem_wrap {
	        margin-top: 123px;
	        width: 300px;
	        height: 1510px;
	    }
	    .problem_title {
	        font-size: 38px;
	        line-height: 44px;
	        letter-spacing: -1px;
	    }
	    .problem_theme_img {
	        margin-bottom: 13px;
	    }
	    .bad-effect_wrap {
	        padding-top: 23px;
	        max-width: 300px;
	    }
	    .bad-effect_title {
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .bad-effect_type {
	        margin-top: 11px;
	        padding: 0;
	    }
	    .bad-effect_theme {
	        margin-bottom: 5px;
	    }
	    .bad-effect_theme_img {
	        margin-bottom: 13px;
	    }
	    .history_info {
	        padding-top: 15px;
	    }
	    .history_info_title {
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .history_info_text {
	        margin-top: 32px;
	    }
	    .ingredients {
	        padding: 8px;
	    }
	    .ingredients_title {
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .ingredients_under_title {
	        margin-top: 15px;
	        margin-bottom: 39px;
	    }
	    .info_block {
	        text-align: center;
	    }
	    .info_block_img {
	        margin-left: 0;
	    }
	    .info_block_number {
	        display: none;
	    }
	    .foto_block {
	        margin-top: 0;
	        margin-bottom: 19px;
	    }
	    .foto_block_title {
	        margin: 9px auto 37px;
	        width: 220px;
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .info_block_text {
	        margin-top: 3px;
	        text-align: center;
	    }
	    .foto_container_img,
	    .foto_container_img2,
	    .foto_container_img3 {
	        margin-bottom: 10px;
	    }
	    .popup_block {
	        padding-top: 34px;
	        padding-bottom: 35px;
	    }
	    .popup_prise {
	        margin-left: 20px;
	        position: relative;
	        top: 27px;
	        right: 0;
	    }
	    .popup_prise:before {
	        content: '...................................';
	        position: absolute;
	        top: -12px;
	        left: -11px;
	    }
	    .popup_product_sale {
	        width: 100px;
	        position: absolute;
	        top: 12px;
	        left: 8px;
	    }
	    .popup_timer {
	        margin-left: 0;
	        padding: 15px 0 0;
	    }
	    .popup_block_content_right {
	        margin-top: 14px;
	        position: relative;
	        top: 342px;
	        left: 9px;
	        width: 282px;
	    }
	    .letters {
	        display: inline;
	        font-style: normal;
	    }
	    .table_wrap {
	        width: 300px;
	    }
	    .comparison_table_title {
	        margin-bottom: 34px;
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    table {
	        border: 1px solid #fff;
	    }
	    table tr th:nth-child(1),
	    table tr th:nth-child(4) {
	        display: inline-block;
	        padding-bottom: 4px;
	        padding-top: 0;
	        width: 120px;
	        border: 0px;
	    }
	    table tr td:nth-child(1),
	    table tr td:nth-child(4) {
	        display: block;
	        padding-left: 10px;
	        border: 0px
	    }
	    table tr td:nth-child(1) {
	        margin-top: 10px;
	    }
	    table tr td:nth-child(4) {
	        padding-top: 8px;
	    }
	    table tr th:nth-child(4) {
	        padding-left: 7px;
	    }
	    table tr th:nth-child(1),
	    table tr td:nth-child(1) {
	        padding: 0px 0px 0px 10px;
	        width: 267px;
	    }
	    table tr th:nth-child(1) {
	        width: 120px;
	        text-align: right;
	        padding-left: 15px;
	    }
	    .table tr {
	        border-right: none;
	    }
	    .popup_block_content_left {
	        position: absolute;
	        top: 17px;
	        left: 0px;
	    }
	    .popup_block_content {
	        height: 685px;
	    }
	    .popup_former_btn {
	        padding-top: 13px;
	        font-family: "TrebuchetMSBold", sans-serif;
	        font-size: 30px;
	        line-height: 36px;
	    }
	    .popup_former_btn span {
	        display: block;
	    }
	    .poap_x_order_form:before {
	        display: none;
	    }
	    .doctor_comment {
	        padding: 21px 10px 0 0;
	    }
	    .doctor_comment_title {
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	        text-align: center;
	    }
	    .doctor_comment_text {
	        margin-top: 21px;
	        padding: 0 4px 0 10px;
	    }
	    .comment_doctor_author {
	        max-width: 200px;
	        padding-left: 10px;
	    }
	    .dotor_comment_foto {
	        margin: 11px 0 0 0;
	        width: 270px;
	    }
	    .slider {
	        padding: 22px 0 30px;
	    }
	    .slider_title {
	        margin-bottom: 21px;
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .bx-viewport {
	        height: 686px !important;
	    }
	    .slider_container_text {
	        margin-bottom: 15px;
	    }
	    .slider_container_author {
	        font-family: "ArialBold", sans-serif;
	        font-size: 20px;
	        line-height: 33px;
	    }
	    .bx-pager:before {
	        content: '';
	        position: absolute;
	        bottom: 9px;
	        left: 0px;
	        width: 77px;
	    }
	    .bx-pager:after {
	        content: '';
	        position: absolute;
	        right: 0px;
	        bottom: 9px;
	        width: 72px;
	        height: 1px;
	    }
	    .using {
	        padding-top: 23px;
	    }
	    .using_title {
	        margin-bottom: 35px;
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .using_block li {
    margin-bottom: 20px;
}
	    .using_block_number {
	        margin-bottom: 20px;
	    }
	    .using_block_text {
	        padding-right: 11px;
	    }
	    .using_img {
	        position: relative;
	        top: 35px;
	        left: 43px;
	    }
	    .check_code {
	        padding-top: 22px;
	        padding-bottom: 0px;
	    }
	    .check_code_title {
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	        text-align: center;
	    }
	    .check_code_text {
	        margin-bottom: 10px;
	    }
	    .check_code_input {
	        margin-top: 13px;
	    }
.check_code_product_box {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background: #ccc;
    width: 300px;
    margin-bottom: 30px;
}
	    .check_code_img,
	    .down-pointer {
	        display: none;
	    }
	    .check_code_img_sale {
	        position: absolute;
	        top: 597px;
	        width: 137px;
	        right: 5px;
	    }
	    .top_pointer {
	        display: none;
	        position: absolute;
	        top: 607px;
	        right: 159px;
	    }
	    .workers {
	        margin-bottom: 35px;
	        padding: 30px 23px 35px;
	    }
	    .workers_title {
	        font-family: "PTSansBold", sans-serif;
	        font-size: 38px;
	        line-height: 44px;
	    }
	    .workers_section {
	        margin: 10px 0px;
	        width: 100%;
	    }
	    .map {
	        display: none;
	    }
	    .down_banner {
	        padding-top: 33px;
	    }
	    .down_banner_lighter_bg {
	        display: none;
	    }
	    .down_popup_product_sale {
	        position: absolute;
	        top: 12px;
	        left: 7px;
	        width: 102px;
	    }
	    .lastpack {
	        font-size: 30px
	    }
	    .footer_left_text {
	        margin-top: 16px;
	    }
	    .mod {
	        max-width: 300px;
	    }
	    .js-message {
	        max-width: 300px;
	        margin: 0 auto;
	        margin-top: 10px;
	        padding: 0;
	    }
	    .new_line {
	        display: block;
	    }
	}