body {
	margin:0;
	padding:0;
	background: #fff;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
.wrapper {
	margin:0 auto;
	max-width:500px;
}

.top-name {
	text-align:center;
	font-size:140%;
	background: #242424;
	padding:4px;
	color:#fff;
	font-weight:bold;
}

.copyright {text-align:center;}

.color-red {
	color:#ff4600;
	font-weight:bold;
}

.top1 {
	background:#eeeeee;
	-webkit-box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 7px 1px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 7px 1px rgba(50, 50, 50, 0.5);
	margin:10px;
}
.top2 {
	background:#FFF;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	margin:10px 10px;
}
.main-img {
	margin:0;
	padding:0;
	background:#1a1d22
}

.cena {
	border:1px solid #ab5a00;
	padding:10px;
	border-radius:7px;
	width:70%;
	margin:10px auto;
	text-align:center;
	margin-bottom:10px;
	font-size:120%;
	background:#fffdc9;
}
#order_form #total_amount
{
	background:none;
	border:none;
	width:140px;
}
#order_form .error
{
	background:#f9a7a7;
	border-color:#cb3535;
}
#timer
{
	font-size:36px;
}
h2 b:before, h2 b:after {
  content: "";
  font-weight: normal;
  }
.item-hour-k{
  float: left;
  width: 30px;
  text-align: right;
  padding: 6px;
  border-radius: 2px;
  margin-top: 0;
  padding-top: 0;
  font-size: 77%;
  margin: 5px 21px 2px;
}

.item-hour {
	float:left;
	width:30px;
	border:1px #a3a3a3 solid;
	font-family: 'Roboto Condensed', sans-serif;
	margin:3px;
	text-align:right;
	padding:5px;
	border-radius:5px;
	margin-bottom:0;
	font-size:150%;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #ffffff 48%, #898989 51%, #ffffff 54%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(48%,#ffffff), color-stop(51%,#898989), color-stop(54%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#ffffff 48%,#898989 51%,#ffffff 54%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#ffffff 48%,#898989 51%,#ffffff 54%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#ffffff 48%,#898989 51%,#ffffff 54%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#ffffff 48%,#898989 51%,#ffffff 54%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

			
}

.clear {
	clear:both;
}


.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;}
.button {
  box-shadow: inset 0px 1px 0px 0px #ff5e4c;
  background: -webkit-linear-gradient(top, #fe1a00 5%, #981000 100%);
  background: linear-gradient(to bottom, #fe1a00 5%, #981000 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #ff4732;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #650a00;
	height:40px;
	line-height:40px;
	width:70%;
	text-decoration:none;
	text-align:center;
	font-size:130%;
}
.button:hover {
  background: -webkit-linear-gradient(top, #981000 5%, #fe1a00 100%);
  background: linear-gradient(to bottom, #981000 5%, #fe1a00 100%);
  background-color: #fe1a00;
  color: white;
}.button:active {
	position:relative;
	top:1px;
}
.button2{
  box-shadow: inset 0px 1px 0px 0px #ff5e4c;
  background: -webkit-linear-gradient(top, #fe1a00 5%, #981000 100%);
  background: linear-gradient(to bottom, #fe1a00 5%, #981000 100%);
  background-color: #fe1a00;
  border-radius: 12px;
  border: 1px solid #ff4732;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #650a00;
	height:50px;
	line-height:40px;
	width:100%;
	text-decoration:none;
	text-align:center;
	font-size:130%;
}
.button2:hover {
  background: -webkit-linear-gradient(top, #981000 5%, #fe1a00 100%);
  background: linear-gradient(to bottom, #981000 5%, #fe1a00 100%);
  background-color: #fe1a00;
  color: white;
}.button2:active {
	position:relative;
	top:1px;
}
.form-buy-bg input,.form-buy-bg select {
	width:270px;
	padding:7px;
	font-size:18px;
	border-radius:5px;
	margin-bottom:10px;
}

.form-buy {
	background: #deefff;
	background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
	background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
	background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
	background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
	background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
	padding-top:4px;
	border-top:1px solid #00a5ff;
}

.thx_buy {
	border:1px #36ff83 solid;
	padding:10px;
	border-radius:10px;
	margin:0 auto;
	background:#d3ffc5;
	text-align:center;
	font-size:18px;
	margin:20px;
	margin-bottom:600px;
}

.thx_buy a{
	text-decoration:none;
}

.col-sm-5{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.form-group{
margin-bottom: 15px;
}
.form-control{
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.center-block{
display: block;
  margin-right: auto;
  margin-left: auto;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png')/*tpa=http://xn-----elcvbdbjepbjmb1bt2q.xn--p1ai/fancybox_sprite.png*/;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif')/*tpa=http://xn-----elcvbdbjepbjmb1bt2q.xn--p1ai/fancybox_loading.gif*/ center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif')/*tpa=http://xn-----elcvbdbjepbjmb1bt2q.xn--p1ai/blank.gif*/; /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.png')/*tpa=http://xn-----elcvbdbjepbjmb1bt2q.xn--p1ai/fancybox_overlay.png*/;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png')/*tpa=http://xn-----elcvbdbjepbjmb1bt2q.xn--p1ai/fancybox_sprite@2x.png*/;
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif')/*tpa=http://xn-----elcvbdbjepbjmb1bt2q.xn--p1ai/fancybox_loading@2x.gif*/;
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
@charset "UTF-8";


body > div.wrapper > div.col-sm-6
{
margin: 10px;

}


body > div.wrapper > div.col-sm-6 > iframe
{
width: 100%;
max-width: 480px;
}


#cbp-fwslider
{
    background: #F7F7F7;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
    margin: 10px;
}
#gallery
{
 background: rgba(152, 148, 148, 0.71);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 7px 1px rgba(50, 50, 50, 0.5);
    margin: 10px;

}

#gallery  img
{
width: 32.7% !important; 

}

@media (max-width: 461px)
{
#gallery  img
{
width: 32.6% !important; 
}
}

@media (max-width: 455px)
{
#gallery  img
{
width: 32.6% !important; 
}
}

@media (max-width: 404px)
{
#gallery  img
{
width: 32.5% !important; 
}
}

@media (max-width: 362px)
{
#gallery  img
{
width: 32.4% !important; 
}
}

@media (max-width: 328px)
{
#gallery  img
{
width: 32.3% !important; 
}
}

@media (max-width: 300px)
{
#gallery  img
{
width: 32.2% !important; 
}
}

@media (max-width: 278px)
{
#gallery  img
{
width: 32.1% !important; 
}
}

@media (max-width: 258px)
{
#gallery  img
{
width: 32% !important; 
}
}

@media (max-width: 242px)
{
#gallery  img
{
width: 31.9% !important; 
}
}


@media (max-width: 236px)
{
#gallery  img
{
width: 31.9% !important; 
}
}

@media (max-width: 228px)
{
#gallery  img
{
width: 31.8% !important; 
}
}

@media (max-width: 222px)
{
#gallery  img
{
width: 31.8% !important; 
}
}

@media (max-width: 216px)
{
#gallery  img
{
width: 31.7% !important; 
}
}

@media (max-width: 206px)
{
#gallery  img
{
width: 31.6% !important; 
}
}

@media (max-width: 197px)
{
#gallery  img
{
width: 31.5% !important; 
}
}

@media (max-width: 188px)
{
#gallery  img
{
width: 31.4% !important; 
}
}

@media (max-width: 188px)
{
#gallery  img
{
width: 31.3% !important; 
}
}

@media (max-width: 174px)
{
#gallery  img
{
width: 31.2% !important; 
}
}

@media (max-width: 171px)
{
#gallery  img
{
width: 31.1% !important; 
}
}

@media (max-width: 164px)
{
#gallery  img
{
width: 31% !important; 
}
}

@media (max-width: 158px)
{
#gallery  img
{
width: 30.9% !important; 
}
}

@media (max-width: 151px)
{
#gallery  img
{
width: 30.8% !important; 
}
}

@media (max-width: 148px)
{
#gallery  img
{
width: 30.7% !important; 
}
}

@media (max-width: 146px)
{
#gallery  img
{
width: 30.7% !important; 
}
}

@media (max-width: 140px)
{
#gallery  img
{
width: 30.6% !important; 
}
}

@media (max-width: 140px)
{
#gallery  img
{
width: 30.5% !important; 
}
}

@media (max-width: 135px)
{
#gallery  img
{
width: 30.4% !important; 
}
}

@media (max-width: 131px)
{
#gallery  img
{
width: 30.3% !important; 
}
}



@media (max-width: 127px)
{
#gallery  img
{
width: 30.2% !important; 
}
}

@media (max-width: 123px)
{
#gallery  img
{
width: 30.1% !important; 
}
}

@media (max-width: 121px)
{
#gallery  img
{
width: 29.9% !important; 
}
}

@media (max-width: 107px)
{
#gallery  img
{
width: 29% !important; 
}
}

@media (max-width: 89px)
{
#gallery  img
{
width: 28% !important; 
}
}

@media (max-width: 77px)
{
#gallery  img
{
width: 27% !important; 
}
}

@media (max-width: 69px)
{
#gallery  img
{
width: 25% !important; 
}
}

#k_qst_31 > tbody > tr.k_tr_line_31_3121,
#k_qst_31 > tbody > tr.k_tr_line_31_3131
{

    width: 80% !important;
height: 30px !important;
}


#k_savebutton31
{
       box-shadow: inset 0px 1px 0px 0px #ff5e4c;
    background: -webkit-linear-gradient(top, #fe1a00 5%, #981000 100%) !important;
    background: linear-gradient(to bottom, #fe1a00 5%, #981000 100%) !important;
    background-color: #fe1a00 !important;
    border-radius: 6px;
    border: 1px solid #ff4732;
    display: inline-block;
    cursor: pointer;
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #650a00;
    height: 40px;
    line-height: 40px;
    width: 60%;
    text-decoration: none;
    text-align: center;
    font-size: 130%;
}

#k_savebutton31:hover
{
    background: -webkit-linear-gradient(top, #981000 5%, #fe1a00 100%)!important;
    background: linear-gradient(to bottom, #981000 5%, #fe1a00 100%)!important;
    background-color: #fe1a00 !important;
    color: white !important;
   
}

#ea_product_form_15222 > form > table > tbody > tr:nth-child(5) > td > input:active {
	position:relative;
	top:1px;
}

#ea_product_form_15222 .ea_td_right {
    text-align: center !important;
    width: 5% !important;
}



body > div.wrapper > form
{
   /* width: 327px;
    height: 420px;*/
    background-color: rgba(241, 235, 235, 0.7);
   
    margin-top: 26px;
    margin-right: 3px;
    border-radius: 7px;
    text-align: center;
    padding: 24px;
}

#k_qst_31
{
    font-size: inherit;
    font: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
	    text-align: center;
}

#k_qst_31 > tbody{

/*width: 327px;
    height: 420px;*/
}

#k_input_field_31_3121, #k_input_field_31_3131, #phone, select
{width: 90%;height: 42px;padding: 0 10px;margin: 10px;font-size: 130%;}

#k_qst_31 > tbody > tr.k_tr_submit_31 > td
{
padding-top: 15px;

}