﻿* {margin:0;padding:0;border:0;outline:none;}
a {text-decoration:none;}
li {list-style:none;}
body,input {font-family:'Roboto',arial,sans-serif;}
.width {width:980px;margin:0 auto;position:relative;}
input[type="text"] {background:url(img/input.png) no-repeat 0 0;width:179px;height:32px;line-height:32px;padding:0 12px;display:block;margin:0 auto 14px auto;font-size:12px;color:#9c9c9c;}
.button {background:url(img/button.png) no-repeat 0 0;width:208px;height:54px;display:block;margin:0 auto;}
.button:hover {background-position:0 bottom;}
.button input[type="submit"] {background:none;width:208px;color:#8c8c8c;font-size:20px;text-transform:uppercase;font-weight:700;cursor:pointer;line-height:41px;height:41px;}

#header .time {padding:0 0 0 0;position:absolute;right:0;top:445px;} 
#footer .time {padding:0 0 0 0;position:absolute;right:0;top:407px;} 
.time .name-t {font-size:16px;color:#18181a;text-align:center;padding:15px 0 12px 0;}
#footer .time .name-t {color:#07837e;}
.time div>div {position:relative;background:#fff;width:56px;height:56px;line-height:56px;text-align:center;display:inline-block;margin:0 0 0 9px;font-weight:300;font-size:32px;color:#119e98;border-radius:3px;-moz-border-radius:3px;}
.time span {position: absolute;width: 56px;text-align: center;display:block;left: 50%;margin-left: -28px;top: 61px;line-height:9px;color:#fff;font-size:12px;}

/* Навигация */
#nav {background:url(img/top-nav.png) repeat-x 0 0;height:63px;padding:0 0 14px 0;width:100%;position:fixed;z-index:800;}
#nav  .logo {float:left;font-size:20px;font-weight:700;line-height:35px;padding:0 20px 0 26px;margin:14px 0 0 0;border-right:1px solid #dbdbdc;}
#nav  ul {float:left;padding:17px 0 0 21px;}
#nav  ul li {float:left;font-size:14px;padding:0 4px 0 0;}
#nav  ul li a {color:#000000;line-height:26px;padding:0 13px;display:block;}
#nav  ul li a:hover {background:url(img/top-nav-hover.png) repeat-x 0 0;border-radius:5px;-moz-border-radius:5px;color:#fff;}
#nav  .contact {float:right;padding:14px 16px 0 0;}
#nav  .contact .phone {font-size:20px;line-height:34px;padding:0 20px 0 0;display:inline-block;vertical-align:top;}
#nav  .contact a {background:url(img/button-top.png) no-repeat 0 0;width:163px;height:42px;text-align:center;color:#fff;font-size:14px;display:inline-block;vertical-align:top;line-height:31px;text-shadow:0 1px 2px #5aa0a2;}
#nav  .contact a:hover {background-position:0 bottom;}

/* Шапка сайта */
#header {background:url(img/header.jpg) no-repeat center 0;height:591px;}
#header .image {background:url(img/header-img.png) no-repeat 0 0;width:445px;height:509px;float:left;margin:50px 0 0 -23px;}
#header .title {position:absolute;text-align:center;font-size:24px;color:#07837e;font-weight:bold;left:220px;top:101px;}
#header .title div {font-size:79px;color:#fff;line-height:65px;padding:8px 0 0 0;}
#header .price {position:absolute;font-size:62px;color:#07837e;line-height:58px;font-weight:700;top:145px;right:0px;}
#header .price img {padding:0 0 0 5px;}
#header .text {position:absolute;font-size:14px;line-height:22px;left:297px;top:379px;}
#header .text div {padding:0 0 50px 0;}
#header .form-action {background:url(img/form.png) no-repeat 0 0;width:496px;height:208px;position:absolute;right:0;top:237px;}
#header .form-action .form {width:244px;float:left;text-align:center;}
#header .form-action .form .name {font-size:19px;color:#fff;line-height:49px;}
#header .form-action .action {width:252px;float:left;text-align:center;font-size:12px;padding:75px 0 0 0;}
#header .form-action .action div {font-size:20px;font-weight:700;color:#07837e;padding:10px 0 0 0;}

/* Проблема */
#problem {width:980px;margin:0 auto;position:relative;z-index:2;overflow:hidden;}
#problem .title {font-size:32px;color:#119e98;padding:40px 0 20px 0;}
#problem .title2 {font-size:32px;color:#119e98;width:650px;text-align:right;padding:15px 0 0 0;}
#problem .text {width:650px;font-size:14px;line-height:22px;}
#problem .phone-r {float:right;padding:41px 0 0 0;text-align:center;width:325px;}

/* Работаем с */
#work-with {background:url(img/work-with.jpg) no-repeat center 0;width:980px;height:508px;margin:-54px auto 0 auto;position:relative;padding:80px 0 0 0;}
#work-with .arrow {background:url(img/arrow-ww.png) no-repeat 0 0;width:82px;height:88px;left:389px;top:54px;position:absolute;}
#work-with .title {font-weight:700;font-size:24px;padding:29px 0 0 370px;text-align:center;line-height:16px;}
#work-with .title div {font-size:42px;font-weight:300;line-height:36px;padding:0 0 14px 0;}
#work-with .title2 {text-align:center;font-size:24px;line-height:32px;font-weight:700;color:#fff;padding:44px 0 0 383px;}
#work-with .items {overflow:hidden;padding:55px 0 0 465px;}
#work-with .item {float:left;text-align:center;}
#work-with .item.padding {padding:0 51px 0 68px;}
#work-with .item div {color:#fff;font-weight:700;}

/* Как мы работаем */
#how-work {background:url(img/how-work.jpg) no-repeat center bottom;height:698px;}
#how-work .description-box {height:312px;padding:0 0 0 358px;}
#how-work .title {font-size:32px;color:#119e98;padding:51px 0 20px 0;}
#how-work .message {width:330px;font-size:14px;line-height:22px;}
#how-work .message p {padding:0 0 20px 0;}
#how-work .img1 {position:absolute;top:47px;left:-4px;}
#how-work .img2 {position:absolute;right:17px;top:95px;}
#how-work .steps {margin:0 0 0 358px;position:relative;}
#how-work .steps .arrows {background:url(img/arrows-hw.png) no-repeat 0 0;width:339px;height:222px;position:absolute;top:106px;left:183px;}
#how-work .steps .title2 {font-size:32px;color:#fff;padding:30px 0 37px 0;}
#how-work .steps .item {width:309px;display:inline-block;vertical-align:top;padding:0 0 45px 0;}
#how-work .steps .item .img {float:left;width:61px;}
#how-work .steps .item .message {margin:0 0 0 61px;font-size:14px;line-height:18px;}
#how-work .steps .item .message div {font-size:20px;color:#119e98;padding:0 0 15px 0;}

/* Отзывы */
#reviews {width:980px;margin:0 auto;overflow:hidden;}
#reviews .title {font-size:32px;color:#119e98;padding:28px 0 0 355px;position:relative;z-index:2;}
#reviews .review {margin:-25px 0 55px 0;float:left;}
#reviews .review.right {margin-left:70px;}
#reviews .review .line-info {}
#reviews .review .line-info .ava {vertical-align:bottom;display:inline-block;position:relative;}
#reviews .review .line-info .ava div {position:absolute;left:76px;top:66px;}
#reviews .review .line-info .name {vertical-align:bottom;display:inline-block;padding:0 0 0 25px;font-size:14px;line-height:22px;}
#reviews .review .line-info .name div {color:#b3b3b3;}
#reviews .review .message {background:url(img/review-text.png) no-repeat 0 0;width:407px;height:149px;padding:45px 25px 0 23px;font-size:14px;line-height:22px;}


/* Футер сайта */
#footer {background:url(img/footer.jpg) no-repeat center 0;height:887px;}
#footer .image {background:url(img/header-img.png) no-repeat 0 0;width:445px;height:509px;float:left;margin:0px 0 0 -23px;}
#footer .title {position:absolute;text-align:center;font-size:24px;color:#07837e;font-weight:bold;left:220px;top:45px;}
#footer .title div {font-size:79px;color:#fff;line-height:65px;padding:8px 0 0 0;}
#footer .price {position:absolute;font-size:62px;color:#07837e;line-height:58px;font-weight:700;top:90px;right:0px;}
#footer .price img {padding:0 0 0 5px;}
#footer .text {position:absolute;font-size:14px;line-height:22px;left:297px;top:321px;}
#footer .text div {padding:0 0 50px 0;}
#footer .form-action {background:url(img/form.png) no-repeat 0 0;width:496px;height:208px;position:absolute;right:0;top:200px;}
#footer .form-action .form {width:244px;float:left;text-align:center;}
#footer .form-action .form .name {font-size:19px;color:#fff;line-height:49px;}
#footer .form-action .action {width:252px;float:left;text-align:center;font-size:12px;padding:75px 0 0 0;}
#footer .form-action .action div {font-size:20px;font-weight:700;color:#07837e;padding:10px 0 0 0;}

#footer .why-we {height:285px;}
#footer .why-we .title-w {color:#119e98;font-size:32px;text-align:center;line-height:98px;}
#footer .why-we .item {width:25%;float:left;text-align:center;}
#footer .why-we .item div {line-height:22px;font-size:14px;padding:13px 0 0 0;}


/* блок текст */
#rekl {text-align:center;font-size:12px;padding:15px 0;}
#rekl a {color:#000;}