*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background: url(images/bg.gif) repeat;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clear{*min-height: 1px;}
#top{
	width: 100%;
	height: 145px;
	position: absolute;
	left: 0;
	/*background: url(images/top_bg.jpg) repeat-x;*/
}
/*Start */
#wrapper{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

/*Start header*/
#header{
	width: 100%;
	height: 100px;
}
/*Start logotype*/
.logotype{
	width: 380px;
	float: left;
	margin: 10px 40px 0 15px;
}
.logotype a{
	width: 369px;
	height: 67px;
	display: block;	
}
.logotype b{
	font: bold 12px Tahoma, sans-serif;
	color: #101010;
}
/*End logotype*/
/*Start warning*/
.warning{
	width: 410px;
	float: left;
	margin: 3px 0;
}
.warning p{
	font: 12px Tahoma, sans-serif;
	color: #000;
}
.warning strong{
	font: bold 12px Tahoma, sans-serif;
	color: #fb0a0a;
}
/*End warning*/
/*Start social*/
.social{
	width: 212px;
	float: left;
}
.social a{
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 2px;
	display: block;
}
/*End social*/

#header img.eighteen_plus{
	position: absolute;
	top: 6px;
	right: 5px;
}
/*Start menu*/
.menu {
	float: left;
	width: 100%;
	height: 52px;
	margin: 3px 0;
	background: url(images/menu_bg.png) repeat-x;
}
.menu ul{
	margin-left: 12px;
}
.menu li{
	margin: 8px 0 0 -2px;
	list-style: none;
	float: left;	
	text-align: center;
	background: url(images/menu_separ.png) no-repeat right 13px ;
}
.menu li:last-child{
	background: none;
}
.menu li a{
	max-width: 72px;
	height: 37px;
	padding: 10px 10px 0 10px;
	display: inline-block;
	font: bold 11px Tahoma, sans-serif;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
}
.menu li a:hover{
	max-width: 72px;
	background: url(images/menu_hover_bg.png) no-repeat;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}
/*End menu*/
/*Start search*/
.search {
	width: 356px;
	height: 31px;
	float: right;
	margin: 11px 23px 0 0;
	background: url(images/search_bg.png) no-repeat ;
}
.search input{
	width: 320px;
	height: 31px;
	line-height: 31px;
	font-size: 11px; 
	color: #ededef;
	padding-left: 10px;
	text-shadow: 1px 1px 0 #000;
	display: block;
	float: left;
	border: none;
	outline: none;
	background: none;	
}
.search input.bttn{
	width: 18px;
	height: 18px;
	margin: 6px 5px 0 3px;
	float: right;
	cursor: pointer;	
	background: url(images/search_bttn.png) no-repeat;
}
/*End search*/
/*Start content*/
#content{
	margin-bottom: 7px;
}
/*Start description_site*/
#description_site{
	width: 986px;
	background: rgba(246,246,246,.4);
	margin-bottom: 2px;
	padding: 5px;
	display: inline-block;
	border: 2px solid #dcdada;
}
#description_site img{
	width: auto;
	height: 200px;
	margin-right: 10px;
	float: left;
}
#description_site p{
	font: 11px Tahoma, sans-serif;
	color: #1b1b1b;
	line-height: 14px;
}
/*End description_site*/
/*Start right_col*/
#right_col{
	width: 198px;
	float: right;
}
/*Start title_nav*/
.title_nav{
	height: 31px;
	margin-bottom: 2px;
	background: url(images/title_nav_bg.png) no-repeat;
}
.title_nav img{
	width: 24px;
	height: 24px;
	float: left;
	margin: 3px 7px 0 15px;
}
.title_nav h1{
	font: bold 14px Tahoma, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 0 #da4902;
	padding-top: 5px;
}
/*End title_nav*/
/*Start navigation*/
.navigation{
	border: 2px solid #aeadad;
	background: #fff;
}
.navigation li{
	border-bottom: 1px solid #aeadad;
	list-style: none;
	line-height: 25px;
	background: url(images/nav_arrow.png) no-repeat 10px center;
}
.navigation li:last-child{
	border: none;
}
.navigation li a{
	margin-left: 20px;
	font: 13px Tahoma, sans-serif;
	color: #000;
}
.navigation li a:hover{
	font:bold 13px Tahoma, sans-serif;
	color: #f66807;
}
.navigation .active a {
	font-weight: bold;
}
/*End navigation*/
/*Start social_network*/
.social_network{
	margin-top: -2px;
	border: 2px solid #aeadad;
	background: #fff;
	text-align: center;
}
.social_network h3{
	font: bold 14px Tahoma, sans-serif;
	color: #fc8839;
	text-align: center;
	margin: 3px 0 7px;
}
.social_network a img{
	width: 100px;
	height: 100px;
	display: inline-block;
}
.social_network a img.network_twit{
	margin-bottom: 15px;
}
/*End social_network*/
/*--- End left_col ---*/


/*Start middle_col*/
#middle_col{
	width: 802px;
	float: left;
	padding-top: 5px;
	margin-bottom: 7px;
}
/*Start title_content*/
.title_content{
	height: 39px;
	margin-bottom: 5px;
	background: url(images/title_bg.png) no-repeat;
}
.title_content img{
	float: left;
	margin: 1px 7px 0 3px;
}
.title_content h1{
	padding-top: 5px;
	font: bold 15px Tahoma, sans-serif;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
}
/*End title_content*/
/*Start sort*/
.sort{
	height: 30px;
	margin-bottom: 5px;
}
.sort_rating{
	float: left;
}
.sort_rating p,.sort_views p{
	font: bold 12px Tahoma, sans-serif;
	color: #020202;
	text-shadow: 1px 1px 0 #fff;
	float: left;
	margin: 6px 3px 0;
}
.sort_rating a,.sort_views a{
	width: 81px;
	height: 23px;
	padding-top: 7px;
	margin-right: 2px;
	text-align: center;
	float: left;
	font: bold 12px Tahoma, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	background: url(images/sort_bg.png) repeat-x;
}
.sort_rating a:hover,.sort_rating a:active,.sort_views a:hover,.sort_views a:active,.sort_rating .active{
	color: #fff;
	text-shadow: 1px 1px 0 #da4902;
	background: url(images/sort_bg_hover.png) repeat-x;
}
.sort_views{
	float: right;
	margin-right: 3px;
}
/*End sort*/


/* Start content */
.content{
	background: #ebebeb;
}
.content img{
	width: 605px;
	height: 480px;
	display: block;
	margin: 0 auto;
	padding: 20px 0;
}
/*Start description*/
.description{
	width: 675px;
	margin-left: 40px;
}
.description a{
	font: bold 14px Tahoma, sans-serif;
	color: #25addd;
	text-shadow: 1px 1px 0 #fff;
}
.description p{
	margin: 15px 0 10px;
	font: 14px Tahoma, sans-serif;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
}
.desc_views,.desc_categories,.desc_add{
	float: left;
	margin-right: 30px;
}
.desc_views img{
	width: 22px;
	height: 14px;
	float: left;
	padding: 0;
	margin-top: 2px;
}
.desc_views p,.desc_categories p,.desc_add p{
	font: 13px Tahoma, sans-serif;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	float: left;
	margin: 0 0 20px 10px;
}
.desc_categories a{
	font: bold 13px Tahoma, sans-serif;
	color: #25addd;
	text-decoration: underline;
	text-shadow: 1px 1px 0 #fff; 
}
/*End description*/
/*Start content_comment*/
.content_comment{
	height: 328px;
	background: #ebebeb;
}
.content_comment textarea{
	width: 765px;
	height: 90px;
	margin: 15px 0 0 15px;
}
.content_comment input{
	width: 115px;
	height: 31px;
	border: none;
	float: right;
	margin: 2px 15px 0 0;
	font: bold 12px Tahoma, sans-serif;
	color: #1b1b1b;
	text-shadow: 1px 1px 0 #fff;
	cursor: pointer;
	background: url(../images/comment_bttn.png) no-repeat;
}
/*End content_comment*/
/*End content*/

.related_video{
	margin-bottom: 15px;
}

/*Start video_block*/
.video_block{
	width: 197px;
	float: left;
	padding-top: 4px;
	border: 1px solid #d8d8d8;
	background: #eee;
	margin: 0 1px 1px 0;
}
.video_block img{
	vertical-align: top;
	padding-right: 2px;
}
.video_block a{
	font: bold 12px Tahoma, sans-serif;
	color: #fc7803;
	display: inline-block;
	text-align: center;
	text-shadow: 1px 1px 0 #fff; 
}
.video_block a:hover{
	color: #000;
	text-shadow: 1px 1px 0 #fff;
}
/*.video_block a img.block_girl{
	margin-top: 5px;
	height: 130px;
    width: auto;
}*/
.video_block a img.block_girl{
 margin-top: 5px;
 height: auto;
 max-height: 112px;
 width: auto;
}
.video_block p{
	font: 11px Tahoma, sans-serif;
	color: #000;
	margin: 3px 0 0 3px;
	text-shadow: 1px 1px 0 #fff;
	overflow: hidden;
}
/*End video_block*/

.block_view_rating{
	height: 25px;
	background: #fff;
	margin: 3px 2px;
}
/*Start block_view*/
.block_view{
	float: left;
}
.block_view img{
	float: left;
	margin: 5px 3px 7px 5px;
}
.block_view span{
	font: 13px Tahoma, sans-serif;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	float: left;
	margin-top: 3px;
}
/*End block_view*/
.block_rating{
	float: right;
}
.block_rating img{
	margin: 5px 2px 0 0;
}
/* Start  conversion_page*/
.conversion_page{
	margin-top: 10px;
	text-align: center;
}
.conversion_page a{
	height: 25px;
	padding: 7px 7px;
	font:bold 12px Tahoma, sans-serif;
	color: #fff;
	margin-right: -2px;
	text-shadow: 1px 1px 0 #000;
	background: url(images/page_navi_bg.png) repeat-x;
}
.conversion_page a.next{
	max-width: 93px;
	padding: 7px 18px;
	background: url(images/page_navi_next.png) no-repeat;
}
.conversion_page a:hover.next{
	background: url(images/page_navi_hover_next.png) repeat-x;
}
.conversion_page a:hover{
	color: #fff;
	text-shadow: 1px 1px 0 #661b05;
	background: url(images/page_navi_hover_bg.png) repeat-x;
}


/*Start footer*/
#footer{
	width: 100%;
	height: 135px;
	margin-top: 30px;
	position: absolute;
	background: url(images/footer_bg.png);
	background-repeat: repeat-x;
}
.footer_mid{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	margin-top: 5px;
}
.footer_mid a{
	font:bold 13px Tahoma, sans-serif;
	color: #fd973d;
	background: url(images/footer_nav_sep.png) no-repeat 0 4px;
	padding: 0 25px;
	text-shadow: 1px 1px 0 #000;
}
.footer_mid a:first-child{
	background: none;
}
.footer_mid a:hover{
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}
.footer_mid span{
	font: 13px Tahoma, sans-serif;
	color: #fff;
	margin-top: 5px;
	text-shadow: 1px 1px 0 #000;
	text-align: center;
	display: inline-block;
}
/*End footer*/
.video_title {
	height: 35px;
	overflow: hidden;
	text-align: left;
}

.pagination {
    margin-top: 20px !important;
    text-align: center;
}
    ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #FF6F00;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.comment {
	width: 94%;
	margin-top: 30px;
	float: left;
}	
		
#loginForm {
    width: 100%;
    padding: 24px 24px 0;
    background: #FEFEFE;
    border: 1px solid #CAD8DE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font: 14px/18px Arial, Tahoma, sans-serif;
    color: #444;
}
#loginForm .field {
    margin: 0 0 18px;
}
#loginForm .field label {
    display: block;
    margin: 0 0 11px;
}
#loginForm .field .input .text {
    border-radius: 4px;
}
#loginForm .field input {
    font: 12px Arial, Tahoma, sans-serif;
    color: #444;
    width: 262px;
    padding: 9px 13px;
    border: 1px solid #D2D9DC;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    outline: none;
}
#loginForm .field input:focus {
    border-color: #B7D4EA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}

/*текст*/
.text {
    font: 12px Arial, Tahoma, sans-serif;
    color: #444;
    width: 90%;
    padding: 9px 13px;
    border: 1px solid #D2D9DC;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    outline: none;
}
.text:focus {
    border-color: #B7D4EA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}


#loginForm .submit {
    overflow: hidden;
    margin: 30px -24px 0;
    padding: 22px 24px;
    background: #F0F5F7;
    border-top: 1px solid #DDE0E8;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0 1px #FFF, inset -1px -1px #F7FAFB, inset 1px 0 #F7FAFB;
    font-size: 11px;
}

#loginForm .submit button {
    float: right;
    padding: 6px 20px;
    height: 30px;
    border-top: 1px solid #98CCE7;
    border-bottom: 1px solid #7DB0CC;
    border-left: 1px solid #8CBFD9;
    border-right: 1px solid #8CBFD9;
    border-radius: 15px;
    color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
    
    
    background-color: #FB7803;
    cursor: pointer;
    text-shadow: 0 -1px rgba(0,0,0,0.15);
    outline: none;
}
#loginForm .submit button::-moz-focus-inner{border:0}