#Order_addressString{
    height:60px;
}
.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
}
.row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
}
.row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
}
.row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
}
.row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
}
.row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
}
.row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
}
.row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
}
.row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
}
.row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
}
.row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
}
.row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
}
.row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
}
.row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
}
.row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
}
.row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
}
.row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
}
.row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
}
.row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
}
.row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
}
.row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
}
.row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
}
.row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
}
.row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
}
.row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
}
.row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
}
.row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
}
.row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
}
.row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
}
.row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
}
.row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
}
.row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
}
.row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
}
.row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
}
.row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
}
.row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
}
.row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}
.well-large {
    padding: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.well-small {
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.label-success{
    background-color: #5cb85c;
}
.label-important {
    background-color: #d9534f;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}


.btn-group-multiline{
    white-space: normal !important;
}
.profitDate{
    color: blue;
}
.cashDate{
    color: green;
}
.displayNone{
    display:none;
}
.modal-body{
    position:relative;z-index:999999999;
}
.sorter
{
    margin: 0 0 5px 0;
    text-align: right;
}
.sorter
{
    font-size: 0.9em;
}
.sorter ul
{
    display: inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.sorter li
{
    display: inline;
    margin: 0 0 0 0px;
    padding: 0;
}
.sorter li .btn-link
{
    margin-bottom:5px !important;
}
.sorter a.asc,.btn-link.asc
{
    background:url(../../../images/common_all/sorter-up.gif) right center no-repeat;
    padding-right: 10px;
}
.sorter a.desc,.btn-link.desc
{
    background:url(../../../images/common_all/sorter-down.gif) right center no-repeat;
    padding-right: 10px;
}

.sorter a.unsorted,.btn-link.unsorted
{
    background:url(../../../images/common_all/sorter-none.gif) right center no-repeat;
    padding-right: 10px;
}



.btn-link a{
    text-decoration: none !important; /* Убираем подчеркивание */
    border-bottom: 1px dashed #0088cc !important; /* Добавляем свою линию */
}
.btn-link a:hover{
    text-decoration: none !important; /* Убираем подчеркивание */
    border-bottom: 1px dashed #0088cc !important; /* Добавляем свою линию */
    color: #0088cc !important; /* Цвет ссылки при наведении на нее курсора */
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
    z-index: 1 !important;
}

.fix-infopanel{
    position: relative !important;
}
.infopanel{
    position: fixed;
    overflow: hidden;
    bottom: 10px;
    z-index: 20000;
}
.pnlContainer {
    position: relative;
}
.pnlContainerDragDiv {
    background-color: #d3d3d3;
    border:2px solid #CCCCCC;
    position:relative;
    left:20px;
    top:25px;
    padding:0px;
    margin:0px;
    width: 20px;
    height: 18px;
    border-radius: 5px;
    text-shadow: 1px;
    text-align: center;
}
.pnlContainerCropbox {
    position: absolute;
    top: 0px;
    left: 0px;
}


.visibleForCentrOnly{
    background-color: #e3dce6;
}
.visibleForCentrOnly .well{
    background-color: #e3dce6;
}

.text-positive{
    color: #006400;
}.text-negative{
    color: #8b0000;
}
.signsCounter{
    float:left;
}

.mySign{
    border:lightblue dashed thin;
    padding:5px;
    text-align: right;
}
.notMySign{
    padding:5px;
}
.mySignStatus{
    float:left;
    margin: 3px;
}
.mySignButtons{
    text-align: right;
    float: right;width: 100%;text-align: right;margin-bottom: 5px;margin-right: 5px;
}

.alert{
    word-wrap: break-word;
}

.fade {
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -moz-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear;
}
.fade.in { opacity:1; }
.collapse {
    position:relative;
    height:0;
    overflow:hidden;
    overflow:visible \9;
    -webkit-transition:height .35s ease;
    -moz-transition:height .35s ease;
    -o-transition:height .35s ease;
    transition:height .35s ease;
}
.collapse.in { height:auto; }
.close {
    float:right;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    color:#000000;
    text-shadow:0 1px 0 #ffffff;
    opacity:0.2;
    filter:alpha(opacity=20);
}
.close:hover {
    color:#000000;
    text-decoration:none;
    cursor:pointer;
    opacity:0.4;
    filter:alpha(opacity=40);
}
button.close {
    padding:0;
    cursor:pointer;
    background:transparent;
    border:0;
    -webkit-appearance:none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert {
    font-size:13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert,
.alert h4 {
    color: #c09853;
}

.alert h4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success h4 {
    color: #468847;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info h4 {
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}



.btn:not(.btn-link) a{
    color: #ffffff;
}
.btn:not(.btn-link):not(.btn-inverse):not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger) a{
    color: black;
}

.btn:not(.btn-link) a:hover{
    text-decoration: none;
}

div.form:not(.btn){
    margin-bottom:20px;
}

.order_task{
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 50px;
    padding: 20px;
    background: url("../../../js/common_all/jquery_ui/last/css/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png") repeat-x scroll 50% 50% #FBF9EE;
    border: 1px solid #FCEFA1;
    color: #363636;
}

.free_delivery_notice{
    background-color: red; color: white;
    padding-left: 6px; border-right-width: 4px; padding-right: 6px;
}

.no_fast_delivery_via_qnits_notice{
    background-color: #0000ff; color: white;
    margin-left: 0px; padding-left: 5px; border-right-width: 10px; padding-right: 5px;
}

.errorMessage{
    color:red;
}
small{
    font-size: 11px;
    color:#999;
}

#bootFlashes{
    bottom: 0;
    position: fixed;
    right: 15px;
    width: 500px;
    z-index: 2147483647;
}

/*CacheRefreshWidget */
.cacheReloadHover:not(.cacheRefreshWidgetButton){opacity: 0.5;} /* подсветка для перезагружаемой области  */
.debugSeparatelyHover{opacity: 0.5;} /* подсветка */
.widgetToolCacheRefreshWidget{
    position:absolute;
}  /* сам виджет  */

/* совместимость для бутстраповских кнопочек */
.btn {
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding:4px 14px;
    margin-bottom:0;
    font-size:13px;
    line-height:20px;
    *line-height:20px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    color:#333333;
    text-shadow:0 1px 1px rgba(255,255,255,0.75);
    background-color:#f5f5f5;
    background-image:-moz-linear-gradient(top,#ffffff,#e6e6e6);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
    background-image:-webkit-linear-gradient(top,#ffffff,#e6e6e6);
    background-image:-o-linear-gradient(top,#ffffff,#e6e6e6);
    background-image:linear-gradient(to bottom,#ffffff,#e6e6e6);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00e5e5e5', GradientType=0);
    border-color:#e6e6e6 #e6e6e6 #bfbfbf;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#e6e6e6;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border:1px solid #bbbbbb;
    *border:0;
    border-bottom-color:#a2a2a2;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *margin-left:.3em;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color:#333333;
    background-color:#e6e6e6;
    *background-color:#d9d9d9;
}
.btn:active, .btn.active { background-color:#cccccc \9; }
.btn:first-child { *margin-left:0; }
.btn:hover {
    color:#333333;
    text-decoration:none;
    background-color:#e6e6e6;
    *background-color:#d9d9d9;
    background-position:0 -15px;
    -webkit-transition:background-position .1s linear;
    -moz-transition:background-position .1s linear;
    -o-transition:background-position .1s linear;
    transition:background-position .1s linear;
}
.btn:focus {
    outline:thin dotted #333333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}
.btn.active, .btn:active {
    background-color:#e6e6e6;
    background-color:#d9d9d9 \9;
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
    cursor:default;
    background-color:#e6e6e6;
    background-image:none;
    opacity:0.65;
    filter:alpha(opacity=65);
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.btn-large {
    padding:9px 14px;
    font-size:15px;
    line-height:normal;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.btn-large [class^="icon-"] { margin-top:2px; }
.btn-small {
    padding:3px 9px;
    font-size:11px;
    line-height:18px;
}
.btn-small [class^="icon-"] { margin-top:0; }
.btn-mini {
    padding:2px 6px;
    font-size:10px;
    line-height:16px;
}
.btn-block {
    display:block;
    width:100%;
    padding-left:0;
    padding-right:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.btn-block + .btn-block { margin-top:5px; }
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active { color:rgba(255,255,255,0.75); }
.btn {
    border-color:#c5c5c5;
    border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#006dcc;
    background-image:-moz-linear-gradient(top,#0088cc,#0044cc);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0044cc));
    background-image:-webkit-linear-gradient(top,#0088cc,#0044cc);
    background-image:-o-linear-gradient(top,#0088cc,#0044cc);
    background-image:linear-gradient(to bottom,#0088cc,#0044cc);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000088cc', endColorstr='#000043cc', GradientType=0);
    border-color:#0044cc #0044cc #002a80;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#0044cc;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color:#ffffff;
    background-color:#0044cc;
    *background-color:#003bb3;
}
.btn-primary:active, .btn-primary.active { background-color:#003399 \9; }
.btn-warning {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#faa732;
    background-image:-moz-linear-gradient(top,#fbb450,#f89406);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image:-webkit-linear-gradient(top,#fbb450,#f89406);
    background-image:-o-linear-gradient(top,#fbb450,#f89406);
    background-image:linear-gradient(to bottom,#fbb450,#f89406);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fab44f', endColorstr='#00f89406', GradientType=0);
    border-color:#f89406 #f89406 #ad6704;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#f89406;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color:#ffffff;
    background-color:#f89406;
    *background-color:#df8505;
}
.btn-warning:active, .btn-warning.active { background-color:#c67605 \9; }
.btn-danger {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#da4f49;
    background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ee5f5b', endColorstr='#00bd362f', GradientType=0);
    border-color:#bd362f #bd362f #802420;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#bd362f;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color:#ffffff;
    background-color:#bd362f;
    *background-color:#a9302a;
}
.btn-danger:active, .btn-danger.active { background-color:#942a25 \9; }
.btn-success {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#5bb75b;
    background-image:-moz-linear-gradient(top,#62c462,#51a351);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image:-webkit-linear-gradient(top,#62c462,#51a351);
    background-image:-o-linear-gradient(top,#62c462,#51a351);
    background-image:linear-gradient(to bottom,#62c462,#51a351);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0062c462', endColorstr='#0051a351', GradientType=0);
    border-color:#51a351 #51a351 #387038;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#51a351;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color:#ffffff;
    background-color:#51a351;
    *background-color:#499249;
}
.btn-success:active, .btn-success.active { background-color:#408140 \9; }
.btn-info {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#49afcd;
    background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
    background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005bc0de', endColorstr='#002f96b4', GradientType=0);
    border-color:#2f96b4 #2f96b4 #1f6377;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#2f96b4;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color:#ffffff;
    background-color:#2f96b4;
    *background-color:#2a85a0;
}
.btn-info:active, .btn-info.active { background-color:#24748c \9; }
.btn-inverse {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#363636;
    background-image:-moz-linear-gradient(top,#444444,#222222);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#444444),to(#222222));
    background-image:-webkit-linear-gradient(top,#444444,#222222);
    background-image:-o-linear-gradient(top,#444444,#222222);
    background-image:linear-gradient(to bottom,#444444,#222222);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00444444', endColorstr='#00222222', GradientType=0);
    border-color:#222222 #222222 #000000;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#222222;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    color:#ffffff;
    background-color:#222222;
    *background-color:#151515;
}
.btn-inverse:active, .btn-inverse.active { background-color:#090909 \9; }
button.btn, input[type="submit"].btn {
    *padding-top:3px;
    *padding-bottom:3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding:0;
    border:0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
    *padding-top:7px;
    *padding-bottom:7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
    *padding-top:3px;
    *padding-bottom:3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
    *padding-top:1px;
    *padding-bottom:1px;
}
.btn-link, .btn-link:active {
    background-color:transparent;
    background-image:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.btn-link {
    border-color:transparent;
    cursor:pointer;
    color:#0088cc;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.btn-link:hover {
    color:#005580;
    text-decoration:underline;
    background-color:transparent;
}
.btn-group {
    position:relative;
    font-size:0;
    white-space:nowrap;
    *margin-left:.3em;
}
.btn-group:first-child { *margin-left:0; }
.btn-group + .btn-group { margin-left:5px; }
.btn-toolbar {
    font-size:0;
    margin-top:10px;
    margin-bottom:10px;
}
.btn-toolbar .btn-group {
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.btn-toolbar .btn + .btn, .btn-toolbar .btn-group + .btn, .btn-toolbar .btn + .btn-group { margin-left:5px; }
.btn-group > .btn {
    position:relative;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.btn-group > .btn + .btn { margin-left:-1px; }
.btn-group > .btn, .btn-group > .dropdown-menu { font-size:13px; }
.btn-group > .btn-mini { font-size:11px; }
.btn-group > .btn-small { font-size:12px; }
.btn-group > .btn-large { font-size:16px; }
.btn-group > .btn:first-child {
    margin-left:0;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
}
.btn-group > .btn.large:first-child {
    margin-left:0;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
}
.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index:2; }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline:0; }
.btn-group > .btn + .dropdown-toggle {
    padding-left:8px;
    padding-right:8px;
    -webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    *padding-top:5px;
    *padding-bottom:5px;
}
.btn-group > .btn-mini + .dropdown-toggle {
    padding-left:5px;
    padding-right:5px;
    *padding-top:2px;
    *padding-bottom:2px;
}
.btn-group > .btn-small + .dropdown-toggle {
    *padding-top:5px;
    *padding-bottom:4px;
}
.btn-group > .btn-large + .dropdown-toggle {
    padding-left:12px;
    padding-right:12px;
    *padding-top:7px;
    *padding-bottom:7px;
}
.btn-group.open .dropdown-toggle {
    background-image:none;
    -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group.open .btn.dropdown-toggle { background-color:#e6e6e6; }
.btn-group.open .btn-primary.dropdown-toggle { background-color:#0044cc; }
.btn-group.open .btn-warning.dropdown-toggle { background-color:#f89406; }
.btn-group.open .btn-danger.dropdown-toggle { background-color:#bd362f; }
.btn-group.open .btn-success.dropdown-toggle { background-color:#51a351; }
.btn-group.open .btn-info.dropdown-toggle { background-color:#2f96b4; }
.btn-group.open .btn-inverse.dropdown-toggle { background-color:#222222; }
.btn .caret {
    margin-top:8px;
    margin-left:0;
}
.btn-mini .caret, .btn-small .caret, .btn-large .caret { margin-top:6px; }
.btn-large .caret {
    border-left-width:5px;
    border-right-width:5px;
    border-top-width:5px;
}
.dropup .btn-large .caret {
    border-bottom:5px solid #000000;
    border-top:0;
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color:#ffffff;
    border-bottom-color:#ffffff;
}
.btn-group-vertical {
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.btn-group-vertical .btn {
    display:block;
    float:none;
    width:100%;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.btn-group-vertical .btn + .btn {
    margin-left:0;
    margin-top:-1px;
}
.btn-group-vertical .btn:first-child {
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
}
.btn-group-vertical .btn:last-child {
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
.btn-group-vertical .btn-large:first-child {
    -webkit-border-radius:6px 6px 0 0;
    -moz-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
}
.btn-group-vertical .btn-large:last-child {
    -webkit-border-radius:0 0 6px 6px;
    -moz-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
}