/*----
This is the css file for a S2 layout created by http://cartonage.livejournal.com

It's based on the S2 style Expressive and part of the "Pretty It Up" project.

You can add your own header, must be 665 x 221 px.

More instructions on how to go about the header and how to "install" the layout

can be found at http://cartonage.livejournal.com

// header picture by Dragon30 @ photocase.com
------------------------------------------------*/




/* general formatting --------------------------------------------------- */
body {
font-family: Verdana, sans-serif;
font-size: 11px;
color:#898989;
background:url(http://img510.imageshack.us/img510/7380/bgnm1.jpg) repeat-x #14364c;
margin:0px;
padding:0px;
}

a {
text-decoration:none;
color: #337482;
}

a:hover {
text-decoration: none;
color:#ff5f00;
}




/* Tiny Icons Stuff --*/

         .lj-entry-securityicon img[src="http://stat.livejournal.com/img/icon_protected.gif"], dd.viewsubjects img[src="http://stat.livejournal.com/img/icon_protected.gif"]{
		width: 0;
		height: 0;
		padding: 15px 11px 0px 0px;
		background: url(http://img297.imageshack.us/img297/617/flockedkw8.gif);
		}

	.lj-entry-securityicon img[src="http://stat.livejournal.com/img/icon_private.gif"], dd.viewsubjects img[src="http://stat.livejournal.com/img/icon_private.gif"]{
		width: 0;
		height: 0;
		padding: 16px 16px 0px 0px;
		background: url(http://img297.imageshack.us/img297/2373/privatexq9.jpg);
		}

	.ljuser img {
  		width: 0;
  		height: 0;
  		background-repeat: no-repeat;
  		background-color:transparent;
  		/* so that IE users will still see an image */
  		background-image: url(http://img510.imageshack.us/img510/5078/userur7.gif);
  		padding: 13px 10px 0 12px;
		}
../Pretty%20It%20Up%20Part%20V%20green/stylegreen.css
	.ljuser img[src="http://stat.livejournal.com/img/userinfo.gif"] {
		background-color:transparent;
  		background-image: url(http://img510.imageshack.us/img510/5078/userur7.gif);
  		padding: 13px 10px 0px 12px;
		}



	.ljuser img[src="http://stat.livejournal.com/img/community.gif"] {
		background-color:transparent;
 		background-image: url(http://img510.imageshack.us/img510/7723/commkr8.gif);
 		padding: 14px 14px 0 12px;
		}

        span.ljuser a b, .user-icon .ljuser a{padding-left:0px; font-weight:normal; border-bottom:1px solid #43aea1; color:#337482;}
        span.ljuser a:hover b{color:#; border-bottom:1px solid #f8790a;}




/* page structure ----------------------------------------------------------- */

#container-inner {
    width: 800px;
    min-height: 100%;
    margin: 0 auto;
    text-align: left;
}

#page-inner {
width: 800px;
margin: 0 0 0 0;
}

#content-inner {
padding: 0;
margin: 0;
}

#alpha {
width:577px;
float:left;
}

#alpha-inner {
margin: 0;
padding:0;
}


#beta,
#gamma {
    width: 195px;
    margin:90px 0px 0px 27px;
    float:right;

}

#beta-inner,
#gamma-inner {
    margin: 0;
}


/* page banner header ----------------------------------------------------------- */



#header {
position: static; /* fixes positioning issue on IE where header content displays outside #header-content */
margin:0px;
padding:0px;
}

#header-inner {
width:800px;
position: static; /* fixes positioning issue on IE where header content displays outside #header-content */
background-position: top right;
background-repeat: no-repeat;
background-image: url(http://farm5.static.flickr.com/4051/4523298832_79f6554064_o.jpg);
}

#header-content-inner {
margin:0px;
padding-bottom: 0px;
}

#header-text {
float: left;
margin-top: 0px;
}


#header .nav{
    margin-bottom: 35px;
}

#header-name, #header-description {
display:none;
}

#header-description,
#header-description a {
color: #cccccc;
}



/* header nav styles ------------------------------------------------- */

.nav {
    clear: both;
    display: block;
    position: relative;
    overflow: hidden;
    width: 135px;
    height:221px;
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    background:url(http://farm3.static.flickr.com/2746/4522664763_4e622eb279_o.jpg);
}

.nav .item {
    display: block;
    position: relative;
    float: left;
}

.nav .item a {
    display: block;
    position: relative;
    float: left;
    text-decoration:none;
    width:27px;
    height:221px;
    font-size:0px;
    line-height:0px;
    color:#386c19;
}

.nav .item a:hover {
    background:url(http://img297.imageshack.us/img297/9662/menuhovze2.jpg) no-repeat top right;
    color:#ee8526;
}

.nav,
.nav a { color: #999; }

.nav a:hover {
    text-decoration: none;
}

/* headers and captions -------------------------------------------- */

.asset-name { font-weight: bold; }

.asset-name,
.asset-name a,
.page-header1,
.page-header2,
.page-header3 {
color: #444444;
}


/*hover edit --------------------------------------------------*/
/*in LJ, this is the sticky post header*/
.asset-name-hover {
background-color: #f6f8f2;
}

/* widget styling --------------------------------------------------*/

.widget {
    margin-bottom: 35px;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
    line-height: 1.2;
    background:url(http://img510.imageshack.us/img510/1316/widgetbottomtk4.jpg) no-repeat bottom right;
    padding:0px 0px 8px 0px;
}


.widget-header {
    display:none;
}

.widget .widget-header a:hover {
text-decoration: underline;
}


.archive-widget ul.widget-list .item,
.widget a { color: #242424; }


.widget-inner {
      background:url(http://img510.imageshack.us/img510/1961/widgetbgbx9.jpg);
      }


.widget ul, .widget ol, .widget dl { margin-bottom: 0; }

.widget-footer {
font-size: 10px;
margin:20px 0px 0px 0px;
text-align:right;
}

.widget-footer a {
text-decoration:none;
font-weight:normal;
color:#54b1a7!important;
}

.widget-footer p {
line-height: 1;
margin: 0;
padding: 0;
}

* html .widget-footer a {
/* Win IE < 7 */
padding: 0 15px;
word-wrap: break-word;
}

.widget-footer  a {
background:url(http://img510.imageshack.us/img510/6374/widgetfootervn7.jpg) no-repeat bottom left;
padding:0px 0px 0px 17px;
}

.widget-footer a:hover {
color:#fff!important;
}

.syndicate-widget,
.powered-widget,
.archive-widget,
.designed-widget {
display:none;
}


.widget-content {
    margin-bottom: 10px;
    background:url(http://img510.imageshack.us/img510/4024/widgetcontentki4.jpg) no-repeat top right;
    min-height:135px;
    padding:15px 38px 0px 15px;
    color:#54b1a7;
}

*html .widget-content {
height:135px;
}

.about-me-widget .widget-content {
background:url(http://img510.imageshack.us/img510/6624/profilebw8.jpg) no-repeat top right;
}

.calendar-widget .widget-content {
background:url(http://img510.imageshack.us/img510/8248/calendarek4.jpg) no-repeat top right;
}

.typelist-widget .widget-content {
background:url(http://img510.imageshack.us/img510/8263/linkswo6.jpg) no-repeat top right;
}

.categories-widget .widget-content {
background:url(http://img510.imageshack.us/img510/4857/tagssp5.jpg) no-repeat top right;
}

.customtext-widget .widget-content {
background:url(http://img510.imageshack.us/img510/4803/blurbwy3.jpg) no-repeat top right;
font-size:10px;
}


/*--------Calendar widget ---------*/

.widget-content table {
font-size:10px;
border-bottom:1px solid #2e5d76;
}

.widget-content table td {
padding:1px 0px 1px 0px;
text-align:center;
}

.widget-content table th {
padding:1px 0px 1px 0px;
text-align:center;
background:#397d8b;
color:#5ac7b1;
font-weight:normal;
}

.widget-content table td a{
letter-spacing:1px;
color:#fff;
}

.widget-content table td a:hover{
background:#ec8632;
}

/* widget styling --------------------------------------------------*/


.archive-widget ul.widget-list .item,
.widget a { color: #dddddd; }


/*------Tags & Links List ---*/

ul.widget-list {
list-style-type:none;
padding:0px;
margin:0px 0px 0px 0px;

}

*html ul.widget-list{
font-size:0px;
line-height:0px;
}

*html .widget-list li {
font-size:0px;
line-height:0px;
}

.widget-list li a {
display:block;
font-size:11px!important;
text-decoration:none;
padding:6px 5px 6px 5px;
font-weight:normal;
border-bottom:1px solid #397c89;
color:#54b1a7;

}

*html .widget-list li a {
line-height:0px;
padding:12px 5px 12px 5px!important;
}

.widget-list li a:hover {
background:#397d8b;
color:#ffffff;
}

/*-------Profile Widget---------*/

.widget-content .user-pic {
background:url(http://img510.imageshack.us/img510/307/userpicfo9.jpg) no-repeat top left;
width:55px;
height:73px;
padding:5px 0px 0px 5px;
}

.widget-content .user-pic img {
width:50px;
height:50px;
}


dl.profile-list{
margin:0px;
padding:0px;
}

dl.profile-list dd{
margin:0px;
padding:4px;
font-size:10
}

.profile-username .ljuser a b{
border-bottom:none;
letter-spacing:1px;
color:#54b1a7;
}

.profile-username {
border-bottom:1px solid #357386;
padding:4px 0px 4px 0px!important;
}

.profile-name a{
font-size:10px;
background:url(http://img510.imageshack.us/img510/6374/widgetfootervn7.jpg) no-repeat bottom left;
padding:0px 0px 0px 15px;
}

.profile-name a:hover {
color:#54b1a7;
}


/* asset/Entry styling  --------------------------------------------------*/

.asset {
clear:both;
margin:0px 0px 50px 0px;
}


.asset-header {
clear:both;
background:url(http://img510.imageshack.us/img510/341/topmiddlegx2.jpg) repeat-x #fff;
}

.asset-header-inner {
background:url(http://img510.imageshack.us/img510/2954/entrytoprightmk0.jpg) no-repeat top right;
}

.asset-header-content {
background:url(http://img510.imageshack.us/img510/6247/entrytopleftxi5.jpg) no-repeat top left;
padding:18px 20px 0px 60px;
margin:0px;
}

*html .asset-header-content {
padding:12px 20px 0px 60px;
}

.asset-body {
/*min-height:180px;*/
padding:20px;
line-height:17px;
color:#898989;
width:537px;
overflow:auto;
}

.asset-content {
background:url(http://img510.imageshack.us/img510/1975/entrybodyel2.jpg) no-repeat bottom right #fff;
padding:0px 0px 22px 0px;
}


.asset-content blockquote {
padding: 10px 0px 0px 16px;
background:url(http://img510.imageshack.us/img510/9650/blockquotefx2.gif) no-repeat top left;
font-size: 11px;
color:#b3b3b3;
margin:0px 10px 5px 30px;
}

/* Win IE < 7 */
* html .asset-content ol { margin-left: 25px;}

.asset-stream-list .post-asset .asset-name { margin-top: 0; }

.asset-stream-grid .asset-inner {
background-color: #eff3f7;
padding: 0;
}

.asset .asset-meta dd a {
color: #333333;
}


/*-------------User Icon ----------*/
.user-icon {
float:left;
position:relative;
margin:0px 10px 10px 0px;
font-size:10px;
text-align:center;
background:transparent!important;
}

.user-icon span{
background:transparent!important;
}

.user-icon img {
padding:5px;
border:1px solid #e0e0e0;
}


/*--------------entry subject ----------*/

h2 {
font-size:11px;
color:#ff5f00;
letter-spacing:1px;
}

h2 a {
text-decoration:none;
color:#ff5f00!important;
font-weight:normal!important;
}


/*----------Entry Tags ---------------*/

.asset-tags-list {
font-size: 10px;
list-style-type:none;
background:url(http://img510.imageshack.us/img510/5671/tagnl6.gif) no-repeat top left;
margin:0px 20px 0px 23px;
padding:10px 8px 8px 13px;
color:#adadad;
}

.asset-tags-list li.item {
display:inline;
padding:0px!important;
border:none!important;
}

.asset-tags-list li.item a {
font-weight:normal;
text-decoration:none;
color:#41aca0;
}

.asset-tags-list li.item a:hover {
color:#ff5f00;
}

.asset-tags-header { display:none;}

/*-------------Entry Date -----------------*/

.asset-header .asset-meta-list li.item {
color:#bababa;
font-size:10px;
background:url(http://img510.imageshack.us/img510/7931/datend6.gif) no-repeat center left;
padding:8px 0px 5px 15px!important;
margin:0px;
line-height:0px;
border:none!important;
}

*html .asset-header .asset-meta-list li.item {
padding:5px 0px 5px 15px!important;
}

.asset-header .asset-meta-list {
width:300px;
background:transparent;
height:15px;
margin:0px;
padding:0px 0px 0px 15px;
}

/*--- Entry nav----------*/

.asset-meta-list{
background:url(http://img68.imageshack.us/img68/1272/entryfooterph5.jpg) no-repeat bottom left;
width:542px;
height:42px;
}

ul.asset-meta-list {
list-style-type:none;
margin:0px!important;
padding:0px 0px 0px 35px!important;
}

li.asset-meta-comments {
display:block;
float:left;
font-size:10px;
padding:0px!important;
}

li.asset-meta-comments a {
display:block;
float:left;
text-decoration:none;
height:27px;
padding:15px 5px 0px 20px;
font-weight:normal;
background:url(http://img510.imageshack.us/img510/8708/commentlinksbgkn5.jpg) no-repeat top left;
color:#9a9a9a;
}


li.asset-meta-comments a:hover {
color:#ff5f00;
}

.asset-detail .asset-containers,
.comment-even,
.comment-error {
border-width: 0px;
border-style: solid;
border-color: #d9ecc7;
}

#comment-form textarea {
border: 1px solid #979797;
border-right-color: #e5e4e4;
border-bottom-color: #e5e4e4;
}

.comment-form-footer input { border: 1px #a9a9a9 solid; }

.recent-activity-posts .post-asset,
.asset-containers .post-asset {
background-position: 0 4px;
}

/* Pager ------------------------------------------------------------------ */
.pager a,
.pager .current a { color: #478bb6; }


/* Utility Code --------------------------------------------------- */

/* clear floats, inspired by positioniseverything.net/easyclearing.html */
.comment-body:after,
#page-inner:after,
#header-inner:after,
#header-photo:after,
#content-inner:after,
#alpha-inner:after,
#beta-inner:after,
#gamma-inner:after,
#delta-inner:after,
#footer-inner:after,
.widget .user-pic:after {
content: ".";
display: block;
visibility: hidden;
clear: both;
height: 0.1px;
font-size: 0.1em;
line-height: 0.1px;
}

/* float in post bodies around enclosures */
#content-inner,
.asset-body {
height: 1%;
}

/* Win IE  7 */
* html #header-name a { word-wrap: break-word; }

/* previous & next --------------------------------------------------------------*/

a.prev {
font-size:0px;
display:block;
width:49px;
height:43px;
background:url(http://farm5.static.flickr.com/4024/4522664923_38dd2dc73a_o.jpg) no-repeat top left;
visibility:visible;
float:left;
margin:0px 0px 35px 0px;
line-height:0px;
}

a:hover.prev{
background:url(http://farm5.static.flickr.com/4024/4522664923_38dd2dc73a_o.jpg) no-repeat top right;
color:#14364c;
}

a.next {
font-size:0px;
display:block;
width:49px;
height:43px;
background:url(http://farm5.static.flickr.com/4045/4523298998_1a64b50db3_o.jpg) no-repeat top left;
visibility:visible;
float:left;
margin:0px 0px 35px 20px;
line-height:0px;
}

a:hover.next{
background:url(http://farm5.static.flickr.com/4045/4523298998_1a64b50db3_o.jpg) no-repeat top right;
color:#14364c;
}

.prevnext {
visibility:hidden;
font-size:0px;
line-height:0px;
clear:both;
margin:0px 0px 10px 0px;
}

.prevnext a {
line-height:0px;
font-size:0px;
color:#14364c;
}

/*-------------currents--------------*/

.lj-currents {
margin:0px 20px 0px 23px;
font-size:10px;
background:url(http://img297.imageshack.us/img297/7556/moodbh0.gif) no-repeat top left;
padding:8px 8px 8px 12px;
color:#adadad;
}

.lj-currents a {
color:#adadad;
text-decoration:none;
font-weight:normal;
}

.lj-currents img {
display:none;
}

.lj-currents .entryMetadata-label {
margin:0px 4px 0px 0px;
color:#898989;
}

.lj-currents ul{
margin:0px;
padding:0px;
list-style-type:none;
}

/*-------archive pages ----------------*/

.lj-view-archive .asset-body, .lj-view-month .asset-body{
background:none;
padding:0;
margin:0;
}

.lj-view-archive .asset-header-content, .lj-view-month .asset-header-content{
margin:0;
padding:0;
}

.lj-view-archive .asset-body, .lj-view-month .asset-body  {
padding:0px;
line-height:13px;
overflow:visible;
}


.lj-view-archive .asset-content, .lj-view-month .asset-content {
background:none;
padding:0px;
}


.yeartable {
width:577px;
height:368px;
margin:0px;
padding:30px;
background:url(http://img510.imageshack.us/img510/7659/archivedw7.jpg) no-repeat top left;
clear:both;
}

td.yearmonth {
font-size:11px;
color:#ff5f00;
letter-spacing:1px;
padding:0px 0px 15px 30px;
}

.yearday {
color:#ffffff;
text-align:center;
background:#337482;
padding:4px;
}

td.yeardate div {
text-align:center;
padding:4px;
}

td.yeardate div{
border:1px solid #cccccc;
}

td.yeardate div a {
font-weight:bold;
}

ul.year {
list-style-type:none;
margin:0px;
padding:0px;
}

ul.year li {
display:block;
height:28px;
width:49px;
background:url(http://img510.imageshack.us/img510/4190/yearfx2.jpg) no-repeat top left;
float:left;
margin:0px 0px 30px 0px;
color:#7fcc95;
padding:15px 0px 0px 10px;
}

ul.year li a {
color:#ffffff;
}

dt {
display:block;
height:28px;
width:49px;
background:url(http://img510.imageshack.us/img510/4190/yearfx2.jpg) no-repeat top left;
margin:15px 0px 15px 0px;
color:#7fcc95;
padding:15px 0px 0px 15px;
}

dt a b {
font-weight:normal;
color:#7fcc95;
}

dt a:hover b {
color:#fff;
}

dd.viewsubjects {
line-height:18px;
color: #295363;
}



/*- comments----------------------------------*/


#comments .comment {
background:url(http://img510.imageshack.us/img510/6071/ccornertoprighthf6.jpg) no-repeat top right #fff ;
margin-bottom:20px;
}

#comments input, #comments textarea {
border: 1px solid #7f7f7f;
}

.comment-odd, .comment-even {
border:none!important;
}

.comment-inner {
background:url(http://img510.imageshack.us/img510/9644/ccornertopleftte1.jpg) no-repeat top left;
}

#comments .comment-odd .comment-links {
background:url(http://img510.imageshack.us/img510/5382/ccornerleftbottom1zf4.jpg) no-repeat bottom left #254d66;
padding:8px 10px 10px 14px;
margin:0px 14px 0px 0px;
color:#337482;
clear:both;
}

#comments .comment-even .comment-links {
background:url(http://img510.imageshack.us/img510/6440/ccornerleftbottom2dg9.jpg) no-repeat bottom left #2f637b;
padding:8px 10px 10px 14px;
margin:0px 14px 0px 0px;
color:#337482;
clear:both;
}

*html #comments .comment-even .comment-links{
padding:4px 0px 0px 14px!important;
height:30px;
}

*html #comments .comment-odd .comment-links{
padding:4px 0px 0px 14px!important;
height:30px;
}


.comment-links a {
color:#54b1a7;
}

.comment-links a:hover {
color:#ff5f00;
}

#comments .comment-odd .comment-meta {
background:url(http://img510.imageshack.us/img510/1680/ccornerrightbottom1ol5.jpg) no-repeat bottom right;
padding:15px 0px 0px 0px;
margin:0px;
}

#comments .comment-even .comment-meta {
background:url(http://img510.imageshack.us/img510/6126/ccornerrightbottom2ik4.jpg) no-repeat bottom right;
padding:15px 0px 0px 0px;
margin:0px;
}

.comment-body {
background:#ffffff;
padding:15px!important;
margin:0px!important;
line-height:16px;
width:auto;
}

*html .comment-body {
height:70px;
}

.comment .user-icon {
margin:0px 10px 10px 15px;
}

*html .comment .user-icon {
margin:0px 10px 10px 7px;
}

.comment-date {
color:#bababa;
font-size:10px;
margin:0px;
background:#fff;
}

.comment-date abbr.datetime {
background:url(http://img510.imageshack.us/img510/7931/datend6.gif) no-repeat 0px 2px #fff;
padding:0px 0px 0px 14px;
}

.commenter-name {
font-size:10px;
}

.comment-subject {
font-size:11px;
color:#ff5f00;
letter-spacing:1px;
padding:0px;
background:#fff;
}

/*----------Collapsed Comments---------*/

.collapsed-comment {
padding:5px;
color:#295363;
background:#14364c!important;
}

.collapsed-comment-link {
background:#14364c!important;
}

i.nosubject{
background:#14364c!important;
}


/*----------Comment links top & bottom ----------*/

h2.comments-header {
background:url(http://img510.imageshack.us/img510/9025/commentheaderic6.jpg) no-repeat top left;
width:159px;
height:41px;
font-weight:normal;
color:#80cd96;
padding:13px 0px 0px 0px!important;
text-align:center;
margin:0px 0px 20px 205px;
}

#alpha-inner hr {
display:none;
}

.comments-nav {
text-align:center;
margin:0px 0px 20px 0px;
color:#295363;
}

.comments-body table, #alpha-inner p, .skiplinks  {
color:#295363;
}

.comments-body table a b{
padding:3px;
font-weight:normal;
color:#337482;
}

.comments-body table a:hover b{
color:#ff5f00;
}

.comments-body table b{
padding:3px;
font-weight:normal;
color:#295363;
}

.skiplinks {
text-align:center;
margin:0px 0px 30px 0px;
}

/*-----------reply thingies----------*/

textarea#commenttext.textbox {
width:90%;
height:110px;
}

form#postform {
background:url(http://img510.imageshack.us/img510/7659/archivedw7.jpg) no-repeat top left;
height:368px;
padding:20px 20px 20px 35px;
font-size:10px;
}

textarea, input#subject.textbox, select {
background:transparent!important;
border:1px solid #cccccc!important;
margin:0px 0px 4px 0px;
font-size:11px;
font-family:Verdana, sans-serif;
color:#898989;
padding:2px;
}


option {
background:#ffffff;
padding:1px;
border-bottom:1px solid #efefef;
}

textarea:focus, input:focus, input#subject.textbox:focus, select:focus {
border:1px solid #ff5f00!important;
}

b label, label b {
font-weight:normal;
font-size:10px;
}

tr#ljuser_row {
      background-image:url(http://img510.imageshack.us/img510/5078/userur7.gif) no-repeat;
      background-repeat:no-repeat;
      background-position:5px 2px;
      }
     tr#ljuser_row img {
       display:none;
       }

input#talkpostfromremote {
background:#cccccc!important;
}

input {
border:none!important;
background:#337482!important;
color:#fff;
font-size:11px;
font-family:Verdana, sans-serif;
padding:2px;
}

textarea#body.textbox{
width:90%!important;
height:110px;
}

form#qrform table {
border:1px solid #295363!important;
padding:10px;
margin:20px 0px 0px 0px;
}

form#qrform textarea,
form#qrform select,
form#qrform input,
form#qrform input#subject.textbox{
border:1px solid #295363!important;
}

form#qrform textarea:focus,
form#qrform select:focus,
form#qrform input:focus,
form#qrform input#subject.textbox:focus{
border:1px solid #ff5f00!important;
}

/*-------tag list--------------*/

#alpha-inner ul {
list-style-type:none;
}

.page-header2 {
color:#ff5f00;
}

/*--------contextual popup-*/

div.ContextualPopup div.Inner {
background: #fff!important;
border: 1px solid #337482!important;
padding: 5px;
color: #346f83 !important;
font-family:Verdana;
}

div.ContextualPopup div.Inner a, div.ContextualPopup div.Inner a:visited {
text-decoration: none !important;
font-weight: normal!important;
color: #ff5f00 !important;
}


div.ContextualPopup .Relation, div.ContextualPopup .Content .OnlineStatus {
font-weight: bold !important;
color: #337482;
}




























