.popup-city .v-select {
    border: 1px solid #ddd9ea;
    border-radius: 6px;
    height:45px
}

.popup-city .v-select .vs__dropdown-toggle {
    min-height: 43px;
    padding:1px 10px 0
}

.popup-city .v-select .vs__search::-moz-placeholder {
    align-items: center;
    color: #9896ae;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    min-height: 34px;
    padding: 10px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width:100%
}

.popup-city .v-select .vs__search::placeholder {
    align-items: center;
    color: #9896ae;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    min-height: 34px;
    padding: 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width:100%
}

.popup-city .v-select .vs__clear {
    background: url(../img/icons/clear_12x12.svg) 50% no-repeat;
    position: relative;
    right:-8px
}

.popup-city .v-select .vs__clear svg {
    opacity:0
}

.popup-city .vs__selected {
    margin:1px 2px 0
}

.popup-city .v-select .vs__dropdown-menu {
    max-height:200px
}

.popup-city .popup__wrap {
    max-height: 94vh;
    max-width:846px
}

.popup-city .field-text__wrap_search {
    display: block;
    height: 17px;
    top: 13px;
    width:17px
}

.popup-city .cities-list {
    -moz-columns: 4;
    column-count: 4;
    -moz-column-gap: 5.8%;
    column-gap:5.8%
}

.popup-city .cities-list a {
    display: block;
    padding:16px 0
}

.popup-city .cities-list a.marked {
    font-weight:700
}

@media (max-width: 850px) {
    .popup-city .cities-list {
        -moz-columns: 3;
        column-count: 3;
        -moz-column-gap: 3%;
        column-gap: 3%;
        margin-bottom:38px
    }
}

@media (max-width: 550px) {
    .popup-city .cities-list {
        -moz-columns: 2;
        column-count: 2;
        -moz-column-gap: 3%;
        column-gap: 3%;
        margin-bottom:38px
    }
}

.main-menu__wrap .mobile {
    display:none
}

.main-menu__menu {
    display: flex;
    gap:33px
}

.main-menu__menu a {
    font-weight:600
}

@media (max-width: 961px) {
    .main-menu {
        background: #00000080;
        bottom: 0;
        display: block;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        transition: .2s ease;
        width: 100%;
        z-index:20
    }

    .main-menu__wrap {
        background: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        left: -100%;
        padding: 20px 8px 24px 16px;
        position: relative;
        transition: .5s ease;
        width:295px
    }

    .main-menu__wrap .mobile {
        display:inherit
    }

    .main-menu__scroller {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        max-height: calc(100% - 53px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 2px;
        padding-right:8px
    }

    .main-menu__close {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 11px;
        width:40px
    }

    .main-menu__close img {
        height: 12px;
        width:12px
    }

    .main-menu__logo {
        margin-bottom:32px
    }

    .main-menu__logo img {
        height:24px
    }

    .main-menu__place, .main-menu__user {
        align-items: center;
        color: #2c2b67;
        cursor: pointer;
        display: flex;
        font-weight: 600;
        gap: 8px;
        margin-bottom:24px
    }

    .main-menu__place img, .main-menu__user img {
        height: 16px;
        min-width:16px
    }

    .main-menu__menu {
        border-top: 1px solid #ddd9ea;
        flex-direction: column;
        gap: 0;
        margin-bottom: 20px;
        margin-top:8px
    }

    .main-menu__menu a {
        align-items: center;
        border-bottom: 1px solid #ddd9ea;
        display: flex;
        font-weight: 600;
        height: 54px;
        justify-content:space-between
    }

    .main-menu__menu a:after {
        background: url(../img/icons/chevron-right_7x12.svg) 50% no-repeat;
        content: "";
        height: 12px;
        width:7px
    }

    .main-menu__auth {
        display: flex;
        flex-direction:column
    }

    .main-menu__auth > * {
        padding:12px 0
    }

    .main-menu__auth > .logout {
        align-self: flex-start;
        border-bottom: 1px solid #ddd9ea;
        color: #9896ae;
        padding-bottom:2px
    }

    .main-menu.open {
        opacity: 1;
        pointer-events:all
    }

    .main-menu.open .main-menu__wrap {
        left:0
    }
}

.header {
    background: #fff;
    border-bottom: 1px solid #ddd9ea;
    box-shadow: none;
    transition:.5s ease
}

.header.on-map, .header.scrolled {
    box-shadow:0 100px 80px #3c3c5f05, 0 41.7776px 33.4221px #3c3c5f04, 0 22.3363px 17.869px #3c3c5f03, 0 12.5216px 10.0172px #3c3c5f03, 0 6.6501px 5.32008px #3c3c5f02, 0 2.76726px 2.21381px #3c3c5f02
}

.header__wrap {
    align-items: center;
    display: flex;
    height: 62px;
    justify-content:space-between
}

.header__wrap_burger {
    display:none
}

.header__wrap_logo {
    margin-top:5px
}

.header__wrap_logo img {
    height:32px
}

.header__wrap_placeanduser {
    align-items: center;
    display: flex;
    gap:16px
}

.header__wrap_placeanduser .header-place, .header__wrap_placeanduser .header-user {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    gap:8px
}

.header__wrap_placeanduser .header-place img, .header__wrap_placeanduser .header-user img {
    height: 16px;
    min-width:16px
}

.header__wrap_placeanduser .header-place {
    color: #2c2b67;
    transition:.1s ease
}

.header__wrap_placeanduser .header-place:hover {
    color:#13a546
}

.header .header-user-popup {
    margin-right: -16px;
    padding: 16px;
    position:relative
}

.header .header-user-popup .header-user {
    position: relative;
    z-index:2
}

.header .header-user-popup__popup {
    background: #fff;
    border: 1px solid #ddd9ea;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    left: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 48px 16px 2px;
    position: absolute;
    top: 0;
    transition: .5s ease;
    width:100%
}

.header .header-user-popup__popup a {
    padding:16px 0
}

.header .header-user-popup__popup a:not(:last-child) {
    border-bottom:1px solid #ddd9ea
}

.header .header-user-popup__popup a:last-child {
    color:#9896ae
}

.header .header-user-popup__popup a:last-child:hover {
    color:#13a546
}

.header .header-user-popup.open .header-user-popup__popup {
    max-height: 400px;
    opacity:1
}

.header .header-user-popup.open .header-user {
    color:#13a546
}

@media (max-width: 961px) {
    .header.scrolled.filtered {
        box-shadow:none
    }

    .header__wrap {
        height: 62px;
        justify-content:center
    }

    .header__wrap_burger {
        align-items: center;
        display: block;
        display: flex;
        height: 40px;
        justify-content: center;
        left: 7px;
        position: absolute;
        width:40px
    }

    .header__wrap_logo img {
        height:24px
    }

    .header__wrap_placeanduser {
        display:none
    }
}

.footer {
    background: #f7f7fa;
    padding-bottom:32px
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    gap:24px
}

.footer__wrap_menu {
    align-items: center;
    border-bottom: 1px solid #ddd9ea;
    display: flex;
    gap: 32px;
    min-height:78px
}

.footer__wrap_menu a {
    font-weight:600
}

.footer__wrap_register {
    color: #9896ae;
    line-height:160%
}

.footer__wrap_register a {
    color:#9896ae
}

.footer__wrap_register a:hover {
    color:#13a546
}

.footer__wrap_info {
    margin-bottom:7px
}

.footer__wrap_copiright, .footer__wrap_info {
    color: #9896ae;
    line-height:140%
}

@media (max-width: 961px) {
    .footer__wrap_menu {
        flex-wrap: wrap;
        padding-bottom: 24px;
        padding-top: 24px;
        row-gap:24px
    }
}

@media (max-width: 767px) {
    .footer__wrap_menu {
        -moz-column-gap: 0;
        column-gap: 0;
        flex-direction: column;
        max-height:180px
    }

    .footer__wrap_menu a {
        width:50%
    }
}

.page-404.page {
    padding-bottom: 0;
    padding-top:0
}

.page-404 .container {
    flex:0 0 100%
}

.page-404.main__page {
    display: flex;
    min-height: 431px;
    overflow: hidden;
    position:relative
}

.page-404__wrap {
    padding-top:100px
}

.page-404__content {
    position: relative;
    z-index:1
}

.page-404__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom:24px
}

.page-404__comment {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom:16px
}

.page-404__desc {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 24px;
    max-width:451px
}

.page-404 .btn:hover {
    background: #423ba4;
    color:#fff
}

.page-404__img {
    bottom: -78px;
    height: 472px;
    position: absolute;
    right: -45px;
    width:697px
}

.page-404__img img {
    bottom: 0;
    position: absolute;
    right:0
}

@media (max-width: 992px) {
    .page-404__wrap {
        padding-top:16px
    }

    .page-404__content {
        padding-bottom:24px
    }

    .page-404__title {
        font-size: 18px;
        margin-bottom:16px
    }

    .page-404__comment {
        font-size:14px
    }

    .page-404__img {
        display: flex;
        justify-content: center;
        position: relative;
        width:auto
    }

    .page-404__img, .page-404__img img {
        bottom: auto;
        height: 342px;
        right:auto
    }

    .page-404__img img {
        max-width: none;
        position:static
    }

    .page-404 .btn {
        width: 100%
    }
}
