.page.page-home {
    padding-bottom: 100px;
    padding-top:70px
}

.page.page-home.page-home_with-top {
    padding-top:0
}

.page.page-home .page-home__top {
    background: url(/types/doctor/images/home-top-bg02.webp) 50% no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    padding:100px 0
}

.page.page-home .page-title {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align:center
}

.page.page-home .page-title.dark {
    color:#000
}

.page.page-home .page-title .city {
    border-bottom: 1px dotted #fff;
    color: #fff;
    cursor: pointer;
    transition: .1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select:none
}

.page.page-home .page-title .city:hover {
    border-bottom: 1px dotted transparent;
    color:#13a546
}

.page.page-home .home-form {
    display: flex;
    gap: 16px;
    margin: 0 auto 70px;
    max-width:837px
}

.page.page-home .home-form > * {
    height:46px
}

.page.page-home .home-form > :first-child {
    flex:1 1 auto
}

.page.page-home .home-form > :first-child .field-select__wrap {
    min-height: 46px;
    padding:0 16px
}

.page.page-home .home-form > .btn {
    width:216px
}

.page.page-home .home-form > .mobile {
    display:none
}

.page.page-home .counters {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width:650px
}

.page.page-home .counters__item {
    align-items: center;
    display: flex;
    flex-direction:column
}

.page.page-home .counters__item_img {
    margin-bottom:13px
}

.page.page-home .counters__item_counter {
    color: #fff;
    font-size: 23.5503px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom:5px
}

.page.page-home .counters__item_title {
    color: #fff;
    font-size:18.3169px
}

.page.page-home .home-citys {
    margin-bottom:100px
}

.page.page-home .home-citys__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 70px;
    text-align:center
}

.page.page-home .home-citys__desc {
    color: #9896ae;
    font-size: 16px;
    line-height: 140%;
    margin: 0 auto 70px;
    max-width: 480px;
    text-align:center
}

.page.page-home .home-citys__list {
    -moz-columns: 4;
    column-count: 4;
    -moz-column-gap: 24px;
    column-gap: 24px;
    margin-bottom:56px
}

.page.page-home .home-citys__list .item {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    margin-bottom: 24px;
    min-height: 28px;
    width:100%
}

.page.page-home .home-citys__list .item__counter {
    align-items: center;
    background: #13a546;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    justify-content: center;
    line-height: 100%;
    width:64px
}

.page.page-home .home-citys__list .item.marked .item__title {
    font-weight:700
}

.page.page-home .home-citys__all {
    display: flex;
    margin: 0 auto;
    max-width: 307px;
    width:100%
}

.page.page-home .press-about-as__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 54px;
    text-align:center
}

.page.page-home .press-about-as__desc {
    color: #9896ae;
    font-size: 16px;
    line-height: 140%;
    margin: 0 auto 70px;
    max-width: 480px;
    text-align:center
}

@media (min-width: 767px) {
    .page.page-home .press-about-as__slider .splide__list {
        display: flex !important;
        justify-content:space-between
    }
}

.page.page-home .entitys {
    display: flex;
    gap:96px
}

.page.page-home .entitys__entity {
    flex:0 0 calc(33.33333% - 64px)
}

.page.page-home .entitys__entity_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom:16px
}

.page.page-home .entitys__entity_list {
    display: flex;
    flex-direction: column;
    margin-bottom:24px
}

.page.page-home .entitys__entity_list .item {
    align-items: center;
    border-bottom: 1px solid #ddd9ea;
    display: flex;
    height: 44px;
    justify-content: space-between;
    line-height:120%
}

.page.page-home .entitys__entity_list .item__title {
    font-weight:600
}

.page.page-home .entitys__entity_list .item__count {
    color:#9896ae
}

.page.page-home .entitys__entity_all {
    width:100%
}

.page.page-home.page-home-all-citys .page-title {
    margin-bottom:70px
}

.page.page-home.page-home-all-citys .home-citys {
    margin-bottom:0
}

.page.page-home.page-home-all-citys .home-citys__desc {
    max-width:none
}

.page.page-home.page-home-all-citys .home-citys__list {
    margin-bottom:0
}

@media (max-width: 1100px) {
    .page.page-home .home-citys__list {
        -moz-columns: 3;
        column-count:3
    }

    .page.page-home .entitys {
        flex-wrap: wrap;
        justify-content:center
    }

    .page.page-home .entitys__entity {
        flex:0 0 calc(50% - 48px)
    }
}

@media (max-width: 900px) {
    .page.page-home .home-citys__list {
        -moz-columns: 2;
        column-count:2
    }
}

@media (max-width: 767px) {
    .page.page-home {
        padding-bottom: 0;
        padding-top:32px
    }

    .page.page-home .page-home__top {
        background: url(../img/home-top-bg02-m.webp) 50% no-repeat;
        background-size: cover;
        margin-bottom: 24px;
        padding:32px 0
    }

    .page.page-home .page-title {
        font-size: 24px;
        margin-bottom:32px
    }

    .page.page-home .home-form {
        flex-direction: column;
        margin:0 0 32px
    }

    .page.page-home .home-form > *, .page.page-home .home-form > :first-child {
        height:38px
    }

    .page.page-home .home-form > * .field-select__wrap, .page.page-home .home-form > :first-child .field-select__wrap {
        min-height: 38px;
        padding:0 16px
    }

    .page.page-home .home-form > .desktop, .page.page-home .home-form > :first-child.desktop {
        display:none
    }

    .page.page-home .home-form > .mobile, .page.page-home .home-form > :first-child.mobile {
        display:block
    }

    .page.page-home .home-form > .btn, .page.page-home .home-form > :first-child.btn {
        height: 38px;
        width:100%
    }

    .page.page-home .counters {
        justify-content: space-between;
        margin: 0 -16px;
        padding-left: 16px;
        padding-right:16px
    }

    .page.page-home .counters__item {
        align-items: center;
        display: flex;
        flex-direction:column
    }

    .page.page-home .counters__item_img {
        margin-bottom:10px
    }

    .page.page-home .counters__item_img img {
        height: 40px;
        width:40px
    }

    .page.page-home .counters__item_counter {
        font-size: 18px;
        margin-bottom:4px
    }

    .page.page-home .counters__item_title {
        font-size:14px
    }

    .page.page-home:not(.page-home-all-citys) .home-citys__list .item:not(.marked) {
        display:none
    }

    .page.page-home .home-citys {
        border-bottom: 16px solid #f7f7fa;
        margin-bottom: 16px;
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right:16px
    }

    .page.page-home .home-citys__title {
        font-size: 18px;
        margin-bottom:12px
    }

    .page.page-home .home-citys__desc {
        margin: 0 0 8px;
        max-width:none
    }

    .page.page-home .home-citys__list {
        -moz-column-gap: initial;
        column-gap: normal;
        -moz-column-width: initial;
        -moz-columns: initial;
        columns: initial;
        margin-bottom:16px
    }

    .page.page-home .home-citys__list .item {
        align-items: center;
        display: inline-flex;
        gap: 8px;
        height: 54px;
        margin-bottom: 0;
        min-height: auto;
        width:100%
    }

    .page.page-home .home-citys__list .item:not(:last-child) {
        border-bottom:1px solid #ddd9ea
    }

    .page.page-home .home-citys__list .item:after {
        background: url(../img/icons/chevron-right_7x12.svg) 50% no-repeat;
        content: "";
        height: 12px;
        width:7px
    }

    .page.page-home .home-citys__list .item__counter {
        font-size: 12px;
        font-weight:400
    }

    .page.page-home .home-citys__list .item__title {
        flex:1 1 auto
    }

    .page.page-home .home-citys__list .item.marked .item__title {
        font-weight:700
    }

    .page.page-home .home-citys__all {
        display: flex;
        margin: initial;
        max-width: none;
        width:100%
    }

    .page.page-home .press-about-as__title {
        font-size: 18px;
        margin-bottom:12px
    }

    .page.page-home .press-about-as__desc {
        margin-bottom: 16px;
        max-width:480px
    }

    .page.page-home .press-about-as__slider .splide__track {
        margin-bottom:16px
    }

    .page.page-home .entitys {
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        margin-bottom:16px
    }

    .page.page-home .entitys__entity {
        flex:0 0 100%
    }

    .page.page-home .entitys__entity_title {
        margin-bottom:8px
    }

    .page.page-home .entitys__entity_list {
        margin-bottom:16px
    }

    .page.page-home .entitys__entity.clinics, .page.page-home .entitys__entity.doctors {
        border-bottom: 16px solid #f7f7fa;
        flex: 0 0 calc(100% + 32px);
        margin-bottom: 16px;
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px
    }
}
