.main__page .home-form .v-select {
    border: none;
    border-radius: 6px;
    height:44px
}

.main__page .home-form .v-select .vs__dropdown-toggle {
    min-height: 45px;
    padding:1px 10px 0
}

.main__page .home-form .v-select .vs__search::-moz-placeholder {
    align-items: center;
    color: #9896ae;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    min-height: 34px;
    padding: 10px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width:100%
}

.main__page .home-form .v-select .vs__search::placeholder {
    align-items: center;
    color: #9896ae;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    min-height: 34px;
    padding: 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width:100%
}

.main__page .home-form .v-select .vs__clear svg {
    opacity:0
}

.main__page .home-form .vs__selected {
    margin: 1px 2px 0
}
