<html>
<head>
	<title>MGW Кино</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/types/cinema/template/admin/images/icon.png">
	<link rel="stylesheet" href="/types/engine/template/css/font-awesome/5.3.1/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="/types/cinema/template/admin/rewrite/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container" id="app">
		<div class="row">
			<div class="col-12 col-md-8 mt-2 mb-2">
				<h3>Настройки домена <b><a :href="'https://awmzone.net/domain/menu?domain='+domain.domain">{{ domain.domain }}</a></b></h3>
			</div>
			<div class="col-12 col-md-4 mt-2 mb-2">
				<label>Скопировать настройки:</label>
				<select class="form-select" v-model="copy_domain">
					<option :value="null">Не выбрано</option>
					<option v-for="domain in domains" :value="domain">{{ domain.domain }}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mb-2" v-for="(value,property) in domain" v-if="!properties[property] || (properties[property] && properties[property].type == 'boolean')">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" :id="property" v-model="domain[property]">
					<label class="form-check-label" :for="property">
						{{ properties[property]?properties[property].name:property }}
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-2" v-for="(value,property) in domain" v-if="properties[property] && properties[property].type == 'text'">
				<div class="form-group">
					<label>{{ (properties[property].name?properties[property].name:property) }}</label>
					<input class="form-control" type="text" v-model="domain[property]">
				</div>
			</div>
			<div class="col-md-2 mb-2" v-for="(value,property) in domain" v-if="properties[property] && properties[property].type == 'int'">
				<div class="form-group">
					<label>{{ (properties[property].name?properties[property].name:property) }}</label>
					<input class="form-control" type="text" v-model="domain[property]">
				</div>
			</div>
		</div>
		<button class="btn btn-primary" @click="updateDomain">Сохранить</button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<script>
		const router = new VueRouter({
			mode: 'history',
			routes: []
		});
		var vue = new Vue({
			router,
			el: '#app',
			data: {
				properties: {
					topMoviesLimit: {
						type: 'int',
						name: 'Фильмов в топе'
					},
					watchLink: {
						type: 'text',
					},
					groupLink: {
						type: 'text',
					},
					genreLink: {
						type: 'text',
					},
					moviesLimit: {
						type: 'int',
						name: 'Фильмов на стр-це'
					},
					moviesPerDay: {
						type: 'int',
						name: 'Добавлять в день'
					},
					moviesAddedPerDay: {
						type: null
					},
					watchLinkEn: {
						type: 'text',
					},
					watchMovieLink: {
						type: 'text',
					},
					watchSerialLink: {
						type: 'text',
					},
					recaptchaVersion: {
						type: 'text',
					},
					engine_domain: {
						type: null,
					},
					domain: {
						type: null,
					},
					include_serials: {
						type: 'boolean',
						name: 'Сериалы'
					},
					include_movies: {
						type: 'boolean',
						name: 'Фильмы',
					},
					include_trailers: {
						type: 'boolean',
						name: 'Трейлеры',
					},
					include_games: {
						type: 'boolean',
						name: 'Игры',
					},
					include_youtube: {
						type: 'boolean',
						name: 'Youtube',
					},
					movies_with_unique_description: {
						type: 'boolean',
						name: 'Только уник. описания',
					},
					watchCalcSameMovies: {
						type: 'boolean',
						name: 'Генер. похожие на стр-це watch',
					},
					calcThumbGenresList: {
						type: 'boolean',
						name: 'Генер. список жанров для тумб',
					},
					useAltDescriptions: {
						type: 'boolean',
						name: 'Альтерн. описания',
					},
					allowRussianMovies: {
						type: 'boolean',
						name: 'Разрешены РФ фильмы',
					},
					rknForRuOnly: {
						type: 'boolean',
						name: 'Скрывать плеер только для РФ',
					},
					moviesWithPoster: {
						type: 'boolean',
						name: 'Только фильмы с постером',
					},
					rknBanned: {
						type: 'boolean',
						name: 'Забанен в РФ',
					},
					allowRiskyStudios: {
						type: 'boolean',
						name: 'Разрешить риск. студии',
					},
					legalMovies: {
						type: 'boolean',
						name: 'Легальные фильмы',
					},
					moviesMinYear: {
						type: 'int',
						name: 'Минимальный год'
					},
					useOnlyChoosenGroups: {
						type: 'boolean',
						name: 'Добавлять только фильмы в разрешенных категориях'
					},
					created_at: {
						type: null
					},
					updated_at: {
						type: null
					}

				},
				domain: {},
				copy_domain: null,
				domains: [],
			},
			methods: {
				getDomain: function(domain) {
					axios
					.post('/?r=admin/api/Admin/getDomain',domain)
					.then(response => {
						this.domain = response.data;
					});
				},
				getCopyDomain: function(domain) {
					axios
					.post('/?r=admin/api/Admin/getDomain',domain)
					.then(response => {
						this.copy_domain = response.data;
					});
				},
				getDomains: function() {
					axios
					.post('/?r=admin/api/Admin/getDomains')
					.then(response => {
						this.domains = response.data;
					});
				},
				updateDomain: function() {
					axios
					.post('/?r=admin/api/Admin/updateDomain',this.domain)
					.then(response => {
						alert('Настройки изменены');
						this.getDomain(this.$route.query.domain);
					})
					.catch(error => alert('Ошибка при изменении домена'));
				}
			},
			mounted() {
				this.getDomain(this.$route.query.domain);
				this.getDomains();
			},
			watch: {
				copy_domain: function() {
					var domain = this.domain.domain;
					this.domain = Object.assign({},this.copy_domain);
					this.domain.domain = domain;
				}
			},
		});
	</script>
</body>
</html>