body{margin: 0;padding: 0; color: #000;    min-width: 1000px;
font-family: 'PT Sans Narrow', sans-serif;}

#hed {    background: url(img/bg.jpg) no-repeat;    padding-bottom: 15px;
background-position: center top;padding-top: 22px;     display: table;width: 100%}
#footer {    background: url(img/bg.jpg) no-repeat;    padding-bottom: 15px;
background-position: center top;padding-top: 22px;     display: table;width: 100%}
#footer p {
    font-size: 18px;
    text-transform: uppercase;
    float: right;
    line-height: 122%;
}
#center {position: relative; margin:0 auto; width: 980px;    display: table;}
#logo {float: left;}
#info {float: right;    margin-top: -7px;}
p {margin: 0;    line-height: 100%;}
.info1 {font-size: 18px;text-transform: uppercase;}
.info2 {
    font-size: 44px;
    color: #ce0c07;
    margin-top: 0px;
}
.info2 span {color: #000; font-weight: bold;}
.kont {float: left;display: inline-block; text-align: right;}



#ekran1 {    height: 710px;background: url(img/bg1.jpg) no-repeat;    padding-bottom: 15px;
background-position: center top;padding-top: 22px;     display: table;width: 100%}
.name {text-transform: uppercase; font-weight: bold;
width: 494px; text-align: right;}
.name1 {font-size:  28px; color: #fff}
.name2 {font-size:  81px; color: #d9d9d9;     line-height: 81px;}
.name3 {font-size:  81px; color: #fff;    line-height: 81px;}
.old {
     -moz-transform:rotate(-14deg);
    -webkit-transform:rotate(-14deg);
    -o-transform:rotate(-14deg);
    -ms-transform:rotate(-14deg); 
    position: absolute;
    top: 265px;
    color: #fff;
    left: 68px;
    text-transform: uppercase;
    text-align: center;
}

.old1 {font-size: 12px}
.old2 {font-size: 27px;font-weight: bold;text-decoration: line-through;margin-left: -12px;}
.new {
    position: absolute;
    top: 331px;
    color: #fff;
    left: 41px;
    text-transform: uppercase;
    text-align: center;
    width: 157px;
}
.new1 {font-size: 21px}
.new2{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

#forma{
    display: inline-block;
    position: absolute;
    top: 240px;
    left: 280px;
}
#forma input[type=text] {
    text-transform: uppercase;
    background: url(img/input1.png) no-repeat;
    display: block;
    border: 0;
    color: #474747;
    font-size: 17px;
    padding: 12px;
    outline: 0;
    width: 216px;
    margin-bottom: 10px;
}

 #forma input[type=submit] {
    background-color: #ffa800;
    border: 0;
    text-transform: uppercase;
    font-size: 25px;
    padding: 7px 53px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 18px;
    margin-top: 6px;
    cursor: pointer;
}
.text_1{
    width: 476px;
    text-align: right;
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 521px;
    left: 21px;
}
.text_1 p{
    line-height: 140%;
}
#top_call_p {
    display: inline-block;
    background: #ce0c07;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 13px 25px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 20px;
}
 
#ekran2 {    background: url(img/bg.jpg) no-repeat;    padding-bottom: 15px;
background-position: center top;padding-top: 22px;     display: table;width: 100%}

.text_2 {width: 398px; text-align: right; text-transform: uppercase;
padding-top: 50px; float: left;}
.text_21 {color: #a30a06;font-size: 28px}
.text_22 {font-size: 65px; font-weight: bold;}

.text_pre{
    float: right;
    width: 533px;
}
.w50 {
    width: 242px;
    float: left;
    margin-right: 45px;margin-bottom: 20px
}
.w50.last {margin-right: 0}
.text_pre i {
    background-image: url(img/ico.png);
    width: 50px;
    height: 46px;
    display: inline-block;
    float: left;
    margin-right: 11px;
}
.ico1 {}
.ico2 {background-position: -58px 0px;}
.ico3 {    background-position: 0px -117px;}
.ico4 {background-position: -58px -117px;}
.ico5 {     background-position: 0px -236px;}
.ico6 {background-position: -58px -236px;}
.tra {font-size: 23px;text-transform: uppercase;font-weight: bold;}
.normal {
    display: block;
    clear: both;
    margin-top: 10px;
    font-size: 20px;
    line-height: 120%;
}
#ekran3 {background-color: #fff; text-transform: uppercase;    display: inline-block;
    width: 100%;}
#ekran3 img {float: left;margin-right: 30px;    margin-left: -50px;}
.wi50 {width: 250px; display: inline-block;float: left;    margin-top: 30px;}
.wi51 { display: inline-block;float: right;    margin-top: 30px;}
.font24 {font-size: 24px; }
.big {font-size: 70px; font-weight: bold;color: #a30a06;    margin-bottom: 20px;}
.bold {font-weight: bold;font-size: 24px;    margin-bottom: 9px;}
.smal {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 2px;
}
.nob {border-bottom: 0}
#ekran4 {   background-color: #d5f7fd;
background-position: center top;padding-top: 22px;     display: table;width: 100%}
#ekran4 h2 {font-size: 55px; text-transform: uppercase;text-align: center;
    margin-top: 0;}

.otziv {width: 480px;display: inline-block;float: left;margin-right: 20px;}
.otziv img {float: left;    margin-right: 15px;    margin-bottom: 40px;}
h3 {
    margin-top: -5px;
    font-size: 24px;
    text-transform: uppercase;
    color: #a30a06;
    margin-bottom: 3px;
}
h3 span {font-weight: normal;color: #000}
#main_form{
margin-top: 0px;
position: absolute;
z-index: 1;
width: 980px;
left: 0;
right: 0;
margin: 0 auto;
}
.last {margin-right: 0 !important}
.otziv p {
    font-size: 18px;
    line-height: 130%;
}
#ekran5 {    background: url(img/bg.jpg) no-repeat;    padding-bottom: 40px;
background-position: center top;padding-top: 45px;     display: table;width: 100%}
iframe {float: left;}

.right {width: 420px; float: right;}
.red28{color: #a30a06;font-size: 28px;text-transform: uppercase;}
.font65 {font-size: 61px;font-weight: bold;text-transform: uppercase;}
#ekran6 {
    background: url(img/bg3.jpg) no-repeat;
    padding-bottom: 45px;
    background-position: center top;
    padding-top: 45px;
    display: table;
    width: 100%;
    height: 660px;
}
.whit28 {font-size: 28px; text-transform: uppercase;color: #fff; width: 490px; text-align: right;}
.red81 {font-size: 81px; text-transform: uppercase; color: #fc1708; font-weight: bold;width: 490px; text-align: right;}
.whit22 {
    font-size: 22px;
    color: #fff;
    width: 490px;
    text-align: right;
    position: absolute;
    top: 400px;
    line-height: 130%;
}
#ekran7 h2 {
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;
    margin-top: -10px;
}
#ekran7 {
    background: url(img/bg.jpg);
    background-position: center top;
    padding-top: 22px;
    display: table;
    width: 100%;
    background-repeat: repeat-y;
    padding-bottom: 35px;
}
.w20 {
    float: left;
    width: 230px;
    margin-right: 20px;
    text-align: center;
}
.w22 {font-size: 23px; font-weight: bold;text-transform: uppercase; margin-bottom: 10px; margin-top: 10px}
.w23 {font-size: 20px; line-height: 120%}

input[type=text]{font-family: 'PT Sans Narrow', sans-serif;    outline: 0;}

input[type=submit]{font-family: 'PT Sans Narrow', sans-serif;    outline: 0;}
.form2 {    position: relative;
    background-image: url(img/pop.png);
    background-repeat: no-repeat;
    padding: 15px;
    height: 229px;
    width: 390PX;
}
.form2 .q_input_address {display: none !important}
.form2 h5 {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 7px;
    margin-bottom: 15px;
}
.form2 input[type=text] {
    text-transform: uppercase;
    background: url(img/input.png) no-repeat;
    display: block;
    border: 0;
    color: #474747;
    font-size: 17px;
    padding: 12px;
    outline: 0;
    width: 340px;
    margin-bottom: 10px;
    margin-left: 9px;
}

.form2 input[type=submit] {
    background-color: #ffa800;
    border: 0;
    text-transform: uppercase;
    font-size: 25px;
    padding: 7px 53px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: -11px;
    margin-top: 1px;
    cursor: pointer;
}
.close{
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    top: 0;
    right: 3px;
    cursor: pointer;
}
.popup_modal{
display: none;
width: 379px;
height: 131px;
background: #fff;
border: 4px solid rgba(0,0,0,0.5);
border-radius: 10px;
position: relative;
padding: 10px;
text-align: center;
}
#form_modals, #form_modals_see_more {
    width: 409px !important;
    height: 249px !important;
    background: none;
    border: none;
}
