html.height100p,
html.height100p body {
	height: 100%;
}
html.height100p.hasFooter .preview-main-container {
	/*height: 100%;*/
}

.preview-main-container { position: relative !important; width: auto !important; }
.preview-main-container .page_container { margin: 0 auto; position: relative; }
#form_submit_message {width: 500px; height: 200px; padding-top:130px; text-align:center; color:#43474c; font-size:16px; display:none;z-index:1000;background-color:#fff; border:1px solid #ccc; border-radius: 6px;-moz-border-radius: 6px; -webkit-border-radius: 6px; }
#form_submit_message .close {background-image:url(images/close.png)/*tpa=https://static.lpgenerator.ru/media/css/images/close.png*/; position:absolute;right:-10px;top:-10px;cursor:pointer;height:28px;width:28px; }
.form-error {border:1px solid red;}
.tooltip {border:2px solid #eca99a; padding:10px 15px 10px 45px; width:200px; display:none; color:#ab0c0c; text-align:left; font-size:14px; z-index: 200; background: url(images/e.png)/*tpa=https://static.lpgenerator.ru/media/css/images/e.png*/ 3px 6px #fdd6cd no-repeat;  border-radius: 6px; -moz-border-radius:6px; -webkit-border-radius:6px; }
#loading_bar {position: fixed; background: #17181b url(loader-send.gif)/*tpa=http://static.lpgenerator.ru/media/css/loader-send.gif*/ 50% 50% no-repeat; width: 100%; height: 100%; opacity: 0.9; z-index: 200; }

.block-text table { border-collapse: collapse; }
.block-text table td { border: 1px solid black; }

.zingaya_button {display:block; height:70px;}
a.zingaya_button {line-height:70px; padding-left:80px; text-decoration:none; font: "Times New Roman", serif; font-size:14px; text-transform:uppercase;}
    /* full size - 430px */
    .zingaya_button.b_blue.b_430 {color:#fff; background: url(zingaya_buttons/blue_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/blue_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_blue.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_green.b_430 {color:#fff; background: url(zingaya_buttons/green_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/green_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_green.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_orange.b_430 {color:#fff; background: url(zingaya_buttons/orange_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/orange_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_orange.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_red.b_430 {color:#fff; background: url(zingaya_buttons/red_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/red_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_red.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_purple.b_430 {color:#fff; background: url(zingaya_buttons/purple_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/purple_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_purple.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_grey.b_430 {color:#4d4d4d; background: url(zingaya_buttons/grey_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/grey_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_grey.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_black.b_430 {color:#fff; background: url(zingaya_buttons/black_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/black_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_black.b_430:hover {background-position:0 -70px;}
    .zingaya_button.b_yellow.b_430 {color:#b67c00; background: url(zingaya_buttons/yellow_430.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/yellow_430.png*/ no-repeat 0 0;}
        .zingaya_button.b_yellow.b_430:hover {background-position:0 -70px;}
    /* small 205px */
    .zingaya_button.b_blue.b_205 {color:#fff; background: url(zingaya_buttons/blue_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/blue_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_blue.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_green.b_205 {color:#fff; background: url(zingaya_buttons/green_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/green_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_green.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_orange.b_205 {color:#fff; background: url(zingaya_buttons/orange_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/orange_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_orange.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_red.b_205 {color:#fff; background: url(zingaya_buttons/red_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/red_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_red.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_purple.b_205 {color:#fff; background: url(zingaya_buttons/purple_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/purple_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_purple.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_grey.b_205 {color:#4d4d4d; background: url(zingaya_buttons/grey_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/grey_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_grey.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_black.b_205 {color:#fff; background: url(zingaya_buttons/black_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/black_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_black.b_205:hover {background-position:0 -70px;}
    .zingaya_button.b_yellow.b_205 {color:#b67c00; background: url(zingaya_buttons/yellow_205.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/yellow_205.png*/ no-repeat 0 0;}
        .zingaya_button.b_yellow.b_205:hover {background-position:0 -70px;}
    /* middle 360px*/
    .zingaya_button.b_blue.b_360 {color:#fff; background: url(zingaya_buttons/blue_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/blue_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_blue.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_green.b_360 {color:#fff; background: url(zingaya_buttons/green_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/green_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_green.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_orange.b_360 {color:#fff; background: url(zingaya_buttons/orange_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/orange_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_orange.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_red.b_360 {color:#fff; background: url(zingaya_buttons/red_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/red_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_red.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_purple.b_360 {color:#fff; background: url(zingaya_buttons/purple_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/purple_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_purple.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_grey.b_360 {color:#4d4d4d; background: url(zingaya_buttons/grey_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/grey_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_grey.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_black.b_360 {color:#fff; background: url(zingaya_buttons/black_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/black_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_black.b_360:hover {background-position:0 -70px;}
    .zingaya_button.b_yellow.b_360 {color:#b67c00; background: url(zingaya_buttons/yellow_360.png)/*tpa=https://static.lpgenerator.ru/media/css/zingaya_buttons/yellow_360.png*/ no-repeat 0 0;}
        .zingaya_button.b_yellow.b_360:hover {background-position:0 -70px;}

    .zingaya_button.b_430 {width:430px;}
    .zingaya_button.b_205 {width:205px;}
    .zingaya_button.b_360 {width:360px;}

    span.t_big {font-size: 18px;}
    span.t_medium {font-size: 14px;}
    span.t_small {font-size: 10px;}

.gdeslon-widget {width:860px !important; }
.gdeslon-item {float:left;display:block;width:180px; min-height:240px; text-align:center;margin:0 10px; border:1px solid #ccc; border-radius:4px;
                font-family: "Times New Roman", serif; font-size:14px;color:#3e4550; background: url(images/slon_item_bg.png)/*tpa=https://static.lpgenerator.ru/media/css/images/slon_item_bg.png*/ repeat-x;}
    .gdeslon-item img {padding:10px 25px; background-color:#fff; margin-top:5px;}
    .gdeslon-title {font-weight:bold; padding:0 2px;}
    .gdeslon-link {margin-left:48px;}
    .gdeslon-link a {display:block; width:84px; height:25px; line-height:20px; background:url(images/slon_buy_btn.png)/*tpa=https://static.lpgenerator.ru/media/css/images/slon_buy_btn.png*/ 0 0 no-repeat; color:#fff; text-decoration:none; text-transform:uppercase; font-size:10px; font-weight:bold;}
        .gdeslon-link a:hover {background-position:0 -25px;}
.gdeslon-more {text-align:center; padding-top:10px;}

.gdeslon-widget form {margin-bottom:10px; text-align:center;}
    .gdeslon-widget form input.bt_showcase_search { width:100px; height:43px; background:url(images/slon_search_btn.png)/*tpa=https://static.lpgenerator.ru/media/css/images/slon_search_btn.png*/ 0 0 no-repeat; border:none; cursor:pointer;
                                                    font-family: "Times New Roman", serif; font-size:16px; color:#fff; text-transform:uppercase;}
    .gdeslon-widget form input.bt_showcase_search:hover {background-position:0 -43px;}

    .gdeslon-widget form input#keywords {font-size: 16px; padding-left: 10px; margin-right:10px; width:580px !important; height:39px; line-height:39px; border:1px solid #b1b0b0; border-radius: 6px; background-color: #eceff4;}



/* jQuery Countdown styles 1.5.11. */
.hasCountdown {
    border: 1px solid #ccc;
    background-color: #eee;
}
.countdown_rtl {
    direction: rtl;
}
.countdown_holding span {
    background-color: #ccc;
}
.countdown_row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}
.countdown_show1 .countdown_section {
    width: 98%;
}
.countdown_show2 .countdown_section {
    width: 48%;
}
.countdown_show3 .countdown_section {
    width: 32.5%;
}
.countdown_show4 .countdown_section {
    width: 24.5%;
}
.countdown_show5 .countdown_section {
    width: 19.5%;
}
.countdown_show6 .countdown_section {
    width: 16.25%;
}
.countdown_show7 .countdown_section {
    width: 14%;
}
.countdown_section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
}
.countdown_amount {
    font-size: 200%;
}
.countdown_descr {
    display: block;
    width: 100%;
}

/* sprypay */
.sprypay_button {display:block; height:70px;}
.sprypay_button {
    line-height:70px;
    text-decoration:none;
    text-transform:uppercase;
    border: none;
    cursor: pointer;
}
    /* full size - 410px */
    .sprypay_button.b_blue.b_410 {color:#fff; background: url(sprypay_buttons/b1-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b1-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_blue.b_410:hover {background-position: -443px center;}
    .sprypay_button.b_orange.b_410 {color:#fff; background: url(sprypay_buttons/b2-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b2-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_orange.b_410:hover {background-position: -442px center;}
    .sprypay_button.b_purple.b_410 {color:#fff; background: url(sprypay_buttons/b3-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b3-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_purple.b_410:hover {background-position: -442px center;}
    .sprypay_button.b_black.b_410 {color:#fff; background: url(sprypay_buttons/b4-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b4-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_black.b_410:hover {background-position: -442px center;}
    .sprypay_button.b_green.b_410 {color:#fff; background: url(sprypay_buttons/b5-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b5-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_green.b_410:hover {background-position: -443px center;}
    .sprypay_button.b_red.b_410 {color:#fff; background: url(sprypay_buttons/b6-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b6-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_red.b_410:hover {background-position: -443px center;}
    .sprypay_button.b_grey.b_410 {color:#fff; background: url(sprypay_buttons/b7-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b7-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_grey.b_410:hover {background-position: -443px center;}
    .sprypay_button.b_yellow.b_410 {color:#fff; background: url(sprypay_buttons/b8-big.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b8-big.png*/ no-repeat -10px center;}
        .sprypay_button.b_yellow.b_410:hover {background-position: -443px center;}

    /* medium size - 316px */
    .sprypay_button.b_blue.b_316 {color:#fff; background: url(sprypay_buttons/b1-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b1-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_blue.b_316:hover {background-position: -442px center;}
    .sprypay_button.b_orange.b_316 {color:#fff; background: url(sprypay_buttons/b2-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b2-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_orange.b_316:hover {background-position: -442px center;}
    .sprypay_button.b_purple.b_316 {color:#fff; background: url(sprypay_buttons/b3-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b3-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_purple.b_316:hover {background-position: -442px center;}
    .sprypay_button.b_black.b_316 {color:#fff; background: url(sprypay_buttons/b4-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b4-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_black.b_316:hover {background-position: -442px center;}
    .sprypay_button.b_green.b_316 {color:#fff; background: url(sprypay_buttons/b5-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b5-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_green.b_316:hover {background-position: -443px center;}
    .sprypay_button.b_red.b_316 {color:#fff; background: url(sprypay_buttons/b6-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b6-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_red.b_316:hover {background-position: -442px center;}
    .sprypay_button.b_grey.b_316 {color:#fff; background: url(sprypay_buttons/b7-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b7-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_grey.b_316:hover {background-position: -443px center;}
    .sprypay_button.b_yellow.b_316 {color:#fff; background: url(sprypay_buttons/b8-medium.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b8-medium.png*/ no-repeat -10px center;}
        .sprypay_button.b_yellow.b_316:hover {background-position: -443px center;}

    /* small size - 220px */
    .sprypay_button.b_blue.b_220 {color:#fff; background: url(sprypay_buttons/b1-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b1-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_blue.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_orange.b_220 {color:#fff; background: url(sprypay_buttons/b2-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b2-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_orange.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_purple.b_220 {color:#fff; background: url(sprypay_buttons/b3-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b3-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_purple.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_black.b_220 {color:#fff; background: url(sprypay_buttons/b4-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b4-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_black.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_green.b_220 {color:#fff; background: url(sprypay_buttons/b5-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b5-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_green.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_red.b_220 {color:#fff; background: url(sprypay_buttons/b6-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b6-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_red.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_grey.b_220 {color:#fff; background: url(sprypay_buttons/b7-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b7-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_grey.b_220:hover {background-position: -442px center;}
    .sprypay_button.b_yellow.b_220 {color:#fff; background: url(sprypay_buttons/b8-small.png)/*tpa=https://static.lpgenerator.ru/media/css/sprypay_buttons/b8-small.png*/ no-repeat -10px center;}
        .sprypay_button.b_yellow.b_220:hover {background-position: -443px center;}

    .sprypay_button.b_410 {width:410px;}
    .sprypay_button.b_316 {width:316px;}
    .sprypay_button.b_220 {width:220px;}

    .sprypay_button.t_big {font-size: 18px;}
    .sprypay_button.t_medium {font-size: 14px;}
    .sprypay_button.t_small {font-size: 10px;}

/*стили для футера*/
.dib {display: inline-block;}
.vam {vertical-align:middle;}
.ml10 {margin-left: 10px;}
.pos_r {position: relative;}
.t20 {top: 20px;}
.lpg_logo { width: 185px; }
.prepend-footer-view {
	background-color: #1e2024;
	height: 90px;
	color:#ffffff;
	text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}

/* Footer in variant [start] */

.foterSocIconsList {}
.foterSocIconsList .item {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(images/footer_buttons_sprite.png)/*tpa=https://static.lpgenerator.ru/media/css/images/footer_buttons_sprite.png*/;
    background-repeat: no-repeat;
    margin-right: 1em;
    vertical-align: middle;
}
.foterSocIconsList .item.youtube {
    background-position: 0 0;
}
.foterSocIconsList .item.tw {
    background-position: -26px 0;
}
.foterSocIconsList .item.fb {
    background-position: -52px -1px;
}
.foterSocIconsList .item.vk {
    background-position: -78px 0;
}
.foterSocIconsList .item.instagram {
    background-position: -104px 0;
}
.foterSocIconsList .item.gplus {
    background-position: -130px 0;
}

.in-variant-footer {
    position: relative;
    background-color: #23262a;
}
.in-variant-footer * {
    color: #fff;
}
.in-variant-footer .share-row {
    background-color: #1e2024;
}
.in-variant-footer .share-row .container {
    padding: 2em 0;
}
.in-variant-footer .comments-row .container {
    padding: 4.25em 0 0;
}

.in-variant-footer h3.big {
    font-size: 1.6666em;
}

.in-variant-footer .share-row h3 {
    margin: 0 1em 0 0;
}

.in-variant-footer .disqus-cont {
    width: 73.7%;
}
.in-variant-footer .links-cont {
    width: 21.5%;
}
.in-variant-footer .links-cont .inner {
    padding-left: 50px;
    border-left: 1px solid #fff;
}
.in-variant-footer .bottom-nav {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}
.in-variant-footer .bottom-nav li {
    /*display: inline-block;*/
    text-align: left;
    padding: .5em 0;
    border-bottom: 1px dashed #aaa;
}
.in-variant-footer .bottom-nav li > a {
    color: #ccc;
    text-decoration: none;
}
.in-variant-footer .bottom-nav li > a:hover {
    color: #25a2cd;
}
/* Footer in variant [end] */

/* OldBrowser warning [start] */
.lpg__oldBrowserWarning {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #2b2b2b !important;
    background: #fff !important;
    border-bottom: 10px solid #2b2b2b !important;
    z-index: 999999;
}
.lpg__oldBrowserWarning .lpg__oldBrowserWarning_container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}
.lpg__oldBrowserWarning table {
    width: auto;
    margin: 0 auto;
}
.lpg__oldBrowserWarning .lpg__oldBrowserWarning__ico_alert {
    width: 40px;
    height: 41px;
    background: url(images/alert_sign.png)/*tpa=https://static.lpgenerator.ru/media/css/images/alert_sign.png*/ 0 0 no-repeat;
}
.lpg__oldBrowserWarning .lpg__oldBrowserWarning__ico_closeX {
    width: 12px;
    height: 12px;
    background: url(upgrade/ui-dialog-white/close.png)/*tpa=https://static.lpgenerator.ru/media/css/upgrade/ui-dialog-white/close.png*/ 0 0 no-repeat;
    cursor: pointer;
}
/* OldBrowser warning [end] */

/* Blamb [start] */
.lpg__blamb {
	position: fixed;
	top: 50%;
	right: 30px;
	z-index: 999999;
}
.lpg__blamb_disc {
	display: block;
	width: 28px;
	height: 64px;
	text-align: center;
	background-color: #fff;
	padding: 0 18px;
	border-radius: 500px;
	margin-top: -50%;
	overflow: hidden;
	transition: .4s;
	box-shadow: 0 0 20px 3px rgba(71,169,239,.8);
	animation-name: shadowPulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.lpg__blamb_disc:hover {
	width: 104px;
	height: 154px;
	padding: 0 25px;
	animation-duration: .7s;
}
.lpg__blamb_disc > span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.lpg__blamb_disc > span:first-child {
	width: 0;
	height: 100%;
}
.lpg__blamb__txt,
.lpg__blamb__img_cont,
.lpg__blamb__hand_cont {
	display: block;
}
.lpg__blamb__txt,
.lpg__blamb__hand_cont {
	height: 0;
	opacity: 0;
}
.lpg__blamb__txt {
	color: #222;
	line-height: 16px;
	font-size: 0;
	overflow: hidden;
	transition: height .5s, font-size .5s, opacity .6s;
}
.lpg__blamb_disc:hover .lpg__blamb__txt {
	font-size: 14px;
}
.lpg__blamb__img_cont img,
.lpg__blamb__hand_cont img {
	max-height: 100%;
}
.lpg__blamb__img_cont {
	height: 27px;
	text-align: left;
	background-color: #fff;
	overflow: hidden;
	transition: height .5s;
	box-shadow: 0 0 10px 4px #fff;
}
.lpg__blamb__hand_cont {
	transition: height .5s, opacity .6s;
}
.lpg__blamb_disc:hover .lpg__blamb__img_cont {
	height: 31px;
}
.lpg__blamb_disc:hover .lpg__blamb__txt,
.lpg__blamb_disc:hover .lpg__blamb__hand_cont {
	height: 34px;
	opacity: 1;
}
@keyframes shadowPulse {
	0% {
		box-shadow: 0 0 20px 3px rgba(71,169,239,.8);
	}

	50% {
		box-shadow: 0 0 30px 8px rgba(71,169,239,.8);
	}

	100% {
		box-shadow: 0 0 20px 3px rgba(71,169,239,.8);
	}
}
/* Blamb [end] */

iframe[name="google_conversion_frame"] {
	display: none;
}