/*---------------MuseTT.ru------------*/

.version.index /* version checker */
{
	color: #0000E5;
	background-color: #B248F7;
}
data-src {
    border: none; /* РЈР±РёСЂР°РµРј СЂР°РјРєСѓ */
   }
.html
{
	background: #FFFFFF url("../img/diamond_upholstery.jpg") repeat left top scroll;
}
#showtime {
letter-spacing: 4px;
font-size: 60px !important;
}
#page
{
	z-index: 1;
	width: 1200px;
	min-height: 9530px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#u726
{
	z-index: 464;
	padding-bottom: 4px;
}

#u726_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1199px;
	left: -100px;
}

#u1356
{
	z-index: 473;
	width: 208px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 212px;
}

#u1349-4
{
	z-index: 474;
	width: 144px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 64px;
}

#u730
{
	z-index: 478;
	width: 132px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 62px;
}

#u1350
{
	z-index: 480;
	width: 69px;
	margin-right: -10000px;
}

#u727-6
{
	z-index: 465;
	width: 261px;
	min-height: 62px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 689px;
}

#u726-bw
{
	z-index: 464;
	margin-bottom: -1px;
	height: 76px;
}

#u732
{
	z-index: 471;
	width: 273px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 916px;
}

#pu711
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u711
{
	z-index: 392;
}

#u711_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 222px;
	padding-bottom: 35px;
}

#u713
{
	z-index: 394;
	width: 490px;
	height: 215px;
	left: 242px;
}

#u716
{
	z-index: 397;
	width: 252px;
	left: 330px;
	margin-top: 42px;
}

#u711-bw
{
	z-index: 392;
	height: 667px;
}

#u712
{
	z-index: 393;
	height: 153px;
}

#u712-bw
{
	z-index: 393;
	margin-top: 53px;
	height: 153px;
}

#u714
{
	z-index: 395;
	width: 593px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 660px;
}

#u718-17
{
	z-index: 399;
	width: 552px;
	min-height: 223px;
	margin-right: -10000px;
	margin-top: 232px;
	left: 271px;
}

#u1386
{
	z-index: 404;
	width: 38px;
}

#u1391
{
	z-index: 410;
	width: 38px;
}

#u1395
{
	z-index: 416;
	width: 38px;
}

#u1399
{
	z-index: 422;
	width: 38px;
}

#u1389,#u1394,#u1398,#u1402,#u1406
{
	margin-right: 10px;
}

#u1403
{
	z-index: 428;
	width: 38px;
}

#u719-8
{
	z-index: 431;
	width: 644px;
	min-height: 228px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 222px;
}

#u720
{
	z-index: 439;
	width: 209px;
	margin-right: -10000px;
	margin-top: 455px;
	left: 971px;
}

#u720:hover
{
	margin: 455px -10000px 0px 0px;
}

#u722
{
	z-index: 441;
	width: 1093px;
	margin-right: -10000px;
	margin-top: 667px;
	left: 154px;
}

#u724-17
{
	z-index: 443;
	width: 990px;
	min-height: 56px;
	padding-top: 15px;
	margin-right: -10000px;
	margin-top: 673px;
	left: 220px;
}

#u725-4
{
	z-index: 460;
	width: 234px;
	min-height: 201px;
	margin-right: -10000px;
	margin-top: 455px;
	left: 959px;
}

#u725-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 201px;
	margin: 455px -10000px 0px 0px;
}

#pu157
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 32px;
}

#u157
{
	z-index: 2;
	width: 250px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 441px;
}

#u207-4
{
	z-index: 6;
	width: 1066px;
	min-height: 68px;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
}

#u210
{
	z-index: 10;
	width: 390px;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 48px;
}

#u216
{
	z-index: 12;
	width: 372px;
	min-height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 54px;
}

#u218-6
{
	z-index: 13;
	width: 566px;
	min-height: 218px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 448px;
}

#u218-4
{
	font-weight: bold;
}

#u242
{
	z-index: 69;
	width: 603px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 443px;
}

#u242:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 296px -10000px 0px 0px;
}

#u426-7
{
	z-index: 87;
	width: 372px;
	min-height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 54px;
}

#u426-2,#u426-3,#u426-4
{
	font-size: 18px;
	line-height: 22px;
	color: #C1272D;
}

#pu401
{
	width: 0.01px;
	margin-left: 132px;
	margin-top: 28px;
}

#u401
{
	z-index: 85;
	width: 249px;
	position: relative;
	margin-right: -10000px;
}

#u389
{
	z-index: 81;
	width: 249px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u395
{
	z-index: 83;
	width: 249px;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#pu346
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 66px;
}

#u346
{
	z-index: 3;
	width: 1000px;
	position: relative;
	margin-right: -10000px;
	margin-top: 674px;
	left: 200px;
}

#u248
{
	z-index: 5;
	border-color: #000000;
	background: #212121 url("../img/diagmonds.jpg") repeat left top;
}

#u248_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 43px;
	padding-bottom: 59px;
}

#u258-4
{
	z-index: 71;
	width: 874px;
	min-height: 50px;
	border-style: solid;
	border-color: #D29959;
	background-color: transparent;
	line-height: 48px;
	color: #D29959;
	left: 263px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu263
{
	width: 0.01px;
	left: 167px;
	margin-top: 37px;
	position: relative;
}

#u263
{
	z-index: 79;
	width: 622px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1386_img,#u1391_img,#u1395_img,#u1399_img,#u1403_img,#u263_img
{
	padding-right: 1px;
}

#u261-16
{
	z-index: 53;
	width: 426px;
	min-height: 480px;
	color: #D29959;
	position: relative;
	margin-right: -10000px;
	left: 646px;
}

#u261-4
{
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 20px;
}

#u261-6
{
	font-size: 26px;
	line-height: 30px;
	padding-top: 5px;
	font-weight: bold;
}

#u261-10
{
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 10px;
}

#u261-2,#u261-12
{
	font-size: 26px;
	line-height: 30px;
	font-weight: bold;
}

#u261-14
{
	font-size: 18px;
	line-height: 21px;
}

#u248-bw
{
	z-index: 5;
	height: 698px;
}

#u272-4
{
	z-index: 75;
	width: 688px;
	min-height: 50px;
	border-style: solid;
	border-color: #212121;
	background-color: transparent;
	line-height: 48px;
	color: #212121;
	margin-left: 256px;
	margin-top: 9px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u273-4
{
	z-index: 19;
	width: 959px;
	min-height: 127px;
	line-height: 29px;
	text-align: justify;
	font-weight: bold;
	margin-left: 121px;
	margin-top: 22px;
	position: relative;
}

#pu281-27
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 6px;
}

#u281-27
{
	z-index: 23;
	width: 1156px;
	min-height: 863px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u289
{
	float: left;
	margin-right: 12px;
}

#u283
{
	z-index: 28;
	width: 598px;
	-pie-box-shadow: none;
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
}

#u281-3,#u281-5,#u281-7
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
	padding-right: 90px;
}

#u281-10,#u281-16
{
	text-align: justify;
	line-height: 29px;
	padding-right: 98px;
	padding-left: 98px;
	font-weight: bold;
}

#u281-19
{
	font-size: 30px;
	line-height: 36px;
	padding-left: 98px;
	padding-bottom: 10px;
	font-weight: bold;
}

#u281-12,#u281-14,#u281-17,#u281-21,#u281-23
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
	padding-right: 98px;
	padding-left: 98px;
}

#u281-24
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
	padding-left: 98px;
}

#u281-8,#u281-25
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
}

#u296
{
	z-index: 94;
	border-style: solid;
	border-color: #D6D5D5;
	border-width: 1px 0px;
	background: #FFFFFF url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u318-26
{
	z-index: 95;
	width: 1058px;
	min-height: 769px;
	margin-bottom: -29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 220px;
}

#u318-4
{
	padding-bottom: 25px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u318
{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

#u336
{
	float: right;
	margin-top: 25px;
	margin-left: 12px;
}

#u330
{
	z-index: 101;
	width: 599px;
}

.Shadow
{
	border-style: none;
	-pie-box-shadow: none;
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: transparent;
}

#u318-23
{
	font-size: 30px;
	text-align: left;
	line-height: 36px;
}

#u318-24
{
	font-size: 30px;
	text-align: left;
	line-height: 36px;
	padding-left: 98px;
}

#u296-bw
{
	z-index: 94;
	margin-bottom: -1px;
	margin-top: 820px;
	height: 790px;
}

#pu726,#pu363
{
	width: 0.01px;
	margin-left: -100px;
}

#u363
{
	z-index: 124;
	height: 757px;
	border-color: #000000;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	background: #000000 url("../img/mechanizm.jpg") no-repeat left center;
}

#u363-bw
{
	z-index: 124;
	height: 757px;
}

#u352-55
{
	z-index: 125;
	width: 824px;
	min-height: 622px;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 180px;
}

#u352-14
{
	color: #D6D5D5;
}

#u352-3,#u352-6,#u352-9,#u352-15,#u352-18,#u352-23,#u352-26,#u352-29,#u352-32,#u352-35,#u352-38,#u352-41,#u352-42
{
	font-size: 22px;
	color: #D6D5D5;
}

#u352-44
{
	font-size: 22px;
	color: #D29959;
}

#u352-47,#u352-50,#u352-53
{
	font-size: 22px;
	padding-left: 40px;
	color: #D6D5D5;
}

#u352,#u352-4,#u352-7,#u352-10,#u352-12,#u352-16,#u352-19,#u352-24,#u352-27,#u352-30,#u352-33,#u352-36,#u352-39,#u352-45,#u352-48,#u352-51
{
	color: #D29959;
}

#u341-4
{
	z-index: 180;
	width: 854px;
	min-height: 50px;
	border-style: solid;
	border-color: #D29959;
	background-color: transparent;
	line-height: 48px;
	color: #D29959;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 273px;
	border-width: 0px 0px 1px;
}

#u453-4
{
	z-index: 310;
	width: 398px;
	min-height: 51px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 48px;
	margin-left: 401px;
	margin-top: 36px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu466
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 34px;
}

#u466
{
	z-index: 306;
	width: 522px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u481-7
{
	z-index: 314;
	width: 607px;
	min-height: 355px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 535px;
}

#u481-3
{
	font-size: 26px;
	line-height: 31px;
	padding-bottom: 15px;
}

#pu454
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 26px;
}

#u454
{
	z-index: 302;
	width: 353px;
	position: relative;
	margin-right: -10000px;
}

#u454_img
{
	margin-bottom: -5px;
}

#u460
{
	z-index: 304;
	width: 353px;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#u454_clip,#u460_clip
{
	overflow: hidden;
	width: 353px;
	height: 520px;
}

#u460_img
{
	margin-bottom: -4px;
}

#u472
{
	z-index: 308;
	width: 344px;
	position: relative;
	margin-right: -10000px;
	left: 807px;
}

#u472_clip
{
	overflow: hidden;
	width: 344px;
	height: 520px;
}

#u472_img
{
	margin-right: -4px;
	margin-bottom: -2px;
}

#pu436
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 75px;
}

#u436
{
	z-index: 184;
	border-style: solid;
	border-color: #7F7F7F;
	padding-bottom: 38px;
	border-width: 1px 0px;
	background: #000000 url("../img/city_night.jpg") no-repeat center center;
}

#pu488
{
	z-index: 185;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 125px;
}

#u488
{
	z-index: 0;
	width: 1154px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u443-6
{
	z-index: 186;
	width: 665px;
	min-height: 106px;
	color: #D29959;
	position: relative;
}

#u532
{
	z-index: 196;
	width: 382px;
	margin-left: 142px;
	margin-top: 237px;
	position: relative;
}

#u504
{
	z-index: 197;
	width: 382px;
	position: relative;
}

#u507
{
	z-index: 198;
	width: 100px;
	position: relative;
	margin-right: -10000px;
}

#u505
{
	z-index: 200;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u509
{
	z-index: 202;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u511
{
	z-index: 204;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u513
{
	z-index: 206;
	width: 358px;
	margin-left: 11px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u517-4
{
	z-index: 207;
	width: 77px;
	min-height: 23px;
	color: #D6D5D5;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u516-4
{
	z-index: 211;
	width: 77px;
	min-height: 23px;
	color: #D6D5D5;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u515-4
{
	z-index: 215;
	width: 77px;
	min-height: 23px;
	color: #D6D5D5;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u514-4
{
	z-index: 219;
	width: 77px;
	min-height: 23px;
	color: #D6D5D5;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u501
{
	z-index: 194;
	width: 603px;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 9px;
	position: relative;
}

#u501:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 9px 0px 0px 44px;
}

#u436-bw
{
	z-index: 184;
	margin-bottom: -1px;
	height: 661px;
}

#u495
{
	z-index: 192;
	width: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 220px;
}

#u534-18
{
	z-index: 223;
	width: 694px;
	min-height: 244px;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 499px;
}

#u535
{
	z-index: 241;
	width: 278px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E72117;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 708px;
}

#u548
{
	z-index: 242;
	width: 294px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	position: relative;
	margin-right: -10000px;
	margin-top: 593px;
	left: 701px;
}

#u548:hover
{
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	margin: 593px -10000px 0px 0px;
}

#u1570
{
	z-index: 244;
	width: 400px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	line-height: 72px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 671px;
}

#u563-4
{
	z-index: 322;
	width: 456px;
	min-height: 50px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 48px;
	margin-left: 372px;
	margin-top: 31px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u565-7
{
	z-index: 326;
	width: 940px;
	min-height: 121px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 119px;
	margin-top: 36px;
	position: relative;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u565-2
{
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
}

#u565-4
{
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

#pu577
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 27px;
}

#u577
{
	z-index: 321;
	height: 670px;
	border-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	background: transparent url("../img/watch-big2.png") no-repeat right center;
}

#u577-bw
{
	z-index: 321;
	margin-top: 164px;
	height: 670px;
}

#u586-7
{
	z-index: 333;
	width: 940px;
	min-height: 187px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 219px;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u587-10
{
	z-index: 340;
	width: 940px;
	min-height: 267px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 219px;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u588-7
{
	z-index: 350;
	width: 940px;
	min-height: 231px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 574px;
	left: 219px;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u589-6
{
	z-index: 357;
	width: 940px;
	min-height: 122px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 119px;
	margin-top: 29px;
	position: relative;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u590-7
{
	z-index: 363;
	width: 940px;
	min-height: 147px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 119px;
	margin-top: 28px;
	position: relative;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u591-6
{
	z-index: 377;
	width: 940px;
	min-height: 122px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 119px;
	margin-top: 28px;
	position: relative;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u592-7
{
	z-index: 370;
	width: 940px;
	min-height: 168px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 119px;
	margin-top: 27px;
	position: relative;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u593-9
{
	z-index: 383;
	width: 940px;
	min-height: 168px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-style: solid;
	border-color: #D6D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 119px;
	margin-top: 28px;
	position: relative;
	padding: 20px 10px 10px;
	background: transparent url("../img/diagonal_waves-light.jpg") repeat left top;
}

#u586-2,#u587-2,#u588-2,#u589-2,#u590-2,#u591-2,#u592-2,#u593-2
{
	font-size: 22px;
	line-height: 26px;
}

#u586-4,#u587-4,#u587-6,#u587-8,#u588-4,#u588-5,#u589-4,#u590-4,#u590-5,#u591-4,#u592-4,#u592-5,#u593-4,#u593-6,#u593-7
{
	font-size: 18px;
	line-height: 22px;
}

#pu633
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 61px;
}

#u633
{
	z-index: 259;
	border-style: solid;
	border-color: #7F7F7F;
	padding-bottom: 44px;
	border-width: 1px 0px;
	background: #000000 url("../img/bokeh-night.jpg") no-repeat center center;
}

#u296_align_to_page,#u436_align_to_page,#u633_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#pu636
{
	z-index: 260;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 125px;
}

#u636
{
	z-index: 0;
	width: 1154px;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u488.f3s_top,._u636.f3s_top
{
	background-image: url("../img/u488-sprite.png");
	width: 1154px;
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u488.f3s_mid,._u636.f3s_mid
{
	background-image: url("../img/u488-sprite.png");
	overflow: visible;
	background-position: -1154px top;
	width: 1154px;
	height: 570px;
}

._u488.f3s_bot,._u636.f3s_bot
{
	background-image: url("../img/u488-sprite.png");
	width: 1154px;
	overflow: visible;
	height: 10px;
	background-position: -2308px top;
}

#pu443-6,#pu613-6
{
	width: 0.01px;
	position: relative;
	left: 390px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 68px;
}

#u613-6
{
	z-index: 261;
	width: 665px;
	min-height: 106px;
	color: #D29959;
	position: relative;
}

#u443-2,#u613-2
{
	line-height: 48px;
}

#u637
{
	z-index: 269;
	width: 603px;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 357px;
	position: relative;
}

#u637:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 357px 0px 0px 44px;
}

#u633-bw
{
	z-index: 259;
	margin-bottom: -1px;
	height: 655px;
}

#u614
{
	z-index: 267;
	width: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 200px;
	text-align: center;
}

#u612-18
{
	z-index: 271;
	width: 694px;
	min-height: 244px;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 499px;
}

#u534-2,#u612-2
{
	font-size: 24px;
	text-align: center;
	color: #D6D5D5;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u534,#u612
{
	font-size: 28px;
	line-height: 20px;
}

#u534-10,#u612-10
{
	font-size: 24px;
	text-align: center;
	color: #D29959;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u443-4,#u534-5,#u613-4,#u612-5
{
	font-size: 32px;
	line-height: 38px;
}

#u318-3,#u318-6,#u318-8,#u318-10,#u318-12,#u318-14,#u318-16,#u318-18,#u318-20,#u318-22,#u481-5,#u534-4,#u534-9,#u612-4,#u612-9
{
	line-height: 29px;
}

#u534-12,#u534-13,#u612-12,#u612-13
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #D29959;
}

#u534-3,#u534-15,#u612-3,#u612-15
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #D6D5D5;
}

#u634
{
	z-index: 289;
	width: 278px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E72117;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 708px;
}

#u639
{
	z-index: 290;
	width: 294px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	position: relative;
	margin-right: -10000px;
	margin-top: 587px;
	left: 701px;
}

#u639:hover
{
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	margin: 587px -10000px 0px 0px;
}

#u1591
{
	z-index: 292;
	width: 382px;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 653px;
}

#u1598
{
	z-index: 293;
	width: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1594
{
	z-index: 295;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u1596
{
	z-index: 297;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u1592
{
	z-index: 299;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u1607
{
	z-index: 301;
	width: 400px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
	left: 666px;
}

#pu1168
{
	width: 0.01px;
	margin-left: 253px;
	margin-top: 14px;
}

#u1168
{
	z-index: 245;
	width: 415px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 140px;
}

#u1170-8
{
	z-index: 247;
	width: 710px;
	min-height: 83px;
	margin-right: -10000px;
}

#u1171-4
{
	z-index: 255;
	min-height: 35px;
	padding-top: 6px;
}

#u1171-4-bw
{
	z-index: 255;
	min-height: 35px;
	margin-top: 2px;
	height: 35px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}
