/*---------------------------------------------------------*/
/*  TABLE OF CONTENT                                       */
/*---------------------------------------------------------*/

/*    xMobile v1.4 Custom Styles by inssitu
/*
/*    -----------------
/*
/*    Large Devices, Wide Screens
/*    Custom: width from 992px to 1200px
/*    Custom: from 992px of width
/*    Custom: more than 800px of height
/*    Custom: less than 800px of height
/*    Medium Devices, Desktops
/*    Small Devices, Tablets
/*    Extra Small Devices, Phones
/*    Custom: iPhone Retina
/*    Custom: Landscape devices

/* END */





/* Large Devices, Wide Screens */

@media only screen and (max-width : 1300px) {

	.hand-phone {
		
	}

}

@media only screen and (max-width : 1200px) {

	header, #newsletter, #download {
		background-attachment: scroll !important;
	}

	#maximage {
		position: absolute;
	}

	.hand-phone {
		
	}

	.responsive-button i {
		font-size: 32px !important;
		margin-top: -4px;
	}

	.responsive-nav .last-md {
		padding-right: 0 !important;
	}

	#tab .item {
		margin-top: 40px;
	}

	#features .block:first-child {
		margin-top: 0;
	}

}
@media only screen and (min-width : 992px) and (max-width : 1200px) {

#features p{
	  font-size: 12px;
}
#features .block {
  margin-bottom: 30px;
}
#features .phones {
  height: 610px;
}

}

@media only screen and (min-width : 1080px) and (max-width : 1200px) {

	.header-special-version .welcome-message {
		width: 500px;

	}
	.hand-phone{
		  max-height: 640px;
	}

}

@media only screen and (min-width : 992px) and (max-width : 1080px) {

	.header-special-version .welcome-message {
		width: 500px;

	}
	.hand-phone{
		  max-height: 520px;
	}

}

/* CUSTOM: FROM 992px of width */
@media only screen and (min-width : 992px) {

	/* VERTICAL CENTER (ONLY FOR 2 DIVS) (USED ON #ABOUT & #BENEFITS SECTIONS) */

	.vertical-center {
		display: inline-block;
		/*float: none;*/
	}
	.vertical-center{
		vertical-align: middle;
	}

	.vertical-bottom {
		vertical-align: bottom;
	}

	.vertical-center:last-child {
		margin-right: -4px;
	}

	.header-special-version {
		min-height: 840px;
	} 

	.header-phones-version {
		min-height: 950px;
	}

	.header-minimal-version {
		min-height: 650px;
	}

	.header-special-version .intro {
		position: absolute;
		top: 20%;
	}

	.header-minimal-version .intro {
		position: absolute;
		top: 30%;
	}

}
@media only screen and (min-width : 1080px) {
		.header-special-version .intro {
		position: absolute;
		top: 20%;
	}
}

/* CUSTOM: MORE THAN  800px of height */
@media only screen and (min-height: 800px) {

	.modal .modal-dialog {
		position: absolute;
		top: 15%;
		right: 0;
		left: 0;
		bottom:0;
		margin: 0 auto;
	}
	
}

/* CUSTOM: LESS THAN  800px of height */
@media only screen and (max-height: 800px) {

	.header-minimal-version .intro {
		top: 20%;
	}

	.header-special-version {
		top: 20%;
	} 

	.hand-phone {
		position: absolute;
		top: 100px;
	}

	#services {
		padding: 120px 0;
	}

	#about,
	#benefits {
		padding: 90px 0;
		overflow: hidden;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	/* GLOBAL STYLES */

	h1, h2, h3, h4, p, hr {
		margin-right: auto !important;
		margin-left: auto !important;
	}

	section {
		padding: 80px 0;
	}

	#download .btn-theme {
		margin: 15px 5px;
		width: 30%;
	}

	/* TEXT WITH ICONS ON THE RIGHT OR LEFT */

	.text-icon-left,
	.text-icon-right {
		margin-bottom: 30px;
		margin: 0 auto;
	}

	.text-icon-left p,
	.text-icon-right p {
		width: 70%;
	}

	.text-icon-left, .text-icon-right {
		text-align: center;
	}

	.text-icon-left h3,
	.text-icon-right h3{
		margin-bottom: 20px;
	}

	.text-icon-left span,
	.text-icon-right span,
	.text-icon-left i,
	.text-icon-right i {
		/*display: none;*/
	}

	/* INTRO */

	.intro h2,
	.intro h3,
	.intro p {
		max-width: 80%;
	}

	/* HEADER */

	.header-minimal-version,
	.header-special-version {
		height: auto;
	}

	.header-phones-version {
		height: auto; padding-bottom: 50px;
	}

	.header-special-version .intro,
	.header-phones-version .intro,
	.header-minimal-version .intro {
		text-align: center;
		margin-top: 100px;
	}

	.header-special-version .intro h1,
	.header-phones-version .intro h1 {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.header-phones-version .welcome-message {
		margin-top: 0;
	}

	.hand-phone,
	.header-phones {
		position: absolute;
	
		  /* visibility: hidden; */
  position: static;
	}

	/* RESPONSIVE NAV */

	.responsive-nav .logo-nav {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: auto;
	}

	.responsive-nav ul {
		display: none;
	}

	.responsive-nav .responsive-button {
		display: inline;
	}

	#fullscreen-menu-header {
		padding: 0;
	}

	#fullscreen-menu-header a {
		padding: 10px;
	}

	/* SECTION 1 : SERVICES */

	#services {
		padding: 0;
	}

	#services .row > div {
		margin-top: 80px;
	}

	#services .row > div:first-child {
		margin-top: 0 !important;
	}

	#services .col-md-4 p {
		width: 70%
	}

	/* SECTION 2 AND 3 : ABOUT AND BENEFITS */

	#about .intro, #benefits .intro {
		margin-top: 0 !important;
	}

	#about, #benefits, #features {
		text-align: center;
		padding-top: 80px;
		padding-bottom: 0 !important;
	}

	#benefits .block {
		margin: 18px auto;
	}

	/* TAB */

	#about .container {
		padding: 0 !important;
		width: 100% !important;
	}

	#about .phones {
		width: 100% !important;
		margin-left: auto;
		margin-right: auto;
		min-height: 480px;
	}

	.buttons-tab {
		display: none;
	}

	#tab .item {
		margin: 0 auto;
		width: 90%;
		max-width: 350px;
	}

	#tab .item p {
		width: 90%;
  padding-left: 10%;
	}

	/* PHONES OF ABOUT AND BENEFITS SECTION */

	.phones {
		margin-top: 50px;
		height: 400px !important;
	}

	#about,
	#benefits {
		padding-bottom: 0;
	}

	#benefits .container {
		padding-left: 10%;
		padding-right: 10%;
	}

	#about .phone-back,
	#benefits .phone-front {
		top: 0;
		right: 25%;
		left: 0;
		margin: 0 auto;
	}

	#about .phone-front,
	#benefits .phone-back {
		top: 0;
		left: 25%;
		right: 0;
		margin: 0 auto;
	}

	#about .phone-back,
	#benefits .phone-back,
	#about .phone-front, 
	#benefits .phone-front {
		height: auto;
		max-width: 250px;
		width: 50%;
	}

	#about .shadow-left,
	#benefits .shadow-right {
		width: 50%;
		height: 100%;
		top: 0;
		right: 0;
		left: 0;
	}

	#features .phones img {
		height: auto;
		max-width: 300px;
		width: 80%;
		margin: 0 auto;
	}

	/* PRICING */

	.amount {
		font-size: 45px;
	}

	/* DOWNLOAD */

	#download .image-overlay, #download .color-overlay {
		padding: 60px 0 0 !important;
	}

	/* NEW BORDER v1.3 */

	.p-border-left {
		border-left: none;
	}

	/* ACCORDION v1.3 */

	.responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
		padding: 20px;
	}

	.info-bg {
		display: none;
	}

	/* FACT SECTION v1.3 */

	#facts hr {
		margin-bottom: 70px;
	}

	#facts .text-icon-left i {
		width: 100% !important;
		display: block;
	}

	#facts .text {
		display: block !important;
		margin-top: 20px;
		width: 100%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/* GLOBAL STYLES */

	.btn-theme {
		margin-left: auto !important;
		margin-right: auto !important;
		display: block;
		width: 60% !important;
	}

	/* Fix for Onepagenav.js */

	section {
		/*padding-top: 70px !important;*/
	}

	#newsletter, #download {
		margin-top: 0px !important;
		padding-top: 0px !important;
	}

	/* HEADER */

	header .intro {
		margin-top: 50px;
	}

	.header-phones-version {
		height: auto;
	}

	.header-phones-version .intro {
		margin-bottom: 0;
	}

	header .responsive-button {
		top: 10px;
		right: 0;
	}

	header .responsive-button li:last-child {
		padding-right: 5px;
	}

	header h1 {
		font-size: 40px;
	}

	header .btn-theme:first-child {
		margin-bottom: 15px !important;
	}

	.responsive-nav .responsive-button {
		padding-right: 25px;
	}

	.phones {
		height: 300px !important;
	}

	/* SERVICES */

	#services .row > div {
		margin-top: 60px;
	}

	#services .col-md-4 p {
		margin: 0 auto;
	}

	/* FACT SECTION v1.3 */

	#facts hr {
		margin-bottom: 20px;
	}

	#facts .text-icon-left i {
		width: 100% !important;
		margin-top: 40px;
	}

	#facts .text-icon-left h4 {
		font-size: 40px;
	}

	/* NEWSLETTER */

	#subscription {
		width: 90%;
	}

	#subscription input {
		width: 85%;
		padding-left: 12%;
	}

	#subscription button {
		width: 15%;
	}

	/* PRICING */

	#pricing .intro {
		margin-bottom: 0;
	}

	.price-table {
		max-width: 370px;
		margin: 0 auto;
	}

	#pricing .col-sm-4 {
		margin-top: 30px;
	}

	/* testimonial */
	
	#testimonial .icon-quote-left {
		left: 3%;
		font-size: 50px;
	}

	#testimonial .icon-quote-right {
		right: 3%;
		font-size: 50px;
	}

	/* FOOTER */

	blockquote {
		width: 80%;
		margin: 0 auto;
	}

	/* FOOTER SOCIAL ICONS */

	footer ul {
		margin-bottom: 20px;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {


	/* GLOBAL STYLES */

	.btn-theme {
		width: 80% !important;
	}

	.logo-loader {
		max-width: 130px;
	}

	section {
		padding: 60px 0 !important;
	}

	/* HEADER */

	header h1 {
		margin: 30px;
	}

	.responsive-button i {
		font-size: 24px !important;
	}

	#fullscreen-menu-header a {
		padding-right: 0;
		padding-top: 0;
	}

	/* SERVICES */

	#services .col-md-4 p {
		width: 100%
	}

	#services .intro {
		margin-bottom: 50px;
	}

	/* ALL PHONES IMAGES CONTAINER */

	.phones {
		height: 200px !important;
	}

	.special-version .phones,
	.phones-version .phones {
		height: 250px;
	}

	/* NEWS */

	#list-news h3 {
		width: 50%;
	}

	#list-news .info .comments {
		display: none;
	}

	/* NEWSLETTER */

	#subscription input {
		width: 80%;
	}

	#subscription button {
		width: 20%;
	}

	/* PRICING */

	.price-table {
		width: 90%;
		margin: 0 auto;
	}

	/* FOOTER */

	.social {
		display: block;
		margin: 30px 0 !important;
	}

	.social li a {
		margin: 0;
	}

	.social i {
		font-size: 20px;
	}

	/* MODAL CONTACT AND FULLSCREEN MENU CLOSE BUTTON */

	button.close,
	.cd-primary-nav .overlay-close {
		width: 38px;
		height: 38px;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url(../img/crosslight.png) no-repeat center center !important;
	}

	.cd-primary-nav .overlay-close, button.close {
		background-size: 38px 38px !important;
	}

	@media  (-webkit-min-device-pixel-ratio: 1.3),
			(-o-min-device-pixel-ratio: 2.6/2),
			(min--moz-device-pixel-ratio: 1.3),
			(min-device-pixel-ratio: 1.3),
			(min-resolution: 1.3dppx) {

			.cd-primary-nav .overlay-close, button.close {
				background-size: 38px 38px !important;
			}
				
	}

	.cd-primary-nav ul {
		font-size: 34px;
	}

	.cd-primary-nav, .modal-backdrop.in {
		background: rgba(0,0,0,0.9) !important;
	}

}

/* Custom: iPhone Retina */ 
@media only screen and (max-width : 320px) {

	h2 {
		font-size: 40px;
	}

	header .intro img {
		width: 80%;
	}

	.btn-theme {
		width: 90% !important;
	}

	.text-icon-left p,
	.text-icon-right p {
		width: 100%;
		margin: 0 auto;
	}

	/* PRICING */

	.price-table {
		width: 100%;
		margin: 0 auto;
	}

	/* DOWNLOAD */

	blockquote p {
		font-size: 25px;
	}

}

/* Custom: Landscape devices */
@media only screen and (max-height: 420px) {

	.cd-primary-nav ul {
		font-size: 30px;
	}
	
}

@media only screen and (max-height: 280px) {

	.cd-primary-nav ul {
		font-size: 16px;
	}
	
}

@media only screen and (max-width: 480px) {

	.hand-phone {
		position: static;
  max-height: auto;
  top: 200px;
  max-width: 100%;
 
	}
	.header-special-version .intro h1{
		font-size: 24px;
	}
	header h5{
		font-size: 12px;
	}
	
}