.lv-order-form div.lv-row {
  display: block;
  margin-bottom: 8px;
}
.lv-order-form input[type=text],
.lv-order-form select,
.lv-order-form textarea {
  display: block;
  width: 100%;
  padding: 5px;
  height: 30px;
  border: thin solid #bfbfbf;
  border-radius: 4px;
  color: inherit;
}
.lv-order-form textarea {
  height: 80px;
}
.lv-order-form input[type=checkbox] {
  display: inline-block;
  margin: 0 8px 0 0;
}
.lv-order-form .lv-row-error {
  color: red;
}
.lv-order-form .lv-label span.required {
  color: red;
}
.lv-order-form .lv-label label {
  display: inline;
}
.lv-order-form .lv-sub-label label {
  display: inline;
  color: gray;
}
.lv-order-form .lv-order-button {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
}
.lv-order-form-css {
  padding: 15px;
  border: thin solid gray;
}
.lv-order-form-css input[type=text],
.lv-order-form-css select,
.lv-order-form-css textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.lv-input-address,.lv-input-fio,.lv-input-phone {
  font-size: 16px;
}