* { margin:0; padding:0; border:0; outline:none; }
a { color:#333; }
img { vertical-align:bottom; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:300; }
h1 { padding:43px 0 50px; font-size:27px; }
h1>span { background:#9e9e9e; display:block; width:250px; height:1px; margin:8px 0 0; }
h1>font { padding:8px 0 0; display:block; color:#828282; font-size:14px; }
li { list-style:none; }
html { min-width: 320px; }
body,input,button,textarea {font-family:'Open Sans',arial,sans-serif;font-size: 14px;line-height:1.25;color:#333;font-weight:300;}

.orderformcdn {padding: 0 20px;}
.form-group {margin:0 auto;}
.form-group label { display:block; padding:7px 0; }
.form-group input[type="text"], .form-group select {border:1px solid #b6b6b6;background:#fff;display:block;-moz-border-radius:5px;border-radius:5px;padding:0 15px;height:38px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance: none;font-size: 14px;}
.form-group input[type="text"]:focus { border-color:#08c; }
.errField {display:none;font-size: 14px;background: #ff0e57;color: #fff;text-align: center;padding: 10px;margin: 10px 0;border-radius: 3px;}


.btn { font-size:25px; border-radius:25px; -moz-border-radius:25px; line-height:50px; height:50px; text-decoration:none; text-transform:uppercase; font-weight:700; padding:0 48px; display:inline-block; text-align:center; cursor:pointer; box-sizing:border-box; }
.btn-blue { color:#fff; background:#08c; background:linear-gradient(to top,#08c,#3baee7); }
.btn-blue:hover { background:#007ab7; background:linear-gradient(to top,#007ab7,#08c); }
input[type="submit"] { width:260px; }
.btn-border { color:#08c; border:1px solid #08c; background:none; }
.btn-border:hover { background:#08c; color:#fff; }
.pull-left { float:left; }
.pull-right { float:right; }
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.clearfix { clear:both; }
.container { width:1000px; margin:0 auto; }


.navigation { background:#333; height:55px; position:fixed; z-index:22; top:0; left:0; width:100%; }
.navigation a.logo { display:block; margin:15px 0 0; }
.navigation a.callbacker { background:url(../img/callback.png) no-repeat 0 0; width:27px; height:27px; display:block; margin:14px 0 0; }
.navigation a.callbacker:hover { background-position:0 bottom; }
.navigation ul { padding:0 25px 0 0; }
.navigation ul>li { float:left; }
.navigation ul>li a { display:block; height:55px; padding:0 25px; line-height:55px; color:#fff; font-size:16px; font-family:'PT Sans',arial,sans-serif; text-decoration:none; }
.navigation ul>li a:hover { background:#1d1d1d; }


.header { background:#fafafa; height:440px; padding:55px 0 0; position:relative; overflow:hidden; }
.header h2 { text-align:center; font-size:21px; font-weight:400; padding:34px 0 0; }
.header h2>img { padding:0 5px; margin:0 0 -3px; vertical-align:bottom; }
.header .image { position:absolute; text-align:center; left:0; right:0; margin:0 auto; bottom:0; }
.header .image img { vertical-align:bottom; }


.form-block { background:#f0f0f0; height:163px; }
.form-block .price-block { background:url(../img/arrow.png) no-repeat right center; height:163px; padding:0 90px 0 15px; text-align:center; }
.form-block .price-block .price { padding:23px 0 0; font-size:18px; font-weight:700; text-align:center; }
.form-block .price-block .price del { color:#a2a2a2; font-size:14px; font-weight:300; }
.form-block .price-block ul { padding:20px 0 0; }
.form-block .price-block ul>li { background:#d4d4d4; font-family:'PT Sans',arial,sans-serif; font-size:28px; font-weight:700; height:40px; line-height:40px; width:40px; display:inline-block; vertical-align:top; margin:0 1px; border-radius:5px; -moz-border-radius:5px; }
.form-block .price-block h2 { font-family:'PT Sans',arial,sans-serif; font-size:15px; padding:18px 0 0; }
.form-block .color-block { background:url(../img/arrow.png) no-repeat right center; height:163px; padding:0 97px 0 58px; text-align:center; }
.form-block .color-block h3 { padding:35px 0 27px; font-size:17px; font-weight:400; color:#000; }
.form-block .color-block ul>li { display:inline-block; vertical-align:top; width:30px; height:30px; -moz-border-radius:50%; border-radius:50%; cursor:pointer; margin:0 16px; }
.form-block .color-block ul>li:hover { box-sizing:border-box; border:2px solid #333; }
.form-block .color-block ul>li.active:hover { border:0; cursor:default; }
.form-block .color-block ul>li.active { background-image:url(../img/check.png); background-repeat:no-repeat; background-position:center center; }
.form-block .color-block ul>li.white {background-color: #ffffff;}
.form-block .color-block ul>li.gold { background-color:#dedbc8; }
.form-block .color-block ul>li.black { background-color:#121f30; }
.form-block a.btn-blue { margin:56px 0 0 38px; }


.info-block1 { padding:0 0 50px; }
.info-block1 .image img { vertical-align:bottom; }
.info-block1 .content { margin:0 0 0 250px; overflow:hidden; }
.info-block1 .content .item { width:220px; padding:0 15px 20px; text-align:center; }
.info-block1 .content .item img { vertical-align:bottom; }
.info-block1 .content .item span { padding:17px 0; font-size:18px; display:block; }
.info-block1 .content .item p { color:#828282; }
.info-block1 .content a.btn-video { border:1px solid #08c; height:48px; line-height:48px; -moz-border-radius:25px; border-radius:25px; display:inline-block; text-decoration:none; color:#08c; padding:0 18px; }
.info-block1 .content a.btn-video:hover { background:#08c; color:#fff; }
.info-block1 .content a.btn-video:before { content:''; background:url(../img/watch.png) no-repeat 0 0; width:20px; height:20px; float:right; margin:14px 0 0 8px; }
.info-block1 .content a.btn-video:hover:before { background-position:0 bottom; }


.info-block2 { background:#fafafa; padding:0 0 50px; position:relative; }
.info-block2 .side { width:250px; }
.info-block2 .item { padding:0 0 13px; }
.info-block2 .item h2 { overflow:hidden; padding:0 0 12px; }
.info-block2 .item h2 i { float:left; }
.info-block2 .item h2 i:before { display:inline-block; vertical-align:middle; height:20px; }
.info-block2 .item h2 img { vertical-align:middle; }
.info-block2 .item h2 span { font-size:18px; display:block; margin:0 0 0 24px; }
.info-block2 .item p { background:#ececec; padding:13px 12px; -moz-border-radius:5px; border-radius:5px; }
.info-block2 .image { position:absolute; left:0; right:0; margin:0 auto; bottom:50px; width:250px; }
.info-block2 .image img { vertical-align:bottom; }


.info-block3 { padding:0 0 50px; }
.info-block3 .container { position:relative; }
.info-block3 ul>li { background:url(../img/check-border.png) no-repeat 0 0; font-size:20px; padding:0 0 35px 40px; }
.info-block3 .image { position:absolute; right:123px; top:120px; }


.info-block4 { background:#fafafa; padding:0 0 50px; }
.info-block4 .item {width:172px;padding:0 39px;margin: 0 0 50px 63px;cursor:pointer;}
.info-block4 .item.last { margin-right:0; }
.info-block4 .item .image { position:relative; height:345px; }
.info-block4 .item .image>div { position:absolute; top:0; left:0; }
.info-block4 .item:hover .image .back,.info-block4 .item.active .image .back { opacity:1; }
.info-block4 .item .image .back { z-index:2; opacity:.7; }
.info-block4 .item.active .image .back { left:-39px; }
.info-block4 .item .image .front { z-index:1; display:none; }
.info-block4 .item.active .image .front { display:block; left:39px; }
.info-block4 .item .name { padding:20px 0 0; }
.info-block4 .item .name>span {font-size:20px;padding: 0 10px;display:inline-block;vertical-align:top;line-height:38px;height:38px;color:#acacac;}
.info-block4 .item:hover .name>span,.info-block4 .item.active .name>span { border:1px solid #08c; -moz-border-radius:18px; border-radius:18px; line-height:36px; height:36px; color:#333; }


.info-block5 .container { position:relative; padding:0 0 30px; }
.info-block5 ul { width:490px; }
.info-block5 ul>li { background:url(../img/check-border-small.png) no-repeat 0 0; padding:0 0 20px 30px; font-weight:400; }
.info-block5 .image { position:absolute; bottom:0; right:98px; }
.info-block5 .image img { vertical-align:bottom; }


.steps { background:#f0f0f0; height:100px; }
.steps .item { background:url(../img/arrow.png) no-repeat right center; height:100px; padding:0 85px 0 55px; }
.steps .item.last { background:none; padding-right:0; }
.steps .item:before { content:''; height:100px; display:inline-block; vertical-align:middle; }
.steps .item img { display:inline-block; vertical-align:middle; }
.steps .item p { width:155px; display:inline-block; vertical-align:middle; font-size:12px; font-weight:400; padding:0 0 0 10px; }
.steps .item p span { font-size:16px; font-weight:700; display:block; }


.footer { background:#fafafa; padding:0 0 50px; }
.footer .container { position:relative; }
.footer .image { position:absolute; top:50px; }
.footer .right-side { width:363px; }
.footer .right-side .price { padding:65px 0 18px; font-size:25px; text-align:center; }
.footer .right-side .price>div { font-size:18px; }
.footer .right-side .price>div>b { font-size:25px; }
.footer .right-side .color-block { padding:0 0 14px; }
.footer .right-side .color-block ul>li {display:inline-block;vertical-align:top;width:30px;height:30px;-moz-border-radius:50%;border-radius:50%;cursor:pointer;margin:0 32px 0 0;box-shadow: 0 0 2px rgba(0,0,0,.2);}
.footer .right-side .color-block ul>li:hover { box-sizing:border-box; border:2px solid #333; }
.footer .right-side .color-block ul>li.active:hover { border:0; cursor:default; }
.footer .right-side .color-block ul>li.active { background-image:url(../img/check.png); background-repeat:no-repeat; background-position:center center; }
.footer .right-side .color-block ul>li.white {background-color: #ffffff;}
.footer .right-side .color-block ul>li.gold { background-color:#dedbc8; }
.footer .right-side .color-block ul>li.black { background-color:#121f30; }
.footer .left-side { width:335px; margin:102px 0 0 302px; }
.footer .left-side h3 { font-size:17px; font-weight:300; text-align:center; padding:0 0 21px; }
.footer .left-side .countdown { text-align:center; }
.footer .left-side .countdown>div { display:inline-block; vertical-align:top; }
.footer .left-side .countdown>b { display:inline-block; vertical-align:top; font-size:22px; color:#08c; font-weight:700; line-height:58px; padding:0 5px; }
.footer .left-side .countdown>div>span { display:block; font-size:27px; border:1px solid #058acd; width:58px; height:58px; line-height:58px; -moz-border-radius:50%; border-radius:50%; }
.footer .left-side .countdown>div>p { padding:4px 0 0; }
.footer .left-side .phones { padding:40px 0 0; }
.footer .left-side .phones ul>li { background:#d4d4d4; font-family:'PT Sans',arial,sans-serif; font-size:28px; font-weight:700; height:40px; line-height:40px; width:40px; display:inline-block; vertical-align:top; margin:0 1px; border-radius:5px; -moz-border-radius:5px; }
.footer .left-side .phones h2 { font-family:'PT Sans',arial,sans-serif; font-size:15px; padding:18px 0 0; }


.copyright { background:#333; font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; }
.copyright a {color: #6C6E6F;text-decoration: none;margin: 0 10px;}
.copyright a:hover { color:#FF0069; text-decoration: none; }

.checkXXX {width: 100%;padding-bottom: 0!important;margin: 10px auto 20px;}
.checkXXX:after { clear: both; display: block; content:""; }
.checkXXX input[type="checkbox"] {float: left;width: auto;height: auto;margin: 3px 0 0;max-width: 10%;}
.checkXXX label {float: right;width: 90%;font-size: 15px;}
.checkXXX label a:hover { color: #FF0069; text-decoration: none; }


.fake {background: #fff;padding: 40px 0;background-image: -webkit-linear-gradient(45deg, #d585ff, #0fe);background-image: linear-gradient(45deg, #d585ff, #0fe); display: none; }
.fake .supertitle {font-size: 40px;margin-bottom: 20px;}
.fake img { max-width: 100%; }

@media screen and (max-width: 999px) and (min-width: 640px) {
	
	h1 { padding:23px 0 30px; font-size:20px; }
	h1>span { width:200px; }
	h1>font { font-size:14px; }
	.container { width:600px; padding:0 20px; }
	.navigation ul { display:none; }
	
	.header { height:350px; }
	.header .image { position:absolute; text-align:center; left:0; right:0; margin:0 auto; width:560px; bottom:0; }
	.header .image img { width:100%; vertical-align:bottom; }
	
	.form-block { background:#f0f0f0; height:163px; }
	.form-block .price-block { padding:0 80px 0 0; }
	.form-block .color-block { background:none; height:auto; padding:0 30px; text-align:center; }
	.form-block .color-block h3 { padding:20px 0 15px; }
	.form-block a.btn-blue { float:none; margin:10px 0 0 13px; }
	
	.info-block1 { padding:0 0 50px; }
	.info-block1 .image { padding:30px 0 0; }
	.info-block1 .image img { vertical-align:bottom; width:150px; }
	.info-block1 .content { margin:0 0 0 170px; overflow:hidden; }
	.info-block1 .content .item { width:auto; padding:0 0 20px; text-align:left; }
	.info-block1 .content .item img { vertical-align:bottom; float:left; }
	.info-block1 .content .item span { padding:0 0 5px; font-size:15px; margin:0 0 0 80px; }
	.info-block1 .content .item p { margin:0 0 0 80px; font-size:13px; }
	
	.info-block2 { padding:0 0 250px; overflow:hidden; }
	.info-block2 .image { bottom:-150px; }
	
	.info-block3 { padding:0 0 50px; }
	.info-block3 ul>li { background:url(../img/check-border-small.png) no-repeat 0 0; font-size:16px; padding:0 0 25px 30px; }
	.info-block3 .image { position:absolute; right:0; top:60px; }
	.info-block3 .image img { width:300px; }
	
	.info-block4 { background:#fafafa; padding:0 0 50px; }
	.info-block4 .item { width:140px; padding:0 20px; margin:0 0 30px 75px; cursor:pointer; }
	.info-block4 .item .image { height:280px; }
	.info-block4 .item img { width:140px; }
	.info-block4 .item .name>span { font-size:15px; }
	
	.info-block5 ul { width:340px; }
	.info-block5 .image { right:0; }
	.info-block5 .image img { width:250px; vertical-align:bottom; }
	
	.steps { background:#f0f0f0; height:auto; }
	.steps .item,.steps .item.last { background:none; height:auto; width:160px; text-align:center; padding:20px; }
	.steps .item:before { display:none; }
	.steps .item p { width:auto; display:block; padding:0; }
	.steps .item p span { padding:10px 0; font-size:14px; font-weight:700; display:block; }
	
	.footer .image { left:50px; }
	.footer .right-side { width:363px; float:none; margin:20px auto 0; }
	.footer .left-side { width:335px; float:none; margin:0 0 0 265px; padding:100px 0 0; }
}


@media screen and (max-width: 639px) and (min-width:0px) {
	h1 { padding:23px 0 30px; font-size:18px; }
	h1>span { width:200px; }
	h1>font { font-size:13px; }
	.container { width:300px; padding:0 10px; }
	
	.navigation { height:45px; }
	.navigation a.logo { margin:11px 0 0; }
	.navigation .logo img { height:20px; }
	.navigation ul { display:none; }
	.navigation a.callbacker { margin:10px 0 0; }
	
	.header { height:250px; }
	.header h2 { text-align:center; font-size:17px; font-weight:400; padding:34px 0 0; }
	.header h2>img { width:90px; padding:0 2px 4px; vertical-align:bottom; }
	.header .image { bottom:0; width:300px; }
	.header .image img { width:100%; vertical-align:bottom; }
	
	.form-block { height:auto; text-align:center; padding:0 0 30px; }
	.form-block .price-block { background:none; padding:0; float:none; }
	.form-block .color-block { background:#fafafa; border-radius:5px; -moz-border-radius:5px; height:auto; padding:0 0 15px; text-align:center; float:none; }
	.form-block .color-block h3 { padding:20px 0 15px; }
	.form-block a.btn-blue { float:none; margin:20px 0 0 13px; }
	
	.info-block1 { padding:0 0 200px; position:relative; overflow:hidden; }
	.info-block1 .image { padding:0; position:absolute; bottom:-150px; left:0; right:0; margin:0 auto; width:248px; }
	.info-block1 .image img { vertical-align:bottom; }
	.info-block1 .content { margin:0; overflow:hidden; }
	.info-block1 .content .item { width:auto; padding:0 0 20px; text-align:left; }
	.info-block1 .content .item img { vertical-align:bottom; float:left; }
	.info-block1 .content .item span { padding:0 0 5px; font-size:15px; margin:0 0 0 80px; }
	.info-block1 .content .item p { margin:0 0 0 80px; font-size:13px; }
	
	.info-block2 { padding:0 0 250px; overflow:hidden; }
	.info-block2 .side { width:auto; float:none; }
	.info-block2 .item { padding:0 0 13px; }
	.info-block2 .image { bottom:-160px; }
	.info-block2 .image img { vertical-align:bottom; }
	
	.info-block3 { padding:0 0 50px; }
	.info-block3 ul { padding:0 0 300px; }
	.info-block3 ul>li { background:url(../img/check-border-small.png) no-repeat 0 0; font-size:16px; padding:0 0 25px 30px; }
	.info-block3 .image { position:absolute; right:30px; top:320px; }
	.info-block3 .image img { width:240px; }
	
	.info-block4 .item,.info-block4 .item.last { width:172px; padding:0 39px; margin:0 auto 50px; float:none; cursor:pointer; }
	
	.info-block5 .container { padding:0 0 270px; }
	.info-block5 ul { width:auto; }
	.info-block5 .image { right:50px; bottom:0; }
	.info-block5 .image img { width:200px; vertical-align:bottom; }
	
	.steps { height:auto; padding:20px 0 40px; }
	.steps .item,.steps .item.last { background:none; height:auto; width:auto; float:none; text-align:center; padding:20px 20px 0; }
	.steps .item:before { display:none; }
	.steps .item p { width:auto; display:block; padding:0; }
	.steps .item p span { padding:10px 0; font-size:14px; font-weight:700; display:block; }
	
	.footer .image { left:75px; top:310px; }
	.footer .image img { width:150px; }
	.footer .right-side { width:auto; float:none; margin:250px 0 0; }
	.footer .left-side { width:auto; float:none; margin:0; padding:20px 0 0; }
	
	#video-phone iframe { width:220px!important; height:150px!important; }
	
	#callback .form-group { width:210px; }
	#callback .form-group input[type="text"] { width:180px; }
	#callback input[type="submit"] { width:220px; }
}

