<html>
<head>
	<title>Awmzone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/types/cinema/template/admin/images/icon.png">
	<link rel="stylesheet" href="/types/engine/template/css/font-awesome/5.3.1/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="/types/cinema/template/admin/rewrite/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container" id="app">
		<div class="row">
			<div class="col-12 col-md-8 mt-2 mb-2">
				<h3>
					Настройки домена <a :href="'/?r=admin/Admin/domain&domain='+domain.domain">{{ domain.domain }}</a>
					<a v-if="domain.mirror_of" :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.mirror_of"><i class="fas fa-cog"></i></a>
				</h3>
			</div>
			<div class="col-12 col-md-4 mt-2 mb-2">
				<label>Скопировать настройки:</label>
				<select class="form-select" v-model="copy_domain">
					<option :value="null">Не выбрано</option>
					<option v-for="domain in domains" v-if="domain.type != 'mirror'" :value="domain">{{ domain.domain }}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 mb-2" v-for="(value,property) in domain" v-if="!properties[property]">
				<div class="form-group">
					<label>{{ property }}</label>
				</div>
			</div>
			<div class="col-md-2 mb-2" v-for="(property,property_name) in properties">
				<div v-if="property.type == 'select'">
					<div class="form-group">
						<label>{{ property.name }}</label>
						<select class="form-select" v-model="domain[property_name]">
							<option :value="null">Не выбрано</option>
							<option v-for="option in property.options" :value="option[property.option_name]">{{ option[property.option_name] }}</option>
						</select>
					</div>
				</div>
				<div v-if="property.type == 'boolean'">
					<label>&nbsp;</label>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" :id="property_name" v-model="domain[property_name]">
						<label class="form-check-label" :for="property_name">
							{{ property.name }}
						</label>
					</div>
				</div>
				<div v-if="property.type == 'int' || property.type == 'text'">
					<div class="form-group">
						<label>{{ property.name }}</label>
						<input class="form-control" type="text" v-model="domain[property_name]">
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary mb-2" @click="updateDomain">Сохранить</button>

		<div class="row">
			<div class="col-md-3">
				<label>Создать зеркало <a :href="'/?r=admin/Admin/domainSettings&amp;domain=' + mirror">{{ mirror }}</a></label>
				<div class="input-group mb-2">
					<input class="form-control" type="text" v-model="mirror">
					<button class="btn btn-secondary" @click="createMirror" :disabled="is_create_mirror_button_disabled">Создать</button>
				</div>
				<button class="btn btn-secondary mb-2" @click="clearDomainDnsRecords" :disabled="is_clear_domain_dns_records_button_disabled">Очистить записи домена</button>
				<button class="btn btn-secondary mb-2" @click="setParentDns('google')" :disabled="is_set_parent_dns_button_disabled">Создать @ CNAME google</button>
				<button class="btn btn-secondary mb-2" @click="setParentDns('vps')" :disabled="is_set_parent_dns_button_disabled">Создать @ CNAME vps</button>
			</div>
			<div class="col-md-4">
				<label>Создать поддомен <a :href="'/?r=admin/Admin/domainSettings&amp;domain=' + subdomain + '.' + domain.domain">{{ subdomain?(subdomain + '.' + domain.domain):'' }}</a></label>
				<div class="input-group mb-2">
					<input class="form-control" type="text" v-model="subdomain">
					<select class="form-select" v-model="subdomain_type">
						<option :value="null">Не выбрано</option>
						<option v-for="type in properties.type.options" :value="type.type">{{ type.type }}</option>
					</select>
					<button class="btn btn-secondary" @click="createSubdomain" :disabled="is_create_subdomain_button_disabled">Создать</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<script>
		const router = new VueRouter({
			mode: 'history',
			routes: []
		});
		var vue = new Vue({
			router,
			el: '#app',
			data: {
				properties: {
					domain: {
						type: 'text',
						name: 'Домен'
					},
					mirror_of: {
						type: 'select',
						name: 'Является зеркалом',
						options: [],
						option_name: 'domain'
					},
					redirect_to: {
						type: 'select',
						name: 'Редирект на',
						options: [],
						option_name: 'domain'
					},
					client_redirect_to: {
						type: 'select',
						name: 'Редирект клиента на',
						options: [],
						option_name: 'domain'
					},
					ru_domain: {
						type: 'select',
						name: 'Домен для РФ',
						options: [],
						option_name: 'domain'
					},
					next_ru_domain: {
						type: 'select',
						name: 'След. домен для РФ',
						options: [],
						option_name: 'domain'
					},
					client_redirect: {
						type: 'boolean',
						name: 'Редирект клиентов на основу',
					},
					access_scheme: {
						type: 'select',
						name: 'Схема доступа',
						options: [{'access_scheme':'v1'},{'access_scheme':'v2'}],
						option_name: 'access_scheme'
					},
					type: {
						type: 'select',
						name: 'Движок',
						options: [],
						option_name: 'type',
					},
					on: {
						type: 'boolean',
						name: 'Состояние'
					},
					auth: {
						type: 'boolean',
						name: 'Запрашивать авторизацию'
					},
					www: {
						type: 'select',
						name: 'WWW',
						options: [{'www':'www_only'},{'www':'on'},{'www':'off'}],
						option_name: 'www'
					},
					only_https: {
						type: 'boolean',
						name: 'Только https'
					},
					only_http: {
						type: 'boolean',
						name: 'Только http',
					},
					reborn: {
						type: 'boolean',
						name: 'Метка Reborn'
					},
					engine: {
						type: 'select',
						name: 'Версия движка',
						options: [],
						option_name: 'engine'
					},
					site_name: {
						type: 'text',
						name: 'Название',
					},
					type_template: {
						type: 'select',
						name: 'Шаблон',
						options: [],
						option_name: 'type_template'
					},
					metrika_id: {
						type: 'int',
						name: 'Metrika ID'
					},
					videoroll_id: {
						type: 'int',
						name: 'Videoroll ID'
					},
					movieads_id: {
						type: 'text',
						name: 'Movieads ID'
					},
					logo_src: {
						type: 'text',
						name: 'Logo Src',
					},
					favicon_src: {
						type: 'text',
						name: 'Favicon Src',
					},
					bg_src: {
						type: 'text',
						name: 'Bg Src',
					},
					comment: {
						type: 'text',
						name: 'Заметки'
					},
					brand: {
						type: 'boolean',
						name: 'Брендовый',
					},
					yandexAllowed: {
						type: 'boolean',
						name: 'Открыт для Яндекса',
					},
					to_transfer: {
						type: null
					},
					to_registrar: {
						type: null
					},
					code: {
						type: null
					},
					transfer_reason: {
						type: null
					},
					ru_block: {
						type: null
					},
					expired: {
						type: null
					},
					owner: {
						type: null
					},
					status: {
						type: null
					},
					charset: {
						type: null
					},
					registrar: {
						type: null
					},
					parent_domain: {
						type: null
					},
					mobile_version: {
						type: null
					},
					create_date: {
						type: null
					},
					lang: {
						type: null
					},
					source_charset: {
						type: null
					},
					rewrite_function: {
						type: null
					},
					additional_path: {
						type: null
					},
					mysql_charset: {
						type: null
					},
					add_date: {
						type: null
					},
					updated_at: {
						type: null
					},
					yandex_redirect: {
						// type: 'boolean',
						type: null,
						name: 'Редиректить Яндекс?',
					},
					google_redirect: {
						// type: 'boolean',
						type: null,
						name: 'Редиректить Гугл?',
					},
					whois: {
						type: null
					},
					added_to_alloha: {
						type: null
					}
				},
				domain: {},
				copy_domain: null,
				domains: [],
				mirror: null,
				subdomain: null,
				subdomain_type: null,
				is_create_mirror_button_disabled: false,
				is_create_subdomain_button_disabled: false,
				is_clear_domain_dns_records_button_disabled: false,
				is_set_parent_dns_button_disabled: false,
			},
			methods: {
				getDomain: function(domain) {
					axios
					.post('/?r=admin/api/Admin/getDomain',domain)
					.then(response => {
						this.domain = response.data;
						this.mirror = this.domain.redirect_to;
					});
				},
				getCopyDomain: function(domain) {
					axios
					.post('/?r=admin/api/Admin/getDomain',domain)
					.then(response => {
						this.copy_domain = response.data;
					});
				},
				getDomains: function() {
					axios
					.post('/?r=admin/api/Admin/getDomains')
					.then(response => {
						this.domains = response.data;
					});
				},
				updateDomain: function() {
					axios
					.post('/?r=admin/api/Admin/updateDomain',this.domain)
					.then(response => {
						alert('Настройки изменены');
						this.getDomain(this.$route.query.domain);
					})
					.catch(error => alert('Ошибка при изменении домена'));
				},
				getTypes: function() {
					axios
					.post('/?r=admin/api/Admin/getTypes')
					.then(response => {
						this.properties.type.options = response.data;
					});
				},
				getEngines: function() {
					axios
					.post('/?r=admin/api/Admin/getEngines')
					.then(response => {
						this.properties.engine.options = response.data;
					});
				},
				getTypeTemplates: function() {
					axios
					.post('/?r=admin/api/Admin/getTypeTemplates')
					.then(response => {
						this.properties.type_template.options = response.data;
					});
				},
				createMirror: function() {
					this.is_create_mirror_button_disabled = true;
					axios
					.post('/?r=admin/api/Admin/createMirror',{
						mirror: this.mirror,
						domain: this.domain.domain,
					})
					.then(response => {
						this.getDomain(this.$route.query.domain);
						this.getDomains();
						this.is_create_mirror_button_disabled = false;
						alert('Зеркало создано');
					})
					.catch(error => alert('Ошибка при создании зеркала'));
				},
				createSubdomain: function() {
					this.is_create_subdomain_button_disabled = true;
					axios
					.post('/?r=admin/api/Admin/createSubdomain',{
						subdomain: this.subdomain,
						domain: this.domain.domain,
						type: this.subdomain_type,
					})
					.then(response => {
						this.getDomain(this.$route.query.domain);
						this.getDomains();
						this.is_create_subdomain_button_disabled = false;
						alert('Поддомен создан');
					})
					.catch(error => alert('Ошибка при создании поддомена'));
				},
				clearDomainDnsRecords: function () {
					if (!confirm('Точно очистить днс записи?')) {
						return false;
					}
					this.is_clear_domain_dns_records_button_disabled = true;
					axios
					.post('/?r=admin/api/Admin/clearDomainDnsRecords',{
						domain: this.domain.domain,
					})
					.then(response => {
						this.is_clear_domain_dns_records_button_disabled = false;
						alert('DNS записи очищены');
					})
					.catch(error => alert('Ошибка при очистке записей'));
				},
				setParentDns: function (type) {
					if (!confirm('Точно установить CNAME запись?')) {
						return false;
					}
					this.is_set_parent_dns_button_disabled = true;
					axios
					.post('/?r=admin/api/Admin/setParentDns',{
						domain: this.domain.domain,
						type: type,
					})
					.then(response => {
						this.is_set_parent_dns_button_disabled = false;
						alert('CNAME ' + type + ' создана');
					})
					.catch(error => alert('Ошибка при добавлении CNAME записи'));
				},
			},
			mounted() {
				this.getDomain(this.$route.query.domain);
				this.getDomains();
				this.getTypes();
				this.getEngines();
				this.getTypeTemplates();
			},
			watch: {
				copy_domain: function() {
					var domain_old = this.domain;
					this.domain = Object.assign({},this.copy_domain);
					this.domain.domain = domain_old.domain;
					this.domain.mirror_of = null;
					this.domain.redirect_to = null;
					this.domain.client_redirect_to = null;
					this.domain.comment = domain_old.comment;
					this.domain.metrika_id = domain_old.metrika_id;
					this.domain.logo_src = domain_old.logo_src?domain_old.logo_src:this.domain.logo_src;
					this.domain.favicon_src = domain_old.favicon_src?domain_old.favicon_src:this.domain.favicon_src;
					this.domain.bg_src = domain_old.bg_src?domain_old.bg_src:this.domain.bg_src;
					this.domain.comment = domain_old.comment;
					this.domain.site_name = domain_old.site_name;
					this.domain.movieads_id = null;
					this.domain.videoroll_id = null;
					this.domain.client_redirect = domain_old.client_redirect;
					this.domain.ru_domain = null;
					this.domain.next_ru_domain = null;
					this.domain.add_date = domain_old.add_date;
				},
				domains: function() {
					this.properties.mirror_of.options = this.domains.filter(domain => (domain.mirror_of == null && domain.domain != this.domain.domain));
					this.properties.redirect_to.options = this.domains.filter(domain => (domain.mirror_of == this.domain.domain || domain.domain == this.domain.domain));
					this.properties.client_redirect_to.options = this.domains.filter(domain => (domain.mirror_of == this.domain.domain || domain.domain == this.domain.domain));
					this.properties.ru_domain.options = this.domains.filter(domain => (domain.mirror_of == this.domain.domain || domain.domain == this.domain.domain));
					this.properties.next_ru_domain.options = this.domains.filter(domain => (domain.mirror_of == this.domain.domain || domain.domain == this.domain.domain));
				},
			},
		});
	</script>
</body>
</html>