* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    background: #000;
    font-family: Tahoma, sans-serif;
    color: #fff;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
.alignleft {
    float: left;
}
.aligntight {
    float: right;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {
    *min-height: 1px;
}
.top{
    position: absolute;
    width: 100%;
    height: 85px;
    background: url(images/header_bg.jpg) repeat-x;
}
/*----- Start wrapper -----*/
#wrapper{
    width: 1230px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;    
}
/*----- Start header -----*/
#header {
    height: 85px;
    overflow: hidden;
    margin-bottom: 6px;
}
.logo {
    float: left;
    display: block;
    margin: 17px 0 0 10px;
}
/*------- Begin social -------*/
.social {
    float: right;
    margin:25px 7px 0 0;
}
.social a {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 0;
    display: block;
}
/*------- End social -------*/
.search {
    width: 442px;
    height: 29px;
    float: right;
    margin-top: 27px;
    background: url(images/search_bg.png) no-repeat;
}
.search input {
    width: 353px;
    height: 29px;
    line-height: 29px;
    padding: 0 8px 0 15px;
    background: none;
    border: none;
    outline: none;
    display: block;
    font-size: 11px;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    float: left;
}
.search input.bttn {
    width: 66px;
    height: 29px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #b3331b;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
}
.article_button{
    float: right;
    font-size: 18px;
    font-weight: bold;
    font-family: Tahoma,sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    background: url(images/article_button.png) no-repeat;
    width: 145px;
    height: 52px;
    line-height: 50px;
    margin: 17px 7px 0 0;
    text-align: center;
    overflow: hidden;
}
/*----- End header -----*/
/*----- Start left_sidebar -----*/
#left_sidebar{
    float: left;
    width: 228px;
    margin-right: 3px;
}
.title_sidebar{
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: center;
    background: url(images/title_sidebar_bg.png) repeat-x;
}
.title_sidebar h2 {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
}
.navigation li{
    background: url(images/navigation_bg.png) repeat-x;
    height: 20px;
    line-height: 18px;
    padding-left: 7px;
    margin-top: 1px;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
}
.navigation li a{
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    padding-left: 10px;
    background: url(images/navigation_bullet.png) no-repeat left 6px;
}
.navigation li a:hover, .navigation .active a {
    color: #fd5535;
}
/*----- End left_sidebar -----*/
/*----- Start content -----*/
#content{
    float: right;
    width: 998px;
}
/*----- Start title -----*/
.title {
    height: 39px;
    line-height: 35px;
    background: url(images/title_bg.png) repeat-x left;
    position: relative;
    margin-bottom: 2px;
}
.title img{    
    float: left;
    margin: 5px 10px 0 5px;
}
.title .camera {margin-top: 0;}
.title a {
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    color: #f8f7f7;
    text-shadow: 1px 1px 0 #000;
}
.title h2, .title h1 {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    color: #f8f7f7;
    text-shadow: 1px 1px 0 #000;
    display: inline;
    /*float: left;*/
    /*padding-left: 10px;*/
}
.title-video h1 {
    font-size: 15px;
}
/*----- End title -----*/
/*----- Start thumb -----*/
.thumbs{
    margin-bottom: 15px;
    text-align: center;
    /*font-size: 0;*/
}
.thumb {
    width: 241px;
    padding: 1px;
    overflow: hidden;
    background: #f8f7f7;
    border: 2px solid #d5d3d3;
    margin: 1px;
    float: left;
    padding-bottom: 5px;
    text-align: center;
}
.title_thumb{
    height: 30px;
    margin-bottom: 4px;
    overflow: hidden;
}
.title_thumb h3 {
    font-size: 13px;
    line-height: 14px;
    font-family: Tahoma, sans-serif;
    color: #cd3417;
    text-shadow: 1px 1px 0 #fff;
}
.image_thumb{
    width: 242px;
    height: 182px;
    overflow: hidden;
}
.thumb img {
    width: 240px;
    height: auto;
    display: inline-block;
    border: 1px solid #000;
}
.title_thumb h3 a:hover {
    color: #000;
}
.descrip_thumb{
    height: 78px;
    padding: 0 5px;
    margin-bottom: 3px;
    overflow: hidden;
}
.descrip_thumb{
    font-size: 11px;
    line-height: 13px;
    font-family: Tahoma, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.view{
    float: left;
    /*width: 50%;*/
    height: 14px;
    text-align: left;
}
.view span{
    display: block;
    height: 14px;
    padding-left: 22px;
    margin-left: 5px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    background: url(images/view_thumb.png) no-repeat left 0;
}
.rating{
    float: right;
    margin-right: 3px;
    background: url(images/star_nonactive.png);
    width: 74px;
    height: 14px;
}
.rating div{
    background: url(images/star_active.png);
    width: 0;
    height: 100%;
}
.rating_left {float: left; margin-left: 20px;}
/*----- End thumb -----*/
/*------- Begin pagination -------*/
.pagination{
    text-align: center;
    font-size: 0;
    margin-bottom: 10px;
}
.pagination a {
    display: block;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    height: 31px;
    line-height: 31px;
    padding: 0 8px;
}
.pagination li{
    display: inline-block;
    margin: 0 2px 0 1px;
    background: url(images/pagin.png) repeat-x;
}
.pagination li:hover, .pagination .current{
    background: url(images/pagin_hover.png) repeat-x;
}
.pagination a:hover, .pagination .current a {
    color: #000;
    text-shadow: 1px 1px 0 #fefefe;
}
/*------- End pagination -------*/
/*----- End content -----*/
/*----- End wrapper -----*/
/*----- Start footer -----*/
 #footer {
    min-height: 50px;
    margin-top: 20px;
    background: url(images/footer_bg.jpg) repeat-x bottom;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
}
#footer .counter {
    margin-top: 10px;
    text-align: center;
}
.foot {
    width: 1150px;
    margin: 10px auto;
}
.foot_descrip{
    overflow: hidden;
    margin-bottom: 10px;
}
.foot_descrip p{
    line-height: 15px;
    color: #f8f7f7;
}
.foot a {
    font-weight: bold;
    color: #fd5535;
    text-decoration: none;
    margin: 0 5px;
}
.foot span {
    color: #fff;
    font-weight: bold;
}
.foot a:hover {
    color: #f8f7f7;
}
 /*----- End footer -----*/
 /*----- Start video.hmtl -----*/
.video_wrap{
    background: #f8f7f7;
    border: 2px solid #d5d3d3;
    padding: 10px 25px;
 }
.video{
    width: 700px;
    height: 481px;
    overflow: hidden;
    margin: 0 auto 15px;
    /*background: url(images/video.jpg) no-repeat;*/
 }
.video_tags{
    text-align: left;
    float: left;
    width: 80%;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
 }
.video_tags p{
    color: #000;
 }
.video_tags p a{
    color: #f9401d;
    font-weight: bold;
 }
 .video_rating {
    float: right;
    width: 165px;
    height: 20px;
 }
.video_rating2 {
    float: right;
    width: 105px;
    height: 20px;
    background: url(images/video_star_nonactive.png);
}
.video_rating2 div{
    width: 0;
    height: 100%;
    background: url(images/video_star_active.png);
}
.video_descrip{
    width: 80%;
    height: 62px;
    overflow: hidden;
    margin-bottom: 10px;
}
.video_descrip p,.video_view{
    color: #000;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 15px;
}
.video_view{
    display: block;
    background: url(images/view_thumb.png) no-repeat 0 0;
    padding-left: 22px;
}
/*----- End video.html -----*/

.text, .category_text, .gallery_view {
    padding: 1px;
    background: #f8f7f7;
    border: 2px solid #d5d3d3;
    margin: 1px;
    padding-bottom: 5px;
    color: #333;
    font-size: 14px;
}
.text img, .category_text img {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 10px;
}
.gallery_view {
    text-align: center;
}
.gallery_view img {
    width: 600px;
    height: auto;
}
.gallery {text-align: center;}
.gallery img {border: 1px solid #fff;}
.gallery li {margin: 5px; list-style-type: none;}

.h1_rating {margin-bottom: 5px;}
.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 780px; text-align: center;}
.h1_rating .right {float: right; margin-top: 15px; width: 190px;}

.articles {margin: 0;}
.articles ul {margin: 0;}
.articles li {margin: 2px auto; list-style-type: none;}
.articles .article_title {color: #C03; font-weight: bold; font-size: 20px; margin-left: 15px;}
.articles .more {float: right; color: #C03; margin-right: 5px;}
.articles .more_block {margin-top: 5px;}
.articles .text {margin-bottom: 0;}
.articles .short {max-height: 200px; overflow: hidden; margin-top: 5px;}
.articles .short img {width: auto; height: auto; max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.article .left {margin-left: 10px; font-size: 30px;}
.article img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.comm {
    padding: 10px 10px 10px 35px;
    border-radius: 4px;
    /*background-color: #faf6e4;*/
    margin-top: 5px;
}

.comm h4 {
    color: #454545;
    font-size: 13px;
    font-weight: bold;
}

.comm input {
}

.comm input.user-name{
    background: url("images/input1.png") no-repeat;
    width: 219px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #454545;
    padding: 0 9px;
    margin-top: 9px;
    border: none;
}

.comm textarea{
    background: url("images/input2.png") no-repeat;
    width: 606px;
    height: 89px;
    font-size: 12px;
    color: #454545;
    padding: 8px 9px;
    margin-top: 14px;
    border: none;
    font-family: 'Tahoma'; 
    line-height: 16px;
    resize: none;
}

.comm input[type="submit"] {
    margin-top: 8px;
}

.user-comm {
    margin-bottom: 20px;
}

.user-comm-main {
}

.user-comm .user-comm-top .username {
    color: #c66931;
    font-size: 14px;
   font-weight: bold;
}

.user-comm-top .date {
    font-size: 10px;
    color: #8e8e8e;
}

.user-comm p{
    margin-top: 2px;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
}

.block {
    background: #f8f7f7;
    /*border: 2px solid #d5d3d3;*/
}

.recent_news {margin-top: 10px; font-size: 14px;}
.recent_news .news {text-decoration: underline; font-size: 14px; color: #fff;}
.recent_news .date {font-size: 9px;}
.recent_news .title {font-weight: bold; color: #fff; text-align: center;}
.recent_news .text {color: #ddd; background-color: #000; border: none; font-size: 11px; text-align: center; line-height: 11px;}
.recent_news .text a {font-size: 11px;}
.news .item {margin-bottom: 10px;}
.news .date {font-size: 10px;}
.news .text {}
.news .admin {font-size: 10px;}

.games {text-align: center; clear: both; width: 1080px; margin: 10px auto 20px auto;}
.games ul {list-style-type: none; margin: 0px; padding: 0;}
.games li {text-align: center; overflow: hidden; width: 260px; height: 270px; margin: 5px; float: left; font-size: 12px;}
.games li:hover {}
.games li .title {height: 20px; margin: 0 auto; overflow: hidden; font-weight: bold;}
.games li .description {height: 60px; margin: 0 auto; overflow: hidden;}
.games li .info {margin: 0 auto; width: 240px; position: relative; top: -110px; height: 16px;}
.games li .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.games li .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.games img {width: 250px; height: auto; margin: 0 0 5px 0;}
.games a {color: #333; }
.games a.title {display: block; width: 260px; height: auto; overflow: hidden;}

.games li {
    /*border: 1px solid #000;*/
}

.game {
    /*width: 960px;*/
    margin: 0 auto;
}
.game h1 {margin-top: 10px;}
.game object {
    width: 960px;
    height: 800px;
    line-height: 0;
}

.sections {
    margin-bottom: 10px;
}
.sections li {
    font-weight: bold;
}
.sections .active a, .sections li a:hover {
    color: #f90;
}