/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }


html {width:100%;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#867f81;
	min-width:940px;
	/* background:#e2e2de url(../images/wrapper_site.gif) top center no-repeat; */
}

.main {
	width:940px; 	
	padding:0;
	margin:0 auto;
	font-size:12px;
	line-height:18px;
}


input, textarea{font-family:Arial, Helvetica, sans-serif;}
textarea{overflow:auto;}


a {color:#138ecd; outline:none; cursor:pointer;}
a:hover {text-decoration:none;}

object {outline:none;}
.fleft{ float:left;}
.fright{ float:right;}
.clear1{ width:100%; overflow:hidden;}
.col-1, .col-2, .col-3, .col-4, .row-box-1, .row-box-2, .row-box-3, .row-box-4{ float:left;}
.br{ display:block;}
/*contstant-text*/
.bottom-none{ padding-bottom:0 !important;}
.bg-none{ background:none !important;}
.border-none{ border:none;}
/**/



/*********************************header*************************************/
.tail-header{ background:#2595e6 url(../images/header_wrapper.jpg) top center no-repeat; height:115px;}
.site-content{
	/*background:url(../images/site_content.png) 0 0 repeat; */
	position:absolute; z-index:111; width:940px;}
.header-height{ height:100%}
.tail-content{ background:#f2f2ee; overflow:hidden;}
.tail-footer{ background:#e2e2de;}


header{ height:115px;}
.logo{ font-size:72px; color:#FFF; text-decoration:none; line-height:1.2em; margin:6px 0 0 0; display:block; position:absolute; letter-spacing:-1px; z-index:222;}
.logo:hover{ color:#ffe5e5;}

.header-form{ background:url(../images/header_form.png) 0 0 no-repeat; width:201px; height:25px; margin:25px 0 0 739px; position:absolute;}
.header-form input{ background:none; border:none; margin:2px 0 0 13px; width:156px; color:#ffe5e5; height:17px; line-height:17px; font-family:Arial; position:absolute; z-index:222;}
.header-form .link{ background:url(../images/header_button.gif) 0 0 no-repeat; width:18px; height:16px; position:absolute; margin:4px 0 0 176px; z-index:222;}

/*top-menu*/
header nav{ display:block; background:url(../images/top_menu.png) 0 0 no-repeat; width:486px; height:40px; position:absolute; margin:75px 0 0 460px;}
.top-menu {z-index:222; position:absolute;}
.top-menu li{ background:url(../images/top_menu_separator.png) top right no-repeat; padding-right:1px;}
.top-menu li, .top-menu li a{ display:block; float:left; } 
.top-menu li a{ color:#ffffff; font-size:12px; text-transform:uppercase; text-decoration:none; padding:11px 19px 12px 19px;}
.top-menu a:hover, .top-menu .active{ color:#FFF; background:url(../images/top_menu_hover.png) 0 0 repeat-x;}

.top-menu .corner a, .top-menu .corner .active{ padding:0 !important;}
.top-menu .corner a:hover span, .top-menu .corner .active span{ 
	/*background:url(../images/top_menu_corner.png) 0 0 no-repeat;*/
}
.top-menu .corner a span, .top-menu .corner .active span{  padding:11px 21px 12px 21px;  display:block;}

.top-menu .corner1 a, .top-menu .corner1 .active{ padding:0 !important;}
.top-menu .corner1 a:hover span, .top-menu .corner1 .active span{ background:url(../images/top_menu_corner1.png) top right no-repeat;}
.top-menu .corner1 a span, .top-menu .corner1 .active span{  padding:11px 22px 12px 22px;  display:block;}
/**/



/*********************************content*************************************/


/*******************content-text*******************/
#content{ padding-bottom:27px;}
#content h3{ color:#888684; font-size:18px; line-height:21px; font-weight:normal; padding:9px 0 14px 51px; margin-bottom:12px;}
.bull-1{ /* background:url(../images/bull-1.png) 0 0 no-repeat; */}
.bull-2{ 
	/*background:url(../images/bull-2.png) 0 0 no-repeat;*/
}
.bull-3{ 
	/*background:url(../images/bull-3.png) 0 0 no-repeat;*/
}
.bull-4{ 
	/*background:url(../images/bull-4.png) 0 0 no-repeat;*/
}
.bull-5{ 
	/*background:url(../images/bull-5.png) 0 0 no-repeat;*/
}
.row-separator{ background:url(../images/row_separator.png) 0 0 repeat-x; height:23px; margin:15px 0 0 0;}

#content .text1{ color:#138ecd; font-size:12px; display:block; margin:5px 0 0 0; line-height:20px; height:44px; overflow: hidden;}
#content .text1 a{color:#138ecd; text-decoration:none;}
#content .text1 a:hover{ color:#867f81;}
.img-border{ border:6px solid #d4d2d3;}
.img-border:hover{ border:6px solid #138ecd;}
.block-statrs{ display:block; background:url(../images/starts_bg1.png) 0 0 repeat-x; height:15px; width:83px;}
.block-statrs span{
	/*background:url(../images/starts_bg.png) 0 0 repeat-x; */
	height:15px; display:block;}
.row-starts .fright{ color:#867f81; font-size:11px; line-height:13px;}
.statrs-3_5{ width:58px;}
.statrs-3{ width:58px;}
.statrs-3_0{ width:48px;}
.statrs-4_0{ width:70px;}
.statrs-4{ width:74px;}
.statrs-4_5{width:77px;}
.statrs-5{ width:100%;}
.row-starts{ height:41px;}
.extra-height{height:25px !important;}
.link{ font-size:11px;}
.row-separator-top{ margin-top:35px !important;}
.row-separator-top1{ margin-top:48px !important;}
.row-starts-right{ padding-right:25px;}
.row-separator-right{ padding-right:35px;}
.text-last p{ padding:19px 0 0 0;}
.text-last strong{ color:#867f81; font-size:12px; display:block;}
.text-last a, .text-last a:hover{ color:#867f81;}
#page1 .dropdown-text {	display:block;}
/**************************************************/

/*******************content-list*******************/
.list li strong{ padding:0 13px 0 0;}
.list li{ line-height:16px; padding-bottom:8px;}
.list li a{ color:#867f81; font-size:12px; line-height:16px; text-decoration:none;}
.list li a:hover{ color:#138ecd;}
/**************************************************/

/*******************row-list***********************/
.row-list ul{ float:left;}
.row-list .list-indent{ margin-left:21px;}
/**************************************************/
.dropdown-text .row-list  ul, .dropdown-text .row-list  ul li{ position:relative;}




/****************************footer*******************************************/
footer .text{ display:block; float:right; padding:18px 0 25px 0; color:#867f81; font-size:11px;}
footer .text a{ color:#867f81; text-decoration:none;}
footer .text a:hover{ color:#138ecd; text-decoration:underline;}
.logo1{ text-transform:uppercase; text-decoration:none !important;}



/*dropdown_box*/


.tail-footer-box{ background:#FFF url(../images/tail_footer_box.gif) bottom left repeat-x; z-index:10000;}
.header-banner-right{ float:right;}


.dropdown_box {
	z-index:1;
	display:none;
}
.all .dropdown_box {
	z-index:1;
}


.img-none{ display:none;}


.dropdown-text{ position:relative;  z-index:1111; padding:20px 0 13px 0;}
.dropdown-text h3{ background:url(../images/title_marker.gif) 0 0 no-repeat; font-weight:normal; padding:6px 0 3px 30px; color:#888684; font-size:15px; margin-bottom:10px;}
.dropdown-text li{ background:url(../images/list_marker1.png)  0 5px no-repeat; padding:0 0 2px 17px;}
.dropdown-text li a{ color:#888684; font-size:11px; text-decoration:none;}
.dropdown-text li a:hover{ color:#53c3e1;}

.dropdown-text .list-indent{ margin:0 0 0 80px;}
.dropdown-text .list-indent1{ margin:0 0 0 85px;}
.dropdown-text .list-indent2{ margin:0 0 0 78px;}
.dropdown-text .list-indent3{ margin:0 0 0 78px;}
.dropdown-text .list-indent4{ margin:0 0 0 76px;}
.dropdown-text .list-indent5{ margin:0 0 0 60px;}

.dropdown-button{width:94px; overflow:hidden; height:68px; margin-left:850px;}
.dropdown-button img{ position:absolute; }


.menu_head{ margin:31px 0 0 0;}
.dropdown-text{ display:none;}
.menu_head{ cursor:pointer; float:right;}

.delete{ display:none  !important;}
.delete-img .delete{ display:block  !important;}

.extra-list-indent{ position:absolute;}

#page1 .delete{ display:none  !important;}
#page1 .delete-img .delete{ display:block !important;}




.play-video{
	/*background:#000 url(../images/page2_img_player.jpg) 0 0 no-repeat; */
	width:580px; height:410px;}

.loader {
		/*background:url(../images/ajax-loader.gif) 50% 50% no-repeat;*/
	}
	.wrap {
		display:block;
		position:relative;
		width:100%;
	}
		.wrap span.play {
			display:block;
			width:63px;
			height:63px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-32px;
			margin-top:-32px;
			z-index:2;
			/*background:url(../images/play.png) no-repeat 0 0;*/
		}
		.wrap:hover span.play {
			background-position:0 -63px;
		}
		.wrap img {
			position:relative;
			z-index:1;
		}

#tags {width: 850px;}
.sort {float: left; padding: 0; margin: 0; text-align: left; width: 300px; padding-top: 3px;}
.pages {float: right; padding: 0; margin: 0; text-align: right; width: 530px; clear: none;}
.pages ul {padding: 0; margin: 0; float: right;}
.bread {text-align: center; margin: 10px;}
#online {width: 800px;}
.rating {width: 90px;}
.warn18 .tip {font-size: 18px;}

.teasers_tube {clear: both;}
.teasers_tube ul {width: 930px; margin: 0 auto;}
.teasers_tube li {width: 168px; float: left; margin: 8px;}
.teasers_tube li img {border: 4px solid #d4d2d3;}

.articles {margin: 10px 0 0 0;}
.articles .more {text-align: right;}
.articles ul {margin: 0;}
.articles li {margin: 20px auto; list-style-type: none;}
.articles .title{color: #C03; font-weight: bold; font-size: 20px; /*margin-left: 15px;*/}
.articles .more {color: #C03;}
.articles .text {margin-bottom: 0; color: #333;}
.articles .short {max-height: 200px; overflow: hidden; margin-top: 5px;}
.articles .short img {max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.article {color: #333;}
.article h1 {margin-left: 10px; font-size: 30px; color: #C03;}
.article img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 750px; text-align: center;}
.h1_rating .right {float: right; margin-top: 15px; width: 190px;}