body, h1, h2, h3, p, ul, ul li { margin: 0px; padding: 0px; list-style-type: none; font-weight: normal; }
body { font-family: "Open Sans"; }
input:focus, textarea:focus, button:focus { outline: medium none; }
a { text-decoration: none; }
* { box-sizing: border-box; }
.main { width: 100%; overflow: hidden; }
h2.black { width: 100%; color: rgb(0, 0, 0); font-family: "Gilroy-ExtraBold"; font-size: 30px; text-align: center; padding: 25px 0px; }
.main { width: 100%; }
nav { width: 100%; }
.w860 { max-width: 860px; min-width: 300px; width: 100%; margin: 0px auto; padding: 0px 10px; }
.w1040 { max-width: 1040px; min-width: 300px; width: 100%; margin: 0px auto; padding: 0px 10px; }
.w1120 { max-width: 1040px; min-width: 300px; width: 100%; margin: 0px auto; padding: 0px 10px; }
.w1200 { max-width: 1200px; min-width: 300px; width: 100%; margin: 0px auto; padding: 0px 10px; }
nav .w1120 { display: flex; justify-content: space-between; align-items: center; background: transparent linear-gradient(to bottom, rgb(121, 208, 240) 0%, rgba(6, 169, 228, 0.5) 100%) repeat scroll 0% 0%; }
header {  }
header, header a { color: rgb(255, 255, 255); }
.main-header .w1120 { display: flex; justify-content: space-between; align-items: center; margin: 20px auto; }
.main-header .left-colum { color: rgb(0, 174, 239); font-size: 16px; display: flex; flex-direction: column; justify-content: center; width: 33%; font-family: "Roboto Slab"; font-weight: bold; }
.main-header .logo { display: block; background: transparent url('logo.png') no-repeat scroll center center / 100% auto; max-width: 260px; width: 33%; height: 79px; }
.main-header .right-colum { display: flex; flex-direction: column; justify-content: center; width: 33%; text-align: right; }
.main-header .right-colum .tel { color: rgb(0, 174, 239); font-size: 18px; font-family: "Roboto Slab"; font-weight: bold; }
.main-header .right-colum .order { color: rgb(0, 174, 239); font-size: 16px; display: block; font-family: "Roboto Slab"; }
.burger { width: 100%; height: 57px; line-height: 60px; }
.hamburger { background: transparent none repeat scroll 0% 0%; position: absolute; top: 5px; left: 15px; padding: 0px; margin: 0px; color: rgb(255, 255, 255); border: 0px none; font-size: 2em; font-weight: bold; cursor: pointer; outline: medium none; z-index: 2147483647; }
.cross { background: transparent none repeat scroll 0% 0%; position: absolute; top: 8px; left: 15px; padding: 0px; margin: 0px; color: rgb(255, 255, 255); border: 0px none; font-size: 4.2em; font-weight: bold; cursor: pointer; outline: medium none; z-index: 2147483647; }
.menu { z-index: 1000000; font-size: 14px; width: 100%; background: rgb(121, 208, 240) none repeat scroll 0% 0%; position: absolute; text-align: center; }
.menu ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; }
.menu li { display: block; text-transform: uppercase; border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
.menu li:last-child { border-bottom: 0px none; }
.menu ul li a { text-decoration: none; margin: 0px; color: rgb(255, 255, 255); padding: 15px 0px; display: inline-block; width: 100%; text-align: center; }
.menu a { text-decoration: none; color: white; }
#burgerNav { display: none; }
.nav-container { max-width: 800px; min-width: 300px; width: 100%; margin: 0px auto; position: relative; }
.nav-container a { font-family: "Roboto Slab"; font-weight: bold; font-size: 18px; display: block; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); }
.nav-container a:hover { text-decoration: underline; }
.nav-container #normalNav { display: flex; justify-content: space-between; }
.nav-container #normalNav li { padding: 15px 35px; background: transparent url('right-line.png') no-repeat scroll 0px 10px; }
.nav-container #normalNav li:nth-child(1) { background: transparent none repeat scroll 0% 0%; }
.w1120.block1 { padding: 15px 10px; }
.content-with-children { display: flex; }
.content-with-children .photo-with-children { width: 70%; }
.content-with-children .photo-with-children img { max-width: 720px; width: 100%; }
.w1120.block1 h1 { font-size: 31px; color: rgb(21, 131, 172); font-weight: bold; text-align: center; font-family: "Roboto Slab"; margin-bottom: 50px; }
.w1120.block1 .head-form { display: flex; flex-direction: column; font-family: "Roboto Slab"; position: relative; max-width: 300px; width: 30%; }
.w1120.block1 .head-form p { margin-bottom: 20px; margin-top: 20px; color: rgb(21, 131, 172); font-size: 20px; font-family: "Gilroy-ExtraBold"; }
.w1120.block1 .head-form h3 { color: rgb(21, 172, 60); text-align: center; font-family: "Gilroy-ExtraBold"; }
.w1120.block1 .head-form .text-in-form { font-size: 15px; color: rgb(0, 0, 0); font-family: "Open Sans"; font-weight: lighter; }
.w1120.block1 .head-form .order-form, .w1040 .order-form { background: rgb(164, 212, 243) none repeat scroll 0% 0%; padding: 30px 20px; box-shadow: 1px 1px 0px 0px rgba(171, 171, 171, 0.59); width: 100%; }
.w1120.block1 .head-form .order-form input, .w1040 .order-form input { width: 100%; border-radius: 4px; margin: 0px auto 20px; }
.w1120.block1 .head-form .order-form::after, .w1040 .order-form::after { border-color: transparent transparent rgb(164, 212, 243); left: 140px; }
.block2 { width: 100%; font-family: "Roboto Slab"; }
.block2 .w1120 { padding-bottom: 50px; }
.block2 .w1120 h2 { font-size: 30px; color: rgb(0, 0, 0); text-align: center; margin: 30px 0px; font-family: "Gilroy-ExtraBold"; }
.block2 .w1120 h2 span { color: rgb(131, 191, 214); }
.what-is-this-content { display: flex; }
.what-is-this-content-left { width: 50%; }
.what-is-this-content-left p { font-size: 15px; color: rgb(0, 0, 0); text-align: justify; line-height: 24px; padding-right: 50px; font-family: "Open Sans"; font-weight: lighter; }
.what-is-this-content-left p span { display: block; color: rgb(61, 60, 60); font-size: 22px; margin: 50px 0px; font-family: "Gilroy-ExtraBold"; }
.what-is-this-content-right { width: 50%; padding-right: 20px; }
.designer-develops {  }
.designer-develops h2 { text-align: center; font-size: 30px; font-family: "Gilroy-ExtraBold"; }
.designer-develops .w1040 { background: transparent url('children-2.jpg') no-repeat scroll center top; display: flex; flex-wrap: wrap; }
.designer-develops .w1040 .designer-develops-item { position: relative; width: 50%; text-align: center; padding: 110px 0px 0px; margin: 30px 0px; font-family: "Gilroy-ExtraBold"; }
.designer-develops .w1040 .designer-develops-item:nth-child(1) { padding: 110px 150px 0px 0px; }
.designer-develops .w1040 .designer-develops-item:nth-child(1)::after { left: calc(50% - 123px); background: rgb(161, 223, 247) url('icon-1-des.png') no-repeat scroll center center; }
.designer-develops .w1040 .designer-develops-item:nth-child(1)::before { left: calc(50% - 116px); }
.designer-develops .w1040 .designer-develops-item:nth-child(2) { padding: 110px 0px 0px 150px; }
.designer-develops .w1040 .designer-develops-item:nth-child(2)::after { left: calc(50% + 23px); background: rgb(161, 223, 247) url('icon-2-des.png') no-repeat scroll center center; }
.designer-develops .w1040 .designer-develops-item:nth-child(2)::before { left: calc(50% + 30px); }
.designer-develops .w1040 .designer-develops-item:nth-child(3) { padding: 110px 0px 0px; }
.designer-develops .w1040 .designer-develops-item:nth-child(3)::after { background: rgb(161, 223, 247) url('icon-3-des.png') no-repeat scroll center center; }
.designer-develops .w1040 .designer-develops-item:nth-child(4) { padding: 110px 0px 0px; }
.designer-develops .w1040 .designer-develops-item:nth-child(4)::after { background: rgb(161, 223, 247) url('icon-4-des.png') no-repeat scroll center center; }
.designer-develops .w1040 .designer-develops-item:nth-child(5) { width: 100%; margin: -70px 0px 0px; }
.designer-develops .w1040 .designer-develops-item:nth-child(5)::after { background: rgb(161, 223, 247) url('icon-5-des.png') no-repeat scroll center center; }
.designer-develops .w1040 .designer-develops-item::after, .designer-develops-item::before { display: block; content: ""; position: absolute; top: 0px; left: calc(50% - 48px); width: 95px; height: 95px; border-radius: 100%; }
.designer-develops .w1040 .designer-develops-item::after {  }
.designer-develops .w1040 .designer-develops-item::before { background: rgb(210, 221, 238) none repeat scroll 0% 0%; top: 7px; left: calc(50% - 41px); }
.slider-block { margin: 20px 0px; }
.slider-block h2 { color: rgb(23, 23, 23); font-size: 26px; text-align: center; margin: 30px 0px; font-family: "Gilroy-ExtraBold"; }
.slider-block h2 span { color: rgb(141, 215, 242); }
.slider-block .bx-wrapper { overflow: hidden; background: rgb(206, 238, 249) none repeat scroll 0% 0%; padding: 15px; }
.slider-block .bx-viewport { border: medium none; }
.slider-block .bx-wrapper .slide-with-img { background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 250px; border: 1px solid rgb(220, 220, 220); }
.block3 .card .descr-container { width: 60%; }
.block3 .card { display: flex; justify-content: center; border: 1px solid rgb(219, 219, 219); border-radius: 6px; margin: 0px 0px 30px; padding: 30px 0px; box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.15); }
.block3 .card .product-foto { width: 40%; text-align: center; position: relative; padding: 0px 15px; }
.block3 .card .product-foto::after { position: absolute; content: ""; background: transparent url('sale-img.png') no-repeat scroll 0% 0%; width: 90px; height: 84px; top: 0px; left: 20px; color: rgb(255, 255, 255); font-size: 24px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); display: flex; justify-content: center; align-items: center; }
.card:nth-child(2) .product-foto::after { content: "-30%" ! important; }
.card:nth-child(3) .product-foto::after { content: "-35%"; }
.card:nth-child(4) .product-foto::after { content: "-40%"; }
.card:nth-child(5) .product-foto::after { content: "-45%"; }
.card:nth-child(6) .product-foto::after { content: "-50%"; }
.card:nth-child(7) .product-foto::after { content: "-53%"; }
.card:nth-child(8) .product-foto::after { content: "-55%"; }
.card:nth-child(9) .product-foto::after { content: "-60%"; }
.block3 .card .product-foto img { max-width: 240px; max-height: 285px; width: 100%; }
.block3 .card .descr-container h2 { font-family: "Gilroy-ExtraBold"; font-size: 24px; color: rgba(0, 0, 0, 0.85); margin-bottom: 10px; }
.block3 .card .descr-container h6 { background: transparent url('checked-icon.png') no-repeat scroll 140px 5px; font-size: 16px; color: rgb(0, 0, 0); margin: 0px 0px 15px; font-family: "Open Sans"; font-weight: lighter; }
.block3 .card .descr-container input.tel, .block4 .rec-block input.tel { width: 180px; border: 1px solid rgb(153, 153, 153); border-radius: 2px; padding: 10px 5px; font-size: 14px; margin-bottom: 15px; margin-right: 30px; }
.block3 .card .new-green-btn { display: inline-block; }
.block3 .card .new-green-btn:hover { height: 36px; }
.block3 .card .descr-container ul.char-list li { font-size: 14px; font-weight: lighter; line-height: 20px; color: rgba(0, 0, 0, 0.8); }
.block3 .card .descr-container ul.char-list li::before { content: "- "; }
.block3 .card .descr-container ul.char-list { margin-bottom: 20px; }
.block3 .card .descr-container ul.char-list li:first-child, .block3 .card .descr-container ul.checbox-list li:first-child { display: block; font-family: "Open Sans"; font-size: 15px; font-weight: normal; color: rgba(0, 0, 0, 0.8); margin-bottom: 10px; }
.block3 .card .descr-container ul.checbox-list li label span:nth-child(1), .block3 .card .descr-container ul.checbox-list li label span:nth-child(3) { font-size: 14px; color: rgb(0, 0, 0); }
.block3 .card .descr-container ul.checbox-list li label span:nth-child(2) { font-size: 12px; color: rgba(0, 0, 0, 0.7); }
.block3 form { display: flex; flex-wrap: wrap; margin: 20px 0px 0px; }
.block3 form input { margin: 0px; }
.block3 form .new-green-btn { margin: 0px; }
.block3 .descr-container span { font-size: 24px; font-family: "Gilroy-ExtraBold"; color: rgb(110, 177, 74); padding-bottom: 20px; margin: 0px 0px 20px; }
.block3 .descr-container span strike { font-size: 18px; color: rgb(148, 148, 148); text-decoration: line-through; padding-left: 10px; }
.block3 .descr-container .price-for-one-prod { color: rgb(109, 108, 108); font-size: 15px; }
.block5 { width: 100%; }
.block5 h2 { text-align: center; color: rgb(0, 0, 0); font-size: 30px; font-family: "Gilroy-ExtraBold"; padding: 30px 0px 50px; width: 100%; }
.pick-us .w1040 { display: flex; flex-wrap: wrap; justify-content: space-around; }
.pick-us .pick-us-block h6 { font-size: 17px; font-family: "Gilroy-ExtraBold"; text-align: center; margin: 15px 0px; }
.pick-us .pick-us-block { width: 22%; text-align: left; font-family: "Roboto Slab"; font-size: 13px; color: rgb(0, 0, 0); margin-bottom: 25px; }
.pick-us .pick-us-block:nth-child(1) { background: transparent url('why-us-icon-1.png') no-repeat scroll center top; }
.pick-us .pick-us-block:nth-child(2) { background: transparent url('why-us-icon-2.png') no-repeat scroll center top; }
.pick-us .pick-us-block:nth-child(3) { background: transparent url('why-us-icon-3.png') no-repeat scroll center top; }
.pick-us .pick-us-block:nth-child(4) { background: transparent url('why-us-icon-4.png') no-repeat scroll center top; }
.how-we-work h2 { margin: 20px 0px; padding: 0px; }
.how-we-work .w860 { display: flex; flex-wrap: wrap; justify-content: space-between; color: rgb(127, 182, 217); padding-bottom: 35px; }
.how-we-work .how-box { width: 220px; margin-top: 30px; position: relative; }
.how-we-work .how-box .callout { font-size: 36px; line-height: 35px; font-family: "Ubuntu"; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border: 3px solid rgb(127, 182, 217); position: relative; margin: 0px auto 20px; }
.how-we-work .how-box .callout::before { content: ""; display: block; position: absolute; z-index: 10; bottom: -8px; left: calc(50% - 7px); width: 0px; height: 0px; border-style: solid; border-width: 8px 7px 0px; border-color: rgb(255, 255, 255) transparent transparent; }
.how-we-work .how-box .callout::after { content: ""; display: block; position: absolute; bottom: -12px; left: calc(50% - 10px); width: 0px; height: 0px; border-style: solid; border-width: 12px 10px 0px; border-color: rgb(127, 182, 217) transparent transparent; }
.how-we-work .how-box::after { content: ""; display: block; width: 240px; border: 3px dashed rgb(127, 182, 217); position: absolute; top: 30px; left: 142px; }
.how-we-work .how-box:last-child::after { content: none; }
.how-we-work .how-box .descr { font-size: 16px; line-height: 18px; font-family: "Gilroy-Light"; color: rgb(0, 0, 0); }
form.order-form { padding: 10px; background-color: rgb(118, 171, 225); width: 300px; position: relative; margin: 20px 0px 0px; }
form.order-form::after { content: ""; display: block; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 0px 10px 7px; border-color: transparent transparent rgb(118, 171, 225); top: -7px; left: 60px ! important; }
.order-form input { border: 1px solid transparent; border-radius: 2px; padding: 10.5px 8px; width: 280px; font-size: 14px; font-family: "Open Sans"; display: block; margin-bottom: 10px; }
.order-form button, .new-green-btn { font-size: 14px; font-family: "Gilroy-ExtraBold"; color: rgb(255, 255, 255); background-color: rgb(138, 209, 99); border-width: 0px 0px 4px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(126, 170, 102); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 6px; display: block; margin: 0px auto; width: 180px; height: 40px; cursor: pointer; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); text-align: center; padding: 9.5px 0px; }
.order-form button:hover, footer .form-advice button:hover, .new-green-btn:hover { border: 0px none; }
footer { padding: 30px 0px; width: 100%; background-color: rgb(80, 116, 152); color: rgb(255, 255, 255); }
footer .w1040 { display: flex; flex-wrap: wrap; justify-content: space-between; }
footer h2 { text-align: left; color: rgb(255, 255, 255); font-family: "Gilroy-ExtraBold"; }
footer .leave-order {padding-bottom: 10px; font-size: 16px; line-height: 35px; font-family: "Gilroy-Light"; margin-bottom: -5px; }
footer .free-line, footer .free-line a { font-size: 16px; line-height: 35px; font-family: "Gilroy-Light"; color: rgb(255, 255, 255); }
footer .free-line a { font-family: "Gilroy-ExtraBold"; }
footer .form-advice input { border: 0px none; border-radius: 2px; padding: 8px; width: 185px; font-size: 14px; font-family: "Open Sans"; display: inline-block; margin-right: 10px; margin-bottom: 5px; }
footer .form-advice button { font-size: 14px; font-family: "Open Sans"; color: rgb(255, 255, 255); background-color: rgb(82, 172, 98); border: 1px solid rgb(111, 186, 124); border-radius: 2px; display: inline-block; width: 195px; height: 35px; cursor: pointer; margin-bottom: 5px; }
footer .form-advice button:hover { text-decoration: underline; }
footer .f-r-c ul li:nth-child(1) { margin-bottom: 10px; }
footer .f-r-c ul li { font-size: 14px; font-family: "Gilroy-Light"; opacity: 0.7; text-align: right; text-shadow: -1px 1px 0px rgb(0, 0, 0); }
footer .f-r-c ul li:nth-child(2) { margin-bottom: 10px; }
footer .f-r-c ul li:nth-child(3) { margin-bottom: 45px; }
footer .f-r-c ul li:nth-child(4) { cursor: pointer; position: relative; }
footer .f-r-c ul li#politic::after { content: ""; display: block; width: 100%; border-bottom: 1px dashed rgba(255, 255, 255, 0.7); }
.reviews { background: rgb(118, 171, 225) none repeat scroll 0% 0%; padding: 0px 0px 30px; }
.reviews h2 { color: rgb(255, 255, 255); padding: 30px 0px; }
.rev-cont { display: flex; flex-wrap: wrap; justify-content: space-around; }
.rev-cont .rev-box { width: 260px; margin-bottom: 20px; margin-top: 30px; position: relative; }
.rev-cont .rev-box::after { content: ""; display: block; width: 1px; height: 100%; background: transparent url('long-white-line.png') no-repeat scroll center top; position: absolute; top: 0px; right: -40px; }
.rev-cont .rev-box:last-child::after { content: none; }
.rev-cont .rev-box .rev-title > * { display: inline-block; vertical-align: bottom; }
.rev-cont .rev-box .rev-title { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 160px; height: 160px; margin: 0px auto 10px; display: flex; justify-content: center; align-items: center; }
.rev-cont .rev-box .rev-title img {  }
.rev-cont .rev-box p { letter-spacing: 1px; text-align: center; color: rgb(255, 255, 255);font-size: 14px; font-family: "Open Sans"; font-weight: 600; }
.rev-cont .rev-box .descr { line-height: 24px; font-family: "Gilroy-Light";
 margin-top: 20px; text-align: center; }
.phone_form { color: rgba(0, 0, 0, 0.6); }
#Modal1, #Modal2, #Modal3 { max-width: 620px; min-width: 200px; width: 100%; padding: 50px 80px; background-color: rgb(255, 255, 255); position: relative; }
.arcticmodal-close { display: block; width: 25px; height: 25px; background: transparent url('error.png') repeat scroll 0% 0% / 25px 25px; opacity: 0.5; position: absolute; top: 12px; right: 16px; cursor: pointer; }
#Modal1 h3, #Modal2 h3 { font-size: 16px; line-height: 20px; font-family: "Ubuntu"; font-weight: bold; margin-bottom: 30px; }
#Modal1 p { font-size: 14px; font-family: "Ubuntu"; font-weight: lighter; margin-bottom: 5px; }
#Modal2 h2 { text-align: left; font-size: 24px; line-height: 35px; color: rgb(40, 40, 40); font-family: "Ubuntu"; font-weight: bold; width: 100%; }
#Modal2 a { text-align: center; font-size: 14px; font-family: "Open Sans"; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(82, 172, 98); border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(111, 186, 124) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px; display: block; margin: 50px auto 0px; padding: 8px 0px; width: 180px; cursor: pointer; box-shadow: 0px 2px 1px 0px rgb(20, 43, 21); text-shadow: 0px 1px 0px rgb(0, 0, 0); }
#Modal3 input { border: 1px solid rgb(211, 211, 211); border-radius: 4px; padding: 8px; width: 220px; font-size: 14px; font-family: "Open Sans"; display: inline-block; margin-bottom: 15px; }
#Modal3 textarea { border: 1px solid rgb(211, 211, 211); border-radius: 4px; padding: 8px; width: 100%; max-width: 550px; height: 150px; font-size: 14px; font-family: "Open Sans"; display: inline-block; margin-bottom: 15px; resize: none; }
#Modal3 h2 { font-family: "Gilroy-ExtraBold"; font-size: 24px; margin-bottom: 20px; text-align: center; }
input { border: 1px solid transparent; }
form .post-title { display: none; }
/* ::::: http://magnit.tovaro4ka24.ru/css/media.css ::::: */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1060px) {
	.nav-container #normalNav { display: none; }
	#burgerNav { display: block; }
}
@media screen and (max-width: 1020px) {
	.block3 .card .descr-container {  }
}
@media screen and (max-width: 960px) {
	.how-we-work .w860, .delivery .w1040 { justify-content: space-around; }
	.how-we-work .how-box::after { content: none; }
	.rev-cont .rev-box::after { content: none; }
	footer .form-advice input { display: block; margin-bottom: 10px; }
	footer .form-advice button { width: 185px; }
}
@media screen and (max-width: 767px) {
	footer .w1040 { text-align: center; display: block; }
	footer .f-l-c { display: block; width: 300px; margin: 0px auto; }
	footer .f-l-c *, footer .f-r-c ul li { text-align: center; }
	footer .form-advice input { margin: 0px auto 10px; }
	footer .leave-order { line-height: 18px; margin-bottom: 20px; }
	footer .free-line { margin-top: 20px; }
	footer .free-line, footer .free-line a { line-height: 18px; }
	footer .f-r-c ul { width: 300px; display: block; margin: 20px auto 0px; }
	footer .form-advice button { font-size: 13px; }
	#politic { display: inline-block; }
	#Modal1, #Modal2 { width: auto; padding: 50px 20px; }
	#Modal3 { padding: 50px 20px; }
	.content-with-children { flex-direction: column; }
	.content-with-children .photo-with-children { width: 100%; }
	.content-with-children .head-form { width: 100% ! important; margin: 0px auto; }
	.block2 .what-is-this-content { flex-direction: column; }
	.block2 .what-is-this-content .what-is-this-content-left { width: 100%; }
	.block2 .what-is-this-content .what-is-this-content-left p { padding: 0px; }
	.block2 .what-is-this-content .what-is-this-content-right { width: 100%; padding: 0px; }
	.designer-develops .w1040 { background: transparent none repeat scroll 0% 0%; }
	.designer-develops .w1040 .designer-develops-item:nth-child(1), .designer-develops .w1040 .designer-develops-item:nth-child(2) { padding: 110px 0px 0px; margin: 30px 0px 0px; }
	.designer-develops .w1040 .designer-develops-item:nth-child(1)::after, .designer-develops .w1040 .designer-develops-item:nth-child(2)::after { left: calc(50% - 48px); }
	.designer-develops .w1040 .designer-develops-item:nth-child(1)::before, .designer-develops .w1040 .designer-develops-item:nth-child(2)::before { left: calc(50% - 41px); }
	.designer-develops .w1040 .designer-develops-item:nth-child(5) { margin: 0px; }
	.pick-us .w1040 { padding: 0px; }
	.pick-us .pick-us-block { width: 50%; margin-bottom: 25px; margin-top: 20px; padding-top: 60px; }
	.pick-us .pick-us-block h6 { margin: 0px 0px 15px; }
}
@media screen and (max-width: 568px) {
}
@media screen and (max-width: 567px) {
	.main-header .w1120 { flex-direction: column; text-align: center; }
	.main-header .left-colum { width: 100%; }
	.main-header .logo { width: 100%; }
	.main-header .right-colum { width: 100%; text-align: center; }
	.block3 .card { flex-wrap: wrap; }
	.block3 .card .product-foto { width: 100%; }
	.block3 .card .descr-container { width: 100%; padding: 0px 15px; }
	.block3 form { justify-content: space-around; }
	.block3 .card .descr-container input.tel { margin-right: 0px; }
}
/* ::::: http://magnit.tovaro4ka24.ru/css/fonts.css ::::: */

@font-face {
	font-family: "Gilroy-ExtraBold";
	font-style: normal;
	font-weight: normal;
	src: url('gilroy-extrabold.otf');
}
@font-face {
	font-family: "Gilroy-Light";
	font-style: normal;
	font-weight: normal;
	src: url('gilroy-light.otf');
}
/* ::::: https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic-ext ::::: */

@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejrgvthls8y7etjzdcyfcsle.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejzimaisvauvusyyvzomndek.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejbbawgjcah5ky0jbcgiwdb8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejf14vlcfypylacqy2ufdrm4.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejafjul7rr1x4pojgi27us4w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejavypxdneegd26m9emfsswg.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('dazs1prqqucxc3ioajfejuo2ltmewa_kmiywrkncwpc.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37zjtoq_mqjvwkksun0wkzc2i.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37zjuj_cnvwiuubmvgbx098mw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37zkbckliaa1lc45dfaafaura.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37zmo_suj8uo4ylwrins22t3y.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37zr6up8jxqwt8hva3mdhkv_0.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37ziye0-aqj3nfinttidxdju4.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('y7lebkjgrebjk96vqi37zo4p5icox8kq3llunmylgo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejz6iih_fvluhqwed9yt5kbw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejs_vzmeicmnownn9rhbyatc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejsfamxiho_5xqnyrzzqsrzs.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejqalqocb-__pdvghf3us2ks.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejwhqutdjgru-0vvupabgh8i.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejejkddvhiifj_ymdgqpnsb0.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url('dazs1prqqucxc3ioajfejylizu-hdpmdizmigmsroc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic-ext ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoata-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatzx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatrwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoataarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatf8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatt0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoategdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsq-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snspx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snshwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsqarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsv8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsj0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsugdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzk-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzjx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzbwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzkarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzp8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzd0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:300,400,500,700&subset=cyrillic ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzk-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzjx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzbwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzkarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzp8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzd0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('x_edmnknkultk57alvvbvxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('nbf2d6y3abowfkbm-9hcwbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('cdlilwqst01wnakqzbtzkhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('7k0rmqcn8efxqs6schurzrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('wtcvfjhwxkxx4x0kus1korjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url('_aijtyevf54tkvdly-dlnftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('odszji8yqnw8v2xpulzjo_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('iq9vjx1umasknigywyycxveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('wkvqmvwsfw_kkeau9slq2_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('gyatqxuikkqjyja1snpdlveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('wu5iuha-xnkdbvqrwqzag_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('sdgtilo5qrsfwu6yc11axg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('mlkvhabswthsvacnstwcpxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('iimfelcopb-ozgzq14k4ehjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('h2j4_4xa-hiuoc_a3biwvbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('etsrpnps3nir-zkyir-sdbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('gmhvhm-nvj1086dvggmzbxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url('osj2djdpjqfrvusto6iffftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('oxrpyim05jry_0rfieq_orjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('4z2u46_rrlofkohswjg3vxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('2vawvxeaxhvkfcncbcqcyrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('m-ii49wh_tyynojqylgtmbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('nsltvfqot-rvwgthhnkejhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url('0ihfxul2emph0rojezvraftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: http://magnit.tovaro4ka24.ru/css/jquery.bxslider.css ::::: */

.bx-wrapper { position: relative; margin: 0px auto 10px; padding: 0px; }
.bx-wrapper img { max-width: 100%; display: inline-block; }
.bx-wrapper .bx-viewport { transform: translateZ(0px); }
.bx-wrapper .bx-prev { left: 10px; background: transparent url('prev.png') no-repeat scroll center center; opacity: 0.8; }
.bx-wrapper .bx-next { right: 10px; background: transparent url('next.png') no-repeat scroll center center; opacity: 0.8; }
.bx-wrapper .bx-prev:hover { opacity: 1; }
.bx-wrapper .bx-next:hover { opacity: 1; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0px none; width: 32px; height: 32px; text-indent: -9999px; z-index: 10; }
/* ::::: http://magnit.tovaro4ka24.ru/css/jquery.arcticmodal-0.3.css ::::: */

:first-child + html .arcticmodal-container { height: 100%; }
/* ::::: http://megatimer.ru/timer/timer.min.css?v=3 ::::: */

.timer-flipchart-face::before { position: absolute; left: 0px; right: 0px; height: 1px; content: ""; }
.timer-flipchart-top::before, .timer-flipchart-front::before { bottom: 0px; background-color: rgba(0, 0, 0, 0.25); }
.timer-flipchart-bottom::before, .timer-flipchart-back::before { top: 0px; background-color: rgba(0, 0, 0, 0.063); }
.timer-flipchart-front::after, .timer-flipchart-bottom::after, .timer-flipchart-top::after { position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; content: ""; }
.timer-flipchart-top::after { background: transparent linear-gradient(to top, rgb(0, 0, 0) 0px, transparent 100%) repeat scroll 0% 0%; }
.timer-flipchart-bottom::after { opacity: 0; background: transparent linear-gradient(to bottom, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0% 0%; }
.timer-flipchart-front::after { opacity: 0; background: transparent linear-gradient(to top, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0% 0%; }
.timer-flipchart-animate .timer-flipchart-top::after { animation-name: flipchart-shadow-out; }
.timer-flipchart-animate .timer-flipchart-bottom::after { animation-name: flipchart-shadow-in; }
.timer-flipchart-animate .timer-flipchart-front::after { animation-name: flipchart-shadow-in-direct; }
.timer-flipchart-front, .timer-flipchart-back, .timer-flipchart-front::after, .timer-flipchart-bottom::after, .timer-flipchart-top::after { animation-iteration-count: 1; animation-duration: 750ms; animation-fill-mode: forwards; animation-timing-function: ease-in-out; }
.timer-milliseconds .timer-flipchart-front, .timer-milliseconds .timer-flipchart-back, .timer-milliseconds .timer-flipchart-front::after, .timer-milliseconds .timer-flipchart-bottom::after, .timer-milliseconds .timer-flipchart-top::after { animation-duration: 100ms; }
.timer-slide-inner { display: block; transform: perspective(100px); transform-style: preserve-3d; overflow: hidden; float: left; }
.timer-slide-bounding { display: block; padding: 0px 0.0625em; visibility: hidden; }
.timer-slide-new, .timer-slide-old { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 3; backface-visibility: hidden; }
.timer-slide-new, .timer-slide-old, .timer-slide-bounding { text-align: center; }
.timer-slide-animate .timer-slide-new, .timer-slide-animate .timer-slide-old { transition: transform 800ms ease 0s, opacity 700ms ease 0s, color 400ms ease 0s, filter 400ms ease 0s; }
.timer-slide-new { opacity: 0; z-index: 2; }
.timer-slide-old { opacity: 1; z-index: 1; }
.timer-slide-animate .timer-slide-new { opacity: 1; }
.timer-slide-animate .timer-slide-old { opacity: 0; }
.timer-slide-new { transform: translateY(-100%); z-index: 2; opacity: 0; }
.timer-slide-old { transform: translateY(0px); z-index: 1; opacity: 1; }
.timer-slide-animate .timer-slide-new { transform: translateY(0px); opacity: 1; }
.timer-slide-animate .timer-slide-old { transform: translateY(100%); opacity: 0; }
#timerc08d02b3c0e037a554a98b26cab9ab24 .timer-slide-inner { border-radius: 4px; background-color: rgb(5, 41, 77); font-size: 40px; color: rgb(255, 255, 255); font-family: "Roboto Condensed"; }
#timerc08d02b3c0e037a554a98b26cab9ab24 .timer-separator { padding-top: 8px ! important; padding-bottom: 8px ! important; }
#timerc08d02b3c0e037a554a98b26cab9ab24 .timer-slide-bounding, #timerc08d02b3c0e037a554a98b26cab9ab24 .timer-slide-new, #timerc08d02b3c0e037a554a98b26cab9ab24 .timer-slide-old { padding: 8px; }
/* ::::: http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msdrvev4wajw489crdhikj90.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2mscgxdonx9ptx3utsptrfsgk.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msaz98xo_wnt-jiem4aulgfs.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2mse1g989qbvg6rt5ly5jb8v8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msj84zb0nvte6lif9ggtpo1y.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msd86pq2nkpzvgw_9lpt6rgi.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msdadhzwoyhqhvozmrgaeypo.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.video-container{
                                position: relative;
                                max-width: 480px;
                                height: 270px;
                                overflow:hidden;}
                            .video-container iframe, .video-container object, .video-container embed{
                                position:absolute;
                                display: block;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;}