.block-1{
    height: 928px;
    color: #fff;
    background: url(../img/bg-1.jpg) top center no-repeat;/* endzeit_____ */
}
.block-1 .container {
    padding: 338px 0 0;
    width: 245px;
    height: 818px;
}
.block-1 .sale {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.block-1 .sale span {
    display: block;
    font-size: 48px;
    color: #ffd000;
    margin-top: 10px;
}

.block-1 .timer>p {
    padding: 0 0 20px 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.block-1 .button-m {
    margin-top: 34px;
}

.block-1 .cost {
    position: relative;
    padding: 40px 0;
    white-space: nowrap;
    text-align: center;
    width: 200px;
    margin: 57px auto;
}
.block-1 .old-cost{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffa700;
    text-align: right;
}
.block-1 .old-cost>s {
    font-size: 24px;
    color: rgba(255,255,255,0.85);
    font-weight: 100;
    text-transform: none;
}
.block-1 .new-cost {
    line-height: 0.8em;
    font-weight: 700;
    font-size: 48px;
    color: #ffd000;
    display: block;
}
.block-1 .cost>span small{
    font-size: 46px;
}

/* after_qbici */

.block-2{
    padding-bottom: 410px;
    color: #fff;
    background: url(../img/bg-2.jpg) 50% 100% no-repeat, url(../img/bg-4-r.jpg) repeat;
}
.block-2 h2 {
    margin-top: 30px;
}
.block-2 h2 span{
    display: inline-block;
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 1.3em;
}
.block-2 .sup{
    padding: 20px 0 0;
}
.block-2 .sup>li{
    position: relative;
    height: 60px;
    margin: 0 0 20px;
    padding: 5px 0 0 80px;
    line-height: 1.3em;
    font-weight: 400;
    color: #222;
}
.block-2 .sup>li:before{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background: url(../img/sup-icons.png) no-repeat;
}
.block-2 .sup>li:nth-child(1):before{
    background-position: 0 0;
}
.block-2 .sup>li:nth-child(2):before{
    background-position: 0 -60px;
}
.block-2 .sup>li:nth-child(3):before{
    background-position: 0 -120px;
}
.block-2 .sup>li:nth-child(4):before{
    background-position: 0 -180px;
}
.block-2 .txt {
    margin: 40px 0;
    font-size: 16px;
    color: #222222;
    font-weight: 400;
    text-align: justify;
}
.block-2 .txt span {font-weight: bold;}
.block-2 h4 {
    font-size: 17px;
    font-weight: 600;
    margin-top: 63px;
}
.block-3{
    padding-top: 35px;
    padding-bottom: 0;
    background: url(../img/bg-3.jpg) 50% 0 no-repeat, url(../img/bg-4.jpg) repeat;
}
.block-3 h2 {
    font-size: 40px;
    margin: 0 0 20px;
}

.block-3 ul{
    position: relative;
    margin-top: 80px;
}
.block-3 ul li{
    position: relative;
    padding: 0 20px 74px;
    text-align: center;
    color:#fff;
}

.block-3 ul li:after {
    content: ' ';
    background: url(../img/arrow.png) no-repeat;
    width: 40px;
    height: 22px;
    position: absolute;
    bottom: 24px;
    left: 45%;
}

.block-3 ul li:last-child {
    padding-bottom: 26px;
}
.block-3 ul li:nth-child(4):after {display: none;}

.block-3 ul li img {
    border-radius: 10px;
    border: 2px solid rgba(88, 91, 101, 0.73);
    display: block;
    margin: 0 auto 20px;
}

.block-4 {
    height: auto;
    padding: 30px 0;
    color: #fff;
    background: url(../img/bg-4.jpg) center top repeat;
}

.block-4 .rew-cont {
    position: relative;
    padding: 40px 20px 0;
    text-align: center;
    color: #222;
}

.block-4 .img-cont {
    margin-bottom: 20px;
}

.block-4 .rew-item>p {
    position: relative;
    text-align: justify;
    line-height: 1.8em;
    font-weight: 400;
}

.block-4 .rew-item span {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase; 
}


.block-5{
    padding: 40px 0 45px;
    height: 602px;
    background: url(../img/bg-5.jpg) center top no-repeat;
    color:#fff;
}
.block-5 .expert {
    font-weight: 500;
    padding: 35px 0 0 200px;
    height: 180px;
}

.block-5 .expert p:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

.block-5 .container{
    padding: 0px 20px 0px;
}
.block-5 .container>p {
    padding: 0 20px 30px;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
}

.block-7 {
    height: auto;
    padding: 40px 0 20px;
    background: url(../img/bg-7.jpg) center top /cover;
}

.block-7 h4 {
    text-align: left;
    font-style: inherit;
    color:#fff;
}

.block-7 ul{
    position: relative;
    padding: 50px 20px 0px;
    
}
.block-7 ul li {
    position: relative;
    padding: 0 0 40px 160px;
    text-align: justify;
    color: #fff;
    font-size: 16px;
}
.block-7 ul li:before{
    content: '';
    display: block;
    position: absolute;
    width: 148px;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../img/deliv-icon.png) no-repeat;
}
.block-7 ul li:nth-child(1):before{
    background-position: 0px 5px;
}
.block-7 ul li:nth-child(2):before{
    background-position: 0px -132px;
}
.block-7 ul li:nth-child(3):before{
    background-position: 0px -272px;
}
.block-7 ul li:nth-child(4):before{
    background-position:0px -406px;
}
.block-7 .del-info {
    position: relative;
    padding: 40px 20px 20px;
    background: #040617;
    color: #fff;
    border-top: 1px solid rgba(204, 204, 204, 0.13);
}
.block-7 .del-info>p{
    padding-bottom: 10px;
}
.block-7 .del-info:after {
    content: '';
    position: absolute;
    display: block;
    width: 52px;
    height: 42px;
    top: -23px;
    left: 50%;
    margin-left: -34px;
    background: url(../img/icon-2.png) 0 0 no-repeat;
}
/* bizlife_inc */

.end{
    height: 1370px;
    color: #fff;/* endzeit_____ */
}

.end .container {
    height: 878px;
}

.end .button-m {
    margin-top: 0;
}

.end form {
    margin-top: 10px;
}

.footer{
    padding: 15px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.3em;
    color: #fff;
    background: #01081b;
    border-top:1px solid rgba(204, 204, 204, 0.05);
}/* michael-k90 */

.video-container{
    position: relative;
    width: 480px;
    height: 270px;
    margin: 0;
    overflow: hidden;
    background: #000;
}
.video-container iframe, .video-container object, .video-container embed{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dop-1{
    padding: 380px 0 40px 0;
    background: url(../img/tov-1.jpg) 50% 0 no-repeat, url(../img/bg-4.jpg) repeat;
}