@font-face {
	font-family: 'magistral';
	src: url(../fonts/Magistral.ttf);
	font-weight: 100;
}

@font-face {
	font-family: 'magistral';
	src: url(../fonts/MagistralBold.html);
	font-weight: 600; 
}

@font-face {
	font-family: 'magistral';
	src: url(../fonts/MagistralBlack.ttf);
	font-weight: 900;
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url(../fonts/MyriadPro-Bold.otf);
	font-weight: 900;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url(../fonts/MyriadPro-Regular.otf);
	font-weight: 900;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box ;
	-moz-box-sizing: border-box ;
	-ms-box-sizing: border-box ;
	-o-box-sizing: border-box ;
	box-sizing: border-box ;
}

header, footer, nav, section, article {
	display: block;
	min-width: 1000px;
}

.wrapper:after,
.clearfix:after {
    content: " ";
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
	min-width: 1000px;
}

.left {
	float: left;
}

.right {
	float: right;
}

a,button {
	cursor: pointer;
}

header {
	background: url(../img/hb.jpg) no-repeat 50% 0;
	height: 872px;
}

header .top {
	padding-top: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .cont {
	text-align: right;
}

header .num {
	color: #fff;
	font: 100 22px/1 "magistral";
	margin-top: 2px;
}

header .callme {
	display: inline-block;
	margin-top: 8px;
	font: 100 19px 'magistral';
	text-decoration: none;
	border-bottom: 2px dashed;
	color: #3b99c6;
}

h1 {
	text-align: center;
	font: 100 75px/1 'magistral';
	color: #fff;
}

h1 span {
	position: relative;
	bottom: 22px;
	font-size: 60px;
}

footer .box,
.b3 .box,
header .box {
	border: 2px solid #3b99c6;
	text-align: center;
	width: 324px;
	margin: 100px 0 0 auto;
	border-radius: 14px;
	padding: 16px 0;
	box-shadow: 0 0 18px rgba(46,85,219,.5);
}

footer .box .p1,
.b3 .box .p1,
header .p1 {
	color: #fff;
	font: 33px 'MyriadPro-Regular';
	text-transform: uppercase;
}

footer .box .p2,
.b3 .box .p2,
header .p2 {
	color: #fff;
	font: 25px/1 'MyriadPro-Regular';
	text-transform: uppercase;
}

footer .box .p3,
.b3 .box .p3,
header .p3 {
	color: #3b99c6;
	font: 17px 'MyriadPro-Regular';
}

.sfrm {
	text-align: right;
	padding: 20px 26px;
}

.sfrm span {
	color: #fff;
	font: 16px 'MyriadPro-Regular';
}

input {
	border: 1px solid;
	color: #fff;
	height: 34px;
	width: 189px;
	border-radius: 5px;
	margin-left: 14px;
	background: none;
	margin-bottom: 26px;
	font: 18px 'MyriadPro-Regular';
	padding-left: 1em;
}

textarea {
	border: 1px solid;
	color: #fff;
	height: 70px;
	width: 189px;
	border-radius: 5px;
	padding-left: 1em;
	background: none;
	margin-left: 14px;
	vertical-align: top;
}

.sfrm button {
	display: block;
	width: 190px;
	background: red;
	border: none;
	margin: 26px auto 0;
	border-radius: 10px;
	height: 45px;
	text-transform: uppercase;
	font: 25px 'MyriadPro-Regular';
	background: linear-gradient(#fff378,#ffbf00);
	box-shadow: inset 0 -3px 6px #846710;
}

.timer {
	width: 324px;
	margin: 28px 0 0 auto;
}

.timer {
	display: flex;
	justify-content: space-between;
}

.timer>span {
	padding-top: 6px;
	font: 18px 'MyriadPro-Regular';
	color: #fff;
}


.timer .tmr {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 205px;
	padding: 14px 0 25px;
	margin-left: -20px;
	background: url(../img/tb.png) no-repeat 50%;
	background-size: contain;
}

.timer .tmr div {
	color: #77b9fe;
	font: 37px/1 'MyriadPro-Regular';
	position: relative;
	text-shadow: 0 0 5px #77b9fe;
}

.timer .tmr div span {
	position: absolute;
	color: #626262;
	display: block;
	width: 100%;
	bottom: -8px;
	font: 11px 'MyriadPro-Regular';
}

.timer .dd {
	width: .5em;
}

.b1 {
	padding-top: 20px;
	background: red url(../img/b1b.jpg) no-repeat 50% 0;
	height: 819px;
}

.b1 h2 {
	text-align: center;
	font: 64px 'magistral';
	color: transparent;
	background: url(../img/tit1.png) no-repeat 50% 0;
}

.b1 ul {
	list-style: none;
	padding-left: 252px;
	background: url(../img/sprite.png) no-repeat 80px 2px;
	margin-top: 35px;
}

.b1 .p1 {
	font: 27px 'magistral';
	color: #8dca4e;
}

.b1 .p2 {
	font: 21px/1.1 'magistral';
	color: #fff;
}

.b1 li {
	border-bottom: 1px solid #293147;
	padding-bottom: 18px;
	margin-bottom: 25px;
}

.b2 {
	text-align: center;
	padding-top: 2px;
	height: 619px;
	background: url(../img/b2b.jpg) no-repeat 50% 0;
}

.b2 h2 {
	font: 64px 'magistral';
	color: transparent;
	background: url(../img/tit2.png) no-repeat 50% 0;
	margin-top: 39px;
}

.b2 .left {
	font: 38px 'magistral';
	color: transparent;
	background: url(../img/tit3.png) no-repeat 50% 0;
	padding-top: 59px;
	width: 39%;
}

.b2 .right {
	font: 38px 'magistral';
	color: transparent;
	background: url(../img/tit4.png) no-repeat 50% 0;
	padding-top: 59px;
	width: 51%;
}

.b2 .right .p2 {
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
}

.b3 {
	padding-top: 2px;
	height: 617px;
	background: url(../img/b3b.jpg) no-repeat 50% 0;
}

.b3 .left {
	position: relative;
	margin: 193px 0 0 190px;
	width: 410px;
	height: 292px;
}

.b3 .left:after {
	content: url(../img/arl.png);
	display: block;
	position: absolute;
	bottom: 0;
	right: -110px;
}

.b3 h2 {
	font: 48px/1 'MyriadPro-Regular';
	text-transform: uppercase;
	color: #fff;
}

.b3 .box {
	margin-top: 69px;
	background: rgba(0,0,0,.5);
}

footer .timer,
.b3 .timer {
	text-align: center;
	display: block;
	width: auto;
	margin: 0;
}

.b3 .timer>div {
	margin: 0 auto;
}

footer .timer>span,
.b3 .timer>span {
	color: #61b3ff;
}

footer .inb,
.b3 .inb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .in,
.b3 .in {
	margin-top: 18px;
}

footer .p4,
.b3 .p4 {
	color: #61b3ff;
	font: 38px/1 'MyriadPro-Regular';
}

footer .p5,
.b3 .p5 {
	margin-top: 10px;
	color: #fff;
	font: 45px/1 'MyriadPro-Regular';
}

.b4 {
	padding-top: 2px;
	text-align: center;
	height: 606px;
	background: red url(../img/b4b.jpg) no-repeat 50% 0;
}

.b4 h2 {
	margin-top: 55px;
	font: 100 20px/1.2 'magistral';
	color: #fff;
}

.b4 iframe {
	width: 672px;
	height: 360px;
	margin-top: 46px;
}

.b5 {
	padding-top: 2px;
	background: url(../img/b5b.jpg) no-repeat 50% 0;
}

.b5 h2 {
	font: 64px 'magistral';
	color: transparent;
	background: url(../img/tit5.png) no-repeat 50% 0;
	text-align: center;
	margin-top: 32px;
}

.b5 .left {
	width: 56%;
	margin-top: 80px;
	list-style: none;
	color: #fff;
	height: 413px;
	background: url(../img/b5im.png) no-repeat 34px 7px ;
}

.b5 .left li {
	font: 19px 'magistral';
}

.b5 .left li:nth-child(1){
	text-align: right;
	margin: 22px 62px 0 0;
}

.b5 .left li:nth-child(2){
	text-align: right;
	margin-top: 30px;
}

.b5 .left li:nth-child(3){
	margin-top: 110px;
}

.b5 .left li:nth-child(4){
	margin-top: 40px;
	text-align: center;
}

.b5 .left li:nth-child(5){
	margin: 49px 0 0 173px;
}


.b5 .right {
	list-style: none;
	font: 18px 'MyriadPro-Regular';
	color: #fff;
	margin: 104px 62px 0 0;
}

.b5 .right li {
	margin-bottom: 25px;
}

.b5 .right li:before {
	content: ' ';
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 10px;
	border: 2px solid #aec2fc;
	box-shadow: 0 0 5px #61b3ff;
	margin-right: 1em;
}

.b6 {
	padding-top: 2px;
	background: red url(../img/b6b.jpg) no-repeat 50% 0;
	height: 625px;
}

.b6 h2 {
	text-align: center;
	margin-top: 32px;
	font: 64px 'magistral';
	color: transparent;
	background: url(../img/tit6.png) no-repeat 50% 0;
}

.b6 ul {
	font: 19px 'magistral';
	color: #fff;
	margin-top: 32px;
	list-style: none;
	padding: 20px 0 5px 180px;
	background: url(../img/sprite2.png) no-repeat  60px -8px;
	height: 400px;
}

.b6 li {
	margin-bottom: 80px;
}

.b7 {
	padding-top: 2px;
	background: red url(../img/b7b.jpg) no-repeat 50% 0;
	height: 1033px;
}

.b7 h2 {
	margin: 25px 0 34px;
	text-align: center;
	font: 64px 'magistral';
	color: transparent;
	background: url(../img/tit7.png) no-repeat 50% 0;
}

.b7 .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.b7 .ot {
	border: 3px solid #a9ed63;
	box-shadow: 0 0 10px #6dec18;
	border-radius: 8px;
	max-width: 750px;
	padding: 20px 25px;
	min-height: 220px;
}

.b7 .p1 {
	color: #fff;
	font: 25px/1 'magistral';
}

.b7 .p2 {
	margin-top: 25px;
	color: #fff;
	font: 18px/1.35 'magistral';
}

footer {
	padding-top: 28px;
	background: red url(../img/fb.jpg) no-repeat 50% 0;
	height: 600px;
}

footer .left {
	position: relative;
	margin: 193px 0 0;
	width: 600px;
	height: 292px;
}

footer .left:after {
	content: url(../img/arl.png);
	display: block;
	position: absolute;
	bottom: 45px;
	right: -110px;
}

footer h2 {
	margin-top: 48px;
	text-transform: uppercase;
	font: 48px/1 'MyriadPro-Regular';
	color: #fff;
}

footer .timer {
	width: 300px;
	margin: 20px 65px 0 0;
}

footer .timer .tmr {
	margin: 0 auto;
}

footer .box {
	background: rgba(0,0,0,.8);
}

#pop {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#pop .overlay {
	position: absolute;
	display: block;
	background: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#pop .close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../img/close.png) no-repeat 50%;
	right: 0;
	top: 0;
}

#pop .cont {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	border: 2px solid #3b99c6;
	text-align: center;
	width: 324px;
	border-radius: 14px;
	padding: 16px 0;
	box-shadow: 0 0 18px rgba(46,85,219,.5);

}

#pop h2 {
	font: 600 24px 'magistral';
	color: #fff;
}

.res {
	text-align: center;
	font: 16px 'magistral';
	color: #fff;
}

.fbox {
	width: 100%;
	padding: 20px 0;
}

.fbox p {
	color: #fff;
	font-size: 20px;
	text-align: center;
}









