@media screen and (max-width:640px) {
  /*Общие*/
  .wrapper{
  margin: 0 auto;
  width: 640px;
  overflow: hidden;
  
}
/*Секция 1*/
.one{
  min-width: 640px;
  
}
/*Секция 1 конец*/
/*Секция 2*/
.two{
  min-width: 640px;
  height: 985px;
  box-shadow: none;
  border-bottom: none;
}
.form{
  width: 640px;
  margin:0;
  height: 528px;
  background-color: rgba(248,248,284,0.8);
  margin-top: -73px;
  float: left;
}
.timer{
  font-size: 50px;
}
.p-min-sec p{
  font-size: 24px;
  margin-right: 70px;
}
.input-form-two{
  width: 519px;
  height: 75px;
  font-size: 45px;
  margin-top: 29px;
}
form{
  width: 594px;
}
.button-two{
  width: 594px;
  font-size: 58px;
  height: 75px;
  margin-top: 29px;
}
.p-banner1-two{
  margin-top: 26px;
  margin-right: 20px;
}
.cennik1{
  margin-top: 27px;
}
.h2-three h2{
  font-size: 50px;
  width: 561px;
  margin: 0 auto;
}
.h2-three{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: 0;
}
iframe{
  width: 640px;
  float: left;
  margin-top: 24px;
  height: 385px;
}
/*Секция 2 конец*/
/*Секция 3*/
.three{
  min-width: 640px;
  margin-top: 0;
  height: 793px;
}
.post{
  margin-top: 32px;
  margin-left: 43px;
}
/*Секция 3 конец*/
/*Секция 4*/
.four{
  min-width: 640px;
  height: 2135px;
}
.four-left{
  display: none;
}
.post-four-mob{
  background-color: #fce813;
  font-size: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.post-four-mob p{
  padding-left: 51px;
  padding-top: 29px;
  padding-bottom: 29px;
  line-height: 1.5;
}
.four-right h3{
  margin-top: 95px;
  width: 640px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.four-right{
  float: left;
}
.four-left-mob{
  display: block;
  float: left;
  height: 826px;
}
.four-left-mob h3{
  font-size: 46px;
  font-family: 'DIN Pro Cond Bold';
  margin-top: 60px;
  text-align: center;
  background-color: #fce813;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.countdownHolder{
  font-size: 42px;
}
.p-min-sec{
  width: 276px;
  margin-top: -12px;
}
/*Секция 4 конец*/
/*Секция 5*/
.five{
  min-width: 640px;
  margin-top: 42px;
}
.column{
  display: inline-block;
  margin-top: 47px;
}
.column-five{
  width: 524px;
  margin-top: 10px;
}
.lost-mob{
  margin-right: 0;
}
/*Секция 5 конец*/
/*Секция 6*/
.six{
  min-width: 640px;
}
.map{
  background-image: url(../img/map-mob.png)/*tpa=http://guess.true-gooods.ru/../img/map-mob.png*/;
  background-position: center;
  width: 570px;
  height: 298px;
  }
/*Секция 6 конец*/
/*Секция 7*/
/*Секция 7 конец*/
/*Секция 8*/
/*Секция 8 конец*/
/*Секция 9*/
/*Секция 9 конец*/
/*Секция 10*/
/*Секция 10 конец*/