@font-face {
  font-family: 'DIN Pro Cond';
  src: url('kors.markethit.ru/../fonts/DINPro-Cond.eot')/*tpa=http://guess.true-gooods.ru/kors.markethit.ru/../fonts/DINPro-Cond.eot*/; /* IE9 Compat Modes */
  src: url('../fonts/DINPro-Cond.eot')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-Cond.eot*/ format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-Cond.woff')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-Cond.woff*/ format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-Cond.ttf')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-Cond.ttf*/  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-Cond.svg')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-Cond.svg*/ format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'DIN Pro Cond Bold';
  src: url('kors.markethit.ru/../fonts/DINPro-CondBold.eot')/*tpa=http://guess.true-gooods.ru/kors.markethit.ru/../fonts/DINPro-CondBold.eot*/; /* IE9 Compat Modes */
  src: url('../fonts/DINPro-CondBold.eot')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondBold.eot*/ format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-CondBold.woff')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondBold.woff*/ format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-CondBold.ttf')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondBold.ttf*/  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-CondBold.svg')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondBold.svg*/ format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'DIN Pro Cond Medium';
  src: url('kors.markethit.ru/../fonts/DINPro-CondMedium.eot')/*tpa=http://guess.true-gooods.ru/kors.markethit.ru/../fonts/DINPro-CondMedium.eot*/; /* IE9 Compat Modes */
  src: url('../fonts/DINPro-CondMedium.eot')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondMedium.eot*/ format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-CondMedium.woff')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondMedium.woff*/ format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-CondMedium.ttf')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondMedium.ttf*/  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-CondMedium.svg')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondMedium.svg*/ format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'DIN Pro Cond Light';
  src: url('kors.markethit.ru/../fonts/DINPro-CondLight.eot')/*tpa=http://guess.true-gooods.ru/kors.markethit.ru/../fonts/DINPro-CondLight.eot*/; /* IE9 Compat Modes */
  src: url('../fonts/DINPro-CondLight.eot')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondLight.eot*/ format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-CondLight.woff')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondLight.woff*/ format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-CondLight.ttf')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondLight.ttf*/  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-CondLight.svg')/*tpa=http://guess.true-gooods.ru/../fonts/DINPro-CondLight.svg*/ format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}
*{
    padding: 0;
    margin: 0;
}
body{
  font-family: 'DIN Pro Cond Light';
}
.wrapper{
    width: 1200px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
/*Секция 1*/
.one{
  background-color: #fce813;
  height: 225px;
  min-width: 1200px;
  position: relative;
}
.wrapper-one{
  text-align: center;

}
.h1-section-one h1{
  font-family: 'DIN Pro Cond Light';
  font-size: 46px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1;
}
.span1{
  font-size: 90px;
}
.span2{
  font-family: 'DIN Pro Cond Bold';
}
/*Секция 1 конец*/
/*Секция 2*/
.two{
  background-color: #fff;
  height: 563px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #bcbcbc;
}
.phone-no{
  text-align: right;
  font-size: 24px;
  padding-right: 24px;
  padding-top: 40px;
}
.banner1-two{
  width: 590px;
  background-image: url(../img/bg-banner1-two.jpg)/*tpa=http://guess.true-gooods.ru/../img/bg-banner1-two.jpg*/;
  background-repeat: no-repeat;
  background-position: left;
  height: 470px;
  display: inline-block;
  float: left;
  margin-top: 11px;
  
}
.cennik1{
  background-image: url(../img/cennik1-two.png)/*tpa=http://guess.true-gooods.ru/../img/cennik1-two.png*/;
  background-repeat: no-repeat;
  width: 130px;
  height: 37px;
  display: block;
  float: right;
  text-align: left;
  margin-top: 84px;
  margin-right: 164px;
}
.cennik2{
  background-image: url(../img/cennik2-two.png)/*tpa=http://guess.true-gooods.ru/../img/cennik2-two.png*/;
  background-repeat: no-repeat;
  width: 298px;
  height: 87px;
  display: block;
  float: right;
  text-align: left;
  margin-top: 9px;
}
.cennik1 p{
  font-size: 31px;
  margin-left: 5px;
}
.cennik2 p{
  font-size: 70px;
  font-family: 'DIN Pro Cond Bold';
  color: #fff;
  margin-left: 10px;
}
.cennik2 span{
  font-family: 'DIN Pro Cond Light';
  font-size: 50px;
}
.p-banner1-two{
  font-size: 50px;
  width: 270px;
  float: right;
  margin-top: 71px;
  line-height: 1;
  margin-right: 28px;
}
.p-banner1-two span{
  color: #c11509;
  font-size: 50px;
  font-family: 'DIN Pro Cond Bold';
}
.clear{
  clear: both;
}
.form{
  width: 555px;
  height: 450px;
  display: inline-block;
  float: right;
  border: 1px solid #bcbcbc;
  background-color: #f9f9f9;
  box-shadow: 5px 8px 20px 0px rgba(0, 0, 0, 0.25);
  margin-right: 27px;
  margin-top: 50px;
}
form{
  width: 462px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.input-form-two{
  width: 385px;
  display: block;
  height: 64px;
  font-size: 34px;
  font-family: 'DIN Pro Cond Medium';
  border:1px solid #969696;
  border-radius: 3px;
  background-image: url(../img/bg-input-man.png)/*tpa=http://guess.true-gooods.ru/../img/bg-input-man.png*/;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-top: 15px;
  color: #5e5e5e;
  padding-left: 73px;
}
.input-two{
  background-image: url(../img/bg-input-phone.png)/*tpa=http://guess.true-gooods.ru/../img/bg-input-phone.png*/;
}

/*Стилизация placeholder*/
.input-form-two::-webkit-input-placeholder{
  color: #5e5e5e;
  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}
.input-form-two::-moz-placeholder{
  color: #5e5e5e;
  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}
.input-form-two:-moz-placeholder{
  color: #5e5e5e;
  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}
.input-form-two:-ms-input-placeholder{
  color: #5e5e5e;
  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}
.input-form-two:focus::-webkit-input-placeholder{
  text-indent: 600px; transition: text-indent 0.3s ease;
}
.input-form-two:focus::-moz-placeholder{
  text-indent: 600px; transition: text-indent 0.3s ease;
}
.input-form-two:focus:-moz-placeholder{
  text-indent: 600px; transition: text-indent 0.3s ease;
}
.input-form-two:focus:-ms-input-placeholder{
  text-indent: 600px; transition: text-indent 0.3s ease;
}
/*Стилизация placeholder конец*/

.button-two{
  background-image: -moz-linear-gradient( 90deg, rgb(249,211,0) 0%, rgb(255,255,40) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(249,211,0) 0%, rgb(255,255,40) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(249,211,0) 0%, rgb(255,255,40) 100%);
  height: 70px;
  width: 460px;
  font-size: 44px;
  text-shadow: 1px 1px 0 #fff;
  cursor: pointer;
  border: 1px solid #b7ae00;
  font-family: 'DIN Pro Cond Medium';
  box-shadow: 2px 3px 0 0 #715c00;
  border-radius: 5px;
  margin-top: 15px;
}
.button-two:hover{
  background-image: -moz-linear-gradient( 90deg, rgb(249,211,0) 58%, rgb(255,255,40) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(249,211,0) 58%, rgb(255,255,40) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(249,211,0) 58%, rgb(255,255,40) 100%);
  }
.timer{
  text-align: center;
  margin-top: 24px;
  font-family: 'DIN Pro Cond Light';
  font-size: 38px;
}
.p-min-sec p{
  font-size:18px;
  margin-top: 0;
  display: inline;
  margin-right: 57px;
}
.p-min-sec{
  width: 208px;
  margin: 0 auto;
  margin-top: -20px;
}
/*Секция 2 конец*/
/*Секция 3*/
.three{
  margin-top: 25px;
  height: 508px;
  min-width: 1200px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #bfbfbf;
}
.h2-three h2{
  font-size: 50px;
  font-weight: normal;
}
.h2-three{
  width: 380px;
  display: inline-block;
  line-height: 1;
  margin-left: 26px;
  margin-top: 35px
}
iframe{
  display: inline-block;
  float: right;
  width: 560px;
  margin-top: 52px;
  margin-right: 26px;
}
.post{
  margin-top: 55px;
  display: inline-block;
  margin-left: 26px;
}

.post li{
  vertical-align: top;
  font-size: 22px;
  list-style-type: none;
  margin-top: 9px;
  vertical-align: top;
}
.post ul{
  display: inline-block;
  margin-right: 35px;
}
.post img{
  margin-right: 10px;
}
/*Секция 3 конец*/
/*Секция 4*/
.four{
  min-width: 1200px;
  position: relative;
  background-color: #fff;
  height: 1100px;
}
.four-left{
  width: 600px;
  display: inline-block;
  float: left;
}
.four-right{
  width: 600px;
  display: inline-block;
  float: right;
}
.otziv p{
  display: inline-block;
  width: 357px;
  font-size: 20px;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 10px;
  line-height: 1.2;
}
ul.otziv{
  margin-top: 72px;
  margin-left: 26px;
}
.otziv span{
  font-size: 34px;
}
.otziv li{
  list-style-type: none;
  margin-bottom: 90px;

}
.otziv img{
  float: left;
}
.clear{
  clear: both;
}
.post-four{
  background-color: #fce813;
  border-radius: 13px;
  font-size: 24px;
  width: 554px;
  margin-left: auto;
  margin-right: auto;
}
.post-four p{
  padding-left: 51px;
  padding-top: 29px;
  padding-bottom: 29px;
  line-height: 1.5;
}
.four-left h3{
  font-size: 46px;
  font-family: 'DIN Pro Cond Bold';
  margin-top: 11px;
  margin-left: 23px;
  
}
.four-right h3{
  font-size: 46px;
  font-family: 'DIN Pro Cond Bold';
  background-color: #fce813;
  text-align: center;
  margin-top: 11px;
}
.cennik1-four{
  margin-top: 21px;
}
.form-four{
  margin-top: 42px;
}
/*Секция 4 конец*/
/*Секция 5*/
.five{
  min-width: 1200px;
  position: relative;
  background-color: #fff;
}
.head{
  background-color: #fce813;
  text-align: center;
}
.head h3{
  font-size: 46px;
  font-family: 'DIN Pro Cond Bold';
  padding-top: 11px;
  padding-bottom: 11px;
}
.column{
  display: inline-block;
  text-align: center;
  margin-right: 140px;
  width: 225px;
  vertical-align: top;
}
.column p{
  font-size: 24px;
  margin-top: 9px;
}
.column-five{
  margin: 0 auto;
  width: 1115px;
  margin-top: 63px;
  margin-bottom: 72px;
}
.last{
  margin-right: 0;
}
/*Секция 5 конец*/
/*Секция 6*/
.map{
  background-image: url(../img/map.png)/*tpa=http://guess.true-gooods.ru/../img/map.png*/;
  width: 813px;
  height: 425px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 62px;
}
.six p{
  font-size: 34px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 75px;
}
/*Секция 6 конец*/
.post-four-mob{
  display: none;
}
.four-left-mob{
  display: none;
}
/*footer*/
footer{
  min-width: 640px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
footer p{
  font-family: Arial;
  font-size: 12px;
  color: #aeaeae;
  margin-top: 20px;
  margin-bottom: 40px;
}