/* ::::: http://e.tag-heuer-grand.watch-official.ru/css/main.min.css ::::: */

/* ::::: http://e.tag-heuer-grand.watch-official.ru/css/reset.min.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, button, input, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; background: transparent none repeat scroll 0% 0%; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
:focus { outline: 0px none; }
/* ::::: http://e.tag-heuer-grand.watch-official.ru/css/fonts.pfdtcondpro.css ::::: */

@font-face {
	font-family: "PF DT Cond Pro";
	font-style: normal;
	font-weight: 300;
	src: url('pfdintextcondpro-light.eot') format("embedded-opentype"), url('pfdintextcondpro-light.ttf') format("truetype"), local("PF Din Text Cond Pro Light"), local("PF-Din-Text-Cond-Pro-Light");
}
@font-face {
	font-family: "PF DT Cond Pro";
	font-style: normal;
	font-weight: 400;
	src: url('pfdintextcondpro-regular.eot') format("embedded-opentype"), url('pfdintextcondpro-regular.ttf') format("truetype"), local("PF Din Text Cond Pro Regular"), local("PF-Din-Text-Cond-Pro-Regular");
}
@font-face {
	font-family: "PF DT Cond Pro";
	font-style: normal;
	font-weight: 500;
	src: url('pfdintextcondpro-medium.eot') format("embedded-opentype"), url('pfdintextcondpro-medium.ttf') format("truetype"), local("PF Din Text Cond Pro Medium"), local("PF-Din-Text-Cond-Pro-Medium");
}
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font: 14px PF DT Cond Pro,tahoma; color: rgb(34, 34, 34); position: relative; }
.header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; height: 80px; top: 0px; position: fixed; z-index: 99999999; box-shadow: 0px 0px 1px rgb(204, 204, 204); }
.header .header-wrap { width: 1080px; height: 80px; padding: 0px 40px; margin: 0px auto; }
.header .header-logotype { background: rgb(227, 51, 51) none repeat scroll 0% 0%; width: 260px; height: 80px; float: left; }
.header .header-logotype a { line-height: 90px; color: transparent; display: block; }
.header .header-navigation { padding: 0px 30px; height: 80px; float: left; }
.header .header-navigation li { float: left; }
.header .header-navigation li a { padding: 5px 20px 0px; font: 300 18px/80px PF DT Cond Pro,tahoma; color: rgb(34, 34, 34); text-decoration: none; border-top: 4px solid transparent; display: block; }
.header .header-navigation li a:hover { color: rgb(227, 51, 51); border-color: rgb(227, 51, 51); }
.wrapper { padding-top: 80px; margin-bottom: -80px; }
.wrapper:last-child { margin: 0px; }
.present { background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 100%; height: 680px; }
.present .present-wrap { background: rgb(238, 238, 238) url('bg-grey.jpg') no-repeat fixed 50% 10%; width: 1080px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.present .present-preview { width: 420px; height: 640px; margin: 20px 0px; overflow: hidden; float: left; }
.present .present-discount { background: rgb(227, 51, 51) none repeat scroll 0% 0%; width: 140px; height: 50px; margin: -605px 20px 0px 0px; font: 300 22px/50px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-align: center; text-transform: uppercase; border-radius: 2px; position: relative; float: right; }
.present .present-info { width: 640px; height: 640px; margin: 20px 0px; overflow: hidden; float: right; }
.present .present-info .info-description { width: 620px; height: 160px; margin: 40px 0px 20px; overflow: hidden; float: left; }
.present .present-info .info-description h1 { padding-bottom: 10px; font: 600 38px/40px PF DT Cond Pro,tahoma; text-transform: uppercase; }
.present .present-info .info-description p { font: 300 18px/22px PF DT Cond Pro,tahoma; }
.present .present-info .info-atributes { width: 340px; height: 260px; margin-bottom: 20px; overflow: hidden; float: left; }
.present .present-info .info-atributes .atributes-title { font: 500 22px/25px PF DT Cond Pro,tahoma; }
.present .present-info .info-atributes .atributes-list { margin: 15px 0px; }
.present .present-info .info-atributes .atributes-list li { height: 30px; font: 300 18px/30px PF DT Cond Pro,tahoma; overflow: hidden; }
.present .present-info .info-atributes .atributes-list li i { width: 25px; color: rgb(153, 102, 51); }
.present .present-info .info-timer { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 340px; height: 120px; border-radius: 2px; float: left; }
.present .present-info .info-timer .timer-preview { width: 115px; height: 140px; margin: -10px 0px; color: transparent; float: left; }
.present .present-info .info-timer .timer-title { padding-top: 15px; font: 300 18px/20px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); }
.present .present-info .info-timer .timer-main { padding-top: 10px; color: rgb(34, 34, 34); overflow: hidden; }
.present .present-info .info-timer .timer-main .main-group { width: 60px; margin-right: 10px; text-align: center; float: left; }
.present .present-info .info-timer .timer-main .main-group .group-num { background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 28px; height: 50px; font: 500 24px/50px PF DT Cond Pro,tahoma; border-radius: 2px; overflow: hidden; float: left; }
.present .present-info .info-timer .timer-main .main-group .group-num:first-child { margin-right: 4px; }
.present .present-info .info-timer .timer-main .main-group .group-note { color: rgb(170, 170, 170); }
.present .present-info .info-form { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 240px; min-height: 320px; padding: 20px; border-radius: 2px; float: right; }
.present .present-info .info-form .form-title { height: 30px; padding-top: 5px; font: 500 22px/30px PF DT Cond Pro,tahoma; color: rgb(34, 34, 34); overflow: hidden; }
.present .present-info .info-form .form-title small { width: 80px; font: 300 14px/13px PF DT Cond Pro,tahoma; color: rgb(170, 170, 170); text-align: right; display: block; float: right; }
.present .present-info .info-form .form-fields { margin-top: 15px; }
.present .present-info .info-form .form-fields input { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 208px; height: 38px; padding: 0px 15px; margin-bottom: 10px; font: 300 16px PF DT Cond Pro,tahoma; border: 1px solid rgb(221, 221, 221); border-radius: 2px; transition: all 0.2s ease 0s; }
.present .present-info .info-form .form-fields input:focus { border-color: rgb(227, 51, 51); }
.present .present-info .info-form .form-offer { height: 40px; overflow: hidden; }
.present .present-info .info-form .form-offer .offer-price { background: rgb(227, 51, 51) none repeat scroll 0% 0%; height: 40px; padding: 0px 10px; font: 300 20px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); border-radius: 2px; float: left; }
.present .present-info .info-form .form-offer .offer-price-old { height: 30px; padding-top: 5px; color: rgb(170, 170, 170); font-weight: 300; text-align: right; float: right; }
.present .present-info .info-form .form-offer .offer-price-old small { font: 300 18px/15px PF DT Cond Pro,tahoma; display: block; }
.present .present-info .info-form .form-variants { margin: 15px 0px; }
.present .present-info .info-form .form-variants .variants-colors { height: 35px; overflow: hidden; }
.present .present-info .info-form .form-variants .variants-colors li { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 32px; height: 32px; margin-right: 5px; float: left; }
.present .present-info .info-form .form-variants .variants-colors li input { display: none; }
.present .present-info .info-form .form-variants .variants-colors li label { width: 30px; height: 30px; padding: 1px; cursor: pointer; border: 1px solid rgb(204, 204, 204); border-radius: 2px; display: block; }
.present .present-info .info-form .form-variants .variants-colors li label div { background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 30px; height: 30px; }
.present .present-info .info-form .form-variants .variants-colors li label:hover { border: 1px solid rgb(170, 170, 170); }
.present .present-info .info-form .form-variants .variants-colors li input:checked + label { border: 1px solid rgb(34, 34, 34); cursor: default; }
.present .present-info .info-form .form-variants .variants-colors li label div.black { background: rgb(34, 34, 34) none repeat scroll 0% 0%; }
.present .present-info .info-form .form-order { margin-top: 20px; }
.present .present-info .info-form .form-order input[type="submit"] { background-color: rgb(51, 204, 102); width: 240px; height: 50px; font: 500 18px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-transform: uppercase; border-radius: 2px; cursor: pointer; }
.advantages { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; height: 960px; }
.advantages .advantages-wrap { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 1080px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.advantages .advantages-header { height: 120px; margin-bottom: 20px; text-align: center; border-bottom: 1px solid rgb(238, 238, 238); overflow: hidden; }
.advantages .advantages-header h2 { margin-top: 40px; font: 500 36px/40px PF DT Cond Pro,tahoma; color: rgb(34, 34, 34); text-transform: uppercase; }
.advantages .advantages-header p { font: 300 20px/20px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); }
.advantages .advantages-inside { width: 1120px; height: 440px; padding-top: 60px; overflow: hidden; }
.advantages .advantages-inside .inside-item { width: 540px; height: 160px; margin: 0px 20px 60px 0px; float: left; }
.advantages .advantages-inside .inside-item .item-num { background: rgb(227, 51, 51) none repeat scroll 0% 0%; width: 40px; height: 40px; margin: 0px -40px -40px 0px; font: 500 20px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-align: center; position: relative; border-radius: 20px; }
.advantages .advantages-inside .inside-item .item-view { background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 160px; height: 160px; margin-right: 20px; border-radius: 80px; overflow: hidden; float: left; }
.advantages .advantages-inside .inside-item .item-view img { width: 160px; display: block; transition: all 0.2s ease 0s; }
.advantages .advantages-inside .inside-item .item-view img:hover { width: 200px; margin: -20px; }
.advantages .advantages-inside .inside-item .item-title { font: 400 24px/50px PF DT Cond Pro,tahoma; color: rgb(153, 102, 51); float: left; }
.advantages .advantages-inside .inside-item .item-title i { width: 35px; text-align: center; }
.advantages .advantages-inside .inside-item .item-text { width: 338px; height: 108px; border: 1px solid rgb(238, 238, 238); border-radius: 2px; float: left; }
.advantages .advantages-inside .inside-item .item-text p { padding: 15px; font: 300 16px/20px PF DT Cond Pro,tahoma; }
.gallery { background: rgb(34, 34, 34) none repeat scroll 0% 0%; width: 100%; height: 700px; }
.gallery .gallery-wrap { background: rgb(34, 34, 34) url('bg-black.jpg') no-repeat fixed center 10%; width: 1080px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.gallery .gallery-header { height: 120px; text-align: center; overflow: hidden; }
.gallery .gallery-header h2 { margin-top: 40px; font: 500 36px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-transform: uppercase; }
.gallery .gallery-header p { font: 300 20px/20px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); }
.gallery .gallery-inside { width: 1080px; height: 580px; }
.gallery .gallery-inside .inside-item { width: 270px; height: 270px; float: left; transition: all 0.2s ease 0s; }
.gallery .gallery-inside .inside-item .item-view { width: 270px; height: 270px; overflow: hidden; float: left; transition: all 0.2s ease 0s; }
.gallery .gallery-inside .inside-item .item-view img { width: 270px; display: block; transition: all 0.2s ease 0s; }
.gallery .gallery-inside:hover .inside-item:not(:hover) { opacity: 0.7; }
.gallery .gallery-inside .inside-item:hover { opacity: 1; z-index: 99; position: relative; }
.gallery .gallery-inside .inside-item:hover .item-view { width: 310px; height: 310px; margin: -20px; }
.gallery .gallery-inside .inside-item:hover .item-view img { width: 310px; }
.reviews { background: rgb(34, 34, 34) none repeat scroll 0% 0%; width: 100%; height: 680px; }
.reviews .reviews-wrap { background: rgb(34, 34, 34) url('bg-black.jpg') no-repeat fixed center 10%; width: 1080px; height: 680px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.reviews .reviews-header { height: 120px; text-align: center; border-bottom: 1px solid rgb(51, 51, 51); overflow: hidden; }
.reviews .reviews-header h2 { margin-top: 40px; font: 500 36px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-transform: uppercase; }
.reviews .reviews-header p { font: 300 20px/20px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); }
.reviews .reviews-inside { width: 1120px; height: 440px; padding-top: 60px; overflow: hidden; }
.reviews .reviews-inside .inside-item { width: 540px; height: 160px; margin: 0px 20px 60px 0px; float: left; }
.reviews .reviews-inside .inside-item .item-view { width: 160px; height: 160px; margin-right: 20px; border-radius: 80px; overflow: hidden; float: left; }
.reviews .reviews-inside .inside-item .item-view img { width: 160px; display: block; transition: all 0.2s ease 0s; }
.reviews .reviews-inside .inside-item .item-view img:hover { width: 200px; margin: -20px; }
.reviews .reviews-inside .inside-item .item-title { font: 400 24px/50px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); float: left; }
.reviews .reviews-inside .inside-item .item-title i { width: 35px; text-align: center; }
.reviews .reviews-inside .inside-item .item-text { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 340px; max-height: 135px; border-radius: 2px; overflow: hidden; float: left; }
.reviews .reviews-inside .inside-item .item-text p { padding: 15px; font: 300 16px/20px PF DT Cond Pro,tahoma; }
.workscheme { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; height: 680px; }
.workscheme .workscheme-wrap { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 1080px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.workscheme .workscheme-header { height: 120px; text-align: center; border-bottom: 1px solid rgb(238, 238, 238); overflow: hidden; }
.workscheme .workscheme-header h2 { margin-top: 40px; font: 500 36px/40px PF DT Cond Pro,tahoma; color: rgb(34, 34, 34); text-transform: uppercase; }
.workscheme .workscheme-header p { font: 300 20px/20px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); }
.workscheme .workscheme-inside { width: 1600px; height: 480px; padding-top: 40px; overflow: hidden; }
.workscheme .workscheme-inside .inside-item { width: 240px; height: 240px; padding-right: 180px; float: left; }
.workscheme .workscheme-inside .inside-item .item-num { background: rgb(227, 51, 51) none repeat scroll 0% 0%; width: 40px; height: 40px; margin: 20px 0px -40px 140px; font: 500 20px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-align: center; position: relative; border-radius: 20px; }
.workscheme .workscheme-inside .inside-item .item-view { background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 120px; height: 120px; margin: 0px 0px 0px 60px; border-radius: 60px; }
.workscheme .workscheme-inside .inside-item .item-title { margin-top: 10px; font: 400 24px/30px PF DT Cond Pro,tahoma; text-align: center; color: rgb(153, 102, 51); }
.workscheme .workscheme-inside .inside-item .item-note { height: 30px; font: 300 14px/15px PF DT Cond Pro,tahoma; text-align: center; color: rgb(170, 170, 170); }
.workscheme .workscheme-inside .inside-item::after { background: transparent url('arrow-right.png') no-repeat scroll 50% center; width: 100px; height: 30px; margin: -140px -160px 0px 0px; content: ""; display: block; float: right; }
.workscheme .workscheme-inside .inside-item i { width: 120px; height: 120px; font-size: 50px; text-align: center; line-height: 120px; display: block; }
.delivery { background: rgb(34, 34, 34) none repeat scroll 0% 0%; width: 100%; height: 680px; }
.delivery .delivery-wrap { background: rgb(34, 34, 34) url('bg-black.jpg') no-repeat fixed center 10%; width: 1080px; height: 680px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.delivery .delivery-header { height: 120px; text-align: center; border-bottom: 1px solid rgb(51, 51, 51); overflow: hidden; }
.delivery .delivery-header h2 { margin-top: 40px; font: 500 36px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-transform: uppercase; }
.delivery .delivery-header p { font: 300 20px/20px PF DT Cond Pro,tahoma; color: rgb(227, 51, 51); }
.delivery .delivery-map { 
	/*background: transparent url('map-russia.png') no-repeat scroll center center; width: 1080px; height: 560px; */
	background: transparent url('kazakhstan_map.png') no-repeat scroll center center;
	background-size: 70%;
	background-position: 250px -100px;
	width: 1080px;
	height: 560px;
}
.delivery .delivery-map .map-inside { background: transparent url('map-girl-like.png') no-repeat scroll left center; width: 1080px; height: 560px; overflow: hidden; }
.delivery .delivery-map .map-advantages { 
	/*margin: 280px 380px; */
	margin: 170px 460px;
	color: rgb(255, 255, 255); 
}
.delivery .delivery-map .map-advantages li { width: 260px; height: 50px; padding: 10px 0px 0px; margin-bottom: 20px; font: 300 18px/20px PF DT Cond Pro,tahoma; }
.delivery .delivery-map .map-advantages li:first-child { margin-left: 120px; }
.delivery .delivery-map .map-advantages li i { width: 60px; height: 35px; font-size: 50px; line-height: 35px; text-align: center; float: left; }
.lineform { background: rgb(153, 102, 51) none repeat scroll 0% 0%; width: 100%; height: 150px; }
.lineform .lineform-wrap { background: rgb(153, 102, 51) none repeat scroll 0% 0%; width: 1080px; height: 150px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.lineform .lineform-timer { width: 460px; height: 130px; padding-left: 80px; margin: 10px 0px; border-right: 1px solid rgb(163, 118, 72); float: left; }
.lineform .lineform-timer .timer-title { padding-top: 10px; font: 300 22px/20px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); }
.lineform .lineform-timer .timer-inside { padding-top: 10px; color: rgb(34, 34, 34); overflow: hidden; }
.lineform .lineform-timer .timer-inside .inside-group { width: 85px; margin-right: 10px; text-align: center; float: left; }
.lineform .lineform-timer .timer-inside .inside-group .group-num { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 40px; height: 70px; font: 500 30px/70px PF DT Cond Pro,tahoma; border-radius: 2px; float: left; }
.lineform .lineform-timer .timer-inside .inside-group .group-num:first-child { margin-right: 5px; }
.lineform .lineform-timer .timer-inside .inside-group .group-note { font: 300 14px/20px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); }
.lineform .lineform-form { width: 440px; height: 110px; margin: 30px 0px 0px 50px; float: left; }
.lineform .lineform-form .form-fields { width: 240px; float: left; }
.lineform .lineform-form .form-fields input { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 190px; height: 40px; padding: 0px 15px; margin-bottom: 10px; font: 300 16px PF DT Cond Pro,tahoma; border-radius: 2px; }
.lineform .lineform-form .form-offer { width: 200px; float: left; }
.lineform .lineform-form .form-offer .offer-price { width: 200px; height: 40px; color: rgb(255, 255, 255); float: left; }
.lineform .lineform-form .form-offer .offer-price .price-now { font: 400 28px/40px PF DT Cond Pro,tahoma; float: left; }
.lineform .lineform-form .form-offer .offer-price .price-old { height: 30px; padding-top: 5px; color: rgb(255, 255, 255); font-weight: 300; text-align: right; float: right; opacity: 0.2; }
.lineform .lineform-form .form-offer .offer-price .price-old small { font: 300 18px/15px PF DT Cond Pro,tahoma; display: block; }
.lineform .lineform-form .form-offer .offer-button { margin-top: 10px; float: left; }
.lineform .lineform-form .form-offer .offer-button input[type="submit"] { background-color: rgb(51, 204, 102); width: 200px; height: 40px; font: 500 16px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-transform: uppercase; border-radius: 2px; cursor: pointer; }
.copyright { background: rgb(34, 34, 34) none repeat scroll 0% 0%; width: 100%; height: 80px; }
.copyright .copyright-wrap { background: rgb(34, 34, 34) none repeat scroll 0% 0%; width: 1080px; height: 40px; padding: 0px 40px; margin: 0px auto; overflow: hidden; }
.copyright .copyright-text { padding: 0px 120px; height: 40px; font: 300 16px/40px PF DT Cond Pro,tahoma; color: rgb(255, 255, 255); text-align: center; }
/* ::::: http://e.tag-heuer-grand.watch-official.ru/css/windows.css ::::: */

/* ::::: http://e.tag-heuer-grand.watch-official.ru/css/font-awesome.min.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; }
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-remove::before, .fa-close::before, .fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-rotate-right::before, .fa-repeat::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-photo::before, .fa-image::before, .fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-eye-slash::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before, .fa-bar-chart::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-square::before { content: ""; }
.fa-navicon::before, .fa-reorder::before, .fa-bars::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-unsorted::before, .fa-sort::before { content: ""; }
.fa-sort-down::before, .fa-sort-desc::before { content: ""; }
.fa-sort-up::before, .fa-sort-asc::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-legal::before, .fa-gavel::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-flash::before, .fa-bolt::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-umbrella::before { content: ""; }
.fa-paste::before, .fa-clipboard::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-suitcase::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-mobile-phone::before, .fa-mobile::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-code::before { content: ""; }
.fa-mail-reply-all::before, .fa-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-unlink::before, .fa-chain-broken::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-toggle-down::before, .fa-caret-square-o-down::before { content: ""; }
.fa-toggle-up::before, .fa-caret-square-o-up::before { content: ""; }
.fa-toggle-right::before, .fa-caret-square-o-right::before { content: ""; }
.fa-euro::before, .fa-eur::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-rupee::before, .fa-inr::before { content: ""; }
.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before { content: ""; }
.fa-ruble::before, .fa-rouble::before, .fa-rub::before { content: ""; }
.fa-won::before, .fa-krw::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-toggle-left::before, .fa-caret-square-o-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-turkish-lira::before, .fa-try::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-space-shuttle::before { content: ""; }
.fa-slack::before { content: ""; }
.fa-envelope-square::before { content: ""; }
.fa-wordpress::before { content: ""; }
.fa-openid::before { content: ""; }
.fa-institution::before, .fa-bank::before, .fa-university::before { content: ""; }
.fa-mortar-board::before, .fa-graduation-cap::before { content: ""; }
.fa-yahoo::before { content: ""; }
.fa-google::before { content: ""; }
.fa-reddit::before { content: ""; }
.fa-reddit-square::before { content: ""; }
.fa-stumbleupon-circle::before { content: ""; }
.fa-stumbleupon::before { content: ""; }
.fa-delicious::before { content: ""; }
.fa-digg::before { content: ""; }
.fa-pied-piper::before { content: ""; }
.fa-pied-piper-alt::before { content: ""; }
.fa-drupal::before { content: ""; }
.fa-joomla::before { content: ""; }
.fa-language::before { content: ""; }
.fa-fax::before { content: ""; }
.fa-building::before { content: ""; }
.fa-child::before { content: ""; }
.fa-paw::before { content: ""; }
.fa-spoon::before { content: ""; }
.fa-cube::before { content: ""; }
.fa-cubes::before { content: ""; }
.fa-behance::before { content: ""; }
.fa-behance-square::before { content: ""; }
.fa-steam::before { content: ""; }
.fa-steam-square::before { content: ""; }
.fa-recycle::before { content: ""; }
.fa-automobile::before, .fa-car::before { content: ""; }
.fa-cab::before, .fa-taxi::before { content: ""; }
.fa-tree::before { content: ""; }
.fa-spotify::before { content: ""; }
.fa-deviantart::before { content: ""; }
.fa-soundcloud::before { content: ""; }
.fa-database::before { content: ""; }
.fa-file-pdf-o::before { content: ""; }
.fa-file-word-o::before { content: ""; }
.fa-file-excel-o::before { content: ""; }
.fa-file-powerpoint-o::before { content: ""; }
.fa-file-photo-o::before, .fa-file-picture-o::before, .fa-file-image-o::before { content: ""; }
.fa-file-zip-o::before, .fa-file-archive-o::before { content: ""; }
.fa-file-sound-o::before, .fa-file-audio-o::before { content: ""; }
.fa-file-movie-o::before, .fa-file-video-o::before { content: ""; }
.fa-file-code-o::before { content: ""; }
.fa-vine::before { content: ""; }
.fa-codepen::before { content: ""; }
.fa-jsfiddle::before { content: ""; }
.fa-life-bouy::before, .fa-life-buoy::before, .fa-life-saver::before, .fa-support::before, .fa-life-ring::before { content: ""; }
.fa-circle-o-notch::before { content: ""; }
.fa-ra::before, .fa-rebel::before { content: ""; }
.fa-ge::before, .fa-empire::before { content: ""; }
.fa-git-square::before { content: ""; }
.fa-git::before { content: ""; }
.fa-hacker-news::before { content: ""; }
.fa-tencent-weibo::before { content: ""; }
.fa-qq::before { content: ""; }
.fa-wechat::before, .fa-weixin::before { content: ""; }
.fa-send::before, .fa-paper-plane::before { content: ""; }
.fa-send-o::before, .fa-paper-plane-o::before { content: ""; }
.fa-history::before { content: ""; }
.fa-circle-thin::before { content: ""; }
.fa-header::before { content: ""; }
.fa-paragraph::before { content: ""; }
.fa-sliders::before { content: ""; }
.fa-share-alt::before { content: ""; }
.fa-share-alt-square::before { content: ""; }
.fa-bomb::before { content: ""; }
.fa-soccer-ball-o::before, .fa-futbol-o::before { content: ""; }
.fa-tty::before { content: ""; }
.fa-binoculars::before { content: ""; }
.fa-plug::before { content: ""; }
.fa-slideshare::before { content: ""; }
.fa-twitch::before { content: ""; }
.fa-yelp::before { content: ""; }
.fa-newspaper-o::before { content: ""; }
.fa-wifi::before { content: ""; }
.fa-calculator::before { content: ""; }
.fa-paypal::before { content: ""; }
.fa-google-wallet::before { content: ""; }
.fa-cc-visa::before { content: ""; }
.fa-cc-mastercard::before { content: ""; }
.fa-cc-discover::before { content: ""; }
.fa-cc-amex::before { content: ""; }
.fa-cc-paypal::before { content: ""; }
.fa-cc-stripe::before { content: ""; }
.fa-bell-slash::before { content: ""; }
.fa-bell-slash-o::before { content: ""; }
.fa-trash::before { content: ""; }
.fa-copyright::before { content: ""; }
.fa-at::before { content: ""; }
.fa-eyedropper::before { content: ""; }
.fa-paint-brush::before { content: ""; }
.fa-birthday-cake::before { content: ""; }
.fa-area-chart::before { content: ""; }
.fa-pie-chart::before { content: ""; }
.fa-line-chart::before { content: ""; }
.fa-lastfm::before { content: ""; }
.fa-lastfm-square::before { content: ""; }
.fa-toggle-off::before { content: ""; }
.fa-toggle-on::before { content: ""; }
.fa-bicycle::before { content: ""; }
.fa-bus::before { content: ""; }
.fa-ioxhost::before { content: ""; }
.fa-angellist::before { content: ""; }
.fa-cc::before { content: ""; }
.fa-shekel::before, .fa-sheqel::before, .fa-ils::before { content: ""; }
.fa-meanpath::before { content: ""; }
/* ::::: http://e.tag-heuer-grand.watch-official.ru/css/modal.css ::::: */

* { outline: medium none; }
.padding { padding: 10px; }
.loader, .modal { background-image: url('undefined.html'); background-repeat: repeat; width: 100%; height: 100%; position: fixed; display: none; left: 0px; top: 0px; }
.modal { z-index: 99999990; overflow: auto; font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(0, 0, 0); text-align: justify; }
.modal-block { position: relative; width: 600px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35); border: 1px solid rgb(58, 135, 173); }
.modal-block .icon-close { position: absolute; right: 0px; margin: 15px 20px; z-index: 1000; }
.modal-block .title { background: rgb(77, 131, 192) none repeat scroll 0% 0%; text-align: center; line-height: 50px; text-shadow: 1px 1px 0px rgb(58, 135, 173); border-bottom: 1px solid rgb(58, 135, 173); padding: 0px 100px; font-size: 18px; color: rgb(255, 255, 255); }
.icon-close { background: transparent url('undefined.html') no-repeat scroll 0px 0px; width: 20px; height: 19px; cursor: pointer; }
.icon-close:hover { background-position: 0px -19px; }
.modal p { font-weight: normal; width: auto; }
.modal .content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: auto; overflow: hidden; margin: 0px; box-shadow: none; }
@media screen and (max-width: 540px) {
	.modal-block { width: 380px; }
	.modal-block .title { padding: 0px 50px; line-height: 39px; }
}
@media screen and (max-width: 405px) {
	.modal-block { width: 300px; }
	.modal-block .title { padding: 0px; }
}
#kmacb { position: fixed; background-color: transparent; width: 160px; height: 160px; z-index: 200000 ! important; transition: visibility 0.5s ease 0s; right: 15px; bottom: 15px; }
@media screen and (max-width: 980px) {
	#kmacb { display: none; }
}
#kmacb a { text-decoration: none; }
#kmacb .kmacb-img-circle { width: 80px; height: 80px; background: rgb(90, 170, 222) url('undefined.html') no-repeat scroll center center; position: absolute; top: 40px; left: 40px; border-radius: 100%; border: 2px solid transparent; opacity: 0.8; animation: 1s ease-in-out 0s normal none infinite running kmacb-circle-img-anim; transform-origin: 50% 50% 0px; }
#kmacb .kmacb-circle-fill { opacity: 0.24; animation: 2.3s ease-in-out 0s normal none infinite running kmacb-circle-fill-anim ! important; background: rgb(90, 170, 222) none repeat scroll 0% 0%; width: 110px; height: 110px; top: 25px; left: 25px; position: absolute; border-radius: 100%; border: 2px solid transparent; }
#kmacb .kmacb-circle { opacity: 0.35; animation: 2.2s ease-in-out 0s normal none infinite running kmacb-circle-anim ! important; width: 100%; height: 100%; position: absolute; background-color: transparent; border-radius: 100%; border: 2px solid rgb(90, 170, 222); }
#kmacb:hover .kmacb-img-circle, #kmacb:hover .kmacb-circle-fill { background-color: rgb(114, 213, 130); }
#kmacb:hover .kmacb-circle { border-color: rgb(114, 213, 130); }
#kmacb:hover .kmacb-img-circle { animation: 1s ease-in-out 0s normal none infinite running kmacb-circle-img-anim-hover; }
#kmacb-form .modal-block { border: medium none; box-shadow: none; font-family: Arial; border-radius: 10px; overflow: hidden; color: rgb(34, 34, 34); line-height: 1.5 ! important; width: 570px; }
#kmacb-form .modal-block .title { background: transparent none repeat scroll 0% 0%; text-shadow: none; color: rgb(34, 34, 34); font-weight: bold; font-size: 22px; border-bottom: medium none; text-transform: none; }
#kmacb-form .modal-block .icon-close { margin: 20px; background-image: url('undefined.html'); }
#kmacb-form .modal-block .padding { padding: 20px 40px 40px; }
#kmacb-form .modal-block p { font-size: 16px; text-align: left; line-height: 1.5; }
#kmacb-form .modal-block .bold { font-weight: bold; }
#kmacb-form form { margin: 10px 0px; text-align: center; width: 100%; height: auto; }
#kmacb-form form input[type="text"] { height: 36px; line-height: 36px; color: rgb(34, 34, 34); border: 1px solid rgb(170, 170, 170); padding: 0px 10px; width: 200px; display: inline-block; text-indent: 0px; margin-bottom: 10px; }
#kmacb-form form input[name="name"] { padding-right: 10px; }
#kmacb-form form input[type="submit"] { cursor: pointer; border: medium none; background: rgb(196, 25, 28) none repeat scroll 0% 0%; font-size: 16px; padding: 0px 10px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 38px; height: 38px; vertical-align: top; margin: 0px; display: inline-block; text-indent: 0px; }
#kmacb-form form input[type="submit"]:hover { background: rgb(221, 7, 11) none repeat scroll 0% 0%; }
