/* ::::: http://a.hugo-nardin.com/files/hugobusines_2/css/style.css ::::: */

.lv-order-form div.lv-row { display: block; margin-bottom: 8px; }
.lv-order-form input[type="text"], .lv-order-form select, .lv-order-form textarea { display: block; width: 100%; padding: 5px; height: 30px; border: thin solid rgb(191, 191, 191); border-radius: 4px; color: inherit; }
.lv-order-form .lv-label span.required { color: red; }
.lv-order-form .lv-label label { display: inline; }
.lv-order-form .lv-order-button { display: block; padding: 10px 20px; margin: 0px auto; }
.lv-order-form-css { padding: 15px; border: thin solid gray; }
.lv-order-form-css input[type="text"], .lv-order-form-css select, .lv-order-form-css textarea { box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
body { font-size: 16px; line-height: 1.2; font-family: Arial,Tahoma,sans-serif; width: 100%; }
.wrapper { width: 960px; margin: 0px auto; position: relative; }
b { font-weight: bold; }
#header { height: 818px; background: transparent url('header.jpg') no-repeat scroll center top; }
#header .name { color: white; font-size: 20px; position: absolute; top: 36px; }
#header .sale { color: white; font-size: 22px; font-weight: bold; position: absolute; top: 161px; right: 177px; text-align: center; line-height: 28px; }
#header .gift { color: white; font-size: 20px; position: absolute; text-align: right; top: 492px; right: 781px; }
#header form { width: 270px; height: 100px; position: absolute; top: 402px; right: 80px; }
#header input[type="text"] { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(98, 92, 91); display: block; height: 36px; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-bottom: 16px; font-size: 14px; color: white; outline: 0px none; }
#header input[type="submit"] { background: transparent url('submit.png') repeat scroll center top; border: medium none; height: 62px; display: block; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; }
#benefits { height: 416px; background: transparent url('benefits.png') no-repeat scroll center top; }
#benefits .item { text-align: center; font-size: 16px; font-weight: bold; color: rgb(83, 69, 62); position: absolute; width: 240px; }
#benefits .item-1 { top: 159px; left: -32px; }
#benefits .item-2 { top: 159px; left: 208px; }
#benefits .item-3 { top: 159px; left: 480px; }
#benefits .item-4 { top: 159px; right: -32px; }
#benefits h1 { font-size: 26px; text-align: center; color: rgb(83, 69, 62); position: absolute; top: 322px; width: 100%; }
#benefits h1::after { width: 232px; display: block; margin: 14px auto 0px; height: 2px; background: black none repeat scroll 0% 0%; content: ""; }
#gal { height: 550px; }
#gal h1 { font-size: 27px; display: table; margin: 0px auto; color: rgb(83, 69, 62); }
#gal h1::after { margin-top: 15px; display: block; height: 2px; background: black none repeat scroll 0% 0%; content: ""; }
#armani { height: 755px; padding-top: 38px; background: transparent url('armani.jpg') no-repeat scroll center top; }
#armani h1 { font-size: 27px; display: table; margin: 0px auto; color: white; }
#armani h1::after { margin: 13px auto 0px; display: block; height: 2px; width: 120px; background: white none repeat scroll 0% 0%; content: ""; }
#armani .char { color: rgb(159, 130, 118); font-size: 18px; font-weight: bold; position: absolute; right: 107px; width: 400px; top: 112px; text-align: center; }
#armani .char1 { color: white; font-size: 14px; position: absolute; right: 264px; width: 250px; top: 166px; line-height: 36px; text-align: left; }
#armani .char2 { color: white; font-size: 14px; position: absolute; right: 9px; width: 250px; top: 166px; line-height: 36px; text-align: left; }
#armani .usual { font-weight: bold; position: absolute; right: 100px; top: 454px; width: 376px; text-align: center; font-size: 18px; color: rgb(159, 130, 118); }
#armani .usual span { font-size: 30px; text-decoration: line-through; }
#armani .get { position: absolute; right: 82px; top: 505px; width: 428px; text-align: center; color: rgb(97, 91, 91); font-size: 24px; font-weight: bold; }
#armani .get span { color: rgb(234, 233, 233); background: rgb(49, 44, 42) none repeat scroll 0% 0%; padding: 0px 5px 3px; }
#armani .order { background: transparent url('submit.png') repeat scroll center top; border: medium none; height: 62px; display: block; box-sizing: border-box; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; position: absolute; top: 535px; width: 269px; right: 159px; text-align: center; line-height: 60px; text-decoration: none; }
#order { height: 590px; background: transparent url('order.jpg') no-repeat scroll center top; }
#order h1 { font-size: 25px; color: black; position: absolute; right: 194px; text-align: right; top: 92px; }
#order h1 span { color: white; font-weight: bold; }
#order form { width: 270px; height: 100px; position: absolute; top: 234px; right: 62px; }
#order .calltoaction { color: white; font-size: 20px; text-align: right; padding-top: 32px; right: 0px; padding-bottom: 18px; }
#order input[type="text"] { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(98, 92, 91); display: block; height: 36px; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-bottom: 16px; font-size: 14px; color: white; outline: 0px none; }
#order input[type="submit"] { background: transparent url('submit.png') repeat scroll center top; border: medium none; height: 62px; display: block; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; }
#how { height: 407px; background: transparent url('how.png') no-repeat scroll center top; }
#how h1 { font-size: 27px; display: table; margin: 0px auto; color: rgb(83, 69, 62); padding-top: 65px; }
#how h1::after { margin-top: 15px; display: block; height: 2px; background: black none repeat scroll 0% 0%; content: ""; }
#how .item { text-align: center; font-size: 16px; font-weight: bold; color: rgb(83, 69, 62); position: absolute; width: 240px; }
#how .item-1 { top: 275px; left: -37px; }
#how .item-2 { top: 275px; left: 199px; }
#how .item-3 { top: 275px; left: 480px; }
#how .item-4 { top: 275px; right: -26px; }
#why { height: 796px; background: transparent url('why.jpg') no-repeat scroll center top; }
#why h1 { font-size: 36px; display: table; margin: 0px auto; color: rgb(255, 255, 255); padding-top: 98px; }
#why h1::after { display: block; height: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; width: 255px; margin: 10px auto 0px; }
#why p { color: rgb(255, 255, 255); font-size: 36px; position: absolute; }
#why .p1 { top: 228px; left: 135px; }
#why .p2 { top: 303px; left: 135px; }
#why .p3 { top: 377px; left: 135px; }
#why .p4 { top: 449px; left: 135px; }
#why .p5 { top: 521px; left: 135px; }
#why .order { background: transparent url('submit.png') repeat scroll center top; border: medium none; height: 62px; display: block; box-sizing: border-box; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; position: absolute; top: 593px; width: 269px; right: 346px; text-align: center; line-height: 60px; text-decoration: none; }
#dost h1::after { display: block; height: 2px; width: 255px; margin: 13px auto 0px; background: black none repeat scroll 0% 0%; content: ""; }
#ops { height: 802px; background: transparent url('ops.jpg') no-repeat scroll center top; }
#ops h1 { font-size: 27px; display: table; margin: 0px auto; color: rgb(83, 69, 62); padding-top: 26px; }
#ops h1::after { display: block; height: 2px; width: 255px; margin: 13px auto 0px; background: black none repeat scroll 0% 0%; content: ""; }
#ops .name1 { font-size: 18px; color: rgb(216, 206, 205); position: absolute; left: 186px; top: 151px; }
#ops .op1 { font-size: 14px; color: white; position: absolute; left: 186px; top: 182px; }
#ops .name2 { font-size: 18px; color: rgb(167, 149, 149); position: absolute; left: 186px; top: 309px; }
#ops .op2 { font-size: 14px; color: rgb(67, 60, 59); position: absolute; left: 186px; top: 350px; }
#ops .name3 { font-size: 18px; color: rgb(216, 206, 205); position: absolute; left: 186px; top: 467px; }
#ops .op3 { font-size: 14px; color: white; position: absolute; left: 186px; top: 508px; }
#ops .name4 { font-size: 18px; color: rgb(167, 149, 149); position: absolute; left: 186px; top: 645px; }
#ops .op4 { font-size: 14px; color: rgb(67, 60, 59); position: absolute; left: 186px; top: 686px; }
#order2 { height: 505px; background: transparent url('order.jpg') no-repeat scroll center top; }
#order2 h1 { font-size: 25px; color: rgb(186, 160, 152); position: absolute; right: 194px; text-align: right; top: 92px; }
#order2 h1 span { color: white; font-weight: bold; }
#order2 form { width: 270px; height: 100px; position: absolute; top: 204px; right: 62px; }
#order2 .calltoaction { color: white; font-size: 20px; text-align: right; padding-top: 32px; right: 0px; padding-bottom: 18px; }
#order2 input[type="text"] { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(98, 92, 91); display: block; height: 36px; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-bottom: 16px; font-size: 14px; color: white; outline: 0px none; }
#order2 input[type="submit"] { background: transparent url('submit.png') repeat scroll center top; border: medium none; height: 62px; display: block; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; }
#footer { height: 110px; background: rgb(14, 12, 12) none repeat scroll 0% 0%; font-size: 12px; line-height: 18px; text-align: center; color: white; padding-top: 46px; }
#footer a { color: rgb(144, 121, 115); margin-top: 10px; }
#lv-form { border: medium none; padding: 0px; }
#lv-form input[type="text"], #lv-form select, #lv-form textarea { border-radius: 0px; }
#lv-form2 { border: medium none; padding: 0px; }
#lv-form2 input[type="text"], #lv-form2 select, #lv-form2 textarea { border-radius: 0px; }
#lv-form3 { border: medium none; padding: 0px; }
#lv-form3 input[type="text"], #lv-form3 select, #lv-form3 textarea { border-radius: 0px; }
.jcarousel { width: 960px; position: relative; overflow: hidden; margin: 20px auto 0px; padding: 0px; }
.jcarousel ul { width: 20000em; position: relative; list-style: outside none none; margin: 0px; }
.jcarousel-control-prev { background: transparent url('op_left2.png') no-repeat scroll 0% 0%; display: block; width: 19px; height: 30px; position: absolute; top: 230px; left: -50px; transition: opacity 0.3s ease 0s; }
.jcarousel-control-next { background: transparent url('op_right.png') no-repeat scroll 0% 0%; display: block; float: right; width: 19px; height: 30px; position: absolute; top: 230px; right: -50px; }
#header { height: 818px; }
#header form { width: 270px; height: 100px; position: absolute; top: 472px; right: 80px; }
#header input[type="submit"] { border: medium none; height: 62px; display: block; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-top: 19px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; }
#armani { height: 710px; padding-top: 38px; }
#armani2 { height: 677px; background: transparent url('inner-new.jpg') no-repeat scroll center top; }
#armani2 h1 { font-size: 27px; display: table; margin: 0px auto; color: white; }
#armani2 h1::after { margin: 13px auto 0px; display: block; height: 2px; width: 120px; background: white none repeat scroll 0% 0%; content: ""; }
#armani2 .char { color: rgb(159, 130, 118); font-size: 18px; font-weight: bold; position: absolute; right: 107px; width: 400px; top: 97px; text-align: center; }
#armani2 .char1 { color: white; font-size: 14px; position: absolute; right: 250px; width: 250px; top: 290px; line-height: 36px; text-align: left; }
#armani2 .char2 { color: white; font-size: 14px; position: absolute; right: 0px; width: 250px; top: 290px; line-height: 36px; text-align: left; }
#armani2 .usual { font-weight: bold; position: absolute; right: 100px; top: 434px; width: 376px; text-align: center; font-size: 18px; color: rgb(159, 130, 118); }
#armani2 .usual span { font-size: 30px; text-decoration: line-through; }
#armani2 .get { position: absolute; right: 82px; top: 430px; width: 428px; text-align: center; color: rgb(97, 91, 91); font-size: 24px; font-weight: bold; }
#armani2 .get span { color: rgb(234, 233, 233); background: rgb(49, 44, 42) none repeat scroll 0% 0%; padding: 0px 5px 3px; }
#armani2 .order { background: transparent url('submit.png') repeat scroll center top; border: medium none; height: 62px; display: block; box-sizing: border-box; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; position: absolute; top: 455px; width: 269px; right: 159px; text-align: center; line-height: 60px; text-decoration: none; }
#gal { height: 320px; padding-top: 250px; }
#gal h1 { font-size: 35px; display: table; margin: 0px auto; color: rgb(83, 69, 62); }
#gal h1::after { margin-top: 15px; display: block; height: 2px; background: black none repeat scroll 0% 0%; content: ""; }
#gal2 { height: 320px; padding-top: 680px; }
#gal2 h1 { font-size: 35px; display: table; margin: 0px auto; color: rgb(83, 69, 62); }
#gal2 h1::after { margin-top: 15px; display: block; height: 2px; background: black none repeat scroll 0% 0%; content: ""; }
.mygallery2 { height: 10px; width: 935px; margin: 0px auto; padding-top: 450px; padding-bottom: 0px; }
#armani { height: 705px; padding-top: 38px; }
#armani h1 { font-size: 27px; display: table; margin: 0px auto; color: white; }
#armani h1::after { margin: 13px auto 0px; display: block; height: 2px; width: 120px; background: white none repeat scroll 0% 0%; content: ""; }
#armani .char { color: rgb(159, 130, 118); font-size: 18px; font-weight: bold; position: absolute; right: 107px; width: 400px; top: 112px; text-align: center; }
#armani .char1 { color: white; font-size: 14px; position: absolute; right: 264px; width: 250px; top: 166px; line-height: 36px; text-align: left; }
#armani .char2 { color: white; font-size: 14px; position: absolute; right: 9px; width: 250px; top: 166px; line-height: 36px; text-align: left; }
#armani .usual { font-weight: bold; position: absolute; right: 100px; top: 434px; width: 376px; text-align: center; font-size: 18px; color: rgb(159, 130, 118); }
#armani .usual span { font-size: 30px; text-decoration: line-through; }
#armani .get { position: absolute; right: 82px; top: 480px; width: 428px; text-align: center; color: rgb(97, 91, 91); font-size: 24px; font-weight: bold; }
#armani .get span { color: rgb(234, 233, 233); background: rgb(49, 44, 42) none repeat scroll 0% 0%; padding: 0px 5px 3px; }
#armani .order { border: medium none; height: 62px; display: block; box-sizing: border-box; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; position: absolute; top: 515px; width: 269px; right: 159px; text-align: center; line-height: 60px; text-decoration: none; }
#order { height: 574px; }
#order h1 { font-size: 25px; color: black; position: absolute; right: 125px; text-align: left; top: 102px; }
#order h1 span { color: black; font-weight: bold; }
#order form { width: 300px; height: 100px; position: absolute; top: 260px; right: 32px; }
#order .calltoaction { color: white; font-size: 20px; text-align: right; padding-top: 32px; right: 0px; padding-bottom: 18px; }
#order input[type="text"] { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(98, 92, 91); display: block; height: 36px; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-bottom: 16px; font-size: 14px; color: white; outline: 0px none; }
#order input[type="submit"] { border: medium none; height: 62px; display: block; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-top: 19px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; }
#how { height: 407px; }
#how h1 { font-size: 27px; display: table; margin: 0px auto; color: rgb(83, 69, 62); padding-top: 65px; }
#how h1::after { margin-top: 15px; display: block; height: 2px; background: black none repeat scroll 0% 0%; content: ""; }
#how .item { text-align: center; font-size: 17px; font-weight: bold; color: rgb(83, 69, 62); position: absolute; width: 240px; }
#how .item-1 { top: 275px; left: -37px; }
#how .item-2 { top: 275px; left: 199px; }
#how .item-3 { top: 275px; left: 480px; }
#how .item-4 { top: 275px; right: -26px; }
#why { height: 726px; }
#why h1 { font-size: 36px; display: table; margin: 0px auto; color: rgb(255, 255, 255); padding-top: 65px; }
#why h1::after { display: block; height: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; width: 255px; margin: 10px auto 0px; }
#why p { color: rgb(255, 255, 255); font-size: 30px; position: absolute; }
#why .p1 { top: 228px; left: 135px; }
#why .p2 { top: 303px; left: 135px; }
#why .p3 { top: 377px; left: 135px; }
#why .p4 { top: 449px; left: 135px; }
#why .p5 { top: 521px; left: 135px; }
#why .order { border: medium none; height: 62px; display: block; box-sizing: border-box; padding: 0px 12px; margin-top: 29px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; position: absolute; top: 593px; width: 269px; right: 346px; text-align: center; line-height: 60px; text-decoration: none; }
#ops h1 { font-size: 27px; display: table; margin: 0px auto; color: rgb(83, 69, 62); padding-top: 26px; }
#order2 { height: 548px; }
#order2 h1 { font-size: 25px; color: black; position: absolute; right: 120px; text-align: left; top: 102px; }
#order2 h1 span { color: black; font-weight: bold; }
#order2 form { width: 300px; height: 100px; position: absolute; top: 254px; right: 32px; }
#order2 .calltoaction { color: white; font-size: 20px; text-align: right; padding-top: 32px; right: 0px; padding-bottom: 18px; }
#order2 input[type="text"] { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(98, 92, 91); display: block; height: 36px; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-bottom: 16px; font-size: 14px; color: white; outline: 0px none; }
#order2 input[type="submit"] { border: medium none; height: 62px; display: block; box-sizing: border-box; width: 100%; padding: 0px 12px; margin-top: 19px; font-size: 24px; color: white; outline: 0px none; cursor: pointer; }
#footer { font-size: 14px; text-align: center; padding: 20px 0px; color: rgb(108, 110, 111); }
#footer p { width: 100%; text-align: center; padding: 0px; margin: 0px; }
#footer img { margin: 10px auto ! important; }
#footer a { color: rgb(108, 110, 111); text-decoration: none; }
#footer a:hover { color: rgb(255, 0, 105); text-decoration: none; }
/* ::::: http://a.hugo-nardin.com/files/_blocks/notificators/css/buyers.css?2 ::::: */

.buyers-notify { position: fixed; right: 15px; top: 60px; padding: 10px; box-sizing: border-box; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; font-size: 14px; font-family: Arial,Helvetica,sans-serif; line-height: 18px; border-radius: 4px; z-index: 999; color: rgb(255, 255, 255); }
.buyers-notify .buyers-icon { width: 48px; height: 48px; margin-top: 20px; float: left; background: transparent url('basket.png') no-repeat scroll center center; }
.buyers-notify .notify-text { float: left; width: 230px; padding: 20px 0px 20px 10px; color: rgb(255, 255, 255) ! important; }
/* ::::: http://a.hugo-nardin.com/files/_blocks/notificators/css/delivery.css?4 ::::: */

.delivery-notify { position: fixed; z-index: 100; left: 0px; bottom: 10px; background: rgb(54, 54, 54) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 20px; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif ! important; font-size: 14px; line-height: 1.4; border-top-right-radius: 3px; border-bottom-right-radius: 3px; width: 270px; box-sizing: border-box; }
.close-delivery-notify { display: block; position: absolute; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); top: 0px; right: 0px; font-size: 24px; line-height: 1; cursor: pointer; border: medium none; width: 24px; height: 1em; box-shadow: none; text-align: center; padding: 0px; margin: 0px; }
.close-delivery-notify:hover { opacity: 0.8; }
.delivery-notify .notify-text { color: rgb(255, 255, 255) ! important; }
.delivery-notify + .online-users-panel { bottom: 100px; }
/* ::::: http://a.hugo-nardin.com/files/_blocks/notificators/css/visitors.css?1 ::::: */

#visitors-panel { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 99999; background: rgb(241, 237, 237) none repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; font-size: 16px; line-height: 48px; height: 48px; }
#visitors-panel .visitors-info { max-width: 960px; margin: 0px auto; padding: 0px; list-style: outside none none; overflow: hidden; }
#visitors-panel .visitors-info > li { width: 33.3333%; display: block; float: left; text-align: center; }
#visitors-panel .visitors-info > li span { font-weight: 700; }
#visitors-panel .vis-ico { display: inline-block; width: 32px; height: 32px; line-height: 32px; }
#visitors-panel .vis-ico img { vertical-align: middle; }
.buyers-notify { top: 75px ! important; }
@media all and (max-width: 768px) {
	#visitors-panel { display: none; }
}
/* ::::: http://a.hugo-nardin.com/files/_blocks/notificators/css/freezer.css?1 ::::: */

.freezing-wrap { position: fixed; top: 55px; right: 0px; z-index: 9999; min-height: 198px; width: 330px; overflow: hidden; padding-bottom: 10px; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif ! important; }
.freezing-info { width: 329px; height: 125px; position: relative; background: transparent url('buyer-bg.png') no-repeat scroll 0% 0%; box-sizing: border-box; padding: 10px 30px; transform: translate(110%, 0px); margin-top: 27px; }
.freezing-info::before { content: ""; position: absolute; height: 198px; width: 280px; top: 0px; right: 0px; margin-top: -26px; background: transparent url('buyer-ice.png') no-repeat scroll 0% 0%; opacity: 0; }
.freezing-active .freezing-info::before { animation: 2s ease-out 1.5s normal forwards 1 running iceShow; }
.freezing-info--title { color: rgb(0, 0, 0); z-index: 2; position: relative; text-transform: uppercase; font-size: 18px; font-weight: 700; margin-bottom: 5px; }
.freezing-info--price { color: rgb(2, 172, 237); z-index: 2; position: relative; margin-left: 3px; line-height: 22px; font-size: 16px; }
.freezing-info--packages { color: rgb(0, 0, 0); padding-top: 23px; z-index: 2; position: relative; line-height: 1; font-size: 14px; }
.freezing-info--packages .packages-count { color: rgb(194, 1, 20); }
.freezing-close { position: absolute; top: -14px; right: 4px; width: 20px; height: 20px; display: block; }
.freezing-close::before, .freezing-close::after { content: ""; position: absolute; width: 100%; height: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.freezing-close::before { transform: rotate(45deg); }
.freezing-close::after { transform: rotate(-45deg); }
.freezing-close:hover::before, .freezing-close:hover::after { background: rgb(239, 80, 76) none repeat scroll 0% 0%; }
@media all and (max-width: 980px) {
	.freezing-wrap { display: none ! important; }
}
/* ::::: http://a.hugo-nardin.com/files/_blocks/notificators/css/online.css?4 ::::: */

.online-users-panel { border: 1px solid rgb(0, 0, 0); box-sizing: border-box; padding: 10px 10px 10px 60px; background: rgb(255, 255, 234) url('users.png') no-repeat scroll 10px 50%; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif ! important; font-size: 12px; position: fixed; left: 0px; bottom: 10px; width: 265px; z-index: 1000; color: rgb(0, 0, 0); }
.close-online-users-panel { position: absolute; right: 5px; border: 1px solid rgb(204, 204, 204); background: transparent none repeat scroll 0% 0%; font-size: 18px; display: block; width: 20px; height: 20px; line-height: 0; top: 5px; border-radius: 3px; text-align: center; padding: 0px; margin: 0px; box-shadow: none; }
@media all and (max-width: 600px) {
	.online-users-panel { display: none; }
}
