﻿.county > span
{
    display: inline-block;
    height: 48px;
    font-family: HelveticaThin, Helvetica, Arial;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    position: relative;
    overflow: hidden;
    padding-right: 12px;
    background: url(../img/time-separator.png) no-repeat right 0px top 20px;
}

.county-days-wrapper, .county-seconds-wrapper {background: none !important;}
.county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
{
    overflow: hidden !important;
    position: relative !important;
    height: 72px !important;
    display: inline-block !important;
    padding-left: 12px;
}
.county > span > span
{
    display: block;
}
.county-label-days, .county-label-hours, .county-label-minutes, .county-label-seconds
{
    font-size: 12px !important;
    line-height: 18px !important;
    height: 18px !important;
    text-align: center !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 12px;
    background-color: transparent !important;
}


