@media screen and (min-width: 981px) {

body {min-width:980px; width: 100%; overflow-x: hidden; }

}

@media screen 
and (min-width: 641px)
and (max-width: 980px) {

body {width:100%;}
header .social {display:none;}
header ul {font-size: 13px;}
.wrap {width:98%; padding:0 1%; overflow: hidden;}
.ringmain .price, .ringmain .time  {margin:0 20px;}
.options {margin: 0 -1% 30px -1%; padding: 0 1%;}
.options > div {
	padding: 23px 1% 0 10%;
	width: 35%;
	height:148px;
	margin: 0 0 0 3.5%;
	display: inline-block;
	}
.options {height:320px;}
.info .left {float:none; padding:0 5%; margin:auto;}
.info .right {float:none; width:90%; padding:0 5%; margin:auto;}
.osobennosti {width:100%; padding:0 1%; margin:0 -1%;} 
.osobennosti h2 {top: -75px; font-size: 45px;} 
.whatmean {background: none !important;}
.whatmean h3 {padding:0; clear:both;}
.whatmean img {margin: 35px auto 20px; float:none;}
.whatmean p {margin: .ringmain .price, .ringmain .time35px 5%; width:90%;}
.info2 .left {margin:auto; float:none;}
.info2 .right {margin:auto; float:none; width:90%;}
.why {height:300px; padding:40px 1% 45px 1%; margin:30px -1% 0 -1%;}
.why > div {
	padding: 0px 2% 0px 2%;
	width: 46%;
	height:140px;
	}
.orderplan h2 {margin: 0 -1% 30px -1%; padding: 0 1%;}
.orderplan > div {width:45%; margin:0 2.5%;}
.orderplan > div p {height:auto;}
.orderplan > div:after {display:none;}
.otzyvy blockquote {
	padding: 20px 0px 45px 0px;
	margin: 0;
	height:auto;
	border-radius: 25px;
	background: #cfcfcf;
	margin:20px 0;
	}
.otzyvy blockquote img {margin: 0 30px;}
.ringniz .ring {margin-left:-260px;}
.ringniz .order {margin-right:0px;}
.ringniz .price {float:left; clear:both; width: 38%; margin: 30px 0 30px 10%;}
.ringniz .time {float:right; margin: 30px 0 30px 0px; width: 52%;}


}

@media screen 
and (max-width: 640px) {

body {width:100%;}
img {max-width:90%;}
header .social {display:none;}
header ul {
	background: transparent;
	border-bottom: 15px double #fff;
	border-top: 5px solid #fff;
	height: 5px;
	width: 30px;
	margin: 5px 0;
	cursor:pointer;
	}
header ul li {display:none;}
header ul:hover {display:block; position: absolute; left:0; top:0; width:100%; height:auto; background: #10161d; border: none;}
header ul:hover li {display:block; width:100%; background: none; padding:15px; font-size: 12px; line-height: normal; text-align: center;}
header ul:hover li a {font-size: 12px; line-height: normal; padding:0;}
.wrap {width:98%; padding:0 1%; overflow: hidden;}
.ringmain .price, .ringmain .time  {
	margin: 0 auto;
	float: none;
	width: 90%;
	text-align: center;
	}
.ringmain h1 {padding:0;}
#time span:first-child, #time2 span:first-child {
padding-right: 28px;
}
/*.time .countdown .timer_cd {text-align: center;}*/
.button {margin:20px auto;}
.options {margin: 0 -1% 30px -1%; padding: 0 1%;}
.options > div {
	padding: 23px 5% 0 25%;
	width: 67%;
	height: auto;
	margin: 0 0 0 3%;
	display: inline-block;
	}
.options {height: auto; overflow:hidden;}
.options:after {display:none;}
.info .left {float:none; padding:0 5%; margin:auto;}
.info .right {float:none; width:90%; padding:0 5%; margin:auto;}
.osobennosti {width:100%; padding:0 1%; margin:0 -1%;} 
.osobennosti h2 {top: -33px; font-size: 20px;} 
.whatmean {background: none !important;}
.whatmean h3 {padding:5px 0; clear:both; line-height:normal;}
.whatmean img {margin: 35px auto 20px; float:none;}
.whatmean p {margin: 35px 5%; width:90%;}
.info2 .left {margin:auto; float:none;}
.info2 .right {margin:auto; float:none; width:90%;}
.why {height:auto; padding:40px 1% 45px 1%; margin:30px -1% 0 -1%; overflow: hidden;}
.why:after {display:none;}
.why > div {
	padding: 0px 5% 0px 5%;
	width: 90%;
	height: auto;
	}
.orderplan h2 {margin: 0 -1% 30px -1%; padding: 0 1%; font-size:18px;}
.orderplan > div {width: 90%; margin: 0 5%; text-align: center;}
.orderplan > div p {height:auto;}
.orderplan > div:after {display:none;}
.otzyvy blockquote {
	padding: 20px 2% 45px 2%;
	margin: 0;
	height:auto;
	border-radius: 25px;
	background: #cfcfcf;
	margin:20px 0;
	}
.otzyvy blockquote img {width: 50%; margin: 0 25%;}
.ringniz .ring {width: 100%; text-align: center;}
.ringniz .order {clear:both; float:none; margin:20px auto;}
.ringniz .price {clear: both; float:none; width: 90%; margin: 30px 5% 30px 5%; text-align: center;}
.ringniz .time {clear: both; float:none; width: 90%; margin: 30px 5% 30px 5%; text-align: center;}




}