@font-face {
	font-family: HelveticaLight;
    src: url(http://cdn7.biggon.net/sites-v3/ring/media/fonts/HelveticaNeueCyr-Light.otf);
	}
@font-face {
	font-family: Helvetica;
    src: url(http://cdn7.biggon.net/sites-v3/ring/media/fonts/HelveticaNeueCyr-Roman.otf);
    	 
	}
@font-face {
	font-family: HelveticaMedium;
    src: url(http://cdn7.biggon.net/sites-v3/ring/media/fonts/HelveticaNeueCyr-Medium.otf);
	}
@font-face {
	font-family: HelveticaThin;
    src: url(http://cdn7.biggon.net/sites-v3/ring/media/fonts/HelveticaNeueCyr-Thin.otf);
	}
@font-face {
	font-family: BebasNeue;
    src: url(http://cdn7.biggon.net/sites-v3/ring/media/fonts/AA-BebasNeue.ttf);
	}


html, body {margin:0; padding:0; color:#fefefe; font-family: Helvetica, Arial; font-size: 15px;}
body {background: #12181f; overflow-x: hidden;}
.container {width:100%; overflow: hidden;}
h1, h2, a {color:#ffb105; font-family: HelveticaLight, Helvetica, Arial; font-weight: normal;}
h2 {font-size:25px;}
h3 {font-weight: normal;}
img, a img {border:0;}
header {background: #10161d; height:45px; width:100%;}
.wrap {width:940px; padding:0 20px; margin:0 auto;}
.clear {clear:both;}
span.rub {background: url(../img/rub.png) center bottom no-repeat; display:inline-block; width:21px; height:45px; text-indent: -9999px; margin:0 0 0 13px;}

header ul {list-style: none; margin:0; padding:0; font-size: 15px;}
header ul li {float:left; background: url(../img/line.png) left center no-repeat; margin:0; padding:0; line-height: 45px;}
header ul li a {text-decoration: none; color:#fefefe; text-transform: uppercase; padding:0 16px; font-family: Helvetica, Arial;}
header ul li:first-child{background: none;}
header ul li:first-child a {padding:0 16px 0 0;}
header ul li a:hover {text-decoration: none; color:#ffb105;}

header .social {float:right; line-height:45px;}

.ringmain {background: url(../img/zasvet.png) center top -55px no-repeat; /*min-height:557px;*/padding-bottom: 1px; overflow: hidden;}
.ringmain h1 {
	background: url(../img/h1.png) center bottom no-repeat; 
	background-size: contain; 
	display: block; 
	width:100%; 
	height:65px; 
	text-indent: -9999px; 
	padding: 45px 0 0 0;
	margin: 0;
}
.ringmain .ring {width:227px; height:348px; margin: 35px auto 61px auto; }
.ringmain .price {float:right; margin: -348px 0 0 0;}
.price p {font-family:BebasNeue, Helvetica, Arial; text-decoration: line-through; color:#626262; font-size: 27px; margin:15px 0;}
.price h2 {font-family:BebasNeue, Helvetica, Arial; font-size: 50px; margin:10px 0;}
.price h3 {font-family:Arial; font-style: italic; margin:0; font-size: 20px; font-weight: normal;}

.button {
	display:block; 
	color:#fff !important; 
	background: #cc2738; 
	text-decoration: none; 
	text-transform: uppercase; 
	font-family: HelveticaMedium, Helvetica, Arial;
	font-size: 14px;
	margin:20px 0; 
	border:none !important;
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	-ms-border-radius: 4px; 
	line-height: 39px; 
	width:198px; 
	text-align: center;
	text-indent: 0 !important;
	cursor:pointer;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.button:hover {background: #df3547;}

.ringmain .time {float:left; margin: -305px 0 0 0;}
.time .countdown h3 {background: #75ba45; padding:7px 10px; font-size: 19px; font-weight: normal;}
.time .countdown span.label {font-family: HelveticaMedium, Helvetica, Arial; font-size: 16px; text-transform: uppercase; padding:0 12px;}
.time .countdown span.label.day {padding-left: 5px; padding-right: 17px;}
#time, #time2 {width:100% !important;}
#time span:first-child, #time2 span:first-child {padding-right: 28px;}
/*.time .countdown .timer_cd {font-family: HelveticaThin, Helvetica, Arial; font-size: 40px; text-align: right; padding: 0 50px 0 0; margin:3px 0;}*/

.options {background:#10161d; height:148px; padding:0 1000px; margin:0 -1000px; position: relative;}
.options:after {background:url(../img/shadow.png) center bottom no-repeat; width: 100%; height:16px; content: ''; position: absolute;bottom:-15px; left:0;}
.options > div {padding:23px 2% 0 8%; float:left; width:23%; margin:0;}
.options > div h3 {font-size: 23px; margin:0 0 15px 0; font-weight: normal;}
.options > div p {font-size: 14px; margin:10px 0 0 0;}
.options > div.metall {background: url(../img/metall.png) 0px 23px no-repeat;}
.options > div.gipo {background: url(../img/apteka.png) 0px 23px no-repeat;}
.options > div.present {background: url(../img/present.png) 0px 23px no-repeat;}

.info {margin:60px 0;}
.info .left {float:left; width:320px;}
.info .right {float:right; width:590px; padding:0 0 0 30px;}
.info .right h2 {font-size: 25px;}
.info .right p {font-size: 15px;}

.osobennosti {background: #ffb105; color:#12181f; padding:0 1000px; margin:100px -1000px; position: relative;}
.osobennosti h2 {position: absolute; top:-89px; padding:0 0 0 45px; text-transform: uppercase; font-size: 52px;}
.osobennosti ul {list-style:none; margin:0; padding:15px 0;}
.osobennosti ul li {background: url(../img/list-star.png) left top no-repeat; padding: 0 0 0 45px; margin:12px 0;}

.whatmean {padding:20px 29px 20px 20px; margin:0 -29px 0 -20px; height:188px; background: url(../img/oblako.png) left top no-repeat;}
.whatmean h2 {display:block; float:left; font-size: 25px; background: url(../img/line2.png) right 0px bottom 4px no-repeat; padding: 0 25px 0 0; margin:0; color:#fefefe;}
.whatmean h3 {display:block; float:left; font-size: 15px; padding: 0 0 0 20px; margin:0; line-height: 33px;}
.whatmean img {display:block; float:left; margin:35px 0 0 0;}
.whatmean p {display:block; float:left; width:590px; color:#de9c09; margin:35px 0 0 60px; font-style: italic; font-family: Arial, Helvetica;}

.info2 {}
.info2 .left {float:left; width:240px;}
.info2 .right {float:right; width:670px; padding:0 0 0 30px;}
.info2 ul {list-style:none; margin:0; padding:0;}
.info2 ul li {background: url(../img/list.png) left top no-repeat; padding:0 0 0 40px; margin:35px 0 0 0;}

.why {
	background:#1e242a; 
	background: -moz-linear-gradient(left, #12181f 0%, #1e242a 50%, #1e242a 51%,#12181f 100%);
    background: -webkit-linear-gradient(left, #12181f 0%,#1e242a 50%,#1e242a 51%,#12181f 100%);
    background: -o-linear-gradient(left, #12181f 0%,#1e242a 50%,#1e242a 51%,#12181f 100%);
    background: -ms-linear-gradient(left, #12181f 0%,#1e242a 50%,#1e242a 51%,#12181f 100%);
    background: linear-gradient(left, #12181f 0%,#1e242a 50%,#1e242a 51%,#12181f 100%);
	height:157px; 
	padding:40px 230px 45px 230px; 
	margin:30px -230px 0 -230px; 
	position: relative;
}
.why:after {background:url(../img/shadow.png) center bottom no-repeat; width: 100%; height:16px; content: ''; position: absolute;bottom:-15px; left:0;}
.why h2 {color:#fefefe; margin:0; text-transform: uppercase;}
.why > div {padding:0px 1.6% 0px 0; float:left; width:23.8%; margin:0;}
.why > div:last-child {padding-right: 0;}
.why > div h3 {font-size: 17px; color:#ffb105; text-transform: uppercase;}
.why > div p {font-size: 14px;}


.orderplan {margin:65px 0;}
.orderplan h2 {text-transform: uppercase; color:#12181f; background: #ffb105; line-height: 47px; margin:0 -1000px 30px -1000px; padding:0 1000px;}
.orderplan > div {float:left; width:180px; position: relative; margin-right: 73px;}
.orderplan > div p {height:55px;} 
.orderplan > div.four {margin-right: 0px;}
.orderplan > div.two, .orderplan > div.four {margin-top:53px;}
.orderplan > div.one:after, .orderplan > div.three:after{content: ''; position: absolute; width:104px; height:40px; background: url(../img/strelka-niz.png) no-repeat; bottom:80px; left:140px;}
.orderplan > div.two:after{content: ''; position: absolute; width:105px; height:37px; background: url(../img/strelka-verh.png) no-repeat; top: -27px; left: 140px;}

.otzyvy {}
.otzyvy h2 {color:#fefefe; text-transform: uppercase;}
.otzyvy blockquote {color:#12181f; background: url(../img/blockquote.png) no-repeat; height:188px; padding:20px 29px 20px 20px; margin:0 -29px 0 -20px;}
.otzyvy blockquote img {margin: 0 58px 20px 0; border-radius:100%;}

.ringniz h2.name {
	background: url(../img/h1.png) center bottom no-repeat; 
	background-size: contain; 
	display: block; 
	width:100%; 
	height:65px; 
	text-indent: -9999px; 
	padding: 45px 0 0 0;
	margin: 0 0 75px 0;
}
.ringniz .ring {background: url(../img/zasvet.png) center no-repeat; background-size: contain; width:184px; height:282px; padding: 360px; margin: -310px -360px -360px -360px; float:left;}
.ringniz .ring img {width: 184px;margin: -50px 0;}
.ringniz .price, .ringniz .time  {width:310px; float:left; margin:0 0 30px 120px;}

.order {
	float:right;
	width:200px; 
	border:4px solid #2a3036; 
	border-radius: 4px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	-ms-border-radius: 4px; 
	background: #ffb105;
	padding:20px;
	margin-right:-20px;
	font-family: HelveticaLight;
}
.order h3 {color:#000;  font-size: 20px; margin:0 0 20px 0;}
.order input {color:#a3abaf; width:198px; height:32px; line-height: 32px; border:1px solid #dde2e4; margin-bottom: 25px; text-indent:20px;}
.order input.button {color:#a3abaf; width:198px; height:32px; line-height: 32px; border:1px solid #dde2e4; margin-bottom: 0px; margin-top: 0px; text-indent:20px;}

.history {padding:20px 20px 25px 20px; margin: 150px -20px 0 -20px; background: url(../img/history-bg.jpg);}
.history h2 {text-transform: uppercase; margin-top: 0;}

.fancyorder {margin-right:0; border:0;}
strong.send {color: #fefefe;font-weight: normal;display: table-cell;line-height: 275px;}

.coupon {
	color: #fff;
	cursor: pointer;
	text-decoration: underline;
	font-size: 91%;
	margin-bottom: 13px;
}

.tel {
	margin-bottom: 0px;
}