#ea_product_form_4267{
	color: #333333 !important;
}

#ea_product_form_4267 .ea_required_text{
	color: red !important;
	font-weight: bold !important;
	font-family: Arial !important;
	font-size: 10pt !important;
	margin-left: 5px;
}

#ea_product_form_4267 .ea_name_field{
	font-weight: bold !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 15px !important;
	color: #333333 !important;
}

#ea_product_form_4267 .ea_input {
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	height: 22px !important;
	border-radius: 4px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	border: 1px solid #7F9DB9 !important; /*1px solid #7F9DB9 !important;*/
	width: 300px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#ea_product_form_4267 .ea_textarea {
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	border-radius: 4px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	border: 1px solid #7F9DB9 !important; /*1px solid #7F9DB9 !important;*/
	width: 300px;
	margin-left: 0px !important;
	height: 67px;
}

#ea_product_form_4267 .ea_checkbox, ea_radio{
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	height: 20px !important;
	border-radius: 0px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	vertical-align: bottom !important;
        border: 1px solid #7F9DB9 !important;
}

#ea_product_form_4267 .ea_dom, #ea_product_form_4267 .ea_korpus, #ea_product_form_4267 .ea_kvartira{
	width: 40px !important;
}

#ea_product_form_4267 .ea_select{
	box-shadow: none !important;
	transition: none !important;
	padding: 0px !important;
	height: 20px !important;
	border-radius: 3px !important;
	background: none repeat scroll 0 0 #ffffff !important;
	text-shadow: none !important;
	border: 1px solid #7F9DB9 !important;/*1px solid #7F9DB9 !important;*/
	margin-left: 0px !important;
	width: 300px;
}

#ea_product_form_4267 .ea_cod_str_mob, #ea_product_form_4267 .ea_cod_str_dom{
	border: 1px solid #7F9DB9 !important;/*1px solid #7F9DB9 !important;*/
	width: 141px !important;
}

#ea_product_form_4267 .ea_cod_oper_mob, #ea_product_form_4267 .ea_cod_oper_dom{
	width: 40px !important;
}

#ea_product_form_4267 .ea_phone_mob, #ea_product_form_4267 .ea_phone_dom{
	width: 80px !important;
}

#ea_product_form_4267 .ea_pay_mode{
	/*width: 100% !important;*/
}

#ea_product_form_4267 #ea_normal_city select, #ea_product_form_4267 #ea_normal_region select, #ea_product_form_4267 .ea_country{
	/*width: 330px !important; /*100%*/
}

#ea_product_form_4267 #ea_special_region, #ea_product_form_4267 #ea_special_city{
	display:none;
}

#ea_product_form_4267 .ea_submit {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  
  border: 1px solid #7F9DB9;border-radius: 20px;background: none repeat scroll 0 0 #db9d00;font-family: verdana;font-size: 22px;color: #000000;width: 210px;height: 45px;font-weight: bold;
  
/*
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-family: Verdana;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
*/

/*
  background-color: #f5f5f5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  
  background-color: #e6e6e6;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
*/

  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

  /*padding: 8px 40px;*/

  box-shadow: 0 0 0 3px #f2f7f9;
  -moz-box-shadow: 0 0 0 3px #f2f7f9;
  -webkit-box-shadow: 0 0 0 3px #f2f7f9;
}
            

#ea_product_form_4267 .ea_submit:hover,
#ea_product_form_4267 .ea_submit:focus,
#ea_product_form_4267 .ea_submit:active,
#ea_product_form_4267 .ea_submit.active,
#ea_product_form_4267 .ea_submit.disabled,
#ea_product_form_4267 .ea_submit[disabled] {
  color: #333333;
  /*
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  */
  background-color: #dea30d;
}
/*
#ea_product_form_4267 .ea_submit:active,
#ea_product_form_4267 .ea_submit.active {
  background-color: #cccccc \9;
}
*/
#ea_product_form_4267 .ea_submit:hover,
#ea_product_form_4267 .ea_submit:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#ea_product_form_4267 .ea_submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#ea_product_form_4267 .ea_submit.active,
#ea_product_form_4267 .ea_submit:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

#ea_product_form_4267 .ea_custom_text{
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	font-size: 12pt !important;
	font-style: italic !important;
	font-weight: bold !important;
}

#ea_product_form_4267 .ea_table_form {
	width: 100% !important;/*600px*/
}

#ea_product_form_4267 .ea_table_form td{
	padding: 1px 5px 2px 1px !important;
	text-align: left;
	vertical-align: middle;
}

#ea_product_form_4267 .ea_phone_table{
	width: 300px;
}

#ea_product_form_4267 .ea_phone_table td{
	padding: 1px 5px 2px 1px !important;
	text-align: left;
	vertical-align: top;
}

#ea_product_form_4267 .ea_td_right{
	text-align: right !important;
	width: 50%;
}

#ea_product_form_4267 .ea_td_center{
	text-align: center !important;
}

#ea_product_form_4267 .ea_td_text {
	text-align: center !important;
}

#ea_product_form_4267 .ea_small{
	font-size: 11px !important;
	font-weight: normal !important;
}

#ea_product_form_4267 .ea_form{
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	font-size: 10pt !important;
	font-weight: normal;
	color: #333333;
}

#ea_product_form_4267 .ea_label{
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	font-size: 10pt !important;
}

#ea_product_form_4267 .ea_countprod{
	width:40px !important;
}

#ea_product_form_4267 .ea_anyprice{
	width:85px !important;
}

#ea_product_form_4267 .comment_field{
    font-size: 11px !important;
    font-weight: normal !important;
}