@font-face {
	font-family: "MyriadProRegular";
	font-style: normal;
	font-weight: normal;
	src: url('myriadpro-regular-webfont.html') format("eot"), url('../fonts/myriadpro-regular-webfont.woff') format("woff"), url('../fonts/myriadpro-regular-webfont.html') format("truetype"), url('../fonts/myriadpro-regular-webfont-2.html') format("svg");
}
#countbox { padding: 0px; margin: 0px auto; line-height: 1.2; color: rgb(255, 255, 255); font-family: MyriadProRegular,Helvetica,sans-serif; font-size: 65px; width: 432px; height: 113px; }
#countbox-days, #countbox-hours, #countbox-mins, #countbox-secs { float: left; text-align: center; background-image: url('../img/flip.png'); background-repeat: no-repeat; margin: 0px 7px; height: 89px; width: 94px; z-index: 1; }
#countbox-days-text, #countbox-hours-text, #countbox-mins-text, #countbox-secs-text { background-position: center center; background-repeat: no-repeat; position: absolute; margin-top: 5px; height: 26px; width: 94px; }
#countbox-days-text { background-image: url('../img/days_text.gif'); }
#countbox-hours-text { background-image: url('../img/hours_text.gif'); }
#countbox-mins-text { background-image: url('../img/mins_text.gif'); }
#countbox-secs-text { background-image: url('../img/secs_text.gif'); }
#countbox-days span, #countbox-hours span, #countbox-mins span, #countbox-secs span { background: url('../img/flip_gradient.html') no-repeat scroll 0% 0% transparent; position: absolute; display: block; height: 57px; width: 94px; }