/* ::::: file:///C:/Users/Admin/Desktop/Nardin%20-%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F/index.css ::::: */

div#container { width: 1100px; position: relative; margin: 0px auto; text-align: left; }
body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial; font-size: 13px; margin: 0px; text-align: center; }
a { color: rgb(0, 0, 255); text-decoration: underline; }
a:visited { color: rgb(128, 0, 128); }
a:active { color: rgb(255, 0, 0); }
a:hover { color: rgb(0, 0, 255); text-decoration: underline; }
#indexImage40 { border: 0px solid rgb(0, 0, 0); }
#indexImage7 { border: 0px solid rgb(0, 0, 0); }
#indexImage19 { border: 0px solid rgb(0, 0, 0); }
#indexImage11 { border: 0px solid rgb(0, 0, 0); }
#indexImage4 { border: 0px solid rgb(0, 0, 0); }
#indexImage20 { border: 0px solid rgb(0, 0, 0); }
#indexLayer1 { background-color: transparent; background-image: url('../img/222.jpg'); background-repeat: repeat; background-position: center center; }
#indexLayer2 { background-color: rgb(218, 165, 32); }
#wb_indexText1 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText2 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; animation: 1000ms linear 2ms normal none 1 animate-fade-in-left; }
#wb_indexText3 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; animation: 1000ms linear 2ms normal none 1 animate-fade-in-left; }
#wb_indexText4 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText5 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText6 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText7 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText8 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText9 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText10 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage1 { border: 0px solid rgb(0, 0, 0); }
#indexLayer4 { background-color: rgb(0, 0, 0); }
#indexImage2 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText13 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText14 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText15 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText16 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText17 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText18 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText19 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText20 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage3 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText22 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText21 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#wb_indexText23 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText24 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexRollOver1 a { display: block; position: relative; }
#indexRollOver1 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver1 span { display: block; height: 100px; width: 400px; position: absolute; z-index: 2; }
#wb_indexText25 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLayer5 { background-color: rgb(218, 165, 32); }
#wb_indexText26 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText28 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage5 { border: 0px solid rgb(0, 0, 0); }
#indexImage6 { border: 0px solid rgb(0, 0, 0); border-radius: 20px; }
#indexLayer6 { background-color: rgb(218, 165, 32); }
#wb_indexText29 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText30 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText31 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexRollOver2 a { display: block; position: relative; }
#indexRollOver2 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver2 span { display: block; height: 100px; width: 400px; position: absolute; z-index: 2; }
#indexLayer7 { background-color: rgb(218, 165, 32); }
#wb_indexText32 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText33 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLayer8 { background-color: rgb(218, 165, 32); }
#wb_indexText34 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText35 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLayer9 { background-color: rgb(218, 165, 32); }
#wb_indexText36 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText37 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage10 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText38 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText39 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText40 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLine1 { border-width: 0px; height: 43px; width: 177px; }
#wb_indexText41 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText42 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText43 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText44 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText45 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText46 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText47 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexRollOver3 a { display: block; position: relative; }
#indexRollOver3 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver3 span { display: block; height: 100px; width: 400px; position: absolute; z-index: 2; }
#wb_indexText49 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage12 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText50 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#indexLayer10 { background-color: rgb(218, 165, 32); }
#wb_indexText51 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage13 { border: 0px solid rgb(0, 0, 0); }
#indexImage14 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText52 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText53 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage15 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText54 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage16 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText55 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage17 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText56 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage18 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText57 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText58 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText59 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText60 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText61 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexRollOver4 a { display: block; position: relative; }
#indexRollOver4 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver4 span { display: block; height: 100px; width: 400px; position: absolute; z-index: 2; }
#wb_indexText64 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLayer11 { background-color: rgb(218, 165, 32); }
#wb_indexText65 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage21 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText66 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage22 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText67 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage23 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText68 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexLayer12 { background-color: transparent; background-image: url('../img/fiber-carbon-tiled-pattern-background-vol.11.jpg'); background-repeat: repeat; background-position: center center; }
#indexRollOver5 a { display: block; position: relative; }
#indexRollOver5 a img { position: absolute; z-index: 1; border-width: 0px; }
#indexRollOver5 span { display: block; height: 100px; width: 400px; position: absolute; z-index: 2; }
#wb_indexText69 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText70 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText71 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: right; }
#wb_indexText63 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: center; }
#indexImage24 { border: 0px solid rgb(0, 0, 0); }
#indexImage25 { border: 0px solid rgb(0, 0, 0); }
#indexImage26 { border: 0px solid rgb(0, 0, 0); }
#indexImage27 { border: 0px solid rgb(0, 0, 0); }
#indexImage28 { border: 0px solid rgb(0, 0, 0); }
#indexLayer3 { background-color: rgb(0, 0, 0); }
#wb_indexText11 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText12 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage9 { border: 0px solid rgb(0, 0, 0); }
#indexLayer13 { background-color: rgb(218, 165, 32); }
#wb_indexText72 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText73 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#indexImage29 { border: 0px solid rgb(0, 0, 0); }
#indexImage30 { border: 0px solid rgb(0, 0, 0); }
#indexImage31 { border: 0px solid rgb(0, 0, 0); }
#indexImage32 { border: 0px solid rgb(0, 0, 0); }
#indexImage33 { border: 0px solid rgb(0, 0, 0); }
#indexImage34 { border: 0px solid rgb(0, 0, 0); }
#indexImage35 { border: 0px solid rgb(0, 0, 0); }
#indexImage36 { border: 0px solid rgb(0, 0, 0); }
#indexImage37 { border: 0px solid rgb(0, 0, 0); }
#indexImage38 { border: 0px solid rgb(0, 0, 0); }
#indexImage39 { border: 0px solid rgb(0, 0, 0); }
#indexImage8 { border: 0px solid rgb(0, 0, 0); }
#wb_indexText74 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#wb_indexText75 { background-color: transparent; border: 0px solid rgb(0, 0, 0); padding: 0px; text-align: left; }
#InlineFrame1 {  }
#indexInlineFrame1 {  }
#indexInlineFrame2 {  }
#fancybox-loading { position: fixed; top: 50%; left: 50%; height: 40px; width: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; background: none repeat scroll 0% 0% transparent; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background: url('fancy_loading.html') no-repeat scroll 0% 0% transparent; }
#fancybox-overlay { position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; margin: 0px; padding: 20px; z-index: 1101; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#fancybox-inner { position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; padding: 0px; margin: 0px; outline: medium none; overflow: hidden; }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 32px; height: 32px; background: url('fancy_close.html') no-repeat scroll left top transparent; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background-image: url('blank.html'); z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background: url('../img/fancy_nav_left.html') no-repeat scroll 0% 0% transparent; }
#fancybox-right-ico { background: url('../img/fancy_nav_right.html') no-repeat scroll 0% 0% transparent; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
div.fancy-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; z-index: 1001; }
div#fancy-bg-n { top: -20px; left: 0px; width: 100%; height: 20px; background: url('../img/fancy_shadow_n.html') repeat-x scroll 0% 0% transparent; }
div#fancy-bg-ne { top: -20px; right: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_ne.html') no-repeat scroll 0% 0% transparent; }
div#fancy-bg-e { top: 0px; right: -20px; height: 100%; width: 20px; background: url('../img/fancy_shadow_e.html') repeat-y scroll 0% 0% transparent; }
div#fancy-bg-se { bottom: -20px; right: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_se.html') no-repeat scroll 0% 0% transparent; }
div#fancy-bg-s { bottom: -20px; left: 0px; width: 100%; height: 20px; background: url('../img/fancy_shadow_s.html') repeat-x scroll 0% 0% transparent; }
div#fancy-bg-sw { bottom: -20px; left: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_sw.html') no-repeat scroll 0% 0% transparent; }
div#fancy-bg-w { top: 0px; left: -20px; height: 100%; width: 20px; background: url('../img/fancy_shadow_w.html') repeat-y scroll 0% 0% transparent; }
div#fancy-bg-nw { top: -20px; left: -20px; width: 20px; height: 20px; background: url('../img/fancy_shadow_nw.html') no-repeat scroll 0% 0% transparent; }
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed Regular"), local("../fonts/RobotoCondensed-Regular"), url('../fonts/zd2e9abxlfgsr9g3yk2msbz0dnvqi7xqpmll2zm1tqo.woff') format("woff");
}
