﻿/*описание тумба*/
.thumb {
    overflow: hidden;
    height: 40px;
    display: block;
    font-weight: normal;
    line-height: 20px;
}
/*фикс для корректной работы слайдера*/
.slider-fix {
	max-height: 200px;
}

.w3-theme-gradient {
  color: #000 !important;
  background:-webkit-linear-gradient(top,#F32136 25%,#F32136 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-moz-linear-gradient(top,#F32136 25%,#F32136 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-o-linear-gradient(top,#F32136 25%,#F32136 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-ms-linear-gradient(top,#F32136 25%,#F32136 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background: linear-gradient(top,#F32136 25%,#F32136 75%)}

  .menu {font-size:12px;margin:0;}

.menu a{font-family:Arial;padding:0 5px 0 20px;line-height:20px;font-size:13px;color:#fff;text-decoration:none;display:block;font-weight:bold;margin:2px 0 0 0 !important;}
.menu a:hover{color:#ffc107;text-decoration:none;background:#101010 url(../images/dot.png) 8px 8px no-repeat;}
/*цвета темы*/
.color-primary-0 { background-color: #897F82 !important; } /* Main Primary color */
.color-primary-1 { background-color: #A98892 !important; }
.color-primary-2 { background-color: #7A6D71 !important; }
.color-primary-3 { background-color: #6E5D62 !important; }
.color-primary-4 { background-color: #604D53 !important; }

.w3-hover-primary-1:hover{color:#fff!important;background-color:#A98892!important}