@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
    background-color: #4b4b4b;
}

.main {
    min-height: 100%; 
    min-width: 1228px;
    width: 1228px;
    margin: auto;
    
}

.header1 {
    height: 34px;
    margin: 0 auto;
    overflow: hidden;
}

.header1 span {
    background: url('../images/18.png') left no-repeat;
    color: #bdbdbd;
    font-size: 13px;
    padding-left: 35px;
    margin: 2px 0 0 12px;
    height: 31px;
    display: block;
    line-height: 31px;
    width: 170px;
    float: left;
}

.header1 a {
    color: #2a9ea5;
    font-size: 13px;
    float: right;
    text-decoration: underline;
    margin: 12px 0 0 0;
}

.header1 a:hover {
    text-decoration: none;
}

.main2 {
    background-color: #fdfbec;
    width: 1228px;
    border: 3px solid #ad4176;
    min-height: 100%;
    padding-bottom: 25px;
}

.header {
    height: 98px;
    background: url('../images/bg_head.png') repeat-x;
    overflow: hidden;
}

.logo {
    width: 550px;
    float: left;
}

.header .logo>img {
    position: absolute;
    top: 0;
}

.search {
    float: right;
    margin-top: 22px;
    margin-right: 20px;
    position: relative;
}

.search input[type="text"] {
    border: 1px solid #ccc8ad;
    background-color: #fdfbec;
    height: 24px;
    padding: 0 26px 0 7px;
    color: #8f8e8e;
    font-size: 10px;
    width: 246px;
}

.search input[type="submit"] {
    position: absolute;
    background: url('../images/btn_search.png') no-repeat;
    border: none;
    width: 26px;
    height: 24px;
    margin: 1px 0 0 -27px;
    cursor: pointer;
    top: 0px;
    right: 1px;
}

.tabs {
    float: right;
    overflow: hidden;
}

.tabs a {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 28px;
    color: #4b4b4b;
    text-shadow: 1px 1px 0 #fff;
    background-color: #ccc8ad;
    margin-top: 18px;
    border-right: 1px solid #fdfbec;
}


.tabs a:hover {
    background-color: #fdfbec;
    color: #f0800b;
    text-shadow: 1px 1px 0 #fcf4e2;
}

.tabs a.active {
    background-color: #fdfbec;
    color: #f0800b;
    text-shadow: 1px 1px 0 #fcf4e2;
}

.tabs a:last-child {
    border: none;
}

.nav {
    padding: 13px 4px 0 ;
    height: 29px;
    overflow: hidden;
}

.nav a {
   display: block;
   float: left; 
   border: 1px solid #fdfbec;
   height: 24px;
   color: #4b4b4b;
   text-decoration: underline;
   padding: 0 11px 0 20px;
   background: url('../images/star1.png') left 6px no-repeat;
   line-height: 21px;
}

.nav a:hover, .nav .active {
   border: 1px solid #fff; 
   background: url('../images/star2.png') left 6px no-repeat #ccc8ad;
}

.thumbs {
    margin-left: 2px;
    overflow: hidden;
    padding-top: 4px;
}

.fix {
    border-top: 1px dashed #ccc8ad;
    width: 1191px;
    margin-left: 15px;
}

.r-block {
    float: right;
    width: 192px;
    background-color: #fff;
    padding: 0 8px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    margin: 3px 15px 7px 0;
    text-align: left;
}

.r-block h3 {
    background: url('../images/icon1.png') left 4px no-repeat;
    padding-left: 20px;
    color: #4b4b4b;
    font-weight: bold;
    display: block;
    height: 23px;
    line-height: 20px;
}

.r-block li {
    height: 25px;
    padding: 0 9px;
    background-color: #fdfbec;
    margin-bottom: 5px;
}

.r-block li:hover, .r-block .active {
    background-color: #ccc8ad; 
}

.r-block li a{
    color: #4b4b4b;
    font-size: 13px;
    display: block;
    line-height: 25px;
}

.thumb {
    width: 239px;
    height: 234px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    float: left;
    margin: 0 3px 9px 3px;
}

.thumb .img img {
    margin: 2px;
    width: 235px;
    /*height: 130px;*/
    height: auto;
}

.thumb h4 {
    color: #5a584a;
    display: block;
    font-size: 13px;
    height: 16px;
    margin-top: 2px;
    overflow: hidden;
    padding: 0 7px;
}

.thumb>span.date {
    color: #878787;
    font-size: 10px;
    padding: 0 7px;
}

.icons {
    margin-top: 2px;
}

.i1 {
    background: url('../images/icon2.png') left 2px no-repeat;
    color: #878787;
    font-size: 11px;
    padding: 0 0 0 19px;
    margin-left: 7px;
     margin-right: 9px;
}

.i2 {
    background: url('../images/icon3.png') left 2px no-repeat;
    color: #878787;
    font-size: 11px;
    padding: 0 0 0 15px;
     margin-right: 9px;
}

.i3 {
    background: url('../images/icon4.png') left 2px no-repeat;
    color: #878787;
    font-size: 11px;
    padding: 0 0 0 15px;
     margin-right: 6px;
}

.pagi {
    text-align: center;
    margin: 8px 0;
}

.pagi ul li{
    display: inline-block;
    min-width: 36px;
    height: 25px;
    border: 1px solid #fff;
}

.pagi ul li a{
    display: block;
    line-height: 25px;
    padding: 0 3px 0 3px;
    color: #4b4b4b;
    text-shadow: 1px 1px 0 #ddd9c2;
    background-color: #ccc8ad;
}

.pagi ul li a:hover {
    background-color: #f0800b;
    color: #fff;
    text-shadow: 1px 1px 0 #f4aa58;
}

.pagi ul li.active a {
    background-color: #f0800b;
    color: #fff;
    text-shadow: 1px 1px 0 #f4aa58;
}

.video {
    overflow: hidden;
    margin-top: 20px;
}

.r-block2 {
    float: right;
    width: 143px;
    padding: 5px;
    background-color: #d7d7d7;
    margin-right: 43px;
    margin-top: 25px;
}

.r-block2 .ads>a{
    display: block;
    padding: 1px;
    background-color: #fff;
}

.r-block2 .ads span{
    display: block;
    margin: 10px 0 10px 0 ;
}

.r-block2 .ads span a {
    display: block;
    text-align: center;
    color: #e1ab1d;
}

.l-block2 {
    float: left;
    /*width: 996px;*/
    margin-left: 8px;
}

.breadcrumb {
    color: #4b4b4b;
    font-weight: bold;
    margin: 12px 0 0 10px;
}

.breadcrumb span {
    color: #dc7101;
}

.breadcrumb h1 {
    margin: 0;
    padding: 0;
    display: inline;
    color: #dc7101;
}

.l-block2 .v-player {
    /*margin-bottom: 8px;*/
    float: left;
}

.v_player {
    float: left;
    margin-left: 10px;
    width: 320px;
    height: 400px;
}

.desc {
    background-color: #fff;
    padding: 0 7px 9px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.10);
    margin-bottom: 33px;
    clear: both;
}

.desc .aut {
    margin: 8px 0 0;
    float: left;
}

.desc .aut span:first-child {
    color: #4b4b4b;
}

.desc .aut span:last-child {
    color: #dc7101;
}

.desc .icons2 {
    float: right;
    margin: 11px;
}

.d-main {
    width: 700px;
    overflow: hidden;
}

.tag1 {
    background: url('../images/icon5.png') left no-repeat;
    padding: 0 0 0 20px;
}

.tag2 {
    background: url('../images/icon6.png') left no-repeat;
    padding: 0 0 0 20px;
    margin-top: 15px;
}

.tag2 a, .tag1 a{
    color: #dc7101;
    text-decoration: underline;
}

.tag2 a:hover, .tag1 a:hover{
    text-decoration: none;
}

.comm {
    padding: 5px 10px 35px 10px;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-top: 25px;
}

.comm>span {
    font-size: 13px;
    font-weight: bold;
    color: #4b4b4b;
    margin-bottom: 10px;
    display: block;
}

.comm h4 {
    color: #454545;
    font-size: 13px;
    font-weight: bold;
}

.comm input {
}

.comm input.user-name{
    background: url("../images/input1.png") no-repeat;
    width: 219px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #454545;
    padding: 0 9px;
    margin-top: 9px;
    border: none;
    font-family: 'Tahoma';
}

.comm textarea{
    background: url("../images/input2.png") no-repeat;
    width: 606px;
    height: 89px;
    font-size: 12px;
    color: #454545;
    padding: 8px 9px;
    margin-top: 14px;
    border: none;
    font-family: 'Tahoma'; 
    line-height: 16px;
    resize: none;
}

.comm input[type="submit"] {
    margin-top: 8px;
}

.user-comm {
    margin-bottom: 5px;
}

.user-comm-main {
    margin-bottom: 30px;
}

.user-comm .user-comm-top a{
    color: #dc7101;
    font-size: 14px;
   font-weight: bold;
}

.user-comm-top span {
    font-size: 10px;
    color: #8e8e8e;
}

.user-comm p{
    margin-top: 5px;
    color: #4b4b4b;
    font-size: 12px;
    line-height: 20px;
    background-color: #e5e5e5;
    padding: 4px;
}

.user-comm-top {
    overflow: hidden;
}

.user-comm-top>img {
    float: left;
    margin-left: 11px;
}

.uct {
    float: left;
    margin-left: 12px;
    margin-top: 5px;
}

.desc p {
    margin-top: 5px;
    line-height: 24px;
    color: #4b4b4b;
}

.oth-video {
    overflow: hidden;
}

.oth-video>h4{
    color: #4b4b4b;
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
    margin-bottom: 8px;
}

.clearf {
    height: 88px;
}

.footer {
    font-size: 14px;
    margin: -88px 0 0;
    position: relative;
    overflow: hidden;
    height: 88px;
}

.footer-main {
    width: 1228px;
    min-width: 1228px;
    margin: auto;
    height: 88px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.links {
    display: inline-block;
    margin-top: 14px;
}

.links a {
    color: #bcbcbc;
}

.links ul {
    margin-bottom: 4px;
}

.links ul li {
    display: inline-block;
    border-right: 1px solid #bcbcbc;
    padding: 0 5px 0 0;
}

.links ul li:last-child {
    border: none;
}

.links ul li a {
    text-decoration: underline;
}

.links ul li a:hover {
    text-decoration: none;
}

.links>a {
    display: block;
    margin-top: 16px;
    text-decoration: underline;
}

.links>a:hover {
    text-decoration: none;
}

.social {
    right: 0px;
    top: 0px;
    margin-top: 12px;
    position: absolute;
}

.social a {
    color: #bcbcbc;
    display: block;
    float: left;
    height: 44px;
    line-height: 44px;
    padding: 0 45px 0 50px;
    text-decoration: underline;
}

.social a:first-child{
    background: url('../images/twit.png') left no-repeat;
}

.social a:last-child{
    background: url('../images/vk.png') left no-repeat;
}

.social a:hover {
    text-decoration: none;
}

.desc-text {
    margin-top: 10px;
    margin-bottom: 0;
}
.desc-text .category-img {
    width: 170px;
    height: auto;
    float: left;
    margin: 10px 8px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.desc-text-page {
    margin-top: 10px;
    margin-bottom: 10px;
}
.thumbs-search {
    margin-top: 10px;
}
.player_ph iframe, .player_ph object, .player_xv iframe {
    width: 996px;
    height: 650px;
}
.like {
    /*clear: both;*/
    float: right;
    margin-top: 5px;
    width: 300px;
}
.like .percent {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 12px;
    padding-left: 12px;
}
.like img {
    display: block;
    float: left;
}
.like .rate {
    font-size: 14px;
    display: block;
    float: left;
    line-height: 24px;
    margin-right: 10px;
}
.header_text {
    float: left;
    width: 350px;
    height: 84px;
    margin-top: 5px; 
    overflow: hidden;
}
.gallery {
    margin: 0 auto;
    width: 1200px;
    list-style-type: none;
    margin-top: 20px;
}
.gallery li {
    width: 290px;
    float: left;
    margin: 5px;
}
.gallery img {width: 290px; height: auto; border: 1px solid #fff;}
.gallery-description {margin-bottom: 10px;}
.thumbs-photos .thumb {
    height: 355px;
}
/*clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.entries {
    list-style: decimal;
    padding-left: 30px;
}
.entries li {
    margin: 5px 0 5px 0;
}
.entries li a {
    text-decoration: underline;
    color: #f0800b;
    font-size: 16px;
}
.enrty img, .entry p img {
    margin: 5px;
    border: 1px solid #fdfbec;
}
#liveinternet {
    margin-top: 10px;
}