body {font-family: Verdana; font-size: 15px; padding: 0; margin: 10px; background-color: #000;}
a {color: #000066; text-decoration: none;}

h1 {clear: both; text-align: center; color: #ccc;}

#menu_def {width: 850px; margin: 10px auto; text-align: center; list-style-type: none; padding: 0;}
#menu_def li {width: 130px; height: 25px; margin: 0 0 0 2px; overflow: hidden; float: left; background: #f0f0f0; border: 1px solid #999; padding: 5px 0 0 0;}
#menu_def li:hover {background: #fff;}
#menu_def li a {font-size: 14px;}
#menu_def li.current {background: #fff; font-weight: bold;}

.clearboth {width: 100%; clear: both; height: 0px; overflow: hidden;}

#footer_def {
width: 100%;
margin: 0 auto;
clear: both;
text-align: center;
padding-top: 50px;
}

#liveinternet {
margin: 0 auto;
width: 88px;
}

#contact {margin: 20px 0 10px 20px; font-weight: bold; font-size: 24px;}

.pages {width: 650px; margin: 0 auto 10px auto; clear: both;}
.pages a {text-decoration: none;}
.pages ul {list-style-type: none; margin: 0; padding: 0;}
.pages li {
font-size: 15px;
text-align: center;
overflow: hidden;
border: 1px solid #ccc;
float: left;
margin: 1px;
padding: 0 7px;
}
.pages li:hover {background: #fff;}
.pages li:hover a {color: #000;}
.pages .current {background: #fff; border: 1px solid #999;}
.pages .current a {color: #000;}

.thumbs {width: 750px; margin: 0 auto; text-align: center; clear: both;}
.thumbs ul {list-style-type: none; margin: 0 20px; padding: 0;}
.thumbs li {text-align: center; overflow: hidden; width: 170px; height: 180px; margin: 0 0 5px 0; padding: 2px; float: left; font-size: 12px;}
.thumbs li:hover {}
.thumbs li .title {width: 160px; height: 30px; margin: 0 auto; overflow: hidden;}
.thumbs li .info {margin: 5px 5px 0 5px;}
.thumbs li .date {float: left; font-size: 10px;}
.thumbs li .views {float: right; font-size: 10px;}
.thumbs img {width: 160px; height: 120px; margin: 0 0 5px 0; border: 1px solid #fff;}

.sort {width: 650px; margin: 0 auto 20px auto; text-align: right;}

#navigation {width: 90%; margin: 10px auto; font-size: 20px; text-align: center;}
#navigation h1 {display: inline; font-size: 20px;}
#navigation h2 {display: inline; font-size: 20px;}

#online {clear: both; width: 610px; margin: 0 auto;}
#online h1 {font-size: 20px; text-align: center;}
#online .prev {width: 30px; margin-right: 4px; float: left;}
#online .prev a {display: block; width: 30px; text-align: center; padding: 168px 0 168px 0; margin-top: 10px; font-size: 30px; text-decoration: none; color: #000066; background: #f7f7f7;}
#online .prev a:hover {background: #efefef;}
#online .next {width: 30px; float: left;}
#online .next a {display: block; width: 30px; text-align: center; padding: 168px 0 168px 0; margin-top: 10px; font-size: 30px; text-decoration: none; color: #000066; background: #f7f7f7;}
#online .next a:hover {background: #efefef;}

#online .object {float: left; width: 505px;}
#online .endtext {font-weight: bold; font-size: 30px; color: #666; text-align: center; line-height: 40px; font-family: "Times New Roman"; margin-top: 20px;}
#online .codeform {width: 100px; height: 28px; border: 1px solid orange; font-size: 24px; margin: 0; padding: 0;}
#online .codebutton {width: 60px; height: 30px; border: 1px solid #666; font-size: 24px; color: white; background-color: green; margin: 0 5px; padding: 0;}

#online .prevnext {clear: both; margin: 0 0 10px 0;}
#online .prevnext .prevtext {overflow: hidden; width: 48%; height: 20px; float: left; text-align: left;}
#online .prevnext .prevaquo {width: 2%; float: left; text-align: left;}
#online .prevnext .nexttext {overflow: hidden; width: 48%; height: 20px; float: right; text-align: right;}
#online .prevnext .nextaquo {width: 2%; float: right; text-align: right;}

#online .download {float: left; width: 100%; text-align: center; font-weight: bold; background: #333; border: 1px dotted #ccc; margin: 0 0 20px 0;}
#online .download:hover {background: #666;}
#online .download a {color: #fff;}

#load {width: 660px; margin: 0 auto 20px auto; height: 300px;}
#load h1 {font-size: 20px;}
#load h2 {font-size: 20px;}
#load .left {float: left; width: 470px; height: 100%; text-align: center; background-color: #f7f7f7; overflow: hidden; line-height: 35px;}
#load .right {float: left; width: 190px; height: 100%; text-align: center; background-color: #efefef; overflow: hidden;}
#load .right img {border: 2px solid #666; position: relative; top: 50%; margin-top: -70px;}
#load .right:hover {background-color: #f7f7f7;}

#news {width: 90%; margin: 0 auto;}
#news li {margin: 0 0 10px 0;}
#news .date {padding: 5px; font-weight: bold;}
#news .text {padding: 3px; text-align: justify;}
#news .name {padding: 2px; text-align: right;}

.error {font-size: 11px; color: red;}

#guestbook {clear: both;}
#guestbook ul {
list-style-type: none;
margin: 0;
padding: 0;
}
#guestbook li {
border: 1px dashed #ccc;
margin: 1px auto;
padding: 0;
width: 80%;
text-align: left;
}

#contact {width: 400px; margin: 0 0 0 20px;}

.page_text {width: 750px; margin: 0 auto; clear: both; text-align: left;}

#domain {
	margin: 0 auto;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #006;
	text-align: center;
}

#categories {width: 660px; list-style-type: none; margin: 0 auto; padding: 0;}
#categories li {
	width: 220px;
	height: 20px;
	overflow: hidden;
	float: left;
	font-weight: bold;
}
#categories a:hover {color: #69F;}

#tags {width: 660px; margin: 0 auto; padding: 0; list-style-type: none;}
#tags li {display: inline; padding: 3px;}

#video_info {width: 500px; margin: 10px auto;}
#video_info .title {font-weight: bold;}
#video_info .video_title {}
#video_info .tags ul {list-style-type: disc; margin: 0; margin-left: 5px; padding: 0;}
#video_info .tags ul li {float: left; padding: 0; margin: 0; margin: 0 10px 0 10px;}
#video_info .share {float: left; margin: 10px 0 0 0;}
#video_info .odnaknopka {float: left; margin: 16px 0 0 20px;}

.bottom_links {list-style-type: disc; width: 500px; margin: 0 auto;}
.bottom_links li {float: left; padding: 0; margin: 0; margin: 0 10px 0 10px;}

.vspace {margin-top: 30px;}

.teasers {width: 1000px; margin: 0 auto;}
#footer_def p {color: #ccc;}
#footer_def a {color: #fff;}