html, body, div, span, object, iframe, h1, h2, h3, h4, h5, 
h6, p, blockquote, pre, a, code, del, em, font, img, small, 
strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, 
label, table, caption, tbody, tfoot, thead, tr, th, td { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}
body { 
	line-height: 1;
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#eeeeee;
} 
ol, ul { 
	list-style: none; 
} 
blockquote, q { 
	quotes: none; 
} 
h1, h2, h3, h4, h5 {
	margin: 0 0 20px 0;
	text-align:center;
}
h1{
	font-size:1.5em;
	color:#333333;
	font-family:"Roboto", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	font-weight:normal;
}
h2 {
	font-size:1.5em;
	color:#ffffff;
	font-family:"Roboto", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	font-weight:normal;
}
h3{
	font-size:1.5em;
	color:#e9445c;
	font-family:"Roboto", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	font-weight:normal;
	text-align:left;
}
h4{
	text-transform:uppercase;
	color:#333333;
	margin-bottom:10px;
}
p {
	color:#333;
	font-size:1em;
	margin-bottom:20px;
	text-align:justify;
	line-height:1.3em;
}
a {
	text-decoration:none;
	color: #2387c3;
}
a:hover {
	text-decoration:none;
	color:#c82693;
}
/*Header*/
nav{
	width:100%;
	height:40px;
	background-color:#000000;
	position:fixed;
	z-index:800;
}
nav ul{
	width:100%;
	display:block;
	max-width:980px;
	margin:0 auto;
	height:20px;
	text-align:center;
	padding:10px 0;
}
nav ul li{
	display:inline;
	padding:0 20px;
	font-size:1.1em;
}
nav ul li a{
	color:#ffffff;
}
header{
	width:100%;
	margin:0 auto;
	border-bottom:10px solid #000000;
	padding-top:40px;
}
.headerbg{
	max-width:1600px;
	margin:0 auto;
	background:url(images/headerbg.jpg) no-repeat bottom center;
}
.img1{
	float:left;
	width:70%;
}
.img1 img{
	max-width:662px;
}
.form1{
	float:left;
	width:43%;
	margin-left:-13%;
}
.topblock1{
	padding-right:130px;
	padding-top:40px;
	padding-bottom:40px;
	text-align:center;
	color:#FF0000;
	margin-left:-30px;
	font-size:1.1em;
	position:relative;
}
.topblock11{
	background:url(images/topblock1bg.png) no-repeat center right;
	position:absolute;
	width:114px;
	height:54px;
	top:10px;
	right:0px;
	color:#eeeeee;
	/*text-decoration:line-through;*/
	font-size:1em;
	text-align:center;
	padding:30px 0;
}
.topblock11 span{
	text-decoration:none;
	color:#ffea00;
	font-size:1.3em;
	display:block;
	margin-top:5px;
}
.form1 form{
	border-radius:10px;
	background-color:#333333;
	padding:20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.name_inp{
	color:#ffffff;
	text-transform:uppercase;
	padding-bottom:5px;
}
.form1 form input{
	width:100%;
	height:30px;
	margin-bottom:10px;
	border:none;
}
.form1 form select{
	width:100%;
	height:30px;
	margin-bottom:20px;
	border:none;
}
.order-btn{
	display:block;
	margin:0 auto;
	background:url(images/btn1.png) no-repeat top center;
	width:226px;
	height:28px;
	color:#ffffff;
	text-align:center;
	padding:10px 0 10px 0;
	font-weight:bold;
	font-size:1.5em;
	border: none;
	/*line-height: 24px;*/
	/*outline-color: rgb(255, 255, 255);*/
	/*outline-style: none;*/
	/*outline-width: 0px;*/
	font-family: Tahoma, Geneva, sans-serif;
	/*text-decoration: none;*/
	/*vertical-align: baseline;*/
	/*background-position: 50% 100%;*/
	box-sizing: content-box;
}
.order-btn:hover{
	background:url(images/btn1.png) no-repeat bottom center;
	color:#ffffff;
}
.timerwrapper{
	float:right;
	width:70%;
	background-color:rgba(0,0,0,0.7);
	padding:10px 20px;
	border:1px solid #ff0000;
	margin:50px 0 40px 0;
	box-sizing:border-box;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	max-width:300px;
}
.timerwrapper h2{
	color:#ffffff;
	font-weight:bold;
	margin-bottom:10px;
	font-size:1.2em;
}
.timer{
	width:100%;
}
.timer div {
position: relative;
background-color:#333333;
border-radius:10px;
width:22%;
height: 50px;
border:1px solid #ff0000;
line-height: 2.2em;
padding: 0 0 0 0;
display: inline-block;
font-weight: bold;
margin: 0 0.5% 0 0.5%;
font-size: 1.3em;
text-align: center;
color: #fff;
box-sizing:border-box;
}
.timertext1{
	display:block;
	width:100%;
	margin:0 auto;
	font-size:1em;
	color:#ffffff;
	padding-bottom:20px;
}
.timertext1 span{
	width:23%;
	text-align:center;
	display:block;
	float:left;
	margin-right:2%;
}
/*Content*/
.wrapper{
	width:96%;
	max-width:980px;
	margin:0 auto;
	position:relative;
}
.clear{
	clear:both;
}
.section1{
	background: #333333 url(images/section1bg.jpg);
	padding:20px 0;
}
.section2{
	padding:20px 0;
	background-color:#eeeeee;
}
.section3{
	background: #333333 url(images/section3bg.jpg);
	padding:20px 0;
}
.section4{
	padding:0 0;
	background-color:#eeeeee;
	border-bottom:1px solid #333333;
}
.section5{
	padding:20px 0;
	background-color:#E6E6E6;
	border-bottom:1px solid #333333;
}
.section6{
	background: #333333 url(images/section1bg.jpg);
	padding:20px 0;
}
.section7{
	padding:20px 0;
	border-bottom:1px solid #333333;
}
.block1{
	background-color:#f0efef;
	border-radius:10px;
	padding:15px;
	position:relative;
}
.block1 .topblock11{
	position:relative;
	float:right;
	top:auto;
	right:auto;
	padding-left:10px;
}
.section2 .block1{
	border:1px solid #cccccc;
}
.section2 h2{
	color:#333333;
}
.section4 h3{
	color:#ff0000;
	text-transform:uppercase;
	font-size:1.1em;
	text-align:center;
	display:block;
	z-index:600;
	position:relative;
	padding-left:110px;
}
.section4 .wrapper{
	padding:20px 0 50px 0;
}
.section4 .form1{
	float:right;
	margin:0 auto;
	position:relative;
	z-index:700;
}
.section4 .form1 p{
	text-align:center;
	padding:20px 0 0 0;
}
.section5 h2{
	color:#333333;
}
.section7 h2{
	color:#333333;
	text-transform:uppercase;
	font-weight:bold;
}
.blockleft1{
	float:left;
	width:30%;
}
.blockright1{
	float:right;
	width:68%;
	margin-left:2%;
}
.block1img1{
	max-width:114px;
	float:right;
	margin-left:20px;
	margin-bottom:20px;
}
.block1 figure{
	padding:0;
	margin:0;
	display:block;
}
.largeimg{
	max-width:327px;
	border:1px solid #666666;
	box-sizing:border-box;
	display:block;
}
.largeimg img{
	display:block;
}
.smallimg{
	width:100%;
	margin-left:-0.3%;
	margin-top:10px;
}
.smallimg img{
	width:16%;
	border:1px solid #666666;
	box-sizing:border-box;
	margin-left:0.6%;
}
.video1{
	width:100%;
	height:auto;
	background-color:#000000;
	margin-top:10px;
	max-width:327px;
}
.imgblock1{
	position:absolute;
	top:0px;
	left:0px;
}
.imgblock1 img{
	max-width:590px;
}
.imgblock1 .topblock11{
	top:50px;
	right:40px;
}
.imgblock1 .timerwrapper{
	position:absolute;
	bottom:0px;
}
.section5 img{
	max-width:180px;
	float:left;
	padding:0 3% 0 0;
	width:17%;
}
.otzivname{
	display:block;
	padding-bottom:20px;
	font-weight:bold;
	padding-top:20px;
}
.section5 p{
	width:80%;
	float:right;
}
.postotziv{
	border-bottom:1px solid #333333;
	padding-bottom:10px;
	margin-bottom:20px;
}
.section6 h2{
	text-transform:uppercase;
	font-weight:bold;
	padding-top:10px;
}
.section6 h3{
	text-align:center;
	padding-bottom:10px;
}
.preim1{
	background:url(images/ch1.png) no-repeat top left;
	width:33%;
	float:left;
	padding-left:35px;
	box-sizing:border-box;
	padding-bottom:30px;
	padding-right:40px;
	color:#ffffff;
}
.block11{
	border-radius:10px;
	padding:20px;
	background-color:rgba(102,102,102,0.5);
}
.block11 img{
	max-width:64px;
	vertical-align:middle;
	padding-right:10px;
	float:left;
}
.preim11{
	width:50%;
	float:left;
	color:#ffffff;
	box-sizing:border-box;
	padding-right:40px;
}
.chc1{
	display:block;
	padding:5px;
	border-radius:10px;
	text-align:center;
	color:#ff0000;
	background-color:#d6a7b0;
	margin-bottom:20px;
}
.tov1{
	width:20%;
	margin-left:1%;
	border:1px solid #cccccc;
	padding:10px;
	box-sizing:border-box;
	background-color:#ffffff;
	float:left;
}
.tov1 img{
	max-width:185px;
	margin-bottom:10px;
	display:block;
}
.tov1 p{
	font-size:0.8em;
	color:#666666;
	text-align:left;
}
.price1{
	display:block;
	background-color:#e7e6e6;
	padding:5px;
	color:#ff0000;
	text-align:center;
	margin-bottom:10px;
}
.btn1{
	border-radius:10px;
	display:block;
	color:#ffffff;
	text-align:center;
	background-color:#e32246;
	border:1px solid #a82940;
	text-transform:uppercase;
	font-size:0.9em;
	padding:2px;
	width:80%;
	margin:0 auto;
}
.btn1:hover{
	background-color:#ed5f79;
	color:#ffffff;
}
.arrow1{
	float:left;	
	width:10%;
	max-width:57px;
	padding-top:60px;
	display:block;
}
.arrow1:hover{
	opacity:0.9;
}
.arrow11{
	float:left;
	width:10%;
	max-width:57px;
	padding-top:60px;
	margin-left:1%;
	display:block;
}
.arrow11:hover{
	opacity:0.9;
}
.tovari1{
	width:98%;
	padding:0 2%;
	margin:0 auto;
}
/*Footer*/
footer{
	width:100%;
	padding:20px 0;
	background-color:#333333;
}
.footerleft1{
	float:left;
	width:40%;
	color:#cccccc;
	font-size:0.9em;
}
.footerright1{
	float:right;
	width:60%;
	text-align:right;
	font-size:0.9em;
}
.footerright1 ul li{
	display:inline;
	padding-left:10px;
	border-left:1px solid #ffffff;
	padding-right:10px;
}
.footerright1 ul li:first-child{
	border:none;
}
.footerright1 ul li a{
	color:#ffffff;
}
.footerright1 ul li a:hover{
	color:#cccccc;
}
@media screen and (max-width:1034px) {
	.imgblock1{
		position:relative;
		top:auto;
		left:auto;
		margin:-20px auto 0 auto;
		max-width:590px;
	}
	.section4 h3{
		padding:0;
	}
	.section4 .form1{
		float:none;
		margin:0 auto;
		width:96%;
		max-width:440px;
	}
	.tov1{
		width:19%;
	}
}
@media screen and (max-width:810px) {
	.headerbg{
		background-image:none;
	}
	.img1{
		float:none;
		margin:0 auto;
		width:96%;
	}
	header .form1{
		float:none;
		margin:0 auto;
		width:96%;
		max-width:440px;
	}
	.timerwrapper{
		float:none;
		margin:10px auto 10px auto;
	}
	.footerleft1{
		float:none;
		width:96%;
		margin:0 auto 10px auto;
		text-align:center;
	}
	.footerright1{
		float:none;
		width:96%;
		margin:0 auto;
		text-align:center;
	}
	.blockleft1{
		float:none;
		width:96%;
		margin:0 auto 10px auto;
		max-width:327px;
	}
	.blockright1{
		float:none;
		width:96%;
		margin:0 auto;
	}
	.tov1{
		width:18%;
	}
}
@media screen and (max-width:620px) {
	nav{
		font-size:0.8em;
	}
	nav ul li{
		padding:0 10px;
	}
	.topblock1{
		margin-left:0px;
	}
	.imgblock1 .topblock11{
		top:10px;
		right:10px;
	}
	.imgblock1 .timerwrapper{
		position:relative;
		bottom:auto;
	}
}
@media screen and (max-width:450px) {
	.timerwrapper{
		width:96%;
		margin:10px auto;
	}
	nav{
		font-size:0.7em;
	}
	nav ul li{
		padding:0 5px;
	}
	.footerright1 ul li{
		display:block;
		padding-bottom:5px;
		border:none;
	}
	.preim1{
		float:none;
		width:96%;
		margin:0 auto 10px auto;
	}
	.preim11{
		float:none;
		width:96%;
		margin:0 auto 10px auto;
	}
	p{
		text-align:left;
	}
}

.form1 form input {
	font-size: 1.2em;
}
.form1 form select {
	font-size: 1.2em;
}