/* Eric Meyer's CSS Reset */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
b {
	font-weight:bold;
}
/*
ol, ul {
	list-style: none;
}
*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'PT Sans', Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	/*min-height: 100%;*/
	/*height: auto !important;*/
	/*height: 100%;*/
  background:url(/template/img/bg.jpg) no-repeat center 0px;
    background-color: #B7E0F6;
}
.block {
	/*width: 1000px;*/
	margin: 0 auto;
	position:relative;
}
.block:after {
  clear:both;
  display:block;
  content:' ';
}

/* Header
-----------------------------------------------------------------------------*/

header.header {
	height: 148px;
	-webkit-box-shadow: 0 0 10px 1px #92bfdd;
  box-shadow: 0 0 10px 1px #92bfdd;
  width:100%;
  /*min-width:1000px;*/
  z-index: 2;
  position: relative;
}
header.header .top {
  height:80px;
  border-bottom:2px solid #128ac4;
  width:100%;
  position:relative;
  /*min-width:1000px;*/
  background: #1393cc;
  background: -moz-linear-gradient(top,  #1393cc 0%, #0d65a3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1393cc), color-stop(100%,#0d65a3));
  background: -webkit-linear-gradient(top,  #1393cc 0%,#0d65a3 100%);
  background: -o-linear-gradient(top,  #1393cc 0%,#0d65a3 100%);
  background: -ms-linear-gradient(top,  #1393cc 0%,#0d65a3 100%);
  background: linear-gradient(to bottom,  #1393cc 0%,#0d65a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1393cc', endColorstr='#0d65a3',GradientType=0 );
}
header.header .top .logo {
  background:url(/template/img/logo4.png);
  width: 251px;
  height: 75px;
  display: block;
  /*position: absolute;*/
  /*top: 2px;*/
  /*left: 0;*/
}
header.header .top .menu {
  /*position:absolute;*/
  /*top:38px;*/
  /*left:276px;*/
  margin-top: 38px;
}
header.header .top .menu li {
  display:inline;
}
header.header .top .menu li a {
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
  font-size:16px;
  text-shadow: 1px 1px 3px #0a568e;
  line-height: 11px;
  float: left;
  margin:0 22px;
}
header.header .top .enter {
  background:#ff9000;
  border-left:1px solid #ffa400;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position:absolute;
  right:0;
  top:21px;
  display:block;
  font-size:16px;
  color:#643a10;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  height: 39px;
  -webkit-box-shadow: 2px 2px 5px 0 #0b5e93;
  box-shadow: 2px 2px 5px 0 #0b5e93;
}
header.header .top .enter:before {
  content:' ';
  display:block;
  background:url(/template/img/ico_enter.png) no-repeat center center;
  border-right:1px solid #ff6400;
  width:41px;
  height:39px;
  float:left;
}

header.header .top .enter.logout:before {
    background:url(/template/img/logout.png) no-repeat center center !important;
}
header.header .top .enter span {
  padding: 14px;
  float: right;
  line-height: 11px;
}
header.header .bottom {
  border-top:1px solid #0d65a2;
  width:100%;
  height:65px;
  /*min-width:1000px;*/
  background: #ddebf2;
  background: -moz-linear-gradient(top,  #ddebf2 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddebf2), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ddebf2 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ddebf2 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ddebf2 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ddebf2 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddebf2', endColorstr='#ffffff',GradientType=0 );
}
header.header .bottom .info {
  float:left;
}
header.header .bottom .info .first,
header.header .bottom .info .last {
  color:#0b3c5e;
  text-transform:uppercase;
  font-size:12px;
  float:left;
  line-height: 8px;
  margin: 32px 40px 0 0;
    position: relative;
}
header.header .bottom .info .last {
  margin:32px 0 0 0;
}
header.header .bottom .info .last span {
  margin: 0 27px 0 0;
}
header.header .bottom .info > span > span {
  float:left;
}
header.header .bottom .info > span > img {
  float:left;
  width:16px;
  height:16px;
  font-size:13px;
  margin: -4px 16px;
}
header.header .bottom form {
  float:right;
  width:126px;
  height:28px;
  position:relative;
  background:#bdc9cf;
  margin: 20px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow:inset 2px 2px 20px 0 #949ea3;
  box-shadow:inset 2px 2px 20px 0 #949ea3;
}
header.header .bottom form input[type="text"] {
  padding:0 28px 0 10px;
  height:28px;
  color:#fff;
  border:0;
  background:none;
  width:88px;
}
header.header .bottom form input[type="submit"] {
  background:url(/template/img/ico_search.png) no-repeat center center;
  height:28px;
  width:28px;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  border:0;
  text-indent:100px;
  overflow:hidden;
  cursor:pointer;
}
header.header .bottom form input {
  outline: none;
}
header.header .bottom form input[type="text"]::-webkit-input-placeholder  {color:#fff;}
header.header .bottom form input[type="text"]::-moz-placeholder {color:#fff;}
header.header .bottom form input[type="text"]:-moz-placeholder  {color:#fff;}
header.header .bottom form input[type="text"]:-ms-input-placeholder {color:#fff;}

/* Middle
-----------------------------------------------------------------------------*/

.content {
	padding: 38px 0 0;
}

.content .breadcrumbs {
  font-size:15px;
  color:#477490;
  margin:12px 0 30px;
}
.content .breadcrumbs:after {
  clear:both;
  display:block;
  content:' ';
}
.content .breadcrumbs a {
  float:left;
  text-decoration:none;
  color:#073353;
}
.content .breadcrumbs div {
  padding:0 10px;
  float:left;
}
.content .breadcrumbs span {
  color:#0b3c5e;
  text-decoration:none;
  border-bottom:1px dotted #0b3c5e;
  float:left;
}

/* Top
-----------------------------------------------------------------------------*/

.content .top {
  padding:0 0 22px;
}
.content .top:after {
  clear:both;
  content:' ';
  display:block;
}

/* Left
-----------------------------------------------------------------------------*/

.content .top .left {
  background:rgba(177,212,230,0.9);
  padding:4px;
  overflow:hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:left;
}
.content .top .left.conteiner_small {
  width:494px;
}
.content .top .left.conteiner_small .value {
  height: 288px;
}
.content .top .left.conteiner_big {
  width:989px;
}
.content .top .left.conteiner_big .value {
  height:100%;
}
.content .top .left .title {
  padding:12px 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-bottom:1px solid #e1e1e1;
  background: #fcfcfb;
  background: -moz-linear-gradient(top,  #fcfcfb 0%, #fcfcfb 49%, #f5f5f5 50%, #f5f5f5 50%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfb), color-stop(49%,#fcfcfb), color-stop(50%,#f5f5f5), color-stop(50%,#f5f5f5), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfb', endColorstr='#f5f5f5',GradientType=0 );
}
.content .top .left .title:after {
  content:' ';
  display:block;
  clear:both;
}
.content .top .left .title p {
  font-size:14px;
  color:#5d5e5f;
  float:left;
  line-height: 11px;
  margin:0 0 0 17px;
}
.content .top .left .title a {
  font-size:14px;
  color:#5d5e5f;
  text-decoration:none;
  float:right;
  margin:0 17px 0 0;
  line-height: 11px;
  border-bottom:1px dotted #5d5e5f;
}
.content .top .left .value {
  -webkit-border-radius:0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.content .top .left .value div {
  width:164px;
  float:left;
  cursor:pointer;
  height:31px;
  position:relative;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  background: #fdfdfd;
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #fafafa 40%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(40%,#fafafa), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#fafafa 40%,#ffffff 100%);
  background: -o-linear-gradient(top,  #fdfdfd 0%,#fafafa 40%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#fafafa 40%,#ffffff 100%);
  background: linear-gradient(to bottom,  #fdfdfd 0%,#fafafa 40%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ffffff',GradientType=0 );
}

.content .bottom .right .value:hover div, .content .top .left .value div:hover , .content .top .left .value div.active {
  background: #b5c73c !important;
  background: -moz-linear-gradient(top,  #b5c73c 0%, #ccde4f 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c73c), color-stop(100%,#ccde4f)) !important;
  background: -webkit-linear-gradient(top,  #b5c73c 0%,#ccde4f 100%) !important;
  background: -o-linear-gradient(top,  #b5c73c 0%,#ccde4f 100%) !important;
  background: -ms-linear-gradient(top,  #b5c73c 0%,#ccde4f 100%) !important;
  background: linear-gradient(to bottom,  #b5c73c 0%,#ccde4f 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c73c', endColorstr='#ccde4f',GradientType=0 ) !important;
}
.content .top .left .value div:hover:before, .content .top .left .value div.active:before {
  background:#b5c73c;
}
.content .top .left .value div:hover:after, .content .top .left .value div.active:after {
  background:#ccde4f;
}
.content .top .left .value div:before {
  background:#fdfdfd;
  height:5px;
  position:absolute;
  left:0;
  right:0;
  top:0;
  content:' ';
  display:block;
}
.content .top .left .value div:after {
  background:#fff;
  height:3px;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  content:' ';
  display:block;
}
.content .top .left.conteiner_small .value div:nth-child(3n+3) {
  border-right:0;
}
.content .top .left.conteiner_big .value div:nth-child(3n+3) {
  border-right:1px solid #e1e1e1;
}
.content .top .left.conteiner_big .value div:nth-child(6n+6) {
  border-right:0;
}
.content .top .left .value p {
  font-size:14px;
  font-weight:bold;
  color:#000;
  line-height: 11px;
  padding: 11px 0;
}
.content .top .left .value div:hover p, .content .top .left .value div.active p {
  color:#fff;
}

/* Ico
-----------------------------------------------------------------------------*/

.content .top .left .value div span,
.content .bottom .left .value td span span,
.content .bottom .right .value div span {
  background-image:url(/template/img/ico.png);
  width:27px;
  height:31px;
  float:left;
}

.content .bottom .right .value div span {
    width:31px !important;
}

.content .top .left .value div:hover span,
.content .bottom .left .value:hover td span span
.content .top .left .value div.active span,
.content .bottom .left .value.active td span span {
  background-position-x:-36px;
}

/* Right
-----------------------------------------------------------------------------*/

.content .top .right {
  width:450px;
  float:right;
}
.content_right_bottom .crc_ti, .content .top .right .crc_ti, .text-container .crc_ti,  .content .top .right .title {
  font-size:24px;
  font-weight:bold;
  color:#073353;
  margin:0 0 22px;
}
.content .top .right .crc_te, .content .top .right .text {
  font-size:15px;
  line-height:22px;
  color:#073353;
}

/* Bottom
-----------------------------------------------------------------------------*/
/* Left
-----------------------------------------------------------------------------*/

.content .bottom {
  padding:0 0 26px;
}
.content .bottom:after {
  content:' ';
  display:block;
  clear:both;
}
.content .bottom .left {
  background:rgba(177,212,230,0.9);
  padding:4px;
  /*overflow:hidden;*/
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:left;
  width:620px;
    position: relative;
}
.content .block .page_text table, .content .bottom .left table {
    border-radius:10px;
    overflow: hidden;
}
.content .block .page_text table .title, .content .bottom .left .title {
  width:620px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-bottom:1px solid #e1e1e1;
  background: #fcfcfb;
  background: -moz-linear-gradient(top,  #fcfcfb 0%, #fcfcfb 49%, #f5f5f5 50%, #f5f5f5 50%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfb), color-stop(49%,#fcfcfb), color-stop(50%,#f5f5f5), color-stop(50%,#f5f5f5), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfb', endColorstr='#f5f5f5',GradientType=0 );
}
.content .block .page_text th, .content .bottom .left .title th {
  padding:12px 0;
}
.content .block .page_text table .title:after, .content .bottom .left .title:after {
  content:' ';
  display:block;
  clear:both;
}
.content .block .page_text th, .content .bottom .left .title th {
  float:left;
  line-height: 11px;
  font-size:14px;
  color:#5d5e5f;
  text-align:center;
  width:100px;
}
.content .block .page_text th.first, .content .bottom .left .title th.first {
  width:218px;
  margin:0 0 0 17px;
  text-align:left;
}
.content .block .page_text th.last, .content .bottom .left .title th.last {
  width:80px;
}
.content .block .page_text .value, .content .bottom .left .value {
  float: left;
}
.content .block .page_text .value > td, .content .bottom .left .value > td {
  float:left;
  line-height: 11px;
  font-size:14px;
  height:104px;
  text-align:center;
  border-bottom:1px solid #e1e1e1;
  border-right:1px solid #e1e1e1;
  width:100px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 36%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(36%,#f5f5f5), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.content .block .page_text .value > td:nth-child(2) , .content .bottom .left .value > td:nth-child(2) {
    width: 110px;
}
.content .block .page_text .value > td:nth-child(3) ,.content .bottom .left .value > td:nth-child(3) {
    width: 110px;
}

.content .block .page_text .value > td:nth-child(4) , .content .bottom .left .value > td:nth-child(4) {
    width: 80px;
}


.content .bottom .left > div:last-child {
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.content .bottom .left .value:hover td:not(.full), .content .bottom .left .value.active td {
    cursor: pointer;
  color:#fff;
  background: #b5c73c;
  background: -moz-linear-gradient(top,  #b5c73c 0%, #ccde4f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c73c), color-stop(100%,#ccde4f));
  background: -webkit-linear-gradient(top,  #b5c73c 0%,#ccde4f 100%);
  background: -o-linear-gradient(top,  #b5c73c 0%,#ccde4f 100%);
  background: -ms-linear-gradient(top,  #b5c73c 0%,#ccde4f 100%);
  background: linear-gradient(to bottom,  #b5c73c 0%,#ccde4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c73c', endColorstr='#ccde4f',GradientType=0 );
}

.content .bottom .left .value:hover td span span, .content .bottom .left .value.active td span span {

    background-position-x:-36px;
}

.content .bottom .left .value td.full {
    width:600px;
    text-align:left;
    position: relative;
    padding: 10px;
}

.content .bottom .left .value td.first {
  width:235px;
  text-align:left;
    position: relative;
}
.content .bottom .left .value td.first img {
  margin:14px 7px 13px 9px;
  float:left;
}
.content .bottom .left .value td.last {
  border-right:0px solid #e1e1e1;
  width:81px;
  padding: 46px 0;
  height: 12px;
}
.content .bottom .left .value td p {
  margin:34px 0 10px;
  font-size:24px;
  font-weight:bold;
  line-height: 17px;
}
.content .bottom .left .value td > span {
  display:block;
  width: 85px;
  margin: 16px auto 0;
}
.content .bottom .left .value td > span > span {
  position: relative;
  top: -11px;
}
.content .bottom .left .value td p.reserv {
  font-size:17px;
  margin: 43px 0;
}
.content .bottom .left .value td.first .ico_1 {
  background:url(/template/img/ico_top10.png) no-repeat -6px -4px;
  width:20px;
  height:20px;
  float:left;
  margin:33px 5px 0 0;
}
.content .bottom .left .value td.first .ico_2 {
  background:url(/template/img/ico_top10.png) no-repeat -32px -4px;
  width:20px;
  height:20px;
  float:left;
  margin:33px 5px 0 0;
}
.content .bottom .left .value td.first .ico_3 {
  background:url(/template/img/ico_top10.png) no-repeat -54px -4px;
  width:20px;
  height:20px;
  float:left;
  margin:33px 5px 0 0;
}
.content .bottom .left .value td.first .ico_4 {
    background:url(/template/img/ico_top10.png) no-repeat -54px -4px;
    width:20px;
    height:20px;
    float:left;
    margin:33px 5px 0 0;
}
.content .bottom .left .value td.first .ico_5 {
    background:url(/template/img/ico_top10.png) no-repeat -86px -2px;;
    width:20px;
    height:20px;
    float:left;
    margin:33px 5px 0 0;
}
.content .bottom .left .value.active td.first .ico_1,
.content .bottom .left .value.active td.first .ico_2,
.content .bottom .left .value.active td.first .ico_3,
.content .bottom .left .value.active td.first .ico_4
.content .bottom .left .value.active td.first .ico_5{
  background-position-y:-28px !important;
}
.content .bottom .left .value td.first .domain {
  font-size:14px;
  font-weight:bold;
  float: left;
  margin:8px 0 0;
    position: absolute;
    top:56px;
    left: 114px
}
.content .bottom .left .value td.last {
  font-size:14px;
  text-align:center;
}
.content .bottom .left .value td.last .arrow_up {
  width:12px;
  height:12px;
  background:url(/template/img/ico_arrow_top10.png) no-repeat 0 -13px;
  float:left;
  margin:0 0 0 13px;
}
.content .bottom .left .value td.last .arrow_down {
  width:12px;
  height:12px;
  background:url(/template/img/ico_arrow_top10.png) no-repeat -39px -13px;
  float:right;
  margin:0 13px 0 0;
}
.content .bottom .left .value.active td.last .arrow_up,
.content .bottom .left .value.active td.last .arrow_down {
  background-position-y:-0 !important;
}


/* Right
-----------------------------------------------------------------------------*/

.content .bottom .right {
  background:rgba(177,212,230,0.9);
  padding:4px;
  overflow:hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:right;
  width:340px;
}
.content .bottom .right .title {
  padding:12px 0;
  width:340px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-bottom:1px solid #e1e1e1;
  background: #fcfcfb;
  background: -moz-linear-gradient(top,  #fcfcfb 0%, #fcfcfb 49%, #f5f5f5 50%, #f5f5f5 50%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfb), color-stop(49%,#fcfcfb), color-stop(50%,#f5f5f5), color-stop(50%,#f5f5f5), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #fcfcfb 0%,#fcfcfb 49%,#f5f5f5 50%,#f5f5f5 50%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfb', endColorstr='#f5f5f5',GradientType=0 );
}
.content .bottom .right .title:after {
  content:' ';
  display:block;
  clear:both;
}
.content .bottom .right .title p {
  float:left;
  line-height: 11px;
  font-size:14px;
  color:#5d5e5f;
  text-align:center;
  width:100px;
}
.content .bottom .right .title p.first {
  width:243px;
  margin:0 0 0 17px;
  text-align:left;
}
.content .bottom .right .title p.last {
  width:80px;
}
.content .bottom .right .value {
  float:left;
  width:340px;
    cursor: pointer;
}
.content .bottom .right .value:last-child {
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow:hidden;
}
.content .bottom .right .value > div {
  float:left;
  height:14px;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 36%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(36%,#f5f5f5), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 36%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
/*.content .bottom .right .value div .arrow_up {*/
  /*width:12px;*/
  /*height:12px;*/
  /*background:url(/template/img/ico_arrow_top10.png) no-repeat 0 -13px;*/
  /*float:left;*/
  /*margin:0 0 0 15px;*/
/*}*/

.content .bottom .right .value div .arrow_up {
    width:12px;
    height:12px;
    background:url(/template/img/ico_arrow_top10.png) no-repeat 0 -13px;
    float:right;
    /*margin:0 15px 0 0;*/
}
.content .bottom .right .value div .arrow_down {
  width:12px;
  height:12px;
  background:url(/template/img/ico_arrow_top10.png) no-repeat -39px -13px;
  float:right;
  /*margin:0 15px 0 0;*/
}
.content .bottom .right .value .row_1 span,
.content .bottom .right .value .row_3 span  {
  position: relative;
  top: -9px;
}
.content .bottom .right .value .row_1 {
  padding:10px;
  width:95px;
  line-height: 13px;
  font-weight:bold;
}
.content .bottom .right .value .row_2 { 
  padding:10px 13px;
}
.content .bottom .right .value .row_3 { 
  padding:10px;
  width:95px;
  font-weight:bold;
  line-height: 13px;
}
.content .bottom .right .value .row_4 { 
  width:65px;
  line-height: 13px;
  border-right:0;
  text-align: center;
  padding: 10px 0px;
}

/* text-container
-----------------------------------------------------------------------------*/

.text-container {
    min-height: 420px;
  padding:22px 0 10px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 80%, #ffffff 85%, #ffffff 85%, #c6e1ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(80%,#ffffff), color-stop(85%,#ffffff), color-stop(85%,#ffffff), color-stop(100%,#c6e1ef));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 80%,#ffffff 85%,#ffffff 85%,#c6e1ef 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 80%,#ffffff 85%,#ffffff 85%,#c6e1ef 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 80%,#ffffff 85%,#ffffff 85%,#c6e1ef 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 80%,#ffffff 85%,#ffffff 85%,#c6e1ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6e1ef',GradientType=0 );
}
.text-container .title {
  font-size:27px;
  font-weight:bold;
  color:#040404;
  margin:0 0 18px;
}
.text-container p {
  margin:0 0 18px;
  line-height:22px;
  color:#040404;
  font-size:15px;
}

.text-container {
    line-height:22px;
    color:#040404;
    font-size:15px;
}

.text-container h2 {
    font-size:18px;
    font-weight:bold;
    color:#040404;
    margin:0 0 18px;
}
/* form
-----------------------------------------------------------------------------*/

.content .top .rightform {
  background:rgba(177,212,230,0.9);
  padding:4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:right;
  width:424px;
}
.content .top .rightform form {
  width:344px;
  padding:40px;
  background:#fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position:relative;
}
.content .top .rightform .title {
  color:#5d5d5d;
  font-size:30px;
  font-weight:bold;
  margin:0 0 30px;
}
.register-form label,.content .top .rightform label {
  color:#767474;
  font-size:15px;
  display:block;
}
.register-form input[type="text"] ,.content .top .rightform input[type="text"],.content .top .rightform input[type="password"] {
  margin:12px 0;
  border:1px solid #b3b3b3;
  width:320px;
  height:60px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size:18px;
  -webkit-box-shadow:inset 2px 2px 3px 0 #e5e5e5;
  box-shadow:inset 2px 2px 3px 0 #e5e5e5;
  padding:0 10px;
}
.register-form input[type="submit"], .content .top .rightform input[type="submit"] {
  width:162px;
  height:62px;
  font-size:20px;
  color:#fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:4px solid #95a829;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor:pointer;
  background: #c4d248;
  background: -moz-linear-gradient(top,  #c4d248 0%, #a6bc30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4d248), color-stop(100%,#a6bc30));
  background: -webkit-linear-gradient(top,  #c4d248 0%,#a6bc30 100%);
  background: -o-linear-gradient(top,  #c4d248 0%,#a6bc30 100%);
  background: -ms-linear-gradient(top,  #c4d248 0%,#a6bc30 100%);
  background: linear-gradient(to bottom,  #c4d248 0%,#a6bc30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d248', endColorstr='#a6bc30',GradientType=0 );
}

/* page_text
-----------------------------------------------------------------------------*/

.page_text h3 {
    font-size: 22px;
    padding: 20px 10px 10px 10px;
}
.page_text {
  padding:22px 0 10px;
    font-size:15px;
}
.page_text .title {
  font-size:27px;
  font-weight:bold;
  color:#040404;
  margin:0 0 18px;
}
.page_text p {
  margin:0 0 18px;
  line-height:22px;
  color:#040404;
  font-size:15px;
}
.page_text a.button {
  border:1px solid #fff;
  text-align:center;
  padding:28px;
  width: 310px;
  display:block;
  font-size:18px;
  font-weight:bold;
  text-decoration:none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color:#fff;
  background: #c4d248;
  background: -moz-linear-gradient(top,  #c4d248 0%, #a6bc30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4d248), color-stop(100%,#a6bc30));
  background: -webkit-linear-gradient(top,  #c4d248 0%,#a6bc30 100%);
  background: -o-linear-gradient(top,  #c4d248 0%,#a6bc30 100%);
  background: -ms-linear-gradient(top,  #c4d248 0%,#a6bc30 100%);
  background: linear-gradient(to bottom,  #c4d248 0%,#a6bc30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d248', endColorstr='#a6bc30',GradientType=0 );
}

/* Footer
-----------------------------------------------------------------------------*/

.footer {
	width: 100%;
	/*min-width:1000px;*/
	margin: 0 auto;
	height: 88px;
	position: relative;
  background: #2576ab;
  background: -moz-linear-gradient(top,  #2576ab 0%, #2f84b7 10%, #295574 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2576ab), color-stop(10%,#2f84b7), color-stop(100%,#295574));
  background: -webkit-linear-gradient(top,  #2576ab 0%,#2f84b7 10%,#295574 100%);
  background: -o-linear-gradient(top,  #2576ab 0%,#2f84b7 10%,#295574 100%);
  background: -ms-linear-gradient(top,  #2576ab 0%,#2f84b7 10%,#295574 100%);
  background: linear-gradient(to bottom,  #2576ab 0%,#2f84b7 10%,#295574 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2576ab', endColorstr='#295574',GradientType=0 );
  text-shadow: 0 -1px 0px #2c5a7c;
}
.footer .menu {
  margin-top:45px;
  float:left;
}
.footer .menu a {
  color:#fff; 
  font-size:15px;
}
.footer .menu a:hover {
  text-decoration:none;
}
.footer .menu_1 {width:90px;margin-right:10px;}
.footer .menu_2 {width:90px;margin-right:140px;}
.footer .menu_3 {width:200px;margin-right:10px;}
.footer .menu_4 {width:170px;margin-right:10px;}
.footer .menu_5 {width:180px;margin-right:10px;}
.footer .menu_6 {width:90px;}
.footer .menu_1 li,.footer .menu_2 li {margin:0 0 28px;}
.footer .menu_3 li,.footer .menu_4 li,.footer .menu_5 li,.footer .menu_6 li {margin:0 0 14px;}
.footer .menu_3 a,.footer .menu_4 a,.footer .menu_5 a,.footer .menu_6 a {font-weight:bold;}

.copyright {
  height:86px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  font-size:15px;
  color:#fff;
}
.copyright:after,
.copyright:before {
  content:' ';
  display:block;
  position:absolute;
  width:100%;
  left:0;
  right:0;
}
.copyright:after {
  border-top:1px solid #26506d;
  top:-2px;
}
.copyright:before {
  border-top:1px solid #406a87;
  top:-1px;
}
.copyright span {
  position:relative;
  left:8px;
  top:36px;
}
#pmOverlay {z-index: 10 !important;
left: -327px !important;}


.sm_f_8 {
    font-size: 23px !important;
}

.sm_f_9 {
    font-size: 22px !important;
}

.sm_f_10 {
    font-size: 19px !important;
}
.sm_f_11 {
    font-size: 16px !important;
}
.sm_f_11, .sm_f_12, .sm_f_13 {
    font-size: 12px !important;
}

.img_hint {
    position: absolute;
    margin: -10px 0 0 110px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    padding: 6px;
    min-width: 180px;
}

.menu_icon {
    width: 58px;
    height: 56px;
    display: block;
}
.img_menu_hint {
    position: absolute;
    margin: -56px 0px 0px 58px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    padding: 6px;
    height: 42px;
    width: 82px;
    z-index: 99;
}
.fast_back {
    font-size:14px;
    color:#5d5e5f;
    text-decoration:none;
    float:right;
    margin-left: 10px;
    line-height: 11px;
    border-bottom:1px dotted #5d5e5f;
    cursor: pointer;
}

.exch_lmenu {
    position: absolute;
    width: 58px;
    height: 240px;
    left: -55px;
    top: 36px;
}

.exch_lmenu span {
    background-image:url(/template/img/lmenu.png);
    width:58px;
    height:56px;
    display: block;
    margin: 3px 0;
    cursor: pointer;
}

.exch_lmenu .reverse {
}
.exch_lmenu .calc {
    background-position: 0 -61px
}
.exch_lmenu .notify {
    background-position: 0 -122px
}
.exch_lmenu .double {
    background-position: 0 -183px
}

.w3 {
    width: 33% !important;
    padding: 0px !important;
}

th.header {
    cursor: pointer;
}

.disabled_div {
    opacity: 0.4;
}

.clist a{
    color: #000000;
}

form #ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    background-color: transparent !important;
    border: 0px !important;
}

form #ya-site-form0 .ya-site-form__form .ya-site-form__submit{
    background: url(/template/img/ico_search.png) no-repeat center center;
}

#ya-site-results {
    background: none !important;
}

.text-container .info {
    margin: 10px;
    padding: 10px;
    border: 1px solid #C9E2F0;
    text-align: center;
    background-color: #E5F1F7 ;
}

.text-container .info.err {
    border: 1px solid red !important;
}

td.text-row {
    line-height: 1.2 !important;
    height: 100% !important;
    min-height: 240px;
    font-size: 16px !important;
}

.ec_menu {
    padding-bottom: 20px;
}
.ec_menu ul li {
    display: inline;
    padding-right: 20px;
}

.ec_menu ul li  a{
    color: black;
    font-size: 18px;
}

.ectable th {
    font-weight: bold;
}
.ectable td, .ectable th{
    padding: 6px;
}

.ectable tr {
    border-bottom: 1px dashed #ccc;
}

.err {
    text-align: center;
    padding: 10px;
    color: red;
}

#center_notify .info {
    text-align: center;
    padding: 10px;
    color: green;
}

.tr_hover td:first-child {
    padding: 14px 0px 78px !important;

}

/*.info.err {*/
    /*color:red*/
/*}*/

.ex_desc {
    border: 1px solid #ccc;
    height: 160px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ex_comments {
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}

.ex_comments a {
    color:#073353;
}

.screenshot {
    float: left;
    padding: 0 20px;
    border-right: 1px solid #ccc;
    height: 160px;
}
.exch_stat {
    float: left;
    border-right: 1px solid #ccc;
    height: 160px;
}
.exch_stat div {
    padding: 40px 20px 0 20px;

}
.exch_desc {
    float: left;
    padding: 40px 20px 0 20px;
    width: 440px;
    height: 160px;
}

.comment_form label {
    display: block;
    float: left;
    width: 100px;
}

.comments {
    padding-top: 40px;
}

.comment {
    border-bottom: 1px dashed #ccc;
}
.comment_head {
    font-style: italic;
}
.comment.good {
    color: green;
}

.comment.bad {
    color: red;
}

.page_text .title p {
    font-weight: normal !important;
}

.right .value div {
    font-size: 12px;
}

.disabled_div.hidden {
    display: none;
}.breadcrumbs{	margin:0 0 10px 5px!important;	}
.breadcrumbs a{	text-decoration:underline!important;}
.breadcrumbs span{	border:none!important;}

.panel p {
  font-size: 14px; 
  line-height: 21px; 
  margin: 10px 2px;
}
.panel h1 {
  font-size: 24px;
  margin-top: 0px;
}
.first .glyphicon {
  line-height: 8px;
  top: -1px;
}

.top-margin {
  margin-top: 30px;
}

.form-group .cur {
  width: 220px;
  font-size: 28px;
}

.articles a {
  font-size: 15px;
}