
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*PLUGINS*/
/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
.owl-carousel.off {
    display: block;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../img/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../img/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(../img/blank.gif); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(../img/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url(../img/fancybox_sprite@2x.png);
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        background-image: url(../img/fancybox_loading@2x.gif);
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}

/*FONTS*/
@font-face {
    font-family:'SegoeUI';
    src: url('../fonts/Segoe UI.woff2') format('woff2'),
        url('../fonts/Segoe UI.woff') format('woff'),
        url('../fonts/Segoe UI.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1FFE;
}

@font-face {
    font-family:'SegoeUI-Light';
    src: url('../fonts/Segoe UI Light.woff2') format('woff2'),
        url('../fonts/Segoe UI Light.woff') format('woff'),
        url('../fonts/Segoe UI Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0527;
}
@font-face {
    font-family:'SegoeUI-Semibold';
    src: url('../fonts/Segoe UI Semibold.woff2') format('woff2'),
        url('../fonts/Segoe UI Semibold.woff') format('woff'),
        url('../fonts/Segoe UI Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1FBF;
}

/*COMMON STYLES*/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: normal;
    font-family: 'SegoeUI', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    outline: none;
}

h1{
    font-family: "SegoeUI-Semibold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}

.subheader {
    font-size: 30px;
    color: rgb(33, 33, 31);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

img {
    max-width: 100%;
}

.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 0 0 30px #000;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-col {
    padding: 0 20px;
    width: 50%;
}
.discount {
    font-size: 48px;
    font-family: "SegoeUI-Semibold", sans-serif;
    color: #ff9e00;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    width: 135px;
    height: 135px;
    line-height: 135px;
    -webkit-box-shadow: 0 3px 15px rgba(0,0,0,.02);
    -moz-box-shadow: 0 3px 15px rgba(0,0,0,.02);
    box-shadow: 0 3px 15px rgba(0,0,0,.02);
    position: absolute;
    top: 15px;
    right: -36px;
    z-index: 20;
}


.prices {
    font-size: 30px;
    color: #21211f;
    text-align: center;
    margin-top: 23px;
}

.old-price {
    text-decoration: line-through;
    margin: 0 10px 0 3px;
}

.new-price {
    font-size: 36px;
    font-family: "SegoeUI-Semibold", sans-serif;
}

.button {
    border: solid 1px #f69606;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 340px;
    display: block;
    margin: 20px auto 0;
    height: 72px;
    line-height: 64px;
    font-family: "SegoeUI-Semibold", sans-serif;
    background: #ffbb00; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbb00 0%, #ff9900 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffbb00 0%,#ff9900 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffbb00 0%,#ff9900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb00', endColorstr='#ff9900',GradientType=0 ); /* IE6-9 */
}


.button:hover {
    background: #ffc800; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc800 0%, #ffae00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc800 0%,#ffae00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffc800 0%,#ffae00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc800', endColorstr='#ffae00',GradientType=0 ); /* IE6-9 */
}

.button:active {
    background: #ff9900; /* Old browsers */
    background: -moz-linear-gradient(top, #ff9900 0%, #ffb900 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff9900 0%,#ffb900 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff9900 0%,#ffb900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ffb900',GradientType=0 ); /* IE6-9 */
}

/*HEADER STYLES*/

header {
    background: url(../img/header-bg.jpg) no-repeat center top;
    padding-top: 30px;
    padding-bottom: 147px;
}

header h1 {
    color: #21211f;
}

.product-container {
    margin-top: 15px;
    margin-left: -10px;
    position: relative;
}


/*PRODUCT DESCRIPTION STYLES*/
.product-description {
    color: #fff;
    background: url(../img/product-description-background.jpg) no-repeat center top;
    padding-bottom: 34px;
}

.product-description .main-col {
    float: left;
    padding: 0 10px;
}

.product-description h1 {
    letter-spacing: 1px;
    margin: -56px auto 36px;
    color: #fff;
}

.product-description p {
    line-height: 1.45;
    margin-bottom: 30px;
}

.product-description-photos {
    position: relative;
    top: -95px;
    font-size: 0;
}

.product-description-photos img{
    margin: 0 10px;
}

.product-description-image {
    text-align: center;
}


/*FEATURES SECTION STYLES*/
.features {
    text-align: center;
    padding: 41px 0 46px;
}

.features-list {
    font-size: 0;
    margin-top: 42px;
}

.features-item {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px);
    margin: 0 10px;
    font-size: 14px;
    color: #222222;
}

.features-item-header {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-family: 'SegoeUI-Semibold', sans-serif;
    margin: 20px 0 7px;
}

.features-item-text {
    line-height: 1.28;
}

.features .button {
    margin-top: 39px;
}
.features-item img {
    border-radius: 50%;
}


/*CHARACTERISTICS SECTION STYLES*/
.characteristics {
    background: url(../img/characteristics-bg.jpg) no-repeat center top;
    color: #fff;
    padding: 42px 0 60px;
}

.characteristics h1 {
    text-align: left;
    margin-top: 25px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
}


.characteristics .main-col {
    float: left;
    padding: 0 10px;
}

.characteristics-images {
    text-align: center;
}

.characteristics-images img {
    border-radius: 50%;
    margin: 11px 10px;
}

.characteristics-item {
    display: inline-block;
    width: 175px;
    margin-right: 65px;
    margin-bottom: 25px;
    vertical-align: top;
}

.characteristics-item:nth-child(odd) {
    margin-right: 0;
}

.characteristic {
    text-transform: uppercase;
    margin-bottom: 7px;
}

.value {
    color: #ff9900;
    font-family: 'SegoeUI-Semibold', sans-serif;
    letter-spacing: 0.5px;
}


/*REVIEWS STYLES*/
.reviews {
    background: #f2f2f2;
    padding: 44px 0 51px;
}

.reviews h1 {
    letter-spacing: 1px;
    margin-bottom: 34px;
}


.image-reviews {
    font-size: 0;
    margin-bottom: 32px;
}

.image-reviews .item {
    display: inline-block;
}

.image-reviews img {
    margin: 0 10px;
}

.image-reviews img:last-child {
    margin-right: -1px;
}

.text-reviews-item {
    float: left;
    margin: 0 10px;
    background: #fff;
    text-align: center;
    font-size: 15px;
    width: calc(50% - 20px);
}

.review-author {
    margin-bottom: 13px;
    font-family: 'SegoeUI-Semibold', sans-serif;
}

.review-text {
    line-height: 1.467;
    padding: 0 20px 20px;
}

/*ORDER SECTION STYLES*/
.order {
    padding: 40px 0 61px;
}

.order h1 {
    letter-spacing: 1px;
    margin-bottom: 83px;
}

.order-list {
    font-size: 0;
}

.order-item {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    font-size: 16px;
    width: calc(25% - 20px);
    text-align: center;
    position: relative;
    border: 2px solid #ff9900;
    padding: 34px 10px 26px;
}

.order-item:before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: -54px;
    left: 50%;
    margin-left: -40px;
    background: url(../img/order-item-01.jpg) no-repeat center;
}

.order-item:nth-child(2):before {
    background-image: url(../img/order-item-02.jpg);
}
.order-item:nth-child(3):before {
    background-image: url(../img/order-item-03.jpg);
}
.order-item:nth-child(4):before {
    background-image: url(../img/order-item-04.jpg);
}


.order-item-header {
    color: #222222;
    font-family: 'SegoeUI-Semibold', sans-serif;
    margin-bottom: 7px;
}

.order-item-text {
    font-size: 14px;
    color: #333333;
    line-height: 1.286;
}

/*FOOTER STYLES*/

footer {
    background: url(../img/footer-bg.jpg) no-repeat center top;
    text-align: center;
    padding: 33px 0 50px;
}

footer .main-col {
    float: left;
    padding: 0 10px;
}

.order-form {
    background: #fff;
    border-radius: 10px;
    padding: 18px 60px 37px;
}

.form-header {
    font-size: 30px;
    font-family: 'SegoeUI-Semibold', sans-serif;
    color: #21211f;
    line-height: 1.2;
    margin-bottom: 14px;
}

.form-subheader {
    font-family: "Segoe UI", sans-serif;
    display: block;
}

.timer-item {
    display: inline-block;
}

.timer-item .title {
    display: block;
    font-size: 16px;
}

.timer {
    font-size: 0;
}

.number {
    display: inline-block;
    font-family: 'SegoeUI-Semibold', sans-serif;
    background-color: #7d97bd;
    font-size: 22px;
    line-height: 1.8;
    color: #fff;
    width: 46px;
}

.number:first-child {
    margin-right: 10px;
}


.timer-title {
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 3px;
}

.delimiter {
    vertical-align: top;
    font-size: 22px;
    font-family: 'SegoeUI-Semibold', sans-serif;
    color: #787878;
    line-height: 1.8;
    margin: 0 5px;
}


form {
    margin-top: 20px;
}

input {
    width: 340px;
    height: 71px;
    border: none;
    text-align: center;
    border-radius: 25px;
    background-color: #f2f2f2;
    font-size: 18px;
    color: #21211f;
    margin-bottom: 15px;
}

footer .button {
    margin-top: 0;
}

footer h1 {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

footer .subheader {
    font-family: 'SegoeUI-Light', sans-serif;
}

footer .prices {
    margin-top: 12px;
}

footer .product-container {
    margin: 27px 0 0 -73px;
}

footer .discount {
    top: 4px;
    right: 0;
}

.copyright {
    text-align: center;
    padding: 20px 0;
}

.copyright a {
    display: block;
    font-size: 14px;
    color: #5a5a5a;
    text-decoration: underline;
}
.show-mobile, .show-xs {
    display: none;
}

/*MEDIA QUERIES*/
@media (max-width: 980px) {
    .container {
        width: 640px;
    }

    .show-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

    header .main-col {
        width: 74%;
    }

    .discount {
        right: 10px;
    }

    .product-description-photos img {
        width: 190px;
    }

    .product-description p {
        margin-bottom: 20px;
    }

    .product-description h1 {
        margin-bottom: 15px;
    }

    .features-item {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

    .characteristics-images img {
        width: 120px;
    }

    .characteristics .main-col {
        width: 100%;
        float: none;
    }

    .characteristics {
        padding: 11px 0 9px;
        text-align: center;
        background-color: #203145;
    }

    .characteristics h1 {
        text-align: center;
    }

    .reviews .owl-item {
        text-align: center;
    }
    .image-reviews {
        text-align: center;
    }
    .image-reviews img {
        margin-bottom: 15px;
    }

    .order-item {
        width: calc(50% - 20px);
        min-height: 125px;
        margin-bottom: 62px;
    }

    .order {
        padding-bottom: 0;
    }

    footer .form-col{
        width: 380px;
    }

    footer .product-col {
        width: 260px;
        text-align: left;
    }

    footer .subheader {
        font-size: 24px;
        text-align: left;
        margin-bottom: 37px;
    }

    footer h1 {
        text-align: left;
        margin-bottom: 25px;
    }


    footer .show-mobile {
        font-size: 24px;
        font-family: "Segoe UI", sans-serif;
        color: #21211f;
    }

    footer .prices {
        text-align: left;
    }

    .order-form {
        padding: 18px 7px 37px;
    }

    footer .product-img {
        width: 210px;
        margin-top: 64px;
    }

    footer .product-container {
        margin: 10px auto;
    }

    footer .discount {
        width: 94px;
        height: 94px;
        font-size: 34px;
        line-height:94px;
    }

    footer .new-price {
        font-size: 30px;
    }

    footer .old-price {
        font-size: 24px;
    }
}


@media (max-width: 640px) {
    .hidden-xs {
        display: none;
    }

    .show-xs {
        display: block;
    }

    .container {
        width: 320px;
    }
    
    header {
        background-image: url(../img/header-bg-mobile.jpg);
        padding-bottom: 20px;
    }

    header .main-col {
        width: 100%;
        padding: 0 10px;
    }

    .subheader {
        font-size: 20px;
        line-height: 1.4;
    }

    header img {
        width: 250px;
    }

    header .discount {
        width: 106px;
        height: 106px;
        font-size: 38px;
        line-height: 106px;
        top: -10px;
        right: 0;
    }

    .prices {
        font-size: 24px;
    }

    .new-price {
        font-size: 30px;
    }

    .button {
        width: 300px;
    }

    .product-description-photos {
        display: none;
    }

    .product-description {
        padding-top: 20px;
        background: #323a4d;
    }

    .product-description h1 {
        margin: 0 auto  20px;
    }

    .product-description .main-col {
        float: none;
        width: 100%;
    }

    .product-description img{
        width: 180px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .features-item {
        width: auto;
        margin: 0 0 20px 0;
        padding: 0 10px;
    }

    .characteristics {
        background-image: none;
    }

    .text-reviews-item{
        float: none;
        margin: 10px auto;
        width: 100%;
    }

    .order-item {
        width: 100%;
        margin: 15px auto;
    }

    .order h1 {
        margin-bottom: 60px;
    }

    .characteristics-item {
        width: 100%;
        margin-right: 0;
    }
    
    footer {
        background-image: url(../img/footer-bg-mob.jpg);
        text-align: center;
        padding-top: 25px;
        padding-bottom: 0;
    }

    footer h1 {
        text-align: center;
        margin-bottom: 5px;
    }

    footer .subheader {
        text-align: center;
        margin-bottom: 7px;
    }

    footer .prices {
        text-align: center;
    }

    footer h1 {
        font-size: 30px;
    }

    footer .product-img {
        margin-top: 0;
        width: 255px;
    }

    footer .subheader {
        font-size: 20px;
    }

    footer .product-container {
        text-align: left;
    }

    footer .discount {
        width: 106px;
        height: 106px;
        line-height:106px;
        font-size: 38px;
        top: -6px;
        right: 13px;
    }

    footer .form-col {
        width: auto;
        float: none;
        margin-top: 25px;
        padding: 0;
    }
    .order-form {
        background: none;
        padding-top: 0;
    }
    .number:first-child {
        margin-right: 7px;
    }

    .number {
        width: 38px;
    }
    .form-header {
        margin-bottom: 4px;
    }

    .form-subheader {
        font-size: 26px;
    }

    input {
        width: 300px;
    }
}



