.version.index /* version checker */
{
	color: #000009;
	background-color: #2F81B2;
}

.html
{
	background: #FFFFFF url("../images/bg-dark1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 8433px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#pu166
{
	width: 0.01px;
	padding-bottom: 42px;
	margin-left: -100px;
}

#u166
{
	z-index: 907;
	position: fixed;
	top: 0px;
}

._u166.f9s_bot_left
{
	background-image: url("../images/u166_bot_left.png");
	overflow: visible;
	background-position: left top;
}

._u166.f9s_bot_right
{
	background-image: url("../images/u166_bot_right.png");
	overflow: visible;
	background-position: right top;
}

._u166.f9s_bot_mid
{
	background-image: url("../images/u166_bot_mid.png");
	overflow: visible;
	background-position: center top;
	margin-left: 96px;
	margin-right: 94px;
	height: 43px;
}

#u166-bw
{
	z-index: 907;
}

#u167-4
{
	z-index: 908;
	width: 275px;
	min-height: 27px;
	color: #ECC37F;
	font-size: 26px;
	line-height: 31px;
	text-align: left;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -600px;
}

#pamphletu1220
{
	z-index: 966;
	width: 0.01px;
	height: 41px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -350px;
}

#u1223
{
	z-index: 967;
	width: 204px;
	position: relative;
	margin-right: -10000px;
}

#u1224
{
	position: absolute;
	width: 204px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 41px;
}

#buttonu285
{
	z-index: 969;
	width: 203px;
	border-style: solid;
	border-color: #F0D194;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -350px;
	border-width: 0px 1px 0px 0px;
}

#buttonu285:hover
{
	border-color: #EDCE92;
	width: 203px;
	min-height: 0px;
	margin: 0px 0px 0px -350px;
}

#buttonu285.ButtonSelected
{
	border-color: #F0D194;
	width: 203px;
	min-height: 0px;
	margin: 0px 0px 0px -350px;
}

#u286
{
	z-index: 975;
	height: 10px;
	width: 20px;
	vertical-align: top;
	margin-left: 100px;
	position: relative;
	background: url("../images/u286.png") no-repeat 0px 0px;
}

#buttonu285:hover #u286
{
	background: url("../images/u286-r.png") no-repeat 0px 0px;
}

#u288-4
{
	z-index: 970;
	width: 203px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu285:hover #u288-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px -1px;
}

#buttonu285:hover #u288-4 p,#buttonu285:hover #u288-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1227
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 94px;
	left: -396px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1227popup
{
	z-index: 977;
}

#u1228
{
	z-index: 978;
	width: 898px;
	height: 428px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 6px 6px 31px 21px;
}

#u1309-4
{
	z-index: 998;
	width: 666px;
	min-height: 53px;
	color: #ECC37F;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 129px;
	position: relative;
}

#u1307-19
{
	z-index: 979;
	width: 898px;
	min-height: 361px;
	text-indent: 20px;
	margin-top: 7px;
	position: relative;
}

#u1307-2,#u1307-8,#u1307-14
{
	font-size: 19px;
	line-height: 25px;
	color: #CE9326;
	font-weight: bold;
}

#u1307-3,#u1307-5,#u1307-6,#u1307-9,#u1307-11,#u1307-12,#u1307-15,#u1307-17
{
	font-size: 17px;
	line-height: 22px;
	color: #EAC98A;
}

#u1241
{
	position: absolute;
	width: 24px;
	top: 124px;
	left: 526px;
}

#u1242
{
	z-index: 1003;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#buttonu290
{
	z-index: 924;
	width: 218px;
	border-style: solid;
	border-color: #EECF93;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -147px;
	border-width: 0px 1px 0px 0px;
}

#buttonu290:hover
{
	border-color: #ECC780;
	width: 218px;
	min-height: 0px;
	margin: 0px 0px 0px -147px;
}

#buttonu290.ButtonSelected
{
	border-color: #EECF93;
	width: 218px;
	min-height: 0px;
	margin: 0px 0px 0px -147px;
}

#u292
{
	z-index: 930;
	height: 10px;
	width: 20px;
	vertical-align: top;
	margin-left: 96px;
	position: relative;
	background: url("../images/u292.png") no-repeat 0px 0px;
}

#buttonu290:hover #u292
{
	background: url("../images/u292-r.png") no-repeat 0px 0px;
}

#u291-4
{
	z-index: 925;
	width: 218px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu285.ButtonSelected #u288-4,#buttonu290:hover #u291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px -1px;
}

#buttonu290:hover #u291-4 p,#buttonu290:hover #u291-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu204
{
	z-index: 916;
	width: 106px;
	border-style: solid;
	border-color: #EFD094;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 72px;
	border-width: 0px 1px 0px 0px;
}

#buttonu204:hover
{
	border-color: #EDCE92;
	width: 106px;
	min-height: 0px;
	margin: 0px 0px 0px 72px;
}

#buttonu204.ButtonSelected
{
	border-color: #EFD094;
	width: 106px;
	min-height: 0px;
	margin: 0px 0px 0px 72px;
}

#buttonu204_position_content
{
	padding-bottom: 7px;
}

#u206
{
	z-index: 922;
	height: 10px;
	width: 20px;
	vertical-align: top;
	margin-left: 49px;
	position: relative;
	background: url("../images/u206.png") no-repeat 0px 0px;
}

#buttonu204:hover #u206
{
	background: url("../images/u206-r.png") no-repeat 0px 0px;
}

#u205-4
{
	z-index: 917;
	width: 101px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	margin-left: 5px;
	position: relative;
}

#buttonu204:hover #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px 0px 5px;
}

#buttonu204.ButtonSelected #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px 0px 5px;
}

#buttonu204:hover #u205-4 p,#buttonu204:hover #u205-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#pamphletu1193
{
	z-index: 933;
	width: 0.01px;
	height: 42px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 178px;
}

#u1196
{
	z-index: 934;
	width: 188px;
	position: relative;
	margin-right: -10000px;
}

#u1197
{
	position: absolute;
	width: 188px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 42px;
}

#buttonu442
{
	z-index: 936;
	width: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 178px;
}

#buttonu442:hover
{
	margin: 0px 0px 0px 178px;
}

#buttonu442.ButtonSelected
{
	margin: 0px 0px 0px 178px;
}

#buttonu285_position_content,#buttonu290_position_content,#buttonu442_position_content
{
	padding-top: 1px;
	padding-bottom: 7px;
}

#u443
{
	z-index: 942;
	height: 10px;
	width: 20px;
	vertical-align: top;
	margin-left: 96px;
	position: relative;
	background: url("../images/u443.png") no-repeat 0px 0px;
}

#buttonu442:hover #u443
{
	background: url("../images/u443-r.png") no-repeat 0px 0px;
}

#u445-4
{
	z-index: 937;
	width: 188px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu290.ButtonSelected #u291-4,#buttonu442:hover #u445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px -1px;
}

#buttonu442.ButtonSelected #u445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px -1px;
}

#buttonu442:hover #u445-4 p,#buttonu442:hover #u445-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu285.ButtonSelected #u288-4 p,#buttonu285.ButtonSelected #u288-4 span,#buttonu290.ButtonSelected #u291-4 p,#buttonu290.ButtonSelected #u291-4 span,#buttonu204.ButtonSelected #u205-4 p,#buttonu204.ButtonSelected #u205-4 span,#buttonu442.ButtonSelected #u445-4 p,#buttonu442.ButtonSelected #u445-4 span
{
	color: #ECC37F;
	visibility: inherit;
}

#u288-2,#u291-2,#u205-2,#u445-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u288,#u291,#u205,#u445
{
	font-size: 18px;
	letter-spacing: 1px;
	color: #ECC37F;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	line-height: 22px;
}

#u1200
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 560px;
	left: -485px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1200popup
{
	z-index: 944;
}

#u1201
{
	z-index: 945;
	width: 903px;
	height: 429px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	padding-top: 9px;
	padding-right: 22px;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1204-4
{
	z-index: 947;
	width: 472px;
	min-height: 40px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u1202
{
	z-index: 957;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1207-4
{
	z-index: 959;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#u1209
{
	z-index: 955;
	width: 233px;
	margin-left: 53px;
	position: relative;
}

#u1208-4
{
	z-index: 951;
	width: 352px;
	min-height: 95px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1205
{
	z-index: 946;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 382px;
}

#u1214
{
	position: absolute;
	width: 24px;
	top: 592px;
	left: 436px;
}

#u1215
{
	z-index: 964;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#u454-4
{
	z-index: 912;
	width: 226px;
	min-height: 27px;
	color: #ECC37F;
	font-size: 21px;
	line-height: 25px;
	text-align: right;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 377px;
}

#top
{
	top: -42px;
	margin-bottom: -18px;
	position: relative;
}

#pu74
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u74
{
	z-index: 12;
	border-color: #EDC986;
	background: transparent url("../images/kowboyb.jpg") no-repeat center center;
}

#u74_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 10px;
	padding-bottom: 275px;
}

#u157
{
	z-index: 45;
	width: 718px;
	left: 582px;
	position: relative;
}

#u164-4
{
	z-index: 51;
	width: 606px;
	min-height: 40px;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	left: 638px;
	margin-top: 2px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u138-18
{
	z-index: 13;
	width: 602px;
	min-height: 162px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #444444;
	background-color: rgba(0, 0, 0, 0.73);
	color: #ECC37F;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	left: 638px;
	margin-top: 10px;
	position: relative;
	border-width: 4px 4px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.73);
}

#u174
{
	z-index: 19;
	display: block;
	vertical-align: top;
}

#u178
{
	z-index: 26;
	display: block;
	vertical-align: top;
}

#u182
{
	z-index: 33;
	display: block;
	vertical-align: top;
}

#u138-4,#u138-8,#u138-12,#u138-16
{
	padding-left: 33px;
}

#u138,#u138-5,#u138-9,#u138-13
{
	font-size: 1px;
	line-height: 0px;
}

#u177,#u181,#u185,#u438
{
	margin-top: -1px;
}

#u439
{
	z-index: 40;
	display: block;
	vertical-align: top;
}

#u74-bw
{
	z-index: 12;
	height: 639px;
}

#u151
{
	z-index: 43;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 270px;
}

#u91-4
{
	z-index: 47;
	width: 462px;
	min-height: 77px;
	color: #ECC37F;
	font-size: 68px;
	line-height: 82px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 703px;
}

#u447-4
{
	z-index: 55;
	width: 602px;
	min-height: 172px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 638px;
	border-width: 0px 0px 4px 4px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u251
{
	z-index: 59;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 301px;
}

#u257-10
{
	z-index: 61;
	width: 138px;
	min-height: 77px;
	color: #ECC37F;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 357px;
}

#u936
{
	z-index: 423;
	width: 367px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 459px;
	left: 751px;
}

#pamphletu305
{
	z-index: 589;
	width: 0.01px;
	height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 771px;
}

#u333
{
	z-index: 590;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#u334
{
	position: absolute;
	width: 326px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#buttonu258
{
	z-index: 592;
	width: 318px;
	background: #000000 url("../images/u258-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#buttonu258:hover
{
	background: #000000 url("../images/u258-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#545454),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#545454 ,#000000 100%);
	background: -o-linear-gradient(top,#545454 ,#000000 100%);
	background: linear-gradient(to bottom,#545454 ,#000000 100%);
	width: 318px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu258.ButtonSelected
{
	background: #000000 url("../images/u258-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	width: 318px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u262-4
{
	z-index: 593;
	width: 317px;
	min-height: 33px;
	color: #ECC37F;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u309
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 93px;
	left: -396px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u309popup
{
	z-index: 597;
}

#u310
{
	z-index: 598;
	width: 903px;
	height: 429px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	padding-top: 9px;
	padding-right: 22px;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1083-4
{
	z-index: 600;
	width: 472px;
	min-height: 40px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u1091
{
	z-index: 610;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1097-4
{
	z-index: 612;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#u1084
{
	z-index: 608;
	width: 233px;
	margin-left: 53px;
	position: relative;
}

#u1098-4
{
	z-index: 604;
	width: 352px;
	min-height: 95px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1081
{
	z-index: 599;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 382px;
}

#u337
{
	position: absolute;
	width: 24px;
	top: 125px;
	left: 526px;
}

#u338
{
	z-index: 617;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#u349
{
	z-index: 8;
	background: #BC8825 url("../images/u349-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EECF93),color-stop(62%, #BC8825));
	background: -webkit-linear-gradient(top,#EECF93 ,#BC8825 62%);
	background: -o-linear-gradient(top,#EECF93 ,#BC8825 62%);
	background: linear-gradient(to bottom,#EECF93 ,#BC8825 62%);
	border-color: #000000;
	padding-bottom: 0px;
}

#u349_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 2px;
	padding-bottom: 23px;
}

#u1484
{
	z-index: 906;
	width: 100px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 122px;
	position: relative;
}

#u452-4
{
	z-index: 136;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	left: 100px;
	position: relative;
}

#pu361-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 27px;
	position: relative;
}

#u361-4
{
	z-index: 124;
	width: 374px;
	min-height: 33px;
	color: #000000;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u387-4
{
	z-index: 128;
	width: 374px;
	min-height: 33px;
	color: #000000;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u393-4
{
	z-index: 132;
	width: 374px;
	min-height: 33px;
	color: #000000;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 787px;
}

#pbuttonu360
{
	width: 0.01px;
	left: 120px;
	margin-top: 11px;
	position: relative;
}

#buttonu360
{
	z-index: 103;
	width: 366px;
	background: #000000 url("../images/u360-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#buttonu360:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: #000000 url("../images/u360-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#271309),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#271309 ,#000000 100%);
	background: -o-linear-gradient(top,#271309 ,#000000 100%);
	background: linear-gradient(to bottom,#271309 ,#000000 100%);
	width: 366px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu360.ButtonSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #000000 url("../images/u360-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	width: 366px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u369-4
{
	z-index: 104;
	width: 330px;
	min-height: 185px;
	color: #DDBB7F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18px;
}

#u376
{
	z-index: 108;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 66px;
}

#buttonu382
{
	z-index: 110;
	width: 330px;
	background: #000000 url("../images/u360-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	position: relative;
	margin-right: -10000px;
	left: 393px;
	padding: 10px 18px 15px;
}

#buttonu382:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: #000000 url("../images/u360-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#271309),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#271309 ,#000000 100%);
	background: -o-linear-gradient(top,#271309 ,#000000 100%);
	background: linear-gradient(to bottom,#271309 ,#000000 100%);
	width: 330px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu382.ButtonSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #000000 url("../images/u360-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	width: 330px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u385-4
{
	z-index: 111;
	width: 330px;
	min-height: 209px;
	color: #DDBB7F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
}

#u394
{
	z-index: 115;
	width: 259px;
	margin-left: 44px;
	margin-top: 8px;
	position: relative;
}

#buttonu388
{
	z-index: 117;
	width: 366px;
	background: #000000 url("../images/u360-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 787px;
}

#buttonu388:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: #000000 url("../images/u360-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#271309),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#271309 ,#000000 100%);
	background: -o-linear-gradient(top,#271309 ,#000000 100%);
	background: linear-gradient(to bottom,#271309 ,#000000 100%);
	width: 366px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu388.ButtonSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #000000 url("../images/u360-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#201F1E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#201F1E ,#000000 100%);
	background: -o-linear-gradient(top,#201F1E ,#000000 100%);
	background: linear-gradient(to bottom,#201F1E ,#000000 100%);
	width: 366px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u389-4
{
	z-index: 118;
	width: 330px;
	min-height: 184px;
	color: #DDBB7F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18px;
}

#u400
{
	z-index: 122;
	width: 363px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
}

#u400_clip
{
	overflow: hidden;
	width: 363px;
	height: 280px;
}

#u400_img
{
	margin-right: -10px;
}

#u349-bw
{
	z-index: 8;
	height: 627px;
}

#pu453
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 42px;
}

#u453
{
	z-index: 156;
	width: 537px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u450
{
	z-index: 157;
	width: 529px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u448
{
	z-index: 158;
	width: 529px;
	min-height: 298px;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu276
{
	z-index: 71;
	width: 493px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	left: 587px;
	padding: 10px 5px 15px 21px;
	border-width: 0px 0px 3px 4px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#buttonu276:hover
{
	width: 493px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
}

#buttonu276.ButtonSelected
{
	width: 493px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
}

#u278-6
{
	z-index: 72;
	width: 493px;
	min-height: 73px;
	color: #B88935;
	font-size: 29px;
	line-height: 35px;
	text-align: left;
	position: relative;
}

#u263-4
{
	z-index: 78;
	width: 488px;
	min-height: 212px;
	color: #ECC37F;
	font-size: 22px;
	line-height: 26px;
	text-align: left;
	margin-top: 15px;
	position: relative;
}

#u455-4
{
	z-index: 152;
	width: 1200px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	margin-top: 34px;
	position: relative;
}

#u983
{
	z-index: 5;
	width: 606px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u456-7
{
	z-index: 82;
	width: 543px;
	min-height: 92px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 657px;
}

#u458-6
{
	z-index: 89;
	width: 397px;
	min-height: 43px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 730px;
}

#u461
{
	z-index: 95;
	width: 111px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #ECC37F;
	text-align: left;
	font-size: 34px;
	line-height: 41px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u464-6
{
	z-index: 97;
	width: 543px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 62px;
	line-height: 74px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 657px;
}

#u493
{
	z-index: 159;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 351px;
}

#u499-4
{
	z-index: 161;
	width: 191px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 418px;
}

#u501-4
{
	z-index: 165;
	width: 119px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 454px;
}

#u500-4
{
	z-index: 169;
	width: 273px;
	min-height: 39px;
	color: #ECC37F;
	font-size: 33px;
	line-height: 40px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 379px;
}

#u934
{
	z-index: 419;
	width: 367px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 747px;
}

#u946-4
{
	z-index: 424;
	width: 359px;
	color: #ECC37F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 749px;
}

#pamphletu1099
{
	z-index: 619;
	width: 0.01px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 738px;
}

#u1102
{
	z-index: 620;
	width: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1103
{
	position: absolute;
	width: 365px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: -5px;
}

#buttonu478
{
	z-index: 622;
	width: 318px;
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 39px;
}

#buttonu478:hover
{
	background: #ECCC8F url("../images/u478-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BC8825),color-stop(100%, #ECCC8F));
	background: -webkit-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: -o-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: linear-gradient(to bottom,#BC8825 ,#ECCC8F 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#buttonu478.ButtonSelected
{
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#u479-4
{
	z-index: 623;
	width: 317px;
	min-height: 33px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u1002
{
	z-index: 627;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1003
{
	z-index: 628;
	width: 65px;
	border-width: 2px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #000000;
	-moz-border-radius: 77px;
	-webkit-border-radius: 77px;
	-khtml-border-radius: 77px;
	border-radius: 77px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1103:hover #u1003
{
	border-width: 2px;
	border-style: solid;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1004-4
{
	z-index: 629;
	width: 79px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -7px;
}

#u1106
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -375px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1106popup
{
	z-index: 633;
}

#u1107
{
	z-index: 634;
	width: 903px;
	height: 429px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	padding-top: 9px;
	padding-right: 22px;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1110-4
{
	z-index: 636;
	width: 472px;
	min-height: 40px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u1108
{
	z-index: 646;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1113-4
{
	z-index: 648;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#u1115
{
	z-index: 644;
	width: 233px;
	margin-left: 53px;
	position: relative;
}

#u1114-4
{
	z-index: 640;
	width: 352px;
	min-height: 95px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1111
{
	z-index: 635;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 382px;
}

#u1121
{
	z-index: 653;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#u951
{
	z-index: 428;
	width: 362px;
	margin-left: 749px;
	margin-top: 5px;
	position: relative;
}

#u947-4
{
	z-index: 429;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u948-4
{
	z-index: 433;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u949-4
{
	z-index: 437;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u950-4
{
	z-index: 441;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u502
{
	z-index: 9;
	border-color: #000000;
	background-color: #BF8C2C;
	padding-bottom: 8px;
}

#u503-4
{
	z-index: 140;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 100px;
}

#u502-bw
{
	z-index: 9;
	margin-top: 40px;
	height: 69px;
}

#pu701
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 49px;
}

#u701
{
	z-index: 7;
	width: 1155px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	padding-bottom: 10px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u504-24
{
	z-index: 173;
	width: 840px;
	min-height: 458px;
	text-indent: 20px;
	color: #EAC98A;
	font-size: 17px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 295px;
}

#u504-2,#u504-6,#u504-8,#u504-10,#u504-14,#u504-19,#u504-21
{
	color: #BF8C2C;
	font-weight: bold;
}

#slideshowu505
{
	z-index: 201;
	width: 0.01px;
	height: 458px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
}

#u524
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 81px;
	left: 235px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u524popup
{
	z-index: 202;
}

#u529
{
	z-index: 203;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u594
{
	z-index: 205;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u603
{
	z-index: 207;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u612
{
	z-index: 209;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1396
{
	z-index: 211;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1396_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u630
{
	z-index: 213;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u639
{
	z-index: 215;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u648
{
	z-index: 217;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u529_img,#u594_img,#u603_img,#u612_img,#u630_img,#u639_img,#u648_img
{
	padding-left: 60px;
	padding-right: 60px;
}

.slider{
	margin-left:10px;
	width:260px;
}

#u597
{
	z-index: 222;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u513:hover,#u597:hover
{
	border-color: #DDBB7F;
	width: 112px;
	height: 99px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u606
{
	z-index: 224;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
}

#u615
{
	z-index: 226;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 130px;
}

#u606:hover,#u615:hover
{
	border-color: #DDBB7F;
	width: 112px;
	height: 99px;
	min-height: 0px;
	margin: 117px -10000px 0px 0px;
}

#u1399
{
	z-index: 228;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
}

#u633
{
	z-index: 230;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 130px;
}

#u1399:hover,#u633:hover
{
	border-color: #DDBB7F;
	width: 112px;
	height: 99px;
	min-height: 0px;
	margin: 234px -10000px 0px 0px;
}

#u642
{
	z-index: 232;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
}

#u651
{
	z-index: 234;
	width: 112px;
	height: 99px;
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 130px;
}

#u642:hover,#u651:hover
{
	border-color: #DDBB7F;
	width: 112px;
	height: 99px;
	min-height: 0px;
	margin: 351px -10000px 0px 0px;
}

#u513_clip,#u597_clip,#u606_clip,#u615_clip,#u633_clip,#u642_clip,#u651_clip
{
	overflow: hidden;
	width: 112px;
	height: 99px;
}

#u513_img,#u597_img,#u606_img,#u615_img,#u633_img,#u642_img,#u651_img
{
	margin-top: -6px;
	margin-bottom: -7px;
}

#u520-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 473px;
	left: 432px;
}

#u520-4popup
{
	z-index: 236;
}

#u510-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 473px;
	left: 533px;
}

#u510-4popup
{
	z-index: 240;
}

#u511-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 473px;
	left: 462px;
}

#u511-4popup
{
	z-index: 244;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u703
{
	z-index: 10;
	border-color: #000000;
	background-color: #BF8C2C;
	padding-bottom: 8px;
}

#u702-4
{
	z-index: 144;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 100px;
}

#u703-bw
{
	z-index: 10;
	margin-top: 43px;
	height: 69px;
}

#u704-4
{
	z-index: 197;
	width: 1200px;
	min-height: 68px;
	text-indent: 20px;
	color: #EAC98A;
	font-size: 27px;
	line-height: 35px;
	text-align: center;
	margin-top: 39px;
	position: relative;
}

#pu707
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 19px;
}

#u707
{
	z-index: 248;
	width: 484px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u707_clip
{
	overflow: hidden;
	width: 484px;
	height: 484px;
}

#u707_img
{
	margin: -4px;
}

#buttonu818
{
	z-index: 382;
	width: 648px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	padding-right: 16px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 521px;
	border-width: 0px 4px 4px 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#buttonu818:hover
{
	width: 648px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu818.ButtonSelected
{
	width: 648px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u705-22
{
	z-index: 383;
	width: 648px;
	min-height: 221px;
	font-size: 31px;
	line-height: 37px;
	color: #BF8C2C;
	position: relative;
}

#u705,#u705-2,#u705-3,#u705-6,#u705-9,#u705-12,#u705-15,#u705-18
{
	color: #ECCC8F;
}

#u821-14
{
	z-index: 405;
	width: 644px;
	min-height: 251px;
	font-size: 31px;
	line-height: 37px;
	color: #BF8C2C;
	margin-top: 10px;
	position: relative;
}

#u705-5,#u705-8,#u705-11,#u705-14,#u705-17,#u705-20,#u821-2,#u821-4,#u821-6,#u821-8,#u821-10,#u821-12
{
	padding-left: 19px;
}

#u755-4
{
	z-index: 250;
	width: 1200px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	margin-top: 22px;
	position: relative;
}

#u938
{
	z-index: 420;
	width: 367px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 734px;
}

#u952-7
{
	z-index: 445;
	width: 543px;
	min-height: 92px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 650px;
}

#u953-6
{
	z-index: 452;
	width: 397px;
	min-height: 43px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 723px;
}

#u955
{
	z-index: 458;
	width: 111px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #ECC37F;
	text-align: left;
	font-size: 34px;
	line-height: 41px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u957-6
{
	z-index: 460;
	width: 543px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 62px;
	line-height: 74px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 650px;
}

#u975-4
{
	z-index: 466;
	width: 359px;
	color: #ECC37F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 742px;
}

#u989
{
	z-index: 487;
	width: 606px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u991
{
	z-index: 489;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 351px;
}

#u993-4
{
	z-index: 491;
	width: 191px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 418px;
}

#u994-4
{
	z-index: 495;
	width: 119px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 454px;
}

#u995-4
{
	z-index: 499;
	width: 273px;
	min-height: 39px;
	color: #ECC37F;
	font-size: 33px;
	line-height: 40px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 379px;
}

#pamphletu1247
{
	z-index: 661;
	width: 0.01px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 715px;
}

#u1259
{
	z-index: 662;
	width: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1260
{
	position: absolute;
	width: 365px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: -5px;
}

#buttonu1261
{
	z-index: 664;
	width: 318px;
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 39px;
}

#buttonu1261:hover
{
	background: #ECCC8F url("../images/u478-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BC8825),color-stop(100%, #ECCC8F));
	background: -webkit-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: -o-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: linear-gradient(to bottom,#BC8825 ,#ECCC8F 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#buttonu1261.ButtonSelected
{
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#u1262-4
{
	z-index: 665;
	width: 317px;
	min-height: 33px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u1263
{
	z-index: 669;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1265
{
	z-index: 670;
	width: 65px;
	border-width: 2px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #000000;
	-moz-border-radius: 77px;
	-webkit-border-radius: 77px;
	-khtml-border-radius: 77px;
	border-radius: 77px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1260:hover #u1265
{
	border-width: 2px;
	border-style: solid;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1264-4
{
	z-index: 671;
	width: 79px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -7px;
}

#u1248
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -375px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1248popup
{
	z-index: 675;
}

#u1249
{
	z-index: 676;
	width: 903px;
	height: 429px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	padding-top: 9px;
	padding-right: 22px;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1254-4
{
	z-index: 678;
	width: 472px;
	min-height: 40px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u1251
{
	z-index: 688;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1253-4
{
	z-index: 690;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#u1257
{
	z-index: 686;
	width: 233px;
	margin-left: 53px;
	position: relative;
}

#u1250-4
{
	z-index: 682;
	width: 352px;
	min-height: 95px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1255
{
	z-index: 677;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 382px;
}

#u1270
{
	z-index: 695;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#u976
{
	z-index: 470;
	width: 362px;
	margin-left: 749px;
	margin-top: 5px;
	position: relative;
}

#u979-4
{
	z-index: 471;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u977-4
{
	z-index: 475;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u978-4
{
	z-index: 479;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u980-4
{
	z-index: 483;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#team
{
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u770
{
	z-index: 325;
	border-color: #000000;
	background-color: #BF8C2C;
	padding-bottom: 8px;
}

#u771-4
{
	z-index: 326;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 100px;
}

#u770-bw
{
	z-index: 325;
	margin-top: 24px;
	height: 69px;
}

#ppu815-6
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 61px;
}

#u815-6
{
	z-index: 364;
	width: 490px;
	min-height: 164px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 4px 4px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u778
{
	z-index: 374;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 419px;
}

#u808-6
{
	z-index: 330;
	width: 491px;
	min-height: 164px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
	border-width: 0px 4px 4px 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u772
{
	z-index: 376;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#ppu811-6
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 56px;
}

#pu815-6,#pu811-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 590px;
}

#u811-6
{
	z-index: 350;
	width: 490px;
	min-height: 190px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 4px 4px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u793
{
	z-index: 370;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 419px;
}

#u816-6
{
	z-index: 336;
	width: 491px;
	min-height: 163px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
	border-width: 0px 4px 4px 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u788
{
	z-index: 380;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#ppu814-8
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 45px;
}

#pu814-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 589px;
}

#u814-8
{
	z-index: 356;
	width: 490px;
	min-height: 154px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 4px 4px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u815-2,#u811-2,#u814-2
{
	padding-right: 110px;
	padding-left: 10px;
	color: #BF8C2C;
	font-weight: bold;
}

#u815-4,#u811-4,#u814-4,#u814-6
{
	padding-right: 110px;
	padding-left: 10px;
	color: #ECCC8F;
}

#u798
{
	z-index: 372;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 419px;
}

#u817-8
{
	z-index: 342;
	width: 491px;
	min-height: 156px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
	border-width: 0px 4px 4px 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u808-2,#u816-2,#u817-2
{
	padding-right: 10px;
	padding-left: 110px;
	color: #BF8C2C;
	font-weight: bold;
}

#u808-4,#u816-4,#u817-4,#u817-6
{
	padding-right: 10px;
	padding-left: 110px;
	color: #ECCC8F;
}

#u783
{
	z-index: 378;
	width: 150px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u998-7
{
	z-index: 503;
	width: 1159px;
	min-height: 243px;
	text-indent: 20px;
	color: #EAC98A;
	font-size: 17px;
	line-height: 22px;
	margin-left: 21px;
	margin-top: 30px;
	position: relative;
}

#u767
{
	z-index: 11;
	border-color: #000000;
	background-color: #BF8C2C;
	padding-bottom: 10px;
}

#u768-4
{
	z-index: 148;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 99px;
}

#u767-bw
{
	z-index: 11;
	margin-top: 52px;
	height: 67px;
}

#pu1190
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 30px;
}

#u1190
{
	z-index: 3;
	width: 259px;
	-webkit-transform: matrix(0.7771,-0.6293,0.6293,0.7771,-32,103);
	-ms-transform: matrix(0.7771,-0.6293,0.6293,0.7771,-32,103);
	-o-transform: matrix(0.7771,-0.6293,0.6293,0.7771,-32,103);
	transform: matrix(0.7771,-0.6293,0.6293,0.7771,-32,103);
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 107px;
}

#u769-29
{
	z-index: 254;
	width: 717px;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u769-2,#u769-4,#u769-6,#u769-8,#u769-10,#u769-12,#u769-14,#u769-16,#u769-18,#u769-20,#u769-22,#u769-24,#u769-26
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	padding-top: 10px;
	color: #ECCC8F;
}

#u1075
{
	z-index: 577;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 101px;
}

#u1077-10
{
	z-index: 579;
	width: 138px;
	min-height: 106px;
	color: #ECC37F;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 157px;
}

#u1187
{
	z-index: 655;
	width: 439px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u1186-4
{
	z-index: 657;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 56px;
}

#u1027-4
{
	z-index: 510;
	width: 1200px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	margin-top: 29px;
	position: relative;
}

#pu938,#pu940
{
	width: 0.01px;
	margin-left: 7px;
}

#u940
{
	z-index: 421;
	width: 367px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 738px;
}

#u1030-7
{
	z-index: 514;
	width: 543px;
	min-height: 92px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 650px;
}

#u1031-6
{
	z-index: 521;
	width: 397px;
	min-height: 43px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 723px;
}

#u1033
{
	z-index: 527;
	width: 111px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #ECC37F;
	text-align: left;
	font-size: 34px;
	line-height: 41px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1035-6
{
	z-index: 529;
	width: 543px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 62px;
	line-height: 74px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 650px;
}

#u1036-4
{
	z-index: 535;
	width: 359px;
	color: #ECC37F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 742px;
}

#u1042
{
	z-index: 556;
	width: 606px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u1044
{
	z-index: 558;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 351px;
}

#u1046-4
{
	z-index: 560;
	width: 191px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 418px;
}

#u1047-4
{
	z-index: 564;
	width: 119px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 454px;
}

#u1048-4
{
	z-index: 568;
	width: 273px;
	min-height: 39px;
	color: #ECC37F;
	font-size: 33px;
	line-height: 40px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 379px;
}

#pamphletu1277
{
	z-index: 697;
	width: 0.01px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 718px;
}

#u1289
{
	z-index: 698;
	width: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1290
{
	position: absolute;
	width: 365px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: -5px;
}

#buttonu1291
{
	z-index: 700;
	width: 318px;
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 39px;
}

#buttonu1291:hover
{
	background: #ECCC8F url("../images/u478-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BC8825),color-stop(100%, #ECCC8F));
	background: -webkit-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: -o-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: linear-gradient(to bottom,#BC8825 ,#ECCC8F 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#buttonu1291.ButtonSelected
{
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#u1292-4
{
	z-index: 701;
	width: 317px;
	min-height: 33px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u1293
{
	z-index: 705;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1295
{
	z-index: 706;
	width: 65px;
	border-width: 2px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #000000;
	-moz-border-radius: 77px;
	-webkit-border-radius: 77px;
	-khtml-border-radius: 77px;
	border-radius: 77px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1290:hover #u1295
{
	border-width: 2px;
	border-style: solid;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1294-4
{
	z-index: 707;
	width: 79px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -7px;
}

#u1278
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -375px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1278popup
{
	z-index: 711;
}

#u1279
{
	z-index: 712;
	width: 903px;
	height: 429px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	padding-top: 9px;
	padding-right: 22px;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1284-4
{
	z-index: 714;
	width: 472px;
	min-height: 40px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u1281
{
	z-index: 724;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1283-4
{
	z-index: 726;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#ppu1209,#ppu1084,#ppu1115,#ppu1257,#ppu1287
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 1px;
}

#pu1209,#pu1084,#pu1115,#pu1257,#pu1287
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1287
{
	z-index: 722;
	width: 233px;
	margin-left: 53px;
	position: relative;
}

#u1280-4
{
	z-index: 718;
	width: 352px;
	min-height: 95px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u1285
{
	z-index: 713;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 382px;
}

#u1300
{
	z-index: 731;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#ppay
{
	width: 0.01px;
	margin-top: -1px;
}

#pay
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u1037
{
	z-index: 539;
	width: 362px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 749px;
}

#u1041-4
{
	z-index: 540;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1040-4
{
	z-index: 544;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1038-4
{
	z-index: 548;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u1039-4
{
	z-index: 552;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u1073
{
	z-index: 572;
	border-color: #000000;
	background-color: #BF8C2C;
	padding-bottom: 9px;
}

#u1074-4
{
	z-index: 573;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 100px;
}

#u1073-bw
{
	z-index: 572;
	margin-top: 22px;
	height: 68px;
}

#ppu1385
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 17px;
}

#pu1385
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1385
{
	z-index: 843;
	width: 272px;
	position: relative;
}

#u1405
{
	z-index: 845;
	width: 233px;
	margin-left: 19px;
	margin-top: 35px;
	position: relative;
}

#u1408
{
	z-index: 847;
	width: 250px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 30px;
	position: relative;
}

#pu1414
{
	width: 0.01px;
	/*margin-left: 11px;*/
	margin-left: 480px;
	margin-top: 22px;
}

#u1414
{
	z-index: 849;
	width: 250px;
	position: relative;
	margin-right: -10000px;
}

#u1416-10
{
	z-index: 851;
	width: 138px;
	min-height: 106px;
	color: #ECC37F;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 56px;
}

#u257-2,#u1077-2,#u1416-2
{
	font-size: 30px;
	line-height: 36px;
}

#u257-4,#u257-6,#u257-8,#u1077-4,#u1077-6,#u1077-8,#u1416-4,#u1416-6,#u1416-8
{
	font-size: 18px;
	line-height: 22px;
}

#u1312-42
{
	z-index: 283;
	width: 833px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u1312-16,#u1312-21
{
	font-weight: bold;
}

#u1312-2,#u1312-10,#u1312-14,#u1312-26,#u1312-30
{
	font-size: 24px;
	line-height: 29px;
	padding-top: 10px;
	color: #CE9326;
	font-weight: bold;
}

#u1312-4,#u1312-6,#u1312-8,#u1312-12,#u1312-17,#u1312-19,#u1312-22,#u1312-24,#u1312-28,#u1312-32,#u1312-34,#u1312-36,#u1312-38,#u1312-40
{
	font-size: 20px;
	line-height: 24px;
	padding-top: 10px;
	color: #ECCC8F;
}

#u1315-4
{
	z-index: 735;
	width: 1200px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 44px;
	line-height: 53px;
	text-align: center;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 26px;
	position: relative;
}

#pu942
{
	width: 0.01px;
	margin-left: 8px;
}

#u942
{
	z-index: 422;
	width: 367px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 415px;
	left: 738px;
}

#u1316-7
{
	z-index: 739;
	width: 543px;
	min-height: 92px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 650px;
}

#u456-2,#u456-4,#u952-2,#u952-4,#u1030-2,#u1030-4,#u1316-2,#u1316-4
{
	color: #FFFFFF;
}

#u1317-6
{
	z-index: 752;
	width: 397px;
	min-height: 43px;
	color: #B88935;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 723px;
}

#u463,#u954,#u1032,#u1318
{
	float: right;
}

#u1319
{
	z-index: 758;
	width: 111px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #ECC37F;
	text-align: left;
	font-size: 34px;
	line-height: 41px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1321-6
{
	z-index: 760;
	width: 543px;
	min-height: 56px;
	color: #ECC37F;
	font-size: 62px;
	line-height: 74px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 650px;
}

#u1322-4
{
	z-index: 770;
	width: 359px;
	color: #ECC37F;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 742px;
}

#u1323
{
	z-index: 774;
	width: 606px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u1325
{
	z-index: 776;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 351px;
}

#u1327-4
{
	z-index: 778;
	width: 191px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 418px;
}

#u1328-4
{
	z-index: 782;
	width: 119px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 454px;
}

#u1329-4
{
	z-index: 786;
	width: 273px;
	min-height: 39px;
	color: #ECC37F;
	font-size: 33px;
	line-height: 40px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 379px;
}

#pamphletu1330
{
	z-index: 790;
	width: 0.01px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 718px;
}

#u1331
{
	z-index: 791;
	width: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1332
{
	position: absolute;
	width: 365px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 1px;
	left: -5px;
}

#buttonu1333
{
	z-index: 793;
	width: 318px;
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	border-width: 4px;
	border-style: solid;
	border-color: #DDBB7F;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 39px;
}

#buttonu1333:hover
{
	background: #ECCC8F url("../images/u478-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BC8825),color-stop(100%, #ECCC8F));
	background: -webkit-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: -o-linear-gradient(top,#BC8825 ,#ECCC8F 100%);
	background: linear-gradient(to bottom,#BC8825 ,#ECCC8F 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#buttonu1333.ButtonSelected
{
	background: #BC8825 url("../images/u478-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EDCD90),color-stop(100%, #BC8825));
	background: -webkit-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: -o-linear-gradient(top,#EDCD90 ,#BC8825 100%);
	background: linear-gradient(to bottom,#EDCD90 ,#BC8825 100%);
	width: 318px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
}

#u1334-4
{
	z-index: 794;
	width: 317px;
	min-height: 33px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u1335
{
	z-index: 798;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u1337
{
	z-index: 799;
	width: 65px;
	border-width: 2px;
	border-style: solid;
	border-color: #DDBB7F;
	background-color: #000000;
	-moz-border-radius: 77px;
	-webkit-border-radius: 77px;
	-khtml-border-radius: 77px;
	border-radius: 77px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1332:hover #u1337
{
	border-width: 2px;
	border-style: solid;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1103.PamphletThumbSelected #u1003,#u1260.PamphletThumbSelected #u1265,#u1290.PamphletThumbSelected #u1295,#u1332.PamphletThumbSelected #u1337
{
	border-width: 4px;
	border-style: solid;
	width: 63px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u1336-4
{
	z-index: 800;
	width: 79px;
	min-height: 28px;
	color: #ECC37F;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -7px;
}

#u1343
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -375px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1343popup
{
	z-index: 804;
}

#u1344
{
	z-index: 805;
	width: 903px;
	height: 429px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	padding-top: 9px;
	padding-right: 22px;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1204-4,#pu1083-4,#pu983,#pu1110-4,#pu1254-4,#pu1284-4,#pu1350-4
{
	width: 0.01px;
}

#u1350-4
{
	z-index: 807;
	width: 472px;
	min-height: 40px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u1347
{
	z-index: 817;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1353-4
{
	z-index: 819;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#pu1345
{
	width: 0.01px;
	margin-left: 97px;
	margin-top: 1px;
}

#u1345
{
	z-index: 815;
	width: 233px;
	position: relative;
	margin-right: -10000px;
}

#u1351
{
	z-index: 806;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 329px;
}

#u1349-4
{
	z-index: 811;
	width: 352px;
	min-height: 95px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 43px;
	top: -95px;
	margin-bottom: -95px;
	position: relative;
}

#u1120,#u1269,#u1299,#u1354
{
	position: absolute;
	width: 24px;
	top: 154px;
	left: 547px;
}

#u1355
{
	z-index: 824;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#u1362
{
	z-index: 826;
	width: 362px;
	margin-left: 748px;
	margin-top: 3px;
	position: relative;
}

#u1365-4
{
	z-index: 827;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1366-4
{
	z-index: 831;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1363-4
{
	z-index: 835;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u1364-4
{
	z-index: 839;
	width: 84px;
	color: #ECC37F;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#pu1425-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 36px;
}

#u1425-4
{
	z-index: 766;
	width: 569px;
	min-height: 65px;
	color: #ECC37F;
	font-size: 48px;
	line-height: 58px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1427
{
	z-index: 865;
	width: 0.01px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u1431
{
	z-index: 866;
	width: 569px;
	position: relative;
	margin-right: -10000px;
}

#u1432
{
	position: absolute;
	width: 569px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u1224:hover,#u1197:hover,#u334:hover,#u1103:hover,#u1260:hover,#u1290:hover,#u1332:hover,#u1432:hover
{
	border-color: #999999;
	margin: 0px;
}

#u1426-4
{
	z-index: 868;
	width: 569px;
	min-height: 65px;
	background-color: transparent;
	color: #CE9326;
	font-size: 48px;
	line-height: 58px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u1432:hover #u1426-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	margin: 0px -10000px 0px 0px;
}

#u1432.PamphletThumbSelected #u1426-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	margin: 0px -10000px 0px 0px;
}

#u1432:hover #u1426-4 p,#u1432:hover #u1426-4 h1,#u1432:hover #u1426-4 span
{
	text-decoration: none;
}

#u1441
{
	position: absolute;
	width: 977px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 1px;
	left: 88px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1441popup
{
	z-index: 872;
}

#u1442
{
	z-index: 873;
	width: 925px;
	height: 465px;
	border-width: 4px;
	border-style: solid;
	border-color: #ECCC8F;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1446-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1446-6
{
	z-index: 875;
	width: 472px;
	min-height: 80px;
	color: #CE9326;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 431px;
}

#u1444
{
	z-index: 887;
	width: 439px;
	position: relative;
	margin-right: -10000px;
}

#u1449-4
{
	z-index: 889;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#pu1447
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 121px;
	margin-left: 36px;
}

#u1447
{
	z-index: 885;
	width: 233px;
	margin-left: 60px;
	position: relative;
}

#u1443-4
{
	z-index: 881;
	width: 352px;
	min-height: 48px;
	color: #ECCC8F;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 29px;
	position: relative;
}

#u1450
{
	z-index: 874;
	width: 477px;
	min-height: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 426px;
}

#u1438
{
	position: absolute;
	width: 24px;
	top: 32px;
	left: 1010px;
}

#u1439
{
	z-index: 894;
	width: 24px;
	position: relative;
	margin-right: -10000px;
}

#pu1418
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 28px;
}

#u1418
{
	z-index: 2;
	border-style: solid;
	border-color: #ECCC8F;
	padding-bottom: 17px;
	border-width: 4px 0px 0px;
	background: transparent url("../images/bg-dark-4779.jpg") repeat left top;
}

#u502_align_to_page,#u703_align_to_page,#u770_align_to_page,#u767_align_to_page,#u1073_align_to_page,#u1418_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u1457-6
{
	z-index: 746;
	/*width: 543px;*/
	width: 843px;
	min-height: 92px;
	color: #B88935;
	font-size: 32px;
	line-height: 38px;
	/*text-align: left;*/
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	/*left: 100px;*/
	left: 310px;
}

#u278-2,#u278-4,#u263-2,#u456-5,#u458-4,#u464-2,#u464-4,#u952-5,#u953-4,#u957-2,#u957-4,#u1030-5,#u1031-4,#u1035-2,#u1035-4,#u1316-5,#u1317-4,#u1321-2,#u1321-4,#u1426-2,#u1457-2,#u1457-4
{
	padding-right: 21px;
}

#pu1458-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 902px;
}

#u1458-4
{
	z-index: 861;
	width: 386px;
	min-height: 47px;
	color: #CE9326;
	font-size: 32px;
	line-height: 38px;
	text-align: right;
	margin-left: 11px;
	position: relative;
}

#u1459-4
{
	z-index: 896;
	width: 397px;
	background-color: transparent;
	color: #ECCC8F;
	font-size: 19px;
	line-height: 23px;
	text-align: right;
	margin-top: 3px;
	position: relative;
}

#u1459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u1459-4:hover p,#u1459-4:hover span
{
	text-decoration: none;
}

#u1432.PamphletThumbSelected #u1426-4 p,#u1432.PamphletThumbSelected #u1426-4 h1,#u1432.PamphletThumbSelected #u1426-4 span,#u1426,#u1459
{
	text-decoration: underline;
}

#u1418-bw
{
	z-index: 2;
	margin-top: -2px;
	height: 106px;
}

#u1460
{
	z-index: 900;
	width: 439px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 522px;
	/*left: 745px;*/
	display: none;
}

#u1462-4
{
	z-index: 902;
	width: 313px;
	min-height: 46px;
	color: #ECC37F;
	font-size: 43px;
	line-height: 52px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 578px;
	/*left: 805;*/
	display: none;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}
div#k_qst_res_31 {
color: #fff;
}
div#k_qst_res_31_2 {
color: #fff;
}
div#k_qst_res_31_3 {
color: #fff;
}
div#k_qst_res_31_4 {
color: #fff;
}
div#k_qst_res_31_5 {
color: #fff;
}
div#k_qst_res_31_6 {
color: #fff;
}
div#k_qst_res_31_7 {
color: #fff;
}
