
.container{
	width: 100%;
}
.wrap {background-color: #fff; padding: 20px;}

.upsale { background: url(../img/bg.jpg) center center no-repeat;
 width: 880px; 
 height: 368px;
padding: 0 30px;
 color: white;
 margin: 40px auto;
}

.upsale h2{font-size: 50px; margin:0; font-weight: 200; padding-top: 20px; margin-bottom: 20px;}
.upsale h3{font-size: 32px; font-weight: 200;}
.upsale .prices{width: 350px; float: left;}
.upsale .gift{width: 360px; float: right;}
.upsale .prices .old_price{text-decoration: line-through; font-size: 32px; line-height: 32px; margin:0;  font-family:'proxima nova lt';}
.upsale .prices .new_price{font-size: 70px; line-height: 70px; margin: 0;font-family:'proxima nova th';}

.timer{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: left;
	color: #fdfdfd;
}

 .timer > .title {
    font-size: 20px;
	line-height: 30px;
	font-family:'proxima nova lt';
	*font-family:  arial, sans-serif;
}

 .timer .block {
    float: left;
}

 .timer .block .rect {
    border-radius: 5px;
	*font-family:  arial, sans-serif;
	font-family:'proxima nova lt';
    line-height: 50px;
    font-size: 50px;
    padding: 0 5px;
}
.timer .block .rect:first-of-type{padding-left: 0;}
.timer .block .label {
    font-size: 15px;
}

 .timer .points {
    float: left;
    width: 23px;
    height: 59px;
	text-align: center;
	line-height: 50px;
	font-size: 50px;
	font-family:  arial, sans-serif;
}

 .order_link{
	display: block;
	background-color: transparent;
	font-family:'proxima nova th';
	*font-family: Arial, sans-serif;
	font-size: 25px;
	width: 410px;
	height: 86px;
	line-height: 55px;
	text-align: center;
	cursor: pointer;
	background: url(../img/btn.png) 0 0 no-repeat;
	margin: 0 auto;
}

.chasy{
font-family:'proxima nova th';
font-size:50px;
}

.podarok{
font-family:'proxima nova lt';
font-size:48px;
}




@font-face {
    font-family: 'Proxima Nova Th'; /* имя шрифта для CSS правил */
      src: local("Proxima Nova Extrabold"), /* проверяем наличие шрифта в ОС пользователя */
      src: url('proximanova-xbold-webfont.html');
         url(../fonts/ProximaNova-Xbold.otf) ; 
    src: local('O'), url('../fonts/ProximaNova-Xbold.woff') format('woff');
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'Proxima Nova Rg'; /* имя шрифта для CSS правил */
    src: local("Proxima Nova Regular"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/ProximaNova-Reg.otf) ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
         url(../fonts/ProximaNova-Xbold.otf) ; 
      src: url('proximanova-reg-webfont.html');
    src: local('O'), url('../fonts/ProximaNova-Reg.woff') format('woff');
  }
@font-face {
    font-family: 'Proxima Nova Lt'; /* имя шрифта для CSS правил */
    src: local("Proxima Nova Light"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/ProximaNova-Light.otf) ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
         url(../fonts/ProximaNova-Xbold.otf) ; 
      src: url('proximanova-light-webfont.html');
    src: local('O'), url('../fonts/ProximaNova-Light.woff') format('woff');
  }

@font-face {
    font-family: 'PT Sans'; /* имя шрифта для CSS правил */
    src: local("PT Sans Bold"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/PTSans.html); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'Open Sans Light'; /* имя шрифта для CSS правил */
    src: local("Open Sans Light Regular"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/opensans-light.ttf) format('truetype') ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'PF Agora Sans Pro Black'; /* имя шрифта для CSS правил */
    src: local("PF Agora Sans Pro Black Regular"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/pfagorasanspro-black.ttf) format('truetype') ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'Lato'; /* имя шрифта для CSS правил */
    src: local("Lato Regular"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/lato-regular.ttf) format('truetype'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'Open Sans'; /* имя шрифта для CSS правил */
    src: local("Open Sans Bold Italic"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/opensans-regular.ttf) format('truetype') ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'Open Sans'; /* имя шрифта для CSS правил */
    src: local("Open Sans Bold Italic"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/opensans-regular.ttf) format('truetype') ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'Open Sans'; /* имя шрифта для CSS правил */
    src: local("Open Sans Regular"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/opensans-regular.ttf) format('truetype') ; /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
  