@font-face {
    font-family: 'regular';
    src: url('../fonts/pts55f.html');
    src: url('../fonts/pts55fd41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f.woff2') format('woff2'),
         url('../fonts/pts55f.woff') format('woff'),
         url('../fonts/pts55f.ttf') format('truetype'),
         url('../fonts/pts55f-2.html#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bold';
    src: url('../fonts/pts75f.html');
    src: url('../fonts/pts75fd41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f.woff2') format('woff2'),
         url('../fonts/pts75f.woff') format('woff'),
         url('../fonts/pts75f.ttf') format('truetype'),
         url('../fonts/pts75f-2.html#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	font: 100%;
    font-family: 'regular', sans-serif;
	margin:0;
	color:#222;
	padding:0;
	font-weight: normal;
    font-style: normal;
	background:white;
	min-width:1000px;
}
.clear {
	clear:both;
}
form ul li.button-row {
position: relative
}
form ul, form li {
	list-style:none!important;
	background:none!important;
	}
form ul {
	padding:0;
	}
span.error {
text-transform: uppercase;
position: absolute;
padding: 8px 8px 8px 6px;
background-image: url(../images/er.html);
background-repeat: no-repeat;
background-position: left center;
margin-top: 3px;
left: 233px;
z-index: 300;
top: 8px;
text-align: left;
font-size: 13px !important;
width:10px;
	}
input {
	position:relative;
	}
input.error {
outline: 3px solid rgb(240, 55, 55);
outline-offset: -3px;
	}
table {
	border-collapse:collapse;
	padding:0;
	}
input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; } 
input::-webkit-input-placeholder {
	color:#989898;
}
input::-moz-placeholder {
	color:#989898;
}
input:-moz-placeholder {  
	color:#989898;
}
input:-ms-input-placeholder { 
	color:#989898;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
b{
	font-family:'bold';
}
img{
	border:none;
}
.headerbg{
	background-color:rgba(22, 33, 58, 0.73);
}
.header{
	width:1000px;
	margin:0 auto;
	padding:10px 0;
}
.lheader{
	float:left;
	width:237px;
}
.mheader{
	float:left;
	margin-top:15px;
	width:288px;
}
.rheader{
	float:right;
	width:175px;
}
.rheader2{
	float:right;
	margin-top:18px;
	width:300px;
}
.mheader p{
	font-size:13px;
	margin:0;
	color:White;
	padding-left:20px;
}
.rheaderh1{
	color:white;
	font-family:'bold';
	font-size:21px;
	margin:0;
	padding-right:20px;
	text-align:right;
}
.rheader2 a {
	color:white;
	}
.rheadera{
	text-align:center;
	background-color:#c71313;
	text-transform:uppercase;
	color:white;
	font-family:'bold';
	text-decoration:none;
	padding:10px 25px 10px 25px;
	display:block;
	float:right;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	font-size:14px;
	margin-top:13px;
}
.rheadera:hover{
	background-color:#183060;
}
.rheadera:active{
	opacity:0.7;
}
.bg1{
	background:url(../images/bg1.jpg) no-repeat center top;
	background-color:black;
	min-height:895px;
}
.block1{
	width:1000px;
	margin:0 auto;
	padding-top:40px;
}
.block1 h1{
	text-align:center;
	margin:0 0 0 0;
	font-family:'bold';
	font-size:48px;
	line-height:48px;
	color:white;
	text-transform:uppercase;
}
.block1 h2{
	text-align:center;
	margin:0 0 45px 0;
	color:white;
	font-family:'bold';
	font-size:36px;
	text-transform:uppercase;
}
.leftblock1{
	float:left;
	width:400px;
	margin-left:165px;
}
.leftblock1 span{
	display:inline-block;
	float:right;
}
.leftblock1 span>span{float:none;}
.span1{
	background-color:#de2720;
	color:white;
	text-decoration:line-through;
	font-family:'bold';
	padding:5px 20px 5px 10px;
	font-size:21px;
	text-transform:uppercase;
	margin-top:30px;
}
.span2{
	background-color:#183060;
	color:white;
	font-family:'bold';
	padding:5px 20px 5px 10px;
	font-size:42px;
	margin-top:10px;
}
.span3{
	background-color:#de2720;
	color:white;
	font-family:'bold';
	padding:5px 20px 5px 10px;
	font-size:21px;
	text-transform:uppercase;
	margin-top:240px;
}
.form{
	float:left;
	width:355px;
	padding:40px;
	background-color:white;
}
.form h3{
	text-align:center;
	font-size:24px;
	font-family:'bold';
	text-transform:uppercase;
	margin-top:0;
	margin-bottom:10px;
	
}
.form h4{
	text-align:center;
	margin:0;
	font-size:16px;
	text-transform:uppercase;
	font-family:'bold';
}
.form h4 span{
	background-color:#dd1e1e;
	color:white;
	padding:5px;
}
.form p{
	text-align:center;
	margin:10px 0;
	font-size:18px;
}
.form input[type="text"], .form form input[type="email"], .form form select{
	height:41px;
	width:348px;
	font-family:'bold';
	text-align:center;
	background-color:#e5e5e5;
	border:1px solid #E2D3D3;
	transition:all .5s ease;
	-webkit-transition:all .5s ease;
	color:#6f6f6f;
	display:block;
	margin:7px auto;
	-webkit-appearance:none;
	font-size:14px;
	z-index:45;
}
.form input[type="text"]:focus, .form input[type="email"]:focus{
	background-color:#F5F5F5;
}
.form .i1:focus, .form .i2:focus {
	background-color:#F5F5F5;
	background-position:right -20px top 24px;
}
.form input[type="submit"]{
	color: #222;
	font-size: 18px;
	display: block;
	height:53px;
	font-family:'bold';
	width:352px;
	border:none;
	color:white;
	margin:7px auto 30px;
	text-decoration: none;
	cursor:pointer;
	transition:all .5s ease;
	-webkit-transition:background .5s ease;
	background-color: #de2720; 
	-webkit-appearance:none;
	text-transform:uppercase;
}
.form input[type="submit"]:hover{
	background-color: #183060; 
}
.form input[type="submit"]:active{
	opacity:0.7;
}
.timer{
	position:relative;
	float:left;
	margin-left:18px;
}	
.lefttimer{
	float:left;
	width:71px;
	margin-top:10px;
}
.timer table{
	position:absolute;
}
.lefttimer p{
	font-family:'bold';
	text-align:right;
	margin:0;
	font-size:14px;
	text-transform:uppercase;
}
.timer td{
	display:block;
	float:left;
	width:52px;
	text-align:center;
	font-size:14px;
}
.td1{
	margin-left:14px;
}	
.td2{
	margin-left:40px;
}	
.td3{
	margin-left:35px;
}
.video{
	width:1000px;
	margin:0 auto;
	padding:20px 0 0 0;
	position:relative;
	min-height:712px;
}	
.video h1{
text-align: left;
margin: 40px 0 30px 0;
font-size: 28px;
text-transform: uppercase;
font-family: 'bold';
z-index: 10;
position: relative;
width: 550px;
}
.absolute1{
	position:absolute;
	right:-70px;
	bottom:-10px;
}
.video iframe {
	z-index:10;
	position:relative;
	margin-top:40px;
}
.video h2{
	font-size:18px;
	margin:25px 0 0 0;
	font-family:'bold';
	text-transform:uppercase;
}
.video p{
	font-size:14px;
	margin:10px 0;
}
.bg{
	background:url(../images/bg.jpg) center top;
}
.bg2{
	background:url(../images/bg2.jpg) no-repeat center top;
	min-height:991px;
}
.block2{
	width:1000px;
	margin:0 auto;
	padding:80px 0 0 0;
}
.block2 h1{
	margin:0;
	font-size:30px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
}
.block2 table{
	float:right;
	width:558px;
	margin-top:94px;
	margin-left:10px;
}
.block2td{
	background-color:#dd1e1e;
	color:white;
	font-family:'bold';
	font-size:54px;
	width:72px;
	height:72px;
	text-align:center;
	display:block;
	float:left;
}
.block2 h2{
	margin:0;
	font-size:21px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
	margin-left:20px;
}
.block2 p{
	text-align:left;
	margin:0;
	font-size:16px;
	color:white;
	margin-left:20px;
}
.block2 td{
	margin:28px 0;
}
.form2{
	width:1000px;
	padding:40px 0;
	margin:0 auto;
	position:relative;
}
.form2 h1{
	margin:0 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:black;
	text-transform:uppercase;
}
.form2 .rri, .form2 .lli {
	float:left;
	width:50%;
	}
.form2 input[type="text"], .form2 form input[type="email"], .form2 form select{
	height:30px;
	width:450px;
	font-family:'bold';
	text-align:left;
	background-color:#ffffff;
	border:4px solid #e6e6e6;
	transition:all .5s ease;
	-webkit-transition:all .5s ease;
	color:black;
	display:block;
	margin:7px 0;
	-webkit-appearance:none;
	font-size:14px;
	z-index:45;
	padding-left:20px;
}
.form2 form select{width: 477px;}
.form2 input[type="text"]:focus, .form2 input[type="email"]:focus{
	background-color:#F5F5F5;
}
.form2 .i1:focus, .form2 .i2:focus {
	background-color:#F5F5F5;
	background-position:right -20px top 24px;
}
.form2 input[type="submit"]{
	color: #222;
	font-size: 18px;
	display: block;
	height:84px;
	font-family:'bold';
	width:478px;
	border:none;
	color:#dd1e1e;
	border:4px solid #dd1e1e;
	margin:7px auto 30px;
	text-decoration: none;
	cursor:pointer;
	transition:all .5s ease;
	-webkit-appearance:none;
	-webkit-transition:all .5s ease;
	background-color: #ffffff; 
	text-transform:uppercase;
}
.form2 input[type="submit"]:hover{
	background-color: #dd1e1e; 
	color:white;
}
.form2 input[type="submit"]:active{
	opacity:0.7;
}
.formblock{
	margin-top:50px;
}
.bg3{
	background:url(../images/bg3.jpg) no-repeat center top;
	min-height:919px;
}
.block3{
	width:1000px;
	padding:20px 0;
	margin:0 auto;
}
.block3 h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
}
.block3 p{
	color:white;
	font-size:14px;
	width:500px;
}
.block3 img{
	margin-top:30px;
	margin-bottom:30px;
}
.ben{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
	position:relative;
	min-height:715px;
}
.absolute2{
	position:absolute;
	right:-450px;
	top:45px;
}
.ben h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:black;
	text-transform:uppercase;
}
.ben1{
	background-color:#de2720;
	width:460px;
	padding:20px;
	margin:30px 0;
}
.ben2{
	background-color:#092649;
	width:460px;
	padding:20px;
	margin:30px 0;
}
.ben p{
	color:white;
	font-size:18px;
	font-family:'bold';
	text-transform:uppercase;
}
.bg5{
	background:url(../images/bg5.jpg) repeat-x center top;
	min-height:1063px;
}
.block5{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
}
.block5 h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
}
.why{
	float:left;
	margin-left:12px;
	width:240px;
	height:240px;
	margin-top:40px;
}
.why img{
	display:block;
	margin:0 auto;
}	
.why p{
	text-align:center;
	color:white;
	font-size:16px;
	font-family:'bold';
	text-transform:uppercase;
}
.why{
	background-color:#dd1e1e;
}
.why1 img{
	margin-top:40px;
}
.why2 img{
	margin-top:30px;
}
.why3 img{
	margin-top:44px;
}
.why4 img{
	margin-top:26px;
}
.else{
	float:left;
	width:500px;
	margin-top:50px;
}
.else h2{
	background-color:#dd1e1e;
	width:49px;
	height:49px;
	text-align:center;
	color:white;
	font-family:'bold';
	font-size:35px;
	margin:0;
}
.le{
	float:left;
	width:49px;
}
.re{
	float:left;
	width:450px;
}
.else p{
	color:white;
	margin:0;
	font-size:16px;
	padding-left:20px;
}
.hww{
	width:1000px;
	margin:0 auto;
	padding:40px 0;
	min-height:1000px;
	background:url(../images/hww.jpg) no-repeat center 220px;
	position:relative;
}
.hww h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:black;
	text-transform:uppercase;
}
.hww p{
	margin:0;
	font-size:21px;
	color:#092649;
	font-family:'bold';
	text-transform:uppercase;
}
.hww1 a{
	display:block;
	float:right;
	font-family:'bold';
	color:white;
	background-color:#dd1e1e;
	text-transform:uppercase;
	text-decoration:none;
	padding:8px 14px;
}
.hww1{
	position:absolute;
	text-align:right;
	left: 166px;
	top: 249px;
}
.hww3{
	position:absolute;
	text-align:right;
	left: 218px;
	top: 584px;
}
.hww5{
	position:absolute;
	text-align:right;
	left: 120px;
	top: 921px;
}
.hww2{
	position:absolute;
	text-align:left;
	left: 598px;
	top: 423px;
}
.hww4{
	position:absolute;
	text-align:left;
	left: 598px;
	top: 753px;
}
.bg4{
	background:url(../images/bg4.jpg) no-repeat center top;
	min-height:800px;
}
.block4{
	width:1000px;
	margin:0 auto;
	padding:40px 0;
}
.block4table{
	float:left;
	width:565px;
}
.block4table td{
	font-size:18px;
	text-transform:uppercase;
	vertical-align:top;
	color:white;
	font-size:18px;
	font-family:'bold';
	padding:52px 0;
}
.comments h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:black;
	text-transform:uppercase;
}
.block4 h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
}
.comments{
	width:1000px;
	margin:0 auto;
	padding:40px 0 142px;
}
.c1{
	width:241px;
	float:left;
}
.cis{
	float:left;
	width:740px;
	margin-left:19px;
}
.cis h1{
	text-align:left;
	margin:0;
	font-size:24px;
	font-family:'bold';
}
.cis span{
	font-size:14px;
}
.cis p{
	border:4px solid #f2f2f2;
	padding:20px;
	position:relative;
	margin:10px 0;
}
.cis p img{
	position:absolute;
	left:-12px;
	top:10%;
}
.comments h4{
	margin:0;
	font-size:14px;
	font-family:'bold';
}

.jcarousel-control-prev{
	border:3px solid #dd1e1e;
	width:147px !important;
	height:23px !important;
	padding:5px;
	color:#dd1e1e !important;
	
	margin-top:60px;
	float:left;
}
.jcarousel-control-next{
	border:3px solid #dd1e1e;
	width:147px !important;
	height:23px !important;
	padding:5px;
	color:#dd1e1e !important;
	
	margin-top:60px;
	margin-left:20px;
	float:left;
}
@media only screen and (max-device-width: 480px) {
.jcarousel-control-prev, .jcarousel-control-next{
	margin-top:10px!important;
	}
}
.jc11{
	cursor:pointer;
}
.jc11:hover{
	background-color:#dd1e1e;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	color:white !important;
}
.footer{
	width:1000px;
	margin:0 auto;
	padding:20px 0 40px 0;
}
.footer h1{
	margin:40px 0 30px 0;
	font-size:30px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
}
.footer h2{
	font-size:21px;
	font-family:'bold';
	color:white;
	text-transform:uppercase;
	margin-top:30px;
	float:left;
}
.footer a{
	background-color:#dd1e1e;
	color:White;
	font-family:'bold';
	font-size:24px;
	text-align:center;
	text-decoration:none;
	padding:24px 40px;
	float:left;
	margin:27px 0 0 68px;
	text-transform:uppercase;
	width:400px;
	display:block;
	transition:all .5s ease;
	-webkit-transition:background .5s ease;
}
.footer a:hover{
	background-color:#09166e;
}
.footer a:active{
	opacity:0.6;
}
.blackbg{
	background-color:#000000;
}
.black{
	width:1000px;
	margin:0 auto;
	padding:0;
}
.black h4{
	float:left;
	text-align:left;
	margin:0;
	font-size:14px;
	color:#595959;
	width:500px;
}
.black h5{
	float:right;
	text-align:right;
	margin:0;
	font-size:14px;
	color:#595959;
	width:500px;
}
.black h5 a{
	font-family:'bold';
	color:#29a818;
}
.container3 {
  background:#ccc;
  height:315px;
  position:relative;
  width:560px;
}
.placeholder3 {
  background:red;
  color:white;
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  text-align:center;
}
.prompt {
  margin-top:-10px;
  position:absolute;
  top:50%;
  right:0;
  left:0;
}