.movieInfoList {
	display: inline;
}

.movieInfoList li {
	display: inline;
}

.player-message {
	font-size: 20px;
	text-align: center;
}
.player-message a {
	color: #06c;
}
h1 {
	margin-top: 10px;
}

.article a {
	color: #06c;
	border-bottom: 1px dotted #06c;
}

.episodes .collapse, .module .collapsing {
  height: 6rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.episodes .collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}

.episodes .collapse:before {
  /*content: ' ...';*/
  position: absolute;
  right: 0;
  bottom: 0;
}

.episodes .collapse.in {
  /* You need to reset the height when not collapsed */
  height: auto;
  -webkit-mask-image: none;
}

.episodes .collapse.show:before {
  display: none;  /* Of course you don't want to display ... */
}

.episodes a.show-more.collapsed:after {
  content: '+ Показать все серии';
}

.episodes a.show-more:not(.collapsed):after {
  content: '- Скрыть';
}