.pretimer {
    display: table;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background: linear-gradient(120deg,#FFF 0%,#FFF 50%,#F9F9F9 50%,#FFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1);
    border-bottom: 1px solid #E9E9E9;
    margin: 20px 0 10px;
    border-top: 1px solid #E9E9E9;
}
.pretimer .lt {
    vertical-align: top;
    width: 55%;
    display: table-cell;
    padding: 20px 20px;
}
.pretimer .countdown-title {
    margin: 0px;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    padding: 0 0 5px;
    line-height: 22px;
    color: #79c142;
}
.pretimer .countdown-text {
    font-size: 13px;
    color: #344960;
    line-height: 16px;
}
.pretimer .countdown-text span {
    font-weight: bold;
}
.pretimer .rt {
    vertical-align: top;
    width: 45%;
    display: table-cell;
    padding: 22px 0;
}
.pretimer li, .pretimer ul {
    padding: 0px;
    margin: 0px;
}
.precountdown li {
    display: inline-block;
    text-align: center;
}
.precountdown li:first-child .value {
    color: #79c142;
}
.precountdown .value {
    font-size: 32px;
    width: 60px;
    line-height: 30px;
}
.precountdown .unit {
    margin: 8px 0 0;
}