.hid-960{
    display: none;
}
.head-line{
    position: fixed;
    height: 50px;
    background: #fff;
    z-index: 999;
}
.head-line .wrap{
    padding: 8px 0 0;
}
.head-line .wrap ul{
    padding: 5px 0 0;
}
.head-line .wrap ul>li{
    float: left;
    margin: 0 20px;
}
.head-line .wrap>div a{
    color: #777;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.head-line .wrap>div a:hover{
    color: #222;
    text-decoration: underline;
}
.block-1{
    color: #f5f5f5;
    background: url(../img/bg-1.jpg) center 0 no-repeat fixed;
    background-size: cover;
}
.block-1 .wrap{
    padding: 80px 0 40px;
}
.block-1 .container{
    padding: 10px 0 20px;
}
.block-1 h1{
    text-align: center;
    font-size: 46px;
    line-height: 1.1em;
}
.block-1 h1>span{
    font-size: 34px;
    color: #e6d3af;
}
.block-1 .begin-tov-img{
    float: left;
    width: 50%;
}
.block-1 .begin-tov-img img{
    display: block;
    margin: 0 auto;
}
.block-1 .tov-form{
    float: right;
    width: 40%;
    margin: 50px 0 0;
    padding: 15px 20px 20px;
    background: rgba(0,0,0,.35);
    border-radius: 3px;
}
.block-1 .tov-form h3{
    padding: 0 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1.3em;
    border-bottom: 1px dotted rgba(255,255,255,.2);
}
.block-1 .tov-form .cost{
    padding: 15px 0;
}
.block-1 .tov-form .cost>span{
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    font-weight: 300;
}
.block-1 .tov-form .cost s,.block-1 .tov-form .cost b{
    font-size: 24px;
    line-height: 1.5em;
}
.block-1 .desc>b{
    color: #e6d3af;
}
.block-2{
    color: #f5f5f5;
    background: url(../img/bg-2.jpg) center 0 no-repeat fixed;
    background-size: cover;
}
.block-2 .container>ul{
    padding: 40px 0 20px;
}
.block-2 .container>ul li{
    float: left;
    width: 33.33%;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
}
.block-2 .container>ul .adv-img{
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    padding: 25px 0 0;
    border: 1px solid rgba(230,211,175,.3);
    border-radius: 50%;
    background: rgba(0,0,0,.15);
}
.block-2 .container>ul .adv-img:before{
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url(../img/icon-1.png) no-repeat;
}
.block-2 .container>ul li:nth-child(1) .adv-img:before{
    background-position: 0 0;
}
.block-2 .container>ul li:nth-child(2) .adv-img:before{
    background-position: -64px 0;
}
.block-2 .container>ul li:nth-child(3) .adv-img:before{
    background-position: -128px 0;
}
.block-2 .container>ul li h4{
    font-size: 18px;
    line-height: 1.3em;
}
.block-2 .container>ul li h4:after{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px auto;
    background: #e6d3af;
}
.block-3 .tov-cont{
    position: relative;
    margin: 0 0 30px 0;
    padding: 0 0 40px;
    border-bottom: 3px dashed #ccc;
}
.block-3 .tov-cont:nth-child(2){
    margin: 0;
    border: 0;
}
.block-3 .tov-cont .tov-video{
    position: relative;
    float: right;
    width: 48%;
    height: 248px;
    margin: 20px 0 40px;
    outline: 10px solid #fff;
    background: #fff;
    overflow:hidden;
}
.block-3 .tov-cont .tov-video iframe, .block-3 .tov-cont .tov-video object, .block-3 .tov-cont .tov-video embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.block-3 .tov-info{
    float: left;
    width: 48%;
    padding: 0 0 20px;
}
.block-3 .tov-cont h3{
    padding: 0 0 10px;
    font-size: 30px;
    line-height: 1.4em;
}
.block-3 .tov-info>p{
    padding: 0 0 15px;
}
.block-3 .tov-spec{
    float: right;
    width: 47%;
    padding: 30px 0 0;
}
.block-3 .tov-spec>li{
    padding: 0 0 10px;
}
.block-3 .tov-spec>li span{
    margin: 0 10px 0 0;
    font-weight: 700;
}
.block-3 .tov-cont .tov-gal{
    float: left;
    width: 48%;
    outline: 10px solid #fff;
    background: #fff;
}
.block-3 .tov-cont .tov-gal>img{
    display: block;
}
.block-4{
    color: #f5f5f5;
    background: url(../img/bg-3.jpg) center 0 no-repeat fixed;
    background-size: cover;
}
.block-4 .wrap{
    padding: 40px 0;
}
.block-4 .rew-cont{
    position: relative;
    padding: 50px 0 20px;
}
.block-4 .rew-item{
    float: left;
    width: 280px;
    margin: 0 20px;
}
.block-4 .rew-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 50%;
    background: rgba(0,0,0,.15);
}
.block-4 .rew-img>img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
/* after_qbici */
.block-4 .rew-item>div{
    text-align: justify;
}
.block-4 .rew-item h4{
    padding: 20px 0 10px;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
}
.block-4 .rew-item h4 small{
    font-weight: 300;
    color: #ccc;
    font-size: 14px;
}
.block-4 .rew-item h4:after{
    content: '';
    display: block;
    width: 94px;
    height: 13px;
    margin: 10px auto 0;
    background: url(../img/star-icon.png) 0 0 no-repeat;
}
.block-4 .rew-item:nth-child(2) h4:after{
    background-position: 0 100%;
}
.block-5 .delivery{
    padding: 40px 0;
}
.block-5 .delivery li{
    float: left;
    width: 25%;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
}
.block-5 .delivery .del-img{
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    padding: 25px 0 0;
    border: 1px solid #cfbe9d;
    border-radius: 50%;
}
.block-5 .delivery .del-img:before{
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url(../img/icon-2.png) no-repeat;
}
.block-5 .delivery li:nth-child(1) .del-img:before{
    background-position: 0 0;
    margin: 0 0 0 28%;
}
.block-5 .delivery li:nth-child(2) .del-img:before{
    background-position: -64px 0;
}
.block-5 .delivery li:nth-child(3) .del-img:before{
    background-position: -128px 0;
}
.block-5 .delivery li:nth-child(4) .del-img:before{
    background-position: -192px 0;
}
.block-5 .delivery li h4{
    font-size: 18px;
    line-height: 1.3em;
}
.block-5 .delivery li h4:after{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px auto;
    background: #d1ab81;
}
.block-5 .del-info{
    padding: 40px 0 0;
    font-size: 14px;
    border-top: 2px dashed #ccc;
}
.end-block .wrap{
    padding-top: 40px;
    padding-bottom: 20px;
}
.end-block .desc{
    padding-top: 60px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
    color: #ccc;
}
@media screen and (max-width: 959px){
    .hid-960{
        display: block;
    }
    .hid-640{
        display: none;
    }
    .head-line .wrap ul>li{
        margin: 0 10px;
    }
    .block-1{
        background: url(../img/bg-1-640.jpg) 0 0 fixed no-repeat;
        background-size: cover;
    }
    .block-1 h1{
        font-size: 36px;
        line-height: 1.3em;
    }
    .block-1 h1>span{
        font-size: 30px;
    }
    .block-1 .begin-tov-img{
        float: none;
        width: 460px;
        margin: 0 auto;
    }
    .block-1 .tov-form{
        float: none;
        width: 400px;
        margin: 0px auto 20px;
        background: transparent;
    }
    .block-1 .desc{
        padding: 30px 10px 0;
    }
    .block-2{
        background: url(../img/rep-bg-2.jpg) repeat;
    }
    .block-2 .container>ul li{
        padding: 0 15px;
    }
    .block-3 .tov-info{
        float: none;
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }
    .block-3 .tov-info>p{
        text-align: justify;
    }
    .block-3 .tov-cont .tov-video{
        float: none;
        width: 600px;
        height: 330px;
        margin: 10px auto 30px;
    }
    .block-3 .tov-spec{
        float: none;
        width: 100%;
        padding: 0 10px 30px;
    }
    .block-3 .tov-spec>li{
        float: left;
        width: 50%;
    }
    .block-3 .tov-spec>li span{
        margin-right: 5px;
    }
    .block-3 .tov-cont .tov-gal{
        float: none;
        width: 600px;
        margin: 0 auto;
    }
    .block-4{
        background: url(../img/rep-bg-3.jpg) repeat;
    }
    .block-5 .delivery li{
        width: 50%;
        margin: 0 0 30px;
        padding: 0 25px;
    }
    .end-block .begin-tov-img{
        float: left;
        width: 50%;
        margin-top: 20px;
    }
    .end-block .tov-form {
        float: right;
        width: 50%;
        margin: 20px 0 0;
        padding: 15px 0px 20px;
        background: rgba(0,0,0,.35);
    }
}
@media screen and (max-width: 639px){
    .mob-hid{
        display: none;
    }
    .mob-vis{
        display: inline;
    }
    .head-line{
        position: relative;
    }
    .head-line>.wrap .right{
        display: none;
    }
    .head-line>.wrap .left{
        float: none;
        text-align: center;
    }
    .block-1 .wrap{
        padding-top: 40px;
    }
    .block-1 h1{
        font-size: 34px;
    }
    .block-1 .begin-tov-img, .block-1 .tov-form{
        float: none;
        width: 100%;
    }
    .block-1 .tov-form{
        padding: 20px 0;
    }
    .block-2 .container>ul li{
        float: none;
        width: 100%;
        padding: 0 10px 30px;
    }
    .block-2 .container>ul li:last-child{
        padding-bottom: 0;
    }
    .block-3 .tov-cont .tov-video{
        width: 100%;
        height: 178px;
    }
    .block-3 .tov-spec>li{
        float: none;
        width: 100%;
    }
    .block-3 .tov-spec>li span{
        margin-right: 10px;
    }
    .block-3 .tov-cont .tov-gal{
        width: 100%;
    }
    .block-4 .zag{
        font-size: 26px;
    }
    .block-5 .delivery li{
        float: none;
        width: 100%;
        margin: 0 0 30px;
        padding: 0 20px;
    }
    .block-5 h2{
        font-size: 30px;
    }
    
}
