@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('../fonts/OpenSans-CondBold.woff') format('woff'),
         url('../fonts/OpenSans-CondBold.woff2') format('woff2'),
         url('../fonts/OpenSans-CondBold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}