html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* after_qbici */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}/* endzeit_____ */
html{
    -ms-text-size-adjust: 100%;/* after_qbici */
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: 'OpenSans-Regular', Verdana, sans-serif;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
.upp {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.white {
    color: #fff;
}/* endzeit_____ */
.yellow {
    color: #ffb100;
}
h1, h2, h3 {
    letter-spacing: 1px;
}
/* michael-k90 */
input::-webkit-input-placeholder { color: #d0d0d0; }
input::-moz-placeholder { color: #d0d0d0; }

.section {
    width: 960px;
    padding: 40px 10px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}/* after_qbici */

h2 {
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
b {
    font-family: 'OpenSans-Bold';
}

.b1 {
    background: url(../img/b1.jpg) center top no-repeat;
    height: 495px;
    color: #fff;/* michael-k90 */
}
.b1 .left {
    width: 460px;
    float:left;
    margin: 14px 0 0 30px;
}
.b1 .left h1 {
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
}
.b1 .left h1 span {
    display: block;
}
.b1 .left h1 .big {
    font-size: 48px;
    line-height: 52px;
}
.b1 .left h1:after {
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background: #ffb100;
    margin: 24px 0;
}
.b1 .left .price {
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 300px;
    margin-bottom: 30px;
}
.b1 .left .price .old, .b1 .left .price .new {
    display: inline-block;
    width: 150px;
    position: relative;
}/* bizlife_inc */

.b1 .left .price div .big {
    font-size: 40px;
    line-height: 44px;
}
.b1 .left .price .old:after {
    content: '';
    display: block;
    background: url(../img/price.png) center top no-repeat; 
    width: 18px;
    height: 34px;
    position: absolute;
    right: -9px;
    top: 32px;
}
a.button-m {
    position: relative;
    display: block;
    background: #ffa401;
    color: #132227;
    border-bottom: 4px solid #e57c00;
    width: 300px;
    height: 65px;
    line-height: 65px;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}/* owmen17 */
a.button-m:hover {
    top: -1px;
    background: #ffab15;
}
a.button-m:active {
    top: 0px;
    background: #e49200;
}

.b1 .right {
    position: relative;
    overflow: hidden;
    margin: 18px 0 0 480px;
}
.b11 .left {
    width: 300px;
}
.b11 .right {
    margin-left: 380px;
}
.b11 .right .timer {
    margin-left: 100px;
}
.b1 .right .ton {
    position: relative;
    background: url(../img/key.png) left 3px no-repeat;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 0 40px;
    margin-left: 30px;
}
.b1 .right .tons {
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    text-align: left;
    font-size: 30px;
}
.b1 .right .ton:after {
    content: '';
    display: block;
    width: 17px;
    height: 56px;
    background: url(../img/arrow.png) left 3px no-repeat;
    position: absolute;
    top:35px;
    left:20px;
}
.b1 .right .sale {
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    font-size: 38px;
    position: absolute;
    top: 68px;
    right: 35px;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.b1 .right .timer {
    margin-top: 214px;
}
.b1 .right .timer p {
    margin-top: 20px;
    display: block;
    float:left;
    width: 140px;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
}
.countbox {
    margin-left: 160px;
    margin: 14px auto 25px;
    float: left;
}
h2.romb:after {
    content: '';
    display: block;
    width: 60px;
    height: 14px;
    background: url(../img/romb.png) center top no-repeat;
    margin: 15px auto;
}

.b2 img {
    float: left;
}
.b2 p {
    margin: 0 0 20px 410px;
    text-align: justify;
}

.b3 {
    background: url(../img/b3.jpg) center top no-repeat;
    background-size: cover;
    margin: 30px 0;
}
.b3 .left {
    float: left;
    width: 490px;
}
.b3 .left h3 {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.b3 .left p {
    text-align: justify;
}
.b3 .left p:after {
    content: 'ОПИСАНИЕ';
    display: block;
    background: url(../img/corner.png) left top no-repeat;
    height: 36px;
    font-size: 12px;
    padding: 24px 0 0 48px;
    margin: 15px 0 0 15px;
}
.center {
    text-align: center;
}
.upp {
    text-transform: uppercase;
}
.noupp {
    text-transform: none;
}

.b3 .right {
    background: #ffa401;
    margin: -60px 0 -60px 520px;
    padding: 0 0 15px;
}
.b3 .right h3 {
    font-family: 'OpenSans-CondBold';
    font-size: 24px;
    line-height: 30px;
    padding: 20px 40px;
}
.b3 .right p {
    padding: 0 40px 20px;
}
.b3 .right .price {
    background: #000;
    font-size: 44px;
    line-height: 54px;
    padding: 7px 0 12px;
    margin-bottom: 20px;
    font-family: 'OpenSans-CondBold';
    text-align: center;
    width: 100%;
}
.b3 .right div {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}
.b3 .right .price .old {
    color: #a7a7a7;
    padding: 0 10px;
    position: relative;
}
.b3 .right .price .new {
    color: #fff;
    padding: 0 10px;
}
.b3 .right .price .old:after {
    content: '';
    display: block;
    background: url(../img/price1.png) center top no-repeat; 
    width: 18px;
    height: 34px;
    position: absolute;
    right: -9px;
    top: 12px;
}
a.button-m1 {
    position: relative;
    display: block;
    margin: 0 auto;
    background: #fff;
    color: #132227;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'OpenSans-CondBold';
    font-size: 18px;
    letter-spacing: 1px;
}
a.button-m1:hover {
    top: -1px;
}
a.button-m1:active {
    top: 0px;
}

.shag {
    background: url(../img/shag.jpg) center top no-repeat;
    width: 939px;
    height: 436px;
    margin: 0 auto 30px;
}

.b5 {
    background: #ececec;
}
.b5 .section {
    background: url(../img/b5.jpg) right 130px no-repeat;
}
h2.vid:before {
    content: '';
    width: 39px;
    height: 39px;
    display: inline-block;
    margin-right: 20px;
    background: url(../img/video.png) left top no-repeat;
}
.video-container{
                                position: relative;
                                width: 610px;
                                height: 300px;
                                overflow:hidden;
                                background: #000;
                                margin: 20px 0 0 0;
                                border: 1px solid #b1b1b1;
}
.video-container iframe, .video-container object, .video-container embed{
                                position:absolute;
                                display: block;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
}

.b6 {
    background: #212121;
}          
.b6 ul {
    text-align: center;
    margin: 0 -10px;
}
.b6 ul li {
    display: inline-block;
    vertical-align: top;
    width: 310px;
    height: 438px;
    box-sizing: border-box;
    padding-top: 280px;
    margin: 0 5px 10px;
    background: url(../img/li.jpg);
}
.b6 ul li h3 {
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'OpenSans-CondBold';
}
.b6 ul li p {
    padding: 0 15px;
}
.b6 ul li:nth-child(1) {
    background-position: 0 0px;
}
.b6 ul li:nth-child(2) {
    background-position: -315px 0px;
}
.b6 ul li:nth-child(3) {
    background-position: -630px 0px;
}

.b7_in {
    background: #ffa401;
    height: 252px;
    position: relative;
}
.b7_in img {
    float: right; 
}
.b7_in .sale {
    text-align: left;
    position: absolute;
    top:-8px;
    left:-8px;
    width: 139px;
    height: 149px;
    color: #fff;
    padding: 25px 0 0 0px;
    box-sizing:border-box;
    font-family: 'OpenSans-CondBold';
    background: url(../img/sale.png) center top no-repeat;
    text-transform: uppercase;
}
.b7_in .sale p {
    letter-spacing: 1px;
    -webkit-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
    -moz-transform: rotate(-46deg);
    transform: rotate(-46deg);
}
.b7_in .left {
    width: 550px;
    float:left;
}
.b7_in .left .top {
    border-bottom: 2px solid #000;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 5px;
    padding-bottom: 20px;
}
.b7_in .left .top h3 {
    font-family: 'OpenSans-CondBold';
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 20px 70px;
}
.b7_in .left .top .komplekt {
    font-family: 'OpenSans-CondBold';
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: url(../img/komplekt.png) left top no-repeat;
    width: 105px;
    padding: 5px 10px 5px 70px;
    margin: 0 20px 0 0px;
    float:left;
}
.b7_in .left .top .akciya {
    font-family: 'OpenSans-CondBold';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 6px;
}
.b7_in .left .top .akciya span {
    display: inline-block;
    font-size: 24px;
    background: #fff;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
    padding: 5px;
}

.b7_in .price {
    font-size: 40px;
    line-height: 50px;
    padding: 7px 0 12px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'OpenSans-CondBold';
    text-align: center;
    width: 300px;
    float: left;
}
.b7_in .price div {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}
.b7_in .price .old {
    color: #ffd5a4;
    padding: 0 10px;
    position: relative;
}
.b7_in .price .new {
    color: #000;
    padding: 0 10px;
}
.b7_in .price .old:after {
    content: '';
    display: block;
    background: url(../img/price1.png) center top no-repeat; 
    width: 18px;
    height: 34px;
    position: absolute;
    right: -9px;
    top: 8px;
}
.b7_in a.button-m1 {
    float:left;
    margin: 12px 0 0 20px;
}
.b8 {
    background: url(../img/b3.jpg) center top no-repeat;
    background-size: cover;
    overflow: hidden;
}
.b8 .section {
    padding: 10px;
}
.b8 .left {
    background: #ffa401;
    font-family: 'OpenSans-CondBold';
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    text-align: center;
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
}
.b8 p {
    margin-top: 6px;
    margin-left: 230px;
}
.b9 {
    background: #f0f0f0;
}
.rev {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.rev .name_a {
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    width: 140px;
    text-align: center;
    float:left;
}
.rev .name_a .yellow {
    font-size: 22px;
    display: block;
}
.rev p {
    vertical-align: middle;
    display: table-cell;
    height: 150px;
    padding-left: 35px;
}
.b10 ul {
    margin-bottom: 30px;
    overflow: hidden;
}
.b10 ul li {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-bottom: 20px;
}
.b10 ul li:before {
    content: '';
    display: block;
    width: 116px;
    height: 116px;
    background: url(../img/li1.jpg);
    margin: 0 auto 15px;
}
.b10 ul li:nth-child(1):before {
    background-position: 0 0;
}
.b10 ul li:nth-child(2):before {
    background-position: -251px 0;
}
.b10 ul li:nth-child(3):before {
    background-position: -500px 0;
}
.b10 ul li:nth-child(4):before {
    background-position: -749px 0;
}
.b10 ul li p {
    padding: 0 15px;
}
.b10 p.lol {
    border-top: 2px solid #7f7f7f;
    padding: 0px 60px 0;
}
.b10 p.lol:before {
    content: '';
    display: block;
    width: 47px;
    height: 47px;
    margin: -25px auto 20px;
    background: url(../img/romb.jpg) center top no-repeat;
}
button.button-m {
    outline: none;
    border: 0;
    cursor: pointer;
    position: relative;
    display: block;
    background: #ffa401;
    color: #132227;
    border-bottom: 4px solid #e57c00;
    width: 300px;
    height: 65px;
    line-height: 60px;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'OpenSans-CondBold', Verdana, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;

}
button.button-m:hover {
    top: -1px;
    background: #ffab15;
}
button.button-m:active {
    top: 0px;
    background: #e49200;
}
.b11 form input, .b11 form select {
    outline: none;
    width: 300px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    text-align-last: center;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    border: 1px solid #ffa401;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
}

















@media only screen and (max-width: 960px) {
    .section {
        width: 640px;
        padding: 30px 10px;
    }
    h2 {
        font-size: 36px;
        line-height: 46px;
    }
    .b1 {
        background: url(../img/b1-2.jpg) center top no-repeat;
        height: 404px;
    }
    .b1 .left {
        width: 300px;
        margin-left: 10px;
    }
    .b1 .left h1 {
        font-size: 18px;
        line-height: 26px;
    }
    .b1 .left h1 .big {
        font-size: 34px;
        line-height: 38px;
    }
    .b1 .left h1:after {
        margin: 18px 0;
    }
    .b1 .right {
        margin: 0px 0 0 300px;
    }
    .b1 .right .ton {
        display: none;
    }
    .b1 .right .sale {
        font-size: 27px;
        top: 93px;
        right: 28px;
        -webkit-transform: rotate(-32deg);
        -ms-transform: rotate(-32deg);
        -moz-transform: rotate(-32deg);
        transform: rotate(-32deg);
    }
    .b1 .right .timer p {
        float: none;
        text-align: center;
        width: 100%;
    }
    .countbox {
        margin: 8px 0 25px 20px;
    }
    .b2 img {
        float: none;
        display: block;
        margin: 0 auto 20px;
    }
    .b2 p {
        margin: 0 0 20px 0px;
    }
    .b3  {
        margin: 0;
    }
    .b3 .left {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .b3 .right {
        margin: 0px 0 0px 0px;
    }
    .shag {
        background: url(../img/shag1.jpg) center top no-repeat;
        width: 640px;
        height: 297px;
        margin: 0 -10px 20px;
    }
    .b5 .section {
        background: none;
    }
    .video-container {
        margin: 0 auto;
    }
    .b7_in img {
        display: none; 
    }
    .b7_in .left {
        width: 620px;
        float: none;
    }
    .b8 p {
        margin-top: 0px;
    }
    .b11 .right .timer {
        margin-left: 0px;
    }
    .b11 .left .price {
        margin: -5px 0 15px;
    }
    .b11 .tons {
        display: none;
    }
}



@media only screen and (max-width: 640px) {
        .section {
            width: 320px;
            padding: 30px 10px;
        }
        h2 {
            font-size: 26px;
            line-height: 36px;
        }
        .b1 {
            background: url(../img/b1-3.jpg) center top no-repeat #181725;
            height: 670px;
        }
        .b1 .left {
            margin: 0;
            float:none;
        }
        .b1 .left h1:after {
            display: none;
        }
        .b1 .left h1 {
            font-size: 29px;
            line-height: 36px;
            text-align: center;
            margin-bottom: 220px;
        }
        .b1 .left h1 .yellow {
            font-size: 18px;
            line-height: 26px;
        }
        .b1 .right {
            margin: 0px;
            overflow: visible;
        }
        .b1 .right .timer {
            margin-top: 14px;
        }
        .b1 .right .sale {
            top: -355px;
        }
        .countbox {
            margin: 10px 0 0 10px;
        }
        .b2 p {
            text-align: left;
        }
        .b3 .left p {
            text-align: left;
        }
        .b3 .right h3 {
            padding: 20px 20px;
        }
        .b3 .right p {
            padding: 0 20px 20px;
        }
        .b3 .right .price {
            font-size: 30px;
        }
        .shag {
            background: url(../img/shag2.jpg) center top no-repeat;
            width: 320px;
            height: 1326px;
            margin: 0 -10px 20px;
        }
        .video-container {
            width: 300px;
            height: 170px;
        }
        h2.vid:before {
            display: block;
            margin: 0px auto 10px;
        }
        .b7_in {
            height: 350px;
            padding: 10px;
        }
        .b7_in .left {
            width: 280px;
        }
        .b7_in .left .top {
            border: 0;
            margin: 0;
        }
        .b7_in .left .top h3 {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            padding: 10px 0 20px 100px;
        }
        .b7_in .left .top .komplekt {
            margin: 0px auto 15px;
            float: none;
        }
        .b7_in .price {
            float: none;
            width: 280px;
            margin: 0 auto 0px;
        }
        .b7_in a.button-m1 {
            float: none;
            margin: 10px auto;
        }
        .b8 .left {
            float: none;
            display: block;
            margin: 0 auto 10px;
        }
        .b8 p {
            margin: 0px;
        }
        .rev .name_a {
            margin: 0 auto;
            float:none;
        }
        .rev p {
            padding-left: 0;
        }
        .b10 p.lol {
            padding: 0px 10px 0;
        }
        .b11 {
            background: url(../img/b1-3.jpg) center -90px no-repeat #181725;
            height: 750px;
        }
        .b11 .left {
            margin-top: 240px;
        }
        .b11 .right .sale {
            top: -514px;
        }
}



/**
form {
    text-align: center;
    background: #464646;
    border-radius: 20px 0 20px 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 380px;
    height: 420px;
    position: relative;
}
form p {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
form input {
    font-family:'Open Sans', Verdana, sans-serif;  
    font-weight: 400;
    width: 320px;
    padding: 0 20px;
    box-sizing: border-box;
    height: 72px;
    line-height: 68px;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    outline: none;
    background: #5a5a5a;
    background: linear-gradient(to top, #636363, #555555);
    border: 1px solid #787878;
    margin-bottom: 18px;
}
form input:focus {
    background: #787878;
}
button {
    text-align: center;
    width: 320px;
    height: 74px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 64px;
    text-decoration: none;
    color: #222;
    letter-spacing: 1px;
    background: linear-gradient(to top, #dc8328, #f4d77c);
    border: 1px solid #dc8328;
    cursor: pointer;
    outline: none;
}
button:hover {
    background: linear-gradient(to top, #e89642, #ead388);
}
button:active {
    background: #dc8328;
}
.price {
    position: absolute;
    background: #fff;
    border-radius: 0 100px 100px 0;
    line-height: 40px;
    text-align: left;
    padding: 20px 30px;
}
.price p.old {
    font-size: 30px;
    text-decoration: line-through;
    font-weight: 400;
}
.price p.new {
    font-size: 36px;
    font-weight: 800;
}
.b1 .price {
    top: 0;
    left: 380px;
}
.b2 {
    background: url(../img/b2.jpg) left top repeat;
}
.b2 .section {
    padding-bottom: 40px;
}
.b2 .gallery {
    text-align: center;
    margin: -150px auto 20px;
}
.b2 .gallery img {

}
.b2 .gallery img.img2 {
    margin: 0 20px;
}
.parfum {
    width: 310px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 auto 30px;
    border-radius: 10px;
    clear: both;
}
.parfum .text {
    width: 540px;   
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.parfum .text h3 {
    padding-bottom: 5px;
}
.parfum .text p {
    padding: 0 20px 5px;
}
.b3 {

    background: url(../img/b3.jpg) left top repeat;
}
a.but {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 320px;
    height: 74px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 74px;
    text-decoration: none;
    color: #222;
    letter-spacing: 1px;
    background: linear-gradient(to top, #dc8328, #f4d77c);
    border: 1px solid #dc8328;
    cursor: pointer;
    outline: none;
}
a.but:hover {
    background: linear-gradient(to top, #e89642, #ead388);
}
a.but:active {
    background: #dc8328;
}
h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
b, .bold {
    font-weight: 700;
}
.b3 .gallery {
    text-align: center;
    margin: 20px auto 20px;
}
.b3 .gallery li {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
.b3 .gallery li.li2 {
    margin: 0 20px;
}
.b3 .gallery li p {
    font-size: 16px;
    padding: 10px 0 20px;
}
.b4 {
    background: url(../img/b2.jpg) left top repeat;
}
.b4 h2 {
    font-weight: 700;
}
.rev {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background: #fff;
    margin: 0; 
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    margin-top: 90px;
}
.rev2 {
    margin: 90px 20px 0;
}
.rev p {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
}
.rev p b {
    font-size: 16px;
}
.rev img {
    display: block;
    margin: -100px auto 15px;
    border-radius: 50%;
    border:8px solid #fff;
}
.star5 {
    background: url(../img/star5.png) center top no-repeat;
    width: 122px;
    height: 22px;
    margin: 0 auto 10px;
}
.star4 {
    background: url(../img/star4.png) center top no-repeat;
    width: 122px;
    height: 22px;
    margin: 0 auto 10px;
}
.b5 {
    background: url(../img/b5.jpg) center top no-repeat #1e1e1e;
}
.b5 .section {
    height: 520px;
}
.b5 h2 {
    text-align: left;
    width: 600px;
}
.b5 ul {
    width: 500px;
    margin-top:20px;
}
.b5 ul li {
    clear: both;
    margin-bottom: 40px;
    overflow: hidden;
}
.b5 ul li img {
    float:left;
}
.b5 ul li p {
    margin-left: 100px;
    font-size: 16px;
    line-height: 24px;
}
img.b2img {
    border-radius: 50%;
}
.b6 {
    height: 434px;
    background: url(../img/b6.jpg) center top no-repeat;
}
.b6 .right {
    float:right;
    width: 460px;
}
.b6 h2 {
    text-align: left;
}
.b6 p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
}
.b7 .parfum .text p {
    font-size: 16px;
}
.b8 {
    background: url(../img/b8.jpg) center top no-repeat;
    height: 608px;
}
.b8 .section {
    padding: 30px 10px;
}
.b8 h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    padding-bottom: 20px;
}
.b8 h1 span {
    font-size: 42px;
    font-weight: 800;
}
.b8 form {
    border-radius: 0 20px 20px 20px;
    float: right;
}
.price {
    position: absolute;
    background: #fff;
    border-radius: 0 100px 100px 0;
    line-height: 40px;
    text-align: left;
    padding: 20px 30px;
}
.b8 .price {
    top: 0;
    right: 380px;
    border-radius: 100px 0 0 100px;
    text-align: right;
}
.b11 p a {
    color: #222;
    text-decoration: none;
}
@media only screen and (max-width: 959px) {
    .section {
        width: 640px;
        padding: 30px 10px
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px;
    }
    .b1 {
        height: 657px;
        background: url(../img/b1-2.jpg) center top no-repeat;
    }
    .b2 .gallery {
        margin: -100px auto 20px;
    }
    .b2 .gallery img {
        width: 200px;
    }
    .b2 .gallery img.img2 {
        margin: 0 10px;
    }
    .b3 .gallery {
        margin: 0px auto 20px;
    }
    .b3 .gallery li {
        width: 200px;
    }
    .b3 .gallery li.li2 {
        margin: 0 10px;
    }
    .b3 .gallery li p {
        font-size: 14px;
        padding: 10px 0 20px;
    }
    .rev {
        width: 600px;
    }
    .rev2 {
        margin: 90px 0px 0;
    }
    .b5 {
        background: url(../img/b5.jpg) center top no-repeat #1e1e1e;
    }
    .b5 .section {
        height: 520px;
    }
    .b5 h2 {
        width: 400px;
    }
    .b5 ul {
        width: 380px;
        margin-top:10px;
    }
    .b5 ul li {
        margin-bottom: 30px;
    }
    .b5 ul li p {
        margin-left: 90px;
        font-size: 14px;
        line-height: 22px;
    }
    .b6 {
        height: 434px;
        background: url(../img/b6-2.jpg) center top no-repeat;
    }
    .b6 .right {
        width: 390px;
    }
    .b8 {
        height: 592px;
        background: url(../img/b8-2.jpg) center top no-repeat;
    }
    .b8 h1 {
        font-size: 26px;
        line-height: 40px;
    }
    .b8 h1 span {
        font-size: 40px;
    }
}
@media only screen and (max-width: 639px) {
        .section {
            width: 320px;
            padding: 20px 10px;
        }
        .b1 {
            height: 765px;
            background: url(../img/b1-3.jpg) center top no-repeat #464646;
        }
        .b1 h1 {
            font-size: 20px;
            line-height: 24px;
            padding-bottom: 20px;
        }
        .b1 h1 span {
            font-size: 16px;
        }
        form {
            background: #464646;
            border-radius: 0px;
            padding: 0px;
            width: 300px;
            height: 350px;
        }
        .b1 form {
            margin: 320px 0px 0;
        }
        form input {
            width: 300px;
            height: 62px;
            line-height: 58px;
            margin-bottom: 12px;
        }
        button {
            width: 300px;
            height: 64px;
            line-height: 52px;
        }
        .price {
            border-radius: 100px;
            text-align: center;
            padding: 30px 20px;
            line-height: 30px;
        }
        .price p.old {
            font-size: 22px;
        }
        .price p.new {
            font-size: 26px;
        }
        .b1 .price {
            top: -320px;
            left:120px;
        }
        .b2 .gallery {
            margin: 0px auto 20px;
        }
        .b2 .gallery img {
            width: 300px;
        }
        .b2 .gallery img.img2 {
            margin: 0;
        }
        .parfum {
            width: 300px;
        }
        h2 {
            font-size: 18px;
            line-height: 24px;
        }
        .b3  .section {
            padding: 30px 10px 40px;
        }
        .b3 .gallery li {
            width: 300px;
        }
        .b3 .gallery li.li2 {
            margin: 0;
        }
        .b3 .gallery li p {
            font-size: 16px;
        }
        a.but {
            width: 300px;
            height: 64px;
            line-height: 64px;
        }
        .rev {
            width: 300px;
        }
        .b5 {
            background: #1e1e1e;
        }
        .b5 .section {
            height: 510px;
        }
        .b5 h2 {
            width: 300px;
            text-align: center;
        }
        .b5 ul {
            width: 300px;
            margin-top: 0px;
        }
        .b5 ul li {
            margin-bottom: 30px;
        }
        .b6 {
            height: 520px;
            background: url(../img/b3.jpg) left top repeat;
        }
        .b6 .right {
            width: 300px;
        }
        .b8 {
            height: 800px;
            background: url(../img/b8-3.jpg) center top no-repeat #464646;
        }
        .b8 .section {
            padding: 20px 10px;
        }
        .b8 h1 {
            font-size: 20px;
            line-height: 24px;
            padding-bottom: 20px;
        }
        .b8 h1 span {
            font-size: 16px;
        }
        form {
            background: #464646;
            border-radius: 0px;
            padding: 0px;
            width: 300px;
            height: 350px;
        }
        .b8 form {
            margin: 330px 0px 0;
        }
        .b8 .price {
            top: -320px;
            right: 30px;
            border-radius: 100px;
            text-align: center;
            padding: 30px 20px;
            line-height: 30px;
        }
}**/