/*Таймер*/
.countbox {
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    width: 275px;
    padding-left: 8px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}
.countbox .countbox-num {
    float: left;
    border: 1px solid #ffb100;
    background: #2c2d31;
    padding: 10px 10px 3px;
}
.countbox .countbox-space {
    float: left;
    width: 25px;
    line-height: 58px;
    text-align: center;
}

.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    float: left;
    text-align: center;
    z-index: 1;
    font-size: 30px;
    width: 24px;
}

.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 10px;
    font-family: 'OpenSans-Regular';
    text-align: center;
    text-transform: uppercase;
}