<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>MGW Кино</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/types/cinema/template/admin/images/icon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

	<div id="app">
		<div class="container" v-show="true" style="display: none;">
			<div class="row mt-3 mb-3">
				<div class="col-3">
					<select class="form-select" v-model="movies_filter.domain">
						<option value="null" selected>Домен</option>
						<option v-for="domain in domains" :value="domain.domain">{{ domain.domain }}</option>
					</select>
				</div>
				<div class="col-4">
					<div class="row">
						<div class="col-4">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="movie.active" v-model="movies_filter.active">
								<label class="form-check-label" for="movie.active">Активно</label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="movie.deleted" v-model="movies_filter.deleted">
								<label class="form-check-label" for="movie.deleted">Удалено</label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="movie.rkn" v-model="movies_filter.rkn">
								<label class="form-check-label" for="movie.rkn">РКН</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<label>ID</label>
					<input type="text" class="form-control" v-model="movies_filter.id">
				</div>
				<div class="col-1">
					<label>Movie ID</label>
					<input type="text" class="form-control" v-model="movies_filter.movie_id">
				</div>
				<div class="col-2">
					<label>Лимит {{ movies_filter.limit }}</label>
					<input type="range" class="form-range" min="0" max="1000" step="25" v-model="movies_filter.limit">
				</div>
			</div>
			<div class="row small mb-2" style="font-weight: bold;">
				<div class="col-1">ID</div>
				<div class="col-2">Дата</div>
				<div class="col-1">Movie ID</div>
				<div class="col-2">Домен</div>
				<div class="col-3">Название</div>
				<div class="col-1">Активно</div>
				<div class="col-1">Удалено</div>
				<div class="col-1">Ркн</div>
			</div>
			<div class="list-group">
				<div v-for="movie in movies" class="list-group-item list-group-item-action" @click="movie.show_movie = movie.show_movie?false:true">
					<div class="row">
						<div class="col-1">#{{ movie.id }}</div>
						<div class="col-2">{{ movie.add_date }}</div>
						<div class="col-1">#{{ movie.movie.id }}</div>
						<div class="col-2">{{ movie.domain }}</div>
						<div class="col-3">{{ movie.movie.title_ru }}</div>
						<div class="col-1">{{ movie.active?'✅':'❌' }}</div>
						<div class="col-1">{{ movie.deleted?'❌':'✅' }}</div>
						<div class="col-1">{{ movie.rkn?'❌':'✅' }}</div>
					</div>
					<div class="row mt-3 mb-2 small" v-show="movie.show_movie">
						<div class="col-2">
							<b>Тип, год</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.movie.tags.filter(tag => (tag.type == 'type' || tag.type == 'year'))">{{ tag.tag }}</li>
							</ul>
						</div>
						<div class="col-2">
							<b>Жанры</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.movie.tags.filter(tag => (tag.type == 'genre'))">{{ tag.tag }}</li>
							</ul>
						</div>
						<div class="col-2">
							<b>Категории</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.movie.tags.filter(tag => (tag.type == 'category'))">{{ tag.tag }}</li>
							</ul>
						</div>
						<div class="col-2">
							<b>Страны</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.movie.tags.filter(tag => (tag.type == 'country'))">{{ tag.tag }}</li>
							</ul>
						</div>
						<div class="col-2">
							<b>Студии</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.movie.tags.filter(tag => (tag.type == 'studio'))">{{ tag.tag }}</li>
							</ul>
						</div>
						<div class="col-2">
							<b>Каналы</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.movie.tags.filter(tag => (tag.type == 'channel'))">{{ tag.tag }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		window.addEventListener('DOMContentLoaded', (event) => {
			const { createApp } = Vue

			createApp({
				data() {
					return {
						movies: [],
						domains: [],
						movies_filter: {
							id: null,
							domain: null,
							limit: 25,
							active: null,
							deleted: null,
							rkn: null,
							movie_id: null,
						},
						domains_filter: {
						}
					}
				},
				methods: {
					getMovies: function() {
						axios
						.post('/?r=admin/api/Admin/getDomainMovies',this.movies_filter)
						.then(response => {
							this.movies = response.data;
						});
					},
					getDomains: function() {
						axios
						.post('/?r=admin/api/Admin/getDomains',this.domains_filter)
						.then(response => {
							this.domains = response.data;
						});
					},
				},
				mounted() {
					this.getMovies();
					this.getDomains();
				},
				watch: {
					movies_filter: {
						handler: function(movies_filter) {
							if (movies_filter.id == '') {
								movies_filter.id = null;
							}
							if (movies_filter.movie_id == '') {
								movies_filter.movie_id = null;
							}
							this.getMovies();
						},
						deep: true,
					},
				},
			}).mount('#app')
		});
	</script>
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>