<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>MGW Кино</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/types/cinema/template/admin/images/icon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

	<div id="app">
		<div class="container" v-show="true" style="display: none;">
			<div class="row mt-3 mb-3">
				<div class="col-1">
					<label>ID</label>
					<input type="text" class="form-control" v-model="movies_filter.id">
				</div>
				<div class="col-2">
					<label>Лимит {{ movies_filter.limit }}</label>
					<input type="range" class="form-range" min="0" max="1000" step="25" v-model="movies_filter.limit">
				</div>
			</div>
			<div class="row small mb-2" style="font-weight: bold;">
				<div class="col-1">ID</div>
				<div class="col-2">Дата</div>
				<div class="col-3">Название</div>
				<div class="col-1">Тип</div>
				<div class="col-1">Год</div>
				<div class="col-1">Страна</div>
				<div class="col-1">Жанры</div>
				<div class="col-1">Студии</div>
				<div class="col-1">Каналы</div>
			</div>
			<div class="list-group">
				<div v-for="movie in movies" class="list-group-item list-group-item-action" @click="movie.show_movie = movie.show_movie?false:true">
					<div class="row">
						<div class="col-1">#{{ movie.id }}</div>
						<div class="col-2">{{ movie.add_date }}</div>
						<div class="col-3">{{ movie.title_ru }}</div>
						<div class="col-1">{{ movie.type }}</div>
						<div class="col-1">{{ movie.year }}</div>
						<div class="col-1">
							<ul style="margin: 0; padding: 0;">
								<li style="list-style-type: none;" v-for="tag in movie.tags.filter(tag => (tag.type == 'country'))">
									<span class="badge text-bg-primary">{{ tag.tag }}</span>
								</li>
							</ul>
						</div>
						<div class="col-1">
							<ul style="margin: 0; padding: 0;">
								<li style="list-style-type: none;" v-for="tag in movie.tags.filter(tag => (tag.type == 'genre'))">
									<span class="badge text-bg-primary">{{ tag.tag }}</span>
								</li>
							</ul>
						</div>
						<div class="col-1">
							<ul style="margin: 0; padding: 0;">
								<li style="list-style-type: none;" v-for="tag in movie.tags.filter(tag => (tag.type == 'studio'))">
									<span class="badge text-bg-primary">{{ tag.tag }}</span>
								</li>
							</ul>
						</div>
						<div class="col-1">
							<ul style="margin: 0; padding: 0;">
								<li style="list-style-type: none;" v-for="tag in movie.tags.filter(tag => (tag.type == 'channel'))">
									<span class="badge text-bg-primary">{{ tag.tag }}</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="row mt-3 mb-2 small" v-show="movie.show_movie">
						<div class="col-2">
							<b>Тип, год</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.tags.filter(tag => (tag.type == 'type' || tag.type == 'year'))">{{ tag.tag }}</li>
							</ul>
						</div>
						<div class="col-2">
							<b>Категории</b>
							<ul class="list-group">
								<li class="list-group-item" v-for="tag in movie.tags.filter(tag => (tag.type == 'category'))">{{ tag.tag }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		window.addEventListener('DOMContentLoaded', (event) => {
			const { createApp } = Vue

			createApp({
				data() {
					return {
						movies: [],
						movies_filter: {
							id: null,
							limit: 25,
						},
						domains_filter: {
						}
					}
				},
				methods: {
					getMovies: function() {
						axios
						.post('/?r=admin/api/Admin/getMovies',this.movies_filter)
						.then(response => {
							this.movies = response.data;
						});
					},
				},
				mounted() {
					this.getMovies();
				},
				watch: {
					movies_filter: {
						handler: function(movies_filter) {
							if (movies_filter.id == '') {
								movies_filter.id = null;
							}
							this.getMovies();
						},
						deep: true,
					},
				},
			}).mount('#app')
		});
	</script>
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>