.clr {clear: both;}
.clearfix:after {content: ""; display: table; clear: both;}

/*body {font: 14px 'Open Sans', sans-serif;line-height: normal;padding: 0;margin: 0;color: #444;min-height: 100%;width: 100%;font-weight: 400;background: #444 url(/template/images/bg.jpg) center top fixed;background-size: 100% auto;}
a {color: #444; text-decoration: none;}
a:hover, a:focus {color: #79c142; text-decoration: none;}
h1, h2, h3, h4, h5 {font-weight: 600; font-size: 18px;}*/

.img-box, .img-wide, .img-square, .img-resp, .img-resp-vert, .img-resp-sq, .img-fit 
{overflow: hidden; position: relative; background-color: #222;}
.img-resp {padding-top: 60%;}
.img-resp-vert {padding-top: 145%;}
.img-resp-sq {padding-top: 100%;}
.img-box img, .img-square img, .img-resp img, .img-resp-vert img, .img-resp-sq img {width: 100%; min-height: 100%; display: block;}
.img-resp img, .img-resp-vert img, .img-resp-sq img {position: absolute; left: 0; top: 0;}
.img-wide img {width: 100%; display: block;}
.img-fit img {width: 100%; height: 100%; object-fit: cover;}
.nowrap {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.fx-row {display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;
-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.fx-col {display:-ms-flexbox;display:-webkit-flex;display:flex; 
-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.fx-center {-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.fx-middle {-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.fx-start {-webkit-justify-content:flex-start;justify-content:flex-start;}
.fx-top {-ms-flex-align:flex-start;-webkit-align-items:flex-start;align-items:flex-start}
.fx-first {-ms-flex-order: -1;-webkit-order: -1;order: -1;}
.fx-last {-ms-flex-order: 10;-webkit-order: 10;order: 10;}
.fx-1 {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; 
	max-width: 100%; min-width: 50px;}


/* BASIC GRID
----------------------------------------------- */
.wrap {min-width:320px;position: relative;padding-top: 250px;padding-bottom: 250px;}
.wrap-center {max-width:1100px; margin:0 auto; position:relative; z-index:20;}
.wrap-main {background-color: #ededed; box-shadow: 0 0 60px rgba(0,0,0,0.5);}
.header {background-color: #fff; box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15); 
	transition: top .2s linear; position: relative; z-index: 99;}
.header-in {padding: 0 20px;}
.content {padding: 20px;}
.header.sticky {position: fixed; left: 0; top: 0; width: 100%;}
.header.sticky-hide {top: -70px;}
.header.sticky-vis {top: 0;}
.footer {background-color: #1e1e1e; color: #ccc; padding: 20px;}

#gotop{position:fixed; width:40px; height:40px; line-height:40px; right:10px; bottom:10px;
z-index:9998; display:none; background-color:#fff; color:#444; cursor:pointer; font-size:18px; 
border-radius:3px; text-align:center; box-shadow: 0 1px 4px rgba(0,0,0,0.2);}



/* SECTION
----------------------------------------------- */
.sect {
	margin-bottom: 20px;
	font: 14px 'Open Sans', sans-serif;
	color: #444;
	font-weight: 400
}
.sect a {
	color: #444;
	text-decoration: none
}
.sect a:hover, .sect a:focus {
	color: #79c142;
}
.sect-header {margin-bottom: 10px;}
.sect-title {font-size: 18px; font-weight: 600;}
.sect-items {margin: 0 -5px -10px -5px;}
.sect-title, .sect-tabs span {height: 40px;line-height: 40px;padding: 0 20px;/* cursor: pointer; */border-radius: 3px;display: inline-block;vertical-align: top;}
.sect-title {background-color: #79c142; color: #fff !important; margin-right: 20px;}
a.sect-title:hover {text-decoration: underline;}
.sect-title .fa {margin-left: 10px; font-size: 14px;}
.sect-tabs span.is-active {background-color: #fff;}
.sect-tabs span:not(.is-active):hover {background-color: #e1e1e1; cursor: pointer;}
.sect-cont > .fa {font-size:100px; color:#CCC; display:block; text-align:center;}
.side-sticky {position: static;  position: sticky; top: 30px; right: 0;}

/* THUMB
----------------------------------------------- */
.th-item {float: left; width: 16.66%; padding: 0 5px; margin-bottom: 10px;}
.th-in {display: block; position: relative; box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);}
.th-img:before {content: ''; position: absolute; left: 0; right: 0; bottom: 0; z-index: 5; 
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); height: 50%;}
.th-desc {position: absolute; left: 0; right: 0; bottom: 0; z-index: 10; padding: 10px; color: #fff; text-align: center;}
.th-title {
	font-weight: 600;
	 /*-webkit-text-stroke: 1px black;*/
}
.th-year {font-size: 12px; margin-top: 3px; opacity: 0.8;}
.th-rates {margin-top: 3px;}
.th-rate:before {content: attr(data-text); display: inline; margin-right: 3px; text-transform: uppercase; font-weight: 600;}
.th-rate-kp:before {color: #f60;}
.th-rate-imdb:before {color: #fc0;}
.th-series {position: absolute; z-index: 5; left: 10px; top: 10px; padding: 3px 5px; 
	border-radius: 3px; background-color: #79c142; color: #fff; font-weight: 600; font-size: 13px;}
.th-mask {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; padding:10px; 
background-color:rgba(0,0,0,0.6); opacity:0; z-index:11;}
.with-mask:hover .th-mask {opacity:1;}
.th-mask .fa {width:60px; height:60px; border-radius:50%; text-align:center; line-height:60px; 
padding-left:5px; font-size:24px; color: #fff; background-color: #79c142;}


/* FULL
----------------------------------------------- */
.speedbar {font-size: 12px; margin: -10px 0 10px; color: #888;}
.fmain {background-color: #fff; box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15); margin: 0 -20px;}
.fright {width: 280px; padding: 20px; padding-bottom: 1px; background-color: #e1e1e1;}
.fleft {padding: 20px;}
.fleft-img {width: 200px; margin-right: 20px;}
.fposter {border-radius: 3px 3px 0 0;}
.fleft-img-in {box-shadow:0 0 0 1px #ccc,2px 3px 3px 0 rgba(0,0,0,0.1); border-radius: 3px;}
.fleft-desc h1 {font-size: 18px; font-weight: 600; margin-bottom: 15px;}
.fedit {position: absolute; z-index: 10; right: 10px; top: 10px; font-size: 18px;}

.slide-circle {width:50px; height:50px; border-radius: 50%; margin: -25px 0 0 -25px;
background-color:#e1e1e1; box-shadow:0 0 0 5px #fff,0 0 12px 0 rgba(0,0,0,0.8);
position: absolute; left: 50%; top: 0;}
.slide-circle > div {position: absolute; left:0; top:0; z-index: 1; width: 100%; height: 100%; 
text-align: center; font-size:20px; font-weight: 600; padding-top: 10px;}
.slide-circle > div div {display: none;}
.flikes {height:45px; position:relative; z-index:20; white-space: nowrap; padding: 0 6px;}
.rate-plus, .rate-minus {line-height:45px; cursor:pointer;}
.flikes .fa {width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 50%; 
color: #fff; font-size: 16px;}
.rate-plus .fa {background-color: #33a42d; margin-right: 8px;}
.rate-minus .fa {background-color: #dd4d1b; margin-left: 8px;}
.rate-plus:hover .fa, .rate-minus:hover .fa {opacity: 0.8;}

.fdesc {margin-bottom: 20px;margin-top: 20px;color:#888;font-size: 13px;}
.fdesc.slice-masked {margin-bottom:0;}
.slice {overflow:hidden; position:relative; transition:height .2s;}
.slice-masked:before {content:'';position:absolute;z-index:1;bottom:0px;left:0;right:0;height:120px;pointer-events:none;
background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);}
.slice-btn {margin:1px 0 15px 0;}
.slice-btn span {display:block; cursor:pointer; text-decoration:none; box-shadow:0 0 0 1px #ccc,2px 3px 3px 0 rgba(0,0,0,0.1); 
text-align:center; padding:8px 10px; font-weight:600; border-radius:3px;}

.flist {width: 48%; line-height: 1.7; font-size: 13px;}
.flist li > span:first-child {font-weight: 600; color: #000;}
.flist a {color: #06c; border-bottom: 1px dotted #06c;}
.flist-wide {width: 100%;}
.frate {line-height: 30px; border-radius: 3px; text-align: center; width: 48%; 
	margin-top: 7px; font-size: 14px; font-weight: 600;}
.frate:before {content: attr(data-text); display: inline; margin-right: 3px; text-transform: uppercase;}
.frate-kp {box-shadow: inset 0 0 0 2px #f60;}
.frate-imdb {box-shadow: inset 0 0 0 2px #fc0;}

.fsubtitle {
	margin: 20px -20px -10px -20px;
	padding: 0 20px;
	padding-top: 10px;
	border-top: 1px solid #e3e3e3;
	font-weight: 600;
	font-size: 15px;
	width: calc(100% + 40px);
	}
.fsubtitle h2 {font-size: 16px;font-weight: 600;text-align: center;}
.fsubtitle .fa {color: #79c142;}
.date_creat {
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #91949c;
    padding: 2px 8px;
    border-radius: 4px;
    border: 2px solid #eee;
    margin-top: -5px;
}
.fplayer {position:relative;width: calc(100% + 40px);margin: 20px -20px -10px -20px;}
.fctrl {background-color: #1e1e1e;color: #ccc;padding-right: 20px;}
.fplayer .tabs-sel {white-space:nowrap; overflow-y:hidden; overflow-x:auto; font-size: 0;}
.fplayer .tabs-sel span {display:inline-block; padding:0 20px; height:40px; line-height:40px; cursor:pointer; 
font-weight:600; font-size: 14px; background-color: #000; color: #fff;}
.fplayer .tabs-sel span.current {background-color: #79c142; color: #fff;}
.fplayer .tabs-sel span:hover {text-decoration: underline;}
.js .tabs-b {background-color: #000; display: none;}
.js .tabs-b.visible {display: block;}

.fcompl a, .ffav a {color: #ccc;}
.fcompl a:hover, .ffav a:hover, .ffav span:hover {color: #fff; cursor: pointer;}
.fcompl, .ffav {margin-left: 20px;}
.flight {height: 30px; line-height: 30px; position: relative;
	padding-left: 50px; cursor: pointer; display: inline-block;}
.flight:before, .flight:after{content: '';position: absolute;top: 50%;transition: .3s;}
.flight:before{height: 20px;margin-top: -10px;width: 40px;border-radius: 4px;
	background: #444;box-shadow: inset 0 1px 3px rgba(0,0,0,0.8); left: 0;}
.flight:after{left: 1px;height: 18px;width: 18px;margin-top: -9px;background: #ffda13;
	border-radius: 4px;box-shadow: 0 1px 2px rgba(0,0,0,.3);}
.light-overlay {position: fixed; left: 0; top: 0; right: 0; bottom: 0; 
	z-index: 99998; background-color: rgba(0,0,0,0.8); display: none;}
.light-off .flight:after{left: 21px; background-color: #79c142;}
.light-off .light-overlay {display: block;}
.light-off .fplayer {z-index: 99999;}
.light-off #gotop {z-index: 10;}

.fshare {padding: 10px; text-align:center; white-space:nowrap;}
.fshare .fa {width:50px; height:30px; border-radius:3px; text-align:center; line-height:30px; 
background-color:#C70003; color:#fff; font-size:14px; margin:0 2px; cursor:pointer;}
.fshare .fa:hover {opacity:0.8;}
.fa.fa-vk {background-color:#5075a5;}
.fa.fa-facebook {background-color:#4b6baf;}
.fa.fa-twitter {background-color:#2daae1;}
.fa.fa-odnoklassniki, .fa.fa-rss {background-color:#FC6D00;}
.fa.fa-paper-plane {background-color:#5682a3;}
.foriginal {font-size:14px;opacity:0.5;margin-top:5px;margin-bottom: 10px;}
.frels {margin: 0 -20px; margin-top: -20px; padding: 20px; background-color: #111; color: #fff; position: relative; bottom: -20px;}
.frels-title {font-size: 18px; font-weight: 600; padding-bottom: 10px;}
.fcomms {padding-top: 20px;}
.full-comms, .add-comms{width:48%;}
.no-comms {-ms-flex-order:-1;-webkit-order:-1;order:-1}
.comm-letter {position: absolute; left: 0; top: 0; width: 30px; height: 30px; line-height: 30px; text-align: center; 
background-color: #000; color: #fff; font-size: 14px; font-weight: 600; text-transform: uppercase; border-radius: 50%;}
.add-comms > form {position: sticky; right: 0; top: 90px; margin-bottom: 20px;}

.sub-text {margin-bottom:30px;background-color: #e1e1e1;padding: 15px;}
.sub-text .fa {font-size:70px; float:left; margin:0 20px 10px 0; color:#888;}
/* FULL STORY STATIC
----------------------------------------------- */
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame 
{max-width:100% !important; display:block; width:100%; height:500px;}
.mejs-container {max-width:100% !important;}
.full-text {line-height: 1.5; font-size: 14px;}
.full-text img:not(.emoji) {max-width:100%; margin:10px 0;}
.full-text > img[style*="left"], .full-text > .highslide img[style*="left"] {margin:0 10px 10px 0;}
.full-text > img[style*="right"], .full-text > .highslide img[style*="right"] {margin:0 0 10px 10px;}
.full-text a {text-decoration:underline; color:#06c;}
.full-text a:hover {text-decoration:none;}
.full-text h2, .full-text h3, .full-text h4, .full-text h5 {margin:10px 0; font-size:18px; font-weight:700;}
.full-text p {margin-bottom:10px;}
.full-text ul, .full-text ol {margin:0;}
.full-text ul li {list-style:disc; margin-left:40px;}
.full-text ol li {list-style:decimal; margin-left:40px;}

.full-taglist a {color:#d20068;}
.full-taglist {margin-top:20px;}
.full-taglist span:not(.fa):not(:last-child):after {content:","; display:inline;}



/* ADAPTIVE
----------------------------------------------- */
.btn-menu, .fright .filter-btn {display: none;}
.side-panel {width:280px; height:100%; overflow-x:hidden; overflow-y:auto; background-color:#fff;
padding:10px; z-index:99999; position:fixed; left:-320px; top:0; transition:left .4s; -webkit-transition:left .4s;}
.side-panel.active {left:0;}
.close-overlay {width:100%; height:100%; background-color:rgba(0,0,0,0.5); 
position:fixed; left:0; top:0; z-index:99998; display:none;}
.btn-close {cursor:pointer; display:block; left: 280px; top: -40px; position: fixed; z-index: 99999;
width:40px; height:40px; line-height:40px; text-align:center; font-size:18px; 
background-color: #e84e36; color: #fff; transition:top .4s; -webkit-transition:top .4s;}
.btn-close.active {top:0px;}
body.opened-menu {overflow: hidden; width: 100%; height: 100%;}
.side-panel .hmenu {margin: 0; padding: 0;}
.side-panel .hmenu > li {width: 100%; margin: 0; padding: 0;}
.side-panel .hmenu > li > a {height: 40px; line-height: 40px; margin: 0; padding: 0; 
box-shadow: none !important; color: #444;}
.side-panel .search-wrap, .side-panel .btn-login {width: 100%; margin: 0 0 10px 0; padding: 0;}
.side-panel .hidden-menu {width: 100%; display: block; position: static; background-color: #ededed; 
width: calc(100% + 20px); margin-left: -10px; opacity: 1; pointer-events: auto; transform: none; 
box-shadow: none; border-bottom: 3px solid #79c142;}
.side-panel .hm-col {width: 50%;}
.side-panel .one-col .hm-col {width: 100%;}


@media screen and (max-width: 1220px) {
.wrap-center {max-width:1000px;}
.header .hmenu, .header .search-wrap, .header .btn-login {display: none;}
.btn-menu {display: block; font-size: 34px; cursor: pointer;}
/*#gotop {display: none !important;}*/
.not-logged .login-avatar {display: none;}
.login-close {top: -5px;}
.login-title {font-size: 18px;}
.login-box {max-width: calc(100% - 60px); padding: 15px;}
.sect-header.fx-start {display: block; white-space: nowrap; overflow-y: hidden; overflow-x: auto;}
.sect-header.fx-start > * {display: inline-block; vertical-align: top; margin-right: 10px;}
.sect-tabs span, .sect-title {padding: 0 10px;}

.fright {width: 100%; padding-top: 10px; padding-bottom: 10px;}
.fright .frels-title {display: none;}
.fright .filter-btn {width: 100%; display: block;}
.fright .filter-wrap {padding: 20px 15px !important;}
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:400px;}
.hm-col li {
	width: 100%;
	float: none;
	height: 26px; line-height: 26px; font-weight: 600; padding: 0 10px;
}
}

@media screen and (max-width: 950px) {
.wrap-center {max-width:768px;}
.th-item {width: 25%;}
.content, .header-in, .footer, .desc-text {padding-left: 10px; padding-right: 10px;}
.desc-text {margin-left: -10px; margin-right: -10px;}
.footer {text-align: center; display: block;}
.ft-desc {padding-top: 0; padding-bottom: 20px; background-image: none; width: 100%;}

.fmain, .fsubtitle, .frels {margin-left: -10px; margin-right: -10px;}
.fleft, .fright, .fsubtitle, .frels {padding-left: 10px; padding-right: 10px;}
.fsubtitle {width: calc(100% + 20px);}
.full-comms, .add-comms{width:100%;}
.add-comms {-ms-flex-order:-1;-webkit-order:-1;order:-1}
}

@media screen and (max-width: 760px) {
.wrap-center {max-width:640px;}
.th-item {width: 33.33%;}

.fleft-img {margin: 0 auto 20px auto;}
.fleft-desc {min-width: 100%;}
.flist {width: 100%; margin-bottom: 5px;}
.flight, .fcompl, .ffav {display: none;}

.dcont button {font-size:12px; padding:0 15px !important;}
.comments-tree-list .comments-tree-list {padding-left:0px !important;}
.comments-tree-list .comments-tree-list:before {display:none;}
.mass_comments_action {display:none;}
}

@media screen and (max-width: 590px) {
.wrap-center {max-width:480px;}

.ac-inputs input {width: 100%;}
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:300px;}

.ui-dialog {width:100% !important;}
.upop-left, .upop-right {float:none !important; width:100% !important; margin:0; padding:0 20px;}
.upop-left {margin-bottom:10px; text-align:center;}
.ui-dialog-buttonset button {display:block; margin:0 0 5px 0; width:100%;}
#dofullsearch, #searchsuggestions span.seperator {display:none !important;}
.attach .download-link {margin:0 -15px 0 0; float:none; display:block; padding:0 10px;}
.attach-info {float:none;}
}

@media screen and (max-width: 470px) {
.wrap-center22 {max-width:320px;}
.th-item {width: 50%;}
.wrap {padding-top: 0; overflow: hidden;}
body {background-image: none;}

.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:250px;}
}



