

    

.countdownHolder{
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.position{
	display: inline-block;
	height: 53px;
	overflow: hidden;
	position: relative;
	width: 19px;
	text-align: center;
}

.digit{
	position:absolute;
	display:block;
	width: 16px;
	text-align:center;
	color:#145489;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
    font-size: 35px;
	border-radius: 2px;
	height: 45px;
	margin-top: 4px;
}

.digit.static{
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{display: block;}
.countDiv0, .countDiv1, .countDiv2{display: none !important;}
.countHours{}
.countMinutes{}
.countSeconds{}
.countDays,.countHours,.countMinutes,.countSeconds{
	display: inline-block;
	margin: 10px 5px;
	text-align: center;
	width: 60px;
	height: 60px;
	background: #86ecff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.countDays p,.countHours p,.countMinutes p,.countSeconds p{
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	font-size: 14px;
	color: #145489;
	position: relative;
	bottom: 12px;
}

.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background:#504250;
	border-radius: 50%;
	left:50%;
	margin-left:-3px;
	top:-45px;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:-25px;
}


.countdownHolder{
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.position{
	display: inline-block;
	height: 53px;
	overflow: hidden;
	position: relative;
	width: 19px;
	text-align: center;
}

.digit{
	position:absolute;
	display:block;
	width: 16px;
	text-align:center;
	color:#145489;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
    font-size: 35px;
	border-radius: 2px;
	height: 45px;
	margin-top: 4px;
}

.digit.static{
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{display: block;}
.countDiv0, .countDiv1, .countDiv2{display: none !important;}
.countHours{}
.countMinutes{}
.countSeconds{}
.countDays,.countHours,.countMinutes,.countSeconds{
	display: inline-block;
	margin: 10px 5px;
	text-align: center;
	width: 60px;
	height: 60px;
	background: #86ecff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.countDays p,.countHours p,.countMinutes p,.countSeconds p{
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	font-size: 14px;
	color: #145489;
	position: relative;
	bottom: 12px;
}

.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background:#504250;
	border-radius: 50%;
	left:50%;
	margin-left:-3px;
	top:-45px;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:-25px;
}


.countdownHolder{
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.position{
	display: inline-block;
	height: 53px;
	overflow: hidden;
	position: relative;
	width: 19px;
	text-align: center;
}

.digit{
	position:absolute;
	display:block;
	width: 16px;
	text-align:center;
	color:#145489;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
    font-size: 35px;
	border-radius: 2px;
	height: 45px;
	margin-top: 4px;
}

.digit.static{
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{display: block;}
.countDiv0, .countDiv1, .countDiv2{display: none !important;}
.countHours{}
.countMinutes{}
.countSeconds{}
.countDays,.countHours,.countMinutes,.countSeconds{
	display: inline-block;
	margin: 10px 5px;
	text-align: center;
	width: 60px;
	height: 60px;
	background: #86ecff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.countDays p,.countHours p,.countMinutes p,.countSeconds p{
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	font-size: 14px;
	color: #145489;
	position: relative;
	bottom: 12px;
}

.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background:#504250;
	border-radius: 50%;
	left:50%;
	margin-left:-3px;
	top:-45px;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:-25px;
}



/* basic style and fonts */

@font-face {
	font-family: 'Conv_HelveticaNeueCyr-Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueCyr-Light';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueCyr-Medium';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueCyr-LightItalic';
	src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueCyr-Italic';
	src: url('../fonts/HelveticaNeueCyr-Italic.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-Italic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueCyr-BoldItalic';
	src: url('../fonts/HelveticaNeueCyr-BoldItalic.eot');
	src: local('?'), url('../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4{
	font-weight: normal;
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
img{
	width: 100%;
	display: block;
	vertical-align: bottom;
}

/* END basic style and fonts */

/* top menu style */


.blockMenu{
	width: 100%;
	position: relative;
	border-bottom: 1px solid #96ff00;
background: #95f300; /* Old browsers */
background: -moz-linear-gradient(top,  #95f300 0%, #78bd00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95f300), color-stop(100%,#78bd00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #95f300 0%,#78bd00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #95f300 0%,#78bd00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #95f300 0%,#78bd00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #95f300 0%,#78bd00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95f300', endColorstr='#78bd00',GradientType=0 ); /* IE6-9 */
}

.forMenu{
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 75px;
}
.menu{
	display: block;
	text-align: left;
	margin-top: 33px;
	width: 67%;
}
.menu li{
	font-family: 'Conv_HelveticaNeueCyr-Medium';
	display: inline-block;
	cursor: pointer;
	color: #145489;
	font-size: 15px;
	margin:0 11px;
	text-decoration: underline;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);*/
}
.menu li:last-child{
	margin-right: 0;
}
.menu li:first-child{
	margin-left: 0;
}
.menu li:hover{
	text-decoration: none;
}
.topPhone{
	width: 33%;
}
.art{
	margin-top: 35px;
	width: 42%;
}
.art p{
	font-family: 'Conv_HelveticaNeueCyr-Light';
	color: #145489;
	font-size: 14px;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);*/
}
.phoneAndTime{
	width: 58%;
	text-align: center;
	margin-top: 19px;
}
.phone{
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	color: #145489;
	font-size: 23px;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);*/
}
.forTime{
	font-family: 'Conv_HelveticaNeueCyr-Light';
	font-size: 14px;
	color: #145489;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);*/
}
#hideBg{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.9);
	z-index: 9998;
	cursor: pointer;
	top:0;
	left: 0;
	display: none;
}
#modalMogaz{
	width: 92%;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid #ccc;
	background: #fff;
	position: absolute;
	top: 2%;
	left: 50%;
	margin-left: -46%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: none;
	z-index: 9999;
}
#modalMogaz h2{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 10% 0 2%;
	color: #302823;
}
#modalMogaz p{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 2% 0;
	color: #302823;
}
#modalDost{
	z-index: 9999;
	width: 92%;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid #ccc;
	background: #fff;
	position: absolute;
	top: 2%;
	left: 50%;
	margin-left: -46%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: none;
}
#modalDost h2{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 10% 0 2%;
	color: #302823;
}
#modalDost p{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 2% 0;
	color: #302823;
}
#modalDost ul{
	margin-left: 7%;
}
#modalGor{
	z-index: 9999;
	width: 92%;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid #ccc;
	background: #fff;
	position: absolute;
	top: 2%;
	left: 50%;
	margin-left: -46%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: none;
}
#modalGor h2{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 10% 0 2%;
	color: #302823;
}
#modalGor p{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 2% 0;
	color: #302823;
}
#modalFaq{
	width: 92%;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid #ccc;
	background: #fff;
	position: absolute;
	top: 2%;
	left: 50%;
	margin-left: -46%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: none;
	z-index: 9999;
}
#modalFaq h2{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 10% 0 2%;
	color: #302823;
}
#modalFaq p{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 2% 0;
	color: #302823;
}
#modalPrem{
	width: 92%;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid #ccc;
	background: #fff;
	position: absolute;
	top: 2%;
	left: 50%;
	margin-left: -46%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: none;
	z-index: 9999;
}
#modalPrem h2{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 10% 0 2%;
	color: #302823;
}
#modalPrem p{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 2% 0;
	color: #302823;
}
.backBottom{
	text-align: center;
}
.backBottom p{
	color: red !important;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
#close{
	position: absolute;
	top: 1px;
	right: 1%;
	font-weight: bold;
	cursor: pointer;
	color: red !important;
}
#close p{
	color: red;
}
.forHideMenu{
	display: none;
}
.hideH2{
	font-family: 'Conv_HelveticaNeueCyr-Roman';
	width: 50%;
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10%;
	margin-top: 35px;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);
}
.hideMenu{
	display: none;
}
.menu_ico{
	cursor: pointer;
	margin-right: 10%;
	width: 32px;
	margin-top: 25px;
}

.hideMenu .menu{
	width: 80%;
	text-align: center;
	border-top: 1px solid #fff;
	margin: 10px auto;
}
.hideMenu .menu li{
	display: block;
}
.hideMenu .topPhone{
	text-align: center;
	margin: 2% auto;
	width: 100%;
	padding: 2% 0;
}

body{
	position: relative;
	z-index: 9998;
}
#modal_window{
	width: 310px;
	text-align: center;
	line-height: 50px;
	border: 3px solid #ccc;
	border-radius: 5px;
	font-size: 20px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 20%;
	margin-left: -158px;
	font-size: 20px;
	display: none;
}
#modal_window1{
	width: 310px;
	text-align: center;
	line-height: 50px;
	border: 3px solid #ccc;
	border-radius: 5px;
	font-size: 20px;
	background: #fff;
	position: absolute !important;
	left: 50%;
	bottom: 30px;
	margin-left: -158px;
	font-size: 20px;
	display: none;
	cursor: pointer;
}

/* END  top menu style */


/* site style standart width */



#wrapper{
	width: 100%;
	margin: 0 auto;
	background:#fff;
	min-width: 320px;
}

.forCon1{
	width: 100%;
	background: url(../img/bg1.jpg) no-repeat center;
	background-size: cover;
}
.con1{
	width: 96%;
	max-width: 1000px;
	height: 660px;
	margin: 0 auto;
	padding: 0 2%;
	position: relative;
}

.forForm{
	width: 47%;
	padding-top: 40px;
}
h1{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 48px;
	color: #b3ff3b;
}
.forH1{
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-family: 'Conv_HelveticaNeueCyr-Medium';
}

.borderH1{
	padding: 10px 0 20px;
}

.forForm h3{
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
}

.priceBlock{
	position: absolute;
	width: 200px;
	height: 129px;
	background: url(../img/priceBlockBg.png) no-repeat center;
	left: 250px;
	top: 300px;
	text-align: center;
	padding-top: 40px;
}
.newPrice{
	font-size: 30px;
	color: #145489;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
}

.oldPrice{
	color: #535353;
	font-size: 18px;
	text-decoration: line-through;
	font-family: 'Conv_HelveticaNeueCyr-Light';
}

.timer{
	margin: 15px 0;
}
form{
	width: 100%;
	max-width: 270px;
	margin: 0 auto;
}
form select,
form input{
	display: block;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
form select {
	box-sizing: content-box;
}
.in select, .in input {
    width: 98%;
    padding-left: 2%;
    height: 15px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: #145489;
    font-family: 'Conv_HelveticaNeueCyr-Bold';
}

.in input:last-child { margin-bottom: 0 ;}
input:-moz-placeholder {color: #145489;}
input::-webkit-input-placeholder {color: #145489;}

.submit input {
	width: 100%;
	height: 60px;
	margin-top: 20px;
	border: 1px solid #96ff00 !important;
	font-size: 24px;
	color: #fff;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.36);
	cursor: pointer;
background: #95f300; /* Old browsers */
background: -moz-linear-gradient(top,  #95f300 0%, #78bd00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95f300), color-stop(100%,#78bd00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #95f300 0%,#78bd00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #95f300 0%,#78bd00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #95f300 0%,#78bd00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #95f300 0%,#78bd00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95f300', endColorstr='#78bd00',GradientType=0 ); /* IE6-9 */

}
.submit input:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.36);
	background: #78bd00; /* Old browsers */
background: -moz-linear-gradient(top,  #78bd00 13%, #95f300 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#78bd00), color-stop(100%,#95f300)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #78bd00 13%,#95f300 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #78bd00 13%,#95f300 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #78bd00 13%,#95f300 100%); /* IE10+ */
background: linear-gradient(to bottom,  #78bd00 13%,#95f300 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78bd00', endColorstr='#95f300',GradientType=0 ); /* IE6-9 */

}

.forCon2{
	width: 100%;
	
}
.con2{
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 2%;
}
h2{
	color: #79bf00;
	font-size: 24px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
}

.forVideo{
	width: 47%;
	padding-right: 2%;
}

.videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
}

.videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.con2 p{
	color: #535b5c;
	font-size: 16px;
	font-family: 'Conv_HelveticaNeueCyr-Light';
	margin-bottom: 25px;
}
.con2 p:last-child{
	margin-bottom: 0;
}

.forCon3{
	width: 100%;
	background: url(../img/bg2.jpg) no-repeat center;
	background-size: cover;
}
.con3{
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 2%;
}
.con3 ul{
	width: 100%;
	max-width: 450px;
	list-style: none;
}
.con3 ul li{
	min-height: 14px;
	padding-left: 30px;
	margin-bottom: 15px;
	background: url(../img/liBg.png) no-repeat top left;
	font-size: 16px;
	color: #fff;
	font-family: 'Conv_HelveticaNeueCyr-Roman';
}

.forCon4{
	width: 100%;
	background: #fff;
}
.con4{
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 2%;
}

.con4 .fl, .con4 .fr{
	width: 49%;
}
.sBlock{
	background: #84c326;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.sBlock p{
	text-align: center;
	padding: 5px 0;
	font-size: 18px;
	color: #fff;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
}
.con4 .topBlock{
	margin-bottom: 10px;
}

.forCon5{
	width: 100%;
	background: url(../img/bg3.jpg) no-repeat center;
	background-size: cover;
}
.con5{
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 2%;
}

.con5 .forH2{
	color: #fff;
	padding-bottom: 40px;
	font-size: 16px;
	font-family: 'Conv_HelveticaNeueCyr-Roman';
}
.forTable{
	width: 100%;
	max-width: 470px;
	border: 1px solid #86edff;
	border-left: none;
	overflow: hidden;
}
.con5 .forTable table{
	width: 100%;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-collapse: collapse;
}
.con5 table td{
	padding: 10px;
	border-left: 1px solid #86edff;
	color: #fff;
	font-size: 16px;
	font-family: 'Conv_HelveticaNeueCyr-Roman';
}
.tableHead{
	background: #86edff;
}
.tableHead td {
	color: #145489 !important;
	font-size: 16px;
	font-family: 'Conv_HelveticaNeueCyr-Roman';
}

.forCon6{
	width: 100%;
	background: #fff;
}
.con6{
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 2%;
}



.forComment{
	width: 100%;
	margin-bottom: 20px;
}
.forComment:last-child{
	margin-bottom: 0;
}

.forComment img{
	width: 10%;
}
.comment{
	width: 88%;
}

.name{
	color: #145489;
	font-size: 20px;
	font-family: 'Conv_HelveticaNeueCyr-Light';
	padding-bottom: 5px;
}
.comment_text{
	color: #535b5c;
	font-size: 16px;
	font-family: 'Conv_HelveticaNeueCyr-Light';
}


.footer{
	width: 96%;
	margin: 0 auto;
	padding: 40px 2%;
	text-align: center;
}
.pol{
	display: inline-block;
	margin-right: 20px;
}
.footerLink {
	text-align: center;
	margin-bottom: 10px;
}
.footerLink .pol, .footerLink a{
	font-family: 'Conv_HelveticaNeueCyr-Roman';
	text-decoration: none;
	font-size: 24px;
	color: #145489;
	cursor: pointer;
	border-bottom: 1px solid #145489;
}
.footerLink .pol:hover, .footerLink a:hover{
	border: none;
}
.footerText{
	font-family: 'Conv_HelveticaNeueCyr-Light';
	text-align: center;
	font-size: 18px;
	color: #404040;
}

.footer_border{
	width: 100%;
	height: 38px;
	background: url(../img/footer_border.png) repeat-x left center;
	margin-top: 50px;
}



/* END  site style standart width */

/* START  site style width 1100 */

@media screen and (max-width:1100px){
	.menu{
		width: 65%;
	}
	.menu li{
		font-size: 13px;
	}
	.topPhone{
		width: 35%;
	}
}
/* END  site style width 1100 */

/* START  site style width 945 */

@media screen and (max-width:945px){
	.forMenu{
		max-width: 500px;
	}
	.menu, .topPhone{
		display: none;
	}
	.forHideMenu, .hideMenu .menu, .hideMenu .topPhone{
		display: block;
	}
	.forCon1 {
    width: 100%;
    background: url(../img/bg1_1.jpg) no-repeat center;
    background-size: cover;
}
    .forCon3 {
    width: 100%;
    background: url(../img/bg2_2.jpg) no-repeat center;
    background-size: cover;
}
    .forCon5 {
    width: 100%;
    background: url(../img/bg3_3.jpg) no-repeat center;
    background-size: cover;
}
    .in select, .in input {
    width: 98%;
    padding-left: 2%;
     height: 15px; 
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: #145489;
    font-family: 'Conv_HelveticaNeueCyr-Bold';
}
    div#formContainer2 {
    margin-top: 30px;
}    div#formContainer1 {
    margin-top: 30px;
}
	.hideMenu .menu li{
		margin: 10px 0;
		font-size: 14px;
	}
	.hideMenu .topPhone{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.hideMenu .topPhone>.fl, .hideMenu .topPhone>.fr{
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.hideMenu .art{
		padding-bottom: 10px !important;
	}
	
	.footerLink .pol, .footerLink a{
		font-size: 18px;
	}
	.footerText{
		font-size: 14px;
	}
	.pol{
		margin-right: 0;
	}


	.forComment img{
		float: none;
		display: none;
	}
	.comment{
		float: none;
		width: 100%;
	}
	.forForm{
		float: none;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
	}
	h1{
		font-size: 40px;
	}
	.forH1{
		font-size: 16px;
	}
	.forForm h3{
		font-size: 18px;
	}
	.priceBlock{
		position: static;
		width: 100%;
		height: auto;
		background: none;
		margin: 0 auto;
		padding: 20px 0 0;
	}
	.priceBlock p{
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.newPrice{
		color: #b3ff3b;
	}
	.oldPrice{
		color: #fff;
	}
	h2{
		text-align: center;
		font-size: 18px;
	}
	.forVideo{
		float: none;
		width: 100%;
		max-width: 400px;
		padding: 0;
		margin: 0 auto 20px;
	}
	.con3 ul{
		float: none;
		margin: 0 auto;
	}
	.con4 .leftBlock, .con4 .rightBlock{
		float: none;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}
	.con4 .leftBlock{
		margin-bottom: 20px;
	}
	.sBlock p{
		font-size: 14px;
	}
	.forH2{
		text-align: center;
	}
	.forTable{
		margin: 0 auto;
	}
	
}

/* END  site style width 945 */



.__apishopsFormFeaturedFormContainer__{
        text-align:center;
    }
    .lightbox {
    display: none;
        padding: 20px;
    }
    #featuredFormInsertContainerClosest h3.title {
        font-size: 200%;
        padding: 5% 3% 3%;
    }
    .footer_links a {
    }
    .footer_links.footer_links_min img {
        width: 566px !important;
    }
    .footer_links.footer_links_black a {
        color: black;
    }
    .footer_links.footer_links_black {
        color: black;
    }
    #video_modal iframe,#video_modal2 iframe,#video_modal3 iframe,#video_modal4 iframe {
        width: 100%;
    }
    .giftmorebutton{
        background: none repeat scroll 0% 0% transparent;
        border-radius: 5px;
        border: 2px solid;
        padding: 3px 14px;
    }
    .finishPageBlockClose1 {
        cursor: pointer;
        display: inline-block;
        height: 30px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-indent: 100%;
        top: 10px;
        transform: rotate(0deg);
        transition: transform 0.3s ease 0s, visibility 0s ease 0.3s;
        visibility: visible;
        white-space: nowrap;
        width: 30px;
        z-index: 999999;
    }
    .finishPageBlockClose1:before, .finishPageBlockClose1:after {
        backface-visibility: hidden;
        background: none repeat scroll 0 0 #47374e;
        content: "";
        display: inline-block;
        height: 4px;
        left: 5px;
        position: absolute;
        top: 12px;
        width: 20px;
    }
    .finishPageBlockClose1:before {
        transform: rotate(45deg);
    }
    .finishPageBlockClose1:after {
        transform: rotate(135deg);
    }


            .finishPageBlockClose2 {
              display: block;

            }

            .finishPageBlockClose2 a{
                border: 2px solid;
                border-radius: 25px;
                color: rgb(94, 92, 92);
                display: inline-block;
                line-height: 20px;
                padding: 11px 25px 9px 25px;
                text-decoration: none;
                margin: 30px 0px 0px;
                font-size: 15px;
            }

    .finishPageBlock a {
        color: #0095FF;
    }
    .finishPageBlock h1, .finishPageBlock h2, .finishPageBlock div, .finishPageBlock p, .finishPageBlock b, .finishPageBlock td {
        color: black;
    }
    .footer_links.footer_links_white a {
        color: white;
    }
    .footer_links.footer_links_center {
        text-align: center;
    }
    .footer_links.footer_links_hr {
            border-top: 1px solid #C9C9C9;
        padding-top: 30px;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .footer_links.footer_links_mobile img {
        max-width:100%;
    }
    .footer_links.footer_links_white {
        color: white;
    }
    .footer_links {
        clear: both;
        font-size: 11px;
    }
    .finishPageBlockOverlay {
        content: "";
        background: rgba(0, 0, 0, 0.48);
        position: fixed;
        z-index: 3000;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .featured__more {
        clear: both;
        display: block;
        padding: 20px;
    }
    .finishPageBlock {
        display: block;
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        background: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.42);
        overflow: hidden;
        z-index: 3001;
        color: black;
    }


    @media (min-width: 991px) and (max-width: 1280px) {
        .finishPageBlock{
            left: 10px;
            right: 10px;
            top: 100px;
        }
        .addptable tr td{
            padding-left: 0px;
        }
    }
    @media (min-width: 767px) and (max-width: 991px){
        .apishopsFormButton.apishopsFormBuy.apishopsFormBuySmall {
            margin-left: -60px  !important;
            transform: scale(0.7) !important;
        }
    }
    @media (max-width: 767px) {
       .apishopsFormButton.apishopsFormBuy.apishopsFormBuySmall {
            margin-left: -60px  !important;
            transform: scale(0.6) !important;
        }
    }

    @media (max-width: 991px) {
        .finishPageBlock{
            left: 10px;
            right: 10px;
            top: 100px;
            padding: 15px;
        }
        .addptable tr td{
            padding-left: 0px;
        }

    }



.show-message{}
.show-message__item {
	position: fixed;
	right: 20px;
	top: 120px;
	width: 300px;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
	padding: 5px;
	font-size: 15px;
	line-height: 90px;
	border-radius: 10px;
	display: none;
	z-index:1000;
}
.show-message__icon{
	width: 50px!important;
	display: inline-block;
	vertical-align: middle;
}
.show-message__info{
	width: 210px;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.show-message_call{
	background-color: #363636;
	background-color: rgba(0, 0, 0, 0.67);
}
.show-message_online{
	background-color: #CD5555;
	background-color: rgba(0, 0, 0, 0.67);
}
.show-message__inner{
	float: left;
	line-height: 90px;
	display: inline-block;
	vertical-align: middle;
}