body { margin: 0px 0px 20px; color: rgb(255, 255, 255); font: 100 12px/21px Tahoma,Arial,serif; background: rgb(30, 31, 25) none repeat scroll 0% 0%; min-width: 640px; }
img { border-style: none; }
a { text-decoration: none; color: rgb(205, 115, 229); }
a:hover { text-decoration: underline; }
input, textarea, select { font: 100% Arial,Helvetica,sans-serif; vertical-align: middle; color: rgb(0, 0, 0); outline: medium none; }
form, fieldset { margin: 0px; padding: 0px; border-style: none; }
q::before { content: ""; }
q::after { content: ""; }
#wrapper { width: 100%; overflow: hidden; background: rgb(30, 31, 25) url('bg-page.jpg') no-repeat scroll center top; }
.w1 { max-width: 640px; margin: 0px auto; position: relative; }
.logo { text-indent: -9999px; overflow: hidden; width: 120px; height: 57px; display: block; margin: 15px auto 10px; }
.logo a { display: block; height: 100%; }
.slogan { display: block; font: 400 43px/47px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(14, 29, 24, 0.75); text-align: center; padding: 0px; height: 280px; }
.slogan span { font-size: 40px; color: rgb(197, 199, 103); }
.slogan div { font-size: 25px; }
.info-container { margin: 0px; position: relative; }
.info-container .holder { background: transparent url('bg-info-container.png') no-repeat scroll 0% 0%; height: 72px; padding: 165px 0px 0px; font: 34px/38px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(63, 99, 1, 0.75); text-align: center; }
.info-container p { margin: 0px; }
.info-container .list { list-style: outside none none; margin: 0px; padding: 20px 50px 0px; overflow: hidden; font: 21px/25px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 250, 240); z-index: 200; position: relative; }
.info-container .list li { background: transparent url('bullet-01.png') no-repeat scroll 0px 3px; padding: 0px 0px 25px 54px; }
.product-box .info::after { content: ""; display: inline-block; height: 130px; width: 1px; overflow: hidden; margin: 0px 0px 0px -5px; vertical-align: middle; }
.text-block { width: 100%; padding: 0px 30px; box-sizing: border-box; font: 20px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.text-block::after { display: block; clear: both; content: ""; }
.text-block img { float: right; margin: -53px -30px -50px -35px; }
.text-block p { margin: 0px 0px 30px; }
.img-block .frame::after { display: block; clear: both; content: ""; }
.order-block { font-family: "Roboto Condensed",Arial,Helvetica,sans-serif; background: rgb(182, 201, 122) none repeat scroll 0% 0%; border-radius: 15px; padding: 25px 28px 32px; }
.order-block b { font: 400 100% "Roboto Condensed",Arial,Helvetica,sans-serif; text-transform: uppercase; }
.price-block { width: 532px; height: auto; margin: auto; text-align: center; font-size: 22px; line-height: 24px; color: rgb(20, 5, 0); padding: 25px 10px 0px; }
.price-block h2 { color: rgb(20, 5, 0); margin: 0px 0px 20px; font: 400 50px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.price-block .info { display: block; padding: 0px 0px 3px; }
.price-block .price { font: 400 250% "Roboto Condensed",Arial,Helvetica,sans-serif; display: block; color: rgb(20, 5, 0); padding: 0px 0px 6px; }
.price-block .old-price { display: block; padding: 0px 0px 19px; }
.price-block .old-price strong { font: 400 200% "Roboto Condensed",Arial,Helvetica,sans-serif; }
.order-form { overflow: hidden; margin-top: 20px; font-size: 100%; }
.order-form .row::after { display: block; clear: both; content: ""; }
.order-form select { width: 440px; font: 15px/35px "Roboto Condensed",Helvetica,sans-serif; color: rgb(20, 33, 14); }
.order-form input[type="text"] { border: 1px solid rgb(133, 153, 75); border-radius: 5px; height: 35px; padding: 0px 5px; color: rgb(0, 9, 31); margin-bottom: 20px; width: 80%; }
.order-form select { border: 1px solid rgb(133, 153, 75); border-radius: 5px; height: 35px; padding: 0px 5px; margin-bottom: 20px; font-size: 120%; color: rgb(0, 9, 31); }
.order-form .btn-holder::after { display: block; clear: both; content: ""; }
.timer-wrap { width: 380px; margin: 0px auto; padding: 10px 0px 17px; font: 700 23px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(0, 9, 31); text-transform: uppercase; }
.timer_new { position: relative; z-index: 10; top: 0px; }
.timer_new .timer-wrap { color: rgb(253, 219, 182); width: 378px; }
.timer-wrap p { margin: 0px auto 12px; text-align: center; }
.timer_new .timer-wrap p { font: 400 25px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(197, 199, 103); text-shadow: 0px 1px 0px rgba(14, 29, 24, 0.75); }
.timer-desc { width: 100%; padding: 6px 0px 0px; overflow: hidden; }
.timer-desc div.t { display: block; float: left; width: 78px; text-align: left; margin: 0px; font: 14px/20px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(0, 9, 31); }
.timer-desc div.t:first-child { margin: 0px; }
.timer_new .timer-desc div.t { color: rgb(197, 199, 103); width: 75px; margin-left: 3px; }
.link-order { padding: 10px 45px; cursor: pointer; border: 1px solid rgb(52, 57, 17); border-radius: 5px; color: rgb(255, 255, 255); background: transparent linear-gradient(to bottom, rgb(83, 90, 29), rgb(52, 57, 17)) repeat scroll 0% 0%; text-transform: uppercase; font: 400 25px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.product-info { margin: 10px 0px 25px; color: rgb(51, 51, 51); font: 100 190%/25px "Roboto Condensed",Arial,Helvetica,sans-serif; border-radius: 15px; }
.product-info::after { display: block; clear: both; content: ""; }
.product-info h2 { font-size: 32px; line-height: 32px; padding: 0px 50px; color: rgb(0, 9, 31); font-weight: 400; }
.text-analog { background: rgb(233, 236, 222) url('bg_ulysse.jpg') no-repeat scroll center bottom; padding: 10px 50px 90px; color: rgb(0, 9, 31); font-size: 23px; }
.desc { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px 0px; }
.desc table { margin: 5px 45px 0px; }
.desc table td { padding: 5px; font: 100 100%/25px "Roboto Condensed",Arial,Helvetica,sans-serif; border-bottom: 1px dashed gray; }
.desc table td:first-child { font-weight: 400; }
.colors { background: rgb(102, 118, 51) none repeat scroll 0% 0%; display: block; padding: 5px 0px 40px 5px; border-radius: 15px 15px 0px 0px; }
.colors h2 { color: rgb(255, 255, 255); }
.colors div { margin: 10px auto 10px 0px; text-align: center; }
.colors img { margin: 5px; width: auto; max-width: 540px; height: auto; border-radius: 5px; }
.desc3 ul li:nth-child(1) { background: transparent url('icon1.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(2) { background: transparent url('icon2.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(3) { background: transparent url('icon3.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(4) { background: transparent url('icon4.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(5) { background: transparent url('icon5.png') no-repeat scroll 0px 0px; }
.reviews { background-color: rgb(102, 118, 51); padding: 5px 0px; border-radius: 0px 0px 15px 15px; }
.reviews h2 { color: rgb(255, 255, 255); }
.reviews-block { margin: 0px 50px 30px 20px; }
.reviews-list { list-style: outside none none; margin: 0px 0px 0px 30px; padding: 0px; line-height: 25px; font-weight: 100; }
.reviews-list li { background-color: rgb(233, 236, 222); border-radius: 5px; padding: 24px 30px 32px 129px; position: relative; margin-top: 15px; font-size: 23px; }
.reviews-list p { margin: 0px 0px 25px; font-size: 100%; }
.reviews-list .photo { background: transparent url('bg-photo-holder.png') no-repeat scroll 0% 0%; width: 114px; height: 114px; padding: 6px 24px 8px 7px; position: absolute; left: -31px; top: 28px; }
.reviews-list .photo img { vertical-align: top; width: 114px; height: 114px; }
.reviews-list span { display: block; font-weight: bold; }
.btn-otziv { padding: 10px 35px; cursor: pointer; border: 1px solid rgb(52, 57, 17); border-radius: 5px; color: rgb(255, 255, 255); background: transparent linear-gradient(to bottom, rgb(83, 90, 29), rgb(52, 57, 17)) repeat scroll 0% 0%; text-transform: uppercase; font: 400 20px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.btn-otziv:focus { outline: medium none; }
a.btn-otziv { color: rgb(255, 255, 255); text-decoration: none; text-transform: uppercase; }
a.btn-otziv:active { box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) inset; position: relative; }
.timer { margin-left: 85px; }
.time_ { margin: 15px 0px; }
.time_ span { font-size: 35px; margin-right: 30px; font-style: normal; font-family: Arial,Helvetica,sans-serif; font-weight: bold; background: transparent linear-gradient(to bottom, rgb(51, 51, 51), rgb(17, 17, 17)) repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 5px; border-radius: 5px; display: block; float: left; }
.timer_new .time_ span { background: transparent linear-gradient(to bottom, rgb(17, 17, 17), rgb(51, 51, 51)) repeat scroll 0% 0%; color: rgb(186, 199, 103); padding: 2px; border-radius: 5px; display: block; float: left; border: 3px solid rgb(186, 199, 103); }
.skidka { color: rgb(197, 199, 103); padding: 5px 10px; border: 2px solid rgb(197, 199, 103); border-radius: 15px; font-size: 25px; }
.guarantee { text-align: center; margin: 20px; color: rgb(197, 193, 73); font: 400 150% "Roboto Condensed",Arial,Helvetica,sans-serif; }
.podarok { margin: 20px 0px 0px; text-align: center; font: 400 25px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(14, 29, 24, 0.75); }
.podarok p { margin: 20px 0px; }
.yved div { position: fixed; right: 20px; top: 20px; width: 200px; color: rgb(255, 255, 255); padding: 20px 10px 20px 80px; border-radius: 10px; display: none; z-index: 9999; background: rgba(50, 50, 50, 0.7) url('cart3.png') no-repeat scroll 8px 50%; font-style: normal; font-family: "Roboto Condensed",Arial,Helvetica,sans-serif; font-size: 19px; }
/* ::::: https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8ne8xhg-wld4ig4ap-v7qxya.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8nn_ec2pfu-cuggn7u-fifkc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8nlvm2qjlsjx6keu1d2myodo.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8nnd5crmoq5peg3vabknwpxo.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8nlpx8dgxlalyu5ookvgdqcs.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8npvfl0ofnru5y2lp-upeugu.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8nbbq_gf4ffi8j4syljbaylk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msdrvev4wajw489crdhikj90.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2mscgxdonx9ptx3utsptrfsgk.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msaz98xo_wnt-jiem4aulgfs.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2mse1g989qbvg6rt5ly5jb8v8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msj84zb0nvte6lif9ggtpo1y.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msd86pq2nkpzvgw_9lpt6rgi.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msdadhzwoyhqhvozmrgaeypo.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8ndw5fugigejjvrhulwqrsmw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8na30bzhtgu2n_dqssqcmqnq.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8npdobg10jtax-gawn6iwu1y.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8nghquge17febrysukwkdlwa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8nbbtmdlrzttom3p1ehigcxc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8nev356qnqhcub41ps3zqmse.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url('b9qbgl0imzfdspmcxce8nhm2hrkyco9jq3nkmxpgobg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: http://amst.qpru.ru/index.css ::::: */

body { margin: 0px 0px 20px; color: rgb(255, 255, 255); font: 100 12px/21px Tahoma,Arial,serif; background: rgb(30, 31, 25) none repeat scroll 0% 0%; min-width: 640px; }
img { border-style: none; }
a { text-decoration: none; color: rgb(205, 115, 229); }
a:hover { text-decoration: underline; }
input, textarea, select { font: 100% Arial,Helvetica,sans-serif; vertical-align: middle; color: rgb(0, 0, 0); outline: medium none; }
form, fieldset { margin: 0px; padding: 0px; border-style: none; }
q::before { content: ""; }
q::after { content: ""; }
#wrapper { width: 100%; overflow: hidden; background: rgb(30, 31, 25) url('bg-page.jpg') no-repeat scroll center top; }
.w1 { max-width: 640px; margin: 0px auto; position: relative; }
.logo { text-indent: -9999px; overflow: hidden; width: 120px; height: 57px; display: block; margin: 15px auto 10px; }
.logo a { display: block; height: 100%; }
.slogan { display: block; font: 400 43px/47px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(14, 29, 24, 0.75); text-align: center; padding: 0px; height: 280px; }
.slogan span { font-size: 40px; color: rgb(197, 199, 103); }
.slogan div { font-size: 25px; }
.info-container { margin: 0px; position: relative; }
.info-container .holder { background: transparent url('bg-info-container.png') no-repeat scroll 0% 0%; height: 72px; padding: 165px 0px 0px; font: 34px/38px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(63, 99, 1, 0.75); text-align: center; }
.info-container p { margin: 0px; }
.info-container .list { list-style: outside none none; margin: 0px; padding: 20px 50px 0px; overflow: hidden; font: 21px/25px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 250, 240); z-index: 200; position: relative; }
.info-container .list li { background: transparent url('bullet-01.png') no-repeat scroll 0px 3px; padding: 0px 0px 25px 54px; }
.product-box .info::after { content: ""; display: inline-block; height: 130px; width: 1px; overflow: hidden; margin: 0px 0px 0px -5px; vertical-align: middle; }
.text-block { width: 100%; padding: 0px 30px; box-sizing: border-box; font: 20px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.text-block::after { display: block; clear: both; content: ""; }
.text-block img { float: right; margin: -53px -30px -50px -35px; }
.text-block p { margin: 0px 0px 30px; }
.img-block .frame::after { display: block; clear: both; content: ""; }
.order-block { font-family: "Roboto Condensed",Arial,Helvetica,sans-serif; background: rgb(182, 201, 122) none repeat scroll 0% 0%; border-radius: 15px; padding: 25px 28px 32px; }
.order-block b { font: 400 100% "Roboto Condensed",Arial,Helvetica,sans-serif; text-transform: uppercase; }
.price-block { width: 532px; height: auto; margin: auto; text-align: center; font-size: 22px; line-height: 24px; color: rgb(20, 5, 0); padding: 25px 10px 0px; }
.price-block h2 { color: rgb(20, 5, 0); margin: 0px 0px 20px; font: 400 50px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.price-block .info { display: block; padding: 0px 0px 3px; }
.price-block .price { font: 400 250% "Roboto Condensed",Arial,Helvetica,sans-serif; display: block; color: rgb(20, 5, 0); padding: 0px 0px 6px; }
.price-block .old-price { display: block; padding: 0px 0px 19px; }
.price-block .old-price strong { font: 400 200% "Roboto Condensed",Arial,Helvetica,sans-serif; }
.order-form { overflow: hidden; margin-top: 20px; font-size: 100%; }
.order-form .row::after { display: block; clear: both; content: ""; }
.order-form select { width: 440px; font: 15px/35px "Roboto Condensed",Helvetica,sans-serif; color: rgb(20, 33, 14); }
.order-form input[type="text"] {     border: 1px solid rgb(133, 153, 75);
    border-radius: 5px;
    height: 35px;
    padding: 10px 15px;
    color: rgb(0, 9, 31);
    margin-bottom: 20px;
    margin-top: 7px;
    width: 82%;
    font-size: 24px;}
.order-form select { border: 1px solid rgb(133, 153, 75); border-radius: 5px; height: 35px; padding: 0px 5px; margin-bottom: 20px; font-size: 120%; color: rgb(0, 9, 31); }
.order-form .btn-holder::after { display: block; clear: both; content: ""; }
.timer-wrap { width: 380px; margin: 0px auto; padding: 10px 0px 17px; font: 700 23px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(0, 9, 31); text-transform: uppercase; }
.timer_new { position: relative; z-index: 10; top: 0px; }
.timer_new .timer-wrap { color: rgb(253, 219, 182); width: 378px; }
.timer-wrap p { margin: 0px auto 12px; text-align: center; }
.timer_new .timer-wrap p { font: 400 25px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(197, 199, 103); text-shadow: 0px 1px 0px rgba(14, 29, 24, 0.75); }
.timer-desc { width: 100%; padding: 6px 0px 0px; overflow: hidden; }
.timer-desc div.t { display: block; float: left; width: 78px; text-align: left; margin: 0px; font: 14px/20px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(0, 9, 31); }
.timer-desc div.t:first-child { margin: 0px; }
.timer_new .timer-desc div.t { color: rgb(197, 199, 103); width: 75px; margin-left: 3px; }
.link-order { padding: 10px 45px; cursor: pointer; border: 1px solid rgb(52, 57, 17); border-radius: 5px; color: rgb(255, 255, 255); background: transparent linear-gradient(to bottom, rgb(83, 90, 29), rgb(52, 57, 17)) repeat scroll 0% 0%; text-transform: uppercase; font: 400 25px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.product-info { margin: 10px 0px 25px; color: rgb(51, 51, 51); font: 100 190%/25px "Roboto Condensed",Arial,Helvetica,sans-serif; border-radius: 15px; }
.product-info::after { display: block; clear: both; content: ""; }
.product-info h2 { font-size: 32px; line-height: 32px; padding: 0px 50px; color: rgb(0, 9, 31); font-weight: 400; }
.text-analog { background: rgb(233, 236, 222) url('bg_ulysse.jpg') no-repeat scroll center bottom; padding: 10px 50px 90px; color: rgb(0, 9, 31); font-size: 23px; }
.desc { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px 0px; }
.desc table { margin: 5px 45px 0px; }
.desc table td { padding: 5px; font: 100 100%/25px "Roboto Condensed",Arial,Helvetica,sans-serif; border-bottom: 1px dashed gray; }
.desc table td:first-child { font-weight: 400; }
.colors { background: rgb(102, 118, 51) none repeat scroll 0% 0%; display: block; padding: 5px 0px 40px 5px; border-radius: 15px 15px 0px 0px; }
.colors h2 { color: rgb(255, 255, 255); }
.colors div { margin: 10px auto 10px 0px; text-align: center; }
.colors img { margin: 5px; width: auto; max-width: 540px; height: auto; border-radius: 5px; }
.desc3 ul li:nth-child(1) { background: transparent url('icon1.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(2) { background: transparent url('icon2.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(3) { background: transparent url('icon3.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(4) { background: transparent url('icon4.png') no-repeat scroll 0px 0px; }
.desc3 ul li:nth-child(5) { background: transparent url('icon5.png') no-repeat scroll 0px 0px; }
.reviews { background-color: rgb(102, 118, 51); padding: 5px 0px; border-radius: 0px 0px 15px 15px; }
.reviews h2 { color: rgb(255, 255, 255); }
.reviews-block { margin: 0px 20px 30px 20px; }
.reviews-list { list-style: outside none none; margin: 0px 0px 0px 30px; padding: 0px; line-height: 25px; font-weight: 100; }
.reviews-list li { background-color: rgb(233, 236, 222); border-radius: 5px; padding: 24px 30px 32px 129px; position: relative; margin-top: 15px; font-size: 23px; }
.reviews-list p { margin: 0px 0px 25px; font-size: 100%; }
.reviews-list .photo { background: transparent url('bg-photo-holder.png') no-repeat scroll 0% 0%; width: 114px; height: 114px; padding: 6px 24px 8px 7px; position: absolute; left: -31px; top: 28px; }
.reviews-list .photo img { vertical-align: top; width: 114px; height: 114px; }
.reviews-list span { display: block; font-weight: bold; }
.btn-otziv { padding: 10px 35px; cursor: pointer; border: 1px solid rgb(52, 57, 17); border-radius: 5px; color: rgb(255, 255, 255); background: transparent linear-gradient(to bottom, rgb(83, 90, 29), rgb(52, 57, 17)) repeat scroll 0% 0%; text-transform: uppercase; font: 400 20px "Roboto Condensed",Arial,Helvetica,sans-serif; }
.btn-otziv:focus { outline: medium none; }
a.btn-otziv { color: rgb(255, 255, 255); text-decoration: none; text-transform: uppercase; }
a.btn-otziv:active { box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) inset; position: relative; }
.timer { margin-left: 85px; }
.time_ { margin: 15px 0px; }
.time_ span { font-size: 35px; margin-right: 30px; font-style: normal; font-family: Arial,Helvetica,sans-serif; font-weight: bold; background: transparent linear-gradient(to bottom, rgb(51, 51, 51), rgb(17, 17, 17)) repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 5px; border-radius: 5px; display: block; float: left; }
.timer_new .time_ span { background: transparent linear-gradient(to bottom, rgb(17, 17, 17), rgb(51, 51, 51)) repeat scroll 0% 0%; color: rgb(186, 199, 103); padding: 2px; border-radius: 5px; display: block; float: left; border: 3px solid rgb(186, 199, 103); }
.skidka { color: rgb(197, 199, 103); padding: 5px 10px; border: 2px solid rgb(197, 199, 103); border-radius: 15px; font-size: 25px; }
.guarantee { text-align: center; margin: 20px; color: rgb(197, 193, 73); font: 400 150% "Roboto Condensed",Arial,Helvetica,sans-serif; }
.podarok { margin: 20px 0px 0px; text-align: center; font: 400 25px/30px "Roboto Condensed",Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(14, 29, 24, 0.75); }
.podarok p { margin: 20px 0px; }
.yved div { position: fixed; right: 20px; top: 20px; width: 200px; color: rgb(255, 255, 255); padding: 20px 10px 20px 80px; border-radius: 10px; display: none; z-index: 9999; background: rgba(50, 50, 50, 0.7) url('cart3.png') no-repeat scroll 8px 50%; font-style: normal; font-family: "Roboto Condensed",Arial,Helvetica,sans-serif; font-size: 19px; }


/**
 * Owl Carousel v2.1.6
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  display: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../images/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cd__tiles {
  position: relative;
  z-index: 1;
  text-align: center;
}

.cd__tile {
  margin: 0 15px 0 0;
  display: inline-block;
}

.cd__tile:last-child {
  margin: 0;
}

.cd__time {
  width: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(bottom, #b13352 50%, #a12d4a 50%);
  background-image: linear-gradient(0deg, #b13352 50%, #a12d4a 50%);
  border-radius: 3px;
  box-shadow: 0 2px 0 #902741;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin: 0 3px;
  padding: 6px 0;
  display: inline-block;
  position: relative;
}


.slider-reviews {
  margin-top: 50px;
}

.review__photo {
  text-align: center;
}

.review__photo > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.review__name {
  text-align: center;
  font-weight: bold;
  margin: 50px 0 25px;
  color: #ffc000;
  text-transform: uppercase;
}

.review__text {
  color: #fff;
  text-align: justify;
  width: 290px;
  margin: 0 auto;
}

.reviews-slider__arrows {
  width: 70%;
  margin: 0 auto;
}

.arrow--left-w {
  position: absolute;
  opacity: 0.5;
  left: 20px;
  cursor: pointer;
  top: 40%;
  width: 31px;
  height: 31px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("images/arrow-left-w.png") 50% 50% no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
 
    border-radius: 50px;
}

.arrow--right-w {
  position: absolute;
  right: 20px;
  top: 40%;
  opacity: 0.5;
  cursor: pointer;
  width: 31px;
  height: 31px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("images/arrow-right-w.png") 50% 50% no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
   
    border-radius: 50px;
}

.arrow--left-w:hover,
.arrow--right-w:hover {
  opacity: 1;
}

.review {
    text-align: center;
    margin-bottom: 10px;
}
