
/******************не менять_начало**********************/
.flexslider {
    width: 780px;
	margin: 0px auto 0px auto;
	position: relative;
}

.flex-control-nav{
    display: none;
}

.slides {
    float: left;
}

.slides li {
    list-style: none;
}

.slides li .review {
    width: 100%;
}

.flex-next, .flex-prev {
    position: absolute;
    margin-top: -40px;
    text-indent: -9999999px;
}


/******************не менять_конец**********************/

.flexslider {
    width: auto;
}
.flex-next {
    background: url("../img/slider-arrow-rigth.png") no-repeat center center;
    width: 22px;
    height: 47px;
    right: -5%;
    top: 43%;
}

.flex-prev {
    width: 22px;
    height: 47px;
    left: -5%;
    top: 43%;
}

@media screen and (max-width: 990px) {
    .flex-prev {
        background: url("../img/slider-arrow-left.png") no-repeat center center;
        left: 28%;
        top: 20%;
    }
    .flex-next {
        right: 28%;
        top: 20%;
    }
}
@media screen and (max-width: 639px) {
    .flex-prev {
        left: 16%;
        top: 15%;
    }
    .flex-next {
        right: 16%;
        top: 15%;
    }
}