
@font-face {
	font-family: 'PT Sans Caption';
	src: url('../fonts/pt-sans-caption.ttf');
}
@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/roboto-regular.ttf');
}
@font-face {
	font-family: 'Roboto Medium';
	src: url('../fonts/roboto-medium.ttf');
}
@font-face {
	font-family: 'Roboto Bold';
	src: url('../fonts/roboto-bold.ttf');
}
ul, ol, p, body, h1, h2, h3, h4, h5, h6, figure {
    padding: 0;
    margin: 0;
}
html {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto Regular', Arial;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight:  normal;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.rb {
    font-family: 'Roboto Bold', Arial;
}
.rm {
    font-family: 'Roboto Medium', Arial;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.center-wrapper {
    width: 990px;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.for640, .for320, .not990 {
    display: none !important;
}
#block1 {
    background: url("../img/block1-bg.jpg") no-repeat 50% 0;
}
#block1 .content {
    padding-top: 85px;
    padding-bottom: 95px;
}
#block1 h1 {
    width: 75%;
    margin: auto;
    padding-bottom: 25px;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.42);
}
#block1 .tagline {
    padding-bottom: 140px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.42);
}
[id^="order-form"] {
    position: relative;
    width: 470px;
    padding-top: 45px;
    padding-bottom: 50px;
    margin: auto;
    border: 5px solid rgba(255,255,255,0.25);
    text-align: center;
}
[id^="order-form"]:before {
    content: '';
    width: 123px;
    height: 123px;
    margin-left: -62px;
    position: absolute;
    top: -90px;
    left: 50%;
    background: url("../img/form-pic1.png") no-repeat center;
}
[id^="order-form"] .action {
    padding-bottom: 35px;
    font-size: 25px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
[id^="order-form"] .prices {
    padding-bottom: 35px;
    font-size: 25px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.42);
}
[id^="order-form"] .prices .old {
    padding-right: 10px;
    color: rgba(255,255,255,0.3);
    text-decoration: line-through;
}
[id^="order-form"] .prices .new {
    color: #fff;
}
[id^="order-form"] .form-element {
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    width: 284px;
    height: 46px;
    padding: 0 20px;
    margin-bottom: 15px;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    border: none;
}
[id^="order-form"] select.form-element {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
[id^="order-form"] select.form-element::-ms-expand {
    display: none;
}
[id^="order-form"] select.form-element option {
    background-color: rgba(0,0,0,0.5);
}
[id^="order-form"] .form-element[type="submit"] {
    height: 53px;
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
    background: #3eb5f1;
    font-size: 25px;
    line-height: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition-duration: 0.15s;
}
[id^="order-form"] .form-element[type="submit"]:hover {
    background: #34abff;
    font-size: 27px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
#block2 .content {
    padding-top: 100px;
    padding-bottom: 110px;
    color: #323131;
}
#block2 .section1 {
    padding-bottom: 110px;
    font-size: 0;
}
#block2 .section1 .feature {
    display: inline-block;
    width: 25%;
    text-align: center;
}
#block2 .section1 .feature * {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;

}
#block2 .section1 .feature img {
    padding-bottom: 35px;
}
#block2 .section1 .feature:first-child img {
    padding-bottom: 45px;
}
#block2 .section1 .feature .title {
    width: 100%;
}
#block2 .section2 h2 {
    padding-bottom: 55px;
    color: #323131;
    font-size: 25px;
}
#block2 .section2 .column.left {
    width: 565px;
}
#block2 .section2 .column.left .text {
    font-size: 15px;
    line-height: 30px;
}
#block3 {
    background: url("../img/block3-bg.jpg") no-repeat 50% 0;
}
#block3 .content {
    padding-top: 85px;
    padding-bottom: 80px;
}
#block3 .section1 {
    padding-bottom: 45px;
}
#block3 h2 {
    padding-bottom: 50px;
    padding-top: 25px;
    font-size: 25px;
}
#block3 .section1 .column.left,
#block3 .section2 .column.right {
    width: 465px;
}
#block3 [class^="section"] .text {
    font-size: 15px;
    line-height: 30px;
}
#block4 {
    background: url("../img/block4-bg.jpg") no-repeat 50% 3px;
}
#block4 .content {
    padding-top: 340px;
    padding-bottom: 120px;
    color: #323131;
}
#block4 .section1 h2 {
    padding-bottom: 60px;
    color: #323131;
    text-align: center;
    font-size: 25px;
}
#block4 .flexslider {
    padding-bottom: 95px;
}
#block4 .flexslider h3 {
    padding-bottom: 35px;
    color: #323131;
    font-size: 20px;
}
#block4 .flexslider img {
    padding-right: 25px;
}
#block4 .flexslider p {
    font-size: 15px;
    line-height: 30px;
}
#block4 .section1 .features {
    padding-bottom: 95px;

    font-size: 0;
}
#block4 .section1 .features .feature {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
}
#block4 .section1 .features .feature:first-child {
    padding-left: 0;
}
#block4 .section1 .features .feature:last-child {
    padding-right: 0;
}
#block4 .section1 .features .feature * {
    display: inline-block;
    vertical-align: top;
}
#block4 .section1 .features .feature img {
    padding-bottom: 40px;
}
#block4 .section1 .features .feature .title {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 25px;
}
#block4 .section1 .features .feature .text {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
}
#block4 .section2 h2 {
    padding-bottom: 80px;
    color: #323131;
    text-align: center;
    font-size: 25px;
}
#block4 .section2 {
    font-size: 0;
}
#block4 .section2 .feature {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#block4 .section2 .feature * {
    display: inline-block;
    vertical-align: top;
}
#block4 .section2 .feature img {
    padding-bottom: 50px;
}
#block4 .section2 .feature .text {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
#block5 {
    position: relative;
    z-index: 2;
    background: url("../img/block5-bg.jpg") no-repeat 50% 0;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 5px  rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px  rgba(0,0,0,0.2);
}
#block5 .content {
    padding-top: 105px;
    padding-bottom: 100px;
}
#block5 .h1 {
    width: 72%;
    margin: auto;
    padding-bottom: 25px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.42);
}
#block5 .tagline {
    padding-bottom: 130px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.42);
}









#footer {
    position: relative;
    z-index: 1;
    background-color: #101e25;
}
#footer .content {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Arial;
}
#footer .content a {
    color: rgba(255,255,255,0.7);
	font-size: 13px;
	line-height: 22px;
    text-decoration: underline;
}
#footer .content a:hover {
    color: #fff;
    text-decoration: none;
}


/***------------------640----------------------***/
@media screen and (max-width: 990px) {
	.for990, .for320 {
        display: none !important;
    }
    .for640,.not990, .not320 {
        display: block !important;
    }
    .center-wrapper {
        width: 574px;
    }
    .left, .right {
        float: none;
    }
    #block1 {
        background: url("../img/block1-bg-640.jpg") no-repeat 50% 0;
    }
    #block1 .content {
        padding-top: 100px;
        padding-bottom: 85px;
    }
    #block1 h1 {
        width: 90%;
        padding-bottom: 30px;
    }
    #block2 .content {
        padding-left: 10px;
        padding-right: 10px;
    }
    #block2 .section1 .feature {
        width: 50%;
    }
    #block2 .section1 .feature:nth-of-type(1),
    #block2 .section1 .feature:nth-of-type(2) {
        padding-bottom: 70px;
    }
    #block2 .section2 h2 {
        text-align: center;
    }
    #block2 .section2 .column.left {
        width: 100%;
        padding-bottom: 55px;
    }
    #block2 .section2 .column.right img {
        display: block;
        margin: auto;
    }
    #block3 {
        background: url("../img/block3-bg-640.jpg") no-repeat 50% 0;
    }
    #block3 .content {
        padding-top: 80px;
        padding-bottom: 85px;
    }
    #block3 h2 {
        padding-bottom: 45px;
    }
    #block3 img {
        display: block;
        margin: auto;
    }
    #block3 .section1 {
        padding-bottom: 55px;
    }
    #block3 .section1 .column.left,
    #block3 .section2 .column.right {
        width: auto;
    }
    #block3 h2 {
        padding-top: 0;
        text-align: center;
    }
    #block3 [class^="section"] .text {
        padding-bottom: 55px;
        padding-left: 30px;
    }
    #block4 {
        background: url("../img/block4-bg-640.jpg") no-repeat 50% 2;
    }
    #block4 .content {
        padding-top: 285px;
    }
    #block4 .section1 h2 {
        padding-bottom: 40px;
    }
    #block4 .flexslider {
        padding-bottom: 80px;
    }
    #block4 .flexslider img {
        padding-right: 0;
        padding-bottom: 35px;
        display: block;
        margin: auto;
    }
    #block4 .flexslider h3 {
        padding-bottom: 60px;
        text-align: center;
        top: 20%;
        left: 28%;
    }
    #block4 .section1 .features {
        padding-top: 25px;
        padding-bottom: 90px;
    }
    #block4 .section1 .features .feature {
        width: 50%;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    #block4 .section1 .features .feature:nth-child(1),
    #block4 .section1 .features .feature:nth-child(2) {
        padding-bottom: 55px;
    }
    #block4 .section2 h2 {
        padding-bottom: 70px;
    }
    #block4 .section2 .feature {
        width: 50%;
    }
    #block4 .section2 .feature:nth-of-type(1),
    #block4 .section2 .feature:nth-of-type(2) {
        padding-bottom: 55px;
    }
    #block5 {
        background: url("../img/block5-bg-640.jpg") no-repeat 50% 0;
    }
    #block5 .content {
        padding-top: 90px;
        padding-bottom: 85px;
    }
    #block5 .h1 {
        width: auto;
    }


	
}

/***------------------320----------------------***/
@media screen and (max-width: 639px) {
    .center-wrapper {
        width: 320px;
    }
    .for990, .for640, .not320 {
        display: none !important;
    }
    .for320, .not990 {
        display: block !important;
    }
    #block1 {
        background: url("../img/block1-bg-320.jpg") no-repeat 50% 0;
    }
    #block1 .content {
        padding-top: 65px;
        padding-bottom: 90px;
    }
    #block1 h1 {
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
    }
    #block1 .tagline {
        font-size: 15px;
        padding-bottom: 125px;
    }
    [id^="order-form"] {
        width: 320px;
        box-sizing: border-box;
    }
    #block2 .content {
        padding: 75px 18px;
    }
    #block2 .section1 .feature {
        width: 100%;
    }
    #block2 .section1 .feature:not(:last-of-type) {
        padding-bottom: 55px;
    }
    #block2 .section2 .column.left {
        padding-bottom: 70px;
    }
    #block2 .section2 .column.right img {
        width: 100%;
    }
    #block3 {
        background: url("../img/block3-bg-320.jpg") no-repeat 50% 0;
    }
    #block3 .content {
        padding: 70px 18px 80px;
    }
    #block3 h2 {
        padding-bottom: 40px;
        font-size: 20px;
    }
    #block3 img {
        /*width: 100%;*/
    }
    #block3 [class^="section"] .text {
        padding-left: 0;
    }
    #block4 {
        background: url("../img/block4-bg-320.jpg") no-repeat 50% 2px;
    }
    #block4 .content {
        padding: 200px 18px 80px;
    }
    #block4 .section1 h2 {
        padding-bottom: 50px;
        font-size: 20px;
    }
    #block4 .flexslider img {
        padding-bottom: 25px;
    }
    #block4 .flexslider h3 {
        padding-bottom: 50px;
    }
    #block4 .flexslider {
        padding-bottom: 55px;
    }
    #block4 .section1 .features {
        padding-top: 10px;
        padding-bottom: 70px;
    }
    #block4 .section1 .features .feature {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #block4 .section1 .features .feature:not(:last-of-type){
        padding-bottom: 65px;
    }
    #block4 .section1 .features .feature .title {
    padding-bottom: 25px;
    }
    #block4 .section2 .feature {
        width: 100%;
    }
    #block4 .section2 .feature:not(:last-of-type) {
        padding-bottom: 55px;
    }
    #block4 .section2 .feature img {
        padding-bottom: 30px;
    }
    #block5 {
        background: url("../img/block5-bg-320.jpg") no-repeat 50% 0;
    }
    #block5 .content {
        padding-top: 69px;
        padding-bottom: 69px;
    }
    #block5 .h1 {
        font-size: 20px;
        line-height: 25px;
    }
    #block5 .tagline {
        padding-bottom: 124px;
        font-size: 15px;
    }
    .timer {
        padding-bottom: 35px;
    }
    [id^="order-form"] {
        padding-bottom: 45px;
    }

	
}
