.timer{
    width: 235px;
    margin: auto;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}

.timer .title {
    margin-bottom: 20px;
    color: rgba(255,255,255,0.75);
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.timer .block {
    float: left;
}

.timer .block .rect {
    width: 50px;
    height: 50px;
	margin-bottom: 5px;
    padding: 5px 5px;
    font-family: 'Roboto Bold', Arial;
    font-weight: bold;
    font-size: 46px;
    line-height: 46px;
}

.timer .block .label {
    color: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 14px;
}

.timer .points {
    float: left;
    width: 23px;
    height: 40px;
    text-align: center;
    font-family: 'PT Sans Caption', arial;
    font-weight: normal;
    font-size: 46px;
    line-height: 46px;
}