* {-webkit-user-modify:read-only !important;}
div#container
{
   width: 1376px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 8px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
@-webkit-keyframes animate-fade-in-left
{
   0% { -webkit-transform:  rotate(0deg) translate(-100px,0px); opacity: 0;  }
   100% { -webkit-transform:  rotate(0deg); opacity: 1;  }
}
@-moz-keyframes animate-fade-in-left
{
   0% { -moz-transform:  rotate(0deg) translate(-100px,0px); opacity: 0;  }
   100% { -moz-transform:  rotate(0deg); opacity: 1;  }
}
@-o-keyframes animate-fade-in-left
{
   0% { -o-transform:  rotate(0deg) translate(-100px,0px); opacity: 0;  }
   100% { -o-transform:  rotate(0deg); opacity: 1;  }
}
@-ms-keyframes animate-fade-in-left
{
   0% { -ms-transform:  rotate(0deg) translate(-100px,0px); opacity: 0;  }
   100% { -ms-transform:  rotate(0deg); opacity: 1;  }
}
@keyframes animate-fade-in-left
{
   0% { transform:  rotate(0deg) translate(-100px,0px); opacity: 0;  }
   100% { transform:  rotate(0deg); opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-right
{
   0% { -webkit-transform:  rotate(0deg) translate(100px,0px); opacity: 0;  }
   100% { -webkit-transform:  rotate(0deg); opacity: 1;  }
}
@-moz-keyframes animate-fade-in-right
{
   0% { -moz-transform:  rotate(0deg) translate(100px,0px); opacity: 0;  }
   100% { -moz-transform:  rotate(0deg); opacity: 1;  }
}
@-o-keyframes animate-fade-in-right
{
   0% { -o-transform:  rotate(0deg) translate(100px,0px); opacity: 0;  }
   100% { -o-transform:  rotate(0deg); opacity: 1;  }
}
@-ms-keyframes animate-fade-in-right
{
   0% { -ms-transform:  rotate(0deg) translate(100px,0px); opacity: 0;  }
   100% { -ms-transform:  rotate(0deg); opacity: 1;  }
}
@keyframes animate-fade-in-right
{
   0% { transform:  rotate(0deg) translate(100px,0px); opacity: 0;  }
   100% { transform:  rotate(0deg); opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-up
{
   0% { -webkit-transform:  rotate(0deg) translate(0px,100px); opacity: 0;  }
   100% { -webkit-transform:  rotate(0deg); opacity: 1;  }
}
@-moz-keyframes animate-fade-in-up
{
   0% { -moz-transform:  rotate(0deg) translate(0px,100px); opacity: 0;  }
   100% { -moz-transform:  rotate(0deg); opacity: 1;  }
}
@-o-keyframes animate-fade-in-up
{
   0% { -o-transform:  rotate(0deg) translate(0px,100px); opacity: 0;  }
   100% { -o-transform:  rotate(0deg); opacity: 1;  }
}
@-ms-keyframes animate-fade-in-up
{
   0% { -ms-transform:  rotate(0deg) translate(0px,100px); opacity: 0;  }
   100% { -ms-transform:  rotate(0deg); opacity: 1;  }
}
@keyframes animate-fade-in-up
{
   0% { transform:  rotate(0deg) translate(0px,100px); opacity: 0;  }
   100% { transform:  rotate(0deg); opacity: 1;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.PT_Sans_15
{
   font-family: "PT Sans Narrow";
   font-size: 20px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.PT_Sans_20
{
   font-family: "PT Sans Narrow";
   font-size: 27px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.PT_Sans_13
{
   font-family: "PT Sans Narrow";
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.PT_Sans_20_красный
{
   font-family: "PT Sans Narrow";
   font-size: 27px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #FF0000;
   background-color: transparent;
}
.PT_Sans_20_белый
{
   font-family: "PT Sans Narrow";
   font-size: 27px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
.PT_Sans_15_белый_copy
{
   font-family: "PT Sans Narrow";
   font-size: 20px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
.PT_Sans_26
{
   font-family: "PT Sans Narrow";
   font-size: 35px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
#indexImage16
{
   border: 0px #000000 solid;
}
#indexPolygon1
{
   border-width: 0;
   height: 720px;
   width: 1201px;
}
#indexImage28
{
   border: 0px #000000 solid;
}
#indexImage2
{
   border: 0px #000000 solid;
}
#wb_indexText6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText6 div
{
   text-align: left;
}
#wb_indexText4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText4 div
{
   text-align: center;
}
#wb_indexText5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText5 div
{
   text-align: left;
}
#wb_indexText7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText7 div
{
   text-align: left;
}
#wb_indexText9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText9 div
{
   text-align: left;
}
#wb_indexText11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText11 div
{
   text-align: left;
}
#wb_indexText12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText12 div
{
   text-align: left;
}
#wb_indexText13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText13 div
{
   text-align: left;
}
#wb_indexText14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText14 div
{
   text-align: left;
}
#wb_indexText15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText15 div
{
   text-align: center;
}
#wb_indexText18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText18 div
{
   text-align: left;
}
#wb_indexText19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText19 div
{
   text-align: left;
}
#wb_indexText30 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText30 div
{
   text-align: center;
}
#wb_indexText35 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText35 div
{
   text-align: left;
}
#wb_indexText37 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_indexText37 div
{
   text-align: justify;
}
#wb_indexText36 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_indexText36 div
{
   text-align: justify;
}
#wb_indexText38 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_indexText38 div
{
   text-align: justify;
}
#wb_indexText40 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_indexText40 div
{
   text-align: justify;
}
#indexImage17
{
   border: 0px #000000 solid;
}
#wb_indexText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#indexLine1
{
   border-width: 0;
   height: 9px;
   width: 158px;
}
#indexImage21
{
   border: 0px #000000 solid;
}
#indexLine2
{
   border-width: 0;
   height: 8px;
   width: 131px;
}
#indexImage3
{
   border: 0px #000000 solid;
}
#wb_indexText8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText8 div
{
   text-align: left;
}
#wb_indexText10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText10 div
{
   text-align: center;
}
#indexImage12
{
   border: 0px #000000 solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#indexImage13
{
   border: 0px #000000 solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#indexImage14
{
   border: 0px #000000 solid;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
}
#indexImage15
{
   border: 0px #000000 solid;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
}
#wb_indexText16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText16 div
{
   text-align: left;
}
#indexLine3
{
   border-width: 0;
   height: 8px;
   width: 1380px;
}
#indexImage20
{
   border: 0px #000000 solid;
}
#indexImage22
{
   border: 0px #000000 solid;
}
#indexImage23
{
   border: 0px #000000 solid;
}
#indexImage26
{
   border: 0px #000000 solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#indexImage27
{
   border: 0px #000000 solid;
}
#indexImage9
{
   border: 0px #000000 solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#indexImage4
{
   border: 0px #000000 solid;
}
#indexImage5
{
   border: 0px #000000 solid;
}
#indexImage6
{
   border: 0px #000000 solid;
}
#indexImage7
{
   border: 0px #000000 solid;
}
#indexLine5
{
   border-width: 0;
   height: 8px;
   width: 1380px;
}
#wb_indexText17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText17 div
{
   text-align: center;
}
#wb_indexText33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText33 div
{
   text-align: center;
}
#indexLine6
{
   border-width: 0;
   height: 42px;
   width: 8px;
}
#indexLine7
{
   border-width: 0;
   height: 42px;
   width: 8px;
}
#indexLine8
{
   border-width: 0;
   height: 42px;
   width: 8px;
}
#wb_indexText47 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_indexText47 div
{
   text-align: justify;
}
#indexImage32
{
   border: 0px #000000 solid;
}
#wb_indexText60 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: justify;
}
#wb_indexText60 div
{
   text-align: justify;
}
#indexImage24
{
   border: 0px #000000 solid;
}
#indexImage33
{
   border: 0px #000000 solid;
}
#indexImage10
{
   border: 0px #000000 solid;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
}
#wb_indexText34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
   -moz-box-shadow: 0px 0px 3px #000000;
   -webkit-box-shadow: 0px 0px 3px #000000;
   box-shadow: 0px 0px 3px #000000;
   -webkit-animation: animate-fade-in-left 2000ms linear 2ms 1 normal;
   -moz-animation: animate-fade-in-left 2000ms linear 2ms 1 normal;
   -ms-animation: animate-fade-in-left 2000ms linear 2ms 1 normal;
   animation: animate-fade-in-left 2000ms linear 2ms 1 normal;
}
#wb_indexText34 div
{
   text-align: center;
}
#wb_indexText41 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
   -moz-box-shadow: 0px 0px 3px #000000;
   -webkit-box-shadow: 0px 0px 3px #000000;
   box-shadow: 0px 0px 3px #000000;
   -webkit-animation: animate-fade-in-right 2000ms linear 2ms 1 normal;
   -moz-animation: animate-fade-in-right 2000ms linear 2ms 1 normal;
   -ms-animation: animate-fade-in-right 2000ms linear 2ms 1 normal;
   animation: animate-fade-in-right 2000ms linear 2ms 1 normal;
}
#wb_indexText41 div
{
   text-align: center;
}
#wb_indexText39 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText39 div
{
   text-align: center;
}
#wb_indexText48 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText48 div
{
   text-align: center;
}
#indexImage29
{
   border: 0px #000000 solid;
}
#wb_indexText3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText3 div
{
   text-align: center;
}
#wb_indexText20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText20 div
{
   text-align: center;
}
#wb_indexText21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText21 div
{
   text-align: center;
}
#wb_indexText22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText22 div
{
   text-align: center;
}
#wb_indexText23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText23 div
{
   text-align: left;
}
#indexLine4
{
   border-width: 0;
   height: 8px;
   width: 382px;
}
#indexLine9
{
   border-width: 0;
   height: 8px;
   width: 382px;
}
#indexImage30
{
   border: 0px #000000 solid;
}
#wb_indexText25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText25 div
{
   text-align: left;
}
#wb_indexText24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText24 div
{
   text-align: left;
}
#indexPolygon2
{
   border-width: 0;
   height: 683px;
   width: 1201px;
}
#indexImage25
{
   border: 0px #000000 solid;
}
#indexImage34
{
   border: 0px #000000 solid;
}
#wb_indexText32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText32 div
{
   text-align: center;
}
#indexLine10
{
   border-width: 0;
   height: 8px;
   width: 382px;
}
#indexLine11
{
   border-width: 0;
   height: 8px;
   width: 382px;
}
#indexImage1
{
   border: 0px #000000 solid;
   -webkit-animation: animate-fade-in-up 2000ms linear 2ms 1 normal;
   -moz-animation: animate-fade-in-up 2000ms linear 2ms 1 normal;
   -ms-animation: animate-fade-in-up 2000ms linear 2ms 1 normal;
   animation: animate-fade-in-up 2000ms linear 2ms 1 normal;
}
#indexLine12
{
   border-width: 0;
   height: 8px;
   width: 1380px;
}
#wb_indexText26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText26 div
{
   text-align: center;
}
#wb_indexText27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText27 div
{
   text-align: left;
}
#indexImage35
{
   border: 0px #000000 solid;
}
#indexImage11
{
   border: 0px #000000 solid;
}
#indexImage8
{
   border: 0px #000000 solid;
}
#wb_indexText52 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText52 div
{
   text-align: center;
}
#wb_indexText49 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText49 div
{
   text-align: center;
}
#wb_indexText53 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText53 div
{
   text-align: center;
}
#wb_indexText42 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText42 div
{
   text-align: left;
}
#wb_indexText43 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText43 div
{
   text-align: left;
}
#wb_indexText54 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText54 div
{
   text-align: left;
}
#wb_indexText55 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText55 div
{
   text-align: center;
}
#indexImage18
{
   border: 0px #000000 solid;
}
#indexImage19
{
   border: 0px #000000 solid;
}
#wb_indexText28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText28 div
{
   text-align: center;
}
#wb_indexText2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText2 div
{
   text-align: center;
}
	.countbox{padding: 0;margin:0 auto;line-height: 1.2;color: #fff;font-family: MyriadProRegular,Helvetica,sans-serif;font-size: 65px;width: 432px;height: 113px;}
	.countbox-days,.countbox-hours,.countbox-mins,.countbox-secs{float: left;text-align: center;background-image:url('../img/flip.png');background-repeat:no-repeat;margin: 0 7px 0 7px;height: 89px;width: 94px;z-index:1;}
	.countbox-days-text,.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{background-position: center;background-repeat:no-repeat;position: absolute;margin-top: 5px;height: 26px;width: 94px;}
	.countbox-days-text{background-image:url('../img/days_text.gif');}
	.countbox-hours-text{background-image:url('../img/hours_text.gif');}
	.countbox-mins-text{background-image:url('../img/mins_text.gif');}
	.countbox-secs-text{background-image:url('../img/secs_text.gif');}
	.countbox-days span, .countbox-hours span, .countbox-mins span, .countbox-secs span {background: url('../img/flip_gradient.png');background-repeat:no-repeat;position: absolute;display: block;height: 57px;width: 94px;}
	/*Скрипт скачан с сайта mywpnote.ru */