@charset utf-8;
html{overflow-y:scroll;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-family:inherit;text-align:left;vertical-align:baseline;margin:0;padding:0;}
:focus{outline:0;}
fieldset,img{border:0;}
a img,:link img,:visited img{border: 0;}
a{outline:none !important;cursor:pointer;}
input{outline:none !important;}
textarea{outline:none !important;resize:none;}
table{width:100%;_width:99%;border-collapse:collapse;}
td{vertical-align:top;}
form{display:inline;}
input[type=text], input[type=password], input[type=search]{cursor:text;}
input[type=search]{-webkit-appearance:textfield;}
figure{margin:0;}
input::-moz-focus-inner{padding:0;border:none;}
label{cursor:pointer;}
img{vertical-align:middle;}
select{outline:none !important;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
abbr,acronym{border:0;}
.clear{height:0;line-height:0;font-size:0;clear:both;}
header, nav, article, section, footer, figure, aside{display:block;}
body{font-size:1em;line-height:1.1em;background:#f55688 url('../art/body_bg.gif') repeat;font:13px/16px Arial, Helvetica, sans-serif;color:#fff;}
a{text-decoration:underline;}
a:hover{text-decoration:none;}
input[type=text]{width:150px;height:11px;padding:4px 3px;display:inline-block;*zoom:1;*display:inline;border:1px #c3c3c3 solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#fff;overflow:hidden;box-shadow:inset #aaa 0 0 6px;font:13px/13px Arial, Helvetica, sans-serif;color:#444;}
input[type=submit]{height:22px;padding:0 15px;display:inline-block;*zoom:1;*display:inline;border:1px #f87fba solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#ee568a url('../art/search_block_but_bg.gif') repeat-x;overflow:hidden;font:13px/21px Arial, Helvetica, sans-serif;color:#fff;cursor:pointer;}

/*ie warning*/
.ie-warning{background:#ffa9a9;border:1px #f92c2c solid;text-align:center;padding:10px;font:13px/16px Verdana, Geneva, sans-serif;color:#d71515;}
	.ie-warning a{font:13px/16px Verdana, Geneva, sans-serif;color:#d71515;text-transform:uppercase;color:#d71515;text-decoration:underline;border:none;}
		.ie-warning a:hover{color:#fff;text-decoration:none;border:none;}

/*header*/
.header{height:91px;background:#f765af url('../art/header_bg1.gif') repeat-x;}
	.header .wrap1{height:91px;background:url('../art/header_bg2.gif') no-repeat;}
	.header .wrap2{height:91px;background:url('../art/header_bg3.gif') 100% 0 no-repeat;}
		.header .logo{float:left;}
		.header .label{padding:16px 11px 0 0;float:right;text-align:right;}

/*white block*/
.white-block{margin:0 4px 4px 4px;color:#323232;}
	.white-block a{color:#9b1e46;}
.white-block.br, .white-block.bot-br{margin-bottom:0;}
	.white-block .wrp1{background:#fff url('../art/white_block_bg1.gif') repeat-x;}
	.white-block.br .wrp1{background-image:url('../art/white_block_br_bg1.gif');}
	.white-block.top-br .wrp1{background-image:url('../art/white_block_br_bg1.gif');}
	.white-block .wrp2{background:url('../art/white_block_bg2.gif') 0 100% repeat-x;}
	.white-block .wrp3{background:url('../art/white_block_bg3.gif') 100% 0 repeat-y;}
	.white-block .wrp4{background:url('../art/white_block_bg4.gif') repeat-y;}
	.white-block .wrp5{background:url('../art/white_block_bg5.gif') no-repeat;}
	.white-block.br .wrp5{background-image:url('../art/white_block_br_bg5.gif');}
	.white-block.top-br .wrp5{background-image:url('../art/white_block_br_bg5.gif');}
	.white-block .wrp6{background:url('../art/white_block_bg6.gif') 100% 0 no-repeat;}
	.white-block.br .wrp6{background-image:url('../art/white_block_br_bg6.gif');}
	.white-block.top-br .wrp6{background-image:url('../art/white_block_br_bg6.gif');}
	.white-block.corner .wrp6{background:url('../art/white_block_corner_bg6.gif') 100% 0 no-repeat;}
	.white-block .wrp7{background:url('../art/white_block_bg7.gif') 100% 100% no-repeat;}
	.white-block.br .wrp7{background-image:url('../art/white_block_br_bg7.gif');}
	.white-block.bot-br .wrp7{background-image:url('../art/white_block_br_bg7.gif');}
	.white-block .wrp8{background:url('../art/white_block_bg8.gif') 0 100% no-repeat;padding:10px 8px 9px 8px;}
	.white-block.br .wrp8{background-image:url('../art/white_block_br_bg8.gif');padding:12px 8px 9px 8px;}
	.white-block.top-br .wrp8{padding:13px 8px 9px 8px;}
	.white-block.bot-br .wrp8{background-image:url('../art/white_block_br_bg8.gif');padding:10px 8px 9px 8px;}

/*crimson block*/
.crimson-block{margin:0 4px 4px 4px;}
.crimson-block.br, .crimson-block.bot-br{margin-bottom:0;}
	.crimson-block .wrp1{background:#b7194a url('../art/crimson_block_bg1.gif') repeat-x;}
	.crimson-block.br .wrp1{background-image:url('../art/crimson_block_br_bg1.gif');}
	.crimson-block.top-br .wrp1{background-image:url('../art/crimson_block_br_bg1.gif');}
	.crimson-block .wrp2{background:url('../art/crimson_block_bg2.gif') 0 100% repeat-x;}
	.crimson-block .wrp3{background:url('../art/crimson_block_bg3.gif') 100% 0 repeat-y;}
	.crimson-block .wrp4{background:url('../art/crimson_block_bg4.gif') repeat-y;}
	.crimson-block .wrp5{background:url('../art/crimson_block_bg5.gif') no-repeat;}
	.crimson-block.br .wrp5{background-image:url('../art/crimson_block_br_bg5.gif');}
	.crimson-block.top-br .wrp5{background-image:url('../art/crimson_block_br_bg5.gif');}
	.crimson-block .wrp6{background:url('../art/crimson_block_bg6.gif') 100% 0 no-repeat;}
	.crimson-block.br .wrp6{background-image:url('../art/crimson_block_br_bg6.gif');}
	.crimson-block.top-br .wrp6{background-image:url('../art/crimson_block_br_bg6.gif');}
	.crimson-block .wrp7{background:url('../art/crimson_block_bg7.gif') 100% 100% no-repeat;}
	.crimson-block.br .wrp7{background-image:url('../art/crimson_block_br_bg7.gif');}
	.crimson-block.bot-br .wrp7{background-image:url('../art/crimson_block_br_bg7.gif');}
	.crimson-block .wrp8{background:url('../art/crimson_block_bg8.gif') 0 100% no-repeat;padding:10px 8px 9px 8px;}
	.crimson-block.br .wrp8{background-image:url('../art/crimson_block_br_bg8.gif');padding:12px 8px 9px 8px;}
	.crimson-block.top-br .wrp8{padding:13px 8px 9px 8px;}
	.crimson-block.bot-br .wrp8{background-image:url('../art/crimson_block_br_bg8.gif');padding:10px 8px 9px 8px;}

/*black block*/
.black-block{margin:0 4px 4px 4px;}
.black-block.br, .black-block.bot-br{margin-bottom:0;}
	.black-block .wrp1{background:#010101 url('../art/black_block_bg1.gif') repeat-x;}
	.black-block.br .wrp1{background-image:url('../art/black_block_br_bg1.gif');}
	.black-block.top-br .wrp1{background-image:url('../art/black_block_br_bg1.gif');}
	.black-block .wrp2{background:url('../art/black_block_bg2.gif') 0 100% repeat-x;}
	.black-block .wrp3{background:url('../art/black_block_bg3.gif') 100% 0 repeat-y;}
	.black-block .wrp4{background:url('../art/black_block_bg4.gif') repeat-y;}
	.black-block .wrp5{background:url('../art/black_block_bg5.gif') no-repeat;}
	.black-block.br .wrp5{background-image:url('../art/black_block_br_bg5.gif');}
	.black-block.top-br .wrp5{background-image:url('../art/black_block_br_bg5.gif');}
	.black-block .wrp6{background:url('../art/black_block_bg6.gif') 100% 0 no-repeat;}
	.black-block.br .wrp6{background-image:url('../art/black_block_br_bg6.gif');}
	.black-block.top-br .wrp6{background-image:url('../art/black_block_br_bg6.gif');}
	.black-block .wrp7{background:url('../art/black_block_bg7.gif') 100% 100% no-repeat;}
	.black-block.br .wrp7{background-image:url('../art/black_block_br_bg7.gif');}
	.black-block.bot-br .wrp7{background-image:url('../art/black_block_br_bg7.gif');}
	.black-block .wrp8{background:url('../art/black_block_bg8.gif') 0 100% no-repeat;padding:10px 8px 9px 8px;}
	.black-block.navigation .wrp8{padding:3px 8px;}
	.black-block.br .wrp8{background-image:url('../art/black_block_br_bg8.gif');padding:12px 8px 9px 8px;}
	.black-block.br.navigation .wrp8{padding:7px 8px 3px 8px;}
	.black-block.top-br .wrp8{padding:13px 8px 9px 8px;}
	.black-block.top-br.navigation .wrp8{padding:6px 8px 3px 8px;}
	.black-block.bot-br .wrp8{background-image:url('../art/black_block_br_bg8.gif');padding:10px 8px 9px 8px;}

/*top video block*/
.top-video-block{overflow:hidden;}
	.top-video-block .title{margin-bottom:6px;text-align:center;font-weight:bold;}
		.top-video-block .title a{text-decoration:none;}
			.top-video-block .title a:hover{text-decoration:underline;}
	.top-video-block .video{text-align:center;}
		.top-video-block .image{width:142px;height:95px;margin-bottom:2px;display:inline-block;*zoom:1;*display:inline;overflow:hidden;position:relative;text-decoration:none;}
			.top-video-block .image .time{width:36px;height:17px;display:block;position:absolute;top:72px;left:100px;z-index:3;background:url('../art/top_video_block_time_bg.png') no-repeat;font:12px/17px Arial, Helvetica, sans-serif;color:#fff;text-align:center;}
			.top-video-block .image .mask{width:142px;height:95px;display:block;position:absolute;top:0;left:0;z-index:2;background:url('../art/top_video_block_mask.png') no-repeat;}
			.top-video-block .image img{width:142px;height:95px;display:block;position:absolute;top:0;left:0;z-index:1;}
		.top-video-block .data{margin-bottom:6px;text-align:center;}
			.top-video-block .data .crimson{color:#9b1e46;}
		.top-video-block .buttons{text-align:center;}

/*download button*/
.down-but{height:34px;margin-bottom:3px;display:inline-block;*zoom:1;*display:inline;font:bold 12px/34px Arial, Helvetica, sans-serif;color:#ffe0ef !important;text-decoration:none;text-shadow:#f92368 0 0 8px;text-transform:uppercase;background:#222 url('../art/download_but_bg.gif') repeat-x;}
	.down-but:hover{background-color:#333;background-position:0 -150px;}
	.down-but span{height:34px;display:inline-block;*zoom:1;*display:inline;background:url('../art/download_but_bg.gif') 0 -50px no-repeat;}
		.down-but:hover span{background-position:0 -200px;}
		.down-but span span{background-position:100% -100px;text-align:center;padding:0 20px;}
			.down-but:hover span span{background-position:100% -250px;}
			.down-but.arr span span{padding-right:53px;background-position:100% -300px;}
				.down-but.arr:hover span span{background-position:100% -350px;}

/*ads links block*/
.ads-links-block{overflow:hidden;text-align:center;}
	.ads-links-block a:first-child{margin:0;}
	.ads-links-block a{height:25px;margin-top:2px;display:inline-block;*zoom:1;*display:inline;font:13px/25px Arial, Helvetica, sans-serif;color:#fff;text-decoration:none;}
		.ads-links-block a .left, .ads-links-block a .right{width:3px;height:25px;display:-moz-inline-stack;display:inline-block;*zoom:1;*display:inline;background:url('../art/ads_links_a_bg.png') 0 -25px no-repeat;}
			.ads-links-block a:hover .left{background-position:0 -100px;}
		.ads-links-block a .right{background-position:0 -50px;}
			.ads-links-block a:hover .right{background-position:0 -125px;}
		.ads-links-block a .mid{height:25px;padding:0 10px;display:inline-block;*zoom:1;*display:inline;background:#c42859 url('../art/ads_links_a_bg.png') repeat-x;}
			.ads-links-block a:hover .mid{background-color:#db437f;background-position:0 -75px;}

/*vertical menu*/
.v-menu{overflow:hidden;}
	.v-menu .title{padding:9px 0 0 22px;margin-bottom:7px;font:bold 16px/19px Arial, Helvetica, sans-serif;color:#333;}
	.v-menu ul.list{padding-bottom:1px;margin-bottom:13px;display:block;}
		.v-menu ul.list li{height:31px;margin:-1px 0;background:#fff url('../art/v_menu_li_bg.gif') no-repeat;}
			.v-menu ul.list li:hover{background-position:0 -50px;}
			.v-menu ul.list li a{height:30px;display:block;line-height:30px;padding-left:15px;text-decoration:none;}
				.v-menu ul.list li a:hover{text-decoration:none;}
				.v-menu ul.list li a:hover span{border-bottom:1px #eea9bf solid;}
				.v-menu ul.list li a span.count{color:#333;}
					.v-menu ul.list li a:hover span.count{border:none;}

/*navigation block*/
.navigation-block{height:32px;text-align:center;}
	.navigation-block a{height:32px;margin:0 -2px;display:inline-block;*zoom:1;*display:inline;background:#3a3a3a url('../art/navigation_block_a_bg.gif') repeat-x;text-decoration:none;font:13px/32px Arial, Helvetica, sans-serif;color:#fff;text-decoration:none;}
		.navigation-block a:hover{background-color:#5f5f5f;background-position:0 -50px;}
		.navigation-block a span{height:32px;display:inline-block;*zoom:1;*display:inline;background:url('../art/navigation_block_a_bg.gif') 0 -100px no-repeat;}
			.navigation-block a span span{padding:0 12px;background-position:100% -150px;}

/*search block*/
.search-block{text-align:center;}
	.search-block input[type=text]{width:110px;}

/*headline*/
.headline{padding:2px 0;text-align:center;font:bold 15px/18px Arial, Helvetica, sans-serif;color:#9b1e46;}

/*videos list*/
.videos-list{overflow:hidden;}
	.videos-list ul{padding:12px 0;list-style-type:none;}
		.videos-list ul li{margin:-1px 0;background:url('../art/video_details_block_bg1.gif') repeat-y;}
			.videos-list ul li .in1{background:url('../art/video_details_block_bg2.gif') no-repeat;}
			.videos-list ul li .in2{padding:10px 0 10px 14px;background:url('../art/video_details_block_bg3.gif') 0 100% no-repeat;}
				.videos-list ul li .title{margin-bottom:7px;font:15px/18px Arial, Helvetica, sans-serif;color:#9b1e46;}
					.videos-list ul li .title a{text-decoration:none;}
						.videos-list ul li .title a:hover{text-decoration:underline;}
				.videos-list ul li .image{width:142px;height:95px;margin-bottom:2px;display:inline-block;*zoom:1;*display:inline;overflow:hidden;position:relative;text-decoration:none;}
					.videos-list ul li .image .time{width:36px;height:17px;display:block;position:absolute;top:72px;left:100px;z-index:3;background:url('../art/top_video_block_time_bg.png') no-repeat;font:12px/17px Arial, Helvetica, sans-serif;color:#fff;text-align:center;}
					.videos-list ul li .image .mask{width:142px;height:95px;display:block;position:absolute;top:0;left:0;z-index:2;background:url('../art/top_video_block_mask.png') no-repeat;}
					.videos-list ul li .image img{width:142px;height:95px;display:block;position:absolute;top:0;left:0;z-index:1;}
				.videos-list ul li .data{margin-bottom:6px;font:12px/15px Arial, Helvetica, sans-serif;}
					.videos-list ul li .data .crimson{color:#9b1e46;}
				.videos-list ul li .buttons{overflow:hidden;}

/*watch also block*/
.watch-also-block{padding:6px 0 7px 0;overflow:hidden;}
	.watch-also-block .title{margin-bottom:8px;font:bold 15px/18px Arial, Helvetica, sans-serif;color:#9b1e46;text-align:center;}
	.watch-also-block .previews{text-align:center;}
		.watch-also-block .image{width:102px;height:65px;margin:0 1px 2px 0;display:inline-block;*zoom:1;*display:inline;overflow:hidden;position:relative;text-decoration:none;}
			.watch-also-block .image .time{width:36px;height:17px;display:block;position:absolute;top:42px;left:60px;z-index:3;background:url('../art/top_video_block_time_bg.png') no-repeat;font:12px/17px Arial, Helvetica, sans-serif;color:#fff;text-align:center;}
			.watch-also-block .image .mask{width:102px;height:65px;display:block;position:absolute;top:0;left:0;z-index:2;background:url('../art/watch_also_block_prev_mask.png') no-repeat;}
			.watch-also-block .image img{width:102px;height:65px;display:block;position:absolute;top:0;left:0;z-index:1;}

/*registration block*/
.reg-block{padding:12px 1px 7px 1px;overflow:hidden;}
	.reg-block .title{margin-bottom:10px;font-size:15px;color:#9b1e46;}
	.reg-block ul{list-style-type:none;}
		.reg-block ul li{margin-bottom:8px;}
		.reg-block ul li.crimson{color:#9b1e46;text-transform:uppercase;}
			.reg-block .hint{margin-bottom:4px;font-size:11px;color:#6a6a6a;}
			.reg-block input[type=text]{margin-bottom:4px;}

/*text block*/
.text-block{padding:10px 4px;}

/*footer*/
.footer{margin:0 4px;font:13px/16px Arial, Helvetica, sans-serif;color:#f088a9;}
	.footer .wrp1{background:#b62250 url('../art/footer_bg1.gif') repeat-x;}
	.footer .wrp2{background:url('../art/footer_bg2.gif') no-repeat;}
	.footer .wrp3{background:url('../art/footer_bg3.gif') 100% 0 no-repeat;padding:10px 13px 9px 13px;}