* html .menu{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-menu.png', sizingmethod='scale');
}
* html #content .box-info{height:1%;}
* html #content .box-info ul{margin-left:-4px;}
* html #content .block{height:1%;}
* html #content .box-sort{height:1%;}
#content .info-sort{height:1%;}
#content .info-sort li{display:inline;}
* html #content .categories{height:1%;}
* html .visual{height:1%;}
* html  #footer .copyright ul{height:1%;}
#footer .copyright li{border: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");}
