.yvedw{}
.yved{
    position: fixed;
	display: none;
    z-index: 900;
    right: 20px;
    width: 320px;
	min-height: 110px;
    color: white;
    padding: 10px 0 10px 105px;
    font-size: 16px;
	line-height: 22px;
	border-radius: 60px;
	background: rgba(39, 61, 83, 0.6) url(../yved/yico.png) left center no-repeat;
    }


@media only screen and (min-width: 200px) and (max-width: 767px) {
	.yved{
	width: 300px;
    bottom: 10px;
	right: 10px;
	font-size: 14px;
	background: rgba(39, 61, 83, 0.9) url(../yved/yico.png) left center no-repeat;
    }
    
}


@media only screen and (min-width: 768px) {
	.yved{
    top: 80px;
    }
    

}