@charset "utf-8";/* CSS Document */

* {outline: none !important;}
body {font-family: "Verdana", sans-serif; background-color:#fff;}
.container { width:960px !important;}
.header {
	background-image: url(../img/head_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 711px;
	width: 100%;
}
.header .bottom_head {
	background-image: url(../img/head_bottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 715px;
	width: 100%;
}
.stat {color:white; text-align: center; white-space:nowrap}
.stat span {color:#00b4ff}
.call_us {font-size:16px; color:white;line-height: 17px;}
.call_us span {font-weight:bold; font-size:17px;}
.clock_steel {
	font-size:16px;
	font-family: "Arial";
  color: rgb( 255, 210, 0 );
  text-transform: uppercase;
}
.yellow_btn {
  width: 169px;
  height: 34px;
  border-style: solid;
  border-width: 2px;
  border-color: #584f48;
  border-radius: 12px;
  background-image: -moz-linear-gradient( 90deg, rgb( 254, 191, 4 ) 0%, rgb( 255, 214, 94 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 254, 191, 4 ) 0%, rgb( 255, 214, 94 ) 100%);
  font-family: "Arial";
  color:#202020;
  font-size:16px;
  font-weight:bold;
}
.yellow_btn:active {
	background-image: -moz-linear-gradient( 90deg, rgb( 254, 191, 4 ) 0%, rgb( 255, 214, 94 ) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb( 254, 191, 4 ) 0%, rgb( 255, 214, 94 ) 100%);
	border-color: #584f48;
}
.logo {border-bottom-color:#202426; padding-bottom:30px; border-bottom-style:solid;}
.under_line {width:100%; height:1px; background-color:#202426; margin-top:15px;}
.leave_bid {
  font-size: 33px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1.732px 0px rgb( 22, 21, 21 );
  margin-top:15px;
}
.silver_clock {position:absolute;}
.gold_clock {position:absolute;}
.clock {	
	height:330px;
	position:relative;
}
.goldBtn {
	width:60px;
	height:64px;
	background:url(../img/gold_ico.png) bottom left no-repeat;
	float:left;
	margin-top: -63px;	
}
.goldBtn:hover {cursor:pointer;background-position: top center;}
.silver:hover {cursor:pointer;background-position: top center;}
.silver {
	width:60px;
	height:64px;
	background:url(../img/silver_ico.png) bottom center no-repeat;
	margin-left: 71px;
}
.header .clock_bid {
	margin-left:0;
	text-align:center;
	margin-left: -64px;
}
.header .form-control {
	margin-top: 15px;
	width: 253px;
	border: 1px solid #ffcd3a;
	border-radius:12px;
	margin-left: 34px;
}
.header .bt1 {
	margin-left: -71px;
	margin-top: 15px;
	width: 240px;
	height:44px;
	background:url(../img/red_btn_2.png) bottom center;
	border:none;
}
.header .bt1:hover {background-position:top center; background-image:url(../img/red_btn_2.png)}
.header .bid_title {padding-top: 11px; line-height: 20px;padding-top: 29px;
line-height: 24px;
margin-bottom: 28px;}
.btn {padding:0}
.price {
	background:url(../img/price_tag.png) top center no-repeat;
	height: 47px;
	margin-left: -347px;
}
.price p {
	font-size: 26px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  text-shadow: 1px 1.732px 3px rgb( 13, 118, 2 );
  margin-left: 335px;
padding-top: 3px;
}
.gift_action {
	height:300px;
	background:url(../img/gift.png) no-repeat;
	background-position: 17px 23px;	
}
.gift_action p {
	font-size:18px;
	color:white;
	text-align:right;
	padding: 58px 178px 0 0;
}
.free {
	font-size:22px !important;
	color:#ffbe00 !important;	
	margin: -60px -5px;	
}

.bg_clock .clock { margin-left:0}


.circ_img {text-align:center; margin-top:70px;}
.circ_img img {margin-left: 29%;}
.how_we_work {background:url(../img/bg_worck.png) no-repeat;}
.work_title {
	font-family: arial;
	font-size: 33px;
	color: #FFF;
	margin-top: 25px;
	text-align:center;
}
.round_img {margin-bottom: 40px;}
.bg_top_work {background:url(../img/head_bottom_inverse.png) no-repeat;
background-position:0 -3px;}
.clock_work {
	width:100%;
	height:410px;
	background:url(../img/work_clock.png) no-repeat;
	background-position:-48px -60px;
}
.step {
	width:100%;
	height:306px;
	background:url(../img/step.png) top center no-repeat;
	margin-top: 18px
}
.step_b {padding:0 !important}
.steps p { font-size:16px; color:#FFF;margin-top: 20px;}
.clients_title {
	font-family: arial;
	font-size: 33px;
	color: #27282c;	
	text-align:center;
}
.name {font-weight:bold; text-transform:uppercase;text-align:center}
.titul { text-align:center}
.testimonial {font-size:12px;}
.clients {margin-top:20px}
.clients img {margin-left: 23%;}
.clients a {text-decoration: underline}
.clients a:hover {cursor: pointer}
.modal-header { border-bottom: none}
.modal-footer {border-top: none}
.modal-dialog {
    width: 480px;
    margin: 164px auto;
}
.deliver_title {
	font-family: arial;
	font-size: 33px;
	font-weight: bold;
	color: #FFF;
	margin-top: 15px;
	text-align:center;
	text-shadow: 1px 1.732px 0px rgb( 22, 21, 21 );
}
.deliver {background:url(../img/mountain_bg.jpg) top center; margin-top:30px;}
.form-control {
    display: block;
    width: 210px;
	margin-left: 35px;
	height:43px;
}
.deliver_form {text-align:center;margin-bottom: 21px;}
.bt1 {
	background:url(../img/red_btn.png) bottom center;
	width: 171px;
    height: 45px;
	border: 1px solid #bb0500;
	border-radius: 12px;	
   margin-left:30px;
   font-size:18px;
   color:white;
   font-weight:bold;
   font-family: 'PT Sans', sans-serif;
   text-shadow: 0.5px 0.866px 0px rgb( 1, 58, 0 );
   letter-spacing: 2px;
}
.bt1:hover { background:url(../img/red_btn.png) top center}
.desc_title {
	font-family: arial;
	font-size: 33px;
	font-weight: bold;
	margin-top: 30px;
	text-align:center;
}
.bg_clock {
	width: 732px;
	height: 342px;
	background:url(../img/bg_clock_silver.png) top center no-repeat;	
	float:left;	
}
.gold_color {margin-left: 760px;}	
.color {
	font-size: 18px;
	color: #000;
	line-height: 10px;
}
.color_name {
	font-size: 14px;
	color: #000;
}
.silver_color {margin-left: 760px;;;margin-top: 20px;}
.clock_name {
	font-family: arial;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	text-align:right;
	margin: -300px 20px;
}
.clock_disc {
	font-size: 15px;
	margin-top: 320px;
	color: #FFF;
	text-align:right;
	margin-right:20px;
	line-height: 19px;
}
.description .goldBtn {
	height:inherit;
	width:inherit;
	background:none;
	margin:0;
	float:none;
}
.silver_big:hover {cursor:pointer}
.btn_order {
	width:160px;
	height:55px;
	background:url(../img/order.png) bottom center no-repeat;
	margin-left: 500px;
	border: none;
	z-index: 999;
	position:absolute;
	margin-top: 26px;
}
.btn_order:hover {background-position: top center;}

#carousel {
				margin: 0 auto;
			}

			#carousel img {
				border: 0;
			}

			.ui-carousel-next, .ui-carousel-prev {
				width: 23px;
				height: 100px;
				background: url(../img/arrow-left.png) #fff center center no-repeat;
				display: block;
				position: absolute;
				top: 28px;
				z-index: 100;
			}

			.ui-carousel-next {
				right: 0;
				background-image: url(../img/arrow-right.png);
			}

			.ui-carousel-prev {
				left: 0;
			}
			
			.ui-carousel-next > span, .ui-carousel-prev > span {
				display: none;
			}

#container {
				
				position: relative;
			}
.litle_img { width: 110px !important}
#ui-carousel-next {right: -14px;
width: 28px;}
.black_line {
	width:100%;
	background-color:black;
	height:1px;
	margin:20px 0;
}
.video {text-align: center;margin-top: 40px;}	
.samurai {
	font-family: Arial;
	font-size: 33px;
	font-weight: bold;
	margin-top: 60px;
	text-align:center;
}
.samurai_bg {background:url(../img/samurai_bg.png) top center no-repeat; margin-bottom:50px;}
.samurai_name {
	font-size:28px;
	font-family: "Arial";
	color: rgb( 255, 255, 255 );
    font-weight: bold;
	text-align:right;
	margin: 30px 67px;
}
.samurai_disc {
	text-align:right;
	font-size:15px;
	color:white;
	margin-right: 62px;
	line-height: 19px;
}
.btn_gift {
	width:305px;
	height:55px;
	background:url(../img/gift_btn.png) bottom center;
	margin-left: 567px;
	border: none;
	margin-top: 19px;
}
.btn_gift:hover {background-position: 0px 109px;}
.zaiavka {background:url(../img/dude.png) top center;height: 571px;}
.form_final {text-align: center}
.clock_bid {
	width:385px;
	height:406px;
	background:url(../img/form_bg.png) no-repeat;
	margin-left: 335px;
	margin-top: 31px;
}
.form_final img {margin-top: 65px;margin-left: 53px;}
.zaiavka_bottom {background:url(../img/head_bottom.png) bottom no-repeat;height: 575px;}
.ask {
	font-family: arial;
	font-size: 33px;
	font-weight: bold;
	float:left;
	margin-left: 130px;
}
.meneger {
	height:45px;
	width: 271px;
	background:url(../img/meneger_btn.png) bottom;
	border: none;
	margin-left: -150px;
}
.meneger:hover {background-position:top;}
.footer_btn {text-align:center; margin-top: 70px;}
.footer .black_line {margin-top:50px; width:100%}
.bid_title {
	font-size: 19px;
	font-weight: bold;
	color: #ffbe00;
	padding-top: 20px;
	margin-left: -56px;
	text-transform: uppercase;
}
.form_final .form-control {
	margin-top: 15px;
	width: 253px;
	border: 1px solid #ffcd3a;
	border-radius:12px;
	margin-left: 33px;	
}
.form_final .bt1 {
	margin-left: -71px;
	margin-top: 15px;
	width: 240px;
	height:44px;
	background:url(../img/red_btn_2.png) bottom center;
	border:none;
}
.form_final .bt1:hover {background-position:top center;}.confidential {
	font-size: 11px;
	color: #7a7a7a;
	margin-top: 10px;
	margin-left: -54px;
}
.modal-dialog .clock_bid {
	margin-left: 37px;
}
.modal-dialog .bid_title {margin-left: -62px; text-align: center;padding-top: 57px;}
.modal-dialog .form-control {margin-top: 15px;width: 250px;}
.modal-dialog .bt1 {
	margin-left: 34px;
	margin-top: 15px;
	width: 240px;
	height:44px;
	background:url(../img/red_btn_2.png) bottom center;
	border:none;
}
.modal-dialog .bt1:hover {background-position:top center; background-image:url(../img/red_btn_2.png)}
.modal-dialog .confidential {text-align: center;}
.modal-footer {display:none}
#CDT {margin: -70px 0px 76px 40px !important;font-size: 39px !important;}
.time_left {
	margin: 99px 230px 0px -37px;
font-size: 20px !important;
color: rgb(255, 190, 0) !important;
padding: 1px !important;
}

#call_me {
background: rgba(0, 0, 0, 0.6);
}

.modal-content {
background: #000;
}

button.close {
background: #000;
color: #fff;
opacity: 1;
text-shadow: none;
}
.deliver_form .form-control {
	margin-left: 20px;
}
.text_img {font-size:18px;line-height: 20px;
margin-top: 15px;}
.foot_img {text-align:center; margin-top: 40px; margin-bottom:25px}
.slider2 { position:relative}

			

.slider2 #carousel2 {margin-left: 83px; margin-bottom:40px;}