/* Contdonwn */
.ea_product_form {
	display: none;
}

#CDT {
    font-size: 60px;
    color: #eee;
    margin: 70px 0 100px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: -moz-linear-gradient( 90deg, rgb( 0, 174, 239 ) 0%, rgb( 0, 153, 210 ) 47.534%, rgb( 0, 174, 239 ) 48.047%, rgb( 157, 191, 255 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 0, 174, 239 ) 0%, rgb( 0, 153, 210 ) 47.534%, rgb( 0, 174, 239 ) 48.047%, rgb( 157, 191, 255 ) 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
       
#CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background:transparent;
   
}
       
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -35px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #777;
}

.errow {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	background: #fff;
	z-index: 100000;
	text-align: center;
	border-bottom: solid 2px #000;
	display: none;
}