.first-section {
	color: #ffffff;
	height: 96px;
	padding-top: 15px;
	background: url('/types/shop/template/landings/ok/img/first-bg.png') repeat-x;	
	background-blend-mode: overlay;
	text-align: center;
}
.first-section h1 {
	margin: 0;
	font-size: 25px;
	text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2); 
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 5px;
}
.first-section p {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}

.more {
	margin-bottom: 30px;
}