
            .apishopsModal{
                display:none;
            }

            .apishopsModal.apishopsAnimation{
                -webkit-transition: opacity 0.2s ease-out;
                -moz-transition: opacity 0.2s ease-out;
                -o-transition: opacity 0.2s ease-out;
                transition: opacity 0.2s ease-out;
                opacity:0;
                visibility:hidden;
            }
            .apishopsModal.apishopsAnimation.in{
                opacity:1;
                visibility:visible;
            }
            .apishopsModalWindow {
                background: none repeat scroll 0 0 white;
                border-radius: 3px 3px 3px 3px;
                box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.75);
                left: 31%;
                min-height: 216px;
                padding: 19px;
                position: absolute;
                top: 76px;
                width: 500px;
                z-index: 9999;
            }

            /* superScaled */
            .apishopsAnimation.apishopsSuperScaled .apishopsModalWindow{
              -webkit-transform: scale(2);
                  -ms-transform: scale(2);
                      transform: scale(2);
              -webkit-transition: -webkit-transform 0.2s ease-out;
                 -moz-transition: -moz-transform 0.2s ease-out;
                   -o-transition: -o-transform 0.2s ease-out;
                      transition: transform 0.2s ease-out;
            }
            .apishopsAnimation.apishopsSuperScaled.in .apishopsModalWindow{
              -webkit-transform: scale(1);
                  -ms-transform: scale(1);
                      transform: scale(1);
            }

            .apishopsAnimation.apishopsLetMeIn .apishopsModalWindow{
              -webkit-transform: scale(2);
                  -ms-transform: scale(2);
                      transform: scale(2);
              -webkit-transition: -webkit-transform 0.2s ease-out;
                 -moz-transition: -moz-transform 0.2s ease-out;
                   -o-transition: -o-transform 0.2s ease-out;
                      transition: transform 0.2s ease-out;
            }
            .apishopsAnimation.apishopsLetMeIn.in .apishopsModalWindow{
              -webkit-transform: scale(1);
                  -ms-transform: scale(1);
                      transform: scale(1);
            }

            /*sideFall*/
            .apishopsAnimation.apishopsSideFall .apishopsModalWindow{
              -webkit-transform: scale(2) translate(30%) translateZ(600px) rotate(10deg);
                  -ms-transform: scale(2) translate(30%) translateZ(600px) rotate(10deg);
                      transform: scale(2) translate(30%) translateZ(600px) rotate(10deg);
              -webkit-transform-style: preserve-3d;
                  -ms-transform-style: preserve-3d;
                      transform-style: preserve-3d;
              -webkit-transition: -webkit-transform 0.2s ease-out;
                 -moz-transition: -moz-transform 0.2s ease-out;
                   -o-transition: -o-transform 0.2s ease-out;
                      transition: transform 0.2s ease-out;
               -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
            }
            .apishopsAnimation.apishopsSideFall.in .apishopsModalWindow{
              -webkit-transform: scale(1) translate(0%) translateZ(0px) rotate(0deg);
                  -ms-transform: scale(1) translate(0%) translateZ(0px) rotate(0deg);
                      transform: scale(1) translate(0%) translateZ(0px) rotate(0deg);
              -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
            }

            /*3dFlip*/
            .apishopsAnimation.apishopsFlip .apishopsModalWindow{
              -webkit-transform: rotateY(-76deg);
                  -ms-transform: rotateY(-76deg);
                      transform: rotateY(-76deg);
              -webkit-transform-style: preserve-3d;
                  -ms-transform-style: preserve-3d;
                      transform-style: preserve-3d;
              -webkit-transition: -webkit-transform 0.2s ease-out;
                 -moz-transition: -moz-transform 0.2s ease-out;
                   -o-transition: -o-transform 0.2s ease-out;
                      transition: transform 0.2s ease-out;
               opacity:0;
            }
            .apishopsAnimation.apishopsFlip.in .apishopsModalWindow{
              -webkit-transform: rotateY(0deg);
                  -ms-transform: rotateY(0deg);
                      transform: rotateY(0deg);
              opacity:1;
            }


            .apishopsModalOverlay {
                background: none repeat scroll 0 0 black;
                bottom: 0;
                left: 0;
                opacity: 0.46;
                position: fixed;
                right: 0;
                top: 0;
            }
            .apishopsModalClose {
                background: url("http://error404.000webhost.com/?") repeat scroll 0 0 transparent;
                border-radius: 5px 5px 5px 5px;
                cursor: pointer;
                height: 16px;
                position: absolute;
                right: 8px;
                top: 9px;
                width: 17px;
            }
            .apishopsModalClose2 {
                padding-top: 10px;
                text-align: center;
            }
            .apishopsModalClose2 a {
                border-bottom: 1px dotted;
                font-size: 12px;
                text-decoration: none;
            }





.apishopsForm{
    margin:0px;
}

.apishopsForm small{
    display: block;
}

.apishopsForm h1{
     margin: 0px 0px;
}


.apishopsFormImageWrapper {
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 100%;

    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    transform: scale(0.9);
}

.apishopsFormImageWrapper img {
    height: 100% !important;
    width: initial !important;
}
.apishopsFormImageWrapper:after {
    background: none repeat scroll 0 0 rgba(45, 45, 45, 0.43);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;

}
.apishopsFormItem:hover .apishopsFormImageWrapper:after {
    opacity: 1;
}
.apishopsFormImageWrapper:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.69);
    border-radius: 3px;
    color: white;
    content: "Подробнее";
    font-size: 11px;
    left: 50%;
    letter-spacing: 2px;
    margin-left: -60px;
    margin-top: -15px;
    padding: 8px 13px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transition: all 0.4s ease 0s;
    z-index: 99;
    width: 88px;
    box-sizing: initial;

    height: 10px;
    line-height: 10px;
}
.apishopsFormItem:hover .apishopsFormImageWrapper:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.33);
    border-color: white;
    color: white;
}

.apishopsForm .apishopsFormGroup {
    margin-bottom: 15px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.apishopsForm.apishopsFormInline .apishopsFormGroup {
    display: inline-block;
    vertical-align: middle;
}


.apishopsForm .apishopsFormGroup.apishopsAnimation.apishopsSlide.in{
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
     margin: inherit;
     opacity:1;
     visibility:visible;
}

.apishopsForm .apishopsFormGroup.apishopsAnimation.apishopsSlide{
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    opacity:1;
    visibility:hidden;
}

.formInline .apishopsFormGroup {
    display: inline-block;
    vertical-align: middle;
}

.apishopsForm label {
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
}



.apishopsForm .apishopsFormError > * {
   color:#B94A48
}

.apishopsForm .apishopsFormError > input, .apishopsForm .apishopsFormError > select {
    background: none repeat scroll 0 0 rgba(254, 122, 101, 0.63) !important;
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.55);
    color: #FFFFFF !important;
}



.apishopsForm input[type=text], .apishopsForm  select {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%) repeat scroll 0 0 #FFF000;
    background: -webkit-linear-gradient(center top , rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%) repeat scroll 0 0 #FFF000;
    background: linear-gradient(center top , rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%) repeat scroll 0 0 #FFF000;

    font-size: 17px;
    padding: 9px 9px;

    display:block;
    width:100%;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    border: 1px solid rgba(0, 0, 0, 0.25);

    height:45px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.17) inset;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.apishopsFormButton.apishopsFormBuy {
    background: url("../images/button_bg2.png") repeat scroll 0 -5px rgba(0, 0, 0, 0);
    display: inline-block;
}
.apishopsFormButton.apishopsFormBuy b {
    color: #000000;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    line-height: 45px;
    padding: 1px 0 0 29px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.92);
    white-space: nowrap;
    position: relative;
}

.apishopsFormButton.apishopsFormBuy b:after {
    background: url("../images/button_bg2.png") no-repeat scroll right -59px rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    width: 30px;
    height: 100px;
    top: 0px;
    right: -30px;
}


.apishopsFormButton.apishopsFormBuy.apishopsFormBuySmall{
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-trnasform:scale(0.8);
}


.apishopsFormButton.apishopsFormBuy:hover {
    opacity: 0.8;
}


.apishopsFormGroup.apishopsLoading{
    position: relative;
}

.apishopsFormGroup:after{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity:0;
}


.apishopsFormGroup.apishopsLoading:after{
    background: url("../../../../coffee.apishops.ru/Images/indicator.gif") no-repeat scroll center 62% rgba(255, 255, 255, 0.46);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity:1;
}


.apishopsPersperctive,
.apishopsPersperctive body {
    /*height: 100%;
    overflow: hidden;*/
}

.apishopsPersperctive body  {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

body{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.apishopsFormLoadingText {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 64% 0px 0px 0px;
    background: rgba(255, 255, 255, 0.50);
}
.apishopsFormLoading {
    position: relative;
}
