
@media all and (min-width: 980px){
    body{margin:0;font-family:'Open Sans', sans;line-height:1;}
    .wrapper{max-width:1920px;margin:0 auto;min-width:980px;}
    .clr{clear:both;}
    .container{width: 980px;margin:0 auto;position:relative;}
    ul, li{padding:0;margin:0;list-style:none;}
    .bolder{font-weight:bold;}

    .header{background:#fff;}
    .logo{width:181px;height:57px;float:left;padding:8px 0;}
    .phone{float:right;padding:12px 63px 4px 40px;font-size:24px;color:#000;background:url(../img/sprite.png) -926px -260px no-repeat;}
    .phone span{display:block;font-weight:bold;font-size:13px;color:#279a99;padding-top:6px;}

    .block1{height:617px;padding:10px 0 0;background:url(../img/block1-bg.jpg) 50% 0 no-repeat;}
    .block1 .container{height:617px;}
    .block1-head{font:bold 95px/96px 'Segoe UI', serif;color:#fff;padding:1px 0 0 0;}
    .block1-head span{display:block;padding:0 0 0 330px;}
    .before-img{height:594px;width:322px;position:absolute;z-index:2;bottom:0;left:0;background:url(../img/before-img.png) 0 0 no-repeat;}
    .block1-main{width:990px;height:617px;position:absolute;left:0;top:0;z-index:4;}
    .after-img{width:317px;height:602px;position:absolute;bottom:0;right:0;background:url(../img/after-img.png) 0 0 no-repeat;}
    .block1-text{padding:284px 0 0 183px;background:url(../img/shad.png) 0 188px no-repeat;}
    .block1-text .prod-name{float:left;width:300px;font:bold 46px/55px 'Segoe UI', serif;color:#000;margin:7px 0 0 12px;}
    .block1-text .prod-img{height:203px;width:203px;float:left;background:url(../img/sprite.png) -756px -382px no-repeat;}
    .head-price{width:300px;text-align:center;font:24px/24px 'Segoe UI', serif;color:#2b2828;margin:12px 0 0 147px;}
    .head-price span{display:block;font:bold 32px/46px 'Segoe UI', serif;}

    .sale1{bottom:57px;right:214px;position:absolute;}
    .sale{width:143px;height:143px;text-align:center;}
    .gold-circle{height:143px;width:143px;position:absolute;top:0px;left:0px;z-index:1;background:url(../img/sprite.png) -817px -649px no-repeat;}
    .sale-count{font:bold 44px/46px 'Segoe UI', serif;color:#fff;position:relative;z-index:2;padding:33px 0 4px;}
    .sale-text{font:bold 18px/18px 'Segoe UI', serif;color:#fff;position:relative;z-index:2;}

    .block2{height:1151px;border-bottom:4px solid #fff;background:url(../img/block2-bg.jpg) 50% 0 no-repeat;}
    .block2-art1{padding:36px 0 0;height:408px;}
    .eff-list{margin:0;float:left;width:540px;}
    .eff-list li{font:24px/32px 'Segoe UI', sans;color:#2b2828;padding:7px 0 7px 50px;margin-bottom:6px;background:url(../img/sprite.png) -929px -851px no-repeat;}
    .eff-list li .bgr{font:bold 32px/30px 'Segoe UI', sans;}
    .block2-form{width:314px;float:right;margin-top:4px;}
    .form-row{margin:0 0 18px;}
    .form-row label{display:block;font:bold 12px/12px 'Roboto', sans-serif;color:#3b2222;margin-bottom:4px;}
    .form-row input.text, .form-row select{padding:16px 5px;width:300px;margin:0;height:22px;border-radius: 6px;
    border: 1px solid #77a29c;}
    .form-row select{width:312px;height:56px;padding:0 5px;}
    .block2-form .send-btn{display:block;height:67px;width:311px;border:none;outline:none;cursor:pointer;margin:28px 0 0;background:url(../img/sprite.png) 0 -67px no-repeat;}
    .block2-form .send-btn:hover{background-position:-321px -67px;}
    .block2-form .send-btn:active{background-position:-642px -67px;}

    .prodwork-wrap{height:707px;}
    .prodwork-wrap .prod-work{font:16px/22px 'Segoe UI', sans-serif;color:#2b2828;}
    .prodwork-wrap .work1{width:300px;float:left;margin:66px 0 0 0;}
    .prodwork-wrap .work2{width:348px;float:right;margin:64px 0 10px 200px;}
    .prodwork-wrap .work3{width:270px;float:left;margin:86px 0 0 0;}
    .prodwork-wrap .work4{width:190px;float:right;margin:126px 26px 0 0;}

    .block3{background:url(../img/block3-bg.jpg) 50% 0 no-repeat;}
    .block3 .container{height:939px;}
    .pref-list{height: 205px;float:left;margin:30px 0 0 362px;}
    .pref-list li{float:left;margin:0 12px 0 12px;text-align:center;width:180px;height:205px;font:14px 'Segoe UI', sans-serif;color:#3c3c3b;background:url(../img/circle.png) 50% 100% no-repeat;}
    .pref-list .pref-img{height:119px;background:url(../img/sprite.png) 0 0 no-repeat;}
    .pref1 .pref-img{background-position:-24px -424px;}
    .pref2 .pref-img{background-position:-228px -424px;}
    .pref3 .pref-img{background-position:-432px -424px;}
    .pref-list .bgr{font-size:18px;font-weight:bold;display:block;}
    .video-head{height:110px;font:bold 72px/72px 'Segoe UI', sans-serif;color:#44b2b1;width:540px;text-align:center;margin:29px 0 0 394px;}
    .video-head span{display:block;font-size:24px;color:#2b2828;line-height:38px;}
    .video-block{width:629px;height:407px;margin:80px 0 0 347px;}
    .girl-img{position:absolute;bottom:0;left:-132px;width:567px;height:956px;background:url(../img/girl-video.png) 0 0 no-repeat;}

    .block4{padding:10px 0;height:690px;background:url(../img/block4-bg.jpg) 50% 0 no-repeat;}
    .ord-btn1{display:block;height:67px;width:311px;margin:0 auto;outline:none;background:url(../img/sprite.png) 0 -153px no-repeat;}
    .ord-btn1:hover{background-position:-321px -153px;}
    .ord-btn1:active{background-position:-642px -153px;}
    .spec-head{font:bold 48px/48px 'Segoe UI', sans-serif;color:#44b2b1;margin:30px 0 0 0;text-align:center;}
    .spec-text{margin-top:25px;padding:24px 28px 20px 26px;width:876px;position:relative;z-index:2;background:#fff;border-radius:12px;}
    .doc-img{position:absolute;bottom:-185px;right:-101px;width:589px;height:994px;background:url(../img/doc-img.png) 0 0 no-repeat;}
    .spec-text p{font:16px/20px 'Segoe UI', sans-serif;color:#2b2828;margin:0 0 10px;}
    .spec-text p.spec-name{color:#44b2b1;margin-top:18px;}
    .spec-list{float:left;width:100%;margin:15px 0 0;}
    .spec-list .spec-eff-img{width:160px;height: 135px;float:left;margin:-15px 4px 0 0;background:url(../img/sprite.png) 0 0 no-repeat;}
    .spec-list li{font:16px/22px 'Segoe UI', sans-serif;color:#2b2828;padding:15px 0 10px 0;margin:0 20px 28px 0;width:470px;float:left;background:url(../img/circle2.png) 17px 2px no-repeat;}
    .spec1 .spec-eff-img{background-position:-33px -600px;}
    .spec2 .spec-eff-img{background-position:-32px -763px;}

    .block5{height:930px;background:#fff;}
    .block5-line{height:30px;background:url(../img/block5-triangle.jpg) 50% 0 no-repeat;}
    .block5-head{font:bold 48px/58px 'Segoe UI', sans-serif;color:#44b2b1;text-align:center;padding:13px 0 20px 10px;}
    .comments-list{width:810px;margin:24px 0 0 75px;overflow:hidden;}
    .comments-list .comm-head{font:18px/18px 'arial', sans-serif;color:#1b1b1b;float:left;width:100%;padding:0 0 11px 10px;border-bottom:1px solid #d8d8d8;}
    .comments-list .comm-head-text{float:left;}
    .comm-head-img{float:left;height:16px;width:122px;margin:1px 0 0 24px;background:url(../img/comm-head-img.jpg);}
    .comments-list li{margin:0 0 6px;float:left;width:100%;}
    .comm-img{width:50px;height:200px;float:left;}
    .comm-img img{margin:12px 0 0 9px;}
    .comm-text{width:756px;float:right;font:16px/20px 'Segoe UI', sans-serif;color:#2b2828;padding:62px 0 0 4px;}
    .comm1 .comm-text{background:url(../img/comm-line1.jpg) 0 6px no-repeat;}
    .comm2 .comm-text{background:url(../img/comm-line2.jpg) 0 6px no-repeat;}
    .comm3 .comm-text{background:url(../img/comm-line1.jpg) 0 6px no-repeat;}

    .block6{background:#fff url(../img/block6-bg.jpg) 50% -1px no-repeat;height:1430px;padding:44px 0 0;}
    .quest-head{font:bold 48px/48px 'Segoe UI', sans-serif;color:#44b2b1;text-align:center;padding:49px 0 0 26px;}
    .video-resp{margin:28px 0 0 0;height:730px;}
    .video-list{width:400px;margin-left:75px;}
    .video-list li{margin-bottom:26px;}
    .video-subhead{font:24px/24px 'Segoe UI', sans-serif;color:#2b2828;text-align:center;margin-bottom:11px;}
    .video-list .video-wrap{width:400px;height:244px;}
    .video-list .video-descr{font:italic 14px/14px 'Segoe UI', sans-serif;color:#2b2828;text-align:center;margin-top:9px;}
    .quest-list{margin:24px auto 0;width:810px;padding:0 0 0 60px;}
    .quest-list li{margin:0 0 32px;}
    .quest-list .questlast{margin-top:36px;}
    .quest-list .quest{font:bold 20px/20px 'Segoe UI', sans-serif;color:#2b2828;}
    .quest-list .answer{padding:14px 0 0 24px;font:16px/20px 'Segoe UI', sans-serif;color:#2b2828;}
    .quest-list .answ-left{width:50px;float:left;}
    .quest-list .answ-right{width:725px;float:right;}

    .block7{background:#fff url(../img/block7-bg.jpg) 50% 100% no-repeat;padding-top:25px;}
    .sale2{position:absolute;left:50%;top:-92px;margin-left:-71px;}
    .block7 .container{height:1504px;}
    .bordered-price{width:562px;margin:0 auto;border:7px solid #000;border-radius:18px;padding:34px 0 27px;}
    .price-block{margin:4px 0 0;font:38px/38px 'Segoe UI', sans-serif;text-align:center;color:#e23837;}
    .price-block span{display:block;font-size:60px;line-height:60px;font-weight:bold;}
    .del-inf{font:24px/24px 'Segoe UI', sans-serif;color:#000;text-align:center;margin:16px 0 0;}

    .counter-list {

        height: 90px;
        background: url(../img/counter-bg.png) right 0 no-repeat;
        float: none;
        margin: 22px auto 0;
        width: 270px;
    }
    .counter-list li{float:left;width:71px;margin:0 0 0 19px;text-align:center;font:bold 54px/54px 'arial', sans-serif;color:#fff;padding-top:3px;}
    .ord-now-text{font:bold 32px/32px 'Segoe UI', sans-serif;text-align:center;color:#000;margin:22px 0 0;}
    .block7-head{font:bold 84px/88px 'Segoe UI', sans-serif;color:#44b2b1;text-align:center;margin:6px 0 0;}
    .bottom-girl{position:absolute;z-index:2;width:1053px;height:969px;bottom:0;left:-15px;background:url(../img/bottom-girl.png) 50% 0 no-repeat;}
    .bottom-form-wrap{position:relative;z-index:10;width:294px;margin:430px 0 0 348px;padding:27px 0 43px;background:url(../img/form-bg.png);border:1px solid #fff;border-radius:10px;}
    .sale3{position:absolute;top: -108px;right: -62px;}
    .bottom-form-wrap .form-row{width:242px;margin:0 auto 8px;}
    .bottom-form-wrap input.text{width:227px;height:20px;line-height:18px;padding:12px 5px;border-radius:6px;border:1px solid #77a29c;}
    .bottom-form-wrap select{width:239px;height:46px;line-height:46px;border-radius:6px;outline:none;border:1px solid #77a29c;}
    .bottom-form-wrap .send-btn{display:block;margin:18px auto 0;height:52px;width:237px;cursor:pointer;border:none;outline:none;background:url(../img/sprite.png) 0 0 no-repeat;}
    .bottom-form-wrap .send-btn:hover{background-position:-247px 0;}
    .bottom-form-wrap .send-btn:active{background-position:-494px 0;}

    .del-steps{float:left;width:100%;position:relative;z-index:5;}
    .del-steps li{width:160px;height:160px;font:14px/18px 'Segoe UI', serif;float:left;color:#000;padding:0;margin:0;position:relative;background:url(../img/sprite.png) 0 0 no-repeat;}
    .del-steps .step3{margin-right:37px;}
    .del-circle{width:160px;height:160px;position:relative;margin:0;}
    .step-img{height:90px;}
    .del-steps .step1{margin:25px 0 0;background-position:-261px -985px;}
    .del-steps .step2{margin:-161px 0 0 -29px;background-position:-460px -990px;}
    .del-steps .step3{margin:-55px 0 0 446px;background-position:-660px -990px;}
    .del-steps .step4{margin:-361px 0 0 528px;background-position:-848px -985px;}
    .step-text{text-align:center;font-size:14px;line-height:18px;font-weight:700;color:#000;}

    .footer{text-align:center;padding:14px 0 10px;}
    .footer p{font-size:12px;}

    @-webkit-keyframes round {
        0%   {-webkit-transform: rotate(0deg);}
        100%  {-webkit-transform: rotate(360deg);}
    }
    @-moz-keyframes round {
        0%   {-moz-transform: rotate(0deg);}
        100%  {-moz-transform: rotate(360deg);}
    }
    @-ms-keyframes round {
        0%   {-ms-transform: rotate(0deg);}
        100%  {-ms-transform: rotate(360deg);}
    }
    @-o-keyframes round {
        0%   {-o-transform: rotate(0deg);}
        100%  {-o-transform: rotate(360deg);}
    }
    @keyframes round {
        0%   {transform: rotate(0deg);}
        100%  {transform: rotate(360deg);}
    }
    .animation-round {
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-name: round;
           -moz-animation-name: round;
            -ms-animation-name: round;
             -o-animation-name: round;
                animation-name: round;
        -webkit-animation-duration: 14s;
           -moz-animation-duration: 14s;
            -ms-animation-duration: 14s;
             -o-animation-duration: 14s;
                animation-duration: 14s;
        -webkit-animation-iteration-count: infinite;
           -moz-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
             -o-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
           -moz-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
             -o-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
    }


    .wrapper_mobile{
        display: none;
    }
    .calllback-mobile{
        display: none;
    }

}


@media all and (max-width: 979px){

    html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, del, em, img, q, small, strong, sub, sup, b, i, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    table { border-collapse: collapse; border-spacing: 0; }
    del { text-decoration: line-through; }
    input, select { vertical-align: middle; }
    a { background: transparent; }
    a:active, a:hover { outline: 0; }
    b, strong { font-weight: bold; }
    button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
    button { overflow: visible; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    select { moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    /*== clearfix ==*/
    .clearfix:before, .clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
    .clearfix:after { clear: both; }
    .clearfix { zoom: 1; }
    @font-face { font-family: 'Segoe UI'; src: url("segoeuib_0-webfont.eot"); src: url("segoeuib_0-webfont.eot?#iefix") format("embedded-opentype"), url("segoeuib_0-webfont.woff2") format("woff2"), url("segoeuib_0-webfont.woff") format("woff"), url("segoeuib_0-webfont.ttf") format("truetype"); font-weight: bold; font-style: normal; }
    @font-face { font-family: 'Segoe UI'; src: url("segoeui_0-webfont.eot"); src: url("segoeui_0-webfont.eot?#iefix") format("embedded-opentype"), url("segoeui_0-webfont.woff2") format("woff2"), url("segoeui_0-webfont.woff") format("woff"), url("segoeui_0-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
    body { font: 14px/1 "Segoe UI", Arial, sans-serif; color: #000; background: #fff; }
    p { font-size: 14px; line-height: 22px; }

    #rc-connect, #pop-messages{
        display: none !important;
    }

    .calllback-mobile{
        display: block;
    }


    .wrapper_descktop{
        display: none;
    }

    .wrapper_mobile{
        display: block;
    }


    .counter-list_mob{
        display: block;
        float: none;
        text-align: center;
        margin: 20px 0 0;
    }

    .counter-list_mob li{
        display: inline-block;
        vertical-align: middle;
        border-radius: 10px;
        height: 40px;
        width: 30%;
        max-width: 40px;
        background: #000000;
        color: #ffffff;
        line-height: 40px;
        font-size: 26px;
        position: relative;
        margin-right: 10px;

    }

    .counter-list_mob li:after{
        content: ":";
        display: inline-block;
        vertical-align: middle;
        color: #000000;
        position: absolute;
        right: -11px;
        top: 0;
        font-size: 36px;
        line-height: 36px;
    }

    .counter-list_mob li:last-child:after{
        display: none;
    }




    /*===========================================================
****************** Universal and helper classes *************
============================================================*/
    /*.wrapper { max-width: 640px; margin: 0 auto; overflow: hidden; }*/
    .block_container { max-width: 640px; margin: 0 auto; }
    .wrapper { min-width: 240px; width: 100%; margin: 0 auto; overflow: hidden; }

    .container { margin: 0 auto; }

    /***discount-block****/
    .discount-block { width: 138px; height: 108px; background: url("../img/sprite_m.png") -26px -147px no-repeat; font-weight: bold; color: #fff; text-align: center; padding-top: 35px; padding-left: 5px; }
    .discount-block .discount-number { font-size: 44px; }
    .discount-block p { font-size: 18px; margin-top: 1px; text-transform: uppercase; }

    /* countdown */
    .countdown .time span { display: inline-block; width: 63px; height: 60px; background: url("../img/sprite_m.png") -651px -886px; margin-right: 28px; font-family: arial, sans-serif; font-weight: bold; font-size: 49px; color: #dfdfdf; line-height: 56px; position: relative; }
    .countdown .time span:nth-child(2) { text-indent: -2px; }
    .countdown .time span:after { content: ''; width: 63px; height: 2px; background: #000; position: absolute; left: 0px; top: 29px; z-index: 10; opacity: 0.31; }
    .countdown .time-desc span { display: inline-block; width: 63px; margin-right: 28px; font-size: 12px; margin-top: 7px; }

    .text-xs { display: none; }

    img.img-xs { display: none !important; }

    /*=======================================================
    ********************** BLOCK 1 ************************=
    =======================================================*/
    .block1 { background: url("../img/block1.jpg") 50% 0% no-repeat; height: 582px; padding-top:1px; position: relative; border-bottom: 3px solid #fff; }
    .block1 .garant {font-size: 32px; line-height: 38px; font-weight: bold; text-align: center; color: #000; word-spacing: -4px; width: 350px; margin: 222px auto 0;position: relative;left: -6px;}
    .block1 .discount-block {position: absolute;top: 241px;left: 50%;margin-left: -77px; }
    .block1 .logo-text-block { font-size: 41px; line-height: 48px; font-weight: bold; margin-top: 38px; width: 300px;float: right; margin-right: 57px;}
    .block1 .price-block { text-align: center; color: #2b2828; margin-top: 17px; margin-left: -5px; }
    .block1 .price-block .price-text { font-size: 16px; }
    .block1 .price-block .new-price { font-size: 24px; font-weight: bold; margin-top: 5px; }

    /*=======================================================
    ********************** BLOCK 2 ************************=
    =======================================================*/
    .block2 { background: url("../img/block2.jpg") 50% 0% no-repeat; height: 1103px; }
    .block2-top { padding-top: 13px; }
    .block2-top ul { margin-left: 5.2%; }
    .block2-top li { font-size: 24px; color: #2b2828; padding-left: 49px; background: url("../img/sprite_m.png") -387px -127px; padding-top: 10px; padding-bottom: 18px; }
    .block2-top .list-start { font-size: 32px; font-weight: bold; background-position: -387px -119px; }
    .block2-bottom { padding-top: 25px; }
    .block2 .form-block { margin-left: 37px; }
    .block2 .form-block .row { margin-bottom: 17px; }
    .block2 .form-block .row select, .block2 .form-block .row input { border: 1px solid #8fb4ad; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 1px 1px 4px -2px #8fb4ad; -moz-box-shadow: 1px 1px 4px -2px #8fb4ad; box-shadow: 1px 1px 4px -2px #8fb4ad; }
    .block2 .form-block .row input { width: 281px; padding: 17px 10px 18px 18px; }
    .block2 .form-block .row select { width: 311px; padding: 15px 10px 18px 18px; height: 56px; line-height: 50px; }
    .block2 .form-block .row label { display: block; font-size: 12px; font-weight: bold; margin-bottom: 5px; }
    .block2 .btn-holder { margin-top: 28px; }
    .block2 .btn-holder input { width: 311px; height: 67px; background: url("../img/sprite_m.png") -17px -19px; border: none; outline: none; cursor: pointer; }

    /*=======================================================
    ********************** BLOCK 3 ************************=
    =======================================================*/
    .block3 { padding-top: 38px; }

    .block3 .pluses li { display: block; width: 89.3%; margin: 0 auto; border: 1px solid #77a29c; background: #f1f9f9; margin-bottom: 47px; position: relative; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; }

    .block3 .pluses .text p { font-size: 16px; padding-top: 21px; padding-left: 51px; padding-right: 15px; padding-bottom: 25px; }

    .pluses .icon, .pluses .icon-2 { position: absolute; background: url("../img/sprite_m.png"); }

    .pluses .list-item1 .icon { width: 60px; height: 60px; background-position: -33px -384px; bottom: -24px; right: 30px; }

    .pluses .list-item2 .icon { width: 62px; height: 61px; background-position: -35px -479px; bottom: -15px; right: -14px; }

    .pluses .list-item2 .icon-2 { width: 49px; height: 73px; background-position: -36px -563px; top: -13px; left: -12px; }

    .pluses li.list-item3 { margin-bottom: 54px; }

    .pluses .list-item3 .text p { padding-bottom: 18px; }

    .pluses .list-item3 .icon { width: 59px; height: 59px; background-position: -31px -664px; right: 26px; bottom: -29px; }

    .pluses .list-item4 .icon { width: 50px; height: 80px; background-position: -34px -763px; top: -10px; left: -23px; }

    /*=======================================================
    ********************** BLOCK 4 ************************=
    =======================================================*/
    .block4 { background: url("../img/block4.jpg") 50% 100% no-repeat; min-height: 680px; color: #2b2828; }

    .block4 h2 { font-size: 48px; font-weight: bold; color: #44b2b1; margin-bottom: 18px; margin-left: 17px; }

    .block4-top { min-height: 431px; margin-top: -26px; }

    .block4-top p { margin-left: 19px; font-size: 16px; line-height: 20px; margin-bottom: 15px; }

    .block4-text1 { width: 442px; }

    .block4-text2 { width: 363px; }

    .block4 .specialist { color: #44b2b1; margin-top: 24px; }

    .block4-bottom { height: 292px; }

    .block4-bottom ul { padding-top: 43px; padding-left: 2%; }

    .block4-bottom li { position: relative; padding-left: 113px; margin-bottom: 43px; padding-right: 2.3%; }

    .block4-bottom li:before { content: ''; position: absolute; width: 96px; height: 96px; background: url("../img/sprite_m.png"); left: 2px; }

    .block4-bottom p { font-size: 16px; }

    .block4 .list-item1:before { background-position: -572px -317px; top: -15px; }

    .block4 .list-item2:before { background-position: -570px -435px; top: -12px; }

    /*=======================================================
    ********************** BLOCK 5 ************************=
    =======================================================*/
    .block5 { background: url("../img/block5.jpg") 50% 100% no-repeat; min-height: 941px; padding-bottom: 9px;   background-size: cover; }

    .block5 h2 { font-size: 48px; line-height: 58px; color: #45b2b2; text-align: center; font-weight: bold; padding-top: 16px; margin-bottom: 35px; }

    .block5 img { display: block; margin: 0 auto; }

    .reponses .resp { width: 615px; background: #fff; margin: 0 auto 14px; position: relative; }

    .reponses .resp .resp-head { font-size: 18px; padding-left: 18px; padding-top: 13px; position: absolute; top: 0px; left: 0px; font-family: arial, sans-serif; }

    .resp .resp-text p { padding: 14px 20px 21px 63px; line-height: 20px; }

    .resp2 .resp-text p { padding-right: 70px; }

    .resp3 .resp-text p { padding-right: 65px; }

    /*=======================================================
    ********************** BLOCK 6 ************************=
    =======================================================*/
    .block6 { background: url("../img/block6.jpg") 50% 0% no-repeat; height: 515px; padding-top: 13px; color: #2b2828;   background-size: 100%; }

    .block6 h2 { font-size: 48px; line-height: 58px; font-weight: bold; color: #44b2b1; text-align: center; margin-left: -28px; margin-bottom: 24px; }

    .block6 ul { padding-left: 45px; padding-right: 70px; }

    .block6 li { margin-bottom: 22px; }

    .block6 .list-head { font-size: 20px; font-weight: bold; position: relative; margin-bottom: 17px; }

    .block6 .list-head:before { content: '\2014'; position: absolute; top: 0px; left: -27px; }

    .block6 p { font-size: 16px; line-height: 20px; }

    /*=======================================================
    ********************** BLOCK 7 ************************=
    =======================================================*/
    .block7 { background: url("../img/block7.jpg") 50% 100% no-repeat; min-height: 1174px; position: relative; border-bottom: 3px solid #fff; }

    .block7 .price-block { color: #44b2b1; font-size: 32px; text-align: center; padding-top: 29px; margin-left: 11px; }
    .block7 .price-block .new-price { font-size: 48px; line-height: 48px; font-weight: bold; }

    .block7 .countdown { display: block; text-align: center; margin-top: 33px; margin-left: 27px; }

    .block7-text { font-weight: bold; font-size: 32px; text-align: center; width: 93%; margin: 0 auto; margin-top: 36px; }
    .block7-text h2 { font-size: 48px; line-height: 58px; color: #44b2b1; margin-top: 10px; }

    .block7 .arrow { width: 176px; height: 247px; background: url("../img/sprite_m.png") -39px -887px; position: absolute; top: -282px; left: -25px; }
    .block7 .discount-block { position: absolute; top: -129px; right: -37px; }

    .block7 .form-block { position: absolute; width: 294px; border: 1px solid #fff; bottom: 52px; left: 50%; margin-left: -151px; background: rgba(255, 255, 255, 0.71); padding-bottom: 21px; padding-top: 26px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
    .block7 .form-block .row { margin-bottom: 7px; margin-left: 27px; }
    .block7 .form-block .row select, .block7 .form-block .row input { border: 1px solid #8fb4ad; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 1px 1px 4px -2px #8fb4ad; -moz-box-shadow: 1px 1px 4px -2px #8fb4ad; box-shadow: 1px 1px 4px -2px #8fb4ad; }
    .block7 .form-block .row input { width: 215px; padding: 13px 8px 12px 13px; }
    .block7 .form-block .row select { width: 238px; padding: 10px 5px 13px 7px; height: 46px; line-height: 40px; }
    .block7 .form-block .row label { display: block; font-size: 12px; font-weight: bold; margin-bottom: 5px; }

    .block7 .btn-holder { margin: 18px 0 15px 27px; }

    .block7 .btn-holder input { width: 237px; height: 52px; background: url("../img/sprite_m.png") -381px -27px; border: none; outline: none; cursor: pointer; }

    .block7 .form-text { font-size: 17px; font-weight: bold; color: #2b2828; text-align: center; text-transform: uppercase; margin-left: -6px; }

    /*=======================================================
    ********************** BLOCK 8 ************************=
    =======================================================*/
    .block8 {   background: #6AD0DF; height: 283px; }

    .block8 h2 { font-size: 32px; font-weight: bold; color: #fff; text-align: center; padding-top: 20px; }

    .how-we-work { width: 593px; margin: 22px auto 0; position: relative; }

    .how { width: 155px; height: 155px; background: url("../img/sprite_m.png") -365px -1014px; text-align: center; position: absolute; }

    .how-icon { display: inline-block; background: url("../img/sprite_m.png"); }

    .how-text { width: 130px; line-height: 18px; margin: 0 auto; }

    .how-work1 { top: 0px; left: 0px; z-index: 10; }

    .how-work1 .how-icon { width: 51px; height: 51px; background-position: -332px -389px; margin-top: 28px; margin-bottom: 7px; }

    .how-work2 { top: 0px; left: 144px; z-index: 20; }

    .how-work2 .how-icon { width: 58px; height: 58px; background-position: -328px -465px; margin-top: 20px; margin-bottom: 5px; }

    .how-work3 { top: 0px; left: 290px; z-index: 30; }

    .how-work3 .how-icon { width: 51px; height: 51px; background-position: -337px -560px; margin-top: 27px; margin-bottom: 9px; }

    .how-work4 { top: 0px; left: 437px; z-index: 40; }

    .how-work4 .how-icon { width: 49px; height: 50px; background-position: -344px -643px; margin-top: 27px; margin-bottom: 4px; }

    .how-work-repeat { width: 41px; height: 42px; background: url("../img/sprite_m.png") -698px -1073px; position: absolute; top: 134px; left: 50%; margin-left: -20px; }

}

/***************================
******* media width<615 **********
==============******************/
@media screen and (max-width: 614px) { .text-md { display: none; }
    .text-xs { display: block; }
    img.img-md { display: none; }
    img.img-xs { display: block !important; }
    .block_container { max-width: 320px; }
    /**************** ***block1******/
    .block1 { background: url("../img/block1-sm.jpg") 50% 0%; height: 613px; padding-top: 1px; border-bottom: 2px solid #fff; }
    .block1 .discount-block { top: auto; bottom: -38px; margin-left: -62px; width: 95px; height: 75px; background-position: -220px -170px; padding-top: 25px; padding-left: 5px; }
    .block1 .discount-block .discount-number { font-size: 31px; }
    .block1 .discount-block p { font-size: 13px; margin-top: -2px; }
    .block1 .logo-text-block { float: none;width: auto;text-align: center;margin-right: 0;margin-top: 137px;}
    .logo-text-block .logo-text1 { margin-left: 0; }
    .logo-text-block .logo-text2 { margin-left: 0; }
    .logo-text-block .logo-text3 { margin-left: 0; }
    .block1 .price-block { margin-top: 9px; }
    /**************** ***block2******/
    .block2 { background: url("../img/block2-sm.jpg") 50% 0%; height: 1086px; }
    .block2-top { padding-top: 39px; }
    .block2-top ul { margin-left: 2%; }
    .block2-top li { font-size: 16px; line-height: 18px; padding-left: 36px; padding-bottom: 14px; background-position: -391px -211px; }
    .block2-top .list-start { font-size: 24px; line-height: 28px; background-position: -391px -204px; }
    .block2-bottom { padding-top: 12px; }
    .block2 .form-block { margin-left: 7px; }
    .block2 .form-block .row select { width: 303px; }
    .block2 .form-block .row input { width: 273px; }
    .block2 .btn-holder input { width: 301px; height: 67px; background-position: -656px -21px; }
    /**************** ***block3******/
    .block3 { padding-top: 20px; }
    .block3 .pluses li { width: 93%; margin-bottom: 21px; }
    .block3 .pluses .text p { padding: 11px 15px 20px 13px; }
    .pluses li.list-item3 { margin-bottom: 28px; }
    .pluses .list-item1 .icon { width: 45px; height: 45px; background-position: -126px -392px; bottom: -6px; right: -5px; }
    .pluses .list-item2 .icon { width: 54px; height: 53px; background-position: -126px -482px; bottom: -3px; right: -2px; }
    .pluses .list-item2 .icon-2 { width: 43px; height: 64px; background-position: -132px -568px; top: -6px; left: auto; right: -3px; }
    .pluses .list-item3 .icon { width: 47px; height: 47px; background-position: -132px -668px; right: -2px; bottom: -15px; }
    .pluses .list-item4 .icon { width: 50px; height: 80px; background-position: -132px -762px; top: auto; left: auto; bottom: -17px; right: -8px; }
    .pluses .list-item4 .text p { padding-right: 34px; }
    /**************** ***block4******/
    .block4 { background: url("../img/block4-sm.jpg") 50% 100% no-repeat; min-height: 947px; }
    .block4-top { min-height: 523px; margin-top: 0px; padding-top: 16px; padding-bottom: 10px; }
    .block4 h2 { font-size: 32px; line-height: 38px; margin-left: 0; text-align: center; margin-bottom: 11px; }
    .block4-top p { margin: 0 8px 11px; }
    .block4 .specialist { margin-top: 0; }
    .block4-text1 { width: auto; }
    .block4-text2 { width: auto; }
    .block4-bottom { height: 421px; }
    .block4-bottom ul { padding-top: 22px; }
    .block4-bottom li { padding-left: 75px; margin-bottom: 16px; }
    .block4-bottom li:before { width: 65px; height: 64px; }
    .block4 .list-item1:before { background-position: -588px -578px; top: -1px; }
    .block4 .list-item2:before { background-position: -591px -671px; top: -4px; }
    /**************** ***block5******/
    .block5 { background: url("../img/block5-sm.jpg") 50% 100% no-repeat;   background-size: cover; min-height: 1006px; padding-bottom: 6px; border-bottom: 1px solid #fff; }
    .block5 h2 { font-size: 24px; line-height: 29px; padding-top: 21px; margin-bottom: 15px; }
    .reponses .resp .resp-head { padding-left: 21px; }
    .reponses .resp { width: 302px; margin: 0 auto 11px; }
    .resp .resp-text p { padding: 8px 25px 19px 67px; }
    .resp2 .resp-text p { padding-right: 26px; }
    /**************** ***block6******/
    .block6 { background: url("../img/block6-sm.jpg") 50% 0%;   background-size: 100%; height: 640px; padding-top: 9px; }
    .block6 h2 { font-size: 24px; margin-bottom: -1px; }
    .block6 ul { padding-left: 37px; padding-right: 15px; }
    .block6 .list-head { line-height: 21px; margin-bottom: 7px; }
    /**************** ***block7******/
    .block7 { background: url("../img/block7-sm.jpg") 50% 100% no-repeat; min-height: 884px; }
    .block7 .price-block { font-size: 24px; padding-top: 33px; }
    .block7 .price-block .new-price { font-size: 32px; margin-top: 8px; }
    .block7 .countdown { margin-top: 23px; margin-left: -1px; }
    .countdown .time span, .countdown .time-desc span { margin-right: 17px; }
    .countdown .time-desc span { margin-top: 2px; }
    .countdown .last { margin-right: 0 !important; }
    .block7-text { font-size: 24px; margin-top: 7px; }
    .block7-text h2 { font-size: 24px; line-height: 29px; margin-top: 15px; }
    .block7 .arrow { width: 124px; height: 175px; background-position: -49px -1204px; top: -195px; left: 15px; }
    .block7 .discount-block { top: -129px; right: -11px; }
    .block7 .form-block { bottom: 13px; }
    /**************** ***block8******/
    .block8 { height: 454px; }
    .block8 h2 { font-size: 24px; color: #000; padding-top: 27px; }
    .how-we-work { margin-top: 24px; width: auto; }
    .how-work1 { left: 2px; }
    .how-work2 { left: auto; right: 2px; }
    .how-work3 { top: 162px; left: auto; right: 2px; }
    .how-work4 { top: 162px; left: 2px; }
}

@media screen and (max-width: 319px) {
    .logo-text1,
    .logo-text2,
    .logo-text3{
        font-size: 28px;
        line-height: 32px;
    }

    .block2-top ul {
        margin-right: 2%;
    }

    .block4 h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .reponses .resp {
        width: 234px;
    }

    .reponses .resp img{
        max-width: 100%;
    }

    .block4 {
        background: none;
    }

    .block4-bottom {
        height: auto;
        background: url("../img/block4-sm.jpg") 50% 100% no-repeat;
        background-size: cover;
        padding-bottom: 35px;
    }

    img.img-xs {
        padding-top: 22px;
    }

    .block8 {
        background: #ffffff;
    }

    .how{
        background: none;
        width: 120px;
        height: 120px;
    }

    .how-text {
         width: 130px;
    }

    .block6 {
        height: auto;
        padding-bottom: 10px;
    }

    .block2 .form-block .row select,
    .block7 .form-block .row select {
        width: 100%;
    }

    .block2 .form-block .row input,
    .block7 .form-block .row input {
        width: 100%;
        box-sizing: border-box;
    }

    .block2 .form-block {
        margin-left: 0;
    }

    .block2 .form-block .row {
        margin:0 10px 17px;
    }

    .block7 .form-block {
        left: 0;
        margin-left: 0;
        width: 100%;
    }

    .block7 .form-block .row {
        margin: 0 10px 7px;
    }
    .block6 h2 {
         margin-left: 0;
    }

    .block7 .price-block {
        margin-left: 0;
    }

    .block7 .btn-holder {
        margin: 18px 0 15px 0;
        text-align: center;
    }

    .block2 .btn-holder input {
        width: 237px;
        height: 52px;
        background: url("../img/sprite_m.png") -381px -27px;
    }

    .block2 .btn-holder {
        text-align: center;
    }

    .pluses .icon, .pluses .icon-2 {
        opacity: 0.3;
    }


}



.fix-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 50px;
    z-index: 300;
    background: rgba(13, 16, 25, 0.90);
    font-family: 'Segoe UI';
}

.fix-menu-wrap{
    max-width: 980px;
    min-width: 240px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    /*height: 100px;*/
    padding: 3px 0;
}


.fix-menu-wrap:before,
.fix-menu-wrap:after{
    content: "";
    width: 1%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.fix-menu-wrap .count-div{
    width: 30%;
    padding-left: 0;
    padding-right: 0;
}

.fix-menu-wrap .count-text{
    margin: 0;
}

.fix_i_b{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.fix_i_b-left{
    width: 24%;
    text-align: left;
}

.fix_i_b-center{
    width: 50%;
    text-align: center;
}

.fix_i_b-right{
    width: 24%;
    text-align: right;
}

.fix-order-btn{
    width: 90%;
    display: inline-block;
    height: 50px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 50px;

    background: #f73131; /* Old browsers */
    background: -moz-linear-gradient(top,  #f73131 0%, #a72725 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f73131), color-stop(100%,#a72725)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f73131 0%,#a72725 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f73131 0%,#a72725 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f73131 0%,#a72725 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f73131 0%,#a72725 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73131', endColorstr='#a72725',GradientType=0 ); /* IE6-9 */


}

.fix-order-btn:hover{
    background: #a72725; /* Old browsers */
    background: -moz-linear-gradient(top,  #a72725 0%, #f73131 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a72725), color-stop(99%,#f73131)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a72725 0%,#f73131 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a72725 0%,#f73131 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a72725 0%,#f73131 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #a72725 0%,#f73131 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a72725', endColorstr='#f73131',GradientType=0 ); /* IE6-9 */

}

.variant_text1{
    font-size: 22px;
    color: #ffffff;
}

.text_variant_wrap{
    display: block;
}

.text_variant_wrap_mob{
    display: none;
}

.fix-menu-wrap .count-div{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    font-size: 30px;
}




@media only screen and  (max-width: 767px) {
    .fix-menu-wrap .count-div{
        padding: 3px 0;
        font-size: 18px;
    }

    .fix-menu-wrap .count-text{
        display: none;
    }

    .fix-order-btn {
        height: 38px;
        line-height: 38px;
        font-size: 20px;
    }

    .fix-menu-wrap:before,
    .fix-menu-wrap:after{
        display: none;
    }

    .fix_i_b{
        display: inline-block;
        width: 48%;
        text-align: center;
    }

    .fix_i_b-center{
        display: none;
    }

    .fix_i_b-left{
        text-align: right;
        padding-right: 2%;
    }

    .fix_i_b-right{
        text-align: left;
        padding-left: 2%;
    }

    .fix-order-btn {
        width: 180px;
    }

    .counter {
        text-align: right;
    }

    .fix-menu-wrap .count-div{
        width: 30%;
        max-width: 50px;
        height: 38px;
        line-height: 38px;
        padding: 0;
    }

    .text_variant_wrap_mob{
        display: block;
        text-align: center;
        font-size: 16px;
    }

    .text_variant_wrap_mob .variant_text1{
        font-size: 16px;
    }

    .channels {
        font-size: 0;
    }
}

@media only screen and  (max-width: 500px) {
    .variant_text1{
        font-size: 12px;
    }

    .fix-order-btn {
        height: 26px;
        line-height: 26px;
        font-size: 18px;
    }

    .fix_i_b{
        display: block;
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    .counter {
        text-align: center;
    }

    .text_variant_wrap_mob{
        display: none;
    }

    .fix-menu-wrap .count-div{
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
    }
}

#pop-messages{position: fixed;bottom: 0;left: 0;z-index: 1000;}
#pop-messages li {display: none;width: 200px;background: black;background: rgba(0, 0, 0, 0.8);font: 16px/20px arial, sans-serif;color: #fff;border: 1px solid #fff;box-shadow: 0 0 5px -1px #000;padding: 15px 20px 15px;text-align: center;margin-bottom: 5px;}
.close-msg{height:16px;width:16px;border:1px solid #fff;cursor:pointer;position:absolute;top:0;right:0;background:url(../img/close-msg.png) 1px 1px no-repeat;}
#pop-messages li span{display:none;}
#pop-messages li span.show{display:block;}


body{
    font: 16px/19px 'segoeui', Arial, Helvetica, sans-serif;
    height: 100%;
    color: #110f0e;
    background: #fff;
    min-width: 240px;
    margin: 0;
    padding: 0;
}
.max-wrap{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 3%;
}
/*icons*/
[class*="icon-"]{
    background: url(../img/sprite-icons.png) no-repeat;
    display: inline-block;
    vertical-align: top;
}
.icon-phone-dark{
    background-position: 0 0;
    width: 19px;
    height: 19px;
}
.icon-mail{
    background-position: 0 -39px;
    width: 19px;
    height: 13px;
}
.icon-next-step{
    background-position: 0 -72px;
    width: 61px;
    height: 13px;
}
.icon-next-step-alt{
    background-position: 0 -105px;
    width: 18px;
    height: 61px;
}
.icon-next-step-640{
    background-position: 0 -186px;
    width: 61px;
    height: 13px;
}
.icon-back-top{
    background-position: 0 -219px;
    width: 33px;
    height: 18px;
}
[class*="icon-step-"]{
    background: url(../img/sprite-steps.png) no-repeat;
    display: inline-block;
    vertical-align: top;
}
.icon-step-01{
    background-position: 0 0;
    width: 36px;
    height: 36px;
}
.icon-step-02{
    background-position: 0 -56px;
    width: 41px;
    height: 41px;
}
.icon-step-03{
    background-position: 0 -117px;
    width: 37px;
    height: 37px;
}
.icon-step-04{
    background-position: 0 -174px;
    width: 37px;
    height: 38px;
}
/*icons end*/

/*delivery-post*/
.delivery-post{
    min-height: 60px;
    padding: 10px;
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #000;
    background: #f8f4f0;
    text-align: center;
}
.delivery-post .deliver-holder{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: 55px;
    margin: 0 10px 0 0;
}
.delivery-post .deliver-holder:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    background: #e1e1e1;
}
.delivery-post .deliver-holder a{
    text-decoration: none;
}
.delivery-post .post-country{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite-post.png) no-repeat;
    margin-right: 6px;
}
.delivery-post .deliver-holder:after{
    content: '';
    display: inline-block;
    display: -moz-inline-stack;
    height: 100%;
    vertical-align: middle;
}
.delivery-post#BLR-post-img .post-country{
    background-position: 0 -132px;
    width: 138px;
    height: 50px;
}
.delivery-post#RUS-post-img .post-country{
    background-position: 0 -202px;
    width: 113px;
    height: 55px;
}
.delivery-post#KAZ-post-img .post-country{
    background-position: 0 -277px;
    width: 186px;
    height: 23px;
}
.delivery-post#KGZ-post-img .post-country{
    background-position: 0 -320px;
    width: 182px;
    height: 42px;
}
.delivery-post .delivery-label{
    vertical-align: middle;
    margin: 0 11px 0 0;
    font-size: 22px;
    line-height: 26px;
}
.delivery-post#BLR-post-img .delivery-label,
.delivery-post#RUS-post-img .delivery-label,
.delivery-post#KAZ-post-img .delivery-label{
    display: inline-block;
}
.delivery-note{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}
.delivery-note > span{
    /*display: block;*/
    padding: 0 0 0 18px;
    position: relative;
}
.delivery-note > span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 11px;
    height: 13px;
    background: url(../img/sprite-post.png) no-repeat;
}
/*delivery-post end*/

/*works*/
.works{
    background-color: #000;
    padding: 31px 10px 20px;
    color: #fff;
}
/*steps*/
.steps{
    padding: 0 0 20px 35px;
    overflow: hidden;
}
.steps-label{
    float: left;
    font: bold 20px/22px Arial, Helvetica, sans-serif;
    padding: 5px 27px 0 0;
    max-width: 230px;
}
/*step list*/
.steps-wrap{
    overflow: hidden;
    padding: 0 0 20px;
}
.steps-list{
    padding: 0;
    list-style: none;
    font-size: 0;
    letter-spacing: -4px;
    margin: 0 -12px 0 0;
}
.steps-list li{
    width: 25.0%;
    font-size: 16px;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.steps-list li:after{
    content: '';
    position: absolute;
    right: 100%;
    top: 100%;
    background: url(../img/sprite-icons.png) no-repeat 0 -72px;
    width: 61px;
    height: 13px;
    margin: -1px 15px 0 0;
}
.steps-list li:first-child:after{
    content: none;
    display: none;
}
.step-item{
    font: 12px/14px Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.steps-list li .step-item{
    padding: 0 30px 0 0;
}
.step-img{
    margin: 0 10px 0 0;
    /*float: left;*/
}
.step-description{
    padding: 2px 0 0;
    display: block;
    overflow: hidden;
}
/*step list end*/
/*steps end*/

/*call*/
.call{
    text-align: center;
    font: bold 20px/22px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0 0 9px;
}
.call > span{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.call .call-title:before{
    content: '';
    display: inline-block;
    vertical-align: top;
    margin: 3px 13px 0 -17px;
    height: 17px;
    width: 17px;
    background-color: #05a210;
    border-radius: 50%;
}
/*call end*/
/*works end*/

/* footer */
.t-footer{
    font-size: 12px;
    line-height: 18px;
    padding: 0;
}
/* footer holder */
.footer-holder{
    padding: 23px 0;
}
.footer-section{
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #505050;
    overflow: hidden;
    padding: 9px 0 6px;
    border-top: 2px solid #ececec;
    position: relative;
}
.footer-section:first-child{
    border-top: none;
}
.footer-left{
    width: 59%;
    float: left;
}
.footer-section:first-child .footer-left{
    width: 88.7%;
}
.footer-right{
    float: right;
    width: 33%;
    margin-left: 12.4%;
}
.footer-section:first-child .footer-right{
    width: 55.4%;
    margin-left: 3.4%;
}
.footer-bottom{
    overflow: hidden;
    padding-left: 5px;
    text-align: right;
}
.t-footer address{
    font-style: normal;
    overflow: hidden;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}
.politic *{
    display: inline;
}
/*contact list*/
.contacts-list{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 50%;
}
.contacts-list li{
    padding: 0 5px 9px 28px;
    position: relative;
}
.contacts-list li.call-title{
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    padding: 0 0 4px;
}
.ordinfo-text{
    width: 50%;
    float: right;
    font: bold 14px/16px 'arial', sans-serif;
    padding: 0 0 20px;
}
.contacts-list li [class*="icon-"]{
    left: 1px;
    position: absolute;
    top: 2px;
}
.contacts-list li .icon-mail{
    left: 1px;
    top: 5px;
}
.contacts-phone{
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}
.footer-section dl{
    margin: 0;
    padding: 0;
}
.footer-section dt{
    padding: 0 0 5px 0;
    margin: 0;
    display: inline;
}
.footer-section dd{
    margin: 0;
    padding: 0 0 5px;
    display: inline;
}
/*contact list end*/

/*back to top*/
.back-to-top{
    position: absolute;
    right: 1px;
    top: 10px;
    text-decoration: none;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #dadada;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    backface-visibility: hidden;
}
.back-to-top i{
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -16px;
}
.back-to-top .text-inner{
    display: block;
    color: #505050;
    font: 12px/14px Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 31px 0 0;
}
.back-to-top:hover{
    border-color: #505050;
    background: #eee;
}
/*back to top end*/
/* footer holder end */
/* footer end */

@media only screen and (max-width: 979px){
    /*delivery-post*/
    .delivery-post{
        text-align: center;
        padding: 10px;
    }
    .delivery-post .deliver-holder{
        padding: 0 0 15px;
        margin: 0 0 8px;
        border-bottom: 3px solid #e1e1e1;
        height: auto;
    }
    .delivery-post .deliver-holder:after{
        content: '';
        display: none;
    }
    .deliver-holder:after{
        content: none;
        display: none;
    }
    .delivery-post .delivery-label{
        margin: 0;
    }
    .delivery-note{
        display: inline-block;
        vertical-align: top;
        text-align: center;
        padding: 0 18px;
    }
    .delivery-note > span{
        text-align: left;
    }
    /*delivery-post end*/
    /*works*/
    .works{
        padding: 22px 10px 23px;
    }
    /*steps*/
    .steps{
        padding: 0 29px 12px;
    }
    .steps-label{
        display: block;
        text-align: center;
        float: none;
        padding: 0 0 37px;
        max-width: none;
    }
    /*step list*/
    .steps-wrap{
        overflow: visible;
        padding: 20px 0;
    }
    .steps-list{
        margin: 0;
    }
    .steps-list li:after{
        top: auto;
        bottom: 100%;
        background: url(../img/sprite-icons.png) no-repeat 0 -186px;
        margin: 0 -31px 4px 0;
    }
    .step-item{
        text-align: center;
    }
    .steps-list li .step-item{
        padding: 0 20px 0;
    }
    .step-img{
        margin: 0 0 10px;
        float: none;
        text-align: center;
        min-height: 47px;
    }
    /*step list end*/
    /*steps end*/
    /*call*/
    .call{
        font-size: 19px;
        line-height: 24px;
        padding: 0 100px;
    }
    /*call end*/
    /*works end*/
    /* footer */
    .footer-holder{
        padding: 16px 19px 32px;
    }
    .footer-section{
        padding: 11px 0 16px;
    }
    .footer-left{
        width: 65.0%;
    }
    .footer-right,
    .footer-section:first-child .footer-right{
        float: none;
        width: auto;
        margin-left: 0;
    }
    .contacts-list{
        float: none;
        padding: 0 0 4px;
        width: 100%;
    }
    .ordinfo-text{
        float: none;
        width: 100%;
    }
    .contacts-list li{
        padding: 0 5px 9px 30px;
    }
    .back-to-top{
        top: 12px;
    }
    .copyright{
        display: block;
        padding: 28px 0 0;
    }
    /* footer end */
}
@media only screen and (max-width: 639px){
    /*delivery*/
    .delivery-post{
        text-align: center;
        padding: 10px;
    }
    .delivery-post .deliver-holder{
        padding: 0 0 18px;
        margin: 0 0 8px;
    }
    .delivery-post .delivery-label{
        margin: 0;
    }
    .delivery-note{
        margin: 1px 12px 0;
    }
    /*delivery end*/
    /*works*/
    .works{
        padding: 23px 10px 16px;
    }
    /*steps*/
    .steps{
        padding: 0 0 7px;
    }
    .steps-label{
        padding: 0 0 20px;
    }
    /*step list*/
    .steps-wrap{
        padding: 0 30px;
        width: 158px;
        margin: 0 auto;
    }
    .steps-list{
        margin: 0;
    }
    .steps-list li{
        display: block;
        width: auto;
        padding: 0 0 23px;
    }
    .steps-list li:after{
        top: auto;
        right: -12px;
        bottom: 100%;
        background: url(../img/sprite-icons.png) no-repeat 0 -105px;
        height: 61px;
        width: 18px;
        margin: 0 0 -14px;
    }
    .steps-list li:nth-child(odd):after{
        right: auto;
        left: -33px;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        margin: 0 0 -14px;
    }
    .step-item{
        text-align: left;
    }
    .steps-list li .step-item{
        padding: 0;
    }
    .step-img{
        margin: 0 15px 0 0;
        float: left;
        min-height: 0;
        text-align: left;
    }
    .step-description{
        padding: 6px 10px 0 0;
    }
    /*step list end*/
    /*steps end*/
    /*call*/
    .call{
        font-size: 14px;
        line-height: 30px;
        font-weight: normal;
        padding: 0;
    }
    .call .call-title{
        display: inline;
        font-size: 20px;
        line-height: 27px;
        font-weight: bold;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .call .call-title{
        display: block;
    }
    /*call end*/
    /*works end*/
    /* footer */
    .footer-holder{
        padding: 13px 14px 16px;
    }
    .footer-section{
        padding: 15px 0 14px;
    }
    .footer-left{
        width: auto;
        float: none;
    }
    .footer-right{
        float: none;
        width: auto;
        margin-left: 0;
    }
    .contacts-list{
        width: auto;
        padding: 0 38px 4px 0;
    }
    .contacts-list li{
        padding: 0 5px 9px 30px;
    }
    .footer-section dl{
        display: block;
        text-align: left;
    }
    .footer-bottom{
        padding: 20px 0 0;
    }
    .copyright{
        display: block;
        padding: 19px 0 0;
    }
    /* footer end */
}
@media only screen and (max-width: 319px){
    .call {
        font-size: 14px;
        line-height: 18px;
    }
    .footer-holder {
        padding: 13px 3% 16px;
    }
    .footer-section:first-child .footer-left {
        width: auto;
    }
    .contacts-list {
        padding: 0 0 4px;
        width: auto;
    }
    .contacts-phone {
        font-size: 18px;
    }
    .footer-section {
        padding: 15px 0 65px;
    }
    .t-footer address {
        font-size: 12px;
        line-height: 16px;
    }
    .back-to-top {
        bottom: 7px;
        top: auto;
    }
}



/*delivery-post*/
.delivery-post{
    padding: 10px;
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #fff;
    background: #6AD0DF;
    text-align: center;
    margin: 20px 0;
}
.delivery-post,
.delivery-post *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.delivery-post .deliver-holder{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 1% 0 0;
    max-width: 68%;
    /*border-right: 3px solid #e1e1e1;*/
}
.post-country,
.post-country-alt{
    vertical-align: middle;
    background: url(../img/sprite-post.png) no-repeat;
    margin: 3px 10px;
    display: none;
}
#BLR-post-img .post-country{
    display: inline-block;
    background-position: 0 -132px;
    width: 138px;
    height: 50px;
}
#RUS-post-img .post-country{
    display: inline-block;
    background-position: 0 -202px;
    width: 113px;
    height: 55px;
}
#RUS-post-img .post-country-alt{
    display: inline-block;
    background-position: 0 -502px;
    width: 170px;
    height: 55px;
}
#KAZ-post-img .post-country{
    display: inline-block;
    background-position: 0 -277px;
    background-color: #fff;
    width: 186px;
    height: 23px;
}
#KGZ-post-img .post-country{
    display: inline-block;
    background-position: 0 -320px;
    width: 182px;
    height: 42px;
}
#UKR-post-img .post-country{
    display: inline-block;
    background-position: 0 -382px;
    width: 186px;
    height: 37px;
}
#LVA-post-img .post-country,
#LTU-post-img .post-country{
    display: inline-block;
    background-position: 0 -439px;
    width: 186px;
    height: 43px;
}
.delivery-post .delivery-label{
    display: inline-block;
    vertical-align: middle;
    padding: 0 11px;
    font-size: 18px;
    line-height: 22px;
}
.delivery-post#BLR-post-img .delivery-label,
.delivery-post#RUS-post-img .delivery-label,
.delivery-post#KAZ-post-img .delivery-label,
.delivery-post#KGZ-post-img .delivery-label,
.delivery-post#UKR-post-img .delivery-label,
.delivery-post#LVA-post-img .delivery-label,
.delivery-post#LTU-post-img .delivery-label{
    display: inline-block;
    max-width: 42%;
}
.delivery-note{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-width: 28%;
}
.delivery-note > span{
    display: block;
    padding: 0 0 0 18px;
    position: relative;
}
.delivery-note > span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 11px;
    height: 13px;
    background: url(../img/sprite-post.png) no-repeat;
}
.color-scheme-black .delivery-note > span:before{
    background-position: 0 -33px;
}
.color-scheme-white .delivery-note > span:before{
    background-position: 0 -66px;
}
.color-scheme-blue .delivery-note > span:before{
    background-position: 0 -99px;
}
/*delivery-post end*/

.order_form_one{
    margin-bottom: 25px;
}

@media only screen and (max-width: 979px){
    .delivery-post{
        margin: 0 10px 20px;
    }
    /*delivery-post*/
    .delivery-post .deliver-holder{
        padding: 0 0 10px;
        margin: 0 0 8px;
        border: none;
        border-bottom: 1px solid #e1e1e1;
        display: block;
        max-width: none;
    }
    .post-country,
    .post-country-alt{
        margin: 3px 10px 8px;
    }
    .delivery-post .delivery-label{
        margin: 0;
    }
    .delivery-post#BLR-post-img .delivery-label,
    .delivery-post#RUS-post-img .delivery-label,
    .delivery-post#KAZ-post-img .delivery-label,
    .delivery-post#KGZ-post-img .delivery-label,
    .delivery-post#UKR-post-img .delivery-label,
    .delivery-post#LVA-post-img .delivery-label,
    .delivery-post#LTU-post-img .delivery-label{
        max-width: none;
    }
    .delivery-note{
        display: block;
        text-align: center;
        max-width: none;
    }
    .delivery-note > span{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        text-align: center;
    }
    .delivery-note > span:before {
        content: '';
        position: relative;
        left: auto;
        top: auto;
        display: inline-block;
        vertical-align: top;
        width: 11px;
        height: 13px;
        margin: 1px 5px 0 0;
    }
    /*delivery-post end*/
}
@media only screen and (max-width: 639px){
    /*delivery*/
    .delivery-post{
        text-align: center;
        padding: 10px 20px;
    }
    .delivery-post .deliver-holder{
        padding: 0 0 10px;
        margin: 0 0 8px;
    }
    .delivery-post .delivery-label{
        padding: 0;
    }
    .delivery-note{
        margin: 1px 12px 0;
    }
    /*delivery end*/
}
/*style for width devices 240px*/
@media only screen and (max-width: 319px){
    .call { font-size: 14px; line-height: 18px; }
    .footer-holder { padding: 13px 3% 16px; }
    .footer-section:first-child .footer-left { width: auto; text-align: center; }
    .footer-right{ text-align: center; }
    .contacts-list { padding: 0 0 4px; width: auto; display: inline-block; text-align: left; }
    .contacts-phone { font-size: 18px; }
    .footer-section:first-child { padding: 15px 0 75px; }
    .footer-section:last-child { text-align: center; }
    .t-footer address { font-size: 12px; line-height: 16px; }
    .back-to-top { bottom: 7px; top: auto; right: 50%; margin-right: -31px; }
    .footer-bottom, .footer-bottom dl{ text-align: center; }
}
/*style for width devices 240px END*/

.post-section{
    background: #6AD0DF;
}