#u726
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u1349-2
{
	font-size: 12px;
	line-height: 14px;
	color: #D6D5D5;
}

#u727-6
{
	line-height: 29px;
	position: relative;
}

#u727-2
{
	color: #E2E2E2;
}

#u711
{
	border-color: #000000;
	background: #000000 url("../img/top-bg.jpg") no-repeat center center;
}

#u713
{
	border-color: #000000;
	position: relative;
	background: transparent url("../img/trans.png") repeat left top;
}

#u716
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
}

#u712
{
	border-color: #000000;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	background: transparent url("../img/trans.png") repeat left top;
}

#u718-17
{
	line-height: 38px;
	position: relative;
}

#u1389,#u1394,#u1398,#u1402,#u1406
{
	float: left;
}

#u719-8
{
	line-height: 72px;
	position: relative;
}

#u720
{
	background-color: transparent;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	position: relative;
}

#u720:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u724-17
{
	text-align: center;
	position: relative;
}

#u725-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #EDEDED;
	text-align: center;
	font-weight: bold;
	position: relative;
	background: transparent url("../img/trans.png") repeat left top;
}

#u725-4:hover
{
	background-image: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u725-4:hover p
{
	padding-top: 179px;
	font-size: 14px;
	font-weight: normal;
}

#u725-2
{
	padding-top: 179px;
}

#u157
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u726_align_to_page,#u1356,#u1349-4,#u730,#u1350,#u732,#u711_align_to_page,#u714,#u722,#u1168
{
	position: relative;
}

#u1170-8
{
	font-size: 20px;
	text-align: center;
	position: relative;
}

#u1170-2
{
	line-height: 27px;
}

#u1170-5,#u1170-6
{
	line-height: 40px;
}

#u1171-4
{
	background: -webkit-gradient(linear, center top, center bottom, from(#323232),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#323232 ,#000000 100%);
	background: -o-linear-gradient(top,#323232 ,#000000 100%);
	background: linear-gradient(to bottom,#323232 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF323232, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF323232', endColorstr='#FF000000', GradientType=0)";
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
}
