

html { min-height: 100%; min-width: 100%; }
body, div, dl, dt, dd, ul, ol, li, nav, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, a { margin: 0px; padding: 0px; border-width: 0px; transform-origin: left top 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; transform-origin: left top 0px; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: inherit; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
body { font-family: Arial,Helvetica Neue,Helvetica,sans-serif; text-align: left; font-size: 14px; line-height: 17px; word-wrap: break-word; text-rendering: optimizelegibility; }
@media not all {
	body { text-rendering: auto; }
}
a:link { color: rgb(0, 0, 255); text-decoration: underline; }
a:visited { color: rgb(128, 0, 128); text-decoration: underline; }
a:hover { color: rgb(0, 0, 255); text-decoration: underline; }
a:active { color: rgb(238, 0, 0); text-decoration: underline; }
a.nontext { color: black; text-decoration: none; font-style: normal; font-weight: normal; }
.ts--------------1 { color: rgb(41, 171, 226); font-family: open-sans,sans-serif; font-weight: 300; }
.list0 li::before { position: absolute; right: 100%; letter-spacing: 0px; text-decoration: none; font-weight: normal; font-style: normal; }
.rtl-list li::before { right: auto; left: 100%; }
.nls-None > li::before, .nls-None .list3 > li::before, .nls-None .list6 > li::before { margin-right: 6px; content: "•"; }
.nls-None .list1 > li::before, .nls-None .list4 > li::before, .nls-None .list7 > li::before { margin-right: 6px; content: "○"; }
.nls-None, .nls-None .list1, .nls-None .list2, .nls-None .list3, .nls-None .list4, .nls-None .list5, .nls-None .list6, .nls-None .list7, .nls-None .list8 { padding-left: 34px; }
.nls-None .list2 > li::before, .nls-None .list5 > li::before, .nls-None .list8 > li::before { margin-right: 6px; content: "-"; }
.nls-None.rtl-list > li::before, .nls-None .list1.rtl-list > li::before, .nls-None .list2.rtl-list > li::before, .nls-None .list3.rtl-list > li::before, .nls-None .list4.rtl-list > li::before, .nls-None .list5.rtl-list > li::before, .nls-None .list6.rtl-list > li::before, .nls-None .list7.rtl-list > li::before, .nls-None .list8.rtl-list > li::before { margin-right: 0px; margin-left: 6px; }
.NoWrap { white-space: nowrap; word-wrap: normal; }
.colelem { display: inline; float: left; clear: both; }
.grpelem { display: inline; float: left; }
.clearfix::after { content: " "; visibility: hidden; display: block; height: 0px; clear: both; }
:first-child + html .clearfix {  }
.popup_anchor { position: relative; width: 0px; height: 0px; }
.popup_element { z-index: 100000; }
.position_content, .excludeFromNormalFlow { float: left; }
.preload_images { position: absolute; overflow: hidden; left: -9999px; top: -9999px; height: 1px; width: 1px; }
input:focus, textarea:focus { outline: medium none; }
textarea { resize: none; overflow: auto; }
.anchor_item { width: 22px; height: 18px; }
.MenuBar .SubMenuVisible, .MenuBarVertical .SubMenuVisible, .MenuBar .SubMenu .SubMenuVisible, .popup_element.Active, span.actAsPara, .actAsDiv, a.nonblock.nontext, img.block { display: block; }
.browser_width > * { position: absolute; left: 0px; right: 0px; }
.list0 li, .MenuBar .MenuItemContainer, .SlideShowContentPanel .fullscreen img { position: relative; }
p, h1, h2, h3, h4, h5, h6, ol, ul, span.actAsPara { max-height: 1000000px; }
/* ::::: http://u-boat.dkn-group.ru/css/index.css?486932855 ::::: */

.html { background-color: rgb(255, 255, 255); }
#page { z-index: 1; width: 1064px; min-height: 499.917px; background-image: none; border-style: none; border-color: rgb(0, 0, 0); background-color: transparent; padding-bottom: 0px; margin-left: auto; margin-right: auto; }
#u75 { z-index: 383; height: 60px; border-color: rgb(0, 0, 0); background-color: rgb(0, 0, 0); }
#u75-bw { z-index: 383; position: fixed; left: 0px; right: 0px; top: 0px; }
#u-boat { position: relative; }
#pu119 { width: 0.01px; padding-bottom: 60px; margin-left: 20px; margin-top: -18px; }
#u119 { z-index: 409; width: 295px; height: 60px; border-color: rgb(0, 0, 0); position: fixed; top: 0px; left: 20px; background: rgb(0, 0, 0) url('12.jpg') no-repeat scroll center center; }
#u119:hover { width: 295px; height: 60px; min-height: 0px; margin: 0px; background: rgb(255, 255, 255) url('13.jpg') no-repeat scroll center center; }
#pamphletu871 { z-index: 411; width: 0.01px; height: 60px; position: fixed; top: 0px; left: 315px; }
#u879 { z-index: 412; width: 209px; position: relative; margin-right: -10000px; }
#u880 { position: absolute; width: 209px; border-style: none; border-color: transparent; background-color: transparent; }
#u880:hover { border-style: none; border-color: transparent; background-color: transparent; width: 209px; min-height: 0px; margin: 0px; }
#u881-4 { z-index: 414; width: 209px; min-height: 60px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 16px; text-align: center; line-height: 19px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u880:hover #u881-4 { background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 0px; min-height: 60px; width: 209px; margin: 0px -10000px 0px 0px; }
#u880:hover #u881-4 p { color: rgb(0, 0, 0); visibility: inherit; }
#u881-2 { padding-top: 20px; }
#u875 { position: absolute; width: 1026px; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.65); padding-bottom: 44px; top: 273px; left: -388px; }
#u875popup { z-index: 418; }
#u876 { z-index: 419; width: 962px; height: 490px; border-style: none; border-color: transparent; background-color: rgb(255, 255, 255); border-radius: 12px; padding-left: 20px; padding-top: 21px; padding-bottom: 10px; margin-right: -10000px; position: relative; top: 22px; left: 22px; }
#u877-4 { z-index: 420; width: 962px; min-height: 20px; background-color: transparent; color: rgb(0, 0, 0); font-size: 50px; text-align: left; line-height: 60px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; position: relative; }
#u878-44 { z-index: 424; width: 962px; min-height: 391px; background-color: transparent; color: rgb(0, 0, 0); font-size: 17px; line-height: 17px; font-family: pt-sans,sans-serif; margin-top: 39px; position: relative; }
#u878-9 > li::before { content: "•"; }
#u884 { position: absolute; width: 111px; border-style: none; border-color: transparent; background-color: transparent; opacity: 0.4; top: 316px; left: 511px; }
#u885 { z-index: 469; width: 111px; border-style: none; border-color: transparent; background-color: transparent; padding-bottom: 8px; position: relative; margin-right: -10000px; }
#u886 { z-index: 470; width: 39px; height: 39px; border-style: solid; border-color: rgb(0, 0, 0); background-color: transparent; transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -8, 20); position: relative; margin-right: -10000px; margin-top: 8px; left: 63px; border-width: 1px 0px 0px 1px; }
#u887 { z-index: 471; width: 39px; height: 39px; border-style: solid; border-color: rgb(0, 0, 0); background-color: transparent; transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 48, 20); position: relative; margin-right: -10000px; margin-top: 8px; left: 8px; border-width: 1px 0px 0px 1px; }
#menuu76 { z-index: 384; width: 520px; border-style: none; border-color: transparent; background-color: transparent; position: fixed; top: 0px; left: 524px; }
#u105 { width: 179px; min-height: 60px; background-color: transparent; position: relative; margin-right: -10000px; }
#u106 { width: 179px; background-color: rgb(0, 0, 0); padding-bottom: 41px; position: relative; }
#u106:hover { background-color: rgb(255, 255, 255); width: 179px; min-height: 0px; margin: 0px; }
#u107-4 { width: 137px; min-height: 19px; border-style: none; border-color: transparent; background-color: transparent; color: rgb(255, 255, 255); font-size: 16px; text-align: center; line-height: 19px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; top: 20px; left: 21px; }
#u106:hover #u107-4 { padding-top: 0px; padding-bottom: 0px; min-height: 19px; width: 137px; margin: 0px -10000px 0px 0px; }
#u880.PamphletThumbSelected #u881-4 p, #u106:hover #u107-4 p, #u106:hover #u107-4 h1, #u106.MuseMenuActive #u107-4 p, #u106.MuseMenuActive #u107-4 h1 { color: rgb(0, 0, 0); visibility: inherit; }
#u112 { width: 106px; min-height: 60px; background-color: transparent; position: relative; margin-right: -10000px; left: 181px; }
#u113 { width: 106px; background-color: rgb(0, 0, 0); padding-bottom: 41px; position: relative; }
#u113:hover { background-color: rgb(255, 255, 255); width: 106px; min-height: 0px; margin: 0px; }
#u116-4 { width: 64px; min-height: 19px; border-style: none; border-color: transparent; background-color: transparent; color: rgb(255, 255, 255); font-size: 16px; text-align: center; line-height: 19px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; top: 20px; left: 21px; }
#u113:hover #u116-4 { padding-top: 0px; padding-bottom: 0px; min-height: 19px; width: 64px; margin: 0px -10000px 0px 0px; }
#u113:hover #u116-4 p, #u113:hover #u116-4 h1, #u113.MuseMenuActive #u116-4 p, #u113.MuseMenuActive #u116-4 h1 { color: rgb(0, 0, 0); visibility: inherit; }
#u91 { width: 114px; min-height: 60px; background-color: transparent; position: relative; margin-right: -10000px; left: 289px; }
#u92 { width: 114px; background-color: rgb(0, 0, 0); padding-bottom: 41px; position: relative; }
#u92:hover { background-color: rgb(255, 255, 255); width: 114px; min-height: 0px; margin: 0px; }
#u92.MuseMenuActive { background-color: rgb(255, 255, 255); width: 114px; min-height: 0px; margin: 0px; }
#u93-4 { width: 73px; min-height: 19px; border-style: none; border-color: transparent; background-color: transparent; color: rgb(255, 255, 255); font-size: 16px; text-align: center; line-height: 19px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; top: 20px; left: 20px; }
#u92:hover #u93-4 { padding-top: 0px; padding-bottom: 0px; min-height: 19px; width: 73px; margin: 0px -10000px 0px 0px; }
#u92.MuseMenuActive #u93-4 { padding-top: 0px; padding-bottom: 0px; min-height: 19px; width: 73px; margin: 0px -10000px 0px 0px; }
#u92:hover #u93-4 p, #u92:hover #u93-4 h1, #u92.MuseMenuActive #u93-4 p, #u92.MuseMenuActive #u93-4 h1 { color: rgb(0, 0, 0); visibility: inherit; }
#u98 { width: 115px; min-height: 60px; background-color: transparent; position: relative; margin-right: -10000px; left: 405px; }
#u99 { width: 115px; background-color: rgb(0, 0, 0); padding-bottom: 41px; position: relative; }
#u99:hover { background-color: rgb(255, 255, 255); width: 115px; min-height: 0px; margin: 0px; }
#u101-4 { width: 74px; min-height: 19px; border-style: none; border-color: transparent; background-color: transparent; color: rgb(255, 255, 255); font-size: 16px; text-align: center; line-height: 19px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; top: 20px; left: 20px; }
#u99:hover #u101-4 { padding-top: 0px; padding-bottom: 0px; min-height: 19px; width: 74px; margin: 0px -10000px 0px 0px; }
#u99:hover #u101-4 p, #u99:hover #u101-4 h1, #u99.MuseMenuActive #u101-4 p, #u99.MuseMenuActive #u101-4 h1 { color: rgb(0, 0, 0); visibility: inherit; }
.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton, .MenuItem { cursor: pointer; }
#pu2067 { width: 0.01px; margin-left: 20px; }
#u2067 { z-index: 2; width: 600px; height: 600px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; background: rgb(255, 255, 255) url('11qq.jpg') no-repeat scroll center center; }
#u135-6 { z-index: 32; width: 432px; min-height: 20px; background-color: transparent; color: rgb(32, 32, 32); text-align: left; font-weight: 700; position: relative; margin-right: -10000px; margin-top: 37px; left: 592px; }
#u135-2 { font-size: 62px; line-height: 74px; font-family: pt-sans-narrow,sans-serif; }
#u135-4 { font-size: 66px; line-height: 79px; font-family: pt-sans,sans-serif; }
#u865 { z-index: 46; width: 369px; border-style: none; border-color: transparent; background-color: transparent; padding-bottom: 0px; position: relative; margin-right: -10000px; margin-top: 320px; left: 592px; }
#u252-4 { z-index: 47; width: 369px; min-height: 10px; background-color: transparent; color: rgb(0, 0, 0); font-size: 16px; line-height: 19px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; }
#u253 { z-index: 51; width: 369px; border-style: none; border-color: transparent; background-color: transparent; margin-top: 1px; position: relative; }
#u256 { z-index: 52; width: 369px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; }
#u259 { z-index: 53; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(32, 32, 32); border-radius: 10px; position: relative; margin-right: -10000px; }
#u258 { z-index: 54; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(32, 32, 32); border-radius: 10px; position: relative; margin-right: -10000px; left: 93px; }
#u260 { z-index: 55; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(32, 32, 32); border-radius: 10px; position: relative; margin-right: -10000px; left: 186px; }
#u257 { z-index: 56; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(32, 32, 32); border-radius: 10px; position: relative; margin-right: -10000px; left: 279px; }
#u261 { z-index: 57; width: 368px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; margin-top: 69px; }
#u264-4 { z-index: 58; width: 90px; min-height: 14px; background-color: transparent; color: rgb(255, 255, 255); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u265-4 { z-index: 62; width: 90px; min-height: 14px; background-color: transparent; color: rgb(255, 255, 255); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 93px; }
#u263-4 { z-index: 66; width: 90px; min-height: 14px; background-color: transparent; color: rgb(255, 255, 255); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 186px; }
#u262-4 { z-index: 70; width: 90px; min-height: 14px; background-color: transparent; color: rgb(255, 255, 255); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 278px; }
#u254 { z-index: 74; width: 367px; min-height: 75px; border-style: none; border-color: transparent; background-color: transparent; color: rgb(255, 255, 255); font-size: 60px; text-align: right; line-height: 72px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; margin-top: 3px; }
#u866 { z-index: 100; width: 405px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; margin-top: 213px; left: 592px; }
#u268-8 { z-index: 101; width: 405px; min-height: 68px; background-color: transparent; color: rgb(32, 32, 32); font-size: 36px; line-height: 43px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u268-4 { font-size: 69px; color: rgb(32, 32, 32); font-family: pt-sans-narrow,sans-serif; font-weight: 700; line-height: 83px; }
#u268-5 { color: rgb(32, 32, 32); line-height: 43px; }
#u267 { z-index: 109; width: 187px; height: 6px; border-color: rgb(0, 0, 0); background-color: rgb(237, 28, 36); position: relative; margin-right: -10000px; margin-top: 39px; left: 167px; }
#pamphletu149 { z-index: 205; width: 0.01px; height: 96px; position: relative; margin-right: -10000px; margin-top: 468px; left: 592px; }
#u150 { z-index: 206; width: 369px; position: relative; margin-right: -10000px; }
#u151 { position: absolute; width: 369px; border-style: none; border-color: transparent; background-color: transparent; }
#u152 { z-index: 208; width: 369px; height: 96px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; background: transparent url('z1.png') no-repeat scroll left top / contain ; }
#u151:hover #u152 { width: 369px; height: 96px; min-height: 0px; margin: 0px -10000px 0px 0px; background: transparent url('z2.png') no-repeat scroll left top / contain ; }
#u153 { position: absolute; width: 593px; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.85); padding-bottom: 44px; top: -46px; left: -326px; }
#u153popup { z-index: 209; }
#u154 { z-index: 210; width: 549px; height: 621px; border-style: none; border-color: transparent; background-color: rgb(255, 255, 255); border-radius: 12px; margin-right: -10000px; position: relative; top: 22px; left: 22px; }
#u155 { z-index: 212; width: 549px; border-color: rgb(0, 0, 0); background-color: rgb(193, 39, 45); border-radius: 10px 10px 0px 0px; position: relative; }
#u159 { z-index: 213; width: 93px; height: 137px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 26px; background: transparent url('podarok.png') no-repeat scroll center center; }
#u156-8 { z-index: 214; width: 412px; min-height: 42px; border-style: none; border-color: transparent; background-color: transparent; padding-left: 10px; padding-top: 10px; color: rgb(255, 255, 255); text-align: left; position: relative; margin-right: -10000px; margin-top: 19px; left: 127px; }
#u157 { z-index: 211; width: 387px; min-height: 98px; border-style: none; border-color: transparent; background-color: transparent; font-family: pt-sans,sans-serif; font-weight: 400; margin-left: 81px; margin-top: 22px; position: relative; }
#u162 { position: absolute; width: 111px; border-style: none; border-color: transparent; background-color: transparent; opacity: 0.4; padding-bottom: 13px; top: -17px; left: 155px; }
#u163 { z-index: 223; width: 29px; height: 29px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -6, 15); position: relative; margin-right: -10000px; margin-top: 13px; left: 60px; border-width: 1px 0px 0px 1px; }
#u164 { z-index: 224; width: 29px; height: 29px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 36, 15); position: relative; margin-right: -10000px; margin-top: 13px; left: 20px; border-width: 1px 0px 0px 1px; }
#pu371 { width: 0.01px; margin-left: -100px; margin-top: -1px; }
#u371 { z-index: 4; min-height: 1395px; border-color: rgb(0, 0, 0); background: rgb(18, 21, 26) url('dark_stripes.jpg') repeat scroll left top; }
#u371_align_to_page { margin-left: auto; margin-right: auto; width: 1064px; position: relative; left: -100px; padding-top: 26px; padding-bottom: 24px; }
#u198-4 { z-index: 38; width: 1024px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 50px; text-align: left; line-height: 60px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; left: 121px; position: relative; }
#pu203-4 { width: 0.01px; left: 120px; margin-top: 55px; position: relative; }
#u203-4 { z-index: 75; width: 283px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 22px; text-align: left; line-height: 26px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u375-4 { z-index: 79; width: 356px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 22px; text-align: left; line-height: 26px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 317px; }
#u376-4 { z-index: 83; width: 316px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 22px; text-align: left; line-height: 26px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 708px; }
#pu228-4 { width: 0.01px; left: 120px; margin-top: 17px; position: relative; }
#u228-4 { z-index: 87; width: 283px; min-height: 38px; background-color: transparent; color: rgb(255, 255, 255); font-size: 18px; text-align: left; line-height: 22px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u378-4 { z-index: 91; width: 356px; min-height: 38px; background-color: transparent; color: rgb(255, 255, 255); font-size: 18px; text-align: left; line-height: 22px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 317px; }
#u379-4 { z-index: 95; width: 316px; min-height: 38px; background-color: transparent; color: rgb(255, 255, 255); font-size: 18px; text-align: left; line-height: 22px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 708px; }
#u1917 { z-index: 5; width: 1024px; height: 938px; border-color: rgb(0, 0, 0); left: 120px; margin-top: 44px; position: relative; background: transparent url('men.jpg') no-repeat scroll center top; }
#u1913-4 { z-index: 42; width: 1024px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 50px; text-align: left; line-height: 60px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; left: 121px; margin-top: 13px; position: relative; }
#u371-bw { z-index: 4; min-height: 1395px; }
#u369 { z-index: 99; height: 54px; background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 100%) repeat scroll 0% 0%; border-color: rgb(0, 0, 0); }
#u369-bw { z-index: 99; height: 54px; }
#u382 { z-index: 138; height: 54px; background: transparent linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0% 0%; border-color: rgb(0, 0, 0); }
#u382-bw { z-index: 138; margin-top: 1341px; height: 54px; }
#characteristics { position: relative; width: 22px; margin-right: -10000px; margin-top: 1227px; left: 100px; }
#u381-4 { z-index: 303; width: 1024px; min-height: 20px; background-color: transparent; color: rgb(32, 32, 32); font-size: 50px; text-align: left; line-height: 60px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; margin-left: 20px; margin-top: 44px; position: relative; }
#pu1924-41 { width: 0.01px; margin-left: 21px; margin-top: 35px; }
#u1924-41 { z-index: 229; width: 493px; min-height: 418px; background-color: transparent; color: rgb(32, 32, 32); font-size: 18px; line-height: 22px; font-family: pt-sans,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u878-2, #u878-12, #u878-18, #u878-26, #u878-32, #u1924, #u1924-4, #u1924-7, #u1924-11, #u1924-15, #u1924-21, #u1924-25, #u1924-29, #u1924-33, #u1924-37 { font-weight: 700; }
#pamphletu1950 { z-index: 270; width: 0.01px; height: 391px; padding-bottom: 11px; position: relative; margin-right: -10000px; left: 521px; }
#u1958 { z-index: 271; width: 242px; position: relative; margin-right: -10000px; margin-top: 384px; left: 120px; }
#u1959 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; }
#u1959:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2744 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 18px; }
#u2744:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2752 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 36px; }
#u2752:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2760 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 54px; }
#u2760:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2768 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 72px; }
#u2768:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2776 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 90px; }
#u2776:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2784 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 108px; }
#u2784:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2792 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 126px; }
#u2792:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2800 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 144px; }
#u2800:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2808 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 162px; }
#u2808:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2816 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 180px; }
#u2816:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2824 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 198px; }
#u2824:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2832 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 216px; }
#u2832:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u2840 { position: absolute; width: 8px; height: 8px; border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); opacity: 0; left: 234px; }
#u2840:hover { border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u1959.PamphletThumbSelected, #u2744.PamphletThumbSelected, #u2752.PamphletThumbSelected, #u2760.PamphletThumbSelected, #u2768.PamphletThumbSelected, #u2776.PamphletThumbSelected, #u2784.PamphletThumbSelected, #u2792.PamphletThumbSelected, #u2800.PamphletThumbSelected, #u2808.PamphletThumbSelected, #u2816.PamphletThumbSelected, #u2824.PamphletThumbSelected, #u2832.PamphletThumbSelected, #u2840.PamphletThumbSelected { border-color: rgb(153, 153, 153); background-color: rgb(0, 191, 243); width: 8px; height: 8px; min-height: 0px; margin: 0px; }
#u1954 { position: absolute; width: 502px; background-color: transparent; top: 1px; }
#u1954popup { z-index: 286; }
#u1957 { z-index: 287; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('q1.jpg') no-repeat scroll center center; }
#u2745 { z-index: 288; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('q2.jpg') no-repeat scroll center center; }
#u2753 { z-index: 289; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('q5.jpg') no-repeat scroll center center; }
#u2761 { z-index: 290; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('q6.jpg') no-repeat scroll center center; }
#u2769 { z-index: 291; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('q8.jpg') no-repeat scroll center center; }
#u2777 { z-index: 292; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('q9.jpg') no-repeat scroll center center; }
#u2785 { z-index: 293; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('w1.jpg') no-repeat scroll center center; }
#u2793 { z-index: 294; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('w6.jpg') no-repeat scroll center center; }
#u2801 { z-index: 295; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('w8.jpg') no-repeat scroll center center; }
#u2809 { z-index: 296; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('w9.jpg') no-repeat scroll center center; }
#u2817 { z-index: 297; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('w10.jpg') no-repeat scroll center center; }
#u2825 { z-index: 298; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('e1.jpg') no-repeat scroll center center; }
#u2833 { z-index: 299; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('e2.jpg') no-repeat scroll center center; }
#u2841 { z-index: 300; width: 500px; height: 400px; border-width: 1px; border-style: solid; border-color: rgb(115, 99, 87); border-radius: 10px; margin-right: -10000px; position: relative; background: transparent url('e3.jpg') no-repeat scroll center center; }
#u1962 { position: absolute; width: 251px; height: 402px; border-color: rgb(222, 222, 222); background-color: transparent; top: 1px; }
#u1962:hover { border-color: rgb(153, 153, 153); width: 251px; height: 402px; min-height: 0px; margin: 0px; }
#u1951 { position: absolute; width: 251px; height: 402px; border-color: rgb(222, 222, 222); background-color: transparent; left: 251px; }
#u1951:hover { border-color: rgb(153, 153, 153); width: 251px; height: 402px; min-height: 0px; margin: 0px; }
#pamphletu2137 { z-index: 323; width: 0.01px; height: 96px; margin-left: 542px; position: relative; }
#u2153 { z-index: 324; width: 369px; position: relative; margin-right: -10000px; }
#u2154 { position: absolute; width: 369px; border-style: none; border-color: transparent; background-color: transparent; }
#u2155 { z-index: 326; width: 369px; height: 96px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; background: transparent url('z1.png') no-repeat scroll left top / contain ; }
#u2154:hover #u2155 { width: 369px; height: 96px; min-height: 0px; margin: 0px -10000px 0px 0px; background: transparent url('z2.png') no-repeat scroll left top / contain ; }
#u2146 { position: absolute; width: 593px; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.85); padding-bottom: 44px; top: -46px; left: -326px; }
#u2146popup { z-index: 327; }
#u2147 { z-index: 328; width: 549px; height: 621px; border-style: none; border-color: transparent; background-color: rgb(255, 255, 255); border-radius: 12px; margin-right: -10000px; position: relative; top: 22px; left: 22px; }
#u2150 { z-index: 330; width: 549px; border-color: rgb(0, 0, 0); background-color: rgb(193, 39, 45); border-radius: 10px 10px 0px 0px; position: relative; }
#u2151 { z-index: 331; width: 93px; height: 137px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 26px; background: transparent url('podarok.png') no-repeat scroll center center; }
#u2152-8 { z-index: 332; width: 412px; min-height: 42px; border-style: none; border-color: transparent; background-color: transparent; padding-left: 10px; padding-top: 10px; color: rgb(255, 255, 255); text-align: left; position: relative; margin-right: -10000px; margin-top: 19px; left: 127px; }
#u2148 { z-index: 329; width: 387px; min-height: 98px; border-style: none; border-color: transparent; background-color: transparent; font-family: pt-sans,sans-serif; font-weight: 400; margin-left: 81px; margin-top: 22px; position: relative; }
#u2138 { position: absolute; width: 111px; border-style: none; border-color: transparent; background-color: transparent; opacity: 0.4; padding-bottom: 13px; top: -17px; left: 155px; }
#u2140 { z-index: 341; width: 29px; height: 29px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -6, 15); position: relative; margin-right: -10000px; margin-top: 13px; left: 60px; border-width: 1px 0px 0px 1px; }
#u2139 { z-index: 342; width: 29px; height: 29px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 36, 15); position: relative; margin-right: -10000px; margin-top: 13px; left: 20px; border-width: 1px 0px 0px 1px; }
#comments { top: -33px; margin-bottom: -18px; position: relative; }
#pu783 { width: 0.01px; margin-left: -100px; margin-top: 27px; }
#u783 { z-index: 7; min-height: 80px; border-color: rgb(0, 0, 0); padding-bottom: 20px; background: rgb(18, 21, 26) url('dark_stripes.jpg') repeat scroll left top; }
#u481-4 { z-index: 139; width: 1024px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 50px; text-align: left; line-height: 60px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; position: relative; margin-right: -10000px; margin-top: 20px; left: 120px; }
#u783-bw { z-index: 7; min-height: 80px; }
#u482 { z-index: 143; height: 54px; background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 100%) repeat scroll 0% 0%; border-color: rgb(0, 0, 0); }
#u482-bw { z-index: 143; height: 54px; }
#u484 { z-index: 31; min-height: 785px; border-color: rgb(0, 0, 0); background: rgb(0, 0, 0) url('slide4-apertura-boutique-kiev.jpg') no-repeat scroll center top / cover ; }
#u484_align_to_page { margin-left: auto; margin-right: auto; width: 1064px; position: relative; left: -100px; padding-top: 34px; padding-bottom: 20px; }
#pu501 { z-index: 363; width: 0.01px; position: relative; margin-right: -10000px; margin-top: -8px; margin-left: -8px; }
#u501 { z-index: 0; width: 100px; border-width: 8px; border-style: solid; border-color: rgb(0, 0, 0); background-color: transparent; opacity: 0.5; border-radius: 100px; position: absolute; top: 0px; bottom: 0px; }
#u2212 { z-index: 368; width: 100px; height: 100px; border-width: 2px; border-style: solid; border-color: rgb(32, 32, 32); border-radius: 100px; position: relative; margin-right: -10000px; background: transparent url('22.jpg') no-repeat scroll left top; }
#u497-6 { z-index: 144; width: 904px; min-height: 107px; background-color: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); font-size: 18px; line-height: 22px; font-family: pt-sans,sans-serif; position: relative; margin-right: -10000px; left: 120px; }
#u497-6:hover { background-color: rgba(0, 0, 0, 0.85); padding-top: 0px; padding-bottom: 0px; min-height: 107px; width: 904px; margin: 0px -10000px 0px 0px; }
#pu940 { z-index: 365; width: 0.01px; position: relative; margin: -8px -10000px -8px -8px; }
.gs------2 { border-width: 5px; border-style: solid; border-color: rgb(32, 32, 32); border-radius: 100px; background: transparent url('33.jpg') no-repeat scroll left top; }
#u2214 { z-index: 370; width: 100px; height: 100px; border-width: 2px; border-style: solid; position: relative; margin-right: -10000px; background: transparent url('3.jpg') no-repeat scroll left top; }
#u929-6 { z-index: 156; width: 904px; min-height: 100px; background-color: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); font-size: 18px; line-height: 22px; font-family: pt-sans,sans-serif; position: relative; margin-right: -10000px; left: 120px; }
#u929-6:hover { background-color: rgba(0, 0, 0, 0.85); padding-top: 0px; padding-bottom: 0px; min-height: 100px; width: 904px; margin: 0px -10000px 0px 0px; }
#pu941 { z-index: 366; width: 0.01px; position: relative; margin-right: -10000px; margin-top: -8px; margin-left: -8px; }
#u2215 { z-index: 371; width: 100px; height: 100px; border-width: 2px; border-style: solid; position: relative; margin-right: -10000px; background: transparent url('1.jpg') no-repeat scroll left top; }
#u498-6 { z-index: 162; width: 904px; min-height: 97px; background-color: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); font-size: 18px; line-height: 22px; font-family: pt-sans,sans-serif; position: relative; margin-right: -10000px; left: 120px; }
#u498-6:hover { background-color: rgba(0, 0, 0, 0.85); padding-top: 0px; padding-bottom: 0px; min-height: 97px; width: 904px; margin: 0px -10000px 0px 0px; }
#ppu942 { width: 0.01px; left: 120px; margin-top: 11px; position: relative; }
#pu942 { z-index: 367; width: 0.01px; position: relative; margin: -8px -10000px -8px -8px; }
#u2216 { z-index: 372; width: 100px; height: 100px; border-width: 2px; border-style: solid; position: relative; margin-right: -10000px; background: transparent url('42.jpg') no-repeat scroll left top; }
#u500-5 { z-index: 172; width: 904px; min-height: 100px; background-color: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); font-size: 18px; line-height: 22px; font-family: pt-sans,sans-serif; position: relative; margin-right: -10000px; left: 120px; }
#u500-5:hover { padding-top: 0px; padding-bottom: 0px; min-height: 100px; width: 904px; margin: 0px -10000px 0px 0px; }
#u500-5:hover::before { content: ""; position: absolute; pointer-events: none; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.85) inset, 0px 0px 150px rgba(0, 0, 0, 0.85) inset; }
#u500 { padding-left: 20px; font-weight: 400; }
#u878-4, #u878-6, #u878-8, #u878-10, #u878-14, #u878-16, #u878-20, #u878-22, #u878-24, #u878-28, #u878-30, #u878-34, #u878-36, #u878-38, #u878-40, #u878-42, #u500-2 { font-weight: 400; }
#ppu940, #ppu941, #ppu939 { width: 0.01px; left: 120px; margin-top: 20px; position: relative; }
#pu939 { z-index: 364; width: 0.01px; position: relative; margin-right: -10000px; margin-top: -8px; margin-left: -8px; }
#u940, #u941, #u942, #u939 { z-index: 0; width: 100px; background-image: none; border-width: 8px; border-style: solid; border-color: rgb(0, 0, 0); background-color: transparent; opacity: 0.5; position: absolute; top: 0px; bottom: 0px; }
#pu2212, #pu2214, #pu2215, #pu2216, #pu2213 { width: 0.01px; position: relative; left: 6px; padding-top: 6px; z-index: 2; padding-bottom: 6px; }
#u2213 { z-index: 369; width: 100px; height: 100px; border-width: 2px; border-style: solid; position: relative; margin-right: -10000px; background: transparent url('5.jpg') no-repeat scroll left top; }
#u499-6 { z-index: 150; width: 904px; min-height: 91px; background-color: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); font-size: 18px; line-height: 22px; font-family: pt-sans,sans-serif; position: relative; margin-right: -10000px; left: 120px; }
#u499-6:hover { background-color: rgba(0, 0, 0, 0.85); padding-top: 0px; padding-bottom: 0px; min-height: 91px; width: 904px; margin: 0px -10000px 0px 0px; }
#u497, #u497-3, #u929, #u929-3, #u498, #u498-3, #u499, #u499-3 { padding-right: 20px; padding-left: 20px; font-weight: 400; }
#u497-4, #u929-4, #u498-4, #u500-3, #u499-4 { padding-left: 20px; font-weight: 700; }
#gift { left: 100px; margin-top: 68px; position: relative; }
#u484-bw { z-index: 31; min-height: 785px; }
#u784 { z-index: 6; min-height: 80px; border-color: rgb(0, 0, 0); padding-bottom: 18px; background: rgb(18, 21, 26) url('dark_stripes.jpg') repeat scroll left top; }
#u783_align_to_page, #u784_align_to_page { margin-left: auto; margin-right: auto; width: 1064px; position: relative; left: -100px; }
#u507-4 { z-index: 168; width: 1024px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); font-size: 50px; text-align: left; line-height: 60px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; position: relative; margin-right: -10000px; margin-top: 20px; left: 120px; }
#u784-bw { z-index: 6; min-height: 80px; }
#u508 { z-index: 177; height: 54px; background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 100%) repeat scroll 0% 0%; border-color: rgb(0, 0, 0); }
#u508-bw { z-index: 177; height: 54px; }
#pu570-4 { width: 0.01px; margin-right: -10000px; margin-top: 28px; }
#u570-4 { z-index: 178; width: 512px; min-height: 41px; background-color: transparent; color: rgb(0, 0, 0); font-size: 24px; line-height: 29px; font-family: pt-sans,sans-serif; font-weight: 700; margin-left: 20px; position: relative; }
#u570-4:hover { padding-top: 0px; padding-bottom: 0px; min-height: 41px; width: 512px; margin: 0px 0px 0px 20px; }
#u2731-4 { z-index: 378; width: 513px; min-height: 22px; background-color: transparent; color: rgb(32, 32, 32); font-size: 18px; text-align: left; line-height: 22px; font-family: pt-sans,sans-serif; font-weight: 400; margin-left: 21px; margin-top: 50px; position: relative; }
#u2731-4:hover { padding-top: 0px; padding-bottom: 0px; min-height: 22px; width: 513px; margin: 50px 0px 0px 21px; }
#u570-4:hover::before, #u2731-4:hover::before { box-shadow: none; }
#page_position_content, #ppu570-4, #porder { width: 0.01px; }
#order { position: relative; width: 22px; margin-right: -10000px; margin-top: 310px; }
#u2563 { z-index: 373; width: 504px; min-height: 314px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; margin-top: 8px; left: 20px; }
#u2565 { z-index: 374; width: 503px; height: 20px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 30px; background: transparent url('02.png') no-repeat scroll left top; }
#u2566 { z-index: 375; width: 502px; height: 17px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; margin-top: 310px; left: 29px; background: transparent url('05.png') no-repeat scroll right bottom; }
#u2567 { z-index: 376; width: 20px; height: 327px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 512px; background: transparent url('03.png') no-repeat scroll right top; }
#u2568 { z-index: 377; width: 19px; height: 327px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 11px; background: transparent url('01.png') no-repeat scroll left top; }
#u2108 { z-index: 3; width: 527px; height: 527px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 537px; background: transparent url('11qw.jpg') no-repeat scroll left top / contain ; }
#pu784, #pu631 { width: 0.01px; margin-left: -100px; }
#u631 { z-index: 8; height: 714px; border-color: rgb(0, 0, 0); background: transparent url('11.jpg') no-repeat scroll center top / cover ; }
#u631-bw { z-index: 8; height: 714px; }
#u2106 { z-index: 9; min-height: 714px; border-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.5); }
#u2106_align_to_page { margin-left: auto; margin-right: auto; width: 1064px; position: relative; left: -100px; padding-top: 74px; padding-bottom: 37px; }
#ppu501, #ppu596 { width: 0.01px; left: 120px; position: relative; }
#pu596 { width: 0.01px; margin-right: -10000px; }
#u596 { z-index: 202; width: 79px; height: 64px; border-color: rgb(0, 0, 0); position: relative; background: transparent url('12.png') no-repeat scroll left top; }
#u597 { z-index: 203; width: 79px; height: 50px; border-color: rgb(0, 0, 0); margin-top: 39px; position: relative; background: transparent url('2.png') no-repeat scroll left top; }
#u598 { z-index: 204; width: 79px; height: 79px; border-color: rgb(0, 0, 0); margin-top: 37px; position: relative; background: transparent url('3.png') no-repeat scroll left top; }
#u595-20 { z-index: 182; width: 439px; min-height: 205px; background-color: transparent; color: rgb(255, 255, 255); font-family: pt-sans,sans-serif; position: relative; margin-right: -10000px; margin-top: 9px; left: 101px; }
#u595-5, #u595-10 { font-size: 24px; line-height: 29px; font-weight: 400; }
#u595-2, #u595-7, #u595-12 { font-size: 30px; line-height: 36px; font-weight: 700; }
#u595-4, #u595-9, #u595-14, #u595-16, #u595-18 { font-size: 18px; line-height: 22px; font-weight: 400; }
#pu2102-6 { width: 0.01px; padding-bottom: 0px; margin-right: -10000px; margin-left: 592px; }
#u2102-6 { z-index: 307; width: 432px; min-height: 20px; background-color: transparent; color: rgb(255, 255, 255); text-align: left; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; }
#u2102-2 { font-size: 62px; line-height: 74px; }
#u2102 { font-family: pt-sans-narrow,sans-serif; font-weight: 700; }
#u2102-4 { font-size: 66px; line-height: 79px; }
#u2103 { z-index: 313; width: 405px; border-style: none; border-color: transparent; background-color: transparent; margin-top: 9px; position: relative; }
#u2105-8 { z-index: 314; width: 405px; min-height: 68px; background-color: transparent; color: rgb(32, 32, 32); font-size: 36px; line-height: 43px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u268-6, #u2105-6 { line-height: 0px; }
#u268, #u2105 { font-size: 69px; color: rgb(237, 28, 36); font-family: pt-sans-narrow,sans-serif; font-weight: 700; line-height: 83px; }
#u268-2, #u2105-2 { color: rgb(237, 28, 36); line-height: 43px; }
#u268-3, #u2105-3 { line-height: 43px; }
#u2105-4 { font-size: 69px; color: rgb(255, 255, 255); font-family: pt-sans-narrow,sans-serif; font-weight: 700; line-height: 83px; }
#u2105-5 { color: rgb(255, 255, 255); line-height: 43px; }
#u2104 { z-index: 322; width: 187px; height: 6px; border-color: rgb(0, 0, 0); background-color: rgb(237, 28, 36); position: relative; margin-right: -10000px; margin-top: 39px; left: 167px; }
#u857 { z-index: 110; width: 369px; border-style: none; border-color: transparent; background-color: transparent; padding-bottom: 0px; margin-top: 30px; position: relative; }
#u281-4 { z-index: 134; width: 369px; min-height: 10px; background-color: transparent; color: rgb(255, 255, 255); font-size: 16px; line-height: 19px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; }
#pu270 { width: 0.01px; margin-top: 2px; }
#u270 { z-index: 111; width: 369px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; }
#u274 { z-index: 112; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-radius: 10px; position: relative; margin-right: -10000px; }
#u272 { z-index: 113; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-radius: 10px; position: relative; margin-right: -10000px; left: 93px; }
#u271 { z-index: 114; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-radius: 10px; position: relative; margin-right: -10000px; left: 186px; }
#u273 { z-index: 115; width: 90px; height: 90px; border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-radius: 10px; position: relative; margin-right: -10000px; left: 279px; }
#u275 { z-index: 116; width: 368px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; margin-top: 69px; }
#u278-4 { z-index: 117; width: 90px; min-height: 14px; background-color: transparent; color: rgb(32, 32, 32); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; }
#u277-4 { z-index: 121; width: 90px; min-height: 14px; background-color: transparent; color: rgb(32, 32, 32); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 93px; }
#u279-4 { z-index: 125; width: 90px; min-height: 14px; background-color: transparent; color: rgb(32, 32, 32); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 186px; }
#u276-4 { z-index: 129; width: 90px; min-height: 14px; background-color: transparent; color: rgb(32, 32, 32); font-size: 12px; text-align: center; line-height: 14px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; left: 278px; }
#u280 { z-index: 133; width: 368px; min-height: 57px; border-style: none; border-color: transparent; background-color: transparent; color: rgb(32, 32, 32); font-size: 60px; text-align: right; line-height: 72px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; position: relative; margin-right: -10000px; margin-top: 3px; }
#pu634 { width: 0.01px; left: 120px; margin-top: 136px; position: relative; }
#u634 { z-index: 11; width: 261px; height: 81px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; background: transparent url('') no-repeat scroll left top; }
#u634:hover { background-repeat: no-repeat; background-position: left top; width: 261px; height: 81px; min-height: 0px; margin: 0px -10000px 0px 0px; }
#u2848 { z-index: 382; width: 70px; min-height: 70px; border-style: none; border-color: transparent; background-color: transparent; opacity: 0; position: relative; margin-right: -10000px; margin-top: 11px; left: 457px; }
#u632 { z-index: 10; width: 100px; min-height: 25px; border-style: none; border-color: transparent; background-color: transparent; position: relative; margin-right: -10000px; margin-top: 22px; left: 535px; }
#u2106-bw { z-index: 9; min-height: 714px; }
#pamphletu637 { z-index: 12; width: 0.01px; height: 19px; position: relative; margin-right: -10000px; margin-top: 655px; left: 120px; }
#u649 { z-index: 13; width: 169px; position: relative; margin-right: -10000px; }
#u650 { position: absolute; width: 960px; border-style: none; border-color: transparent; background-color: transparent; }

#u651-4 { z-index: 15; width: 100%; text-align: center; min-height: 19px; background-color: transparent; color: rgb(255, 255, 255); position: relative; margin-right: -10000px; }

#u651 { font-size: 14px; color: rgb(255, 255, 255); font-family: pt-sans-narrow,sans-serif; font-weight: 400; }
#u641 { position: absolute; width: 753px; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.9); padding-bottom: 44px; top: -72px; left: -413px; }
#u641popup { z-index: 19; }
#u642 { z-index: 20; width: 709px; height: 268px; border-style: none; border-color: transparent; background-color: transparent; margin-right: -10000px; position: relative; top: 22px; left: 22px; }
#u643-7 { z-index: 21; width: 699px; min-height: 180px; border-style: none; border-color: transparent; background-color: transparent; padding-left: 10px; padding-top: 10px; color: rgb(255, 255, 255); position: relative; margin-right: -10000px; }
#u643-2 { font-size: 19px; line-height: 27px; font-family: pt-sans,sans-serif; font-weight: 700; }
#u643-3, #u643-5 { font-size: 15px; line-height: 21px; font-family: pt-sans,sans-serif; font-weight: 400; }
#u638 { position: absolute; width: 97px; border-style: none; border-color: transparent; background-color: transparent; opacity: 0.4; padding-bottom: 7px; top: -50px; left: 244px; }
#u638:hover { opacity: 1; width: 97px; min-height: 0px; margin: 0px; }
#u640 { z-index: 29; width: 34px; height: 34px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -7, 18); position: relative; margin-right: -10000px; margin-top: 7px; left: 55px; border-width: 1px 0px 0px 1px; }
#u639 { z-index: 30; width: 34px; height: 34px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 42, 18); position: relative; margin-right: -10000px; margin-top: 7px; left: 7px; border-width: 1px 0px 0px 1px; }
#pamphletu2156 { z-index: 343; width: 0.01px; height: 96px; position: relative; margin-right: -10000px; margin-top: 491px; left: 712px; }
#u2172 { z-index: 344; width: 369px; position: relative; margin-right: -10000px; }
#u2173 { position: absolute; width: 369px; border-style: none; border-color: transparent; background-color: transparent; }
#u151:hover, #u2154:hover, #u2173:hover { border-style: none; border-color: transparent; background-color: transparent; width: 369px; min-height: 0px; margin: 0px; }
#u2174 { z-index: 346; width: 369px; height: 96px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; background: transparent url('z1.png') no-repeat scroll left top / contain ; }
#u2173:hover #u2174 { width: 369px; height: 96px; min-height: 0px; margin: 0px -10000px 0px 0px; background: transparent url('z2.png') no-repeat scroll left top / contain ; }
#u2165 { position: absolute; width: 593px; border-style: none; border-color: transparent; background-color: rgba(0, 0, 0, 0.85); padding-bottom: 44px; top: -46px; left: -326px; }
#u153::before, #u2146::before, #u2165::before { content: ""; position: absolute; pointer-events: none; width: 593px; height: 665px; top: 0px; left: 0px; box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.85) inset, 0px 0px 250px rgba(0, 0, 0, 0.85) inset; }
#u2165popup { z-index: 347; }
#u2166 { z-index: 348; width: 549px; height: 621px; border-style: none; border-color: transparent; background-color: rgb(255, 255, 255); border-radius: 12px; margin-right: -10000px; position: relative; top: 22px; left: 22px; }
#u2169 { z-index: 350; width: 549px; border-color: rgb(0, 0, 0); background-color: rgb(193, 39, 45); border-radius: 10px 10px 0px 0px; position: relative; }
#u2170 { z-index: 351; width: 93px; height: 137px; border-color: rgb(0, 0, 0); position: relative; margin-right: -10000px; left: 26px; background: transparent url('podarok.png') no-repeat scroll center center; }
#u2171-8 { z-index: 352; width: 412px; min-height: 42px; border-style: none; border-color: transparent; background-color: transparent; padding-left: 10px; padding-top: 10px; color: rgb(255, 255, 255); text-align: left; position: relative; margin-right: -10000px; margin-top: 19px; left: 127px; }
#u156-2, #u2152-2, #u2171-2 { font-size: 23px; line-height: 32px; font-family: pt-sans-narrow,sans-serif; font-weight: 700; }
#u156-4, #u156-6, #u2152-4, #u2152-6, #u2171-4, #u2171-6 { font-size: 18px; line-height: 25px; font-family: pt-sans-narrow,sans-serif; font-weight: 400; }
#u2167 { z-index: 349; width: 387px; min-height: 98px; border-style: none; border-color: transparent; background-color: transparent; font-family: pt-sans,sans-serif; font-weight: 400; margin-left: 81px; margin-top: 22px; position: relative; }
#u2157 { position: absolute; width: 111px; border-style: none; border-color: transparent; background-color: transparent; opacity: 0.4; padding-bottom: 13px; top: -17px; left: 155px; }
#u884:hover, #u162:hover, #u2138:hover, #u2157:hover { opacity: 1; width: 111px; min-height: 0px; margin: 0px; }
#u2159 { z-index: 361; width: 29px; height: 29px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -6, 15); position: relative; margin-right: -10000px; margin-top: 13px; left: 60px; border-width: 1px 0px 0px 1px; }
#u2158 { z-index: 362; width: 29px; height: 29px; border-style: solid; border-color: rgb(255, 255, 255); background-color: transparent; transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 36, 15); position: relative; margin-right: -10000px; margin-top: 13px; left: 20px; border-width: 1px 0px 0px 1px; }
body { position: relative; min-width: 1064px; }
/* ::::: https://webfonts.creativecloud.com/c/64ee3f/1w;pt-sans,1,WkK:W:n4,WkL:W:n7;pt-sans-narrow,1,WkC:W:n4,WkD:W:n7/l ::::: */

@font-face {
	font-family: "pt-sans";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "pt-sans";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
@font-face {
	font-family: "pt-sans-narrow";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "pt-sans-narrow";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
#showtime { letter-spacing: 9px; }
#showtime1 { letter-spacing: 9px; }
/* ::::: http://sokoluk1991.e-autopay.com/adminka/form_generator/get_form_style.php?id=7704&1439 ::::: */

#ea_product_form_7704 { color: rgb(51, 51, 51) ! important; }
#ea_product_form_7704 .ea_required_text { color: red ! important; font-weight: bold ! important; font-family: Arial ! important; font-size: 10pt ! important; margin-left: 5px; }
#ea_product_form_7704 .ea_name_field { font-weight: bold ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; font-size: 15px ! important; color: rgb(51, 51, 51) ! important; }
#ea_product_form_7704 .ea_input { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 22px ! important; border-radius: 4px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; width: 300px; margin-left: 0px ! important; margin-right: 0px ! important; }
#ea_product_form_7704 .ea_textarea { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; border-radius: 4px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; width: 300px; margin-left: 0px ! important; height: 67px; }
#ea_product_form_7704 .ea_select { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 20px ! important; border-radius: 3px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; margin-left: 0px ! important; width: 300px; }
#ea_product_form_7704 .ea_pay_mode {  }
#ea_product_form_7704 .ea_table_form { width: 100% ! important; }
#ea_product_form_7704 .ea_table_form td { padding: 1px 5px 2px 1px ! important; text-align: left; vertical-align: middle; }
#ea_product_form_7704 .ea_td_right { text-align: right ! important; width: 50%; }
#ea_product_form_7704 .ea_td_center { text-align: center ! important; }
#ea_product_form_7704 .ea_form { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 10pt ! important; font-weight: normal; color: rgb(51, 51, 51); background: transparent none repeat scroll 0px 0px; }
#ea_product_form_7704 .ea_countprod { width: 40px ! important; }
#ea_product_form_7704 .comment_field { font-size: 11px ! important; font-weight: normal ! important; }
/* ::::: http://sokoluk1991.e-autopay.com/adminka/form_generator/get_form_style.php?id=7704&4180 ::::: */

#ea_product_form_7704 { color: rgb(51, 51, 51) ! important; }
#ea_product_form_7704 .ea_required_text { color: red ! important; font-weight: bold ! important; font-family: Arial ! important; font-size: 10pt ! important; margin-left: 5px; }
#ea_product_form_7704 .ea_name_field { font-weight: bold ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; font-size: 15px ! important; color: rgb(51, 51, 51) ! important; }
#ea_product_form_7704 .ea_input { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 22px ! important; border-radius: 4px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; width: 300px; margin-left: 0px ! important; margin-right: 0px ! important; }
#ea_product_form_7704 .ea_textarea { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; border-radius: 4px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; width: 300px; margin-left: 0px ! important; height: 67px; }
#ea_product_form_7704 .ea_select { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 20px ! important; border-radius: 3px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; margin-left: 0px ! important; width: 300px; }
#ea_product_form_7704 .ea_pay_mode {  }
#ea_product_form_7704 .ea_table_form { width: 100% ! important; }
#ea_product_form_7704 .ea_table_form td { padding: 1px 5px 2px 1px ! important; text-align: left; vertical-align: middle; }
#ea_product_form_7704 .ea_td_right { text-align: right ! important; width: 50%; }
#ea_product_form_7704 .ea_td_center { text-align: center ! important; }
#ea_product_form_7704 .ea_form { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 10pt ! important; font-weight: normal; color: rgb(51, 51, 51); background: transparent none repeat scroll 0px 0px; }
#ea_product_form_7704 .ea_countprod { width: 40px ! important; }
#ea_product_form_7704 .comment_field { font-size: 11px ! important; font-weight: normal ! important; }
/* ::::: http://sokoluk1991.e-autopay.com/adminka/form_generator/get_form_style.php?id=7704&3807 ::::: */

#ea_product_form_7704 { color: rgb(51, 51, 51) ! important; }
#ea_product_form_7704 .ea_required_text { color: red ! important; font-weight: bold ! important; font-family: Arial ! important; font-size: 10pt ! important; margin-left: 5px; }
#ea_product_form_7704 .ea_name_field { font-weight: bold ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; font-size: 15px ! important; color: rgb(51, 51, 51) ! important; }
#ea_product_form_7704 .ea_input { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 22px ! important; border-radius: 4px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; width: 300px; margin-left: 0px ! important; margin-right: 0px ! important; }
#ea_product_form_7704 .ea_textarea { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; border-radius: 4px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; width: 300px; margin-left: 0px ! important; height: 67px; }
#ea_product_form_7704 .ea_select { box-shadow: none ! important; transition: none 0s ease 0s  ! important; padding: 0px ! important; height: 20px ! important; border-radius: 3px ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; text-shadow: none ! important; border: 1px solid rgb(143, 143, 143) ! important; margin-left: 0px ! important; width: 300px; }
#ea_product_form_7704 .ea_pay_mode {  }
#ea_product_form_7704 .ea_table_form { width: 100% ! important; }
#ea_product_form_7704 .ea_table_form td { padding: 1px 5px 2px 1px ! important; text-align: left; vertical-align: middle; }
#ea_product_form_7704 .ea_td_right { text-align: right ! important; width: 50%; }
#ea_product_form_7704 .ea_td_center { text-align: center ! important; }
#ea_product_form_7704 .ea_form { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 10pt ! important; font-weight: normal; color: rgb(51, 51, 51); background: transparent none repeat scroll 0px 0px; }
#ea_product_form_7704 .ea_countprod { width: 40px ! important; }
#ea_product_form_7704 .comment_field { font-size: 11px ! important; font-weight: normal ! important; }

#lv-form{
	border: none;
	padding: 0;
}

#lv-form input[type=text], #lv-form select, #lv-form textarea{
	height: 38px;
	border-radius: 0;
}

#lv-form input[type=submit]{
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background: yellow;
    margin-left: 0px;
}