* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    background: #e9e9e9;
    font-family: Tahoma, sans-serif;
    color: #fff;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
ul{
	list-style: none;
}
.alignleft {
    float: left;
}
.aligntight {
    float: right;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {
    *min-height: 1px;
}
.top{
    position: absolute;
    width: 100%;
    height: 206px;
    background: url(images/top_bg.jpg) repeat-x;
}
/*----- Start wrapper -----*/
#wrapper{
    width: 1196px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;    
}
/*----- Start header -----*/
#header {
    height: 166px;
    overflow: hidden;
}
.logo {
    float: left;
    display: block;
    margin: 3px 0 0 10px;
}
.header_block{
	overflow: hidden;
	float: right;
	margin: 60px 10px 0 0;
	height: 45px;
	width: 642px;
	border-radius: 5px;
	background: url(images/social_bg.png) repeat-x;
}
/*------- Begin social -------*/
.social {
    float: right;
    margin:6px 7px 0 0;
}
.social a {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 0;
    display: block;
}
/*------- End social -------*/
.search {
    width: 366px;
    height: 29px;
    float: right;
    margin: 7px 15px 0 0;
    background: url(images/search_bg.png) no-repeat;
}
.search input {
    width: 320px;
    height: 29px;
    line-height: 29px;
    padding: 0 8px 0 10px;
    background: none;
    border: none;
    outline: none;
    display: block;
    font-size: 11px;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    float: left;
}
.search input.bttn {
    width: 27px;
    height: 29px;
    cursor: pointer;
    padding: 0;
}
/*----- End header -----*/
/*----- Begin menu -----*/
.menu{
	height: 40px;
	overflow: hidden;
}
.menu ul{
	margin-top: 4px;
}
.menu li{	
	float: left;
	background: url(images/menu_separ.png) no-repeat;
	padding-left: 1px;
}
.menu li:last-child{
	padding-right: 1px;
	background: url(images/menu_separ.png) no-repeat, url(images/menu_separ.png) no-repeat right;
}
.menu li a{
	height: 32px;
	line-height: 32px;
	display: block;
	padding: 0 27px;
	text-transform: uppercase;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #154331;
}
.menu li a:hover, .menu .active a{
	background: url(images/menu_hover.png) repeat-x;
}
/*----- End menu -----*/
/*----- Start content -----*/
.content{
	margin-bottom: 10px;
	border-radius: 5px 5px 0 0;
	background: #fff;
	border: 1px solid #888787;
    min-height: 400px;
}
/*----- Start title -----*/
.title_wrap{
	height: 35px;
	overflow: hidden;
	border-bottom: 1px solid #929191;
    padding: 3px;
}
.title {
    font-size: 20px;
	height: 33px;
    line-height: 30px;
    border-radius: 3px 3px 0 0;
	border: 1px solid #888787;
    background: url(images/title_bg.png) repeat-x left;
}
.title img{    
    float: left;
    margin: 2px 3px 0 3px;
}
.title h2,.title h1,.title a {
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    /*float: left;*/
    display: inline;
}
.title a {text-decoration: underline;}
/*----- End title -----*/
/*----- Start thumb -----*/
.thumbs{
    margin: 2px 3px;
    padding: 10px 11px;
    text-align: center;
    font-size: 0;
    background: #fff;
    border: 1px solid #888787;
    margin-bottom: 10px;
}
.thumb {
    width: 182px;
    padding: 4px;
    overflow: hidden;
    background: #f1f1f1;
    border: 1px solid #a8a8a8;
    margin: 1px;
    float: left;
    padding-bottom: 5px;
    text-align: center;
}
.title_thumb{
    height: 32px;
    margin-bottom: 4px;
    overflow: hidden;
}
.title_thumb h3 a, .title_thumb h3{
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    color: #1a9464;
    text-shadow: 1px 1px 0 #fff;
}
.title_thumb h3 a:hover {
    color: #000;
}
.image_thumb{
    width: 180px;
    border: 1px solid #262626;
    height: 135px;
    overflow: hidden;
}
.image_thumb img {
    width: 180px;
    height: auto;
    display: block;
}
.descrip_thumb{
    height: 66px;
    padding: 0 5px;
    margin-bottom: 3px;
    overflow: hidden;
}
.descrip_thumb{
    font-size: 11px;
    line-height: 13px;
    font-family: Tahoma, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.thumb_info{
	height: 32px;
	line-height: 32px;
	background: url(images/thumb_info.png) repeat-x;
}
.data_add{
	float: left;
	width: 70%;
	text-align: left;	
}
.data_add span{
	display: block;
    padding-left: 20px;
    margin-left: 5px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
	background: url(images/calendar.png) no-repeat left 9px;
}
.view span{
	display: block;
    padding-left: 5px;
    margin-right: 5px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    background: url(images/view_thumb.png) no-repeat 10px 12px;
}
.view{
    float: right;
    width: 30%;
    text-align: right;
}
/*----- End thumb -----*/
/*----- End content -----*/
 /*----- Start video -----*/
.video_wrap_basic{
	background: #fff;
	border: 1px solid #888787;
	margin: 3px;
}
.video_wrap{
    background: #f1f1f1;
    border: 1px solid #a8a8a8;
    padding: 10px 25px;
    margin: 4px;
 }
.video{
    width: 800px;
    /*height: 564px;*/
    overflow: hidden;
    margin: 0 auto 15px;
    /*border: 1px solid #000;*/
    /*background: url(images/video.jpg) no-repeat;*/
 }
.video_tags{
    text-align: left;
    float: left;
    width: 60%;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
 }
.video_tags p{
    color: #000;
 }
.video_tags p a{
    color: #1a9464;
    font-weight: bold;
 }
 .video_rating {
    float: right;
    width: 165px;
    height: 20px;
}
.video_descrip{
    width: 80%;
    height: 62px;
    overflow: hidden;
    margin-bottom: 10px;
}
.video_descrip p,.video_view{
    color: #000;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 15px;
}
.video_view{
	height: 16px;
    display: block;
    background: url(images/view_thumb_video.png) no-repeat 0 0;
    padding-left: 33px;
}
.add_comments{
	margin-top: 25px;
}
.title_coment{
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
.title_coment img{
	float: left;
	margin-right: 5px;
}
.title_coment h3{
	font-family: Tahoma, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #1a9464;
}
.add_comments textarea{
	height: 84px;
	width: 698px;
	max-width: 1122px;
}
.add_comments .bttn{
	float: right;
	width: 98px;
	height: 35px;
	line-height: 35px;
	border-radius:5px;
	border: 1px solid #cbc9c9;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background: url(images/comment_button.png) repeat-x;
	overflow: hidden;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	cursor: pointer;
}
.user_comment{
	overflow: hidden;
	background: #fff;
	padding: 6px;
	border: 1px solid #d3d2d2;
	margin-bottom: 2px;
}
.user_img{
	overflow: hidden;
	width: 78px;
	height: 78px;
	background: #8c8c8c;
	float: left;
	margin-right: 7px;
}
.user_info{
	overflow: hidden;
}
.name_user{
	display: block;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #1a9464;
	margin-bottom: 10px;
}
.time_add_comment{
	color: #000;
	font-weight: normal;
}
.user_descrip{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #000;
}
.comm_form {width: 700px; margin-bottom: 20px;}
.user-name {height: 20px; margin-bottom: 5px; width: 200px;}
/*----- End video -----*/
/*----- End wrapper -----*/
/*----- Start footer -----*/
 #footer {
    height: 179px;
    margin-top: 20px;
    background: url(images/footer_bg.jpg) repeat-x bottom;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}
.foot {
    width: 1196px;
    margin: 0 auto;
}
.foot_descrip_wrap{
	width: 870px;
    float: left;
    text-align: left;
    margin-top: 15px;
}
.foot_descrip{
	height: 120px;
	overflow: hidden;
	margin-bottom: 7px;
}
.foot_descrip p{
	font-size: 12px;
    line-height: 15px;
    color: #f8f7f7;
    text-shadow: 1px 1px 0 #000;
}
.foter_logo{
	float: right;
}
.foter_logo img{
	display: block;
	margin-top: 4px;
}
.foot a {
	text-align: left;
    font-weight: bold;
    color: #44d29a;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    margin: 0 5px;
}
.foot span {
	font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.foot a:hover {
    color: #fff;
}

 /*----- End footer -----*/

 /*------- Begin pagination -------*/
.pagination{
    text-align: center;
    font-size: 0;
    margin-bottom: 10px;
}
.pagination a {
    display: block;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    height: 31px;
    line-height: 31px;
    padding: 0 8px;
}
.pagination li{
    display: inline-block;
    margin: 0 2px 0 1px;
    background: url(images/pagin.png) repeat-x;
}
.pagination li:hover, .pagination .current{
    background: url(images/pagin_hover.png) repeat-x;
}
.pagination a:hover, .pagination .current a {
    color: #000;
    text-shadow: 1px 1px 0 #fefefe;
}
/*------- End pagination -------*/

.articles {
    margin: 2px 3px;
    padding: 10px 11px;
    background: #fff;
    border: 1px solid #888787;
    margin-bottom: 10px;
    color: #000;
}
.articles ul {margin: 0;}
.articles li {
    margin: 0 auto;
    list-style-type: none;
    background: #f1f1f1;
    border: 1px solid #a8a8a8;
    padding: 4px;
    margin-bottom: 5px;
}
.articles .article_title {color: #44d29a; font-weight: bold; font-size: 20px;}
.articles .more {float: right; color: #C03; margin-right: 5px;}
.articles .more_block {
    margin-top: 5px;
    height: 32px;
    line-height: 32px;
    background: url(images/thumb_info.png) repeat-x;
}
.articles .text {margin-bottom: 0;}
.articles .short {
    max-height: 200px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 13px;
    line-height: 15px;
    font-family: Tahoma, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.articles .short img {width: auto; height: auto; max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}
.articles a {color: #44d29a; /*font-weight: bold;*/}

.more_block .date {
    float: left;
    padding-left: 20px;
    margin-left: 5px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    background: url(images/calendar.png) no-repeat left 9px;
}

.more_block .rating {margin: 8px 5px 0 0;}

.h1_rating {margin-bottom: 5px;}
.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 780px; text-align: center; line-height: 22px;}
.h1_rating .left h1 {line-height: 30px;}
.h1_rating .right {float: right; margin-top: 5px; width: 190px;}

.article .left {margin-left: 10px; font-size: 30px;}
.article img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.rating{
    float: right;
    margin-right: 3px;
    background: url(images/star_nonactive.png);
    width: 74px;
    height: 14px;
}
.rating div{
    background: url(images/star_active.png);
    width: 0;
    height: 100%;
}
.rating_left {float: left; margin-left: 20px;}

.text,.category_text {
    margin: 2px 3px;
    padding: 10px 11px;
    background: #f1f1f1;
    border: 1px solid #888787;
    margin-bottom: 3px;
    color: #000;  
    font-size: 13px;
    line-height: 15px;
    font-family: Tahoma, sans-serif;
    text-shadow: 1px 1px 0 #fff;
}
.category_text img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.gallery_view {
    text-align: center;
}
.gallery_view img {
    width: 600px;
    height: auto;
}
.gallery {text-align: center;}
.gallery img {border: 1px solid #fff;}
.gallery li {margin: 5px; list-style-type: none;}

.categories {
    -moz-column-count: 7;
    /*-moz-column-width: 170px;*/
    -moz-column-gap: 10px;
    -webkit-column-count: 7;
    /*-webkit-column-width: 100px;*/
    -webkit-column-gap: 10px;
    column-count: 7;
    /*column-width: 170px;*/
    column-gap: 10px;
    /*margin: 0;*/
    /*padding: 0;*/
}
.categories a {
    color: #000;
}
.categories a:hover, .categories .active a {
    color: #600;
}
.categories .active a {text-decoration: underline;}