/* ::::: http://dior-perfume.hitsale.net/css/main.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { counter-reset: heading; line-height: 1.1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
input { -moz-appearance: none; }
*, *::after, *::before { box-sizing: border-box; }
body { margin: 0px; }
[class*="col-"] { float: left; padding-right: 1em; position: relative; }
.row { width: 100%; position: relative; }
.row::after { content: ""; display: table; clear: both; }
.push-right { float: right; }
.col-2-3, .col-8-12 { width: 66.66%; }
.col-1-2, .col-6-12 { width: 50%; }
.col-1-3, .col-4-12 { width: 33.33%; }
.col-1-4, .col-3-12 { width: 25%; }
.col-9-12 { width: 75%; }
.push-1-2, .push-6-12 { margin-left: 50%; }
.push-1-3, .push-4-12 { margin-left: 33.33%; }
@media handheld, only screen and (max-width: 600px) {
	.row { width: 100%; min-width: 0px; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 10px; }
	[class*="col-"] { width: auto; float: none; margin: 10px 0px; padding-left: 0px; padding-right: 10px; }
}
.image { width: 100%; }
body { margin: 0px; color: rgb(66, 66, 66); opacity: 0.99; font: 400 15px/1.4 "Open Sans",sans-serif; padding: 0px; width: 100%; position: relative; }
h1, h2, h3 { font-weight: normal; }
.btn { display: block; width: 100%; text-align: center; text-decoration: none; border: 0px none; cursor: pointer; text-transform: uppercase; font-weight: 700; margin: 0.9em auto; padding: 0.6em 0px; }
.wrapper { position: relative; width: 96%; max-width: 980px; margin: 0px auto; padding: 0px 2%; }
header { background: rgb(15, 14, 10) url('header.jpg') no-repeat scroll 50% 0px; height: 470px; }
header .wrapper { background: transparent url('header-img.png') no-repeat scroll 0px 180%; height: 100%; }
.logo { height: 100%; text-align: center; }
.sale-block { height: 100%; }
.sale-block img { position: absolute; bottom: 0px; }
.block { padding-top: 3em; position: relative; height: 470px; overflow: hidden; }
.cart { width: 100%; position: absolute; top: 100%; transition: all 0.6s ease-in 0.2s; }
.cart-item { background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; padding: 1em; }
#item1 { background: rgb(184, 140, 55) url('gold.jpg') no-repeat scroll 50% 0px / cover ; padding-top: 1em; }
#item2 { background: rgb(250, 236, 236) none repeat scroll 0% 0%; }
#item3 { background: rgb(199, 201, 211) none repeat scroll 0% 0%; }
.block-image { height: 100%; }
.block-image img { position: absolute; bottom: 0px; left: 0px; }
.descript { text-align: center; }
#item2 .descript img { margin-bottom: 1.6em; margin-top: 3em; }
#item3 .descript img { margin-bottom: 1em; margin-top: 3em; }
#item1 .descript, #item3 .descript, #item1 .cart-item, #item3 .cart-item { float: right; }
.item-title { font-size: 1.2em; }
.item-photo { margin-bottom: -2em; }
.action-text { margin-top: 1em; font-weight: bold; color: rgb(106, 61, 105); }
.action-btn, .cart .btn { border: 2px solid rgb(106, 61, 105); color: rgb(106, 61, 105); max-width: 240px; }
.action-btn:hover, .cart .btn:hover { background: rgb(106, 61, 105) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.title { text-transform: uppercase; text-align: center; font-weight: 700; margin: 1em 0px; font-size: 2em; }
.bg { padding: 3em 0px; background: transparent radial-gradient(ellipse at center top , rgb(247, 210, 113) 0%, rgb(189, 146, 61) 100%) repeat scroll 0% 0%; color: rgb(66, 58, 76); }
.text-center { text-align: center; }
.kit-item { text-align: center; margin-top: 1em; border: 1px solid rgb(252, 211, 113); padding: 1em; }
.kit-item .btn { border: 2px solid rgb(14, 13, 9); max-width: 180px; color: rgb(14, 13, 9); }
.kit-item .btn:hover { background: rgb(14, 13, 9) none repeat scroll 0% 0%; color: rgb(248, 204, 99); }
.kit-title { font-weight: bold; color: rgb(255, 244, 203); text-transform: uppercase; font-size: 1.4em; text-align: center; margin-top: 2em; }
.kit-info { position: absolute; }
.kit-info::after, .kit-info::before { content: ""; display: block; transition: all 0.4s ease-in-out 0.1s; opacity: 0; top: 110%; position: absolute; width: 83px; height: 56px; background: transparent url('arrow.png') no-repeat scroll 0% 0%; }
.kit-info::before { background-position: 0px 0px; left: 0px; }
.kit-info::after { background-position: 100% 0px; right: 0px; top: 96%; }
.bg:hover .kit-info::after, .bg:hover .kit-info::before { opacity: 0.7; }
.testimonials { padding: 1em 0px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.testimonials .row { margin: 2em 0px; }
.message { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 14px; text-align: justify; position: relative; margin: 0px 1em 0px 0px; padding: 1em; min-height: 170px; border-bottom: 2px solid rgb(170, 170, 170); }
.message .auth { text-align: right; font-size: 0.9em; position: absolute; right: 0.4em; bottom: 0.4em; }
.message .raiting { width: 100px; height: 20px; margin: 2px auto 5px; background: transparent url('star.png') repeat-x scroll 0% 0%; }
.feature-block { background: transparent url('we.jpg') no-repeat scroll 50% 0px / cover ; color: rgb(255, 255, 255); padding: 3em 0px; }
.feature-list li { margin-bottom: 1em; position: relative; }
.feature-list li h3 { font-weight: bold; font-size: 1.2em; }
.feature-list li::before { content: ""; display: block; position: absolute; top: 0px; left: -42px; width: 32px; height: 32px; background: transparent url('icon.png') no-repeat scroll 0% 0%; }
.feature-list li:nth-child(2)::before { background-position: -32px 0px; }
.feature-list li:nth-child(3)::before { background-position: -64px 0px; }
.feature-list li:nth-child(4)::before { background-position: -96px 0px; }
.feature-list li:nth-child(5)::before { background-position: -128px 0px; }
.shop-block { background: rgb(14, 13, 9) none repeat scroll 0% 0%; padding: 2em 0px; color: rgb(238, 238, 238); }
.shop-block .title { color: rgb(242, 202, 124); }
.item { text-align: center; position: relative; z-index: 2; }
.item::before { content: ""; display: block; position: absolute; z-index: -1; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; width: 0px; height: 0px; border-radius: 50%; transition: all 0.5s ease-in 0.1s; background: transparent url('light.png') no-repeat scroll 50% 50% / cover ; }
.item:hover::before { width: 100%; height: 100%; }
.item .btn { color: rgb(240, 186, 75); border: 1px solid rgb(240, 186, 75); max-width: 180px; transition: all 0.5s ease-in 0.1s; }
.item .btn:hover { color: rgb(14, 13, 9); background: rgb(240, 186, 75) none repeat scroll 0% 0%; }
.old-price { text-decoration: line-through; }
.new-price { font-size: 1.4em; font-weight: bold; }
.popup { display: none; position: fixed; z-index: 99; padding: 5px; width: 40%; left: 50%; margin-left: -20%; top: 10%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); }
.popup p { margin: 0px 1em 1em; text-align: justify; }
.popup h2 { font-size: 1.6em; margin: 1em; }
.popup .title { font-size: 2em; margin: 4px; }
.cross { width: 2em; height: 2em; text-decoration: none; background: transparent url('close.png') no-repeat scroll 50% 50%; overflow: hidden; text-indent: -999px; position: absolute; top: 3px; right: 3px; }
.product_form { text-align: center; }
.product_form form { width: 80%; margin: 0px 10%; }
.table_form { width: 100%; }
.table_form tr td:nth-child(1) { width: 25%; text-align: right; vertical-align: middle; padding: 0.4em; }
.table_form tr td:nth-child(2) { width: 75%; }
input[type="text"], textarea { padding: 1em; border: 1px solid rgb(153, 153, 153); width: 100%; }
textarea { resize: none; }
.submit { font-size: 1.2em; background: rgb(248, 204, 99) none repeat scroll 0% 0%; max-width: 220px; color: rgb(96, 80, 57); }
.submit:hover { outline: 2px solid rgb(248, 204, 99); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); }
footer { text-align: center; color: rgb(180, 147, 67); background: rgb(14, 13, 9) none repeat scroll 0% 0%; padding: 3em 0px; }
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
	.logo img { width: 100%; }
	.block { height: 460px; }
	.descript img { width: 100%; }
	.popup { width: 80%; margin: 0px 10%; left: 0px; }
}
@media screen and (max-width: 480px) {
	.popup { width: 100%; margin: 0px; }
	.block { height: auto; }
	.no-mobile { display: none; }
	#item1 .cart-item, #item3 .cart-item { float: none; }
	header { height: 360px; background: rgb(15, 14, 10) none repeat scroll 0% 0%; }
	header .wrapper { background-position: 50% 100%; background-size: 150% auto; }
	.kit-block div:nth-child(2) { float: none; }
	.message { margin: 0px; }
	.testimonials .row, .testimonials .row > div { padding: 0px; }
	.kit-info { position: static; }
	.kit-info::after, .kit-info::before { display: none; }
}
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatexreehhji4geuji9ob_ak4.woff2') format("woff2");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5uvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzoxreehhji4geuji9ob_ak4.woff2') format("woff2");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbhlwxqbncfnuwupk3ynjtoi.woff2') format("woff2");
}
