{header.html}
<div id="app" class="container mt-3">
	<div class="card">
		<div class="card-body">
			<div class="card-text"><b>Калькулятор дебиторки</b></div>
			<form @submit="submitCalculator" method="post" novalidate="true" class="mt-3">
				<div class="row">
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Сумма договора</label>
						<input type="text" class="form-control" v-model="contractSum" @change="checkContractSum" v-bind:class="contractSumClass">
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Сумма ежемесячного платежа</label>
						<input type="text" class="form-control" v-model="monthlySum" @change="checkMonthlySum" v-bind:class="monthlySumClass">
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Сумма предоплаты</label>
						<input type="text" class="form-control" v-model="prepaidSum" @change="checkPrepaidSum" v-bind:class="prepaidSumClass">
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Количество месяцев рассрочки</label>
						<input type="text" class="form-control" v-model="months" @change="checkMonths" v-bind:class="monthsClass">
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Дата предоплаты</label>
						<input type="text" class="form-control" v-model="prepaidDate" @change="checkPrepaidDate" v-bind:class="prepaidDateClass" v-mask="'####-##-##'" placeholder="YYYY-MM-DD">
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Дата первой оплаты</label>
						<input type="text" class="form-control" v-model="firstPayDate" @change="checkFirstPayDate" v-bind:class="firstPayDateClass" v-mask="'####-##-##'" placeholder="YYYY-MM-DD">
					</div>
					<div class="col-12" style="text-align: right;">
						<button type="submit" :disabled='disabledSubmitCalculator' class="btn btn-warning"><span v-if="showSpinner" class="spinner-grow spinner-grow-sm"></span> Далее <i class="fas fa-arrow-right"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal fade" id="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Информация</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ response }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
</div>
{footer_scripts.html}
<script type="text/javascript">
	Vue.use(VueMask.VueMaskPlugin);
	const app = new Vue({
		el: '#app',
		data: {
			errors: [],
			// значение суммы долга
			contractSum: 100000,
			// класс дапазона суммы долга
			contractSumClass: null,
			// подсказка валидации суммы долга
			contractSumFeedback: null,
			// значение суммы ежемесячного платежа
			monthlySum: 100000,
			// класс дапазона суммы ежемесячного платежа
			monthlySumClass: null,
			// значение предоплаты
			prepaidSum: 10000,
			// класс предоплаты
			prepaidSumClass: null,
			// дата предоплаты
			prepaidDate: null,
			// класс даты предоплаты
			prepaidDateClass: null,
			// дата первой оплаты
			firstPayDate: null,
			// класс даты первой оплаты
			firstPayDateClass: null,
			// количество месяцев рассрочки
			months: 10,
			// класс количества месяцев рассрочки
			monthsClass: null,
			// показывать ошибки валидации
			showFeedbacks: false,
			// показывать спиннер загрузки
			showSpinner: false,
			// ответ сервера
			response: null,
			// деактивировать кнопку сабмитт
			disabledSubmitCalculator: false,
		},
		methods: {
			checkForm: function () {
				if (this.checkContractSum() && 
					this.checkMonthlySum() && 
					this.checkPrepaidSum() && 
					this.checkMonths() &&
					this.checkPrepaidDate() &&
					this.checkFirstPayDate()
					) {
					return true;
				} else {
					return false;
				}
			},
			checkContractSum: function() {
				if (this.contractSum > 0) {
					this.contractSumClass = {'is-valid': true};
					this.contractSumFeedback = null;
					return true;
				} else {
					this.contractSumClass = {'is-invalid': true};
					this.contractSumFeedback = 'Укажите сумму договора';
					return false;
				}
			},
			checkMonthlySum: function() {
				if (this.monthlySum > 0) {
					this.monthlySumClass = {'is-valid': true};
					return true;
				} else {
					this.monthlySumClass = {'is-invalid': true};
					return false;
				}
			},
			checkPrepaidSum: function() {
				if (this.prepaidSum > 0) {
					this.prepaidSumClass = {'is-valid': true};
					return true;
				} else {
					this.prepaidSumClass = {'is-invalid': true};
					return false;
				}
			},
			checkMonths: function() {
				if (this.months > 0) {
					this.monthsClass = {'is-valid': true};
					return true;
				} else {
					this.monthsClass = {'is-invalid': true};
					return false;
				}
			},
			checkDate: function(date) {
				var re = /^([0-9]+){4,4}\-([0-9]+){2,2}\-([0-9]+){2,2}$/;
				alert(re.test(date));
				return re.test(date);
			},
			checkPrepaidDate: function(date) {
				this.prepaidDateClass = {'is-valid': this.checkDate(date)?true:false};
			},
			checkFirstPayDate: function(date) {
				this.firstPayDateClass = {'is-valid': this.checkDate(date)?true:false};
			},
			submitCalculator: function(e) {
				e.preventDefault();
				if (!this.checkForm()) {
					this.showFeedbacks = true;
					return false;
				}
				this.showSpinner = true;
				this.disabledSubmitCalculator = true;
				// axios
				// .post('/api/submitCalculator',this.$data)
				// .then((response) => {
				// 	this.modalMessage('Спасибо ' + response.data.firstName + '. Дальнейшие инструкции отправлены вам по электронной почте.');
				// })
				// .catch((response) => {
				// 	this.modalMessage('Произошла ошибка: ' + response.response.data.message);
				// });
			},
			modalMessage: function(message) {
				this.response = message;
				modal.show();
				this.showSpinner = false;
			}
		}
	});

	// корректно работает только если стоит после инициализации vue
	var modal = new bootstrap.Modal(document.getElementById('modal'));
</script>
{footer.html}