{header.html}
<div id="app" class="container">
	<div class="row">
		<div class="col-6">
			<h1 class="display-5"><i class="fas fa-university"></i> Банкротство онлайн</h1>
		</div>
		<div class="col-6 mt-2 text-end">
			<span class="display-6"><i class="fas fa-mobile-alt"></i> +7 (3412) 277-501</span>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div v-if="showStep1Form" class="card-text">Заполните форму и узнайте, можете ли вы воспользоваться процедурой банкротства согласно ФЗ 127, чтобы списать свои долги. Наш сервис дает возможность пройти процедуру онлайн, без обращения к дорогостоящим юристам.</div>
			<form v-if="showStep1Form" @submit="submitStep1" action="/api/submitStep1" method="post" novalidate="true" class="mt-3">
				<div class="row">
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Имя</label>
						<input type="text" class="form-control" v-model="firstName" name="firstName" @input="checkInputFirstName" v-bind:class="firstNameClass">
						<div v-if="showFeedbacks && firstNameFeedback" class="invalid-feedback">
							{{ firstNameFeedback }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Фамилия</label>
						<input type="text" class="form-control" v-model="lastName" name="lastName" @input="checkInputLastName" v-bind:class="lastNameClass">
						<div v-if="showFeedbacks && lastNameFeedback" class="invalid-feedback">
							{{ lastNameFeedback }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Адрес электронной почты</label>
						<input type="email" class="form-control" v-model="email" name="email" v-bind:class="emailClass" @input="checkInputEmail">
						<div v-if="showFeedbacks && emailFeedback" class="invalid-feedback">
							{{ emailFeedback }}
						</div>
						<!-- <div class="form-text">Мы не передаем данные пользователя третьим лицам</div> -->
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Мобильный телефон</label>
						<input type="text" class="form-control" v-model="phone" name="phone" v-mask="'+7 (###) ###-##-##'" v-bind:class="phoneClass" @input="checkInputPhone">
						<div v-if="showFeedbacks && phoneFeedback" class="invalid-feedback">
							{{ phoneFeedback }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Сумма долга: {{ debt }} рублей <span v-if="debt == 1000000">или более</span></label>
						<input type="range" class="form-range" min="0" max="1000000" step="1000" v-model="debt" @change="checkDebt" v-bind:class="debtClass">
						<div v-if="showFeedbacks && debtFeedback" class="invalid-feedback">
							{{ debtFeedback }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 mb-3">
						<label class="form-label">Почему не можете платить?</label>
						<select class="form-select" v-model="reason" name="reason" @change="checkReason" v-bind:class="reasonClass">
							<option value="" selected>Выберите из списка</option>
							<option value="Уволили с работы">Уволили с работы</option>
							<option value="Рождение ребенка">Рождение ребенка</option>
							<option value="Потеря кормилица">Потеря кормилица</option>
							<option value="Не хватает зарплаты">Не хватает зарплаты</option>
							<option value="Другое">Другое</option>
						</select>
						<div v-if="showFeedbacks && reasonFeedback" class="invalid-feedback">
							{{ reasonFeedback }}
						</div>
						<div class="mt-3" v-if="reason == 'Другое'">
							<input type="text" class="form-control" v-model="otherReason" v-bind:class="otherReasonClass" @input="checkOtherReason" placeholder="Опишите кратко почему не можете платить">
							<div v-if="showFeedbacks && otherReasonFeedback" class="invalid-feedback">
								{{ otherReasonFeedback }}
							</div>
						</div>
					</div>
					<!-- <div class="col-xs-12 col-sm-6 mb-3 form-check">
						<input id="agreement" type="checkbox" class="form-check-input" v-model="agreement">
						<label for="agreement" class="form-check-label">Я принимаю пользовательское соглашение</label>
					</div> -->
					<div class="col-12" style="text-align: right;">
						<button type="submit" :disabled='disabledSubmitStep1' class="btn btn-warning"><span v-if="showSpinner" class="spinner-grow spinner-grow-sm"></span> Далее <i class="fas fa-arrow-right"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div v-if="showAgreement" class="col-12">
			<a href="/?r=Main/agreement">Пользовательское соглашение</a>
			<br>
			<a href="/?r=Main/refund">Политика возвратов</a>	
		</div>
	</div>
	<div class="modal fade" id="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Информация</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ response }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
</div>
{footer_scripts.html}
<script type="text/javascript">
	Vue.use(VueMask.VueMaskPlugin);
	const app = new Vue({
		el: '#app',
		data: {
			errors: [],
			// значение инпута почты
			email: null,
			// класс инпута почты
			emailClass: null,
			// подсказка инпута почты
			emailFeedback: null,
			// значение селектора причины
			reason: '',
			// класс селектора причины
			reasonClass: null,
			// подсказка валидации причины
			reasonFeedback: null,
			// значение селектора причины
			otherReason: '',
			// класс селектора причины
			otherReasonClass: null,
			// подсказка валидации причины
			otherReasonFeedback: null,
			// значение инпута имени
			firstName: null,
			// класс инпута имени
			firstNameClass: null,
			// подсказка валидации имени
			firstNameFeedback: null,
			// значение инпута фамилии
			lastName: null,
			// класс инпута фамилии
			lastNameClass: null,
			// подсказка валидации фамилии
			lastNameFeedback: null,
			// значение телефона
			phone: '+7',
			// класс инпута телефона
			phoneClass: null,
			// подсказка валидации телефона
			phoneFeedback: null,
			// значение суммы долга
			debt: 250000,
			// класс дапазона суммы долга
			debtClass: null,
			// подсказка валидации суммы долга
			debtFeedback: null,
			// значение чекбокса соглашения с условиями польз соглаш
			agreement: null,
			// показывать ошибки валидации
			showFeedbacks: false,
			// показывать форму 1 шага
			showStep1Form: true,
			// показывать польз соглаш
			showAgreement: true,
			// показывать спиннер загрузки
			showSpinner: false,
			// ответ сервера
			response: null,
			// деактивировать кнопку сабмитт
			disabledSubmitStep1: false,
			// email: 'mas90@mail.ru',
			// phone: '+7 (999) 999-99-99',
			// firstName: 'Кирилл',
			// lastName: 'Кириллкин',
			// reason: 'Уволили с работы'
		},
		methods: {
			checkForm: function () {
				if (this.checkInputFirstName() && 
					this.checkInputLastName() && 
					this.checkInputPhone() && 
					this.checkInputEmail() && 
					this.checkReason() &&
					this.checkDebt() &&
					this.checkOtherReason()) {
					return true;
				} else {
					return false;
				}
			},
			validEmail: function (email) {
				var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			},
			validPhone: function (phone) {
				var re = /^\+7 \(([0-9]+){3,3}\) ([0-9]+){3,3}\-([0-9]+){2,2}\-([0-9]+){2,2}$/;
				return re.test(phone);
			},
			checkInputPhone: function() {
				if (this.validPhone(this.phone)) {
					this.phoneClass = {'is-valid': true};
					this.phoneFeedback = null;
					return true;
				} else {
					this.phoneClass = {'is-invalid': true};
					this.phoneFeedback = 'Укажите корректный номер телефона';
					return false;
				}
			},
			checkInputEmail: function() {
				if (this.validEmail(this.email)) {
					this.emailClass = {'is-valid': true};
					this.emailFeedback = null;
					return true;
				} else {
					this.emailClass = {'is-invalid': true};
					this.emailFeedback = 'Укажите корректный адрес электронной почты';
					return false;
				}
			},
			checkInputFirstName: function() {
				if (this.firstName && this.firstName.length > 1) {
					this.firstNameClass = {'is-valid': true};
					this.firstNameFeedback = null;
					return true;
				} else {
					this.firstNameClass = {'is-invalid': true};
					this.firstNameFeedback = 'Укажите имя';
					return false;
				}
			},
			checkInputLastName: function() {
				if (this.lastName && this.lastName.length > 1) {
					this.lastNameClass = {'is-valid': true};
					this.lastNameFeedback = null;
					return true;
				} else {
					this.lastNameClass = {'is-invalid': true};
					this.lastNameFeedback = 'Укажите фамилию';
					return false;
				}
			},
			checkReason: function() {
				if (this.reason && this.reason.length > 1) {
					this.reasonClass = {'is-valid': true};
					this.reasonFeedback = null;
					return true;
				} else {
					this.reasonClass = {'is-invalid': true};
					this.reasonFeedback = 'Выберите причину из списка';
					return false;
				}
			},
			checkOtherReason: function() {
				if (this.reason != 'Другое') {
					return true;
				}
				if (this.otherReason && this.otherReason.length > 1) {
					this.otherReasonClass = {'is-valid': true};
					this.otherReasonFeedback = null;
					return true;
				} else {
					this.otherReasonClass = {'is-invalid': true};
					this.otherReasonFeedback = 'Укажите причину';
				}	
			},
			checkDebt: function() {
				if (this.debt > 0) {
					this.debtClass = {'is-valid': true};
					this.debtFeedback = null;
					return true;
				} else {
					this.debtClass = {'is-invalid': true};
					this.debtFeedback = 'Укажите сумму долга';
					return false;
				}
			},
			submitStep1: function(e) {
				e.preventDefault();
				if (!this.checkForm()) {
					this.showFeedbacks = true;
					return false;
				}
				this.showSpinner = true;
				this.disabledSubmitStep1 = true;
				axios
				.post('/api/submitStep1',this.$data)
				.then((response) => {
					this.modalMessage('Спасибо ' + response.data.firstName + '. Дальнейшие инструкции отправлены вам по электронной почте.');
				})
				.catch((response) => {
					this.modalMessage('Произошла ошибка: ' + response.response.data.message);
				});
			},
			modalMessage: function(message) {
				this.response = message;
				modal.show();
				this.showSpinner = false;
			}
		}
	});

	// корректно работает только если стоит после инициализации vue
	var modal = new bootstrap.Modal(document.getElementById('modal'));
</script>
{footer.html}