.articles {

}

.articles a {
	display: block;
	color: #212529;
	/*overflow: hidden;*/
}

.articles .active {
	font-weight: bold;
}

.previews img {
	width: 100px;
	height: auto;
	margin: 5px;
}

.previews .active {
	/*padding: 2px;*/
	border: 2px solid yellow;
}

.select-previews {
	display: none;
}