body {
	background: url(/template/promo/brand/pornozvezda.jpg) center top no-repeat #000;
}

.brand_link {
	width: 100%;
	height: 730px;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}

#wrapper {
	z-index: 2;
	margin-top: 200px;
}

.top {
	z-index: 4;
}

#header {
	z-index: 3;
	background: url(/template/images/header_bg.png) repeat-x;
}

#wrapper {
	background-color: #000;
	border: 1px solid #888;
	border-radius: 4px;
}

.sidebar_title a {
	display: block;
	background: url(/template/images/sidebar_title_logo.png) no-repeat left 15px;
	font-family: Tahoma, sans-serif;
	padding-left: 25px;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffc21a;
	font-weight: bold;
	margin-left: 10px;
}