* { margin:0; padding:0; border:0; outline:none; }
body,input,textarea,button { font-family:'Roboto',arial,sans-serif; line-height:1.25; font-size:14px; color:#333; }
input[type="text"],input[type="submit"],button,textarea,select { -webkit-appearance:none; }
li { list-style:none; }
h2,h3,h4,h5,h6 { font-size:inherit; font-weight:inherit; }
h1 { padding:30px 0 52px; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; font-size:30px; font-weight:400; text-align:center; background:url(../img/arrow-title.png) no-repeat center bottom; margin-bottom:35px; }
h1 span { font-size:38px; color:#b90c0c; text-decoration:underline; }


.container { width:1170px; margin:0 auto; }
.clearfix { clear:both; }
.pull-left { float:left; }
.pull-right { float:right; }
.form-group {width: 100%;margin:0 auto;}
.form-group label { display:block; padding:7px 0; color:#888; }
.form-group input[type="text"],
.form-group select {border:1px solid #888;background:#fff;display:block;-moz-border-radius:5px;border-radius:5px;width: 100%;height:40px;padding:0 15px;box-sizing:border-box;}
.form-group input[type="text"]:focus,
.form-group select:focus { border-color:#f4c50a; }
.errField {display:none;font-size: 14px;background: #f00;color: #fff;text-align: center;padding: 10px;margin-top: 10px;border-radius: 5px;}
.btn { background:url(../img/btn.png) no-repeat 0 0; width:300px; height:63px; font-size:32px; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; text-align:center; line-height:59px; color:#fff; text-decoration:none; cursor:pointer; text-transform:uppercase; display:block; text-shadow:2px 2px 0 #7f0808; box-sizing:border-box; }
button.btn { padding-bottom:5px; }
.btn:hover { background-position:0 center; }
.btn:focus { background-position:0 bottom; padding-top:1px; }
button.btn:focus { padding-bottom:4px; }


.navigation { background:#fff; border-bottom:2px solid #e0e0e0; position:fixed; left:0; top:0; width:100%; z-index:111; }
.navigation .logo { padding:22px 0; }
.navigation .logo img { vertical-align:bottom; }
.navigation ul { padding-top:29px; }
.navigation ul li { float:left; font-size:13px; padding:0 15px; }
.navigation ul li a { text-decoration:none; color:#000; }
.navigation ul li a:hover { text-decoration:underline; }


.header { background:#f8f8f8 url(../img/header.jpg) repeat-x 0 bottom; height:580px; padding-top:77px; }
.header .left-side { padding-top:38px; width:780px; }
.header .left-side h2 { text-align:center; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; font-size:37px; color:#000; background:url(../img/title.png) no-repeat center bottom; line-height:.8; padding-bottom:37px; position:relative; z-index:2; }
.header .left-side .text { background:#fff; -moz-border-radius:5px; border-radius:5px; margin:0 176px; padding:10px 15px 9px; text-align:justify; color:#000; box-shadow:0 0 12px #a1a1a1; margin-top:-3px; }
.header .left-side .auto { position:relative; margin-top:68px; margin-left:13px; }
.header .left-side .auto img { vertical-align:bottom; }
.header .left-side .auto .arrow { position:absolute; background:url(../img/arrow.png) no-repeat 32px bottom; font-size:24px; color:#555353; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; text-transform:uppercase; padding-bottom:168px; top:-38px; }
.header .left-side .auto .arrow span { display:inline-block; vertical-align:bottom; background:url(../img/dashed.png) repeat-x 0 bottom; }
.header .right-side { width:388px; text-align:center; padding:47px 0 0; }
.header .right-side .product img { vertical-align:bottom; }
.header .right-side .price { padding-top:17px; padding-bottom:44px; text-align:center; color:#000; }
.header .right-side .price p { font-size:24px; font-weight:300; padding-bottom:4px; }
.header .right-side .price div { font-size:36px; font-weight:700; line-height:42px; padding-top:5px; }
.header .right-side .price div span { font-size:18px; font-weight:400; padding-left:5px; }
.header .right-side .btn { margin:0 auto; }


.pluses { padding-bottom:50px; }
.pluses .left-side { padding-top:45px; width:680px; }
.pluses .left-side .item { display:inline-block; vertical-align:middle; padding:0 45px 15px 0; }
.pluses .left-side .item:nth-child(2n) { padding-right:0; }
.pluses .left-side .item span { width:97px; text-align:center; display:inline-block; vertical-align:middle; }
.pluses .left-side .item div { display:inline-block; vertical-align:middle; width:195px; padding:0 0 0 5px; }
.pluses .video { width:486px; }
.pluses .video iframe { display:block; width:100%; height:274px; }


.results { background:url(../img/bg.jpg); color:#fff; }
.results .container { position:relative; padding:0 0 50px; }
.results h1 { background-image:url(../img/arrow-title2.png); }
.results h1 span { color:#f4c50a; }
.results .item { width:329px; padding:0 30px 60px; }
.results .item img { vertical-align:middle; display:inline-block; }
.results .item div { vertical-align:middle; display:inline-block; width:239px; padding:0 0 0 15px; }
.results .item.big { width:auto; padding:0 0 70px 210px; }
.results .item.big div { width:676px; }
.results .btn { margin:0 auto; }
.results .auto { position:absolute; bottom:-38px; right:-60px; }


.about { padding:74px 0 70px; }
.about .content { border:3px solid #d9d9d9; margin:0 193px 0 98px; padding:50px 50px 22px 15px; position:relative; }
.about .content .logo { position:absolute; top:-40px; width:336px; background:#fff; text-align:center; margin:0 auto; left:0; right:0; }
.about .content .product { position:absolute; right:-130px; top:58px; }
.about .content .product img { width:162px; }


.reviews { background:url(../img/bg.jpg); padding-bottom:50px; min-height:358px; }
.reviews h1 { background-image:url(../img/arrow-title2.png); color:#fff; }
.reviews h1 span { color:#f4c50a; }
.reviews .item { padding:0 255px; overflow:hidden; }
.reviews .item img { float:left; }
.reviews .item div { margin:0 0 0 163px; }
.reviews .item div p { background:#eaeaea; border-radius:5px; -moz-border-radius:5px; padding:13px 20px; }
.reviews .item div span { display:block; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; font-size:24px; color:#fff; padding:12px 0 0; }
.reviews .flexslider { position:relative; }
.reviews .flexslider .slides li { display:none; }
.reviews .flex-control-nav { display:none; }
.reviews .flex-direction-nav a { background:url(../img/arrows.png) no-repeat 0 0; display:block; width:40px; height:40px; position:absolute; z-index:3; top:44px; }
.reviews .flex-direction-nav a.flex-prev { left:195px; }
.reviews .flex-direction-nav a.flex-next { background-position:right 0; right:195px; }
.reviews .flex-direction-nav a.flex-prev:hover { background-position:0 bottom; }
.reviews .flex-direction-nav a.flex-next:hover { background-position:right bottom; }


.photos { text-align:center; padding:35px 0 10px; }
.photos img { display:inline-block; vertical-align:top; margin:0 11px 25px; }


.usage { background:url(../img/bg.jpg); color:#fff; }
.usage .container { position:relative; padding-bottom:50px; }
.usage h2 { font-size:30px; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; text-transform:uppercase; padding:30px 0 34px; }
.usage h2 span { font-size:38px; color:#f4c50a; text-decoration:underline; }
.usage .item-box { padding-right:486px; }
.usage .item-box div { display:inline-block; vertical-align:top; padding:0 40px 20px 0; }
.usage .item-box div span { display:inline-block; vertical-align:middle; width:50px; height:50px; line-height:50px; border:3px solid #f4c50a; -moz-border-radius:50%; border-radius:50%; text-align:center; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; font-size:30px; }
.usage .item-box div p { display:inline-block; vertical-align:middle; width:183px; text-transform:uppercase; font-weight:700; padding:0 0 0 14px; }
.usage .item-box .btn { display:inline-block; }
.usage .product { position:absolute; right:15px; bottom:-30px; width:542px; }
.usage .product div { color:#fae3a4; font-size:12px; padding-left:130px; margin-top:-27px; }


.questions { padding:25px 0 50px; }
.questions .side { width:570px; }
.questions .question { padding-bottom:20px; }
.questions .question div { font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; padding:0 0 8px 10px; font-size:16px; color:#000; }
.questions .question div span { color:#8c8c8c; padding-left:15px; }
.questions .question p { background:#f2f1f1; padding:5px 15px; -moz-border-radius:5px; border-radius:5px; }
.questions .answer { padding-bottom:20px; padding-left:20px; }
.questions .answer div { font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; padding:0 0 8px 10px; font-size:16px; color:#000; }
.questions .answer div span { padding-left:15px; color:#8c8c8c; }
.questions .answer p { background:#fff4d0; padding:5px 15px; -moz-border-radius:5px; border-radius:5px; }


.footer { background:#f8f8f8; padding-bottom:35px; }
.footer h2 { padding:37px 0 0; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; font-size:30px; text-align:center; color:#000; }
.footer h2 span { text-decoration:underline; color:#b90c0c; font-size:38px; }
.footer .left-side { width:780px; padding:145px 0 0; }
.footer .left-side .auto { position:relative; padding:0 0 0 42px; }
.footer .left-side .auto img { vertical-align:bottom; }
.footer .left-side .auto .arrow { position:absolute; background:url(../img/arrow.png) no-repeat 32px bottom; font-size:24px; color:#555353; font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; text-transform:uppercase; padding-bottom:168px; top:-38px; left:0; }
.footer .left-side .auto .arrow span { display:inline-block; vertical-align:bottom; background:url(../img/dashed.png) repeat-x 0 bottom; }
.footer .left-side .auto .product { position:absolute; right:10px; top:25px; }
.footer .right-side { width:345px; }
.footer .right-side .price { padding-top:25px; padding-bottom:15px; text-align:center; color:#000; }
.footer .right-side .price p { font-size:24px; font-weight:300; padding-bottom:4px; }
.footer .right-side .price div { font-size:36px; font-weight:700; line-height:42px; padding-top:5px; }
.footer .right-side .price div span { font-size:18px; font-weight:400; padding-left:5px; }
.footer .right-side .btn {margin: 20px auto 0;}
.footer .right-side .countdown { padding-top:25px; text-align:center; }
.footer .right-side .countdown>div { background:#f4c50a; -moz-border-radius:5px; border-radius:5px; display:inline-block; vertical-align:top; width:70px; text-align:center; color:#fff; overflow:hidden; }
.footer .right-side .countdown>b { display:inline-block; padding:0 5px; font-size:39px; color:#262626; line-height:54px; }
.footer .right-side .countdown>div>span { font-family:'DINRoundPro',arial,sans-serif; font-weight: 700; font-size:39px; line-height:54px; height:54px; text-align:center; }
.footer .right-side .countdown>div>p { background:#f7d447; line-height:31px; height:31px; font-size:16px; }


.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; max-width:100%; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }


@media screen and (max-width: 1169px) {
	.container { width:610px; padding-right:15px; padding-left:15px; }
	.navigation .container { width:auto; }
	.mobile { background:url(../img/navigation.png) no-repeat 0 0; width:44px; height:35px; margin-top:20px; }
	.desctop { background:#e0e0e0; display:none; position:absolute; left:0; top:77px; width:100%; }
	.navigation ul { padding:15px 0 7px; }
	.navigation ul li { float:none; padding-bottom:8px; }
	.header { height:auto; padding-bottom:30px; }
	.header .left-side { width:auto; float:none; }
	.header .left-side h2 { margin-left:30px; margin-right:30px; }
	.header .left-side .text { margin-left:80px; margin-right:80px; }
	.header .left-side .auto { margin-left:0; }
	.header .left-side .auto img { width:610px; }
	.header .right-side { width:auto; float:none; padding:47px 0 0; }
	.header .right-side .price { padding-top:17px; padding-bottom:44px; }
	.header .right-side .btn { margin:0 auto; }
	.pluses { padding-bottom:50px; }
	.pluses .left-side { padding-top:0; width:auto; float:none; }
	.pluses .left-side .item { padding:0 20px 15px 0; }
	.pluses .left-side .item div { width:185px; padding:0 0 0 5px; }
	.pluses .video { padding-top:20px; width:auto; float:none; }
	.pluses .video iframe { display:block; width:100%; height:342px; }
	.results .container { padding-bottom:30px; }
	.results .item { width:190px; padding:0 10px 40px 0; text-align:center; font-weight:700; font-size:13px; }
	.results .item img { height:64px; }
	.results .item div { display:block; width:auto; padding:15px 0 0; }
	.results .item.big { width:auto; padding:0 0 40px; }
	.results .item.big div { width:auto; }
	.results .auto { padding-top:40px; text-align:center; position:static; margin-bottom:-70px; }
	.about { padding:64px 0 30px; }
	.about .content { margin:0 100px 0 0; padding:30px 70px 22px 15px; }
	.about .content .logo { top:-20px; width:170px; }
	.about .content .logo img { width:150px; }
	.about .content .product { position:absolute; right:-100px; top:58px; }
	.about .content .product img { width:162px; }
	.reviews .item { padding:0; }
	.reviews .item img { width:132px; margin:0 auto 15px; display:block; float:none; }
	.reviews .item div { margin:0; }
	.reviews .flex-direction-nav a.flex-prev { left:180px; }
	.reviews .flex-direction-nav a.flex-next { right:180px; }
	.photos img { margin:0 5px 15px; height:150px; }
	.usage .item-box { padding-right:0; }
	.usage .product { position:static; margin-top:20px; margin-bottom:-80px; }
	.questions .side { width:auto; float:none; }
	.footer .left-side { width:auto; float:none; padding:75px 0 0; }
	.footer .left-side .auto { padding:30px 0 0; }
	.footer .left-side .auto img { width:500px; }
	.footer .left-side .auto .product img { width:150px; }
	.footer .right-side { width:auto; float:none; }
}


@media screen and (max-width: 639px) {
	h1 { font-size:20px; }
	h1 span { font-size:25px; }
	.container { width:300px; padding-right:10px; padding-left:10px; }
	.header { height:auto; padding-bottom:30px; }
	.header .left-side { width:auto; float:none; }
	.header .left-side h2 { font-size:25px; margin-left:0; margin-right:0; }
	.header .left-side .text { margin-left:10px; margin-right:10px; }
	.header .left-side .auto img { width:300px; }
	.header .left-side .auto .arrow { background:url(../img/arrow-s.png) no-repeat 18px bottom; font-size:16px; padding-bottom:70px; top:-38px; }
	.pluses { padding-bottom:30px; }
	.pluses .left-side .item { padding:0 0 15px; }
	.pluses .video { padding-top:20px; width:auto; float:none; }
	.pluses .video iframe { display:block; width:100%; height:172px; }
	.results .container { padding-bottom:30px; }
	.results .item { width:auto; padding:0 0 40px; text-align:center; font-weight:700; font-size:13px; }
	.results .item.big div { width:auto; }
	.results .auto { padding-top:40px; position:static; margin-bottom:-60px; }
	.results .auto img { width:300px; }
	.about { padding:64px 0 30px; }
	.about .content { margin:0; padding:30px 15px 22px; }
	.about .content .logo { top:-20px; width:170px; }
	.about .content .logo img { width:150px; }
	.about .content .product { display:none; }
	.reviews .flex-direction-nav a.flex-prev { left:30px; }
	.reviews .flex-direction-nav a.flex-next { right:30px; }
	.usage h2 { font-size:20px; }
	.usage h2 span { font-size:25px; }
	.usage .item-box div { padding:0 0 20px; display:block; }
	.usage .product { width:300px; margin-bottom:0; }
	.usage .product img { width:300px; }
	.usage .product div { color:#fae3a4; font-size:12px; padding-left:0; margin-top:0; }
	.questions { padding-top:0; }
	.footer h2 { font-size:20px; }
	.footer h2 span { font-size:25px; }
	.footer .left-side .auto { padding:0; }
	.footer .left-side .auto img { width:300px; }
	.footer .left-side .auto .arrow { background:url(../img/arrow-s.png) no-repeat 18px bottom; font-size:16px; padding-bottom:70px; top:-20px; }
	.footer .left-side .auto .product { right:0; top:40px; }
	.footer .left-side .auto .product img { width:90px; }
	.footer .right-side { width:auto; float:none; }
	.footer .right-side .countdown>div { width:60px; }
	.footer .right-side .countdown>b { font-size:29px; line-height:48px; }
	.footer .right-side .countdown>div>span { font-size:29px; line-height:48px; height:48px; }
	.footer .right-side .countdown>div>p { line-height:29px; height:29px; font-size:14px; }
}

