@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

input[type="checkbox"] {
    -webkit-transition: all .3s;
    width: 40px;
    position: relative;
    visibility: hidden;
}

input[type="checkbox"]:before {
    -webkit-transition: all .3s;
    visibility: visible;
    position: relative;
    display: block;
    width: 80px;
    height: 32px;
    border: 1px solid #313338;
    border-radius: 50px;
    content: "Нет";
    padding-left: 40px;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #eee;
    box-sizing: border-box;
    background: #767676;
    border: 1px solid #eee;
}

input[type="checkbox"]:after {
    -webkit-transition: all .3s;
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: '\f0a9';
    font-family: FontAwesome;
    font-size: 27px;
    color: #fff;
    padding-top: 3px;
    padding-left: 6px;
    box-sizing: border-box;
    display: inline-block;
}

input[type="checkbox"]:checked:before {
    -webkit-transition: all .3s;
    visibility: visible;
    position: relative;
    display: block;
    width: 80px;
    height: 32px;
    border: 1px solid #313338;
    border-radius: 50px;
    content: "Да";
    padding-left: 12px;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #eee;
    box-sizing: border-box;
    background: #0b940b;
    border: 1px solid #eee;
}

input[type="checkbox"]:checked:after {
    -webkit-transition: all .3s;
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 48px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: '\f0a8';
    font-family: FontAwesome;
    font-size: 27px;
    color: #fff;
    padding-top: 3px;
    padding-left: 4px;
    box-sizing: border-box;
    display: inline-block;
}