@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

#wrapper {
  height: 100%;
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
}

.p0 {
  padding: 0;
}

/*------------------------------------- header --------------------------------------*/
header {
  background: url("../img/header_bg.jpg") 0 0 no-repeat;
  background-size: cover;
  min-height: 475px;
}
header .header {
  min-height: 132px;
}
header .header .table_header {
  display: table;
  width: 100%;
  height: 132px;
}
header .header .table_header .table_cell_header {
  display: table-cell;
  vertical-align: middle;
}
header .header .table_header .table_cell_header .logotype {
  text-transform: capitalize;
  color: #fff;
}
header .header .table_header .table_cell_header .logotype:hover {
  color: #E5E5E5;
}
header .header .table_header .table_cell_header .phones {
  display: table;
  width: 100%;
}
header .header .table_header .table_cell_header .phones li {
  float: left;
  width: 33.33333%;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
header .header .table_header .table_cell_header .buy_block {
  display: table;
  width: 100%;
}
header .header .table_header .table_cell_header .buy_block .buy_block_price {
  margin-right: 10px;
  float: left;
}
header .header .table_header .table_cell_header .buy_block .buy_block_btn {
  margin-right: 40px;
  float: left;
}
header .header .table_header .table_cell_header .buy_block .shopping-cart {
  float: left;
  margin-top: 9px;
}
header .header .table_header .table_cell_header .buy_block .shopping-cart i {
  cursor: pointer;
  font-size: 40px;
  color: #fff;
  position: relative;
}
header .header .table_header .table_cell_header .buy_block .shopping-cart i span {
  position: absolute;
  top: -6px;
  right: -10px;
  border-radius: 50%;
  background: #BD0000;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 7px;
  font-family: "Open Sans", sans-serif;
}
header .header .table_header .table_cell_header .buy_block .new_price {
  color: #fff;
}
header .header .table_header .table_cell_header .buy_block .new_price span:first-child {
  font-size: 24px;
  font-weight: 600;
}
header .header .table_header .table_cell_header .buy_block .new_price span:last-child {
  font-size: 14px;
}
header .header .table_header .table_cell_header .buy_block .old_price {
  color: #E5E5E5;
}
header .header .table_header .table_cell_header .buy_block .old_price span:first-child {
  font-size: 16px;
  font-weight: 600;
  text-decoration: line-through;
}
header .header .table_header .table_cell_header .buy_block .old_price span:last-child {
  font-size: 10px;
}
header .header .table_header .table_cell_header .buy_block .buy_button_small {
  margin-top: 9px;
}
header .slider {
  padding: 34px 0;
}
header .slider .prod_img {
  display: table;
  margin: -18px auto -87px auto;
  position: relative;
  padding-right: 40px;
}
header .slider .prod_img img {
  display: block;
  max-width: 100%;
}
header .slider .prod_img .salehitbl {
  position: absolute;
  top: 4px;
  right: -26px;
  width: 181px;
  height: 189px;
  background: url("../img/hit_sales.png") 0 0 no-repeat;
  z-index: 3;
}
header .slider .slider_desc h1 {
  text-transform: uppercase;
  line-height: 124%;
  color: #fff;
  letter-spacing: 1px;
  font-size: 60px;
  padding-bottom: 8px;
}
header .slider .slider_desc h3 {
  line-height: 124%;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 57px;
}
header .slider .slider_desc .buy_block {
  display: table;
  width: 100%;
}
header .slider .slider_desc .buy_block .new_price {
  color: #fff;
}
header .slider .slider_desc .buy_block .new_price span:first-child {
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
}
header .slider .slider_desc .buy_block .new_price span:last-child {
  font-size: 20px;
}
header .slider .slider_desc .buy_block .old_price {
  color: #E5E5E5;
}
header .slider .slider_desc .buy_block .old_price span:first-child {
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}
header .slider .slider_desc .buy_block .old_price span:last-child {
  font-size: 18px;
}
header .slider .slider_desc .buy_block .buy_button_big:hover, header .slider .slider_desc .buy_block .buy_button_big:active {
  border: 3px solid #dedede;
  background: -moz-linear-gradient(top, #C62833, #DE3847);
  background: -webkit-linear-gradient(top, #C62833, #DE3847);
  background: -o-linear-gradient(top, #C62833, #DE3847);
  background: -ms-linear-gradient(top, #C62833, #DE3847);
  background: linear-gradient(top, #C62833, #DE3847);
}
header .slider .slider_desc .buy_block .buy_button_big {
  color: #fff;
  border: 3px solid #fff;
  background: -moz-linear-gradient(top, #DE3847, #C62833);
  background: -webkit-linear-gradient(top, #DE3847, #C62833);
  background: -o-linear-gradient(top, #DE3847, #C62833);
  background: -ms-linear-gradient(top, #DE3847, #C62833);
  background: linear-gradient(top, #DE3847, #C62833);
  margin: 6px 0 0 53px;
}
header .sale_buy_block {
  display: table;
  width: 100%;
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  -moz-box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  background: #fff;
  padding: 40px 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
header .sale_buy_block p {
  text-align: center;
  color: #333;
  font-size: 20px;
  padding-bottom: 26px;
  font-weight: bold;
}
header .sale_buy_block .left_input {
  padding-right: 5px;
  padding-left: 0;
}
header .sale_buy_block .right_input {
  padding-left: 5px;
  padding-right: 0;
}
header .sale_buy_block input {
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #e2e2e2;
}
header .sale_buy_block .new_price span:first-child {
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  color: #a80010;
}
header .sale_buy_block .new_price span:last-child {
  font-size: 20px;
}
header .sale_buy_block .old_price {
  color: #A8A8A8;
  margin-right: 36px;
}
header .sale_buy_block .old_price span:first-child {
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}
header .sale_buy_block .old_price span:last-child {
  font-size: 18px;
}
header .sale_buy_block .buy_button_big {
  color: #A8A8A8;
  border: 3px solid #a80010;
  background: transparent;
  width: 100%;
  margin-bottom: 20px;
}
header .sale_buy_block .buy_button_big:hover {
  color: inherit;
}
header .sale_buy_block .buy_button_big:active {
  color: inherit;
}
header .affix {
  position: fixed;
  background: url("../img/header_bg.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  margin: 0 auto;
  z-index: 5;
}

/*----------------------------------------- advantages -----------------------------------------*/
.advantages {
  padding: 25px 0;
}
.advantages h3 {
  text-align: center;
  line-height: 124%;
  padding-bottom: 33px;
}
.advantages ul {
  overflow: hidden;
  padding-bottom: 30px;
}
.advantages ul li {
  float: left;
  width: 33.33333%;
  padding: 0 14px 0 0;
}
.advantages ul li .ag_1_f {
  width: 16.5%;
  float: left;
}
.advantages ul li .ag_1_s {
  width: 83.5%;
}
.advantages ul li p {
  font-size: 18px;
  color: #333;
  line-height: 124%;
  padding-left: 10px;
}

/*----------------------------------------- video -----------------------------------------*/
.video {
  min-height: 430px;
  background: url(../img/video_bl_bg.png) 0 0 repeat;
  padding: 71px 0 93px 0;
}
.video .video_tx {
  padding-right: 40px;
}
.video .video_tx h3 {
  line-height: 124%;
  padding-bottom: 14px;
}
.video .video_tx ul li {
  padding-top: 33px;
}
.video .video_tx ul li h4 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.video .video_tx ul li p {
  line-height: 124%;
  color: #333;
  padding-top: 12px;
}
.video .video_if {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 6px;
  margin-top: 8px;
}
.video .video_if iframe {
  height: 274px;
  display: table;
  width: 100%;
}

/*----------------------------------------- quick_order -----------------------------------------*/
.quick_order {
  background: url("../img/header_bg.jpg") 0 0 no-repeat;
  background-size: cover;
}
.quick_order > div {
  background: url(../img/mause_click.png) 24% center no-repeat;
  padding: 35px 0;
}
.quick_order > div .quick_order_lf {
  margin: 50px 0;
}
.quick_order > div .quick_order_lf h4 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 120%;
  padding-bottom: 78px;
}
.quick_order > div .quick_order_lf h4 span {
  font-weight: 600;
}
.quick_order > div .quick_order_lf p {
  line-height: 124%;
  color: #fff;
}
.quick_order > div .quick_order_form {
  display: table;
  width: 100%;
  position: absolute;
  top: -50px;
  background: #fff;
  padding: 50px;
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  -moz-box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.quick_order > div .quick_order_form input[type="text"] {
  border: 3px solid #e2e2e2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-size: 14px;
  color: #333;
  padding: 18px 26px;
  margin-bottom: 23px;
}
.quick_order > div .quick_order_form .buy_button_big {
  color: #A8A8A8;
  border: 3px solid #a80010;
  background: transparent;
  width: 100%;
}
.quick_order > div .quick_order_form .buy_button_big:hover {
  color: inherit;
}
.quick_order > div .quick_order_form .buy_button_big:active {
  color: inherit;
}
.quick_order > div .quick_order_form p {
  text-align: center;
  padding-top: 25px;
}
.quick_order > div .quick_order_form p .new_price span:first-child {
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  color: #a80010;
}
.quick_order > div .quick_order_form p .new_price span:last-child {
  font-size: 20px;
}
.quick_order > div .quick_order_form p .old_price {
  color: #A8A8A8;
  margin-right: 36px;
}
.quick_order > div .quick_order_form p .old_price span:first-child {
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}
.quick_order > div .quick_order_form p .old_price span:last-child {
  font-size: 18px;
}
.quick_order > div .quick_order_rg {
  margin: 50px 0;
}
.quick_order > div .quick_order_rg ul {
  float: right;
  margin-top: 3px;
}
.quick_order > div .quick_order_rg ul li {
  line-height: 124%;
  color: #fff;
  padding-left: 34px;
  background: url(../img/list_check.png) 0 center no-repeat;
  margin-bottom: 24px;
}
.quick_order > div .quick_order_rg ul li:last-child {
  margin-bottom: 0;
}

/*----------------------------------------- gallery -----------------------------------------*/
.gallery {
  padding: 93px 0 51px 0;
}
.gallery h3 {
  text-align: center;
  padding-bottom: 35px;
}
.gallery .gallery-1 {
  width: 100%;
  height: 250px;
  float: left;
  background: url(../images/gallery_big_1.jpg) center no-repeat;
  background-size: cover;
}
.gallery .gallery-2 {
  width: 100%;
  height: 250px;
  float: left;
  background: url(../images/gallery_big_2.jpg) center no-repeat;
  background-size: cover;
}
.gallery .gallery-3 {
  width: 100%;
  height: 500px;
  float: left;
  background: url(../images/gallery_big_3.jpg) center no-repeat;
  background-size: cover;
}
.gallery .gallery-4 {
  width: 50%;
  height: 250px;
  float: left;
  background: url(../images/gallery_big_4.jpg) no-repeat;
  background-size: cover;
}
.gallery .gallery-5 {
  width: 50%;
  height: 250px;
  float: left;
  background: url(../images/gallery_big_5.jpg) no-repeat;
  background-size: cover;
}
.gallery .gallery-6 {
  float: left;
  height: 250px;
  width: 100%;
  background: url(../images/gallery_big_6.jpg) 50% 70% no-repeat;
  background-size: cover;
}
.gallery .owl-carousel {
  padding: 0 55px;
}
.gallery .owl-carousel .owl-stage {
  padding: 50px 0;
}
.gallery .owl-carousel .owl-stage li a:hover, .gallery .owl-carousel .owl-stage li a:active {
  -webkit-box-shadow: 0px 8px 30px rgba(168, 168, 168, 0.4);
  -moz-box-shadow: 0px 8px 30px rgba(168, 168, 168, 0.4);
  box-shadow: 0px 8px 30px rgba(168, 168, 168, 0.4);
}
.gallery .owl-carousel .owl-stage li a {
  display: block;
  width: 162px;
  height: 162px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 2, 0.4);
  -moz-box-shadow: 0px 8px 30px rgba(0, 0, 2, 0.4);
  box-shadow: 0px 8px 30px rgba(0, 0, 2, 0.4);
}
.gallery .owl-carousel .owl-prev, .gallery .owl-carousel .owl-next {
  width: 30px;
  height: 52px;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  overflow: hidden;
}
.gallery .owl-carousel .owl-prev {
  left: 0;
}
.gallery .owl-carousel .owl-next {
  right: 0;
}

/*----------------------------------------- product_info -----------------------------------------*/
.product_info {
  padding: 0 0 101px 0;
}
.product_info .product_info_bl {
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  -moz-box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  box-shadow: 0px 6px 30px rgba(0, 0, 2, 0.4);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  overflow: hidden;
  padding: 50px 44px 76px 44px;
}
.product_info .product_info_bl .eagle-gallery {
  position: relative;
}
.product_info .product_info_bl .eagle-gallery .eagle-medium-wrap {
  height: 336px;
}
.product_info .product_info_bl .eagle-gallery .mini-slider {
  padding: 0 20px;
  margin: 50px 0 0 0;
}
.product_info .product_info_bl .eagle-gallery .mini-slider .owl-controls .owl-buttons > div {
  background-image: none !important;
  height: 26px;
  width: 15px;
  margin-top: -13px;
  opacity: 1;
  overflow: hidden;
}
.product_info .product_info_bl .eagle-gallery .mini-slider .owl-controls .owl-buttons > div.disabled {
  opacity: 1;
  cursor: pointer;
}
.product_info .product_info_bl .eagle-gallery .mini-slider .owl-controls .owl-buttons > div.owl-prev {
  background-position: 0 0;
}
.product_info .product_info_bl .eagle-gallery .mini-slider .owl-controls .owl-buttons > div.owl-next {
  background-position: -15px 0;
}
.product_info .product_info_bl .eagle-gallery .salehitbl {
  top: -20px;
  right: -18px;
}
.product_info .base_inf h4 {
  font-size: 36px;
  color: #333;
  line-height: 124%;
  letter-spacing: 1px;
}
.product_info .base_inf .buy_block {
  display: table;
  width: 100%;
  padding: 23px 0 32px 0;
}
.product_info .base_inf .buy_block .new_price span:first-child {
  font-size: 44px;
  font-weight: 600;
  line-height: 114%;
  color: #b40000;
}
.product_info .base_inf .buy_block .new_price span:last-child {
  font-size: 20px;
  color: #333;
}
.product_info .base_inf .buy_block .old_price {
  color: #E5E5E5;
}
.product_info .base_inf .buy_block .old_price span:first-child {
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}
.product_info .base_inf .buy_block .old_price span:last-child {
  font-size: 18px;
}
.product_info .base_inf header .slider .slider_desc .buy_block .buy_button_big:hover, header .slider .slider_desc .product_info .base_inf .buy_block .buy_button_big:hover, .product_info .base_inf header .slider .slider_desc .buy_block .buy_button_big:active, header .slider .slider_desc .product_info .base_inf .buy_block .buy_button_big:active, .product_info .base_inf .buy_block .buy_button_big:hover, .product_info .base_inf .buy_block .buy_button_big:active {
  border: 3px solid #dedede;
  background: -moz-linear-gradient(top, #C62833, #DE3847);
  background: -webkit-linear-gradient(top, #C62833, #DE3847);
  background: -o-linear-gradient(top, #C62833, #DE3847);
  background: -ms-linear-gradient(top, #C62833, #DE3847);
  background: linear-gradient(top, #C62833, #DE3847);
}
.product_info .base_inf .buy_block .buy_button_big {
  color: #fff;
  border: 3px solid #fff;
  background: -moz-linear-gradient(top, #DE3847, #C62833);
  background: -webkit-linear-gradient(top, #DE3847, #C62833);
  background: -o-linear-gradient(top, #DE3847, #C62833);
  background: -ms-linear-gradient(top, #DE3847, #C62833);
  background: linear-gradient(top, #DE3847, #C62833);
  margin: 6px 0 0 53px;
}
.product_info .timer_bl {
  background-color: #F5F5F5;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  overflow: hidden;
  padding: 22px 19px;
}
.product_info .timer_bl h5 {
  font-size: 18px;
  font-weight: 600;
  color: #A8A8A8;
  line-height: 130%;
  width: 90px;
  padding-top: 10px;
}
.product_info .specifications {
  padding: 39px 0 0 19px;
}
.product_info .specifications h5 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
.product_info .specifications .table_bl {
  margin-top: 8px;
}
.product_info .specifications .table_bl .table_cell_header {
  display: table-cell;
  vertical-align: middle;
}
.product_info .specifications .table_bl .table_cell_header:first-child {
  color: #777;
  width: 29%;
}
.product_info .specifications .table_bl .table_cell_header:last-child {
  color: #333;
  width: 71%;
}

/*----------------------------------------- product_info_dop ----------------------------------*/
.product_info_dop h3 {
  text-align: center;
  color: #b40000;
}
.product_info_dop .product_info_bl {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dadada;
  margin-top: 60px;
}
.product_info_dop .product_info_bl .base_inf .add_order_title {
  float: left;
  font-size: 22px;
  padding: 10px 0 0 0;
  font-weight: bold;
}
.product_info_dop .product_info_bl .base_inf .additional-product {
  float: left;
  margin: 5px 0 0 20px;
}
.product_info_dop .product_info_bl .base_inf .buy_block p.old_price {
  padding: 23px 23px 0 0;
}
.product_info_dop .specifications {
  padding: 20px 0 0 4px;
}

/*----------------------------------------- about_bl -----------------------------------------*/
.about_bl {
  background: url(../img/video_bl_bg.png) 0 0 repeat;
}
.about_bl .about_bl_in {
  position: relative;
}
.about_bl .about_bl_in .about_bl_img_lf, .about_bl .about_bl_in .about_bl_img_rg {
  background-size: cover !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
.about_bl .about_bl_in .about_bl_img_lf {
  background: url("../images/about_1.jpg") 0 0 no-repeat;
  left: 0;
}
.about_bl .about_bl_in .about_bl_left {
  padding: 71px 90px 71px 0;
}
.about_bl .about_bl_in .about_bl_right {
  padding: 71px 35px 71px 64px;
}
.about_bl .about_bl_in .about_bl_img_rg {
  background: url("../images/about_2.jpg") 0 0 no-repeat;
  left: 50%;
}
.about_bl .about_bl_in h3 {
  line-height: 120%;
  padding-bottom: 35px;
}
.about_bl .about_bl_in p {
  line-height: 124%;
  color: #333;
  padding-top: 15px;
}

/*----------------------------------------- reviews -----------------------------------------*/
.reviews {
  background: url(../img/reviews_bg.png) 0 0 repeat;
  padding: 70px 0 68px 0;
}
.reviews .reviews_tl {
  overflow: hidden;
  padding-bottom: 50px;
}
.reviews .reviews_tl h3 {
  color: #fff;
  line-height: 120%;
}
.reviews .reviews_tx {
  padding: 0 50px 54px 50px;
}
.reviews .reviews_tx h4 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 124%;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.reviews .reviews_tx h5 {
  font-size: 14px;
  color: #E5E5E5;
  line-height: 124%;
  padding-bottom: 7px;
}
.reviews .reviews_tx p {
  color: #fff;
  line-height: 124%;
  padding-top: 16px;
}
.reviews .owl-dots {
  display: table;
  margin: 15px auto 0 auto;
}
.reviews .owl-dots .owl-dot:hover, .reviews .owl-dots .owl-dot:active {
  border: 2px solid #E5E5E5;
}
.reviews .owl-dots .owl-dot {
  float: left;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  margin: 0 12px;
}
.reviews .owl-dots .owl-dot.active {
  border: 2px solid #A8A8A8;
}

/*----------------------------------------- del_pay_bl -----------------------------------------*/
.del_pay_bl {
  padding: 92px 0 86px 0;
}
.del_pay_bl h3 {
  line-height: 120%;
  text-align: center;
  padding-bottom: 49px;
}
.del_pay_bl .del {
  padding-right: 30px;
  background: url(../img/del_bg.png) 16px 0 no-repeat;
  background-size: contain;
}
.del_pay_bl .pay {
  padding-left: 30px;
  background: url(../img/pay_bg.png) 40px 0 no-repeat;
  background-size: contain;
}
.del_pay_bl h4 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.del_pay_bl h5 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  line-height: 120%;
  padding: 17px 0 11px 0;
}
.del_pay_bl p {
  color: #333;
  line-height: 124%;
  padding-bottom: 16px;
}

/*----------------------------------------- question -----------------------------------------*/
.question {
  background: url(../img/video_bl_bg.png) 0 0 repeat;
  padding: 75px 0 80px 0;
}
.question p {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  line-height: 124%;
  text-align: center;
  letter-spacing: 1px;
}
.question .buy_button_big:hover, .question .buy_button_big:active {
  border: 3px solid #E5E5E5;
}
.question .buy_button_big {
  color: #333;
  border: 3px solid #A8A8A8;
  margin: 36px auto 0 auto;
}

/*----------------------------------------- footer -----------------------------------------*/
footer {
  min-height: 80px;
  padding: 20px 0;
}
footer p {
  text-align: center;
}
footer p #priv_pol:hover, footer p #priv_pol:active {
  color: #E5E5E5;
}
footer p #priv_pol {
  color: #A8A8A8;
}

/*----------------------------------------- techblocks -----------------------------------------*/
.buffer_bl {
  height: 66px;
}

.table_bl {
  display: table;
  width: 100%;
}

.buy_button_small:hover, .buy_button_small:active {
  background: -moz-linear-gradient(top, #E6E6E6, #ffffff);
  background: -webkit-linear-gradient(top, #E6E6E6, #ffffff);
  background: -o-linear-gradient(top, #E6E6E6, #ffffff);
  background: -ms-linear-gradient(top, #E6E6E6, #ffffff);
  background: linear-gradient(top, #E6E6E6, #ffffff);
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  color: #333;
}

.buy_button_small {
  display: block;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: -moz-linear-gradient(top, #ffffff, #E6E6E6);
  background: -webkit-linear-gradient(top, #ffffff, #E6E6E6);
  background: -o-linear-gradient(top, #ffffff, #E6E6E6);
  background: -ms-linear-gradient(top, #ffffff, #E6E6E6);
  background: linear-gradient(top, #ffffff, #E6E6E6);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  width: 154px;
  padding: 10px 0;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}
.buy_button_small:focus {
  color: #333;
}

.buy_button_big:hover, .buy_button_big:active {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.buy_button_big {
  display: block;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  width: 240px;
  padding: 15px 0;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35);
}

.h3_tl {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*----------------------------------------- Hovers -----------------------------------------*/
.quick_order_cn input[type="text"]:hover::-webkit-input-placeholder,
.quick_order_cn input[type="text"]:active::-webkit-input-placeholder,
.quick_order_cn input[type="text"]:focus::-webkit-input-placeholder {
  color: #fff;
}

.quick_order_cn input[type="text"]:hover:-moz-placeholder,
.quick_order_cn input[type="text"]:active:-moz-placeholder,
.quick_order_cn input[type="text"]:focus:-moz-placeholder {
  color: #fff;
}

.quick_order_cn input[type="text"]:hover::-moz-placeholder,
.quick_order_cn input[type="text"]:active::-moz-placeholder,
.quick_order_cn input[type="text"]:focus::-moz-placeholder {
  color: #fff;
}

.quick_order_cn input[type="text"]:hover:-ms-input-placeholder,
.quick_order_cn input[type="text"]:active:-ms-input-placeholder,
.quick_order_cn input[type="text"]:focus:-ms-input-placeholder {
  color: #fff;
}

.quick_order_cn input[type="text"]:hover,
.quick_order_cn input[type="text"]:active,
.quick_order_cn input[type="text"]:focus {
  color: #fff;
}

/*----------------------------------------- Call back style -----------------------------------------*/
#kmacb .kmacb-img-circle,
#kmacb .kmacb-circle-fill {
  background-color: #A8A8A8 !important;
}

#kmacb .kmacb-circle {
  border: 2px solid #A8A8A8 !important;
}

#kmacb .kmacb-img-circle:hover,
#kmacb .kmacb-circle-fill:hover,
#kmacb .kmacb-img-circle:active,
#kmacb .kmacb-circle-fill:active {
  background-color: #E5E5E5 !important;
}

#kmacb .kmacb-circle:hover,
#kmacb .kmacb-circle:active {
  border: 2px solid #E5E5E5 !important;
}

/*----------------------------------------- Form dop. styles -----------------------------------------*/
input[type="text"]::-webkit-input-placeholder {
  color: #E5E5E5;
}

input[type="text"]:-moz-placeholder {
  color: #E5E5E5;
}

input[type="text"]::-moz-placeholder {
  color: #E5E5E5;
}

input[type="text"]:-ms-input-placeholder {
  color: #E5E5E5;
}

/*----------------------------------------- Icon font arrows -----------------------------------------*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon/Flaticon.eot");
  src: url("../fonts/Flaticon/Flaticon.eot?") format("embedded-opentype"), url("../fonts/Flaticon/Flaticon.woff") format("woff"), url("../fonts/Flaticon/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.owl-nav > div {
  font-size: 50px;
  line-height: 52px;
}

.owl-buttons > div {
  font-size: 24px !important;
  line-height: 26px;
  text-indent: 0 !important;
}

.fancybox-close {
  font-size: 24px;
  line-height: 26px;
}

.advantages ul li span {
  font-size: 48px;
  line-height: 50px;
}

.reviews_icon {
  font-size: 30px;
  line-height: 32px;
  float: left;
  margin: 3px 0 0 1px;
}

#tab-label-category-1 .owl-nav > div:before,
.owl-buttons > div:before,
.fancybox-close:before,
.advantages ul li span:before,
.reviews_icon:before {
  font-family: Flaticon;
  color: #A8A8A8;
}

#tab-label-category-1 .owl-nav > div:before,
.owl-buttons > div:before {
  content: "\f100";
}

.reviews_icon:before {
  content: "\f101";
}

.fancybox-close:before {
  content: "\f103";
  margin-left: 1px;
}

.advantages ul li.advantg_1 span:before {
  content: "\f102";
}

.advantages ul li.advantg_3 span:before {
  content: "\f104";
}

.advantages ul li.advantg_2 span:before {
  content: "\f105";
}

#tab-label-category-1 .owl-nav > div:before {
  margin-left: -10px;
}

.product_info .eagle-gallery .mini-slider .owl-controls .owl-buttons > div:before {
  margin-left: -4px;
}

#tab-label-category-1 .owl-prev,
.eagle-gallery.as1 .mini-slider .owl-controls .owl-buttons .owl-prev {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#tab-label-category-1 .owl-nav > div:hover:before,
.product_info .eagle-gallery .mini-slider .owl-controls .owl-buttons > div:hover:before,
.fancybox-close:hover:before {
  color: #E5E5E5;
}

@media screen and (max-width: 1200px) {
  /*----------------------------------------- header ----------------------------------*/
  header .header .table_header .table_cell_header .phones li {
    float: none;
    width: 100%;
  }

  /*----------------------------------- product_info ----------------------------------*/
  .product_info .base_inf .buy_block .buy_button_big {
    margin: 6px 0 0 30px;
  }

  .product_info .timer_bl > div {
    float: none !important;
  }

  .product_info .timer_bl h5 {
    width: 100%;
    padding: 10px 0 30px 0;
    text-align: center;
  }

  .product_info .product_info_bl {
    padding: 50px 20px 76px 20px;
  }

  /*---------------------------------- del_pay_bl --------------------------------------*/
  .del_pay_bl .del,
  .del_pay_bl .pay {
    background-position: center center;
  }
}
@media screen and (max-width: 992px) {
  /*----------------------------------- slider ----------------------------------------*/
  header .slider .slider_desc .buy_block > div {
    float: none !important;
  }

  header .slider .slider_desc .buy_block .buy_button_big {
    margin: 30px 0 0 0;
  }

  header .header .table_header .table_cell_header .buy_block .buy_block_btn {
    margin-right: 10px;
  }

  /*---------------------------------- advantages --------------------------------------*/
  .advantages ul {
    display: table;
    margin: 0 auto;
  }

  .advantages ul li {
    float: none;
    width: 100%;
    padding: 0;
  }

  .advantages ul li .table_header {
    height: 70px;
  }

  .buffer_bl {
    height: 30px;
  }

  /*------------------------------------ video -----------------------------------------*/
  .video .video_tx {
    padding-right: 0;
  }

  .video .video_if iframe {
    height: 220px;
  }

  /*---------------------------------- quick_order -------------------------------------*/
  .quick_order > div .quick_order_lf h4 {
    padding-bottom: 30px;
  }

  /*--------------------------------- product_info -------------------------------------*/
  .product_info .base_inf .buy_block > div {
    float: none !important;
  }

  .product_info .base_inf .buy_block .buy_button_big {
    margin: 24px auto 0 auto;
  }

  .product_info .product_info_bl {
    padding: 50px 0px 76px 0px;
  }

  .product_info .timer_bl {
    padding: 22px 0px;
  }

  #timer2d9629c325db20e5ce0cbd52ca1b28cc {
    min-width: 330px !important;
  }

  #timer-separator-2d9629c325db20e5ce0cbd52ca1b28cc-hours,
  #timer-separator-2d9629c325db20e5ce0cbd52ca1b28cc-minutes,
  #timer-separator-2d9629c325db20e5ce0cbd52ca1b28cc-secundes {
    padding: 0px 6px 0px 6px !important;
  }

  /*------------------------------- reviews -----------------------------------------*/
  .reviews .reviews_tx {
    padding: 0 10px 54px 50px;
  }

  /*------------------------------- del_pay_bl -----------------------------------------*/
  .del_pay_bl .del,
  .del_pay_bl .pay {
    background-size: 80%;
  }

  /*-------------------------------- about_bl -----------------------------------------*/
  .about_bl .about_bl_in .about_bl_right {
    padding: 71px 0 71px 30px;
  }

  .about_bl .about_bl_in .about_bl_left {
    padding: 71px 30px 71px 0;
  }
}
@media screen and (max-width: 767px) {
  /*---------------------------------- header -----------------------------------------*/
  header .header .table_header .table_cell_header .logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  header .header .table_header .table_cell_header .buy_block > div {
    float: none !important;
    display: table;
    margin: 0 auto;
    text-align: center;
  }

  header .header .table_header .table_cell_header .buy_block .buy_button_small {
    margin-top: 20px;
    letter-spacing: 0;
    padding: 10px 10px;
    width: auto;
    font-size: 10px;
  }

  .header .table_header {
    height: 132px;
  }

  .header .table_header .table_cell_header .logotype {
    font-size: 24px;
  }

  .header .table_header .table_cell_header .logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .header .table_header .table_cell_header .buy_block .buy_button_small {
    margin-top: 20px;
    letter-spacing: 0;
    padding: 10px 10px;
    width: auto;
    font-size: 10px;
  }

  .header .table_header .table_cell_header .buy_block > div {
    float: none !important;
    display: table;
    margin: 0 auto;
    text-align: center;
  }

  .header .table_header .table_cell_header .buy_block .old_price span:first-child {
    font-size: 12px;
  }

  .header .table_header .table_cell_header .buy_block .new_price span:first-child {
    font-size: 18px;
  }

  .header .table_header .table_cell_header .buy_block .buy_button_small {
    margin-top: 0;
  }

  .header .table_header .table_cell_header .buy_block .old_price {
    margin-bottom: 5px;
  }

  .cen_num {
    padding: 0;
  }

  /*-------------------------------- slider -----------------------------------------*/
  header .slider .prod_img {
    margin: 30px auto;
  }

  header .slider .slider_desc h1,
  header .slider .slider_desc h3,
  header .slider .slider_desc .buy_block > div {
    text-align: center;
  }

  header .slider .slider_desc .buy_block > div {
    display: table;
    margin: 0 auto;
  }

  header .slider {
    padding-bottom: 50px;
  }

  /*------------------------------- video -----------------------------------------*/
  .video .video_tx h3,
  .video .video_tx ul li h4 {
    text-align: center;
  }

  .video .video_tx ul li p {
    text-align: justify;
  }

  .video .video_if {
    margin-top: 70px;
  }

  .video .video_if iframe {
    height: 300px;
  }

  /*-------------------------------- quick_order --------------------------------------*/
  .quick_order > div .quick_order_lf h4,
  .quick_order > div .quick_order_lf p {
    text-align: center;
  }

  .quick_order > div .quick_order_cn {
    margin: 40px auto 0 auto;
  }

  .quick_order > div .quick_order_rg ul {
    float: none;
    margin: 30px auto 0 auto;
    display: table;
  }

  .quick_order > div .quick_order_form {
    position: initial;
    max-width: 360px;
    margin: 0 auto;
  }

  /*-------------------------------- product_info -------------------------------------*/
  .product_info .base_inf h4 {
    text-align: center;
    padding-top: 50px;
  }

  .product_info .base_inf .buy_block > div:first-child {
    display: table;
    text-align: center;
    margin: 0 auto;
  }

  .product_info .specifications h5 {
    text-align: center;
  }

  .product_info .specifications {
    padding: 39px 0 0 0;
    display: table;
    width: 70%;
    margin: 0 auto;
  }

  .product_info .specifications .table_bl .table_cell_header:last-child {
    padding-left: 14px;
  }

  /*--------------------------------- del_pay_bl ---------------------------------------*/
  .del_pay_bl .del,
  .del_pay_bl .pay {
    background-image: none;
    padding-right: 15px;
    padding-left: 15px;
  }

  .del_pay_bl h4,
  .del_pay_bl h5,
  .del_pay_bl p {
    text-align: center;
  }

  .del_pay_bl .del {
    padding-bottom: 40px;
  }

  /*--------------------------------- about_bl -----------------------------------------*/
  .about_bl .about_bl_in .about_bl_img_lf,
  .about_bl .about_bl_in .about_bl_img_rg {
    display: none;
  }

  .about_bl .about_bl_in .about_bl_right {
    padding: 71px 0 0 0;
  }

  .about_bl .about_bl_in .about_bl_left {
    padding: 71px 0;
  }

  .about_bl .about_bl_in h3 {
    text-align: center;
  }

  .about_bl .about_bl_in p {
    text-align: justify;
  }

  /*----------------------------------------- gallery -----------------------------------------*/
  .gallery .gallery-1 {
    height: 200px;
    background: url(../images/gallery_big_1.jpg) no-repeat;
  }
  .gallery .gallery-2 {
    height: 200px;
    background: url(../images/gallery_big_2.jpg) no-repeat;
  }
  .gallery .gallery-3 {
    height: 400px;
    background: url(../images/gallery_big_3.jpg) no-repeat;
  }
  .gallery .gallery-4 {
    display: none;
  }
  .gallery .gallery-5 {
    display: none;
  }
  .gallery .gallery-6 {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  /*-------------------------------- product_info --------------------------------------*/
  .product_info .specifications {
    width: 80%;
  }
}
@media screen and (max-width: 478px) {
  /*-------------------------------- video -----------------------------------------*/
  .video .video_if iframe {
    height: 200px;
  }

  /*------------------------------------ gallery ---------------------------------------*/
  .gallery .owl-carousel {
    padding: 0 30px;
  }

  /*----------------------------------- product_info -----------------------------------*/
  .product_info .specifications {
    width: 100%;
  }

  #timer2d9629c325db20e5ce0cbd52ca1b28cc {
    max-width: 240px !important;
    min-width: 240px !important;
  }

  #timer-element-2d9629c325db20e5ce0cbd52ca1b28cc-days,
  #timer-element-2d9629c325db20e5ce0cbd52ca1b28cc-hours,
  #timer-element-2d9629c325db20e5ce0cbd52ca1b28cc-minutes,
  #timer-element-2d9629c325db20e5ce0cbd52ca1b28cc-secundes {
    width: 42px !important;
  }

  #timer2d9629c325db20e5ce0cbd52ca1b28cc canvas {
    width: 50px;
    height: 50px;
    top: 11px !important;
    left: -4px !important;
  }

  .product_info .timer_bl h5 {
    padding: 10px 0 20px 0;
  }

  /*-------------------------------- reviews -----------------------------------------*/
  .reviews .reviews_tl > div {
    float: none !important;
  }

  .reviews .reviews_tl {
    text-align: center;
  }

  .reviews .reviews_tl .buy_button_small {
    margin: 40px auto 0 auto;
  }

  /*---------------------------------- advantages --------------------------------*/
  .advantages ul li .ag_1_f {
    width: 100%;
    float: none;
    text-align: center;
  }

  .advantages ul li .ag_1_s {
    width: 100%;
  }

  .advantages ul li p {
    text-align: center;
    padding-left: 0;
  }
}
