/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{margin:0;padding:0;}
html{margin:0;padding:0}

b {
	font-family: "GothamProMedium";	
}

 strong {
	font-family: "GothamProRegular";	
}

.head {
	position:fixed;
	top:0px;
	width:100%;
	height:81px;
	background:#000000;
	font-size:14px;
	color:#ffffff;
	font-family: "GothamProRegular";
	z-index:100;}

.head_menu{
	text-align:left;
	width:1075px;
	margin:0 auto;
	height:51px;
	padding-top:31px;}
	
.head_menu img { 
	margin-right:180px;
	float:left;
	margin-top:-31px; }
	
.head_menu ul,li,a{ 
	list-style-type:none;
	display:inline;
	color:#ffffff;
	text-decoration:none;
	padding-right:11px;}
	
.first_banner {
	background:url(../images/LP-TISSON_05.png) no-repeat center;
	background-size:cover;
	width:100%;
	height:610px;}
	
.first_banner_main {
	font-family: "GothamProLight";
	font-size:18px;
	color:#ffffff;
	width:1000px;
	margin:57px auto 0px auto;
	height:534px;
	background:url(../images/clock_03.png) no-repeat left;
}
.first_banner_main_text {
	width:500px;
	float:right}

.first_banner_main b {
	font-family: "GothamProMedium";	
}
.price {
	padding-top:10px;
	margin:14px 0 0 60px;
	background:url(../images/LP-TISSON_32.png) no-repeat center;
	width:292px;
	height:30px;
	color:#555e68;
	font-size:18px;
	text-align:center;}
.sale {
	padding-top:5px;
	margin:0 0 0 20px;
	text-align:center;
	background: url(../images/LP-TISSON_35.png) no-repeat center;
	width:388px;
	height:60px;
	color:#ffffff;}
	
.timer-block {
	font-family: "GothamProLight";
	font-size:28px;
	color:#ffffff;
	padding-top:47px;
	width:100%;
	margin-top:0px;
	background:#000000;
	height:165px;}
	
.preemushestva {
	font-family: "GothamProLight";
	font-size:16px;
	width:100%;
	background:#ffffff;
	height:716px;
}

.preemushestva b {
	font-size:32px;
	font-family: "GothamProBold";
}

.preemushestva strong {
	
	font-family: "GothamProBold";
}

 
#tab2, #tab3 { text-decoration: none; }

 menu1 > a, .menu1 #tab2:target ~ a:nth-of-type(1), .menu1 #tab3:target ~ a:nth-of-type(1), .menu1 > div { 
     padding: 5px; 
     border:none;font-weight: 300;color:#ffffff;text-decoration:none;font-family: "GothamProLight";font-size:18px; } 
.menu1 > a { line-height: 28px; text-decoration:none ;font-family: "GothamProLight";font-size:18px; } 
#tab2, #tab3, .menu1 > div, .menu1 #tab2:target ~ div:nth-of-type(1), .menu1 #tab3:target ~ div:nth-of-type(1) {
    display: none; } 

.menu1 > div:nth-of-type(1), .menu1 #tab2:target ~ div:nth-of-type(2), .menu1 #tab3:target ~ div:nth-of-type(3) { 
    display: block; } 

.menu1 > a:nth-of-type(1), .menu1 #tab2:target ~ a:nth-of-type(2), .menu1 #tab3:target ~ a:nth-of-type(3) { 

    border:none;

    text-decoration: none;
    font-family: "GothamProbold";font-size:18px;}
	
.harakter{text-align:center;
font-size:32px; padding:74px 0 27px 0;color:#ffffff;font-family: "GothamProBold";}
.tab_link_active {
    font-weight: bold; 
    color: #ffd800;
}
.bg2{
	background:url(../images/LP-TISSON_05.png) no-repeat center;
	background-size:cover;
	width:100%;
	height:760px;}
	
.block_zahvata1 {
	padding-top:51px;
	 font-family: "GothamProLight";
	font-size:26px;
	color:#ffffff;
	width:100%;
	height:500px;
	background:#000000;	
	border-top:1px #3a4650 solid;}
	
.block_zahvata1 strong {font-family: "GothamProMedium";}

.sale2 {
	padding-top:5px;
	margin:0 0 0 20px;
	text-align:center;
	background: url(../images/LP-TISSON_111.png) no-repeat center;
	width:388px;
	height:60px;
	color:#ffffff;}
	
.work {font-family: "GothamProLight";
	font-size:16px;
	width:100%;
	background:#ffffff;
	height:430px;
	padding-top:70px;}

.work img {padding-bottom:15px;}
.work_zagolovok{
	
	font-size:32px;
	color:#000000;
	font-family: "GothamProbold";
	padding-bottom:29px;}
	
	
.garanty {
	font-family: "GothamProLight";
	background:url(../images/LP-TISSON_05.png) no-repeat center;
	background-size:cover;
	width:100%;
	height:534px;
	color:#ffffff;
	font-size:16px;}
	
.garanty_zagolovok{
	padding-top:75px;
	font-size:32px;
	color:#ffffff;
	font-family: "GothamProbold";
	padding-bottom:29px;}
	
.garanty_zagolovok strong{

	font-family: "GothamProMedium";}
	
.callback {
	font-family: "GothamProLight";
	width:100%;
	height:380px;
	background:#ffffff;}
	
.footer {
	
	font-family: "GothamProLight";
	font-size:14px;
	background:#000000;
	width:100%;
	height:79px;
	color:#ffffff;
	border-top:1px #3a4650 solid}
.footer a {color:#959595}

ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td {  }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }


#container {
	width:900px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
	background:url(../images/otz_15.png) no-repeat right;
}

#example {
	width:890px;
	height:200px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:919px;
	height:239px;
	top:-3px;
	left:-80px;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:45px;
	left:-50px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	padding-right:20px;
	width:900px;
	height:180px;
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:927px;
}

.pagination {
	margin:26px auto 0;
	width:120px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-repeat:no-repeat;
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

.slided a:link {
	font-family: "GothamProMedium";
	color:#e1e5e8;
	text-decoration:none;
}

.slided a:visited {
	font-family: "GothamProMedium";
	color:#e1e5e8;
	text-decoration:none;
}

.slided a:hover,a:active {
	font-family: "GothamProMedium";
	color:#ffd800;
	text-decoration:none;
}
.slided a:active {
	font-family: "GothamProMedium";
	color:#ffd800;
	text-decoration:none;
}


.main {
    background: #aaa url(../images/bg.jpg) no-repeat;
    width: 800px;
    height: 600px;
    margin: 50px auto;
}
.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}
.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}
form button {
    border: 0;
    cursor: pointer;
    background: none;
}
.otzyv-text img {
    -moz-border-radius: 85px;
border-radius: 85px;
}
.tel {
    text-align: center;
        color: #ffd800;
        font-family: "GothamProMedium";
        font-size: 28px;
}
.tel_text {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-bottom: 19px;
}
.tel_head {
    float: right;
}
.tel_head div {
    text-align: right;
    padding-right: 15px;
}
.tel_head .tel {
    font-size: 24px;
    padding-top: 0;
}
.tel_head .tel_text {
    margin-bottom: 0;
    font-size: 14px;
}