.block-1{
    position: relative;
    height: 405px;
    background: url(../img/bg-1.jpg) center 0 no-repeat;
    color: #fff;
}
.block-2{
    position: relative;
    padding: 0;
}
.block-2 .catalog-cont{
    position: relative;
    height: auto;
}
.block-2 .catalog-cont .catalog-cont-img{
    position: relative;
    width: 480px;
    height: 170px;
    padding:  0 0 0 175px;
    line-height: 160px;
    color: #fff;
    cursor: pointer;
}
.block-2 .catalog-cont .catalog-cont-img:after{
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    right: 30px;
    top: 68px;
    background: url(../img/arr-act.png) 0 0 no-repeat;
}
.block-2 .catalog-cont .active:after{
    background-position: 0 100%;
}
.block-2 .catalog-cont .catalog-cont-img span{
    display: inline-block;
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    vertical-align: middle;
}
.block-2 .catalog-cont .catalog-cont-items{
    position: relative;
    display: none;
    padding: 40px 0 0;
    background: #fff;
}
.catalog .catalog-cont-items .tov-item{
    position: relative;
    display: block;
    float: left;
    width: 204px;
    height: 320px;
    margin: 0 0 40px 24px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background: #efefef;
    color: #111;   
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.catalog .tov-item .img-cont{
    position: relative;
    overflow: hidden;
}
.catalog .tov-item .img-cont .sale{
    position: absolute;
    width: 120px;
    height: 30px;
    top: 10px;
    right: -38px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: #fd2993;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    transform: rotate(45deg);
}
.catalog .tov-item .img-cont .col-1{
    background: #69c715;
}
.catalog .tov-item .img-cont>img{
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.catalog .tov-item>p{
    height: 60px;
    margin: 2px 0 10px 0;
    padding: 12px 0 0 0;
    font-size: 15px;
    line-height: 1.5em;   
    font-weight: 600;
    overflow: hidden;
}
.catalog .button{
    position: relative;
    display: block;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    background: #00a8ff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.block-2 .watch-cont .catalog-cont-img{
    background: url(../img/menu-1.jpg) 0 0 no-repeat;
}
.block-2 .beauty-cont .catalog-cont-img{
    background: url(../img/menu-2.jpg) 0 0 no-repeat;
}
.block-2 .auto-cont .catalog-cont-img{
    background: url(../img/menu-3.jpg) 0 0 no-repeat;
}
.block-2 .clothes-cont .catalog-cont-img{
    background: url(../img/menu-4.jpg) 0 0 no-repeat;
}
.block-2 .other-cont .catalog-cont-img{
    background: url(../img/menu-5.jpg) 0 0 no-repeat;
}
.footer{
    position: relative;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.3em;
    color: rgba(255,255,255,0.8);
}