{admin/customer/header.html}
{admin/customer/menu.html}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<h4 class="mb-4">Всего: {moviesRows} шт.</h4>
			</div>
			<div class="col-md-3">
				<form class="form-inline my-2 my-lg-0 main-menu-search">
					<div class="btn-group">
						<input class="form-control mr-sm-2 main-search" type="search" name="q" placeholder="Поиск по выполненным заказам" aria-label="Search" autocomplete="off" style="width: 300px;">
						<div class="dropdown-menu search-helper" style="width: 300px; padding: 0;">
							<div class="list-group search-helper-list">

							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-5 text-right">
				<a class="btn btn-light" href="/blacklist"><i class="fas fa-user-slash"></i> Черный список</a>
				<a class="btn btn-light {archivedActive}" href="/done?archived=1"><i class="fas fa-archive"></i> Архив <span class="badge badge-light">{archivedRows}</span></a>
				<a class="btn btn-light" href="/doneCsv?archived={jsonArchived}" title="Экспортировать последние 300 заданий"><i class="fas fa-file-export"></i> Экспорт</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-2">
				<a class="btn btn-light {moderatedActive}" href="/done?moderated=1">
					<i class="far fa-check-square"></i> Проверено <span class="badge badge-light">{moderatedRows}</span>
				</a>
				<a class="btn btn-light {notModeratedActive}" href="/done?moderated=0">
					<i class="far fa-clock"></i> Не проверено <span class="badge badge-light">{notModeratedRows}</span>
				</a>
			</div>
		</div>
		{moviesList}
		<ul class="pagination">
			{moviesPages}
		</ul>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		// предотвращаем сабмит формы поиска
		$(".main-menu-search").on("submit", function(){
			return false;
		})
		$('.main-search').keyup(function(){
			query = $('.main-search').val();
			if (query.length > 1) {
				$.ajax({
					method: "GET",
					url: "/searchDoneMoviesHelper",
					data: { q: query, _token: '{{ csrf_token() }}' }
				})
				.done(function( msg ) {
					$('.search-helper').fadeIn();
					$('.search-helper-list').html(msg);
				})
			} else {
				$('.search-helper-list').html('');
				$('.search-helper').fadeOut();
			}
		});

		// проставляем лайки
		function calcLikes() {
			// затираем везде лайки
			$('.setLike').removeClass('active');
			// проходим по лайкблоку и проставляем актуальные лайки
			$('.likeBlock').each(function(){
				// alert('.setLike[data-id="'+$(this).data('id')+'"][data-like="'+$(this).data('like')+'"]');
				$('.setLike[data-id="'+$(this).data('id')+'"][data-like="'+$(this).data('like')+'"]').addClass('active');
			});
		}

		calcLikes();

		// лайк описания
		$('.setLike').on('click',function(){
			domainMovieId = $(this).data('id');
			$.ajax({
				method: "GET",
				url: "/submitLike",
				data: {
					id: $(this).data('id'),
					like: $(this).data('like'),
					_token: '{{ csrf_token() }}'
				}
			})
			.done(function( msg ) {
				$('.likeBlock[data-id="'+domainMovieId+'"]').data('like',msg);
				calcLikes();
			})
			// alert('Поставили лайк для ' + domainMovieId);
		});

		// скрываем ссылку на результат проверки, если его еще нет
		$('.textRuResultLink').each(function(){
			if ($(this).data('id') == '') {
				$(this).hide();
			}
		});

		// формируем элементы в зависимости от стадии заказа
		$('.taskWrapper').each(function(){
			$(this).find('.reworkWrapper').show();
			$(this).find('.reworkCommentWrapper').hide();
			$(this).find('.fromArchiveWrapper').hide();
			$(this).find('.likeBlock').show();
			$(this).find('.textWrapper').show();
			$(this).find('.textModerationWrapper').hide();
			$(this).find('.uniqueWrapper').show();
			$(this).find('.symbolsWrapper').show();
			if ($(this).data('rework')) {
				$(this).find('.reworkWrapper').hide();
				$(this).find('.reworkCommentWrapper').show();
				$(this).find('.likeBlock').hide();
			}
			if ($(this).data('archived')) {
				$(this).find('.reworkWrapper').hide();
				$(this).find('.fromArchiveWrapper').show();
			}
			if (!$(this).data('moderated')) {
				$(this).find('.reworkWrapper').hide();
				$(this).find('.likeBlock').hide();
				$(this).find('.textWrapper').hide();
				$(this).find('.textModerationWrapper').show();
				$(this).find('.uniqueWrapper').hide();
				$(this).find('.reworkCommentWrapper').hide();
			}
		});
	});
</script>
{admin/customer/footer.html}