/* ::::: http://fonts.googleapis.com/css?family=Exo+2:400,400italic,600,600italic,700,700italic&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 400;
	src: local("Exo 2"), local("Exo2-Regular"), url('w4iawertlhke0kn1t814da.woff') format("woff");
}
@font-face {
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 600;
	src: local("Exo 2 Semi Bold"), local("Exo2-SemiBold"), url('f0hhk_ds7tvznrk1brjgo_eszw2xoq-xsnqo47m55da.woff') format("woff");
}
@font-face {
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 700;
	src: local("Exo 2 Bold"), local("Exo2-Bold"), url('_yeyo5flfe2fzh25hterlveszw2xoq-xsnqo47m55da.woff') format("woff");
}
@font-face {
	font-family: "Exo 2";
	font-style: italic;
	font-weight: 400;
	src: local("Exo 2 Italic"), local("Exo2-Italic"), url('fp3xmqvxdwakwuaquwdezg.woff') format("woff");
}
@font-face {
	font-family: "Exo 2";
	font-style: italic;
	font-weight: 600;
	src: local("Exo 2 Semi Bold Italic"), local("Exo2-SemiBoldItalic"), url('abe2hdc08fdm25clla7d4xsxeywm7fgeyasgu71clg0.woff') format("woff");
}
@font-face {
	font-family: "Exo 2";
	font-style: italic;
	font-weight: 700;
	src: local("Exo 2 Bold Italic"), local("Exo2-BoldItalic"), url('8v5te3n1zxim7cf0xxg0ihsxeywm7fgeyasgu71clg0.woff') format("woff");
}
/* ::::: http://m-joys.ru/css/bootstrap.min.css ::::: */

/* ::::: http://luckup.tw1.ru/css/main.css ::::: */

#w { display: block; width: 514px; height: 423px; margin: 80px auto 0px; padding: 5px 15px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.96); border-radius: 7px; }
form .row { display: block; margin: 0px 0px 7px; padding: 0px; }
form .req { color: rgb(202, 83, 84); }
form input:focus, form textarea:focus { outline: medium none; }
:-moz-placeholder { color: rgb(170, 175, 189); font-style: italic; }
*::-moz-placeholder { color: rgb(170, 175, 189); font-style: italic; }
form .txt { display: inline-block; padding: 8px 30px 8px 9px; width: 230px; font-family: myriad pro; font-size: 1.25em; font-weight: normal; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-image: url('checkmark_001.png'); background-position: 110% center; background-repeat: no-repeat; border: 1px solid rgb(204, 204, 204); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75); box-sizing: content-box; border-radius: 3px; box-shadow: 0px 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px rgb(255, 255, 255); transition: all 0.3s linear 0s; }
form .txtarea { display: inline-block; padding: 8px 30px 8px 9px; width: 290px; font-family: myriad pro; height: 68px; font-size: 1.25em; font-weight: normal; color: rgb(0, 0, 0); background-color: rgb(240, 240, 240); background-image: url('checkmark_001.png'); background-position: 110% center; background-repeat: no-repeat; border: 1px solid rgb(204, 204, 204); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75); box-sizing: content-box; border-radius: 3px; box-shadow: 0px 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px rgb(255, 255, 255); transition: all 0.3s linear 0s; }
form .txt:focus:valid, form .txtarea:focus:valid { box-shadow: 0px 1px 4px -1px rgb(168, 168, 168) inset, 0px 1px rgba(255, 255, 255, 0.6), 0px 0px 11px rgba(120, 200, 70, 0.7); }
form { margin: 0px auto; width: 430px; }
/* ::::: http://luckup.tw1.ru/css/style.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; -moz-font-feature-settings: inherit; -moz-font-language-override: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
a img { border: medium none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
@font-face {
	font-family: "condpro-regular";
	src: url('pfdintextcondpro-regular-webfont.woff');
}
@font-face {
	font-family: "condpro-thin";
	src: url('pfdintextcondpro-thin-webfont.woff');
}
@font-face {
	font-family: "agora-reg";
	src: url('pfagoraslabpro-reg-aqua.woff');
}
@font-face {
	font-family: "condpro-light";
	src: url('pfdintextcomppro-lightital-webfont.woff');
}
@font-face {
	font-family: "agora-med";
	src: url('pfagoraslabpro-medium-aqua.woff');
}
@font-face {
	font-family: "PT mono-main";
	src: url('ptm55f_w.woff');
}
@font-face {
	font-family: "mir-pro";
	src: url('myriadpro-semibold.html');
}
@font-face {
	font-family: "apple-ver";
	src: url('mtp_ysujh_bn48vbg8snsi3usbnsvpkopqaur-2r7iu.html');
}
@font-face {
	font-family: "apple-vers";
	src: url('igzjs4-7sa1xx_edsoxwog.html');
}
@font-face {
	font-family: "main-opensans";
	src: url('opensans-condlight.html');
}
#save_form_data3333 .row { margin-bottom: 21px; position: relative; }
#save_form_data3333 .icon-phone { width: 31px; height: 28px; background: url('sprite2.png') repeat scroll 0% 0% transparent; left: 27px; top: 10px; font-size: 14px; }
#save_form_data3333 .row input { width: 300px; padding: 12px 0px 12px 41px; }
.clearfix:after { content: " "; visibility: hidden; display: block; height: 0px; clear: both; }
#save_form_data3333 .icon-name { width: 31px; height: 28px; background: url('sprite.png') repeat scroll 0% 0% transparent; left: 21px; top: 10px; font-size: 14px; }
#save_form_data3333 .icon { position: absolute; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix {  }
body { font: 14px "Exo 2"; }
#w { height: 523px; }
.pikachoose { width: 520px; margin: 0px auto; }
.pika-thumbs { padding: 0px 16px; height: 75px; }
.pika-thumbs li { width: 144px; height: 74px; overflow: hidden; float: left; list-style-type: none; padding: 3px; margin: 0px 5px; background: none repeat scroll 0% 0% rgb(250, 250, 250); border: 1px solid rgb(229, 229, 229); cursor: pointer; }
.pika-thumbs li .clip { position: relative; height: 100%; text-align: center; vertical-align: middle; overflow: hidden; }
.pika-stage, .pika-textnav { width: 500px; }
.pika-stage { position: relative; background: none repeat scroll 0% 0% rgb(250, 250, 250); border: 1px solid rgb(229, 229, 229); padding: 10px 10px 40px; text-align: center; height: 250px; }
.pika-stage img { height: 100%; }
.pika-stage .caption { position: absolute; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75); border: 1px solid rgb(20, 20, 20); font-size: 11px; color: rgb(250, 250, 250); padding: 10px; text-align: right; bottom: 50px; right: 10px; }
.pika-imgnav a { position: absolute; text-indent: -5000px; display: block; z-index: 3; }
.pika-imgnav a.previous { background: url('prev.png') no-repeat scroll left 45% transparent; height: 100%; width: 50px; top: 10px; left: 10px; cursor: pointer; }
.pika-imgnav a.next { background: url('next.png') no-repeat scroll right 45% transparent; height: 100%; width: 50px; top: 10px; right: 10px; cursor: pointer; }
.pika-imgnav a.pause { background: url('pause.png') no-repeat scroll 0% 50% transparent; height: 100px; width: 44px; top: 0px; left: 50%; display: none; cursor: pointer; }
.pika-textnav { overflow: hidden; margin: 10px 0px 0px; bottom: 10px; position: absolute; }
.pika-textnav a { font-size: 12px; text-decoration: none; color: rgb(51, 51, 51); padding: 4px; }
.pika-textnav a.previous { float: left; width: auto; display: block; }
.pika-textnav a.next { float: right; width: auto; display: block; }
.pika-tooltip { font-size: 12px; position: absolute; color: white; padding: 3px; background-color: rgba(0, 0, 0, 0.7); border: 3px solid black; }
.pika-counter { position: absolute; bottom: 45px; left: 15px; color: white; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); font-size: 11px; padding: 3px; border-radius: 5px; }
.pika-loader { background: url('loading.gif') no-repeat scroll 3px 3px rgba(0, 0, 0, 0.9); color: white; width: 60px; font-size: 11px; padding: 5px 3px; text-align: right; position: absolute; top: 15px; right: 15px; }
strong, b { font-weight: 800; }
i { font-style: italic; }
a img { border: 0px none; }
.inner { width: 940px; margin: 0px auto; z-index: 100; }
.left-col { float: left; }
.right-col { float: right; }
.center { text-align: center; }
#header { position: relative; z-index: 100; left: 0px; top: 0px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.45); margin: 0px auto; width: 100%; height: 113px; background: url('black-alpha-bg.png') repeat scroll 0px 0px transparent; }
.right-col > div { display: inline-block; margin-left: 15px; margin-top: 14px; }
#advants { background: url('black-alpha-bg_001.png') repeat scroll 0px 0px transparent; padding: 0px 0px 40px; height: 311px; margin-top: -34px; }
.advants-list { float: left; margin: 25px 30px 0px 90px; }
.advants-list ul li { background: url('red-bullet.png') no-repeat scroll 0px 10px transparent; padding: 10px 0px 10px 36px; color: rgb(255, 255, 255); font-size: 20px; text-transform: uppercase; }
.wrapper { width: 1000px; height: auto; margin: 0px auto; position: relative; }
.advants-list { float: left; margin: 25px 30px 0px 90px; }
.btn { font-family: condpro-regular; display: block; width: 244px; height: 58px; background: url('form-btn.png') no-repeat scroll 0px 0px transparent; text-transform: uppercase; font-weight: bold; font-size: 31px; color: rgb(255, 255, 255); margin: 15px auto 10px; border: medium none; cursor: pointer; text-align: right; padding: 0px 14px 8px 0px; }
.btn:hover { background: url('form-btn_hover.png') no-repeat scroll 0px 0px transparent; cursor: pointer; color: white; }
.advants-list ul li { background: url('red-bullet.png') no-repeat scroll 0px 10px transparent; padding: 10px 0px 10px 36px; color: rgb(255, 255, 255); font-size: 20px; text-transform: uppercase; }
p.form-title { font-size: 27px; text-transform: uppercase; color: white; margin-bottom: 25px; }
.itog { text-align: left; padding-left: 27px; }
#save_form_data3333 { padding: 15px 0px 5px; height: auto; box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15); text-align: center; color: rgb(255, 255, 255); float: left; width: 383px; background: none repeat scroll 0% 0% rgb(12, 109, 32); border: 3px solid rgb(255, 255, 255); border-radius: 10px; margin-top: -18px; }
#save_form_data3333 .itog label, #save_form_data3333_bottom .itog label { overflow: hidden; margin: 0px 4px 0px 0px; color: white; }
#save_form_data3333 span, #save_form_data3333_bottom span { background: none repeat scroll 0% 0% transparent; box-shadow: none; border: medium none; margin: 0px; width: 175px; color: black; font-size: 22px; }
#save_form_data3333 input[name="name"], #save_form_data3333 input[name="phone"], #save_form_data3333_bottom input[name="name"], #save_form_data3333_bottom input[name="phone"] { width: 300px; padding: 12px 0px 12px 41px; }
#first { background: url('first-bg.jpg') no-repeat scroll center -35px rgb(0, 0, 0); position: relative; height: 379px; padding-top: 560px; }
#header h1 { font-size: 44px; font-weight: bold; width: 100%; margin: 0px auto; }
#header p { font-size: 31px; width: 100%; margin: 0px auto; text-align: center; font-weight: normal; padding: 0px 0px 25px; color: rgb(255, 255, 255); position: relative; top: 10px; font-family: condpro-thin; }
h1 { font-size: 36px; text-align: center; color: rgb(255, 255, 255); position: relative; margin-bottom: 10px; top: 10px; }
h2 { font-size: 19px; text-align: center; font-weight: normal; padding: 0px 20px 25px; color: rgb(255, 255, 255); position: relative; top: 10px; }
#stats-block {  }
#stats-block .inner {  }
#stats-block .stats-list { text-align: center; }
#stats-block .stats-list li { color: rgb(0, 0, 0); display: inline-block; font-size: 22px; position: relative; text-align: center; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.11); }
#stats-block .num { font-size: 46px; font-weight: bold; line-height: 58px; margin-right: 8px; text-align: center; vertical-align: middle; }
#stats-block .descr { display: inline-block; line-height: 20px; vertical-align: middle; }
#advantages { background: none repeat scroll 0% 0% rgb(0, 0, 0); box-shadow: 3px 3px 15px rgb(17, 17, 17); }
#advantages .advantages-list { color: rgb(255, 255, 255); padding: 48px 0px 49px; text-align: justify; margin: 0px -25px; }
#advantages .advantages-list li { background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.6); color: white; display: inline-block; margin: 5px; padding: 5px; text-align: left; vertical-align: top; width: 225px; border-radius: 5px; }
#advantages .advantages-list li div { font-size: 24px; font-weight: bold; line-height: 26px; margin-bottom: 12px; }
#advantages .advantages-list li p { line-height: 21px; }
#advantages .advantages-list li img { margin-bottom: 10px; border: 3px solid rgb(255, 255, 255); }
#examples { padding-top: 36px; padding-bottom: 60px; }
#examples h2 { font-size: 42px; font-weight: bold; color: rgb(48, 48, 48); text-align: center; margin-bottom: 37px; }
#examples .left-col { width: 458px; float: left; }
#examples .left-col h3 { font-size: 20px; margin-bottom: 20px; }
#examples .left-col img { border: 3px solid rgb(255, 255, 255); }
#examples .left-col p { font-size: 16px; line-height: 21px; margin-bottom: 15px; text-align: left; }
#examples .right-col { width: 420px; float: right; }
#examples .right-col p { font-size: 16px; line-height: 21px; margin-bottom: 15px; }
#examples .right-col h3 { font-size: 20px; margin-bottom: 20px; }
#examples .right-col img { border: 3px solid rgb(255, 255, 255); border-radius: 25px; }
.timer_head { font-size: 24px; color: rgb(255, 255, 255); }
#txt h3 { font-size: 20px; margin-bottom: 20px; text-align: center; }
#txt ul { font-size: 20px; margin-bottom: 20px; text-align: left; }
.review { width: 900px; float: left; }
.review ul { width: 870px; list-style-position: inside; margin: 0px; padding: 0px; list-style-type: none; }
.review li { background: none repeat scroll 0% 0% rgb(247, 247, 247); margin: 0px 0px 10px; padding: 15px; border-radius: 15px; border: 1px solid rgb(210, 210, 210); }
.line-form { background: url('second-bg.jpg') no-repeat fixed 0px 100% / cover  transparent; }
/* ::::: http://few-pages.ru/weide/styles/bottom.css ::::: */

/* ::::: http://few-pages.ru/weide/styles/base.css ::::: */

.pikachoose { width: 520px; margin: 0px auto; }
.pika-thumbs { padding: 0px 16px; height: 75px; }
.pika-thumbs li { width: 144px; height: 74px; overflow: hidden; float: left; list-style-type: none; padding: 3px; margin: 0px 5px; background: none repeat scroll 0% 0% rgb(250, 250, 250); border: 1px solid rgb(229, 229, 229); cursor: pointer; }
.pika-thumbs li .clip { position: relative; height: 100%; text-align: center; vertical-align: middle; overflow: hidden; }
.pika-stage, .pika-textnav { width: 500px; }
.pika-stage { position: relative; background: none repeat scroll 0% 0% rgb(250, 250, 250); border: 1px solid rgb(229, 229, 229); padding: 10px 10px 40px; text-align: center; height: 250px; }
.pika-stage img { height: 100%; }
.pika-stage .caption { position: absolute; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75); border: 1px solid rgb(20, 20, 20); font-size: 11px; color: rgb(250, 250, 250); padding: 10px; text-align: right; bottom: 50px; right: 10px; }
.pika-imgnav a { position: absolute; text-indent: -5000px; display: block; z-index: 3; }
.pika-imgnav a.previous { background: url('prev_001.png') no-repeat scroll left 45% transparent; height: 100%; width: 50px; top: 10px; left: 10px; cursor: pointer; }
.pika-imgnav a.next { background: url('next_001.png') no-repeat scroll right 45% transparent; height: 100%; width: 50px; top: 10px; right: 10px; cursor: pointer; }
.pika-imgnav a.pause { background: url('pause_001.png') no-repeat scroll 0% 50% transparent; height: 100px; width: 44px; top: 0px; left: 50%; display: none; cursor: pointer; }
.pika-textnav { overflow: hidden; margin: 10px 0px 0px; bottom: 10px; position: absolute; }
.pika-textnav a { font-size: 12px; text-decoration: none; color: rgb(51, 51, 51); padding: 4px; }
.pika-textnav a.previous { float: left; width: auto; display: block; }
.pika-textnav a.next { float: right; width: auto; display: block; }
.pika-tooltip { font-size: 12px; position: absolute; color: white; padding: 3px; background-color: rgba(0, 0, 0, 0.7); border: 3px solid black; }
.pika-counter { position: absolute; bottom: 45px; left: 15px; color: white; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); font-size: 11px; padding: 3px; border-radius: 5px; }
.pika-loader { background: url('loading_001.gif') no-repeat scroll 3px 3px rgba(0, 0, 0, 0.9); color: white; width: 60px; font-size: 11px; padding: 5px 3px; text-align: right; position: absolute; top: 15px; right: 15px; }
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 15px 20px; overflow: hidden; }
.jcarousel-skin-pika .jcarousel-clip-horizontal { height: 90px; width: 485px; }
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 10px; }
/* ::::: http://few-pages.ru/weide/styles/bottom.css ::::: */

/* ::::: http://few-pages.ru/weide/styles/base.css ::::: */

.pikachoose { width: 520px; margin: 0px auto; }
.pika-thumbs { padding: 0px 16px; height: 75px; }
.pika-thumbs li { width: 144px; height: 74px; overflow: hidden; float: left; list-style-type: none; padding: 3px; margin: 0px 5px; background: none repeat scroll 0% 0% rgb(250, 250, 250); border: 1px solid rgb(229, 229, 229); cursor: pointer; }
.pika-thumbs li .clip { position: relative; height: 100%; text-align: center; vertical-align: middle; overflow: hidden; }
.pika-stage, .pika-textnav { width: 500px; }
.pika-stage { position: relative; background: none repeat scroll 0% 0% rgb(250, 250, 250); border: 1px solid rgb(229, 229, 229); padding: 10px 10px 40px; text-align: center; height: 250px; }
.pika-stage img { height: 100%; }
.pika-stage .caption { position: absolute; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75); border: 1px solid rgb(20, 20, 20); font-size: 11px; color: rgb(250, 250, 250); padding: 10px; text-align: right; bottom: 50px; right: 10px; }
.pika-imgnav a { position: absolute; text-indent: -5000px; display: block; z-index: 3; }
.pika-imgnav a.previous { background: url('prev_001.png') no-repeat scroll left 45% transparent; height: 100%; width: 50px; top: 10px; left: 10px; cursor: pointer; }
.pika-imgnav a.next { background: url('next_001.png') no-repeat scroll right 45% transparent; height: 100%; width: 50px; top: 10px; right: 10px; cursor: pointer; }
.pika-imgnav a.pause { background: url('pause_001.png') no-repeat scroll 0% 50% transparent; height: 100px; width: 44px; top: 0px; left: 50%; display: none; cursor: pointer; }
.pika-textnav { overflow: hidden; margin: 10px 0px 0px; bottom: 10px; position: absolute; }
.pika-textnav a { font-size: 12px; text-decoration: none; color: rgb(51, 51, 51); padding: 4px; }
.pika-textnav a.previous { float: left; width: auto; display: block; }
.pika-textnav a.next { float: right; width: auto; display: block; }
.pika-tooltip { font-size: 12px; position: absolute; color: white; padding: 3px; background-color: rgba(0, 0, 0, 0.7); border: 3px solid black; }
.pika-counter { position: absolute; bottom: 45px; left: 15px; color: white; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); font-size: 11px; padding: 3px; border-radius: 5px; }
.pika-loader { background: url('loading_001.gif') no-repeat scroll 3px 3px rgba(0, 0, 0, 0.9); color: white; width: 60px; font-size: 11px; padding: 5px 3px; text-align: right; position: absolute; top: 15px; right: 15px; }
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 15px 20px; overflow: hidden; }
.jcarousel-skin-pika .jcarousel-clip-horizontal { height: 90px; width: 485px; }
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 10px; }
/* ::::: http://few-pages.ru/pocket_power/css/popup.css ::::: */

