/* ::::: http://luckup.tw1.ru/timer/style/main.css ::::: */

html, body { margin: 0px; padding: 0px; }
body { text-align: center; }
#countdown_dashboard { height: 110px; }
.dash { width: 110px; height: 114px; background: url('dash.png') no-repeat scroll 0px 0px transparent; float: left; margin-left: 20px; position: relative; }
.dash .digit { font-size: 55pt; font-weight: bold; float: left; width: 55px; text-align: center; font-family: Times; color: rgb(85, 85, 85); position: relative; }
.dash_title { position: absolute; display: block; bottom: 0px; right: 25px; font-size: 9pt; color: rgb(85, 85, 85); text-transform: uppercase; letter-spacing: 2px; }
.dash_title1 { position: absolute; display: block; bottom: 0px; right: 35px; font-size: 9pt; color: rgb(85, 85, 85); text-transform: uppercase; letter-spacing: 2px; }
.dash_title2 { position: absolute; display: block; bottom: 0px; right: 32px; font-size: 9pt; color: rgb(85, 85, 85); text-transform: uppercase; letter-spacing: 2px; }
