﻿
.county > span{width: 50px;display: inline-block;height: 50px;font-size: 35px;line-height: 50px;position: relative;
    overflow: hidden;margin: 0 20px 0 0px; color: #242424; text-align: center;background: url(../img/count.png) no-repeat center;font-weight: 700;}
.county > span:after{content:"";background: url(../img/count-line.png) no-repeat left top;width:50px;height:8px;position:absolute;left: 0;top: 23px;}
.county > span > span{display: block;height: inherit;}



