@font-face {
    font-family: Exo2Medium;
    src: url(../fonts/Exo2Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Exo2Regular;
    src: url(../fonts/Exo2Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Exo2SemiBold;
    src: url(../fonts/Exo2SemiBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/"Roboto Condensed".otf);
    font-weight: bold;
}
@font-face {
    font-family: HelveticaNeueCyr-Black;
    src: url(../fonts/HelveticaNeueCyr-Black.otf);
    font-weight: black;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/"Roboto Condensed".otf);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/"Roboto Condensed".otf);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/"Roboto Condensed".otf);
    font-weight: 200;
}
@font-face {
    font-family: HelveticaNeueCyr-Thin;
    src: url(../fonts/HelveticaNeueCyr-Thin.otf);
    font-weight: 100;
}

*{padding:0; margin: 0; text-decoration: none; list-style-type: none;}

.container{
	width: 100%;
}
.wrap{
	width: 990px;
	height: 100%;
	margin-left:  auto;
	margin-right: auto;
}
.left_col{
	float: left;
}
.right_col{
	float: right;
}
.clear{clear: both;}
.blue_font{color: #0105ae;}
.white_font{color: white;}

#header{ 
	background-color: #0105ae;
	height: 58px;
	line-height: 58px;
	color: #ffffff !important;
	font-size: 16px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	}
#header .nav{list-style-type: none; display: block;}
#header .nav li{display: inline-block; height: 58px; width: 110px; background-color: transparent; text-align: center;}
#header .nav li.order{
background-color: red;
font-family: "Roboto Condensed", Arial, sans-serif;
 }
#header .nav li a{display: block; color: white; }
#header .callback{
	background: url('../img/callback.png') no-repeat left center;
	padding-left: 30px;
	height: 58px;
}
#header .callback a{display: block; color: white;}
#block1{
	background: url('../img/block1.jpg') no-repeat center center;
	height: 747px;
}
#block1 .wrap  > .left_col{width: 53%; margin-top: 130px; }
#block1 .wrap   > .left_col > div{margin-bottom: 70px; }
#block1 .wrap  .left_col .left_col{
width: 100%;
font-family: "Roboto Condensed", Arial, sans-serif;
font-size: 25px;
background-color: #0105ae;
line-height: 2;
text-align: center;
}
#block1 .wrap  .left_col .left_col span{display: inline-block; width: 100%;}
#block1 .wrap  .left_col .left_col>span{border-bottom: 1px solid white;}

#block1 .wrap  .left_col .right_col{
font-family: "Roboto Condensed", Arial, sans-serif;
font-size: 27px;
line-height: 1.5;
text-align: center;
font-weight: 200;
padding-top: 14px;
width: 160px;


}

#block1 .wrap  .left_col .right_col span{display: inline-block; width: 100%;}


#block1 h1{
font-family: "Roboto Condensed", Arial, sans-serif;
font-size: 40px;
font-weight: 200;
}

#block1 h4{
font-family:"Roboto Condensed", Arial, sans-serif;
font-size: 30px;
font-weight: 100;
margin-bottom: 50px;
}
#separator, #separator2{background-color:#0105ae;}
#separator{height: 10px;}
#separator2{height: 7px;}

#block2 .feature{
	width: 33%;
	display: inline-block;
	text-align: center;
	margin:50px 0 55px 0;
}
#block2 .feature h2{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 35px;
	font-weight: 200;
}

#block2 .feature p{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
	color: #6c6c6c;
}

#block3{
	background: url('../img/block3.jpg') no-repeat center center;
	height: 456px;
}

#block3 .left_col{
	width: 55%;
	padding: 10px;
	border: 1px solid white;
	margin-top: 60px;
	margin-bottom: 70px;

}

#block3 .right_col{
	width: 40%;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	margin-top: 70px;
	line-height: 1.5;
}

#block3 .right_col .sep{height: 0px; border: 1px solid white; margin-bottom: 40px; width: 80px;}
#block3 .sep{height: 0px; border: 1px solid white; width: 80px;}

#block3 .right_col h2{
font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 28px;
	font-weight: 200;
	margin-bottom: 20px;
}

#block4{height: 490px;}
#block4 .left_col{
	width: 44%;
	margin-top: 60px;
	
}

#block4 .left_col p{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: 6c6c6c;
	line-height: 1.5;
}

#block4 .right_col{
	background: none;
	width: 51%;
	position: relative;
	top: -33px;
}

#block4 .right_col img{margin: 0; padding: 0; width: 510px;}

#block4 .old_price{
	margin-top: 50px;
	display: inline-block;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 20px;
	text-decoration: line-through;
}

#block4 .new_price{
	display: inline-block;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 30px;
}
#block4 .order_link{
	display: inline-block;
	background-color: #0105ae;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 20px;
	width: 280px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	margin: 30px auto 0 auto;
	
}

#block5{ height: 610px;}
#block5 .annotation{
	text-align: center;
}
#block5 .annotation h2{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 35px;
	margin-bottom: 15px;
}
#block5 .annotation p{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #6c6c6c;
	line-height: 1.5;
	margin-bottom: 30px;
}
#block5 .annotation .sep{height: 0px; border: 1px solid #0105ae; width: 80px; margin: 0 auto;}

#block5 .images{ margin-top: 50px; margin-bottom: 50px;}

#block5 .features{

	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #6c6c6c;
}	


#block5 .features ul{
display: inline-block;
width: 47%;
line-height: 1.5;
list-style-type: none;
}
#block5 .features ul .first {
margin-right: 50px;
}
#block5 .features ul  li{
	margin-bottom: 30px;
}
#block5 .features ul  li:before{
		content: "\2014" ;
		margin-left: -3ex;
		margin-right: 1ex;
}

#block6 {
background: url('../img/block6.jpg') no-repeat center center;
height: 467px;
}

#block6 .left_col{
	position: relative;
	top: -27px;
	width: 44%;
}
#block6 .right_col{
	margin-top: 55px;
	width: 475px;
	text-align: justify;
	padding-right: 50px;
}

#block6 .right_col .review p{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 15px;
line-height: 1.5;	
}

#block6 .right_col h2{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 35px;
	font-weight: 200;
	margin-bottom: 10px;
}
#block6  .sep{height: 0px; border: 1px solid #fff; width: 80px;}

#block6 .right_col > p{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
	line-height: 1.5;
	margin-bottom: 20px;
}

#block6 .right_col h3{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 20px;
	font-weight: 100;
}
#block6 .right_col .flexslider {
    position: relative;
	margin-top: 40px;
}

#block6 .right_col h3 {
    margin-bottom: 20px;
}

#block6 .right_col .flex-control-nav, #block6 .right_col .flex-prev {
    display: none;
}

#block6 .right_col .slides {
    float: left;
}

#block6 .right_col .slides li {
    list-style: none;
}

#block6 .right_col .slides li .review {
    width: 100%;
}

#block6 .right_col .flex-next {
    background: url("../img/left_arrow.png") no-repeat center center;
    width: 22px;
    height: 47px;
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -40px;
    text-indent: -9999999px;
}

#block7{
	height: 503px; 
	background: url('../img/block7.jpg') no-repeat center center;
}

#block7 .wrap > .left_col{
	width: 67%;
	margin-left: 70px;
	margin-top: 60px;
	
	padding-bottom: 20px;
}

#block7 .left_col h2{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 32px;
	font-weight: 200;
	margin-bottom: 10px;
}

#block7 .left_col p{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #6c6c6c;
}

#block7  .sep{height: 0px; border: 1px solid #0105ae; width: 80px;}

#block7 .old_price{
	display: inline-block;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 20px;
	text-decoration: line-through;
}

#block7 .new_price{
	display: inline-block;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 30px;
}
#block7 .order_link{
	display: inline-block;
	background-color: #0105ae;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 20px;
	width: 100%;
	height: 55px;
	line-height: 55px;
	text-align: center;
	margin: 20px auto 0 auto;
	border: none; 
	cursor: pointer;
}
#block7 #order_form{padding-top: 40px;}
#block7 #order_form .form{
	width: 40%;
	float: left;
	text-align: center;
	margin-left: 35px;
}
#block7 #order_form .form h3{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
}

#block7 #order_form .form input{
	height: 45px;
	line-height: 45px;
	display: block;
	border: 1px dashed #0105ae;
	width: 85%;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#block7 #order_form .left_col{
	width: 40%;
}

#block7 .timer{
	margin-top: 40px;
	margin-bottom: 30px;
}

#block7 .timer > .title {
    font-size: 16px;
    margin-bottom: 15px;
	line-height: 20px;
}

#block7 .timer .block {
    float: left;
}

#block7 .timer .block .rect {
    border-radius: 5px;
	font-family: "Roboto Condensed", Arial, sans-serif;
    line-height: 44px;
    font-size: 44px;
    padding: 0 5px;
	color: #0105ae;
}

#block7 .timer .block .label {
    font-size: 15px;
}

#block7 .timer .points {
    float: left;
    width: 23px;
    height: 59px;
	text-align: center;
	line-height: 44px;
	font-size: 44px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	color: #0105ae;
}

#block7 .total{
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #6c6c6c;
}

#footer{
	height: 80px;
	text-align: center;
}

.mobile {display: none;}
/*-----------------640-------------------*/
@media screen and (max-width: 980px) {

.wrap{
	width: 620px;
}

#header{ 	
	height: 48px;
	line-height: 48px;	
	font-size: 14px;
	}

#header .nav li{height: 48px; width: 100px;}


#header .callback{
	height: 48px;
}

#block1{
	background: url('../img/block1_640.jpg') no-repeat center center;
	height: 709px;
}
#block1 .wrap  > .left_col{width: 95%; }
#block1 .wrap   > .left_col > div{margin-bottom: 0px; }
#block1 .wrap  .left_col .left_col{
width: 330px;
font-size: 23px;
letter-spacing: 1px;
float: none;
}

#block1 .wrap  .left_col .right_col{

padding-top: 50px;
float: none;
margin-left: 100px;
}

#block1 .wrap  .left_col .right_col span{display: inline-block; width: 100%;}


#block1 h1{
font-size: 40px;
letter-spacing: 2px;
margin-left: 13px;

}

#block1 h4{

font-size: 19px;
letter-spacing: 1px;
margin-left: 13px;
}

#block1 img.orig{display: none;}
#block1 img.mobile{display: inline;}


#block2 .feature{
	width: 32%;
	margin:30px 0 30px 0;
}
#block2 .feature h2{
	font-size: 18px;
	font-weight: 200;
}

#block2 .feature p{
	font-size: 14px;
}

#block3{
	background: url('../img/block3_640.jpg') no-repeat center center;
	height: 647px;
}

#block3 .left_col{
	width: 542px;
	height: 265px;
	margin-bottom: 20px;
	margin-left: 27px;
}


#block3 .right_col{
	width: 595px;
	margin-top: 0;
}

#block3 .right_col .sep{display: block;}
#block3 .sep{display: none;}


#block3 .right_col.desktop{ display: none;}
#block3 .right_col.mobile{ display: block;}

#block3 .right_col.mobile p.first{
	margin-right: 35px;
}

#block3 .right_col.mobile p{
width: 265px;
float: left;
text-align: justify;
font-size: 16px;
}

#block4{height: 610px;}

#block4 .left_col{	
	margin-top: 60px;
	float: left;
}
#block4 .left_col.desktop{display: none;}
#block4 .left_col.mobile{display: block; margin-left: 40px; margin-top: 30px; width: auto;}
#block4 .left_col.mobile div{text-align: center}
#block4 .left_col.mobile p{
	float: left;
	width: 265px;
	text-align: justify;
	
}
#block4 .left_col.mobile p.first{margin-right: 40px;}

#block4 .right_col .desktop{display: none;}
#block4 .right_col .mobile{display: inline;}

#block4 .right_col{
width: 561px;
	top: -13px;
}

#block4 .mobile .old_price{
	margin-top: 40px;
	margin-right: 30px;
}



#block4  .mobile .order_link{
	display: block;
}

#block5{ height: 616px; margin-top: 50px;}

#block5 .annotation p{
	margin-bottom: 20px;
}

#block5 .images{ margin-top: 30px; margin-bottom: 40px; margin-left: 35px;}
#block5 .images img{width: 280px;}
#block5 .images img.desktop{display: none;}
#block5 .features{
	margin-left: 55px;
}	


#block5 .features ul{
width: 45%;
}

#block5 .features ul  li{
	margin-bottom: 20px;
}

#block6 {
background: url('../img/block6_640.jpg') no-repeat center center;
height: 873px;
}

#block6 .left_col{
	margin-left: 15%;
}
#block6 .right_col{
	margin-top: 30px;
	padding-right: 30px;
	float: left;
	width: 557px;
	padding-left: 30px;
}




#block7{
	height: 826px; 
	background: url('../img/block7_640.jpg') no-repeat center center;
}

#block7 .wrap > .left_col{
	width: 90%;
	margin-left: 30px;
	background: none;
}


#block7 .old_price{
	margin-right: 30px;
}

#block7 #order_form{ width: 290px;}
#block7 #order_form .form{
	width: 100%;
	margin-left:0px;
}


#block7 #order_form .form input{
	width: 240px;
}
#block7 #order_form .left_col{
	width: 100%;
}

#block7 .timer > .title {
    font-size: 17px;
}

}


/*-----------------320-------------------*/
@media screen and (max-width: 639px) {

.wrap{
	width: 320px;
}

#header{ 	
	height: 10px;
	line-height: 48px;	
	font-size: 14px;
	}

#header .nav {display: none;}


#header .callback{
	display: none;
}

#block1{
	background: url('../img/block1_320.jpg') no-repeat center center;
	height: 1014px;
}
#block1 .wrap  > .left_col{width: 95%; margin-top: 35px;     text-align: center;}
#block1 .wrap   > .left_col > div{margin-bottom: 35px; position: relative;}
#block1 .wrap  .left_col .left_col{
width: 99%;
font-size: 20px;
letter-spacing: 1px;
float: none;
margin-left: 10px;
}

#block1 .wrap  .left_col .right_col{
font-size: 18px;
padding-top: 0px;
float: none;
margin-left: 0px;
position: absolute;
top: 120px;
left: 100px;
width: 200px;
}

#block1 .wrap  .left_col .right_col span{display: inline; }


#block1 h1{
font-size: 32px;
letter-spacing: 2px;
margin-left: 13px;

}

#block1 h4{
margin-bottom: 30px;
font-size: 16px;
letter-spacing: 1px;
margin-left: 13px;
}

#block1 img.orig{display: none;}
#block1 img.mobile{display: inline;}


#block2 .feature{
	width: 220px;
	margin:30px auto 30px auto;
	display: block;
	
}
#block2 .feature h2{
	font-size: 24px;
	font-weight: 200;
}

#block2 .feature p{
	font-size: 14px;
}

#block3{
	background: url('../img/block3_320.jpg') no-repeat center center;
	height: 744px;
}

#block3 .left_col{
	width: 269px;
	height: 221px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#block3 .left_col .second{display: none;}
#block3 .left_col .first{width: 100%;}

#block3 .right_col{
	width: 300px;
	margin-top: 0;
}

#block3 .right_col .sep{display: block;}
#block3 .sep{display: none;}


#block3 .right_col.desktop{ display: none;}
#block3 .right_col.mobile{ display: block;}

#block3 .right_col.mobile p.first{
	margin-right: 35px;
}

#block3 .right_col.mobile p{
width: 265px;
float: left;
text-align: justify;
font-size: 16px;
}

#block4 {
    height: auto;
    padding-bottom: 30px;
    overflow: hidden;
}

#block4 .left_col{	
	margin-top: 60px;
	float: left;
}
#block4 .left_col.desktop{display: none;}
#block4 .left_col.mobile{display: block; margin-left: 20px; margin-top: 30px; width: auto;}
#block4 .left_col.mobile div{text-align: center}
#block4 .left_col.mobile p{
	float: left;
	width: 265px;
	text-align: justify;
	
}
#block4 .left_col.mobile p.first{margin-right: 0px;}

#block4 .right_col .desktop{display: none;}
#block4 .right_col .mobile{display: inline;}

#block4 .right_col{
width: 320px;
	top: -13px;
	background-size: contain;
	text-align: center;
	background: url('../img/block4_girl_640.png') center center no-repeat;
	height: 263px;
	float: none;
}
#block4 .right_col .mobile{display: none;}



#block4 .mobile .old_price{
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 0;
}



#block4  .mobile .order_link{
	display: block;
	width: 280px;
	margin-left: 0;
}

#block5{ height: 878px; margin-top: 50px;}

#block5 .annotation p{
	margin-bottom: 20px;
}

#block5 .features ul{
	width: 250px;
}

#block5 .features ul .first {
margin-right: 0;
}
#block5 .images{ margin-top: 30px; margin-bottom: 40px; margin-left: 20px;}
#block5 .images img{width: 280px;}
#block5 .images img.desktop{display: none;}
#block5 .images img.second{display: none;}
#block5 .features{
	margin-left: 55px;
}	


#block5 .features ul{
width: 100%;
}

#block5 .features ul  li{
	margin-bottom: 20px;
	font-size: 16px;
}

#block6 {
    background: url('../img/block6_320.jpg') no-repeat center center;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

#block6 .left_col{
	margin-left: 05%;
	width: 290px;
	height: 307px;
	top: -17px;
}
#block6 .left_col img{width: 100%;}
#block6 .right_col{
	margin-top: 30px;
	padding-right: 30px;
	float: left;
	width: 265px;
	padding-left: 10px;
}




#block7{
	height: 1156px; 
	background: url('../img/block7_320.jpg') no-repeat center center;
	text-align: center;
}

#block7 .wrap > .left_col{
	width: 90%;
	margin-left: 15px;
	background: none;
	margin-top: 20px;
	
}
#block7 h2{text-align: center;}
#block7 .wrap > .left_col > p{
	font-size: 14px;
	text-align: center;
}
#block7 .wrap > .left_col .sep{
	margin-left: auto;
	margin-right: auto;
	
}
#block7 .old_price{
	margin-right: 30px;
}

#block7 #order_form{ width: 280px;}
#block7 #order_form .form{
	width: 100%;
	margin-left:0px;
}
#block7  .timer .block.first{
margin-left: 30px;}

#block7 #order_form .form input{
	width: 240px;
}
#block7 #order_form .left_col{
	width: 100%;
}

#block7 .timer > .title {
    font-size: 17px;
}

}