body {
	background-image: url("images/subtle_grunge.png");
}
.adult {
	color: red;
	font-size: 14px;
	font-weight: bold;
	font-family: Impact;
}
.video-thumb {
	width: 240px;
	height: 180px;
	min-height: 180px;
	max-height: 180px;
	overflow: hidden;
}

.video-description {
	height: 120px;
	overflow: hidden;
}
.video-title {
	height: 60px;
	overflow: hidden;
}
.video-title a {
	color: #000;
}
.video-more-button {
	width: 300px;
	margin-bottom: 20px;
}
.panel-transparent {
	background: rgba(46, 51, 56, 0.1)!important;
}
.logo {
	height: 70px;
	width: 256px;
	/*overflow: hidden;*/
	/*margin-right: -12px;*/
}
.logo-margin {
	margin-top: 10px;
}
.categories-link {
	font-weight: bold;
}
#timer {
    font-size: 100px;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}
.video-description-full {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}
.video-title-full {
	display: block;
	text-align: center;
}
.video-player {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.video-info {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.video-info .info-row {
	margin-bottom: 10px;
}
.video-info .left {
	float: left;
}
.video-info .right {
	float: right;
}
.video-info .video-views {
	margin-right: 5px;
}
.video-info .video-categories {
	width: 570px;
}
.like {
    margin-top: 5px;
    width: 100px;
}
.like .percent {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 12px;
    padding-left: 12px;
}
.like img {
    display: block;
    float: left;
}
.category-image {
	height: 230px;
	width: auto;
	float: right;
	margin-left: 15px;
}
.category-text {
	margin-bottom: 10px;
}
.counter {
	text-align: center;
}
.tags a {
	margin: 5px;
}

.comments .list {margin: 0; padding: 0;}
.comments .list li {margin: 0; padding: 0; list-style-type: none; /*width: 500px;*/ margin-bottom: 10px;}
.comments .list .user {width: 100px; float: left; overflow: hidden;}
.comments .list .date {width: 250px; float: left; overflow: hidden; text-align: right;}
.comments .list .text {clear: both;}
.comments-add .user {/*width: 300px;*/}
.comments-add .text {/*width: 500px;*/ height: 150px;}