body {
    color: #fff;
    background-color: #651212;
    margin: 0;
    padding 0;
}

h1 {text-align: center; font-size: large;}
h2 {text-align: center; font-size: large;}

.thumbs {width: 100%; margin-bottom: 20px; text-align: center; clear: both;}
.thumbs ul {list-style-type: none; margin: 0 20px; padding: 0;}
.thumbs li {text-align: center; overflow: hidden; width: 250px; height: 250px; margin: 0; padding: 2px; float: left; font-size: 12px;}
.thumbs li:hover {}
.thumbs li .title {width: 160px; height: 40px; margin: 0 auto; overflow: hidden; font-size: medium;}
.thumbs li .info {margin: 0 10px 0 10px;}
.thumbs li .info {position: relative; top: 180px;}
.thumbs li .date {float: left; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs li .views {float: right; font-size: 10px; background-color: #fff; color: #000; line-height: 13px; font-weight: bold; padding: 0 2px 0 2px;}
.thumbs img {width: 240px; height: auto; margin: 0 0 5px 0;}
.thumbs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.thumbs a {color: #fc0;}

.sort {
    font-size: large;
    text-align: center;

}
.sort .active {
    font-weight: bold;
}
.sort a {color: #fff;}

.categories {
    margin: 10px;
    padding: 0;
}
.categories li {
    margin: 5px;
    padding: 2px;
    width: auto;
    height: auto;
    /*display: inline;*/
    float: none;
    font-weight: bold;
    text-align: left;
    list-style-type: none;
}
.categories a {color: #fff; }

.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 270px;
    height: 35px;
    background: url(/types/smsvideo/template/img/header.png) -1px -5px;
    background-size: auto 50px;
    /*border: 1px solid #999;*/
}

.footer {
    color: #fc0;
    text-align: center;
}

.pagination {margin: 0 0 20px 30px;}
.pagination a {color: #000;}
.pagination .points {display: none;}

.player {width: 300px; margin: 0 auto;}
.video_info {width: 140px; margin: 0 auto;}
.video_info a {color: #fff;}
.video_info .title {background-color: #fff;}
.video_info .text {background-color: #fff;}

.categories_link {
    margin-bottom: 10px;
    text-align: center;
}