<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Help me!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/types/engine/template/css/font-awesome/5.3.1/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		{menu}
		<div id="app" v-show="true" style="display: none;">
			<h3>Обновление Битрикс</h3>
			<ul id="container" style="max-height: 350px; overflow-y: auto;">
				<li v-for="content in responses">
					{{ content }}
				</li>
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

		<script>
			var vue = new Vue({
				el: '#app',
				data: {
					responses: [],
				},
				methods: {
					getPage: function(url) {
						axios
						.get(url)
						.then(response => {
							this.responses.push(response.data);
							this.scrollToEnd();
							if (response.data == 'Обновление завершено') {
								localStorage.startUrl = JSON.stringify(null);
							} else {
								localStorage.startUrl = JSON.stringify(response.data);
								this.getPage(response.data);
							}
						})
						.catch(error => {
							alert('Ошибка получения данных');
						});
					},
					scrollToEnd: function() {    	
						var container = this.$el.querySelector("#container");
						container.scrollTop = container.scrollHeight;
					},
				},
				mounted() {
					// localStorage.startUrl = '/?r=UpdateBitrix/updateDeals&next=34000';
					localStartUrl = localStorage.startUrl?JSON.parse(localStorage.startUrl):null;
					startUrl = localStartUrl?localStartUrl:'/?r=UpdateBitrix/updateStart';
					this.getPage(startUrl);
				},
			});
		</script>
	</div>
</body>
</html>