@charset "IBM866";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: bold; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

.pad10 {
  height: 10px; }

.pad20 {
  height: 20px; }

.pad30 {
  height: 30px; }

.pad40 {
  height: 40px; }

.pad50 {
  height: 50px; }

.pad60 {
  height: 60px; }

.pad70 {
  height: 70px; }

.pad80 {
  height: 80px; }

h1, h2, h3, p, label {
  font-family: tahoma, arial, verdana, sans-serif; }

* {
  font-family: tahoma, arial, verdana, sans-serif;
  margin: 0;
  padding: 0; }

img {
  border: none; }

body {
  background: #fff; }

aside, nav, footer, header, section {
  display: block; }

.scroll-r {
  position: relative; }

.scroll-a {
  position: absolute;
  top: -30px; }

/*Блок header*/
.bg_header {
  height: 135px;
  position: absolute;
  width: 100%; }

header {
  width: 980px;
  margin: 0 auto;
  overflow: hidden; }

header .logo {
  float: left;
  text-decoration: none;
  display: block;
  margin: 40px 0 0 0; }

header .logo .name_site {
  color: #fff;
  text-transform: uppercase;
  font-size: 41px;
  line-height: 1; }

header .logo .slogan_site {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1; }

header h1 {
  float: left;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
  margin: 40px 0 0 75px; }

header .phones {
  float: right;
  text-align: right;
  margin: 40px 0 0 0;
  line-height: 22px; }

header .phones p {
  color: #fff;
  font-size: 15px; }

header .phones .tel {
  color: #fff;
  font-size: 40px; }

header .phones .tel span {
  font-size: 30px; }

/*Блок top*/
.bg_top {
  background: url(../img/top.jpg) black no-repeat center 0;
  height: 561px; }

.top span {
  color: #DFA731;
  font-size: 30px; }

.top ul {
  list-style-position: inside; }

.top ul li {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 52px; }

/*Блок nav*/
.fixed_menu {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 999; }

.fixed_menu.fixed {
  position: fixed;
  top: 0; }

.bg_menu {
  background: #1D1E20;
  height: 99px; }

nav {
  width: 980px;
  margin: 0 auto;
  overflow: hidden; }

nav ul {
  list-style: none;
  margin: 25px 0 0 0; }

nav ul li {
  float: left;
  border-right: 1px dotted #fff;
  padding: 3px 46px 0;
  color: #ffffff; }

nav ul li span {
  font-size: 30px;
  line-height: 20px; }

nav ul li:last-child {
  border-right: none; }

nav ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer; }

nav ul li a:hover {
  text-decoration: underline; }

/*Блок about_block*/
.about_block {
  width: 980px;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
  padding: 25px 0 50px 0; }

.about_block .header_block {
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0; }

.about_block .header_block span {
  font-size: 34px; }

.about_block .video {
  float: left;
  margin: 0 0 0 30px;
  padding-top: 7px; }

.about_block .description {
  float: right;
  width: 450px;
  margin: 0 30px 0 0; }

.about_block .description p {
  color: #000000;
  font-size: 17px;
  line-height: 24px; }

.about_block .description ul {
  list-style-position: inside;
  margin: 20px 0 0 0; }

.about_block .description ul li {
  list-style: disc inside;
  text-transform: uppercase;
  color: #000000;
  font-size: 17px;
  line-height: 32px;
  font-weight: bold; }

.about_block .description .order_now:hover {
  color: #fff;
  background: #a0ff9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0ff9e), color-stop(100%, #005e06));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a0ff9e 0%, #005e06 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ff9e', endColorstr='#005e06',GradientType=0 );
  /* IE6-9 */ }

/*Блок types_clocks*/
.bg_types_clocks {
  background: url(../img/charecteristic_back.jpg) #1f1f1f no-repeat center 0;
  height: 583px; }

.title {
  font-weight: bold;
  font-size: 34px;
  color: #fff;
  text-align: center; }

.title span {
  font-size: 93px;
  color: #ffd738; }

.title_small {
  font-size: 23px;
  color: #ffd738;
  padding-top: 25px; }

.influence {
  color: #000;
  font-weight: bold; }

.old_price_present {
  font-size: 20px;
  color: #000; }

.old_price_present span {
  font-weight: bold; }

.new_prise_present {
  font-size: 20px;
  color: #000; }

.new_prise_present span {
  font-weight: bold; }

.prise_my {
  line-height: 24px; }

.prise_my span {
  font-weight: bold;
  font-size: 40px;
  color: #ffd738; }

.title_middle {
  font-size: 35px;
  color: #FFFFFF; }

.title_middle strong {
  font-size: 56px; }

.deliveryTissot {
  margin-left: 300px; }

.text_white {
  font-size: 17px;
  color: #ffffff;
  padding-top: 22px; }

.text_black {
  color: #000;
  padding-top: 22px; }

.we li {
  padding-top: 19px; }

.we li span {
  font-weight: bold; }

.list {
  list-style-image: url("../img/check.png");
  list-style-position: inside;
  line-height: 51px;
  font-size: 17px; }
  .list li {
    margin: 0 0 0 15px;
    font-size: 26px;
    color: #ffffff; }
    .list li span {
      padding-left: 4px;
      font-size: 26px;
      font-weight: bold;
      text-decoration: underline;
      font-weight: bold; }

ul.text_black {
  list-style-position: inside;
  line-height: 29px;
  font-size: 19px; }

.text_black span {
  font-weight: bold; }

.types_clocks {
  width: 980px;
  margin: 0 auto;
  padding: 37px 0 0 0; }

.why_select {
  background: url("../img/men.html");
  width: 400px;
  height: 727px;
  margin-left: 556px; }

.foto1 {
  background: url("../img/01-tissot-1853.html");
  width: 352px;
  height: 670px;
  float: right; }

.foto3 {
  background: url("../img/3-(1.html).jpg");
  width: 439px;
  height: 453px;
  float: right;
  margin-top: 20px;
  margin-left: 20px; }

.cir1 {
  background: url("../img/Group-9.png");
  width: 318px;
  height: 302px;
  float: left; }

.fancy-link-hover {
  display: block;
  width: 318px;
  height: 302px;
  position: relative;
  z-index: 1; }
  .fancy-link-hover:hover + .link-look-more {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.3); }

.link-look-more {
  color: #fffc00;
  background: #313131;
  right: 20px;
  top: 239px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 15px #000000;
  -moz-box-shadow: 1px 1px 15px #000000;
  box-shadow: 1px 1px 15px #000000;
  padding: 0 15px;
  font-size: 14px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 5px;
  border-radius: 11px;
  text-align: center;
  line-height: 29px; }

.animatedLink {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes swing {
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 85%, 90%, 95%, 100% {
    -webkit-transform-origin: top center; }

  10% {
    -webkit-transform: rotate(15deg) scale(1.15); }

  20% {
    -webkit-transform: rotate(-12deg) scale(1.15); }

  30% {
    -webkit-transform: rotate(10deg) scale(1.15); }

  40% {
    -webkit-transform: rotate(-8deg) scale(1.15); }

  50% {
    -webkit-transform: rotate(6deg) scale(1.15); }

  60% {
    -webkit-transform: rotate(-5deg) scale(1.15); }

  70% {
    -webkit-transform: rotate(5deg) scale(1.15); }

  80% {
    -webkit-transform: rotate(-4deg) scale(1.15); }

  85% {
    -webkit-transform: rotate(3deg) scale(1.15); }

  90% {
    -webkit-transform: rotate(-2deg) scale(1.15); }

  95% {
    -webkit-transform: rotate(2deg) scale(1.15); }

  100% {
    -webkit-transform: rotate(0deg) scale(1.15); } }
@-moz-keyframes swing {
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 85%, 90%, 95%, 100% {
    -moz-transform-origin: top center; }

  10% {
    -moz-transform: rotate(15deg) scale(1.15); }

  20% {
    -moz-transform: rotate(-12deg) scale(1.15); }

  30% {
    -moz-transform: rotate(10deg) scale(1.15); }

  40% {
    -moz-transform: rotate(-8deg) scale(1.15); }

  50% {
    -moz-transform: rotate(6deg) scale(1.15); }

  60% {
    -moz-transform: rotate(-5deg) scale(1.15); }

  70% {
    -moz-transform: rotate(5deg) scale(1.15); }

  80% {
    -moz-transform: rotate(-4deg) scale(1.15); }

  85% {
    -moz-transform: rotate(3deg) scale(1.15); }

  90% {
    -moz-transform: rotate(-2deg) scale(1.15); }

  95% {
    -moz-transform: rotate(2deg) scale(1.15); }

  100% {
    -moz-transform: rotate(0deg) scale(1.15); } }
@-o-keyframes swing {
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 85%, 90%, 95%, 100% {
    transform-origin: top center; }

  10% {
    transform: rotate(15deg) scale(1.15); }

  20% {
    transform: rotate(-12deg) scale(1.15); }

  30% {
    transform: rotate(10deg) scale(1.15); }

  40% {
    transform: rotate(-8deg) scale(1.15); }

  50% {
    transform: rotate(6deg) scale(1.15); }

  60% {
    transform: rotate(-5deg) scale(1.15); }

  70% {
    transform: rotate(5deg) scale(1.15); }

  80% {
    transform: rotate(-4deg) scale(1.15); }

  85% {
    transform: rotate(3deg) scale(1.15); }

  90% {
    transform: rotate(-2deg) scale(1.15); }

  95% {
    transform: rotate(2deg) scale(1.15); }

  100% {
    transform: rotate(0deg) scale(1.15); } }
.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing; }

.cir2 {
  background: url("../img/Group-8.png");
  width: 317px;
  height: 302px;
  float: left; }

.cir3 {
  background: url("../img/Group-7.png");
  width: 318px;
  height: 302px;
  float: left; }

.yellow_bold {
  font-weight: bold;
  color: #DF7731; }

.foto5 {
  background: url("../img/delivery.jpg");
  width: 229px;
  height: 592px;
  float: left; }

.foto6 {
  background: url("../img/45.html");
  width: 350px;
  height: 373px;
  float: right;
  margin-right: 53px; }

.why_select_text_world {
  margin-right: 400px;
  margin-left: 44px; }

.coment_wrap {
  height: 168px;
  width: 980px;
  margin: 0 auto; }

.coment_foto {
  float: left; }

.coment {
  margin-left: 179px; }

.why_select_text {
  margin-left: 594px; }

.float_text {
  float: left;
  width: 512px;
  margin-left: 0px; }

.none_float {
  margin-left: 37px; }

.none_float h3 {
  margin: 0 auto; }

.deliveryWrap {
  margin-left: 255px; }

.types_clocks .clock_type {
  text-align: center;
  width: 301px;
  float: left;
  margin: 0 25px 0 0; }

.logo_text {
  margin: 0 auto;
  display: block; }

.types_clocks .clock_type:last-child {
  margin: 0 0 0 0; }

.types_clocks .clock_type .img a img {
  position: relative; }

.types_clocks .clock_type .name_clock {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  margin: 0 0 10px 0; }

.types_clocks .clock_type .description_clock {
  color: #ffffff;
  font-size: 19px;
  text-align: left;
  line-height: 24px;
  margin: 15px 0 0 0; }

/*Блок страницы*/
.left {
  float: left; }

.right {
  float: right; }

.oplata {
  background: none !important;
  border: none !important; }

.oplata .block_gift {
  padding: 0 !important; }

.review {
  width: 200px !important; }

.reviews {
  width: 280px !important;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 99; }

.review .block_text_review {
  width: 100% !important; }

.garant {
  height: 700px !important; }

.vopros .block_gift .foto_gift, .oplata .block_gift .foto_gift, .garant .block_gift .foto_gift {
  float: left; }

.vopros .block_gift .text_gift, .oplata .block_gift .text_gift, .garant .block_gift .text_gift {
  float: left; }

.garant .foto-gift img {
  width: 300px !important; }

.galleries {
  background: #333 !important;
  box-shadow: inset 0 10px 35px #000;
  border-bottom: 1px solid #000; }

.galleries .header_block {
  color: #EEE !important; }

.galleries table {
  margin: 0 auto; }

.galleries table td {
  width: 325px;
  text-align: center; }

.galleries table tr {
  height: 50px; }

.galleries table td a {
  margin-bottom: 50px; }

.galleries .block_gift .text_gift, .galleries .block_gift .foto_gift {
  float: none !important; }

.galleries .price {
  color: #ffde00;
  font-size: 35px;
  text-transform: uppercase; }

.galleries .old_price {
  color: #777;
  text-decoration: line-through; }

.galleries .header_block {
  margin: 20px 0 40px !important; }

.b_action_bottom {
  width: 480px !important;
  position: relative; }

.b_action_bottom .form {
  background: none !important;
  width: 381px;
  position: absolute;
  top: 91px;
  left: 9px;
  border: none !important; }

/*.info { */
/*display: block;*/
/*text-align: center;*/
/*font-size: 18px/24px ;*/
/*color: #9E9E9E;*/
/*text-shadow: 1px 1px 0 #000;*/
/*}*/
/*.info span { color: #C00911; }*/
.order_now {
  text-transform: uppercase;
  color: #FFF;
  font-size: 30px;
  background: -moz-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0ff9e), color-stop(100%, #006f08));
  background: -webkit-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: -o-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: -ms-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: linear-gradient(to bottom, #a0ff9e 0%, #006f08 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ff9e', endColorstr='#006f08',GradientType=0 );
  width: 313px;
  height: 67px;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 3px solid #1DA01A;
  border-radius: 8px;
  margin: 10px auto 0;
  box-shadow: 1px 2px 4px #4D4D4D;
  -webkit-box-shadow: 1px 2px 4px #4D4D4D;
  -o-box-shadow: 1px 2px 4px #4D4D4D;
  -moz-box-shadow: 1px 2px 4px #4D4D4D;
  line-height: 64px;
  font-weight: bold; }

.order_now:hover {
  color: #fff;
  background: #a0ff9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0ff9e), color-stop(100%, #005e06));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a0ff9e 0%, #005e06 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ff9e', endColorstr='#005e06',GradientType=0 );
  /* IE6-9 */ }

.order_now:active {
  box-shadow: inset 0 0 21px #165400;
  -moz-box-shadow: inset 0 0 21px #165400;
  -webkit-box-shadow: inset 0 0 21px #165400;
  -o-box-shadow: inset 0 0 21px #165400;
  -ms-box-shadow: inset 0 0 21px #165400; }

.left {
  margin: 0; }

/*Блок reliability*/
.bg_reliability {
  background: #ffffff; }

.present {
  background: #000000;
  border-bottom: 0px; }

.first_present {
  margin-top: 140px; }

.block_reliability {
  width: 980px;
  margin: 0 auto;
  overflow: hidden; }
  .block_reliability h1 {
    font-size: 51px;
    color: #ffffff;
    font-weight: bold;
    text-align: center; }

.block_wrap {
  width: 980px;
  margin: 0 auto;
  overflow: hidden; }

.title_forsage_wrap {
  background: #1D1E20; }

.title_forsage_yellow {
  background: #ffd738; }

.none {
  background: #ffffff; }

.block_3_wrap {
  background: #1F1F1F; }

.block_3 {
  background: url("../img/three_back.jpg") #1f1f1f no-repeat center 0;
  height: 556px;
  width: 100%; }

.block_4 {
  background: url("../img/charecteristic_back.jpg") #1f1f1f no-repeat center 0;
  height: 510px;
  width: 100%; }

.block_5 {
  background: url("../img/middle.jpg") #1f1f1f no-repeat center 0;
  height: 536px;
  width: 100%; }

.block_6 {
  background: url("../img/form_back.jpg") #1f1f1f no-repeat center 0;
  height: 746px;
  width: 100%; }

.chainImg {
  background: url("../img/chain.jpg") #1f1f1f no-repeat center 0;
  width: 600px;
  height: 426px;
  margin-left: 374px; }

.chainText {
  float: left;
  margin: 122px 0 0 30px; }
  .chainText .chainName {
    font-size: 37px; }
  .chainText .chainOldPrise {
    font-size: 27px; }
    .chainText .chainOldPrise span {
      font-weight: bold;
      font-size: 37px; }
  .chainText .chainNewPrise {
    font-size: 27px; }
    .chainText .chainNewPrise span {
      font-weight: bold;
      font-size: 37px; }

.OrderImg {
  float: left;
  background: url("../img/gif.gif") no-repeat center 0;
  width: 456px;
  height: 470px;
  box-shadow: 5px 5px 10px #202020;
  -webkit-box-shadow: 5px 5px 10px #202020;
  -moz-box-shadow: 5px 5px 10px #202020;
  -o-box-shadow: 5px 5px 10px #202020; }

.title_forsage {
  width: 980px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 39px;
  padding: 13px 0px 0px 0px; }

.beCarefultext {
  font-size: 17px;
  text-transform: none;
  text-align: left; }
  .beCarefultext .floatLeft {
    width: 300px;
    float: left; }
  .beCarefultext .center {
    margin: 0 351px 0 300px;
    padding-left: 29px; }
  .beCarefultext .floatRight {
    width: 300px;
    float: right; }

.title_forsage span {
  font-weight: bold;
  color: #fffc00; }

.yellow_title, .yellow_title span {
  color: #1d1e20; }

.smaller {
  font-size: 31px;
  text-transform: none; }

.img_line {
  background: url("../img/line.jpg") black no-repeat center 0;
  width: 980px;
  height: 26px;
  margin-top: 10px; }

.yellow {
  background: url("../img/line_yellow.jpg") black no-repeat center 0; }

.wrong_crist {
  background: url("../img/wrong.jpg") black no-repeat center 0;
  width: 980px;
  height: 475px; 
  margin-top: 20px;
  }

.none_black {
  color: #1d1e20; }
  .none_black h1 {
    font-size: 51px; }

.none_black span {
  color: #1d1e20; }

.block_reliability .header_block {
  width: 852px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 45px;
  margin: 0 auto;
  font-weight: normal;
  text-shadow: 0px 0px 8px #FFDAC7; }

.foto_top {
  float: left;
  background: url("../img/foto_1.jpg") black no-repeat center 0;
  width: 571px;
  height: 580px;
  margin-right: 24px;
  margin-top: 30px; }

.block_reliability .header_block span {
  font-size: 34px; }

.circle1 {
  width: 29.3333%;
  float: left;
  margin: 21px 39px 0 0;
  color: #ffffff;
  position: relative; }

p.circleName {
  padding-left: 15px; }
  p.circleName span {
    text-transform: uppercase;
    color: #ffea00;
    font-weight: bold; }

.block_reliability .foto_reliability {
  float: left;
  width: 300px; }

.block_reliability .foto_reliability img {
  width: 300px; }

.block_reliability .text_reliability {
  float: left;
  width: 420px;
  margin-left: 20px; }

.name {
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; }

.article_name {
  background: #ffd738;
  color: #131313;
  font-weight: bold;
  margin-right: 14px;
  padding: 3px 4px 5px 11px;
  border-radius: 5px;
  text-transform: uppercase; }

.block_reliability .text_reliability p {
  color: #000;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 30px 0; }

/*Блок gift*/
.bg_block_gift {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  border-top: 1px solid #b0b0b0; }

.block_gift {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0 0 0; }

.block_gift .header_block {
  color: #0e0e0e;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0; }

.block_gift .header_block span {
  font-size: 34px; }

.block_gift .text_gift {
  float: left;
  width: 420px;
  margin-left: 20px; }

.block_gift .text_gift p {
  color: #000000;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 15px 0; }

.block_gift .text_gift ol {
  list-style-position: inside; }

.block_gift .text_gift ol li {
  color: #000000;
  font-size: 18px; }

.block_gift .foto_gift {
  float: right;
  margin-right: 20px; }

.block_gift .foto_gift img {
  width: 250px; }

/*Блок characteristic*/
.bg_block_characteristics {
  background: url(../img/bg_characteristics.html) no-repeat center 0;
  height: 816px; }

.block_characteristics {
  width: 980px;
  margin: 0 auto;
  overflow: hidden; }

.block_characteristics .header_block {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/bg_header_characteristics.html) no-repeat;
  width: 690px;
  height: 65px;
  margin: 0 auto;
  line-height: 70px; }

.block_characteristics .header_block span {
  font-size: 34px; }

.block_characteristics .text_characteristics {
  margin: 30px 0 0 0; }

.block_characteristics .text_characteristics p {
  color: #fff;
  font-size: 19px;
  line-height: 23px;
  margin: 0 0 30px 0; }

.block_characteristics .foto_characteristics {
  float: left; }

.block_characteristics .list_characteristics {
  float: right;
  width: 470px; }

.block_characteristics .list_characteristics .title_list {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase; }

.block_characteristics .list_characteristics .characteristics {
  list-style-position: inside;
  margin: 10px 0 15px 0; }

.block_characteristics .list_characteristics .characteristics li {
  color: #fff;
  font-size: 19px;
  line-height: 30px; }

.block_characteristics .list_characteristics .measurements {
  list-style: none;
  margin: 10px 0 0 0; }

.block_characteristics .list_characteristics .measurements li {
  color: #fff;
  font-size: 19px;
  line-height: 30px; }

/*Блок blurred*/
.block_blurred {
  background: url(../img/bg_block_blurred.html) no-repeat center 0;
  height: 496px;
  padding: 100px 0 0 0; }

/*Блок action*/
.block_action {
  background: url(../img/form.png) no-repeat;
  height: 510px;
  text-align: center;
  position: relative; }

.block_action .header_action {
  color: #fff;
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 40px; }

.header_action {
  margin-top: 45px; }

.block_action .header_action span {
  color: #ff0000;
  font-weight: bold; }

.block_action .savings {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase; }

.block_action .old_price {
  position: absolute;
  top: 155px;
  left: 105px; }

.price_title_new {
  position: absolute;
  top: 80px;
  left: 55px; }

.price_title_old {
  position: absolute;
  top: 62px;
  left: 37px;
  font-size: 10px !important;
  color: #333 !important; }

.block_action .old_price p {
  color: #fff;
  font: 14px Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.block_action .old_price .price {
  color: #646464;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: line-through;
  background: url(../img/bg-old-price.html) no-repeat;
  width: 150px;
  height: 95px;
  line-height: 95px; }

.block_action .new_price {
  left: 200px;
  top: 105px;
  position: absolute;
  width: 205px; }

.block_action .new_price p span, .block_action .old_price p span {
  font: 14px Arial, Helvetica, sans-serif; }

.block_action .new_price p {
  color: #fff;
  font: 14px Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.block_action .new_price .price {
  font-size: 47px;
  background: url(../img/bg-price.html) no-repeat;
  text-shadow: 1px 1px 0 #6B0000;
  color: #FFF;
  letter-spacing: -1px;
  height: 200px;
  line-height: 110px; }

.block_action .campaign_ends {
  clear: both;
  color: #fff;
  font-size: 18px;
  line-height: 20px; }

.block_action .campaign_ends span {
  font-size: 18px; }

.block_action .checkout {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  background: #fd691d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fd691d 0%, #cf0c01 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd691d), color-stop(100%, #cf0c01));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fd691d 0%, #cf0c01 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fd691d 0%, #cf0c01 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fd691d 0%, #cf0c01 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fd691d 0%, #cf0c01 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd691d', endColorstr='#cf0c01', GradientType=0);
  /* IE6-9 */
  width: 330px;
  height: 60px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #e95c00;
  border-bottom: 1px solid #b3494e;
  border-left: 1px solid #cf4206;
  border-right: 1px solid #cf4206;
  border-radius: 30px;
  margin: 10px auto 0;
  box-shadow: 0 1px 1px #febb96 inset;
  line-height: 65px; }

.block_action .checkout:hover {
  color: #fff;
  background: #a0ff9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0ff9e), color-stop(100%, #005e06));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a0ff9e 0%, #005e06 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ff9e', endColorstr='#005e06',GradientType=0 );
  /* IE6-9 */ }

.block_action .payment_systems {
  margin: 15px 0 0 0; }

/*Таймер*/
.counter {
  width: 310px;
  height: 45px;
  margin: 15px auto 0 auto;
  font-family: Tahoma, Arial;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  overflow: hidden; }

.left_timer {
  margin: 15px 5px 0 6px;
  padding-top: 13px; }

.counter p {
  float: left;
  padding: 0;
  margin: 0 17px 0 13px; }

.counter div {
  float: left;
  position: relative;
  margin: 0 3px 0 0;
  padding: 0;
  background: url(../img/bg_figure.html) center left repeat-x; }

.counter div::before, #counter div::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 1px;
  right: 1px;
  top: 0;
  z-index: -1; }

.counter div::after {
  left: 2px;
  right: 2px;
  bottom: -7px;
  z-index: -2; }

.digit {
  width: 45px;
  position: absolute;
  top: 0;
  left: 15px;
  padding: 0; }

.counter div p {
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0; }

.counter .countDays {
  display: none; }

.counter .countHours {
  margin: 0 10px 0 0;
  float: left; }

.counter .countMinutes {
  margin: 0 10px 0 0;
  float: left; }

.text {
  width: 310px;
  margin: 5px auto 30px;
  font-family: 'Century Gothic', Arial;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden; }

.left_text {
  margin: 5px 5px 30px; }

.hours, .minutes, .seconds {
  float: left; }

.hours {
  margin: 0 0 0 30px; }

.minutes {
  margin: 0 0 0 63px; }

.seconds {
  margin: 0 0 0 52px; }

/*Блок reviews*/
.reviews {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 20px 0; }

.reviews .header_block {
  color: #000;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/bg_header_reviews.html) no-repeat;
  width: 522px;
  height: 53px;
  margin: 0 auto 40px;
  line-height: 60px; }

.reviews .header_block span {
  font-size: 34px; }

.reviews .review {
  background: #e9e9e9;
  border-radius: 5px;
  padding: 20px 75px 20px 50px;
  overflow: hidden;
  margin: 0 0 20px 0; }

.review .foto_review {
  float: none !important;
  height: 80px;
  margin: 0 auto;
  width: 80px; }

.review .foto_review img {
  height: 80px; }

.review .block_text_review {
  /* float: right; */
  width: 635px; }

.review .block_text_review .name_author {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; }

.review .block_text_review .text_review {
  margin: 10px 0 0 0; }

.review .block_text_review .text_review p {
  color: #000;
  font-size: 16px;
  line-height: 21px; }

.hidden {
  display: none; }

/*Блок bottom*/
.bg_bottom {
  background: url(../img/bg_bottom.html) no-repeat center 0;
  height: 581px;
  padding: 120px 0 0 0; }

/*Блок footer*/
footer {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 25px 0; }

footer .cop {
  float: left; }

footer .cop p {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 23px; }

footer .ip {
text-align: center;
 }

footer .ip p {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 23px; }

footer .ip a {
  color: #C50505; }

footer .ip a:hover {
  color: #EB0F0F; }

footer .phones {
  float: right;
  text-align: right; }

footer .phones p {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1; }

footer .phones .tel {
  color: #000;
  font-size: 30px;
  text-transform: uppercase; }

footer .phones .tel span {
  font-size: 30px; }

/*Блок popup*/
#fade {
  /*--Прозрачный слой фона--*/
  display: none;
  /*--по умолчанию скрыты--*/
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .80;
  z-index: 9999; }

.popup_block {
  display: none;
  /*--по умолчанию скрыты--*/
  padding: 20px;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  border-radius: 10px; }

img.btn_close {
  float: right;
 margin: 15px -45px 0 0;
  padding: 0;
  border: 0;
  width: 14px;
  height: 14px; }

.contactable .overlay, .contactable_1 .overlay, .contactable_2 .overlay {
  background-color: #666666;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }

.contactable .error, .contactable_1 .error, .contactable_2 .error {
  background-color: #EDBE9C !important; }

.contactable form.contactForm .loading, .contactable_1 form.contactForm_1 .loading, .contactable_2 form.contactForm_2 .loading {
  background: url(../img/ajax-loader.html) no-repeat;
  width: 55px;
  height: 55px;
  margin: 50px auto;
  display: none; }

.contactable .callback, .contactable_1 .callback, .contactable_2 .callback {
  color: #F50B0B;
  font: bold 22px CalibriRegular, Arial, Helvetica, sans-serif;
  margin: 50px auto;
  text-align: center;
  display: none; }

/*Форма заказа звонка*/
.form {
  background: #fff;
  width: 390px;
  height: 380px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 30px 0;
  border: 5px solid #009F19; }

.form form input, select {
  width: 369px;
  height: 49px;
  background: #fff;
  border: 1px solid #A2A2A2;
  border-radius: 7px;
  margin: 0 0 10px 0;
  padding: 0px 1px 4px 9px;
  color: #5c1a03;
  font: 15px CalibriItalic, Arial, Helvetica, sans-serif;
  position: relative;
  top: 65px; }

.holder {
  top: 2px; }

.form form .send {
  background: url(../img/request.html) no-repeat;
  text-align: center;
  display: block;
  cursor: pointer;
  width: 200px;
  height: 39px;
  text-decoration: none;
  color: #ffffff;
  font: 22px CalibriItalic, Arial, Helvetica, sans-serif;
  line-height: 3px;
  margin: 10px auto 0;
  border: none; }

.form form .send {
  text-transform: uppercase;
  top: 71px;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #086301;
  background: #a0ff9e;
  background: -moz-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0ff9e), color-stop(100%, #006f08));
  background: -webkit-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: -o-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: -ms-linear-gradient(top, #a0ff9e 0%, #006f08 100%);
  background: linear-gradient(to bottom, #a0ff9e 0%, #006f08 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ff9e', endColorstr='#006f08',GradientType=0 );
  width: 278px;
  height: 72px;
  text-decoration: none;
  text-align: center;
  border: 3px solid #1DA01A;
  border-radius: 8px;
  margin: 10px auto 0;
  box-shadow: 1px 2px 4px #4D4D4D;
  -webkit-box-shadow: 1px 2px 4px #4D4D4D;
  -o-box-shadow: 1px 2px 4px #4D4D4D;
  -moz-box-shadow: 1px 2px 4px #4D4D4D;
  padding: 4px 0 0 0; }

.saleText {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  float: none; }

.postImg {
  float: left;
  background: url("../img/delivery.jpg");
  width: 229px;
  height: 592px; }

.saleWrap {
  width: 647px;
  margin: 0 auto; }
  .saleWrap .saleDate {
    color: #1d1e20;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold; }
  .saleWrap .saleDateRight {
    float: right; }
    .saleWrap .saleDateRight .digitalFloat {
      float: left;
      width: 17px;
      padding: 3px 17px 3px 14px;
      margin-left: 11px;
      background: #ffffff;
      border-radius: 5px; }
  .saleWrap .saleDateLeft {
    float: left; }
    .saleWrap .saleDateLeft .digitalFloat {
      float: left;
      width: 17px;
      padding: 3px 17px 3px 14px;
      margin-left: 11px;
      background: #ffffff;
      border-radius: 5px; }
  .saleWrap .saleDateCenter {
    margin: 0 266px 0 158px;
    background: #ffffff;
    border-radius: 5px;
    padding: 3px 17px 3px 14px;
    text-align: center; }

.form form .send:hover {
  color: #fff;
  background: #a0ff9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0ff9e), color-stop(100%, #005e06));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a0ff9e 0%, #005e06 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a0ff9e 0%, #005e06 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ff9e', endColorstr='#005e06',GradientType=0 );
  /* IE6-9 */ }

.form form .send:active {
  -moz-box-shadow: inset 0 0 21px #165400;
  -webkit-box-shadow: inset 0 0 21px #165400;
  -o-box-shadow: inset 0 0 21px #165400;
  -ms-box-shadow: inset 0 0 21px #165400;
  color: #fff; }

input:focus {
  border-color: #999999;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #999999;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #999999;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #999999; }

label {
  color: #0E0E0E;
  position: relative;
  top: 60px;
  padding-right: 269px; }

.successText {
  background-color: #252525;
  color: #ffffff;
  height: 286px;
  border-radius: 10px;
  padding: 15px 0 0px 0;
  line-height: 30px;
  text-align: center;
  width: 980px;
  margin: 0 auto; }

ul.userData {
  text-align: left;
  padding: 20px 100px;
  display: block;
  background-color: #3C3C3C; }

.userData .turquoise {
  color: #32b9ff;
  font-size: 22px; }

.postText {
  margin-left: 300px;
  list-style-type: disc; }
  .postText li {
    padding-top: 38px; }
    .postText li span {
      font-weight: bold;
      text-decoration: underline; }

.userData .userDataItem {
  display: inline-block;
  width: 100px; }

.successText .writeAgainLink {
  font-style: italic;
  color: #32b9ff;
  margin: 10px 0 0;
  display: block; }

.successText .backToMainLink {
  font-size: 13px;
  padding: 0 0 35px 0;
  display: block; }

.successText .checkUserData {
  line-height: 20px;
  margin-top: 16px; }

.successText .writeAgainLink:hover {
  font-style: italic;
  color: #1d81ff; }

.successText .strongText {
  font-size: 34px; }

.successText .regularText {
  font-size: 29px; }

.successText a {
  color: #EEEEEE;
  font-size: 16px; }

.successText a:hover {
  color: #ffffff; }

.pad40 {
  height: 40px; }

.comentsLeft {
  float: left;
  width: 492px; }
  .comentsLeft .comentFoto1 {
    float: left;
    background: url("../img/coments_1.jpg");
    width: 140px;
    height: 140px; }
  .comentsLeft .comentFoto2 {
    float: left;
    background: url("../img/coments_2.jpg");
    width: 140px;
    height: 140px; }
  .comentsLeft .comentFoto3 {
    float: left;
    background: url("../img/coments_3.jpg");
    width: 140px;
    height: 140px; }
  .comentsLeft .comentText {
    margin-left: 164px;
    height: 164px; }
    .comentsLeft .comentText h3 {
      font-weight: bold;
      text-decoration: underline; }

.comentsRight {
  margin-left: 498px; }
  .comentsRight .comentFoto4 {
    float: left;
    background: url("../img/coments_4.jpg");
    width: 140px;
    height: 140px; }
  .comentsRight .comentFoto5 {
    float: left;
    background: url("../img/coments_5.jpg");
    width: 138px;
    height: 140px; }
  .comentsRight .comentFoto6 {
    float: left;
    background: url("../img/coments_6.jpg");
    width: 140px;
    height: 140px; }
  .comentsRight .comentText {
    margin-left: 164px;
    height: 164px; }
    .comentsRight .comentText h3 {
      font-weight: bold;
      text-decoration: underline; }

/*   _       _____       ___   _____   _____   _____
    | |     /  _  \     /   | |  _  \ | ____| |  _  \
    | |     | | | |    / /| | | | | | | |__   | |_| |
    | |     | | | |   / / | | | | | | |  __|  |  _  /
    | |___  | |_| |  / /  | | | |_| | | |___  | | \ \
    |_____| \_____/ /_/   |_| |_____/ |_____| |_|  \_\*/
#spinningSquaresG {
  display: none;
  position: fixed;
  width: 240px;
  height: 29px;
  left: 0;
  margin: auto;
  right: 0;
  top: 75%;
  z-index: 99999; }

.spinningSquaresG {
  position: absolute;
  top: 0;
  background-color: #FFFFFF;
  width: 29px;
  height: 29px;
  -moz-animation-name: bounce_spinningSquaresG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(0.3);
  -webkit-animation-name: bounce_spinningSquaresG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.3);
  -ms-animation-name: bounce_spinningSquaresG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(0.3);
  -o-animation-name: bounce_spinningSquaresG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(0.3);
  animation-name: bounce_spinningSquaresG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.3); }

#spinningSquaresG_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s; }

#spinningSquaresG_2 {
  left: 30px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s; }

#spinningSquaresG_3 {
  left: 60px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s; }

#spinningSquaresG_4 {
  left: 90px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s; }

#spinningSquaresG_5 {
  left: 120px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s; }

#spinningSquaresG_6 {
  left: 150px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s; }

#spinningSquaresG_7 {
  left: 180px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s; }

#spinningSquaresG_8 {
  left: 210px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s; }

@-moz-keyframes bounce_spinningSquaresG {
  0% {
    -moz-transform: scale(1);
    background-color: #FFFFFF; }

  100% {
    -moz-transform: scale(0.3) rotate(90deg);
    background-color: #008a01; } }
@-webkit-keyframes bounce_spinningSquaresG {
  0% {
    -webkit-transform: scale(1);
    background-color: #FFFFFF; }

  100% {
    -webkit-transform: scale(0.3) rotate(90deg);
    background-color: #FF0808; } }
@-ms-keyframes bounce_spinningSquaresG {
  0% {
    -ms-transform: scale(1);
    background-color: #FFFFFF; }

  100% {
    -ms-transform: scale(0.3) rotate(90deg);
    background-color: #008a01; } }
@-o-keyframes bounce_spinningSquaresG {
  0% {
    -o-transform: scale(1);
    background-color: #FFFFFF; }

  100% {
    -o-transform: scale(0.3) rotate(90deg);
    background-color: #008a01; } }
@keyframes bounce_spinningSquaresG {
  0% {
    transform: scale(1);
    background-color: #FFFFFF; }

  100% {
    transform: scale(0.3) rotate(90deg);
    background-color: #008a01; } }
.stars {
  margin-bottom: 20px; }

.kluni {
  margin-top: 20px; }

.jonson {
  margin-left: 16px; }

.price-old {
font-size: 39px;
color: #545454;
font-weight: bolder;
margin-top: 25px;
font-family: BebasNeue, Arial;

}
.price-new {
font-size: 62px;
color: #26940f;
text-shadow: 4px 4px 2px rgba(191, 211, 188, 1);
font-weight: bolder;
margin-top: -10px;
font-family: BebasNeue, Arial;

}
