.yvedw{}
.yved{
    position: fixed;
    display: none;
    z-index: 900;
    right: 20px;
    width: 320px;
    min-height: 110px;
    color: white;
    padding: 10px 0 10px 105px;
    font-size: 16px;
    font-family: Verdana;
    line-height: 22px;
    border: 1px solid #ddd;
    border-radius: 60px;
    /*background: rgba(39, 61, 83, 1) url(/types/shop/template/landings/main/widgets/buy/yico.png) left center no-repeat;*/
    background: rgba(39, 61, 83, 0.7) url(/types/shop/template/landings/main/widgets/buy/yico.png) left center no-repeat;
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
	.yved{
       width: 300px;
       bottom: 10px;
       right: 10px;
       font-size: 14px;
       background: rgba(39, 61, 83, 0.9) url(/types/shop/template/landings/main/widgets/buy/yico.png) left center no-repeat;
   }

}


@media only screen and (min-width: 768px) {
	.yved{
        /*top: 80px;*/
        bottom: 80px;
    }
    

}