/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

body {
	font-size: 16px;
	line-height: 1.2;
	font-family: Arial, Tahoma, sans-serif;
	width: 100%;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}



b {font-weight: bold;}





#header {
	height: 820px;
	background: url(../img/header.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/header.jpg*/ no-repeat center top;
}

#header .name {
	color: white;
	font-size: 20px;
}

#header p.name {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 36px;
}

#header .phone {
	color: white;
	font-size: 20px;
}

#header .sale {
	color: white;
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	  top: 161px;
  right: 177px;
	text-align: center;
	line-height: 28px;
}

#header .gift {
	color: white;
	font-size: 20px;
	position: absolute;
	text-align: right;
	  top: 492px;
  right: 781px;
}

#header form {
width: 270px;

  height: 100px;
  position: absolute;
  top: 362px;
  right: 80px;
}

#header .calltoaction {
			color: white;
	font-size: 20px;
	
	text-align: right;
  padding-top: 5px;
  right: 0;
  padding-bottom: 5px;
}

#header input[type='text'] {
	background: none;
	border: 1px solid #625c5b;
	display: block;
	height: 36px;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-bottom: 16px;
	font-size: 14px;
	color: white;
	outline: 0;
}

#header input[type='submit'] {
	background: url(../img/submit.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/submit.png*/ center top;
	border: none;
	height: 62px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-top: 29px;
	font-size: 24px;
	color: white;
	outline: 0;
	cursor: pointer;
}













#benefits {
	height: 416px;
	background: url(../img/benefits.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/benefits.png*/ no-repeat center top;
}

#benefits .item {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #53453e;
	position: absolute;
	  width: 240px;
}

#benefits .item-1 {
  top: 159px;
  left: -32px;

}

#benefits .item-2 {
  top: 159px;
  left: 208px;
}

#benefits .item-3 {
  top: 159px;
  left: 480px;
}
#benefits .item-4 {
  top: 159px;
  right: -32px;
}


#benefits h1	{
	font-size: 26px;
	text-align: center;
	color: #53453e;
	  position: absolute;
  top: 322px;
  width: 100%;
}

#benefits h1:after {
	width: 232px;
	display: block;
	margin: 14px auto 0;
	height: 2px;
	background: black;
	content: '';
	
}



#inner {
	height: 577px;
	background: url(../img/inner.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/inner.jpg*/ no-repeat center top;
}










#gal {
	height: 600px;
	
	padding-top: 40px;
}

#gal h1 {
	font-size: 27px;
	display: table;
	margin: 0px auto 0;
	color: #53453e;
	
}

#gal h1:after {
	
	margin-top: 15px;
	display: block;
	height: 2px;
	background: black;
	content: '';
}








#armani {
	height: 785px;
	padding-top: 38px;
	background: url(../img/armani.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/armani.jpg*/ no-repeat center top;
}

#armani h1 {
	font-size: 27px;
	display: table;
	margin: 0px auto 0;
	color: white;
	
}

#armani h1:after {
	
	margin: 13px auto 0;
	display: block;
	height: 2px;
	width: 120px;
	background: white;
	content: '';
}

#armani .char {
	color: #9f8276;
	font-size: 18px;
	font-weight: bold;
	  position: absolute;
  right: 107px;
  width: 400px;
  top: 112px;
  text-align: center;
}


#armani .char1 {
color: white;
  font-size: 14px;
  position: absolute;
  right: 264px;
  width: 250px;
  top: 166px;
  line-height: 36px;
  text-align: left;
}

#armani .char2 {
color: white;
  font-size: 14px;
  position: absolute;
  right: 9px;
  width: 250px;
  top: 166px;
  line-height: 36px;
  text-align: left;
}

#armani .usual {
	font-weight: bold;
	position: absolute;
  right: 100px;
  top: 454px;
  width: 376px;
  text-align: center;
	font-size: 18px;
	color: #9f8276;
}

#armani .usual span {
	font-size: 30px;
	text-decoration: line-through;
	
}

#armani .get {
position: absolute;
  right: 82px;
  top: 505px;
  width: 428px;
  text-align: center;
  color: #615b5b;
  font-size: 24px;
  font-weight: bold;
}


#armani .get span {
	color: #eae9e9;
	background: #312c2a;
	padding: 0 5px 3px;
}

#armani .order {
		background: url(../img/submit.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/submit.png*/ center top;
	border: none;
	height: 62px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-top: 29px;
	font-size: 24px;
	color: white;
	outline: 0;
	cursor: pointer;
	position: absolute;
	top: 535px;
	width: 269px;
  right: 159px;
text-align: center;
line-height: 60px;
text-decoration: none;
}











#order {
	height: 528px;
	background: url(../img/order.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/order.jpg*/ no-repeat center top;
}

#order h1 {
	  font-size: 25px;
  color: #baa098;
  position: absolute;
  right: 194px;
  text-align: right;
  top: 92px;
}

#order h1 span {
	color: white;
	font-weight: bold;
}


#order form {
width: 270px;

  height: 100px;
  position: absolute;
  top: 204px;
  right: 62px;
}

#order .calltoaction {
			color: white;
	font-size: 20px;
	
	text-align: right;
  padding-top: 32px;
  right: 0;
  padding-bottom: 18px;
}

#order input[type='text'] {
	background: none;
	border: 1px solid #625c5b;
	display: block;
	height: 36px;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-bottom: 16px;
	font-size: 14px;
	color: white;
	outline: 0;
}

#order input[type='submit'] {
	background: url(../img/submit.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/submit.png*/ center top;
	border: none;
	height: 62px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-top: 29px;
	font-size: 24px;
	color: white;
	outline: 0;
	cursor: pointer;
}
















#how {
	height: 407px;
	background: url(../img/how.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/how.png*/ no-repeat center top;
}

#how h1 {
	font-size: 27px;
	display: table;
	margin: 0px auto 0;
	color: #53453e;
	padding-top: 65px;
}

#how h1:after {
	
	margin-top: 15px;
	display: block;
	height: 2px;
	background: black;
	content: '';
	
}

#how .item {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #53453e;
	position: absolute;
	  width: 240px;
}

#how .item-1 {
  top: 275px;
  left: -37px;

}

#how .item-2 {
  top: 275px;
  left: 199px;
}

#how .item-3 {
  top: 275px;
  left: 480px;
}
#how .item-4 {
  top: 275px;
  right: -26px;
}
























#why {
	height: 796px;
	background: url(../img/why.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/why.jpg*/ no-repeat center top;
}

#why h1 {
	font-size: 36px;
	display: table;
	margin: 0px auto 0;
	color: #b1b0af;
	padding-top: 98px;
}

#why h1:after {
	
	margin-top: 15px;
	display: block;
	height: 2px;
	background: #b1b0af;
	content: '';
	width: 255px;
	margin: 10px auto 0;
	
}

#why p {
	color: rgba(250,250,250,0.67);
	font-size: 36px;
	position: absolute;
}

#why .p1 {
  top: 228px;
  left: 135px;
}

#why .p2 {
  top: 303px;
  left: 135px;
}

#why .p3 {
  top: 377px;
  left: 135px;
}

#why .p4 {
  top: 449px;
  left: 135px;
}

#why .p5 {
  top: 521px;
  left: 135px;
}


#why .order {
		background: url(../img/submit.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/submit.png*/ center top;
	border: none;
	height: 62px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-top: 29px;
	font-size: 24px;
	color: white;
	outline: 0;
	cursor: pointer;
	position: absolute;
  top: 593px;
  width: 269px;
  right: 346px;
text-align: center;
line-height: 60px;
text-decoration: none;
}










#dost {
	
	padding-bottom: 80px;
}

#dost h1 {
	font-size: 27px;
	display: table;
	margin: 0px auto 0;
	color: #53453e;
	padding-top: 45px;
}

#dost h1:after {
	
	margin-top: 13px;
	display: block;
	height: 2px;
	width: 255px;
	margin: 13px auto 0;
	background: black;
	content: '';
	
}

#dost h2 {
	color: #53453e;
	font-size: 18px;
	padding: 44px 0 28px;
	text-align: center;
}

#dost p {
	color: #53453e;
	font-size: 16px;
	margin-bottom: 20px;
}

#dost a {
	text-decoration: none;
}

#dost .question div {
	background: #433c3b url(../img/question.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/question.jpg*/ no-repeat top right;
	height: 55px;
	color: #8b776e;
	font-size: 18px;
	padding: 0 0 0 20px;
	line-height: 55px;
	font-weight: bold;
	cursor:pointer;
	border-bottom: 1px solid #ebebeb;
	transition: all 0.3s ease;
}

#dost .question.active div {
	background: #d69c35 url(../img/question_active.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/question_active.jpg*/ no-repeat top right;
	height: 55px;
	color: white;
	padding: 0 0 0 20px;
	line-height: 55px;
	font-weight: bold;
	
}

#dost .answer {
	padding: 33px 20px 18px;
	color: #433c3b;
	font-size: 14px!important;
	background: #ebebeb;
	display: none;
	
}
#dost .answer p{
font-size: 14px!important;
margin-bottom: 15px;
color: #433c3b;
}




#ops {
	height: 702px;
	background: url(../img/ops.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/ops.jpg*/ no-repeat center top;
}

#ops h1 {
	font-size: 27px;
	display: table;
	margin: 0px auto 0;
	color: #53453e;
	padding-top: 26px;
}

#ops h1:after {
	
	margin-top: 13px;
	display: block;
	height: 2px;
	width: 255px;
	margin: 13px auto 0;
	background: black;
	content: '';
	
}



#ops .name1 {
	font-size: 18px;
	color: #d8cecd;
	position: absolute;
	left: 186px;
  top: 153px;
}

#ops .op1 {
	font-size: 14px;
	color: white;
	position: absolute;
	  left: 186px;
  top: 194px;
}

#ops .name2 {
	font-size: 18px;
	color: #a79595;
	position: absolute;
	left: 186px;
  top: 309px;
}

#ops .op2 {
	font-size: 14px;
	color: #433c3b;
	position: absolute;
	  left: 186px;
  top: 350px;
}

#ops .name3 {
	font-size: 18px;
	color: #d8cecd;
	position: absolute;
	left: 186px;
  top: 467px;
}

#ops .op3 {
	font-size: 14px;
	color: white;
	position: absolute;
	  left: 186px;
  top: 508px;
}




















#order2 {
	height: 505px;
	background: url(../img/order.jpg)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/order.jpg*/ no-repeat center top;
}

#order2 h1 {
	  font-size: 25px;
  color: #baa098;
  position: absolute;
  right: 194px;
  text-align: right;
  top: 92px;
}

#order2 h1 span {
	color: white;
	font-weight: bold;
}


#order2 form {
width: 270px;

  height: 100px;
  position: absolute;
  top: 204px;
  right: 62px;
}

#order2 .calltoaction {
			color: white;
	font-size: 20px;
	
	text-align: right;
  padding-top: 5px;
  right: 0;
  padding-bottom: 5px;
}

#order2 input[type='text'] {
	background: none;
	border: 1px solid #625c5b;
	display: block;
	height: 36px;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-bottom: 16px;
	font-size: 14px;
	color: white;
	outline: 0;
}

#order2 input[type='submit'] {
	background: url(../img/submit.png)/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/submit.png*/ center top;
	border: none;
	height: 62px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-top: 29px;
	font-size: 24px;
	color: white;
	outline: 0;
	cursor: pointer;
}











#footer {
	height: 110px;
	background: #0e0c0c;	
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: white;
	padding-top: 46px;
}

#footer a {
	color: #907973;
	margin-top: 10px;
}

#lv-form{
	border: none;
	padding: 0;
}

#lv-form input[type=text], #lv-form select, #lv-form textarea{
	border-radius: 0;
}

#lv-form2{
	border: none;
	padding: 0;
}

#lv-form2 input[type=text], #lv-form2 select, #lv-form2 textarea{
	border-radius: 0;
}

#lv-form3{
	border: none;
	padding: 0;
}

#lv-form3 input[type=text], #lv-form3 select, #lv-form3 textarea{
	border-radius: 0;
}

/* edit */
input.error,
textarea.error {
    border-color: #ff0000!important;
    color: #ff0000!important;
}

input.error::-webkit-input-placeholder { color: #ff0000!important; }
textarea.error::-webkit-input-placeholder { color: #ff0000!important; }
input.error::-moz-placeholder { color: #ff0000!important; }
textarea.error::-moz-placeholder { color: #ff0000!important; }
input.error::-ms-input-placeholder { color: #ff0000!important; }
textarea.error::-ms-input-placeholder { color: #ff0000!important; }
input.error.placeholder { color: #ff0000!important; }
textarea.error.placeholder { color: #ff0000!important; }


.popup {
    background: #fff;
    width: 980px;
    height: 516px;
    background-clip: content-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    border: 7px solid rgba(255,255,255,.45);
    overflow: hidden;
    font-family: 'PFDinTextCondPro', sans-serif;
	color: #000;
	text-align: left;
	line-height: 1;
}

.popup,
.popup * {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.popup .close {
    position: absolute;
    top: -36px!important;
    right: -36px!important;
    width: 31px!important;
    height: 31px!important;
    cursor: pointer;
    z-index: 8040;
    background-image: url('../img/popup/close.png')/*tpa=http://lvcdn.ru/1454671877/klatch-komplekty/armani.tophitov.ru/files/img/popup/close.png*/!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
}

.popup .close:hover {
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;    
}

.fancybox-skin {
    color: #000!important;
}

.fancybox-type-inline .fancybox-skin {
    padding: 0px!important; 
}

.fancybox-type-inline.fancybox-wrap {
    padding: 0px!important;
    overflow: visible!important;
}

.fancybox-type-inline .fancybox-outer {  
    padding: 0px!important;      
}

.fancybox-type-inline .fancybox-inner {
    padding: 0px!important;    
}

.fancybox-type-inline .fancybox-skin {
	background: none!important;
	text-shadow: none!important;
	-webkit-border-radius: 0px!important;
	   -moz-border-radius: 0px!important;
	        border-radius: 0px!important;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5)!important;
	   -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5)!important;
	        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5)!important;
}

.block-error{    
        display: none;
        position: absolute;
        left: -210px;
        top: 5px;
        color: #fff;
        font-size: 18px;
        line-height: 24px;
        text-transform: none;
        padding: 5px 15px;
        border-radius: 10px;
        background: #a93b3f; /* Old browsers */
        background: linear-gradient(to right,  #a93b3f 0%,#82060b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a93b3f', endColorstr='#82060b',GradientType=1 ); /* IE6-9 */
}

.block-error:after{
        content: '';
        display: block;
        position: absolute;
        right: -7px;
        top: 10px;
        border-top: 7px solid transparent;
        border-left: 10px solid #82060b;
        border-bottom: 7px solid transparent;
}

.popup_politics {
    width: 600px;
    height: auto;  
}

.popup_politics .desc {
    padding: 20px;
}

.popup_politics h3 {
    text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}

#mycall {
	padding: 15px;
	background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}