/*

*/

.version.index /* version checker */
{
	color: #00001D;
	background-color: #F57355;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 9046.744540943011px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -123px;
	margin-bottom: -46px;
	width: 0.01px;
}

#u1358
{
	z-index: 505;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 185px;
	left: 120px;
}

#u80
{
	z-index: 506;
	min-height: 860px;
	border-style: solid;
	border-color: #B03702;
	border-width: 4px 0px 0px;
	background: #FFFFFF url("777.jpg") no-repeat center center;
	background-size: cover;
}

#u80_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 119px;
	padding-bottom: 84px;
}

#phome
{
	width: 0.01px;
	position: relative;
}

#u115-4
{
	z-index: 507;
	width: 656px;
	min-height: 65px;
	background-color: #A53001;
	color: #FFFFFF;
	line-height: 64px;
	text-align: center;
	font-size: 53px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u115
{
	font-size: 48px;
	line-height: 58px;
}

#u117-9
{
	z-index: 511;
	width: 565px;
	min-height: 62px;
	background-color: transparent;
	left: 234px;
	margin-top: 23px;
	position: relative;
}

#u117-2,#u117-4
{
	font-size: 23px;
	line-height: 32px;
	color: #144CFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u117-5
{
	font-size: 23px;
	line-height: 32px;
	color: #261011;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u117-7
{
	font-size: 27px;
	line-height: 38px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u2444-4
{
	 background-color: transparent;
    color: #ffffff;
    font-size: 28px;
    left: 216px;
    line-height: 36px;
    margin-top: 348px;
    min-height: 35px;
    position: relative;
    text-align: right;
    width: 758px;
    z-index: 520;
}

#u2444
{
	font-size: 25px;
	text-align: right;
}

#u80-bw
{
	z-index: 506;
	min-height: 860px;
}

#u128
{
	z-index: 526;
	height: 57px;
	border-color: #000000;
	background: #FFFFFF url("../images/menuback.jpg") no-repeat center center;
	background-size: cover;
}

#u128-bw
{
	z-index: 526;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 741px;
}

#u154-4
{
	z-index: 527;
	width: 205px;
	min-height: 36px;
	-pie-box-shadow: 0px 0px 8px 2px #D2D2D2;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.35),0px 0px 8px rgba(127,127,127,0.35);
	background: #E2BA00 url("../images/u154-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EAE000),color-stop(100%, #E2BA00));
	background: -webkit-linear-gradient(top,#EAE000 ,#E2BA00 100%);
	background: linear-gradient(to bottom,#EAE000 ,#E2BA00 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	color: #261011;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 748px;
	left: 817px;
}

#u154-4:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #D2D2D2;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.35),0px 0px 8px rgba(127,127,127,0.35);
	background: #EAE000 url("../images/u154-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#E2BB00),color-stop(100%, #EAE000));
	background: -webkit-linear-gradient(top,#E2BB00 ,#EAE000 100%);
	background: linear-gradient(to bottom,#E2BB00 ,#EAE000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 205px;
	margin: 0px;
}

#u154-4:active
{
	background: #EAE000 url("../images/u154-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EAE000),color-stop(100%, #EAE000));
	background: -webkit-linear-gradient(top,#EAE000 ,#EAE000 100%);
	background: linear-gradient(to bottom,#EAE000 ,#EAE000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 205px;
	margin: 0px;
}

#pu1661-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 16px;
}

#u1661-3
{
	z-index: 464;
	width: 1224px;
	min-height: 512px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/subtle_freckles.jpg") repeat left top;
}

#u193
{
	z-index: 467;
	width: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 164px;
}

#u214
{
	z-index: 469;
	width: 128px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u220
{
	z-index: 471;
	width: 128px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 388px;
}

#u223
{
	z-index: 473;
	width: 127px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	position: relative;
	margin-right: -10000px;
	margin-top: 322px;
	left: 996px;
}

#u229
{
	z-index: 475;
	width: 127px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 709px;
}

#u232
{
	z-index: 477;
	width: 64px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 740px;
}

#u217
{
	z-index: 479;
	width: 64px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 196px;
}

#u207
{
	z-index: 481;
	width: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 484px;
}

#u210
{
	z-index: 483;
	width: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 804px;
}

#u243-6
{
	z-index: 485;
	width: 256px;
	min-height: 51px;
	background-color: transparent;
	color: #333333;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 164px;
}

#u244-4
{
	z-index: 491;
	width: 256px;
	min-height: 51px;
	background-color: transparent;
	color: #333333;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 484px;
}

#u245-4
{
	z-index: 495;
	width: 256px;
	min-height: 51px;
	background-color: transparent;
	color: #333333;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 804px;
}

#u1683
{
	z-index: 499;
	width: 216px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 824px;
}

#u1689
{
	z-index: 501;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 201px;
}

#u1695
{
	z-index: 503;
	width: 196px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 516px;
}

#menuu155
{
	z-index: 531;
	width: 640px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 755px;
	left: 0px;
}

#u156
{
	width: 105px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u159
{
	width: 104px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 9px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u159:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u159.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 68px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 18px;
}

#u159:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u159.MuseMenuActive #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u159:hover #u162-4 p,#u159:hover #u162-4 span,#u159.MuseMenuActive #u162-4 p,#u159.MuseMenuActive #u162-4 span
{
	color: #F1CE01;
	visibility: inherit;
}

#u172
{
	width: 205px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u173
{
	width: 204px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 9px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u173:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u173.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u176-4
{
	width: 169px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u173:hover #u176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 169px;
	margin: 0px -10000px 0px 0px;
}

#u173.MuseMenuActive #u176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 169px;
	margin: 0px -10000px 0px 0px;
}

#u173:hover #u176-4 p,#u173:hover #u176-4 span,#u173.MuseMenuActive #u176-4 p,#u173.MuseMenuActive #u176-4 span
{
	color: #F1CE01;
	visibility: inherit;
}

#u179
{
	width: 120px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u180
{
	width: 119px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 9px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u180:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u180.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u182-4
{
	width: 84px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u180:hover #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u180.MuseMenuActive #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u180:hover #u182-4 p,#u180:hover #u182-4 span,#u180.MuseMenuActive #u182-4 p,#u180.MuseMenuActive #u182-4 span
{
	color: #F1CE01;
	visibility: inherit;
}

#u186
{
	width: 204px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#u187
{
	width: 203px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 9px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u187:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u187.MuseMenuActive
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 168px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u187:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u187.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u187:hover #u188-4 p,#u187:hover #u188-4 span,#u187.MuseMenuActive #u188-4 p,#u187.MuseMenuActive #u188-4 span
{
	color: #F1CE01;
	visibility: inherit;
}

#pu300
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u300
{
	z-index: 440;
	min-height: 537px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.5),0px 0px 8px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
}

#pu265
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	margin-left: 90px;
}

#u265
{
	z-index: 441;
	width: 555px;
	min-height: 304px;
	border-width: 20px;
	border-style: solid;
	border-color: #A53001;
	background-color: transparent;
	position: relative;
}

#u265 div
{
	margin: -10px;
}

#u273
{
	z-index: 442;
	width: 448px;
	background-color: transparent;
	margin-left: 74px;
	margin-top: 68px;
	position: relative;
}

#u284-14
{
	z-index: 444;
	width: 415px;
	min-height: 441px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 708px;
}

#u284-2,#u284-3
{
	font-size: 28px;
	line-height: 34px;
}

#u284-5
{
	font-size: 18px;
	text-align: justify;
	line-height: 25px;
	padding-right: 30px;
}

#u284-7,#u284-9,#u284-11
{
	font-size: 17px;
	color: #A53001;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	line-height: 24px;
}

#u300-bw
{
	z-index: 440;
	min-height: 537px;
}

#u299-4
{
	z-index: 458;
	width: 447px;
	min-height: 62px;
	-pie-box-shadow: 0px 0px 8px 2px #D2D2D2;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.35),0px 0px 8px rgba(127,127,127,0.35);
	background: #E2BA00 url("../images/u299-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EAE000),color-stop(100%, #E2BA00));
	background: -webkit-linear-gradient(top,#EAE000 ,#E2BA00 100%);
	background: linear-gradient(to bottom,#EAE000 ,#E2BA00 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 5px;
	color: #261011;
	line-height: 61px;
	text-align: center;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 164px;
}

#u299-4:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #D2D2D2;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.35),0px 0px 8px rgba(127,127,127,0.35);
	background: #EAE000 url("../images/u299-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#E2BB00),color-stop(100%, #EAE000));
	background: -webkit-linear-gradient(top,#E2BB00 ,#EAE000 100%);
	background: linear-gradient(to bottom,#E2BB00 ,#EAE000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 447px;
	margin: 425px -10000px 0px 0px;
}

#u299-4:active
{
	background: #EAE000 url("../images/u299-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#EAE000),color-stop(100%, #EAE000));
	background: -webkit-linear-gradient(top,#EAE000 ,#EAE000 100%);
	background: linear-gradient(to bottom,#EAE000 ,#EAE000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 447px;
	margin: 425px -10000px 0px 0px;
}

#u154-4:active::before,#u299-4:active::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 8px rgba(127,127,127,0.35), inset 0px 0px 8px rgba(127,127,127,0.35);
}

#u1677
{
	z-index: 462;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 711px;
}

#u2425
{
	z-index: 112;
	width: 1224px;
	background-color: transparent;
	left: -100px;
	position: relative;
}

#u2431
{
	z-index: 64;
	width: 1224px;
	background-color: transparent;
	left: -100px;
	position: relative;
}

#u426-6
{
	z-index: 432;
	width: 896px;
	min-height: 113px;
	background-color: transparent;
	color: #333333;
	line-height: 53px;
	text-align: center;
	font-size: 44px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 64px;
	margin-top: 80px;
	position: relative;
}

#u426
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u426-3
{
	color: #025074;
}

#u2407
{
	z-index: 438;
	width: 836px;
	background-color: transparent;
	margin-left: 94px;
	margin-top: 27px;
	position: relative;
}

#pu553
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 59px;
}

#u553
{
	z-index: 360;
	min-height: 523.9499999999998px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(51,51,51,0.5),0px 0px 8px rgba(51,51,51,0.5);
	border-color: #000000;
	padding-bottom: 0px;
	background: transparent url("../images/plaid-u553-fr.png") repeat left top;
}

#u553_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 47px;
	padding-bottom: 30px;
}

#u571
{
	z-index: 364;
	vertical-align: top;
	width: 128px;
	height: 126px;
	left: 356px;
	position: relative;
	background: url("../images/jam-u571.png") no-repeat 0px 0px;
}

#pu615
{
	width: 0.01px;
	left: 318px;
	margin-top: 106px;
	position: relative;
}

#u615
{
	z-index: 361;
	width: 75px;
	height: 20px;
	border-color: #000000;
	background-color: #057E8E;
	position: relative;
	margin-right: -10000px;
}

#u620
{
	z-index: 363;
	width: 75px;
	height: 20px;
	border-color: #000000;
	background-color: #057E8E;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

#u623
{
	z-index: 362;
	width: 75px;
	height: 20px;
	border-color: #000000;
	background-color: #057E8E;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u621-4
{
	z-index: 420;
	width: 31px;
	min-height: 41px;
	background-color: transparent;
	color: #D2D2D2;
	line-height: 68px;
	font-size: 57px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 597px;
	margin-top: 16px;
	position: relative;
}

#pu600-8
{
	width: 0.01px;
	left: 100px;
	margin-top: 24px;
	position: relative;
}

#u600-8
{
	z-index: 374;
	width: 256px;
	min-height: 68px;
	background-color: transparent;
	color: #333333;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u603-6
{
	z-index: 385;
	width: 256px;
	min-height: 68px;
	background-color: transparent;
	color: #333333;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u553-bw
{
	z-index: 360;
	min-height: 523.9499999999998px;
}

#u577-6
{
	z-index: 365;
	width: 507px;
	min-height: 48px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	line-height: 54px;
	text-align: right;
	font-size: 45px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 393px;
	border-width: 0px 0px 1px;
}

#u599-3
{
	z-index: 371;
	width: 191px;
	min-height: 191px;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D2D2;
	background-color: #057E8E;
	border-radius: 500px;
	color: #FFFFFF;
	line-height: 188px;
	text-align: center;
	font-size: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 132px;
}

#u604-3
{
	z-index: 382;
	width: 191px;
	min-height: 191px;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D2D2;
	background-color: #057E8E;
	border-radius: 500px;
	color: #FFFFFF;
	line-height: 188px;
	text-align: center;
	font-size: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 388px;
}

#u606-3
{
	z-index: 391;
	width: 191px;
	min-height: 191px;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D2D2;
	background-color: #057E8E;
	border-radius: 500px;
	color: #FFFFFF;
	line-height: 183px;
	text-align: center;
	font-size: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 644px;
}

#u607-6
{
	z-index: 394;
	width: 256px;
	min-height: 68px;
	background-color: transparent;
	color: #333333;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
	left: 612px;
}

#u600-2,#u603-2,#u607-2
{
	font-size: 15px;
	line-height: 21px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u613-3
{
	z-index: 400;
	width: 191px;
	min-height: 191px;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D2D2;
	background-color: #057E8E;
	border-radius: 500px;
	color: #FFFFFF;
	line-height: 183px;
	text-align: center;
	font-size: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 900px;
}

#u599-3::before,#u604-3::before,#u606-3::before,#u613-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 500px;
	box-shadow: inset 0px 0px 14px rgba(2,80,116,0.5), inset 0px 0px 14px rgba(2,80,116,0.5);
}

#u612-6
{
	z-index: 403;
	width: 256px;
	min-height: 68px;
	background-color: transparent;
	color: #333333;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
	left: 868px;
}

#u612-2
{
	font-size: 15px;
	line-height: 21px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u600-4,#u600-6,#u603-4,#u607-4,#u612-4
{
	font-size: 17px;
	line-height: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u617
{
	z-index: 409;
	width: 40px;
	height: 40px;
	border-color: #000000;
	background-color: #F1CE01;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 336px;
}

#u622
{
	z-index: 410;
	width: 40px;
	height: 40px;
	border-color: #000000;
	background-color: #F1CE01;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 848px;
}

#u619
{
	z-index: 411;
	width: 40px;
	height: 40px;
	border-color: #000000;
	background-color: #F1CE01;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 592px;
}

#u618-4
{
	z-index: 412;
	width: 31px;
	min-height: 41px;
	background-color: transparent;
	color: #D2D2D2;
	line-height: 68px;
	font-size: 57px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 340px;
}

#u624-4
{
	z-index: 416;
	width: 31px;
	min-height: 41px;
	background-color: transparent;
	color: #D2D2D2;
	line-height: 68px;
	font-size: 57px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 853px;
}

#u1701
{
	z-index: 424;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 163px;
}

#u1707
{
	z-index: 426;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 429px;
}

#u1713
{
	z-index: 428;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 688px;
}

#u1719
{
	z-index: 430;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 936px;
}

#u733
{
	z-index: 331;
	height: 700px;
	border-color: #000000;
	background-color: #ECF2F2;
}

#u733-bw
{
	z-index: 331;
	height: 700px;
}

#u734
{
	z-index: 332;
	min-height: 664px;
	border-color: #000000;
	padding-bottom: 36px;
	background: transparent url("../images/bgbg.jpg") no-repeat center center;
	background-size: cover;
}

#u750-26
{
	z-index: 333;
	width: 536px;
	min-height: 664px;
	background-color: transparent;
	color: #A53001;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u750-2
{
	font-size: 33px;
	line-height: 40px;
	padding-bottom: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u750-12
{
	text-align: justify;
	line-height: 20px;
	padding-right: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u750-13,#u750-18
{
	font-size: 14px;
	line-height: 20px;
	padding-right: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u750-4,#u750-8,#u750-10,#u750-15,#u750-20
{
	line-height: 20px;
	padding-right: 30px;
	padding-bottom: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u750-6,#u750-22
{
	text-align: justify;
	line-height: 20px;
	padding-right: 30px;
	padding-bottom: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u750-17,#u750-24
{
	font-size: 14px;
	line-height: 20px;
	padding-right: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u734-bw
{
	z-index: 332;
	min-height: 664px;
}

#u751
{
	z-index: 239;
	min-height: 663px;
	-pie-box-shadow: 0px 0px 8px 2px #999999;
	box-shadow: 0px 0px 8px rgba(51,51,51,0.5),0px 0px 8px rgba(51,51,51,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 50px;
}

#u816
{
	z-index: 240;
	width: 1024px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#u752
{
	z-index: 241;
	width: 448px;
	height: 596px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/4.png") no-repeat center center;
	background-size: contain;
}

#u814
{
	z-index: 248;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 448px;
}

#pu772
{
	width: 0.01px;
}

#u772
{
	z-index: 249;
	width: 2px;
	height: 342px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u773
{
	z-index: 250;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
}

#u776
{
	z-index: 251;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#u774
{
	z-index: 252;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u775
{
	z-index: 253;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u777
{
	z-index: 254;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u778
{
	z-index: 255;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u779
{
	z-index: 256;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u780
{
	z-index: 257;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
}

#u782
{
	z-index: 258;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u781
{
	z-index: 259;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u783
{
	z-index: 260;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
}

#u785
{
	z-index: 261;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u784
{
	z-index: 262;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u790
{
	z-index: 263;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
}

#u791
{
	z-index: 264;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u792
{
	z-index: 265;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u794
{
	z-index: 266;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
}

#u796
{
	z-index: 267;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	margin-top: 4px;
	position: relative;
}

#u795
{
	z-index: 268;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	margin-left: 22px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u798
{
	z-index: 269;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u800
{
	z-index: 270;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u799
{
	z-index: 271;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u802
{
	z-index: 272;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
}

#u804
{
	z-index: 273;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	margin-top: 4px;
	position: relative;
}

#u803
{
	z-index: 274;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	margin-left: 22px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u806
{
	z-index: 275;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
}

#u807
{
	z-index: 276;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u808
{
	z-index: 277;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u810
{
	z-index: 278;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u811
{
	z-index: 279;
	width: 25px;
	height: 2px;
	border-color: #000000;
	background-color: #A53001;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u812
{
	z-index: 280;
	width: 10px;
	height: 9px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#pu771-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 69px;
	margin-left: 480px;
}

#u771-6
{
	z-index: 242;
	width: 544px;
	min-height: 115px;
	background-color: transparent;
	text-align: left;
	line-height: 58px;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u577,#u771-2
{
	color: #333333;
}

#u771-4
{
	color: #A53001;
}

#u815
{
	z-index: 281;
	width: 527px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 17px;
	margin-top: 41px;
	position: relative;
}

#u786-5
{
	z-index: 282;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u787-5
{
	z-index: 287;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u788-5
{
	z-index: 292;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u789-5
{
	z-index: 297;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u793-5
{
	z-index: 302;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u797-5
{
	z-index: 307;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u801-5
{
	z-index: 312;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u805-5
{
	z-index: 317;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u809-5
{
	z-index: 322;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u813-4
{
	z-index: 327;
	width: 527px;
	min-height: 18px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u786,#u787,#u788,#u789,#u793,#u797,#u801,#u805,#u809,#u813
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u751-bw
{
	z-index: 239;
	min-height: 663px;
}

#pu1358,#pu733,#pu817
{
	width: 0.01px;
	margin-left: -100px;
}

#u817
{
	z-index: 184;
	height: 700px;
	border-color: #000000;
	background: transparent url("../images/block3.png") no-repeat center center;
	background-size: cover;
}

#u817-bw
{
	z-index: 184;
	height: 700px;
}

#u824
{
	z-index: 185;
	height: 700px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u824-bw
{
	z-index: 185;
	height: 700px;
}

#u826-5
{
	z-index: 186;
	width: 1024px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 58px;
	text-align: center;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 100px;
}

#u577-3,#u826-2
{
	color: #F1CE01;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u833
{
	z-index: 191;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 473px;
}

#u845-10
{
	z-index: 193;
	width: 384px;
	min-height: 95px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 100px;
}

#u845-4,#u845-6,#u845-8
{
	font-size: 19px;
	line-height: 23px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u848-12
{
	z-index: 203;
	width: 384px;
	min-height: 95px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 23px;
	text-align: left;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 740px;
}

#u848-2
{
	line-height: 23px;
}

#u846-5
{
	z-index: 215;
	width: 320px;
	min-height: 87px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 23px;
	text-align: right;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 132px;
}

#u846-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
	line-height: 23px;
}

#u849-6
{
	z-index: 220;
	width: 320px;
	min-height: 51px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 23px;
	text-align: left;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 793px;
}

#u847-4
{
	z-index: 226;
	width: 302px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 23px;
	text-align: right;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
	left: 182px;
}

#u850-8
{
	z-index: 230;
	width: 384px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 23px;
	text-align: left;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
	left: 740px;
}

#u115-2,#u284-8,#u284-10,#u284-12,#u848-3,#u846-3,#u849-2,#u847-2,#u850-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u845-2,#u848,#u846,#u849,#u847,#u850
{
	font-size: 23px;
	line-height: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u852
{
	z-index: 158;
	min-height: 439px;
	border-color: #000000;
	padding-bottom: 57px;
	background: #FFFFFF url("../images/subtle_freckles.jpg") repeat left top;
}

#home,#dostavka,#voprosy,#garanty
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u853
{
	z-index: 159;
	width: 448px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 100px;
}

#u859-22
{
	z-index: 161;
	width: 576px;
	min-height: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 548px;
}

#u859-2
{
	font-size: 33px;
	line-height: 40px;
	padding-bottom: 15px;
	color: #025074;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u859-4,#u859-6,#u859-8,#u859-10,#u859-12,#u859-14,#u859-16,#u859-18,#u859-19
{
	font-size: 16px;
	line-height: 22px;
	padding-left: 32px;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u859-20
{
	font-size: 16px;
	line-height: 22px;
	padding-left: 32px;
	color: #025074;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u852-bw
{
	z-index: 158;
	min-height: 439px;
}

#pu1811
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 30px;
}

#u1811
{
	z-index: 110;
	width: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u1406-6
{
	z-index: 114;
	width: 512px;
	min-height: 91px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 612px;
}

#u1430
{
	z-index: 120;
	width: 263px;
	min-height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #025074;
	font-size: 60px;
	line-height: 72px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 780px;
	left: 736px;
}

#u1432-4
{
	z-index: 121;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	color: #2D2D33;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 845px;
	left: 736px;
}

#u1433-4
{
	z-index: 125;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	color: #2D2D33;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 845px;
	left: 827px;
}

#u1434-4
{
	z-index: 129;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	color: #2D2D33;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 845px;
	left: 918px;
}

#u1435-4
{
	z-index: 133;
	width: 384px;
	min-height: 27px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 760px;
	left: 676px;
}

#u1412
{
	z-index: 137;
	width: 457px;
	border-width: 9px;
	border-style: solid;
	border-color: #B6AFB0;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 608px;
	padding: 36px 19px 104.13817743439358px 27px;
	background: #FFFFFF url("../images/bright_squares.jpg") repeat left top;
}

#u1405-4
{
	z-index: 138;
	width: 384px;
	min-height: 40px;
	background-color: #D30303;
	color: #FFFFFF;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	margin-left: 33px;
	position: relative;
}

#u2328
{
	z-index: 154;
	width: 457px;
	background-color: transparent;
	margin-top: 75px;
	position: relative;
}

#u1409
{
	z-index: 142;
	width: 360px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 10px 0px 10px 10px ;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 622px;
	left: 100px;
}

#u1408-6
{
	z-index: 143;
	width: 340px;
	min-height: 95px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 10px;
}

#u1401-4
{
	z-index: 149;
	width: 260px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	text-align: right;
	font-size: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 635px;
	left: 100px;
}

#u1399
{
	z-index: 153;
	width: 108px;
	height: 2px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 647px;
	left: 184px;
}

#u2382
{
	z-index: 156;
	width: 518px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 138px;
}

#zakaz
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 19px;
}

#pu990
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 88px;
}

#u990
{
	z-index: 66;
	height: 747px;
	border-color: #000000;
	background: #FFFFFF url("../images/block3_1.png") no-repeat center center;
	background-size: cover;
}

#u990-bw
{
	z-index: 66;
	height: 747px;
}

#u2249-3
{
	z-index: 67;
	min-height: 747px;
	border-color: #000000;
	background-color: #025074;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u2249-3-bw
{
	z-index: 67;
	min-height: 747px;
}

#u998
{
	z-index: 70;
	height: 7px;
	background: transparent url("../images/u998-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(2,80,116,0)),color-stop(86%, #000000));
	background: -webkit-linear-gradient(top,rgba(2,80,116,0) ,#000000 86%);
	background: linear-gradient(to bottom,rgba(2,80,116,0) ,#000000 86%);
	border-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u998-bw
{
	z-index: 70;
	margin-top: 572px;
	height: 7px;
}

#pamphletu1031
{
	z-index: 71;
	width: 0.01px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 104px;
}

#u1032
{
	z-index: 72;
	width: 26px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 463px;
	left: 484px;
}

#u1034
{
	position: absolute;
	width: 24px;
	height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F1CE01;
	border-radius: 500px;
}

#u1034:hover
{
	background-color: #FFFFFF;
	width: 24px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

#u1034.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 500px;
	width: 24px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

#u1038
{
	position: absolute;
	width: 1024px;
	background-color: transparent;
}

#u1038popup
{
	z-index: 74;
}

#u1041
{
	z-index: 75;
	width: 1024px;
	height: 373px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pu1046-9
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1046-9
{
	z-index: 76;
	width: 480px;
	min-height: 271px;
	text-align: justify;
	line-height: 16px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 32px;
	background: transparent url("../images/bg_ot.png") no-repeat center center;
}

#u1046
{
	padding-right: 32px;
	padding-left: 32px;
	padding-top: 10px;
	color: #000000;
}

#u1046-3,#u1046-5,#u1046-7
{
	padding-right: 32px;
	padding-left: 32px;
	padding-top: 10px;
	color: #FFFFFF;
}

#u1048
{
	z-index: 90;
	width: 120px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
}

#u1048_img
{
	margin: -4px;
}

#u1052-4
{
	z-index: 94;
	width: 238px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 128px;
}

#pu1047-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 512px;
}

#u1047-5
{
	z-index: 85;
	width: 480px;
	min-height: 271px;
	color: #FFFFFF;
	line-height: 16px;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 32px;
	background: transparent url("../images/bg_ot.png") no-repeat center center;
}

#u1047,#u1047-3
{
	padding-right: 32px;
	padding-left: 32px;
	padding-top: 10px;
}

#u1050
{
	z-index: 92;
	width: 120px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
}

#u1048 .clip_frame,#u1050 .clip_frame
{
	-webkit-border-radius: 496px 496px 496px 496px;
}

#u1048_clip,#u1050_clip
{
	overflow: hidden;
	width: 120px;
	height: 120px;
}

#u1050_img
{
	margin: -4px 1px 1px -4px;
}

#u1053-4
{
	z-index: 98;
	width: 238px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 128px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u1115
{
	z-index: 102;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 460px;
}

#u999
{
	z-index: 103;
	width: 128px;
	height: 126px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/jam.png") no-repeat center center;
}

#u1000-4
{
	z-index: 104;
	width: 275px;
	min-height: 48px;
	border-style: solid;
	border-color: #F1CE01;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 54px;
	text-align: right;
	font-size: 45px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 37px;
	border-width: 0px 0px 1px;
}

#pu1483
{
	width: 0.01px;
	margin-left: -81px;
	margin-top: 29px;
}

#u1483
{
	z-index: 31;
	width: 263px;
	min-height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #025074;
	font-size: 60px;
	line-height: 72px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 745px; 
	left: 718px;
}

#u1488-4
{
	z-index: 32;
	width: 384px;
	min-height: 27px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 730px;
	left: 657px;
}

#u1481
{
	z-index: 36;
	width: 457px;
	border-width: 9px;
	border-style: solid;
	border-color: #B6AFB0;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 589px;
	padding: 36px 3px 92px 43px;
	background: #FFFFFF url("../images/bright_squares.jpg") repeat left top;
}

#u1467-4
{
	z-index: 37;
	width: 384px;
	min-height: 40px;
	background-color: #D30303;
	color: #FFFFFF;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	margin-left: 17px;
	position: relative;
}

#u2337
{
	z-index: 54;
	width: 457px;
	background-color: transparent;
	margin-top: 87px;
	position: relative;
}

#u1489
{
	z-index: 41;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 588px;
	left: 39px;
}

#u1490
{
	z-index: 42;
	width: 355px;
	border-color: #000000;
	background-color: #A53001;
	border-radius: 10px 0px 10px 10px ;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u1491-6
{
	z-index: 43;
	width: 330px;
	min-height: 95px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 10px;
}

#u1408-2,#u1491-2
{
	font-size: 38px;
	line-height: 60px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u1408-4,#u1491-4
{
	font-size: 34px;
	line-height: 41px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1493-4
{
	z-index: 49;
	width: 240px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	text-align: right;
	font-size: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u1492
{
	z-index: 53;
	width: 108px;
	height: 2px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 84px;
}

#u2372-6
{
	z-index: 56;
	width: 512px;
	min-height: 91px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 593px;
}

#u1406-2,#u2372-2
{
	font-size: 45px;
	line-height: 54px;
	color: #A53001;
}

#u1406-4,#u2372-4
{
	font-size: 28px;
	line-height: 34px;
	color: #2D2D33;
}

#u2376
{
	z-index: 62;
	width: 518px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 116px;
}

#u1805
{
	z-index: 108;
	width: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu2362-4
{
	width: 0.01px;
	margin-left: 640px;
}

#u2362-4
{
	z-index: 19;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	color: #2D2D33;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2363-4
{
	z-index: 23;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	color: #2D2D33;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u2364-4
{
	z-index: 27;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	color: #2D2D33;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 182px;
}

#u1148
{
	z-index: 2;
	min-height: 54px;
	border-color: #000000;
	padding-bottom: 17px;
	background: #FFFFFF url("../images/footer.jpg") no-repeat center center;
	background-size: cover;
}

#u300_align_to_page,#u734_align_to_page,#u751_align_to_page,#u852_align_to_page,#u1148_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u1155-6
{
	z-index: 3;
	width: 208px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 91px;
}

#u1156-6
{
	z-index: 9;
	width: 320px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 411px;
}

#u1180-4
{
	z-index: 15;
	width: 320px;
	min-height: 18px;
	background-color: transparent;
	color: #F1CE01;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 825px;
}

#u1180-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 320px;
	margin: 31px -10000px 0px 0px;
}

#u162,#u176,#u182,#u188,#u1180-4:hover p
{
	text-decoration: underline;
}

#u1148-bw
{
	z-index: 2;
	min-height: 54px;
	margin-top: 37px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
}

