@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
}

body {
    background: url("../images/bg_main.png") repeat;
}

.main { 
    background: url("../images/bg_main.png") repeat;
    min-height: 100%; 
    /*min-width: 1060px;*/
}

.header {
    height: 121px;
    background: url("../images/bg_head.png") repeat-x;
}

.header-main {
    height: 121px;
    /*width: 1060px;*/
    margin: 0 auto;
}

.logo {
    margin-left: 2px;
    width: 334px;
    height: 121px;
    float: left;
    cursor: pointer;
}

.logo img {
    margin-top: 6px;
}

.inf1 {
    float: left;
    margin-left: 36px;
    /*width: 688px;*/
}

.inf1 p {
    display: block;
    height: 33px;
    background: url("../images/icon1.png") left center no-repeat;
    font-weight: bold;
    color: #5e5e5e;
    padding: 6px 0 0 40px;
    line-height: 14px;
    /*width: 460px;*/
    float: left;
}

.inf1 .social {
    float: right;
    margin-top: 8px;
    margin-right: 24px;
}

.inf2 {
    overflow: hidden;
    height: 67px;
    float: left;
    /*width: 677px;*/
    margin-left: 28px;
    color: #5e5e5e;
    margin-top: 3px;
    line-height: 13px;
}

.content {
    overflow: hidden;
}

.content-main {
    /*width: 1060px;*/
    margin: 0 auto;
    overflow: hidden;
}

.menu {
    background: url("../images/bg_menu.png") no-repeat;
    max-width: 1031px;
    height: 46px;
}

.menu ul {
    margin-left: 5px;
    overflow: hidden;
}

.menu li{
    float: left;
    margin-right: 2px;
    width: 126px;
    height: 35px;
    background: url("../images/bg_menu_b.png") no-repeat;
    margin-top: 5px;
}

.menu li.active, .menu li:hover {
    background: url("../images/bg_menu_b_active.png") no-repeat;
    
}

.menu li.active a, .menu li:hover a {
    text-shadow: 1px 1px 0 #c232a0;
    color: #fffdd6;
}

.menu li a {
    width: 126px;
    height: 35px;
    text-align: center;
    line-height: 31px;
    color: #404040;
    font-weight: bold;
    font-size: 13px;
    display: block;
    text-shadow: 1px 1px 0 #43d7ff;
    text-transform: uppercase;  
}

.sitebar {
    /*float: left;*/
    /*width: 198px;*/
    /*margin-top: 13px;*/
    /*margin-right: 14px;*/
}

.sitebar .cat {
    background: url("../images/bg_sbar.png") repeat;
    padding-bottom: 7px;
    margin-bottom: 13px;
}

.sitebar .cat h2 {
    height: 30px;
    background: url("../images/border1.png") bottom repeat-x #848484;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #e6e6e6;
    text-shadow: 1px 1px 0 #646464;
    line-height: 28px;
    padding-left: 10px;
    margin: 0;
}

.sitebar .cat li {
    width: 100%;
    height: 23px;
    padding-top: 4px;
}

.sitebar .cat li a{
    /*width: 190px;*/
    height: 23px;
    display: block;
    padding-left: 10px;
    line-height: 23px;
    color: #5e5e5e;
    font-size: 13px;
    text-transform: uppercase;
    
}

.sitebar .cat li:hover a {
    color: #e6e6e6;
    background-color: #e840b7;
}

.sitebar .cat .active {
    background-color: #e840b7;
}

.sitebar .cat .active a {
    color: #e6e6e6;
}

.sitebar .baners .baner {
    margin-bottom: 10px;
}

.sitebar .baners .baner .baner-img {
    width: 179px;
    height: 119px;
    background-color: #ababab;
    margin: 0 auto;
}

.sitebar .baners .baner p {
    color: #5e5e5e;
    text-align: center;
    line-height: 13px;
    padding-top: 4px;
    width: 179px;
    margin: auto;
}

.sitebar .baners .baner a:hover p {
    color: #e840b7;
    text-decoration: underline;
}

.content-bar {
    /*float: left;*/
    /*margin-top: 15px;*/
    /*width: 824px;*/
}

.content-bar .block {
    margin-bottom: 23px;
}

.content-bar h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5e5e5e;
}

.content-bar .tubs {
    margin-top: 4px;
    overflow: hidden;
    margin-right: -4px;
}

.content-bar .tube {
    width: 202px;
    height: 300px;
    background-color: #dcdcdc;
    margin-right: 4px;
    margin-bottom: 5px;
    float: left;
}

.content-bar .tube:hover {
    background-color: #76ddf4;
}

.content-bar .tube h3 {
    text-align: center;
    font-weight: bold;
    color: #454545;
    line-height: 13px;
    padding: 4px 20px;
    height: 33px;
    overflow: hidden;
    font-size: 1.17em;
    margin: 0;
}

.content-bar .tube .img {
    margin-left: 1px;
    margin-bottom: 1px;
}

.content-bar .tube img {
    width: 200px;
    height: auto;
}

.content-bar .tube p {
    color: #454545;
    line-height: 13px;
    text-align: center;
    height: 80px;
    overflow: hidden;
}

.content-bar .pagi {
    text-align: center;
    margin-top: 4px;
}

.content-bar .pagi li{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    background-color: #848484;
    width: 26px;
    height: 26px;
    border-radius: 3px;
}

.content-bar .pagi li:hover, .content-bar .pagi li.active {
    background-color: #e840b7;
}

.content-bar .pagi li a {
    color: #ececec;
    display: block;
    height: 26px;
    width: 26px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
}

.clear-footer {
    clear: both;
    height: 130px;
}

.footer {
    /*margin-top: -85px;*/
    /*height: 85px;*/
}

.footer-main {
    /*width: 1060px;*/
    margin: 0 auto;
    overflow: hidden;
}

.footer-main .logo-footer {
    float: left;
    margin-right: 11px;
}

.footer-main p {
    float: left;
    /*width: 780px;*/
    color: #5e5e5e;
    line-height: 13px;
}

/*---------------------------------------------------------------------------------*/ 

.bc ul {height: 17px;}

.bc li {
    float: left;
    text-transform: uppercase;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
}
.bc li a {
    color: #5e5e5e;
    font-size: 14px;  
}

.bc .arrow-right {
    width: 12px;
    height: auto;
}

.bc li:last-child {
    text-transform: none;
    font-weight: normal;
    color: #e840b7;
}

.bc {
    margin-bottom: 13px;
    overflow: hidden;
}

.block3 {
    text-align: center;
}

.block .video {
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.block .categories {
    padding: 9px 10px 9px 30px;
    border-radius: 4px;
    background-color: #f4f4f4;
    margin-top: 19px;
} 

.block .categories .top {
    overflow: hidden;
    height: 50px;
}

.block .categories .top span{
    display: block;
    float: left;
    color: #454545;
    font-size: 14px;
}

.block .categories .top span a{
    color: #e840b7;
    font-size: 14px;
}

.block .categories .left {
    width: 500px;
    float: left;
    text-align: left;
}

.block .categories .right {
    float: right;
}

.block .categories .top span a:hover {
    color: #e840b7;
    text-decoration: underline;
}

.block .categories .center {
    margin-top: 15px;
    text-align: left;
    margin-bottom: 14px;
}

.block .categories .center h4{
    color: #454545;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.block .categories .center p{
    color: #454545;
    font-size: 13px;
    line-height: 16px;
    width: 75%;
}

.block .categories .bottom {
    text-align: left;
    color: #656565;
    font-size: 14px;
    background: url("../images/icon2.png") left center no-repeat;
    padding-left: 21px;
}

.block .categories .bottom span {
    color: #454545;
    font-size: 14px;
}

.comm {
    padding: 10px 10px 10px 35px;
    border-radius: 4px;
    background-color: #f4f4f4;
    margin-top: 9px;
}

.comm h4 {
    color: #454545;
    font-size: 13px;
    font-weight: bold;
}

.comm input {
}

.comm input.user-name{
    background: url("../images/input1.png") no-repeat;
    width: 239px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #454545;
    padding: 0 9px;
    margin-top: 9px;
    border: none;
}

.comm textarea{
    background: url("../images/input2.png") no-repeat;
    max-width: 626px;
    width: 80%;
    height: 109px;
    font-size: 12px;
    color: #454545;
    padding: 8px 9px;
    margin-top: 14px;
    border: none;
    font-family: 'Tahoma'; 
    line-height: 16px;
    resize: none;
}

.comm input[type="submit"] {
    margin-top: 8px;
}

.user-comm {
    margin-bottom: 20px;
}

.user-comm .date {margin-left: 20px;}

.user-comm-main {
    margin-bottom: 30px;
}

.user-comm b{
    color: #454545;
    font-size: 14px;

}

.user-comm p{
    margin-top: 5px;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
}

.text_top {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
} 

.text_top p {
    font-size: 13px;
}

.text_bottom {
    padding: 9px 10px 9px 30px;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
} 

.info {padding: 2px; margin: 0 auto;}
.info .rating-holder {width: 90px; float: right; font-size: 10px;}
.info .rating-holder .votes {text-align: center;}
.info .views {width: 70px; float: left; font-size: 12px; margin: 0 0 0 5px;}
.info .views img {width: 15px; height: auto;}

.category-description {
    padding: 5px;
}

.category-description img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 10px;
} 

.counter {text-align: center;}

.sex-articles {margin: 10px 0 0 0;}
.sex-articles .more {text-align: right;}
.sex-articles ul {margin: 0;}
.sex-articles li {margin: 20px auto; list-style-type: none;}
.sex-articles .title{color: #5e5e5e; font-weight: bold; font-size: 20px; margin-left: 15px;}
.sex-articles .more {color: #C03; font-size: 13px;}
.sex-articles .text {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #454545;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0px;
} 
.sex-articles span {font-size: 12px;}
.sex-articles p {font-size: 12px;}
.sex-articles .short {max-height: 200px; overflow: hidden;}
.sex-articles .short img {max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.sex-article h1 {margin-left: 10px; font-size: 30px;}
.sex-article img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}
.sex-article .text {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
} 
.sex-article span {font-size: 13px;}
.sex-article p {font-size: 13px; line-height: 17px;}
.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 600px; text-align: center;}
.h1_rating .right {float: right; /*margin-top: 15px;*/ width: 190px;}

.share {
    margin-top: 5px;
    /*margin-left: 20px;*/
    height: 35px;
}
.share .text {
    color: #5e5e5e;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
    font-size: 14px;
}
.share .buttons {
    float: left;
    width: 400px;
    overflow: hidden;
}

/*clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
/*clearfix*/

.recent_news a {color: #000; text-decoration: underline;}
.recent_news p {margin-top: 5px;}
.recent_news .news {text-decoration: underline; font-size: 14px; color: #000;}
.recent_news .date {font-size: 9px; font-weight: bold;}
.recent_news .title {font-weight: bold; color: #000; text-align: center;}
.recent_news .text {color: #333; font-size: 11px; text-align: center; line-height: 11px;}
.recent_news .text a {font-size: 11px;}
.news .item {margin-bottom: 10px;}
.news .date {font-size: 10px;}
.news .text {font-size: 14px;}
.news a {font-size: 14px; color: #000; text-decoration: underline;}
.news .post {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #454545;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
} 
.news .admin {font-size: 10px; text-align: right;}

.vk-group {text-align: center;}
.vk-group a {color: #333; font-weight: bold;}
.vk-group img {width: 100px; height: auto;}