﻿/*описание тумба*/
.thumb {
    overflow: hidden;
    height: 40px;
    display: block;
    font-weight: normal;
    line-height: 20px;
}
/*фикс для корректной работы слайдера*/
.slider-fix {
	max-height: 200px;
}