/* modal window
   ---------------------------------------- */

.padding {
    padding: 10px;
}

.modal-show {
    overflow: hidden !important;
    position: relative;
    margin-right: 17px;
}

.margin-t-b {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-l {
    margin-left: 0 !important;
}

.loader, .modal {
    /*background-image: url(img/overlay.png);*/
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
}

.loader {
    z-index: 99;
}

.modal {
    z-index: 9999;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    text-align: justify;
}

.modal .modal-top {
    top: 50%;
}

.modal .modal-left {
    left: 50%;
}

.modal-block {
    position: relative;
    width: 600px;
    background: #FFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    border: 1px solid #3A87AD;
}

.modal-block .icon-close {
    position: absolute;
    right: 0;
    margin: 15px 20px;
}

.modal-block .title {
    background: #4D83C0;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 0 #3A87AD;
    border-bottom: 1px solid #3A87AD;
    padding: 0 100px;
    font-size: 18px;
    color: #FFF;
}

.modal.error .title {
    background: #FF0000;
    text-shadow: 1px 1px 0 #E30000;
    border-bottom: 1px solid #E30000;
}

.modal.error .modal-block {
    border: 1px solid #E30000;
}

.modal.complete .title {
    background: #5BB75B;
    text-shadow: 1px 1px 0 #50A150;
    border-bottom: 1px solid #50A150;
}

.modal.complete .modal-block {
    border: 1px solid #50A150;
}

.icon-close {
    background: url(img/icon-close.png) no-repeat;
    width: 20px;
    height: 19px;
    background-position: 0 0;
    cursor: pointer;
}

.icon-close:hover {
    background-position: 0 -19px;
}

.modal p {
    font-weight: normal;
    width: auto;
}

.modal .content {
    background: #ffffff repeat;
    width: auto;
    overflow: hidden;
}

@media screen and (max-width:540px) {
    .modal-block {
        width: 380px;
    }
    .modal-block .title {
        padding: 0 50px;
        line-height: 39px;
    }
}

@media screen and (max-width:405px) {
    .modal-block {
        width: 300px;
    }
    .modal-block .title {
        padding: 0;
    }
}