/* ::::: http://cool-chance.ru/timer/style/main.css ::::: */

html, body { margin: 0px; padding: 0px; }
body { text-align: center; }
#countdown_dashboard { height: 110px; }
.dash { background: url('dash.png') no-repeat scroll 0% 0% transparent; width: 100px; height: 50px; float: left; margin-left: -40px; position: relative; top: 60px; left: -21px; z-index: 9999; }
.dash .digit { font-size: 36px; font-weight: bold; float: left; width: 20px; text-align: center; font-family: arial; color: rgb(0, 0, 0); position: relative; margin-left: 5px; }
