html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* after_qbici */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}/* endzeit_____ */
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family:'Open Sans', Verdana, sans-serif;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    background: #fff;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
.upp {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.white {
    color: #fff;
}
h1, h2, h3 {
    letter-spacing: 1px;
}
.i700 {
    font-weight: 700;
    font-style: italic;
}
.green {
    color: #06cc4f;
}
/* michael-k90 */
input::-webkit-input-placeholder { color: #666; }
input::-moz-placeholder { color: #666; }

.section {
    width: 960px;
    padding: 40px 10px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}/* after_qbici */
h2 {
    text-align: center;
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 700;
    font-style: italic;
}
.b1 {
    background: url(../img/b1.jpg) center top no-repeat;
    height: 561px;
}
.b1 .left {
    width: 470px;
    float: left;
    padding-top: 328px;
}
.b1 .price div {
    display: inline-block;
    width: 160px;
    font-weight: 700;
}
.b1 .price .old {
    font-size: 36px;
    line-height: 56px;
    color: #fff;
    position: relative;
    text-decoration: line-through;
}
.b1 .price .old:after {
    content: '';
    width: 19px;
    height: 34px;
    display: block;
    background: url(../img/str.png) left top no-repeat;
    position: absolute;
    right: -10px;
    top: 14px;
}
.b1 .price .new {
    font-size: 36px;
    line-height: 56px;
    color: #ff6c02;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
}
.button-m {
    display: block;
    width: 300px;
    height: 65px;
    margin: 0 auto;
    text-shadow: 0 1px 1px #90430c;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    line-height: 63px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7px;/* endzeit_____ */
    border-bottom: 4px solid #d45900;
    background-color: #ff6c02;
    letter-spacing: 1px;
}
.button-m:hover {
    border-bottom: 4px solid #e8670a;
    background-color: #ff8126;
}
.button-m:active {
    border-top: 2px solid #d45900;
    border-bottom: 2px solid #d45900;
    background-color: #d45900;
}
.b1 .button-m {
    margin-top: 25px;
}

.b2 h2 {
    background: url(../img/b2h2.jpg) center 13px no-repeat;
}
.video-container{
    margin: 20px auto 0;
    position: relative;
    width: 930px;
    height: 450px;
    overflow:hidden;
    border: 5px solid #fcd110;
    background: #000;
}
.video-container iframe, .video-container object, .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.shadow {
    box-shadow: 0 12px 26px -8px #2f2b2b;
}
.b3 {
    margin-top: -160px;
    padding-top: 110px;
    background: url(../img/pattern.png) center top repeat;
}
.b3 .descript {
    overflow: hidden;
}
.b3 img.img1 {
    float: left;
}
.b3 p {
    font-weight: 700;
    margin-left: 510px;
}
.b3 .gallery {
    clear: both;
    text-align: center;
    margin-top: 30px;
}
.b3 .gallery img {
    display: inline-block;
    box-shadow: 0 12px 26px -8px #2f2b2b;
}
.b3 .gallery img.img2 {
    margin: 0 10px;
}
.b4 {
    background: url(../img/b4.jpg) center top no-repeat;
    height: 469px;
}
.b4 ul {
    text-align: center;
    margin-top: 25px;
}
.b4 ul li {
    vertical-align: top;
    display: inline-block;
    width: 24%;
    padding: 0 10px;
    box-sizing: border-box;
    font-weight: 700;
}
.b4 ul li h3 {
    text-transform: uppercase;
    font-style: italic;
    padding: 10px 0;
}
.b4 ul li p {
    font-size: 14px;
    line-height: 20px;
}
.orange {
    color: #ee9d00;
}
.rev {
    margin: 0 auto 30px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}
.rev h3, .rev p {
    margin-left: 210px;
}
.rev1 {
    background: url(../img/o1bg.png) left top repeat;
}
.rev2 {
    background: url(../img/o2bg.png) left top repeat;
}
.rev img {
    border-radius: 50%;
    float:left;
}
.rev:after {
    content: '';
    display: block;
    background: url(../img/rr.png) left top repeat;
    width: 39px;
    height: 31px;
    position: absolute;
    top:20px;
    right: 20px;
}
.rev h3 {
    background: url(../img/star.png) left 16px no-repeat;
    text-transform: uppercase;
    padding: 15px 0 10px 140px;
    font-size: 18px;
    font-style: italic;
}
.rev p {
    line-height: 28px;
    padding-right: 30px;
}
form {
    margin: 20px  auto;
}
form input {
    outline: none;
    position: relative;
    display: block;
    width: 300px;
    padding: 0 20px;
    box-sizing: border-box;
    height: 65px;
    margin: 0 auto 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    line-height: 63px;
    color: #113a1b;
    border: none;
    text-decoration: none;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 0 4px #cacaca;
}
form button {
    outline: none;
    position: relative;
    display: block;
    width: 300px;
    height: 65px;
    margin: 0 auto;
    text-shadow: 0 1px 1px #90430c;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    line-height: 63px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7px;/* endzeit_____ */
    border-bottom: 4px solid #d45900;
    background-color: #ff6c02;
    letter-spacing: 1px;
}
form button:hover {
    border-bottom: 4px solid #e8670a;
    background-color: #ff8126;
}
form button:active {
    border-top: 2px solid #d45900;
    border-bottom: 2px solid #d45900;
    background-color: #d45900;
}
.b6 {
    margin-top: -80px;
    padding-top: 80px;
    background: url(../img/pattern.png) center top repeat;
    font-weight: 700;
    text-align: center;
}
.b6 ul li {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    position: relative;
    padding-bottom: 20px;
}
.b6 ul li:after {
    content: '';
    display: block;
    width: 18px;
    height: 31px;
    position: absolute;
    top: 68px;
    right: -10px;
    background: url(../img/arr.png) center top no-repeat;
}
.b6 ul li.last:after {
    display: none;
}
.b6 ul li p {
    padding: 5px 15px 10px;
    font-size: 14px;
    line-height: 20px;
}
.b7 {
    background: url(../img/b7.jpg) center top no-repeat;
    height: 566px;
}
.b7 .left {
    width: 470px;
    float: left;
    padding-top: 190px;
}
.b7 .price div {
    display: inline-block;
    width: 160px;
    font-weight: 700;
}
.b7 .price .old {
    font-size: 36px;
    line-height: 56px;
    color: #fff;
    position: relative;
    text-decoration: line-through;
    margin-left: -45px;
}
.b7 .price .old:after {
    content: '';
    width: 19px;
    height: 34px;
    display: block;
    background: url(../img/str.png) left top no-repeat;
    position: absolute;
    right: -10px;
    top: 14px;
}
.b7 .price .new {
    font-size: 36px;
    line-height: 56px;
    color: #ff6c02;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
}
.b11 p a {
    color: #333;
    text-decoration: none;
}
/* after_qbici */

.addreview {
    text-align: center;
}

.addreview .reviews_test {
    display: inline-block;
    padding: 20px 40px;
    background: #fcfcfc;
    border: 1px solid #eee;
    position: relative;
}
.addreview .reviews_test:after {
    content: '';
    display: block;
    width: 100%;
    height: 22px;
    position: absolute;
    bottom: -22px;
    left: 0;
    background: url(../img/shadow.png) center top no-repeat;
    background-size: contain;
}
.addreview .review_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333333;
    position: relative;
}
.addreview .review_title:after {
    content: '';
    width: 15%;
    height: 2px;
    background: #e7e7e7;
    position: inherit;
    margin: 0 auto;
    display: block;
    text-align: center;
    bottom: 0px;
}

.addreview .review_radio {
    width: 100%;
    height: 45px;
    line-height: 41px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 45px;
    border: 2px solid #000;
}

.addreview .review_radio.green_radio {
    border-color: #51c23b;
}

.addreview .review_radio.red_radio {
    border-color: #ff5e5e;
}

.addreview .review_radio.blue_radio {
    border-color: #45b9f6;
}

.addreview .review_radio:before {
    width: 12px;
    height: 12px;
    margin: 10px;
    display: inline-block;
    content: "";
    border: 4px solid #000;
    border-radius: 20px;
    float: left;
}

.addreview .review_radio.green_radio:before {
    border-color: #51c23b;
}

.addreview .review_radio.red_radio:before {
    border-color: #ff5e5e;
}

.addreview .review_radio.blue_radio:before {
    border-color: #45b9f6;
}

.addreview .review_radio.green_radio.active:before {
    background: #00c04a;
}

.addreview .review_radio.red_radio.active:before {
    background: #de3437;
}

.addreview .review_radio.blue_radio.active:before {
    background: #00b0f4;
}

.addreview .review_radio input[type=radio] {
    display: none;
}

.addreview .review_radio span {
    display: inline-block;
    float: left;
    font-size: 16px;
}

.addreview .review_box {
    background: #e1e1e1;
    padding: 20px 35px;
    width: 100%;
    max-width: 415px;
    display: inline-block;
}

.addreview_title {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
}

.addreview input,
.addreview textarea {
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
}

.addreview textarea {
    width: 100%;
    height: 140px;
    overflow-y: auto;
    float: left;
    text-align: left;
    padding: 10px 20px;
}

.addreview .min_input {
    width: 100%;
    float: left;
}

.addreview .min_input input[type="text"] {
    width: 180px;
    height: 32px;
}

.addreview .min_input a.button {
    height: 32px;
    width: 150px;
    float: right;
    line-height: 32px;
    font-size: 16px;
    text-transform: inherit;
    padding: 0 10px;
}

.addreview .min_input input[type="file"] {
    display: none;
}

.addreview .result {
    width: 345px;
    display: inline-block;
}

.addreview .review_result {
    display: inline-block;
    width: 100%;
    display: none;
    float: left;
}

.addreview .review_result p {
    text-align: left;
    padding: 10px 20px 10px;
    font-size: 15px;
    font-weight: bold;
}

.addreview .review_result .line {
    height: 30px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    float: left;
    min-width: 57px;
}

/* owmen17 */
.addreview .review_result .result_item {
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 13px;
    color: #999;
    font-weight: bold;
}

.addreview .review_result .line.green_result {
    background: #51c23b;
}

.addreview .review_result .line.red_result {
    background: #ff5e5e;
}

.addreview .review_result .line.blue_result {
    background: #45b9f6;
}

.widthpoll {
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    background: #eee;
    padding-right: 21px;
}

.addreview .review_result p.votenum {
    text-align: center !important;
    margin-top: 20px;
}

.addreview .review_result p span {
    background: #eee;
    padding: 5px 10px;
    border-radius: 4px;
    color: #4dabc3;
    font-size: 18px;
    margin-left: 8px;
}

@-webkit-keyframes green_view {
    0% {
        width: 0;
    }
    100% {
        width: 68%;
    }
}

@keyframes green_view {
    0% {
        width: 0;
    }
    100% {
        width: 68%;
    }
}

.green_view {/* bizlife_inc */
    -webkit-animation: green_view 2s 1 ease-out;
    -moz-animation: green_view 2s 1 ease-out;
    -ms-animation: green_view 2s 1 ease-out;
    -o-animation: green_view 2s 1 ease-out;
    animation: green_view 2s 1 ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes red_view {
    0% {
        width: 0;
    }
    100% {
        width: 4%;
    }
}

@keyframes red_view {
    0% {
        width: 0;
    }
    100% {
        width: 4%;
    }
}

.red_view {
    -webkit-animation: red_view 2s 1 ease-out;
    -moz-animation: red_view 2s 1 ease-out;
    -ms-animation: red_view 2s 1 ease-out;
    -o-animation: red_view 2s 1 ease-out;
    animation: red_view 2s 1 ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes blue_view {
    0% {
        width: 0;
    }
    100% {
        width: 22%;
    }
}

@keyframes blue_view {
    0% {
        width: 0;
    }
    100% {
        width: 22%;
    }
}

.blue_view {
    -webkit-animation: blue_view 2s 1 ease-out;
    -moz-animation: blue_view 2s 1 ease-out;
    -ms-animation: blue_view 2s 1 ease-out;
    -o-animation: blue_view 2s 1 ease-out;
    animation: blue_view 2s 1 ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
/* endzeit_____ */
@media only screen and (max-width: 959px) {
    .section {
        width: 640px;
        padding: 30px 10px
    }
    h2 {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 20px;/* owmen17 */
    }
    .b1 {
        background: url(../img/b1-2.jpg) center top no-repeat;
        height: 534px;
    }
    .b1 .left {
        width: 640px;
        padding-top: 368px;
    }
    .b1 .left .price {
        float:left;
        width: 320px;
        margin-top: 35px;
    }
    .b1 .left a.button-m {
        float:right;
    }

    .b1 .price div {
        width: 45%;
        float: left;
        font-weight: 700;
    }
    .b1 .price .old {
        font-size: 30px;
        line-height: 46px;
    }
    .b1 .price .old:after {
        right: -10px;
        top: 6px;
    }
    .b1 .price .new {
        font-size: 30px;
        line-height: 46px;
    }
    .b2 h2 {
        background: none;
    }
    .video-container {
        width: 600px;
        height: 320px;
        margin-top: 10px;
    }
    .b3 {
        margin-top: -100px;
        padding-top: 70px;
    }
    .b3 img.img1 {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .b3 p {
        margin-left: 0px;
    }
    .b3 .gallery {
        clear: both;
        text-align: center;
        margin-top: 30px;
    }
    .b3 .gallery img {
        margin: 3px;
    }
    .b3 .gallery img.img2 {
        margin: 3px;
    }
    .b4 {
        background: #293990;
        height: 710px;
    }
    .b4 ul li {
        width: 48%;
        padding: 0 10px 25px;
    }
    .b6 ul li {
        display: inline-block;
        width: 280px;
        vertical-align: top;
        position: relative;
    }
    .b6 ul li.last:after, .b6 ul li.two:after {
        display: none;
    }
    .b7 {
        background: url(../img/b7-2.jpg) center top no-repeat;
        height: 497px;
    }
    .b7 .left {
        width: 640px;
        padding-top: 190px;
    }
    .b7 .left form {
        float:left;
    }
    .b7 .left .price {
        float:right;
        width: 320px;
        margin-top: 195px;
    }
    .b7 .price div {
        width: 45%;
        float: left;
        font-weight: 700;
    }
    .b7 .price .old {
        font-size: 30px;
        line-height: 46px;
        margin: 0;
    }
    .b7 .price .old:after {
        right: -10px;
        top: 6px;
    }
    .b7 .price .new {
        font-size: 30px;
        line-height: 46px;
    }
}
/* bizlife_inc */
@media only screen and (max-width: 639px) {
        .section {
            width: 320px;
            padding: 20px 10px;
        }
        h2 {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 20px;/* owmen17 */
        }
        .b1 {
            background: url(../img/b1-3.jpg) center top no-repeat;
            height: 654px;
        }
        .b1 .left {
            width: 300px;
            padding-top: 465px;
        }
        .b1 .left .price {
            width: 300px;
            margin-top: 0px;
        }
        .video-container{
            margin-top: 0;
            width: 290px;
            height: 155px;
        }
        .b3 {
            margin-top: -40px;
            padding-top: 20px;
        }
        .b4 {
            height: 1250px;
        }
        .b4 ul {
            margin-top: 0px;
        }
        .b4 ul li {
            width: 100%;
            padding: 0 10px 25px;
        }
        .rev img {
            border-radius: 50%;
            float:none;
            margin: 0 auto;
            display: block;
        }
        .rev h3, .rev p {
            margin: 0;
        }
        .rev h3 {
            padding: 45px 0 10px 0px;
            font-size: 18px;
        }
        .rev p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            padding-right: 0px;
        }
        .b6 ul li p {
            padding-bottom: 35px;
        }
        .b6 ul li:after {
            content: '';
            display: block;
            width: 31px;
            height: 18px;
            position: absolute;
            top: 230px;
            left: 50%;
            margin-left: -15px;
            background: url(../img/arr1.png) center top no-repeat;
        }
        .b6 ul li.two:after {
            display: block;
        }
        .b7 {
            background: url(../img/b7-3.jpg) center top no-repeat #1188d8;
            height: 820px;
        }
        .b7 .left {
            width: 300px;
            padding-top: 275px;
        }
        .b7 .left .price {
            float: none;width: 300px;
        }
        .b7 .left .form {
            float: none;
        }
        .addreview .review_radio span {
            display: inline-block;
            float: left;
            font-size: 10px;
        }
}