.ipad_text {
    border-bottom: 1px dashed;
    display:inline-block;
}

.ipad_text2 {
    border-bottom: 0px dashed;
}

.merchant_block:hover .ipad_text2 {
	border-bottom: 1px dashed;
}

.ipad_icon_image {
    margin-top: -4px;
    opacity: 1;
    position: absolute;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}
.ipad_icon_info {
    margin-top: -5px;
    opacity: 0;
    position: absolute;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}

.merchant_block .bonus:hover .ipad_text {
    border-bottom: 1px solid;
}

.merchant_block .bonus:hover .ipad_icon_info {
    opacity: 1;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}

.merchant_block .bonus:hover .ipad_icon_image {
    opacity: 0;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}




.merchant_grid .merchant_grid_cell {
    float: left;
    width: 60%;
}
.merchant_grid .merchant_grid_cell.merhcnaht_grid_cell_propose {
    float: right;
    width: 35%;
}
.merchant_grid {
    clear: both;
    overflow: hidden;
}

.merchant_grid .merchant_grid_cell h1{
    font-size: 20px !important;
}

.merchant_grid .merchant_grid_cell img{
    width: initial;
    width: unset;
    width: auto;
}

.merchant_block {
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.30);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09) inset;
    padding: 12px 47px;
    text-align: center;
}
.merchant_block a {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
}
.merchant_block a:hover {
    opacity: 0.95;
}
.merchant_block .bonus {
    border: 2px solid #FFFFFF;
    border-radius: 27px 27px 27px 27px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 12px 60px 12px 40px;
    color: white;
    line-height: 100%;
}
.merchant_block .button {
    background: rgb(255,222,0);
    background: linear-gradient(135deg, #FFDE00 0%, #FF9000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 6px 6px 6px 6px;
    box-shadow: -4px -5px 2px rgba(211, 92, 2, 0.41) inset, 1px 1px 2px rgba(255, 255, 255, 0.69) inset, 2px 2px 7px rgba(24, 24, 24, 0.63), -2px -2px 1px rgba(171, 79, 17, 0.76) inset;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 17px;
    text-shadow: -2px -2px 0 rgba(112, 65, 34, 0.57);
    color:white;
}

.merchant_block *{
    color: white !important;
}

.product_container{
	min-width: 1000px;
}



.merchant_block img{
    max-width: 100%;
}

.merchant_block a {
    font-weight: bold !important;
    color:white;
}



@media (max-width: 767px) {

    .merchant_grid {
        position: relative;
    }

    .merchant_grid .merchant_grid_cell {
        display: inline !important;
        float: none !important;
        width: initial !important;
    }

    .merchant_grid_cell .additionalProducts {
        margin-top: 250px;
    }

    .merchant_grid .merhcnaht_grid_cell_propose{
        display: block !important;
        float: left !important;
        left: 0;
        margin-top: 0 !important;
        max-width: 100% !important;
        overflow: hidden !important;
        padding-top: 0 !important;
        position: absolute;
        top: 0 !important;
        width: 400px !important;
        z-index: 999;
    }

    .merchant_block{
        padding: 10px 10px !important;
        height: 240px;
    }

    .merchant_block a {
        font-size: 16px !important;
        font-weight: bold !important;
        line-height: 15px !important;
        padding: 5px !important;
    }

    .merchant_block .bonus {
        border: 2px solid #ffffff !important;
        border-radius: 52px !important;
        box-sizing: border-box;
        display: inline-block;
        font-size: 29px !important;
        margin-right: 10px !important;
        margin-top: 10px !important;
        padding: 13px 20px !important;
        width: 73%;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .merchant_block{
            padding: 10px 10px !important;
    }
}



