@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300&subset=latin,cyrillic);
/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
    height: 100%;
}
body
	{
		color: #D0D0D1;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		line-height: 1;
		font-size: 16px;
		background: url("../img/kors/fon.jpg") repeat scroll 0 0 #fff;
	}
ul {
	list-style: none;
}
strong
	{
		font-weight: bold;
	}



label {
  display: block;
}


.input-block {
	margin-bottom: 5px;
	position: relative;
	padding-bottom: 15px;
}

.btn {
	background-color: #F03E24;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    height: 56px;
    line-height: 36px;
    margin-bottom: 15px;
    outline: medium none;
    display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
}
a.btn {
    font-size: 25px;
    height: 45px;
    padding: 5px 15px 0;
}


/*END INPUT BLOCK*/
.left {
	float: left;
}
.wrapper{
	font-family: "Exo 2",sans-serif;
	width: 100%;
	min-width: 1140px;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
	background: #ffffff;
	background-size: 100%;
}
.content {
	margin: 0 auto;
	position: relative;
	width: 1100px;
	padding: 0 20px;
}

.ul li {
	color: #D0D0D1;
	padding-top: 7px;
	padding-left: 35px;
	background: url("../img/kors/arrow.png") no-repeat 0 0 transparent;
	min-height: 35px;
	line-height: 16px;
	line-height: 32px;
}
.content p {
	color: #ffffff;
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 10px;
}
.content-list li {
	color: #ffffff;
	font-size: 17px;
	line-height: 35px;
	margin-bottom: 5px;
	padding-left: 20px;
}
.content strong {
	font-weight: bold;
	color: #000000;
}
.h2 {
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 20px;
	line-height: 35px;
}
.h2 strong {
	color: #f5d200;
	font-size: 30px;	
}
/*HEADER*/
#header {
	position: relative;
}


.header-body .certificate {
	position: absolute;
	top: 20px;
	left: 460px;
	color: #000;
	font-size: 14px;
	text-align:center;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	
}
.header-body .certificate p {
	font-size: 12px;
	line-height: 20px;
	padding-top: 12px;
}
.header-body .logo {
	position: absolute;
	display: block;
	top: 20px;
	left: -8px;
}
.header-body h1 {
	color: #000000;
    font-size: 28px;
    line-height: 30px;
	text-transform: uppercase;
	padding-top: 20px;
}
.header-body .h1-desc {
	font-size: 16px;
	font-weight: normal;
	color: #000;
	font-style: normal;
	line-height: 22px;
	
	
}
.predator-main {
	width: 650px;
	height: 528px;
	background: url("../img/kors/watch-main.png") no-repeat scroll 120px 100px transparent;
	position: relative;
}
.kors-main {
	background: url("../img/kors/watch-main.png") no-repeat scroll 0 0 transparent;
	width: 470px;
	height: 600px;
	position: absolute;
	left: 0px;
	bottom: 30px;
}
.el1_1 .kors-main {
	background: url("../img/kors/watch-main1.png") no-repeat scroll 0 0 transparent;
	width: 282px;
	height: 306px;
	position: relative;
	float: left;
	top: 0;
}

.predator-main p {
	width: 150px;
	color: #ffffff;
	font-size: 13px;
	position: absolute;
	line-height: 16px;
}
.original {
	color: #D0D0D1;
	padding-top: 7px;
	text-align: center;
}
.original h2 {
	display: inline-block;
	padding: 5px 20px;
	font-size: 30px;
	line-height: 35px;
	font-weight: normal;
	margin-bottom: 4px;
	text-align: center;
	color: #ffffff;
}
.original h2 small {
	font-size: 14px;
}
.original h2 strong {
	color: #2bd3d3;
	font-size: 40px;
	line-height: 50px;
	text-shadow: 1px 1px 1px #000000;
}
.original p {
	font-size: 18px;
	text-align: center;
}
.header-phone {
	text-align: right;
	position: absolute;
	right: 25px;
	top: 22px;
	width: 250px;
}
.header-phone  strong {
	font-size: 28px;
	font-weight: normal;
	color: #000;
}
.header-phone p {
	margin-bottom: 0px;
}
.header-phone .call-btn {
	margin-bottom: 5px;
}
.action .action-form {
	width: 350px;
	background: #fff;
	background: url("../img/kors/title-bg.png") repeat 0 0 transparent;
	padding: 20px 20px 30px;
	position: absolute;
	top: 70px;
	left: 450px;
	border: 1px solid #000;
}
.action .action-form h3 {
    color: #fff;
    font-size: 15.5px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.gift-block {
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 40px;
}
.gift-block img {
	float: left;
}
.gift-block ul {
	padding-left: 250px;
	padding-top: 30px;
}
.standart-list {
	margin-bottom: 15px;
}

.standart-list li {
	background: url("../img/kors/standart-arrow.png") no-repeat 0 5px transparent;
}
.standart-list li span {
	text-decoration: line-through;
}
/*END HEADER*/

/*SHORT LIST*/
.short-list-body {
	width: 1000px;
	margin: 0 auto;
}
.short-list-body h3 {
	font-size: 20px;
	color: #000000;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.short-list-body ul {
	overflow: hidden;
}
.short-list-body li {
	float: left;
	width: 32%;
	margin-right: 2%;
	color: #000000;
}
.short-list-body li.last {
	margin-right: 0;
}

.short-list-body li .li-body {
	padding: 25px 15px;
	border: 1px solid #ffc706;
	background: #ffc706;
	height: 450px;
	
}
.short-list-body li .li-body img {
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	border: 1px solid #fdd900;
}

/*END SHORT LIST*/


/*GIFT BLOCK*/
.gift-list {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.gift-list li {
	float: left;
	width: 50%;
	text-align: center;
	position: relative;
}
.gift-list li .h3-top {
	position:absolute;
	top: 10px;
	color: #d77b03;
	text-transform: uppercase;
	text-align:center;
	font-size: 40px;
	width: 100%;
	left: 0;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.gift-list li .h3-bottom {
	position:absolute;
	bottom: -25px;
	color: #d77b03;
	text-align:center;
	font-size: 25px;
	width: 100%;
	left: 0;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.gift-list li i.plus {
	font-size: 150px;
	color: #000000;
	position: absolute;
	left: -50px;
	top: 100px;
}
/*END GIFT BLOCK*/


/*ACTON*/
.action {
	width: 100%;
	background: url("../img/kors/main-bg.jpg") no-repeat 50% 100% transparent;
	padding-top: 50px;
}
.margin-bottom {
	margin-bottom: 40px;
}
.action1 {
	padding-top: 50px;
	height: auto;
}
.action .content {
	height: 600px;
}
.action-body {

}
.action-body .h1 {
	font-size: 40px;
	font-family: "Exo 2",sans-serif;
	color: #000;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: bold;
}
.action-body .h1-small {
	font-size: 25px;
	margin-bottom: 10px;
	color: #000;
	text-transform: uppercase;
    font-family: "Exo 2",sans-serif;
}

.action-btn {
	position: absolute;
	left: 310px;
	bottom: 0px;
	background: url("../img/kors/strelka.png") no-repeat 80px 10px transparent;
}
.action-btn .btn {
	margin-left: 220px;
}
.action-btn p {
	color: #333333;
	font-size: 20px;
	margin-bottom: 0;
	text-align: right;
}
.action-btn-static {
	position: static;
	width: 550px;
	padding-right: 50px;
	margin: 85px auto 0;
}

.price-label {
	height: 150px;
	width: 150px;
	position: absolute;
	background: url("../img/kors/price-label.png") no-repeat 0 0 transparent;
	left: 330px;
	top: 50px;
	text-align: center;
	z-index: 999;
}
.action-gift {
	position: absolute;
	right: 10px;
	top: 130px;
}
.action-gift h3 {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
}
.price-label-body {
	padding-top: 45px;
}
.price-label span {
	display: inline-block;
	color: #ffffff;
	text-shadow: 1px 1px 0 #000000;
}	
.price-label-old {
	font-size: 20px;
	text-decoration: line-through;
	margin-bottom: 10px;
	
}
.price-label-new {
	font-size: 30px;
}
.price-label-new small {
	font-size: 25px;
}
/*END ACTION*/

/*VIDEO BLOCK*/
#video-block {
	margin-top: -80px;
	padding-top: 50px;
	background: #ffffff;
}
.video-block {
	overflow: hidden;
	
}
.video-block ul {
	margin-bottom: 25px;
}
.video-block li {
	color: #000000;
	margin-bottom: 7px;
}
.video-block-main {
	width: 316px;
	height: 400px;
	position: relative;
	float: left;
	padding-left: 75px;
}
.video-block-desc {
	padding-left: 520px;
}
.imac {
	width: 450px;
	height: 450px;
	background: url("../img/kors/imac.png") no-repeat 0 0 transparent;
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px 17px;
}
/*END VIDEO BLOCK*/

/*SHORT LIST*/
.short-list-body {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.short-list-body h3 {
	font-size: 20px;
	color: #000000;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
}
.short-list-body ul {
	overflow: hidden;
}
.short-list-body li {
	float: left;
	width: 32%;
	margin-right: 2%;
	color: #000000;
}
.short-list-body li.last {
	margin-right: 0;
}

.short-list-body li .li-body {
	padding: 15px 15px;
	border: 1px solid #f5d200;
	background: url("../img/kors/fon.jpg") repeat 50% 50% transparent;
}
.short-list-body li .li-body img {
	max-width: 100%;
	display: block;
	margin: 0 auto 10px;
}
.short-list-body li p {
	color: #000;
	font-size: 16px;
	line-height: 25px;
}
.cet {
    background: url("../img/kors/sect.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    padding: 47px;
	margin-top: -40px;
	position: relative;
	z-index: 100;
}
/*END SHORT LIST*/

/*TEXT BLOCK*/
.text-block-body .text-left {
	width: 300px;
	float: left;
}
.text-block-body .text-left ul {
	padding-top: 10px;
}
.text-block-body .text-left li {
	margin-bottom: 30px;
}
.text-block-body .text-left li img {
	display: block;
}
.text-block-body .text-right {
	padding-left: 330px;
}
/*END TEXT BLOCK*/

/*GARANT*/
#garant {
	margin-top: -50px;
}
.garant-body {
	background: url('../img/kors/garant.png') no-repeat 640px 28px transparent;
	width: 850px;
	margin: 0 auto;
	border: 1px solid #fdd900;
	padding: 20px 35px;
}
/*END GARANT*/

/*WHAT-IS*/
.what-is-body {
	width: 100%;
	padding-top: 20px;
	margin-bottom: 50px;
	
}
.what-is-body h2, .what-is-body p, .razmer-body h2, .razmer-body p {
	background: url("../img/kors/transparent-bg.png") repeat 0 0 transparent;
}
.what-is-body h2 {
	text-align: center;
}
.razmer-body {
	margin-bottom: 60px;
}
/*END WHAT IS*/

/*WHY*/
.why {
}
.why-body {
	padding-top: 20px;
}
.why-body h2 {
	font-size: 30px;
	text-align: center;
	line-height: 40px;
}
.why-body h2 small {
	color: #ffffff;
	font-weight: normal;
}
.plus-list {
	overflow: hidden;
}
.plus-list li {
	float: left;
	width: 24.5%;
	text-align: center;
	height: 230px;
	margin: 5px 0;
}
.three-row li {
	width: 25%;
}
.plus-list li h3 {
	font-size: 15px;
	font-weight: bold;
	color: #FFC706;
	text-transform: uppercase;
	line-height: 20px;
	margin: 15px 0;
	padding: 0 14px;
	
	
}
.plus-list li p {
	padding: 0 14px;
	font-size: 13.7px;
	line-height: 20px;
}
/*END WHY*/

/*WHEREFORE*/
.wherefore-body h2 {
	text-align: center;
	margin-bottom: 50px;
}
.wherefore-body {
	padding-bottom: 30px;
}
.wherefore-body h3 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #EFCB06;
	margin-bottom: 35px;
}
.wherefore-body .plus-list li {
	height: 210px;
	
}
.wherefore-body .video-frame {
	width: 500px;
	margin: 0 auto;
}
.alt-action {
	overflow: hidden;
	margin-bottom: 40px;
}
.alt-action h3 {
	margin-bottom: 0px;
}




/*slider*/
#button {
float:left;
margin:50px 10px 0 10px; /* отступы для кнопок */
}
.gallery-parent {
	position: relative;
	width: 988px;
	margin: 0 auto 15px;
}
.gallery-parent a.next, .gallery-parent a.prev {
	display: block;
	position: absolute;
	width: 30px;
	height: 41px;
	top: 50%;
	margin-top: -20px;
}
.gallery-parent a.next {
	background: url("../img/kors/slide-next.png") no-repeat 0 0 transparent;
	right: -40px;
}
.gallery-parent a.prev {
	background: url("../img/kors/slide-prev.png") no-repeat 0 0 transparent;
	left: -40px;
}
.gallery {
}
.gallery  ul {
	overflow: hidden;
}
.gallery li{
	margin: 11px; 
	float: left;
	
} 
.gallery li img {
	width: 225px;
	height: 150px;
}
/*END WHEREFORE*/

/*DOCTOR FEEDBACK*/
.doctor-feedback {
	padding-top: 25px;
	background: url("../img/kors/black_bg.jpg") repeat 0 0 transparent
}
.doctor-feedback-item {
	margin-bottom: 35px;
	overflow: hidden;
}
.doctor-feedback-photo {
	position: relative;
	float: left;
}
.doctor-feedback-photo img.photo {
	position: absolute;
	top: 0;
	left: 0;
}
.doctor-feedback-photo img.ramka {
	position: relative;
}
.doctor-feedback-content {
	padding-left: 350px;
}
.doctor-feedback-content dl {
	padding: 20px;
}
.doctor-feedback-content dt{
	margin-bottom: 20px;
}
.doctor-feedback-content dd {
	font-size: 20px;
	font-style: italic;
	color: #FFC706;
}
/*END DOCTOR FEEDBACK*/

.feed-list {
	overflow: hidden;
}
.feed-list li {
	float: left;
	width: 50%;
}
.feed-list li .feed-list-body {
	overflow: hiidden;
	padding: 20px;
}
.feed-list li .feed-pic {
	float: left;
}
.feed-list li .feed-pic img {
	width: 150px;
}
.feed-list li .feed-content{
	padding-left: 180px;
	width: 350px;
}

/*FEEDBACK*/
#feedback {

}
.feed-list {
	overflow: hidden;
	margin-bottom: 20px;
}
.feed-list li {
	float: left;
	width: 50%;
	margin-bottom: 25px;
}
.feed-list li .li-body {
	padding-right: 25px;
}

.feed-list li dt {
	font-size: 16px;
	font-weight: bold;
	color: #FFC706;
	line-height: 25px;
}
.feed-list li dd, .feed-list li p {
	font-size: 15px;
	line-height: 20px;
}
#feedback-slider-wrap {
    margin: 0 auto;
    padding-bottom: 80px;
    position: relative;
    width: 1000px;
	padding: 20px 30px;
}
#feedback-slider-wrap h2 {
	padding-bottom: 10px;
}
#feedback-slider {
    height: 215px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 850px;
}
#feedback-slider .slide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	overflow: hidden;
}
#feedback-slider .slide .pic {
	width: 220px;
	float: left;
}
#feedback-slider .slide .feedback-content {
	padding-left: 230px;
	padding-top: 30px;
	
}
.feedback-content p {
	color: #ffffff;
	line-height: 22px;
	margin-bottom: 20px;
}
.feedback-content .feedback-contact {
	color: #f5d200;
}
#feedback-slider-wrap .prev {
    background: url("../img/rado/item-prev.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    left: 30px;
    position: absolute;
    width: 40px;
}
#feedback-slider-wrap .next {
    background: url("../img/rado/item-next.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    position: absolute;
    right: 30px;
    width: 40px;
}
/*END FEEDBACK*/


/*SHEMA*/
.shema {

}
.step-list {
	overflow: hidden;
	
}
.step-list li {
	float: left;
	width: 14.5%;
}
.step-list li.divider {
	width: 6.5%;
	height: 100px;
	background: url("../img/kors/next-step.png") no-repeat 50% 10px transparent;
}
.step-number {
	width: 36px;
	height: 36px;
	background: url("../img/kors/step-number.png") no-repeat 0 0 transparent;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	line-height: 35px;
	margin-bottom: 10px;
}
.step-list li p {
	font-size: 13.7px;
	line-height: 20px;
	color: #D0D0D1;
	text-align: center;
}
/*END SHEMA*/

/*FEEDBACK*/

.feed-list {
	overflow: hidden;
	margin-bottom: 20px;
}
.feed-list li {
	float: left;
	width: 50%;
	margin-bottom: 25px;
	height: 200px;
}
.feed-list li .li-body {
	padding-right: 25px;
}
.feed-list dl {
	padding-left: 55px;
	background: url("../img/kors/quotes.png") no-repeat 0 7px transparent;
	padding-bottom: 10px;
}
.feed-list li dt {
	font-size: 16px;
	font-weight: bold;
	color: #FFC706;
	line-height: 25px;
}
.feed-list li dd, .feed-list li p {
	font-size: 15px;
	line-height: 20px;
	color: #000;
}
.feed-list .feedback-contact {
	color: #000;
	font-weight: bold;
}
#feedback-slider-wrap {
    margin: 0 auto;
    padding-bottom: 80px;
    position: relative;
    width: 1000px;
	padding: 20px 30px;
}
#feedback-slider-wrap h2 {
	padding-bottom: 10px;
}
#feedback-slider {
    height: 215px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 850px;
}
#feedback-slider .slide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	overflow: hidden;
}
#feedback-slider .slide .pic {
	width: 220px;
	float: left;
}
#feedback-slider .slide .feedback-content {
	padding-left: 230px;
	padding-top: 30px;
	
}
.feedback-content p {
	color: #000;
	line-height: 22px;
	margin-bottom: 20px;
}
.feedback-content .feedback-contact {
	color: #D77B03;
}
.feedback-send {
	width: 800px;
	margin: 0 auto;
}
.feedback-send p {
	color: #000;
}
#feedback-slider-wrap .prev {
    background: url("../img/kors/item-prev.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    left: 30px;
    position: absolute;
    width: 40px;
}
#feedback-slider-wrap .next {
    background: url("../img/kors/item-next.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    position: absolute;
    right: 30px;
    width: 40px;
}
/*END FEEDBACK*/

/*CATALOG*/
.catalog-list {
	overflow: hidden;
	padding-bottom: 10px;
	list-style: none;
	
}
.catalog-list li {
	float: left;
	width: 25%;
	margin-bottom: 30px;
}
.catalog-list li .item-pic {
	position: relative;
	padding: 0 10px;
	margin: 0 auto;
	margin-bottom: -25px;
}
.catalog-list li .item-pic img{
	max-width: 100%;
}
.catalog-list li a.dsc {
	background: #cccccc;
	background: linear-gradient(to bottom, #ffffff 1%, #cccccc 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #cccccc;
	color: #000000;
	text-shadow: 0 1px 1px #ffffff;
}	
.catalog-list li a.dsc:hover {
    text-shadow: 0 0 16px #FFFF99, 0 1px 1px #666666;
}
.catalog-submit {
	text-align: center;
	margin-top: 10px;
}

.price {
	margin-left: 60px;
}
span.new-price {
	font-size: 40px;
	color: #f5d200;
}
span.new-price sup {
	font-size: 20px;
	position: relative;
	top: -18px;
}
span.old-price {
	font-size: 20px;
	color: #999999;
	text-decoration: line-through;
	position: relative;
	left: -10px;
	top: -7px;
}

/*END CATALOG*/


/*COUNT*/
.timer {
	width:300px;
	margin: -20px auto 20px;
	padding-top: 25px;
	background: url('../img/kors/action-time.png') center bottom no-repeat; 
	height: 141px;
	width: 350px;
}
.counter {
	width: 290px;
	padding: 45px 0 0 20px;
	margin: 0 auto;
}
.timer h4 {
	font-size: 19px;
	text-align: center;
	color: #fdd900;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.cntSeparator {
	margin-top: 23px;
	position: relative;
	left: 5px;
	
}


#dostavka p {
	color: #000;
}

/*FOOTER*/
.footer {
	background: #FFF;
	padding: 0px;
	border-radius: 10px;
}
.footer h2, h2.off-40, h2.h2-spec {
	height: 99px;
	background: url("../img/kors/uspey-bg.png") repeat-x 0 0 transparent;
	text-align: center;
	font-size: 43px;
	font-weight: bold;
	color: #000000;
    font-family: "exo 2";
	line-height: 95px;
	margin:0px;
}
.h2-spec {
	height: 99px;
	background: url("../img/kors/uspey-bg.png") repeat-x 0 0 transparent;
	color: #000000;
}

.footer  p {
	color: #000;
}

.footer p.h3-desc {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

.footer a {
	color: #FA2600;
	text-decoration: none;
}
.footer .finfo {
    font-size: 13px;
	padding-bottom: 10px;
}
.footer .finfo .copy {
	color: #000;
	text-align: center;
}
.footer .finfo .info {
    text-align: center;
}

/*END FOOTER*/





control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline
	{
		color: #E10005;
		display: block;
		margin: 5px 0 0 0;
	}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea 
	{
		background: #FFB0B0;
		color: #E10005;
		border-color: red;
	}	
.control-group.error .checkbox:focus, .control-group.error .radio:focus, .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus
	{
		box-shadow: 0 0 6px #D59392;
		border-color: #953B39;
	}
.control-group.success .checkbox:focus, .control-group.success .radio:focus, .control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus
	{
		border-color: #356635;
		box-shadow: 0 0 6px #7ABA7B;
	}
.control-group.success .checkbox, .control-group.success .radio, .control-group.success input, .control-group.success select, .control-group.success textarea
	{
		color: #468847;
		border-color: #468847;
	}
.input-block {
	position: relative;
	padding-bottom: 10px;
}
.action-form .control-group.error .help-inline, .control-group.error .help-inline {
	display: block;
	font-size: 12px;
	margin: 0;
	color: #000000;
	color: #830000;
	margin-top: 2px;
	position: absolute;
	bottom: -2px;
	left: 2px;
	background: #ffffff;
	padding: 2px;
}
.action-form .input-block input {
	margin-bottom: 0;
	
}
#back-top {
	position: fixed;
	bottom: 30px;
	z-index: 9999;
}
 
#back-top a {
	width: 108px;
	display: block;
	height: 15px;
	padding-top: 70px;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
	background: url("../img/kors/gototop.png") no-repeat 50% 0 transparent;
	opacity: 0.6;
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	opacity: 1;
}	
#back-top span {
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom: 7px;
	background: url("../img/kors/gototop.png") no-repeat center center transparent;
	margin: 0 auto;
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
}
.lock {
    /* Скрываем скроллбары */
    overflow: hidden;
}
.lock .modal {
    /* Показываем подложку (полупрозрачное затенение) при открытии модального окна */
    display: block;
 
    /* Саму подложку фиксируем и растягиваем на всё пространство */
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;
 
    /* Если содержимое модального окна в подложку не влезает — показываем скроллбары */
    overflow: auto;
	z-index: 99999;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}

#modalw 
	{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		bottom: 0;
		right: 0;
		z-index: 999;
	}
#modalw table
	{
		width: 100%;
		height: 100%;
	}
#modalw td
	{
		vertical-align: middle;
		
	}
#make_order
	{
		width: 400px
	}
#make_order input, #make_order textarea
	{
		width: 80%;
	}
#make_order h3
	{
		margin-bottom: 5px;
	}
.modal_body
	{
		background: #000;
		/*margin: 30px 15px 5px 0;*/
		padding: 10px 20px 20px;
		width: 300px;
		margin: 30px auto 30px;
		position: relative;
		display: none;
		border: 1px solid #ffc706;
	}

.modal_body h3
	{
		color: #ffffff;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 15px;
	}
a.cancel
	{
		display: block;
		position: absolute;
		top: -14px;
		right: -12px;
		background: url("../img/kors/fancybox_sprite.png") no-repeat 0 0 transparent;
		width: 34px;
		height: 34px;
		text-decoration: none;
		z-index: 1000;
	}

.modal_body input {
	color: #666666;
	width: 86%;
	border-radius: 0px;
	padding: 0 20px;
	height: 32px;
	font-size: 16px;
	background: #ECECEC;
	border: none;
	border-top: 1px solid #6A6E74;
	border-right: 1px solid #8B676E;
	border-left: 1px solid #B4AEB7;
	border-bottom: 1px solid #CEC5C9;
}
.modal_body textarea {
	width: 89.5%;
	border-radius: 0;
	padding: 10px 10px 10px 20px;
	height: 80px;
	font-size: 14px;
	border-color: #6A6E74 #8B676E #CEC5C9 #B4AEB7;
	border-style: solid;
	border-width: 1px;
	background: #ECECEC;
	resize: none;
	margin: 0;
}


.gift_img1{
	height: 380px;
}

.action-title{
	padding-left: 310px; 
	position: relative; 
	top: -30px; 
	width: 800px;
}

.el1_1 {
    background: url("../img/kors/logo.png") no-repeat scroll 50% 100% transparent;
    height: 306px;
    margin-left: 20px;
    margin-right: 20px;
}
