body{
	margin:0;
	color:#000;
	font:12px/16px Arial, Helvetica, sans-serif;
	background-color: #e8e8e8;
}
img{border-style:none;}
a{color:#9e0000;text-decoration:none;}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	color:#000;
	vertical-align:middle;
	margin:0;
	padding:0;
	font:100% Arial, Helvetica, sans-serif;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
.visual{overflow:hidden;}
.w1 {
	position:relative;
	float:left;
	left:50%;
}
.w2 {
	width:1008px;
	position:relative;
	float:left;
	left:-50%;
}
#main {
	width:1008px;
	margin:0 auto;
	overflow: hidden;
}
#header{
	height:99px;
}
#header .holder{
	margin:0 auto;
	width:1000px;
	padding-top:0px;
}
#header .logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	width:530px;
	height:99px;
	margin:0;
}
#header .logo a{
	display:block;
	height:100%;
}
#header .banner{
	float:right;
	width:468px;
	margin-top:12px;
}
#header .banner a{display:block;}
#header .banner a img{vertical-align:top;}
.menu{
	height:36px;

	background:url(../images/bg-menu.png) repeat-x;
	font-size:14px;
	margin-bottom:14px;
}
.menu .holder{
	margin:0 auto;
	width:1008px;
}
.menu .nav{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.menu .nav li{
	background:url(../images/sep.gif) no-repeat;
	float:left;
	line-height:36px;
	font-weight:bold;
	padding-left:2px;
}
.menu .nav li a{
	padding:0 19px;
	float:left;
	color:#e4e4e4;
	height:35px;
	text-decoration:none;
}
.menu .nav li.active a,
.menu .nav li a:hover{
	background:url(../images/bg-menu.jpg) no-repeat 50% 0;
	color:#fff;
	cursor:pointer;
}
.menu .search{
	float:left;
	height:30px;
	background:url(../images/sep.gif) no-repeat;
	padding:6px 0 0 20px;
}
.menu .search .text{
	float:left;
	width:210px;
	height:15px;
	border:0;
	padding:4px;
	color:#606060;
}
.menu .search .btn-search{
	float:left;
	border:none;
	padding:0;
	text-indent:-9999px;
	line-height:0;
	width:39px;
	height:26px;
	background:url(../images/search.png) no-repeat;
	cursor:pointer;
	margin:-2px 0 0 10px;
	position:relative;
}
#main .title{padding:0 130px;}
#main h1,h2{
	margin:0 0 14px 22px;;
	font-size:24px;
	line-height:26px;
	font-weight:normal;
	font-style:italic;
	color:#000000;
}
#twocolumns{
	float:right;
	width:879px;
}
#content{
	float:left;
	width:750px;
}
#content p{margin:0 0 15px;}
#content .box-info{
	overflow:hidden;
	margin-bottom:13px;
}
#content .box-info ul{
	float:left;
	margin:0 0 0 -2px;
	padding:0;
	list-style:none;
}
#content .box-info li{
	float:left;
	width:152px;
	background:#cfcfcf;
	border:1px solid #fff;
	padding:14px 16px;
	margin-left:2px;
}

#content .box-info li a:hover img{
	border:1px solid #9e0000;
}

#content .box-info li a{
	display:block;
	color:#000;
}
#content .box-info li a img{
	vertical-align:top;
	border:1px solid #fff;
	margin-bottom:8px;
}
#content .box-info li a span{
	display:block;
	margin:0 -7px;
}
.box-text{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	padding:17px 37px;
    background:#cfcfcf;
	border:1px solid #fff;
	margin-bottom:22px;
}
.opacity {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}
#content .block{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	background:#cfcfcf;
	border:1px solid #fff;
	padding:15px 16px;
	overflow:hidden;
	margin-bottom:15px;
}
#content .block .popular{
	overflow:hidden;
	width:752px;
	margin:0 0 20px -36px;
	padding:0;
	list-style:none;
}
#content .popular li{
	float:left;
	width:152px;
	padding-left:36px;
}
#content .popular li a{
	display:block;
	color:#000;
}
#content .popular li a img{
	vertical-align:top;
	border:1px solid #fff;
	margin-bottom:8px;
}
#content .popular li a:hover img{
	border:1px solid #9e0000;
}
#content .popular li a span{
	display:block;
	margin:0 -7px;
}
#content .box-sort{
	overflow:hidden;
	font-size:14px;
	color:#000;
	border-top:1px dotted #fff;
	padding:17px 0;
}
#content .item{
	border-bottom:1px dotted #fff;
	border-top:none;
	padding-bottom:17px;
	padding-top:0;
	margin-bottom:16px;
}
#content .box-sort .txt{
	float:left;
	line-height:28px;
}
#content .box-sort a{text-decoration:underline;}
#content .box-sort a:hover{text-decoration:none;}
#content .box-sort .page{
	float:right;
}
#content .box-sort .page span{
	float:left;
	line-height:28px;
	padding-right:12px;
}
#content .box-sort .page ul{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
#content .box-sort .page li{
	float:left;
	margin-left:1px;
}
#content .box-sort .page li a, #content .box-sort .page li.current, #content .box-sort .page li.points{
	float:left;
	width:27px;
	height:28px;
	text-align:center;
	background:url(../images/bg-page.png) no-repeat;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	line-height:26px;
	text-decoration:none;
}
#content .box-sort .page li.current,
#content .box-sort .page li a:hover{
	background:url(../images/bg-page-h.png) no-repeat;
}
#content .info-sort{
	overflow:hidden;
	margin:0 0 0 -12px;
	padding:0;
	list-style:none;
}
#content .info-sort li{
	display:inline-block;
	width:170px;
	padding-left:9px;
	margin-bottom:13px;
}
#content .info-sort li a{
	float:left;
	width:162px;
	border:1px solid #fff;
	text-align:center;
	padding:6px 3px;
	background:#7c7c7c;
	text-decoration:none;
}
#content .info-sort li a:hover{
	background:#535353;
	border:1px solid #fff;
}
#content .info-sort li a:hover .text{color:#c8c8c8;}
#content .info-sort li a .text{
	overflow: hidden;
	height: 30px;
	display:block;
	font-size:14px;
	color:#fff;
	padding-bottom:3px;
}
#content .info-sort li a img{
	vertical-align:top;
	border:1px solid #fff;
	margin-bottom:6px;
}
#content .info-sort li a:hover img{border:1px solid #e31b1b;}
#content .info-sort li a .txt{
	text-align:left;
	display:block;
	font-size:10px;
	color:#c9c9c9;
}
#content .info-sort li a .txt strong{
	font-weight:normal;
	color:#fff;
}
#content .box-text2{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	padding:17px 12px 17px 35px;
	background:#cfcfcf;
	border:1px solid #fff;
	margin-bottom:24px;
}
#content .box-text3{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	padding:17px 40px;
	background:#cfcfcf;
	border:1px solid #fff;
	margin-bottom:24px;
}
#content .box-text2 span{color:#9e0000;}
#content .categories{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	overflow:hidden;
	padding:13px 27px;
	margin:0 0 16px;
	list-style:none;
	background:#000;
	border:1px solid #fff;	
}
#content .categories li{
	float:left;
	width:230px;
	color:#000;
	font-size:14px;
	padding-bottom:5px;
}
#content .categories li a{
	color:#9e0000;
	font-size:18px;
}
#content .categories li a:hover{
	color:#000;
	text-decoration:none;
}
.aside1{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	float:right;
	width:103px;
	background:#cfcfcf;
	border:1px solid #fff;
	padding:14px 9px;
}
.aside1 .info{
	margin:0;
	padding:0;
	list-style:none;
}
.aside1 .info li{
	padding-bottom:17px;
	width:103px;
}
.aside1 .info li a{
	display:block;
	text-align:center;
	text-decoration:none;
}
.aside1 .info li a img{
	vertical-align:top;
	border:1px solid #fff;
	margin-bottom:5px;
}
.aside1 .info li a span{
	display:block;
	color:#9e0000;
}
.aside2{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	float:left;
	width:103px;
	background:#cfcfcf;
	border:1px solid #fff;
	padding:14px 9px;
}
.aside2 .info{
	margin:0;
	padding:0;
	list-style:none;
}
.aside2 .info li{
	padding-bottom:17px;
	width:103px;
}
.aside2 .info li a{
	display:block;
	text-align:center;
	text-decoration:none;
}
.aside2 .info li a img{
	vertical-align:top;
	border:1px solid #fff;
	margin-bottom:5px;
}
.aside2 .info li a span{
	display:block;
	color:#9e0000;
}
#footer{
background:url(../images/bg-footer.png) repeat-x;
	height: 128px;
	overflow:hidden;
	padding:30px 0 1px;
}
#footer .holder{
	margin:0 auto;
	width:1000px;
}
#footer .copyright{
	width:440px;
	float:left;
	padding-top:11px;
}
#footer .copyright ul{
	overflow:hidden;
	margin:0 0 16px -8px;
	padding:0;
	list-style:none;
}
#footer .copyright li{
	float:left;
	border-left:1px solid #919191;
	padding:0 8px;
	line-height:12px;
}
#footer .copyright li:first-child{border:none;}
#footer .logo2{

	float:right;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo2.png) no-repeat;
	width:558px;
	height:109px;
}
#footer .logo2 a{
	display:block;
	height:100%;
}
#footer .counter{padding-left:4px;}
#footer .counter img{vertical-align:top;}

.vertical_teasers {width: 103px;}
.vertical_teasers a {color: #333;}
#video_info .title {padding: 0;}
