{admin/header.html}
<div id="vue">
	<h3>Типы</h3>
	<div class="row mb-3">
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
			<button :class="'btn btn-light '+((selectedType == null)?'active':'')" @click="selectType" :data-type="null">Все</button>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" v-for="type in types" v-if="type != ''" v-show="type" style="display: none;">
			<button :class="'btn btn-light '+((type == selectedType)?'active':'')" @click="selectType" :data-type="type">{{ type }}</button>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<h3>Домены</h3>
		</div>
		<div class="col-6" v-show="user.level == 'admin'">
			<form class="form-inline justify-content-end" method="post" action="/?r=admin/Admin/addDomain">
				<input class="form-control" type="text" name="domain" value="" placeholder="Домен">
				<button class="btn btn-secondary">Добавить</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" v-for="domain in domains" v-if="((domain.type == selectedType) || !selectedType)" style="display: none;" v-show="domain">
			<div class="dropdown">
				<div class="btn-group">
					<button class="btn btn-light copy"><i class="far fa-copy copy" :data-clipboard-text="domain.domain"></i></button>
					<button class="btn btn-light" type="button" :id="'dropdown'+domain.domain" data-toggle="dropdown" aria-haspopup="true">
						{{ domain.domainDecoded }}
						<span style="color: red; font-weight: bold;" v-if="domain.redirectTo"><br>{{ domain.lastRedirectDomainDecoded }}</span>
					</button>

					<div class="dropdown-menu" :aria-labelledby="'dropdown'+domain.domain">
						<a class="dropdown-item" :href="'/?r=admin/Routes/route&amp;domain='+domain.domain">Страницы</a>
						<a class="dropdown-item" :href="'/?r=admin/Admin/domainSettings&amp;domain='+domain.domain">Настройки домена</a>
						<a class="dropdown-item" :href="'https://cinema.awmzone.net/?r=Admin/domainSettings&amp;domain='+domain.domain" v-if="domain.type == 'cinema'">Настройки Cinema</a>
						<a class="dropdown-item" :href="'/?r=admin/Admin/resetDomainCache&amp;domain='+domain.domain">Сбросить кеш</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', (event) => {
		var vue1 = new Vue({
			el: '#vue',
			data: {
				types: {vueTypes},
				domains: {vueDomains},
				selectedType: null,
				user: vueUser
			},
			methods: {
				selectType: function(el){
					this.selectedType = el.target.dataset.type;
				}
			}
		})
	});
</script>
{admin/footer.html}