@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

ul,li {
margin:0;
padding:0;
list-style-type:none;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #757575;
	background-color: #f9f7ed;
	margin: 0px;
	padding: 0px;
}

a {
color:#94486D;
text-decoration:none;
}

a:hover {
color:#730236;
}
a img {
border-top-style:none;
border-right-style:none;
border-bottom-style:none;
border-left-style:none;
margin:0;
padding:0;
}
#header {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/elements.png);
	background-position: left -108px;
	height: 142px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	overflow: hidden;
}
#logo {
	background-image: url(../images/elements.png);
	height: 95px;
	width: 340px;
	margin-left: 240px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 20px;
	float: left;
}
#logo a {
	display: block;
	/*width: 340px;*/
	height: 95px;
}
#search {
	width: 440px;
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}

#search-box {
position: relative;
width: 100%;
margin: 0;
}
 
#search-form
{
	height: 40px;
	border: 1px solid #7385a8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
}
#search-text
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}
 
#search-box input[type="text"]
{
	width: 90%;
	color: #333;
	outline: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-right: 0;
	padding-left: 1em;
	font-size: 13px;
	padding-top: 10px;
}
 
#search-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 60px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-width: 0;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #EB5589),
	color-stop(1, #FBBA79)
);
	background-image: -o-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
	background-image: -moz-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
	background-image: -webkit-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
	background-image: -ms-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
	background-image: linear-gradient(to bottom, #EB5589 0%, #FBBA79 100%);
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}
.addthis_toolbox {
	position: absolute;
	top: 65px;
	right: -50px;
	width: 320px;
	text-align: right;
}
.wrapper {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
.title {
	font-size: 12px;
	font-weight: bold;
	color: #7b8bb0;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-right: 4px;
	padding-left: 4px;
	height: 30px;
	overflow: hidden;
}
.thumb {
	float: left;
	width: 190px;
	text-align: center;
	border: 1px solid #f1e2a5;
	margin: 4px;
	background-color: #FFF;
	overflow: hidden;
}
.thumb:hover {
	border-top-color: #EE7996;
	border-right-color: #EE7996;
	border-bottom-color: #EE7996;
	border-left-color: #EE7996;
}
.description {
	display: block;
	width: 180px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	color: #757575;
	height: 105px;
	overflow: hidden;
}
.stats {
	background-color: #f1e2a5;
	line-height: 18px;
	overflow: hidden;
	padding-right: 4px;
	padding-left: 4px;
}
.date {
	float: left;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	color: #ed6287;
	background-position: left 4px;
	padding-left: 13px;
}
.views {
	float: right;
	color: #ed6287;
	background-image: url(../images/eye.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 15px;
}
.categories {
	margin: 4px;
	float: left;
	width: 190px;
	overflow: hidden;
}
.catstart {
	line-height: 34px;
	width: 190px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #6F82A5),
	color-stop(1, #B7B4E9)
);
	background-image: -o-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: -moz-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: -webkit-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: -ms-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: linear-gradient(to bottom, #6F82A5 0%, #B7B4E9 100%);
	font-weight: 400;
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}

ul.nav {
}

ul.nav li {
}
ul.nav li a {
	display: block;
	background-color: #FFF;
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 22px;
	background-image: url(../images/play.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
	color: #757575;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.nav li a:hover, ul.nav li .active {
	background-color: #f1e2a5;
	color: #ED6287;
}
.block-title {
	font-size: 14px;
	font-weight: bold;
	float: left;
	display: block;
	width: 890px;
	margin-top: 12px;
	margin-right: 4px;
	margin-bottom: 10px;
	margin-left: 4px;
	background-image: url(../images/camera.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
}
.block-title h1 {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 14px;
}
.block-title a {
	color: #757575;
	text-decoration: underline;
}
.annotattion {
	background-color: #FFF;
	padding: 0 6px 0 6px;
	overflow: hidden;
	float: left;
	display: block;
	margin: 4px;
	width: 980px;
	font-size: 13px;
	line-height: 18px;
}
.wide {width: auto;}
.annotattion .img-index {
	margin: 17px 10px 10px 0;
	height: 230px;
	width: auto;
	float: left;
	border: 1px solid #999;
}
.annotattion .img-category {
	margin: 17px 10px 10px 0;
	height: 230px;
	width: auto;
	float: left;
	border: 1px solid #999;
}
.ann_text {
	float: left;
	margin-left: 6px;
	font-size: 13px;
	width: 850px;
	line-height: 18px;
}
.story_text {
	float: left;
	margin-left: 2px;
	font-size: 13px;
	/*width: 770px;*/
	line-height: 16px;
}
.story_text a {
	font-weight: bold;
	color: #7b8bb0;
	text-decoration: underline;
}
.story_text img {
	margin: 0px 5px 5px 0;
	height: 120px;
	width: auto;
	float: left;
	border: 1px solid #999;
}
.story_text .title {
	height: auto;
	font-size: 14px;
}
#section {
	width: 1192px;
	margin-left: auto;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #6F82A5),
	color-stop(1, #B7B4E9)
);
	background-image: -o-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: -moz-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: -webkit-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: -ms-linear-gradient(bottom, #6F82A5 0%, #B7B4E9 100%);
	background-image: url(linear-gradient(to%20bottom,%20#6F82A5%200%25,%20#B7B4E9%20100%25));
	clear: both;
	margin-right: auto;
	background-color: #39C;
	overflow: hidden;
	font-weight: 400;
}
ul.sector {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}
ul.sector li {
	display: inline-block;
	float: left;
}
ul.sector li a {
	font-size: 18px;
	line-height: 34px;
	color: #FFF;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-right: 12px;
	padding-left: 12px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #b6b3e8;
	border-right-color: #7385a8;
	height: 35px;
	display: block;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}
ul.sector li a:hover, ul.sector .active {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #EB5589),
	color-stop(1, #FBBA79)
);
background-image: -o-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
background-image: -moz-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
background-image: -webkit-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
background-image: -ms-linear-gradient(bottom, #EB5589 0%, #FBBA79 100%);
background-image: linear-gradient(to bottom, #EB5589 0%, #FBBA79 100%);
}
.story {
	float: left;
	width: 996px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	/*clear: both;*/
}
.media {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.player {
	float: left;
}
.player .code {
	text-align: center;
}
.player .code iframe {
	width: 639px;
	height: 520px;
	margin: 0 auto;
}
.ads {
	float: right;
	width: 300px;
}
.ads a img {
	margin-bottom: 12px;
}
.mediainfo {
	width: 629px;
	clear: both;
	padding: 5px;
	background-color: #FFF;
	margin-top: 15px;
	overflow: hidden;
	color: #494848;
}
.mediainfo textarea {
	height: 85px;
	width: 550px;
}
.optons {
	width: 100px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #339;
	height: 32px;
	line-height: 32px;
	text-align: center;
	float: left;
}
.report {
	display: block;
	float: left;
	width: 120px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
}
.like {
	clear: both;
	border: 5px solid #FFF;
}
.percent {
	font-size: 14px;
	font-weight: bold;
	display: block;
	float: left;
	line-height: 24px;
	padding-right: 12px;
	padding-left: 12px;
}
.like img {
	display: block;
	float: left;
}
.mediainfo a img:hover {
	opacity: 0.9;
}.mediadesc {
	display: block;
	clear: both;
	padding-top: 5px;
	width: 600px;
}
.mediastats {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*width: 200px;*/
	margin-right: 30px;
	margin-top: 10px;
}
.mediastats-likes {
	margin-top: 0;
}
.tags {
	font-size: 12px;
	display: block;
	clear: both;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tags a {
	color: #EE628C;
}
.tags a:hover {
	text-decoration: underline;
}.comment {
	margin-left: 25px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.i15 {
	display: block;
	float: left;
	height: 12px;
	width: 400px;
	clear: both;
}

.user {
	float: left;
	line-height: 18px;
}
.text {
	clear: both;
	display: block;
}
.comment .user {
	font-size: 12px;
	color: #7B8BB0;
}.mdate {
	line-height: 18px;
	padding-left: 12px;
	color: #757575;
}
.spacer {
	clear: both;
	height: 55px;
}

ul.pagination {
	display: block;
	clear: both;
	/*margin-right: auto;*/
	/*margin-left: auto;*/
	/*width: 400px;*/
	margin-top: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
}
ul.pagination li {
	display: block;
	float: left;
}
ul.pagination li a {
	font-size: 12px;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #F1E2A5;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 2px;
	color: #757575;
}
ul.pagination li a:hover, ul.pagination .active a {
	color: #FFF;
	background-color: #7b8bb0;
}

#foterline {
	background-image: url(../images/longline.png);
	height: 2px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.footer {
	background-image: url(../images/footer.png);
	height: 97px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.fdesc {
	font-size: 12px;
	line-height: 16px;
	width: 730px;
	color: #4b5365;
	padding-top: 8px;
	float: left;
}
.flink {
	display: block;
	font-weight: bold;
	color: #F9F7ED;
	margin-top: 8px;
}
.flink a {
	color: #F9F7ED;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}

.flogo {
	background-image: url(../images/elements.png);
	height: 95px;
	width: 340px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	margin-right: 25px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

.last-comments {
	margin: 10px 4px 4px 4px;
}
.last-comments .video {
	text-align: center;
	margin-bottom: 2px;
}
.last-comments .text {
	background-color: #fff;
	padding: 4px;
}
.last-comments .lc-title {
	margin-bottom: 6px;
	font-weight: bold;
	font-size: 12px;
}
.last-comments .lc-block {
	margin-bottom: 10px;
}

.story-read {
	/*width: auto;*/
}
.story-read img {
	display: block;
	margin: 0 auto;
}
.thumbs {
	clear: both;
}
#liveinternet {
	width: 90px;
	float: right;
	margin: 60px 12px 0 0;
}