.brand_header {
	display: block;
	text-align: center;
	background-color: #000;
}

body {
	background: url(/template/promo/brand/xrest_new.jpg) center top no-repeat #000;
}

.brand_link {
	width: 100%;
	height: 730px;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}

.wrapper {
	width: 1106px;
	margin: 0 auto;
	z-index: 3;
	margin-top: 250px;
	background-color: #660000;
	border: 1px solid #fff;
	border-radius: 10px;
	position: relative; 
}

.head {
	/*border: 0px solid #fff;*/
	border-radius: 10px;
}