html {min-width:1156px;}
body {
	margin:0;
	color:#ccc;
	font:13px/16px Arial, Helvetica, sans-serif;
	background:#820404 url(../images/bg-page01.gif) 50%;
	min-width:1156px;
}
img {border-style:none;}
a {
	text-decoration:underline;
	color:#ccc;
}
a:hover {
	text-decoration:none;
	color:#fff;
}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#w1 {
	overflow:hidden;
	width:100%;
	position:relative;
}
#header {
	width:1005px;
	margin:0 auto;
	height:101px;
}
.header-holder {
	background:url(../images/bg-header.gif);
	width:1005px;
	margin:0 -9999px;
	padding:0 9999px;
}
.header-inner {
	height:101px;
	width:1005px;
	margin:0 -99px;
	padding:0 99px;
	overflow:hidden;
	background:url(../images/bg-header-holder.gif) no-repeat 50% 0;
}
.logo-holder {
	float:left;
	width:420px;
	margin:0 0 0 26px;
}
.logo {
	display:block;
	width:416px;
	height:83px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/logo.png) no-repeat;
	margin:2px 0 0 0;
}
.logo a {
	display:block;
	height:100%;
}
#header .slogan {
	display:block;
	color:#ff8204;
	font:12px/13px Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #000;
	word-spacing:3px;
}
#header .frame {
	float:right;
	width:360px;
	padding:7px 33px 0 0;
}
#header .row {
	overflow:hidden;
	padding:0 0 19px;
}
.subscribe-form label {
	float:left;
	color:#ff9123;
	font:12px/15px Arial, Helvetica, sans-serif;
	margin:5px 4px 0 5px;
}
.subscribe-form .text-input {
	float:right;
	width:135px;
	padding:0 5px 0 9px;
	height:26px;
	background:url(../images/bg-text-input.png) no-repeat;
	overflow:hidden;
}
.subscribe-form input[type="text"] {
	float:left;
	border:0;
	width:135px;
	padding:5px 0;
	margin:0;
	font:12px/15px Arial, Helvetica, sans-serif;
	color:#929292;
	background:none;
	outline:none;
}
.subscribe-form input[type="submit"] {
	float:right;
	width:31px;
	height:26px;
	overflow:hidden;
	margin:0;
	padding:0;
	background:url(../images/btn-submit.png) no-repeat;
	border:0;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
}
.subscribe-form input[type="submit"]:hover {cursor:pointer;}
.search-form .search-text {
	float:left;
	width:290px;
	padding:0 12px 0 15px;
	height:34px;
	background:url(../images/bg-search-input.png) no-repeat;
	overflow:hidden;
}
.search-form input[type="text"] {
	float:left;
	border:0;
	width:290px;
	padding:9px 0;
	margin:0;
	font:12px/15px Arial, Helvetica, sans-serif;
	color:#929292;
	background:none;
	outline:none;
}
.search-form input[type="submit"] {
	float:left;
	width:41px;
	height:34px;
	overflow:hidden;
	margin:0;
	padding:0;
	background:url(../images/btn-search.png) no-repeat;
	border:0;
	text-indent:-9999px;
}
.search-form input[type="submit"]:hover {cursor:pointer;}
#menu {
	width:1005px;
	margin:0 auto 15px;
	height:37px;
}
#menu .inner {
	margin:0 -9999px;
	padding:0 9999px;
	width:1005px;
	overflow:hidden;
	background:#121212 url(../images/bg-menu.gif) repeat-x;
	box-shadow: 0 5px 5px #4a1004;
	-webkit-box-shadow: 0 5px 5px #4a1004;
	-moz-box-shadow: 0 5px 5px #4a1004;
}
#menu ul {
	float:left;
	margin:0;
	padding:0 1px 0 0;
	background:url(../images/sep-nav.gif) no-repeat 100% 0;
	list-style:none;
	font:17px/20px Arial, Helvetica, sans-serif;
	height:37px;
	overflow:hidden;
}
#menu ul li {
	float:left;
	padding:0 0 0 1px;
	background:url(../images/sep-nav.gif) no-repeat;
}
#menu ul a {
	display:block;
	padding:7px 21px 11px;
	color:#fff;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
}
#menu ul a.bookmark {padding:4px 7px 7px;}
#menu ul a.bookmark span {
	display:block;
	padding:4px 0 3px 25px;
	background:url(../images/bg-bookmark.png) no-repeat 0 3px;
}
#menu ul .active a {background:#290000 url(../images/bg-menu-a.png) repeat-x;}
#menu ul a:hover {background:#1c1c1c url(../images/bg-menu-h.png) repeat-x;}
#page {
	margin:0 auto;
	width:1135px;
	padding:0 0 22px;
}
#page:after {
	display:block;
	content:"";
	clear:both;
}
.page-holder {
	float:left;
	height:1%;
	width:1006px;
}
.page-holder:after {
	display:block;
	content:"";
	clear:both;
}
#aside_left {
	float: left;
	width:227px;
	margin:0 11px 0 0;
}
#aside_left .wrap {
	padding:0 0 0 108px;
}
#aside_right {
	float: right;
	width: 119px;
}
#category {
	width:227px;
	position:relative;
	text-align: left;
	position:relative;
	padding:0 0 20px;
	background:url(../images/bg-shadow-b03.png) no-repeat 0 100%;
}
#category .holder {
	width:210px;
	padding:14px 9px 17px 6px;
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#6f1102;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	background:url(../images/bg-box.png);
	behavior: url(/template/css/PIE.htc);
	position:relative;
}
#category ul {
	margin:0;
	padding:0;
	list-style:none;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#fda732;
}
#category ul li {
	vertical-align:top;
	height:1%;
	padding:0 0 0 10px;
}
#category ul a {
	text-decoration:none;
	color:#ccc;
	font:bold 15px/18px Arial, Helvetica, sans-serif;
	margin:0 0 0 -10px;
	padding:0 0 0 10px;
	display:inline-block;
}
#category ul a:hover {
	color:#fff;
	background:url(../images/arrow01.png) no-repeat 0 4px;
}
#category ul span {
	padding:3px 0 2px;
	display:block;
	border-bottom:1px dotted #550f0f;
}
#banners_left,
#banners_right {
	width: 119px;
	margin:0 0 0 auto;
	text-align: left;
	position:relative;
	padding:0 0 18px;
	background:url(../images/bg-shadow-b01.png) no-repeat 0 100%;
}
#banners_left .holder,
#banners_right .holder {
	width: 104px;
	padding:6px 7px 1px 6px;
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#6f1102;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	background:url(../images/bg-box.png);
	behavior: url(/template/css/PIE.htc);
	position:relative;
}
#banners_right {float:right;}
.shadow-left {
	position:absolute;
	height:451px;
	width:16px;
	background:url(../images/bg-shadow-l.png) no-repeat;
	left:-16px;
	top:0;
}
.shadow-right {
	position:absolute;
	height:451px;
	width:16px;
	background:url(../images/bg-shadow-r.png) no-repeat;
	right:-16px;
	top:0;
}
.box .shadow-left,
.box .shadow-right {height:283px;}
#banners_left a.item,
#banners_right a.item {
	display:block;
	margin:0 0 19px;
	font-size:12px;
	line-height:13px;
	text-align:center;
	text-decoration:none;
	font-family: Verdana;
}
#banners_left a img,
#banners_right a img {
	display:block;
	border:2px solid #cacaca;
	vertical-align:top;
	margin:0 0 3px;
}
#banners_left a:hover img,
#banners_right a:hover img {border-color:#fda732;}
#banners_left a:hover,
#banners_left a:hover {color:#fff;}
#content {
	float:right;
	width:747px;
	padding:0 10px;
}
#content h2 {
	color:#fda732;
	margin:0;
	padding:3px 0 10px;
	font:bold 19px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #000;
	text-transform: uppercase;
}
.promo {
	height: 252px;
	margin: 10px auto 12px;
	width: 690px;
}
.promo img {
	display:block;
	vertical-align:top;
}
#box_new {padding:0 0 0 8px;}
#box_new h2 {
	padding:3px 0 3px 35px;
	background:url(../images/ico01.png) no-repeat;
}
.box {
	position:relative;
	padding:0 0 22px;
	margin:0 0 16px;
	background:url(../images/bg-shadow-b02.png) no-repeat 0 100%;
}
.wrap-box {
	overflow:hidden;
	position:relative;
	padding:12px 11px 27px;
	background:url(../images/bg-box.png);
	border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#6f1102;
	behavior: url(/template/css/PIE.htc);
	/* min-height: 260px;*/ /* for shadow */
}
.wrap-box02 {padding:12px 11px 7px;}
.banners_center {
	 margin: 10px 0 6px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	font:13px/15px Arial, Helvetica, sans-serif;
}
.banners-list {
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
	font-size:13px;
}
.banners-list li {
	display:inline-block;
	vertical-align:top;
	width:160px;
	margin:0 8px;
}
* + html .banners-list li {
	display:inline;
}
.banners_center a {
	color:#ccc;
	text-decoration:none;
	display:block;
}
.banners_center a img {
	display:block;
	vertical-align:top;
	border:1px solid #4b4b4b;
	margin:0 auto 8px;
}
.banners_center a:hover {color:#fff;}
.banners_center a:hover img {border-color:#fff;}
.product-list {
	margin:0;
	padding:0 0 5px;
	list-style:none;
	overflow:hidden;
	line-height:15px;
	font-size:12px;
	width:730px;
}
.product-list li {
	vertical-align:top;
	width:175px;
	float:left;
	padding:0 3px 7px;
}
.product-list a {
	display:block;
	text-decoration:none;
	background:#220404;
	border:1px solid #3d0909;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px 4px 22px;
	min-height:190px;
	text-align:center;
	behavior: url(/template/css/PIE.htc);
	position:relative;
}
.product-list a strong.title {
	height: 30px;
	overflow: hidden;
	color:#ccc;
	display:block;
	margin:0 0 4px;
}
.product-list a:hover {
	background:#3e0808;
	border-color:#470000;
}
.product-list a:hover strong.title {color:#fff;}
.product-list .image {
	border:2px solid #4b4b4b;
	margin:0 0 4px;
}
.product-list a:hover .image {border-color:#cacaca;}

.product-list .image {
    opacity: 0.8;
 
    /*Transition*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
 
    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.3)));
}
 
.product-list .image:hover {  
   opacity: 1;
 
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
   /*
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  */
}

.product-list .rating {
	width: 88px;
	display:block;
	margin:0 auto;
}
.product-list .rating em {margin:0 -1px;}
.product-list .row {
	position:absolute;
	bottom:7px;
	left:1px;
	overflow:hidden;
	width:165px;
	text-align:left;
	font-size:11px;
	/*font-weight:bold;*/
}
.product-list .view {
	float:left;
	padding:0 0 0 25px;
	background:url(../images/ico-view.png) no-repeat 0 -1px;
	color:#727272;
	font-style:normal;
}
.product-list .view strong {
	font-weight:normal;
	color:#fff;
}
.product-list .time {
	float:right;
	padding:0 0 0 18px;
	background:url(../images/ico-time.png) no-repeat;
	color:#fff;
	font-style:normal;
}
.pages {
	overflow:hidden;
	padding:10px 15px 23px;
}
.pages ul {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	font-size:15px;
	line-height:17px;
}
.pages ul li {
	float:left;
	margin:0 0 0 4px;
}
.pages ul a,
.pages ul li.current,
.pages ul li.points {
	text-shadow:1px 1px 1px #000;
	display:block;
	height:19px;
	padding:2px 0;
	width:24px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	background: #cf0000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cf0000 0%, #700000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0000), color-stop(100%,#700000));
	background: -webkit-linear-gradient(top,  #cf0000 0%,#700000 100%);
	background: -o-linear-gradient(top,  #cf0000 0%,#700000 100%);
	background: -ms-linear-gradient(top,  #cf0000 0%,#700000 100%);
	background: linear-gradient(to bottom,  #cf0000 0%,#700000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0000', endColorstr='#700000',GradientType=0 );
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(/template/css/PIE.htc);
	position:relative;
}
.pages ul a.prev,
.pages ul a.next {width:66px;}
.pages ul a:hover,
.pages ul li.current {
	background: #fdab3d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWIzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTc3MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fdab3d 0%, #e97706 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdab3d), color-stop(100%,#e97706));
	background: -webkit-linear-gradient(top,  #fdab3d 0%,#e97706 100%);
	background: -o-linear-gradient(top,  #fdab3d 0%,#e97706 100%);
	background: -ms-linear-gradient(top,  #fdab3d 0%,#e97706 100%);
	background: linear-gradient(to bottom,  #fdab3d 0%,#e97706 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdab3d', endColorstr='#e97706',GradientType=0 );
	text-shadow:1px 1px 1px #ae440e;
	behavior: url(/template/css/PIE.htc);
	position:relative;
}
.pages ul span {
	display:block;
	text-align:center;
	height:19px;
	padding:2px 0;
	width:24px;
	background: #fdab3d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWIzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTc3MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fdab3d 0%, #e97706 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdab3d), color-stop(100%,#e97706));
	background: -webkit-linear-gradient(top,  #fdab3d 0%,#e97706 100%);
	background: -o-linear-gradient(top,  #fdab3d 0%,#e97706 100%);
	background: -ms-linear-gradient(top,  #fdab3d 0%,#e97706 100%);
	background: linear-gradient(to bottom,  #fdab3d 0%,#e97706 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdab3d', endColorstr='#e97706',GradientType=0 );
	text-shadow:1px 1px 1px #ae440e;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(/template/css/PIE.htc);
	position:relative;
}
#box_online {padding:0 0 0 7px;}
#box_online h2 {
	padding:6px 0 4px 32px;
	background:url(../images/ico05.png) no-repeat 0 4px;
}
#box_load {padding:0 0 0 7px;}
#box_load h2 {
	padding:6px 0 4px 32px;
	background:url(../images/ico05.png) no-repeat 0 4px;
}
#stat_video {
	background:url(../images/divider01.png) repeat-x;
	padding:26px 7px 20px;
	overflow:hidden;
}
#last5 {
	float:left;
	width:300px;
	padding:0 47px 0 13px;
}
#most_popular {
	float:left;
	width:340px;
}
#most_popular span {
	color:#fda732;
	font:10px/12px Arial, Helvetica, sans-serif;
}
#stat_video .title {
	color:#fda732;
	font:bold 16px/20px Arial, Helvetica, sans-serif;
	margin:0 0 17px;
}
#stat_video .prim {
	text-align:right;
	color:#818181;
	font-size:11px;
}
#player {
	margin: 0 auto 20px;
	padding:11px 0 0;
	text-align: center;
	width: 605px;
}
#player:after {
	display:block;
	content:"";
	clear:both;
}
#player img {
	display:block;
	vertical-align:top;
	border:1px solid #3b3b3b;
}
#infobox {
	width:590px;
	margin:0 auto 28px;
}
#infobox dl {
	margin:0;
	padding:0 0 10px;
	overflow:hidden;
}
#infobox dt {
	margin:0;
	padding:0 10px 0 21px;
	font-size:12px;
	font-weight:bold;
	color:#727272;
	float:left;
}
#infobox dd {
	margin:0 0 4px;
	padding:0;
	overflow:hidden;
	color:#ccc;
}
#infobox h3 {
	color:#fda732;
	font:bold 15px/17px Arial, Helvetica, sans-serif;
	margin:0px 0 0;
}
#infobox h4 {
	color:#ccc;
	margin:0;
}
#infobox dl a {color:#fff;}
#infobox .link {color:#fda732;}
.copytools {height: 60px;}
.copytools a .embed {
	font: bold italic 12px/15px Arial, Helvetica, sans-serif;
	color:#ccc;
}
#infobox .name {background:url(../images/ico-name.png) no-repeat;}
#infobox .description {background:url(../images/ico-desc.png) no-repeat;}
#infobox .tags {background:url(../images/ico-tags.png) no-repeat;}
#infobox .added {background:url(../images/ico-add.png) no-repeat;}
#infobox .view {background:url(../images/ico-view02.png) no-repeat -5px 0;}
#infobox .download {background:url(../images/ico-download.png) no-repeat 0;}
#infobox .ico-link {background:url(../images/ico-link.png) no-repeat 0;}
.container {
	padding:15px 0 0;
	background:url(../images/divider01.png) repeat-x;
}
#box_categories {padding:0 0 0 4px;}
#box_categories h2 {
	padding:3px 0 4px 39px;
	background:url(../images/ico02.png) no-repeat 0 1px;
}
#categories {
	width:740px;
	overflow:hidden;
}
#categories ul {
	margin:0;
	padding:0 6px 0 8px;
	list-style:none;
	float:left;
	width:230px;
	font:bold 18px/22px Arial, Helvetica, sans-serif; 
}
#categories a {
	color:#ccc;
	text-decoration:none;
}
#categories a:hover {
	text-decoration:none;
	color:#fff;
}
#categories span {
	font:bold 14px/16px Arial, Helvetica, sans-serif;
	color:#fda732;
}
#box_more {padding:0 0 0 2px;}
#box_more h2 {
	padding:7px 0 4px 37px;
	background:url(../images/ico03.png) no-repeat 0 1px;
}
#content p {margin:0;}
#box_popular {padding:0 0 0 7px;}
#box_popular h2 {
	padding:5px 0 5px 33px;
	background:url(../images/ico04.png) no-repeat;
}
#box_watching {padding:0 0 0 7px;}
#box_watching h2 {
	padding:5px 0 5px 33px;
	background:url(../images/ico04.png) no-repeat;
}
#footer {
	width:100%;
	height:110px;
	background:url(../images/bg-header.gif);
	color:#929292;
	font-size:12px;
	box-shadow: 0 -5px 5px #4a1004;
	-webkit-box-shadow: 0 -5px 5px #4a1004;
	-moz-box-shadow: 0 -5px 5px #4a1004;
	border-top:1px solid #810404;
}
.footer-holder {
	width:1005px;
	margin:0 auto;
}
.footer-inner {
	background:url(../images/bg-footer-holder.gif) no-repeat 50% 0;
	height:73px;
	margin:0 -99px;
	padding:30px 123px 7px;
	overflow:hidden;
}
#footer .frame {
	float:right;
	width:375px;
}
.footer-logo {
	display:block;
	width:374px;
	height:74px;
	background:url(../images/logo02.png) no-repeat;
	overflow:hidden;
	text-indent:-9999px;
	margin:-21px 0 0;
	position:relative;
}
#footer .slogan {
	word-spacing:3px;
	display:block;
	color:#484848;
	font:11px/12px Arial, Helvetica, sans-serif;
}
#footer .holder {
	width:460px;
	float:left;
	margin:0 0 0 27px;
}
#footer_text a {
	text-decoration:none;
	color:#fda732;
	text-transform:uppercase;
}
#footer_text {margin:0 0 14px;}
#footer_text a:hover {text-decoration:underline;}
#liru {padding:0 0 0 5px;}
.warn18 {
	background: url(../images/warn18-s.png) no-repeat 100% 0;
	position: absolute;
	width: 98px;
	height: 83px;
	right: 0;
	top: 0;
	z-index: 999;
	cursor: default;
}
.warn18 .tip {
	display: none;
	background: url(../images/warn18-s.png) no-repeat 0 0;
	width: 302px;
	height: 115px;
	padding: 30px 10px 0;
	top: 67px;
	right: 10px;
	position: absolute;
	z-index: 999;
	font-weight: bold;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	cursor: default;
}
.warn18:hover .tip {display: block;}
.button-top {
	position:fixed;
	width:80px;
	height:80px;
	background:url(../images/btn-top.png) no-repeat;
	overflow:hidden;
	text-indent:-9999px;
	bottom:130px;
	left:50%;
	margin-left:-586px
}
ol {
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	counter-reset:item;
}
ol a {
	color:#ccc;
	text-decoration:none;
}
ol a:hover {color:#fff;}
ol ol{margin:0;}
ol li {padding:0 0 2px 15px;}
ol li:before,
ol .num {
	float:left;
	font-weight:bold;
	width:15px;
	margin:0 0 0 -15px;
	color:#fff;
	content:counters(item, ".") ". ";
	counter-increment:item;
}

#box_comments {padding:0 0 0 7px;}
#box_comments h2 {
	padding:6px 0 4px 32px;
	background:url(../images/ico-comments.png) 0 2px no-repeat;
	background-size: 30px;
}

.comments-list {
	width: 450px;
	font-size: 15px;
	margin: 0;
	padding: 0;
	list-style-type: none
}

.comments-list li {
	margin: 15px;
}

.comments-list .user {
	max-width: 100px;
	overflow: hidden;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
}

.comments-list .date {
	float: left;
	margin-left: 20px;
	font-style: italic;
	margin-bottom: 5px;
}

.comments-list .text {
	clear: both;
	border-width:1px;
	border-style:solid;
	border-color: rgb(237,152,56);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 10px;
}

.comments-form {
	width: 450px;
}

.comments-form .note {
	float: left;
	margin: 15px 0 0 10px;
}

.comments-form input[type="text"] {
	border-width:1px;
	border-style:solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:400px;
	padding:0 12px 0 15px;
	height:34px;
	margin:10px;
	font:15px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	background: none;
	outline:none;
}
.comments-form input.check {
	display: none;
}
.comments-form textarea {
	border-width:1px;
	border-style:solid;
	border-color:#fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:400px;
	padding:10px 12px 0 15px;
	height:80px;
	margin:10px;
	font:15px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	background: none;
	outline:none;
}
.comments-form input[type="submit"] {
	float: right;
	margin:10px;
	padding: 5px 10px;
	border:0;
}
.comments input[type="submit"]:hover {cursor:pointer;}

#content h1 {
	color:#fda732;
	text-transform: uppercase;
	display: block;
	width: 100%;
	/*height: 30px;*/
	/*overflow: hidden;*/
	margin:0 auto;
	margin-bottom: 10px;
	padding: 0;
	text-align: center;
	font:bold 23px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow:2px 3px 3px #000;
}

#box_tags {padding:0 0 0 7px;}
#box_tags h2 {
	padding:6px 0 4px 32px;
	/*background:url(../images/ico-tags.png) 0 2px no-repeat;*/
	background-size: 30px;
}
#tags {margin: 0; padding: 0;}
#tags li {
	padding: 5px 2px;
	font-weight: bold;
	display: inline;
	color: #fff;
}
#tags a {
	font-size: 13px;
	color: #CCCCFF;
	text-decoration: none;
}
#tags a:hover, #tags a:active {
	color: #fff;
	border: none;
	text-align: left;
}

#load {
	line-height: 25px;
	font-size: 16px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
#load img {
	border: 1px solid #fff;
	width: 320px;
	height: 240px;
}
#load a {
	color: #ffcc00;
	font-size: 16px;
	text-decoration: bold;
}
#load #save_qrcode {
	width: 256px;
	background-color: #fff;
	padding: 20px;
	margin: 0 auto;
}

#gbook .head {background: url(images/box_book.jpg?1) no-repeat; height: 59px; margin: 10px 0 0 0;}
#gbook .says {color: #fff;}
#gbook .gb {font-size: 13px; font-weight: bold; text-align: right; margin: 0 10px 10px 0; clear: both; float: left; width: 100px;}
#gbook .user {margin: 5px 50px 0 50px; text-align: left; font-weight: bold; font-size: 14px; color: #FFCCFF;}
#gbook .text {font-size: 12px; padding: 15px 30px 15px 30px;}
#gbook .date {text-align: right; margin: 0 20px 5px 0; font-family: Courier New; font-weight: bold;}
#gbook .post {margin: 20px; border: 1px dashed #cccccc;}
#gbook .post hr {width: 100%; margin-right: 20px; border: 1px solid #666666;}
#gbook input[type="submit"] {margin-left: 300px;}

#news {width: 90%; margin: 0 auto;}
#news .date {padding: 5px; font-weight: bold; color: #ffc;}
#news .text {padding: 3px; text-align: justify;}
#news .admin {padding: 2px; text-align: right;}

.comments-last {
	width: 100%;
	font-size: 15px;
	margin: 0;
	padding: 0;
	list-style-type: none
}

.comments-last .left {
	float: left;
	width: 370px;
}

.comments-last .right {
	margin: 20px 0 0 0;
	float: right;
	width: 300px;
}

.comments-last li {
	clear: both;
	margin: 15px;
}

.comments-last li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.comments-last .user {
	max-width: 100px;
	overflow: hidden;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
}

.comments-last .date {
	float: left;
	margin-left: 20px;
	font-style: italic;
	margin-bottom: 5px;
}

.comments-last .text {
	clear: both;
	border-width:1px;
	border-style:solid;
	border-color: rgb(237,152,56);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 10px;
}

#infobox .embed {cursor: pointer;}
#infobox .rules {display: inline; font-weight: bold; color: #ffc; border-bottom: 1px dotted #ffc; cursor: pointer;}
#infobox .nodisp {display: none; width: 350px; text-align: center;}
#infobox .htmlcode {overflow: scroll; border: 1px solid #ccc; width: 350px; height: 170px; margin: 0 0 10px 0; text-align: left; background-color: #333; color: #ccc;}
/*#infobox h3 {margin: 0; padding: 0; font-size: 14px; display: inline; color: #FFC;}*/
#infobox h4 {margin: 0; padding: 0; font-size: 11px; display: inline; color: #FFD;}
