﻿* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

a {
	color: #333;
}

img {
	vertical-align: bottom;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 300;
}

h1 {
	padding: 43px 0 50px 0;
	font-size: 27px;
}

h1>span {
	background: #9e9e9e;
	display: block;
	width: 250px;
	height: 1px;
	margin: 8px 0 0 0;
}

h1>font {
	padding: 8px 0 0 0;
	display: block;
	color: #828282;
	font-size: 14px;
}

li {
	list-style: none;
}

body,input,button,textarea {
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 14px;
	line-height: 1.25;
	color: #333;
	font-weight: 300;
}

.form-group {
	width: 260px;
	margin: 0 auto;
}

.form-group label {
	display: block;
	padding: 7px 0 7px 0;
}

.form-group input[type="text"] {
	border: 1px solid #b6b6b6;
	background: #fff;
	display: block;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 228px;
	padding: 0 15px;
	height: 38px;
}

.form-group input[type="text"]:focus {
	border-color: #0088cc;
}

.btn {
	font-size: 25px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 48px 0 48px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}

.btn-blue {
	color: #fff;
    background: #0088cc;
    background: linear-gradient(to top, #0088cc, #3baee7);
}

.btn-blue:hover {
    background: #007ab7;
    background: linear-gradient(to top, #007ab7, #0088cc);
}

input[type="submit"] {
	width: 260px;
}

.btn-border {
	color: #0088cc;
	border :1px solid #0088cc;
	background: none;
}

.btn-border:hover {
    background: #0088cc;
	color: #fff;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.clearfix {
	clear: both;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

/* navigation */
.navigation {
	background: #333333;
	height: 55px;
	position: fixed;
	z-index: 22;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation a.logo {
	display: block;
	margin: 15px 0 0 0;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}

.navigation a.callbacker {
	background: url(img/callback.png) no-repeat 0 0;
	width: 27px;
	height: 27px;
	display: block; 
	margin: 14px 0 0 0;
}

.navigation a.callbacker:hover {
	background-position: 0 bottom;
}


.navigation ul {
	padding: 0 25px 0 0;
}

.navigation ul>li {
	float: left;
}

.navigation ul>li a {
	display: block;
	height: 55px;
	padding: 0 25px;
	line-height: 55px;
	color: #fff;
	font-size: 16px;
	font-family: 'PT Sans',arial,sans-serif;
	text-decoration: none;
}

.navigation ul>li a:hover {
	background: #1d1d1d;
}

/* header */
.header {
	background: #fafafa;
	padding: 55px 0 0 0;
	position: relative;
	overflow: hidden;
}

.header h2 {
	text-align: center;
	font-size: 21px;
	font-weight: 400;
	padding: 34px 0 0 0;
} 

.header h2 b {
	font-size: 27px;
}

.header .image { 
	text-align: center;
	padding: 40px 0 0 0;
}

.header .image img {
	vertical-align: bottom;
	height: 340px;
}

/* form-block */
.form-block {
	background: #f0f0f0;
	height: 163px;
}

.form-block .price-block {
	background: url(img/arrow.png) no-repeat right center;
	height: 163px;
	padding: 0 90px 0 15px;
	text-align: center;
}

.form-block .price-block .price {
	padding: 23px 0 0 0;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.form-block .price-block .price del {
	color: #a2a2a2;
	font-size: 14px;
	font-weight: 300;
}

.form-block .price-block ul {
	padding: 20px 0 0 0;
}

.form-block .price-block ul>li {
	background: #d4d4d4;
	font-family: 'PT Sans',arial,sans-serif;
	font-size: 28px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
	margin: 0 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.form-block .price-block h2 {
	font-family: 'PT Sans',arial,sans-serif;
	font-size: 15px;
	padding: 18px 0 0 0;
}

.form-block .color-block {
	background: url(img/arrow.png) no-repeat right center;
	height: 163px;
	padding: 0 97px 0 58px;
	text-align: center;
}

.form-block .color-block h3 {
	padding: 35px 0 27px 0;
	font-size: 17px;
	font-weight: 400;
	color: #000;
}

.form-block .color-block ul>li {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 16px;
}

.form-block .color-block ul>li:hover {
	box-sizing: border-box;
	border: 2px solid #333;
}

.form-block .color-block ul>li.active:hover {
	border: 0;
	cursor: default;
}

.form-block .color-block ul>li.active {
	background-image: url(img/check.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.form-block .color-block ul>li.gold {
	background-color: #e2c9ab;
}

.form-block .color-block ul>li.gray {
	background-color: #cecfd1;
}

.form-block .color-block ul>li.spacegray {
	background-color: #68696d;
}

.form-block a.btn-blue {
	margin: 56px 0 0 38px;
}

/* info-block */
.info-block1 {
	padding: 0 0 50px 0;
}

.info-block1 .image img {
	vertical-align: bottom;
}

.info-block1 .content {
	margin: 0 0 0 250px;
	overflow: hidden;
}

.info-block1 .content .item {
	width: 220px;
	padding: 0 15px 20px 15px;
	text-align: center;
}

.info-block1 .content .item img {
	vertical-align: bottom;
}

.info-block1 .content .item span {
	padding: 17px 0 17px 0;
	font-size: 18px;
	display: block;
}

.info-block1 .content .item p {
	color: #828282;
}

.info-block1 .content a.btn-video {
	border:1px solid #0088cc;
	height: 48px;
	line-height: 48px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	display: inline-block;
	text-decoration: none;
	color: #0088cc;
	padding: 0 18px;
}

.info-block1 .content a.btn-video:hover {
	background: #0088cc;
	color: #fff;
}

.info-block1 .content a.btn-video:before {
	content: '';
	background: url(img/watch.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	float: right;
	margin: 14px 0 0 8px;
}

.info-block1 .content a.btn-video:hover:before {
	background-position: 0 bottom;
}

/* info-block2 */
.info-block2 {
	background: #fafafa;
	padding: 0 0 50px 0;
	position: relative;
}

.info-block2 .side {
	width: 250px;
}

.info-block2 .item {
	padding: 0 0 13px 0;
}

.info-block2 .item h2 {
	overflow: hidden;
	padding: 0 0 12px 0;
}

.info-block2 .item h2 i {
	float: left;
}

.info-block2 .item h2 i:before {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	
}

.info-block2 .item h2 img {
	vertical-align: middle;
}

.info-block2 .item h2 span {
	font-size: 18px;
	display: block;
	margin: 0 0 0 24px;
}

.info-block2 .item p {
	background: #ececec;
	padding: 13px 12px 13px 12px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.info-block2 .image {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 50px;
	width: 250px;
}

.info-block2 .image img {
	vertical-align: bottom;
}

/* info-block3 */
.info-block3 {
	padding: 0 0 50px 0;
}

.info-block3 .container {
	position: relative;
}

.info-block3 ul>li {
	background: url(img/check-border.png) no-repeat 0 0;
	font-size: 20px;
	padding: 0 0 35px 40px;
}

.info-block3 .image {
	position: absolute;
	right: 150px;
	top: 30px;
}

/* info-block4 */
.info-block4 {
	background: #fafafa;
	padding: 0 0 50px 0;
}

.info-block4 .item {
	width: 172px;
	padding: 0 39px;
	margin: 0 125px 50px 0;
	cursor: pointer;
}

.info-block4 .item img {
	height: 345px;
}

.info-block4 .item.last {
	margin-right: 0;
}

.info-block4 .item .image {
	position: relative;
	height: 345px;
}

.info-block4 .item .image>div {
	position: absolute;
	top: 0;
	left: 0;
}

.info-block4 .item:hover .image .back,.info-block4 .item.active .image .back {
	opacity: 1;
}

.info-block4 .item .image .back {
	z-index: 2;
	opacity: .7;
}

.info-block4 .item.active .image .back {
	left: -39px;
}

.info-block4 .item .image .front {
	z-index: 1;
	display: none;
}

.info-block4 .item.active .image .front {
	display: block;
	left: 39px;
}


.info-block4 .item .name {
	padding: 20px 0 0 0;
}

.info-block4 .item .name>span {
	font-size: 20px;
	padding: 0 28px;
	display: inline-block;
	vertical-align: top;
	line-height: 38px;
	height: 38px;
	color: #acacac;
}

.info-block4 .item:hover .name>span,.info-block4 .item.active .name>span {
	border: 1px solid #0088cc;
	-moz-border-radius: 18px;
	border-radius: 18px;
	line-height: 36px;
	height: 36px;
	color: #333;
}

/* info-block5 */
.info-block5 .container {
	position: relative;
	padding: 0 0 30px 0;
}

.info-block5 ul {
	width: 490px;
}

.info-block5 ul>li {
	background: url(img/check-border-small.png) no-repeat 0 0;
	padding: 0 0 20px 30px;
	font-weight: 400;
}

.info-block5 .image {
	position: absolute;
	bottom: 0;
	right: 38px;
}

.info-block5 .image img {
	vertical-align: bottom;
}

/* steps */
.steps {
	background: #f0f0f0;
	height: 100px;
}

.steps .item {
	background: url(img/arrow.png) no-repeat right center;
	height: 100px;
	padding: 0 85px 0 55px;
}

.steps .item.last {
	background: none;
	padding-right: 0;
}

.steps .item:before {
	content: '';
	height: 100px;
	display: inline-block;
	vertical-align: middle;
}

.steps .item img {
	display: inline-block;
	vertical-align: middle;
}

.steps .item p {
	width: 155px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
	padding: 0 0 0 10px;
}

.steps .item p span {
	font-size: 16px;
	font-weight: 700;
	display: block;
}

/* footer */
.footer {
	background: #fafafa;
	padding: 0 0 50px 0;
}

.footer .container {
	position: relative;
}

.footer .image {
	position: absolute;
	top: -21px;
}

.footer .right-side {
	width: 363px;
}

.footer .right-side .price {
	padding: 65px 0 18px 0;
	font-size: 25px;
	text-align: center;
}

.footer .right-side .price>div {
	font-size: 18px;
}

.footer .right-side .price>div>b {
	font-size: 25px;
}

.footer .right-side .color-block {
	padding: 0 0 14px 0;
}

.footer .right-side .color-block ul>li {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 32px 0 0;
}

.footer .right-side .color-block ul>li:hover {
	box-sizing: border-box;
	border: 2px solid #333;
}

.footer .right-side .color-block ul>li.active:hover {
	border: 0;
	cursor: default;
}

.footer .right-side .color-block ul>li.active {
	background-image: url(img/check.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.footer .right-side .color-block ul>li.gold {
	background-color: #e2c9ab;
}

.footer .right-side .color-block ul>li.gray {
	background-color: #cecfd1;
}

.footer .right-side .color-block ul>li.spacegray {
	background-color: #68696d;
}

.footer .left-side {
	width: 335px;
	margin: 102px 0 0 302px;
}

.footer .left-side h3 {
	font-size: 17px;
	font-weight: 300;
	text-align: center;
	padding: 0 0 21px 0;
}

.footer .left-side .countdown {
	text-align: center;
}

.footer .left-side .countdown>div {
	display: inline-block;
	vertical-align: top;
}

.footer .left-side .countdown>b {
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: #0088cc;
	font-weight: 700;
	line-height: 58px;
	padding: 0 5px;
}

.footer .left-side .countdown>div>span {
	display: block;
	font-size: 27px;
	border: 1px solid #058acd;
	width: 58px;
	height: 58px;
	line-height: 58px;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.footer .left-side .countdown>div>p {
	padding: 4px 0 0 0;
}

.footer .left-side .phones {
	padding: 40px 0 0 0;
}

.footer .left-side .phones ul>li {
	background: #d4d4d4;
	font-family: 'PT Sans',arial,sans-serif;
	font-size: 28px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
	margin: 0 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.footer .left-side .phones h2 {
	font-family: 'PT Sans',arial,sans-serif;
	font-size: 15px;
	padding: 18px 0 0 0;
}

/* copyright */
.copyright {
	background: #333;
	padding: 20px 0;
}

.copyright a {
	color: #c7c7c7;
	text-decoration: underline;
	margin: 0 30px;
}

.copyright a:hover {
	color: #fff;
	text-decoration: none;
}

.copyright .container div {
	padding: 0 0 18px 0;
}