@media screen and (max-width: 999px) and (min-width: 640px) {
	h1 {
		padding: 23px 0 30px 0;
		font-size: 20px;
	}

	h1>span { 
		width: 200px; 
	}

	h1>font {
		font-size: 14px;
	}
	
	.container {
		width: 600px;
		padding: 0 20px;
	}
	
	/* navigation */
	.navigation ul {
		display: none;
	}
	
	/* header */
	.header {
		height: 350px;
	}
	
	.header .image { 
		text-align: center; 
	}

	.header .image img {
		height: 250px;
		vertical-align: bottom;
	}
	
	/* form-block */
	.form-block {
		background: #f0f0f0;
		height: 163px;
	}

	.form-block .price-block {
		padding: 0 80px 0 0;
	}

	.form-block .color-block {
		background: none;
		height: auto;
		padding: 0 30px 0 30px;
		text-align: center;
	}
	
	.form-block .color-block h3 {
		padding: 20px 0 15px 0;
	}

	.form-block a.btn-blue {
		float: none;
		margin: 10px 0 0 13px;
	}
	
	
	/* info-block */
	.info-block1 {
		padding: 0 0 50px 0;
	}
	
	.info-block1 .image {
		padding: 30px 0 0 0;
	}

	.info-block1 .image img {
		vertical-align: bottom;
		width: 150px;
	}

	.info-block1 .content {
		margin: 0 0 0 170px;
		overflow: hidden;
	}

	.info-block1 .content .item {
		width: auto;
		padding: 0 0 20px 0;
		text-align: left;
	}

	.info-block1 .content .item img {
		vertical-align: bottom;
		float: left;
	}

	.info-block1 .content .item span {
		padding: 0 0 5px 0;
		font-size: 15px;
		margin: 0 0 0 80px;
	}

	.info-block1 .content .item p {
		margin: 0 0 0 80px;
		font-size: 13px;
	}

	/* info-block2 */
	.info-block2 {
		padding: 0 0 250px 0;
		overflow: hidden;
	}
	
	.info-block2 .image {
		bottom: -150px;
	}
	
	/* info-block3 */
	.info-block3 {
		padding: 0 0 50px 0;
	}

	.info-block3 ul>li {
		background: url(img/check-border-small.png) no-repeat 0 0;
		font-size: 16px;
		padding: 0 0 25px 30px;
	}

	.info-block3 .image {
		position: absolute;
		right: 50px;
		top: 40px;
	}
	
	.info-block3 .image img {
		width: 200px;
	}
	
	/* info-block4 */
	.info-block4 {
		background: #fafafa;
		padding: 0 0 50px 0;
	}

	.info-block4 .item {
		width: 140px;
		padding: 0 20px;
		margin: 0 25px 30px 0;
		cursor: pointer;
	}
	
	.info-block4 .item .image {
		height: 280px;
	}
	
	.info-block4 .item img {
		width: 140px;
		height: auto;
	}

	.info-block4 .item .name>span {
		font-size: 16px;
	}
	
	/* info-block5 */
	.info-block5 ul {
		width: 340px;
	}

	.info-block5 .image {
		right: 0;
	}

	.info-block5 .image img {
		width: 250px;
		vertical-align: bottom;
	}

	/* steps */
	.steps {
		background: #f0f0f0;
		height: auto;
	}

	.steps .item, .steps .item.last {
		background: none;
		height: auto;
		width: 160px;
		text-align: center;
		padding: 20px;
	}

	.steps .item:before {
		display: none;
	}

	.steps .item p {
		width: auto;
		display: block;
		padding: 0;
	}

	.steps .item p span {
		padding: 10px 0;
		font-size: 14px;
		font-weight: 700;
		display: block;
	}

	/* footer */
	.footer .image {
		left: 50px;
	}
	
	.footer .image img {
		height:  400px;
	}
	
	.footer .right-side {
		width: 363px;
		float: none;
		margin: 20px auto 0 auto;
	}


	.footer .left-side {
		width: 335px;
		float: none;
		margin: 0 0 0 265px;
		padding: 100px 0 0 0;
	}
}

@media screen and (max-width: 639px) and (min-width:0px) {
	h1 {
		padding: 23px 0 30px 0;
		font-size: 18px;
	}

	h1>span {
		width: 200px;
	}

	h1>font {
		font-size: 13px;
	}
	
	.container {
		width: 300px;
		padding: 0 10px;
	}
	
	/* navigation */
	.navigation {
		height: 45px;
	}
	
	.navigation a.logo {
		margin: 11px 0 0 0;
	}
	
	.navigation .logo img {
		height: 20px;
	}
	.navigation ul {
		display: none;
	}

	.navigation a.callbacker {
		margin: 10px 0 0 0;
	}
	
	/* header */
	.header { 
	}

	.header h2 {
		text-align: center;
		font-size: 17px;
		font-weight: 400;
		padding: 34px 0 0 0;
	}

	.header h2>img {
		width: 90px;
		padding: 0 2px 4px 2px;
		vertical-align: bottom;
	} 

	.header .image img {
		width: 75%;
		height: auto; 
	}
	
	
	/* form-block */
	.form-block {
		height: auto;
		text-align: center;
		padding: 0 0 30px 0;
	}

	.form-block .price-block {
		background: none;
		padding: 0;
		float: none;
	}

	.form-block .color-block {
		background: #fafafa;
		border-radius: 5px;
		-moz-border-radius: 5px;
		height: auto;
		padding: 0px 0 15px 0;
		text-align: center;
		float: none;
	}
	
	.form-block .color-block h3 {
		padding: 20px 0 15px 0;
	}

	.form-block a.btn-blue {
		float: none;
		margin: 20px 0 0 13px;
	}
	
	/* info-block */
	.info-block1 {
		padding: 0 0 200px 0;
		position: relative;
		overflow: hidden;
	}
	
	.info-block1 .image {
		padding: 0px 0 0 0;
		position: absolute;
		bottom: -150px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 248px;
	}

	.info-block1 .image img {
		vertical-align: bottom;
	}

	.info-block1 .content {
		margin: 0;
		overflow: hidden;
	}

	.info-block1 .content .item {
		width: auto;
		padding: 0 0 20px 0;
		text-align: left;
	}

	.info-block1 .content .item img {
		vertical-align: bottom;
		float: left;
	}

	.info-block1 .content .item span {
		padding: 0 0 5px 0;
		font-size: 15px;
		margin: 0 0 0 80px;
	}

	.info-block1 .content .item p {
		margin: 0 0 0 80px;
		font-size: 13px;
	}
	
	/* info-block2 */
	.info-block2 {
		padding: 0 0 250px 0;
		overflow: hidden;
	}

	.info-block2 .side {
		width: auto;
		float: none;
	}

	.info-block2 .item {
		padding: 0 0 13px 0;
	}

	
	.info-block2 .image {
		bottom: -160px;
	}

	.info-block2 .image img {
		vertical-align: bottom;
	}
	
	/* info-block3 */
	.info-block3 {
		padding: 0 0 50px 0;
	}

	.info-block3 ul {
		padding: 0 0 200px 0;
	}

	.info-block3 ul>li {
		background: url(img/check-border-small.png) no-repeat 0 0;
		font-size: 16px;
		padding: 0 0 25px 30px;
	}

	.info-block3 .image {
		position: absolute;
		left: 50px;
		text-align: center;
		top: 320px;
	}
	
	.info-block3 .image img {
		width: 120px;
		height: auto;
	}
	

	.info-block4 .item,.info-block4 .item.last {
		width: 172px;
		padding: 0 39px;
		margin: 0 auto 50px auto;
		float: none;
		cursor: pointer;
	}
	
	
	/* info-block5 */
	.info-block5 .container {
		padding: 0 0 300px 0;
	}
	.info-block5 ul {
		width: auto;
	}

	.info-block5 .image {
		right: 50px;
	}

	.info-block5 .image img {
		width: 200px;
		vertical-align: bottom;
	}
	
	/* steps */
	.steps {
		height: auto;
		padding: 20px 0 40px 0;
	}

	.steps .item, .steps .item.last {
		background: none;
		height: auto;
		width: auto;
		float: none;
		text-align: center;
		padding: 20px 20px 0 20px;
	}

	.steps .item:before {
		display: none;
	}

	.steps .item p {
		width: auto;
		display: block;
		padding: 0;
	}

	.steps .item p span {
		padding: 10px 0;
		font-size: 14px;
		font-weight: 700;
		display: block;
	}
	
	/* footer */
	.footer .image {
		left: 95px;
		top: 280px;
	}
	
	.footer .image img {
		width: 130px;
	}
	
	.footer .right-side {
		width: auto;
		float: none;
		margin: 250px 0 0 0;
	}
	
	.footer .left-side {
		width: auto;
		float: none;
		margin: 0;
		padding: 20px 0 0 0;
	}
	
	#video-phone iframe {
		width: 220px !important;
		height: 150px !important;
	}
	
	#callback .form-group {
		width: 210px;
	}
	
	#callback .form-group input[type="text"] {
		width: 180px;
	}
	
	#callback input[type="submit"] {
		width: 220px;
	}
}