/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	*font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*@font-face {
    font-family: AVANGGCB;
    src: url(../fonts/AVANGGCB.OTF);
}*/


body {
	line-height: 1;
     font-family: Roboto, Arial, sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */



body, html
{

      background: url(../img/pw_maze_.png) center ; 
       
}

.clr
{
    clear: both;
}
.wrap
{
    position: relative;
    width: 1000px;
    margin: 0 auto; 
}
.d_wrap 
{
	text-align: center;
}

.cloud_bg
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: url(../img/clouds_bg.html) bottom no-repeat; 
} 

.wrapper
{
min-width: 1100px;
min-height: 600px;
margin: 0px auto;
position: relative;
background: #fff;
box-shadow: 0 0 9px black;
}

.first_box
{
position: relative;
height: 630px;
}
.first_box_gallery_img 
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: url(../img/slide_10.jpg) center no-repeat; 
}

.nav
{
position: fixed;
width: 100%;
background: rgba(255, 255, 255, 0.65);
left: 0;
top: 20px;
text-align: center;
z-index: 50;
}
.nav li
{
display: inline-block;
padding: 15px 3%;
cursor: pointer;
position: relative;
}

.nav_empty
{
    width: 150px;
}

.logo
{
position: absolute;
top: -146px;
left: 88px;
z-index: 110;
}

.main_form
{
width: 275px;
height: 315px;
position: absolute;
right: 20px;
padding: 28px;
top: 230px;
border-radius: 4px;
z-index: 15;
text-align: center;
background:  url(../img/clock_bg.png) ;

    
}
.timer
{
padding: 10px 0 0;
border-radius: 5px;
width: 393px;
height: 94px;
position: relative;
z-index: 10;
margin: 0 auto;
border: 1px solid;
background: #fff;
top: 480px;

}
.hidden 
{
    opacity: 0;
}
.phone_main
{
position: absolute;
background: url(../img/phone_bg.png) no-repeat;
z-index: 1;
top: 49px;
right: 65px;
padding: 80px 65px;
text-align: center;
font-size: 16px;
opacity: 0;
}
.shock_main_clock
{
position: absolute;
top: 220px;
left: 25px;
z-index: 10;
}
.shock_main_clock_1
{
    z-index: 20;
}
.shock_main_clock_2
{
z-index: 19;
width: 250px;
top: 245px;
left: 180px;

}
.shock_main_clock_3
{
z-index: 18;
width: 210px;
top: 265px;

}
.shock_main_clock_1, .shock_main_clock_2, .shock_main_clock_3
{
  left: -500px;
}

.phone_main_desription span, .phone_main_tel span
{
font-weight: bold;    
}
.phone_main_tel
{
font-size: 20px;
text-align: right;    
}


.main_form_title
{
    font-size: 22px;
    font-weight: bold;
}
.main_form_title span
{
display: block;
font-size: 14px;
font-weight: normal;
}
.main_form_second_title
{
font-size: 18px;
text-align: right;
margin: 18px 7px 0px 0px;
}
.main_form_second_title span
{
        display: block; 
      font-size: 20px;
 font-weight: bold;
}

.main_form_button
{
   background: #f01200;
text-align: center;
font-weight: bold;
color: white;
text-transform: uppercase;
font-size: 17px;
display: inline-block;
padding: 10px 37px;
border-radius: 4px;
box-shadow: 0 2px 5px black;
cursor:pointer;
}
.main_form_button:hover
{
    opacity: 0.8;
}
.main_form_name input, .main_form_phone input, .main_form_ctr select, select
{
padding: 8px 27px;
text-align: left;
border: 1px solid rgb(73, 73, 73);
width: 230px;
display: block;
margin: 10px 0;
box-shadow: inset 1px 1px 5px rgb(140, 140, 140);
}
.main_form_name input
{
    background: url(../img/pic_men0.png) center left no-repeat; 
}
.main_form_phone input
{
    background: url(../img/pic_phon.png) center left no-repeat; 
}

.main_form_input_box
{
    margin: 25px 0 25px 0;
}
.old_price_form, .new_price_form
{
font-size: 18px;
text-align: left;
color: #737373;
}
.old_price_form div, .new_price_form div
{
 display: inline-block;
font-size: 16px;
width: 110px;
}
.old_price_form span
{
 font-weight: bold;
text-decoration: line-through;
color: #9D9D9D;
font-size: 18px;

}
.new_price_form span
{
   font-size: 19px;
color: #D22727;
}
.main_form_price
{
    margin: 20px 0 0 0px;
}


.big_description:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.title_decoration
{
font-size: 24px;
padding: 38px 0;
margin: 0 0 25px;
text-align: center;
background: url(../img/title_de.jpg) center bottom no-repeat;
}

.big_description_item
{
width: 487px;
height: 235px;
margin: 0px 10px 6px 0;
float: left;
position: relative;
}
.big_description_item img
{
position: absolute;
left: 0;
top: 0;
width: 487px;
}


.big_description_item_text {
width: 250px;
font-size: 14px;
position: relative;
height: 100%;
z-index: 11;
background: rgba(255, 255, 255, 0.64);
}
.big_description_item_text > div
{
    padding: 10px;

}
.big_description_item_text_title
{
    font-weight: bold;
margin: 0 0 8px;
}

.big_description_item_right .big_description_item_text
{
    float: right;
}
.big_description
{
position: relative;
padding: 0 0 100px;
}
.sq
{
position: absolute;
width: 301px;
height: 400px;
background: url(../img/sq000000.png) no-repeat;
left: 340px;
top: 88px;
background-size: 100%;
z-index: 10;
}
.sq .sq_clock
{
     text-align: center;   
}
.sq .sq_clock img
{

 width: 170px;
display:inline-block;
margin: 71px auto;
display: none;
}

.sq .sq_clock li:first-child img
{
    display:inline-block;
}
.market
{
background: #fff url(../img/market_b.jpg) top center no-repeat;
margin: -10px 0 0 0;
padding: 0px 0 55px 0;
position: relative;
}
.market:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.market_title
{
 float: right;
font-size: 40px;
text-align: right;
padding: 100px 30px 0 0;
}

.market_title span
{
   display: block;
font-weight: bold;
font-size: 65px;
}
.market_items
{
padding: 40px 0px 0 15px;
width: 660px;

}

.market_item
{
width: 195px;
height: 306px;
margin: 0 18px 20px 0;
position: relative;
background: rgba(255, 255, 255, 0.65);
float: left;
border: 1px solid #6C6C6C;


}
.market_item_hide
{
position: absolute;
top: 55px;
left: -130px;
width: 200px;
background: #fff;
z-index: 13;
font-size: 14px;
box-shadow: 0 0 5px rgb(182, 182, 182);
padding: 16px;
display: none;
}


.market_item_description
{
position: absolute;
right: 0;
width: 260px;
background: #fff;
padding: 20px 20px 20px 30px;
top: 300px;
}

.market_item_but
{
bottom: -15px;
right: 8px;
position: absolute;
text-align: center;
cursor: pointer;
padding: 10px 0px;
width: 90%;
color: white;
border-radius: 4px;
background: url(../img/bg_but00.jpg);
font-size: 16px;
box-shadow: 0 -1px 3px rgb(95, 95, 95);
}
.market_item_but:hover
{
 box-shadow: 0 0px 8px rgb(255, 255, 255);
}

.market_item_img
{
width: 180px;
display: block;
margin: 70px auto 0;

}

.market_item_pirce
{
color: black;
font-size: 18px;
position: absolute;
bottom: 20px;
width: 116px;
padding: 22px 19px 25px 22px;
left: 70px;
background: url(../img/sale_gs0.png) no-repeat;
}
.market_item_pirce div
{
font-size: 14px;
display: inline-block;
color: red;
transform: rotate(4deg);
text-decoration: line-through;
margin: -3px 0 0px 29px;
}
.market_item_pirce span
{
margin: 0px 0px 0px 22px;
display: block;
font-size: 18px; 
 transform: rotate(4deg)
}
.market_item_name
{
position: absolute;
top: 14px;
left: 33px;
width: 140px;
text-align: center;
font-size: 18px;
}











.special_offer
{
    height: 1200px;
    position: relative;
      background: url(../img/special_.jpg) center no-repeat; 
}


.special_offer .timer
{
width: 394px;
height: 97px;
top: 150px;
}
.special_offer_head
{
height: 97px;
top: 180px;
position: relative;
}
.special_offer_head_text
{
font-weight: bold;
color: white;
text-align: center;
text-shadow: 0 0 17px black;
font-size: 34px;
}






.special_offer_left
{
position: absolute;
width: 50%;
right: 50%;
height: 340px;
top: 225px;
}
.special_offer_left  .market_item_pirce
{
left: 30px;
top: 383px;
padding-bottom: 48px;
transform: rotate(-4deg);
}
.special_offer_right .market_item_pirce
{
right: 24px;
left: initial;
top: 383px;
padding-bottom: 48px;
transform: rotate(-4deg);

}
.special_offer_center .market_item_pirce
{
right: 310px;
left: initial;
top: 409px;
padding-bottom: 48px;
transform: rotate(-4deg);

}
.special_offer_right
{
position: absolute;
width: 50%;
left: 50%;
height: 340px;
top: 225px;
}

.special_offer_center
{
position: absolute;
left: 50%;
width: 800px;
height: 340px;
top: 560px;
margin-left: -400px;
}

.special_offer_imtem_title
{
font-size: 22px;
width: 320px;
text-align: center;
margin: 0 230px 0 0;
}
.special_offer_imtem_title span
{
    display: block;
}
.special_offer_clock_item .special_offer_clock_item_watch
{
width: 133px;
margin: 5px 7px;

}


.special_offer_clock, .special_offer_bracket, .special_offer_clock_total, .special_offer_imtem_title
{
     float: right;
}
.special_offer_right .special_offer_clock,.special_offer_right .special_offer_bracket,.special_offer_right .special_offer_clock_total,.special_offer_right .special_offer_imtem_title
{
     float: left;
}
.special_offer_clock
{
margin: 0 160px 0 0;
width: 385px;
height: 168px;

}
.special_offer_clock_item
{
    float: left ;
}
.special_offer_clock_item_plus
{
   margin: 40px 0 0 0;
}
.special_offer_imtem_title_name
{
 font-size: 33px;
width: 330px;
font-weight: bold;
}
.special_offer_bracket
{
 
margin: 2px 263px 0 0;
}
.special_offer_clock_total
{

margin: 0 285px 0 0;


}
.special_offer_clock_total img
{
    width: 170px;
}
.special_offer_left .market_item_but
{
bottom: 60px;
right: 292px;
font-size: 14px;
padding: 6px 10px;
width: 160px;
}
.special_offer_right .market_item_but
{
bottom: 60px;
left: 292px;
font-size: 14px;
padding: 6px 10px;
width: 160px;
}
.special_offer_right .special_offer_imtem_title
{
 margin: 0 0 0 210px;
}
.special_offer_right .special_offer_clock
{
    width: 340px;
margin: 0px 0 0 200px;
}
.special_offer_right .special_offer_bracket
{
margin: 0px 0 0 258px;

}
.special_offer_right .special_offer_clock_total
{
margin: 0 0 0 305px;

}




.special_offer_center .market_item_but
{
bottom: 60px;
right: 248px;
font-size: 14px;
padding: 6px 10px;
width: 260px;
}

.special_offer_center  .special_offer_imtem_title
{
width: 800px;
margin: 0;
}

.special_offer_center  .special_offer_clock
{
width: 525px;
margin: 0 125px 0 0px; 
}
.special_offer_center .special_offer_bracket
{
    margin: 0 212px 0 0;
}


.special_offer_clock_item_plus
{
    width: 30px !important;
}
img.braslet_img
{
width: 140px;
margin: 10px 0 0 0;

}
.special_offer_center  .special_offer_clock_total
{
    margin: 0 218px 0 0;
}

.special_offer_center  .special_offer_clock_total .special_offer_clock_item_plus
{
margin: -10px 5px 30px 0;
}

.special_offer_center .special_offer_imtem_title_name
{
width: 800px;
font-size: 29px; 
}
.special_offer_center
{
    
}


.how_we_work
{
    height: 780px;
}
.how_we_work .title_decoration
{
    margin: 0;
}
.how_we_work_part_one
{
height: 300px;
background: url(../img/how_we_w.jpg) no-repeat;
border-bottom: 1px solid #Ccc;
position: relative;
}
.how_we_work_part_one_text
{
width: 400px;
margin: 0px auto 0;
text-align: center;
padding: 0 0 0 0;
  
}

.how_we_work_order
{
position: absolute;
left: 50%;
bottom: 0px;
margin-left: -150px;
width: 300px;
height: 215px;
border-radius: 5px;
border: 1px solid;
background: url(../img/clock_bg.png);
}
.how_we_work_order .market_item_but
{
    bottom: 4px;
right: 13px;
}
.how_we_work_order input
{
    padding: 5px 30px;
}
.wr_inp
{
margin: 10px 33px;
    
}
.how_we_work_part_one_mini_text_1
{
text-shadow: 0 0 3px white;
width: 150px;
text-align: center;
position: absolute;
background: rgba(255, 255, 255, 0.71);
top: 148px;
left: -40px;
border: 1px solid;
border-radius: 200px;
padding: 52px 0;
}
.how_we_work_part_one_mini_text_2
{
text-shadow: 0 0 3px white;
width: 150px;
text-align: center;
position: absolute;
background: rgba(255, 255, 255, 0.71);
top: 146px;
right: -40px;
border: 1px solid;
border-radius: 200px;
padding: 45px 0;
}

.how_we_work_order_title
{

text-align: center;
color: red;
cursor: pointer;
font-size: 20px;
padding: 10px 0;
}

.how_we_work_part_two
{
height: 377px;
position: relative;
}
.how_we_work_part_two_men
{
position: absolute;
top: 0;
left: 50%;
margin-left: -115px;
width: 300px;
height: 400px;
background: url(../img/how_we_x.jpg) no-repeat;
}

.how_we_work_icon_1
{
position: absolute;
top: 120px;
left: 100px;
width: 160px;
height: 141px;
text-align: center;
background: url(../img/how_we_w.png) top center no-repeat;
font-size: 20px;
  
}
.how_we_work_icon_1 span
{
margin: 100px 0 0 0;
display: inline-block;
}

.how_we_work_icon_2
{
position: absolute;
top: 120px;
right: 100px;
width: 160px;
height: 141px;
text-align: center;
background: url(../img/how_we_x.png) top center  no-repeat;
font-size: 20px;
  
}
.how_we_work_icon_2 span
{
margin: 100px 0 0 0;
display: inline-block;
}

.delivery
{
height: 436px;
padding: 0px 0 0 0;

}
.delivery .title_decoration
{
    background: url(../img/title_de.png) center bottom no-repeat;
}
.delivery:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.delivery_item
{
width: 33%;
height: 185px;
/*float: left;*/
border-left: 1px solid #000; 
display: inline-block;
}
.delivery_item_first
{
    border: 0;
}
.delivery_item_title
{
    text-align: center;
    font-size: 20px;
    text-transform:  uppercase;
}
.delivery_item_text
{
    margin: 50px 20px;
text-align: center;
}


.questions
{
height: 410px;
background: url(../img/cloud200.jpg) -258px 54px no-repeat;
position: relative;
}
.questions .title_decoration
{
    background: url(../img/title_de.png) center bottom no-repeat;
}
.questions_item_title
{
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.questions_item
{

width: 280px;
text-align: center;
border: 1px solid #767676;
background: rgba(255, 255, 255, 0.68);
float: left;
padding: 20px;
min-height: 215px;
margin: 0 0 0 11px;
}
.questions_item_2
{
  top: 262px;
right: 50px;
}
.questions_item_3
{
      top: 562px;
left: 150px;
}


/*=======================--reviews------------========================*/
.reviews_box
{
height: 550px;
background: #fff;
}
.reviews_box_title_big
{
font-size: 32px;
    text-align: center;
    padding: 20px 0;
}


.reviews_box_title
{
font-size: 24px;
font-family: future;
text-align: center;
padding: 10px 0;
margin: 10px 0 20px;
background: #f76f00;
color: white;
}

.reviews_box_item
{

width: 415px;
min-height: 105px;
margin: 0 23px 0 20px;
padding: 0 0 43px 15px;
position: relative;
float: left;
}

.reviews_box_oveflow {
padding: 0 55px;
position: relative;
width: 950px;
margin: 0 auto;
}
.reviews_box_oveflow  .owl-prev,.reviews_box_oveflow .owl-next
{
 top: 60px;   
}
.reviews_box_oveflow  .owl-prev
{
    left: -60px;
}
.reviews_box_oveflow .owl-next
{
    right: -60px;
}
.owl-prev, .owl-next
{
position: absolute;
top: 200px;
width: 75px;
text-align: center;
z-index: 100;
font-size: 50px;
cursor: pointer;
background: #FFF;
}
.owl-prev:hover, .owl-next:hover
{
    color: #fff;
    background: #000;
}
.owl-prev
{
    left: 0;
}
.owl-next
{
    right: 0;
}
.reviews_box_item img
{
width: 110px;
float: left;
margin: 21px 10px 0 0;
border-radius: 70px;

}

.address_box_item_text
{
overflow: hidden;
font-size: 15px;
color: #474747;
background: #E3ECFF;
margin: 0 0 10px 0;
padding: 15px;
border-radius: 14px;
border: dashed;

}
.address_box_item_vk, .address_box_item_phone
{
    position: absolute;
    bottom: 0;
}
.address_box_name{
    margin: 0 0 10px;
text-align: right;
font-size: 20px;

}
.address_box_item_vk
{
left: -30px;
min-width: 125px;
text-align: center;
padding: 5px 10px;
background: #4F81BB;
color: white;
margin: 0 0 5px 45px;
cursor: pointer;
}
.address_box_item_vk a
{
color: white;
text-decoration: none;
}
.address_box_item_phone
{
right: 0;
background: #81AA5A;
color: white;
padding: 5px 40px;
margin: 0 12px 5px 0;
cursor: pointer;
}

.address_box_bottom_title
{
text-transform: uppercase;
font-size: 24px;
text-align: center;
margin: 35px 0 0;
}

.owl-wrapper
{
    position: absolute;
}
.owl-item
{
    float: left;
}
.reviews_box .wrap
{
overflow: hidden;
height: 540px;
width: 930px;
}


/*------------footer-------------*/

.footer
{
height: 95px;
background: #2C2C2C;
padding-top: 20px;
color: white;
}


.footer_logo
{
float: left;
margin: -11px 0 0 239px;
width: 120px;

}
.footer_wrapper
{position: relative;
    margin: 0 auto;
    width: 1030px;
}

.footer .market_item_but
{
margin: 0 auto;
display: block;
position: absolute;
left: 93px;
width: 230px;
text-align: center;
color: white;
border-radius: 4px;
background: url(../img/bg_but00.jpg);
font-size: 16px;
top: 8px;
padding: 10px 20px;
height: 19px;
}
.copyright
{
width: 600px;
font-size: 12px;
margin: 0 10px 0 20px;
position: absolute;
top: 60px;
left: 240px;
text-align: center;
}
.recvizit
{
position: absolute;
font-size: 15px;
right: 0;
top: 0px;
text-align: right;
}

.footer_phone
{
float: right;
margin: -5px 20px 0;
font-size: 27px;
}




/*-----------------wrapper_poup----------------------*/
.wrapper_poup
{
    background: #fff;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
   display: none;
}

.poup_up
{
border: 1px solid #EEEEEE;
width: 439px;
min-height: 210px;
position: fixed;
box-shadow: 0px 1px 2px #838383;
background: #fefefe;
border-radius: 5px 5px 5px 5px;
z-index: 1000;
left: 50%;
margin-left: -240px;
top: 50px;

 display: none;

padding-bottom: 30px;
}

.poup_choise_box
{
height: 100px;
width: 242px;
margin: 0 0 0 90px;
   display: none;
}
.choise_ray, .choise_braslet
{
    display: none;
}

.poup_choise_box_item
{
    float: left;
    width: 145px;
    height: 80px;
    position: relative;
    overflow: hidden;
}
.choise_clock
{
    width: 95px;
}
.poup_choise_box_item li
{
    
    position: relative;
}

.poup_choise_up, .poup_choise_down
{
    position: absolute;
    position: absolute;
top: 10px;
width: 15px;
text-align: center;
z-index: 100;
font-size: 20px;
cursor: pointer;
color: #000;
right: 5px;
}
.poup_choise_down
{
    top:30px;
}


.poup_title
{
font-family: future;
display: block;
font-size: 17px;
color: #000000;
margin-top: 10px;
text-align: center;
padding: 0 50px;
}
.poup_up_name_wrapper
{
margin: 45px 0 0 25px;
font-size: 18px;
color: #949494;
}
.poup_up_name
{
margin: 30px 0;
position: relative;
vertical-align: top;
}

.poup_up_name input, .poup_up_name select
{
font-family: future;
text-transform: uppercase;
width: 260px;
outline: 0;
height: 27px;
padding-left: 20px;
position: absolute;
right: 20px;
top: -4px;
border: 1px solid rgb(213, 213, 213);
box-shadow: inset 1px 1px 3px rgba(219, 219, 219, 0.53);
}

.akc_area, .poup_mail
{
    display: none;
}

.send_poup_up
{
position: absolute;
bottom: 8px;
right: 96px;
font-size: 16px;
color: #000;
padding: 7px 70px;
box-shadow: 1px 1px 1px rgb(194, 194, 194);
background: none;
cursor: pointer;
border: 1px solid #000;

}
.send_poup_up:hover
{
 background: #000;
 color: #fff;   
}

.poup_up #result
{
font-family: future;
display: block;
font-size: 25px;
color: #000;
margin-top: 10px;
text-align: right;
padding: 5px 15px 0px 0;	
	}
    
    
    .poup_up_choise
    {

padding: 0 7px;
    }
    .poup_up_choise ul
    {
float: left;
width: 33%;
height: 135px;
text-align: center;
position: relative;

    }
    .poup_up_choise ul img
    {
        width: 100px;
    }
    .poup_up_choise ul li
    {
        display: none;
    }
    
    .poup_up_choise_prev, .poup_up_choise_next
    {
        position: absolute;
top: 36px;
cursor: pointer;
padding: 5px;
    }
    .poup_up_choise_prev:hover, .poup_up_choise_next:hover
    {
        background: black;
        color: white;
    }
     .poup_up_choise_prev
     {
        left: 0;
     }
      .poup_up_choise_next
      {
        right: 0;
      }
      .poup_up_choise_pleer img
      {
    width: auto;
height: 108px;
      }
.main_form      .result, .how_we_work_order .result
      {
        position: absolute;

background: #Fff;
padding: 20px;
width: 200px;
left: 53px;
top: 126px;
box-shadow: 1px 1px 10px;
display: none;
      }
      
.how_we_work_order .result
{
    top: 58px;
left: 28px;
}
.poup_up .result
{
    display: block;
padding: 15px 78px;
}


.footer_mail
{
position: absolute;
right: 20px;
top: 26px;
}