/*ссылка на тумбах*/
.thumb-link {
    text-decoration: none !important;
    font-weight: bold !important;
}
.thumb-link:hover {
    color: teal;
}
/*ссылки в подвале*/
.footer_links a {
	display: block;
	margin-right: 10px !important;
}
/*18+*/
#disclamer {
	font-size: 60px;
	font-weight: bold;
}
.w3-highway-brown
{color:#fff;background-color:#633517}

.w3-highway-red
{color:#fff;background-color:#a6001a}

.w3-highway-orange
{color:#fff;background-color:#e06000}

.w3-highway-schoolbus
{color:#fff;background-color:#ee9600}

.w3-highway-yellow
{color:#fff;background-color:#ffab00}

.w3-highway-green
{color:#fff;background-color:#004d33}

.w3-highway-blue
{color:#fff;background-color:#00477e}
/*отступ у блока с видосами после кнопки "ЕЩЕ"*/
#more div {
	padding: 0 8px !important;
}
/*Страница с видео начало*/
/*Описание видео*/
.exp {
	font-size: 16px;
	font-weight: bold;
}
.exp span{
	color: teal;
	padding: 6px 0px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal !important;
}
/*таймер*/
#timer {
    font-size: 100px !important;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px !important;
}
#timer .hidden_text a {
    color: red;
}