
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Anton Lukashov | cassador.ru */

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.dance-block span, .dance-block ul, #hall1, #hall2, #hall3, #hall4, #hall5, #hall6, .programm .p1, .programm .p2, .programm .p3, .programm .p4, .programm .p5, .programm .p6, .programm .p7, .programm .p8 {
    opacity: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Animations */

/* Buzz */
@-webkit-keyframes buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.button {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* fadeIn */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated.fadeIn {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.scale {
    -webkit-animation: gumScale 2s ease infinite;
    -moz-animation: gumScale 2s ease infinite;
    -o-animation: gumScale 2s ease infinite;
    animation: gumScale 2s ease infinite;
}

/* Scale */
@-webkit-keyframes gumScale {
    0% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari */
        transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
}

@-moz-keyframes gumScale {
    0% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari */
        transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
}

@-o-keyframes gumScale {
    0% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari */
        transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
}

@keyframes gumScale {
    0% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari */
        transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
}

/* fadeInRight */
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(60px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/* rotateFaded */
@-webkit-keyframes rotateFaded {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes rotateFaded {
    0% {
        opacity: 0;
        -moz-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes rotateFaded {
    0% {
        opacity: 0;
        -o-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes rotateFaded {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated.rotateFaded {
    -webkit-animation-name: rotateFaded;
    -moz-animation-name: rotateFaded;
    -o-animation-name: rotateFaded;
    animation-name: rotateFaded;
}

/* linerScale */
@-webkit-keyframes linerScale {
    0% {
        -webkit-transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

@-moz-keyframes linerScale {
    0% {
        -moz-transform: scaleX(0);
    }
    100% {
        -moz-transform: scaleX(1);
    }
}

@-o-keyframes linerScale {
    0% {
        -o-transform: scaleX(0);
    }
    100% {
        -o-transform: scaleX(1);
    }
}

@keyframes linerScale {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
        opacity: 1 !important;
    }
}

.animated.linerScale {
    -webkit-animation-name: linerScale;
    -moz-animation-name: linerScale;
    -o-animation-name: linerScale;
    animation-name: linerScale;
}

/* transform */
@-webkit-keyframes linerScale {
    0% {
        -webkit-transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

@-moz-keyframes linerScale {
    0% {
        -moz-transform: scaleX(0);
    }
    100% {
        -moz-transform: scaleX(1);
    }
}

@-o-keyframes linerScale {
    0% {
        -o-transform: scaleX(0);
    }
    100% {
        -o-transform: scaleX(1);
    }
}

@keyframes linerScale {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* cassador.ru */

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    40% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

    40% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    50% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.bounceInLeft {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    50% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.bounceInDown {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    40% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    40% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    50% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.bounceInRight {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-moz-keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-o-keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.pulse-grow {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
    -moz-animation-iteration-count: 4;
    -o-animation-iteration-count: 4;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 0.5;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 0.5;
    }

    25%, 75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.delay1 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2;
    -o-animation-delay: 0.2s;
}

.delay2 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
}

.delay3 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
}

.delay4 {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    40% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    40% {
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }

    50% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounceInUp {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-moz-keyframes puffIn {
    0% {
        opacity: 0;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(2, 2);
        -moz-filter: blur(2px);
    }

    100% {
        opacity: 1;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(1, 1);
        -moz-filter: blur(0px);
    }
}

@-webkit-keyframes puffIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        -webkit-filter: blur(2px);
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}

@-o-keyframes puffIn {
    0% {
        opacity: 0;
        -o-transform-origin: 50% 50%;
        -o-transform: scale(2, 2);
        -webkit-filter: blur(2px);
    }

    100% {
        opacity: 1;
        -o-transform-origin: 50% 50%;
        -o-transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}

@-ms-keyframes puffIn {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-transform-origin: 50% 50%;
        -ms-transform: scale(2, 2);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform-origin: 50% 50%;
        -ms-transform: scale(1, 1);
        filter: blur(0px);
    }
}

@keyframes puffIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}

.puffIn {
    -webkit-animation-name: puffIn;
    -moz-animation-name: puffIn;
    -ms-animation-name: puffIn;
    -o-animation-name: puffIn;
    animation-name: puffIn;
}

@-moz-keyframes tinRightIn {
    0% {
        opacity: 0;
        -moz-transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -moz-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -moz-transform: scale(1, 1) translateX(0);
    }
}

@-webkit-keyframes tinRightIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: scale(1, 1) translateX(0);
    }
}

@-o-keyframes tinRightIn {
    0% {
        opacity: 0;
        -o-transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -o-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -o-transform: scale(1, 1) translateX(0);
    }
}

@-ms-keyframes tinRightIn {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: scale(1, 1) translateX(0);
    }
}

@keyframes tinRightIn {
    0% {
        opacity: 0;
        transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        transform: scale(1, 1) translateX(0);
    }
}

@-moz-keyframes tinLeftIn {
    0% {
        opacity: 0;
        -moz-transform: scale(1, 1) translateX(-900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -moz-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -moz-transform: scale(1, 1) translateX(0);
    }
}

@-webkit-keyframes tinLeftIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1, 1) translateX(-900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: scale(1, 1) translateX(0);
    }
}

@-o-keyframes tinLeftIn {
    0% {
        opacity: 0;
        -o-transform: scale(1, 1) translateX(-900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -o-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -o-transform: scale(1, 1) translateX(0);
    }
}

@-ms-keyframes tinLeftIn {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-transform: scale(1, 1) translateX(-900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: scale(1, 1) translateX(0);
    }
}

@keyframes tinLeftIn {
    0% {
        opacity: 0;
        transform: scale(1, 1) translateX(-900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        transform: scale(1, 1) translateX(0);
    }
}

.tinRightIn {
    -webkit-animation-name: tinRightIn;
    -moz-animation-name: tinRightIn;
    -ms-animation-name: tinRightIn;
    -o-animation-name: tinRightIn;
    animation-name: tinRightIn;
}

.tinLeftIn {
    -webkit-animation-name: tinLeftIn;
    -moz-animation-name: tinLeftIn;
    -ms-animation-name: tinLeftIn;
    -o-animation-name: tinLeftIn;
    animation-name: tinLeftIn;
}