/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    display: inline-block;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 2.6em;
    margin: .1em 0;
}

h2 {
    margin: .1em 0;
}

h3 {
    margin: .1em 0;
}

h4 {
    margin: 0.5em 0;
}

.centered {
    text-align: center;
}

.btn {
    border: 1px solid #fff;
    font-size: 13px;
    padding: 16px 20px;
    background: #141517;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
}

.btn-2 {
    background: #ffc913;
    color: #100707;
    text-align: center;
    display: block;
    width: 100%;
}

.row .wrapper {
    width: 1136px;
    margin: 0 auto;
    position: relative;
}

.yellow {
    color: #cfac0e;
}

.grey {
    color: #c2c5d2;
}

.centered {
    text-align: center;
}

.red-badge {
    background: #c00000;
    color: #fff;
    padding: 2px;
    font-size: .9em;
    border-radius: 10px;
}

.row-1 {
    background: url(../img/row-1.jpg) top center no-repeat;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
}

.row-1 .wrapper {
    height: 426px;
}

.row-1 .menu .wrapper {
    height: auto;
}

.menu, .footer {
    background: rgba(24, 34, 38, 0.58);
}

.row-1 .menu ul {
    list-style: none;
    margin: 0;
    padding: 17px 0;
}

.row-1 .menu ul li a {
    text-decoration: none;
    color: #9daeb6;
    letter-spacing: 4px;
    display: block;
    margin: 0 30px;
    padding: 2px 6px;
}

.row-1 .menu ul li.selected a {
    background: #27282c;
    border-radius: 5px;
}

.row-1 .menu ul li {
    display: inline-block;
}

.row-1 .bordered {
    border: 2px solid #fff;
    margin: 180px 0 0 0;
    padding: 15px;
}

.row-1 .bordered .btn {
    margin: 15px 0;
}

.row-1 .putin-1 {
    position: absolute;
    top: -123px;
    right: 0;
    z-index: 2;
}

.row-1 .watch-1 {
    position: absolute;
    top: -170px;
    right: 0;
    height: 594px;
    overflow: hidden;
}

.row-2 {
    background: #f6f4f4;
}

.row-2 .side-content {
    width: 446px;
    margin-left: 665px;
    font-size: .9em;
    padding: 2em 0;
}

.row-2 .photo-1 {
    position: absolute;
    top: -47px;
    z-index: 3;
    left: -100px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.row-2 .photo-1:hover {
    z-index: 5;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.row-2 .photo-2 {
    position: absolute;
    top: 217px;
    left: 285px;
    z-index: 4;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.row-2 .photo-2:hover {
    z-index: 5;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.row-2 .photo-2 {
    position: absolute;
}

.row-2 .logo {
    display: block;
    width: 191px;
    margin: 0 auto;
}

.row-3 {
    height: 1062px;
    background: url(../img/row-3.jpg) top center no-repeat;
    color: #fff;
    font-size: 1.2em;
}

.row-3 h1, .row-3 h3 {
    text-align: center;
}

.text-1 {
    position: absolute;
    width: 250px;
    top: 212px;
}

.text-2 {
    width: 231px;
    position: absolute;
    top: 467px;
}

.text-3 {
    position: absolute;
    width: 300px;
    right: 10px;
    top: 176px;
}

.text-4 {
    position: absolute;
    right: 75px;
    width: 280px;
    top: 346px;
}

.text-5 {
    width: 300px;
    top: 609px;
    position: absolute;
    left: 778px;
}

.row-3 h1 {
    padding: 30px 0 0 0;
}

.row-3 .details {
    height: 745px;
}

.row-3 .btn {
    font-size: 1.05em;
    background: #000;
}

.row-4 {
    background: #f6f4f4;
    font-size: .95em;
}

.row-4 .wrapper {
    padding: 33px 0
}

.row-4 .side-content {
    width: 465px;
    float: left;
}

.row-4 .putin-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.row-5 {
    padding: 33px 0;
}

.row-5 .steps {
    width: 785px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.row-5 .steps .step {
    width: 196px;
    float: left;
    text-align: center;
    margin: 15px 32px;
    position: relative;
    z-index: 3;
}

.row-5 .steps .step h1 {
    /*background: url(../img/num-wrapper.png) top center no-repeat;*/
    width: 179px;
    height: 179px;
    font-size: 4em;
    padding: 41px;
    margin: 0 auto 15px;
}

.row-5 .steps .step h3 {
    font-weight: bold;
}

.row-5 .steps:after {
    height: 1px;
    display: block;
    content: '';
    background: #f0f3f6;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 493px;
}

.row-5 .reviews {
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}

.row-5 .reviews .review {
    width: 50%;
    float: left;
    line-height: 30px;
}

.row-5 .reviews .review .review-author {
    margin: 20px 0;
    font-weight: bold;
}

.row-5 .reviews .review img {
    margin: 0 10px 0 0;
}

.row-5 .reviews img.quote {
    display: block;
    margin: 0 0 15px 0;
}

.row-6 {
    background: url(../img/row-5.jpg);
}

.row-6 .main-wrapper {
    overflow: hidden;
    height: 625px;
}

.row-6 .form {
    background: rgba(255, 255, 255, .3);
    border-radius: 20px;
    color: #fff;
    width: 520px;
    padding: 20px;
    margin: 100px 0 0 0;
}

.row-6 .form .btn {
    display: block;
}

.row-6 .form .btn > * {
    font-weight: bold;
}

.row-6 .form .btn h2 {
    font-size: 2.1em;
}

.row-6 .form {
    float: right;
}

.row-6 .form input {
    display: block;
    border: none;
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    border-radius: 5px;
    color: #000;
}

.row-6 .watch-2 {
    position: absolute;
    left: 0;
}

.row-6 .footer, .row-6 .footer a {
    color: #9daeb6;
}

.row-6 .footer {
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

.row-6 .footer .block {
    width: 33%;
    float: left;
}

.row-6 .footer .logo-2 {
    margin: 10px 0;
}

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc913;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: #000;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.timer-wrapper {
    position:relative;
    left:8px;
    margin:15px 0 69px;
}

.timer-wrapper figure {
    background: #fff;
    height:58px!important;
    overflow:hidden;
    width:76px!important;
    margin: 20px 5px 0 5px;
}

.timer-wrapper figcaption {
    display:none;
}

.timer-wrapper .timeTo div {
    color: #333333;
    font-size:40px;
    top:1px;
}

.timer-wrapper figure div {
    position:relative;
    left:-4px;
}

.timer-wrapper figure .first {
    left:-3px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media screen and (max-width: 1155px) {
    .row .wrapper {
        width: 760px;
    }

    .row-1 .menu ul li a {
        margin: 0;
        letter-spacing: 2px;
    }

    .row-1 .menu ul li .btn {
        margin: 15px 0 0 0;
    }

    .row-1 .bordered {
        position: relative;
        z-index: 10;
        background: rgba(64, 60, 60, 0.7);
    }

    .row-1 .putin-1 {
        height: 481px;
        overflow: hidden;
    }

    .row-1 .watch-1 {
        height: 528px;
    }

    .row-1 .wrapper {
        height: 358px;
    }

    .row-2 .photo-1 {
        left: 0;
        top: -18px;
    }

    .row-2 .photo-2 {
        left: 185px;
    }

    .row-2 .logo {
        background: #fff;
        border-radius: 50%;
        padding: 15px;
        box-sizing: content-box;
    }

    .row-2 .side-content {
        position: relative;
        z-index: 20;
        background: rgba(0, 0, 0, .7);
        color: #fff;
        margin-left: 302px;
        padding: 20px;
    }

    .row-3 {
        background: #000;
    }

    .row-3 .text{
        position: static;
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 5px 0;
    }

    .row-3 .details {
        margin: 50px 0;
        height: auto;
    }

    .row-3 {
        height: 700px;
    }

    .row-4 .side-content {
        position: relative;
        z-index: 99999;
        background: rgba(0,0,0,.6);
        color: #fff;
        padding: 30px;
    }

    .row-5 {
        overflow: hidden;
    }

    .row-6 .watch-2 {
        display: none;
    }

    .row-6 .form {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media screen and (max-width: 780px) {

    h1 {
        font-size: 1.6em;
    }

    .row .wrapper {
        width: 300px;
    }

    .row-1 .menu ul li {
        display: block;
        margin: 10px 0;
    }

    .row-1 .putin-1 {
        height: 344px;
    }

    .row-1 .watch-1 {
        height: 392px;
    }

    .row-1 .bordered {
        top: -125px;
    }

    .row-1 .wrapper {
        height: 220px;
    }

    .row-2 .photo-1 {
        display: none;
    }

    .row-2 .photo-2 {
        left: -100px;
        top: 100px;
        width: 100%;
    }

    .row-2 .photo-2 img {
        width: 100%;
    }

    .row-2 .side-content {
        margin-left: 0;
        width: 100%;
    }

    .row-3 {
        height: 965px;
    }

    .row-4 .side-content {
        width: 100%;
    }

    .row-5 .steps {
        width: 100%;
    }

    .row-5 .steps .step {
        float: none;
        margin: 10px auto;
    }

    .row-5 .steps:after {
        display: none;
    }

    .row-5 .reviews .review {
        width: 100%;
        float: none;
    }

    .row-5 .reviews .review .review-author {
        font-size: .8em;
    }

    .row-6 .form {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .timer-wrapper figure {
        margin: 20px 0 0 -1px;
    }

    .row-6 .footer .block {
        width: 100%;
        float: none;
    }

    #timer {
        width: 400px;
        position: relative;
        left: -77px;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#lv-form{
    border: none;
    padding: 0;
}

#lv-form input[type=text], #lv-form select, #lv-form textarea{
    height: 55px;
}

#lv-form input[type=submit]{
    background: rgb(255, 201, 19);
    color: rgb(16, 7, 7);
    text-align: center;
    display: block;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 13px;
    padding: 16px 20px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
}