body {font-family: Verdana; font-size: 15px; padding: 0; margin: 10px;}
a {color: #000066; text-decoration: none;}

h1 {clear: both; text-align: center;}

#menu_def {width: 850px; margin: 10px auto; text-align: center; list-style-type: none; padding: 0;}
#menu_def li {width: 130px; height: 25px; margin: 0 0 0 2px; overflow: hidden; float: left; background: #f0f0f0; border: 1px solid #999; padding: 5px 0 0 0;}
#menu_def li:hover {background: #fff;}
#menu_def li a {font-size: 14px;}
#menu_def li.current {background: #fff; font-weight: bold;}

.clearboth {width: 100%; clear: both; height: 0px; overflow: hidden;}

#footer_def {
width: 100%;
margin: 0 auto;
clear: both;
text-align: center;
padding-top: 50px;
}

#liveinternet {
margin: 0 auto;
width: 88px;
}

#contact {margin: 20px 0 10px 20px; font-weight: bold; font-size: 24px;}

.pages {width: 650px; margin: 0 auto 10px auto; clear: both;}
.pages a {text-decoration: none;}
.pages ul {list-style-type: none; margin: 0; padding: 0;}
.pages li {
font-size: 15px;
text-align: center;
overflow: hidden;
border: 1px solid #ccc;
float: left;
margin: 1px;
padding: 0 7px;
}
.pages li:hover {background: #fff;}
.pages li:hover a {color: #000;}
.pages .current, .pages .active {background: #fff; border: 1px solid #999;}
.pages .current a, .pages .active a {color: #000;}

.thumbs {width: 750px; margin: 0 auto; text-align: center; clear: both;}
.thumbs ul {list-style-type: none; margin: 0 20px; padding: 0;}
.thumbs li {text-align: center; overflow: hidden; width: 170px; height: 200px; margin: 0 0 5px 0; padding: 2px; float: left; font-size: 12px;}
.thumbs li:hover {}
.thumbs li .title {width: 160px; height: 30px; margin: 0 auto; overflow: hidden;}
.thumbs li .info {margin: 5px 5px 0 5px;}
.thumbs li .date {float: left; font-size: 10px;}
.thumbs li .views {float: right; font-size: 10px;}
.thumbs img {width: 160px; height: 120px; margin: 0 0 5px 0; border: 1px solid #fff;}

.sort {width: 650px; margin: 0 auto 20px auto; text-align: right;}
.sort .active {
    text-decoration: underline;
    /*font-weight: bold;*/
}

#navigation {width: 90%; margin: 10px auto; font-size: 20px; text-align: center;}
#navigation h1 {display: inline; font-size: 20px;}
#navigation h2 {display: inline; font-size: 20px;}

#online {clear: both; width: 610px; margin: 0 auto;}
#online h1 {font-size: 20px; text-align: center;}
#online .prev {width: 30px; margin-right: 4px; float: left;}
#online .prev a {display: block; width: 30px; text-align: center; padding: 168px 0 168px 0; margin-top: 10px; font-size: 30px; text-decoration: none; color: #000066; background: #f7f7f7;}
#online .prev a:hover {background: #efefef;}
#online .next {width: 30px; float: left;}
#online .next a {display: block; width: 30px; text-align: center; padding: 168px 0 168px 0; margin-top: 10px; font-size: 30px; text-decoration: none; color: #000066; background: #f7f7f7;}
#online .next a:hover {background: #efefef;}

#online .object {float: left; width: 505px;}
#online .endtext {font-weight: bold; font-size: 30px; color: #666; text-align: center; line-height: 40px; font-family: "Times New Roman"; margin-top: 20px;}
#online .codeform {width: 100px; height: 28px; border: 1px solid orange; font-size: 24px; margin: 0; padding: 0;}
#online .codebutton {width: 60px; height: 30px; border: 1px solid #666; font-size: 24px; color: white; background-color: green; margin: 0 5px; padding: 0;}

#online .prevnext {clear: both; margin: 0 0 10px 0;}
#online .prevnext .prevtext {overflow: hidden; width: 48%; height: 20px; float: left; text-align: left;}
#online .prevnext .prevaquo {width: 2%; float: left; text-align: left;}
#online .prevnext .nexttext {overflow: hidden; width: 48%; height: 20px; float: right; text-align: right;}
#online .prevnext .nextaquo {width: 2%; float: right; text-align: right;}

#online .download {float: left; width: 100%; text-align: center; font-weight: bold; background: #333; border: 1px dotted #ccc; margin: 0 0 20px 0;}
#online .download:hover {background: #666;}
#online .download a {color: #fff;}

#load {width: 660px; margin: 0 auto 20px auto; height: 200px;}
#load h1 {font-size: 20px;}
#load h2 {font-size: 20px;}
#load .left {float: left; width: 470px; height: 100%; text-align: center; background-color: #f7f7f7; overflow: hidden; line-height: 35px;}
#load .right {float: left; width: 190px; height: 100%; text-align: center; background-color: #efefef; overflow: hidden;}
#load .right img {border: 2px solid #666; position: relative; top: 50%; margin-top: -70px;}
#load .right:hover {background-color: #f7f7f7;}
#load .left, #load .right {background-color: transparent;}

#news {width: 90%; margin: 0 auto;}
#news li {margin: 0 0 10px 0;}
#news .date {padding: 5px; font-weight: bold;}
#news .text {padding: 3px; text-align: justify;}
#news .name {padding: 2px; text-align: right;}

.error {font-size: 11px; color: red;}

#guestbook {clear: both;}
#guestbook ul {
list-style-type: none;
margin: 0;
padding: 0;
}
#guestbook li {
border: 1px dashed #ccc;
margin: 1px auto;
padding: 0;
width: 80%;
text-align: left;
}

#contact {width: 400px; margin: 0 0 0 20px;}

.page_text {width: 750px; margin: 0 auto; clear: both; text-align: left;}

#domain {
	margin: 0 auto;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #006;
	text-align: center;
}

#categories {width: 660px; list-style-type: none; margin: 0 auto; padding: 0;}
#categories li {
	width: 220px;
	height: 20px;
	overflow: hidden;
	float: left;
	font-weight: bold;
}
#categories a:hover {color: #69F;}

#tags {width: 660px; margin: 0 auto; padding: 0; list-style-type: none;}
#tags li {display: inline; padding: 3px;}

#video_info {width: 600px; margin: 10px auto; padding-left: 20px;}
#video_info .title {font-weight: bold;}
#video_info .text {}
#video_info .tags ul {list-style-type: disc; margin: 0; margin-left: 5px; padding: 0;}
#video_info .tags ul li {float: left; padding: 0; margin: 0; margin: 0 10px 0 10px;}
#video_info .share {float: left; margin: 10px 0 0 0;}
#video_info .odnaknopka {float: left; margin: 16px 0 0 20px;}

.bottom_links {list-style-type: disc; width: 500px; margin: 0 auto;}
.bottom_links li {float: left; padding: 0; margin: 0; margin: 0 10px 0 10px;}

.vspace {margin-top: 30px;}

#registration .steps {width: 20px; font-size: 15px; font-weight: bold; vertical-align: top;}
#registration .text {width: 245px; font-size: 13px; vertical-align: top;}
#registration .field {width: 330px; font-size: 11px;}

.thumbs_promo {width: 750px; margin: 0 auto; text-align: center; clear: both;}
.thumbs_promo ul {list-style-type: none; margin: 0 20px; padding: 0;}
.thumbs_promo li {text-align: center; overflow: hidden; width: 170px; height: 180px; margin: 0 0 5px 0; padding: 2px; float: left; font-size: 12px;}
.thumbs_promo li:hover {}
.thumbs_promo li .title {color:#000022; font-size: 14px; background-color: white; font-family: Verdana; text-decoration: none; line-height: 18px; width: 160px; height: 30px; margin: 0 auto; overflow: hidden;}
.thumbs_promo li .info {margin: 5px 5px 0 5px;}
.thumbs_promo li .date {float: left; font-size: 10px;}
.thumbs_promo li .views {float: right; font-size: 10px;}
.thumbs_promo img {width: 150px; height: 150px; margin: 0 0 5px 0; border: 1px solid #fff;}

#login_info {position: absolute; margin: 10px; padding: 5px; right: 0; top: 0; width: 300px; border: 1px solid #000;}

.vertical_teasers {width: 140px; margin: 0 auto; text-align: center;}
.vertical_teasers img {width: 100px; height: 75px; border: 1px solid #fff;}
.vertical_teasers a {text-decoration: none; color: #fff; font-size: 12px;}

.teasers_tube {}
.teasers_tube ul {margin: 0; padding: 0;}
.teasers_tube ul li {overflow: hidden;}

.adult_warning {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
	color: #FC3;
	font-size: 10px;
}

.warn18 {
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 100% 0;
    position: absolute;
    width: 90px;
    height: 93px;
    right: 0;
    top: 0;
    z-index: 999;
    cursor: default;
}
.warn18 .tip {
    display: none;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 0 0;
    width: 302px;
    height: 115px;
    padding: 30px 10px 0;
    top: 67px;
    right: 10px;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    cursor: default;
}
.warn18:hover .tip {
    display: block;
}

.bread {font-size: 24px;}
.bread h1 {display: inline; font-size: 24px;}

.comments_form {}
.comments_form .user {width: 200px; height: 20px; margin: 0; font-size: 16px;}
.comments_form .text {width: 500px; height: 60px; margin: 10px 0 0 0; font-size: 16px;}
/*.comments_list {border: 1px solid #fff;}*/
.comments_list ul {list-style-type: none; margin: 0; padding: 0;}
.comments_list ul li {padding: 10px;}
.comments_list .user {font-size: 14px; font-weight: bold; float: left;}
.comments_list .date {font-size: 14px; float: left; margin-left: 20px;}
.comments_list .text {font-size: 16px; padding: 10px 0 0 0; clear: both;}

.comments-last {
    width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.comments-last .left {
    float: left;
    width: 370px;
}

.comments-last .right {
    margin: 20px 0 0 0;
    float: right;
    width: 300px;
}

.comments-last li {
    clear: both;
    margin: 15px;
}

.comments-last li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.comments-last .user {
    max-width: 100px;
    overflow: hidden;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.comments-last .date {
    float: left;
    margin-left: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

.comments-last .text {
    clear: both;
    border-width:1px;
    border-style:solid;
    border-color: rgb(237,152,56);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
}

.like {
    clear: both;
    padding: 5px;
    float: right;
}
.like img {
    display: block;
    float: left;
    cursor: pointer;
}
.like .percent, .like .value {
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 12px;
    padding-left: 12px;
}
.thumbs .img_likes {
    border: none;
    height: 11px; 
    width: auto; 
    margin: 0;
    margin-right: 2px;
}
.player_xv iframe {width: 608px; height: 481px;}

.articles-list {

}
.article-read {
    
}