@media screen and (min-width: 981px) {

body {min-width:980px; width: 100%;}

}

@media screen 
and (min-width: 981px)
and (max-width: 1120px) {

body {min-width:980px; width: 100%; overflow-x: hidden;}

}

@media screen 
and (min-width: 641px)
and (max-width: 980px) {


body {width:100%;}
iframe, img {max-width: 100% !important;}
.wrap {width:96%; margin:0 auto; padding:0 2%;}
.nav-wrp{text-align:center;}
.nav{float: none;}
.nav li{float: none;display: inline-block;}
.social.right{display: none;}
button, .button{display: inline-block;}

.info2 .text.left + .left {display: none;}

.header, .footer{width:100%;text-align: center;height: auto;background-size: cover;}
.head-top{text-align: center;width: 600px;line-height: 34px;margin: 0 auto 55px auto;}
.header h1, .footer h2{float: none;display: inline-block;font-size: 58px;}
.header h1 span, .footer h2 span{font-size: 55px;}
.hbl-l{float: none;width: 315px;display: inline-block;}
.hbl-r{float: none;display: inline-block;vertical-align: top;}
.price{display: inline-block;float: none;margin: 0px;padding-top: 16px;}
.old-pr{margin-top: 10px;margin-right: 27px;}
.percent{top: -83px;right: -130px;}
.countdown-wrp{margin: 0;position: relative;left: 273px;margin-top: 18px;}

.pluses{text-align: center;}
.pluses .item{text-align: left;margin-right:10px;margin-bottom: 15px;}
.pluses .item:last-child{margin-right: 10px;}

.info {text-align: center;}
.info .video{float: none;}
.info .text{float: none;text-align: left;margin: 0 auto;}

.pictures{text-align: center;}
.pictures img{float: none;}

.info2{text-align: center;}
.info2 .text{float: none;display: inline-block;vertical-align: top;margin: 0 10px;}

.properties{text-align: center;background:#f3f3f3;}
.properties .text{text-align: left;margin: 0;display: inline-block;width: 610px;}

.review{text-align: center;}
.reviews .review h4{text-align: center;}
.reviews .review .img{display: block;margin: 0 auto;}
.reviews .review blockquote{padding: 10px 10px 0 10px;width: 600px;}





}



@media screen 
and (max-width: 640px) {

body {width:100%;}
iframe, img {max-width: 100% !important;}
h2{font-size: 39px;}
.nav-wrp{text-align: center;}
.nav-wrp .wrap{overflow: hidden;height: 35px;}
.nav li{float: none;border: none;margin: 10px 0;display: none;}
.nav{background: transparent;
border-bottom: 15px double #fff;
border-top: 5px solid #fff;
height: 5px;
width: 30px;
margin: 5px 0;
cursor: pointer;}
.nav:hover {
display: block;
position: absolute;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: auto;
background: #10161d;
border: none;
}
.nav:hover li{display: list-item;}
.nav.left{float: left;}
.social.right{float: right;}
.foot-nav li {padding: 0 10px;}
img {max-width: 100% !important;}
.wrap {width:96%; margin:0; padding:0 2%;}
button, .button{display: inline-block;}

.info2 .text.left + .left {display: none;}

.hbl-r form{margin-top: 15px;}

.header, .footer{width:100%;text-align: center;height: auto;background-size: cover;}
.head-top{text-align: center;width:100%;line-height: 64px;margin: 0 auto 55px auto;}
.header h1, .footer h2{float: none;display: inline-block;font-size: 50px;line-height: 50px;}
.header h1 span, .footer h2 span{font-size: 52px;}
.hbl-l{float: none;width:100%;display: inline-block;}
.hbl-r{float: none;display: inline-block;vertical-align: top;}
.price{display: inline-block;float: none;margin: 0px;padding-top: 0px;}
.old-pr{margin-top: 10px;margin-right: 27px;}
.new-pr {font-size: 35px;}
.percent{left: 50%;margin-left: -140px;top: -90px;}
.iphone-main{width: 100%;}
.iphone{margin: 0 auto;width: 288px;height: 360px;background-size: contain!important;}
.colors-main {text-align: left;margin: 30px auto 0 auto;width: 189px;}
.countdown-wrp{position: static;display: inline-block;margin: 55px auto 0 auto;float: none;}

.pluses{text-align: center;padding: 20px 0 10px 0;}
.pluses .item img{display: block;margin: 0 auto;}
.pluses .item{text-align: center;margin:0 0 15px 0;width: 100%;}
.pluses .item .text{width: 260px;}
.pluses .item:last-child{margin-right: 0px;}

.info {text-align: center;padding: 10px 0 0px 0;}
.info .video{float: none;}
.info .text{float: none;text-align: left;margin: 0 auto;max-width: 460px;width: 100%;}

.pictures{text-align: center;}
.pictures img{float: none;}

.info2{text-align: center;}
.info2 .text{float: none;display: inline-block;vertical-align: top;margin: 0 10px;max-width: 402px;width: 100%;margin: 0;}

.properties{height: auto;}
.properties{text-align: center;background:#f3f3f3;}
.properties .text{text-align: left;margin: 0;display: inline-block;max-width: 610px;width: 100%;}
.properties .text .field span{width: 27%;}
.properties .text .field span.sp{width: 70%;}


.review{text-align: center;}
.reviews .review h4{text-align: center;}
.reviews .review .img{display: block;margin: 0 auto;padding-top: 10px;}
.reviews .review blockquote{padding: 10px 10px 0 10px;width:80%;}






}

