@font-face {
    font-family: 'charis_silbold';
    src: url('../img/charis_sil_bold-webfont.eot');
    src: url('../img/charis_sil_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/charis_sil_bold-webfont.woff2') format('woff2'),
         url('../img/charis_sil_bold-webfont.woff') format('woff'),
         url('../img/charis_sil_bold-webfont.ttf') format('truetype'),
         url('../img/charis_sil_bold-webfont.svg#charis_silbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'charis_silregular';
    src: url('../img/charis_sil_regular-webfont.eot');
    src: url('../img/charis_sil_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/charis_sil_regular-webfont.woff2') format('woff2'),
         url('../img/charis_sil_regular-webfont.woff') format('woff'),
         url('../img/charis_sil_regular-webfont.ttf') format('truetype'),
         url('../img/charis_sil_regular-webfont.svg#charis_silregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack';
    src: url('../img/lato-black.eot');
    src: url('../img/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../img/lato-black.woff') format('woff'),
         url('../img/lato-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	height: 100%;
}
p{
	margin: 0 0 18px;
}
a:hover {
	text-decoration: none;
}
img{
	border: none;
	vertical-align: middle;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background: url("../img/bg_fon.jpg") repeat scroll center 0 #f0edeb;
	min-width: 700px;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
input.error {
	border: 1px solid red !important;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
   color: #fff;
   opacity:  1;
}
::-moz-placeholder {
   color: #fff;
   opacity:  1;
}
:-ms-input-placeholder {
   color: #fff;
}
.top_line_1{
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #261428;
	font: 80px/76px 'charis_silregular';
	padding: 42px 0 60px;
}
.top_line_1 span {
	font: 120px/110px 'charis_silbold';
}
.top_line_2{
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #261428;
	font: 55px/60px 'charis_silregular';
	padding-bottom: 20px;
}
#header .lider {
	clear: both;
	float: left;
	width: 226px;
	height: 226px;
	background: #e46600;
	border-radius: 50%;
	color: #fff;
	text-transform: uppercase;
	border: 10px solid #fff;
	margin: 0 0 105px 30px;
	text-align: center;
}
#header .lider .text_1{
	clear: both;
	font: 25px/25px 'charis_silregular';
	padding: 25px 0 15px;
}
#header .lider .text_2{
	clear: both;
	font: 80px/70px 'charis_silbold';
}
#header .price_block{
	clear: both;
	float: right;
	width: 398px;
	height: 400px;
	background: url("../img/bg_price_mob.png") no-repeat scroll 0 0 transparent;
	margin: 0 45px 20px 0;
	text-transform: uppercase;
	text-align: center;
}
#header .price_block .text{
	clear: both;
	color: #000000;
	font: 32px/54px 'charis_silregular';
	padding-top: 80px;
}
#header .price_block .price {
	color: #e46600;
	font: 90px/86px 'charis_silbold';
	clear: both;
	text-decoration: underline;
	padding-bottom: 4px;
}
#header .price_block .valut {
	clear: both;
	color: #e46600;
	font: 48px/48px 'charis_silbold';
}
#header .price_block .old_price {
	clear: both;
	color: #141414;
	font: 36px/36px 'charis_silregular';
	text-decoration: line-through;
}
.top_line_3{
	clear: both;
	text-align: center;
	color: #261428;
	font: 43px/62px 'charis_silbold';
	padding-bottom: 48px;
	text-transform: uppercase;
}
.top_line_3 span {
	font: 72px/82px 'charis_silbold';
}
#header {
	clear: both;
	background: url("../img/mob_bg_header.png") no-repeat scroll right 475px transparent;
}
.stock_block_mob{
	clear: both;
	overflow: hidden;
	border: 10px solid #fff;
	margin-bottom: 52px;
	background: #261428;
	text-align: center;
}
.stock_block_mob .title_block{
	clear: both;
	color: #ffba00;
	font: 100px/104px 'charis_silbold';
	padding: 48px 0 56px;
	text-transform: uppercase;
}
.stock_block_mob .title_1{
	clear: both;
	color: #fff;
	font: 100px/96px 'charis_silbold';
	text-transform: uppercase;
}
.stock_block_mob .title_2{
	clear: both;
	color: #ffba00;
	font: 60px/68px 'charis_silbold';
	text-transform: uppercase;
	padding-bottom: 54px;
}
.stock_block_mob .title_3{
	clear: both;
	color: #fff;
	font: 70px/76px 'charis_silbold';
	text-transform: uppercase;
	padding-bottom: 40px;
}
.stock_block_mob .title_4{
	clear: both;
	color: #ffba00;
	font: 50px/60px 'charis_silbold';
	text-transform: uppercase;
}
.stock_block_mob .title_5{
	clear: both;
	color: #ffba00;
	font: 200px/242px 'charis_silbold';
	text-transform: uppercase;
}
.stock_block_mob .title_6{
	clear: both;
	color: #fff;
	font: 60px/66px 'charis_silbold';
	text-transform: uppercase;
}
.stock_block_mob .title_7{
	clear: both;
	color: #ffba00;
	font: 120px/106px 'charis_silbold';
	text-transform: uppercase;
	padding-bottom: 90px;
}
.stock_block_mob .form_item input {
	padding: 10px;
	height: 80px;
	width: 560px;
	border: 5px solid #fff;
	margin: 0 auto 40px;
	background: #261428;
	text-align: center;
	color: #fff;
	font: 60px/70px 'charis_silregular';
}
.stock_block_mob .form_sub{
	width: 590px;
	height: 157px;
	margin: 0 auto;
	clear: both;
	display: table;
	cursor: pointer;
	margin: 0 auto 60px;
	border: none;
	color: #000;
	font: 50px 'charis_silbold';
	background: url("../img/mob_sub.png") repeat-x scroll 0 0 transparent;
	text-transform: uppercase;
}
.stock_block_mob .form_sub:hover {
	opacity: 0.7;
}
.block_block_1{
	clear: both;
	overflow: hidden;
	padding: 0 10px;
	border-bottom: 10px solid #c8c8c8;
	position: relative;
	margin-bottom: 60px;
	text-align: center;
}
.block_block_1:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10px;
	top: 60px;
	background: #c8c8c8;
}
.block_block_1:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	top: 60px;
	background: #c8c8c8;
}
.block_block_1 .b_title {
	clear: both;
	display: table;
	margin: 0 auto;
	height: 116px;
	color: #261428;
	text-transform: uppercase;
	font: 130px/116px 'charis_silbold';
	padding: 0 20px;
	position: relative;
}
.block_block_1 .b_title:after {
	position: absolute;
	content: '';
	right: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #c8c8c8;
}
.block_block_1 .b_title:before {
	position: absolute;
	content: '';
	left: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #c8c8c8;
}
.block_block_1 .title {
	clear: both;
	text-transform: uppercase;
	color: #261428;
	font: 48px/62px 'charis_silbold';
	padding-bottom: 94px;
}
.block_block_1 .text {
	clear: both;
	color: #261428;
	text-transform: uppercase;
	font: 48px/54px 'charis_silregular';
	padding-bottom: 608px;
}
.block_block_1 .text span {
	font: 90px/74px 'charis_silbold';
	padding-bottom: 14px;
}
.block_block_1 .text b {
	font: 55px/70px 'charis_silbold';
	clear: both;
}
.block_block_1 .text .line {
	padding: 15px 0;
	float: left;
	width: 100%;
}
.block_block_1 .arrow{
	position :absolute;
	width: 773px;
	height: 562px;
	background: url("../img/arrow_mob_1.png") no-repeat scroll 0 0 transparent;
	left: -20px;
	bottom: 40px;
}
.block_block_2{
	clear: both;
	overflow: hidden;
	position: relative;
	padding: 0 10px;
	text-align :center;
	text-transform: uppercase;
	border-bottom: 10px solid #6d4f70;
	margin-bottom: 95px;
}
.block_block_2:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10px;
	top: 50px;
	background: #6d4f70;
}
.block_block_2:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	top: 50px;
	background: #6d4f70;
}
.block_block_2 .b_title {
	clear: both;
	display: table;
	margin: 0 auto;
	height: 106px;
	color: #6d4f70;
	text-transform: uppercase;
	font: 120px/106px 'charis_silbold';
	padding: 0 30px;
	position: relative;
}
.block_block_2 .b_title:after {
	position: absolute;
	content: '';
	right: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #6d4f70;
}
.block_block_2 .b_title:before {
	position: absolute;
	content: '';
	left: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #6d4f70;
}
.block_block_2 .title {
	clear: both;
	color: #6d4f70;
	font: 60px/68px 'charis_silbold';
	padding: 10px 0 30px;
}
.block_block_2 .text {
	clear: both;
	color: #6d4f70;
	font: 60px/68px 'charis_silbold';
	padding: 64px 0 38px;
}
.block_block_3{
	clear: both;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
	border-bottom: 10px solid #c8c8c8;
}
.block_block_3:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10px;
	top: 35px;
	background: #c8c8c8;
}
.block_block_3:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	top: 35px;
	background: #c8c8c8;
}
.block_block_3 .b_title {
	clear: both;
	display: table;
	margin: 0 auto;
	height: 70px;
	color: #261428;
	text-transform: uppercase;
	font: 68px/70px 'charis_silbold';
	padding: 0 15px;
	position: relative;
}
.block_block_3 .b_title:after {
	position: absolute;
	content: '';
	right: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #c8c8c8;
}
.block_block_3 .b_title:before {
	position: absolute;
	content: '';
	left: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #c8c8c8;
}
.block_block_3 .title {
	clear: both;
	color: #261428;
	font: 72px/72px 'charis_silbold';
	padding-bottom: 68px;
}
.block_block_3 .text {
	clear: both;
	color: #261428;
	font: 48px/60px 'charis_silbold';
	padding-bottom: 92px;
}
.block_block_3 .text_1{
	clear: both;
	color: #6d4f70;
	font: 50px/60px 'charis_silbold';
	padding: 130px 0 110px;
}
.block_block_4{
	clear: both;
	overflow: hidden;
	position: relative;
	border-bottom: 10px solid #6d4f70;
	margin-bottom: 55px;
	text-align: center;
	text-transform: uppercase;
}
.block_block_4:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10px;
	top: 55px;
	background: #6d4f70;
}
.block_block_4:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	top: 55px;
	background: #6d4f70;
}
.block_block_4 .b_title {
	clear: both;
	display: table;
	margin: 0 auto;
	height: 110px;
	color: #6d4f70;
	text-transform: uppercase;
	font: 120px/110px 'charis_silbold';
	padding: 0 90px;
	position: relative;
}
.block_block_4 .b_title:after {
	position: absolute;
	content: '';
	right: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #6d4f70;
}
.block_block_4 .b_title:before {
	position: absolute;
	content: '';
	left: 100%;
	width: 100%;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	background: #6d4f70;
}
.block_block_4 .title {
	clear: both;
	color: #6d4f70;
	font: 60px/70px 'charis_silbold';
	padding: 10px 0 70px;
}
.block_block_4 .row {
	clear: both;
	color: #444141;
	font: 60px/70px 'charis_silbold';
	padding-bottom: 60px;
}
.block_block_4 .arrow {
	display: table;
	width: 78px;
	height: 78px;
	margin: 0 auto 40px;
	border-radius: 50%;
	border: 2px solid #b661bf;
	position: relative;
}
.block_block_4 .arrow:after {
	position: absolute;
	border-radius: 50%;
	background: #b661bf;
	right: 15px;
	top: 15px;
	left: 15px;
	bottom: 15px;
	content: '';
}
.block_block_5{
	clear: both;
	overflow: hidden;
	background: #6d4f70;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 72px;
}
.block_block_5 .b_title {
	clear: both;
	color: #f2f0f0;
	font: 72px/62px 'charis_silbold';
	padding: 50px 0 70px;
}
.block_block_5 .b_title span {
	font: 120px/96px 'charis_silbold';
}
.block_block_5 .text {
	clear: both;
	color: #f2f0f0;
	font: 44px/60px 'charis_silbold';
	padding-bottom: 105px;
}
.block_block_5 .text_2{
	clear: both;
	color: #f2f0f0;
	font: 60px/62px 'charis_silbold';
	padding-bottom: 70px;
}
.block_block_6{
	clear: both;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 180px;
	position: relative;
}
.block_block_6 .b_title{
	clear: both;
	color: #6d4f70;
	font: 90px/88px 'charis_silbold';
	padding-bottom: 54px;
}
.block_block_6 .title{
	clear: both;
	color: #6d4f70;
	font: 60px/60px 'charis_silbold';
	padding-bottom: 147px;
}
.block_block_6 .text_1{
	clear: both;
	color: #6d4f70;
	font: 100px/100px 'charis_silbold';
	padding-bottom: 45px;
}
.block_block_6 .text_1 span {
	font: 120px/114px 'charis_silbold';
}
.block_block_6 .text_2{
	clear: both;
	color: #6d4f70;
	font: 48px/60px 'charis_silbold';
	padding-bottom: 895px;
}
.block_block_6 .text_3{
	clear: both;
	color: #6d4f70;
	font: 48px/60px 'charis_silbold';
}
.block_block_6 .arrow{
	position: absolute;
	width: 986px;
	height: 834px;
	background: url("../img/mob_arrow_6.png") no-repeat scroll 0 0 transparent;
	left: -137px;
	top: 940px;
}
.block_block_7{
	clear: both;
	overflow: hidden;
}
.block_block_7 .b_title{
	clear: both;
	color: #6d4f70;
	font: 120px/106px 'charis_silbold';
	text-align: center;
	text-transform: uppercase;
}
.block_block_7 .title {
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #6d4f70;
	font: 70px/70px 'charis_silbold';
	padding-bottom: 64px;
}
.block_block_7 img {
	margin: 0 auto;
	display: table;
}
.block_block_7 .wrap{
	clear: both;
	margin: 60px auto 40px;
	position: relative;
	background: #6d4f70;
	width: 570px;
}
.block_block_7 .arrow {
	width: 93px;
	height: 39px;
	background: url("../img/arrow_mob.png") no-repeat scroll 0 0 transparent;
	left: 50%;
	position: absolute;
	margin-left: -47px;
	top: -38px;
}
.block_block_7 .name {
	clear: both;
	overflow: hidden;
	text-align: center;
	padding: 105px 0 60px;
	color: #fff;
	font: 48px/60px 'charis_silbold';
	text-transform: uppercase;
}
.block_block_7 .name:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50px;
	width: 90px;
	height: 30px;
	margin-left: -45px;
	background: #e46f0e;
}
.block_block_7 .text {
	clear: both;
	color: #fff;
	font: 48px/56px 'charis_silbold';
	padding: 0 40px 60px;
}
.block_block_7 .row_line{
	clear: both;
	overflow: hidden;
	height: 40px;
}
.block_block_12{
	clear: both;
	overflow: hidden;
	border: 12px solid #6d4f70;
	margin-bottom: 32px;
	background-size: 1px 100%;
	text-align: center;
	padding-bottom: 50px;
}
.block_block_12 .block_title{
	clear: both;
	color: #6d4f70;
	text-transform: uppercase;
	font: 48px/52px 'charis_silbold';
	padding: 15px 0 20px;
}
.block_block_12 .b_content{
	color: #6d4f70;
	clear: both;
	padding: 0 40px 10px;
	font: 24px/28px 'charis_silbold';
}
.pc_view_wrap{
	display: none;
}
