/*@font-face {
    font-family: 'charis_silbold';
    src: url('../img/charis_sil_bold-webfont.eot');
    src: url('../img/charis_sil_bold-webfontd41d.eot') format('embedded-opentype'),
         url('../img/charis_sil_bold-webfont.woff2') format('woff2'),
         url('../img/charis_sil_bold-webfont.woff') format('woff'),
         url('../img/charis_sil_bold-webfont.ttf') format('truetype'),
         url('../img/charis_sil_bold-webfont.svg#charis_silbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'charis_silregular';
    src: url('../img/charis_sil_regular-webfont.eot');
    src: url('../img/charis_sil_regular-webfontd41d.eot') format('embedded-opentype'),
         url('../img/charis_sil_regular-webfont.woff2') format('woff2'),
         url('../img/charis_sil_regular-webfont.woff') format('woff'),
         url('../img/charis_sil_regular-webfont.ttf') format('truetype'),
         url('../img/charis_sil_regular-webfont.svg#charis_silregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack';
    src: url('../img/lato-black.eot');
    src: url('../img/lato-blackd41d.eot') format('embedded-opentype'),
         url('../img/lato-black.woff') format('woff'),
         url('../img/lato-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	height: 100%;
}
p{
	margin: 0 0 18px;
}
a:hover {
	text-decoration: none;
}
img{
	border: none;
	vertical-align: middle;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background: url("../img/bg_fon.jpg") repeat-y scroll center 0 #f0edec;
	min-width: 980px;
}
#wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*position: relative;*/
	/*overflow: hidden;*/
}
input.error {
	border: 1px solid red !important;
}
.form_item input::-webkit-input-placeholder {
    color: #fff;
}
.form_item input:-moz-placeholder {
   color: #fff;
   opacity:  1;
}
.form_item input::-moz-placeholder {
   color: #fff;
   opacity:  1;
}
.form_item input:-ms-input-placeholder {
   color: #fff;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	position: relative;
	clear: both;
	height: 863px;
	z-index: 2;
}
.header_bg_1{
	position: absolute;
	left: 0;
	right: 0;
	min-width: 980px;
	height: 61px;
	background: #261428;
	border-top: 1px solid #6a5e6b;
	border-bottom: 1px solid #6a5e6b;
	top: 800px;
}
.header_bg_2{
	position: absolute;
	width: 706px;
	height: 350px;
	background: url("../img/header_bg_2.png") no-repeat scroll 0 0 transparent;
	left: -105px;
	top: 291px;
}
.header_bg_3{
	position: absolute;
	width: 186px;
	height: 162px;
	background: url("../img/dior.png") no-repeat scroll 0 0 transparent;
	left: 185px;
	top: 611px;
}
.banner_text_1{
	position: absolute;
    left: 35px;
    top: 600px;
    font-size: 55px;
    font-weight: bolder;
    color: #e46600;
	font-family: charis_silbold;
}
.banner_text_2{
    position: absolute;
    left: -52px;
    top: 646px;
    font-size: 30px;
    color: #000000;
	font-family: charis_silbold;
}
.banner_text_3{
    position: absolute;
    left: -52px;
    top: 686px;
    font-size: 36px;
    color: #e46600;
    font-weight: bold;
	font-family: charis_silbold;
}

.top_line_text_1{
	clear: both;
	text-align: center;
	color: #261428;
	font: 100px/92px 'charis_silbold';
	padding-top: 72px;
	text-transform: uppercase;
}
.top_line_text_2{
	clear: both;
	text-align: center;
	color: #261428;
	font: 40px/45px 'charis_silregular';
	padding-bottom: 45px;
	text-transform: uppercase;
}
.top_line_text_3{
	clear: both;
	text-align: center;
	height: 40px;
	background: #cfcfcf;
	width: 840px;
	margin: 0 auto;
	text-transform: uppercase;
	color: #141414;
	font: 24px/40px 'charis_silregular';
	position: relative;
}
.top_line_text_3:after {
	content: '';
	position: absolute;
	top: 0;
	height: 40px;
	width: 14px;
	left: -13px;
	/*background: url("../img/bg_arrow_l.png") no-repeat scroll 0 0 transparent;*/
}
.top_line_text_3:before {
	content: '';
	position: absolute;
	top: 0;
	height: 40px;
	width: 14px;
	right: -13px;
	/*background: url("../img/bg_arrow_r.png") no-repeat scroll 0 0 transparent;*/
}
#header .lider{
	position: absolute;
	text-align: center;
	width: 112px;
	height: 112px;
	background: #e46600;
	border-radius: 50%;
	border: 10px solid #fff;
	left: 10px;
	top: 251px;
	z-index: 20;
	color: #fff;
	text-transform: uppercase;
}
#header .lider .text_1{
	clear: both;
	font: 12px/16px 'charis_silregular';
	padding-top: 17px;
}
#header .lider .text_2{
	clear: both;
	font: 38px/40px 'charis_silbold';
}
#header .price_block{
	position: absolute;
	width: 200px;
	height: 202px;
	z-index: 5;
	text-align: center;
	background: url("../img/bg_price_ico.png") no-repeat scroll 0 0 transparent;
	left: 355px;
	top: 525px;
	text-transform: uppercase;
}
#header .price_block .text{
	clear: both;
	color: #141414;
    font: 15px/18px 'charis_silregular';
    padding-top: 40px;
}
#header .price_block .price {
	color: #e46600;
	font: 26px/28px 'charis_silbold';
	text-decoration: underline;
}
#header .price_block .valut{
	clear: both;
	color: #e46600;
	font: 18px/16px 'charis_silbold';
	padding-top: 3px;
}
#header .price_block .old_price{
	clear: both;
	color: #141414;
	font: 18px/18px 'charis_silregular';
	text-decoration: line-through;
	padding: 5px 30px;
}
.stock_header_block{
	position: absolute;
	width: 400px;
	height: 425px;
	background: #261428;
	border: 6px solid #fff;
	top: 337px;
	right: 0;
}
.stock_header_block .title_block{
	clear: both;
	text-align: center;
	color: #ffba00;
	font: 36px/68px 'charis_silbold';
	height: 65px;
	text-transform: uppercase;
}
.stock_header_block .title_2{
	clear: both;
	text-align: center;
	color: #fff;
	font: 35px/34px 'latoregular';
}
.stock_header_block .title_3 {
	clear: both;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font: 35px/35px 'charis_silbold';
}
.stock_header_block .title_4{
	clear: both;
	text-align: center;
	color: #fff;
	font: 24px/24px 'charis_silbold';
}
.stock_header_block .title_5{
	clear: both;
	text-align: center;
	color: #fff;
	font: 22px/24px 'charis_silbold';
	padding-bottom: 16px;
}
.stock_header_block .form_item input{
	background: none;
	border: 2px solid #9a919b;
	margin: 0 auto 15px;
	padding: 5px 18px;
	height: 29px;
	width: 308px;
	clear: both;
	display: table;
	color: #ffffff;
	font: 18px/28px 'charis_silregular';
}
.stock_header_block .form_sub{
	clear: both;
	display: table;
	margin: 0 auto;
	cursor: pointer;
	width: 348px;
	height: 56px;
	background: url("../img/bg_sub.png") repeat-x scroll 0 0 transparent;
	border: none;
	color: #141414;
	text-transform: uppercase;
	font: 18px 'charis_silbold';
}
.stock_header_block .form_sub:hover {
	opacity: 0.7;
}
#header .tovar_sertificats{
	position: absolute;
	left: 0;
	bottom: 1px;
	right: 0;
	height: 60px;
	color: #f0f0f0;
	font: 18px/60px 'charis_silregular';
}
#header .tovar_sertificats div {
	float: left;
}
#header .tovar_sertificats div + div {
	float: right;
}
/* Middle
-----------------------------------------------------------------------------*/
.block_block_1{
	clear: both;
	overflow: hidden;
	position: relative;
	border-bottom: 9px solid #c8c8c8;
	padding: 0 9px;
	margin: 18px 0 25px;
}
.block_block_1:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 9px;
	top: 30px;
	background: #c8c8c8;
	content: '';
}
.block_block_1:before {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 9px;
	top: 30px;
	background: #c8c8c8;
	content: '';
}
.block_block_1 .b_title {
	clear: both;
	position: relative;
	height: 66px;
	padding: 0 85px;
	display: table;
	margin: 0 auto 20px;
	color: #261428;
	text-transform: uppercase;
	font: 72px/66px 'charis_silbold';
}
.block_block_1 .b_title:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -4.5px;
	width: 200%;
	height: 9px;
	right: 100%;
	background: #c8c8c8;
}
.block_block_1 .b_title:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -4.5px;
	width: 200%;
	height: 9px;
	left: 100%;
	background: #c8c8c8;
}
.block_block_1 .title {
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #261428;
	font: 24px/28px 'charis_silregular';
	padding-bottom: 58px;
}
.block_block_1 .text_1{
	clear: both;
	overflow: hidden;
	padding: 0 28px 20px;
}
.block_block_1 .text_1 div {
	clear: both;
	float: left;
	padding: 0 6px;
	background: #6d4f70;
	padding-bottom: 20px;
}
.block_block_1 .text_1 div span {
	color: #f0f0f0;
	font: 60px/58px 'charis_silbold';
	position: relative;
	z-index: 2;
}
.block_block_1 .text_1 div + div {
	padding-bottom: 2px;
	margin-top: -22px;
	z-index: 1;
}
.block_block_1 .text_1 div + div span {
	font: 36px/38px 'charis_silregular';
}
.block_block_1 .text_2{
	clear: both;
	padding: 0 28px 40px;
	color: #261428;
	font: 24px/24px 'charis_silbold';
}
.block_block_1 .text_3{
	float: left;
	margin: 0 0 68px 28px;
	color: #261428;
	font: 24px/28px 'charis_silregular';
}
.block_block_1 .text_4{
	float: right;
	width: 435px;
	color: #1f1f1f;
	font: 18px/18px 'charis_silregular';
	margin: 22px 0 50px;
}
.block_block_1 .arrow {
	position: absolute;
	width: 451px;
	height: 328px;
	right: 52px;
	bottom: 135px;
	background: url("../img/arrow_1.png") no-repeat scroll 0 0 transparent;
}
.block_block_2{
	clear: both;
	overflow: hidden;
	position: relative;
	padding: 0 9px;
	margin-bottom: 35px;
	border-bottom: 9px solid #6d4f70;
}
.block_block_2:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 9px;
	top: 30px;
	background: #6d4f70;
	content: '';
}
.block_block_2:before {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 9px;
	top: 30px;
	background: #6d4f70;
	content: '';
}
.block_block_2 .b_title {
	clear: both;
	position: relative;
	height: 62px;
	padding: 0 38px;
	display: table;
	margin: 0 auto 20px;
	color: #6d4f70;
	text-transform: uppercase;
	font: 72px/62px 'charis_silbold';
}
.block_block_2 .b_title:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -4.5px;
	width: 200%;
	height: 9px;
	right: 100%;
	background: #6d4f70;
}
.block_block_2 .b_title:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -4.5px;
	width: 200%;
	height: 9px;
	left: 100%;
	background: #6d4f70;
}
.block_block_2 .title {
	clear: both;
	padding: 0 0 31px 310px;
	color: #261428;
	font: 30px/30px 'charis_silbold';
	text-transform: uppercase;
}
.block_block_2 .text {
	clear: both;
	color: #6d4f70;
	font: 18px/18px 'charis_silbold';
	padding: 0 0 40px 310px;
}
.block_block_2 .arrow {
	position: absolute;
	width: 254px;
	height: 253px;
	background: url("../img/arrow_2.jpg") no-repeat scroll 0 0 transparent;
	bottom: 7px;
	left: 20px;
}
.block_block_3{
	clear: both;
	overflow: hidden;
	margin-bottom: 36px;
	border: 6px solid #fff;
	height: 425px;
	position: relative;
	background: #261428;
}
.block_block_3 .l_wrap{
	float: left;
	width: 484px;
}
.block_block_3 .b_title{
	clear: both;
	color: #ffba00;
	font: 36px/90px 'charis_silbold';
	padding-left: 38px;
}
.block_block_3 .text{
	clear: both;
	padding: 0 0 25px 38px;
	color: #fff;
	font: 28px/28px 'charis_silregular';
}
.block_block_3 .text span {
	color: #ffba00;
}
.block_block_3 .timer_wrap{
	float: left;
	position: relative;
	border-bottom: 2px solid #fff;
	margin-left: 45px;
    width: 292px;
	height: 140px;
	overflow: hidden;
	top: 25px;
}
.block_block_3 .timer_wrap:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	top: 15px;
	width: 2px;
	background: #fff;
}
.block_block_3 .timer_wrap:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	top: 15px;
	width: 2px;
	background: #fff;
}
.block_block_3 .timer_label{
	clear: both;
	text-align: center;
	height: 38px;
	margin: 0 auto;
	display: table;
	position: relative;
	font: 18px/30px 'charis_silbold';
	color: #fff;
	padding: 0 14px;
}
.block_block_3 .timer_label:after {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	left: 100%;
	top: 14px;
	background: #fff;
}
.block_block_3 .timer_label:before {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	right: 100%;
	top: 14px;
	background: #fff;
}
.block_block_3 .tim{
	float: left;
	clear: both;
	margin-left: 14px;
	text-align: right;
}
.block_block_3 .digit_group{
	float: left;
	width: 78px;
	height: 78px;
	background: url("../img/digit_group.png") no-repeat scroll 0 0 transparent;
}
.block_block_3 .digit_group span {
	float: left;
	margin-left: 6px;
	color: #141414;
	font: 40px/80px 'latoblack';
	width: 33px;
}
.block_block_3 .digit_group span + span {
	margin: 0;
	text-align: left;
}
.block_block_3 .digit_Sep{
	width: 12px;
	float: left;
	height: 78px;
} 
.block_block_3 .texts{
	float: left;
	clear: both;
	padding-left: 14px;
	color: #fff;
	font: 14px/22px 'charis_silregular';
	text-transform: lowercase;
}
.block_block_3 .texts span {
	text-align: center;
	float: left;
	width: 78px;
}
.block_block_3 .texts span + span {
	margin-left: 12px;
}
.block_block_3 .price_block{
	position: absolute;
	width: 200px;
	height: 202px;
	z-index: 5;
	text-align: center;
	background: url("../img/bg_price_ico.png") no-repeat scroll 0 0 transparent;
	left: 374px;
	top: 98px;
	text-transform: uppercase;
}
.block_block_3 .price_block .text{
	clear: both;
	color: #141414;
    font: 15px/18px 'charis_silregular';
    padding: 40px 0 0 0;
}
.block_block_3 .price_block .price {
	color: #e46600;
	font: 26px/28px 'charis_silbold';
	text-decoration: underline;
}
.block_block_3 .price_block .valut{
	clear: both;
	color: #e46600;
	font: 18px/16px 'charis_silbold';
	padding-top: 3px;
}
.block_block_3 .price_block .old_price{
	clear: both;
	color: #141414;
	font: 18px/18px 'charis_silregular';
	text-decoration: line-through;
	padding: 5px 30px;
}
.block_block_3 .price_block2{
	position: absolute;
	width: 128px;
	height: 111px;
	z-index: 5;
	background: url("../img/dior-smoll.png") no-repeat scroll 0 0 transparent;
	left: 223px;
	top: 84px;
}
.stock_block_block{
	float: right;
	margin-right: 37px;
}
.stock_block_block .title_block{
	clear: both;
	color: #ffba00;
	font: 36px/90px 'charis_silbold';
	text-transform: uppercase;
	height: 68px;
}
.stock_block_block .title_2{
	clear: both;
	text-align: center;
	color: #fff;
	font: 35px/34px 'latoregular';
}
.stock_block_block .title_3 {
	clear: both;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font: 35px/35px 'charis_silbold';
}
.stock_block_block .title_4{
	clear: both;
	text-align: center;
	color: #fff;
	font: 22px/24px 'charis_silbold';
}
.stock_block_block .title_5{
	clear: both;
	text-align: center;
	color: #fff;
	font: 21px/24px 'charis_silbold';
	padding-bottom: 14px;
}
.stock_block_block .form_item input {
	background: none;
	border: 2px solid #9a919b;
	margin: 0 auto 15px;
	padding: 5px 18px;
	height: 29px;
	width: 308px;
	clear: both;
	display: table;
	color: #ffffff;
	font: 18px/28px 'charis_silregular';
}
.stock_block_block .form_sub{
	clear: both;
	display: table;
	margin: 0 auto;
	cursor: pointer;
	width: 348px;
	height: 56px;
	background: url("../img/bg_sub.png") repeat-x scroll 0 0 transparent;
	border: none;
	color: #141414;
	text-transform: uppercase;
	font: 18px 'charis_silbold';
}
.stock_block_block .form_sub:hover {
	opacity: 0.7;
}
.block_block_4{
	clear: both;
	overflow: hidden;
	position: relative;
	padding: 0 9px;
	border-bottom: 9px solid #c8c8c8;
	margin-bottom: 58px;
}
.block_block_4:after {
	content: '';
	position: absolute;
	width: 9px;
	bottom: 0;
	top: 30px;
	left: 0;
	background: #c8c8c8;
}
.block_block_4:before {
	content: '';
	position: absolute;
	width: 9px;
	bottom: 0;
	top: 30px;
	right: 0;
	background: #c8c8c8;
}
.block_block_4 .b_title{
	clear: both;
	text-transform: uppercase;
	height: 58px;
	color: #261428;
	font: 60px/58px 'charis_silbold';
	padding: 0 34px;
	position: relative;
	display: table;
	margin: 0 auto;
}
.block_block_4 .b_title:after {
	position: absolute;
	content: '';
	top: 50%;
	height: 9px;
	background: #c8c8c8;
	width: 200%;
	right: 100%;
	margin-top: -4.5px;
}
.block_block_4 .b_title:before {
	position: absolute;
	content: '';
	top: 50%;
	height: 9px;
	background: #c8c8c8;
	width: 200%;
	left: 100%;
	margin-top: -4.5px;
}
.block_block_4 .title {
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #261428;
	font: 36px/40px 'charis_silbold';
	padding-bottom: 46px;
}
.block_block_4 .text_1{
	clear: both;
	color: #454545;
	font: 18px/18px 'charis_silbold';
	padding: 0 0 44px 35px;
}
.block_block_4 .text_2{
	clear: both;
	color: #6d4f70;
	font: 24px/24px 'charis_silbold';
	padding: 0 0 55px 35px;
}
.block_block_4 .arrow {
	position: absolute;
	width: 336px;
	height: 237px;
	background: url("../img/arrow_4.jpg") no-repeat scroll 0 0 transparent;
	right: 55px;
	bottom: 16px;
}
.block_block_5{
	clear: both;
	overflow: hidden;
	padding: 0 9px;
	position: relative;
	margin-bottom: 50px;
	border-bottom: 9px solid #6d4f70;
}
.block_block_5:after {
	content: '';
	position: absolute;
	width: 9px;
	bottom: 0;
	top: 30px;
	left: 0;
	background: #6d4f70;
}
.block_block_5:before {
	content: '';
	position: absolute;
	width: 9px;
	bottom: 0;
	top: 30px;
	right: 0;
	background: #6d4f70;
}
.block_block_5 .b_title{
	clear: both;
	text-transform: uppercase;
	height: 60px;
	color: #6d4f70;
	font: 60px/60px 'charis_silbold';
	padding: 0 40px;
	position: relative;
	display: table;
	margin: 0 auto 20px;
}
.block_block_5 .b_title:after {
	position: absolute;
	content: '';
	top: 50%;
	height: 9px;
	background: #6d4f70;
	width: 200%;
	right: 100%;
	margin-top: -4.5px;
}
.block_block_5 .b_title:before {
	position: absolute;
	content: '';
	top: 50%;
	height: 9px;
	background: #6d4f70;
	width: 200%;
	left: 100%;
	margin-top: -4.5px;
}
.block_block_5 .title {
	clear: both;
	text-align: center;
	color: #6d4f70;
	font: 24px/28px 'charis_silbold';
	text-transform: uppercase;
	padding-bottom: 25px;
}
.block_block_5 .row {
	float: left;
	text-align: center;
	width: 33.33%;
	color: #444141;
	font: 18px/18px 'charis_silregular';
	padding: 0 0 25px;
}
.block_block_5 .arrow {
	display: table;
	margin: 0 auto 14px;
	width: 28px;
	height: 28px;
	border: 1px solid #b661bf;
	position: relative;
	border-radius: 50%;
}
.block_block_5 .arrow:after {
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
	background: #b661bf;
	border-radius: 50%;
}
.block_block_6{
	clear: both;
	background: #6d4f70;
	margin-bottom: 84px;
	position: relative;
}
.block_block_6 .b_title {
	clear: both;
	text-align: center;
	color: #f0f0f0;
	font: 28px/30px 'charis_silbold';
	padding: 26px 0 16px;
	text-transform: uppercase;
}
.block_block_6 .text_1{
	clear: both;
	padding: 0 0 20px 40px;
	color: #f0f0f0;
	font: 21px/22px 'charis_silregular';
}
.block_block_6 .text_2{
	clear: both;
	color: #f0f0f0;
	font: 18px/18px 'charis_silregular';
	padding: 0 0 22px 40px;
}
.block_block_6 .text_2 .line {
	padding: 5px;
	width: 100%;
	float: left;
}
.block_block_6 .arrow {
	position: absolute;
	width: 503px;
	height: 249px;
	background: url("../img/arrow_5.png") no-repeat scroll 0 0 transparent;
	left: 510px;
	bottom: -90px;
}
.block_block_6_1{
	clear: both;
	background: #421447;
	margin-bottom: 84px;
	position: relative;
}
.block_block_6_1 .b_title {
	clear: both;
	text-align: center;
	color: #ff8080;
	font: 36px/30px 'charis_silbold';
	padding: 26px 0 16px;
	text-transform: uppercase;
}
.block_block_6_1 .text_1{
	clear: both;
	padding: 0 0 43px 40px;
	color: #f0f0f0;
	font: 27px/24px 'charis_silregular';
}
.block_block_6_1 .text_2{
	clear: both;
	color: #f0f0f0;
	font: 18px/18px 'charis_silregular';
	padding: 0 0 22px 40px;
}
.block_block_6_1 .text_2 .line {
	padding: 5px;
	width: 100%;
	float: left;
}
.block_block_6_1 .arrow {
	position: absolute;
	width: 503px;
	height: 249px;
	background: url("../img/dior-big.png") no-repeat scroll 0 0 transparent;
	left: 700px;
	bottom: -90px;
}
.block_block_7{
	clear: both;
	position: relative;
	margin-bottom: 10px;
}
.block_block_7 .b_title {
	clear: both;
	text-align: center;
	position: relative;
	color: #6d4f70;
	font: 48px/58px 'charis_silbold';
	padding-top: 44px;
	text-transform: uppercase;
}
.block_block_7 .b_title:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 10px;
	width: 110px;
	margin-left: -55px;
	background: #b661bf;
}
.block_block_7 .title{
	clear: both;
	text-align: center;
	color: #6d4f70;
	font: 30px/34px 'charis_silbold';
	padding-bottom: 116px;
}
.block_block_7 .text{
	clear: both;
	color: #454545;
	font: 24px/28px 'charis_silregular';
	text-align: right;
	padding-bottom: 98px;
}
.block_block_7 .arrow {
	position: absolute;
	width: 453px;
	height: 383px;
	background: url("../img/arrow_7.png") no-repeat scroll 0 0 transparent;
	left: 0;
	bottom: -37px;
}
.block_block_8{
	clear: both;
	overflow: hidden;
}
.block_block_8 .b_title{
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #6d4f70;
	font: 60px/60px 'charis_silbold';
}
.block_block_8 .title {
	clear: both;
	text-align: center;
	color: #6d4f70;
	font: 30px/32px 'charis_silregular';
	text-transform: uppercase;
	padding-bottom: 66px;
}
.block_block_8 .row {
	clear: both;
	overflow :hidden;
	margin-bottom: 37px;
}
.block_block_8 .row.row_l .photo{
	float: left;
	width: 210px;
	height: 210px;
	overflow: hidden;
}
.block_block_8 .row.row_r .photo{
	float: right;
	width: 210px;
	height: 210px;
	overflow: hidden;
}
.block_block_8 .row.row_l .row_wrap{
	float: right;
	min-height: 210px;
	position: relative;
	width: 722px;
	background: #6d4f70;
	position :relative;
}
.block_block_8 .row.row_r .row_wrap{
	float: left;
	min-height: 210px;
	position: relative;
	width: 722px;
	background: #6d4f70;
	position :relative;
}
.block_block_8 .row.row_l .row_wrap .arrow {
	width: 11px;
	height: 27px;
	left: -11px;
	top: 83px;
	position: absolute;
	background: url("../img/arrow_l1.png") no-repeat scroll 0 0 transparent;
}
.block_block_8 .row.row_r .row_wrap .arrow {
	width: 11px;
	height: 27px;
	right: -11px;
	top: 83px;
	position: absolute;
	background: url("../img/arrow_r1.png") no-repeat scroll 0 0 transparent;
}
.block_block_8 .row.row_l .name{
	clear: both;
	margin: 15px 0 18px 20px;
	height: 22px;
	position: relative;
	padding-left: 22px;
	color: #fff;
	font: 18px/22px 'charis_silbold';
}
.block_block_8 .row.row_r .name{
	clear: both;
	margin: 15px 20px 18px 20px;
	height: 22px;
	float: right;
	position: relative;
	padding-left: 22px;
	color: #fff;
	font: 18px/22px 'charis_silbold';
}
.block_block_8 .row .name:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	background: #e46f0e;
}
.block_block_8 .row.row_r .text{
	text-align: right;
}
.block_block_8 .row .text{
	clear: both;
	padding: 0 20px;
	color: #fff;
	font: 18px/18px 'charis_silregular';
}
.block_block_9{
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.block_block_9 .b_title{
	clear: both;
	text-align: center;
	color: #6d4f70;
	font: 65px/58px 'charis_silbold';
	text-transform: uppercase;
	padding-bottom: 50px;
}
.block_block_9 .b_title span {
	color: #b661bf;
	font: 48px/48px 'charis_silbold';
}
.block_block_9 .row{
	float: left;
	width: 25%;
	text-align: center;
}
.block_block_9 .row .img{
	display: table;
	position: relative;
	margin: 0 auto;
}
.block_block_9 .row .img .arrow {
	position: absolute;
	right: -77px;
	width: 35px;
	height: 98px;
	top: 15px;
	background: url("../img/arrow_9.png") no-repeat scroll 0 0 transparent;
}
.block_block_9 .text {
	clear: both;
	color: #6f5272;
	font: 18px/18px 'charis_silregular';
	padding: 15px 0 42px;
}
.block_block_10{
	clear: both;
	text-align: center;
	padding-bottom: 60px;
	margin: 0 0 30px;
	color: #6d4f70;
	font: 30px/30px 'charis_silbold';
	background: url("../img/bg_10.png") no-repeat scroll center bottom transparent;
}
.block_block_14{
	clear: both;
	overflow: hidden;
	border: 12px solid #6d4f70;
	margin-bottom: 32px;
	background-size: 1px 100%;
	text-align: center;
	padding-bottom: 50px;
}
.block_block_14 .block_title{
	clear: both;
	color: #6d4f70;
	text-transform: uppercase;
	font: bold 52px/52px 'charis_silbold';
	padding: 15px 0 20px;
}
.block_block_14 .b_content{
	color: #6d4f70;
	clear: both;
	padding: 0 40px 10px;
	font: bold 24px/28px 'charis_silbold';
}
.mob_view_wrap{
	display: none;
}

select {
	    background: none;
    border: 2px solid #9a919b;
    margin: 0 auto 15px;
    padding: 0 18px;
    height: 40px;
    width: 348px;
    clear: both;
    display: table;
    color: #ffffff;
    font: 18px/28px 'charis_silregular';
	line-height:40px;
}
select option {
    color:#000;
}


@media all and (max-width: 1023px) {
	body{
		min-width: 320px;
	}

	#wrapper{
		max-width: 980px;
		width: auto;
		position: relative;
		overflow: hidden;
	}

	.block_block_1 .arrow {
		position: relative;
		margin: 0 auto;
		right: auto;
		bottom: auto;
	}

	.block_block_1 .text_2 br{
		display: none;
	}

	.block_block_1 .text_3{
		float: none;
		max-width: 450px;
		margin: 10px auto;
	}

	.block_block_1 .text_4{
		float: none;
		width: auto;
		padding: 0 10px;
	}

	.block_block_1 .text_4 br{
		display: none;
	}

	.block_block_2 .arrow{
		bottom: 0;
		top: 40px;
		margin: auto;
	}

	.block_block_3{
		height: auto;
	}

	.block_block_3 .l_wrap{
		float: none;
		margin: 0 auto;
		position: relative;
	}

	.block_block_3 .price_block{
		position: relative;
		margin: 0 auto;
		top: auto;
		left: auto;
	}

	.stock_block_block{
		float: none;
		margin: 0 auto;
	}

	.block_block_3 .timer_wrap{
		float: none;
		margin: 0 auto;
	}

	.stock_block_block .title_block{
		text-align: center;
	}

	.block_block_4 .arrow {
		position: relative;
		margin: 0 auto 20px;
		right: auto;
		bottom: auto;
	}

	.block_block_5 .b_title{
		text-align: center;
		height: auto;
	}

	.block_block_6 .arrow{
		display: none;
	}

	.block_block_6_1 .arrow{
		display: none;
	}

	.block_block_9{
		display: none;
	}

	.block_block_7 .arrow{
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		margin: 0 auto;
	}

	.block_block_7 .title{
		padding-bottom: 0;
	}

	.block_block_7 .text{
		padding-bottom: 0;
	}

	.block_block_8 .row{
		position: relative;
	}

	.block_block_8 .row.row_l .photo{
		float: none;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;
	}

	.block_block_8 .row.row_r .photo{
		float: none;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;
	}

	.block_block_8 .row.row_l .row_wrap{
		width: auto;
		padding-left: 200px;
		padding-bottom: 15px;
	}

	.block_block_8 .row.row_r .row_wrap{
		width: auto;
		padding-right: 200px;
		padding-bottom: 15px;
	}

	.block_block_4 .b_title{
		text-align: center;
	}

	.header_bg_2 {
		left: 0;
		position: relative;
		top: 0;
		margin: 0 auto;
		max-width: 700px;
		background-size: contain;
		background-position: 50% 50%;
		width: auto;
	}

	.top_line_text_1{
		padding-top: 10px;
	}

	#header .lider{
		display: none;
	}

	.header_bg_3 {
		position: relative;
		left: 0;
		top: 0;
		margin: 0 auto;
	}

	.banner_text_1{
		text-align: center;
		left: 0;
		top: 0;
		position: relative;
	}

	.banner_text_2, .banner_text_3{
		text-align: center;
		left: 0;
		top: 0;
		position: relative;
		line-height: 46px;
	}

	#header .price_block{
		position: relative;
		top: 0;
		left: 0;
		margin: 10px auto;
	}

	#header .tovar_sertificats, .header_bg_1{
		display: none;
	}

	.stock_header_block{
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}

	#header{
		height: auto;
	}

	.top_line_text_3{
		width: auto;
		height: auto;
		padding: 5px;
	}

}

@media all and (max-width: 767px) {
	.block_block_1 .b_title {
		height: auto;
		padding: 0;
		font: 52px/66px 'charis_silbold';
	}

	.block_block_1 .arrow{
		width: auto;
		max-width: 100%;
		background-size: contain;
		height: 0;
		padding-top: 60%;
		background-position: 50% 50%;
	}

	.block_block_2 .b_title {
		height: auto;
		padding: 0;
		font: 52px/62px 'charis_silbold';
	}

	.block_block_2 .title{
		padding: 0 10px 31px;
	}

	.block_block_2 .text{
		padding: 40px 10px 0;
	}

	.block_block_2 .arrow{
		position: relative;
		bottom: auto;
		top: auto;
		left: auto;
		margin: 10px auto 20px;
	}

	.block_block_3 .l_wrap{
		max-width: 484px;
		width: auto;
	}

	.block_block_3 .b_title {
		font: 25px/90px 'charis_silbold';
		padding-left: 0;
		text-align: center;
	}

	.block_block_4 .b_title {
		padding: 0;
		height: auto;
		font: 35px/45px 'charis_silbold';
	}

	.block_block_4 .title {
		font: 24px/40px 'charis_silbold';
	}

	.block_block_4 .text_1{
		padding: 5px;
	}

	.block_block_4 .text_2{
		padding: 20px 5px;
		text-align: center;
	}

	.block_block_4 .arrow{
		max-width: 100%;
		height: 0;
		padding-top: 60%;
		background-size: contain;
		background-position: 50% 50%;
	}

	.block_block_5 .b_title {
		height: auto;
		padding: 0;
		font: 42px/44px 'charis_silbold';
	}

	.block_block_5 .row{
		float: none;
		width: auto;
	}

	.block_block_6 .text_1, .block_block_6 .text_2{
		padding-left: 10px;
	}

	.block_block_7 .arrow{
		max-width: 453px;
		height: 0;
		padding-top: 60%;
		background-size: contain;
		background-position: 50% 50%;
	}

	.block_block_8 .row.row_l .row_wrap,
	.block_block_8 .row.row_r .row_wrap{
		padding: 10px;
	}

	.block_block_8 .row.row_r .photo,
	.block_block_8 .row.row_l .photo{
		position: relative;
		margin: 0 auto;
		bottom: auto;
	}

	.block_block_8 .row.row_l .name,
	.block_block_8 .row.row_r .name{
		height: auto;
	}

	.stock_block_block .title_block {
		font: 36px/42px 'charis_silbold';
		text-transform: uppercase;
		margin-top: 30px;
		height: auto;
	}

	.stock_header_block{
		width: auto;
	}

	.stock_header_block .title_block {
		font: 36px/46px 'charis_silbold';
		height: auto;
	}

	.stock_header_block .form_item input,
	.stock_block_block .form_item input{
		width: 240px;
	}

	.stock_header_block .form_sub,
	.stock_block_block .form_sub{
		width: 280px;
	}

	.top_line_text_1 {
		font: 52px/60px 'charis_silbold';
		padding-top: 20px;
	}

	.top_line_text_2 {
		font: 24px/30px 'charis_silregular';
	}

	.block_block_3 .text {
		padding: 0 0 25px 5px;
	}

	.block_block_3 .price_block2 {
		left: 178px;
	}

}