body {
	/*background: url('/template/images/spiration-dark.png');*/
	/*background: url('/template/images/bg.jpg');*/
	background: #444 url(/template/images/bg.jpg) center top fixed;
}

.movie-update {
	padding: 5px 10px;
	margin: 5px;
	border: 1px solid #444;
}
.updates .episodes {
	color: #777;
	font-size: 12px;
}

.updates .no-updates {
	margin-left: 15px;
}

.cinema-img a img {
	/*height: 350px;
	width: auto;*/
	width: 100%;
	height: auto;
}

.pagination li a,.pagination li a:hover {
	color: #333;
}
.pagination .active a, .pagination .active a:hover {
	background-color: #aaa;
	border-color: #aaa;
}
.movie h3 {
	font-size: 15px;
}
.movie a {
	font-size: 15px;
	/*color: #fff;*/
	color: #000;
	text-decoration: none;
	font-size: 15px;
}

.movie .title {
	padding: 5px;
	padding-left: 10px;
}
.movie .year {
	padding-top: 5px;
	padding-right: 10px;
	font-size: 0.9em;
}

.movie:hover {
	opacity: 0.9;
}

.nothing-found {
	margin-left: 30px;
}

.footer {
	text-align: center;
	padding: 20px;
	color: #666;
}

.movie-tags {
	display: inline;
	margin: 0;
	padding: 0;
}

.movie-tags li {
	display: inline;
}

.movie-tags li:after {
	content: ', ';
}

.movie-tags li:last-child:after {
	content: '';
}

/*.movie .over-image {
	background-color: #000;
	position: relative;
	margin-top: -63px;
	color: #fff;
	opacity: 0.75;
	height: 63px;
	overflow: hidden;
}*/

.movie .over-image {
	background-color: #fff;
	position: relative;
	margin-top: -47px;
	color: #000;
	opacity: 0.75;
	height: 47px;
	overflow: hidden;
	/* border-radius: 2px; */
	font-weight: bold;
}

.movie-info {

}

.search-helper-list {
	font-size: 14px; 
}

.search-helper-list li {
	padding: 5px 10px;
}

.cinema-img {
	text-align: center;
	max-height: 500px;
	overflow: hidden;
	/*height: 362px;*/
}

@media (max-width: 767px) {
	.movie .over-image {
		margin-top: -46px;
		height: 46px;
		font-size: 11px;
		padding-bottom: 10px;
		/*overflow: visible;*/
	}
	.movie h3 {
		font-size: 11px;
	}

	.movie .over-image .col-7 {
		padding-left: 10px;
		padding-right: 2px;
	}

	.movie .over-image .col-5 {
		padding-left: 2px;
		padding-right: 10px;
	}
}

.index-last-update .collapse, .module .collapsing {
  height: 12rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.index-last-update .collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}

.index-last-update .collapse:before {
  /*content: ' ...';*/
  position: absolute;
  right: 0;
  bottom: 0;
}

.index-last-update .collapse.show {
  /* You need to reset the height when not collapsed */
  height: auto;
  -webkit-mask-image: none;
}

.index-last-update .collapse.show:before {
  display: none;  /* Of course you don't want to display ... */
}

.index-last-update a.show-more.collapsed:after {
  content: '+ Показать все обновления';
}

.index-last-update a.show-more:not(.collapsed):after {
  content: '- Скрыть';
}