/* ::::: http://rolex-daytona2.hitsale.net/ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/minified/jquery-ui.min.css ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://rolex-daytona2.hitsale.net/media/css/global/screen.css@v=2015.01.02.css ::::: */

html { margin: 0px; padding: 0px; border: 0px none; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; background: none repeat scroll 0% 0% white; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
:focus { outline: 0px none; }
html { font-size: 100.01%; }
body { font-size: 75%; color: rgb(34, 34, 34); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: Arial,Helvetica,sans-serif; }
p { margin: 0px 0px 1.5em; }
a:focus, a:hover { color: rgb(0, 153, 255); }
a { color: rgb(0, 102, 204); text-decoration: underline; }
ul, ol { margin: 0px 1.5em 1.5em 0px; padding-left: 1.5em; }
ul { list-style-type: disc; }
input[type="text"], input[type="password"], input.text, input.title, textarea { background-color: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); }
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.title:focus, textarea:focus { border-color: rgb(102, 102, 102); }
input[type="text"], input[type="password"], input.text, input.title, textarea, select { margin: 0.5em 0px; }
.container { width: 1000px; margin: 0px auto; }
.clearfix::after, .container::after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .container { display: block; }
/* ::::: http://rolex-daytona2.hitsale.net/yandex.st/jquery/fancybox/1.3.4/jquery.fancybox.min.css ::::: */

/* ::::: http://rolex-daytona2.hitsale.net/media/css/public.css@v=2015.01.02.css ::::: */

.preview-main-container { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; width: auto ! important; }
.preview-main-container .page_container { margin: 0px auto; position: relative; }
#loading_bar { position: fixed; background: url('loader-send.gif') no-repeat scroll 50% 50% rgb(23, 24, 27); width: 100%; height: 100%; opacity: 0.9; z-index: 200; }
.page_container { width: 960px; background: none no-repeat scroll 0% 0% rgb(255, 255, 255); height: 100%; }
.preview-main-container, .main-container { z-index: 101; }
.preview-main-container { min-width: 960px ! important; }
/* ::::: http://rolex-daytona2.hitsale.net/media/css/upgrade/widget/popup.css@v=2015.01.02.css ::::: */

.widget.popup { background: none repeat scroll 0% 0% rgb(199, 214, 222); border-radius: 10px; width: 350px; min-height: 200px; padding: 50px; z-index: 650; position: relative; font-size: 14px; line-height: normal; display: none; margin: 0px auto; }
.widget.popup .close { text-align: right; position: absolute; top: 10px; right: 10px; display: inline-block; width: 25px; height: 25px; background: url('close.png') repeat scroll 0% 0% transparent; opacity: 0.8; cursor: pointer; }
.widget.popup .close:hover { opacity: 1; }
.widget.popup .line.text { text-align: center; color: rgb(44, 44, 44); font-size: 26px; font-family: Verdana; font-weight: normal; }
.widget.popup .line.input { padding-bottom: 2px; }
.widget.popup .line.input input { box-sizing: border-box; padding: 5px; font-size: 14px; border-radius: 6px; border-width: 0px; margin: 0px; color: rgb(103, 115, 123); font-family: Verdana; width: 100%; vertical-align: top; }
.widget.popup .line.submit { text-align: center; }
.widget.popup .line.submit input { width: auto; margin: 0px; cursor: pointer; padding: 0px 10px; font-size: 22px; color: rgb(255, 255, 255); font-family: Verdana; border-radius: 6px; background-color: rgb(5, 117, 164); vertical-align: top; border-width: 0px; height: 50px; line-height: 50px; }
.widget.popup .confirmation { font-size: 26px; font-family: Verdana; color: rgb(44, 44, 44); text-align: center; padding-bottom: 28px; display: none; vertical-align: middle; height: 160px; }
/* ::::: http://rolex-daytona2.hitsale.net/media/css/upgrade/widget/sliders/slider.css@v=2015.01.02.css ::::: */

.widget.slider { height: 176px; }
.widget.slider .prev-slide { float: left; width: 10px; height: 100%; cursor: pointer; opacity: 0.8; }
.widget.slider .prev-slide:hover { opacity: 1; }
.widget.slider .next-slide { float: right; width: 10px; height: 100%; cursor: pointer; opacity: 0.8; }
.widget.slider .next-slide:hover { opacity: 1; }
.widget.slider .slides-wrapper { margin: 0px 10px; overflow: hidden; }
.widget.slider .slides-wrapper .slides-container { position: relative; }
.widget.slider .slide + .slide { display: none; }
.widget.slider .slide .left-part { float: left; width: 150px; margin-right: 15px; }
.widget.slider .slide .left-part .bg::before { content: "+"; background: none repeat scroll 0% 0% rgb(206, 208, 216); border-radius: 20px; color: rgb(255, 255, 255); font-weight: bold; font-size: 20px; line-height: 0; padding: 0px 6px 4px; position: relative; top: 58px; }
.widget.slider .slide .left-part img { max-width: 150px; max-height: 140px; }
.widget.slider .slide .right-part { display: table-cell; vertical-align: middle; height: 140px; overflow: hidden; width: 100%; }
.widget.slider .slide .right-part p, .widget.slider .slide .right-part div, .widget.slider .slide .right-part span { margin: 0px; }
/* ::::: http://rolex-daytona2.hitsale.net/media/css/upgrade/widget/sliders/third/slider.css@v=2015.01.02.css ::::: */

.widget.slider.third { padding: 0px 8px; }
.widget.slider.third .prev-slide { background: url('arrows.png') no-repeat scroll 0px 0px transparent; width: 25px; height: 50px; margin-top: 60px; }
.widget.slider.third .next-slide { background: url('arrows.png') no-repeat scroll -25px 0px transparent; width: 25px; height: 50px; margin-top: 60px; }
.widget.slider.third .slides-wrapper { margin: 0px 50px; }
.widget.slider.third .slide { border: 1px solid rgb(213, 219, 224); border-radius: 7px; overflow: hidden; height: 140px; padding: 17px; background: linear-gradient(rgb(255, 255, 255), rgb(248, 250, 251)) repeat scroll 0% 0% transparent; }
.widget.slider.third .slide .left-part { float: left; width: 150px; margin-right: 15px; }
.widget.slider.third .slide .left-part img { max-width: 150px; max-height: 140px; }
.widget.slider.third .slide .right-part { font-family: Verdana,sans-serif; font-size: 14px; line-height: 20px; color: rgb(116, 116, 116); }
.widget.slider.third .slide .left-part .bg::before { top: 58px; }
/* ::::: http://rolex-daytona2.hitsale.net/fonts.googleapis.com/css@family=marck+script&subset=latin,cyrillic.css ::::: */

@font-face {
	font-family: "Marck Script";
	font-style: normal;
	font-weight: 400;
	src: url('o_d1nazvofooblbvtw3bcom1ygxm8i716iu3chrquak.eot');
}
#block-new105 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3677px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new105 > img { vertical-align: top; }
#block-new141 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 5908px; height: 26px; width: 22px; z-index: 106; left: 19px; }
#block-new143 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 0px; border-radius: 10px; color: rgb(0, 0, 0); height: 40px; border-style: solid; top: 6165px; width: 250px; background-color: rgb(217, 175, 35); z-index: 111; border-color: rgb(250, 250, 250); left: 360px; font-family: "Roboto",sans-serif; font-weight: 300; text-decoration: underline; }
#block-new143 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 250px; height: 40px; line-height: 40px; color: rgb(0, 0, 0); font-size: 23px; font-family: Arial,Helvetica,sansserif; font-weight: normal; }
#block-new143:hover { background-image: url('@22@22'); }
#block-new2 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 515px; height: 19px; width: 17px; z-index: 111; left: 571px; }
#block-new3 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 571px; height: 15px; width: 18px; z-index: 112; left: 571px; }
#block-new10 input:-moz-placeholder { padding: 0px; width: 100px; font-family: Arial,Helvetica,sans-serif; font-weight: normal; font-size: 17px; color: rgb(255, 255, 255); height: auto; left: 0px; top: 0px; background-color: transparent; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; }
#block-new10 input:required { box-shadow: none; }
#block-new10 input:invalid { box-shadow: none; }
#block-new10 { z-index: 109; }
#block-new10 input { padding: 0px; margin: 0px; }
#block-new39 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 2076px; height: 501px; width: 793px; z-index: 114; left: 74px; }
#block-new39 > img { vertical-align: top; }
#block-new99 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 5540px; height: 401px; width: 793px; z-index: 114; left: 74px; }
#block-new99 > img { vertical-align: top; }
#block-new15 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; border-radius: 18px; color: rgb(255, 255, 255); top: 631px; height: 54px; width: 401px; z-index: 110; background-image: url('bez-imeni-123.png'); left: 560px; font-family: "Roboto",sans-serif; font-weight: 300; }
#block-new15 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 401px; height: 54px; line-height: 54px; color: rgb(255, 255, 255); font-size: 26px; font-family: Georgia; }
#block-new15:hover { background-image: url('hd-wallpapers-gold-color-background-1280x800-wallpaper.jpg'); }
#block-new112 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3858px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new112 > img { vertical-align: top; }
#block-new111 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3923px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new111 > img { vertical-align: top; }
#block-new117 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4040px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new117 > img { vertical-align: top; }
#block-new115 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3979px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new115 > img { vertical-align: top; }
#block-new74 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 2604px; height: 363px; width: 452px; z-index: 104; left: 473px; }
#block-new74 > img { vertical-align: top; }
#block-new19 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 406px; height: 69.8138px; width: 300px; z-index: 113; overflow: hidden; left: 598px; }
#block-new19 ul.widget-timer { margin: 0px; padding: 0px; white-space: nowrap; }
#block-new19 ul.widget-timer li { display: inline-block; height: 57.8457px; font-family: Arial,Helvetica,sans-serif; font-size: 47.8723px; line-height: 57.8457px; text-align: center; vertical-align: top; }
#block-new19 ul.widget-timer .digits { display: inline-block; background-repeat: no-repeat; background-size: contain; background-image: url('bg_white.png'); width: 35.9043px; height: 57.8457px; color: rgb(0, 0, 0); }
#block-new19 ul.widget-timer .separator { background: none repeat scroll 0% 0% transparent; width: 15.9574px; color: rgb(51, 51, 51); }
#block-new19 ul.widget-timer .label { color: rgb(51, 51, 51); font-size: 11.9681px; line-height: 11.9681px; }
#block-new75 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 2632px; height: 50px; width: 50px; z-index: 117; left: 374px; }
#block-new75 > img { vertical-align: top; }
#block-new119 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4096px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new119 > img { vertical-align: top; }
#block-new136 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4913px; height: 176px; width: 900px; z-index: 104; left: 29px; }
#block-new29 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 30px; color: rgb(255, 255, 255); top: 203px; height: 30px; width: 160px; z-index: 111; border-style: solid; border-color: rgb(250, 250, 250); left: 796px; font-family: "Roboto",sans-serif; font-weight: 300; text-decoration: underline; }
#block-new29 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 160px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); font-size: 16px; font-family: Arial,Helvetica,sansserif; font-weight: normal; }
#block-new29:hover { background-image: url('@22@22'); }
#block-new126 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4211px; height: 314px; width: 404px; z-index: 106; left: 47px; }
#block-new126 > img { vertical-align: top; }
#block-new69 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 17px; color: rgb(255, 255, 255); height: 45px; border-style: solid; top: 2483px; width: 150px; opacity: 0.85; z-index: 116; background-image: url('bez-imeni-123.png'); border-color: rgb(250, 250, 250); left: 400px; font-family: "Roboto",sans-serif; font-weight: 300; text-decoration: underline; }
#block-new69 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 150px; height: 45px; line-height: 45px; color: rgb(255, 255, 255); font-size: 20px; font-family: Trebuchet MS; font-weight: normal; }
#block-new69:hover { background-image: url('hd-wallpapers-gold-color-background-1280x800-wallpaper.jpg'); }
#block-new68 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 17px; color: rgb(255, 255, 255); height: 45px; border-style: solid; top: 2483px; width: 150px; opacity: 0.85; z-index: 116; background-image: url('bez-imeni-123.png'); border-color: rgb(250, 250, 250); left: 640px; font-family: "Roboto",sans-serif; font-weight: 300; text-decoration: underline; }
#block-new68 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 150px; height: 45px; line-height: 45px; color: rgb(255, 255, 255); font-size: 20px; font-family: Trebuchet MS; font-weight: normal; }
#block-new68:hover { background-image: url('hd-wallpapers-gold-color-background-1280x800-wallpaper.jpg'); }
#block-new107 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3795px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new107 > img { vertical-align: top; }
#block-new106 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3733px; height: 40px; width: 40px; z-index: 121; left: 290px; }
#block-new106 > img { vertical-align: top; }
#block-new65 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 17px; color: rgb(255, 255, 255); height: 45px; border-style: solid; top: 2483px; width: 150px; opacity: 0.85; z-index: 116; background-image: url('bez-imeni-123.png'); border-color: rgb(250, 250, 250); left: 156px; font-family: "Roboto",sans-serif; font-weight: 300; text-decoration: underline; }
#block-new65 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 150px; height: 45px; line-height: 45px; color: rgb(255, 255, 255); font-size: 20px; font-family: Trebuchet MS; font-weight: normal; }
#block-new65:hover { background-image: url('hd-wallpapers-gold-color-background-1280x800-wallpaper.jpg'); }
#block-new121 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4138px; height: 39px; width: 39px; z-index: 123; left: 510px; }
#block-new121 > img { vertical-align: top; }
#block-new40 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1922px; height: 133px; width: 798px; z-index: 115; left: 79px; }
#block-new40 > img { vertical-align: top; }
#block-new127 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4491px; height: 115px; width: 58px; z-index: 107; left: 803px; }
#block-new127 > img { vertical-align: top; }
#block-new125 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; color: rgb(255, 255, 255); top: 4669px; height: 48px; width: 261px; z-index: 110; background-image: url('gold-colour-wallpaper.jpg'); border-radius: 7px; left: 320px; font-family: "Roboto",sans-serif; font-weight: 300; }
#block-new125 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 261px; height: 48px; line-height: 48px; color: rgb(255, 255, 255); font-size: 19px; }
#block-new125:hover {  }
#block-new124 input:-moz-placeholder { padding: 0px; width: 100px; font-family: Arial,Helvetica,sans-serif; font-weight: normal; font-size: 17px; color: rgb(66, 87, 101); height: auto; left: 0px; top: 0px; background-color: transparent; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; }
#block-new124 input:required { box-shadow: none; }
#block-new124 input:invalid { box-shadow: none; }
#block-new124 { z-index: 109; }
#block-new124 input { padding: 0px; margin: 0px; }
#block-new124 .cont { float: left; padding-right: 3px; width: 33.3333%; box-sizing: border-box; overflow: hidden; }
.page_container { width: 960px; background: none no-repeat scroll 0% 0% rgb(255, 255, 255); height: 100%; }
.preview-main-container, .main-container { z-index: 101; }
.preview-main-container { min-width: 960px ! important; }
