*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.logo-center {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
}

#comment {
  display:none;
}
.steps {
  margin-bottom: 40px;
}
.steps a {
  font-size: 20px;
}

html {
  overflow-y: scroll;
}

body {
  /*background-image:url('../media/cover.jpg');
  background-size: cover;
  */
 background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 33%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.col {
  color: white;
}
.col > div {    
  float: left;
}
.col::after {
  content:'';
  display: table;
  clear: both;
}
.s6 {
  width: 50%;
}

.s12 {
  width: 100%;
}

.center {
  text-align: center;
}

.circle {
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 120px;
  margin: 0px auto;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.05);
}

.square {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  background: rgba(255,255,255,0.10);
  margin-bottom:0px;
  border: none; 
}

.copy {
  margin: 20px auto 15px;
  display: block;
  width: 20%;
  cursor: pointer;
  border-radius: 25px;
  font-size: 18px;
}

.circle p {  
  line-height: 120px;
  margin: 0;
  font-size: 20px; 
}

.circle-caption {
    margin-bottom: 0px;
    padding: 10px;
    font-size: 20px;
}

.square-caption {
  margin-bottom: 15px;
  font-size: 25px;
}

.more a {
  font-size: 20px;
}

.more p {
  font-size: 20px;
}

.telegram {
  border-radius: 25px;
  margin: 0 auto 15px;
  padding: 15px 15px;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: 

  outline: none;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.telegram:hover, .telegram:focus {
  background: #179b77;
  color: white;
}

#airdrop p {
  color: white;
  font-size: 20px;
}

.error {
  font-size: 20px;
  color: white;
}

.tab-content {
  overflow: hidden;
}

.ads {
  width: 100%;
  height: auto; 
}

.g-recaptcha {
  margin-top: 0;
  margin-bottom: 15px;
}

body {
color:black;
background-color:white;
/*background-image:url(/template/img/1526671636-photo-1440428099904-c6d459a7e7b5.jpeg);*/
background-image:url(/template/img/architectural-design-architecture-buildings-97905.jpg);
/*background-size: 50% 50%;*/
background-repeat: repeat-x;
background-color: #333
}
