@charset "utf-8";

@import url('../fonts/fonts.css');

/* --------------- default --------------- */
* {
	margin: 0;
	padding: 0;
	outline: none;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

html {  
	height:100%; 
}
body {  
	position:relative; 
	height:100%; 
	font-family: pfdintextpro-regular; 
	background: white;
	color: black;
}

img { 
	border: none;
}

ul {
	list-style: none;
}

a { 
	text-decoration: none; 
	margin: 0; padding: 0;
}

.clear { 
	clear: both; 
	height: 0; 
	overflow: hidden; 
	font-size: 0;
}
.res {
	width: 900px; 
	margin-left: auto; margin-right: auto;
}
.box1 .res{
    width: 1250px;
}
::-webkit-input-placeholder,
::-o-input-placeholder,
::-moz-input-placeholder,
::-ms-input-placeholder,
input-placeholder {
	
}

/* wrapper
-------------------------------*/
.wrapper {
	min-height: 100%; width: 100%;  
	position: relative; 
	z-index: 0;
}


/* main
-------------------------------*/

.header    { 
	position: relative;
	padding-top: 20px;
}
.header .button {
	float: left;
	margin-left: 760px;
}
.header .button .but {
	float: left;
	margin-right: 5px;
	height: 50px; 
	padding: 15px 15px;
	line-height: 40px;
	font-size: 28px; color: white; font-family: 'pfdintextpro-xthin';
        font-weight: bold;
	background: url(../images/but2.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.header .phone-top {
	float: right;
	color: #030303; font-size: 36px;
	text-align: right;
	line-height: 35px;
}
.header .phone-top .but {
	color: #000000;  font-size: 28px;
	text-decoration: underline;
	cursor: pointer;
	line-height: 18px;
}
.header .phone-top .but:hover {
	text-decoration: none;
}



.footer    { 
	position: relative;
	padding-top: 20px; padding-bottom: 15px;
	background-color: #d9dce4;
}
.footer .button {
	float: left;
	margin-left: 5px;
}
.footer .button .but {
	float: left;
	margin-right: 5px;
	height: 45px; 
	padding: 0 20px;
	line-height: 40px;
	font-size: 18px; color: white; font-family: 'pfdintextpro-xthin';
	background: url(../images/but2.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.footer .ogrn {
        float: left;
        margin-left: 50px;
        margin-right: 10px;
        text-align: center;
        font-size: 14px;
}
        

.footer .phone-top {
        float: right;
	margin-right: 10px;
	color: #030303; font-size: 36px;
	text-align: right;
	line-height: 35px;
}
.footer .phone-top .but {
	color: #000000;  font-size: 18px;
	text-decoration: underline;
	cursor: pointer;
	line-height: 18px;
}
.footer .phone-top .but:hover {
	text-decoration: none;
}


.footer .personal {
        font-size: 11px; color: #000000;
	font-family: 'pfdintextpro-xthin';
        margin-top: 20px;
        margin-left: 10px;
        float: left;
}


.title-box {
	font-size: 36px; color: #18120b;
	font-family: 'pfdintextpro-xthin';
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.title-box span {
	color: #9b7f53;
}


/* box1
-------------------------------*/
.box1 {
	background: url(../images/bg1.jpg) no-repeat top left;
	background-color: #c6cad5;
	height: 655px;
}
.box1 .block-txt {
	margin-top: 25px;
	float: right;
	text-align: center;
}
.box1 .block-txt .site_name {
	font-family: 'pfdintextpro-xthin';
	font-size: 33px;
        color: #FFFFFF;
	margin-bottom: 12px;
	text-transform: uppercase;
        background-color: #B9214A;
        
}
.box1 .block-txt .site_name div {
	font-size: 76px;
	line-height: 69px;
	margin-top: -6px;
	color: #000000;
	display: inline-block;
	background-color: #FFFFFF;
}
.box1 .block-txt .t1 {
	font-family: 'pfdintextpro-xthin';
	font-size: 18px; color: #FFFFFF;
	display: inline-block;
	text-transform: uppercase;
	padding-bottom: 5px;
        background-color: #0F1537;
	
}
.box1 .block-txt .skidka {
	margin-top: 8px;
        
}
.box1 .block-txt .skidka .numb {
	font-family: 'pfdintextpro-xthin';
	font-size: 85px; line-height: 89px; color: white;
	display: inline-block;
	vertical-align: middle;
	line-height: 70px;
}

.box1 .block-txt .skidka .sk {
	margin-left: -15px;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'pfdintextpro-thin';
	font-size: 19px; color: white;
	padding-top: 5px; 
	border-top: 5px solid white;
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg); 
	-o-transform: rotate( -90deg);		
}
.box1 .block-txt .skidka .plus {
	margin-left: -12px;
	font-family: 'pfdintextpro-thin';
	font-size: 16px; 
	display: inline-block;
	vertical-align: middle;
	background-color: #e4e5ea;
	padding: 5px 7px;
        background-color: #0F1537;
        color: #FFFFFF;	
}
.box1 .block-txt .timer {
	margin-top: 8px;
	display: inline-block;
	padding: 8px 15px;
	background-color: #e4e5ea;
}
.box1 .block-txt .price {
	font-size: 35px; font-family: 'pfdintextpro-xthin';
    background-color: #FFFFFF;
    width: 300px;
    margin: 8px 150px 8px 0;
    float: right;
}
.box1 .block-txt .price .new {
	font-family: 'pfdintextpro-medium';
	padding-right: 10px;
}
.box1 .block-txt .price .prev {
	background: url(../images/line2.png) repeat-x center center;
}
.sl-form {
	display: inline-block;
	margin-top: 0px;
	background-color: #778899;
	padding: 15px 17px 5px 10px;
	box-shadow: 5px 5px 0 0px #afb6c9;
	-o-box-shadow: 5px 5px 0 0px #afb6c9;
	-moz-box-shadow: 5px 5px 0 0px #afb6c9;
	-webkit-box-shadow: 5px 5px 0 0px #afb6c9;
	  margin-left: 70px;
}
.sl-form .name {
	font-size: 24px;  font-family: 'pfdintextpro-thin'; 
        font-weight: bold;
	margin-bottom: 20px;
}
.sl-form label {
	font-size: 16px;
	text-align: right;
	width: 52px;
	display: inline-block;
	margin-right: 7px;
}
.sl-form input[type=text],
.sl-form .customSelect {
	height: 25px; width: 250px;
	margin-bottom: 13px;
	padding: 0 10px 0 5px;
	line-height: 25px;
	border: 1px solid #afb6c9;
	outline: none;
	color: black; 
	font-family: 'pfdintextpro-thin'; 
    font-size: 20px;
	font-weight: bold;
	background: #fff;
	text-align: left;
}
.sl-form select {
  z-index: 2;
  
}
.sl-form .customSelect {
  position: relative;
  z-index: 1;
}
.sl-form .customSelect::before {
  content: '';
  position: absolute;
  border-top: 10px solid #B02146;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  top: 9px;
  right: 7px;
}
.customSelectInner{
    width: 90% !important;
}
.sl-form input[type=submit] {
	
	height: 60px; 
	width: 200px;
	line-height: 50px;
	font-size: 28px; color: white; font-family: 'pfdintextpro-xthin';
	font-weight: bold;
        padding: 0px 10px 10px 5px;
	background: url(../images/but2.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	outline: none;
	border: none;
        
}
.sl-form .color-box {
	display: inline-block;
	height: 25px; width: 230px;
	line-height: 25px;
	text-align: left;
        margin-bottom: 10px;
}
.sl-form .color {
	display: inline-block;
	width: 23px; height: 23px;
	border-radius: 200px;
	margin: 5px 5px 5px 5px;
	margin-top: 5px;
	vertical-align: middle;
	cursor: pointer;
}
.sl-form .color.active {
	border: 1px solid red;
}
.sl-form .c1 {background-color: #ff00ff;}
.sl-form .c2 {background-color: #ffbfef;}
.sl-form .c3 {background-color: #daaf84;}
.sl-form .c4 {background-color: #86d3ff;}
.sl-form .c5 {background-color: #c0c0c0;}
.sl-form .c6 {background-color: #ffffff;}



/* box2
-------------------------------*/
.box2 {
	padding: 30px 0 20px 0;
	text-align: center;
}
.box2 .item {
	display: inline-block;
	vertical-align: middle;
	height: 145px; width: 145px;
	padding-top: 6px;
	background: url(../images/romb.png) no-repeat;
	margin: 0 10px;
	font-size: 16px; font-family: 'pfdintextpro-thin';
}
.box2 .item span {
	font-family: 'pfdintextpro-medium';
}
.box2 .item div {
	display: table-cell;
	vertical-align: middle;
	width: 145px; height: 145px;
}
.box2 .item.b {
	margin-top: -50px;
}

/* box3
-------------------------------*/
.box3 {
	padding: 30px 0 0px 0;
	text-align: center;
}
.box3 .style_box .item {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}
.box3 .style_box .item img{
    cursor: pointer;
}
.box3 .style_box .item span{
    cursor: pointer;
    display: block;
    font-family: Bitter;
    font-size: 14px;
}
.box3 .res {
	width: 980px;
	background: url(../images/bg2/1.jpg) no-repeat 37px center;
	height: 100%;
}
.box3 .block {
	margin-top: 15px;
	height: 269px;
	background: url(../images/bg2.jpg) no-repeat top center;
}
.box3 .left {
	float: right;
	margin: 0px 50px 0 0;
}
.box3 .price {
	float: left;
	margin-top: 200px;
	padding: 0 15px 0 35px;
	background-color: black;
	font-size: 36px; font-family: 'pfdintextpro-xthin'; color: white;
}
.box3 .price .new {
	font-family: 'pfdintextpro-medium';
	padding-right: 10px;
}
.box3 .price .prev {
	background: url(../images/line2.png) repeat-x center center;
}
.box3 .numb {
	font-family: 'pfdintextpro-xthin';
	font-size: 72px;  color: #6a6a6a;
	float: left;
	margin-top: 200px; margin-left: 135px;
	line-height: 65px;
}
.box3 .plus {
	margin-top: 9px;
	font-family: 'pfdintextpro-thin';
	font-size: 18px; 
	text-align: left;	
}
.vk_link{
    display: block;
    text-align: center;
    font-size: 32px;
    line-height: 80px;
    text-decoration: none;
    cursor: pointer;
}
.vk_link img{
    margin-bottom: -20px;
}
/* box4
-------------------------------*/
.box4 {
	padding: 30px 0 20px 0;

}
.box4 p {
	font-size: 16px;
	font-family: 'pfdintextpro-xthin';
	text-align: justify;
}


/* box5
-------------------------------*/
.box5 {
	padding: 30px 0 2px 0;
	text-align: center;
}
.box5.res{
	width: 1000px;

}


/* box6
-------------------------------*/
.box6 {
	padding: 30px 0 10px 0;
	background: url(../images/line3.png) no-repeat center bottom;
}
.box6 .item {
	width: 430px;
	margin-right: 25px; margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
}
.box6 .item.right {
	margin-right: 0;
}
.box6 .item img.photo {
	float: left;
	width: 117px; height: 117px;
	border: 5px solid white;
	box-shadow: 3px 3px 5px 0 rgb(186, 185, 185);
	margin-right: 20px;
	overflow: hidden;
}
.box6 .item .text {
	float: left;
	width: 283px;
	font-size: 14px; font-family: 'pfdintextpro-thin';
}
.box6 .item .text .name {
	margin-bottom: 20px;
	border-bottom: 1px solid #c6c3c3;
	padding-bottom: 5px;
	padding-left: 20px;
	background: url(../images/comm-name.png) no-repeat 0 2px;
}


/* box7
-------------------------------*/
.box7 {
	padding: 30px 0 20px 0;
	text-align: center;
}
.box7 .item {
	width: 200px;
	float: left;
	font-size: 14px;
	margin-top: 10px;
}
.box7 .item .name {
	text-transform: uppercase;
	font-family: 'pfdintextpro-medium';
}


/* box8
-------------------------------*/
.box8 {

	text-align: center;
}
.box8 .res {
	width: 980px;
}
.box8 .block {
	height: 310px;
	background: url(../images/bg3.jpg) no-repeat top center;
}
.box8 .right {
	float: right;
	margin: 15px 70px 0 0;
}
.box8 .left {
	float: left;
}
.box8 .price {
	
	margin-top: 180px;
        margin-left: 85px;
	padding: 0 15px 0 25px;
	background-color: black;
	font-size: 36px; font-family: 'pfdintextpro-xthin'; color: white;
}
.box8 .price .new {
	font-family: 'pfdintextpro-medium';
	padding-right: 10px;
}
.box8 .price .prev {
	background: url(../images/line2.png) repeat-x center center;
}

.box8 .plus {
	margin-top: 9px;
	font-family: 'pfdintextpro-thin';
	font-size: 18px; 
	text-align: left;	
}

.but-garant,
.but-person-date{
    cursor: pointer;
}


.popup_bg {
    position: fixed; top: 0; left: 0; 
    width: 100%; height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    display: none; z-index: 999;
}

/* popup
-------------------------------*/
.popup {
	position: fixed; top: 50%; left: 50%;  
	width: 325px; height: 156px; 
	padding: 15px 25px;
	background: url(../images/sl-form-bg.png);
	 z-index: 9999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
    text-align: center;
    display: none;
}
.popup-dostavka, .popup-garant, .popup-person-data {
	width: 750px; height: auto;
	background: #f3f3f3;
	border: 2px solid #c2c2c2;
	border-radius: 15px;
	text-align: left;
	font-size: 14px;
}
.popup .name {
	font-size: 24px;  font-family: 'pfdintextpro-thin'; 
	margin-bottom: 15px;
        font-weight: bold;
        text-transform:uppercase;
	
}
.popup-zvonok .name {
	margin-left: 50px;
}
.popup-message .name {
	padding-top: 20px;
	font-size: 32px;  font-family: 'pfdintextpro-thin'; 
	margin-bottom: 15px;
	margin-left: 0;
}
.popup-message .name .n1 {
	font-size: 20px;  font-family: 'pfdintextpro-thin'; 

}
.popup label {
	font-size: 14px;
	text-align: right;
	width: 52px;
	display: inline-block;
	margin-right: 7px;
}
.popup input[type=text] {
	height: 25px; width: 210px;
	margin-bottom: 5px;
	padding: 0 10px;
	line-height: 25px;
	border: 1px solid #afb6c9;
	outline: none;
	color: black; font-family: 'pfdintextpro-thin'; font-size: 14px;
}
.popup input[type=submit] {
	margin-left: 50px;
	height: 45px; 
	width: 170px;
	margin-top: 5px;
	line-height: 40px;
	font-size: 18px; color: #white;
	font-family: 'pfdintextpro-xthin';
	background: url(../images/but2.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	outline: none;
	border: none;
}

@media screen and  (max-device-width: 400px) {
	.box1 .block-txt .t1 {
		
		font-size: 15px; 
	}
	.box4 p {
		font-size: 12px;
	}
	.box5 img {
		
	}
	.title-box {
		font-size: 30px; 
	}	
}	