/**/

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0; height:100%;}

body {
	font-family: Arial, Helvetica, sans-serif ; 	 
	font-size:12px; 
	line-height:18px;
	color:#aea6a8;
	background:#240c10; 
	min-width:960px;
	}
.main{
	width:100%;
	height: auto; 
	background:#0f0406;
	}
/***********************************************************************/
/*================================>Block-classes<==========================*/
.txt-dec-n{text-decoration:none !important;}
.txt-dec-u{text-decoration: underline;}
.txt-up-n{text-transform:none !important;}
.txt-up{text-transform:uppercase;}
.txt-al{text-align:center;}
.bold{font-weight:bold;}

.col{color:#fb1626;}

.hov:hover{color:#fff;}

.border-none{border: none !important;}
.bg-none{background: none !important;}

.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{margin-left:0 !important; margin-right:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

/*===============================>Indent<==================================*/

.bot{margin-bottom: 4px;}
.bot-1{margin-bottom: 7px;}
.bot-2{margin-bottom:27px;}
.bot-3{margin-bottom:19px;}

.left{margin-left: 3px;}
.left-1{margin-left:10px;}

.right{margin-right: 3px;}

/*================================link-button===============================*/
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}
p{padding-bottom:18px;}

ul {
	margin:0; 
	padding:0;
	list-style-image:none;
	}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper, .wrapper-extra, .extra-wrap{overflow:hidden;}
.wrapper-after:after{
 clear:both;
 content:".";
 display:block;
 height:0;
 visibility:hidden;}
.fleft {float:left;}
.fright {float:right;}
/*===============================>H-logo-properties=========================*/
.logo {
	display: inline-block;
	/*margin: 74px 0 64px 91px;*/
	margin: 40px 0 64px 91px;
	}
.logo a {display:inline-block;}
h1,h2{ font-size:13px; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif ; 
	color:#ffffff; 
	line-height:18px;
	font-weight:  bold;
	text-transform:uppercase;
	display: block;
	background: url(../images/bg-h2.jpg) left 0 no-repeat;
	padding:0 0 0 7px;
	overflow:hidden;
	}
	h1 strong a,h2 strong a{
		display:inline-block;
		font-family: Arial, Helvetica, sans-serif;
		float:right;
		font-size:11px;
		line-height:14px;
		color:#fb1626;
		text-decoration:underline;
		font-weight:normal;
		text-transform:none;
		margin:1px 13px 0 0;
		}
	h1 strong a:hover,h2 strong a:hover{
		color:#fff;
		}
	h1 span,h2 span{
		display:block;
		background: url(../images/bg-h2-span-span.jpg) right 0 no-repeat;
		padding-right:6px;
		}
	h1 strong,h2 strong{
		display:block;
		background: url(../images/bg-h2-span.jpg) 0 0 repeat-x;
		padding:11px 0 7px 4px;
		}
.indent-1 h2 strong{padding-left:14px;}

h4{
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size:21px;
	line-height:14px;
	color:#fb1626;
	font-weight:normal;
	text-transform:none;
	margin:1px 13px 10px 0;
	}
	h4 a{color:#fff; 
	text-decoration:none !important;
	}
	h4 a:hover{color:#fb1626;
	text-decoration:underline;
	}
/*********************************header*************************************/
.head{
	width:100%;  
	position:relative; 
	background: url(../images/bg-head.jpg) center 0 no-repeat;
	}
header{
	width: 950px; 
	margin: 0 auto;
	position:relative;
	}
/*********************************content*************************************/
#content{
	width:100%; 
	padding:0 0 17px 0; 
	margin:0;
    position:relative; 
	z-index:1;
	}
.div-search{
	margin:7px 10px 0 0;
	float:right;
	display:inline-block;
	background: url(../images/bg-search-div.jpg) 0 0 repeat;
	border-radius: 15px;
	padding:1px 8px 1px 10px;
	box-shadow: inset 0 -1px 3px #600311;
	border:1px solid #b90c2b;
	}
#search input{
	width: 157px; 
	height: 18px; 
	font-family: Arial, Helvetica, sans-serif  ; 
	font-size: 12px;
	line-height:18px;
	color:#fff;  
	display: inline-block; 
	float:left;
	background:transparent;
	padding:1px 0; 
	}
#search .search_button{
	background: url(../images/bg-search-button.png) 0 0 no-repeat; 
	width:14px;
	height:14px;
	display:inline-block;
	float:left;
	margin:3px 0 0 0;
	}
#search .search_button:hover{
	background-position: right 0;
	}
.lightbox-image{display: inline-block;position:relative;}
.lightbox-image img.magnify{position:absolute;width:0px;height:0px;left:50%;top:50%;}

.pp{
	display:inline-block;
	margin-left:20px;
	}
.pp a{color:#fb1626;}
.pp a:hover{
	color:#fff ; 
	text-decoration:underline;
	}
.list{padding:0 20px 0 19px;}
.list li{
	font-size:12px;
	line-height:18px;
	padding:2px 0 3px 26px;
	display:block;
	border-top:1px solid #271e1f;
	background: url(../images/bg-list-li.png) 11px 9px no-repeat;
	}
.list li:first-child{border-top:none;}
.list li a{color:#fb1626;}
.list li a:hover{color:#fff;}
/**********************************index***********************************/
.box-video{
	width:705px;
	float:left;
	}
.box-video .text {padding: 0 5px 0 5px; clear: both;}
.box-full {width: 950px;}
.box-list{
	width:232px;
	float:left;
	}
	.box-list h2 span strong{padding-left:13px;}
.block{
	border:1px solid #292729;
	width:170px;
	float:left;
	background: url(../images/bg-block.jpg) 0 0 repeat-x #1c1a1c;
	padding:5px 0 0 0;
	border-radius: 5px;
	margin:0 2px 3px 2px;
	}
.block-1{padding-bottom:8px !important;}
	.block .desc {
		font-size:11px;
		color:#aea6a8;
		display:inline-block;
		margin: 3px 3px 0 3px;
		line-height: 12px;
		text-align: center;
		height: 130px;
		overflow: hidden;
		}
	.block .lightbox-image{
		border:1px solid #333033;
		margin-left:6px;
		}
	.block .lightbox-image>img {width: 158px; height: auto;}
	.block .lightbox-video{margin-left:6px;}
	.block .lightbox-video>img {width: 158px; height: auto;}
	.block strong{
		display:block;
		padding:8px 10px 0 10px;
		line-height:15px;
		height:48px;
		overflow: hidden;
		text-align: center;
		}
	.block strong a{
		color:#fb1626;
		font-size:12px;
		}
	.block strong a:hover{color:#fff;}
	.block>div{
		overflow:hidden;
		margin:6px 0 0 0;
		padding:0 0 3px 9px;
		height:29px;
		background:url(../images/bg-bottom-block.jpg) 0 bottom repeat-x;
		border-radius: 0 0 5px 5px;
		}
	.block>div img, .block .date{
		float:left;
		margin:7px 1px 0 1px;
		}
.time,.views{
	color:#e5dadc;
	font-size:11px;
	line-height:15px;
	display:inline-block;
	float:right;
	margin:9px 5px 0 0;
	}
.views .eye {width: 11px; height: auto; margin: 2px 4px 0 0;}
.link{
	display:inline-block;
	margin:29px 0 0 0;
	}
.indent p{margin:0 20px;}
/**********************************index-1*********************************/

/**********************************index-2*********************************/

/**********************************index-3*********************************/

/**********************************index-4*********************************/

/**********************************index-5*********************************/

/**********************************index-6*********************************/

/**********************************contact-form****************************/

/****************************footer************************/
footer{ 
	font-family:  Arial, Helvetica, sans-serif  ; 
	font-size: 11px; 
	color:#841124 ;
	background:#240c10 ; 
	text-align:right;
	}
.main-footer{
	padding-top: 15px; 
	padding-bottom: 20px;
	}
.main-footer .text {width: 960px; margin: 0 auto; text-align: center;}
.main-footer a {color:#fb1626;}
footer a{color:#841124 ;}
footer a:hover{color:#fff;text-decoration:underline;}
/*=======================superfish=========================*/
.nav-search{
	background: url(../images/bg-nav-search.jpg) 0 0 repeat-x #a4061b;
	padding:1px 0 ;
	border-radius: 40px;
	margin-bottom:30px;
	}
nav{
	display:inline-block;
	float:left;
	}
.sf-menu{display:block;}
.sf-menu ul {position:absolute; top:-999px; display:none; z-index:999;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:999;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;z-index:999}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;z-index:999}
ul.sf-menu>li{
  background: url(../images/bg-li.jpg) right 0 no-repeat;
  font-family: Arial, Helvetica, sans-serif ; 
  font-size: 13px; 
  line-height:18px;
  float:left; 
  position:relative;
  text-transform:uppercase;
  }
#first-li{border-radius: 40px 0 0 40px;}

ul.sf-menu>li>a{
	display:block;
	position:relative;
	padding:10px 29px 10px 30px;  
	color:#ffffff;
	}
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {background: url(../images/bg-li-hov.jpg) 0 0 repeat-x #e20d21;}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{color:#fff;}

.sf-menu>li>ul{
	left:31px;
	top:43px;
	width:362px;
	z-index:99;
	}
.sf-menu>li>ul>li {
	display:block;
	 float:left !important;
	 font-size: 11px;  
	 background: url(../images/bg-li-li.png) 0 6px no-repeat;
	 padding:0 0 0 9px;
	 margin-right:8px;
     }
.sf-menu>li>ul>li:first-child{}
							
.sf-menu>li>ul>li>a {
	display: inline-block;
	color:#ed182f ;
	}
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:#fff;}
/*====================tabs=====================*/
.tabs{}
/*.tabs{ position:relative; overflow:hidden;height:628px !important;}*/
.tabs .tab-content {}
.tabs ul.nav {}
.tabs ul.nav li {}
.tabs ul.nav li a {display:inline-block;}
.tabs ul.nav li.selected, .tabs ul.nav li:hover {}
.tabs ul.nav li.selected a, .tabs ul.nav li.active a, .tabs ul.nav li a:hover{color:#fff;}

.player-embed {width: 705px; height: 558px;}

.video-view .info {
	/*border: 1px solid #fff;*/
	padding: 10px 0 10px 0;
}
.video-view .info a {color: #fb1626;}

.pagination {padding: 10px 0 10px 0; margin: 0; clear: both; height: 35px;}

.pagination li {
	float: left;
	text-align: center;
	margin: 2px;
	border: 1px solid #333;
	border-radius: 5px;
}
.pagination a {
	min-width: 20px;
	height: 15px;
	color: #fff;
	display: block;
	font-size: 14px;
	line-height: 14px;
	padding: 4px 6px 4px 6px;
}
.pagination .active {
	background-color: #fff;
	border-radius: 5px;
}
.pagination .active a {
	color: #000;
}

.gallery {text-align: center;}
.gallery img {border: 1px solid #fff;}
.gallery li {margin: 5px;}

.btn {
	background-color: #fff;
	font-size: 12px;
	color: #000;
	border-radius: 5px;
	padding: 3px 4px 3px 4px;
}

.articles li {
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #111;
	margin: 10px 0 10px 0;
	padding: 3px;
}

.articles .title {
	color: #fb1626;
	font-size: 16px;
	margin-left: 15px;
}

.articles a {
	color: #ccc;
	text-decoration: underline;
}

.articles .short_text img {
	border: 1px solid #fff;
	border-radius: 3px;
	height: 100px;
	width: auto;
	float: left;
	margin-right: 5px;
}

.article {
	padding: 0 5px 0 5px;
}

.article img {
	border: 1px solid #fff;
	border-radius: 5px;
	height: auto;
	max-width: 300px;
	float: left;
	margin: 5px;
}

.liru {float: left;}

.category-image {
	float: left;
	height: 250px;
	width: auto;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 3px 10px 2px 0;
}

.groups {margin-top: 10px;}
.groups img {width: 100px; height: auto; margin: 0 auto; display: block;}

.social {width: 670px; margin: 0 auto; overflow: hidden;}
.social .text {float: left; font-size: 15px; margin-top: 8px;}
.social .pluso {float: right; width: 320px;}
.social .pluso .pluso-counter {display: none;}
.social .yashare {margin: 4px 0 0 5px;}

.warn18 {
	position: absolute;
	top: 275px;
	margin-left: -70px;
	/*left: -10px;*/
	color: #fff;
	width: 490px;
	line-height: 14px;
}

.recent_news {margin-top: 10px;}
.recent_news .bullet {font-size: 16px; font-weight: bold;}
.recent_news .date {font-size: 11px; line-height: 14px; border-bottom: 1px dashed #ddd; color: #ddd;}
.recent_news .text {color: #fff; font-size: 13px; text-align: center; line-height: 11px; line-height: 14px;}
.recent_news .text a {font-size: 13px; text-decoration: underline; color: #fb1626;}
.news {margin: 30px auto 0 auto;}
.news .item {
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #111;
	margin: 10px 0 10px 0;
	padding: 10px;
	line-height: 20px;
}
.news .date {font-size: 12px; color: #ddd;}
.news .text {font-size: 16px; color: #fff;}
.news .admin {font-size: 12px; color: #ddd;}
.news a {text-decoration: underline; font-size: 16px; color: #fb1626;}