*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
@font-face {
    font-family: PT_Sans-Web-Bold; 
    src: url(../fonts/PT_Sans/PT_Sans-Web-Bold.ttf);
    src: local(PT_Sans-Web-Bold), url(../fonts/PT_Sans/PT_Sans-Web-Bold.ttf); 
   }
@font-face {
    font-family: PTSansNarrow; 
    src: url(../fonts/PTSansNarrowRegular/PTSansNarrow.ttf);
    src: local(PTSansNarrow), url(../fonts/PTSansNarrowRegular/PTSansNarrow.ttf); 
   }
   @font-face {
    font-family: PT_Sans-Web-BoldItalic; 
    src: url(../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf);
    src: local(PT_Sans-Web-BoldItalic), url(../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf); 
   }

   @font-face {
    font-family: PT_Sans-Web-Italic; 
    src: url(../fonts/PT_Sans/PT_Sans-Web-Italic.ttf);
    src: local(PT_Sans-Web-Italic), url(../fonts/PT_Sans/PT_Sans-Web-Italic.ttf); 
   }
   @font-face {
    font-family: Poiret_One; 
    src: url(../fonts/PoiretOne-Regular.ttf);
    src: local(Poiret_One), url(../fonts/PoiretOne-Regular.ttf); 
   }



   @font-face {
    font-family: PT_Sans-Web-Regular; 
    src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
    src: local(PT_Sans-Web-Regular), url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf); 
   }




   @font-face {
    font-family: Ubuntu-Bold; 
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
    src: local(Ubuntu-Bold), url(../fonts/Ubuntu/Ubuntu-Bold.ttf); 
   }

   @font-face {
    font-family: Ubuntu-BoldItalic; 
    src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
    src: local(Ubuntu-BoldItalic), url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf); 
   }
   @font-face {
    font-family: Ubuntu-Italic; 
    src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
    src: local(Ubuntu-Italic), url(../fonts/Ubuntu/Ubuntu-Italic.ttf); 
   }
   @font-face {
    font-family: Ubuntu-Light; 
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
    src: local(Ubuntu-Light), url(../fonts/Ubuntu/Ubuntu-Light.ttf); 
   }
   @font-face {
    font-family: Ubuntu-LightItalic; 
    src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
    src: local(Ubuntu-LightItalic), url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf); 
   }
   @font-face {
    font-family: Ubuntu-Medium; 
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
    src: local(Ubuntu-Medium), url(../fonts/Ubuntu/Ubuntu-Medium.ttf); 
   }
   @font-face {
    font-family: Ubuntu-MediumItalic; 
    src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
    src: local(Ubuntu-MediumItalic), url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf); 
   }
   @font-face {
    font-family: Ubuntu-Regular; 
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
    src: local(Ubuntu-Regular), url(../fonts/Ubuntu/Ubuntu-Regular.ttf); 
   }
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
    font-size: 22px;
    color: #3d3d3d;
	position: relative;
	line-height: 1.6;
    font-family: PT_Sans-Web-Regular;
    width: 88%;
    margin: auto; 
}
.hidden {
	display: none;
}
.container-fluid {
    max-width: 100%;
}
.container-fluid1 {
    max-width: 1170px;
    margin:auto;
    padding: 0 15px;
}
.container-fl{
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
}
header {
    padding-top: 40px;
    padding-bottom: 18px;
}
header p {
    font-size: 21px;
    margin-top: 7px;
    color: #979797;
    letter-spacing: 1px;
    margin-left: 0;
    margin-right: -3%;
}

.container-fl img {
    width: 100%;
}
#header .left img{
    margin-top: 62%;
    margin-left: 37%;
    width: 70%;
    margin-bottom: -33%;
} 
#header .row.rrr {
    background: url(../img/header_bg.jpg) no-repeat;
    background-size: cover;
}
#header .left {
    z-index: 10;
    position: relative;
}
#header .right {
    background: #5c457c;
    color: #fff;
    text-align: center;
    padding-top: 9%;
    padding-bottom: 12.2%;
}
#video .row .col-lg-12, .bold .col-lg-12{
   padding: 0
}
    .video-js{
    margin: auto!important;

}
.vjs-big-play-centered .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-top: -1.75em;
    margin-left: -1.5em;
    background: url(../img/play-button.png);
}
.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 100px;
    width: 100px;
    background-size: 100%;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;    top: 50%;
    left: 50%;
    margin-top: -1.75em;
    margin-left: -1.5em;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
h1 {    
    font-size: 60px;
    margin: 1% 0;
    font-family: Poiret_One;
    line-height: 60px;
}
.price p{
    font-family: Ubuntu-Regular;
    font-size: 40px;
    margin: 0 0;
    line-height: 33px;
    color: #ffb6ed;
}
.price p .span{
    color: #d6bdff
}
.vjs-controls-disabled .vjs-big-play-button, .vjs-has-started .vjs-big-play-button, .vjs-using-native-controls .vjs-big-play-button, .vjs-error .vjs-big-play-button {
    display: none;
}
.timer .pp {
    font-family: PT_Sans-Web-Italic;
    font-size: 27px;
    margin-bottom: -5px;
}
.result-second, .result-hour, .result-minute{
    font-family: PT_Sans-Web-Bold;
    font-size: 46px;
    color: #000;
    display: block;
background: url(../img/time_bg.png)no-repeat center;
    padding: 15% 0;
    width: 100%;
    background-size: contain;
}
.result{
    float: left;
    width: 26%;
    margin: 0;
    margin-right: 11%;
}
.clear{
	clear: both;
}
.first-my-content{
    width: 60%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}
.ss,.mn,.hh {
    font-size: 30px;
    line-height: 20px;
}
.btn{
    background: #e745be;
    border: none;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 15px 90px;
    border-radius: 50px;
}
.btn:hover{
    background: #c933a5
}
#benefits{
    background: #cb28a2;
    padding: 55px 0px 40px 0px;
    margin-top: -1px;
}
#benefits center p{
    font-size: 24px;
    color: #fff;
    margin: 0;
    margin-top: 20px;
    line-height: 25px;
}
.all .right{
    text-align: center;
}
.all .right h2{
    color: #5c457c;
    font-size: 50px;
    padding-top: 15%;
    font-family: Poiret_One;
    margin-bottom: 30px;
}

.zero{
	margin-right: 0!important
}
.all .right p {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-bottom: 4.5%;
}
.all .left{
    text-align: center;
}
.all .left h2{
    color: #5c457c;
    font-size: 50px;
    padding-top: 15%;
    font-family: Poiret_One;
    margin-bottom: 30px;
}
.all .left p {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-bottom: 4.5%;
}
#dreams_come_true .row{
    background: url(../img/dreams_come_true_bg.jpg) no-repeat top center #f8f8f8;
    background-size: cover;
}
#dreams_come_true .right {
    padding-bottom: 9%;
}
#forget_about_it .left {
    padding-bottom: 8.7%;
}
#forget_about_it .left h2 {
    padding-top: 11%;
}
#forget_about_it .row{
       background: url(../img/forget_about_it_bg.jpg) no-repeat top center #f8f8f8;
    background-size: cover;
}
#stripe1{
    background: #5c457c;
    color: #fff;
    font-size: 44px;
    text-align: center;
    padding: 3.5% 0 3.4% 0;
    line-height: 50px;
    font-family: PTSansNarrow; 
}
#benefits img.ff2 {
    margin-bottom: 15%;
}
#shape .row{
    background: url(../img/shape_bg.jpg) no-repeat top center #f8f8f8;
    background-size: cover;
}
#shape .right{
    padding-bottom: 11%;
}
#stripe2{
    background: #cb28a2;
    color: #fff;
    font-size: 44px;
    text-align: center;
    padding: 3.5% 0 3.4% 0;
    line-height: 50px;
    font-family: PTSansNarrow; 
}
#safety .left {
    padding-bottom: 7%;
}
#safety .left h2 {
    padding-top: 14%;
}
#safety .row {
    background: url(../img/safety_bg.jpg) no-repeat top center #f8f8f8;
    background-size: cover;
}
#ask {
    background: #5c457c;
    padding: 7% 6% 4% 6%;
}
#ask .img {
    float: left;
    width: 16%;
}
header center{
    width: 28%;
    margin: auto;
    text-align: left;
}
#ask .acks{
    float: right;
    width: 84%;
    padding-left: 15px;
    color: #fff;
}
#ask .acks .name{
    font-size: 45px;
    margin: 0;
}
#ask .ll .img {
    float: right;
}
#ask .ll .acks{
    float: left;
    text-align:right;
    padding-right: 15px
    }
#ask .row{
    margin-bottom: 3%;
}
#quality .row {
    background: url(../img/quality_bg.jpg) no-repeat top center #f8f8f8;
    background-size: cover;
}
#quality .right{
    padding-bottom: 11%;
}
#order{
    background: #5c457c;
    padding-bottom: 150px;
}
#order .right {
    background: #fff;
    margin-top: -21%;
    padding: 5% 3% 0% 3% ;
}
#order .right h4 {
    font-family: Poiret_One;
    font-size: 50px;
    text-align: center;
    margin: 0;
}
#order .f_prod{
    width: 77%;
    margin: 5px 0 0 12px;
}
.color_1{
    width: 100%;
    height: 42px;
    background: #e9d1a9;
    margin-top: 7%;
}
.color_2{
    width: 100%;
    height: 42px;
    background: #3d3d3d;
    margin-top: 7%;
}
#order .right span{
    font-size: 19px;
}
#order .dd_order{
    background: #cb28a2;
    margin-top: 8%;
    margin-left: -8.5%;
    margin-right: -8.5%;
    color: #fff;
    text-align: center;
    padding: 1px 0;
}
#order .result-second, #order .result-hour, #order .result-minute{	
    font-size: 56px!important;
}
.ss, .mn, .hh {
    font-size: 30px!important;
    line-height: 20px;
}
#order .first-my-content {
    margin-top: 3px;
    width: 80%;
}
#order .left {
    padding-top: 4%;
    text-align: center;
}
#order .left h2 {
    font-size: 60px;
    margin: 1% 0;
    font-family: Poiret_One;
    color: #fff;
    line-height: 60px;
}
#order form{
    margin-top: 40px;
    max-width: 580px;
    text-align: center;
}
#order form input, #order form select{
    width: 90%;
    padding: 14px 20px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 33px;
}
#order .btn{
    width: 90%
}
footer{
    background: #3d3d3d;
    color: #fff;
    padding: 40px 0;
}
footer p{
    margin: 0;
}
footer a{
    color: #ff96e5;
    text-decoration: underline;
}
footer a:hover{
    color: #ff96e5;
    text-decoration: none;
}
@media only screen and (max-width : 1200px) {
	body {
    width: 100%;
    margin: auto;
    font-size: 18px;
}

header center{
    width: 35%;
    margin: auto;
    text-align: left;
}
h1 {
    font-size: 48px;
    margin-bottom: 0;
}
.price p {
    font-size: 32px;
}
.timer .pp {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 18px;
   }
.result-second, .result-hour, .result-minute {
    font-size: 45px;
    background-size: contain;
}
.ss, .mn, .hh {
    font-size: 23px!important;
    line-height: 20px;
}
.btn {
    font-size: 18px;
    padding: 15px 15%;
}
.first-my-content {
    width: 70%;
    margin-top: 11px;
}
.result {
    width: 30%;
    margin-right: 5%;
}
#benefits center p {
    font-size: 18px;
    margin-top: 15px;
    line-height: 18px;
}
.all .right h2, .all .left h2 {
    color: #5c457c;
    font-size: 40px;
    margin-bottom: 20px;
}
#stripe1, #stripe2 {
    font-size: 34px;
    padding: 3.5% 0 3.4% 0;
    line-height: 40px;
}
#ask .acks .name {
    font-size: 34px;
    margin: 0;
    line-height: 34px;
}
#ask .img {
    float: left;
    width: 16%;
}
#ask .acks {
    float: right;
    width: 84%;
}
#order .right h4 {
    font-size: 40px;
}
#order .right span {
    font-size: 15px;
}
#order .result-second, #order .result-hour, #order .result-minute {
    font-size: 45px!important;
}
#order .left h2 {
    font-size: 48px;
}
#order .left {
    padding-top: 4%;
    text-align: center;
}
#order .btn {
    width: 80%;
}
#order form input, #order form select {
    width: 80%;
    margin-bottom: 20px;
}
#dreams_come_true .right {
  
    padding-bottom: 8%;

}
.all .right h2 {
    padding-top: 14%;
    }
.logo{
    width: 100%;
}
header {
    padding-top: 34px;
    padding-bottom: 15px;
}
header p {
    font-size: 18px;
}
#header .right {
    padding-top: 11.3%;
    padding-bottom: 12.5%;
}
#header .left img {
    margin-top: 72%;
}
#benefits {
    padding: 47px 0px 35px 0px;
}
#benefits img.ff{
    width: 43%;
}
#benefits img.ff2{
    width: 38%;
    margin-bottom: 23px;
}
#benefits img.ff3 {
    width: 39%;
}
#benefits img.ff4 {
    width: 37%;
}
#forget_about_it .left h2 {
    padding-top: 14%;
}
#forget_about_it .left {
    padding-bottom: 3.7%;
}
#stripe1, #stripe2 {
    padding: 3.9% 0 4.2% 0;
}
#shape .right {
    padding-bottom: 11%;
    margin-top: 2.5%;
}
#safety .left {
    padding-bottom: 5.5%;
}
#safety .left h2 {
    padding-top: 16%;
}
#quality .right {
    padding-bottom: 10%;
    margin-top: 4%;
}



}

@media only screen and (max-width : 992px) {
h1 {
    font-size: 32px;
}
header p {
    font-size: 14px;
}
.timer .pp {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.result-second, .result-hour, .result-minute {
    font-size: 30px;
    background-size: contain;
}
.btn {
    font-size: 12px;
    padding: 15px 10%;
    letter-spacing: 4px;
}
#benefits center p {
    font-size: 12px;
    margin-top: 10px;
    line-height: 12px;
}
.all .right h2, .all .left h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
body {
    font-size: 13px;
    line-height: 1.6;
}
#stripe1, #stripe2 {
    padding: 3.9% 0 4.2% 0;
    font-size: 24px;
    line-height: 24px;
}
#ask .acks .name {
    font-size: 24px;
    margin: 0;
    line-height: 24px;
}
#order .right h4 {
    font-size: 27px;
}
#order .right {
    padding: 3% 3% 0% 3%;
    font-size: 12px;
}
#order .right span {
    font-size: 10px;
}
#order .left h2 {
    font-size: 34px;
}
.price p {
    font-size: 21px;
}
#order form input, #order form select {
    width: 70%;
    margin-bottom: 12px;
    padding: 10px 14px;
}
#order .btn {
    width: 70%;
}
#order {
    padding-bottom: 50px;
}
.ss, .mn, .hh {
    font-size: 16px!important;
    line-height: 10px;
}
#order .result-second, #order .result-hour, #order .result-minute {
    font-size: 30px!important;
}

}

@media only screen and (max-width : 768px) {
	header p {
    font-size: 12px;
    
    margin-right: 0;
}
#order form {
    max-width: 410px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
h1 {
    font-size: 25px;
}
.price p {
    font-size: 18px;
}
.timer .pp {
    font-size: 13px;
    margin-top: 0px;
}
#order .dd_order {
    margin-left: 0;
    margin-right: 0;
}
#order .f_prod {
    width: 30%;
    margin: auto;

    max-width: 140px;
    margin-top: 20px;
    margin-bottom: -20px;
}
#order .right {
    padding: 0 15px;
    font-size: 13px;
    margin-top: 0;
    padding-top: 12%;
    text-align: center;
}
.null{
	margin-left: -15px;
	margin-right: -15px;
    background: #f8f8f8;
}
.null img{
    max-width: 350px;
    margin: auto;
    background: #f8f8f8;
}
#dreams_come_true .right, #forget_about_it .left, #shape .right, #safety .left, #quality .right {
    padding-bottom: 40px;
    background: #f8f8f8;
}
.all .right h2, .all .left h2 {
    font-size: 24px;
}
.all .right p {
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 2.5%;
}
#stripe1, #stripe2 {
    padding: 8.9% 0 9.2% 0;
    font-size: 18px;
    line-height: 20px;
}
#shape .row,#forget_about_it .row,#quality .row {
    background: #f8f8f8;
    background-size: cover;
}
#ask .acks {
    width: 65%;
}
#ask .acks br{
	display: none;
}
#ask .img {
    width: 35%;
}
#order .right h4 {
    font-size: 24px;
    color: #5b477e;
    font-weight: bold;
}
#order .left h2 {
    font-size: 26px;
    line-height: 26px;
}
#order form input, #order form select {
    width: 80%;
    padding: 8px 14px;
}
#order .timerhello_52 {
    width: 70%;
    margin: auto;
}
.video-js{
    height: 186px!important;
}
#forget_about_it .left h2 {
    padding-top: 20px;
}
#shape .right {
    margin-top: 0%;
}
#order {
    padding-bottom: 70px;
}
footer {
    padding: 30px 0;
}
#ask {
    background: #5c457c;
    padding: 40px 1% 40px 1%;
}
#ask p:nth-child(2){
    margin: 5px 0 5px 0;
}
#safety .left h2 {
    padding-top: 20px
}
.btn {
    letter-spacing: 2px;    
    font-size: 12px;
    padding: 10px 15%;
}
#order .btn {
    width: 80%;
}
.logo {
    width: 55%;
    max-width: 250px;
    margin: auto;
}
header center {
    width: 100%;
    margin: auto;
    text-align: center;
}
header {
    padding-top: 35px;
    padding-bottom: 8px;
}
#header .right {
    padding-top: 40px;
    padding-bottom: 60px;
}
h1 {
    font-size: 25px;
    line-height: 33px;
}
.timer .pp {
    margin-top: 10px;
}
#benefits {
    padding: 33px 0px 35px 0px;
}
#benefits img.ff {
    width: auto;
    max-width: 75px;
}
#benefits img.ff2 {
    width: auto;
    margin-bottom: 15px;
    max-width: 70px;
}
.mb {
    margin-bottom: 38px;
}
#benefits img.ff3 {
    width: auto;
    max-width: 69px;
}
#benefits img.ff4 {
    width: auto;
    max-width: 65px;
}
.all .right h2 {
    padding-top: 20px;
}
.color_1, .color_2 {
    width: 100%;
    height: 25px;
    margin-top: 0px;
}
.flee, .free {
    width: 45%;
    float: left;
    display: inline-block;
}
.flee {
    margin-right: 10%;
}
#order .left {
    padding-top: 50px;
    }
.one, .three{
    float: right;
    max-width: 150px;
}
.two{
    max-width: 150px;
    float: left;
}
#order .result-second, #order .result-hour, #order .result-minute {
    font-size: 26px!important;
}
.container-fluid1 {
    max-width: 380px;
    margin: auto;
    padding: 0 15px;
}
.block_xs{
    width: 70%;
    margin: auto;
    text-align: left;
}
}

