body {margin: 0; padding: 0; background-color: #eee; font-family: Verdana;}
.logo_holder {min-width: 1200px; background-color: #004;}
.logo_holder .menu {width: 236px; float: left; margin: 10px 0 0 10px; text-align: center;}
.logo_holder .menu li {width: 115px; margin-left: 3px;}
.logo_holder .menu a {color: #fff; font-size: 24px; font-weight: bold; background-color: rgba(67, 172, 240, 0.43); line-height: 24px;}
.logo_holder .menu a:hover {background-color: #43ACF0;}
.logo_holder .middle {width: 1200px; margin: 0 auto;}
/*.logo_holder .text {margin-top: 5px; float: right; width: 570px; height: 57px; overflow: hidden; font-size: 10px; color: #fff; line-height: 11px;}*/
.logo {float: left; width: 380px; height: 70px; font-size: 50px; font-weight: bold; overflow: hidden; padding-top: 17px;}
.logo a {line-height: 50px; text-decoration: none;}
/*.logo .sex {color: #43ACF0; text-shadow: 2px 2px 4px red;}
.logo .home {color: #43ACF0; text-shadow: 2px 2px 4px red;}*/
.logo .sex {color: #fff; text-shadow: 2px 2px 4px #43ACF0;}
.logo .home {color: #fff; text-shadow: 2px 2px 4px #43ACF0;}
.logo .tv {width: 80px; height: 80px; float: left; margin: -20px 10px 0 0;}
.logo .under_text {font-size: 11px; color: #00FF53; line-height: 12px; font-weight: bold; float: left; width: 280px; text-align: center; margin-top: 3px;}
.logo_holder .search {width: 290px; margin: 30px 0 0 0; float: right;}
.logo_holder .search .text {width: 200px; margin: 0;}
.content_holder {width: 1206px; margin: 0 auto; background-color: #004;}
.most_popular_videos {margin-bottom: 10px; margin: 0 5px 0 5px;}
.most_popular_videos .title {font-size: 12px; font-weight: bold; color: #c90063; text-align: center; padding-bottom: 5px;}
.most_popular_videos .list {text-align: left; border-bottom: 1px solid #555; line-height: 12px; margin: 0 5px; color: #fc0;}
.most_popular_videos .list a {font-size: 10px; color: #fff;}
.categories {width: 204px; float: left; margin: 0; padding: 0;}
.categories ul li a {display: block; padding-top: 5px; color: #fff; text-decoration: none; font-size: 13px;}
.categories ul {margin: 0; padding: 0; list-style-type: none; margin-bottom: 10px;}
.categories li {padding-left: 10px; height: 30px; border-bottom: 1px solid #333;}
.categories li:hover, .categories .active {background-color: rgba(0, 136, 204, 0.41); border-right: 3px solid red;}
.categories-title {padding: 10px 0 15px 0; font-size: 14px; font-weight: bold; color: #fff; text-align: center; border-bottom: 1px solid #333;}
.content {width: 990px; min-height: 1350px; float: right; background-color: #fff; border: 1px solid #ccc; padding: 5px;}
.footer {width: 1200px; margin: 0 auto;}
.footer .text {font-size: 11px; color: #444; line-height: 15px; margin-bottom: 5px;}
.footer .text p {margin: 3px 0 3px 0;}
.videos-thumbs {width: 990px; margin-bottom: 20px;}
.videos-thumbs .thumb {width: 237px; float: left; margin: 4px; border: 1px dashed #ccc;}
.videos-thumbs .thumb:hover {background-color: #eee;}
.videos-thumbs .thumb img {width: 217px; height: auto; border: 3px solid #ddd;}
.videos-thumbs .thumb .title {height: 40px; padding: 2px; text-align: center; font-weight: bold; font-size: 12px; line-height: 13px; overflow: hidden;}
.videos-thumbs .thumb .img {height: 170px; overflow: hidden; margin: 0 auto; padding: 2px; border-top: 1px dashed #ccc; text-align: center; background-color: #fff;}
.videos-thumbs .thumb .img a {display: block;}
.videos-thumbs .thumb a {color: #333; display: block;}
.videos-thumbs .thumb .description {height: 95px; border-bottom: 1px dashed #ccc; overflow: hidden; background-color: #fff; text-align: center; font-size: 11px; line-height: 15px; font-family: Arial;}
.videos-thumbs .thumb .deleted {display: none;}
.info {padding: 2px; margin: 0 auto;}
.info .rating-holder {width: 90px; float: right; font-size: 10px;}
.info .rating-holder .votes {text-align: center;}
.info .views {width: 70px; float: left; font-size: 12px;}
.pagination {margin: 0 0 0 10px;}
.pagination a {color: #000;}
.breadcrumb a {color: #c90063; font-weight: bold;}
.breadcrumb h1 {font-size: 14px; display: inline; line-height: 14px;}
.category-description {margin: 0; font-size: 12px;}
.category-description img {max-height: 250px; width: auto; margin: 0 10px 10px 0; float: left;}

.player {text-align: center;}
.player .left {width: 680px; float: left; text-align: center;}
.player .right {width: 300px; float: right;}
.video-info {width: 940px;}
.video-info .left {float: left; width: 570px;}
.video-info .right {float: right; width: 163px; text-align: right;}
.video-info .right #rating {margin-top: 10px;}
.video-info h2 {font-size: 16px; margin: 0;}
.index-text {font-size: 11px; line-height: 13px;}
.index-text p {margin-top: 3px; margin-bottom: 3px;}
.index-text img {float: left; margin: 0 10px 10px 0; width: 190px; height: auto;}
.social {width: 800px; height: 40px; margin-left: 175px;}
.social .text {float: left; font-size: 14px; margin-top: 10px;}
.social .pluso {float: right;}
.social .yashare {margin: 4px 0 0 5px;}
.counter {float: right; float: left; width: 88px; height: 17px;}
.feedback {float: right; width: 830px; padding-top: 5px;}
.feedback a {color: #000;}
.contact {width: 800px; margin: 0 auto;}
.contact textarea {width: 800px;}

.vk_group {display: block; width: 150px; height: 150px; margin: 0 auto; margin-bottom: 10px;}
.vk_group img {width: 150px; height: auto;}
.recent_news .news {text-decoration: underline; font-size: 14px; color: #fff;}
.recent_news .date {font-size: 9px;}
.recent_news .title {font-weight: bold; color: #fff; text-align: center;}
.recent_news .text {color: #ddd; font-size: 11px; text-align: center; line-height: 11px;}
.recent_news .text a {font-size: 11px;}
.news .item {margin-bottom: 10px;}
.news .date {font-size: 10px;}
.news .text {}
.news .admin {font-size: 10px;}
.guestbook .title {color: #c90063; font-weight: bold; font-size: 15px; margin-bottom: 10px;}
.guestbook .user {font-weight: bold; font-size: 12px;}
.guestbook .date {font-size: 10px;}
.guestbook .add {margin-left: 10px; font-weight: bold; margin-bottom: 10px;}
.guestbook .name input {width: 200px;}
.guestbook .text textarea {width: 500px; height: 80px;}
.guestbook form {margin-left: 10px;}

.stories {margin: 10px 0 0 0;}
.stories .more {text-align: right;}
.stories ul {margin: 0;}
.stories li {margin: 20px auto; list-style-type: none;}
.stories .title{color: #C03; font-weight: bold; font-size: 20px; margin-left: 15px;}
.stories .more {color: #C03;}
.stories .text {margin-bottom: 0;}
.stories .short {max-height: 200px; overflow: hidden;}
.stories .short img {max-height: 100px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}

.story h1 {margin-left: 10px; font-size: 30px;}
.story img {max-height: 500px; max-width: auto; margin: 0 5px; border: 1px solid #ccc;}
.h1_rating #rating {height: 55px;}
.h1_rating .left {float: left; width: 800px; text-align: center;}
.h1_rating .right {float: right; margin-top: 15px; width: 190px;}

.warn18 {
    display: block;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat -379px 0;
    position: absolute; 
    width: 90px; 
    height: 93px; 
    right: 0; 
    top: 0; 
    z-index: 999; 
    cursor: default;
}
.warn18 .tip {
    display: none;
    background: url(/types/videohub/template/images/warn18-sprite.png) no-repeat 0 0;
    width: 302px;
    height: 115px;
    padding: 30px 10px 0;
    top: 67px;
    right: 10px;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    cursor: default;
}
.warn18:hover .tip {display: block;}

.gallery {text-align: center;}
.gallery img {border: 1px solid #fff;}
.gallery li {margin: 5px; list-style-type: none;}
.photos-thumbs {width: 990px; margin-bottom: 20px;}
.photos-thumbs .thumb {width: 188px; float: left; margin: 4px; border: 1px dashed #ccc;}
.photos-thumbs .thumb:hover {background-color: #eee;}
.photos-thumbs .thumb img {width: 170px; height: auto; border: 3px solid #ddd;}
.photos-thumbs .thumb .title {height: 40px; padding: 2px; text-align: center; font-weight: bold; font-size: 12px; line-height: 13px; overflow: hidden;}
.photos-thumbs .thumb .img {height: 220px; overflow: hidden; margin: 0 auto; padding: 2px; border-top: 1px dashed #ccc; text-align: center; background-color: #fff;}
.photos-thumbs .thumb .img a {display: block;}
.photos-thumbs .thumb a {color: #333; display: block;}
.photos-thumbs .thumb .description {height: 110px; border-bottom: 1px dashed #ccc; overflow: hidden; background-color: #fff; text-align: center; font-size: 11px; line-height: 15px; font-family: Arial;}
.photos-description {font-size: 11px; line-height: 13px;}
.photos-description p {margin-top: 3px; margin-bottom: 3px;}
.photo-main {margin-bottom: 10px;}

.social_groups {text-align: center;}
.social_groups img {width: 70px; height: auto;}
.social_groups .title {font-weight: bold; color: #fff;}

.h4 {font-size: 16px; font-weight: bold; line-height: 30px;}
.comments .list {margin: 0; padding: 0; padding-bottom: 20px;}
.comments .list li {margin: 0; padding: 0; list-style-type: none; width: 500px; margin-bottom: 10px;}
.comments .list .user {width: 150px; margin-right: 97px; float: left; overflow: hidden;}
.comments .list .date {width: 250px; float: left; overflow: hidden; text-align: right;}
.comments .list .text {clear: both;}
.comments-add .user {width: 300px;}
.comments-add .text {width: 500px; height: 150px;}

.recent_comments .date {font-size: 9px;}
.recent_comments .title {font-weight: bold; color: #fff; text-align: center;}
.recent_comments .text {color: #ddd; font-size: 11px; text-align: center; line-height: 11px;}
.recent_comments .text a {font-size: 11px;}

.player_xv iframe, .player_ph iframe {width: 608px; height: 481px;}