* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

p {
    font-size: 16px;
    text-align: justify;
}

h1 {
    font-size: 34px;
    line-height: 54px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

.col {
    margin: 0px 10px;
    padding: 20px;
}

.wrapper.grey {
    background: #ECF0F1;
    border-top: 1px solid #d3d9dd;
    border-bottom: 1px solid #d3d9dd;
    padding: 80px 0px;
}

.item.header {
    padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
	margin-top: 30px;
}

.videoWrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.offer {
    text-align: center;
    font-size: 28px;
}

.wrapper.grey {
    background: #ECF0F1;
    border-top: 1px solid #d3d9dd;
    border-bottom: 1px solid #d3d9dd;
    padding: 90px 0px;
}

.navbar.plain .navbar-nav a {
    color: #7F8C8D;
    text-transform: uppercase;
    font-weight: normal;
}

.navbar {
    margin-bottom: 5px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar.plain .navbar-nav, .navbar-grey .navbar-nav {
    margin-top: 15px;
}

.divider {
    line-height: 0px !important;
    height: 0px;
    border-width: 3px;
    border-color: #CBD0D3;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.divider.dashed {
    border-style: dashed;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.divider > span {
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    padding: 0px 20px;
}

.btn {
    font-size: 18px;
}

.button-ordrer {
    text-align: center;
}

.timer-title
 {
   font-size: 22px;
}

.timer {
    display: inline-block;
}

.timer ul {
    padding: 0;
    margin: 0;
}

.timer li {
    list-style: none;
    float: left;
    margin-right: 10px;
    font-size: 32px;
    font-weight: 600;
}


.price-old {
    text-decoration: line-through;
}

.price-new {
    color: rgba(228, 26, 26, 0.81);
}

.order-title {
    padding-bottom: 30px;
}

.shipping {
    margin-top: -20px;
    padding-bottom: 30px;
}

.scheme {
    margin-top: -30px;
}

.form-control {
    height: 50px;
    margin-bottom: 20px;
}

.input-lg {
    height: 50px;
}

.offer img {
  width: 100%;
}

.scheme img {
    width: 50%;
}

#shipping img {
    width: 70%;
}

#product  li {
	list-style-type: square;
	margin-left: 5%;
}

.footerWrapper {
    padding-top: 0px;
}

.footer.dark {
    background: #34495e;
    padding: 30px 0px 30px;
    font-weight: 200;
    color: #CBD0D3;
    font-size: 16px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}

/*****************************slider*****************************/
/********************base config*************/
.flexslider {
    position: relative;
}

.flex-control-nav {
    display: none;
}

.slides {
    float: left;
}

.slides li {
    list-style: none;
}

.flex-next, .flex-prev {
    position: absolute;
    margin-top: -40px;
    text-indent: -9999999px;
}

/********************base config end*************/
/********************user config*************/
.flexslider {
    width: 90%;
    margin: 0px auto 0px auto;
}

.slides li .review {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.flex-next {
    background: url("../img/arrow_right.png") no-repeat center center;
    width: 14px;
    height: 26px;
    right: -5%;
    top: 40%;
}

.flex-prev {
    background: url("../img/arrow_left.png") no-repeat center center;
    width: 14px;
    height: 26px;
    left: -5%;
    top: 40%;
}

.flexslider .review p {
    text-align: justify;
}

.flexslider .review h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.modal p {
    margin: 0;
    font-size: 14px;
}


.for-mobile {
    display: none;
}





/***------------------640----------------------***/
@media screen and (max-width: 979px) {

.for-mobile {
    display: block;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
}


.offer img {
  width: 60%;
}

.scheme img {
    width: 30%;
}

#shipping img {
    width: 30%;
}

}

/***------------------320----------------------***/
@media screen and (max-width: 639px) {

.for-mobile {
    display: block;
}

h1 {
    font-size: 26px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
}

.scheme img {
    width: 30%;
}

#shipping img {
    width: 30%;
}

}