#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#myModal   { display:none; background: #FFFFFF; }
#myModal2  { display:none; background: #FFFFFF; }
#myModal3  { display:none; background: #FFFFFF; }
#myModal4  { display:none; background: #000000;
	    	-moz-border-radius: 10px;
	    	-webkit-border-radius: 10px;
	    	border-radius: 10px;
	    	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	    	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	    	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
#myModal5  { display:none; background: #000000;
	    	-moz-border-radius: 10px;
	    	-webkit-border-radius: 10px;
	    	border-radius: 10px;
	    	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	    	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	    	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}



.modal_close {
		font-size: 26px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #FFFFFF;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: normal;
		cursor: pointer;
        font-family: Arial;
}

#note  { margin: 0 auto 0 auto; position: relative; top: -365px; background: #D3BB18; font-size: 20px; line-height: 28px; text-align: center;}
.note  { padding-top: 25px; }

#note2  { margin: 0 auto 0 auto; position: relative; top: -525px; background: #D3BB18; font-size: 19px; line-height: 24px; text-align: center;}
.note  { padding-top: 20px; padding-bottom: 20px; }

#note3  { margin: 0 auto 0 auto; position: relative; top: -520px; background: #D3BB18; font-size: 19px; line-height: 32px; text-align: center;}

#note4  { width: 600px;  margin: 0 auto 0 auto; position: relative; top: -45px; left: -130px; background: #000000; color: #D3BB18; font-size: 20px; line-height: 24px; font-family: 'EuropeNormal', Arial, Helvetica; text-align: center;}
