.selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.selectbox .select {
	width: 300px;
	height: 33px;
	padding: 12px 45px 0 10px;
    margin: 0 0 20px 15px;
    font-family: 'EuropeNormal', Arial, Helvetica;
    font-size: 19px;
    font-weight: normal;
	color: #000000;
	text-shadow: 1px 1px #FFF;
	background: #FFFFFF url(../images/sel.png) no-repeat right center;
	border-radius: 10px;
	box-shadow:  0 1px 5px #666 inset;
}
.selectbox .select:hover {
	background: #FFFFFF url(../images/sel.png) no-repeat right center;
}
.selectbox .select:active {
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}
.selectbox.focused .select {
	border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	height: 33px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 47px;
	height: 100%;
	border-left: 1px solid #CCC;
}
.selectbox .trigger .arrow {
    display: none;
	position: absolute;
	top: 14px;
	right: 12px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.selectbox:hover .arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.selectbox .dropdown {
	top: 40px;
	width: 330px;
	margin: 0 0 0 20px;
	padding: 4px 0;
	background: #FFF;
	border: 1px solid #C6CBD0;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    font-family: 'EuropeNormal', Arial, Helvetica;
    font-size: 19px;
    font-weight: normal;
}
.selectbox li {
	padding: 5px 10px 6px;
	color: #231F20;
}
.selectbox li.selected {
	background: #A3ABB1;
	color: #FFF;
}
.selectbox li:hover {
	background: #D3BB18;
	color: #000;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}