/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers *//* after_qbici */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}/* owmen17 */

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* bizlife_inc */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}

.hidden{display: none;}
.clear{clear: both;height: 0px;}
.invis{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}

html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.opacity-75{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}
.shadow-text{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.shadow-55{
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.55);
    box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.55);
}
.border-4{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}/* owmen17 */
.animate {
    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    -o-transition:      all 0.3s;
    -ms-transition:     all 0.3s;
    transition:         all 0.3s;
}

h1,h2,h3,h4,h5,h6{font-weight: 300;}

h2 {
    color: #222222;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}
h2 span {
    color:#555555; 
    font-size: 24px;
    display: block;
    margin-bottom: 20px; 
}

h3 {
    color: #ca191d;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h4 {
    font-size: 18px;
    color: #222222;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

b, strong{font-weight: 700;}
i{font-style: italic;}

.red {color: #cb1a1e;}
.white {color:#fff;}
.yellow {color:#ffde00;}
.f-normal{font-weight: normal;}

body{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
    color: #333;
    overflow-x:hidden;
    background: #edefee;
}
.main-wrap{
    position: relative;
    width: 480px;
    margin: 0px auto;
}
.section, .wrap, .container{
    position: relative;
}
.section{
    position: relative;
    padding: 40px 20px 45px;
}
.button-m {
    position: relative;
    display: block;
    width: 340px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    outline: none;
    border: 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #111;
    background: #ffde00;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 4px solid #c9af00;
    border-radius: 10px;
    z-index: 1;
}
form>div{
    position: relative;
    padding-bottom: 15px;
}
form>div:last-child{
    padding-bottom: 0;
}
form input {
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 340px;
    height: 68px;
    line-height: 68px;
    margin: 0 auto;
    background: #fff;
    text-indent: 15px;
    font-size: 20px;
    font-family: "Open Sans", 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    border-radius: 10px;
}
form input:focus{
    border-color: #222;
}
h1{
    line-height: 1em;
}
h2.zag{
    position: relative;
    padding: 0 0 20px 0;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
h3.zag{
    font-size: 20px;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
h2.col-1{
    color: #fff;
}
h2.col-1>b{
    color: #f58607;
}
h2.col-2{
    color: #222;
    border-bottom: 1px solid rgba(0,0,0,0.2); 
}
h4{
    padding-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5em;
}

.nobold {font-weight: 400 !important;}

.countbox{
    margin: 0 auto;
    padding: 0 0 50px;
    line-height: 1.2; 
    font-size: 30px; 
    width: 288px; 
    font-weight: 400;
    text-align: center;
    color: #235569;
}
.countbox .countbox-num{
    float: left; 
    width: 76px; 
    height: 48px; 
    line-height: 46px; 
    position: relative;
    color: #222;
}
.countbox .countbox-space{
    float: left; 
    width: 30px; 
    height: 48px;
    color: #fff;
    line-height: 44px;
}
.countbox .countbox-space:before{content: '\003A'; font-weight: 400;}
.countbox-hours1,.countbox-mins1,.countbox-secs1{
    float: left; 
    width: 36px;
    height: 48px;
    margin: 0 1px;
    text-align: center;
    background-image:url('../img/timer-bg.png');
    background-repeat:no-repeat;
    z-index:1;
}
.countbox-hours2,.countbox-mins2,.countbox-secs2{
    float: left; 
    width: 36px;
    height: 48px;
    margin: 0 1px;
    text-align: center;
    background-image:url('../img/timer-bg.png');
    background-repeat:no-repeat;
    z-index:1;
}
.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{
    background-position: center;
    background-repeat:no-repeat;
    position: absolute;
    margin-top: 38px;
    height: 18px;
    width:76px; 
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}