html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
/* ::::: http://baellerry.brainshop24.ru/style.css ::::: */

.cont { width: 900px; margin: 0px auto; }
header { height: 615px; background: transparent url('../images/glavnaya.jpg') repeat scroll 0% 0% / cover ; }
header img { display: block; position: relative; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: -20px; height: 476px; width: 476px; z-index: 344; left: 24.5px; }
header > div > span { font-size: 36px; color: rgb(255, 255, 255); text-align: center; }
.formblock { position: relative; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; border-radius: 17px; border-color: rgb(255, 255, 255); top: -511px; height: 438px; width: 327px; left: 563px; }
.formblock span { color: rgb(255, 255, 255); display: block; text-align: center; }
#block-new1101 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; opacity: 1; color: rgb(255, 255, 255); height: 57px; top: 314px; border-color: rgb(43, 150, 36); font-weight: bold; background-color: rgb(212, 34, 34); border-radius: 6px; z-index: 303; font-family: Arial,Helvetica,sansserif; width: 267px; left: 49px; transform: scale(0.9); }
#block-new1101 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 267px; height: 57px; line-height: 57px; color: rgb(255, 255, 255); font-size: 36px; font-family: Arial,Helvetica,sansserif; font-weight: bold; }
#block-new1101:hover { background-color: rgb(207, 169, 0); background-image: url('@22@22'); }
ul.widget-timer li { display: inline-block; height: 53.6174px; font-family: Arial,Helvetica,sans-serif; font-size: 44.373px; line-height: 53.6174px; text-align: center; vertical-align: top; }
ul.widget-timer .digits { display: inline-block; background-repeat: no-repeat; background-size: contain; background-image: url('bg_white.png'); width: 33.2797px; height: 53.6174px; color: rgb(0, 0, 0); }
ul.widget-timer .separator { background: transparent none repeat scroll 0% 0%; width: 14.791px; color: rgb(51, 51, 51); }
ul.widget-timer .label { color: rgb(255, 255, 255); font-size: 11.0932px; line-height: 11.0932px; }
.photos { background-position: 0% 0%; background-repeat: repeat; border-width: 1px; background-image: url('../images/fon2.jpg'); height: 380px; }
.photos img { padding: 0; width: 200px; height: 200px; display:inline-block;}
.harakter { background-image: url('../images/1_rxynu5a.png'); background-size: cover; }
.har1 { background-image: url('../images/kirpich.jpg'); background-size: cover; height: 510px; }
.har1 ul { width: 400px; position: relative; left: 450px; top: -350px; }
.har1 ul li { color: rgb(255, 255, 255); font-size: 18px; margin-bottom: -5px; list-style-image: url('../images/2-white_5.png'); }
.gifs span { font-size: 26px; color: rgb(255, 255, 255); display: block; text-align: center; padding: 15px 0px; }
.gifs img { margin: 0px auto; display: block; }
.vmest { background-image: url('../images/250309kojanoderevyannayatekstura.jpg'); background-size: cover; height: 600px; }
.vmest img { margin: 0px auto; display: block; padding: 60px 0px; }
.vmest > .cont span { display: block; border-style: solid; color: rgb(211, 211, 211); font-size: 17px; border-width: 1px; border-radius: 30px; border-color: rgb(204, 204, 204); width: 170px; text-align: center; padding: 15px 20px; }
.vmest > .cont div { position: relative; max-width: 250px; }
.vmest2 li { width: 200px; float: left; list-style: outside none none; }
.vmest2 li img { margin: 0px auto; display: block; }
.vmest2 span { color: rgb(17, 17, 17); line-height: 22.4px; text-align: center; font-size: 16px; display: block; font-weight: bold; margin-top: 5px; }
.dostavka { background-image: url('../images/kirpich.jpg'); background-size: cover; margin-top: 170px; }
.dostavka span { color: rgb(255, 255, 255); line-height: 1; font-size: 20px; text-align: center; }
.dostavka ul { border-color: rgb(204, 204, 204); border-style: dashed; border-radius: 20px; border-width: 1px; width: 239px; height: 60px; font-size: 24px; color: white; }
.dostavka ul li { list-style-image: url('../images/2-green_5.png'); }
.r_block { display: block; position: relative; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; width: 268px; height: 216px; top: -248px; left: 594px; z-index: 480; border-color: rgb(204, 204, 204); border-style: dashed; border-radius: 20px; }
.r_block span { display: block; text-align: center; line-height: 35px; }
.how { background-image: url('../images/122.jpg'); background-size: cover; height: 650px; }
.footer { background-image: url('../images/betontexture989.jpg'); background-size: cover; height: 560px; }
.form { display: block; border-width: 2px; border-color: rgb(255, 255, 255); height: 331px; width: 408px; z-index: 134; border-style: solid; position: relative; top: 62px; }
.form input { display: block; width: 276px; height: 50px; font-size: 18px; border-width: 1px; border-radius: 0px; border-color: rgb(0, 0, 0); font-weight: normal; border-style: solid; background-color: rgb(232, 232, 232) ! important; font-family: Arial,Helvetica,sans-serif; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; padding: 0px 19px ! important; margin: 10px auto; }
.form select { display: block; width: 314px; height: 50px; font-size: 18px; border-width: 1px; border-radius: 0px; border-color: rgb(0, 0, 0); font-weight: normal; border-style: solid; background-color: rgb(232, 232, 232) ! important; font-family: Arial,Helvetica,sans-serif; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; padding: 0px 19px ! important; margin: 10px auto; }
.divb {    font-size: 24px; display: block; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; border-radius: 30px; color: rgb(43, 43, 43); z-index: 339; height: 71px; width: 273px; border-style: solid; font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 195, 8); margin: 0px auto; transform: scale(0.95); }
.but { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 273px; height: 71px; line-height: 71px; color: rgb(43, 43, 43); font-size: 36px; font-family: Arial,Helvetica,sans-serif; }
.how ul li { color: rgb(255, 240, 245); font-size: 20px; text-align: center; width: 200px; list-style: outside none none; float: left; }
.border { display: block; background-position: 0% 0%; background-repeat: repeat; border-width: 1px; border-radius: 30px; opacity: 0.7; border-color: rgb(204, 204, 204); height: 198px; width: 389px; border-style: solid; background-color: rgb(0, 0, 0); left: 533.5px; }
.sm_border { display: block; border-width: 1px; border-radius: 30px; border-color: rgb(204, 204, 204); height: 100px; width: 388px; border-style: solid; left: 534.5px; }
.border span { text-align: center; display: inline-block; }
.right { width: 350px; position: relative; left: 500px; top: -630px; }
footer { background-image: url('../images/250309kojanoderevyannayatekstura.jpg'); background-size: cover; height: 130px; margin-top: -25px; }
#block-new73 { display: block; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 6303px; height: 101.005px; width: 359px; z-index: 133; left: 111px; }
#block-new73 ul.widget-timer { margin: 0px; padding: 0px; white-space: nowrap; }
#block-new73 ul.widget-timer li { display: inline-block; height: 83.6897px; font-family: Arial; font-size: 69.2605px; line-height: 83.6897px; text-align: center; vertical-align: top; }
#block-new73 ul.widget-timer .digits { display: inline-block; background-repeat: no-repeat; background-size: contain; background-image: url('bg_black.png'); width: 51.9453px; height: 83.6897px; color: rgb(255, 255, 255); }
#block-new73 ul.widget-timer .separator { background: transparent none repeat scroll 0% 0%; width: 23.0868px; color: rgb(255, 255, 255); }
#block-new73 ul.widget-timer .label { color: rgb(255, 255, 255); font-size: 17.3151px; line-height: 17.3151px; }
/* ::::: http://baellerry.brainshop24.ru/jquery-ui.min.css ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://baellerry.brainshop24.ru/screen.css-v%3d2015.06.26.html ::::: */

/* ::::: http://baellerry.brainshop24.ru/jquery.fancybox.min.css ::::: */

/* ::::: http://baellerry.brainshop24.ru/public.css-v%3d2015.06.26.html ::::: */

/* ::::: http://baellerry.brainshop24.ru/popup.css-v%3d2015.06.26.css ::::: */

/* ::::: http://baellerry.brainshop24.ru/css-family%3dPhilosopher-Neucha-Bad%2bScript-Ruslan%2bDisplay-Marck%2bScript-Lobster-Ubuntu%2bCondensed-Play-Comfortaa-Forum-Anonymous%2bPro-Jura-Open%2bSans%2bCondensed-300%26subset%3dlatin%2ccyrillic.html ::::: */

/* ::::: http://baellerry.brainshop24.ru/css-family%3dOpen%2bSans%2bCondensed-300%2c700%26subset%3dlatin%2ccyrillic-ext%2ccyrillic.html ::::: */

/* ::::: http://baellerry.brainshop24.ru/css-family%3dOpen%2bSans%26subset%3dlatin%2ccyrillic-ext%2ccyrillic.html ::::: */

/* ::::: http://baellerry.brainshop24.ru/jquery.fancybox.css ::::: */

/* ::::: http://baellerry.brainshop24.ru/jquery-ui.css ::::: */

.ui-helper-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://baellerry.brainshop24.ru/130730-jquery.fancybox.html ::::: */

/* ::::: http://baellerry.brainshop24.ru/jquery-ui-1.8.1.css ::::: */

.ui-helper-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic ::::: */

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('ftlr1ww5qq9ui3f-pb4hxq.woff2') format("woff2");
}
.fotograf a {
	    display: inline-block;
}
.fotograf {
	text-align: center;
	    padding-top: 35px;

}