@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

ul,li {
margin:0;
padding:0;
list-style-type:none;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #ffe0c4;
	background-color: #331f16;
	margin: 0px;
	padding: 0px;
}

a {
color:#94486D;
text-decoration:none;
}

a:hover {
color:#730236;
}
a img {
border-top-style:none;
border-right-style:none;
border-bottom-style:none;
border-left-style:none;
margin:0;
padding:0;
}
#header {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/elements.png);
	background-position: left -108px;
	height: 142px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	overflow: hidden;
}
#logo {
	/*background-image: url(../images/elements.png);*/
	height: 135px;
	width: 340px;
	margin-left: 200px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	float: left;
}
#logo a {
	display: block;
	/*width: 340px;*/
	height: 95px;
}
#search {
	width: 440px;
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}

#search-box {
position: relative;
width: 100%;
margin: 0;
}
 
#search-form
{
	height: 40px;
	border: 1px solid #c6adc6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
}
#search-text
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}
 
#search-box input[type="text"]
{
	width: 90%;
	color: #333;
	outline: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-right: 0;
	padding-left: 1em;
	font-size: 13px;
	padding-top: 10px;
}
 
#search-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 60px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-width: 0;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #f3a584),
	color-stop(1, #e8a8f6)
);
	background-image: -o-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: -moz-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: -webkit-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: -ms-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: linear-gradient(to bottom, #f3a584 0%, #e8a8f6 100%);
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}
.addthis_toolbox {
	position: absolute;
	top: 65px;
	right: -50px;
	width: 320px;
	text-align: right;
}
.wrapper {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
.title {
	height: 42px;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	color: #f18083;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-right: 4px;
	padding-left: 4px;
}
.thumb {
	float: left;
	width: 190px;
	height: 312px;
	text-align: center;
	border: 1px solid #6e4735;
	margin: 4px;
	background-color: #45322a;
	overflow: hidden;
}
.thumb:hover {
	border-top-color: #f18083;;
	border-right-color: #f18083;;
	border-bottom-color: #f18083;;
	border-left-color: #f18083;;
}
.description {
	overflow: hidden;
	display: block;
	width: 180px;
	height: 103px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	color: #cec6bf;
}
.stats {
	background-color: #6e4735;
	line-height: 18px;
	overflow: hidden;
	padding-right: 4px;
	padding-left: 4px;
}
.date {
	float: left;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	color: #f18083;
	background-position: left 4px;
	padding-left: 13px;
}
.views {
	float: right;
	color: #f18083;
	background-image: url(../images/eye.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 15px;
}
.categories {
	margin: 4px;
	float: left;
	width: 190px;
	overflow: hidden;
}
.catstart {
	line-height: 34px;
	width: 190px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #f3a584),
	color-stop(1, #e8a8f6)
);
	background-image: -o-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: -moz-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: -webkit-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: -ms-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
	background-image: linear-gradient(to bottom, #f3a584 0%, #e8a8f6 100%);
	font-weight: 400;
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.40);
}

ul.nav {
}

ul.nav li {
}
ul.nav li a {
	display: block;
	background-color: #6e4735;
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 22px;
	background-image: url(../images/play.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
	color: #ffe0c4;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.nav li a:hover {
	background-color: #f18083;
	color: #ffffff;
}
.block-title {
	font-size: 14px;
	font-weight: bold;
	float: left;
	display: block;
	width: 890px;
	margin-top: 12px;
	margin-right: 4px;
	margin-bottom: 10px;
	margin-left: 4px;
	background-image: url(../images/camera.png);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
}
.block-title h1 {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 14px;
}
.block-title a {
	color: #ffe0c4;
	text-decoration: underline;
}
.annotattion {
	background-color: #45322a;
	padding: 4px 6px 0 6px;
	overflow: hidden;
	float: left;
	display: block;
	margin: 4px;
	width: 980px;
	font-size: 13px;
	line-height: 18px;
}
.annotattion p {
	margin-top: 0;
}
.wide {width: auto;}
.annotattion .img-index {
	margin: 3px 10px 10px 0;
	height: 230px;
	width: auto;
	float: left;
	/*border: 1px solid #999;*/
}
.annotattion .img-category {
	margin: 3px 10px 10px 0;
	height: 230px;
	width: auto;
	float: left;
	/*border: 1px solid #999;*/
}
.a_img {
	float: left;
	border: 1px solid #999;
}
.ann_text {
	float: left;
	margin-left: 6px;
	font-size: 13px;
	width: 850px;
	line-height: 18px;
}
.story_text {
	float: left;
	margin-left: 6px;
	font-size: 13px;
	/*width: 770px;*/
	line-height: 16px;
}
.story_text a {
	font-weight: bold;
	color: #f18083;
	text-decoration: underline;
}
.story_text img {
	margin: 0px 5px 5px 0;
	height: 120px;
	width: auto;
	float: left;
	border: 1px solid #999;
}
.story_text .title {
	height: auto;
	font-size: 14px;
}
#section {
	width: 1192px;
	margin-left: auto;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #f17e83),
	color-stop(1, #f4bc84)
);
	background-image: -o-linear-gradient(bottom, #f17e83 0%, #f4bc84 100%);
	background-image: -moz-linear-gradient(bottom, #f17e83 0%, #f4bc84 100%);
	background-image: -webkit-linear-gradient(bottom, #f17e83 0%, #f4bc84 100%);
	background-image: -ms-linear-gradient(bottom, #f17e83 0%, #f4bc84 100%);
	background-image: url(linear-gradient(to%20bottom,%20#f17e83%200%25,%20#f4bc84%20100%25));
	clear: both;
	margin-right: auto;
	background-color: #39C;
	overflow: hidden;
	font-weight: 400;
}
ul.sector {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}
ul.sector li {
	display: inline-block;
	float: left;
}
ul.sector li a {
	font-size: 18px;
	line-height: 34px;
	color: #FFF;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-right: 12px;
	padding-left: 12px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #e06366;
	border-right-color: #f2adcb;
	height: 35px;
	display: block;
	text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.40);
}
ul.sector li a:hover {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #f3a584),
	color-stop(1, #e8a8f6)
);
background-image: -o-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
background-image: -moz-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
background-image: -webkit-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
background-image: -ms-linear-gradient(bottom, #f3a584 0%, #e8a8f6 100%);
background-image: linear-gradient(to bottom, #f3a584 0%, #e8a8f6 100%);
}
.story {
	width: 996px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	clear: both;
}
.media {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.player {
	float: left;
}
.player .code {
	text-align: center;
}
.player .code iframe {
	width: 639px;
	height: 520px;
	margin: 0 auto;
}
.ads {
	float: right;
	width: 260px;
}
.ads a img {
	margin-bottom: 12px;
}
.mediainfo {
	width: 690px;
	clear: both;
	padding: 5px;
	background-color: #45322a;
	margin-top: 15px;
	overflow: hidden;
	color: #cec6bf;
}
.mediainfo textarea {
	height: 85px;
	width: 550px;
}
.optons {
	width: 100px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #f18083;
	height: 32px;
	line-height: 32px;
	text-align: center;
	float: left;
}
.report {
	display: block;
	float: left;
	width: 120px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f18083;
}
.like {
	clear: both;
	border: 5px solid #45322a;
}
.percent {
	font-size: 14px;
	font-weight: bold;
	display: block;
	float: left;
	line-height: 24px;
	padding-right: 12px;
	padding-left: 12px;
}
.like img {
	display: block;
	float: left;
}
.mediainfo a img:hover {
	opacity: 0.9;
}.mediadesc {
	display: block;
	clear: both;
	padding: 5px;
	font-size: 12px;
	/*width: 600px;*/
}
.mediastats {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*width: 200px;*/
	margin-right: 30px;
	margin-top: 10px;
}
.mediastats-likes {
	margin-top: 0;
}
.tags {
	font-size: 12px;
	display: block;
	clear: both;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tags a {
	color: #f18083;
}
.tags a:hover {
	text-decoration: underline;
}.comment {
	margin-left: 25px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.i15 {
	display: block;
	float: left;
	height: 12px;
	width: 400px;
	clear: both;
}

.user {
	float: left;
	line-height: 18px;
}
.text {
	clear: both;
	display: block;
}
.comment a {
	font-size: 12px;
	color: #f18083;
}.mdate {
	line-height: 18px;
	padding-left: 12px;
	color: #7c7c7c;
}
.spacer {
	clear: both;
	height: 55px;
}

ul.pagination {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 700px;
	margin-top: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
}
ul.pagination li {
	display: block;
	float: left;
}
ul.pagination li a {
	font-size: 12px;
	font-weight: bold;
	padding-right: 16px;
	padding-left: 16px;
	background-color: #6e4735;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 2px;
	color: #ffe0c4;
}
ul.pagination li a:hover, ul.pagination .active a {
	color: #ffe0c4;
	background-color: #f18083;
}

#foterline {
	background-image: url(../images/longline.png);
	height: 2px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.footer {
	background-image: url(../images/footer.png);
	height: 97px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.fdesc {
	font-size: 12px;
	line-height: 16px;
	width: 750px;
	color: #212121;
	padding-top: 8px;
	padding-left: 26px;
	float: left;
}
.fdesc p {
	margin: 0;
}
.flink {
	display: block;
	font-weight: bold;
	color: #3b0b0d;
	margin-top: 8px;
}
.flink a {
	color: #3b0b0d;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.40);
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

.last-comments {
	margin: 10px 4px 4px 4px;
}
.last-comments .video {
	text-align: center;
	margin-bottom: 2px;
}
.last-comments .text {
	background-color: #fff;
	padding: 4px;
}
.last-comments .lc-title {
	margin-bottom: 6px;
	font-weight: bold;
	font-size: 12px;
}
.last-comments .lc-block {
	margin-bottom: 10px;
}

.story-read {
	/*width: auto;*/
}

.thumbs {
	clear: both;
}
.clear {
	clear: both;
}
#liveinternet {
	width: 90px;
	float: right;
	margin: 60px 12px 0 0;
}
#timer {
    font-size: 100px;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}
.load-video {
	clear: both;
	display: block;
	border: 1px solid #fff;
	width: 150px;
	/*height: 30px;*/
	padding: 10px;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}

.tubes_player {
	float: left;
	width: 990px;
	overflow: hidden;
}