html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/pattern.jpg) left top repeat;
    color: #000;
    position: relative;
    min-width: 960px;
}
p {
    font-weight: 400;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
.center {
    text-align: center;
}
/*Site settings*/
/* michael-k90 */
@font-face {
    font-family: 'ael';
    src: url('../fonts/Akrobat-ExtraLight.otf');
    font-weight: normal;
    font-style: normal;
}
.ael {
    font-family: 'ael';
}
@font-face {
    font-family: 'aeb';
    src: url('../fonts/Akrobat-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
.aeb {
    font-family: 'aeb';
}
@font-face {
    font-family: 'al';
    src: url('../fonts/Akrobat-Light.otf');
    font-weight: normal;
    font-style: normal;
}
.al {
    font-family: 'al';
}
.arial {
    font-family: Arial;
    font-weight: bold;
}
/* owmen17 */
input::-webkit-input-placeholder { color: #333; }
input::-moz-placeholder { color: #333; }

.upp {
    text-transform: uppercase;
}

.white {
    color: #fff;
}
.red {
    color: #f96952;
}
.blue {
    color: #336699;
}

.bg_blue {
    background: #28435e;
}

.section {
    position: relative;
    padding: 0px 10px;
    margin: 0 auto;
    width: 940px;
}
h1, h2, h3 {
    font-family: 'aeb';
    letter-spacing: 0.3px;
}
.f36 {
    font-size: 36px;
    line-height: 38px;
} 
.f12 {
    font-size: 12px;
    line-height: 14px;
}

.fw800 {
    font-weight: 800;
}

.clear {
    clear: both; 
}

.b1 {
    height: 641px;
    background: url(../img/b1.jpg) center top no-repeat;
}
.b1 h1 {
    font-size: 38px;
    line-height: 40px;
    padding-top: 30px;
}
.b1 h2 {
    font-size: 38px;
    line-height: 40px;
    padding-top: 5px;
}
.b1 .price {
    margin: 20px 0 30px 21px;
    height: 81px;
}
.b1 .price p {
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
}
.b1 .price .old {
    background: #7b7b7b;
    float:left;
    padding: 12px 20px 22px;
    height: 47px;
    position: relative;
}
.b1 .price .old:after {
    content: '';
    display: block;
    width: 21px;
    height: 81px;
    background: url(../img/b1_2.png) center top no-repeat;
    position: absolute;
    left: -21px;
    top: 0;
}
.b1 .price p.older {
    font-weight: 500;
    font-size: 30px;
    text-decoration: line-through;
}
.b1 .price .new {
    background: #4d87c2;
    float:left;
    padding: 12px 20px 22px;
    height: 47px;
    position: relative;
}
.b1 .price .new:after {
    content: '';
    display: block;
    width: 19px;
    height: 81px;
    background: url(../img/b1_1.png) center top no-repeat;
    position: absolute;
    right: -19px;
    top: 0;
}
.b1 .price p.newer {
    font-weight: 900;
    font-size: 30px;
}

a.but {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    width: 320px;
    height: 70px;
    line-height: 68px;
    letter-spacing: 1px;
    border-radius: 12px;
    border-bottom: 1px solid #903629;
    background: #e55235;
    background: linear-gradient(to top, #dd3d27, #ec6741);
    box-shadow: 0px 6px 0px  #a82d1c, inset 0 1px 1px #fbac97;
    text-shadow: 0 1px 0 #702818;
}
a.but:hover {
    border-bottom: 1px solid #903629;
    background: #ee6b4e;
    background: linear-gradient(to top, #e74f3a, #f17b59);
    box-shadow: 0px 6px 0px  #a83728, inset 0 1px 1px #fbac97;
}
a.but:active {
    background: #e55235;
    background: linear-gradient(to top, #dd3d27, #ec6741);
    box-shadow: 0px 6px 0px  #a82d1c, inset 0 1px 1px #000;
    text-shadow: 0 1px 0 #702818;
}

.b2 h3 {
    font-size: 18px;
    padding: 10px 0 5px;
}
.b2 ul {
    margin-top: -50px;
}
.b2 ul li {
    background: #fff;
    float:left;
    width: 220px;
    height: 290px;
    padding-top: 20px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 40px;
    box-shadow: 0px 10px 10px -10px #9f9f9f;
}
.b2 ul li.mar_r {
    margin-right: 20px;
}
.b2 ul li p {
    padding: 0 10px 10px;
}

.b3 {
    padding: 30px 0;
    clear: both;
}
.b3 h2{
    padding-bottom: 30px;
}

.b4 {
    padding: 30px 0;
    background: #fff;
}
.b4 .section {
    
}
.b4 h2 {
    padding-bottom: 30px;
}
.b4 ul li {
    padding: 12px 10px 10px 110px;
    height: 75px;
    font-size: 16px;
    line-height: 22px;
}

.why_1 {
    background: #f0f0f0;
    width: 470px;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 30px;
    z-index: 100;
    position: relative;
    box-shadow: 0px 10px 10px -10px #181818;
}
.why_1 .bg {
    background: url(../img/b4_1.jpg) center top no-repeat;
    height: 141px;
    margin-bottom: 20px;
}
.why_1 ul li {
    background: url(../img/li1.png) 20px top no-repeat;
}
.b4 {
    position: relative;
}
.b4 h3 {
    text-align: center;
    font-size: 30px;
    padding-top: 95px;
}

.why_2 {
    background: #336699;
    width: 470px;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 30px;
    z-index: 100;
    position: relative;
    box-shadow: 0px 10px 10px -10px #181818;
}
.why_2 .bg {
    background: url(../img/b4_2.jpg) center top no-repeat;
    height: 141px;
    margin-bottom: 20px;
}
.why_2 ul li {
    background: url(../img/li2.png) 20px top no-repeat;
}
.b4 .but {
    margin: 20px auto;
    z-index: 100;
    position: relative;
}
.b4 .bg_blue {
    height: 380px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.b5 {
    clear: both;
    padding: 50px 0;
    overflow: hidden;
}
.b5 img {
    float:left;
}
.b5 .har {
    float: left;
    background: #336699;
    width: 400px;
    height: 395px;
    margin-left: 20px;
    padding: 20px 30px;
}
.b5 .har h3 {
    font-size: 30px;
    line-height: 38px;
}
.b5 .har p {
    font-size: 14px;
    line-height: 21px;
}
.b5 .har h3.komplekt {
    padding-top: 30px;
}
.b6 {
    padding: 30px 0 50px;
    overflow: hidden;
}
.b6 h2 {
    padding-bottom: 30px;
}
.b6 ul li {
    float:left;
    width: 235px;
    position: relative;
}
.b6 ul li h3 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 10px 0;
}
.b6 ul li p {
    font-size: 14px;
    padding: 0 10px;
}
.b6 ul li.arrow:after {
    content: '';
    display: block;
    background: url(../img/arrow.png) center top no-repeat;
    width: 45px;
    height: 31px;
    position: absolute;
    top: 55px;
    right: -23px;
}

.b7 {
    padding: 30px 0;
    background: #fff;
    overflow: hidden;
}
.b7 ul {
    padding: 30px 0;
}
.b7 ul li {
    float:left;
    width: 235px;
    position: relative;
}
.b7 ul li h3 {
    padding: 0 20px;
    font-size: 22px;
    line-height: 28px;
}

.b8 {
    padding: 30px 0;
}
.b8 h2 {
    padding-bottom: 30px;
}
.rev_inner {
    width: 460px;
    float:left;
    background: #fff;
    box-shadow: 0px 10px 10px -10px #9f9f9f;
    margin-bottom: 15px;
}
.rev_inner_mar_r {
    margin-right: 20px;
}
.rev_inner p {
    font-size: 14px;
    text-align: center;
}
.rev_inner h3 {
    font-size: 18px;
    padding-top: 10px;
    font-weight: 600;
    font-style: italic;
}

.b9 {
    height: 543px;
    background: url(../img/b9.jpg) center top no-repeat;
}
.b9 h1 {
    font-size: 38px;
    line-height: 40px;
    padding-top: 20px;
}
.b9 h2 {
    font-size: 36px;
    line-height: 40px;
    padding-top: 20px;
}
.b9 .price {
    margin: 20px 0 30px 21px;
    height: 81px;
}
.b9 .price p {
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
}
.b9 .price .old {
    background: #7b7b7b;
    float:left;
    padding: 12px 20px 22px;
    height: 47px;
    position: relative;
}
.b9 .price .old:after {
    content: '';
    display: block;
    width: 21px;
    height: 81px;
    background: url(../img/b1_2.png) center top no-repeat;
    position: absolute;
    left: -21px;
    top: 0;
}
.b9 .price p.older {
    font-weight: 500;
    font-size: 30px;
    text-decoration: line-through;
}
.b9 .price .new {
    background: #4d87c2;
    float:left;
    padding: 12px 20px 22px;
    height: 47px;
    position: relative;
}
.b9 .price .new:after {
    content: '';
    display: block;
    width: 19px;
    height: 81px;
    background: url(../img/b1_1.png) center top no-repeat;
    position: absolute;
    right: -19px;
    top: 0;
}
.b9 .price p.newer {
    font-weight: 900;
    font-size: 30px;
}
.b9 .left {
    float:left;
    width: 420px;
}
.b9 form {
    float: right;
    margin: 35px 10px 0 0;
    width: 370px;
}
.b9 form h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
    margin-bottom: 15px;
}
form button {
    border:0;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    width: 320px;
    height: 70px;
    line-height: 68px;
    letter-spacing: 1px;
    border-radius: 12px;
    border-bottom: 1px solid #903629;
    background: #e55235;
    background: linear-gradient(to top, #dd3d27, #ec6741);
    box-shadow: 0px 6px 0px  #a82d1c, inset 0 1px 1px #fbac97;
    text-shadow: 0 1px 0 #702818;
}
form button:hover {
    border-bottom: 1px solid #903629;
    background: #ee6b4e;
    background: linear-gradient(to top, #e74f3a, #f17b59);
    box-shadow: 0px 6px 0px  #a83728, inset 0 1px 1px #fbac97;
}
form button:active {
    background: #e55235;
    background: linear-gradient(to top, #dd3d27, #ec6741);
    box-shadow: 0px 6px 0px  #a82d1c, inset 0 1px 1px #000;
    text-shadow: 0 1px 0 #702818;
}
form input {
font-family: 'Open Sans', sans-serif;
    text-align: center;
    outline: none;
    border: 1px solid #b0b0b0;
    width: 278px;
    height: 47px;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto 15px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: inset 1px 2px 5px #cccccc;
}

.b10 {
    background: #fff;
    padding: 20px 0;
}
.b10 p {
    font-size: 13px;
    margin: -5px 0 0;
}
.b10 p a {
    color: #129dee;
}