/*Таймер*/
.countbox {    
    font-size: 44px;
    height: 70px;
    padding: 10px 0 25px;
    width: 360px;
    margin: 7px 0 20px;
    color: #fff;
}
.countbox .countbox-num {
    float: left;
}
.countbox .countbox-space {
    float: left;
    height: 70px;
    width: 7px;
}
.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    background-image: url(../img/round.png);
    background-position: center top;
    background-repeat: no-repeat;
    float: left;
    width: 48px;
    margin-right: 5px;
    height: 70px;
    line-height: 62px;
    text-align: center;
    z-index: 1;
    text-shadow: 0 0 5px #000;
}

.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}