

body{
	background-color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
    color: #000000;
    z-index: 1;
    position: relative;
}
.row {
	margin:0;
    -webkit-flex: 1 1 auto;	
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}
a:focus, a:hover, .select2, input, textarea {
    color: initial;
    text-decoration: none;
	outline:none;
}
ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
ul li{
	list-style:none;
}
.left{
	float:left;
}
.right{
	float:right;
}
.center{
	text-align:center;
}
.bold{
	font-weight: bold;
}
.blue{
	color:#1f3560;
}
.uppercase{
	text-transform:uppercase;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}	
a, .header-link{
	-webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/*Bootstrap*/
.modal-content {
}
.modal-title {
	font-weight: 600!important;
	text-align: center!important;
}


/*****  HeaderTop  *****/
header{
    width: 100%;
    transition: 0.4s;	
    z-index: 10;
    background: #fff;
}

.header .row{
    /*justify-content: space-between;	*/
}
.headerTop {
	width:100%;
	float:right;
	padding:11px 0px 7px 0px;
}
.headerTopText{
    font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.39px;
	float:right;
}
.headerTopLinks{
	float:right;
	margin-left:12px;
    display: inline-flex;
}
.viber, .watsapp, .telegram{
	position:relative;
	margin:0px 4px;
}
.viber:before, .watsapp:before, .telegram:before{
    content: "";
    width: 21px;
    height: 21px;
	background-image: url(../images/viber.png);
    background-repeat: no-repeat;
	background-size:cover;
	display:block;	
    text-align: center;
    margin: 0 auto;
    background-position: center;	
}
.watsapp:before{
    content: "";
	background-image: url(../images/watsapp.png);
}
.telegram:before{
    content: "";
	background-image: url(../images/telegram.png);
}
.headerTopLinks>a:last-child{
	margin-right:0px;
}

.logo{
    font-family: 'IBM Plex Sans', sans-serif;	
    max-width: 200px;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 1px;	
	font-weight:bold;
}
.logo span{
	position:relative;
}
.logo span:before{
    content: "";
    width: 105%;
    height: 2.7px;
    background: #e41525;
    display: block;
    position: absolute;
    margin-top: 16px;
    margin-left: -2.5%;
}

.headerLeft {
    float: left;
}
.headerRight{
    float: right;
    width: auto;
	display:inline-block;
    text-align: right;
    margin-top: 8px;
}
.headerCenter{
	width:100%;
    padding-left: 8px;
    margin-top: 0px;
}

.phone-number{
    font-family: 'IBM Plex Sans', sans-serif;	
    color: #000;	
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.39px;
	text-align: right;
    display: block;
}


.phone-number:hover, a:focus, a:hover, .cart .basket-text:hover, .header-link:hover{
	color:#4a9dff;
}
.logo:hover{
	color:initial;
}

.call{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 25px;
	letter-spacing: 0.44px;
	text-transform:uppercase;
    margin-top: 12px;
    color: #4a9dff;
    display: block;
	color: #4a9dff;

	background: none;
    border: none;
}


#main-block .row{
    display: inline-block;
	width:100%;
}

.main-img{
    margin-top: -119px;
    margin-left: -12px;	
    float: left;
    margin-right: -32px;
}
.main-text{
    padding-top: 78px;
    font-family: 'IBM Plex Sans', sans-serif;	
	
}
.main-pre-title{
	font-size: 26px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.42px;
	color: #000000;
    font-weight: 500;	
}
.main-pre-title span{
    font-weight: 700;	
}
.main-title{
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.58px;
	color: #000000;	
	margin-top:8px;
}
.main-title-green{
    font-size: 35px;
	border-radius: 3px;
    background-image: linear-gradient(184deg, #21bf37, #179629);
	font-weight: bold;
	color: #ffffff;  
    margin-left: 280px;
}
.main-director{
	font-family: 'Open Sans', sans-serif;
	margin-top: 28px;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
    letter-spacing: -0.52px;
	color: #626262;
}
.main-director-position{
	font-weight: normal;
	font-style: italic;
}

.btn-style{
	border-radius: 8px;
	box-shadow: 1px 4px 29px 0 rgba(133, 202, 255, 0.78);
	background-color: #4a9dff;
	font-size: 20px;
	line-height:27px;
	padding:22px 44px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 2.08px;
	color: #ffffff;
	transition:0.4s;
     display: inline-block;
}
.btn-style:hover, .btn-style:focus{
	color:#fff;
    background-color: #347fd7;
}

.main-text .btn-style{
	min-width: 510px;
	height: 70px;
	margin-top:58px;
    display: inline-block;
    float: right;
    letter-spacing: 2.5px;
}
.main-desc{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
    letter-spacing: 0.08px;
	color: #414141;
	margin-top:25px;
    display: inline-block;
	min-width: 510px;
    float: right;	
	text-align:center;
}

#main-block .container{
	position: relative;
}
#main-block .row{
	border-bottom: 1px solid #d0d0d0;
    padding-bottom: 50px;
}
.bg-transparent{
	background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 50px;
}
.bg-left, .bg-side-type{
	width: 329.7px;
	height: 329.7px;
	transform: rotate(42deg);
	border-radius: 82px;
	background-color: rgba(232, 232, 232, 0.35);
	position:absolute;	
    left: -110px;
    top: 300px;
    z-index: -1;
}


/*****  HeaderTop  *****/


/*****  Advantages  *****/

#advantages{
    padding: 41px 0px 0px 0px;
}
.advantages-list{
	padding-bottom: 55px;
}
.advantage{
	text-align:left;
    padding: 0px 50px;
	position:relative;
}
.advantage:first-child{
    padding-left: 0px;
}
.advantage:last-child{
    padding-right: 0px;
}
.advantage:after{
    content: "";
	display:block;	
    text-align: center;
    margin: 0 auto;
    background-position: center;
	width:1px;
	background: rgba(151, 151, 151, 0.29);
	height:43px;
	position:absolute;
    right: 0;
    top: 50px;
}
.advantage:last-child:after{
	display:none;
}
.advantage-title{
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: -0.32px;
	color: #000000;
	margin-bottom:16px;
}
.advantage-info{
    display: inline-block;
}
.advantage-text{
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: -0.32px;
	color: #000000;
	margin-bottom:16px;
}
.advantage-link{
	font-size: 14px;
	line-height:19px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: -0.23px;
	color:#4a9dff;  
	text-decoration:underline;
	position:relative;
	display: inline-block;
}
.link-img{
  padding-left:20px;
}
.link-img:before{
    content: "";
    width: 12px;
    height: 20px;
	background-image: url(../images/link.png);
    background-repeat: no-repeat;
	background-size:cover;
	display:inline-block;	
    background-position: center;	
	position:absolute;
	left:0;
}

/*****  Advantages  *****/

/*****  Promo  *****/

#promo-line{
	background-color: #fafafa;
	padding:32px 0px 35px 0px;
}
#promo-line .row{
	display:inline-block;
	width:100%;
}
.promo-img, .promo-text{
    display: inline-block;	
    vertical-align: middle;
}
.promo-text{
	margin-left:37px;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.6;
	letter-spacing: -0.36px;
	color: #313131;
}
.promo-text span{
	font-weight: 600;
}

/*****  Promo  *****/

/*****  Directions  *****/

#directions{
	padding-top:120px;
}
.title{
    font-family: 'IBM Plex Sans', sans-serif;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.58px;
	color: #000000;
	padding-left:18px;
	position:relative;
}
.title:before{
    content: "";
    width: 10px;
    height: 100%;
	background:#21bf37;
	display:inline-block;	
    background-position: center;	
	position:absolute;
	left:0;	
}
.directions-info{
	font-size: 14px;
	line-height: normal;
	letter-spacing: -0.25px;
	color: #414141;
	margin-left:20px;	
	position:relative;
	display: inline-block;	
}
.directions-info:before{
    content: "";
    width: 19px;
    height: 12px;
	background-image: url(../images/directions-info.png);
    background-repeat: no-repeat;
	background-size:cover;
	display:inline-block;	
    background-position: center;	
	left:0;	
	margin-right:10px;	
}
.directions-tabs{
	margin-top:38px;
	max-width:760px;
    border-bottom: 0;
}
.directions-tabs li a{
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.33px;
	color: #59a5ff;
	padding:8px 20px;
	box-shadow:none;
    margin: 0px 10px;
	position:relative;
	min-width:133px;
}
.directions-tabs li.active a, .directions-tabs li:hover a{
	color: #fff;
    border-radius: 5px;
	background:#4a9dff;
}
.directions-tabs li a:first-child{
	margin-left:0px;
}
.directions-tabs li a:after{
    content: "";
    width: -webkit-fill-available;
    display: inline-block;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 5px;
    border-bottom: 2px dotted #59a5ff;
    margin: 0 20px;
	transition:0.4s;
}
.directions-tabs li.active a:after, .directions-tabs li:hover a:after{
	opacity:0;
} 
.tab-content{
	margin-top:18px;
	font-size: 14px;
	letter-spacing: -0.25px;
	color: #414141;
    max-width: 545px;
}
.tab-pane{
	margin-left:32px;
}
#directions .row{
	position:relative;
    display: inline-block;
	width:100%;
}
.directions-img{
    right:0;
    bottom: 0;
    position: absolute; 
}
.directions-btn{
	display: inline-block;
    max-width: 760px;	
	background:#4a9dff;
	padding-left:111px;
	padding-bottom:20px;
}
.directions-btn .main-desc {
    color: #fff;
    margin-top: 25px;
    display: inline-block;
    min-width: 435px;
    float: none;
    text-align: center;
	margin-bottom:15px;	
}

.directions-btn .btn-style{
	color:#4a9dff;
	background:#fff;
	min-width:435px;
	box-shadow: 1px 4px 29px 0 #1f69c0;
    padding: 22px 29px;
}
.directions-tab-content{
    min-height: 198px;
    position: relative;
    z-index: 10;
}
.directions-img .main-director-position{
    position: absolute;
    right: 0;
    top: 120px;
    max-width: 140px;
}
.directions-img .main-director{
    margin-top: 0;
}

/*****  Directions  *****/

/*****  Video  *****/

#video{
	background-color: #fafafa;
	padding:72px 0px 47px 0px;
    overflow: hidden;
}
.youtube {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    width: 100%;
    height: 476px;
    position: relative;
    z-index: 10;
}
.video-block{
    width: 848px;
    margin: 0 auto;
	text-align:center;
}
.timing{
	font-size: 14px;
	font-weight: 600;
	line-height: 0.86;
	letter-spacing: -0.58px;
	text-align: center;
	color:#21bf37;
     text-align: left;
}
.timing:before{
    content: "";
    width: 26px;
    height: 26px;
	background-image: url(../images/timing.png);
    background-repeat: no-repeat;
	background-size:cover;
	display:inline-block;	
    background-position: center;
    vertical-align: middle;
	margin-right:10px;	
}
.video-block .title{
	padding:0;
	margin-bottom:15px;
    text-align: left;
}
.video-block .title:before{
	display:none;
}
.video-block .btn-style{
    padding: 22px 35px;
	margin-top:42px;
}
.call-info{
	font-size: 24px;
	line-height: normal;
	letter-spacing: -0.39px;
	color: #000000;	
	margin-top:35px;
}
.bg-left-big{
	width: 451px;
	height: 451px;
	border-radius: 100px;
    left: -160px;
    top: 160px;
}
.bg-right{
	width: 352px;
	height: 352px;
	border-radius: 70px;
    left: auto;
    right: -150px;
    top: 87px;
}
section{
	position:relative;
}

/*****  Video  *****/

/*****  Reviews  *****/

#reviews{
	padding:58px 0px 55px 0px;
}
.reviews-list{
    min-height: 500px;
}
.reviews-item{
	position:relative;
	padding:42px 32px 26px;
	background-color: #ffffff;
	transition:0.4s;
	border-radius: 9px;
	margin:15px;
}
.reviews-item:after{
    content: "";
    width: 1px;
    height: 190px;
	opacity: 0.35;
	border-right: solid 1px #979797;
	position:absolute;
	top:76px;
    right: 0;
	transition:0.4s;
}
.reviews-image{
	text-align:center;
}
.reviews-image-bg{
    height: 143px;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    background-position: center;	
	border-radius:100px;
}
.reviews-title{
	font-size: 24px;
	letter-spacing: -0.39px;	
	color: #000000;
}
.reviews-text{
	font-size: 14px;
	letter-spacing: -0.25px;
	color: #414141;
	max-height:84px;
	overflow:hidden;
    position: relative;
}

.reviews-link{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.25px;
	color:#4a9dff;
	text-decoration:underline;
}
.reviews-link:hover{
	text-decoration:none;	
}
.reviews-content{
	margin-top:23px;
}
.reviews-item:hover{
	box-shadow: 0 7px 18px 0 rgba(113, 215, 255, 0.32);
}
.reviews-item:hover:after{
	opacity:0;
}
.reviews-text-more{
	background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
	width:100%;
	height:50px;
    margin-top: -50px;
    z-index: 10;
    position: absolute;
    transition: 0.4s;
    bottom: 0;
}
.reviews-item:hover .reviews-text-more{
	opacity:0;
}
.reviews-item:hover .reviews-text{
    max-height: 100%;
	overflow:visible;
}
.owl-controls{
    position: absolute;
    top: 15px;
    right: 0;	
}

/****** owl ******/

.owl-nav, .reviews .owl-nav
{
    box-sizing:border-box;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    z-index:100;
}
 .owl-prev, .owl-next
{
    position:absolute;
    width:20px;
    height:35px;
    margin-top:0px;
    left:0px;
    border-radius:50%;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s;
    right: 20px;
    top: -1px;
    left: -25px;
}
.owl-prev:before, .owl-next:before
{
    content: "";
	font-size:22px;
	line-height:22px;
    width:20px;
    height:35px;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    transition: 0.4s;
	color:#fff;
	background-image: url(../images/slider-arrow.png);
    background-repeat: no-repeat;
	background-size:cover;
}
.owl-next{
    float:right;
	left: 3px;
}
.owl-next:before
{
    content: "";
	background-image: url(../images/slider-arrow.png);
    background-repeat: no-repeat;
	background-size:cover;
    transform: rotate(180deg);
}
.owl-prev:hover
{
	opacity:0.8;
}
.owl-next:hover
{
	opacity:0.8;
}
 .owl-next
{
    left:auto;
    right:0px;
}
.owl-nav
{
    margin-top:-50px;
}
.owl-theme .owl-controls  .owl-dot{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 16px;
	height: 16px;
	margin-left: 12px;
	margin-right: 12px;
	background: #d8d8d8;
	border:none;
    display: inline-block;
    text-align: center;
	border-radius:16px;
}
.owl-theme .owl-controls .owl-dots{
    text-align: center;	
    margin-top: -47px;
    margin-right: 25px;
}
.owl-theme .owl-controls .owl-dot.active{
	background: #4a9dff;		
}

/****** owl ******/

.reviews-video{
	background:#4a9dff;
	border-radius: 3px;
	padding:4px;
	width:100%;
	margin:8px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
	display:block;
}
.reviews-video:hover, .reviews-video:focus{
    color: #fff;
    background-color: #347fd7;
}
.reviews-video:before{
    content: "";
	background-image: url(../images/video-btn.png);
    background-repeat: no-repeat;
	background-size:cover;
	width:20px;
	height:11px;
    display: inline-block;
    margin-right: 5px;
}

/*****  Reviews  *****/

/*****  Works  *****/

#works{
	background-color: #fafafa;
	padding:40px 0px;  
}
.works-item{
	max-width:1050px;
	margin:0 auto;
}
.works-item-img, .works-item-info{
    display: inline-block;
    max-width: 520px;
}
.works-item-info {
    vertical-align: top;
    margin-top: 30px;
}
.works-item-img{
	margin-right:60px;
}
.works-item-title{
    font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	letter-spacing: -0.39px;
	color: #000000;
	margin-bottom:8px;
}

.works-item-sku{
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.32px;
	color:#626262;
     display: inline-block;
}
.link{
	font-size: 14px;
	letter-spacing: -0.25px;
	color:#4a9dff;
	text-decoration:underline;
}
.link:hover, .link:focus{
	color:#4a9dff;	
}
.works-item-more{	
	margin-left:40px;
}
.works-item-text{
	font-size: 14px;
	letter-spacing: -0.25px;
	color: #414141;
	margin: 17px 0px 22px 0px;
}
.green-btn{
    background: #21bf37;
    padding: 2px 15px 4px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.79;
    letter-spacing: -0.25px;
	border-radius: 4px;
    min-height: 32px;
}
.green-btn span{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
.works-item-price{
	margin-right:35px;
}

.works-item-btns{
	margin-left:-15px;
}
#works .owl-controls{
	position:initial;
}
#works .owl-prev {
    left: 0;
}
#works .owl-dots{
	position:absolute;
	z-index:10;
    top: 12px;
    left: 350px;
}
#promo-works{
	background-color: #fafafa;
}
.promo-works-bg{
    background: #fff;
}
.promo-works-bg:after{
    content: "";
	background-image: url(../images/bg-promo.png);
    background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:210px;
    display: inline-block;
}
.promo-block{
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(283deg, #4a9dff, #21bf37);
  border-image-slice: 1;
  width:100%;  
  padding:37px 200px 64px 200px;
 position: relative;
}
.promo-block::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(red, blue);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
.promo-block{
    font-family: 'IBM Plex Sans', sans-serif;	
}
.promo-block .btn-style{
	font-size: 24px;
	letter-spacing: -0.58px;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    padding: 7px 44px;
	margin-top:25px;
}
.promo-block .btn-style span{
	font-weight:600;
}
.promo-block-title{
	font-size: 36px;
	letter-spacing: -0.58px;
	color: #000000;
     text-align: center;
}
.promo-block-title span{
	font-size: 72px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color: #414141;  
	margin:0px 15px;
}
.promo-block  .link {
	font-size: 36px;
	letter-spacing: -0.58px;
	position:relative;
	text-decoration:none;
     display: inline-block;
}
.promo-block  .link:after {
    content: "";
    width: -webkit-fill-available;
    display: inline-block;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 5px;
    border-bottom: 2px dotted #59a5ff;
    margin: 0px;
    transition: 0.4s;
}   

/*****  Works  *****/

/*****  Conditions  *****/

#conditions .row{
    display: inline-block;
	border-bottom: 1px solid #d0d0d0;
	padding:70px 0px 130px 0px;   
}
#conditions {
	overflow:hidden;
}
#conditions  .bg-right {
    width: 330px;
    height: 330px;
}
.conditions{
	display:inline-block;
	margin-top:30px;
}
.conditions>div{
	border-radius: 5px;
	box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.09);
	background-color: rgba(255, 255, 255, 0.48);
	padding:10px 10px 10px 20px;
}
.condition{
	width:40%;
	display:inline-block;
	position:relative;
}
.effects{
	width:48%;
	float:right;
	display:inline-block;
}
.conditions-title{
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.36px;
	color: #414141;
	margin-bottom:15px;
	display:inline-block;
}
.conditions-text{
	font-size: 14px;
    line-height: 20px;
	letter-spacing: -0.25px;
	color: #414141;	
	min-height:100px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
ol {
	list-style: none;
	counter-reset: my-awesome-counter;
}
ol li {
	counter-increment: my-awesome-counter;
	padding-left:43px;
	position:relative;
	margin-bottom:16px;
}
ol li::before {
	content: counter(my-awesome-counter) "";
	color: #fff;
    font-weight: 400;
    background: #21bf37;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 0;
    position: absolute;
    left: 0;
    line-height: 25px;
}
.condition .link{
	max-width:280px;
    display: inline-block;
	position:relative;
    padding-left: 30px;
}
.conditions .link:before {
    content: "";
    width: 14px;
    height: 17px;
    background-image: url(../images/condition-link.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    background-position: center;
    position: absolute;
    left: 0;
}
.condition:after{
    content: "";
    width: 12px;
    height: 69px;
    background-image: url(../images/condition-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    background-position: center;
    position: absolute;
    left: auto;
    right: -80px;
    top: 68px;
}

/*****  Conditions  *****/

/*****  Stages  *****/

#stages{
	padding-top:98px;
}
.stages-list{
	margin-top:50px;
	position:relative;
	font-size: 14px;
	letter-spacing: -0.25px;
	color: #414141;
    width: 100%;
    min-height: 118px;
}
.stage{
	position:absolute;
    bottom: 0;
    margin-bottom: 40px !important;
}
.stage:after{
    content: "";
    width: 1px;
    height: 41px;
	background:#979797;   
    display: inline-block;
    background-position: center;
    position: absolute;
    left: 31px;
    bottom: -41px;
}
.stage1{
	max-width:97px;
    margin: 10px 0px 0px 5px;
}
.stage2{
    max-width: 115px;
    margin: 10px 0px 0px 115px;
}
.stage3{
    max-width: 115px;
    margin: 0px 0px 0px 265px;
}
.stage4{
    max-width: 120px;
    margin: 10px 0px 0px 390px;
}
.stage5{
    max-width: 165px;
    margin: 10px 0px 0px 525px;
}
.stage6{
    max-width: 165px;
    margin: 10px 0px 0px 710px;
}
.stage7{
    max-width: 125px;
    margin: 10px 0px 0px 920px;
}
.stage-title{
	font-size: 12px;
	font-weight: 600;
	letter-spacing: -0.22px;
	color: #414141;
	margin-top:10px;
}
.stage5:after{
    left: 7px;
}
.stage7:after{
    left: 51px;
}

.term-list{
	position:relative;
	font-size: 14px;
	letter-spacing: -0.25px;
	color: #414141;
    width: 100%;
    min-height: 30px;
}
.term{
	position:absolute;
    top: 0;
}
.term1{
    margin: 0px 0px 0px 11px;
}
.term2{
    margin: 0px 0px 0px 121px;
}
.term3{
    margin: 0px 0px 0px 278px;
}
.term4{
    margin: 0px 0px 0px 398px;
}
.term5{
    margin: 0px 0px 0px 510px;
}
.term6{
    margin: 0px 0px 0px 700px;
}
.term7{
    margin: 0px 0px 0px 950px;
}
.term-details{
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.21px;
  color: #a2a2a2;
	margin-top:39px;
	max-width:454px;
	float:right;  
}
#stages .row, #team .row{
    display: inline-block;
    width: 100%;
}

/*****  Stages  *****/

/*****  Form  *****/

#form{
	padding:180px 0px 0px 0px;
	overflow:hidden;
}

#form .title{
	text-align:right;
}
.title-bold{
	font-weight:700;
}
.form-block{
	width:858px;
}
#form .title:before{
	display:none;
}
#form .row {
    position: relative;
    display: inline-block;
    width: 100%;
	padding-bottom: 137px;	
	border-bottom: 1px solid #d0d0d0;
}
#form .container {

}
.form-bg{
	width:100%;
	background:#4a9dff;
	border-radius: 16px;
	padding:34px 40px 50px 40px;
	margin-top:44px;
}
	
form input {    
    border: 0px;
    background: transparent;
	border-radius: 5px;
	background-color: #ffffff;
    width: 100%;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.32px;
	color: #000;
	padding:11px 32px;
}	
input::placeholder{
	color: #bbbbbb;
}	
input:-webkit-input-placeholder{
	color: #bbbbbb;
}
input::-moz-placeholder {
	color: #bbbbbb;
}
input:-ms-input-placeholder{
	color: #bbbbbb;
}
input:-moz-placeholder {
	color: #bbbbbb;
}

.input{
	width:322px;
}
.input-line{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
	margin-top:40px;	
}
.input-line:first-child{
	margin-top:0px;		
}
#form .directions-img {
    right: -182px;
    bottom: -2px;
    position: absolute;
}
.input label{
	font-size: 20px;
	font-weight: 600;
    letter-spacing: -0.42px;
	color: #ffffff;	
}
input[type=checkbox] {
    display: none;
}
.checkbox {
    padding-left: 32px;
    position: relative;
    text-transform: initial !important;
	font-size: 14px;
	letter-spacing: -0.25px;
	color: #414141;
	margin-left:57px;
	width:230px;
}
input[type=checkbox] + label:before {
    content: "";
    height: 22px;
    width: 22px;
    display: inline-block;
    border-radius: 5px;
    background: #e6e6e6;
    position: absolute;
    margin-top: 3px;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
input[type=checkbox]:checked + label:before {
    content: "";
    background: #4a9dff;
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
}

form .btn-style{
    width: 300px;
    padding: 22px 34px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.08px;
}
.form-checkbox{
    width: 50%;
    display: inline-block;	
}
.after-form{
	width:100%;
    display: inline-flex;
    justify-content: space-between;
	margin-top:33px;		
}
#form .main-director-position{
    position: absolute;
    right: 260px;
    top: 267px;
    max-width: 140px;	
}
#form .bg-left{
	width:289px;
	height:289px;
    top: 100px;	
}
#form .bg-right{
    width: 418px;
    height: 418px;
    border-radius: 70px;
    left: auto;
    right: -150px;
    top: auto;
    bottom: 60px;
}

/*****  Form  *****/

/*****  Certificates  *****/

#certificates{
	padding:87px 0px 0px 0px;
}
#certificates .row {
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 63px;
}
.cert-title{
  font-size: 14px;
  letter-spacing: -0.25px;
  color: #414141;
  margin-top:23px;
}
.cert-date{
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.32px;	
  margin-top:8px;
}
.certificates-list{
	margin-top:60px;
}
#certificates .bg-left{
	width:240px;
	height:240px;
	top:auto;
	bottom:0;
	left:-50px;
}

/*****  Certificates  *****/

/*****  Team  *****/

#team{
	padding-top:90px;
}
.team-item{
	width:100%;
	position:relative;
    padding-bottom: 110px;	
    padding-top: 130px;
}
.team-name{
  font-size: 24px;
  letter-spacing: -0.39px;
  text-align: right;
  color: #000000;
}

.team-position{
  font-size: 20px;
  letter-spacing: -0.36px;
  color: #414141;
  margin-top:3px;
   text-align: right;
}

.team-text{
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.36px;
	text-align: right;
	color: #ffffff;
	padding:16px 0px 20px 40px;
	border-radius: 5px;
	background-image: linear-gradient(104deg, #21bf37, #179629);
	margin-top:26px;
	max-width: 100% !important;
}
.team-img{
    position: absolute;
    bottom: 0;
    right: -27px;
    width: auto !important;	
}
.team-info{
	max-width:814px;
	margin-left:49px;
	width:100%;
}
.team-info>div{
    max-width: 582px;
    text-align: right;
}
.team-text-content{
    max-width: 540px;
}
.team-info .btn-style{
    width: 300px;
    padding: 22px 34px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.08px;
	margin-top:50px;	
	text-align:center;
}
#team .row{
    border-bottom: 1px solid #d0d0d0;
}
#team .container {

}
.team-list img{
	max-width:auto;
}
#team .owl-controls{
	position:initial;
}
#team .owl-prev {
    left: 0;
}
#team .owl-dots{
	position:absolute;
	z-index:10;
    top: 12px;
    left: 350px;
}
#team  .owl-nav {
    margin-top: -20px;
}
#team .row {
    display: block;
}

/*****  Team  *****/

#text-block .row{
    border-bottom: 1px solid #d0d0d0;
	padding:46px 0px 16px 0px;
}
#text-block p{
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.36px;
	color: #414141;
	margin-bottom:30px;
}


/*****  Footer  *****/

footer .row {
    padding: 34px 0px 34px 0px;
    border-bottom: 1px solid #d0d0d0;
}

footer .col-lg-6{
	padding:0;
}

.contacts-phone{
	margin-top:40px;
}
.footer-right{
	margin-top:87px;
    text-align: right;	
}
.footer-phone{
	font-size: 36px;
	letter-spacing: -0.87px;
	color: #000000;
     display: block;
}
.footer-phone-big{
  font-size: 48px;
  letter-spacing: -1.16px;
  margin-left:20px;
}
.contacts-address{
	margin-top:59px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.36px;
	color: #414141;
	max-width:300px;
	position:relative;
    padding-left: 22px;
}
.contacts-address:before{
    content: "";
    width: 10px;
    height: 14px;
    background-image: url(../images/contacts-address.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    background-position: center;
    left: 0;
    position: absolute;
    top: 7px;
}

.footer-copyright img{
	max-width:100%;
}

.footer-socials{
	margin-top:40px;
}
.footer-social{
	position:relative;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
	margin-right:22px;
}
.footer-social:last-child{
	margin-right:0px;	
}
.footer-social:before{
    content: "";
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-position: center;
    transition: 0.4s;
    line-height: 36px;	
}
.footer-social.watsapp:before{
    background-image: url(../images/footer-social_watsapp.png);
}
.footer-social.telegram:before{
    background-image: url(../images/footer-social_telegram.png);
}
.footer-social.vk:before{
    background-image: url(../images/footer-social_vk.png);
}

.footer-social.instagram:before{
    background-image: url(../images/footer-social-insta.png);
}
.footer-social.footer-youtube:before{
    background-image: url(../images/footer-social-youtube.png);
    width: 54px;
    height: 40px;
}
.footer-social.footer-youtube{
    width: 54px;
    height: 40px;
}
.footer-social.fb:before{
    background-image: url(../images/footer-social-fb.png);
}

input[type="submit"], input[type="checkbox"] {
	cursor:pointer;
}

footer .btn-style{
    padding: 22px 60px 22px 55px;
}
.footer-email{
	font-size: 20px;
	letter-spacing: -0.36px;
	color: #414141;
	margin-top:40px;  
}
.footer-email:hover{
	text-decoration:underline;
}
footer .row.copyright{
	padding:14px 0px 19px 0px;
	border:0px;
	position:relative;
}
.footer-links{
    right: 0;	
    width: 100%;
    text-align: right;
}
.footer-links .link{
    max-width: 269px;
	margin-left:14px;
	position:relative;
    display: inline-block;
    vertical-align: top;
	text-align:left;
}
.requisites{
    padding-left: 22px;
}
.requisites:before{
    content: "";
    width: 14px;
    height: 17px;
    background-image: url(../images/requisites.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    background-position: center;
	margin-right:8px;
	position:absolute;
	left:0;
    top: 5px;
}
.copyright-logo{
	font-size: 24px;
	letter-spacing: -0.43px;
	color: #818181;
    margin: 0 auto;
	display: inline-block;
    margin-right: 30px;
    position: relative;
    vertical-align: top;
}
.footer-email{
	margin-top:40px;
	display:block;
}

.stages-img-mob{
	display:none;
}
.checkbox{
	cursor:pointer;
}
.team-img-mob{
	display:none !important;
}

/*****  Footer  *****/		


/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
    background-color: #b8b8b8;
	margin-right:-10px;
}
::-webkit-scrollbar-thumb {
    width: 8px;
    background-image: -webkit-linear-gradient(#b8b8b8, #b8b8b8);
	border-radius:8px;
}
::-webkit-scrollbar-track {    
    border: 0px solid black;
    background-color: #fff;
}

/* scrollbar */

/*****  IE  *****/

@media all and (-ms-high-contrast:none)
{

}
	 
/*****  IE  *****/	 
	

/***************media mobile****************/


@media screen and (max-width:1200px){
.main-text .btn-style {
    min-width: auto;
    letter-spacing: 1px;
    padding: 22px 30px;
}
.main-desc{
	min-width:440px;
}
#main-block .row {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 0;
}
.bg-transparent {
    bottom: 2px;
}
#directions{
	overflow:hidden;
}
.directions-img {
    right: -170px;
}
.directions-img .main-director-position {
    right: auto;
    top: 55px;
    max-width: 140px;
    left: 20px;
}
.works-item-img, .works-item-info {
    max-width: 470px;
}
.works-item-info {
    margin-top: 30px;
}
.promo-block {
    padding: 30px 100px 50px;
}
.works-item-img {
    margin-right: 30px;
}
.works-item-img img {
	box-shadow: 1px 4px 29px 0 rgba(133, 202, 255, 0.78);
    border-radius: 5px;
}
.promo-works-bg:after {
    background-position: center;
}
#stages img{
    max-width: 100%;
}
.stage {
    font-size: 12px;
}
.stage:after {
    left: 26px;
}
.stage5:after {
    left: 7px;
}
.stage2 {
    margin: 10px 0px 0px 100px;
}
.stage3 {
    margin: 0px 0px 0px 230px;
}
.stage4 {
    margin: 10px 0px 0px 336px;
}
.stage5 {
    max-width: 130px;
    margin: 10px 0px 0px 450px;
}
.stage6 {
    margin: 10px 0px 0px 600px;
}
.stage7 {
    margin: 10px 0px 0px 783px;
}

.term2 {
    margin: 0px 0px 0px 100px;
}
.term3 {
    margin: 0px 0px 0px 240px;
}
.term4 {
    margin: 0px 0px 0px 340px;
}
.term5 {
    margin: 0px 0px 0px 436px;
}
.term6 {
    margin: 0px 0px 0px 586px;
}
.term7 {
    margin: 0px 0px 0px 792px;
}
#form .directions-img {
    right: -70px;
}
#form .directions-img  img{
    max-width: 300px;
}
#form .title {
    text-align: center;
}
.form-block {
    width: 80%;
}
#form {
    padding: 80px 0px 0px 0px;
}
#form .main-director-position {
    position: absolute;
    right: auto;
    left: 54px;
    top: 120px;
    max-width: 123px;
}
#form .row {
    padding-bottom: 33px;
}
.team-item img{
    max-width: 400px;	
}
.team-info {
    max-width: 70%;
}
.team-item {
    padding-bottom: 50px;
    padding-top: 50px;
}
.team-info>div {
    max-width: 522px;
}
.team-text-content {
    max-width: 480px;
}
.promo-works-bg {
    margin-top: -88px;
}
#conditions .row {
    padding: 20px 0px 50px 0px;
}
#conditions .bg-right {
    width: 230px;
    height: 230px;
}


}


@media screen and (max-width:992px){

.headerTop {
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center;
}
.headerTopLinks {
    margin: 0 auto;
}
.headerTopText {
	text-align:center;
	margin-bottom:10px;
}
.main-img {
    margin-top: -25px;
    margin-left: 0;
    float: none;
    margin-right: 0;
    max-width: 50%;
}
.main-text {
    padding-top: 20px;
    display: inline-block;
    font-family: 'IBM Plex Sans', sans-serif;
    max-width: 48%;
    float: right;
}
.main-pre-title {
    font-size: 20px;
}
.main-title {
    font-size: 27px;
    margin-top: 0;
}
.main-title-green {
    font-size: 25px;
    margin-left: 0;
    padding: 10px;
    line-height: 20px;
    margin: 10px 0px;
}
.main-text .btn-style {
    padding: 8px 20px;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    float: right;
}
.main-director {
    margin-top: 0px;
}
.main-desc {
    min-width: 100%;
    font-size: 12px;
    text-align: center;
    float: none;
    margin-top: 25px;
}
.advantage {
    text-align: left;
    padding: 0px 20px;
}
.advantage-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.advantage-text {
    font-size: 14px;
    margin-bottom: 10px;
}
.advantage-link {
    font-size: 12px;
}
.link-img:before {
    width: 7px;
    height: 15px;
}
.promo-text {
	font-size: 17px;
    width: 70%;
}
#directions {
    margin-top: auto;
    padding-top: 50px;
}
.directions-img img{
    max-width: 300px;	
}
.directions-tabs {
    margin-top: 38px;
    max-width: 100%;
}
.directions-tabs li a {
    padding: 8px 10px;
    margin: 0px 10px;
    min-width: 80px;
}
.tab-content {
    max-width: 100%;
}
.tab-pane {
    margin-left: 0;
}
.directions-img {
    right: -120px;
}
.directions-img .main-director-position {
    right: auto;
    top: 47px;
    max-width: 120px;
    left: -10px;
}
.directions-btn {
    max-width: 80%;
    padding-left: 0;
    text-align: center;
}
.directions-tab-content {
    min-height: 240px;
    margin-bottom: 30px;
}
.works-item-img {
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: initial;
}
.works-item-img  img{
    width: initial !important;
    margin: 0 auto;
}
.works-item-img, .works-item-info {
    max-width: 100%;
}
.works-item-btns {
    margin-left: 0;
}
.condition:after {
    right: -46px;
}
#stages img {
    max-width: 100%;
    margin-left: 0px;
    max-height: 440px;

}
.stages-list, .stages-img, .term-list{
    display: inline-block;
    max-width: 25%;
    position: relative;
	vertical-align:top;
    margin-top: 50px;
}
.stage {
    font-size: 12px;
    margin-left: 0px !important;
	margin-top:0px !important;
    position: relative;
}
.stages-list {
    max-width: 60%;	
}
.stages-img{
    max-width: 15%;
}
.stages-img-desktop{
	display:none;
}
.stages-img-mob{
	display:block;
}
.stage {
    max-width: 100% !important;
}
.stage:after {
    content: "";
    width: 40px;
    height: 1px;
    background: #979797;
    display: inline-block;
    background-position: center;
    position: absolute;
    left: 31px;
    bottom: 50%;
    right: 60px;
    left: auto !important;
}	
.term {
    position: inherit;
    top: 0;
    margin: 0px 0px 43px 0px !important;
}	
.term2{
    margin-top: -7px !important;
}	
.term3{
    margin-top: -12px !important;
}	
.term4{
    margin-top: -7px !important;
}	
.term5{
    margin-top: -24px !important;
}	
.term6{
    margin-top: 7px !important;
}	
.term7{
    margin-top: 90px !important;
}		
	
.stage3{
    margin-top: -16px !important;
}
.stage4{
    margin-top: -18px !important;	
}
.stage5{
    margin-top: -18px !important;	
}	
.stage6{
    margin-top: 10px !important;
    display: inline-block;
    width: 100%;
}	
.stage7{
    margin-top: 48px !important;
    display: inline-block;
    width: 100%;
}	

.form-block {
    width: 100%;
}

#form .directions-img {
    display: none;
}
.input {
    width: 48%;
}
.input label {
    font-size: 16px;
}
form .btn-style {
    width: auto;
    padding: 22px 34px;
    letter-spacing: 1px;
}
.team-item img {
    max-width: 300px;
}
.team-info {
    max-width: 60%;
    margin-left: 30px;
}
.team-info>div {
    max-width: 100%;
}
.team-text {
    padding: 16px;
    font-size: 14px;
    margin-top: 14px;
}
.team-info .btn-style {
    width: auto;
    padding: 22px 34px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
}
#text-block p {
    font-size: 16px;
}
footer{
	text-align:center;
}
footer .title{
	text-align:left;
}
.contacts-phone {
    margin-top: 20px;
}
.footer-phone {
    font-size: 25px;
}
.footer-phone-big {
    font-size: 30px;
    margin-left: 0;
}
.contacts-address {
    font-size: 18px;
    margin: 20px auto;
}
.footer-right {
    margin-top: 20px;
    text-align: center;
}

}

@media screen and (max-width:768px){

.logo {
    font-size: 22px;
    line-height: 30px;
}
.logo span:before {
    height: 1.7px;
    margin-top: 15px;
}
.phone-number {
    color: #000;
    font-size: 20px;
}
.call {
    margin-top: 5px;
}
.main-pre-title {
    font-size: 18px;
}
.main-title-green {
    font-size: 22px;
    margin: 8px 0px;
    font-weight: normal;
}
.main-text .btn-style {
    padding: 7px 20px;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}
.main-desc {
    margin-top: 8px;
}
#advantages {
    padding: 20px 0px 0px 0px;
}
.advantages-list {
    display: inline-block;
}
.advantage {
    padding: 10px 0px;
}
.advantage-title {
    margin-bottom: 5px;
}
.advantage:after {
    width: 40px;
    height: 1px;
    position: absolute;
    right: auto;
    bottom: 0;
    top: auto;
}
.promo-text {
    font-size: 16px;
    width: 60%;
}
.title {
    font-size: 26px;
}
.directions-tabs {
    display: inline-block;
}
.directions-tabs li a:after{
    margin: 0;
}
.directions-tabs li a {
    padding: 8px 0px;
}
.directions-tabs li.active a, .directions-tabs li:hover a  {
    padding: 8px 10px;
}
.directions-tabs li{
    margin-bottom: 12px;
}
.directions-btn {
    max-width: 100%;
}
.directions-img img {
    max-width: 50%;
}
.directions-btn .btn-style {
    min-width: 88%;
    letter-spacing: 1px;
    font-size: 18px;
}
.directions-btn {
    max-width: 100%;
}
.directions-img {
    right: 0;
    max-width: 100%;
    position: initial;
    margin-top: 50px;
}
.directions-btn .main-desc {
    min-width: 100%;
}
.directions-flex{
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center;	
}
.directions-img .main-director-position {
    right: auto;
    top: auto;
    max-width: 160px;
    left: 0;
    bottom: 300px;
}
#video {
    padding: 20px 0px;
}
.youtube {
    height: 300px;
}
.video-block .btn-style {
    padding: 15px 35px;
    margin-top: 10px;
    letter-spacing: 1px;
}
#reviews .owl-controls {
    position: inherit;
    top: auto;
    right: auto;
    margin: 10px auto;
    text-align: center;
}
#reviews .owl-nav {
    margin-top: -20px;
}
#reviews .owl-theme .owl-controls .owl-dots {
    margin-top: 0px;	
}
#works .owl-dots {
	display:none !important;
}
.promo-block {
    padding: 20px 40px 30px;
}	
.promo-block .btn-style {
    font-size: 20px;
}
.promo-block .link {
    font-size: 28px;
}
.promo-block-title {
    line-height: 46px;
}
.condition, .effects {
    width: 100%;
	margin-bottom:20px;
}
.condition:after {
	display:none;
}
#stages {
    padding-top: 30px;
}
#conditions .row {
    padding: 20px 0px 20px 0px;
}
.stage:after {
    right: 15px;
}	
#form {
    padding: 30px 0px 0px 0px;
}	
.input {
    width: 100%;
	margin-bottom:10px;
}
.input-line {
    display: inline-block;
}
.input-line {
    margin-top: 0;
}	
.checkbox {
    margin-left: 0;
	width:100%;
	text-align:left;
}	
.form-checkbox {
    width: 100%;
}
.after-form {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}	
form .btn-style {
	margin-top:20px;
}	
#certificates {
    padding: 30px 0px 0px 0px;
}	
.team-img-mob{
	display:block !important;
}
.team-img{
	display:none !important;
}	
.team-info {
    max-width: 90%;
    margin: 0px 5%;
}	
.team-item img {
    max-width: 200px;
    margin: 0 auto;
}	
.team-info>div {
    text-align: center;
}	
.team-info .btn-style {
    width: auto;
    padding: 15px 34px;
    font-size: 18px;
}
.team-text {
    margin-top: 0;
}
.team-item {
    padding-bottom: 30px;
    padding-top: 30px;
}
#team {
    padding-top: 30px;
}
#text-block p {
    font-weight: 500;
}
#text-block .row {
    padding: 30px 0px 0px 0px;
}
footer .btn-style {
    padding: 15px 30px;
    letter-spacing: 1px;
    font-size: 18px;
}
.copyright-logo {
    margin-right: 0;
    display: block;
    text-align: center;
	margin-bottom:10px;
}
.footer-links .link {
    max-width: 100%;
    margin-left: 0px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}	
.requisites:before{
	display:none;
}	
#map>ymaps{
	height:300px !important;
}	
footer .row {
    padding: 20px 0px;
}
.bg-transparent {
    max-width: 50%;
}
.works-item-more {
    display: block;
    text-align: left;
    margin: 0;
}
	
}



@media screen and (max-width:576px){
.logo {
    max-width: 160px;
}
.main-img, .bg-transparent{
	display:none;
}
.main-text {
    max-width: 100%;
    text-align: center;
}
.main-text .btn-style {
    padding: 10px 20px;
    font-size: 14px;
    float: none;
}
.advantages-list {
    padding-bottom: 20px;
}
.promo-img, .promo-text {
    width: 100%;
    text-align: center;
}
.promo-text {
    width: 100%;
    margin: 10px auto;
}
#promo-line {
    padding: 20px 0px;
}
#directions {
    padding-top: 20px;
}
.directions-btn .btn-style {
    padding: 10px;
    max-width: 80%;
}
.youtube {
    height: 200px;
}
.btn-style {
    font-size: 18px !important;
}
.call-info {
    font-size: 18px;
}
.owl-prev{
    left: 0;
}
.reviews-item:after{
	display:none;
}
.owl-dots {
    margin-right: 0;
}
.works-item-img{
    max-width: 100%;
}
#works .owl-nav{
    top: 33%;
}
.promo-block-title span {
    font-size: 50px;
}
.promo-block .link {
    font-size: 24px;
}
.stage {
    margin-bottom: 30px !important;
    max-width: 200px !important;
}
.stage:after {
    right: 7px;
    width: 20px;
}
.stage2{
    margin-top: -14px !important;
}
.stage3{
    margin-top: -5px !important;
}
.stage4{
    margin-top: -8px !important;
}
.stage5{
    margin-top: -10px !important;
}
.stage6{
    margin-top: 10px !important;
}
.stage7{
    margin-top: 32px !important;
}
.term2 {
    margin-top: -14px !important;
}
.term3 {
    margin-top: -5px !important;
}
.term4 {
    margin-top: -10px !important;
}
.term5 {
    margin-top: -21px !important;
}
.term6 {
    margin-top: 4px !important;
    display: inline-block;
}
.term7 {
    margin-top: 20px !important;
}
#certificates .row {
    padding-bottom: 20px;
}
.footer-social {
    margin: 0px 20px 20px 20px !important;
}
#reviews .owl-nav {
	display:none;
}
.owl-theme .owl-controls .owl-dots {
    margin-right: 0 !important;
}
#reviews .owl-dot {
    margin-left: 8px;
    margin-right: 8px;
}
.works-item-img img{
	max-width:100% !important;
}

}



@media screen and (max-width:340px){
.stage:after{
	display:none;
}
.headerLeft {
    text-align: center;
    float: none;
}
.headerRight {
    float: none;
    text-align: center;
    width: 100%;
}
.phone-number {
    text-align: center;
}

.logo span:before {
    margin-left: 0;
    left: -4px;
}

}