/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, button {
	outline: none;
}

a {
	background-color: transparent;
	text-decoration: underline;
	-webkit-text-decoration-skip: objects;
}

input, button {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* fonts */

/* styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	cursor: default;
    font-size: 16px;
    line-height: 1.5em;
}

header, section, footer {
	margin: 0 auto;
	max-width: 1920px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
	position: relative;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

/* placeholder */

::-webkit-input-placeholder {
	opacity: 1;
	color: #222;
}

:-moz-placeholder {
	opacity: 1;
	color: #222;
}

::-moz-placeholder {
	opacity: 1;
	color: #222;
}

:-ms-input-placeholder {
	opacity: 1;
	color: #222;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
}

:focus:-moz-placeholder {
	opacity: 0;
}

:focus::-moz-placeholder {
	opacity: 0;
}

:focus:-ms-input-placeholder {
	opacity: 0;
}

/* bold */

b {
	font-weight: 700;
}

/* items list */

.items_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	text-align: center;
}

.items_list .item {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
}

/* titles */

h2 {
	font-weight: 800;
	font-size: 48px;
	line-height: 50px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	text-align: center;
}

/* button */

.button {
	display: block;
	width: 380px;
	height: 80px;
	border: 1px solid rgb(16, 135, 229);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color: rgb(16, 135, 229);
	background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(255, 255, 255, 0.11)));
	background-image: -webkit-linear-gradient(bottom, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	background-image: -moz-linear-gradient(bottom, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	background-image: -o-linear-gradient(bottom, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	background-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	font-weight: 700;
	font-size: 24px;
	line-height: 74px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.b6 { padding:0 0 40px; }
.b6 ul { padding:0 0 40px; }
.b6 ul li { display:inline-block; vertical-align:top; width:24%; position:relative; }
.b6 ul li h3 { text-transform:uppercase; font-weight:700; font-size:18px; line-height:24px; padding:0 20px 10px; }
.b6 ul li p { font-size:14px; line-height:22px; padding:0 20px; }
.b6 ul li:after { content:''; display:block; background: center top no-repeat; height:45px; width:25px; position:absolute; right:-15px; top:40px; z-index:50; }
.b6 ul li.last:after { display:none; }
.b6 p { text-align:center; }
.center{
	text-align: center;
}
.razdel img { display:block; margin:-20px auto 0; padding:0 10px; background:#fff; }
.razdel { margin:20px 0; border-top:2px solid #333; }

.button:hover {
	background-color: #071637;
}

.button:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.11)));
	background-image: -webkit-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	background-image: -moz-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	background-image: -o-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
	background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.11) 100%);
}

/* header */

header {
	background: #b4048e url(desctop__header_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/desctop__header_bg.jpg*/ center top no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header .info {
	padding: 12px 0 50px 0%;
}

header h1 {
	margin: 0 0 30px 0;
	font-weight: 800;
	font-size: 44px;
	line-height: 48px;
	letter-spacing: 0.44px;
	color: rgb(16, 135, 229);
	text-transform: uppercase;
}

header h1 span {
	color: #fff;
}

header .mobile_image {
	display: none;
}

header ul {
	margin: 0 0 30px 0;
	width: 420px;
}

header ul li {
	margin: 0 0 20px 0;
	padding: 0 0 0 80px;
	height: 60px;
	background-position: left top;
	background-repeat: no-repeat;
	font-size: 22px;
	line-height: 28px;
	color: #fff;
}

header ul li:first-child {
	background-image: url(header__icon1.png);
}

header ul li:nth-child(2) {
	background-image: url(header__icon2.png);
}

header ul li:last-child {
	margin: 0;
	background-image: url(header__icon3.png);
}

header .price_block {
	margin: 0 0 18px 0;
	width: 380px;
	line-height: 40px;
	color: #fff;
}

header .price_block .text {
	padding: 6px 0 0 0;
	font-size: 24px;
}

header .price_block .old {
	margin: 0 15px;
	padding: 2px 0 0 0;
	font-size: 36px;
	text-decoration: line-through;
}

header .price_block .new {
	font-size: 40px;
	font-weight: 800;
	color: rgb(16, 135, 229);
}

/* advantages */

.advantages_section {
	padding: 41px 0 43px 0;
	background: #2f2f89 url(desctop__advantages_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/desctop__advantages_bg.jpg*/ center top no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.advantages_section h2 {
	margin: 0 0 43px 0;
}

.advantages_section h2 .color {
	color: rgb(16, 135, 229);
	white-space: nowrap;
}

.advantages_section .advantage_item {
	padding: 0 15px;
	width: 33.333333%;
}

.advantages_section .advantage_item:last-child {
	padding: 0;
}

.advantages_section .advantage_item img {
	display: block;
	margin: 0 auto 20px auto;
	border: 9px solid rgba(255,255,255,0.17);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.advantages_section .advantage_item p {
	font-size: 18px;
	line-height: 28px;
}

/* gallery */
.catalog_section{
    padding: 40px 0;
}
.catalog_section .desc{
    text-align: center;
    padding: 30px 0 0;
}
.catalog_section .desc-item{
    display: inline-block;
    padding: 0 15px;
}
.catalog_section .desc-item>b{
    margin: 0 5px 0 0;
}
.catalog_section .desc-item>i{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    border: 1px solid #ccc;
}
.catalog_section .button{
    margin: 0 auto;
}
.catalog_section h2{
	margin: 15px;
}
.catalog_section .desc-item .how-size{
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 10px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b9139b;
    border-bottom: 1px dashed #b9139b;
    cursor: pointer;
    vertical-align: middle;
}
.catalog_section .desc-item .how-size:hover{
    color: #f153d4;
    border-color: #f153d4;
}

.catalog_section .tov-cont{
    padding: 20px 0;
    text-align: center;
}
.catalog_section .tov-cont>img{
    display: inline-block;
    margin: 15px;
    border: 8px solid #eee;
}
.popup {
    width: 300px;
    margin-left: -150px;
    position: fixed;
    top: 10%;
    left: 50%;
    display: none;
    border: 1px solid #ccc;
    background: #f1f1f1;
    z-index: 9999;
}
.popup table{
    text-align: center;
}
.popup table tr>td{
    padding: 12px 0;
    font-size: 16px;
    line-height: 1em;
}
.popup table tr:nth-child(odd)>td{
    background: #e8e8e8;
}
.popup table tr>td:nth-child(1){
    border-right: 1px solid #999;
}
.popup table tr:nth-child(1)>td{
    padding: 12px;
    background: #bd4ea1;
    color: #fff;
    font-weight: 700;
    line-height: 1.2em;
}
.popup table tr:nth-child(1)>td:nth-child(1){
    border-color: #fefefe;
}
/* bizlife_inc */
.popup a.close {
    width:30px;
    height:30px;
    display:block;
    line-height: 30px;
    text-align: center;
    position:absolute;
    top: -10px;
    right: -10px;
    cursor:pointer;
    border-radius: 50%;
    background: #fff;
    color: #111;
    font-weight: 700;
    text-decoration: none;
}/* owmen17 */


/**********popup with form**********/
 #overlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    background:#000;
    opacity:0.8;
    z-index: 999;
}

.gallery img {
	width: 16.66666666666667%;
}

/* characteristics */

.characteristics_section {
	padding: 50px 0;
	background: #f26681 url(desctop__characteristics_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/desctop__characteristics_bg.jpg*/ center top no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.characteristics_section h2 {
	margin: 0 0 43px 0;
}

.characteristics_section .info {

}

.characteristics_section .video_block {

}

.characteristics_section .video-container{
	width: 400px;
    height: 225px;
    /*margin: 0 auto;*/
		margin-left: 20px;
	background: #000;
	overflow: hidden;
	position: relative;
    outline: 10px solid rgba(255,255,255,0.17);
		box-sizing: border-box;
		float: left;
}
.characteristics_section .ul_block{

position: relative;
box-sizing: border-box;
margin-left: 470px;
padding-top:30px;


}
.characteristics_section .ul_block li{
	list-style-type:square;
	font-size:22px;
	padding: 10px;
}
.characteristics_section .video-container iframe,
.characteristics_section .video-container object,
.characteristics_section .video-container embed {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.characteristics_section .characteristics_list {
	float: left;
	padding: 4px 0 0 0;
	width: 460px;
}

.characteristics_section .characteristics_list .column {
	float: left;
	width: 230px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.characteristics_section .characteristics_list .column:first-child .characteristic_item:nth-child(2) {
	margin: 12px 0;
}

.characteristics_section .characteristics_list .title {
	margin: 0 0 4px 0;
	text-transform: uppercase;
}

.characteristics_section .characteristics_list p {
	color: rgb(16, 135, 229);
}

.characteristics_section .button {
	margin: 0 auto;
}

/* reviews */

.reviews_section {
	padding: 41px 0 75px 0;
	background: #f2f2f2;
}

.reviews_section h2 {
	margin: 0 0 43px 0;
	color: #222;
}

.reviews_section .owl-prev,
.reviews_section .owl-next {
	width: 42px;
	height: 56px;
	background-color: rgba(0,0,0,0.4);
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: 15px auto;
	-o-background-size: 15px auto;
	background-size: 15px auto;
	position: absolute;
	top: 130px;
}

.reviews_section .owl-prev {
	-webkit-border-radius: 0px 15px 15px 0px;
	-moz-border-radius: 0px 15px 15px 0px;
	border-radius: 0px 15px 15px 0px;
	background-image: url(reviews__arrow_left.png)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/reviews__arrow_left.png*/;
	left: 0;

}

.reviews_section .owl-next {
	-webkit-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
	background-image: url(reviews__arrow_right.png)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/reviews__arrow_right.png*/;
	right: 0;

}

.reviews_section .vk_reviews_list {
	margin: 0 0 35px 0;
}

.reviews_section .vk_reviews_list .owl-prev,
.reviews_section .vk_reviews_list .owl-next {
	top: 50%;
	margin-top: -28px;
}

.reviews_section .vk_reviews_list img {
	display: block;
	width: 300px;
}

.reviews_section .reviews_list .review_item {
	padding: 20px;
	width: 460px;
	background: #fff;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
}

.reviews_section .reviews_list img {
	display: block;
}

.reviews_section .reviews_list .author_info {
	margin: 16px 0 8px 0;
	font-weight: 700;
}

/* order steps */

.order_steps_section {
	padding: 41px 0 45px 0;
	background: #4b4b9e url(desctop__order_steps_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/desctop__order_steps_bg.jpg*/ center top no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.order_steps_section h2 {
	margin: 0 0 53px 0;
}

.order_steps_section .step_item {
	width: 25%;
}

.order_steps_section .step_item:first-child {
	padding: 0 15px;
}

.order_steps_section .step_item:nth-child(2) {
	padding: 0 5px;
}

.order_steps_section .step_item:nth-child(3) {
	padding: 0 10px;
}

.order_steps_section .step_item .icon {
	margin: 0 auto 20px auto;
	width: 140px;
	height: 140px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.17);
	-moz-box-shadow: 0 0 0 10px rgba(255,255,255,0.17);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.17);
}

.order_steps_section .step_item:first-child .icon {
	background-image: url(order_steps__step1_icon.png)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/order_steps__step1_icon.png*/;
}

.order_steps_section .step_item:nth-child(2) .icon {
	background-image: url(order_steps__step2_icon.png)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/order_steps__step2_icon.png*/;
}

.order_steps_section .step_item:nth-child(3) .icon {
	background-image: url(order_steps__step3_icon.png)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/order_steps__step3_icon.png*/;
}

.order_steps_section .step_item:last-child .icon {
	background-image: url(order_steps__step4_icon.png)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/order_steps__step4_icon.png*/;
}

.order_steps_section .step_item h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}

.order_steps_section .step_item p {
	font-size: 15px;
	line-height: 22px;
}

/* order */

.order_section {
	padding: 50px 0;
	background: #f26681 url(desctop__order_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/desctop__order_bg.jpg*/ center top no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.order_section .info {
	float: right;
	margin: 0 0 0 20px;
	width: 460px;
	font-weight: 800;
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
}

.order_section .info h3 {
	color: rgb(16, 135, 229);
}

.order_section .info h3 span {
	white-space: nowrap;
}

.order_section .info p {
	margin: 26px 0 20px 0;
	color: #fff;
}

.order_section .info img {
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.order_section form {
	float: left;
	padding: 17px 0 30px 0;
	width: 460px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255,255,255,0.25);
}

.order_section form .title {
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	text-align: center;
}

.order_section .price_block {
	margin: 28px auto 33px auto;
	padding: 0 10px;
	width: 380px;
}

.order_section .price_block .price_item {
	width: 50%;
	line-height: 40px;
	text-align: center;
}

.order_section  .price_block .old {
	padding: -1px 0 10px 0;
	font-size: 36px;
	color: #fff;
	text-decoration: line-through;
	text-align: left;
	margin-left: 10px;
}

.order_section .price_block .new {

	font-weight: 800;
	font-size: 40px;
	color: rgb(16, 135, 229);
	text-align: right;
	margin-right: 10px;
}

.order_section input {
	margin: 0 auto 15px auto;
	padding: 0 15px;
	width: 380px;
	height: 70px;
	background: #fff;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #222;
	text-align: center;
}

.order_section button {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

/* footer */

footer {
	padding: 25px 0;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}

footer img {
	display: block;
	margin: 0 auto 10px auto;
}

footer a {
	color: #000;
}

footer a:hover {
	text-decoration: none;
}

@media screen and (max-width: 959px) {

	/* styles */

	.wrapper {
		width: 640px;
	}

	.reviews_section .owl-prev,
	.reviews_section .owl-next {
		top:70px;
	}
	/* titles */

	h2 {
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.36px;
	}

	/* header */

	header {
		background-image: url(tablet__header_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/tablet__header_bg.jpg*/;
	}

	header .info {
		padding: 40px 0 50px 0px;
		width: 370px;
	}

	header h1 {
		margin: -50px 0 30px 10px;
		font-size: 36px;
		line-height: 46px;
		letter-spacing: 0.36px;
	}

	header h1 span {
		font-size: 44px;
	}

	header ul {
		width: auto;
	}

	/* advantages */

	.advantages_section {
		padding: 43px 0 45px 0;
		background-image: url(tablet__advantages_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/tablet__advantages_bg.jpg*/;
	}

	.advantages_section .advantage_item {
		padding: 0 10px;
	}

	.advantages_section .advantage_item:nth-child(2) {
		padding: 0 4px;
	}

	.advantages_section .advantage_item:last-child {
		padding: 0 10px;
	}

	.advantages_section .advantage_item img {
		height: 180px;
	}

	.advantages_section .advantage_item p {
		font-size: 15px;
		line-height: 22px;
	}

	/* gallery */

    .catalog_section h2{
        font-size: 42px;
        line-height: 1.2em;
    }
    .catalog_section .desc-item{
        display: block;
        padding: 5px 0;
    }
    .catalog_section .tov-cont>img{
        display: block;
        float: left;
        width: 49%;
        margin: 0.5%;
    }


	.gallery img {
		width: 33.333333%;
	}

	/* characteristics */

	.characteristics_section {
		background-image: url(tablet__characteristics_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/tablet__characteristics_bg.jpg*/;
	}

	.characteristics_section .video_block {
	}

	.characteristics_section .video-container{
		width: 600px;
		height: 337px;
	}

	.characteristics_section .characteristics_list {
		float: none;
		margin: 0 0 0 98px;
		padding: 0;
	}
	.characteristics_section .ul_block{
		margin-left: 50px;

	}
	.characteristics_section .ul_block ul{
		margin-left: 120px;

	}
.characteristics_section .ul_block li:first-child{
	margin-top: 330px;

}
	/* reviews */

	.reviews_section .reviews_list .review_item {
		padding: 0;
		width: 300px;
	}

	.reviews_section .reviews_list .review_item p {
		padding: 0 15px 20px 15px;
	}

	/* order steps */

	.order_steps_section {
		padding: 43px 0 45px 0;
		background-image: url(tablet__order_steps_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/tablet__order_steps_bg.jpg*/;
	}

	.order_steps_section .step_item {
		width: 50%;
	}

	.order_steps_section .step_item:first-child {
		margin: 0 0 40px 0;
		padding: 0 50px;
	}

	.order_steps_section .step_item:nth-child(2) {
		padding: 0 35px;
	}

	.order_steps_section .step_item:nth-child(3) {
		padding: 0 50px;
	}

	.order_steps_section .step_item:last-child {
		padding: 0 35px;
	}

	/* order */

	.order_section {
		padding: 43px 0 50px 0;
		background-image: url(tablet__order_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/tablet__order_bg.jpg*/;
	}

	.order_section .info {
		float: none;
		margin: 0 auto;
		line-height: 40px;
		text-align: center;
	}

	.order_section .info p {
		margin: 20px 0 43px;
	}

	.order_section .info img {
		display: none;
	}

	.order_section form {
		float: none;
		margin: 0 auto;
	}

}

@media screen and (max-width: 639px) {

	/* styles */

	.wrapper {
		width: 320px;
	}

	/* titles */

	h2 {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.24px;
	}

	/* button */

	.button {
		width: 300px;
		font-size: 22px;
	}

	/* header */

	header {
		background-image: url(mobile__header_bg.jpg)/*tpa=http://vip-zzakazz.ru/freddy-leggings/images/mobile__header_bg.jpg*/;
	}

	header .info {
		padding: 36px 0 40px 0;
	}

	header h1 {
		margin: 0 0 12px -57px;
		font-size: 26px;
		line-height: 36px;
		letter-spacing: 0.26px;
		text-align: center;
	}

	header .mobile_image {
		display: block;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}

	header ul {
		margin: 40px 0 30px 0;
		width: 300px;
	}

	header ul li {
		padding: 0 0 0 75px;
		font-size: 18px;
		line-height: 20px;
	}

	header .price_block {
		margin: 0 0 14px 0;
		width: 300px;
		line-height: 38px;
	}

	header .price_block .price_item {
		width: 50%;
	}

	header .price_block .text {
		display: none;
	}

	header .price_block .old {
		margin: 0;
		font-size: 34px;
	}

	header .price_block .new {
		font-size: 38px;
	}

	/* advantages */

	.advantages_section {
		padding: 34px 0 35px 0;
		background-image: none;
	}

	.advantages_section h2 {
		margin: 0 0 35px 0;
	}

	.advantages_section .advantage_item {
		padding: 0;
		width: 100%;
	}

	.advantages_section .advantage_item:nth-child(2) {
		margin: 30px 0;
		padding: 0;
	}

	.advantages_section .advantage_item:last-child {
		padding: 0;
	}

	.advantages_section .advantage_item img {
		margin: 0 auto 15px auto;
	}
    .catalog_section .desc-item{
        display: block;
        padding: 8px 0;
    }
    .catalog_section .desc-item .how-size{
        margin: 15px 0 0;
    }
    .catalog_section .tov-cont>img{
        display: block;
        float: none;
        width: 90%;
        margin: 0 auto 10px;
    }
	/* characteristics */

	.characteristics_section {
		background-image: none;
	}

	.characteristics_section h2 {
		margin: 0 0 35px 0;
	}

	.characteristics_section .info {
	}

	.characteristics_section .video_block {
	}

	.characteristics_section .video-container{
		width: 300px;
		height: 180px;
	}

	.characteristics_section .characteristics_list {
		margin: 0;
		padding: 0 0 0 10px;
		width: 300px;
	}

	.characteristics_section .characteristics_list .column {
		width: 150px;
		font-size: 16px;
		line-height: 24px;
	}

	.characteristics_section .characteristics_list .column:last-child {
		width: 140px;
	}
.characteristics_section .ul_block li:first-child{
	margin-top: 160px;
}
.characteristics_section .ul_block ul{
	margin-left: 15px;
}
.b6 ul li { width:98%;margin-bottom:4px;}
.b6 ul li.two:after { display:block; }
.b6 ul li:after { content:''; display:block;height:25px; width:45px; position:absolute; left:50%; margin-left:-22px; top:275px; z-index:50; }
.b6 ul li.last { margin-bottom:30px; }
	/* reviews */

	.reviews_section {
		padding: 34px 0 40px;
	}

	.reviews_section h2 {
		margin: 0 0 35px 0;
	}

	.reviews_section .reviews_list .owl-prev,
	.reviews_section .reviews_list .owl-next {
		top: 73px;
	}

	/* order steps */

	.order_steps_section {
		padding: 34px 0 35px 0;
		background-image: none;
	}

	.order_steps_section h2 {
		margin: 0 0 45px 0;
	}

	.order_steps_section .step_item {
		margin: 0 0 40px 0;
		width: 100%;
	}

	.order_steps_section .step_item:first-child {
		margin: 0 0 40px 0;
		padding: 0 45px;
	}

	.order_steps_section .step_item:nth-child(2) {
		padding: 0 30px;
	}

	.order_steps_section .step_item:nth-child(3) {
		padding: 0 45px;
	}

	.order_steps_section .step_item:last-child {
		margin: 0;
		padding: 0 30px;
	}

	/* order */

	.order_section {
		padding: 34px 0 0 0;
		background-image: none;
	}

	.order_section .wrapper {
		padding: 0;
		width: 100%;
	}

	.order_section .info {
		width: 320px;
		font-size: 24px;
		line-height: 28px;
	}

	.order_section .info p {
		margin: 20px 0 43px;
	}

	.order_section .info img {
		display: none;
	}

	.order_section form {
		width: 100%;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	.order_section form .title {
		font-size: 24px;
		line-height: 30px;
	}

	.order_section .price_block {
		margin: 28px auto 33px auto;
		padding: 0;
		width: 300px;
	}

	.order_section .price_block .price_item {
		line-height: 38px;
	}

	.order_section .price_block .old {
		font-size: 34px;
	}

	.order_section .price_block .new {
		font-size: 38px;
	}

	.order_section input {
		width: 300px;
	}

}
@media screen and (max-width: 400px){
	.characteristics_section .video-container{
		margin-left: 0px;
	}

}
