.movie-tags {
	display: inline;
	margin: 0;
	padding: 0;
}

.movie-tags li {
	display: inline;
}

.movie-tags li:after {
	content: ', ';
}

.movie-tags li:last-child:after {
	content: '';
}

.bottom-nav .page-item {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 5px;
	border: 1px solid #e3e3e3;
	min-width: 32px;
	font-size: 12px;
	text-align: center;
}

.bottom-nav .page-item a {
	color: #000000;
}

.bottom-nav .active {
	background-color: #97ce68;
}

.bottom-nav .active a {
	color: #fff;
}

.search-helper-list {
	position: relative;
	left: 270px;
	top: 50px;
	width: 320px;
	padding: 0;
	/*font-size: 11px;*/
	background: #f0f0f0;
	border-radius: 6px;
	box-shadow: 0 0 1.6em rgba(0,0,0, 0.2);
}

.search-helper-item a {
	text-align: left;
	color: #000;
	padding: 12px 20px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #cbcaca;
}


@media (max-width: 768px) {
	.rel-box {
		/*display: none;*/
	}
}

@media (max-width: 590px) {
	.rel-wrap7 {
		display: none;
	}
}