html,body,div,span,object,iframe,frame,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,a,b,i,dl,dt,dd,ol,ul,li,fieldset,textarea,select,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,input{background:transparent;margin:0;padding:0;outline:none;border:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input, label, button, form{background:transparent;margin:0;padding:0;outline:none;border:0;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
table{border-collapse:collapse;border-spacing:0;}
input, select{vertical-align:middle;}
article, aside, figure, figure img, hgroup, footer, header, nav, section{display:block;}
body{font:12px Arial, Helvetica, sans-serif;line-height:normal;padding:0;margin:0;color:#000;background-color:#444444;height:100%;width:100%;}
img{max-width:100%;}
.clr{clear:both;}
.clearfix:after{content:"";display:table;clear:both;}
a{color:#4a84c4;text-decoration:none;}
a:hover, a:focus{color:#4a84c4;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:24px;}
h2{font-size:24px;}
h3{font-size:21px;}
.left{float:left}
.right{float:right;}
textarea{overflow:auto;vertical-align:top}
button, html input[type="button"], input[type="reset"], input[type="submit"]{padding:0 20px;font-weight:normal;color:#fff;background-color:#17004E;display:inline-block;height:40px;line-height:40px;border-radius:3px;cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0}
button[disabled], input[disabled]{cursor:default}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{background:#3F04CA;}
button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active{box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);}
input[type="submit"].bbcodes, input[type="button"].bbcodes, input.bbcodes, .ui-button{font-weight:normal;font-size:12px;height:30px !important;line-height:30px !important;padding:0px 10px;background-color:#97ce68;border-radius:3px;}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
table.userstop, table.pm, table.tableform, table.calendar{border-collapse:collapse;border-spacing:0}
.ui-icon, .close{display:block;overflow:hidden;text-indent:-9999px;white-space:nowrap;}
.bottom-nav{height:30px;line-height:30px;text-align:left;margin:30px 0;}
.upserial {font-size: 14px;border-collapse: collapse; text-align: left;}
.upserial th {background: #d3dbff;border-bottom: 2px solid #17004e; padding: 8px;    font-size: 16px; text-transform: uppercase;}
.upserial td {background: #e9edff;border-bottom: 1px solid #fff; border-top: 1px solid transparent; padding: 8px;width: 350px;}
.upserial tr:hover td{background: #ccddff;}
.pprev, .pnext{display:inline-block;text-align:center;color:#000;font-size:12px;width:70px;border:1px solid #e3e3e3;}
.pnext a, .pprev a{color:#000;display:block;}
.navigation{font-size:12px;margin:0 10px;text-align:center;}
.navigation a, .navigation span{display:inline-block;margin:0 5px 0 0;padding:0 5px;color:#000000;border:1px solid #e3e3e3;min-width:32px;}
.navigation span{background-color:#97ce68;color:#fff;}
.navigation a:hover{background-color:#97ce68;color:#fff;}
.pnext a:hover, .pprev a:hover{background-color:#97ce68;color:#fff;}
.navigation span.nav_ext{background:none;color:#000;}
.berrors{color:#000;padding:1px 10px 30px 10px;height:1%;width:99%;}
.boxfull .berrors{margin-right:20px;}
.berrors a{color:#CF151E; background-color: white;}
.vote-wrap{}
.vtitle{font-size:18px;line-height:18px;font-weight:700 !important;}
.vlist{margin:20px 0 0 0;color:#444444;font-size:13px;line-height:normal;}
.vote{margin-bottom:10px;}
.vote input{margin:2px 8px 0 0;float:left;display:none;}
.vote label{position:relative;}
.vote label:before{content:"";float:left;margin:-1px 8px 0 0;cursor:pointer;width:14px;height:14px;border-radius:8px;border:1px solid #e3e3e3;background-color:#fff;}
.vote input:checked + label:before{border-color:#f60;box-shadow:inset 0 0 0 3px #fff;background-color:#f60;}
.vote label:hover{cursor:pointer;color:#f60;}
.vcount{margin-top:10px;color:#fff;}
.votebuts{background-color:#f5f5f5;border-radius:3px;height:40px;line-height:30px;padding:5px 5px 0 5px;}
.votebuts button{height:30px;line-height:30px;float:left;position:relative;padding:0;}
.votebuts button:hover{opacity:0.6;}
.vvote{border-radius:3px;text-align:center;width:60%;}
.vres, .vall{width:30px;background:url(../images/sprite2.png) center -58px no-repeat !important;float:right !important;}
.vall{background:url(../images/sprite2.png) center -109px no-repeat !important;}
#pollbox{border-bottom:1px dashed #E3E3E3;padding-bottom:22px}
#dle-poll-list, #searchtable, .pm_status{padding:15px;border-radius:6px;background-color:#f6f6f6;}
#addcoment-dialog form{margin:0}
.tableform{width:100%;}
.tableform td, .tableform th{border-top:1px dotted #ebebeb;padding:10px 0;text-align:left;}
.tableform tr:first-child td, .tableform tr:first-child th{border:0 none;}
.tableform th, .tableform .label, .tableform .addnews{width:25%;font-weight:normal;vertical-align:top;padding-right:10px;padding-top:8px;}
.imp::after{color:#e46950;content:"*";font-weight:bold;}
.recipient select{width:298px;}
.checkbox{color:#787878;padding:4px 0;line-height:1em;}
.checkbox input{margin-top:-2px;vertical-align:middle;}
textarea{resize:vertical;}
.f_textarea, textarea.ui-corner-all{width:96.7%;}
.fieldtr select, .f_textarea, .f_input, .xfields textarea, .xprofile textarea, .tdfield select, .lfield input,
.editor input[type="text"], #category, textarea.ui-corner-all, .pm select,
.xfields input, .xprofile input, .xfields select, .xprofile select, .mass_comments_action select,
.bbeditor select, .textin, select.rating{padding:4px;background:#f7f7f7;border:1px solid #ccc;}
.fieldtr select:focus, .pm select:focus, .textin:focus, .f_textarea:focus, .f_input:focus, .xfields textarea:focus,
.xprofile textarea:focus, .editor input[type="text"]:focus, #category:focus, textarea.ui-corner-all:focus,
.tdfield select:focus, .lfield input:focus, .xfields input:focus, .xprofile input:focus, .xfields select:focus,
.xprofile select:focus, .mass_comments_action select:focus, .bbeditor select:focus{background:#fff;}
.form-wrap{}
.form-title{text-align:left;padding:0 15px 30px 0;}
.form-title h1{display:inline-block;font-size:24px;}
.form-wrap > div{border-top:1px dashed #CCC;}
.form-wrap > div:nth-child(2n){background-color:#f6f6f6;}
.sep-input{padding:10px 10px 10px 170px;}
.label{float:left;width:150px;margin-left:-160px;}
.input{float:right;width:100%;position:relative;}
.label label{display:block;height:40px;line-height:40px;font-weight:bold;font-size:14px;}
.impot{color:#E90206;margin-right:5px;}
.input input, .xfields input{display:block;width:100%;max-width:400px;height:38px;line-height:38px;padding:0 15px;color:#000000;background-color:#fff;border:1px solid #ccc;border-radius:3px;}
.input input:focus{background-color:#ffffff;border-color:#04a2dc;box-shadow:0 0 10px 0 rgba(4,162,220,0.5);}
.input select{width:100%;max-width:400px;margin:10px 0 0 0;border:1px solid #ccc;}
.sep-textarea, .sep-vote-rel, .sep-xfield, .sep-checks{padding:10px;}
.textarea-title{height:40px;line-height:40px;padding:0 20px;background-color:#04a2dc;color:#FFF;font-size:16px;}
.sep-textarea textarea, .vote-textarea, #category{width:100% !important;}
.radio{height:25px;line-height:25px;}
.radio input{float:left;display:inline-block;margin-right:0px;width:25px;height:25px;line-height:25px;}
.sep-title{padding:0 20px;font-size:16px;background-color:#04a2dc;color:#FFF;height:40px;line-height:40px;}
.add-findrel, .add-votebut{display:block !important;width:50%;height:40px !important;line-height:40px !important;padding:0 10px !important;text-align:center;border-radius:0 !important;float:left;background-color:#fec007;color:#fff !important;font-size:16px !important;}
.findrelated{background:#ffc;border:1px solid #9E9E9E;padding:5px;margin:10px 0;}
.sep-xfield .addnews{vertical-align:middle;}
.sep-xfield input{display:inline-block;width:300px !important;height:38px !important;padding:0 15px !important;}
.sep-checks input#allow_main{margin-left:50px;}
.sep-checks label, #allow_subscribe + label{display:inline-block;line-height:30px;margin-left:10px;position:relative;top:1px;}
.sep-submit{padding:30px 10px;}
.secur .label label{background-color:#CF0003;position:relative;color:#fff;text-align:center;font-size:14px;}
.sec-label{margin-bottom:10px;font-weight:bold;font-size:14px;}
.secur .input input{margin-bottom:20px;}
.sec-capcha input{float:left;max-width:150px;margin-right:10px;}
#dle-captcha{display:inline-block;}
.register-check{position:absolute;right:0;top:0;width:100px !important;font-size:11px !important;padding:0 !important;text-align:center;border-radius:0 5px 5px 0 !important;height:38px !important;line-height:38px !important;}
.full-text.sep-textarea{margin:0;padding:10px !important;}
.user-wrap{border:1px solid #ccc;}
.user-main{padding:30px 30px 30px 170px;position:relative;background:#404048;}
.u-avatar{width:100px;float:left;margin-left:-135px;padding:10px 0;}
.u-name{width:100%;float:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.user-avatar{height:100px;border-radius:50px;overflow:hidden;box-shadow:0 0 0 10px rgba(255,255,255,0.3);}
.user-avatar img{width:100%;height:100%;}
.u-name h1{font-size:16px;color:#fff;font-weight:bold;margin-bottom:5px;}
.u-name div{line-height:30px;color:#fff;font-size:14px;}
.offline, .online{text-align:center;width:70px;padding:3px 5px;font-size:11px;font-weight:bold;color:#fff;background-color:#626262;border-radius:6px;}
.online{background:#99ce1b}
.user-info div{width:25%;height:95px;float:left;border-right:1px solid #ccc;text-align:center;}
.user-info span{display:block;font-size:14px;padding:15px 0 5px 0;}
.user-info b{font-size:18px;}
.user-connect div{display:block;float:left;width:50%;height:50px;line-height:50px;text-align:center;background-color:#303038;color:#fff;font-size:16px;font-weight:bold;border-right:1px solid #999;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0 10px;}
.user-connect a{display:block;color:#fff;}
div.u-info{background-color:#f6f6f6;color:#000000;font-size:14px;font-weight:normal;border-right:1px solid #ccc;}
.user-edit a{display:block;padding:10px 20px;text-align:center;background-color:#FC0;color:#000;font-weight:bold;margin:20px 0;font-size:16px;}
.user-info div:last-child, .user-connect div:last-child{border-right:0;}
.userinfo{padding-left:110px}
.userinfo .left{margin-left:-110px;width:110px}
.userinfo .left .avatar{margin:0 0 5px 5px;float:none !important;}
.userinfo .right{margin:0;width:100%}
.usinf li, .userinfo ul.right li{padding:5px 0;border-top:1px dotted #D9D9D9}
.usinf li:first-child, .userinfo ul.rcol li:first-child{border:0 none}
.uibtn{font-size:11px}
.ussep{padding-top:1.2em}
.searchstyle{width:480px}
.search{padding:0}
#searchtable, #searchtable td{vertical-align:top;text-align:left}
#searchtable fieldset{font-size:11px;border:1px solid #d7d7d7;padding:10px;text-align:left;margin:0 4px 4px 0 !important;border-radius:6px}
#searchtable table, #searchtable form{margin:0}
#searchtable select{background-color:#fff}
fieldset legend{font-size:11px;font-weight:bold;color:#696969;}
#searchuser, #searchinput{width:90% !important;}
.sres-wrap{background-color:#fff;display:block;padding:15px 15px 15px 230px;border:1px solid #e3e3e3;position:relative;}
.sres-wrap:nth-child(2n){background-color:#f6f6f6;}
.sres-wrap:hover{z-index:100;border-color:#04a2dc;box-shadow:0 0 10px 0 rgba(4,162,220,0.5);}
.sres-img{float:left;margin-left:-215px;width:200px;position:relative;}
.sres-img img{width:100%;}
.sres-text{float:right;width:100%;color:#000;}
.sres-text h2{font-size:16px;color:#CF151E;margin-bottom:20px;display:block;}
.sres-date{position:absolute;left:0;top:0;padding:10px;background-color:rgba(0,0,0,0.7);color:#FC0;}
.statistics ul.left{min-height:71px;margin-left:-1px;width:33.3%}
.statistics ul.left li{clear:both;padding:0 15px 0 1px;margin-bottom:2px}
.statistics h4{font-weight:bold;border-bottom:1px solid #E2E2E2;margin-bottom:.5em;padding-bottom:.6em}
.statsbox li{border-top:1px dotted #ebebeb;padding:8px 0}
.statsbox li:first-child{border-top:0 none}
.lines{border:1px dotted #ebebeb;padding:10px;}
.lines li{margin-bottom:0.2em;}
.pm_menu{margin-bottom:10px;height:42px;border-bottom:1px solid #d8d8d8}
.pm_menu *{float:left}
.pm_menu a{border-radius:6px 6px 0 0;padding:0 15px;background:#f6f6f6;color:#2b2b2b;margin-right:2px;height:41px;line-height:40px;border:1px solid #d8d8d8;border-bottom:0;}
.pm_menu a:hover{background:#fff;height:42px;color:#f86801}
.pm_status{margin-bottom:47px}
.pm_status_head{border-bottom:1px solid #E3E3E3;font-size:0.9em;height:22px;padding:0;font-weight:bold;text-align:center;color:#4e4e4e}
.pm_progress_bar{border-radius:4px;border:1px solid #d8d8d8;background-color:#fff;padding:4px;margin-top:10px;margin-bottom:10px}
.pm_progress_bar span{border-radius:2px;background:#fb643c;font-size:0;text-indent:-2000em;height:10px;display:block;overflow:hidden}
.pm-lists{}
.pm, .userstop{border:1px solid #ccc;}
.pm tr td, .userstop tr td{padding:10px;border:1px solid #ccc;font-size:12px;}
.pm tr:nth-child(1){background-color:#0297dc !important;color:#FFF;font-size:18px !important;}
.pm tr:nth-child(2n+2), .userstop tr:nth-child(2n+2){background-color:#f9f9f9;}
.pm select{width:100%;margin-bottom:10px;}
@media screen and (max-width:490px){.form-title h1{font-size:16px;}
.sep-input{padding:10px;}
.label, .input{float:none;width:100%;margin-left:0;}
.add-findrel, .add-votebut, .textarea-title{font-size:12px !important;}
.sres-wrap{padding:15px;}
.sres-img{float:none;margin-left:0;width:100%;}
.sres-text{float:none;width:100%;color:#f0f0f0;padding:10px;position:absolute;left:0;bottom:0;background-color:rgba(0,0,0,0.7);}
.sres-text h2{color:#fff;margin-bottom:0;}
.sres-desc{display:none;}
.user-main{padding:30px;}
.u-avatar{width:100px;float:none;margin:0 auto 0 auto;padding:0 0 20px 0;}
.u-name{float:none;text-align:center;}
.offline, .online{margin:0 auto;}
.user-info div, .user-connect div{width:100%;border-right:0;border-bottom:1px dashed #d8d8d8;}
}