*{
	margin: 0;
	padding: 0;
}

#wrapper{
	max-width: 1200px;
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
  	color: #1e1e1e;
}

#header{
	width: 100%;
	height: 810px;
	margin: 0 auto;
	background: url(../img/header_bg.png)/*tpa=http://tic-tak.ru/img/header_bg.png*/ center no-repeat #fff;
	position: relative;
	z-index: 5;
}

.wrap{
	width: 1000px;	
	margin: 0 auto;
}

.headerTop{
	width: 100%;
	height: 100px;
	background: url(../img/header_top.png)/*tpa=http://tic-tak.ru/img/header_top.png*/ center no-repeat;
	position: relative;
	z-index: 3;
}

.headerTop img{
	float: left;
	margin-top: 20px;
}
.subtitle{
	font-size: 18px;
	font-family: 'pf_din_text_cond_prolight';
	float: left;
	margin-left: 30px;
	height: 25px;
	line-height: 30px;
	text-align: left;
}

#form{
	width: 300px;
	height: 720px;
	border: 5px solid #e6e6e6;
	background: #fff;
	position: relative;
	z-index: 4;
	margin-top: 50px;
	margin-right: 100px;
	float: right;
}

.call{
	font-size: 14px;
	font-family: 'pf_din_text_cond_proregular';
	margin-left: 10px;
	text-align: left;
	height: 20px;
	line-height: 30px;
}

.fix{
	font-size: 14px;
	font-family: 'pf_din_text_cond_proregular';
	margin-left: 10px;
	text-align: left;
	height: 20px;
	line-height: 20px;
}

.number{
	margin-left: 10px;
	font-size: 30px;
	font-family: 'pf_din_text_cond_proregular';
}

.call_back{
	width: 94%;
	margin: 0 3%;
	float: left;
	background: url(../img/button.png)/*tpa=http://tic-tak.ru/img/button.png*/ center no-repeat;
	border-radius: 5px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	text-align: center;
	color: #465050;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}

.block{
	width: 270px;
	height: 165px;
	background: url(../img/block_frm.png)/*tpa=http://tic-tak.ru/img/block_frm.png*/ center no-repeat;
	float: left;
	margin-top: 5px;
	padding: 15px;
}

.proposition{
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	margin: 10px 15px;
	text-transform: uppercase;
}

.proposition b{
	font-family: 'pf_din_text_cond_probold';
	font-size: 30px;
	font-weight: normal;
}

.price{
	width: 135px;
	height: 50px;
	background: url(../img/price.png)/*tpa=http://tic-tak.ru/img/price.png*/ center no-repeat;
	float: left;
	margin: 26px 0px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	padding-left: 20px;
	line-height: 50px;
}

.price b{
	font-size: 30px;
	font-weight: normal;
}

.pr1{
	width: 135px;
	height: 50px;
	background: url(../img/price.png)/*tpa=http://tic-tak.ru/img/price.png*/ center no-repeat;
	float: left;
	margin: 26px 0px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	padding-left: 20px;
	line-height: 50px;
	
	
}

.pr1 b{
	font-size: 30px;
	font-weight: normal;
}


.oldprice{
	font-size: 20px;
	font-family: 'pf_din_text_cond_proregular';
	width: 100px;
	height: 50px;
	float: left;
	text-decoration: line-through;
	padding-left: 12px;
	line-height: 50px;
	margin: 26px 0px;
	
}

.oldpr1{
	font-size: 20px;
	font-family: 'pf_din_text_cond_proregular';
	width: 100px;
	height: 50px;
	
	text-decoration: line-through;
	padding-left: 12px;
	line-height: 50px;
	margin: 26px 0px;
	
}

#form form{
	width: 100%;
	float: left;
	margin-top: 15px;
}

.title_f{
	font-size: 18px;
	text-align: center;
	font-family: 'pf_din_text_cond_proitalic';
	height: 40px;
	line-height: 35px;
	width: 100%;
}

#form form input{
	width: 240px;
	margin: 0 8% 25px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid #ffd214;
	font-size: 14px;
	color: #5a5a5a;
	font-family: 'pf_din_text_cond_prolight';
	padding-left: 10px;
	outline: 0;
	line-height: 40px;
}

#form .submit1{
	border: 0px;
	height: 80px;
	width: 254px;
	border-radius: 10px;
	font-size: 30px;
	font-family: 'pf_din_text_cond_proregular';
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	background:#ff5f3c;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fe5802),color-stop(100%,#e6153b));
    background:-webkit-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:-moz-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:-o-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:-ms-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:linear-gradient(top,#fe5802 0,#e6153b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe5802', endColorstr='#e6153b', GradientType=0);
}

.after_f{
	width: 100%;
	height: 15px;
	line-height: 15px;
	font-size: 14px;
	font-family: 'pf_din_text_cond_proitalic';
	float: left;
	text-align: center;
}

.timer{
	width: 210px;
	height: 120px;
	margin: 0 15%;
	float: left;
}

.timeName{
	width: 100%;
	height: 35px;
	line-height:40px;
	font-size: 18px;
	text-align: center;
	font-family: 'pf_din_text_cond_proregular';
}

.circleBlock{
	width: 40px;
	height: 65px;
	background: url(../img/timer.png)/*tpa=http://tic-tak.ru/img/timer.png*/ top center no-repeat;
	float: left;
	margin-left: 10px;
}

.cTitle{
	font-size: 14px;
	font-family: 'pf_din_text_cond_prolight';
	text-align: center;
}

.cInner{
	font-size: 30px;
	font-family: 'pf_din_text_cond_proregular';
	text-align: center;
	margin: 5px 0 7px;
}
.description{
	width: 510px;
	margin-left: 5px;
	height: 280px;
	margin-top: 25px;
}

.sale{
	width: 210px;
	height: 105px;
	background: url(../img/arrow_frm.png)/*tpa=http://tic-tak.ru/img/arrow_frm.png*/ bottom center no-repeat;
	position: absolute;
	z-index: 70;
	top: 580px;
	left: 53%;

}

.sale p{
		font-family: 'pf_reminder_proregular';
	text-align: right;
	float: left;
	width: 135px;
}

#icons{
	width: 100%;
	height: 210px;
	background: url(../img/icons_bg.png)/*tpa=http://tic-tak.ru/img/icons_bg.png*/ center no-repeat;
	padding-top: 20px;
}

#icons .wrap{
	width: 800px;
	overflow: hidden;
}

#icons img{
	float: left;
}

#icons .clear{
	width: 90px;
	height: 80px;
	float: left;
}

#icons p{
	float: left;
	width: 130px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_prolight';
	text-align: center;
	padding-top: 10px;
}

#gallery{
	width: 100%;
	height: 410px;
	padding-top: 20px;
}

.defect{
	width: 360px;
	height: 400px;
	float: left; 
}
#gallery_f{
	width: 250px;
	height: 70px;
	background: url(../img/gallery_bg.png)/*tpa=http://tic-tak.ru/img/gallery_bg.png*/ center no-repeat;
	margin-left: 40px;
	position: absolute;
	z-index: 10;
	float: left;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-family: 'pf_din_text_cond_prolight';
	line-height: 70px;
	margin-top: 100px;
}

.fanc{
	float: left;
	margin-top: 10px;
	position: absolute;
}

.logo_cent{
	width: 620px;
	padding-left: 20px;
	height: 330px;
	float: left;
}

.logo_cent img{
	float: left;
}

.logo_cent p{
	float: left;
	font-size: 18px;
	font-family: 'pf_din_text_cond_prolight';
	position: absolute;
	margin-top: 180px;
	margin-left: 190px;
	width: 440px;
}

#title{
	width: 100%;
	height: 140px;
	font-size: 36px;
	font-family: 'pf_din_text_cond_prothin';
	text-align: center;
	text-transform: uppercase;
}

#title b{
	font-size: 72px;
	font-family: 'pf_din_text_cond_proregular';
	font-weight: normal;
}

#icons1{
	width: 100%;
	height: 210px;
	background: url(../img/icons_bg.png)/*tpa=http://tic-tak.ru/img/icons_bg.png*/ center no-repeat;
	padding-top: 20px;
	margin-bottom: 75px;
}

#icons1 .wrap{
	width: 800px;
	overflow: hidden;
}

#icons1 img{
	float: left;
}

#icons1 .clear{
	width: 90px;
	height: 80px;
	float: left;
}
#icons1 .arrow{
	width: 90px;
	height: 125px;
	float: left;
	background: url(../img/arrow.png)/*tpa=http://tic-tak.ru/img/arrow.png*/ center no-repeat;

}

#icons1 p{
	float: left;
	width: 130px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_prolight';
	text-align: center;
	padding-top: 10px;
}


#buy{
	width: 100%;
	height: 690px;
	background: url(../img/header_bg.png)/*tpa=http://tic-tak.ru/img/header_bg.png*/ bottom center no-repeat #fff;
}

.title_b{
	width: 960px;
	height: 50px;
	margin: 0 auto;
	font-size: 72px;
	line-height: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'pf_din_text_cond_proXTh';
	background: url(../img/line.png)/*tpa=http://tic-tak.ru/img/line.png*/ center left no-repeat, url(../img/line.png)/*tpa=http://tic-tak.ru/img/line.png*/ center right no-repeat;
}

#variety{
	width: 100%;
	height: 468px;
}
.product{
	height: 445px;
	width: 228px;
	float: left;
	border: 2px solid #e6e6e6;
	margin-left: 15px;
	padding-top: 20px;
	background: #fff;
}

.product img{
	margin: 0 9%;
	width: 190px;
}
.product:nth-of-type(1){
	margin-left: 20px;
}

.series{
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	text-align: center;
	width: 100%;
	margin-top: 25px;
	height: 20px;
	margin-bottom: 10px;
}

.product .price{
	width: 140px;
	height: 55px;
	background: url(../img/button_price.png)/*tpa=http://tic-tak.ru/img/button_price.png*/ center no-repeat;
	float: left;
	margin: 0px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	padding-left: 20px;
	line-height: 55px;
	
	margin-left: -12px;
}

.product .pr1 b{
	font-size: 30px;
	font-weight: normal;
}

.product .pr1{
	width: 140px;
	height: 55px;
	background: url(../img/button_price.png)/*tpa=http://tic-tak.ru/img/button_price.png*/ center no-repeat;

	margin: 0px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	padding-left: 20px;
	line-height: 55px;
	
	margin-left: -12px;
}

.product .price b{
	font-size: 30px;
	font-weight: normal;
}



.product .oldprice{
	font-size: 19px;
	font-family: 'pf_din_text_cond_proregular';
	width: 70px;
	height: 50px;
	float: left;
	text-decoration: line-through;
	padding-left: 12px;
	line-height: 50px;
	margin: 5px 0 0 140px;
}

.order{
	border: 0px;
	height: 60px;
	line-height: 60px;
	width: 210px;
	margin: 15px 5% 5px;
	border-radius: 10px;
	font-size: 24px;
	font-family: 'pf_din_text_cond_prolight';
	color: #fff;
	float: left;
	text-decoration: none;
	text-align: center;
	background:#77d1e5;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#77d1e5),color-stop(100%,#518dc9));
    background:-webkit-linear-gradient(top,#77d1e5 0,#518dc9 100%);
    background:-moz-linear-gradient(top,#77d1e5 0,#518dc9 100%);
    background:-o-linear-gradient(top,#77d1e5 0,#518dc9 100%);
    background:-ms-linear-gradient(top,#77d1e5 0,#518dc9 100%);
    background:linear-gradient(top,#77d1e5 0,#518dc9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d1e5', endColorstr='#518dc9', GradientType=0);
}

#buy .timer{
	width: 210px;
	height: 120px;
	margin: 20px auto;
	float: none;
}

#phone{
	width: 100%;
	background:url(../img/phone_bg.png)/*tpa=http://tic-tak.ru/img/phone_bg.png*/ center no-repeat;
	height: 90px;
}

#phone p{
	background:url(../img/phone.png)/*tpa=http://tic-tak.ru/img/phone.png*/ left center no-repeat;
	width: 800px;
	padding-left: 60px;
	line-height: 90px;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'pf_din_text_cond_prothin';
	margin: 0 auto;
}

#phone b{
	font-family: 'pf_din_text_cond_proregular';
	font-weight: normal;
}

#reviews{
	width: 100%;
	min-height: 1260px;
	height: 100%;
	background: url(../img/texture.png)/*tpa=http://tic-tak.ru/img/texture.png*/;
}


.title_r{
	width: 100%;
	height: 130px;
	font-size: 36px;
	font-family: 'pf_din_text_cond_prothin';
	text-align: center;
	padding-top: 30px;
	margin-bottom: 25px;
}

.title_r b{
	font-size: 72px;
	font-family: 'pf_din_text_cond_proregular';
	font-weight: normal;
	text-transform: uppercase;
}

.reviews{
	width: 800px;
	margin: 0 auto;
	height: 620px;
}

.review{
	width: 770px;
	height: 185px;
	margin-bottom: 25px;
}

.review img{
	float: left;
	position: relative;
	z-index: 2;
	margin-left: 0px;
}

.review div{
	float: left;
	position: absolute;
	z-index: 1;
	background: url(../img/opinion.png)/*tpa=http://tic-tak.ru/img/opinion.png*/ center no-repeat;
	width: 650px;
	height: 150px;
	margin: 30px 0 0 110px;
}

.name_r{
	color: #1478a0;
	font-family: 'pf_din_text_cond_proregular';
	font-size: 18px;
	margin: 15px 0 20px 55px;
}

.review .text{
	font-size: 14px;
	margin-left: 50px;
}

.none, .none1, .none2{
	display: none;
}

.click{
	width: 345px;
	height: 60px;
	border: 2px solid #787878;
	border-radius: 25px;
	line-height: 60px;
	text-align: center;
	font-family: 'pf_din_text_cond_prolight';
	font-size: 24px;
	margin: 20px auto;
	cursor: pointer;
}

.map{
	width: 540px;
	height: 305px;
	background: url(../img/map.png)/*tpa=http://tic-tak.ru/img/map.png*/ center no-repeat;
	margin: 45px auto 0;
}

.title_m{
	width: 100%;
	height: 50px;
	font-size: 36px;
	font-family: 'pf_din_text_cond_promedium';
	text-align: center;
	text-transform: uppercase;
}

.count{
	width: 249px;
	height: 70px;
	margin: 0 auto;
	background: url(../img/counter.png)/*tpa=http://tic-tak.ru/img/counter.png*/ center no-repeat;
	line-height: 70px;
	font-size: 48px;
	font-family: 'pf_din_text_cond_probold';
	text-align: center;
	letter-spacing: 15px;
	padding-left: 15px;
}

.sub_m{
	width: 100%;
	font-size: 36px;
	font-family: 'pf_din_text_cond_prolight';
	text-align: center;
	text-transform: uppercase;
}

#callback{
	width: 100%;
	height: 90px;
	background: url(../img/callback_bg.png)/*tpa=http://tic-tak.ru/img/callback_bg.png*/ center no-repeat;
	color: #fff;
}

#callback .wrap{
	width: 780px;
	overflow: hidden;

}

#callback img{
	float: left;
}

#callback .call_back{
	width: 300px;
	height: 50px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	text-align: center;
	background: #ffdd00;
	margin-top: 20px;
	line-height: 50px;
	color: #1e1e1e;
	margin-left: 10px;
}

.titl{
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	margin: 22px 0 0 0;
	width: 390px;
	float: left;
}

.titl b{
	font-weight: normal;
	font-family: 'pf_din_text_cond_promedium';
}


#callback .after_f{
	float: left;
	width: 390px;
	text-align: left;
	margin-top: 5px;
}

#footer{
	width: 100%;
	
}

.copy{
	font-size: 18px;
	font-family: 'pf_din_text_cond_proregular';
	width: 200px;
	text-align: left;
	float: left;
	margin: 50px 0 0 0;
}





.about{
	width: 100%;
	font-size: 14px;
	font-family: 'pf_din_text_cond_prolight';
	margin: 10px 0 0 0;
	
	text-align: center;
}

.about b{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: normal;
}



.partners b{
	width: 200px;
	font-size: 18px;
	font-family: 'pf_din_text_cond_prolight';
	margin: 0px auto;
	float: left;
	font-weight: normal;
	text-align: center;
}

.partners{
	width: 200px;
	margin: 30px 0 0 120px;
	overflow: hidden;
	float: left;
}

.partners div{
	width: 130px;
	margin: 0 auto
	
}

.partners div img{
	width: 130px;
	float: left;
	margin-top: 10px;
}

.payment{
	width: 230px;
	float: right;
}

.payment div{
	width: 230px;
	float: right;
}

.payment div img{
	width: 50px;
	float: left;
	margin: 10px 25px 0px 0px;
}


.payment div img:nth-of-type(5){
	width: 30px;
	float: left;
	margin: 5px 43px 0px 0px;
}
.payment div img:nth-of-type(1){
	width: 50px;
	float: left;
	margin: 20px 25px 0px 0px;
}
.payment div img:nth-of-type(6){
	width: 30px;
	float: left;
	margin: 5px 25px 0px 0px;
}
.payment div img:nth-of-type(4){
	width: 50px;
	float: left;
	margin: -3px 38px 0px 0px;
}


.payment p{
	width: 230px;
	font-size: 14px;
	font-family: 'pf_din_text_cond_prolight';
	margin: 30px 0 0 0;
	float: right;
}

.payment b{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: normal;
}

.pol{
	margin: 20px auto 30px;
	font-family: 'pf_din_text_cond_prolight';
	font-size: 18px;
	color: #1e1e1e;
	text-align: center;
}

.pol a{
	color: #1e1e1e;
}

#politics {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;    
    background: url(../img/overlay.png)/*tpa=http://tic-tak.ru/img/overlay.png*/;
    top: 0px;
    z-index: 1000;
}

.content .close {
float: right;
margin: -45px -20px;
}
.content{
    margin:40px auto 0px auto;
    width:800px;    
    padding:20px 0px 30px 20px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    font-family: 'pf_din_text_cond_prolight';
	font-size: 25px;
}

.content_inner{
	overflow: scroll;
	width:780px;
    height: 460px;
    padding:20px 0px 30px 20px;
    background-color: #fff;
}
.content p{
    font-family: 'pf_din_text_cond_proregular';
	font-size: 30px;
}


#frmOrder {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;    
    background: url(../img/overlay.png)/*tpa=http://tic-tak.ru/img/overlay.png*/;
    top: 0px;
    z-index: 1000;
}
.contentOrder, .contentCallback{
    margin:40px auto 0px auto;
    width:310px;
    height: 355px;
    padding:20px 20px 30px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
}

.contentOrder {
	height: 475px;
}

.contentOrder form input, .contentCallback form input {
	margin: 10px 0px 10px 10px;
	width: 270px;
	height: 60px;
	font-family: 'pf_din_text_cond_prolight';
	font-size: 25px;	
	border: 2px solid #bebebe;
	float: left;
	padding-left: 20px;
	color: #1e1e1e;
	line-height: 60px;
}

.name, .message{
	margin-right: 16px;
}

.contentOrder form input.submit, .contentCallback form input.submit{
	font-size: 28px;
	font-family: 'pf_din_text_cond_prolight';
	color: #fff;
	height: 60px;
	width: 294px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	border: 0px;
	border-radius: 10px;
	padding-left: 0px;
	background:#ff5f3c;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fe5802),color-stop(100%,#e6153b));
    background:-webkit-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:-moz-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:-o-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:-ms-linear-gradient(top,#fe5802 0,#e6153b 100%);
    background:linear-gradient(top,#fe5802 0,#e6153b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe5802', endColorstr='#e6153b', GradientType=0);
}

.order_form{
	color: #1e1e1e;
	font-family: 'pf_din_text_cond_prolight';
	font-size: 30px;
	width: 100%;
	text-align: center;
	height: 70px;
	margin-bottom: 0px;
}

.contentOrder .ok{
	margin-top: 20px;
	color: #787878;
	font-size: 12px;
	font-family: 'pf_din_text_cond_prolight';
}

.contentOrder .mess{
	margin-top: 15px;
	color: #5a5a5a;
	font-size: 14px;
	font-family: 'pf_din_text_cond_prolight';
}

.contentOrder .mess a{
	font-size: 14px;
	font-family: 'pf_din_text_cond_prolight';
	color: #00a0d2;
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
}

.close {
	float: right;
	margin: -40px;
}

#frmOK{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    background: url(../img/overlay.png)/*tpa=http://tic-tak.ru/img/overlay.png*/;
    top:0px;
    z-index: 9999;
}

#frmOK .order_form{
  color: #1e1e1e;
  font-family: 'pf_din_text_cond_proregular';
  font-size: 30px;
  width: 100%;
  text-align: center;
  height: 180px;
  margin-bottom: 10px;
}

#frmOK .contentOK{
  margin: 85px auto 0px auto;
  width: 335px;
  height: 120px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
}

.contentOK .close {
  float: right;
  margin: -40px;
}

#frms{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    background: url(../img/overlay.png)/*tpa=http://tic-tak.ru/img/overlay.png*/;
    top:0px;
    z-index: 9999;
}

#frms .order_form{
  color: #1e1e1e;
  font-family: 'pf_din_text_cond_proregular';
  font-size: 30px;
  width: 100%;
  text-align: center;
  height: 180px;
  margin-bottom: 10px;
}

#frms .contentOK{
  margin: 85px auto 0px auto;
  width: 335px;
  height: 120px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
}

#frmCallback{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    background: url(../img/overlay.png)/*tpa=http://tic-tak.ru/img/overlay.png*/;
    top:0px;
    z-index: 9999;
}


#frmCallback .order_form{
  height: 37px;
  font-family: 'pf_din_text_cond_proregular';
  color: #1e1e1e;
  font-size: 36px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.contentCallback .close {
  float: right;
  margin: -40px;
}

label {
  color: #1e1e1e;
  font-family: 'pf_din_text_cond_proregular';
  font-size: 20px;
  width: 100%;
  height: 20px;
  float: left;
  margin-top: 10px;
}

.close {
  float: right;
  margin: -40px;
}