/* Datalife Engine template 
name: Cool Serial,
creation date: 13 april 2020, 
version dle: 12-14
*/

/* SET BASE
----------------------------------------------- */
* {background: transparent; margin: 0; padding: 0; outline: none; border: 0; box-sizing: border-box;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
table {border-collapse: collapse; border-spacing: 0;}
input, select {vertical-align: middle;}
article, aside, figure, figure img, hgroup, footer, header, nav, section, main {display: block;}
img {max-width: 100%;}
.clr {clear: both;}
.clearfix:after {content: ""; display: table; clear: both;}

body {font: 15px 'Montserrat', sans-serif; line-height: normal; padding: 0; margin: 0;        
color: #aac2e0; background: #0c1016 url(../images/bg.png); min-height: 100%; width: 100%; font-weight: 400;}
a {color: #aac2e0; text-decoration: none;}
a:hover, a:focus {color: #ffbb00; text-decoration: none;}
h1, h2, h3, h4, h5 {font-weight: 600; font-size: 24px;}

button, textarea, select, input[type="text"], input[type="password"], input[type="button"], input[type="submit"] 
{appearance: none; -webkit-appearance: none; font-size: 16px; font-family: 'Montserrat' !important;}

.button, .btn, .pagi-load a, .up-second li a, .usp-edit a, .qq-upload-button, 
button:not(.color-btn):not([class*=fr]):not(.search-btn):not([class*=owl-]), 
html input[type="button"], input[type="reset"], input[type="submit"], .meta-fav a, .usp-btn a {
display: inline-block; text-align: center; padding: 0 20px; height: 40px; line-height: 40px;
border-radius: 10px; cursor: pointer; font-weight: 500;
background-color: #2c69b7; color:#aac2e0; font-size: 15px;}
.button:hover, .btn:hover, .up-second li a:hover, .usp-edit a:hover, .qq-upload-button:hover, 
.pagi-load a:hover, .usp-btn a:hover,
button:not(.color-btn):not([class*=fr]):not(.search-btn):not([class*=owl-]):hover, 
html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .meta-fav a:hover 
{background-color: #4834d4; color: #fff; box-shadow: 0 10px 20px 0 rgba(0,0,0,0);}
button:active, input[type="button"]:active, input[type="submit"]:active {box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);}

input[type="text"], input[type="password"] {height: 40px; line-height: 40px;
border-radius: 4px; border: 0; padding: 0 15px;}
select {height: 40px; border: 0; padding: 0 15px;}
textarea {padding: 15px; overflow: auto; vertical-align: top; resize: vertical;}
input[type="text"], input[type="password"], select, textarea {width: 100%; background-color: #303f52; color: #aac2e0; 
box-shadow: inset 0 0 0 1px #303f52, inset 1px 2px 5px rgba(0,0,0,0.1);}
select {width: auto;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus 
{box-shadow: inset 0 0 0 1px #ffbb00, inset 1px 2px 5px rgba(0,0,0,0.1);}
input::placeholder, textarea::placeholder {color: #aac2e0; opacity: 1; font-size: 14px;} 
input:focus::placeholder, textarea:focus::placeholder {color: transparent}

.img-box, .img-wide, .img-resp, .img-resp-vert, .img-fit {overflow: hidden; position: relative;}
.img-resp {padding-top: 70%;}
.img-resp-vert {padding-top: 140%;}
.img-box img, .img-resp img, .img-resp-vert img {width: 100%; min-height: 100%; display: block;}
.img-resp img, .img-resp-vert img {position: absolute; left: 0; top: 0;}
.img-wide img {width: 100%; display: block;}
.img-fit img {width: 100%; height: 100%; object-fit: cover;}
.nowrap {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.fx-row, #dle-content {display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;
-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.fx-col {display:-ms-flexbox;display:-webkit-flex;display:flex; 
-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.fx-center {-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.fx-middle {-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.fx-start {-webkit-justify-content:flex-start;justify-content:flex-start;}
.fx-first {-ms-flex-order: -1;-webkit-order: -1;order: -1;}
.fx-last {-ms-flex-order: 10;-webkit-order: 10;order: 10;}
.fx-1 {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; 
	max-width: 100%; min-width: 50px;}
.fx-between {-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}

b, strong, .fw700 {font-weight: 600;}
.icon-left [class*="fa-"], .icon-left .icon {margin-right: 10px;}
.icon-right [class*="fa-"], .icon-right .icon {margin-left: 10px;}
.hidden, #dofullsearch {display: none;}
.anim, .btn, button, .popular-item-img:before, .short-item a, .sidebar a, .header-btn, 
.short-img, .footer a, .side-nav a {transition: all .3s;}
.mtitle, .sub-title h1, .form-wrap h1 {margin-bottom: 30px; font-size: 24px !important; font-weight: 600;}
#dle-content > * {width: 100%;}


/* BASIC GRID
----------------------------------------------- */
.wrap {min-width:320px; position: relative; padding: 30px;}
.wrap-center {max-width:1200px; margin:0 auto; position:relative; z-index:20;}
.wrap-main {background-color: #18202a; border-radius: 20px; box-shadow: 0 15px 30px rgba(0,0,0,0.8);}
.header {padding: 20px 40px; background-color: #121820; border-radius: 20px 20px 0 0;}
.cols {padding: 40px 40px;}
.main {min-height: 100vh;}
.sidebar {width: 300px; margin-right: 40px;}
.footer {background: #090c10 url(../images/logo.svg) 40px 12px / 40px no-repeat; 
padding: 20px 40px 20px 90px; color: #8fa7c6; border-radius: 0 0 10px 10px;}
.footer a {color: #ffbb00; text-decoration: underline;}

#gotop{position:fixed; width:60px; height:60px; line-height:60px; right:10px; bottom:10px;
z-index:990; display:none; background-color:#090c10; color:#8fa7c6; cursor:pointer; font-size:24px; 
border-radius:50%; text-align:center; box-shadow: 0 23px 57px rgba(0,0,0,0.6);}


/* HEADER
----------------------------------------------- */
.logo {display: block; height: 50px; line-height: 60px; color: #aac2e0; font-weight: 300; margin-top: -10px;
	font-size: 34px; background: url(../images/logo.svg) 0 center / 40px no-repeat; padding-left: 45px;}
.logo span {font-weight: 600; color: #ffbb00;}
.logo span.logo-domain {color: #8fa7c6; font-size: 18px; font-weight: 300;}
.header-btn {padding: 0 40px;}
.search-wrap {position:relative; margin: 0 20px 0 40px;}
.search-box input, .search-box input:focus {padding: 0 50px 0 16px; border-radius: 10px; 
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3);}
.search-box input:not(:focus)::placeholder {color: #aac2e0; opacity: 1; font-size: 12px;} 
.search-box button {position:absolute; right:0px; top:0px; z-index:10; width: 50px; cursor: pointer; 
background: none; color: #aac2e0; line-height: 40px; text-align: center; border-radius: 0 20px 20px 0;}

.carou-content {height: 200px;}
.carou-sect {padding: 20px 40px; background-color: #090c10;}
.carou-title {font-size: 18px; font-weight: 500; margin-bottom: 20px;}
.popular-item-img {display: block; border-radius: 10px; height: 200px;}
.popular-item-title {position: absolute; z-index: 10; left: 0; bottom: 0; right: 0; 
	padding: 20px; color: #aac2e0; font-weight: 500; word-wrap: break-word;}
.popular-item-img:before {content: ''; position: absolute; z-index: 5;  left: 0; right: 0; bottom: 0; height: 70%; 
	background: linear-gradient(to bottom, transparent 0%,#18202a 100%); opacity: 1;}
.popular-item:hover .popular-item-img:before, .popular-item:hover .popular-item-title {opacity: 0;}


/* SIDEBAR
----------------------------------------------- */
.side-box {margin-bottom: 40px;}
.side-bt {font-size: 18px; font-weight: 500; margin-bottom: 20px;}
.mb-remove {margin-bottom: -20px;}

.nav-col {width: 55%;}
.nav-col + .nav-col {width: 40%;}
.nav-title {font-weight: 500; margin-bottom: 9px;}
.nav-menu + .nav-title {margin-top: 12px;}
.nav-menu a {display:block; padding: 5px 0; font-size: 13px; color: #8fa7c6;}
.nav-menu a:hover, a.short-title:hover, .side-popular-item:hover .side-popular-item-title 
{text-decoration: underline; color: #ffbb00;}

.side-popular-item {margin-bottom: 20px;}
.side-popular-item-img {width: 70px; height: 90px; border-radius: 6px; margin-right: 20px;}
.side-popular-item-title {font-weight: 500;}
.side-popular-item-info {color: #8fa7c6; margin-top: 10px; font-size: 13px;}
.side-popular-item-date {color: #8fa7c6; margin-top: 10px; font-size: 11px; font-weight: 300;}

.side-recommend-item {display: block; margin-bottom: 20px; width: 46.6%;}
.side-recommend-item-img {border-radius: 10px;}
.side-recommend-item:hover {opacity: 0.8;}

.lcomm {margin-bottom: 20px;}
.ltitle {display: block; line-height: 1; font-weight: 300; font-size: 13px; margin-top: 10px; padding-left: 2px;}
.ltext {line-height: 1.3; background-color: #121820; padding: 10px; border-radius: 10px;}
.lmeta {font-size: 13px; margin: 10px 0; color: #8fa7c6; font-weight: 300;}
.ldate, .lav, .lname {display: inline-block; vertical-align: middle; margin-right: 7px;}
.lav {width: 20px; height: 20px; border-radius: 50%;}
.lcomm .comm-letter {line-height: 20px; font-size: 12px;}
.lname {color: #8fa7c6; font-weight: 400;}


/* SECTION
----------------------------------------------- */
.sect {margin-bottom: 40px;}
.sect-header {margin-bottom: 20px;}
.sect:last-child {margin-bottom: 0;}
.sect-title {font-weight: 600; font-size: 24px;}
.sect-title [class*=fa-], .side-bt [class*=fa-], .speedbar [class*=fa-], .carou-title [class*=fa-] {color: #ffbb00; margin-right: 15px;}
.sorter, .sect-link {position:relative; cursor:pointer; height: 30px; line-height: 30px; margin-left: 15px;
    padding: 0 10px; background-color: #121820; border-radius: 6px; font-size: 13px; display: block;}
.sorter:before {content:attr(data-label); display: inline-block; vertical-align: top;}
.sorter > span {display: inline-block; vertical-align: top; margin-left: 2px;}
.sorter form {display:none; background-color:#090c10; padding:10px; line-height:26px; box-shadow:0 0 15px 0 rgba(0,0,0,0.6); 
position:absolute; right:0; top:100%; width:160px; z-index:999; border-radius: 4px;}
.sorter a:hover {text-decoration:underline;}
.sort li.asc a:after, .sort li.desc a:after {content:"\f063"; font-family:"Font Awesome 5 Pro"; 
display:inline-block; margin-left:10px; font-weight: 300;}
.sort li.desc a:after {content:"\f062"}
.sorter:hover, .sect-link:hover {background-color: #2c69b7; color: #fff;}


/* SHORT ITEM
----------------------------------------------- */
.short-item {margin-bottom: 20px; padding: 20px; border-radius: 10px; background-color: #121820;}
.short-img {width: 170px; height: 250px; margin-right: 20px; 
	display: block; border-radius: 10px; box-shadow: 0 4px 10px rgba(0,0,0,0.6);}
.short-header {margin-bottom: 10px;}
.short-title {display: block; font-size: 20px; font-weight: 500; line-height: 1.5;}
.short-text {font-size: 14px; line-height: 1.7;}
.short-list li {position: relative; padding-left: 120px; margin: 5px 0; 
	font-size: 14px; line-height: 1.5;}
.short-list li > span:first-child {position: absolute; left: 0; top: 0; color: #6e84a0;}
.short-list a {color: #ffbb00; border-bottom: 1px dotted #ffbb00;}
.short-meta {margin-top: 10px; color: #6e84a0; font-size: 13px; font-weight: 300;}
.short-meta-item {margin-right: 20px;}
.short-rating {line-height: 28px; background-color: #18202a; padding: 0 10px; font-size: 13px;
border-radius: 6px; border: 1px solid rgba(0,0,0,0.8); margin-right: 20px;}
.short-rating .fa-thumbs-up {color: #83bf45; margin-right: 10px;}
.short-rating .fa-thumbs-down {color: #ee3442; margin: 0 10px;}
.short-label {background-color: #ffbb00; color: #000; padding: 3px 6px; border-radius: 6px;
position: absolute; left: 10px; top: 10px; z-index: 10; font-size: 12px; font-weight: 500;}
.short-btn {height: 30px; line-height: 30px; font-size: 12px; padding: 0 10px; 
	border-radius: 6px; box-shadow: 0 4px 10px rgba(0,0,0,0.6);}
.short-rate-in {line-height: 30px; border-radius: 6px; text-align: center; font-size: 13px; opacity: 0.7;
padding: 0 6px; margin-left: 10px; font-weight: 500; box-shadow: 0 2px 6px rgba(0,0,0,0.6);}
.short-rate-in:before {content: attr(data-text); display: inline; margin-right: 3px; text-transform: uppercase;}
.short-rate-kp {background-color: #f60; color: #fff;}
.short-rate-imdb {background-color: #fc0; color: #000;}
.mrating {margin-right: 20px; overflow: hidden;}
.mrating a {transition: none}
.short-img:hover {opacity: 0.8;}


/* SEO DESCRIPTION
----------------------------------------------- */
.site-desc {line-height: 1.7; color: #8fa7c6; font-size: 14px; padding-top: 40px;}
.site-desc:before {content: ''; position: absolute; left: 0; top: 0; right: 0; height: 5px;}
.site-desc h1, .site-desc h2 {font-size: 18px; font-weight: 500; margin-bottom: 10px; color: #aac2e0;}
.site-desc li {list-style-type: disc; margin-left: 40px;}
.site-desc p {margin-bottom: 10px;}
.site-desc > *:last-child {margin-bottom: 0;}
.site-desc a {color: #ffbb00; text-decoration: underline;}
.site-desc img {float: left; max-width: 200px; margin: 0 10px 10px 0;}


/* BOTTOM NAVIGATION
----------------------------------------------- */
.bottom-nav {margin-bottom: -10px; text-align: center;}
.navigation a, .navigation span, .pnext a, .pprev a, .pprev > span, .pnext > span {display:inline-block; padding:0 10px; 
margin:0 10px 10px 0px; line-height: 50px; min-width: 50px; background-color: #121820; 
border-radius: 10px; font-weight: 500; font-size: 18px;}
.navigation span:not(.nav_ext), .pagi-nav a:hover {background-color: #2c69b7; color:#aac2e0;}


/* FULL
----------------------------------------------- */
.speedbar {font-size: 13px; color: #8fa7c6; margin-bottom: 20px;}
.speedbar .fal {margin-right: 8px;}
.fleft {width: 200px; margin-right: 20px;}
.fimg {border-radius: 10px; box-shadow: 0 4px 10px rgba(0,0,0,0.15);}
.ftext {margin: 20px 0;}
.fcols .short-list li {font-size: 13px;}
.fcols .short-meta-item:last-child {margin-right: 0;}
h1 a {margin-left: 10px; font-size: 15px;}
.fcols {padding: 20px; border-radius: 10px; background-color: #121820;}
.frels .popular-item-img:before {background: linear-gradient(to bottom, transparent 0%,#090c10 100%); opacity: 1;}

.fsubtitle {text-align: center; font-size: 18px; font-weight: 500; margin-bottom: 20px;}
.fplayer {position:relative; background-color: #090c10;}
.fctrl {padding-right: 20px;}
.fplayer .tabs-sel span {display:inline-block; padding:0 20px; height:40px; line-height:40px; cursor:pointer; 
background-color: rgba(0,0,0,0.6); font-weight: 500;}
.fplayer .tabs-sel span.current {background-color: #2c69b7; color:#aac2e0;}
.fplayer .tabs-sel span:hover {text-decoration: underline;}
.js .tabs-b {background-color: #000; display: none;}
.js .tabs-b.visible {display: block;}
.fcompl a:hover, .ffav a:hover, .ffav span:hover {color: #ffbb00; cursor: pointer;}
.fcompl, .ffav {margin-left: 20px;}

.fshare {padding: 10px; text-align:center; white-space:nowrap;}
.fshare .fab, .fshare .fas {width:50px; height:30px; border-radius:6px; text-align:center; line-height:30px; 
background-color:#C70003; color:#fff; font-size:14px; margin:0 2px; cursor:pointer;}
.fshare .fa:hover {opacity:0.8;}
.fab.fa-vk {background-color:#5075a5;}
.fab.fa-facebook-f {background-color:#4b6baf;}
.fab.fa-twitter {background-color:#2daae1;}
.fab.fa-odnoklassniki, .fa.fa-rss {background-color:#FC6D00;}
.fas.fa-paper-plane {background-color:#5682a3;}
.fshare .fa-facebook-f::before {content: "\f39e" !important;}


/* FULL STORY STATIC
----------------------------------------------- */
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame 
{max-width:100% !important; display:block; width:100%; height:400px;}
.mejs-container {max-width:100% !important;}
.full-text {line-height: 1.7; font-size: 15px;}
.full-text img:not(.emoji) {max-width:100%; margin-top: 10px; margin-bottom: 10px;}
.full-text > img[style*="left"], .full-text > .highslide img[style*="left"] {margin:0 10px 10px 0;}
.full-text > img[style*="right"], .full-text > .highslide img[style*="right"] {margin:0 0 10px 10px;}
.full-text a {text-decoration:underline; color:#06c;}
.full-text a:hover {text-decoration:none;}
.full-text h2, .full-text h3, .full-text h4, .full-text h5 {margin:10px 0; font-size:24px; font-weight:700;}
.full-text p {margin-bottom:10px;}
.full-text > ul, .full-text > ol {margin:0;}
.full-text > ul li {list-style:disc; margin-left:40px;}
.full-text > ol li {list-style:decimal; margin-left:40px;}


/* COMMENTS
----------------------------------------------- */
.add-comms {margin-bottom: 26px; padding: 20px; background-color: #121820; border-radius: 10px;}
.ac-inputs input {width: 48.5%; margin-bottom: 15px;}
.ac-textarea textarea {height: 100px; margin-bottom: 15px;}
.add-comms input, .add-comms textarea, .ac-submit button {}
.ac-protect, .ac-textarea .bb-editor + br {display: none;}
.comments_subscribe input {margin-right: 10px;}
.comments_subscribe {display: block;}
.mass_comments_action {display: none;}
.last-comm-link {display: inline-block; padding-bottom: 20px; color: #06c; font-size: 18px;}

.comm-avatar {position: absolute; left: 0; top: 0; width: 40px; height: 40px; border-radius: 50%;}
.comm-letter {position: absolute; left: 0; top: 0; width: 100%; height: 100%; line-height: 40px; text-align: center; 
background-color: #000; color: #fff; font-size: 18px; font-weight: 600; text-transform: uppercase;}
.comm-item {font-size: 13px; padding-left: 55px; position: relative; min-height: 40px; margin-bottom: 20px;}
.comm-two {margin: 5px 0 10px 0;}
.comm-one > span {margin-right: 15px; opacity: 0.6;}
.comm-one > span.comm-author, .comm-one > span.comm-author a {font-weight: 500; opacity: 1;}
.comm-three-left > a, .comm-three-right li a {opacity: 0.6;}
.comm-three-right li {display: inline-block; margin-left: 15px;}
.comm-rate3 {white-space:nowrap; margin-right: 15px; height: 20px; line-height: 20px; 
	display: inline-block; vertical-align: top; position: relative; top: -3px;}
.comm-rate3 a {display: inline-block; vertical-align: middle; position: relative; opacity: 0.8;}
.comm-rate3 a:first-child {top: -5px;}
.comm-rate3 > span {margin: 0 5px;}
.comm-rate3 > span > span.ratingtypeplus {color: #06b601;}
.comm-rate3 > span > span.ratingplus {color: #95c613;}
.comm-rate3 > span > span.ratingminus {color: #ff0e0e;}
.comm-three a:hover {border-bottom-color: transparent;}
.comm-three-left > a {opacity: 1; color: #8fa7c6; border-bottom: 1px dotted #8fa7c6;}


/* LOGIN
----------------------------------------------- */
.overlay-box {position: fixed; z-index: 998; left: 0; top: 0; width: 100%; height: 100%; 
opacity: 0.8; background-color: #000; cursor: pointer;}
.login-box {position: fixed; z-index: 999; left: 50%; top: 50%; transform: translate(-50%,-50%); 
background-color: #18202a; padding: 30px 60px 40px 60px; border-top: 5px solid #ffbb00; width: 400px; 
box-shadow: 0 20px 60px rgba(0,0,0,0.5);}
.login-close {width: 26px; height: 26px; line-height: 26px; text-align: center; font-size: 24px; 
	cursor: pointer; position: absolute; top: -30px; right: -30px; color: #fff;}
.login-title {font-size: 24px; font-weight: 600; margin-bottom: 15px; text-align: center;}
.login-avatar {width: 60px; height: 60px; border-radius: 50%; margin: 0 auto 15px auto; 
text-align: center; line-height: 60px; font-size: 24px; background-color: #090c10; color: #8fa7c6;}
.login-input {margin-bottom: 15px;}
.login-btn button {width: 100%; margin: 15px 0;}
.login-btm a {border-bottom: 1px dotted #2c69b7; color: #2c69b7; font-size: 13px;}
.login-check {position: relative; font-size: 14px;}
.login-check input {opacity: 0; position: absolute; cursor: pointer;}
.login-check span {display: block; padding-left: 36px; height: 30px; line-height: 30px; color: #939393;}
.login-check span:before, .login-check span:after{content: '';position: absolute;top: 50%;transition: .3s;}
.login-check span:before{left: 0; height: 10px; margin-top: -5px; width: 26px; border-radius: 5px; 
	background: #090c10; box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);}
.login-check span:after{left: 1px; height: 12px; width: 12px; margin-top: -6px; background: #2ecc71;
	border-radius: 6px; box-shadow: 0 1px 4px rgba(0,0,0,0);}
.login-check input:checked + span:before {background-color: #fff;}
.login-check input:checked + span:after {left: 13px; background-color: #fff; box-shadow: 0 1px 4px rgba(0,0,0,0.3);}
.login-menu {border-top: 1px solid #090c10; border-left: 1px solid #090c10;}
.login-menu li {text-align: center; border-right: 1px solid #090c10; border-bottom: 1px solid #090c10; width: 50%;}
.login-menu a {display: block; padding: 10px 5px; font-size: 13px;}
.login-menu li .fa {display: none; height: 28px; font-size: 22px; color: #2c69b7;}
.login-admin {text-align: center; margin: -10px 0 25px 0;}
.login-soc-title {display: flex; align-items: center; margin: 30px 0 15px 0;}
.login-soc-title:before, .login-soc-title:after {content: ''; height: 1px; background-color: #090c10; flex: 1;}
.login-soc-title:before {margin-right: 15px;}
.login-soc-title:after {margin-left: 15px;}
.login-soc-btns {text-align: center;}
.login-soc-btns a {display:inline-block; margin: 0 3px; vertical-align:top;}
.login-soc-btns img {display:block; width:30px; height: 30px; border-radius: 50%;}


/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel {display: none; opacity: 0; transition: opacity .3s linear; width: 100%; position: relative; z-index: 10;}
.owl-carousel .owl-stage {position: relative;
	display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:flex-start;justify-content:flex-start;}
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-item {position: relative; min-height: 1px;}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled, .owl-carousel.owl-refresh .owl-item {display: none;}
.owl-carousel.owl-loaded, .owl-carousel.owl-loading, .no-js .owl-carousel {display: block; opacity: 1;}
.owl-carousel.owl-loading, .owl-carousel.owl-hidden {opacity: 0;}
.owl-carousel.owl-drag .owl-item {user-select: none;}
.owl-carousel.owl-grab {cursor: move; cursor: grab;}
.owl-carousel .animated {animation-duration: 1000ms; animation-fill-mode: both;}
.owl-carousel .owl-animated-in {z-index: 0;}
.owl-carousel .owl-animated-out {z-index: 1;}
.owl-carousel .fadeOut {animation-name: fadeOut;}
@keyframes fadeOut { 0% {opacity: 1;} 100% {opacity: 0;} }
.owl-height {transition: height 500ms ease-in-out;}
.owl-carousel .owl-item .owl-lazy {opacity: 0; transition: opacity 400ms ease;}
.owl-carousel .owl-item img.owl-lazy {transform-style: preserve-3d;}
.owl-nav {position:absolute; right:0; top:0; z-index: 1;}
.owl-prev, .owl-next {display: block; cursor: pointer; background: none; color: #ffbb00; box-shadow: none; 
height: 20px; line-height: 20px; position: absolute; top: -46px; box-shadow: none; font-size: 28px;}
.owl-prev {right:45px; color: #ffbb00;}
.owl-next {right:0px;}
.owl-prev:hover, .owl-next:hover {color:#aac2e0;}


/* ADAPTIVE
----------------------------------------------- */
.btn-menu {display: none;}
.side-panel {width:280px; height:100%; overflow-x:hidden; overflow-y:auto; background-color:#18202a;
padding:20px; z-index:9999; position:fixed; left:-320px; top:0; transition:left .4s;}
.side-panel.active {left:0;}
.close-overlay {width:100%; height:100%; background-color:rgba(0,0,0,0.5); 
position:fixed; left:0; top:0; z-index:9998; display:none;}
.btn-close {cursor:pointer; display:block; left: 280px; top: -40px; position: fixed; z-index: 9999;
width:40px; height:40px; line-height:40px; text-align:center; font-size:18px; 
background-color: #e84e36; color: #fff; transition:top .4s;}
.btn-close.active {top:0px;}
body.opened-menu {overflow: hidden; width: 100%; height: 100%;}
.side-panel .side-nav a {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.side-panel .side-box {margin-bottom: 20px;}

@media screen and (max-width: 1220px) {
.wrap {padding: 0; overflow: hidden;}
.header, .footer, .cols, .carou-sect {padding-left: 20px; padding-right: 20px; border-radius: 0; background-image: none;}
.wrap-center {max-width:1000px; border-radius: 0;}
.sidebar {display: none;}
.btn-menu {display: block; font-size: 28px; margin-left: 20px; cursor: pointer; color: #ffbb00;}
.cols {padding-top: 20px;}

.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:400px;}
}

@media screen and (max-width: 950px) {
.wrap-center {max-width:768px;}
.short-meta-item:not(.mrating-count) {display: none;}
.footer {display: block; text-align: center;}
.footer-copyright {margin: 0 0 20px 0;}
}

@media screen and (max-width: 760px) {
.wrap-center {max-width:640px;}
.not-logged .login-avatar {display: none;}
.login-close {top: -5px;}
.login-title {font-size: 18px;}
.login-box {max-width: calc(100% - 60px); padding: 15px;}
.search-wrap {-ms-flex-order: 10;-webkit-order: 10;order: 10; min-width: 100%; margin: 0; margin-top: 20px;}
.header-btn {padding: 0 10px;}
.logo {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; 
	max-width: 100%; min-width: 50px; position: relative; margin-right: 20px;}

.fcols {display: block; padding: 0; background-color: transparent;}
.fleft {margin: 0 auto 10px auto;}
.fcols:after {content: ""; display: table; clear: both;}
.short-rates {width: 100%; margin: 10px 0 0 -10px; justify-content: flex-start;} 
.fcols .short-list li {padding-left: 100px;}
.mrating-count {text-align: right; margin-right: 0; margin-left: -20px;}
.ffav, .fcompl {display: none;}
.fplayer .tabs-sel > span {width: 50%; text-align: center;}
.fctrl {padding: 0;}
.fplayer {margin-left: -20px; margin-right: -20px;}

.dcont button {font-size:12px; padding:0 15px !important;}
.comments-tree-list .comments-tree-list {padding-left:0px !important;}
.comments-tree-list .comments-tree-list:before {display:none;}
.mass_comments_action {display:none;}
}

@media screen and (max-width: 590px) {
.wrap-center {max-width:480px;}
.short-item {width: 47% !important; margin-bottom: 10px; padding: 0; background-color: transparent; border: 0;}
.short-item .short-img {width: 100%; margin: 0; margin-bottom: 10px; padding-top: 140%; height: auto;}
.short-item .short-meta, .short-item .short-list, .short-item .short-rates, .sect-title .fal {display: none;}
.short-item .short-title {white-space: normal; font-size: 15px;}
.short-item .short-img img {position: absolute; left: 0; top: 0;}
.navigation {justify-content: center;}
.sect-title, .logo {font-size: 18px;}

.ac-inputs input {width: 100%;}
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:300px;}

.ui-dialog {width:100% !important;}
.upop-left, .upop-right {float:none !important; width:100% !important; margin:0; padding:0 20px;}
.upop-left {margin-bottom:10px; text-align:center;}
.ui-dialog-buttonset button {display:block; margin:0 0 5px 0; width:100%;}
#dofullsearch, #searchsuggestions span.seperator {display:none !important;}
.attach .download-link {margin:0 -15px 0 0; float:none; display:block; padding:0 10px;}
.attach-info {float:none;}
}

@media screen and (max-width: 470px) {
.wrap-center22 {max-width:360px;}

.fleft {width: 100%;}
.fimg {height: 140px;}
.fimg img {height: 100%; object-fit: cover;}
.fimg:before {content: ''; position: absolute; z-index: 5;  left: 0; right: 0; bottom: 0; height: 70%; 
	background: linear-gradient(to bottom, transparent 0%,#090c10 100%); opacity: 1;}
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:250px;}
}
