.items .description {
	height: 100px;
	overflow: hidden;
}

.items .circle {
	position: absolute;
	width: 150px;
	height: 150px;
	top: -30px;
	/*left: -30px;*/
	right: -15px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-clip: padding-box;
	background: #bd0909;
	background: linear-gradient(30deg, #ff6e6e 0%, #bd0909 100%);
	color: white;

	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	color: white;
	white-space: nowrap;
}

.items .price {
	color: white;
	font-size: 35px;
	font-family: Arial;
}

.items .currency {
	color: white;
	font-size: 20px;
	font-family: Arial;
}

.items .order {
	margin-bottom: 10px;
}

.show_all {
	font-size: 24px;
	font-weight: bold;
}

.container-frame {
	width: 420px;
	margin: 0 auto;
	position: relative;
}
.container-frame .items .description {
	font-size: 18px;
}
.container-frame .form-phone {
	width: 190px;
	display: inline-block;
}
.container-frame .form-btn {
	display: inline-block;
}
.container-frame .form-inline {
	display: inline-block;
}
.categories {
	margin-bottom: 30px;
}

.items2 .price {
	font-size: 30px;
	/*font-family: Arial;*/
	text-align: center;
	color: #f27151;
	font-weight: bold;
	margin-top: 10px;
}

.items2 .description {
	height: 110px;
	overflow: hidden;
	font-size: 13px;
}

.items2 .order {
	margin-bottom: 10px;
}

.items2 .item-name {
	height: 20px;
	overflow: hidden;
}

.category {
	text-align: center;
	margin-bottom: 60px;
}

.category .image img {
	height: 150px; 
	width: auto; 
	border: 0px; 
	border-radius: 5px; 
	margin-bottom: 10px;
}

.category .name a {
	color: #333;
}