body {
	font:14px sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(/template/img/bg_body.jpg);
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.thumbs {
	width: 1296px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.thumbs img {
	width: 320px;
	height: auto;
	/*height: 100px;*/
	margin-bottom: 5px;
}
.thumbs img:hover {
	opacity: 0.5;
}
.thumbs .title {
	height: 32px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}
.thumbs .description {
	height: 82px;
	overflow: hidden;
}
.thumbs .description, .thumbs .category-name a {
	color:#22262a;
	text-decoration: none;
}
.thumbs .description span {
	background:url(/template/img/ico_tags.png) no-repeat 0 2px;
	display: inline-block;
	width: 18px;
	height: 14px;
	margin-right: 5px;
}
.thumbs .item {
	position: relative;
	float: left;
	width: 320px;
	margin: 2px;
	height: 362px;
	overflow: hidden;
}
.thumbs .views {
	background: url(/template/img/ico-view.png) no-repeat 10px 10px;
	padding: 8px 10px 5px 34px;
	height: 21px;
}
.thumbs .videos {
	padding: 8px 10px 5px 10px;
	height: 21px;
}
.thumbs-categories .item{
	height: 240px;
}
.thumbs .opacity-top {
	background:rgba(232, 239, 242, 0.6);
	position: absolute;
	top: 3px;
	left: 3px;
}
.thumbs .opacity-bottom-right {
	background:rgba(232, 239, 242, 0.6);
	position: absolute;
	bottom: 3px;
	right: 3px;
}
.thumbs .opacity-bottom-left {
	background:rgba(232, 239, 242, 0.6);
	position: absolute;
	bottom: 3px;
	left: 3px;
}
.thumbs .category-name {
	padding: 8px 10px 5px 10px;
	height: 21px;
}
.header {
	background-color: #000;
	height: 85px;
	opacity: 0.9;
	margin-bottom: 10px;
	overflow: hidden;
}
.header .menu {
	margin: 20px 40px 0 0;
	float: right;
}
.header .menu a {
	padding:13px 17px;
	color:#000;
	display:inline-block;
	background:#8c8478;
	text-decoration: none;
	margin: 0;
}
.header .menu a:hover {
	background:#e32d00;
	color: #fff;
}
.header .text {
	float: left;
	width: 700px;
	height: 80px;
	overflow: hidden;
	text-align: center;
	margin-top: 3px;
	color: #6090cd;
}
.header .text p {
	padding: 0;
	margin: 7px;
}
.header .logo {
	float: left;
	width: 330px;
	overflow: hidden;
	margin: 20px 30px 0 10px;
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}
.header .logo .p {
	color: #e32d00;
}
.header .logo a {
	text-decoration: none;
	color: #fff;
}
.footer {
	background-color: #000;
	height: 85px;
}
.footer .counter {
	float: right;
	margin: 20px 20px 0 0;
}
.footer .text {
	float: left;
	margin: 30px 30px 0 10px;
	color: #ddd;
	/*width: 990px;*/
}
.footer .logo {
	float: left;
	width: 200px;
	overflow: hidden;
	margin: 23px 30px 0 10px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}
.footer .logo .p {
	color: #e32d00;
}
.footer .links {
	float: left;
	width: 200px;
	overflow: hidden;
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center;
}
.footer a {
	color: #ddd;
	text-decoration: underline;
}
.footer a:hover {
	color: #e32d00;
}
.categories {
	background:#23272b url(/template/img/bg_cols.jpg);
	-moz-column-count: 6;
	-moz-column-gap: 10px;
	-webkit-column-count: 6;
	-webkit-column-gap: 10px;
	column-count: 6;
	column-gap: 10px;
	padding: 20px 0 20px 50px;
	margin: 0;
	margin-bottom: 15px;
	list-style-type: none;
}
.categories li {
	margin: 6px 0;
}
.categories a {
	color: #fff;
	text-decoration: none;
}
.categories a:hover {
	color: #e32d00;
}
h2 {
	margin: 0 auto 10px auto;
	color:#000;
	padding:0;
	text-transform:uppercase;
	font:14px sans-serif;
	display: block;
	width: 1294px;
	text-align: left;

}
.player-wrapper {
	width: 1292px;
	margin: 0 auto 20px auto;
}
.player-wrapper .player iframe {
	width: 800px;
	height: 651px;
	min-height: 600px;
}
.player-wrapper .info a {
	color:#8c8478;
	text-decoration: none;
}
.player-wrapper .info a:hover {
	color:#e32d00;
}

.player-wrapper .player {
	/*width: 980px;*/
	float: left;
}
.player-wrapper .info {
	background:#1f2327 url(/template/img/bg_cols.jpg);
	padding: 10px;
	/*width: 780px;*/
	color:#ede5d9;
	font:13px sans-serif;
	clear: both;
	max-width: 680px;
}

.pages {
	margin-left: 200px;
}
.pages li {
	float: left;
	margin-right: 1px;
}
.pages li a,.pages .points,.pages .active {
	height:29px;
	color:#1c1e20;
	font:14px/29px sans-serif;
	padding:0 13px;
	display:block;
	background:#8c8478;
	text-decoration: none;
}
.pages .points {
	background:none;
}
.pages li a:hover,.pages .active {
	background:#e32d00;
	color:#fff;
}
.wrapper {
	min-width: 1320px;
}
.text-block {
	background:rgba(232, 239, 242, 0.6);
	/*background-color: #8c8478;*/
	/*background: rgba(156, 139, 113, 0.43);*/
	/*color: #000;*/
	/*opacity: 0.6;*/
	padding: 10px;
	width: 1270px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
.text-block p {
	padding: 0;
	margin: 5px 0 5px 0;
}
.text-block .section-img {
	height: 150px;
	width: auto;
	float: left;
	margin: 6px 8px 8px 0;
}
.breadcrumbs {
	width: 1290px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-weight: bold;
	/*border: 1px solid #000;*/
}
.breadcrumbs h1 {
	padding: 0;
	margin: 0;
	display: inline;
	font-size: 14px;
	font-weight: bold;
}
.breadcrumbs a {
	color: #e32d00;
	text-decoration: none;
}
.breadcrumbs a:hover{
	text-decoration: underline;
}
.player-wrapper .info .save-video-button {
	display: block;
	border: 1px solid #555;
	border-radius: 2px;
	padding: 5px 10px;
	width: 170px;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	background-color: #000;
	margin-top: 5px;
	color: #e32d00;
}
.player-wrapper .info .save-video-button img {
	/*display: inline-block;*/
	vertical-align: middle;
	width: 20px;
	height: auto;
	margin-right: 10px;
}
#timer {
    font-size: 100px;
    text-align: center;
}
#timer .hidden_text {
    font-size: 20px;
}
#timer .hidden_text a {
    color: red;
}

.v_player {
	float: left;
	width: 360px;
	margin-left: 50px; 
	height: 400px; 
	overflow: hidden;
}
