.freezing-wrap{position:fixed;top:55px;right:0;z-index:9999;min-height:198px;width:330px;overflow:hidden;padding-bottom:10px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;}
.freezing-info{width:329px;height:125px;position:relative;background:url(../img/buyer-bg.png) no-repeat;box-sizing:border-box;padding:10px 30px;-webkit-transform:translate(110%,0);-ms-transform:translate(110%,0);transform:translate(110%,0);margin-top:27px}
.freezing-active .freezing-info{-webkit-animation:buyShow 1s ease-out forwards;animation:buyShow 1s ease-out forwards}
.freezing-hide .freezing-info{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-animation:buyHide 1.5s ease-out forwards;animation:buyHide 1.5s ease-out forwards}
.freezing-info:before{content:"";position:absolute;height:198px;width:280px;top:0;right:0;margin-top:-26px;background:url(../img/buyer-ice.png) no-repeat;opacity:0}
.freezing-active .freezing-info:before{-webkit-animation:iceShow 2s ease-out 1.5s forwards;animation:iceShow 2s ease-out 1.5s forwards}
.freezing-info--title{color:#000;z-index:2;position:relative;text-transform:uppercase;font-size:18px;font-weight: 700;margin-bottom: 5px;}
.freezing-info--price{color:#02aced;z-index:2;position:relative;margin-left:3px;line-height:22px;font-size:16px;}
.freezing-info--packages{color:#000;padding-top:23px;z-index:2;position:relative;line-height:1;font-size:14px}
.freezing-info--packages .packages-count{;color:#c20114}
.freezing-close{position:absolute;top:-14px;right:4px;width:20px;height:20px;display:block}
.freezing-close:before,.freezing-close:after{content:"";position:absolute;width:100%;height:2px;background:#fff}
.freezing-close:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.freezing-close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.freezing-close:hover:before,.freezing-close:hover:after{background:#ef504c}
.freezing-buyer{width:296px;height:64px;background:rgba(43,43,43,.7);border:2px solid rgba(0,0,0,.25);border-radius:3px;box-shadow:0 0 10px #000;margin:20px 10px;position:relative;z-index:3;float:right;opacity:0;-webkit-transition:all 2s;-ms-transition:all 2s;transition:all 2s}
.freezing-buyer.freezing-buyer--show{opacity:1;-webkit-transition:all 2s;-ms-transition:all 2s;transition:all 2s}
.freezing-buyer-prod-img{float:left;width:60px;height:64px;position:relative}
.freezing-buyer-prod-img img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-width:80%;max-height:80%}
.freezing-buyer-info{color:rgba(255,255,255,.6);font-size:14px}
.dynamic-info{color:#fff;font-size:16px;padding:14px 0 0;line-height:1}
@keyframes iceShow {
0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes iceShow {
0%{opacity:0}
100%{opacity:1}
}
@keyframes iceHide {
0%{opacity:1}
100%{opacity:0}
}
@-webkit-keyframes iceHide {
0%{opacity:1}
100%{opacity:0}
}
@keyframes buyShow {
0%{-webkit-transform:translate(110%,0);-ms-transform:translate(110%,0);transform:translate(110%,0)}
60%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
65%{-webkit-transform:translate(10px,0);-ms-transform:translate(10px,0);transform:translate(10px,0)}
75%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
85%{-webkit-transform:translate(10px,0);-ms-transform:translate(10px,0);transform:translate(10px,0)}
95%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
}
@-webkit-keyframes buyShow {
0%{-webkit-transform:translate(110%,0);transform:translate(110%,0)}
60%{-webkit-transform:translate(0,0);transform:translate(0,0)}
65%{-webkit-transform:translate(10px,0);transform:translate(10px,0)}
75%{-webkit-transform:translate(0,0);transform:translate(0,0)}
85%{-webkit-transform:translate(10px,0);transform:translate(10px,0)}
95%{-webkit-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
@keyframes buyHide {
0%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(110%,0);-ms-transform:translate(110%,0);transform:translate(110%,0)}
}
@-webkit-keyframes buyHide {
0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(110%,0);transform:translate(110%,0)}
}
@media all and (max-width: 980px) {
.freezing-wrap{display:none!important}
}