*{
	margin: 0;
	padding: 0;
	border: 0;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	}


body{
	overflow: auto;
}







a.anchor{
	position: absolute;
	margin-top: -82px;
}

a.anchor_1{
	position: absolute;
	margin-top: -53px;
}

a.anchor_2{
	position: absolute;
	margin-top: -72px;
}

a:link{
	color: #ace7f2;
	text-decoration: none;
	}

a:visited{
	color: #ace7f2;
	text-decoration: none;		
}

a:hover{
	color: #ace7f2;
	text-decoration: none;
}


a:focus {
	outline: none;
	}



body{
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 18px;
	background: url(../img/bg.jpg);
}

}

link_l{
	color: #00afbb;
	}

a.link_l{
	color: #00afbb;
	}

a.link_l:hover {
	color: #e84823;
	text-decoration: none;
	}


/*main menu*/

nav {
	position: relative;
	height: 53px;
	font-size: 15px;
	line-height: 53px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 500;
	overflow: hidden;	
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 990px;
	height: 53px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	display: inline-block;
	padding: 0 24px;
	text-align: center;
	text-decoration: none;
	line-height: 53px;
	}

nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav a:hover, nav a:active {
	text-decoration: none;
	color: #fff;
	background-color: #253e57;
}
nav a#pull {
	display: none;
}

@media only screen and (min-width: 992px) {
	
	.menu_mobile{
		display: none;
	}
}


/*end main menu*/

/*main menu_mobile*/

.min{
	
}

nav-mobile {
	position: relative;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 500;
	overflow: hidden;	
}

nav-mobile ul {
	padding: 0;
	margin: 0 auto;
	width: 990px;
	height: 53px;
}
nav-mobile li {
	display: inline;
	float: left;
	height: 40px;
}
nav-mobile a {
	display: inline-block;
	padding: 0 24px;
	text-align: center;
	text-decoration: none;
	line-height: 53px;
	}

nav-mobile li a {
	line-height: 40px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav-mobile a:hover, nav a:active {
	text-decoration: none;
	color: #fff;
	background-color: #253e57;
}
nav-mobile a#pull {
	display: none;
}

/*dropdown*/
@media only screen and (max-width: 991px) {
	
	.menu_desktop{
		display: none;
	}
	
	nav-mobile {
		height: auto;
		border-bottom: 0;
		}
	
	nav-mobile ul {
		display: none;
		height: auto;
		width: 100%;
		}
	
	nav-mobile a#pull {
		display: block;
		background-color: #385a7b;
		width: 100%;
		padding-left: 20px;
		position: relative;		
	}
	nav-mobile a#pull:after {
		content:"";
		background: url(../img/nav-icon.png) no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 17px;
	}
		
	nav-mobile li {
		display: block;
		float: none;
		width: 100%;
	}
	nav-mobile li a {
		text-align: center;
		border-bottom: 1px solid #4479ae;
	}
	
	nav-mobile a {
	  	text-align: left;
	  	width: 100%;
	  	}
}



/*end main menu*/


.menu_bg{
    position: fixed;
	background: rgba(39, 61, 83, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	overflow: hidden;   
}







/*screen 1*/

.screen_1{
	position: relative;
	margin-top: -734px;
	z-index: 100;
}



#rose{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_rose.png) bottom center no-repeat;
	z-index: 50;
	}

#black{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_black.png) bottom center no-repeat;
	z-index: 50;
}

#silver{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_silver.png) bottom center no-repeat;
	z-index: 50;
}

#gold{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_gold.png) bottom center no-repeat;
	z-index: 50;
}





#rose_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_rose.png) center center no-repeat;
	z-index: 50;
	}

#black_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_black.png) center center no-repeat;
	z-index: 50;
}

#silver_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_silver.png) center center no-repeat;
	z-index: 50;
}

#gold_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_gold.png) center center no-repeat;
	z-index: 50;
}










#rose_s{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_rose_s.png) bottom center no-repeat;
	z-index: 50;
}

#black_s{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_black_s.png) bottom center no-repeat;
	z-index: 50;
}

#silver_s{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_silver_s.png) bottom center no-repeat;
	z-index: 50;
}

#gold_s{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_gold_s.png) bottom center no-repeat;
	z-index: 50;
}



#rose_s_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_rose_s.png) center center no-repeat;
	z-index: 50;
}

#black_s_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_black_s.png) center center no-repeat;
	z-index: 50;
}

#silver_s_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_silver_s.png) center center no-repeat;
	z-index: 50;
}

#gold_s_b{
	position: relative;
	height: 734px;
	margin: 0 auto;
	background: url(../img/bg_screen_1_gold_s.png) center center no-repeat;
	z-index: 50;
}






@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	.screen_1{
		margin-top: -734px;
		}
	
	.colors {
	display: none;	
	}
	
	#Tabs_c, #rose, #black, #silver, #gold,
	#Tabs_c_b, #rose_b, #black_b, #silver_b, #gold_b 
	{
		display: none;
	}
}



@media only screen and (min-width: 1200px) {
	
	
	.colors {
	display: none;	
	}
	
	#Tabs_s, #rose_s, #black_s, #silver_s, #gold_s, 
	#Tabs_s_b, #rose_s_b, #black_s_b, #silver_s_b, #gold_s_b
	{
		display: none;
	}
}

/* Tabs */

ul#Tabs_s {
	list-style-type: none;
    margin-top: 95px;
	width: 190px;
	color: #ace7f2;
	font-size: 19px;
	font-weight: 600;	
	text-indent: 14px;
}

#Tabs_s li.Tab_color {
    color: #333;
    }

#Tabs_s li.Tab_color a {
    color: #333;
}

#Tabs_s li.Tab_color a:hover {
	color: #ace7f2;
    }

/* Selected Tab */
#Tabs_s li.SelectedTab_color {
    color: #ace7f2;
	}

#Tabs_s li.SelectedTab_color a {
    color: #ace7f2;
	}



ul#Tabs_s_b {
	list-style-type: none;
    margin-top: 95px;
	width: 190px;
	color: #ace7f2;
	font-size: 19px;
	font-weight: 600;	
	text-indent: 14px;
}

#Tabs_s_b li.Tab_color {
    color: #333;
    }

#Tabs_s_b li.Tab_color a {
    color: #333;
}

#Tabs_s_b li.Tab_color a:hover {
	color: #ace7f2;
    }

/* Selected Tab */
#Tabs_s_b li.SelectedTab_color {
    color: #ace7f2;
	}

#Tabs_s_b li.SelectedTab_color a {
    color: #ace7f2;
	}







ul#Tabs_c {
	list-style-type: none;
    margin-top: 95px;
	width: 190px;
	color: #ace7f2;
	font-size: 19px;
	font-weight: 600;	
	text-indent: 14px;
}

#Tabs_c li.Tab_color {
    color: #333;
    }

#Tabs_c li.Tab_color a {
    color: #333;
}

#Tabs_c li.Tab_color a:hover {
	color: #ace7f2;
    }

/* Selected Tab */
#Tabs_c li.SelectedTab_color {
    color: #ace7f2;
	}

#Tabs_c li.SelectedTab_color a {
    color: #ace7f2;
	}




ul#Tabs_c_b {
	list-style-type: none;
    margin-top: 95px;
	width: 190px;
	color: #ace7f2;
	font-size: 19px;
	font-weight: 600;	
	text-indent: 14px;
}

#Tabs_c_b li.Tab_color {
    color: #333;
    }

#Tabs_c_b li.Tab_color a {
    color: #333;
}

#Tabs_c_b li.Tab_color a:hover {
	color: #ace7f2;
    }

/* Selected Tab */
#Tabs_c_b li.SelectedTab_color {
    color: #ace7f2;
	}

#Tabs_c_b li.SelectedTab_color a {
    color: #ace7f2;
	}












.block_logo {
	float: left;
	margin-top: 43px;
	}

.block_logo_2 {
	float: left;
	margin-top: 10px;
	}

.logo{
	background: url(../img/logo.png) no-repeat;
    width: 249px;
    margin: 45px 0 0 0px;
	padding-top: 62px;
	color: #fff;
	font-size: 21px;
	line-height: 27px;
	}

.bg_mobile {
	margin: 0 auto;
	margin-top: 25px;
	width: 100%;
	text-align: center;
	display: none;
}

.zoom {
	max-width: 100%;
	}

.zoom_item {
	max-width: 100%;
	margin-bottom: 20px;
	}

.colors {
	margin-top: 95px;
	width: 190px;
	color: #ace7f2;
	font-size: 19px;
	font-weight: 600;	
	text-indent: 14px;
}

.color_pink {
	float: left;
	width: 104px;
	padding-top: 60px;
	margin-bottom: 15px;
	margin-top: 20px;
	background: url(../img/pink_gold.png) top center no-repeat;
	font-size: 15px;
	line-height: 15px;
	text-align: center;	
	text-indent: 0px;
}



.color_dark {
	float: right;
	width: 57px;
	padding-top: 60px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-right: 10px;
	background: url(../img/dark.png) no-repeat;
	font-size: 15px;
	line-height: 15px;
	text-align: center;	
	text-indent: 0px;
}

.color_silver {
	float: left;
	width: 104px;
	padding-top: 60px;
	margin-bottom: 15px;
	background: url(../img/silver.png) top center no-repeat;
	font-size: 15px;
	line-height: 15px;
	text-align: center;	
	text-indent: 0px;
}

.color_gold {
	float: right;
	width: 57px;
	padding-top: 60px;
	margin-bottom: 15px;
	margin-right: 10px;
	background: url(../img/gold.png) no-repeat;
	font-size: 15px;
	line-height: 15px;
	text-align: center;	
	text-indent: 0px;
}

.block_price {
	float: right;
	width: 290px;
	margin: 43px 0 0px 0;
}

.block_price_2 {
	float: right;
	width: 290px;
	margin: 10px 0 0px 0;
}


.price{
	margin: 45px 0 0 0px;	
	}

.white_b_31{
	font-weight: 700;
	color: #fff;
	font-size: 32px;    	
	}

.white_b_36{
	font-size: 36px;
    }

.white_b_27{
	font-weight: 600;
	color: #fff;
	font-size: 27px;
	line-height: 25px;    
	}

.white_b_48{
	font-weight: 600;
	float: left;
	color: #fff;
	margin-left: 90px;
	font-size: 48px;
	line-height: 45px;    
	}

.white_b_44{
	font-weight: 700;
	font-size: 44px;	
	}

.blue_b_32{
	font-weight: 500;
	color: #ace7f2;
	font-size: 30px;
    	
	}

.blue_b_22{
	font-size: 22px;
    	
	}

.zach {
font-family: Tahoma;
color: #fff; 
text-decoration:line-through;
}

.presents {
	margin: 30px 0 35px 0;
	float: left;
	height: 70px;
	font-weight: 700;
	line-height: 105px;
	color: #fff;
	font-size: 26px;
	background-image: url(../img/present.png);
    background-repeat: no-repeat;
    background-position: 160px 00px; 
}

a.present {
	margin-left: 20px;	
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	padding: 15px 30px 14px;
	border: solid 2px rgba(172, 231, 242, 0.5);
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.2);
	transition: 0.2s;
} 
a.present:hover { 
	color: #e45039;
	background: #fff; 
	border: solid 2px #ace7f2;
	text-decoration: none;
}







.timer {
	width: 290px;
	float: right;
	margin-top: 50px;
	}

.timer_about{
	color: #fff;
	font-size: 20px;
	line-height: 36px;
	margin: 0 0 20px 20px;
    }

a.buy{
	display: inline-block;
	float: right;
	width: 100%;
	height: 80px;
	font-size: 30px;
    font-weight: 700;
	color: #fff;
	text-decoration: none;
    text-align: center;
	line-height: 78px;
	margin: 0 auto;
	margin-bottom: 70px;
	margin-top: -20px;
	border-radius: 100px;
	background: #ff6149; 
    background: linear-gradient(to top, #ff5656, #d9a486);
	box-shadow: 0 0 12px 5px rgba(0,0,0,0.15);
	}
a.buy:hover{
    color: #fff;	
    background: linear-gradient(to top, #ff302f, #ff9960);
	text-decoration: none;	
}

/*end screen 1*/







/*screen 2*/

.screen_2_bg{
	position: relative;
	margin-top: -35px;
	background: rgba(255, 255, 255, 0.2);
	z-index: 200;
}

.screen_2_content{
	margin: 0 auto;
	max-width: 1130px;
	padding: 20px 0 30px 0;
}


/*end screen 2*/





/*screen 3*/

.screen_3{
	background: rgba(234, 247, 250, 0.8);
	margin: 0px auto;
	padding-top: 30px;
}

.screen_3_name{
	font-weight: 600;
	color: #125da0;
	font-size: 36px;	
	text-align: center;
	margin: 10px 0 35px 0;
	}


.box{
	text-align: center;
	}

.item_img{
	text-align: center;
	}

.item{
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
	}

.tech{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	}

.tech_img{
	height: 500px;
    position: relative;
	}

.zoom_tech {
	height: 405px;
	background: url(../img/tech_img.png) bottom no-repeat;
	background-size: contain;
	
	}

/*end screen 3*/



/*screen 4*/

.screen_4{
	margin: 0px auto;
	padding-top: 30px;
}





.screen_4_name{
	font-weight: 600;
	color: #fff;
	font-size: 36px;	
	text-align: center;
	margin: 10px 0 45px 0;
}

.screen_4_zoom {
	height: 531px;
	background: url(../img/screen_4.png) bottom no-repeat;
	background-size: contain;	
	}


.gift_name_1{
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	width: 200px;
	background: url(../img/gift_icon_1.png) top left no-repeat;
	font-weight: 600;
	color: #fff;
	font-size: 24px;
	line-height: 27px;
	padding: 0px 0 0 60px;
	}


.gift_name_2{
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	width: 190px;
	background: url(../img/gift_icon_2.png) top left no-repeat;
	font-weight: 600;
	color: #fff;
	font-size: 24px;
	line-height: 27px;
	padding: 0px 0 0 60px;
	}

.button{
	margin: 0 auto;
	margin-top: 25px;
	max-width: 290px;
	height: 80px;
	}

a.buy_2{
	display: inline-block;
	float: right;
	width: 100%;
	height: 80px;
	font-size: 30px;
    font-weight: 700;
	color: #fff;
	text-decoration: none;
    text-align: center;
	line-height: 78px;
	margin: 0 auto;
	margin-top: -20px;
	border-radius: 100px;
	background: #ff6149; 
    background: linear-gradient(to top, #ff5656, #d9a486);
	box-shadow: 0 0 12px 5px rgba(0,0,0,0.15);
	}
a.buy_2:hover{
    color: #fff;	
    background: linear-gradient(to top, #ff302f, #ff9960);
	text-decoration: none;	
}


/*end screen 4*/



/*screen 5*/

.screen_5{
	
	background: rgba(39, 61, 83, 0.45);
	margin: 0px auto;
	padding: 30px 0;
	}



.otz{
	text-align: center;
	margin: 0 auto;
}


.otz_foto_1{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_1.jpg) center no-repeat;
}

.otz_foto_2{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_2.jpg) center no-repeat;
}

.otz_foto_3{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_3.jpg) center no-repeat;
}

.otz_foto_4{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_4.jpg) center no-repeat;
}

.otz_foto_5{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_5.jpg) center no-repeat;
}


.otz_foto_6{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_6.jpg) center no-repeat;
}


.otz_foto_7{
	width: 171px;
	height: 171px;
	border-radius: 50%;
	border: solid 3px #fff;	
	background: url(../img/f_7.jpg) center no-repeat;
}

.otz_border{
	margin: 0 auto;
	margin-bottom: 15px;
	width: 185px;
	height: 185px;
	border-radius: 50%;
	border: solid 7px rgba(255, 255, 255, 0.3);	
}


.otz_text{
	min-height: 117px;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
	}

.otz_text_border{
	border-radius: 12px;
	border: solid 7px rgba(255, 255, 255, 0.3);
	}

.otz_container{
	width: 100%;	
	padding-top: 19px;
	margin-top: 12px;
	margin-bottom: 30px;
	background: url(../img/otz_arrow_left.png) no-repeat;
	background-position: top center;
}

.otz_name{
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	}

a.otz_name{
	color: #86eaff;
	}

a.otz_name:hover {
	color: #ff9b84;
	text-decoration: none;
	}

.otz_opis{
	margin-top: 10px;
	font-size: 17px;
	}


.add_otz{
	margin: 0 auto;
	margin-top: 10px;
	padding: 45px 0 0 300px;
	background: url(../img/add_otziv.png) no-repeat;
	background-size: contain;
	width: 822px;
	height: 296px;
	}

.add_otz_text{
	width: 350px;
	height: 200px;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
}

.add_name{
	font-size: 24px;
	font-weight: 600;
	padding: 0;
	line-height: 5px;
	}

.otz_mobile{
	display: none;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	}

a.otz_mobile{
	color: #009eb6;
	}

a.otz_mobile:hover {
	color: #e45039;
	text-decoration: none;
	}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

/*end screen 5*/


/*screen 6*/

.screen_6{
	background: rgba(234, 247, 250, 0.8);
	margin: 0px auto;
	}

.screen_6_name{
	font-weight: 600;
	color: #125da0;
	font-size: 36px;	
	text-align: center;
	margin: 40px 0 20px 0;
	}

.screen_6_name_2{
	text-align: center;
	font-size: 19px;
	padding: 0 30px;
}

/* Tabs */

#container_t{
	float: left;
    margin: 0 auto;
	margin-bottom: 40px;
    width: 100%;
    padding: 35px 35px 25px 35px;
	background: #fff;
	border-radius: 12px;
	border: 
}

.tabs_text {
    font-size: 18px;
    }

ul#Tabs {
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
    padding-bottom: 98px;
	color: #0070bb;
	text-align: center;
	margin-top: 10px;
    margin-left: 10px;
}

#Tabs li.Tab {
    float: left;
    height: 125px;
	margin: 20px 0px 0px 10px;
    }

#Tabs li.Tab a {
    float: left;
    display: block;
    color: #125da0;
    text-decoration: none;
    padding: 17px 42px 15px 42px;
}

#Tabs li.Tab a:hover {
	color: #e84823;
    background-color: #fff;
	border-radius: 12px 12px 0 0px;
    }

/* Selected Tab */
#Tabs li.SelectedTab {
    float: left;
    height: 125px;
    background-color: #fff;
	padding: 0px 42px 0px 42px;
    margin: 20px 0px 0px 10px;
	border-radius: 12px 12px 0 0;
    }

#Tabs li.SelectedTab A {
    float: left;
    display: block;
    color: #e84823;
    text-decoration: none;
    padding-top: 17px;
    cursor: default;
}

.icon_tab {
	text-align: center;
	margin: 6px 0 10px 0;
}

.tab_name {
	}


/*end screen 6*/

/*screen 7*/
.screen_7{
	background: rgba(39, 61, 83, 0.45);
	margin: 0px auto;
	padding: 30px 0 50px 0;
}

.screen_7_left {
	float: left;
	text-align: center;
	max-width: 290px;
}

.screen_7_right {
	float: left;
	text-align: center;
	max-width: 290px;
}

.screen_7_center {
	float: left;
	
}

.preim_icon_1{
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 15px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 5px rgba(255, 255, 255, 0.3);	
	background: rgba(0, 0, 0, 0.13) url(../img/preim_1.png) center no-repeat;
	}

.preim_icon_2{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 15px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 5px rgba(255, 255, 255, 0.3);	
	background: rgba(0, 0, 0, 0.13) url(../img/preim_2.png) center no-repeat;
	}

.preim_icon_3{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 15px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 5px rgba(255, 255, 255, 0.3);	
	background: rgba(0, 0, 0, 0.13) url(../img/preim_3.png) center no-repeat;
	}

.preim_icon_4{
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 15px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 5px rgba(255, 255, 255, 0.3);	
	background: rgba(0, 0, 0, 0.13) url(../img/preim_4.png) center no-repeat;
	}

.preim_icon_5{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 15px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 5px rgba(255, 255, 255, 0.3);	
	background: rgba(0, 0, 0, 0.13) url(../img/preim_5.png) center no-repeat;
	}

.preim_icon_6{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 15px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 5px rgba(255, 255, 255, 0.3);	
	background: rgba(0, 0, 0, 0.13) url(../img/preim_6.png) center no-repeat;
	}

.preim_name{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	}

.screen_7_center {
	width: 100%;
}

/*end screen 7*/



.footer{
	position: relative;
	z-index: 200;
	margin-top: -30px;
	text-align: center;
	background: rgba(0, 0, 0, 0.13);
	padding: 20px 0 23px 0;
	color: #fff;
	font-size: 18px;
	}


.clearfloat{
	clear:both;
}








/*end screen 8*/



/*Modal*/

.mod_text {
    font-size: 16px;
	padding: 10px;
    }

.mod_name {
    font-size: 24px;
	font-weight: 700;
	color: #125da0;
	margin-top: 20px;
	margin-left: 10px;
    }


.cont {
	margin: 10px 0;
	}

.ic {
	float: left;
	height: 95px;
	width: 95px;
	}

.ic_text{
	text-align: center;
	font-weight: 700;
	color: #333;
	font-size: 18px;
	padding-top: 10px;
	}

.work_time{
	
	margin-top: 10px;
	font-weight: 700;
	text-align: center;
	color: #125da0;
	font-size: 18px;
	}


.zak_icon{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px;
	width: 156px;
	height: 156px;
	background: url(../img/zak_icon.png) center no-repeat;
	}

.zak_name{
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 36px;
	line-height: 32px;
	margin-top: 30px;
	}

.zak_sm{
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 26px;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 70px;
	}

.garant_bg{
	background: rgba(234, 247, 250, 0.8);
	padding: 30px;	
	margin-bottom: 30px;
}

.garant_text {
    font-size: 16px;
	}

.right {
	float: left;
	text-align: right;
	margin-top: 7px;
}


.order_name{
	font-weight: 700;
	color: #000000;
	font-size: 36px;	
	text-align: center;
	margin: 10px 0 30px 0;
}


.btn_send{
	width: 250px;
	height: 70px;
	background: #ff6149; 
    background: linear-gradient(to top, #ff5656, #d9a486);
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;	
	line-height: 68px;	
	border-radius: 100px;
}

.btn_send:hover{
	color: #fff;	
    background: linear-gradient(to top, #ff302f, #ff9960);
	text-decoration: none;	
	}

.centr {
	width: 250px;
	margin: 0 auto;
}




.yvedw .yved{display: none;}



@media only screen and (min-width: 200px) and (max-width: 767px) {
	
	.screen_1{
	margin-top: 0px;
	}
	
	
	.block_logo {
		float: none;
		margin-top: 80px;
		
	}
	
	.block_logo_2 {
		float: none;
		margin-top: 40px;
		
	}
	
	.block_price {
		float: none;
		margin: 0 auto;
	}
	
	.block_price_2 {
	float: none;
		margin: 0 auto;
}
	
	.logo{
	margin: 0 auto;
		text-align: center;
	}
	
	.bg_mobile {
		display: inline-block;
}
	
	.colors{
	margin: 0 auto;
	margin-top: 15px;
	}
	
	.color_pink, .color_dark, .color_silver, .color_gold{
	color: #333;
	}
	
	#Tabs_c, #Tabs_s, #Tabs_c_b, #Tabs_s_b, #rose, #black, #silver, #gold, #rose_b, #black_b, #silver_b, #gold_b, #rose_s, #black_s, #silver_s, #gold_s, #rose_s_b, #black_s_b, #silver_s_b, #gold_s_b{
		display: none;
	}
	
	.price{
	margin: 20px 0 0 0px;	
	}
	
	.presents {
	margin: 15px 0 35px 0;
	}
	
	.timer {
	margin-top: 35px;
	}
	
	
	.screen_1_bg{
	background: none;
	}	
	
	.screen_2_content{
	margin: 0 auto;
	max-width: 446px;
	padding: 20px 0;
	}
	
	.box{
	display: none;
	}
	
	.tech_img{
	display: none;
	}
	
	.tech {
	margin-bottom: 30px;
	}
	
	.zoom_tech {
	display: none;
	}
	
	.screen_4_zoom {
	display: none;	
	}
	
	.button{
	margin-bottom: 20px;
	}
	
	.add_otz{
	display: none;
	}
	
	.otz_mobile {
		display: inline-block;
}
	
	.preim_icon_2, .preim_icon_3, .preim_icon_4, .preim_icon_5, .preim_icon_6{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px;
	}
	
	.preim_icon_1,{
	margin: 0 auto;
	margin-bottom: 15px;
	}
	
	ul#Tabs {
    padding-bottom: 50px;
	}
	
	
	
	
	#Tabs li.Tab {
    height: 75px;
	}	
	
	#Tabs li.Tab a {
	height: 75px;	
    padding: 17px 12px 15px 12px;
	}

	#Tabs li.SelectedTab {
	height: 75px;	
	padding: 0px 12px 0px 12px;
	}
	
	.tab_name {
		display: none;
	}
	
	.menu_bg{
    background: rgba(52, 101, 150, 1.0);
	}
	
	.mod_name {
    font-size: 20px;
	}
		
	.cont {
	margin: 10px 0;
		text-align: center;
	}

	.ic {
	float: none;
	margin: 0 auto;
	}

	.ic_text{
	margin: 0 auto;	
	}
	
	.screen_3_name, .screen_4_name{ 
	margin: 0px 0 20px 0;
	font-size: 26px;
	}
	
	.screen_6_name { 
	margin: 30px 0 20px 0;
	font-size: 26px;
	}
	
	.zak_name{
	font-size: 24px;
	}
	
	.garant_bg{
	padding: 20px;
	}

	.garant_text	{
	font-size: 14px;
	}
	
	.order_name{
	font-size: 24px;	
	}
	
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
		

	.screen_2_content{
	margin: 0 auto;
	max-width: 675px;
	padding: 20px 0;
}

	.screen_1{
	margin-top: 0px;
	background: url(../img/bg_screen_768.png) bottom center no-repeat;
	}
	
	.colors{
	margin-top: 30px;
	}
	
	
	#Tabs_c, #Tabs_s, #Tabs_c_b, #Tabs_s_b, #rose, #black, #silver, #gold, #rose_b, #black_b, #silver_b, #gold_b, #rose_s, #black_s, #silver_s, #gold_s, #rose_s_b, #black_s_b, #silver_s_b, #gold_s_b{
		display: none;
	}
	
	.color_pink{
		margin-top: 12px;
		margin-bottom: 10px;
		color: #333;
	}
	
	.color_dark{
		margin-top: 12px;
		margin-bottom: 10px;
		color: #333;
	}
	
	.color_silver{
		color: #333;
	}
	
	.color_gold{
		color: #333;
	}
	
	.box{
	display: none;
	}
	
	.tech_img{
	display: none;
	}
	
	.tech {
	margin-bottom: 30px;
	}
	
	.zoom_tech {
	display: none;
	}	
	
	.screen_4_zoom {
	display: none;	
	}
	
	.button{
	margin-bottom: 20px;
	}
	
	.add_otz{
	width: 700px;
	height: 252px;
	line-height: 24px;
	padding: 35px 0 0 224px;	
	}
	
	.add_otz_text{
		line-height: 23px;
	}
	
	
	#Tabs li.Tab a {
    padding: 17px 38px 15px 38px;
	}

	#Tabs li.SelectedTab {
	padding: 0px 38px 0px 38px;
	}
	
	.menu_bg{
    background: rgba(52, 101, 150, 0.95);
	}
	
	
		.cont {
	margin: 10px 0;
		text-align: center;
			
	}

.ic {
	float: none;
	margin: 0 auto;
	}

.ic_text{
	margin: 0 auto;	
	}

	.visota {
		height: 190px;
	}
}







@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.screen_2_content{
	margin: 0 auto;
	max-width: 902px;
	padding: 20px 0;
}
	
	.zoom_tech {
	height: 520px;
	background: url(../img/tech_img_520.png) bottom no-repeat;
		background-size: contain;
	}
	
	#Tabs li.Tab a {
    padding: 17px 25px 15px 25px;
	}

	#Tabs li.SelectedTab {
		padding: 0px 25px 0px 25px;
	}
	
	.ic_text{
		padding-top: 0px;
	display: table-cell;
	height: 95px;
	vertical-align: middle;
	padding-left: 20px;
	}
	
}

@media only screen and (min-width: 1200px) {
	.ic_text{
	padding-top: 0px;
	display: table-cell;
	height: 95px;
	vertical-align: middle;
	padding-left: 20px;
	}
}