@charset "utf-8";

/*
 *	design: oz
 *	icq: 422618
 *	skype: nameless-dot
 *	mailto:vitaliy@petrychuk.com
 *	url: http://petrychuk.com
 */

body {
	background: #fff;
	color: #636363;
	font: 13px Tahoma, Arial;
	margin: 0;
}

.clr {clear: both;}

.head { 
	background: url(../images/header_bg.png) repeat-x;
	height: 34px;
	text-align: center;
}
.hello {
	background: url(../images/header_bg_slogan.png) repeat-x;
	height: 44px;
	color: #ff0068;
	padding-left: 160px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.titleOne {
	background: #fdf4f9;
	height: 30px;
	color: #a34792; 
	line-height: 30px;
	text-align: center;
	font-size: 13px;
}

.videoBoxBlock {
	background: url(../images/video_discription_bg.png) repeat-x;
	height: 295px;
	-webkit-box-shadow: 0px 7px 7px rgba(217, 186, 190, 1);
	-moz-box-shadow: 0px 7px 7px rgba(217, 186, 190, 1);
	box-shadow: 0px 7px 7px rgba(217, 186, 190, 1);
}

.videoBox {
	min-height: 265px;
	font-size: 11px;
	width: 175px;
	margin: 0 auto;
}
.categories {
	background: #e7f2fc;
	text-align: center;
	padding-top: 30px;
	border-bottom: 3px solid #d2e2f7;
	padding-bottom: 10px;
}

.all_category {
	width: 200px; 
	clear: both;
}
.category_center_block {
	width: 200px;
	margin: 0 auto;
	text-align: left;
}

.category_center_block a {
	text-align: left;
	display: block;
	float: left;
	margin-top: 5px;
}

.category_center_block span {
	
}

.categories a {
	color: #d4407c;
	font-size: 11px;
	font-weight: bold;
}

.categories a {
	color: #d4407c;
	font-size: 11px;
	font-weight: bold;
}

.categories .update {
	background: url(../images/boys.png) no-repeat;
	padding-left: 15px;
}


.categories .update.odd {
	background: url(../images/girls.png) no-repeat;
}

.categories img {
	margin: 1px 0 -2px 0;
}

.videoBoxBlock a.dload, .picList a.dload {
	background: url(../images/download_new.png) no-repeat;
	height: 41px;
	width: 148px;
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	line-height: 38px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
}

.title {
	background: url(../images/category_title_bg.png) repeat-x;
	color: #2a5478;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	display: inline-block;
	line-height: 59px;
	height: 49px;
	text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.46);
 }
.title, .foot {
	display: block; 
}

.title.category {
	font-size: 18px;
}

.videoBox img, .picList img { 
	width: 160px;
	height: 120px;
	background: url(../images/video_bg.png) no-repeat;
	padding: 6px 8px 6px 7px;
	-webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.32);
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.32);
}

.picList .update {
	background: url(../images/boys.png) no-repeat 0px 2px;
}


.picList .update.odd {
	background: url(../images/girls.png) no-repeat 0px 2px;
}

.videoBox span.title_name { 
	line-height: 19px;
    padding: 2px 8px;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	background: url(../images/info_bg.png) repeat-x;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

.videoBox span.details { 
	color: #ff71a3;
	font-weight: bold;
	font-size: 11px;
}

.caption {
	margin-top: 6px;
	text-align: left;
}

.count { 
	background: #6aa4d8; 
	font-size: 11px; 
	color: #FFF;
	margin-top: 5px;
	padding: 1px 3px;  
	text-align: right;
	display: block;
	float: right;
	width: 25px; 
	text-align: center;
}
.top3, .form, .desc {
	color: #b52259;
	padding: 8px 3px;
	text-align: center;
}
.top3 a { 
	color: #b52259; 
	text-transform: uppercase;
	background: url(../images/igno_left.png) no-repeat 0px 5px;
	padding-left: 20px;
	padding-right: 11px;
}

.top3 img {
}

.top3 span.right {
	background: url(../images/igno_right.png) no-repeat;
}

.form, .desc {
	text-align: left;
	padding: 5px;
	color: #383838;
	background: #E7F2FC;
}

.picList { 
	width: 175px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.picList b.update { 
	color: #326792;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
}

.picList span.title_name { 
	line-height: 19px;
    padding: 2px 8px;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	background: url(../images/info_bg2.png) repeat-x;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

.picList span.details { 
	color: #646464;
	font-weight: normal;
	font-size: 11px;
}

.picList img {
	margin-top: 5px;
}
.navigation { 
	width: 200px;
	margin: 0 auto;
}

.navigation .prev, .navigation .next { 
	background: url(../images/nav_not_active.png) no-repeat;
	width: 85px;
	text-align: center;
	height: 29px; 
	line-height: 26px;
	font-size: 13px;
	color: #d1466f;
	float: left;
	font-weight: bold;
}

.navigation .prev a, .navigation .next a { 
	background: url(../images/nav_active.png) no-repeat;
	display: block;
	height: 29px;
}

.navigation .prev img {
	margin: 0 7px 0 0; 
 }

.navigation .next { 
	float: right;
}

.navigation .next img {
	margin: 0 0 0 7px; 
}

.desc { font-weight: normal; }
.home {
	width: 200px;
	margin: 0 auto;	
}

.big { 
	padding-bottom: 8px; 
	padding-top: 8px; 
	font-size: 13px; 
}
table { 
	padding: 0; 
	margin: 0; 
	font: 11px Tahoma, Arial; 
	border-collapse: collapse; 
}
td { padding: 1px; text-align: center; }
td a { display: block; background: #fdd; color: #712240; padding: 2px 0; }
td a.show { background: #ef0000; color: #fff; }

a { color: #9e1b01; text-decoration: none; }
a:hover { text-decoration: none; }
img { border: 0; }
hr { border: 0; border-bottom: 1px dotted #fff; margin: 4px 2px 3px 2px; }

.form form { 
	margin: 0 auto; 
	padding: 0; 
	width: 179px;
	background: url(../images/search_bg.png) no-repeat;
	height: 102px;
	padding: 13px;
}

.form {padding: 10px 0;}

.form .copyright {
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;
	color: #7b9cba;
	font-size: 10px;
	font-weight: bold;
}

.form form b {
	color: #397cb7;
	font-size: 12px;
	margin-left: 10px;
}

input[type=text] {
	background: url(../images/input_bg.png) repeat-x; 
	font: 13px Tahoma, Arial; 
	color: #627382;
	border: none; 
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	padding-left: 15px; 
	height: 33px;
	width: 163px;
	margin: 7px 0; 
}
input[type=submit] { 
	color: #fff; 
	font-weight: bold; 
	cursor: pointer; 
	border: 0; 
	background: url(../images/search_button.png) repeat-x;
	height: 31px;
	width: 95px;
	margin: 0 auto;
	display: block;
	text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.22);

}
:focus { outline: none; }

.top4 {
	background: url(../images/footer.png) repeat-x;
	height: 45px;
	text-align: center;
}

.top4 img { 
	margin-top: 5px;
}

.homeNew {
	background: url(../images/home_new.png) repeat-x;
	height: 38px;
	line-height: 38px;
	-webkit-box-shadow: 0px 7px 7px rgba(217, 186, 190, 1);
	-moz-box-shadow: 0px 7px 7px rgba(217, 186, 190, 1);
	box-shadow: 0px 7px 7px rgba(217, 186, 190, 1);
}

.homeNew a {
	background: url(../images/home_link_bg.png) no-repeat left center;
	color: #c05277;
	font-size: 12px;
	padding-left: 20px;
	margin-left: 6px;
	text-transform: uppercase;
}

.categories.registration {
	padding-top: 10px;
	padding-bottom: 25px;
}

.reg-block h2 {
	color: #537189;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
}

.reg-block p {
	color: #515151; 
	font-size: 12px;
	margin-bottom: 14px;
	margin-top: 25px
}

.reg-block label {
	color: #2e5083; 
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 5px;
}

.reg-block label.yes {
	margin-right: 25px;
}

.reg-block .phone {
	font-size: 11px;
	color: #818f9c;
	margin: 0px 0 16px 0;
}

.reg-block input[type="text"] {margin: 0;}

.reg-block input[type="submit"] {
	background: url(../images/reg_bt.png) no-repeat;
	font-size: 12px;
	color: #fff;
	border: none;
	cursor: pointer;
	height: 31px;
    width: 136px;
	text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.22);
}

/* Radiobutton
-----------------------------------------------------------------------------*/

.jq-radio {
	width: 17px;
	height: 17px;
	background: url(../images/radiobutton.png) no-repeat right top; 
	vertical-align: middle;
	cursor: pointer;
}
.jq-radio.checked  {
	background: url(../images/radiobutton.png) no-repeat left top; 
}
.jq-radio.focused {
	border: 1px solid #08C;
}
.jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}