﻿
.county > span{width: 60px;display: inline-block;height: 59px;font-size: 43px;line-height: 60px;position: relative;
    overflow: hidden;margin: 0 10px 0 0px; color: #242424; text-align: center;background: url(../img/count.png) no-repeat center;font-weight: 700;}
.county > span:after{content:"";background: url(../img/count-line.png) no-repeat left top;width:60px;height:8px;position:absolute;left: 0;top: 25px;}
.county > span > span{display: block;height: inherit;}



