@media screen and (min-width: 981px) {

body {min-width:980px; width: 100%;}

}

@media screen 
and (min-width: 981px)
and (max-width: 1120px) {

body {min-width:980px; width: 100%; overflow-x: hidden;}

}

@media screen 
and (min-width: 641px)
and (max-width: 980px) {


body {width:100%;}
.wrap {width:96%; margin:0; padding:0 2%;}
.nav-wrp{text-align:center;}
.nav{float: none;}
.nav li{float: none;display: inline-block; }
.social.right{display: none;}
.top-head{margin-bottom: 55px;}
.header, .footer{width:100%;height: auto;text-align: center;padding-bottom:410px;background-size: 100% 100%;}
.head-block{margin-left: 0;padding-bottom: 55px;}
.head-block>.right{float: none;margin-left: 48%;}
.textinfo{background-size: cover;height: auto;text-align: center;padding-bottom: 20px;}
.textinfo .video{float: none;margin: 0;}
.textinfo .text{float: none;display: inline-block;}
.textinfo h2{margin-top: 30px;}
button, .button{display: inline-block;}
.textinfo2{text-align: center;}
.textinfo2 h2{margin: 25px 0 15px 0;}
.textinfo2 .wrap>.left{float: none;padding: 0;margin: 0 0 10px 0;}
.textinfo2 .wrap>.right{float: none;display: inline-block;}
.textinfo2 .items{width:100%;}
.textinfo2 .item{margin: 0 15px 15px 15px;text-align: left;}
.more-info{text-align: center;}
.more-info span{margin: 0 10px;}
.textinfo3{text-align: center;}
.textinfo3 .item{margin: 10px 0px 0 10px;}

form{position: absolute;top: 335px;left: 58%;margin-left: -142px;}
.countdown-main-wrp {float: none;width: 360px;margin-top: 30px;}
.watch-main{left: 50px;}
.price{padding-left: 135px;}
.timecount.county{margin-right: 0;}
}

@media screen 
and (max-width: 760px) {

form{position: absolute;top: 460px;left: 50%;margin-left: -142px;}
.countdown-main-wrp {float: none;width: auto;margin-top: 120px;}
.watch-main{left: 25px;}
.price{padding-left: 160px;}
.timecount.county{margin-right: 0;}
.head-block>.right {float: none;margin-left: 42%;}
.header, .footer{padding-bottom: 470px;}
.head-block{padding-bottom: 10px;}
}

@media screen 
and (max-width: 640px) {

body {width:100%;}
iframe, img {max-width: 100% !important;}
h2{font-size: 39px;}
.nav-wrp{text-align: center;}
.nav-wrp .wrap{overflow: hidden;height: 35px;}
.nav li{float: none;border: none;margin: 10px 0;display: none;}
.nav{background: transparent;
border-bottom: 15px double #fff;
border-top: 5px solid #fff;
height: 5px;
width: 30px;
margin: 5px 0;
cursor: pointer;}
.nav:hover {
display: block;
position: absolute;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: auto;
background: #10161d;
border: none;
}
.nav:hover li{display: list-item;}
.nav.left{float: left;}
.social.right{float: right;}
img {max-width: 100% !important;}
.wrap {width:96%; margin:0; padding:0 2%;}
.top-head h3{float: none;margin: 0;}
.top-head{margin-bottom: 100px;float: none;padding-bottom: 150px;}
.logo{display: inline-block;float: none;margin-top: 10px;}
.header, .footer{width:100%;height: auto;text-align: center;padding: 10px 0 340px 0;background-size: 100% 100%;}
.head-block{margin-left: 0;border:none;}
.textinfo{background-size: cover;height: auto;text-align: center;padding-bottom: 20px;}
.textinfo .video{float: none;margin: 0;}
.textinfo .text{float: none;display: inline-block;max-width: 520px;width: 100%;}
.textinfo h2{margin-top: 30px;font-size: 39px;}
button, .button{display: inline-block;}
.textinfo2{text-align: center;}
.textinfo2 h2{margin: 25px 0 15px 0;font-size: 39px;}
.textinfo3 h2{font-size: 39px;}
.textinfo2 .wrap>.left{float: none;padding: 0;margin: 0 0 10px 0;}
.textinfo2 .wrap>.right{float: none;display: inline-block;}
.textinfo2 .items{width:100%;}
.textinfo2 .item{margin: 0 15px 15px 15px;text-align: left;}
.more-info{text-align: center;}
.more-info span{margin: 10px;}
.textinfo3{text-align: center;padding-top: 15px;}
.textinfo3 .item{margin: 10px 0px 0 0px;}
.watch-main{position: static;float: none;display: inline-block;}
.watch-main:before{display: none;}

form{position: absolute;top: 532px;left: 50%;margin-left: -142px;}
.countdown-main-wrp {float: none;position: absolute;top: -375px;text-align: center;left: 50%;margin-left: -112px;}
.price{padding: 0;text-align: center;margin: 0;}
.timecount.county{margin-right: 0;}
.countdown-wrp p{float: none;width: auto;text-align: center;margin-top: 5px;}



}
