html, body {margin:0; padding:0; color:#272727; font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif; font-size: 19px;}
body {background: #fff;}
.container {width:100%;}
h1, h2, h3, h4{font-weight: 700;}
h2{font-size: 45px;}
img, a img {border:0;}
a{color: #9e0b0f;}
.wrap {width:940px; padding:0px 20px; margin:0 auto;}
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
.center{text-align: center;}
input[type="text"]{
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
button, .button{
  width: 240px;
  display:block;
  text-decoration: none;
  text-align: center;
  cursor:pointer;
  line-height: 33px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  border:none;
  background:#ed1c24;
  background: -webkit-linear-gradient(top, #ed1c24, #c11017);
  background: -moz-linear-gradient(top, #ed1c24, #c11017);
  background: -ms-linear-gradient(top, #ed1c24, #c11017);
  background: -o-linear-gradient(top, #ed1c24, #c11017);
}
button:hover, .button:hover {
  background:#c94502;
  background: -webkit-linear-gradient(top, #c11017, #ed1c24);
  background: -moz-linear-gradient(top, #c11017, #ed1c24);
  background: -ms-linear-gradient(top, #c11017, #ed1c24);
  background: -o-linear-gradient(top, #c11017, #ed1c24);
}
}
button:hover, .button:hover {
  background: #1c65c4;
}

form{width:240px;border:none;text-align: left;position: relative;background: rgba(35,31,32,0.9);padding: 0 20px 20px 25px;}
form input {width:100%; line-height: 35px; height: 35px; border:0px;margin:10px 0; text-indent:34px; font-size: 15px;background-color:#fff;}
form input.name {background: #fff url(../img/ico-name.png) no-repeat left 10px top 9px;margin-top: 13px;}
form input.address {background: #fff url(../img/ico-deliv.png) no-repeat left 12px top 9px;}
form input.phone {background: #fff url(../img/ico-phone.png) no-repeat left 10px top 10px;}
form button{width: 100%;margin: 12px 0 1px 0;}

form input::-webkit-input-placeholder {color:#a9a9a9;font-size: 15px;} /* WebKit browsers */
form input:-moz-placeholder {color:#a9a9a9;font-size: 15px;} /* Mozilla Firefox 4 to 18 */
form input::-moz-placeholder {color:#a9a9a9;font-size: 15px;} /* Mozilla Firefox 19+ */
form input:-ms-input-placeholder {color:#a9a9a9;font-size: 15px;} /* Internet Explorer 10+ */

form h4{font-size: 21px;color: #fff;text-align: center;margin: 13px 0 0px 0;line-height: 22px;}
form h4 span{font-weight: 400;font-size: 19px;}
form a.coupon{color: #a9a9a9;font-size: 15px;text-decoration: none;}
form a.coupon:hover{text-decoration: underline;}

.nav-wrp{background-color: #212121;overflow: hidden;padding: 5px 0 8px 0;}
.nav {list-style: none;margin: 0 0 0 -15px;padding: 0;}
.nav li{float: left;padding: 0 15px;border-right: 1px solid #404040;}
.nav li:last-child{border:none;}
.nav a{color: #fefefe;font-size: 14px;text-decoration: none;text-transform: uppercase;font-family:Arial, Helvetica}
.nav a:hover{color: #ed1c24;}

.header, .footer{width:100%;height: 639px;background: url(../img/header.jpg)no-repeat center;text-align: center;}
.top-head h3{font-weight:400;font-size: 34px;color: #231f20;margin:60px 0 0 75px;}
.logo{margin-top: 29px;}
.top-head h3 span{font-weight:300;}
.head-block{border: 5px solid rgba(35,31,32,0.9);position: relative;margin-top: 42px;margin-left: -25px;}
.watch-main {text-align: center;position: absolute;z-index: 100;top: -86px;left: 25px;}
.watch-main:before{content: "";display: inline-block;width:169px;height:61px;background: url(../img/percent.png)no-repeat left top;position: absolute;left: 215px;top: 125px;}
.watch{
    position: relative;
    z-index: 100;
    width: 286px;
    height: 446px;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    }
.watch.black{background:url(../img/watch-black.png)no-repeat left top;}
.watch.white{background:url(../img/watch-white.png)no-repeat left top;}
.colors-main p{font-weight:300;font-size: 17px;color: #ffffff;margin-bottom: 14px;}
.colors span{width: 30px;height: 30px;display: inline-block;cursor: pointer;margin: 0 5px;}
.colors span:hover{opacity: 0.82}
.colors span.act{}
.colors .white{background: white; -url(../img/col-1.png)no-repeat left top;}
.colors .black{background: black; -url(../img/col-2.png)no-repeat left top;}
.colors-main{margin: -8px 22px 0 0;}
.countdown-main-wrp{margin-top: 120px;}
.price{font-size: 55px;font-weight: 300;color:#fefefe;text-align: left;padding-left: 115px;margin-bottom: 26px;}
.price span{font-size: 40px;}
.countdown-wrp p{color:#ffffff;font-size: 17px;font-weight: 300;float: left;width: 115px;text-align: right;margin-top: 24px;}
.time{display: inline-block;vertical-align: top;margin-right: 0px;}
.timecount.county{width: 225px!important;display: inline-block;vertical-align: middle;margin-right: 25px;}
.countdown .label{font-weight: 400;font-size: 12px;color:#f1f1f1;text-transform: uppercase;width: 52px;margin: 0 13px 4px 0;text-align: center;display: inline-block;}
.county .county-seconds-wrapper {color: #e62525;margin-right: 0;}
.countdown .county > span.county-days-wrapper{display: none;}
.caption{margin-top: -7px;}
.textinfo{width:100%;height:505px;padding: 10px 0;background: url(../img/bg.jpg)no-repeat center;color: #fff;}
.textinfo h2{font-size: 65px;font-weight:300;text-transform: uppercase;line-height: 40px;margin-top: 60px;margin-bottom: 49px;}
.textinfo h2 span{font-size: 33px;font-weight:700;}
.textinfo .video{margin-top: 112px;text-align: center;}
.textinfo .text{width: 520px;}
.textinfo .text p{line-height: 30px;font-size: 17px;margin-bottom: 30px;}

.textinfo2{}
.textinfo2 h2{text-align: center;font-weight: 300;margin-top: 82px;}
.textinfo2 .wrap>.left{text-align: center;padding-top: 18px;padding-left: 20px;}
.textinfo2 .items{width: 630px;}
.textinfo2 .item{display: inline-block;width:220px;vertical-align: top;margin-bottom: 14px;margin-left: 92px;}
.textinfo2 .item h4{margin: 20px 0 0 0;border-bottom: 2px solid #ed1c24;color: #231f20;font-size: 23px;font-weight: 300;text-transform: uppercase;}
.textinfo2 .item p{font-size: 17px;margin-top: 10px;}
.textinfo2 .item p img{vertical-align: middle;margin-left: 16px;}
.textinfo2 .item:last-child p img{margin-left: 0;margin-right:16px;}

.textinfo3{padding-top: 78px;}
.textinfo3 h2{text-align: center;font-weight: 300;margin-bottom: 31px;}
.textinfo3 .item{margin-right: 15px;color: #fff;background:#231f20;vertical-align: top;display: inline-block;width:300px;height: 161px;padding-top: 39px;text-align: center;}
.textinfo3 .item:last-child{margin-right: 0;}
.textinfo3 .item p{font-size: 17px;}
.more-info{text-align:right;margin-top: 30px;}
.more-info span{display: inline-block;padding-left:26px;margin-left: 43px;}
.more-info span.sp1{background: url(../img/ico-1.png)no-repeat left 4px;}
.more-info span.sp2{background: url(../img/ico-2.png)no-repeat 2px 3px;}
.more-info span.sp3{background: url(../img/ico-3.png)no-repeat 2px 3px;}
.more-info span.sp4{background: url(../img/ico-4.png)no-repeat 1px 8px;padding-left: 50px;}

.foot-nav-wrp{background-color: #231f20;height: 55px;padding-top: 25px;}
.foot-nav {list-style: none;margin: 0;padding: 0;text-align: center;}
.foot-nav li{padding: 0 15px;border-right: 1px solid #3e383a;display: inline-block;line-height: 15px;}
.foot-nav li:last-child{border:none;}
.foot-nav a{color: #3e383a;font-size: 14px;text-decoration: none;font-family:Arial, Helvetica}
.foot-nav a:hover{color: #fff;}


.dialogs .form-box {
  /*background:#fff;*/
}
.opacity {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.8);
   opacity: 0;
   z-index: 100;
   display:none;
}
.callback-form {
  position:fixed;
  left:50%;
  top:50%;
  z-index:200;
  margin-left:-157px;
  padding: 20px;
  margin-top:-203px;
  opacity:0;
  display:none;
  background: rgba(35,31,32,0.9);
}
.dialogs .close {
  background:url(img/close-icons.html) no-repeat 0 0;
  cursor:pointer;
  width:36px;
  height:36px;
  position:absolute;
  top:17px;
  right:17px;
}
.dialogs .close:hover {
  background-position:0 -36px;
}
.dialogs .close:active {
  background-position:0 -72px;
}
.typeofform {
  display:none;
}
#parent_popup {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#popup {
  width:408px;
  height:184px;
  position:fixed;
  left:50%;
  top:50%;
  margin-top:-92px;
  margin-left:-207px;
  border:3px solid #e1e1e1;
  background:#fff;
  color:#000;
  text-align:center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#popup .h {
  font-size:43px;
  text-transform:uppercase;
  padding-top:40px;
  margin-bottom:10px;
}
#popup .text {
  font-size:18px;
}

.preload {position: absolute; left:-30000px; top:0;}
.coupon { cursor: pointer; }
