/* ::::: http://static.lpgenerator.ru/media/ckeditor-4.3.4/plugins/fontAwesome/css/font-awesome.min.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff2') format("woff2"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-remove::before, .fa-close::before, .fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-rotate-right::before, .fa-repeat::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-photo::before, .fa-image::before, .fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-eye-slash::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before, .fa-bar-chart::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-feed::before, .fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-square::before { content: ""; }
.fa-navicon::before, .fa-reorder::before, .fa-bars::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-unsorted::before, .fa-sort::before { content: ""; }
.fa-sort-down::before, .fa-sort-desc::before { content: ""; }
.fa-sort-up::before, .fa-sort-asc::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-legal::before, .fa-gavel::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-flash::before, .fa-bolt::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-umbrella::before { content: ""; }
.fa-paste::before, .fa-clipboard::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-suitcase::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-mobile-phone::before, .fa-mobile::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-code::before { content: ""; }
.fa-mail-reply-all::before, .fa-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-unlink::before, .fa-chain-broken::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-toggle-down::before, .fa-caret-square-o-down::before { content: ""; }
.fa-toggle-up::before, .fa-caret-square-o-up::before { content: ""; }
.fa-toggle-right::before, .fa-caret-square-o-right::before { content: ""; }
.fa-euro::before, .fa-eur::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-rupee::before, .fa-inr::before { content: ""; }
.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before { content: ""; }
.fa-ruble::before, .fa-rouble::before, .fa-rub::before { content: ""; }
.fa-won::before, .fa-krw::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before, .fa-gratipay::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-toggle-left::before, .fa-caret-square-o-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-turkish-lira::before, .fa-try::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-space-shuttle::before { content: ""; }
.fa-slack::before { content: ""; }
.fa-envelope-square::before { content: ""; }
.fa-wordpress::before { content: ""; }
.fa-openid::before { content: ""; }
.fa-institution::before, .fa-bank::before, .fa-university::before { content: ""; }
.fa-mortar-board::before, .fa-graduation-cap::before { content: ""; }
.fa-yahoo::before { content: ""; }
.fa-google::before { content: ""; }
.fa-reddit::before { content: ""; }
.fa-reddit-square::before { content: ""; }
.fa-stumbleupon-circle::before { content: ""; }
.fa-stumbleupon::before { content: ""; }
.fa-delicious::before { content: ""; }
.fa-digg::before { content: ""; }
.fa-pied-piper::before { content: ""; }
.fa-pied-piper-alt::before { content: ""; }
.fa-drupal::before { content: ""; }
.fa-joomla::before { content: ""; }
.fa-language::before { content: ""; }
.fa-fax::before { content: ""; }
.fa-building::before { content: ""; }
.fa-child::before { content: ""; }
.fa-paw::before { content: ""; }
.fa-spoon::before { content: ""; }
.fa-cube::before { content: ""; }
.fa-cubes::before { content: ""; }
.fa-behance::before { content: ""; }
.fa-behance-square::before { content: ""; }
.fa-steam::before { content: ""; }
.fa-steam-square::before { content: ""; }
.fa-recycle::before { content: ""; }
.fa-automobile::before, .fa-car::before { content: ""; }
.fa-cab::before, .fa-taxi::before { content: ""; }
.fa-tree::before { content: ""; }
.fa-spotify::before { content: ""; }
.fa-deviantart::before { content: ""; }
.fa-soundcloud::before { content: ""; }
.fa-database::before { content: ""; }
.fa-file-pdf-o::before { content: ""; }
.fa-file-word-o::before { content: ""; }
.fa-file-excel-o::before { content: ""; }
.fa-file-powerpoint-o::before { content: ""; }
.fa-file-photo-o::before, .fa-file-picture-o::before, .fa-file-image-o::before { content: ""; }
.fa-file-zip-o::before, .fa-file-archive-o::before { content: ""; }
.fa-file-sound-o::before, .fa-file-audio-o::before { content: ""; }
.fa-file-movie-o::before, .fa-file-video-o::before { content: ""; }
.fa-file-code-o::before { content: ""; }
.fa-vine::before { content: ""; }
.fa-codepen::before { content: ""; }
.fa-jsfiddle::before { content: ""; }
.fa-life-bouy::before, .fa-life-buoy::before, .fa-life-saver::before, .fa-support::before, .fa-life-ring::before { content: ""; }
.fa-circle-o-notch::before { content: ""; }
.fa-ra::before, .fa-rebel::before { content: ""; }
.fa-ge::before, .fa-empire::before { content: ""; }
.fa-git-square::before { content: ""; }
.fa-git::before { content: ""; }
.fa-y-combinator-square::before, .fa-yc-square::before, .fa-hacker-news::before { content: ""; }
.fa-tencent-weibo::before { content: ""; }
.fa-qq::before { content: ""; }
.fa-wechat::before, .fa-weixin::before { content: ""; }
.fa-send::before, .fa-paper-plane::before { content: ""; }
.fa-send-o::before, .fa-paper-plane-o::before { content: ""; }
.fa-history::before { content: ""; }
.fa-circle-thin::before { content: ""; }
.fa-header::before { content: ""; }
.fa-paragraph::before { content: ""; }
.fa-sliders::before { content: ""; }
.fa-share-alt::before { content: ""; }
.fa-share-alt-square::before { content: ""; }
.fa-bomb::before { content: ""; }
.fa-soccer-ball-o::before, .fa-futbol-o::before { content: ""; }
.fa-tty::before { content: ""; }
.fa-binoculars::before { content: ""; }
.fa-plug::before { content: ""; }
.fa-slideshare::before { content: ""; }
.fa-twitch::before { content: ""; }
.fa-yelp::before { content: ""; }
.fa-newspaper-o::before { content: ""; }
.fa-wifi::before { content: ""; }
.fa-calculator::before { content: ""; }
.fa-paypal::before { content: ""; }
.fa-google-wallet::before { content: ""; }
.fa-cc-visa::before { content: ""; }
.fa-cc-mastercard::before { content: ""; }
.fa-cc-discover::before { content: ""; }
.fa-cc-amex::before { content: ""; }
.fa-cc-paypal::before { content: ""; }
.fa-cc-stripe::before { content: ""; }
.fa-bell-slash::before { content: ""; }
.fa-bell-slash-o::before { content: ""; }
.fa-trash::before { content: ""; }
.fa-copyright::before { content: ""; }
.fa-at::before { content: ""; }
.fa-eyedropper::before { content: ""; }
.fa-paint-brush::before { content: ""; }
.fa-birthday-cake::before { content: ""; }
.fa-area-chart::before { content: ""; }
.fa-pie-chart::before { content: ""; }
.fa-line-chart::before { content: ""; }
.fa-lastfm::before { content: ""; }
.fa-lastfm-square::before { content: ""; }
.fa-toggle-off::before { content: ""; }
.fa-toggle-on::before { content: ""; }
.fa-bicycle::before { content: ""; }
.fa-bus::before { content: ""; }
.fa-ioxhost::before { content: ""; }
.fa-angellist::before { content: ""; }
.fa-cc::before { content: ""; }
.fa-shekel::before, .fa-sheqel::before, .fa-ils::before { content: ""; }
.fa-meanpath::before { content: ""; }
.fa-buysellads::before { content: ""; }
.fa-connectdevelop::before { content: ""; }
.fa-dashcube::before { content: ""; }
.fa-forumbee::before { content: ""; }
.fa-leanpub::before { content: ""; }
.fa-sellsy::before { content: ""; }
.fa-shirtsinbulk::before { content: ""; }
.fa-simplybuilt::before { content: ""; }
.fa-skyatlas::before { content: ""; }
.fa-cart-plus::before { content: ""; }
.fa-cart-arrow-down::before { content: ""; }
.fa-diamond::before { content: ""; }
.fa-ship::before { content: ""; }
.fa-user-secret::before { content: ""; }
.fa-motorcycle::before { content: ""; }
.fa-street-view::before { content: ""; }
.fa-heartbeat::before { content: ""; }
.fa-venus::before { content: ""; }
.fa-mars::before { content: ""; }
.fa-mercury::before { content: ""; }
.fa-intersex::before, .fa-transgender::before { content: ""; }
.fa-transgender-alt::before { content: ""; }
.fa-venus-double::before { content: ""; }
.fa-mars-double::before { content: ""; }
.fa-venus-mars::before { content: ""; }
.fa-mars-stroke::before { content: ""; }
.fa-mars-stroke-v::before { content: ""; }
.fa-mars-stroke-h::before { content: ""; }
.fa-neuter::before { content: ""; }
.fa-genderless::before { content: ""; }
.fa-facebook-official::before { content: ""; }
.fa-pinterest-p::before { content: ""; }
.fa-whatsapp::before { content: ""; }
.fa-server::before { content: ""; }
.fa-user-plus::before { content: ""; }
.fa-user-times::before { content: ""; }
.fa-hotel::before, .fa-bed::before { content: ""; }
.fa-viacoin::before { content: ""; }
.fa-train::before { content: ""; }
.fa-subway::before { content: ""; }
.fa-medium::before { content: ""; }
.fa-yc::before, .fa-y-combinator::before { content: ""; }
.fa-optin-monster::before { content: ""; }
.fa-opencart::before { content: ""; }
.fa-expeditedssl::before { content: ""; }
.fa-battery-4::before, .fa-battery-full::before { content: ""; }
.fa-battery-3::before, .fa-battery-three-quarters::before { content: ""; }
.fa-battery-2::before, .fa-battery-half::before { content: ""; }
.fa-battery-1::before, .fa-battery-quarter::before { content: ""; }
.fa-battery-0::before, .fa-battery-empty::before { content: ""; }
.fa-mouse-pointer::before { content: ""; }
.fa-i-cursor::before { content: ""; }
.fa-object-group::before { content: ""; }
.fa-object-ungroup::before { content: ""; }
.fa-sticky-note::before { content: ""; }
.fa-sticky-note-o::before { content: ""; }
.fa-cc-jcb::before { content: ""; }
.fa-cc-diners-club::before { content: ""; }
.fa-clone::before { content: ""; }
.fa-balance-scale::before { content: ""; }
.fa-hourglass-o::before { content: ""; }
.fa-hourglass-1::before, .fa-hourglass-start::before { content: ""; }
.fa-hourglass-2::before, .fa-hourglass-half::before { content: ""; }
.fa-hourglass-3::before, .fa-hourglass-end::before { content: ""; }
.fa-hourglass::before { content: ""; }
.fa-hand-grab-o::before, .fa-hand-rock-o::before { content: ""; }
.fa-hand-stop-o::before, .fa-hand-paper-o::before { content: ""; }
.fa-hand-scissors-o::before { content: ""; }
.fa-hand-lizard-o::before { content: ""; }
.fa-hand-spock-o::before { content: ""; }
.fa-hand-pointer-o::before { content: ""; }
.fa-hand-peace-o::before { content: ""; }
.fa-trademark::before { content: ""; }
.fa-registered::before { content: ""; }
.fa-creative-commons::before { content: ""; }
.fa-gg::before { content: ""; }
.fa-gg-circle::before { content: ""; }
.fa-tripadvisor::before { content: ""; }
.fa-odnoklassniki::before { content: ""; }
.fa-odnoklassniki-square::before { content: ""; }
.fa-get-pocket::before { content: ""; }
.fa-wikipedia-w::before { content: ""; }
.fa-safari::before { content: ""; }
.fa-chrome::before { content: ""; }
.fa-firefox::before { content: ""; }
.fa-opera::before { content: ""; }
.fa-internet-explorer::before { content: ""; }
.fa-tv::before, .fa-television::before { content: ""; }
.fa-contao::before { content: ""; }
.fa-500px::before { content: ""; }
.fa-amazon::before { content: ""; }
.fa-calendar-plus-o::before { content: ""; }
.fa-calendar-minus-o::before { content: ""; }
.fa-calendar-times-o::before { content: ""; }
.fa-calendar-check-o::before { content: ""; }
.fa-industry::before { content: ""; }
.fa-map-pin::before { content: ""; }
.fa-map-signs::before { content: ""; }
.fa-map-o::before { content: ""; }
.fa-map::before { content: ""; }
.fa-commenting::before { content: ""; }
.fa-commenting-o::before { content: ""; }
.fa-houzz::before { content: ""; }
.fa-vimeo::before { content: ""; }
.fa-black-tie::before { content: ""; }
.fa-fonticons::before { content: ""; }
/* ::::: http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/minified/jquery-ui.min.css ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://static.lpgenerator.ru/media/css/global/screen.css?v=1497876628 ::::: */

html { margin: 0px; padding: 0px; border: 0px none; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; background: white none repeat scroll 0% 0%; }
table { border-collapse: separate; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; float: none !important; }
table, th, td { vertical-align: middle; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
:focus { outline: 0px none; }
html { font-size: 100.01%; }
body { font-size: 75%; color: rgb(34, 34, 34); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Arial,Helvetica,sans-serif; }
p { margin: 0px 0px 1.5em; }
a:focus, a:hover { color: rgb(0, 153, 255); }
a { color: rgb(0, 102, 204); text-decoration: underline; }
strong, dfn { font-weight: bold; }
table { margin-bottom: 1.4em; width: 100%; }
th, td, caption { padding: 4px 10px 4px 5px; }
input[type="text"], input[type="password"], input.text, input.title, textarea { background-color: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); }
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.title:focus, textarea:focus { border-color: rgb(102, 102, 102); }
input[type="text"], input[type="password"], input.text, input.title, textarea, select { margin: 0.5em 0px; }
.container { width: 1000px; margin: 0px auto; }
.clearfix::after, .container::after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .container { display: block; }
/* ::::: http://static.lpgenerator.ru/media/fancybox/1.3.4/jquery.fancybox.css ::::: */

#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url('fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; padding: 20px; z-index: 1101; outline: medium none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#fancybox-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('fancybox.png') repeat scroll -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent url('blank.gif') repeat scroll 0% 0%; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0px; right: -20px; height: 100%; background-image: url('fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0px; left: -20px; height: 100%; background-image: url('fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
/* ::::: http://static.lpgenerator.ru/media/css/public.css?v=1497876628 ::::: */

.preview-main-container { position: relative !important; width: auto !important; }
.preview-main-container .page_container { margin: 0px auto; position: relative; }
#loading_bar { position: fixed; background: rgb(23, 24, 27) url('loader-send.gif') no-repeat scroll 50% 50%; width: 100%; height: 100%; opacity: 0.9; z-index: 200; }
.lpg__oldBrowserWarning { display: none; position: absolute; top: 0px; left: 0px; width: 100%; color: rgb(43, 43, 43) !important; background: rgb(255, 255, 255) none repeat scroll 0% 0% !important; border-bottom: 10px solid rgb(43, 43, 43) !important; z-index: 999999; }
.lpg__oldBrowserWarning .lpg__oldBrowserWarning_container { max-width: 1000px; padding: 20px; margin: 0px auto; }
.lpg__oldBrowserWarning table { width: auto; margin: 0px auto; }
.lpg__oldBrowserWarning .lpg__oldBrowserWarning__ico_alert { width: 40px; height: 41px; background: transparent url('alert_sign.png') no-repeat scroll 0px 0px; }
.lpg__oldBrowserWarning .lpg__oldBrowserWarning__ico_closeX { width: 12px; height: 12px; background: transparent url('close.png') no-repeat scroll 0px 0px; cursor: pointer; }
.page_container { width: 320px; background: rgb(255, 255, 255) none no-repeat scroll 0% 0%; height: 100%; min-height: 7291px; }
.preview-main-container, .main-container { background-repeat: no-repeat; min-height: 7291px; z-index: 101; }
.preview-main-container { min-width: 320px !important; }
#block-new22 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 6434px; height: 471px; width: 371px; z-index: 75; left: -24px; }
#block-new22 > img { vertical-align: top; }
#block-new14 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4616px; height: 470px; width: 372px; z-index: 101; left: -24px; }
#block-new14 > img { vertical-align: top; }
#block-new8 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1858px; height: 469px; width: 374px; z-index: 95; left: -26px; }
#block-new8 > img { vertical-align: top; }
#block-new9 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 2321px; height: 469px; width: 374px; z-index: 93; left: -26px; }
#block-new9 > img { vertical-align: top; }

#block-new6 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 936px; height: 470px; width: 372px; z-index: 99; left: -26px; }
#block-new6 > img { vertical-align: top; }

#block-new7 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1399px; height: 468px; width: 371px; z-index: 97; left: -25px; }
#block-new7 > img { vertical-align: top; }
#block-new4 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: -4px; height: 471px; width: 374px; z-index: 103; left: -27px; }
#block-new4 > img { vertical-align: top; }

/*#block-newstock-2 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 936px; height: 470; width: 373px; z-index: 110; left: -25px; }
#block-newstock-2 > img { vertical-align: top; }*/

#block-new5 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 467px; height: 469px; width: 372px; z-index: 101; left: -26px; }
#block-new5 > img { vertical-align: top; }

#block-new30 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1925px; height: 59px; width: 59px; z-index: 120; left: 227px; }
#block-new30 > img { vertical-align: top; }
#block-new31 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1925px; height: 59px; width: 59px; z-index: 119; left: 37px; }
#block-new31 > img { vertical-align: top; }
#block-new37 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 830px; height: 48px; width: 96px; z-index: 124; left: 165px; }
#block-new37 > img { vertical-align: top; }
#block-new34 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3561px; height: 49px; width: 80px; z-index: 122; left: 164px; }
#block-new34 > img { vertical-align: top; }
#block-new10 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 2785px; height: 467px; width: 372px; z-index: 90; left: -25px; }
#block-new10 > img { vertical-align: top; }
#block-new11 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3238px; height: 469px; width: 371px; z-index: 88; left: -25px; }
#block-new11 > img { vertical-align: top; }
#block-new38 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 6964px; height: 41px; width: 80px; z-index: 128; left: 169px; }
#block-new38 > img { vertical-align: top; }
#block-new13 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 4163px; height: 465px; width: 373px; z-index: 104; left: -25px; }
#block-new13 > img { vertical-align: top; }
#block-new58 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; width: 297px; height: 51px; left: 19px; top: 6955px; z-index: 144; }
#block-new58 > img { vertical-align: top; }
#block-new17 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 5079px; height: 470px; width: 374px; z-index: 93; left: -26px; }
#block-new17 > img { vertical-align: top; }
#block-new24 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 6844px; height: 435px; width: 373px; z-index: 109; left: -26px; }
#block-new24 > img { vertical-align: top; }
#block-new21 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 5979px; height: 470px; width: 373px; z-index: 85; left: -25px; }
#block-new21 > img { vertical-align: top; }

#block-newstock { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 7233px; height: 470; width: 373px; z-index: 110; left: -25px; }
#block-newstock > img { vertical-align: top; }

#block-new20 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 5541px; height: 463px; width: 372.5px; z-index: 88; left: -24.2857px; }
#block-new20 > img { vertical-align: top; }
#block-new52 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3561px; height: 51px; width: 297px; z-index: 137; left: 16px; }
#block-new52 > img { vertical-align: top; }
#block-new27 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1643px; height: 275px; width: 275px; z-index: 112; left: 24px; }
#block-new27 > img { vertical-align: top; }
#block-new26 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3967px; height: 194px; width: 194px; z-index: 111; left: 64px; }
#block-new26 > img { vertical-align: top; }
#block-new29 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1925px; height: 59px; width: 59px; z-index: 120; left: 101px; }
#block-new29 > img { vertical-align: top; }
#block-new28 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 1925px; height: 59px; width: 59px; z-index: 120; left: 164px; }
#block-new28 > img { vertical-align: top; }
#block-new48 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 820px; height: 47px; width: 185px; z-index: 134; left: 75px; }
#block-new48 > img { vertical-align: top; }
#block-new43 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 30px; font-size: 22px; color: rgb(255, 255, 255); top: 3763px; height: 61px; width: 273px; z-index: 132; border-color: rgb(209, 118, 0); font-weight: bold; border-style: solid; background-color: rgb(255, 157, 0); left: 24px; }
#block-new43 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 273px; height: 61px; line-height: 61px; color: rgb(255, 255, 255); font-size: 22px; font-weight: bold; }
#block-new43:hover {  }
#block-new42 input:-moz-placeholder { padding: 0px; width: 100px; font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 15px; vertical-align: top; height: auto; left: 0px; top: 0px; background-color: transparent; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; }
#block-new42 .input { display: block; margin: 0px 0px 14px; width: 174px; height: 56px; font-size: 14px; border-width: 2px; border-color: rgb(137, 137, 137); border-radius: 26px; font-weight: normal; border-style: solid; background-color: rgb(255, 255, 255) !important; font-family: Arial,Helvetica,sans-serif; left: 0px; top: 0px; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; padding: 0px 5px !important; }
#block-new42 .input:focus { border-color: rgba(83, 167, 236, 0.6); box-shadow: 0px 1px 1px rgba(83, 167, 236, 0.075) inset, 0px 0px 8px rgba(83, 167, 236, 0.8); }
#block-new42 input.input { display: block; height: 56px !important; width: 264px; box-shadow: none; }
#block-new42 input:required { box-shadow: none; }
#block-new42 input:invalid { box-shadow: none; }
#block-new42 { z-index: 131; }
#block-new42 input { padding: 0px; margin: 0px; }
#block-new41 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 30px; font-size: 22px; color: rgb(255, 255, 255); top: 7151px; height: 61px; width: 273px; z-index: 132; border-color: rgb(209, 118, 0); font-weight: bold; border-style: solid; background-color: rgb(255, 157, 0); left: 23px; }
#block-new41 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 273px; height: 61px; line-height: 61px; color: rgb(255, 255, 255); font-size: 22px; font-weight: bold; }
#block-new41:hover {  }
#block-new40 input:-moz-placeholder { padding: 0px; width: 100px; font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 15px; vertical-align: top; height: auto; left: 0px; top: 0px; background-color: transparent; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; }
#block-new40 .input { display: block; margin: 0px 0px 8px; width: 174px; height: 56px; font-size: 14px; border-width: 2px; border-color: rgb(137, 137, 137); border-radius: 26px; font-weight: normal; border-style: solid; background-color: rgb(255, 255, 255) !important; font-family: Arial,Helvetica,sans-serif; left: 0px; top: 0px; background-image: none; background-position: 0% 0%; background-repeat: no-repeat; padding: 0px 5px !important; }
#block-new40 .input:focus { border-color: rgba(83, 167, 236, 0.6); box-shadow: 0px 1px 1px rgba(83, 167, 236, 0.075) inset, 0px 0px 8px rgba(83, 167, 236, 0.8); }
#block-new40 input.input { display: block; height: 56px !important; width: 264px; box-shadow: none; }
#block-new40 input:required { box-shadow: none; }
#block-new40 input:invalid { box-shadow: none; }
#block-new40 { z-index: 131; }
#block-new40 input { padding: 0px; margin: 0px; }
#block-new47 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 772px; height: 72px; width: 72px; z-index: 134; left: 100px; }
#block-new47 > img { vertical-align: top; }
#block-new12 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 1px; top: 3698px; height: 471px; width: 373px; z-index: 85; left: -25px; }
#block-new12 > img { vertical-align: top; }
#block-new44 { display: block; position: absolute; background-position: 0% 0%; background-repeat: no-repeat; border-width: 2px; border-radius: 30px; color: rgb(255, 255, 255); top: 891px; height: 59px; width: 271px; z-index: 133; border-color: rgb(219, 142, 0); font-weight: bold; border-style: solid; background-color: rgb(255, 196, 0); left: 24px; }
#block-new44 > a { display: block; text-align: center; text-decoration: none; cursor: pointer; width: 271px; height: 59px; line-height: 59px; color: rgb(255, 255, 255); font-size: 20px; font-weight: bold; }
#block-new44:hover {  }
.preview-main-container { overflow: hidden; }
