{header_1.html}
<link rel="canonical" href="{watchLink}">
<meta property="og:site_name" content="Смотреть сериалы HD онлайн бесплатно в хорошем качестве">
<meta property="og:type" content="article">
<meta property="og:title" content="Сериал {movieTitleRu} все сезоны смотреть онлайн бесплатно в хорошем качестве HD">
<meta property="og:url" content="{protocol}{requestedDomain}{watchLink}">
<meta property="og:description" content="{movieDescription}">
<meta property="og:image" content="{protocol}{requestedDomain}{moviePoster}">
{header_2.html}
{block-movie-data.html}
<div class="rel-wrap7">
    <div class="rel-box clearfix">
        {topCinemaList}
    </div>
</div>
        <div class="content-wrap clearfix ">

            <div class="left-wrap">





                <div class="fulls-wrap clearfix"><div id='dle-content'><article class="full-movie clearfix">
	<!-- reklama -->


	<!-- reklama -->
    <header class="full-title">
    <div class="full-top-info clearfix">
    <!-- reklama -->
    <div class="rate"><div id='ratig-layer-1864'><div class="rating">
        <ul class="unit-rating">
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var current_rating = Math.round({{ $domainMovie->movie->kinopoisk_rating ?? 0 }} * 10);
                $(function () {
                    // $('.current-rating').html(current_rating);
                    $('.current-rating').width(current_rating + '%');
                });
            });
        </script>
        <li class="current-rating"></li>
        <li><a href="#" title="1" class="r1-unit" onclick="doRate('1', '1864'); return false;">1</a></li>
        <li><a href="#" title="2" class="r2-unit" onclick="doRate('2', '1864'); return false;">2</a></li>
        <li><a href="#" title="3" class="r3-unit" onclick="doRate('3', '1864'); return false;">3</a></li>
        <li><a href="#" title="4" class="r4-unit" onclick="doRate('4', '1864'); return false;">4</a></li>
        <li><a href="#" title="5" class="r5-unit" onclick="doRate('5', '1864'); return false;">5</a></li>
        <li><a href="#" title="6" class="r6-unit" onclick="doRate('6', '1864'); return false;">6</a></li>
        <li><a href="#" title="7" class="r7-unit" onclick="doRate('7', '1864'); return false;">7</a></li>
        <li><a href="#" title="8" class="r8-unit" onclick="doRate('8', '1864'); return false;">8</a></li>
        <li><a href="#" title="9" class="r9-unit" onclick="doRate('9', '1864'); return false;">9</a></li>
        <li><a href="#" title="10" class="r10-unit" onclick="doRate('10', '1864'); return false;">10</a></li>
        </ul>
<div class="rating_digits"><div class="rating_digits_1">Оценка: {{ $domainMovie->movie->kinopoisk_rating ?? 0 }}</div><div class="rating_digits_2">Всего голосов: {movieKinopoiskVotes}</div></div></div></div></div>
    </div>
        <h1>{h1}</h1>
        <div class="full-info clearfix">


			<b class="addfavorit"></b>
            <b class="iedit"></b>
        </div>
    </header>
   <div class="poster-info clearfix">
        <div class="poster">
            <picture>
                <source srcset="{moviePosterWebP}" type="image/webp">
                <img srcset="{moviePoster}" alt="{movieTitleRu}  сезон   1 - 20,21,22 серия " title="Обложка к {movieType} {movieTitleRu}">
            </picture>
		           </div>
        <div class="m-info">
            	<div class="info-item clearfix">
                <div class="info-label">Жанр:</div>
                <div class="info-desc"><a href="/">Сериал</a> / <ul class="movie-tags">{movieGenres}</ul></div>
            </div>
            <div class="info-item clearfix">
                <div class="info-label">В категориях:</div>
                <div class="info-desc"><ul class="movie-tags">{movieGroups}</ul></div>
            </div>

				<!-- <div class="info-item clearfix">
               <div class="info-label">Статус:</div>
                <div class="info-desc">Идет показ ?</div>
            </div> -->


			<div class="info-item clearfix">
                <div class="info-label">Перевод:</div>
                <div class="info-desc">{movieTranslators}</div>
            </div>
            <div class="info-item clearfix">
                <div class="info-label">Дата выхода:</div>
                <div class="info-desc"><a href="/search?year={movieYear}">{movieYear}</a></div>
            </div>
            <div class="info-item clearfix">
                <div class="info-label">Страна:</div>
                <div class="info-desc"><ul class="movie-tags">{movieCountries}</ul></div>
            </div>
            <!-- <div class="info-item clearfix">
                <div class="info-label">Время:</div>
                <div class="info-desc">? мин.</div>
            </div> -->
            <div class="info-item clearfix">
                <div class="info-label">Режиссер:</div>
                <div class="info-desc"><ul class="movie-tags">{movieDirectors}</ul></div>
            </div>
			<div class="info-item clearfix">
                <div class="info-label">Актеры:</div>
                <div class="info-desc"><ul class="movie-tags">{movieActors}</ul></div>
            </div>
			<div class="info-item clearfix">
               <div class="info-label-obn">Обновление:</div>
                <div class="status">{movieLastSeason} сезон {movieLastEpisodes} серия - {movieUpdatedAt}</div>
            </div>
        </div>
    </div>
	    <div class="full-text clearfix desc-text">
		<h2 class="opisnie">Описание к {movieTitleRu} {movieTitleEnIfExist} ({movieYear}):</h2>
        <div style="text-align:justify;">{movieDescriptionOrDomainMovieDescriptionBr} <b>Сериал {movieTitleRu} {movieLastSeason} сезон онлайн бесплатно HD 1080</b>.</div>
            </div>
	<!-- грфик выхода серий -->

			<div class="grafik">Когда выйдет? График, дата выхода {movieTitleRu} нового сезона</div>
			Озвучка для зарубежного сериала обычно появляется через 2-3 дня
			<div style="display: block; margin: 10px 0;">
        <!-- <div style="border: 1px solid #ccc;overflow: hidden; line-height: 15px;">
            <div style="float:left; font-weight:700; overflow:hidden; padding:5px 18px;-ms-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; width:520px">3 сезон</div>
            <div style="float: right; padding: 5px 18px;"><a id="showhide_3" href="#" onclick="ShowOrHideEp('dateblock_3', '3'); return false;" style="font-size: 12px;padding:4px 4px;">свернуть</a></div>

        </div> -->
        <div id="dateblock_3">
            <style>
                /*.episodesDataTable tr {
                    display: none;
                }*/
                /*.epscape_tr {
                    display: none;
                }*/
                /*.episodesDataTable:first_child {
                    display: block;
                }*/
            </style>
            <table class="episodesDataTable" style="color: #000; font-size: 12px; width: 100%; padding-left:10px;">
                {movieEpisodesDataList}
            </table>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    epscape_tr_showed = 0;
                    $('.epscape_tr').each(function () {
                        epscape_tr_showed++;
                        if (epscape_tr_showed <= 3) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                    $('.releaseDate').each(function () {
                        if ($(this).data('days-to-release') <= 0) {
                            $(this).html('<span class="released">&nbsp;</span>');
                        } else {
                            $(this).html($(this).data('days-to-release') + ' дней');
                        }
                        // alert($(this).html());
                    });
                });
            </script>
            <div id="epscape_showmore"><a href="#" onclick="epscapeShowHide(); return false;"><em>показать все серии</em></a></div>
        </div>
</div>

	<!-- грфик выхода серий -->
<!-- <div class="grafik"><span>Другие сезоны, переводы сериала:</span></div>
<div class="tagg-section">
    <div class="news-item">
	<span class="tagg-link nowrap">{movieTitleRu}</span>

	<div class="indexb">3 сезон<span class="indexc">(Русский)</span></div>
</div><div class="news-item">

	<span class="indexi"><a class="tagg-link nowrap" href="http://kinotan.ru/1788-serial-ivanovy-ivanovy-2-sezon-2018-na-sts-smotret-onlajn-besplatno-hd-1080.html">Ивановы-Ивановы</a></span>
	<div class="indexb">2 сезон<span class="indexc">(Русский)</span></div>
</div><div class="news-item">

	<span class="indexi"><a class="tagg-link nowrap" href="http://kinotan.ru/1617-serial-ivanovy-ivanovy-2017-smotret-onlajn-na-sts-1-sezon-besplatno-720.html">Ивановы-Ивановы</a></span>
	<div class="indexb">1 сезон<span class="indexc">(Русский)</span></div>
</div>
</div><br /> -->
    <div class="screens-trailer">
    </div>
		<!-- promo -->

	<!-- promo -->
	<!-- promo -->

	<!-- promo -->
	<!-- табы -->

	<!-- табы -->
	<!-- moonwalk -->

<!-- moonwalk -->

<!-- end player-box -->

<!-- end player-box -->
<!-- табы офф -->

	<div class="player-box">
        <h2 class="cat-title actors-title movie-title">
			 {h2}
			<div class="switcher">
				<input type="checkbox" name="light" id="light" />
				<label for="light" data-light="СВЕТ"></label>
			</div>
		</h2>
        <div style="background: #000 url(/types/cinema/template/templates/kinogo/images/loader.svg) no-repeat 50% 50%; min-height: 460px;">
            <livewire:types.cinema.players template="livewire.types.cinema.templates.kinotan.players" :$domainMovie lazy />
        </div>
		        <!--noindex-->
<br></br>

		<center><div class="social-likes">
	<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
	<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
	<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
	<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
	<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Класс!</div>
</div></center>
<!--/noindex-->
    </div>

<!-- табы офф -->
<!-- end player-box -->

<!-- end player-box -->
	<!-- РЕКЛАМА -->
    <div class="middle-rkl">
    </div>
		 <div class="middle-rkl">
        <br>
		</br>
		<div style="text-align:justify;"><img align="left" src="/types/cinema/template/kinotan/kinotan/images/android.png" alt="Ивановы-Ивановы все серии скачать на телефон андроид, айпад, планшет"> Уважаемые гости и постоянные посетители нашего сайта, у нас предоставлены только лучшие и качественные сериалы, мультсериалы и тв шоу, главной особенностью портала, по сравнению с seasonvar, coldfilm и lostfilm является то, что Вы без дополнительных манипуляций, можете скачать, и <strong>смотреть онлайн {movieTitleRu} {movieLastSeason} сезон 1 - {movieLastEpisodes} серия</strong> на планшете и телефоне Ipad, Айпад, Iphone, Android, IOS, mp4 и 3gp. Мы стараемся не перегружать ролики рекламой, и даем возможность смотреть подряд без пауз и отправки смс в ХД качестве.
    </div>
	</div>
	<!-- Рекомендации -->

    <div class="rel-wrap">
        <div class="rel-t">Рекомендуемый кино фильм на телефоне и планшете:</div>
        <div class="rel-box clearfix">
            <div id="owl-related">
                {sameMoviesList}
            </div>
        </div>
    </div>

    <script>
        var page = 1;
        document.addEventListener("DOMContentLoaded", function() {
            moviesListUrl = '/show-more/search?sameMovieId={domainMovieId}&order=topRated&p=';
            // loadContent($('#owl-related'),moviesListUrl + page);
        });
    </script>

   <!-- Рекомендации -->
</article>
		 <div class="middle-rkl">
        <br>
		</br>
		<div style="text-align:justify;">Перед тем как начать смотреть онлайн {movieTitleRu} бесплатно на сезонвар и newstudio. Вы всегда можете сделать свой выбор прочитав комментарии к данному проекту. В помощь зрителю будет доступен трейлер и практически всегда дата выхода новых серий. Что же лучше писать в отзывы? Важно мнение о качестве перевода - Русский. Нужна ли возможность скачать торрент? Бывает ситуация когда все сезоны не стоят вашего внимания, а выделяется только первый, вот об этом и напишите. Рецензия поможет людям, которые еще не смотрели - принять решение. Комментарии проходят премодерацию, не пытайтесь спамить или материться.
    </div>
	</div>
	<br></br>
<div class="comments-wrap">
	<div class="rel-t">Комментарии:</div>
	<div id="dle-comments-list">
{commentsList}
</div>
</div>

<!--dlenavigationcomments-->

<div class="add-com">
    <b class="add-com-but">Комментировать</b>
    <form  method="post" name="dle-comments-form" id="form-comment" action="/api/addComment">
        <div id="addcform" class="form-wrap" style="display: none;">

           <div class="sep-input clearfix">
              <div class="label"><label>Ваше имя:<span class="impot">*</span></label></div>
              <div class="input"><input type="text" maxlength="35" name="name" id="name" placeholder="Ваше имя"></div>
          </div>

          <div class="sep-textarea">
              <div class="textarea-title">Ваш комментарий:</div>
              <textarea name="message" cols="70" rows="10" style="border: 1px solid #ccc; padding: 20px;"></textarea>
              <input id="g-recaptcha-response" type="hidden" name="g-recaptcha-response" value="">
              {csrf}
          </div>
          <div class="sep-input secur clearfix">
              <div class="input">

            </div>
        </div>
        <div class="sep-submit">
          <button id="form-comment-button" class="fbutton g-recaptcha" type="submit">
            <span>Отправить</span>
        </button>
      </div>
  </div>
  <input type="hidden" name="domain_movie_id" value="{domainMovieId}">
</form>
<script>
    document.getElementById('form-comment-button').onclick = function(e) {
        e.preventDefault();
                // load recaptcha script
        script = document.createElement("script");
        script.src = 'https://www.google.com/recaptcha/api.js?render={recaptchaClientKey}';
                // script.onreadystatechange = callback;
        script.onload = function(){
            grecaptcha.ready(function() {
                grecaptcha.execute('{recaptchaClientKey}', {action: 'submit'}).then(function(token) {
                    document.getElementById('g-recaptcha-response').value = token;
                            // alert(grecaptcha.getResponse());
                    document.getElementById('form-comment').submit();
                });
            });
        };
        document.body.appendChild(script);
    }
</script>
</div>
</div>
</div>

			</div>
			<!-- end left-wrap -->
            {aside.html}
			<!-- end right-wrap -->
        </div>
		<!-- end content-wrap -->
{footer.html}
