﻿.time {height:97px;}
.time #timer div,.time #timer2 div,.time #timer3 div {width: 66px;display: inline-block;height: 65px;line-height: 65px;font-family: 'PT Sans Narrow', Arial, Helvetica;font-size: 55px;position: relative;margin: 0 10px 0 0px; color: #fff; text-align: center;background: url(count.png) no-repeat center;font-weight: bold;}
.time #timer div:after,.time #timer2 div:after,.time #timer3 div:after{content:"";background: url(count-line.png) no-repeat left top;width:66px;height:8px;position:absolute;left: 0;top: 29px;}
.time #timer .secs,.time #timer2 .secs,.time #timer3 .secs {color: #e4251e;}
.time span {position: absolute;width: 100px;text-align: center;display:block;left: 50%;margin-left: -51px;top: 75px;line-height:18px;font-weight:300;font-size: 15px;color:#c2c2c2;text-transform: uppercase;}



