@media screen and (min-width: 981px) {

body {min-width:980px; width: 100%;}

}

@media screen 
and (min-width: 981px)
and (max-width: 1120px) {

body {min-width:980px; width: 100%; overflow-x: hidden;}

}

@media screen 
and (min-width: 641px)
and (max-width: 980px) {


body {width:100%;}
.wrap {width:96%; margin:0; padding:0 2%;}
.nav-wrp{text-align:center;}
.nav{float: none;}
.nav li{float: none;display: inline-block; }
.social.right{display: none;}
header, footer{width:100%;height: auto;text-align: center;background-image: none;}
header h1, footer h2{font-size: 43px;text-align: center;}
header .head-top h3, footer .head-top h3{font-size: 24px;text-align: center;}
footer h2{font-size: 29px;text-align: center;}
h2{font-size: 24px;}
.head-top{float: none;display: inline-block;text-align: center;width: 95%;max-width: 640px;}
.head-top span{display: inline-block;}
.form-wrp {text-align: center;}
.count-wrp{text-align: left;display: inline-block;float: none;margin-bottom: 10px;}
form{display: inline-block;float: none!important;}

.textinfo{text-align: center;height: auto;background-size: cover;}
.textinfo p{font-size: 25px}

.textinfo4{height: auto;background-size: cover;}

.textinfo5{text-align: center;}
.textinfo5 .item{display: inline-block;width: 98%;}
.textinfo5 .item p{width: 72%;text-align: left;}

.info-block{padding: 20px;}
.info-block .text-info{width: auto;max-width:680px;text-align: left;}

.textinfo6{text-align: center;}
.textinfo6 .item{display: inline-block;width: 98%;}
.textinfo6 .item .r-text{width: 68%;text-align: left;}
.textinfo6>.wrap{background:url(../img/round.html)no-repeat center;}

.results{height: auto;background-size: cover;}

.reviews .item blockquote{width: 70%;}
}

@media screen 
and (max-width: 640px) {

body {width:100%;}
.nav-wrp{text-align: center;}
.nav-wrp .wrap{overflow: hidden;height: 35px;}
.nav li{float: none;border: none;margin: 10px 0;display: none;}
.nav{background: transparent;
border-bottom: 15px double #fff;
border-top: 5px solid #fff;
height: 5px;
width: 30px;
margin: 5px 0;
cursor: pointer;}
.nav:hover {
display: block;
position: absolute;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: auto;
background: #10161d;
border: none;
}
.nav:hover li{display: list-item;}
.nav.left{float: left;}
.social.right{float: right;}
img {max-width: 100% !important;}
.wrap {width:96%; margin:0; padding:0 2%;}
header, footer{width:100%;height: auto;text-align: center;background-image: none;}
header h1, footer h2{font-size: 38px;text-align: center;}
header .head-top h3, footer .head-top h3{font-size: 22px;text-align: center;}
footer h2{font-size: 25px;text-align: center;}
h2{font-size: 24px;}
.head-top{float: none;display: inline-block;text-align: center;width: 95%;max-width: 640px;}
.head-top span{display: inline-block;font-size: 19px;}
.form-wrp {text-align: center;padding: 5px;}
.count-wrp{display: inline-block;float: none;margin-bottom: 25px;width: auto;}
.form-wrp h3{font-size: 29px;}
.time.left{float: none;}
.countdown-2{display: block;width: 190px;margin: 20px auto;}
.countdown-2 p{margin: 14px 20px 0 0px;text-align: left;}

form{display: inline-block;float: none!important;width: auto;max-width: 274px;}

.textinfo{text-align: center;height: auto;background-size: cover;}
.textinfo .item{margin: 20px 0;max-width: 270px;width: 90%;}
.textinfo p{font-size: 22px}

.textinfo2 .item{max-width: 265px;width: 85%;}

.textinfo3 .item{width: auto;max-width: 300px;margin: 20px 0px 20px 0px;}

.textinfo4{height: auto;background-size: cover;}

.textinfo5{text-align: center;}
.textinfo5 .item{display: inline-block;width: 98%;padding: 0;}
.textinfo5 .item p{width: auto;text-align: center;}

.info-block{padding: 20px;}
.info-block .text-info{width: auto;max-width:680px;text-align: left;}

.textinfo6{text-align: center;}
.textinfo6>.wrap{background: none;}
.textinfo6 .item{display: inline-block;width: 98%;}
.textinfo6 .item .r-text{width: auto;text-align: center;}

.results{height: auto;background-size: cover;}
.res-in{padding: 10px;}
.res-in .button{padding: 5px 10px;max-width: 340px;width: auto;}

.reviews{padding: 10px 0 20px 0;}
.reviews .item{text-align: center;margin: 0;}
.reviews .item .img{position: static !important;margin: 20px auto !important;}
.reviews .item h4 {font-size: 22px;}
.reviews .item blockquote{width: 98%;padding: 20px 1%;float: none !important;}

}
