html, body {margin:0; padding:0; color:#353535; font-family: 'PT Sans Narrow', Arial, Helvetica; font-size: 20px;}
body {background: #fff;}
.container {width:100%;}
h1, h2, h3 {font-weight: 700;text-transform: uppercase;}
h2{font-size: 29px;text-align: center;}
a {color:#e73430;}
img, a img {border:0;}
.wrap {width:940px; padding:0px 20px; margin:0 auto;}
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
.center{text-align: center;}
input[type="text"]{
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
button, .button {
	width: 100%;
	display:block;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
	font-size: 15px;
	font-weight: bold;
	margin:10px 0 0 0;
	border:none !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	line-height: 40px;
	text-align: center;
	text-indent: 0 !important;
	cursor:pointer;
  background:#3a926c;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
button:hover, .button:hover {background: #34dc93;}

form{margin: 0px 0 0 0;width:274px;border:0;position: relative;}
form span{font-family: Arial, Helvetica;font-size: 16px;display: inline-block; text-align: center;margin-bottom: 15px;font-weight: bold;}
form input, select {font-family: 'Arial Narrow', Arial, Helvetica;color:#cacaca; width:100%; line-height: 40px; height: 42px; border:1px solid #c8c8c8; border-radius:5px; margin:8px 0; text-indent:55px; font-size: 18px;}
form span>span{margin: 0;text-decoration: line-through;}
form input.name {background: #fff url(ico-name.png) no-repeat left 14px top 8px; margin-top: 0px;}
form input.address {background: #fff url(ico-deliv.png) no-repeat left 6px top 13px;}
form input.phone {background: #fff url(ico-phone.png) no-repeat left 12px top 9px;}
form .coupon {font-family: 'Arial Narrow', Arial, Helvetica;color: #3a926c;text-decoration: none;font-size: 18px;text-align: left !important;display: inline-block;margin: 0px 0 8px;border-bottom:1px dashed #3a926c;}

form input::-webkit-input-placeholder {color:#cacaca;font-family: 'Arial Narrow', Arial, Helvetica;} /* WebKit browsers */
form input:-moz-placeholder {color:#cacaca;font-family: 'Arial Narrow', Arial, Helvetica;} /* Mozilla Firefox 4 to 18 */
form input::-moz-placeholder {color:#cacaca;font-family: 'Arial Narrow', Arial, Helvetica;} /* Mozilla Firefox 19+ */
form input:-ms-input-placeholder {color:#cacaca;font-family: 'Arial Narrow', Arial, Helvetica;} /* Internet Explorer 10+ */

.time{display: inline-block;}
.county{width: 218px!important;}
.countdown .label{font-size: 15px;color:#c2c2c2;text-transform: uppercase;width: 70px;margin: 0;text-align: center;display: inline-block;}

.countdown-2{display: inline-block;}
.countdown-2 p {font-size: 18px;color: #3a926c;float: left;text-transform: uppercase;margin: 14px 20px 0 40px;}
.countdown-2 span {position: relative;color: #3a926c;float: left;display: inline-block;width: 66px;height: 65px;line-height: 66px;font-size: 55px;font-weight: bold;background: url(count.png) no-repeat center;text-align: center;}
.countdown-2 span:after {content: "";background: url(count-line.png) no-repeat left top;width: 66px;height: 8px;position: absolute;left: 0;top: 29px;}

.price{font-size: 24px;margin-bottom: 0;}
.price .old-price{text-decoration: line-through;}
.price .new-price{font-size: 34px;font-weight: 700;color: #3a926c;}

.nav-wrp{background-color: #212121;overflow: hidden;padding: 9px 0;}
.nav {list-style: none;margin: 0 0 0 -15px;padding: 0;}
.nav li{float: left;padding: 0 15px;border-right: 1px solid #404040;}
.nav li:last-child{border:none;}
.nav a{color: #fefefe;font-size: 14px;text-decoration: none;text-transform: uppercase;font-family:Arial, Helvetica}
.nav a:hover{color: #3a926c;}

header, footer {width:100%;height: 1018px;background: #f3f3f3 url(bg-main.jpg)no-repeat center;padding: 10px 0;}
header h1, footer h2{color:#e4251e;font-size: 48px;margin: 10px 0 8px 0;text-align: left;}
footer h2{font-size: 34px;}
header .head-top h3, footer .head-top h3{text-align: left;font-size: 29px;margin: 0;color: #363636;margin-bottom: 30px;}
.head-top{width: 640px;text-align: right;}
.head-top img{margin-bottom: 40px;}
.head-top span{color: #3a926c;font-style: italic;font-size: 22px;display:block;padding-left: 35px;background: url(tick.png)no-repeat left center;text-align: left;}
.form-wrp {border: 5px solid #c2c2c2;background: url(form-bg.png)left top;padding: 25px;margin:40px 0 0 0;}
.form-wrp h3{font-size: 34px;margin: 0 0 40px 0;line-height: 30px;}
.form-wrp h3 span{font-size: 24px;}
.count-wrp{width: 520px;padding: 15px;}

.textinfo{background: url(bg-1.jpg) no-repeat center;height: 260px;padding: 20px 0;}
.textinfo .item{text-align: left;display: inline-block;vertical-align: top;margin:30px 50px 30px 0;padding-left: 30px;background: url(x.png)no-repeat left 5px;}
.textinfo .item.last{margin-right: 0px;}
.textinfo p{color: #e4251e;font-size: 30px;font-weight: 700;text-align: center;margin: 20px 0;}
.textinfo p span{color: #353535;}

.textinfo2{background: #4bb185;padding: 10px 0;text-align: center;}
.textinfo2 h2{color: #fff;}
.textinfo2 .item{width: 265px;display: inline-block;vertical-align: top;margin:10px 25px 0px 20px;}
.textinfo2 .item.last{}
.textinfo2 .item p{color: #fff;}
.textinfo2 .wrap>p{color: #fff;padding: 10px 25px;border: 3px solid #fff;display: inline-block;}

.order{padding: 40px 0;}
.order .form-wrp {margin: 0;}

.textinfo3{text-align: center;padding: 0 0 30px 0;}
.textinfo3 .item{width: 270px;display: inline-block;vertical-align: top;margin:30px 20px 20px 20px;}
.textinfo3 .item.last{}
.textinfo3 .item p{font-size: 19px;}

.textinfo4{background: url(bg-2.jpg)no-repeat center;height: 680px;padding: 10px 0;text-align: center;}
.textinfo4 .item{margin: 50px 0 30px 20px;line-height: 23px;text-align: left;padding-left: 40px;background: url(tick-2.png)no-repeat left 5px;}
.textinfo4 .item h4{font-size: 25px;margin-bottom: 30px;}

.textinfo5{padding-bottom: 30px;}
.textinfo5 .item{padding: 10px;}
.textinfo5 .item img{vertical-align: middle;margin-right: 30px;}
.textinfo5 .item p{display: inline-block;vertical-align: middle;width: 760px;}
.info-block{border: 5px solid #c2c2c2;background: #ededed;margin: 50px 0;padding: 0px 20px;}
.info-block img{display: inline-block;vertical-align: middle;margin-right: 10px;}
.info-block .text-info{display: inline-block;vertical-align: middle;width: 680px;}
.info-block span{color: #3a926c;display: block;padding-left: 50px;background: url(ico-info.png)no-repeat left 5px;}

.textinfo6{background: #ededed;padding: 5px 0 0px 0;}
.textinfo6>.wrap{background:url(round.png)no-repeat 270px center;}
.textinfo6 .item{margin: 30px 0;}
.textinfo6 .item h5{font-size: 22px;margin: 5px 0 17px 0;}
.textinfo6 .item p{font-size: 18px;}
.textinfo6 .item img{vertical-align: top;margin-right: 25px;}
.textinfo6 .item .r-text{display: inline-block;vertical-align: top;width: 750px;}
.textinfo6 .green{background: #4bb185;padding: 20px 0;}
.textinfo6 .green .item h5, .textinfo6 .green .item p{color: #fff;}

.results{width:100%;height: 415px;background: url(pic-4.jpg)no-repeat center;padding: 5px 0;}
.res-in{text-align: center;border: 5px solid #3a926c;background: url(form-bg-2.png)left top;padding: 30px 30px 30px 70px;margin: 20px 0 0 0;}
.res-in ul{text-align: left;}
.res-in ul li{margin-bottom: 25px;}
.res-in .button{width: 340px;margin: 15px 0 0px 0;display: inline-block;}


.reviews{padding: 0 0 50px 0;}
.reviews h2{margin-bottom: 50px;text-align: center;}
.reviews .item {clear: both;width: 100%;margin: 35px 0;position: relative;}
.reviews .item .img{position: absolute;left: 0;top: 50%;margin-top: -80px;}
.reviews .item img {width: 160px;}
.reviews .item blockquote {width: 700px;padding: 20px 0;margin: 0;float: right;}
.reviews .item h4 {font-size: 25px;margin: 0;color: #000;}
.reviews .item p{font-size: 18px;color: #000;}
