body {
	font:14px sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(/template/img/dark_embroidery.png);
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.thumbs {
	width: 1296px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.thumbs img {
	width: 318px;
	height: auto;
	/*height: 100px;*/
	/*margin-bottom: 5px;*/
	border: 1px solid #999;
}
.thumbs img:hover {
	opacity: 0.5;
}

.thumbs .categories-list {
	background-color: #fff;
	padding: 2px;
	height: 33px;
	overflow: hidden;
}

.thumbs .categories-list a {
	color:#22262a;
	text-decoration: none;
}
.thumbs .categories-list a:hover {
	color:#717171;
}
.thumbs .category-name a {
	color: #fff;
}
.thumbs .category-name a:hover {
	color: #ccc;
}
.thumbs .categories-list span {
	background:url(/template/img/ico_tags.png) no-repeat 0 2px;
	display: inline-block;
	width: 18px;
	height: 14px;
	margin-right: 5px;
}
.thumbs .category-name a {
	text-transform: uppercase;
}
.thumbs .item {
	position: relative;
	float: left;
	width: 320px;
	margin: 2px;
	height: 280px;
	overflow: hidden;
}
.thumbs .opacity {
	background:rgba(232, 239, 242, 0.6);
	position: absolute;
	top: 3px;
	left: 3px;
}
.thumbs .views {
	background: url(/template/img/ico-view.png) no-repeat 10px 10px;
	padding: 8px 10px 5px 34px;
	height: 21px;
}
.thumbs .videos {
	padding: 8px 10px 5px 10px;
	height: 21px;
}
.header {
	background-color: #000;
	height: 85px;
	opacity: 0.9;
	margin-bottom: 10px;
	overflow: hidden;
}
.header .menu {
	margin: 20px 40px 0 0;
	float: right;
}
.header .menu a {
	padding:13px 17px;
	color:#000;
	display:inline-block;
	background:#8c8478;
	text-decoration: none;
	margin: 0;
}
.header .menu a:hover {
	background:#e32d00;
	color: #fff;
}
.header .text {
	float: left;
	width: 700px;
	height: 80px;
	overflow: hidden;
	text-align: center;
	margin-top: 3px;
}
.header .text p {
	padding: 0;
	margin: 7px;
}
.header .logo {
	float: left;
	width: 330px;
	overflow: hidden;
	margin: 20px 30px 0 10px;
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}
.header .logo .p {
	color: #eba824;
}
.header .logo a {
	text-decoration: none;
	color: #fff;
}
.footer {
	background-color: #000;
	height: 85px;
}
.footer .counter {
	float: right;
	margin: 20px 20px 0 0;
}
.footer .text {
	float: left;
	margin: 30px 0 0 10px;
	color: #ddd;
	/*width: 990px;*/
}
.footer .logo {
	float: left;
	width: 200px;
	overflow: hidden;
	margin: 23px 30px 0 10px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}
.footer .logo .p {
	color: #eba824;
}
.categories {
	background:#23272b url(/template/img/bg_cols.jpg);
	-moz-column-count: 6;
	-moz-column-gap: 10px;
	-webkit-column-count: 6;
	-webkit-column-gap: 10px;
	column-count: 6;
	column-gap: 10px;
	padding: 20px 0 20px 50px;
	margin: 0;
	margin-bottom: 15px;
}
.categories li {
	margin: 6px 0;
}
.categories a {
	color: #fff;
	text-decoration: none;
}
.categories a:hover {
	color: #e32d00;
}
h2 {
	margin: 0 auto 10px auto;
	color:#ccc;
	padding:0;
	text-transform:uppercase;
	font:14px sans-serif;
	display: block;
	width: 1294px;
	text-align: left;

}
.player-wrapper {
	width: 1292px;
	margin: 0 auto 20px auto;
}
.player-wrapper .player {
	/*width: 980px;*/
	float: left;
}
.player-wrapper .player iframe {
	width: 800px;
	height: 651px;
	min-height: 600px;
}
.player-wrapper .info {
	background:#1f2327 url(/template/img/bg_cols.jpg);
	padding: 10px;
	/*width: 780px;*/
	color:#ede5d9;
	font:13px sans-serif;
	clear: both;
	max-width: 680px;
}
.player-wrapper .info a {
	color:#8c8478;
	text-decoration: none;
}
.player-wrapper .info a:hover {
	color:#e32d00;
}
.v_player {
	float: left;
	width: 360px;
	margin-left: 50px; 
	height: 400px; 
	overflow: hidden;
}
.pages {
	margin-left: 200px;
}
.pages li {
	float: left;
	margin-right: 1px;
}
.pages li a,.pages .points,.pages .active {
	height:29px;
	color:#1c1e20;
	font:14px/29px sans-serif;
	padding:0 13px;
	display:block;
	background:#8c8478;
	text-decoration: none;
}
.pages .points {
	background:none;
}
.pages li a:hover,.pages .active {
	background:#e32d00;
	color:#fff;
}
.wrapper {
	min-width: 1320px;
}
.text-block {
	background:rgba(232, 239, 242, 0.6);
	/*background-color: #8c8478;*/
	/*background: rgba(156, 139, 113, 0.43);*/
	/*color: #000;*/
	/*opacity: 0.6;*/
	padding: 10px;
	width: 1270px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.player .player_xv iframe {
	width: 800px;
	height: 610px;
	min-height: 610px;
}