.block {border: 1px solid black; padding: 3px; clear: both;}
.action {margin: 10px; padding: 10px; border: 1px dotted #ccc; font-family: Verdana;}

#describes ul {font-family: Verdana; font-size: 10px; list-style-type: none; margin: 0; padding: 0;}
#describes li {float: left; overflow: hidden; width: 210px; height: 210px; margin: 10px 10px; padding: 0; border: 1px dotted #ccc; text-align: center;}
#describes textarea.title {width: 190px; height: 50px; border: 1px dotted #666; overflow: hidden; margin: 2px auto; padding: 0;}
#describes textarea.describe {width: 190px; height: 120px; border: 1px dotted #666; overflow: scroll; margin: 0 auto; padding: 0;}
#describes p {display: block; width: 190px; margin: 0; padding: 2px 0; margin: 0 auto;}
#describes input[type="submit"] {width: 120px; height: 20px; border: 2px solid #ccc; background: pink; text-align: center; font-size: 16px; font-weight: bold; margin-left: 5px;}

#domain_list {margin: 10px 0 0 10px;};

.headers {width: 100%;}
.headers ul {padding: 0; margin: 0; list-style-type: none;}
.headers li {width: 370px; height: 90px; overflow: hidden; float: left; font-size: 5px;}

#logs td {margin: 0; padding: 2px; background: #fff;}

#translate, #translate input[type="text"], #translate textarea {font-family: "Verdana"; font-size: 12px;}
#translate table {background-color: #eee; margin: 5px; float: left; width: 600px;}
#translate p {display: block; padding: 0; margin: 0; padding-bottom: 5px;}
#translate input[type="text"] {border: 1px solid #ccc; width: 400px; height: 20px;}
#translate textarea {border: 1px solid #ccc; width: 400px; height: 50px; padding: 0; margin: 5px 0;}
#translate img {border: 0px; margin: 0; padding: 0; width: 160px; height: 120px;}
#translate input[type="submit"] {margin: 10px 0 0 10px; width: 100px;}
#translate table td {border: 1px groove #666; padding: 3px;}
/*
#translate #ImagePlaceHolder {width: 200px; height: 150px; background-color: #000;}

*/

hr {
	color: #fff;
	clear:both;
	margin: 0px;
	padding: 0px;
	background: #fff;
	height: 1px;
	border: 0;
}

.desc {list-style-type: none; display: block; width: 100%;}
.desc li {float: left; width: 600px; height: 220px; overflow: hidden; margin: 10px; padding: 0;}
.desc table td {border: none;}
