/* ::::: http://autoskaner2.tvoi-mag.org/css/style.css ::::: */

html, body { margin: 0px; padding: 0px; height: 100%; font-family: Arial; background: transparent url('i.png') repeat scroll 50% 0px; }
#center { width: 1000px; margin: 0px auto; position: relative; }
#centera { width: 990px; margin: 0px auto; position: relative; }
#head { background: transparent url('top.jpg') no-repeat scroll 50% 0px; width: 100%; height: 590px; }
#logo { background: transparent url('logo.png') repeat scroll 50% 0px; width: 100%; height: 72px; position: fixed; z-index: 950; }
#pred { background: transparent url('pred.png') no-repeat scroll 50% 0px; width: 100%; height: 452px; margin-top: -120px; }
#kak { background: transparent url('kak.jpg') no-repeat scroll 50% 0px; width: 100%; height: 364px; }
#bolee { background: transparent url('bolee.jpg') no-repeat scroll 50% 0px; width: 100%; height: 564px; }
#who { background: transparent url('who.jpg') no-repeat scroll 50% 0px; width: 100%; height: 393px; margin-top: -20px; }
#nan { background: transparent url('nan.jpg') no-repeat scroll 50% 0px; width: 100%; height: 505px; margin-top: 40px; }
#buy { background: transparent url('buy.png') no-repeat scroll 50% 0px; width: 909px; height: 514px; margin: 0px auto; position: relative; z-index: 888; }
#up { background: transparent url('up.jpg') no-repeat scroll 50% 0px; width: 100%; height: 637px; margin: 0px auto; position: relative; }
#form { width: 320px; position: absolute; right: 100px; top: 300px; }
#country { box-sizing: content-box; }
#in2, #country { width: 300px; border: 0px none; height: 35px; padding-left: 7px; border-radius: 5px; font-size: 24px; font-family: Arial; margin-top: 22px; }
#in3 { width: 300px; border: 0px none; height: 35px; padding-left: 7px; border-radius: 5px; font-size: 24px; font-family: Arial; margin-top: 22px; }
#com5 { width: 300px; border: 0px none; height: 35px; padding-left: 7px; border-radius: 5px; font-size: 24px; font-family: Arial; margin-top: 22px; }
#bb { margin-top: 15px; margin-left: 30px; }
#bb:hover { opacity: 0.6; }
#ot { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 900px; border-radius: 10px; box-shadow: 1px 0px 2px rgb(192, 192, 192); margin: 0px auto; }
#pic { width: 100px; height: 100px; border-radius: 50px; overflow: hidden; }
#onm { color: rgb(30, 78, 106); font-size: 19px; }
#otm { color: rgb(0, 0, 0); padding-left: 10px; border-left: 9px solid rgb(30, 78, 106); margin: 10px 0px; }
#obm { float: right; color: rgb(192, 192, 192); font-size: 16px; margin-right: 50px; }
/* ::::: http://autoskaner2.tvoi-mag.org/css/styles.css ::::: */

* { margin: 0px; padding: 0px; }
a, a:visited { text-decoration: none; outline: medium none; color: rgb(84, 166, 222); }
a:hover { text-decoration: underline; }
section, footer { display: block; }
/* ::::: http://autoskaner2.tvoi-mag.org/css/jquery.countdown.css ::::: */

.countdownHolder { width: 450px; margin: 0px auto; font: 40px/1.5 "Open Sans Condensed",sans-serif; text-align: center; letter-spacing: -3px; }
.position { display: inline-block; height: 1.6em; overflow: hidden; position: relative; width: 1.05em; }
.digit { position: absolute; display: block; width: 1em; background-color: rgb(68, 68, 68); border-radius: 0.2em; text-align: center; color: rgb(255, 255, 255); text-shadow: 1px 1px 0px rgb(126, 126, 126); letter-spacing: -1px; }
.digit.static { box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.35); background-image: -moz-linear-gradient(center bottom , rgb(255, 153, 0) 50%, rgb(255, 177, 40) 50%); }
.countDays {  }
.countDiv0 {  }
.countHours {  }
.countDiv1 {  }
.countMinutes {  }
.countDiv2 {  }
.countSeconds {  }
.countDiv { display: inline-block; width: 16px; height: 1.6em; position: relative; }
.countDiv::before, .countDiv::after { position: absolute; width: 5px; height: 5px; background-color: rgb(255, 198, 0); border-radius: 50%; left: 50%; margin-left: -3px; top: 0.5em; box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5); content: ""; }
.countDiv::after { top: 0.9em; }
/* ::::: http://autoskaner2.tvoi-mag.org/css/jquery.fancybox.css ::::: */

/* ::::: http://autoskaner2.tvoi-mag.org/css/lightbox.css ::::: */

body::after { content: url('close.png') url('loading.gif') url('prev.png') url('next.png'); display: none; }
.lightboxOverlay { position: absolute; top: 0px; left: 0px; z-index: 9999; background-color: black; opacity: 0.8; display: none; }
.lightbox { position: absolute; left: 0px; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; }
.lightbox .lb-image { display: block; height: auto; max-width: inherit; border-radius: 3px; }
.lb-outerContainer { position: relative; background-color: white; width: 250px; height: 250px; margin: 0px auto; border-radius: 4px; }
.lb-outerContainer::after { content: ""; display: table; clear: both; }
.lb-container { padding: 4px; }
.lb-loader { position: absolute; top: 43%; left: 0px; height: 25%; width: 100%; text-align: center; line-height: 0; }
.lb-cancel { display: block; width: 32px; height: 32px; margin: 0px auto; background: transparent url('loading.gif') no-repeat scroll 0% 0%; }
.lb-nav { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 10; }
.lb-nav a { outline: medium none; background-image: url('undefined'); }
.lb-prev, .lb-next { height: 100%; cursor: pointer; display: block; }
.lb-nav a.lb-prev { width: 34%; left: 0px; float: left; background: transparent url('prev.png') no-repeat scroll left 48%; opacity: 0; transition: opacity 0.6s ease 0s; }
.lb-nav a.lb-prev:hover { opacity: 1; }
.lb-nav a.lb-next { width: 64%; right: 0px; float: right; background: transparent url('next.png') no-repeat scroll right 48%; opacity: 0; transition: opacity 0.6s ease 0s; }
.lb-nav a.lb-next:hover { opacity: 1; }
.lb-dataContainer { margin: 0px auto; padding-top: 5px; width: 100%; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.lb-dataContainer::after { content: ""; display: table; clear: both; }
.lb-data { padding: 0px 4px; color: rgb(204, 204, 204); }
.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }
.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }
.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: rgb(153, 153, 153); }
.lb-data .lb-close { display: block; float: right; width: 30px; height: 30px; background: transparent url('close.png') no-repeat scroll right top; text-align: right; outline: medium none; opacity: 0.7; transition: opacity 0.2s ease 0s; }
.lb-data .lb-close:hover { cursor: pointer; opacity: 1; }
#video { background: transparent url('video.png') no-repeat scroll 50% 0px; height: 601px; width: 100%; position: relative; margin: 0px auto; }
#diag { background: transparent url('diag.jpg') no-repeat scroll 50% 0px; height: 491px; width: 100%; position: relative; margin: 0px auto; top: 0px; z-index: 505; }
#parent_popup { background: transparent url('fancybox_overlay.png') repeat scroll 0% 0%; display: none; position: fixed; z-index: 99999; top: 0px; right: 0px; bottom: 0px; left: 0px; }
#popup { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 520px; margin: 10% auto; position: relative; }
.close { background: transparent url('fancybox_sprite.png') repeat scroll 0% 0%; height: 36px; line-height: 24px; position: absolute; right: -44px; cursor: pointer; text-align: center; text-decoration: none; top: -24px; width: 36px; }
#bty:hover { opacity: 0.9; }
#inlinez { display: none; width: 558px; }
#inlineza { display: none; width: 458px; }
#inlinezaz { display: none; width: 458px; }
#form2 { width: 320px; top: 0px; background: transparent url('tot.png') repeat scroll 0% 0%; margin-left: 50px; padding: 15px; border-radius: 15px; }
/* ::::: http://autoskaner2.tvoi-mag.org/css/modal.css ::::: */

* { outline: medium none; }
.padding { padding: 10px; }
.loader, .modal { background-image: url('undefined'); background-repeat: repeat; width: 100%; height: 100%; position: fixed; display: none; left: 0px; top: 0px; }
.modal { z-index: 200001; overflow: auto; font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(0, 0, 0); text-align: justify; }
.modal-block { position: relative; width: 600px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35); border: 1px solid rgb(58, 135, 173); }
.modal-block .icon-close { position: absolute; right: 0px; margin: 15px 20px; z-index: 1000; }
.modal-block .title { background: rgb(77, 131, 192) none repeat scroll 0% 0%; text-align: center; line-height: 50px; text-shadow: 1px 1px 0px rgb(58, 135, 173); border-bottom: 1px solid rgb(58, 135, 173); padding: 0px 100px; font-size: 18px; color: rgb(255, 255, 255); }
.icon-close { background: transparent url('undefined') no-repeat scroll 0px 0px; width: 20px; height: 19px; cursor: pointer; }
.icon-close:hover { background-position: 0px -19px; }
.modal p { font-weight: normal; width: auto; }
.modal .content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: auto; overflow: hidden; margin: 0px; box-shadow: none; }
@media screen and (max-width: 540px) {
	.modal-block { width: 380px; }
	.modal-block .title { padding: 0px 50px; line-height: 39px; }
}
@media screen and (max-width: 405px) {
	.modal-block { width: 300px; }
	.modal-block .title { padding: 0px; }
}
@media screen and (max-width: 980px) {
}
#kmacb-form .modal-block { border: medium none; box-shadow: none; font-family: Arial; border-radius: 10px; overflow: hidden; color: rgb(34, 34, 34); line-height: 1.5 ! important; width: 570px; }
#kmacb-form .modal-block .title { background: transparent none repeat scroll 0% 0%; text-shadow: none; color: rgb(34, 34, 34); font-weight: bold; font-size: 22px; border-bottom: medium none; text-transform: none; }
#kmacb-form .modal-block .icon-close { margin: 20px; background-image: url('undefined'); }
#kmacb-form .modal-block .padding { padding: 20px 40px 40px; }
#kmacb-form .modal-block p { font-size: 16px; text-align: left; line-height: 1.5; }
#kmacb-form .modal-block .bold { font-weight: bold; }
#kmacb-form form { margin: 10px 0px; text-align: center; width: 100%; height: auto; background: transparent none repeat scroll 0% 0%; position: static; padding: 0px; border: medium none; }
#kmacb-form form input[type="text"] { height: 36px; line-height: 36px; color: rgb(34, 34, 34); border: 1px solid rgb(170, 170, 170); padding: 0px 10px; width: 200px; display: inline-block; text-indent: 0px; margin-bottom: 10px; border-radius: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 14px; font-style: normal; box-shadow: none; }
#kmacb-form form *::-moz-placeholder { color: rgb(136, 136, 136); }
#kmacb-form form :-moz-placeholder { color: rgb(136, 136, 136); }
#kmacb-form form input[name="name"] { padding-right: 10px; }
#kmacb-form form input[type="submit"] { position: static; cursor: pointer; border: medium none; background: rgb(196, 25, 28) none repeat scroll 0% 0%; padding: 0px 10px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 38px; height: 38px; vertical-align: top; margin: 0px; display: inline-block; text-indent: 0px; text-align: center ! important; border-radius: 3px; font-style: normal; font-size: 14px; font-family: Arial,Helvetica,sans-serif; width: auto; opacity: 1; }
#kmacb-form form input[type="submit"]:hover { background: rgb(221, 7, 11) none repeat scroll 0% 0%; text-decoration: none; }
